[2015-07-19 09:46] sils1297 commented on #813
can we discuss on gitter?

2015-07-19 11:42 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-19 09:53] sils1297 commented on #813
I'm creating a rultor-python docker image in this repository:
https://github.com/coala-analyzer/rultor-python . I'll set up a docker hub
account for coala so it'll autobuild from this repository and we'll want to
create a dockerfile, that's way better maintainable. I'll help you with
that, it's really easy.

2015-07-19 11:46 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-07-19 09:59] sils1297 commented on #813
here's the build: https://registry.hub.docker.com/u/coala/rultor-python/
although it'll fail because there's no dockerfile.

2015-07-19 11:53 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-07-19 10:11] sils1297 commented on #824
at least I tried `collect_dirs("/some/absolute/path")` and got pretty weird resuilts, I may try reproducing later in a more organized way...

[2015-07-19 10:35] #648 closed

[2015-07-19 15:08] #764 closed

[2015-07-19 15:08] #767 closed

[2015-07-19 15:08] #822 closed

[2015-07-19 18:15] sils1297 opened #830 "JSON: make it async"
so on long term it would be nice if the JSON output would output log messages in realtime :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24607514-json-make-it-async?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campa

[2015-07-19 18:18] AbdealiJK commented on #830
Hmm, could you elaborate on real time ?

What can be done is send packets of json every X seconds or with every 100
results ... but I dont see how you can send half a json object

On Sun, Jul 19, 2015 at 11:45 PM, Lasse Schuirmann <notifications@github.com

[2015-07-19 18:24] sils1297 commented on #830
I can think of just flushing out the initial `{"logs": [`, then flushing out log messages as soon as they arrive (locked so one at a time with no overlaps of course) and then the rest (results and so on) in the end

[2015-07-19 18:27] AbdealiJK commented on #830
I see ... this is very complicated because we then need to write a custom
method to print jsons ... and cant use json.dumps

I think the better way for something like this is how pylint prints
messages. Make a "format-string" and keep printing output as and when it
comes (without any user input)

On Sun, Jul 19, 2015 at 11:54 PM, Lasse Schuirmann <notifications@github.com

[2015-07-19 18:29] #830 closed

[2015-07-19 18:29] sils1297 commented on #830
thats a good idea

[2015-07-19 18:33] sils1297 opened #831 "add format-string"
hey, would be pretty cool to let the user enter a format string and we just print out all results formatted with that string. Would be really easy actually:

`coala --format="{file}|{message}|{debug_data}"` and we could just write a `print_results` callback like:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24608081-add-fo

[2015-07-19 18:34] sils1297 commented on #831
but before we're doing that we'll want to minify our main methods ;)

[2015-07-19 19:16] sils1297 opened #833 "Printers: remove returns"
they make things complicated and tests hacky, use retrieve_stdout instead.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24609287-printers-remove-returns?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2015-07-20 01:02] Makman2 commented on #781
- `CountVector`
that's all :O

[2015-07-20 05:01] AbdealiJK opened #837 "Use setuptools-version-command in rultor"
So, apparently, there is a better way of doing the whole version thing.

https://pypi.python.org/pypi/setuptools-version-command/2.1a1

It uses `git describe` to fetch the version from the closest tag.
As the rultor script merges the git locally before executing, the tag will get updated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-07-20 05:07] AbdealiJK commented on #68
So, apparently it's really bad if we install man page along with `pip` and setuptools. It's highly unrecommended - because then you can't use the package in a virtualenv easily.

So, it is recommended to add the manpage as a data_file and use the distribution's package manager to install manpages to the correct directory.
I think this is a valid point not to do this

[2015-07-20 05:20] AbdealiJK opened #838 "setuptools: Use setuptools.find_packages"
Use `setuptools.find_packages(".", exclude=["*.tests.*", "*.tests"])` in stead of listing all modules in setup.py

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24628475-setuptools-use-setuptools-find_packages?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-07-20 08:39] AbdealiJK opened #839 "readthedocs in google doesnt show a good summary"
Not sure how to fix this per se ...

But when I search for "coala rtfd" on google, I get a very bad summary (It shows the ascii art as the summary ...)

![capture](https://cloud.githubusercontent.com/assets/2200743/8772322/dd95d626-2ee8-11e5-9da4-64b804764ebd.PNG)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24635660-readthedocs-i

[2015-07-20 09:05] AbdealiJK commented on #839
The folks at readthedocs suggested adding metadata. This is how it should be done in markdown:

http://pythonhosted.org/Markdown/extensions/meta_data.html

[2015-07-20 09:08] AbdealiJK commented on #831
This is actually not blocked by reducing the main methods - because we'd define this in `Interactions.py` and just use it in the main method.

Question is how do we do this ? Do we make another `coala-format` executable ? because I notice that the number of executables is increasing pretty fast ...

[2015-07-20 09:20] sils1297 commented on #781
@Makman2 please wait with the Count Vector, otherwise people could say others helped me writing the code for my thesis.

[2015-07-20 09:32] #813 closed

[2015-07-20 09:33] sils1297 commented on #831
@AbdealiJK agreed, IMO it's nice to have so many executables, I also thought about making something similar like git: the `git` executable simply takes `git <subcommand>` and invokes the `git-subcommand` executable :)

OTOH I can see how JSON and formatted output and maybe even coala-ci belong into the coala cli so we might consider adding params for that.

[2015-07-20 09:38] sils1297 commented on #839
for me the first result shows our summary text actually. But adding metadata sounds good and easy to do.

[2015-07-20 09:38] sils1297 commented on #838
aaaah that sounds good

[2015-07-20 09:42] sils1297 commented on #837
I'm not fully bought on this, what are the advantages? I like the system we now have with rultor doing the version change automatically.

[2015-07-20 09:43] AbdealiJK commented on #837
Currently, we've basically implemented exactly what the package does - I
thought it'd be better to use a package meant to do this

On Mon, Jul 20, 2015 at 3:12 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-07-20 09:49] sils1297 commented on #837
what we have is a bit more flexible IMO because it checks for a valid version jump and allows us to not use tags. E.g. what we have on master is a development version from 0.1.1 alpha, `git describe` will however give you the 0.1.0 alpha tag because 0.1.1 was a bugfix release which had cherry picked important fix commits.

[2015-07-20 09:50] AbdealiJK commented on #837
True. closing this.

[2015-07-20 09:50] #837 closed

[2015-07-20 09:52] sils1297 commented on #68
that makes me sad :( I had a dream... a dream in which coala has a man page... a dream in which every python program has an autogenerated manpage. Well...

[2015-07-20 09:53] AbdealiJK commented on #68
This issue is not yet complete.

I still need to make it work with `python setup.py install`

[2015-07-20 09:58] AbdealiJK commented on #68
Hey, so ... I have slight issues with making it work with `python setup.py install`
To make it install with `setup.py install` I need to do this:
[code]

This makes the `coala.1` file when I run `python setup.py install`. But now to move it to the installation path - i need to add to `package_data`. But it checks if the file exists before the `run` is called.

So, we have 2 options:
 - Make an emp

[2015-07-20 10:06] AbdealiJK commented on #68
Nevermind. I can fix this by using `data_files` rather than `package_data`

[2015-07-20 10:21] AbdealiJK opened #841 "Error message since zanata generated last"
[code]

from ~450:
[code]

It seems to be valid.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24640073-error-message-since-zanata-generated-last?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2015-07-20 10:32] sils1297 commented on #841
wait, does that command fail?

[2015-07-20 10:34] sils1297 commented on #841
@AbdealiJK I corrected the translation in zanata, can you use the zanata pull script, try again and make a translation PR?

[2015-07-20 10:35] AbdealiJK commented on #841
No, it does not fail - it must be a warning - this happens in tests ... and the translation tests do work without errors at the moment

[2015-07-20 12:53] AbdealiJK opened #842 "ConsolePrinter: doesnt test COMPLEX_TEST_STRING"
There is no test with `COMPLEX_TEST_STRING` and ConsolePrinter. THis is bad because apparently `print` of COMPLEX_TEST_STRING doesnt work on windows.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24646011-consoleprinter-doesnt-test-complex_test_string?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=gi

[2015-07-20 12:55] AbdealiJK commented on #833
I'm using a variable to save the results because LogPrinter shouldn't need to test the stdout mechanisms of terminals (We found that apparently windows has some problem with printing COMPLEX_TEST_STRING)

ConsolePrinter should be looking at such things. Filed a bug for that at https://github.com/coala-analyzer/coala/issues/842

[2015-07-20 13:40] AbdealiJK commented on #839
Out of curiosity: What did you search for ?

searching for `coala` gives the git repository which shows the summary correct

searching for `coala rtfd` shows the readthedocs page showing the ascii art

[2015-07-20 13:44] Makman2 commented on #842
Imo the solution would be to encode the string manually with using the `errors="ignore"` parameter.

[2015-07-20 14:20] Makman2 opened #843 "LogPrinter: Document functions"
This is really necessary because of the different log types and mechanisms (like `log_message` vs `log` etc)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24650170-logprinter-document-functions?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2015-07-20 15:43] #807 closed

[2015-07-20 15:43] #841 closed

[2015-07-20 15:43] #833 closed

[2015-07-20 22:04] sils1297 opened #846 "coala-json: Print json output to file"
usually wanted for data analysis.

[2015-07-20 22:04] sils1297 opened #847 "coala-json: Log messages to console"
it's nice to see there's progress, easy way would be using consoleprinter for logging or at least offer that to the user

[2015-07-20 22:06] sils1297 commented on #847
I hacked that in because I needed it: https://gist.github.com/sils1297/95be94393478b03a4f43

but it's not really clean...

[2015-07-20 22:06] sils1297 commented on #846
I hacked that in because I needed it: https://gist.github.com/sils1297/95be94393478b03a4f43

but it's not really clean...

[2015-07-21 00:32] Makman2 opened #848 "testing with translation fails"
Since I installed coala under Windows using gettext (so it installs also translations), Some tests go completely insane:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24679617-testing-with-translation-under-windows-fails?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounti

[2015-07-21 00:33] Makman2 commented on #848
What I already found:
`ConsoleInteractionTest.py`:416
Missing translation of "(Optional, defaults to 'None')"

[2015-07-21 00:38] sils1297 commented on #848
@Makman2 well a missing translation shouldn't hurt, the tests should use the translated string too

[2015-07-21 00:39] sils1297 commented on #848
@Makman2 interesting however how this stupid console can't show umlauts...

[2015-07-21 01:15] sils1297 opened #849 "travis: add german build"
we should be building against a localized environment. German is the most translated stuff in coala so we probably want a build node on travis which has `LANG=de_DE.UTF8` exported.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24681224-travis-add-german-build?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_s

[2015-07-21 01:15] sils1297 commented on #849
depends on https://github.com/coala-analyzer/coala/issues/848

[2015-07-21 01:15] sils1297 commented on #848
this is not windows specific

[2015-07-21 01:18] sils1297 opened #850 "rultor: check for duplicate translations"
from gitter conversation:
"probably we want to search the POT file, get all strings to translate, strip whitespace off and search for duplicates or so"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24681332-rultor-check-for-duplicate-translations?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)

[2015-07-21 01:29] Makman2 opened #851 "Windows: coala does not like paths with spaces"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24681658-windows-coala-does-not-like-paths-with-spaces?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&

[2015-07-21 02:26] Makman2 commented on #851
the problem is that coala unescapes the backslashes using the StringConverter module. For cli arguments this is not intended^^

[2015-07-21 04:11] AbdealiJK commented on #849
Seems to be working in travis - https://travis-ci.org/coala-analyzer/coala/builds/71871803

But to make sure, you'd want to print `python -c "import locale; print(locale.getdefaultlocale()"` to be sure

[2015-07-21 08:17] sils1297 commented on #849
@AbdealiJK I'm convinced https://travis-ci.org/coala-analyzer/coala/builds/71871803 doesn't work as intended, german build fails for me locally

[2015-07-21 08:20] #68 closed

[2015-07-21 08:20] #738 closed

[2015-07-21 08:20] #838 closed

[2015-07-21 08:20] #839 closed

[2015-07-21 09:11] AbdealiJK commented on #850
There's a bug on zanata about this already https://bugzilla.redhat.com/show_bug.cgi?id=1225236

[2015-07-21 09:12] AbdealiJK commented on #846
This is very easy in all platforms.
`coala-json > file.json`

[2015-07-21 09:14] AbdealiJK commented on #805
Fixed in https://github.com/coala-analyzer/coala/commit/66956d3c7468acdff543c8b63b330f2988d14b0e

[2015-07-21 09:14] #805 closed

[2015-07-21 09:53] sils1297 commented on #846
indeed but it fails when you want to have log messages on the  console and
only json to file :)

2015-07-21 11:12 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-21 10:05] sils1297 commented on #850
@AbdealiJK they want to merge translations, we want to fail  rultor because we think we shouldn't do that stuff in the first place

[2015-07-21 13:25] Makman2 opened #853 "Terminal colors not disabled in Windows"
Windows displays the escape sequences in the terminal, but we want to turn them off (for now).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24708364-terminal-colors-not-disabled-in-windows?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2015-07-21 13:30] Makman2 commented on #851
Anyway we need to discuss how we parse cli-arguments. Since Linux performs escaping on it's own and others maybe not, we should be careful.
@sils1297 what do you think?

[2015-07-21 13:30] sils1297 commented on #853
and I thought we turned them off...

2015-07-21 15:25 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-21 13:45] Makman2 commented on #851
Okay the problem was inproper escaping that occured also from #848.

[2015-07-21 13:45] #851 closed

[2015-07-21 15:18] #848 closed

[2015-07-21 15:18] #853 closed

[2015-07-21 23:24] Makman2 opened #858 "Implement a nice non-duplicating way of using __repr__"
The problem is that we need to implement for every class the nearly same `__repr__` pattern, we should avoid that (because we need to write more and to test more):

Impossible solutions:
- Using a function generator and assign to `__repr__`:
[code]
  Binding a function to a class is not that easy, so no solution.

- Use a function that just returns the repr string and call that every time:
[code]

[2015-07-22 00:39] AbdealiJK commented on #811
Fixed in https://github.com/coala-analyzer/coala/pull/854

[2015-07-22 00:39] #811 closed

[2015-07-22 02:46] AbdealiJK opened #859 "Add --find-config"
Add the parameter --find-config which can find the config file (.coafile) by going up the parents until it finds one for the project.

Allows users to run coala from anywhere in the project

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24745429-add-find-config?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_

[2015-07-22 21:56] Makman2 opened #862 "StringPrinter"
The `StringPrinter` would just print to a string.
This would simplify testing existing functions that use printers because the test-writer doesn't need to implement every time a simple printer that prints to a string so he can assert for results.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24794242-stringprinter?utm_campaign=plug

[2015-07-22 21:57] sils1297 commented on #862
That sounds awesome!

2015-07-22 23:56 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-22 21:57] Makman2 opened #863 "Turn LogPrinter into an adapter"
Means the user does not need to derive from `LogPrinter` to use logging capatabilities, he just needs to pass the printer the LogPrinter shall work on top.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24794277-turn-logprinter-into-an-adapter?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** W

[2015-07-22 21:59] sils1297 commented on #863
Sounds good, example usage?

2015-07-22 23:57 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-22 22:02] Makman2 commented on #863
[code]

[2015-07-22 22:04] sils1297 commented on #863
maybe the class should just be a `Log`? This is more objecty...

2015-07-23 0:02 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-22 22:08] Makman2 commented on #863
Possible, but imo a `Log` wouldn't derive from a printer, so I think `LogPrinter` is a better name.
A `Log` would give you access to all logged messages in my opinion, since it holds a log.

[2015-07-22 22:23] Makman2 opened #864 "Implement a Log class"
A Log class is a simple list of log entries where logging functions are wrapped around.

We can just rename the `ListLogPrinter` to `Log` and modify it a bit.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24795521-implement-a-log-class?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accep

[2015-07-24 12:00] #859 closed

[2015-07-24 12:50] AbdealiJK opened #866 "No error if config file not found"
The exitvalue of coala in the case of "config file not found" is 0.

[code]

If this is intended behaviour, I think this is unusual. Because if I do `coala-ci`, it would return 0 => It assumes no problems found in the file while it never actually did anything.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24885684-no-error-if-confi

[2015-07-24 13:04] sils1297 commented on #866
well it's a warning, no erro

2015-07-24 14:50 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-24 13:05] AbdealiJK commented on #866
Yes, I know - but that's bad in `coala-ci` - where it wouldnt have analyzed the project as expected, and there would be no info given to the user that the config file was not being used

[2015-07-24 13:06] AbdealiJK commented on #866
PS : I was just using `coala-ci --find-config` and it took me about 10 mins to realize that it wasnt finding any config file

[2015-07-24 13:13] sils1297 commented on #866
IMO we should be consistent, either it's an error and it fails or it's a
warning and coala continues.

2015-07-24 15:06 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-24 13:15] AbdealiJK commented on #866
Yes, i agree consistency is better.
So, I prefer throwing an error everywhere :)

[2015-07-24 13:18] sils1297 commented on #866
ok so f we make it an error the user either needs to have a config or needs
to set the `--save` flag. Do we want that?

2015-07-24 15:15 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-24 13:20] AbdealiJK commented on #866
`--save` is not helpful in the `ci` scenario.

Maybe we can have a cmd line arg which tells which log-level should be considered as an "error" for the exitcode

[2015-07-24 13:23] sils1297 commented on #866
well save is not really *relevant* in the ci scenario.

I'm not sure if we want to make it that complicated with another cli arg...

2015-07-24 15:20 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-07-24 14:10] sils1297 opened #867 "Clone Decection: Make variable/constatn/function a property of the CVs"

[2015-07-24 14:35] Makman2 opened #868 "Sort imports alphabetically"
Some files have many imports, and I think structurizing them makes them better readable.
We could write a simple bear for this. This bear would just regex for import statements and would order them^^
This bear would just be prototype, when we implement a complete AST for python files we would improve the bear with it obviously.

[2015-07-24 14:40] sils1297 commented on #868
sounds good and easy, alphabetically?

2015-07-24 16:35 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-24 14:44] Makman2 commented on #868
i.e.
[code]
system imports and coala imports will be separated.

[2015-07-24 14:47] sils1297 commented on #868
yes

2015-07-24 16:44 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-25 19:41] #260 closed

[2015-07-25 19:41] #862 closed

[2015-07-25 21:03] sils1297 opened #871 "BearRunning: Handle KeyboardInterrupt and OSError"
we should do a `pass` on such exceptions in BearRunning and show no tracebacks. They only get thrown when the user interrupts while a bear is running or while queues communicate (then its OSError).

[2015-07-25 21:35] Makman2 opened #872 "coala 0.2 alpha - wombat"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24951235-coala-0-2-alpha-wombat?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github).
</bountysou

[2015-07-25 21:36] Makman2 commented on #872
@rultor release, tag=`0.2.0`

[2015-07-25 21:36] rultor commented on #872
@makman2 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4619-124899307)

[2015-07-25 21:38] rultor commented on #872
@makman2 Done! FYI, the full log is [here](http://www.rultor.com/t/4619-124899307) (took me 1min)

[2015-07-25 21:39] #451 closed

[2015-07-25 21:41] #872 closed

[2015-07-25 22:17] sils1297 opened #873 "0.3 release name"
Anyone having a proposal for the 0.3 release name, successor of coala wombat, please post it here.

I hereby nominate `coala kangaroo`. :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24952440-0-3-release-name?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-07-25 22:23] sils1297 commented on #873
and we need to craft the appropriate logo :)

[2015-07-25 22:37] sils1297 commented on #873
inspiration: https://en.wikipedia.org/wiki/Fauna_of_Australia

[2015-07-26 01:21] Makman2 commented on #435
@sils1297 Wanna do this for 0.3?

[2015-07-26 01:25] #328 closed

[2015-07-26 13:01] sils1297 commented on #328
Uhm we have that?
Am 26.07.2015 3:25 vorm. schrieb "Makman2" <notifications@github.com>:

[2015-07-26 19:44] Makman2 commented on #328
Since @AbdealiJK stated that this rule is covered from PEP8, and since we behave also different from case to case, I think we don't need this rule for now^^

[2015-07-26 19:56] sils1297 commented on #328
Ok :)
Am 26.07.2015 9:44 nachm. schrieb "Makman2" <notifications@github.com>:

[2015-07-26 20:43] sils1297 opened #874 "rultor: pull translations before release"
we actually forgot that ^^

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24990452-rultor-pull-translations-before-release?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_

[2015-07-28 17:09] sils1297 opened #875 "use pytest"
http://pytest.org/latest/goodpractises.html#integrating-with-distutils-python-setup-py-test

should be easy and cool :)

[2015-07-28 17:19] sils1297 commented on #875
maybe we want tox too, sounds like it could even simplify our CI scripting.

[2015-07-28 22:18] Makman2 opened #879 "coala install: 'astroid' dependency 'logilab-common' fails if above version 0.63"
Steps to reproduce:
- if you don't have `astroid`, install it
- upgrade `logilab-common` (at least to a version above 0.63)
- run the setup script `python ./setup.py install`

To be able to install coala again, just upgrade the astroid package (even if it's already latest version):
`pip install astroid --upgrade`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://

[2015-07-29 09:45] sils1297 commented on #879
Workaround in PR https://github.com/coala-analyzer/coala/pull/880 . Not sure how we can fix this properly for our users.

[2015-07-29 12:42] AbdealiJK commented on #879
So, this is only for windows ?

[2015-07-29 12:50] sils1297 commented on #879
It occurs on appveyor because they changed some packages I presume but it may be valid on all distributions.

[2015-07-29 16:21] Makman2 commented on #879
Seems to be only a windows issue, on Ubuntu it works well even with `logilab-common` version > 1.0

[2015-07-29 18:16] Makman2 opened #881 "Import classes into `__init__.py` directly"
Advantage:
Semantically it is better:
[code]
better is:
[code]

Disadvantage:
Ambiguity - we can't use module instances any more, since the modules are called like the containing classes.
Solution to this problem: we could create other fields or only one dict-field `modules` that contains all loaded modules. I.e.:
`coalib.output.printers.module["Printer"]`

<bountysource-plugin>
---
Want to back t

[2015-07-29 18:27] sils1297 commented on #881
we could rename our modules after some scheme and expose only public
classes in the init

2015-07-29 20:16 GMT+02:00 Makman2 <notifications@github.com>:

[2015-07-29 20:11] sils1297 opened #882 "correct version number"
we probably want to increase the minor version for all development releases or so

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25136048-correct-version-number?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2015-07-29 20:15] Makman2 opened #883 "cp850 vs cp1252 - windows likes cp1252 but uses cp850 actually"
The previous bug we had for `run_tests.py` I tried to solve with a simple encoding routine - `message.encode(locale.getpreferredencoding(), errors="ignore")` - did not work because windows prefers cp1252, but uses cp850 actually. The bugging characters where actually supported by cp1252, but not from cp850!
the best approach is to get the used encoding via
`sys.stdout.encoding`
and use that.

<bou

[2015-07-30 17:17] Makman2 opened #886 "Can't "exit" cmd on Windows after running tests"
After running tests on the cmd it does not close when typing `exit`, it just does nothing and waits forever.
Seems we don't close some resources right^^

[2015-07-31 17:32] sils1297 commented on #824
so here's the issue:

[code]

[2015-07-31 20:55] sils1297 opened #887 "function annotations got a PEP"
we should think about trying to follow that standard more closely: https://www.python.org/dev/peps/pep-0484/#abstract

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25230527-function-annotations-got-a-pep?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-07-31 21:51] sils1297 opened #888 "Use python espeak package"
Better than rely on espeak installed the usual way

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25232331-use-python-espeak-package?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F22

[2015-08-01 10:02] sils1297 opened #889 "use color on windows"
we could switch to using https://pypi.python.org/pypi/colorama/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25247906-use-color-on-windows?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=trac

[2015-08-01 11:17] sils1297 commented on #888
or rather this one, looks even better: http://pyttsx.readthedocs.org

[2015-08-01 11:21] sils1297 commented on #888
hm, pyttsx seems rather unmaintained... looking at https://pypi.python.org/pypi?%3Aaction=search&term=text+to+speech&submit=search for more alternatives.

[2015-08-01 22:23] sils1297 commented on #883
@Makman2 maybe we should have some utility function that handles the encoding

[2015-08-01 22:36] Makman2 commented on #886
This is either a problem of the libclang tests or gettext tests, because after I enable the according packages for windows via environment, I can't exit. If not enabling, exit is normally possible.

[2015-08-01 22:38] Makman2 commented on #883
This is console related, and shorter than `sys.stdout.encoding` we won't get. I wouldn't favor one^^

[2015-08-02 18:27] sils1297 commented on #875
So I'm not sure if we really want that.

1. I like our output better
2. Our test framework seems just faster
3. Our test framework just executes our test file and the other framework executes the Unittest objects - because of that it doesn't execute the module code and that leads to failing tests.

I started migrating out our test framework to cotest, not sure though if we shouldn't just make our

[2015-08-02 18:52] #863 closed

[2015-08-02 18:52] #883 closed

[2015-08-02 19:42] Makman2 commented on #886
No that is not a problem of the libclang or gettext tests, after running tests several times without those I can't exit too...

[2015-08-02 21:53] sils1297 opened #890 "Cancelation approaches"
This is a software design issue to track gists that show which approaches work to make arbitrary code cancellable. The overall goal is to:

1. Start a subprocess, preferrably via multiprocessing for easy data synchronization. The process may contain prepared code around a long running unprepared code fragment which is intended to be cancelled.
2. Interrupt that process: The interrupt should throw

[2015-08-02 22:10] Makman2 commented on #890
Even this list should be bigger, but I found the solution...
https://gist.github.com/Makman2/f6024138108d801a8ce6

[2015-08-03 02:37] AbdealiJK commented on #875
Everything you said has plugins in pytest.

There must be something for formatting
Three a plugin to run tests in parallel
There must be a way to skip tests if needed

I think it may be wiser to make our own pytest plugins if there are any issues with it in general

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎02-‎08-‎2015 23:57
To: "coala-analyzer/coala" <

[2015-08-03 09:45] sils1297 commented on #875
@AbdealiJK following tests fail when executed with pytest:

http://pastebin.com/F1NWHCV8

[2015-08-03 20:43] Makman2 opened #892 "@generate_repr: Include also properties in default mode"
The current mode only supports public fields (fields not beginning with an underscore).
The default behaviour shall also include public properties.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25329485-generate_repr-include-also-properties-in-default-mode?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_sour

[2015-08-03 20:51] Makman2 commented on #887
you mean type annotations etc.?
yeah this is cool makes code more strict and static-typed, but I'm a bit irritated with the generic functions when looking over them^^ And what about typed tuples?

[2015-08-04 03:25] AbdealiJK commented on #485
I was looking at gedits plugin api and was reminded of this. Maybe one way to do it would be to use gobject-introspection

[2015-08-04 05:45] sils1297 commented on #485
@AbdealiJK could you elaborate?

[2015-08-04 16:56] #781 closed

[2015-08-04 16:56] #858 closed

[2015-08-06 07:07] sils1297 commented on #849
Not blocked anymore.

[2015-08-06 09:22] sils1297 commented on #347
Nothing from phoreplay, harbormaster isn't ready so CI with phabricator will be complicated at least. For now I don't see us migrating to phabricator buuuut to gitlab, making a new bug :)

[2015-08-06 09:22] #347 closed

[2015-08-06 10:10] sils opened #894 "Migrate to GitLab"
I just tried out some gitlab stuff. It's great. I can even configure that a PR needs two approvals (one from the author, one from a reviewer). GitLab CI is just great, they have a Web UI that is very responsible and is configurable via an YML file and GitLab CI runs on all platforms - windows, linux mac - allowing us to unify everything to one configuration file.

Here comes the drawback: if we wa

[2015-08-06 10:46] sils1297 commented on #894
heh, I really like this:

[code]

[2015-08-06 13:24] Makman2 commented on #894
yeah GitLab is indeed cool.
Would be nice if you sponsor a server, I can help you with setting it up (I already have a working GitLab installation locally on Ubuntu Server 14.04).
But some things I would do:
- Mirror the local server/repositories on the public one so we have 24/7 access if something goes wrong
- And also mirror on github :)
If we have luck we maybe find a sponsor that gives us a c

[2015-08-06 13:41] AbdealiJK commented on #894
Have you checked gitlab - CI ? It doesnt have public containers like travis
and so on. It has 4 linux systems - and everyone installs dependencies
there.

Unless you get your own server for gitlab-ci, it'll be pretty slow

On Thu, Aug 6, 2015 at 6:54 PM, Makman2 <notifications@github.com> wrote:

[2015-08-06 13:43] AbdealiJK commented on #849
Actually it is blocked. Travis doesn't support locales.

https://github.com/travis-ci/travis-ci/issues/2598

[2015-08-06 16:51] sils1297 commented on #849
We can do it on circle then.
Am 06.08.2015 3:43 nachm. schrieb "AbdealiJK" <notifications@github.com>:

[2015-08-08 13:21] AbdealiJK commented on #733
This broke again - the issue is that `Constants` which is being imported in `setup.py` has non ascii chars.

So, the check needs to be done before this import

[2015-08-09 07:30] AbdealiJK opened #897 "Linter Bears"
So, Ive been looking at a lot of linter plugins in sublime, atom and also gnome-code-assistance.
One thing they have in common is that they make a **Linter** class which is used to run multiple linters.

The linter class basically runs an executable with some args and parses the output using a predefined regex pattern.

So, the inputs to the LinterBear are `executable`, `args`, `regex` - thats it

[2015-08-09 08:09] sils1297 commented on #897
Cool, let's design that first!

[2015-08-09 15:02] #831 closed

[2015-08-09 15:06] sils1297 opened #898 "clean up stale branches"
we should do that.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25545762-clean-up-stale-branches?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source

[2015-08-09 15:17] AbdealiJK opened #901 "Get text data from stdin and parse"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25545884-get-text-data-from-stdin-and-parse?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github).

[2015-08-09 15:27] #733 closed

[2015-08-09 15:46] sils1297 commented on #817
Actually we probably rather want functions `is_windows` and so on because that's shorter and with that enum it gets incredibly long.

[2015-08-10 11:39] AbdealiJK opened #902 "Make what-can-i-do-for-coala"
Using asknot-ng

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25594661-make-what-can-i-do-for-coala?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_sour

[2015-08-10 11:41] AbdealiJK opened #903 "Make coala-bears"
It makes sense to move most (if not all) bears out into a new repo named `coala-bears`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25594710-make-coala-bears?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plug

[2015-08-10 11:49] Makman2 opened #904 "Integrate coala into existing build systems as a build step"
I.e. we implement macros for CMake for easy coala use.
So a check-list of build systems we want support:

- [ ] Setuptools
- [ ] automake
- [ ] CMake

[2015-08-10 11:50] AbdealiJK opened #905 "bears and dependencies"
So, this is a slightly complicated thing to describe. But it's there in gnome-code-assistance

If we make the LinterBear - and make a bunch of Linters for .... example: python, c, ruby, go, css, html, etc. Each of these linters will have a different dependency - so, the "requirements" for coala would become huge - because every bear would be written in different things.

so, we need a better way t

[2015-08-10 11:53] sils1297 commented on #905
I think each bear a package is really too much. I'd rather create
collections, like a "base" collection and some topic collections.

2015-08-10 13:50 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-08-10 11:54] sils1297 commented on #905
aaand lets use pip packages for that, I don't want to do a coala package
manager.

2015-08-10 13:53 GMT+02:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2015-08-10 11:56] AbdealiJK commented on #905
Yes, obviously we'd be using pip :p
Collections makes sense - but then we'd have to categorize and all - not difficult (just saying)

[2015-08-10 12:14] Makman2 opened #906 "ClangCloneDetectionBear: Better status messages"
The percentage messages are a bit confusing since you might think the whole clone detection is meant (which is definitely wrong).

[2015-08-10 12:23] AbdealiJK opened #907 "Make rultor not push if there are more bugs than features"
We could use the github api along with the the labels `bug` and `feature` to check this

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25596920-make-rultor-not-push-if-there-are-more-bugs-than-features?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-08-10 12:28] sils1297 commented on #907
actually that may be a thing they want to do upstream.

2015-08-10 14:23 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-08-10 12:32] sils1297 commented on #907
filed upstream: https://github.com/yegor256/rultor/issues/916

[2015-08-10 12:32] #907 closed

[2015-08-10 12:55] sils1297 opened #908 "Bugfix release for 0.2"
- [ ] Check if there's anything important to backport
- [ ] Backport te python2 recognization thing

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25598848-bugfix-release-for-0-2?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com

[2015-08-10 13:20] sils1297 opened #909 "Show warnings for missing files/bears"
IMPORTANT! Please backport.

[2015-08-10 13:21] AbdealiJK commented on #770
Is being handled in https://github.com/coala-analyzer/coala/issues/909

[2015-08-10 13:21] #770 closed

[2015-08-10 14:59] sils opened #913 "coala-dbus: log the stuff to /var/log or so"
we want them to be accessible somehow, right?

[2015-08-10 15:51] sils1297 commented on #897
usage example:

[code]

[2015-08-10 18:32] AbdealiJK commented on #897
I tried implementing a Linter. I then decided I'd peek at the sublime linter code and found it to be much better tested and robust than what I wrote. So, I'm hoping the maintainer of SublimeLinter would like to make an abstract library for linters which will help anyone handle various types of linters

Heres the request : https://github.com/SublimeLinter/SublimeLinter3/issues/311

[2015-08-10 21:34] sils1297 commented on #725
simple bear decorator solving the metadata problem:

[code]

[2015-08-10 22:31] AbdealiJK commented on #864
What we can do is add if conditions to check if the `printer` given as arg has the function `print`

If it does not - we can check if it has the `append` or `push` and use those (so that ListLogPrinter and QueueLogPrinter can be implemented using something like `LogPrinter([])`)

[2015-08-10 22:48] Makman2 opened #915 "Handle KeyboardInterrupt"
The usage of multiprocessing.Process is problematic, because KeyboardInterrupt are also delegated to them. The best solution is to let the coala main thread handle it and propagate it down to the spawned subprocesses. There are two approaches (I have in mind):

1. **The cool approach, but more complicated one (if it anyway works):**
   There's a possibility to send asynchronously an exception from

[2015-08-10 23:40] sils1297 opened #917 "Move constants out of class"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25629566-move-constants-out-of-class?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github).
</boun

[2015-08-11 07:49] Makman2 commented on #864
Checking if it's actually a printer is nice, but that would be for the `LogPrinter` class.
And I'm not sure if we should support `append` etc, since it just not uses the printer interfaces.

[2015-08-11 08:18] sils1297 opened #918 "Installation issues"
`sudo ./setup.py install` -> `coala-format` Works

`sudo pip install . --upgrade` -> `coala-format` Import error

[2015-08-11 08:18] sils1297 commented on #918
could someone try to reproduce?

[2015-08-11 08:57] Makman2 commented on #915
For approach one:
This is a bit more imperformant, but should work safely:
1. Create a new multiprocessing.Process class
2. The multiprocessing.Process class spawns a Thread (yes, a threading.Thread)
3. The thread polls for a cancellation event we passed to the process/it waits for the event (via `Event.wait`).
4. The bear gets executed normally in another thread
5. If the poll thread recognizes t

[2015-08-11 09:12] AbdealiJK opened #919 "Documentation comments"
Our current doc comments are not very nicely formatted.
If you need to add a new parameter, the formatting of all the other params may need to change.
Also, if you have a large name, the doc string will spill into many many lines of code for all parameters.

Also, the combination of the left indent condition of the param and the 80 char limit together mean lots of unnecessary time wasted on format

[2015-08-11 09:13] sils1297 commented on #919
Agreed. We *could* try to make a bear that automatically formats the stuff
so you just write it and run it over it to get the same nice look... or
remove the indentation. Not sure. Latter is easier for sure.

2015-08-11 11:12 GMT+02:00 AbdealiJK <notifications@github.com>:

[2015-08-11 09:39] sils1297 opened #920 "remove python 3.2 support"
pypy only

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25642877-remove-python-3-2-support?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github

[2015-08-11 09:49] AbdealiJK commented on #901
Need the file path also somehow - so that `--find-config` doesnt break

[2015-08-11 10:20] Udayan12167 opened #921 "ConfWriter: missing escape chars on write back"
When an escaped set of values is read into the sections dictionary and then written back it looses the escape charcters in front of it.
<img width="1508" alt="screen shot 2015-08-11 at 12 19 49 pm" src="https://cloud.githubusercontent.com/assets/6421568/9195467/5c294ce8-4023-11e5-85b6-11e69a2b5e83.png">

[2015-08-11 10:24] Udayan12167 opened #922 "Confwriter write_sections problem"
When inline comments are parsed and written back they are not inline comments anymore and end up below the values.
<img width="1300" alt="screen shot 2015-08-11 at 12 19 49 pm" src="https://cloud.githubusercontent.com/assets/6421568/9195548/e7cee23a-4023-11e5-8c58-f6095528224f.png">

[2015-08-11 12:42] AbdealiJK commented on #918
Both work for me - maybe you had some weird code in your branch ?

[2015-08-11 13:05] Makman2 commented on #864
So the design we come up with:
[code]

[2015-08-11 13:06] Makman2 commented on #864
Maybe we can also support multiple logging devices, means you can do this:
[code]
and `Log` would output to both^^
Just as an idea.

[2015-08-11 13:10] sils1297 commented on #864
@Makman2 can you migrate this bug to the pyprint repository and close this
one?

2015-08-11 15:06 GMT+02:00 Makman2 <notifications@github.com>:

[2015-08-11 13:22] Makman2 commented on #918
confirmed :+1:

[2015-08-11 13:34] Makman2 commented on #919
Agreeing too.

[2015-08-11 20:11] AbdealiJK opened #923 "Case insensitive bear names in config files"
It would be better to allow case insensitive bear names in config files.

We'd need to throw an error if there are 2 bears with names like `ABC` and `Abc` - because this would cause a confusion to the codebase.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25660245-case-insensitive-bear-names-in-config-files?utm_campaign=plugin&utm

[2015-08-11 20:12] AbdealiJK opened #924 "Suggest bears based on existing bear names"
Take the bear name given if its not found - and tries to find the closest match to it based on word distance

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25660288-suggest-bears-based-on-existing-bear-names?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-08-13 11:12] sils1297 opened #925 "Use PyPrint"
depends on https://github.com/coala-analyzer/PyPrint/issues/13

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25720218-use-pyprint?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228

[2015-08-14 22:42] Makman2 commented on #925
Fixes #889.
Windows color support is already implemented in PyPrint.

[2015-08-14 22:48] Makman2 commented on #817
You think we need this? Using `platform` is imo not so complicated and well readable:
[code]
And then we don't need another test for this "boilerplate".

[2015-08-15 08:17] sils1297 commented on #817
agreed

[2015-08-15 08:17] #817 closed

[2015-08-15 08:25] #892 closed

[2015-08-15 11:18] sils1297 opened #927 "remove WORK IN PROGRESS from 0.2 release notes"
this is old...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25795857-remove-work-in-progress-from-0-2-release-notes?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_mediu

[2015-08-16 00:18] Makman2 commented on #919
Maybe this pattern?
[code]

[2015-08-16 00:21] Makman2 commented on #903
you sure? I think (nearly) no one wants to use coala without bears^^ Especially we write helpers for some bears, shall we part them too?
I'm not in favor of this^^

[2015-08-16 00:23] Makman2 commented on #890
I think can be closed in favor of #915.

[2015-08-16 00:23] #890 closed

[2015-08-16 00:24] Makman2 commented on #886
Exiting works only with CTRL+BREAK^^

[2015-08-16 00:30] Makman2 commented on #913
what exactly do you want to have logged? Some verbose messages or every communication?

[2015-08-16 21:14] Makman2 opened #930 "SpaceConsistencyBear: logic cleanup"
I think logic can be cleaned up a bit, effectively what this bear does is chaining replacements and checking functions. Should be possible to generalize that^^

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25835437-spaceconsistencybear-logic-cleanup?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=gith

[2015-08-16 21:20] sils1297 commented on #930
Not milestone relevant. If you disagree, ping me on gitter for discussion.

[2015-08-17 16:33] fneu commented on #725
or we name them `module.bear_name`. That is not beautiful but convenient, and most other options are bad:
 * bear name is interpreted as file name and all functions are imported: missing flexibility to import just one bear.
 * bear name is interpreted as function name: we need to search and there can be naming conflicts.

[2015-08-17 16:52] sils1297 commented on #894
This migration would be nice, but we have more important stuff to do so this is something for some far future IMO. Just wanted to state that.

[2015-08-17 16:58] sils1297 commented on #724
closing because growing chaotic, reopening new bug soonish.

[2015-08-17 16:58] #724 closed

[2015-08-17 16:58] sils1297 commented on #720
closing because growing chaotic, reopening new bug soonish.

[2015-08-17 16:58] #720 closed

[2015-08-17 16:58] sils1297 commented on #725
closing because growing chaotic, reopening new bug soonish.

[2015-08-17 17:08] sils1297 opened #933 "Next generation bears (v2)"
2nd try to realize next generation bears. I'm trying to set up actionable steps.

TODO:

- [ ] Remove Local/Global bear distinction.
    - Just make everything a global bear and use simple `for` loops for now or an own multiprocessing.pool. I think this is better than making coala even more complex while having neglectable performance disadvantages IMO.
    - Remove asynchronous processing of resu

[2015-08-17 17:13] #725 closed

[2015-08-17 20:09] sils1297 opened #934 "Add ability to show all available bears"
just collect everything and show the user which ones are available.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25875208-add-ability-to-show-all-available-bears?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2015-08-17 20:09] sils1297 commented on #924
related : https://github.com/coala-analyzer/coala/issues/934

[2015-08-19 08:20] muelli opened #935 "pip3 install --user 'git+https://github.com/coala-analyzer/coala.git#egg=coala' does not work"
[code]

It appears to be trying to install to /usr/share/locale although I've tried to install with `--user`.

I expected it to install fine.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25938108-pip3-install-user-git-https-github-com-coala-analyzer-coala-git-egg-coala-does-not-work?utm_campaign=plugin&utm_content=tracker%2F222822

[2015-08-19 12:18] sils1297 commented on #935
@muelli , thanks for the report! We'll want to have that resolved for the next release probably. Maybe working together with Andrei can speed up finding a solution, I don't have time for coala until september though.

@Makman2 can you take a look when free? Don't risk your exams because of this though ;)

[2015-08-19 12:29] AbdealiJK commented on #935
Need to figure out a better way to do this - currently "`sys.prefix`/share/locale" is used - but according to the GNU docs (http://www.gnu.org/software/gettext/manual/gettext.html#Locating-Catalogs), this is not the standard path - the standard path is system specific - and can be anything - gettext or locale should be able to specify where it will search for the mo files.

[2015-08-19 12:43] sils1297 commented on #935
Also note that this bug also goes down into the python libraries. The
python gettext lib uses sys.baseprefix IIRC i.e. if we fix this bug we also
have to give gettext a custom path. Alternative is using Babel which is
probably cleaner.

[2015-08-19 16:08] Makman2 commented on #935
I'll look into it.
@muelli thx for writing us bugs :D

[2015-08-19 16:41] Makman2 commented on #935
confirmed

[2015-08-19 18:03] Makman2 opened #936 "Invoking coala externally from python should be simpler"
For example the gedit plugin needs to invoke `gather_configuration` and other functions to invoke coala. Imo I just want to do:
[code]
or
[code]
and just get a list of results.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25956458-invoking-coala-externally-from-python-should-be-simpler?utm_campaign=plugin&utm_content=tracker%2F222

[2015-08-19 18:12] sils1297 commented on #936
Indeed, this'll also solve the duplication we have in our "binaries". It
should be a function that takes only optional arguments and gets args from
CLI if none are given. If more sophisticated behaviour is needed, we'll
want to have keyword arguments, e.g. for asynchronous result processing for
the GUI or so.

Important issue. Can you please set milestone to 0.3?

2015-08-19 20:03 GMT+02:00 Makman

[2015-08-19 18:25] Makman2 commented on #936
Yeah or easy helper method we summarize in a single module and document them well.

[2015-08-31 20:33] sils1297 opened #939 "Make bear kind a property"
If we don't remove the kinds fast enough.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26343565-make-bear-kind-a-property?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm

[2015-09-01 10:21] sils1297 commented on #903
@AbdealiJK ?

[2015-09-01 10:21] sils1297 commented on #903
I agree closing this would be good.

[2015-09-01 10:22] sils1297 commented on #902
Done and live at whatcanidoforcoala.org .

[2015-09-01 10:22] #902 closed

[2015-09-01 10:29] sils1297 commented on #901
@AbdealiJK could you elaborate? This a feature request?

[2015-09-01 10:36] sils1297 commented on #795
Accepting patches for this one.

[2015-09-01 10:38] sils1297 commented on #459
@AbdealiJK I don't have the overview about that website stuff, could you take a look at related bugs and close a few or so?

[2015-09-01 10:40] sils1297 commented on #204
i.e. just write a EditorConfigParser or so (although we don't want parsers to be objects anymore). Should be easy but it's not a priority, accepting patches.

[2015-09-01 10:48] sils1297 commented on #920
Remove python 3.2 from documentation pages and remove the builds, should be easy to do.

[2015-09-01 10:50] sils1297 commented on #918
I just reproduced it on fedora, there's something weird going on!

[2015-09-01 10:58] AbdealiJK commented on #903
I seem to have missed @Makman2 's comment on this

@Makman2 : Lets say we write 10 bears. And each bear depends on things like pylint, clang, language-check etc ...
We'd soon get a HUGE dependency list ... which is not nice. It makes sense to provide it in batches or separately

[2015-09-01 11:00] AbdealiJK commented on #901
It is a feature reqeust.
This is a method of using coala without having a physical file - i.e. The textual data is given to coala using stdin.
This is one of the ways that linters get data which is not in actual files.

[2015-09-01 11:00] sils1297 commented on #903
@AbdealiJK you think we should setup infrastructure for this like... now? I mean sooner or later, we'll need that and then we'll probably want to go for groups of bears that make sense into one package.

[2015-09-01 11:02] AbdealiJK commented on #903
Not sure if it should be done. RIght now, it doesnt matter (as we dont have
many bears).
I added the issue so that it remains a reminder that eventually (or now) it
needs to be done. i.e. Decoupling the bears from the coala package.

On Tue, Sep 1, 2015 at 4:30 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-01 11:07] sils1297 commented on #913
we should have a LogPrinter for that and then want to use that for coala dbus and so on. There are probably conventions about how to log that kind of stuff.

[2015-09-01 11:09] sils1297 commented on #901
IMO not important, accepting patches.

[2015-09-01 11:10] sils1297 opened #941 "investigate Babel"
we should probably investigate Babel further, I think it makes sense to use it now that it's actively maintained (partly by me)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26357612-investigate-babel?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-09-01 11:11] sils1297 commented on #905
kind of a duplicate of https://github.com/coala-analyzer/coala/issues/903

[2015-09-01 11:11] #905 closed

[2015-09-01 11:12] sils1297 commented on #889
will be fixed by https://github.com/coala-analyzer/coala/issues/925 as this is fixed in PyPrint

[2015-09-01 11:12] #889 closed

[2015-09-01 12:56] sils1297 commented on #925
I did a PyPrint release manually for now so we can use it initially. Automatic dev releases are added later.

[2015-09-01 13:15] sils1297 commented on #897
@AbdealiJK still on it? This is strategically very important, making us able to integrate lots of analytics very fast.

[2015-09-01 21:10] Makman2 commented on #903
Highly depends on the bears. If it's something super-advanced, yes then part, but if it's generic and universal keep it in coala imo

[2015-09-02 15:22] Udayan12167 opened #944 "ClangPrintASTBear jumbles up output when run on multiple files."
I think running that bear in parallel on many files causes the problem.

[2015-09-02 15:23] Udayan12167 opened #945 "No mention of how to get the debug stream from coala in the documentation."
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26392366-no-mention-of-how-to-get-the-debug-stream-from-coala-in-the-documentation?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F222822

[2015-09-02 15:25] sils1297 commented on #944
Fix is easy but probably cumbersome: it needs to be transformed into a local bear (easy and fast) and the tests need to be adjusted accordingly (easy but may take some time).

[2015-09-02 22:58] #609 closed

[2015-09-06 18:56] Makman2 opened #946 "FunctionMetadata.py: shorten if-None initialization stuff"
In FunctionMetadata.py:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26488919-functionmetadata-py-shorten-if-none-initialization-stuff?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-09-06 18:58] Makman2 opened #947 "LineLengthBear.py: Documentation alignment in run()"
The documentation comment in LikeLengthBear.py doesn't conform to rules mentioned at http://coala.readthedocs.org/en/latest/Getting_Involved/Codestyle/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26488954-linelengthbear-py-documentation-alignment-in-run?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_sourc

[2015-09-07 09:40] #925 closed

[2015-09-10 04:52] sils1297 commented on #882
we have a correct version number scheme now, rultor script is adapted.

[2015-09-10 04:52] #882 closed

[2015-09-10 04:52] sils1297 commented on #881
No time for this, accepting patches though.

[2015-09-10 04:52] #881 closed

[2015-09-10 04:52] #901 closed

[2015-09-10 04:53] sils1297 commented on #292
We do have windows support now, removing wontfix label.

[2015-09-10 04:54] sils1297 commented on #291
We do have windows support now, removing wontfix label.

[2015-09-10 05:04] sils1297 commented on #935
@andreimacavei IIRC you had something new on this one?

[2015-09-11 13:16] #936 closed

[2015-09-11 16:23] AbdealiJK opened #950 "Add serial number in coala-format"
There should be a provision to print the serial number (to number the output) in coala-format

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26617057-add-serial-number-in-coala-format?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2015-09-11 16:25] sils1297 commented on #950
@AbdealiJK sorry but what's the usecase? Don't see it yet...

[2015-09-11 16:29] AbdealiJK commented on #950
It's good to have serial numbers :P
Helps in referring to specific warnings when multiple people look at the output
Makes it look more organized and nice outputs like
[code]
can be got easily.

I thought it'd be a nice feature if someone wants to show all warnings easily at a glance. Not at all high priority

[2015-09-11 16:36] sils1297 commented on #950
Closing as wontfix, accepting patches because of lack of priority, we need to focus a bit.

[2015-09-11 16:36] #950 closed

[2015-09-14 10:58] sils1297 commented on #487
Not longer blocked, @AbdealiJK would you like to give this a try?

[2015-09-14 10:58] sils1297 commented on #741
Nope, I don't see why this needs #487 first... though they are related. One at a time please.

[2015-09-14 11:10] sils1297 commented on #435
@Makman2 nope. Writing that really sucks up time. Which I don't have.

[2015-09-14 13:11] sils1297 commented on #898
Largely done, we're down from over 40 to under 20 :) Needs to be done continuously but the size now is ok so we can close this.

[2015-09-14 13:11] #898 closed

[2015-09-14 13:20] sils1297 commented on #846
related: https://github.com/coala-analyzer/coala/issues/847

Maybe we'll just want this one and ignore the other? Or we could print log messages to stderr and the other stuff to stdout so when you reroute stdout you only get your content stuff and no logging.

[2015-09-14 13:20] sils1297 commented on #812
@AbdealiJK any progress?

[2015-09-14 13:20] sils1297 commented on #282
@Udayan12167 how's progress going on this?

[2015-09-14 13:25] sils1297 commented on #136
Makes no sense right now because configuration is arbitrary on the one hand and there's not that much bears right now there...

[2015-09-14 13:25] #136 closed

[2015-09-14 13:26] sils1297 commented on #850
too much on our plate right now, shifting indefinitely into the future

[2015-09-14 13:26] #850 closed

[2015-09-14 13:27] sils1297 commented on #850
patches welcome of course.

[2015-09-14 13:33] sils1297 commented on #846
Yeah that was stupid. :) So we'll want a console option like `-o some_file.json` or so for this one. Ready to be worked upon!

[2015-09-14 13:33] sils1297 commented on #847
Ok we'll probably want an option like `--text-logs`or so that then does not log to json but simply to stdout. Ready to start!

[2015-09-14 13:54] sils1297 commented on #924
Accepting patches for this one, however it's a rather big feature and we need to focus right now, so wontfix. FWIW I'd love to see this but there's just some really way more important stuff out there.

[2015-09-14 13:56] sils1297 commented on #934
Could be implemented at https://github.com/coala-analyzer/coala/blob/master/coalib/coala_main.py#L14 , just collecting the bears and gather all of them if like `--show-all-bears` flag is set.

[2015-09-14 14:03] sils1297 commented on #927
@andreimacavei assigning you as per our dialogue, thanks for your time!

[2015-09-14 14:05] andreimacavei commented on #927
confirmed

[2015-09-14 14:51] sils1297 commented on #919
@Makman2 I like that pattern. Can you make a bear for that? Though keep in mind that we'll want to add more patterns to this bear over time, try keeping it generic. Assigning you.

[2015-09-14 14:53] sils1297 commented on #906
notabug... though an easy issue to fix. Just change debug messages so this gets clearer for now.

[2015-09-14 14:53] sils1297 commented on #904
Setuptools should be easy, we'd just provide a setup command in the coalib people can import. The other stuff is a bit optional/wontfix for me because its lots of work and we don't have time right now.

[2015-09-14 14:55] sils1297 commented on #875
Marking wontfix, for now our framework works and we need to focus.

[2015-09-14 15:05] sils1297 commented on #866
Ok, we'll want an Error if

a) No config was found and
b) Save flag was not set

[2015-09-14 15:05] sils1297 commented on #864
this is actually done, right?

[2015-09-14 15:06] sils1297 commented on #864
no it isn't my fault...

[2015-09-15 09:54] #927 closed

[2015-09-23 10:13] sils1297 commented on #825
@AbdealiJK isn't this solved by my recent addition of the coala-main routine? More or less...

[2015-09-23 10:48] AbdealiJK commented on #825
Yes, it is. I thought you were trying to solve this bug with that.

[2015-09-23 10:48] #825 closed

[2015-09-23 11:13] sils1297 commented on #908
This is too much work, we'll rather put the efforts into 0.3.

[2015-09-23 11:13] #908 closed

[2015-09-23 11:15] sils1297 commented on #874
Not important but actually a blocker for 0.3

[2015-09-23 11:16] sils1297 commented on #874
Marking easy, it shouldn't be hard to just invoke the `.misc/pull_zanata.sh` script in the rultor.yml before doing the release.

[2015-09-23 11:18] sils1297 commented on #508
This is an ongoing effort, not a release blocker.

[2015-09-23 11:22] sils1297 commented on #487
As for design, this can be done similarly to the `PrintDebugMessageAction`, just make the action specific to the output.

[2015-09-23 11:24] sils1297 commented on #447
This is not really `important` but it's a cause of bugs because sometimes this default value is used leading to not the right printer being used for logging at times.

[2015-09-23 11:26] AbdealiJK commented on #447
Would be nicer to make a concept of globalvariables.

class or named tuple or dict named "GlobalVariables" in __init__ from which
default values like this are taken - and the class's variable can be
changed by the ConfParser on runtime

On Wed, Sep 23, 2015 at 4:54 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-23 11:29] sils1297 commented on #447
@AbdealiJK how's that nicer? Global variables are bad.

[2015-09-23 11:29] sils1297 commented on #897
@AbdealiJK ping?

[2015-09-23 11:31] AbdealiJK commented on #447
I dont see why you say global variables are bad.

It'd be good to have 1 place where every class can check what the loglevel
is, makes it uniform and solves the problem stated above

On Wed, Sep 23, 2015 at 4:59 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-23 11:31] AbdealiJK commented on #897
I have no completed it yet. I'll do it soon.
Seems like SublimeLinter doesnt wish to do it :'( .

[2015-09-23 11:33] sils1297 commented on #897
@AbdealiJK thanks, let me know if you need anything, I think this will really help us.

[2015-09-23 11:35] sils1297 commented on #447
Global variables hide coupling. Or if I might cite the zen of python:

If we pass the log printer as an argument, the functions don't rely on a certain state of the environment and are easier to reuse elsewhere. At the same time you can see right from the signature what things it uses, global variables hide this information. It's just cleaner to have the function signature state *all* inputs inste

[2015-09-23 11:37] sils1297 commented on #941
https://github.com/coala-analyzer/coala/issues/920 would need to be done for us to use babel because Babel doesn't support python 3.2.

[2015-09-23 11:38] sils1297 commented on #935
Related bug: https://github.com/coala-analyzer/coala/issues/941 , using Babel might be the cleanest solution for this.

[2015-09-23 12:55] sils1297 commented on #662
Actually I don't know a good usecase... and the user can still open another terminal.

[2015-09-23 12:55] #662 closed

[2015-09-23 12:58] sils1297 commented on #487
I'll attempt to do this now, commit will look similar to 8dac418130b6a90a485142894d246769b6ff6fc5

[2015-09-23 13:31] sils1297 opened #957 "Allow executing multiple actions"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26895353-allow-executing-multiple-actions?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github).
<

[2015-09-23 14:28] sils1297 commented on #741
This was already done. Apparently. At least the result has a diff dict.

[2015-09-23 14:28] #741 closed

[2015-09-23 14:28] sils1297 commented on #435
This is an ongoing personal effort of mine and I probably shouldn't clutter this bugtracker with it. Closing.

[2015-09-23 14:28] #435 closed

[2015-09-23 14:29] sils1297 commented on #923
@fneu could you look into that? That's really important for usability.

[2015-09-23 14:32] sils1297 commented on #903
Closing this for now, we'll probably open another bug for this when it becomes an issue (even if this issue existed :))

[2015-09-23 14:32] #903 closed

[2015-09-23 14:33] sils1297 commented on #888
Closing, espeak is currently not relevant to anyone it seems, instead we probably want to drop the espeak printer as a whole, that just sucked time and noone ever was interested in using it. It's a **very** uncommon usecase...

[2015-09-23 14:33] #888 closed

[2015-09-23 14:34] sils1297 commented on #886
@Makman2 assigning you for investigation because noone of us can help you here I fear.

[2015-09-23 14:35] sils1297 commented on #887
Time's short, we have bigger fish to fry than to rethink our function annotation concept which actually works very well. Accepting "patches" of course if someone really wants to look into this.

[2015-09-23 14:35] #887 closed

[2015-09-23 14:37] sils1297 commented on #868
@Makman2 assigning you. TODO:

- [ ] Write that down in the codestyle specification.
- [ ] Write a simple bear that takes care of that. An approach could be scanning for the import keyword and then sort those lines alphabetically but only within their own blocks, i.e. if the user has two newlines (or any non-import line) between two imports they could be treated as separate blocks and sorted indep

[2015-09-23 14:38] sils1297 commented on #871
Removing milestone, not a blocker and not that important as it only occurs in rare cases and is just visually ugly, no real bug.

[2015-09-23 14:39] sils1297 commented on #866
@AbdealiJK care to give this a try? Shouldn't be hard. Please self assign if you agree.

[2015-09-23 14:39] sils1297 commented on #828
No time.

[2015-09-23 14:39] #828 closed

[2015-09-23 17:10] #920 closed

[2015-09-23 17:19] fneu opened #959 "show line numbers in diff"
console output and interaction scheme looks worse than yast (or close) ;)

Line numbers should be in the diff in th eline that is next to all other output anyways.

....but we need to make a plan for future interaction still.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26901752-show-line-numbers-in-diff?utm_campaign=plugin&utm_co

[2015-09-23 17:33] sils1297 commented on #302
Accepting patches.

[2015-09-23 17:57] #487 closed

[2015-09-23 17:57] #957 closed

[2015-09-23 19:42] sils1297 commented on #156
not really relevant, wontfix.

[2015-09-23 19:42] #156 closed

[2015-09-23 19:45] sils1297 commented on #337
Done!

[2015-09-23 19:45] #337 closed

[2015-09-23 20:04] sils1297 commented on #886
Relevant issue pointed out in these commits: https://github.com/coala-analyzer/coala/pull/960

[2015-09-23 20:07] sils1297 commented on #537
@fneu reassigning you, after the priority bugs this is also an important thing to have.

[2015-09-23 20:30] sils1297 commented on #730
This will implicitly be fixed when we remove local bears.

[2015-09-23 20:35] sils1297 commented on #739
@fneu related bug: https://github.com/coala-analyzer/coala/issues/549

@fneu so we probably want to create a `SourceRange` object that holds two source positions and the result can then consist out of zero to several source range objects.

[2015-09-23 23:46] Makman2 commented on #881
What means "no time for this"? why not just keeping the issue open?

[2015-09-23 23:50] Makman2 commented on #904
We can move it to 0.5 maybe^^

[2015-09-23 23:51] sils1297 commented on #881
Because we need to focus on the more important tasks. Things that are out
of scope or we not important enough to be addressed with our limited
manpower... Well its actually better not to do them because there will
always be other things. This way people are invited to do PRs but we don't
stumble upon them when we manage bugs e.g. for releases and so on.
On Sep 24, 2015 1:46 AM, "Makman2" <notifica

[2015-09-23 23:56] Makman2 commented on #886
I would refer to #915, this should fix it.

[2015-09-24 00:19] fneu commented on #824
@sils1297 well, yes, this kinda is by design. Glob always works on one file path and therefore takes a string. the collectors accept a list (iterable) of glob strings so that they only need to be called once.

Passing a string (iterable of chars) leads to glob being called on every char, in your example `glob('*')` yields the results you describe.

Anyway, we can change the design, so I will do th

[2015-09-24 01:28] AbdealiJK commented on #447
I was thinking something more like the global variable would be the default
argument for the loglevel. Doesn't hide the coupling - just ensures that
you have the right default argument.

So, something like
[code]

On Wed, Sep 23, 2015 at 5:05 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-24 08:05] sils1297 commented on #447
@AbdealiJK what advantage does this provide?

[2015-09-24 08:06] #824 closed

[2015-09-24 09:54] AbdealiJK commented on #447
That you have a common default value which can be changed dynamically

On Thu, Sep 24, 2015 at 1:35 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-24 10:41] sils1297 commented on #447
Well, the idea is to remove this default value overall. The problem is that whenever we use the default value in coala it's *just wrong* because we don't use the LogPrinter which is chosen by the user and this is actually a bug. E.g. if you use `coala-dbus` there are some functions which will use the ConsolePrinter for logging instead of exporting the stuff to json. So that's a bug that needs fixi

[2015-09-24 14:42] sils1297 commented on #459
Ok for now we probably only want to generate a simple HTML page, anything else is out of scope for now.

[2015-09-24 14:42] #459 closed

[2015-09-24 14:42] sils1297 commented on #458
see https://github.com/coala-analyzer/coala/issues/459

[2015-09-24 14:42] #458 closed

[2015-09-24 14:43] sils1297 opened #965 "Export results to HTML"
It would be nice to generate a rather simple HTML page that can be pushed on some server :)

Supersedes https://github.com/coala-analyzer/coala/issues/459

[2015-09-24 14:51] sils1297 commented on #965
I'm currently looking towards creating a very simple page using https://pypi.python.org/pypi/html/1.16 and generate HTML of syntax highlighted code using https://pypi.python.org/pypi/Pygments/2.0.2

[2015-09-24 15:03] sils1297 commented on #965
Ok, html is unmaintained, https://pypi.python.org/pypi/ll-xist/5.13.1 seems to be actively developed.

[2015-09-24 15:29] Makman2 commented on #919
@sils1297 What do you think about a simple bear the user provides regexes for? This would be the easiest^^

[2015-09-24 15:31] sils1297 commented on #919
@Makman2 could you make a concrete example?

[2015-09-24 15:36] Makman2 commented on #919
[code]

[2015-09-25 02:53] AbdealiJK commented on #866
I'd rather complete the LinterBear before going into other bugs

On Wed, Sep 23, 2015 at 8:09 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-09-26 17:04] sils1297 opened #967 "ShowPatchAction: Pull out show_diff function"
This function isn't tied to that action and should exist outside of it and be applicable to any Diff object or unified diff or two files or something like that.

[2015-09-26 17:05] sils1297 opened #968 "Diff: Mark additions/deletions green/red"
to be done in ShowPatchAction, but somehow we need to pass through the ConsolePrinter I guess.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26970366-diff-mark-additions-deletions-green-red?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2015-09-26 23:00] sils1297 opened #969 "more compact view for diffs"
[code]

or

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26976119-more-compact-view-for-diffs?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_so

[2015-09-26 23:04] fneu commented on #969
I find myself in favor of the second version. In the first one, the capital letters attract too much attention, away from the filename. Or the diff itself.

[2015-09-26 23:05] sils1297 commented on #969
yeah, the second is charming. @fneu assigning you, this *really* is a five minute job :)

[2015-09-27 10:12] #959 closed

[2015-09-27 23:38] fneu commented on #739
@sils1297 ok this is stupid. I'm sorry I tried but this get's much to complicated and I really don't see the sense in what I'm doing here, which makes it hard.

I guess no because then we would have a range, but it's just supposed to give us a position? so just column then, right?

In my view this just adds complexity, since there is no point where we would use the SourcePosition besides the Sourc

[2015-09-27 23:57] fneu commented on #739
ok you cannot sort for a key that is None or int in different results to let's do this:
[code]

So, am I right that this would be a much simpler and leaner approach, with the only downside that we would have to take `''`amd `-1` as default values instead of `None`?

This would also mean no refactoring besides adding optional values for start and end.

Or is there some hidden merit to having classe

[2015-09-28 01:39] Makman2 commented on #969
where shall the code be placed? can't find the class that is responsible for outputting this :O

[2015-09-28 02:49] sils1297 commented on #969
ShowPatchAction

[2015-09-28 02:51] sils1297 commented on #739
let's have a call at daytimes.

[2015-09-28 03:01] sils1297 commented on #739
Well, having an own position and a range object makes the design more reusable: e.g. if you write utility functions that search for something in a file, they might return a SourcePosition (e.g. a regex match might return a SourceRange without file set). So that was my thought behind this. apart from that it makes the sorting methods in the result simpler through moving out complexity. So that's at

[2015-09-28 18:28] #969 closed

[2015-09-29 00:29] Makman2 opened #971 "Use built-in function `vars(object)` instead of using `__dict__` directly"
Imo this is cleaner^^

[2015-10-01 15:50] Makman2 commented on #282
I think this is related to #915 since we don't have a real quitting model implemented^^

[2015-10-01 16:22] Makman2 commented on #739
This would maybe also useful for `StringProcessing`^^

[2015-10-01 23:18] Makman2 opened #972 "str(Section) shall quote string values"
Example output:
[code]
shall be
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27102791-str-section-shall-quote-string-values?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F22

[2015-10-02 23:20] Makman2 opened #975 "Make use of the `logging` module"
This would allow to keep some components more standalone that issue warnings, because we don't need to pass a printer to them^^
The warning messages can be fetched in the coala analyzation process where they can be printed:

[code]

[2015-10-06 11:38] #590 closed

[2015-10-06 11:38] #454 closed

[2015-10-06 11:38] #469 closed

[2015-10-06 11:38] #470 closed

[2015-10-06 11:38] #490 closed

[2015-10-06 11:38] #589 closed

[2015-10-06 12:58] sils1297 commented on #275
This is not really a priority because the GUI will probably have editing features later so let's not waste time here.

[2015-10-06 12:58] #275 closed

[2015-10-06 12:59] sils1297 commented on #155
This is in progress at the coala-gui repository, a prototype exists. All further issues are tracked over at the other repo.

[2015-10-06 12:59] #155 closed

[2015-10-06 14:22] #924 closed

[2015-10-06 15:10] sils1297 commented on #934
sample output of my local prototype:

[code]

[2015-10-06 15:49] sils1297 commented on #879
This is a pip issue and has nothing to do with our requirements definition, right?

[2015-10-06 15:49] #879 closed

[2015-10-06 16:00] sils1297 commented on #489
we're focusing on the GUI and progress reports for the CLI are out of scope for now.

[2015-10-06 16:00] #489 closed

[2015-10-06 18:04] #934 closed

[2015-10-09 01:42] AbdealiJK commented on #897
http://pastebin.com/MD6rr2vm

So, the implementation I was working on involved making a LinterMeta which checks which type of linter the class is, compiles all the regex which will be used to get the results and handles basic things like that. Majority of this was taken from SublimeLInter
The linter class is a base class which actually saves which syntax the linter handles. The class in pastebin i

[2015-10-11 17:11] Makman2 opened #981 "coala-format: Use IDs"
Because the `Result` class gets refactored and allows to store multiple result positions/ranges, `coala-format` can't work that easily like before since serialization of lists makes it too complicated.

Everyone needs to stick with `coala-json` which is anyway more straightforward to use because:
- Nearly everyone has json support
- If someone has no json support, it's easily to code that yourself

[2015-10-11 17:44] sils1297 opened #982 "Get rid of to_string_dict methods"
They essentially do a very similar thing to our json export which works out of the box, could we use DBus based on that? Would be cleaner IMO.

@AbdealiJK could you do that maybe? You're the most into it and this shouldn't take that long. (Okay whenever I write that sentence that doesn't work out...) Still, want to give it a try?

[2015-10-11 17:45] sils1297 commented on #982
This is important for the ongoing result refactoring.

[2015-10-11 17:47] sils1297 opened #983 "Convention: asserts vs. valueerror"
We do some value checks here and there, e.g. if a comparison with a weird object happens we throw an exception. There are two major candidates for that:

# AssertionError

That's the awesome one: just `assert some_expression, "message"`

# ValueError

[code]

As pointed out I'm heavily in favor of the first one because it's much shorter.

@Makman2 your opinion?

<bountysource-plugin>
---
Want to b

[2015-10-11 17:52] Makman2 commented on #983
I do like `ValueError` because it shows more what's wrong and imo the usage of an `AssertionError` belongs to cases where you test inner behaviour and not make user-sanity checks^^
Also I haven't seen any `AssertionError` from a builtin/3rd-party library, but many `ValueError`s.

Citing python docs:

It's for debugging purposes, not for runtime purposes^^

[2015-10-11 17:55] sils1297 commented on #983
@Makman2 well those errors are programmer errors and are intended for debugging! If a programmer compares 4 with a SourceRange he's stupid and that's what the assertion is for.

[2015-10-11 22:28] Makman2 commented on #983
but well the programmer "uses" our code. And even in runtime stupid things can happen that are never intended to happen at all.
I mean a real user that doesn't program a lot and uses our software (very interesting case, but anyway) can't even do something with a ValueError, so there's no difference using an AssertionError and a ValueError (or other exception) except the semantical thing. Assertion

[2015-10-11 23:08] Makman2 commented on #972
built-in `repr` should be used that handles the string representation and automatically encapsules the string inside the quotes (and escapes special sequences).

[2015-10-11 23:14] Makman2 opened #985 "ConfigurationGatheringTest: Replace deprecated function"
In line 226 `self.assertRegexpMatches` is used, `self.assertRegex` shall be used instead^^

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27334333-configurationgatheringtest-replace-deprecated-function?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-10-12 01:11] AbdealiJK commented on #981
The reason I had proposed coala format earlier was because a lot of linter classes (example atom-linter) uses regex to parse the output.
This was there simply because loads of other linters (all nearly) have it - and thouhgt it would be good to have.

Note : removing this would mean that the current coala-atom plugin stops working.

Can't we simply write a new line for every range mentioned in a r

[2015-10-12 01:12] AbdealiJK commented on #981
It might be worth it to check what pylint does - because it has the code clone thing -  and that has 2 different files and 2 different source ranges. So, they must have a solution for this (maybe?)

[2015-10-12 06:47] sils1297 commented on #981
We could do that. Does that make sense?

[code]

With that there would be no possibility of telling wether those lines belong together or not. Maybe we could introduce an ID?

[code]

[2015-10-12 06:50] sils1297 commented on #981
@AbdealiJK @Makman2 what do you think of that id? I like it because people can choose to ignore this complexity. OTOH if they ignore that users might wonder e.g. what the cloned function now is if a plugin decides to ignore that.

[2015-10-12 06:55] sils1297 commented on #981
I think they simply put this into the message. The format string supports no such thing: http://docs.pylint.org/output.html

Taking IDs is even better IMO because people can use that to reference between the occurrences and if they don't want to do that they can add the ID to the message. "Code clone found (1)"

[2015-10-12 07:39] sils1297 opened #987 "ConsoleInteraction: Test default format"
on it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27340325-consoleinteraction-test-default-format?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_sou

[2015-10-12 07:49] AbdealiJK commented on #981
I like the id idea, is similar to the serial number bug I had mentioned before.

But how do you make sure the ids don't clash ? Is it set at the end while printing?

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎12-‎10-‎2015 12:25
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] Remove coal

[2015-10-12 08:14] sils1297 commented on #981
TBH it seems this would be the most secure thing to do. I tried having a static `itertools.count()` object but if we have multiple process this really gets complicated and would need interprocess communication. I think the performance overhead posed by this is acceptable since we usually don't expect to get thousands of results, if we do the little counter synchronization is neglectable compared t

[2015-10-12 08:22] sils1297 commented on #981
As @AbdealiJK pointed out in a private chat: we could use a `hash` which is *very* close to unique.

[2015-10-12 08:26] sils1297 commented on #981
See related SO question about ID generation: http://stackoverflow.com/questions/33076453/how-to-create-a-unique-id-in-a-python-class-across-multiple-processes

[2015-10-12 08:51] sils1297 commented on #981
This solution uses hash and produces suitable numbers, see example output http://pastebin.com/mkm4xVBW

[2015-10-12 09:19] sils1297 commented on #983
Translation:

AssertionError: The programmer needs to do something.
ValueError: The user needs to do something.

In those cases the programmer needs to do something, don't blame the user for the programmers fault.

[2015-10-12 09:23] AbdealiJK commented on #983
From the docs of python:
*exception *ValueError - Raised when a built-in operation or function
receives an argument that has the right type but an inappropriate value,
and the situation is not described by a more precise exception such as
IndexError
<https://docs.python.org/2/library/exceptions.html#exceptions.IndexError>.

So, if a programmer compares SourceRange with a 4, shouldn't it be a
TypeE

[2015-10-12 09:38] sils1297 opened #988 "SourceRange: Don't allow None for file"
when somebody makes one it should contain content. This is a reminder bug for me

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27342503-sourcerange-don-t-allow-none-for-file?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?ut

[2015-10-12 10:28] Makman2 commented on #981
This is highly complicated imo
Much more code to maintain but in fact not that much new functionality
@AbdealiJK why is it so complicated to use json as format?

[2015-10-12 10:31] AbdealiJK commented on #981
@Makman2 sure, you can revamp the atom plugin code for json. But the reason
I used coala-format is because atom has a nice Linter class which makes it
super easy and uniform. Else a lot of GUI boilerplate will have to be
redone.

On Mon, Oct 12, 2015 at 3:58 PM, Makman2 <notifications@github.com> wrote:

[2015-10-12 10:31] sils1297 commented on #981
@Makman2 coala-format is currently about 10 NCLOC and it is a *very* useful interface and many linters provide such a thing. This makes using coala far easier for people because they can adjust the format to something they want and are not limited to what we give them. Thus I really think we should keep it. Having IDs for results is not that bad either, we can use the hash for now, if a cleaner so

[2015-10-12 11:21] sils1297 commented on #983
@AbdealiJK @Makman2 for what would you then use assertions?

Quote from SO:

The advantage of asserts is that they're short. We want the program to fail early (i.e. before the user gets it) when the programmer does something wrong. Assertions provide a way to do that. If we now require the developer to make an if condition and a raise with the appropriate error this gets more complicated and peopl

[2015-10-12 11:29] AbdealiJK commented on #983
Well, assertions seem to be something that are just there for developers of
the code itself.

In fact, all assert statements are removed when you run python with
optimization says this post
http://programmers.stackexchange.com/questions/225956/python-assert-vs-if-return

You'd normally run it with optimization if you're in a production
environment - like windows binary or even in ubuntu. (Currentl

[2015-10-12 11:44] sils1297 commented on #930
@Makman2 you still on this? SpaceConsistencyBear works pretty well currently, if you don't want to do this soonish I'd rather close this as wontfix as it doesn't affect *anything*.

[2015-10-12 11:44] sils1297 commented on #930
reopen if you're working on this

[2015-10-12 11:44] #930 closed

[2015-10-12 11:46] sils1297 opened #990 "OpenEditorAction doesn't write to real file"
we removed the finalize method from the interaction routines and OpenEditorAction was not adapted because the design change wasn't covered in those tests. Needs adaption.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27345245-openeditoraction-doesn-t-write-to-real-file?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=is

[2015-10-12 13:29] sils1297 commented on #939
not worth it, new bear design is way more important

[2015-10-12 13:29] #939 closed

[2015-10-12 13:56] sils1297 commented on #975
@Makman2 can we put helper methods into the LogPrinter class to make warnings more convenient? I'm still not sure about this, it allows us to pass less parameters indeed, which is good, but IMO we should print warnings right when they occur.

[2015-10-12 20:37] Makman2 commented on #983
@AbdealiJK sure in the current example it should be a `TypeError` and no `ValueError` :)

@sils1297

Even that's the reason not to use `AssertionError`, like @AbdealiJK stated with

The model/idea behind assertions is not raising a runtime exception (python does it anyway because it's the python way), but tracking just bugs in developing/debug stage internally.

This isn't applicable any more if a

[2015-10-12 20:41] Makman2 commented on #975
Maybe we can make our own module using `warnings` and implement something like a callback mechanism. Just an idea^^

[2015-10-12 20:43] sils1297 commented on #975
@Makman2 something like a ... LogPrinter!?

[2015-10-12 20:44] Makman2 commented on #975
but without needing a parameter :O (was just an idea...)

[2015-10-13 13:46] #874 closed

[2015-10-13 15:39] #968 closed

[2015-10-13 15:39] #981 closed

[2015-10-13 15:39] #987 closed

[2015-10-13 15:39] #988 closed

[2015-10-13 15:39] #990 closed

[2015-10-13 16:20] #985 closed

[2015-10-14 19:45] Makman2 opened #995 "@generate_eq for easy `__eq__` creation"
Since implemnting `__eq__` is everytime the same stupid task, this should be hand over to a decorator.
Especially writing tests is boilerplate and often you miss details like inheritance, passing `None` etc.

I think it can work basically like `@generate_repr` which takes members or works in "auto" mode.

So this issue involves:
- Implementing `@generate_eq` (or chose another name) that generates

[2015-10-14 19:47] Makman2 commented on #995
Maybe it's then also worth to implement `__ne__`, maybe we find a more performant solution than letting python automatically invoke `not __eq__()`

[2015-10-15 08:14] sils1297 commented on #875
I think we'd greatly profit from using doctest which pytest provides so reopening this.

[2015-10-15 20:29] Makman2 commented on #875
Did you miss to reopen?

[2015-10-17 23:26] Makman2 commented on #945
I think we already mention it now inside README and docs.

[2015-10-18 05:38] sils1297 commented on #945
This is about -L DEBUG

[2015-10-18 05:38] sils1297 commented on #945
This is about -L DEBUG

[2015-10-18 13:34] Makman2 commented on #945
oh sorry

[2015-10-20 15:12] sils1297 commented on #995
merged

[2015-10-20 15:12] #995 closed

[2015-10-20 15:13] sils1297 commented on #983
@Makman2 would you mind writing down in the code style to use enforce_signature? With that I think we can close this.

[2015-10-20 15:16] sils1297 commented on #983
Never mind, doing this now.

[2015-10-20 18:47] Makman2 commented on #983
Since `enforce_signature`, that uses `TypeError` instead of `AssertionError`, is implemented and documented --> closing this issue.

[2015-10-20 18:47] #983 closed

[2015-10-21 17:48] sils1297 commented on #945
actually we have this doc covered in the writing bears tutorial because that's where it matters, right? Plus there's the help.

[2015-10-21 17:48] #945 closed

[2015-10-25 12:53] sils1297 commented on #514
Will be fixed implicitly when I remove the "..." printing at least for now :)

[2015-10-25 14:48] sils1297 opened #1006 "Short Properties for immutable object simplification"
would be nice to have a specification for properties that simply make a variable read-only. example:

[code]

maybe we can make it a oneliner with a nifty function :)

[2015-10-27 10:29] cw1 commented on #971
According to this http://pythondoeswhat.blogspot.de/2012/01/dict-and-vars.html, the use of `vars(object)` is much slower than `__dict__`. Shall we ignore this performance penalty?

[2015-10-27 10:53] sils1297 commented on #971
@cw1 thanks for digging that up, that'll convince @Makman2 for sure to leave this as it is and maybe even go towards using `.__len__()` instead of `len()`

[2015-10-27 11:05] cw1 commented on #873
How about 'platypus'? As mammal, it's unique, and as oviparous animal it is the most natural thing in the world (Just like coala: unique but still a natural thing).

[2015-10-27 11:09] sils1297 commented on #873
Sounds cool :)

[2015-10-27 13:26] Makman2 commented on #971
To be honest I dont believe that. Ill test that soon locally with a venchmark^^

[2015-10-27 13:40] sils1297 commented on #971
@Makman2 why? It makes totally sense. vars will first have a few
conditions, then access dict, while accessing it directly will avoid all
that unneeded checking.

2015-10-27 14:26 GMT+01:00 Makman2 <notifications@github.com>:

[2015-10-27 15:19] Makman2 commented on #971
My benchmark:
[code]
so about 50% slower.
I added another case where I just check for method delegation, and this is the bottleneck (method delegation is 100% slower), not the if-conditions or else inside `vars()` or `len()`.

[2015-10-27 15:54] sils1297 commented on #971
so what do we want to do?

2015-10-27 16:19 GMT+01:00 Makman2 <notifications@github.com>:

[2015-10-27 20:49] Makman2 commented on #971
I'm in favor of using built-in methods still, since they are built-in and so have a meaning to be and we use the standard interface from python.
Also `vars` is not critically used in our code, just here and there, so it wouldn't have a performance impact.

[2015-10-29 11:55] sils1297 opened #1008 "nothing_done isn't invoked correctly"
[code]

that should be simple to solve

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27798244-nothing_done-isn-t-invoked-correctly?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F222

[2015-10-29 21:27] sils1297 opened #1009 "add capability to delete tags"
would be nice to be able to tidy up and delete tags

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27814698-add-capability-to-delete-tags?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-10-31 12:55] sils1297 opened #1013 "PyLintBear is buggy"
at least if current_lines contains some content but no other line is yielded, that content is ignored. Plus it's completely mad on archlinux, I guess pylint has changed something? Needs investigation.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27854868-pylintbear-is-buggy?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_med

[2015-10-31 13:22] cw1 commented on #971
The usage of `vars` instead of `__dict__` and `len()` instead of `.__len__()` is more consistently i think. So may we should integrate it to our code guidelines, if we ignore the performance impact.

[2015-10-31 15:28] sils1297 commented on #1013
ok, argument order when creating the result is messed up, https://github.com/coala-analyzer/coala/commit/457dbe4b2630e5dce6d8d365953299d9878684ed fixes this implicitly :)

[2015-10-31 15:30] sils1297 opened #1014 "Result: Check severity for validity"
if the severity isn't a valid severity coala behaves really weirdly (see #1013) and we should check that.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27856902-result-check-severity-for-validity?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2015-11-01 09:01] sils1297 opened #1018 "bears: pass self instead of self.__class__.__name__ for result creation"
will do that after merge of https://github.com/coala-analyzer/coala/pull/1007

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27867965-bears-pass-self-instead-of-self-__class__-__name__-for-result-creation?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-11-01 09:03] sils1297 opened #1019 "LineLengthBearTest: class is wrongly named"
copy&paste error

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27867981-linelengthbeartest-class-is-wrongly-named?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=i

[2015-11-01 09:10] sils1297 opened #1020 "`with open(...) as filehandle` - it's no filehandle"
we should rename those occurrences to just file or so

[2015-11-01 09:31] sils1297 opened #1017 "advertise virtualenv"
Hi,

`sudo pip install ...` is discouraged, instead the python community advertises the use of the much cleaner virtualenv's because pip is not a full package manager. Read up on http://opensourcehacker.com/2012/09/16/recommended-way-for-sudo-free-installation-of-python-software-with-virtualenv/ and https://packaging.python.org/en/latest/installing/ for this.

FWIW I want the installation to be as

[2015-11-01 11:00] sils1297 opened #1021 "Result: We want better diffs"
1. We probably want to allow to pass a function that gets some parameters and *generates* a diff. Useful for e.g. variable renaming, let the user choose the proper name.
2. On occasion there might be several ways to fix a problem, so we may want to provide alternative diffs/generation functions.

[2015-11-01 11:35] sils1297 opened #1022 "Highlight only related code"
My prototype can do this, highlight the full sourcerange. This is how it looks:

![screenshot from 2015-11-01 12-34-26](https://cloud.githubusercontent.com/assets/5716520/10868666/035ad458-8095-11e5-94fc-3d74f26d793e.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27869496-highlight-only-related-code?utm_campaign=plugin&utm_cont

[2015-11-01 12:07] sils1297 commented on #1022
![screenshot from 2015-11-01 13-07-07](https://cloud.githubusercontent.com/assets/5716520/10868785/84fac870-8099-11e5-8bc4-384373e82a1a.png)

[2015-11-01 21:01] fneu opened #1024 "use dir() in get_public_members(obj)"
The function get_public_members(obj) in coalib/misc/Decorators.py largely reimplements the built-in dir() method and could greatly benefit from using it:

strings of (public) attributes:
`[attr for attr in dir(obj) if not attr.startswith("_")]`

actual (public) attributes:
`[getattr(obj, attr) for attr in dir(obj) if not attr.startswith("_")]`

example:

[code]

<bountysource-plugin>
---
Want to b

[2015-11-01 21:08] #1013 closed

[2015-11-01 21:08] #1018 closed

[2015-11-01 21:08] #1019 closed

[2015-11-01 21:08] #1022 closed

[2015-11-02 11:47] Makman2 commented on #1006
Ha that doesn't work!
[code]
It places the property object itself into the field `a` ._.

[2015-11-02 11:47] Makman2 commented on #1006
Ha that doesn't work!
[code]
It places the property object itself into the field `a` ._.

[2015-11-02 11:57] sils1297 commented on #1006
yeah I noticed that too, however there *was* a way of doing this *somehow*

[2015-11-02 17:45] miohtama commented on #1017
It's good to copy what other well known packages do.

For example, Flask seems to do pretty decent job:

http://flask.pocoo.org/docs/0.10/installation/

[2015-11-02 19:54] sils1297 commented on #1017
Hm, I'd still like to keep it simpler. One command to install it, one
command to execute it. Everything above that is a complexity for the user
we didn't take away. Maybe we could hack some scripts around virtualenv to
make it possible cleanly. Activate the coala env, execute it, clean up.
On 2 Nov 2015 6:45 p.m., "Mikko Ohtamaa" <notifications@github.com> wrote:

[2015-11-02 19:59] miohtama commented on #1017
I suggest sticking out what Python community does. It's  a problem (difficult package installation) Python developers should be solve on Python core development level.

You can make it to one-liner:

      virtualenv venv && source venv/bin/activate && pip install conda

This, unfortunately being UNIX only.

Also pip comes with `install --target` option to install it to a local folder. Not many ar

[2015-11-02 20:16] sils1297 commented on #1017
I was more thinking about a setup.py-like script that makes your one-liner one beautiful command and makes it work platform independent. It can also install a very small binary globally that executes coala within the virtualenv.

I.e. what we want to have is a global availability of the commands while executing  the real code in the virtual env to get rid of the dependency problem. @miohtama IIUC

[2015-11-02 20:20] miohtama commented on #1017
For the easiest installation option, wrap the application to the system native distribution format like

- deb (Ubuntu) - https://github.com/spotify/dh-virtualenv

- Windows store installer

- OSX DMG

Thus, there is no need to educate the users and the installer plays well with the system files.

[2015-11-02 20:46] sils1297 commented on #1017
I do see your point of my solution not playing well with the system files
by installing a global command which is not installed via the package
manager. According to virtualenv, "The basic problem being addressed is one
of dependencies and versions, and indirectly permissions.", this approach
solves this problem. It also touches the system only at one very tiny
point, the executable wrapper.

Nati

[2015-11-04 15:12] Makman2 opened #1032 "ConfParser does a bad job when parsing empty items"
[code]
read this via `coalib.parsing.ConfParser`:
[code]
We want to keep empty matches :O

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27963746-confparser-does-a-bad-job-when-parsing-empty-items?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2015-11-05 06:35] sils1297 commented on #1032
I'm looking at this, not sure we really want to change the behaviour. It makes things incredibly simple.

[2015-11-07 10:38] #739 closed

[2015-11-07 20:58] fneu commented on #923
@sils1297 I summon you and your opinion on this. @AbdealiJK also.

Personally I'm actually rather convinced of our current approach, supporting case sensitivity where the file system does it. This way we support all kinds and combinations of names a user might come up with.

And it is more in line with virtually all common linux command line tools.

Something like (auto)correct might be a better a

[2015-11-07 21:07] fneu commented on #975
@Makman2 @sils1297

well, a long time ago we were planning to use the [python logging}(https://docs.python.org/3.4/library/logging.html) module which would allow us to do a lot of fancy logging stuff without passing a printer around everywhere.

Might we worth another look, but this would probably be quite the task to introduce this everywhere.

[2015-11-07 21:29] fneu commented on #933
thoughts about a bear:

- [ ] A bear must yield results
- [ ] A bear must be able to log stuff - elsewise it's impossible to implement them.
- [ ] A bear must access settings - even such settings that do not yet exist
- [ ] A bear must be able to access the results of (some) other bears.
- [ ] bears should be run in parallel

I'll look into and propose an architecture that provides hopefully all o

[2015-11-07 21:50] fneu commented on #933
settings and dependencies should be expressed in a way that they can be determined before the bear is being run. We rather want to get rid of interactivity here, and, most likely, prepare everything for the bear beforehand.

This kind of conflicts with the goal of making bear-writing as simple as possible.

[2015-11-07 22:09] sils1297 commented on #933
@fneu yeah, I do agree with determining settings before, we can still use the same function signature as we use now. Problem is that the decorators change the signature so you'll have to deal with that.

I'm not sure if we maybe want to allow plugging bears into others dynamically somehow, may be useful for debugging. But really, let's not think about that right now. Determine everything before th

[2015-11-08 08:21] sils1297 opened #1033 "Look at Kythe for Language Independent Code analysis"
see http://www.kythe.io/

could somebody check that out?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28067481-look-at-kythe-for-language-independent-code-analysis?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaig

[2015-11-08 08:26] sils1297 commented on #923
Basically I agree, the most important thing is that the user get's some feedback if there's no bear found and *ideally* a proposal for something he might use with like minor differences or so

[2015-11-08 08:26] sils1297 commented on #919
@Makman2 how's it going? Are we getting this within a week or so? Otherwise I'd reschedule it for the next release I guess.

[2015-11-08 08:28] sils1297 commented on #915
@Makman2 clearing release, this is your task, please reschedule it as it fits your schedule. I'd love to see this getting done somewhen especially since it should probably be needed for the GUI, right?

[2015-11-08 08:29] sils1297 commented on #864
@Makman2 I guess you'll want to move this into PyPrint? Can you write a nice summary of what you want over there and close this?

[2015-11-08 08:31] sils1297 commented on #843
@Makman2 can you please move this over to PyPrint, close this, and write a better summary of what you want? Maybe I'm just too tired but this is confusing me.

[2015-11-08 08:32] sils1297 commented on #842
@Makman2 IMO this isn't really release relevant, I'm happy to have it fixed for the release but it shouldn't be a blocker.

[2015-11-08 08:32] sils1297 commented on #842
plus, @Makman2 please move over to PyPrint :)

[2015-11-08 08:35] sils1297 commented on #792
not sure if this actually makes sense, was just a short idea and in the past I haven't seen really the need for this, so closing this for now.

[2015-11-08 08:35] #792 closed

[2015-11-08 08:37] sils1297 commented on #562
@Makman2 please reschedule this as it fits your schedule, I guess we just won't have full windows support for 0.3 then.

[2015-11-08 08:38] sils1297 commented on #549
this was successfully done - awesome :)

[2015-11-08 08:38] #549 closed

[2015-11-08 08:40] sils1297 commented on #516
@Makman2 why added yo uthe release after my comment indicating that this is not release blocking? (I.e. could you add a comment next time explaining in such situations?)

[2015-11-08 08:40] sils1297 commented on #514
oh this got implicitly fixed :)

[2015-11-08 08:40] #514 closed

[2015-11-08 08:41] sils1297 commented on #491
this actually got a bit better with us applying patches directly so nothing gets lost anymore in case of conflict, just fails. Still an issue but not that important now because the user interaction is kind of implicitly there, maybe we don't want to change it at all.

[2015-11-08 08:42] sils1297 commented on #491
hm, I simply get an error, so that needs message improvement I'd say. Nothing more.

[2015-11-08 17:59] sils1297 opened #1034 "allow to only show NORMAL and MAJOR"
i.e. restrict results

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28074364-allow-to-only-show-normal-and-major?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=is

[2015-11-08 18:01] sils1297 opened #1035 "-A/-B only show user relevant bears only"

[2015-11-08 19:49] sils1297 commented on #1034
we (I) probably want to not do that in ConsoleInteraction but more down below so it's implicitly done, probably at the same place where we exclude hidden results

[2015-11-08 21:40] Makman2 commented on #919
@sils1297 it's difficult like before, progressing a bit slowly. Would be best to move this issue to the next release^^

[2015-11-08 21:42] Makman2 commented on #915
I was working on a prototype for interruptable threads/multiprocessing-processes here:
https://gist.github.com/Makman2/88ac3f8ce5bfcc5237a5
It's not ready yet, but the direction is right I think^^

[2015-11-08 21:51] Makman2 commented on #864
Moved to https://github.com/coala-analyzer/PyPrint/issues/17.

[2015-11-08 21:51] #864 closed

[2015-11-08 21:59] Makman2 commented on #843
I think we just close this and make it up to https://github.com/coala-analyzer/PyPrint/issues/17 to handle docs right^^

[2015-11-08 22:01] Makman2 commented on #842
Moved to https://github.com/coala-analyzer/PyPrint/issues/18.

[2015-11-08 22:01] #842 closed

[2015-11-08 22:03] Makman2 commented on #516
Oh sorry, I don't really remember setting this issue to 0.3 ...
:D

[2015-11-08 22:08] Makman2 commented on #1033
I roughly read the page and I don't understand what they are doing^^ Something about analysis, that they don't want to do, but they support analysis tools in a way that's not revealing for me :/

[2015-11-08 22:09] Makman2 commented on #923
@fneu The auto-correction is definitely the better approach like you said. And in conjunction with bear name proposals the user shouldn't have a problem any more^^

[2015-11-08 22:19] Makman2 commented on #791
Allowing requirements to have a higher version number is better, allows to use an improved version of a package (as long as they don't change API heavily, then we can restrict versions, but cleaner would be to adapt code again).
Also: coala works fine with the newest packages. I would say we deal with specific ones if the need arises.

[2015-11-08 22:21] Makman2 commented on #561
Moving this to 0.4, we don't get the new bear-ecosystem done for 0.3.

[2015-11-08 22:24] Makman2 commented on #187
@sils1297 Would you mind moving this to 0.4?

[2015-11-08 22:24] Makman2 commented on #735
@sils1297 Maybe move to 0.4?

[2015-11-08 22:33] #843 closed

[2015-11-08 22:35] sils1297 commented on #791
They may break API, for stability we should fix versions and update those, rerun tests and commit

[2015-11-08 22:37] sils1297 commented on #187
If I self assign an issue and set its milestone, why do you have anything against me doing it?

[2015-11-08 22:44] Makman2 commented on #187
I think it's just out of scope for 0.3, I don't have anything against you doing this issue :)

[2015-11-09 05:58] sils1297 opened #1037 "Packaging coala"
Hey everybody!

I do have a contact for debian and one for gentoo who might be willing to help us packaging coala. I think sooner or later it'll be great having coala packaged. I'll probably be easily able to find someone helping us with fedora, though python can even create that kind of package automatically.

Any opinions, feedback?

[2015-11-09 11:20] Makman2 commented on #1037
very nice! :D

[2015-11-13 08:57] #1008 closed

[2015-11-13 08:57] #1009 closed

[2015-11-13 09:51] sils1297 opened #1038 "git lint"
https://github.com/sk-/git-lint

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28215661-git-lint?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=g

[2015-11-13 10:04] sils1297 commented on #897
see also https://github.com/sk-/git-lint/blob/master/gitlint/linters.py

[2015-11-13 10:05] sils1297 commented on #897
https://github.com/sk-/git-lint/blob/master/gitlint/configs/config.yaml

[2015-11-13 13:28] sils1297 opened #1040 "annotation bear"
a bear that takes the language definition and annotates each line with simple properties like "from here to there is a comment", "from here to there is a string" and so on. This is intended to be used by other bears for simpler analysis functionality

[2015-11-13 15:03] #1034 closed

[2015-11-13 17:21] sils1297 opened #1042 "indent bear"
use the GNU Indent to indent C code, this is very similar to the bears written in https://github.com/coala-analyzer/coala/pull/1041 and should be a fast and convenient task, anyone interested?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28227468-indent-bear?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_s

[2015-11-13 17:22] sils1297 commented on #1042
see https://www.gnu.org/software/indent/manual/indent.html

hardest part is probably making sure indent is installed.

[2015-11-13 21:38] jnavila commented on #933
This description sounds a lot like some kind of actor system [1] or some kind of Rx[2] . I haven't looked if there was already some existing stuff in python, but that would indeed simplify a lot the code needed to fulfill the checking.

[1]:https://en.wikipedia.org/wiki/Actor_model
[2]:http://reactivex.io/

[2015-11-13 22:18] sils1297 commented on #933
@jnavila cool, thanks for the feedback, we'll look at that.

[2015-11-13 22:52] sils1297 commented on #474
We already have the fix its in our version of the clang bindings, so should be ready to do. I hope I can do it tomorrow.

[2015-11-14 13:15] sils1297 opened #1043 "Move out clang python3 bindings"
We should give it a try and create a pip package for clang python3 bindings if there isn't one already. In any case we should sync with other projects that provide python3 bindings for clang.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28245574-move-out-clang-python3-bindings?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_

[2015-11-14 16:58] sils1297 commented on #474
done! :) please review that, someone! This is a very cool thing to have.

[2015-11-14 17:30] sils1297 commented on #540
I'm still indecisive on that, right now I'm thinking this is bad again. We'll probably have a lot of optional settings, if the user wants to see whats possible he can use `-B`.

[2015-11-14 17:30] #540 closed

[2015-11-14 17:51] sils1297 opened #1044 "drop i18n"
there's no point in translation coala, it's just work. As we're now integrating external tools which are not translated we can never reach a full translation, I'm hereby voting for dropping translations, that should simplify some stuff.

Any thoughts?

[2015-11-14 20:55] sils1297 commented on #1032
ok we'll probably go for a parameter when iterating over it.

[2015-11-15 10:28] sils1297 commented on #187
and here comes the fix, pending review :)

[2015-11-15 12:00] sils1297 commented on #1038
kind of a duplicate of https://github.com/coala-analyzer/coala/issues/897 , in any case this bug is unneeded

[2015-11-15 12:00] #1038 closed

[2015-11-15 12:02] sils1297 commented on #1044
this makes packaging a bit easier, solves a few bugs and simplifies rultor scrips.

[2015-11-15 12:14] sils1297 opened #1047 "Lots of bears around - organization needed"
Hey, as the amount of bear grows (I have 5 new bears ready in a PR) we should start thinking about the following issues:

- We'll want to split off bears in groups, probably grouped by language, into own repositories and make them own pypi packages.
- We'll want a naming convention for bears.

Any input would be nice.

[2015-11-16 07:58] #800 closed

[2015-11-16 08:07] sils1297 opened #1050 "tagging: Create directory only when really needed"
when a permission error gets raises or something else on tag dir creation that shouldn't hard fail coala so we catched and passed it for now, however in the future we'll rather want a nice ERROR log message there and just not do the tagging.

[2015-11-16 12:45] #537 closed

[2015-11-16 14:07] sils1297 opened #1052 "Matlab Code Correction"
I found matlab pretty printing code here: http://stackoverflow.com/questions/4823998/automated-indentation-cleaner-for-matlab-or-octave

Maybe, on the basis of that, we could make pretty printing for a lot of languages available via the coalang definitions? That abstraction reads very useful. Any ideas?

I've approached the author to see if we may use his code.

<bountysource-plugin>
---
Want to b

[2015-11-16 20:13] Makman2 opened #1053 "Diff.py - __add__ should not modify in-place"
Currently `DiffA + DiffB` would modify `DiffA` directly, but it should return a new `Diff`-object without modifying `DiffA` or `DiffB`.

These are the possibilities
1. Rewrite `__add__` not to modify in-place
2. Rename `__add__` to `__iadd__` which addresses the in-place sum operator `+=`
3. Do both!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2015-11-16 22:11] sils1297 opened #1055 "Add local bear test generator"
with invalid and valid file samples

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28299890-add-local-bear-test-generator?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_m

[2015-11-16 22:13] sils1297 commented on #1055
something like

[code]

[2015-11-16 22:21] Makman2 commented on #1055
Ah nice idea for external bear-writers, :+1:

[2015-11-17 11:07] sils1297 opened #1057 "Applying multiple patches on a file"
Actually I think if we apply a patch to a file and introduce an *offset*, and then invoke the ShowPatchAction on another patch it'll show the patch wrongly, ignoring the offset. (Actually applying the patch should work though because patch addition is rather reliable.)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28313807-applying

[2015-11-17 14:03] sils1297 opened #1058 "PyLintBear yields results multiple times"
something's wrong here:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28317846-pylintbear-yields-results-multiple-times?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F222822

[2015-11-17 14:03] sils1297 commented on #1058
also reproducable via gitmate: https://github.com/sils1297/gitmate-test/pull/4

note that both installations use the sils/pep8 branch with all the new bears but I didn't change the PylintBear

[2015-11-17 15:28] sils1297 commented on #1058
oh the first is the function, the second the module docstring. My fault.

[2015-11-17 15:28] #1058 closed

[2015-11-17 18:53] Makman2 opened #1059 "Result.to_ignore - Rename/refactor to something more general"
`Result.to_ignore` mostly checks whether the given ranges overlap with the `affected_code` of the result.
I would generalize the behaviour and change the function name to `overlap(s)`, that makes the function not only useful for the coala-ignoring-results usecase.

Currently `to_ignore` also accepts a bear, I think this could be removed and implemented on function-user-side in the specific context

[2015-11-17 19:15] #187 closed

[2015-11-17 19:23] shiv12095 opened #1060 "Error in coala tutorial. Coala failed to apply automatic patch"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28327673-error-in-coala-tutorial-coala-failed-to-apply-automatic-patch?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&ut

[2015-11-17 19:46] Makman2 commented on #1060
confirmed
coala asks again what action to perform after applying diff. The diff is applied and so not valid any more.

[2015-11-17 19:49] Makman2 commented on #1060
@shiv12095 thanks for reporting this bug :)

[2015-11-17 20:52] shiv12095 opened #1061 "Error while running ClangASTPrintBear"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28330572-error-while-running-clangastprintbear?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_sour

[2015-11-17 21:24] sils1297 commented on #1060
Hey,

Thanks for reporting this! Any feedback or bug reports, especially related
to newcomer material is greatly appreciated.

This functionality is kind of intended. We have a very flexible action
system, so some actions might make sense to apply repeatedly. What I
conclude how we could improve here is:

A) introduce a property of actions that are only applicable once, remove
them from the choice

[2015-11-17 22:44] sils1297 commented on #1061
@shiv12095 if you need the AST in the meantime, clang can print it to you directly, the ClangASTPrintBear was more of a playground for me to try out what I can do with clang when I wrote the code clone detection and has no real advantage or usecase.

[2015-11-18 07:11] shiv12095 commented on #1061
@sils1297 I was just trying to run some sample bears to get a basic idea of coala. There is no real urgency for me to use this. This was just an issue I saw and thought I should get it your notice.

The following is the link for the main.c file:
https://gist.github.com/shiv12095/951d5140b27f9dca1bf8

[2015-11-18 07:15] sils1297 commented on #1061
@shiv12095 actually I was just looking at this, behind this is an actual issue: the ClangASTPrintBear returns nothing and right now we don't have handling for None (i.e. no return) returned from a bear which is the underlying issue. Thanks for reporting, I missed that in commit 2a41e630 .

[2015-11-18 07:20] sils1297 commented on #1061
@shiv12095 this bug should be solved by https://github.com/coala-analyzer/coala/pull/1062 . Want to test it out? (It's on the `sils/ast` branch) I'll just wait for a review from somebody before I will merge it into master.

[2015-11-18 07:22] sils1297 commented on #1060
@shiv12095 can you please also confirm that/if the patch actually got applied?

[2015-11-18 07:26] shiv12095 commented on #1060
@sils1297

A combination of points A and B would be more intuitive and helpful.

So you could give a confirmation message saying "Patch <Patch Name> has been successfully applied" Since some actions can be applied multiple times, you should continue giving that but actions that are no longer available should be removed from the list of possible actions.

The patch worked fine

[2015-11-18 07:34] sils1297 commented on #1060
@shiv12095 cool! I've added a success message for now at https://github.com/coala-analyzer/coala/pull/1063 , more will follow. The other thing is a bit nifty to do right I think.

[2015-11-18 07:37] shiv12095 commented on #1060
The confirmation message should suffice for now. The other feature is not urgent at the moment

[2015-11-18 07:38] sils1297 commented on #1060
@shiv12095 it's almost ready anyway, just need to write the tests and you'll get it

[2015-11-18 07:47] shiv12095 commented on #1061
@sils1297 Checked out the code from your branch and tested it. Works fine now

[2015-11-18 07:49] sils1297 commented on #1061
@shiv12095 would you mind taking a look at https://github.com/coala-analyzer/coala/commit/065c62514b5f8a8d58da5b265c572ed994e89d6f ? If you think it is sane, comment it with "ack". The code has already been automatically verified and tested against windows linux and mac.

[2015-11-18 08:00] shiv12095 commented on #1061
ack

[2015-11-18 08:16] sils1297 commented on #1061
@shiv12095 I meant right on the commit, thanks, I'll put it there for you. (We have a bot that sets the commit status which is required for merging.)

[2015-11-18 08:19] sils1297 commented on #1061
solved, merged, auto-released at https://pypi.python.org/pypi/coala/0.3.0.dev20151118081722

Thanks!

[2015-11-18 08:19] #1061 closed

[2015-11-18 08:24] sils1297 commented on #1060
ok takes a little longer but we'll get to it within a few days I guess.

[2015-11-18 12:48] sils1297 opened #1064 "ConsoleInteraction: Reevaluate is_applicable after applying actions"
e.g. patches might become invalid

[2015-11-18 12:51] sils1297 commented on #1060
This bug will be marked closed when aaca9a5 gets merged. I filed https://github.com/coala-analyzer/coala/pull/1063 for the applicability of actions reevaluation. I wrote https://github.com/coala-analyzer/coala/commit/80c2d5529b96ed747062746cc129849bc111713f which is a bit more sophisticated then just checking if an action was already applied: it checks if there will be conflicts before offering th

[2015-11-18 12:51] sils1297 commented on #1060
However in any case the user will still be able to *show* the patch.

[2015-11-18 13:45] #1053 closed

[2015-11-18 13:45] #1057 closed

[2015-11-18 14:24] sils1297 commented on #1052
done and merged

[2015-11-18 14:24] #1052 closed

[2015-11-18 14:39] Makman2 opened #1065 "Let an Action define a result message"
Currently every action returns "The action was executed successfully." I think we could improve this a bit if we want finer graded messages, i.e. for applying diffs the message could be "Diff applied successfully."

[2015-11-18 15:33] sils1297 opened #1066 "coala-ci doesn't use fail_aqcuire_settings"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28360979-coala-ci-doesn-t-use-fail_aqcuire_settings?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=

[2015-11-18 15:36] #1060 closed

[2015-11-18 15:39] sils1297 opened #1067 "checkstyle bear"
java checkstyle

[2015-11-18 15:49] sils1297 commented on #1044
Three people in this room voted unanimously for dropping i18n.

[2015-11-18 16:21] Makman2 opened #1069 "SourceRange should only allow "real" ranges"
Currently `SourceRange` supports setting `None` here and there in some constructors to allow special meant constructs (like no given end-position means it's the same like start position).
I would go for a strict approach, a source range must be completely defined by a start and an end position (no `None`s somewhere).

To still support the "old" special constructs, I would go for additional conveni

[2015-11-18 22:10] sils1297 commented on #975
@fneu any advantage of the python builtin logging?

[2015-11-19 06:43] #1014 closed

[2015-11-19 06:44] sils1297 commented on #293
Dropped i18n, not longer a valid bug.

[2015-11-19 06:44] #293 closed

[2015-11-19 06:47] sils1297 commented on #935
Because we use a chunk of messages that are not translatable because the come from external sources and the need of focus we have decided to drop localisation which renders this bug... Not a bug.

[2015-11-19 06:47] #935 closed

[2015-11-19 08:18] sils1297 opened #1072 "let bears figure out if they're able to run"
e.g. if indent isn't installed IndentBear still claims to work and simply deletes everything - that's bad!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28391149-let-bears-figure-out-if-they-re-able-to-run?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](

[2015-11-19 08:19] muelli commented on #935
:(

[2015-11-19 12:18] sils1297 opened #1074 "PHP_CodeSniffer integration"
http://pear.php.net/package/PHP_CodeSniffer

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28396192-php_codesniffer-integration?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228

[2015-11-19 12:18] sils1297 opened #1075 "mdast markdown correction bear"
see https://github.com/wooorm/mdast-lint/issues/29#issuecomment-157879379 , this can reformat markdown which we can use to autocorrect markdown.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28396215-mdast-markdown-correction-bear?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bou

[2015-11-19 15:33] sils1297 opened #1076 "undescribable bug"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28401780-undescribable-bug?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github).
</bounty

[2015-11-19 15:33] sils1297 commented on #1076
ah we need to use a log printer, not a console printer here, is probably easy to fix

[2015-11-19 15:37] sils1297 opened #1077 ""Action successful" gets printed when action was not successful"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28401992-action-successful-gets-printed-when-action-was-not-successful?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&ut

[2015-11-19 21:33] sils1297 opened #1078 "mdast/alex integration"
https://github.com/sindresorhus/SublimeLinter-contrib-alex/blob/master/linter.py

regex will also work for mdast lint

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28419066-mdast-alex-integration?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2015-11-20 08:51] wooorm commented on #1078
:+1:

[2015-11-20 08:55] sils1297 commented on #1078
This is blocked by https://github.com/wooorm/alex/issues/61 though.

[2015-11-20 09:09] sils1297 commented on #1078
helpful code: https://github.com/sindresorhus/SublimeLinter-contrib-alex/blob/master/linter.py

[2015-11-20 09:17] sils1297 commented on #1075
Blocked by https://github.com/wooorm/mdast/issues/90 , CCing @wooorm .

[2015-11-20 11:19] justuswilhelm commented on #933
Is this issue open to be worked on by new contributors?

[2015-11-20 11:23] sils1297 commented on #933
@justuswilhelm kind of, I wouldn't recommend starting with this one, it's a particularly hard thing. If you're interested please sync with us at https://gitter.im/coala-analyzer/coala .

[2015-11-20 11:58] sils1297 commented on #1066
Actually this is a bug in coala.py of the default parameter of the coala_main routine. It does nothing by default while it could use the fail_acquire_settings method. To reproduce, use a section with e.g. the SpaceConsistencyBear and don't provide the use_spaces setting, when executing any noninteractive coala binary, you'll get:

[code]

[2015-11-20 11:59] sils1297 commented on #1066
s/coala.py/coala_main.py/g

Solution is pretty straightforward: use the fail_aqcuire_settings method in run_coala as default argument for run_coala, that should fix it. Ideally add a testcase in coalaTest.

[2015-11-20 12:03] sils1297 commented on #1042
I actually did this but forgot the fixes notice.

[2015-11-20 12:03] #1042 closed

[2015-11-20 14:29] sils1297 opened #1079 "use linguist to guess language"
when we implement settings guessing we may want to use https://github.com/github/linguist to guess languages.

[2015-11-20 19:50] sils1297 commented on #1078
@wooorm how do I install alex on windows? https://ci.appveyor.com/project/sils1297/coala/build/1.0.2091/job/6v0ejnkfpoahevqe the  `npm install --global alex` doesn't seem to work, see build log.

[2015-11-20 19:56] sils1297 commented on #1078
@wooorm The most difficult thing seems to be installing alex on our CI, can you take a look? AppVeyor is the windows CI, CircleCI is Linux and Travis does Mac.

[2015-11-20 20:42] wooorm commented on #1078
Hmm, no experience with Windows and node/npm, other than that it *should* work (I’ve heard of people using alex on Windows). Also, the logs don’t show any failures so I couldn’t detect any hints for what might be going wrong.

Maybe it’s a possibility to not instal alex globally, but rather locally?! `npm install alex` would install the alex executable to `node_modules/.bin/alex`.

[2015-11-20 21:39] sils1297 commented on #1078
Our CI systems run on Ubuntu which should have the old node version. I guess upgrading this via custom PPA will solve that.

[2015-11-20 21:48] wooorm commented on #1078
I’m guessing people using node themselves would upgrade from those low Node version ranges to higher versions (alex is definitely *not* the only module which breaks in 0.10). This of course leaves out people who don’t use Node themselves, but I’m hoping it be marginal :anguished:

[2015-11-22 12:21] fneu opened #1082 "Use PEP8 conform line lengths"
Our docs allow 79 chars excluding newline,

default setting max_line_length is set to 80

running `coala -S PythonCheck.max_line_length=79` gives various errors with

default gives no errors, so there is also a bug in LineLengthBear showing 81.

ALSO: PEP8 mentions constraining comments and docstrings to to 72 chars, what about that?

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2015-11-22 12:28] sils1297 commented on #1082
We ignore that for the LineLengthBear at least for now. KISS.

[2015-11-22 12:52] fneu commented on #1082
@sils1297 still, we wanna go to 79 or keep 80?

[2015-11-22 12:53] sils1297 commented on #1082
@fneu I'd go for 79 plus `\n`, that belongs to the line IMO. We should clarify that in the docs.

[2015-11-22 12:54] fneu commented on #1082
@sils1297  it's fine in the docs

[2015-11-22 13:25] sils1297 commented on #1082
I mean in the documentation comment of the LineLengthBear

[2015-11-22 14:47] Makman2 commented on #1082
In fact we are PEP conform, we keep below 80 chars per line :)
(except for docstrings :P)

[2015-11-22 16:03] #1066 closed

[2015-11-22 16:50] fneu commented on #1082
@sils1297 @Makman2 no, PEP allows 79+1 chars per line and we are not consistently following that.

see ConsoleInteraction.py line 440:

those are 80 +1 chars (80 visible and a new line), which is neither allowed according to PEP8 nor our code style document. I know it's nitpicking, but since Lass helpfully assigned me to it I am fixing it atm.

[2015-11-22 17:00] sils1297 commented on #1082
:D you reported it and helpfully assigned me so I thought I'd return the favour :)

[2015-11-22 17:03] fneu commented on #1082
@sils1297 tbh. I mostly just wanted you to notice it ;)

[2015-11-22 17:06] sils1297 commented on #1082
@fneu in those cases you usually want to @ people, right?

[2015-11-22 17:08] fneu commented on #1082
@sils1297 yeah but mentioning you in the initial message would somehow looked improper in front of the others... I could have added a comment but by now I'm pretty used to assigning stuff to you...

[2015-11-22 21:15] Makman2 opened #1084 "Protect file-contents from bear-writers"
It could accidentally happen that you modify the passed content (especially if you get split-up lines which is a list-instance). Only patch-results should be allowed to write contents of files.

How to solve this problem?
Use a proxy object for the bear-writer, so file contents are read-only.

[2015-11-22 21:22] sils1297 commented on #1084
Actually not even that. coala has the file_dict internally and gives proxy objects to the bears. They *never* modify the file. They only provide `Diff` objects. At a later stage the Result Actions can modify the actual file diff, there's no need for a non-read-only proxy for bears.

[2015-11-24 21:41] fneu opened #1089 "coala crashes under certain circumstances"
I noticed this by accident, might be worth investigating. Pushed the respective branch as #1088.

(not always) reproducible crash:

* run coala with `./coala`
* on the first result shown choose the option to manually edit (crashed for me on kwrite and vim, not kate though)
* delete line 259
* save and close
* choose no further options

[code]

yep... there is nothing that might help investigating.

[2015-11-24 22:14] sils1297 commented on #1089
We definitely need to correct that message, what's on the debug channel?

[2015-11-26 12:37] Makman2 opened #1091 "CorrectionBasedBear: Needs refactor"
1. The name is imo to general and means in coala's context nearly nothing (the bear is correction based, yeah, nearly everything is correction based in coala...).
2. Using public variables to set external tool and its settings: Even you can modify everything in python, it's still not good since it suggests a "public" variable and encourages changing this value during runtime. Imo better would be a

[2015-11-28 17:51] #1032 closed

[2015-11-28 17:51] #1082 closed

[2015-11-28 18:10] sils1297 commented on #1075
not easy because of CI actually, I'm on this one currently

[2015-11-28 18:10] sils1297 commented on #474
done

[2015-11-28 18:10] #474 closed

[2015-11-28 18:11] sils1297 commented on #561
Not milestone relevant and we don't know when the new bear design is goig to happen.

[2015-11-28 20:54] #1076 closed

[2015-11-28 20:54] #1077 closed

[2015-11-28 21:44] Makman2 opened #1096 "Tests executing infinite loop still consume CPU after CTRL+C"
The `multiprocessing.Process` executing the unittest keeps alive. I registered that my fan didn't stop cooling the CPU even after canceling the process. And indeed inside the system monitor the python3 application was still running.

Workstation: Fedora 22, Intel i7 3GHz quad-core CPU

Can somebody confirm this?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-11-28 21:50] Makman2 commented on #1096
On branch https://github.com/coala-analyzer/coala/tree/Makman2/infinite-loop-consumer
just execute
`./run_tests.py -t DocumentationExtractionTest`
cancel it via CTRL+C and look into the system monitor whether the test process is still alive (or listen to your cooler :D)

[2015-11-28 21:52] sils1297 commented on #1096
![we_dont_want_this_fixed](https://imgs.xkcd.com/comics/workflow.png)

[2015-11-30 08:21] sils1297 commented on #1075
closing in favour of https://github.com/coala-analyzer/coala/issues/1078 which is similar, they have the same problem, us having to use JS in the CI, and both already work locally

[2015-11-30 08:21] #1075 closed

[2015-11-30 08:22] sils1297 commented on #1078
We probably want to install alex and mdast on setup time into a local directory and our bear can just use that.

[2015-11-30 08:24] sils1297 commented on #1055
ah we have this already :)

[2015-11-30 08:24] #1055 closed

[2015-11-30 08:26] sils1297 commented on #941
we don't have i18n anymore.

[2015-11-30 08:26] #941 closed

[2015-11-30 08:28] sils1297 commented on #849
i18n was removed

[2015-11-30 08:28] #849 closed

[2015-11-30 08:32] sils1297 commented on #1035
at the same time at least in `-B` we'll want to reveal configuration options of dependent bears, so probably we only want to restrict display fo `-A`, see also https://github.com/coala-analyzer/coala/issues/623

[2015-11-30 08:34] sils1297 commented on #497
we use inspect.cleandoc since a long time, formatting won't be parsed because we're on the CLI usually anyway

[2015-11-30 08:34] #497 closed

[2015-11-30 08:35] sils1297 commented on #495
superseeded by https://github.com/coala-analyzer/coala/issues/1084 , which should solve this bug.

[2015-11-30 08:35] #495 closed

[2015-11-30 08:35] sils1297 commented on #1084
We should also take binary data (see https://github.com/coala-analyzer/coala/issues/495 ) for this one into consideration.

[2015-11-30 08:36] sils1297 commented on #225
similar to our matlabindentationbear

[2015-11-30 08:40] sils1297 commented on #1096
@Makman2 seriously, could we maybe just close this? I'm against having bugs filed against WIP states of people, bugs are serious, while your stuff isn't merged you probably have a lot of bugs and this is not the right place to track them.

[2015-11-30 08:42] sils1297 commented on #1096
@Makman2 yes, I can reproduce that on your branch on linux. You should take a close look at that :)

[2015-11-30 10:40] sils1297 commented on #1089
@fneu I can't reproduce this:

[code]

[2015-11-30 16:05] sils1297 commented on #1043
apparently we're coming somewhere: https://bitbucket.org/Anteru/python3-libclang/issues/1/pip-package

@Makman2 do you have time to help me with that? Or @fneu?

[2015-12-02 22:46] Makman2 opened #1101 "Bear debugging: Add Pdb integration!"
This would be really cool to tightly integrate bear debugging with the built-in debugger from python Pdb.

Thinking of something like
- jumping directly into the bear code
- easy settings investigation
- result inspector (/similar)?

Pdb is documented here (for Python 3.4, other versions exist too obviously :D):
https://docs.python.org/3.4/library/pdb.html

[2015-12-02 22:49] Makman2 commented on #1101
For "jumping directly into bear code": If starting coala in debug mode for a specific bear, use the `pdb` module directly to start a debug session (via `pdb.run`) so the user doesn't need to load the module manually with python on startup (via `python3 -m pdb ...`)

[2015-12-03 07:08] sils1297 commented on #1101
I've put a little time into https://github.com/coala-analyzer/coala/issues/565 , which is related, and found that it's not easy ;) It's not hard but I wouldn't say this is something for somebody completely new, which is the easy tag for me.

[2015-12-03 09:58] sils1297 opened #1102 "tern javascript analysis"
http://ternjs.net/

@Makman2 this sounds easy and would be *very* attractive, time to look at that?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28811659-tern-javascript-analysis?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.c

[2015-12-03 10:09] sils1297 opened #1103 "Brakeman Ruby on Rails Security Scanner"
Another beary: http://brakemanscanner.org/ , should be also fairly easy

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28811941-brakeman-ruby-on-rails-security-scanner?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campa

[2015-12-03 12:53] Makman2 commented on #1102
@sils1297 since it's easy and the linter bear is imo more important since it simplifies external tool usage, keep this open, maybe a newcomer takes this one up :)

[2015-12-03 13:18] sils1297 commented on #1103
apparently brakeman wants a ruby project definition lying somewhere, making this a bit more complicated

[2015-12-03 14:02] sils1297 opened #1104 "clang doesn't find stddef.h"
A bug related to all clang bears.

https://stackoverflow.com/questions/19642590/libtooling-cant-find-stddef-h-nor-other-headers/23314921#23314921

[2015-12-03 14:12] sils1297 commented on #1104
it works for me with `clang_cli_options=-I,/usr/lib/clang/3.7.0/include`, but that's version specific, maybe we can bake something from that

[2015-12-03 14:14] sils1297 opened #1105 "ClangBear doesn't pick up Diagnostic.location"
If the ClangBear get's a diagnostic like `<Diagnostic severity 2, location <SourceLocation file b'/home/lasse/prog/heap/heap.h', line 40, column 1>, spelling b'control reaches end of non-void function'>` , that one has no clang range *but* a clang position. We currently only look at that range and not at the position, while we probably want to take the position *if the range is empty*.

Should be

[2015-12-03 14:34] sils1297 commented on #1104
related bug: https://github.com/drothlis/clang-ctags/issues/5 , though they have no solution yet. Maybe we could solve that in the cindex? I'm still waiting for the python3 clang bindings to appear as a pip package.

[2015-12-06 07:40] AbdealiJK commented on #897
Has anything been done in this ? Or can I continue it ?
Have you spoken to sk- ? I notice emails were exchanged.

[2015-12-06 07:59] AbdealiJK commented on #1089
I cannot reproduce the error either (I tried it 5 times).

I notice that in @fneu 's error message, there is no `#` before the `ddddd...`. Could the error be because of this ? The line in question may have been run which would have given a unexpected indent or some other trivial error ? I cannot check this because the ResultFilter.py doesn't seem to exist in the current code at master.

[2015-12-06 08:03] AbdealiJK commented on #1021
I didn't understand this much. could you elaborate on what exactly it means ?
Are you saying you want helper functions that do basic things you'd want with diffs ?

[2015-12-06 08:07] AbdealiJK commented on #562
I notice a lot of things have been done to cut out unnecessary things (like translations). Is supporting windows still a priority ?

[2015-12-06 08:12] AbdealiJK commented on #965
Woah, let's not look for a python package. It's muuch simpler to let javascript do this.
[highlighting.js](https://highlightjs.org/) , [SHJS](shjs.sourceforge.net) , [etc](http://www.webdesignbooth.com/9-useful-javascript-syntax-highlighting-scripts/)
The javascript based libraries would be more maintained because they're just way more popular, and it makes sense to use a JS library as it's in a b

[2015-12-06 08:17] AbdealiJK commented on #289
I think it makes much more sense to use a nice pre existing config file handler for these things.
IIRC, the reason we made our own Config handler rather than python's was because it didnt exist in python 3.2 .... maybe we want to look into the config file again ?

May want to look into other things like yaml etc also - which would give nice(r?) indentation blocks and allow these in a intuitive blo

[2015-12-06 09:28] sils1297 commented on #289
That's some refactoring, I currently don't have time for this and our config parser works fairly well right now. We can add a yaml/json/editorconfig/whatever parser easily btw., however we're currently not really supporting recursive structures, just sections, keys and values. @AbdealiJK if you have thoughts about new parsers, please open a new bug.

The way forward for this bug is IMO to simply u

[2015-12-06 09:29] sils1297 commented on #965
@AbdealiJK good thought!

[2015-12-06 09:30] sils1297 commented on #562
@AbdealiJK as long as @Makman2 supports us on windows support will stay, in general it's a good thing because lots of companies are using windows even for software development, being able to use coala there is in principle a good thing. However I won't push a lot of time into this and we probably won't reach full continuous integration, only for the core modules, like we have now.

[2015-12-06 09:34] sils1297 commented on #1021
@AbdealiJK no. I want two things:

1. Sometimes you need a value from the user to generate a patch. Say you have a bear that detects badly named variables, it would be easy to generate a diff with that bear *if* you know what the new variable name should be which you don't want to determine automatically. A solution would be to let bears pass a function or something like that, which generates a di

[2015-12-06 09:37] sils1297 commented on #897
@AbdealiJK nothing in there that would help here. The important part is that he seems to have found a nice format to write down linter specs, maybe we can do something similar/the same.

[2015-12-06 18:45] Makman2 commented on #562
I like to keep this as a reminder, but as @sils1297 stated it's more priority to get functional stuff working, and Windows is "known to work" so it should fit :)

[2015-12-06 18:46] Makman2 commented on #1021
Btw @sils1297 we have now unified diff, you want it still better? Highlighting works good and I have no problems currently to understand a patch^^

[2015-12-06 18:52] sils1297 commented on #1021
Why does nobody understand what I mean... can you read my last comment or
is it so confusing?

2015-12-06 19:46 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2015-12-06 20:08] Makman2 commented on #1021
ah okay yeah I've misunderstood, so you want a more interactive behaviour, right?

[2015-12-07 08:53] AbdealiJK opened #1108 "Bears seem to be running multiple times"
I'm not sure if this is expected or not.
When I run coala on a single file, and show the DEBUG log_level, It says
[code]

Why is it running the bear twice ? I gave a print statement in the bear and the bear seems to be running the print statement twice.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28910107-bears-seem-to-be-

[2015-12-07 09:02] sils1297 commented on #1108
Hey, print out the filename?

[2015-12-07 09:10] AbdealiJK commented on #897
I spent majority of my night planing and designing a wonder class which could handle all the linters and I finally decided I was going crazy.
So, I decided to keep it simple. I'm going to go at the linters one by one and all features to out abstracted Linter class as and when new features are needed.

https://github.com/coala-analyzer/coala/pull/1109 is my attempt to abstract the Pylint, I'll add

[2015-12-07 09:13] AbdealiJK commented on #1108
AH. sorry. There was a hidden file which I did not notice in the directory.
Nevermind.

[2015-12-07 09:13] #1108 closed

[2015-12-07 15:17] sils1297 commented on #1102
covered in https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:17] #1102 closed

[2015-12-07 15:17] sils1297 commented on #1103
covered in https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:17] #1103 closed

[2015-12-07 15:17] sils1297 commented on #1074
covered in https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:17] #1074 closed

[2015-12-07 15:17] sils1297 commented on #1078
covered in https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:17] #1078 closed

[2015-12-07 15:19] sils1297 commented on #897
@AbdealiJK for mdast/alex there's already a WIP commit: https://github.com/coala-analyzer/coala/pull/1080 , the problem is that I'm not good at JS and installing that stuff globally is hard because there e.g. is already an alex binary on our CI systems, so we may want to pull them down during setup or so?

[2015-12-07 15:19] sils1297 commented on #747
covered in https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:19] #747 closed

[2015-12-07 15:21] sils1297 commented on #403
for now this'll be covered by https://github.com/coala-analyzer/coala/issues/897 and the already existing clang and indent bear.

[2015-12-07 15:21] #403 closed

[2015-12-07 15:21] sils1297 commented on #329
not happening soon, for now we're focusing on integrations with others.

[2015-12-07 15:21] #329 closed

[2015-12-07 15:21] sils1297 commented on #310
not happening soon, focusing on https://github.com/coala-analyzer/coala/issues/897

[2015-12-07 15:21] #310 closed

[2015-12-07 20:11] #1105 closed

[2015-12-08 03:46] AbdealiJK opened #1110 "Lazy diff creation"
I'm wondering if this is feasible - I'd rather that bears don't create diffs when making the result.
This is kind of unusual because the user may not want the diff to be created. Only when he chooses the action to fix itself, should the diff be requested from the bear and that's when the bear should create it.

It would make processing faster.

<bountysource-plugin>
---
Want to back this issue? **

[2015-12-08 04:52] AbdealiJK commented on #965
http://jshint.com/ uses code-mirror. I like their website, nice and simple + demonstrates the application well.

[2015-12-08 13:31] AbdealiJK opened #1111 "Make LocalBearTestHelper robust"
Currently, `LocalBearTestHelper` simply checks if there are results that are yielded or not.
Would be considerably better is we give it a list of line, cols where the result should yield in a given file.

[2015-12-08 13:32] AbdealiJK opened #1112 "Using terminal icons"
I was just using `alex` and it has these nice little terminal icons like the tick-mark, wrong mark, invalid symbol, etc. I guess these are in unicode. Would be nice if we can check if it's supported in a terminal and use it - gives a bit of variety.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28947645-using-terminal-icons?utm_cam

[2015-12-08 13:46] sils1297 commented on #1112
@AbdealiJK could you make a sample output? I don't see the real advantage, looks more like a lot of work with nobody really wanting this :/

[2015-12-08 13:48] sils1297 commented on #1111
@AbdealiJK I think we should support both, it's nice to have those simple tests sometimes IMO

[2015-12-08 13:59] AbdealiJK commented on #1111
Yes, i meant it as an optional thing

On Tue, Dec 8, 2015 at 7:18 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-12-08 14:00] AbdealiJK commented on #1112
What do you mean by a sample output ?
It's not functionally helpful - but would look nice (for example when we
added the color support)

On Tue, Dec 8, 2015 at 7:16 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2015-12-08 14:04] sils1297 commented on #1112
You say it would look nice so a sample output would be a mockup or so that
shows how it would look so we can decide if it's worth the effort ;)

2015-12-08 15:00 GMT+01:00 AbdealiJK <notifications@github.com>:

[2015-12-11 20:51] sils1297 commented on #1111
The helper should also create the actual files so it can be used well with linters that use file input.

[2015-12-11 22:40] sils1297 opened #1115 "Merge CorrectionBasedBear into Lint"
@AbdealiJK I think that would be good. CorrectionBasedBear also has some logging features.

[2015-12-11 22:41] sils1297 commented on #1091
we have https://github.com/coala-analyzer/coala/issues/1115 instead

[2015-12-11 22:41] #1091 closed

[2015-12-11 22:50] sils1297 commented on #1115
Maybe we can make a function `get_output(cmd_array, stdin: str=None)` which get's us `stdout, stderr` as strings for the command with the args and optionally the std input

[2015-12-12 00:02] sils opened #1117 "affected code doesn't get jsonified correctly"
Important bug which we should fix ASAP! Example:

[code]

As you can see there's no `start` or `end` property in the JSON.
- [x] @Makman2 can you look into this also? You broke it with the TextRange thing I guess.
- [ ] We need a test against our JSON output.

[2015-12-12 00:03] sils1297 commented on #1117
(I love gitmate autolabelling.)

[2015-12-12 00:04] sils1297 commented on #1117
might be solvable with https://github.com/coala-analyzer/coala/issues/1024

[2015-12-12 05:40] AbdealiJK commented on #917
Could you elaborate ? which classes have you seen with constants that can be moved out ?
Should they be in Constants.py or just outside the class ?
Or will they be members in the class with capitals ?

[2015-12-12 05:45] AbdealiJK commented on #1040
I think we may want a abstracted AST bear ?
Something that just creates ASTs (using pre existing packages) and let's each bear do things with them.

[2015-12-12 05:50] AbdealiJK commented on #1017
I think it depends on whether the person is making something in python or now. For example when I'm coding in coala and I need to install a nodejs package - i dont really care if it's globally installed. If I want a ruby package - same thing - i dont really mind it being global. But when I install a python package, i'd prefer local because I need to manage those packages while testing and debuggin

[2015-12-12 09:31] sils1297 commented on #917
Currently we have the `Constants` class which holds the constants as static members, I think that's pretty useless. We can simply declare the constants at module level, in `Constants.py` directly.

[2015-12-12 09:34] sils1297 commented on #1040
The idea with this one was more simple, a real universal AST isn't really viable so the idea was that we have some light annotations here and provide some graphs and other language independent representation at other places so some algorithms might use different abstractions. Or we could try making an extensible AST later.

[2015-12-12 09:38] sils1297 commented on #1024
@fneu apparently `dir` also gives us the member functions, i.e. if we have a function `from_values` we'd have that in the JSON, so we need to exclude functions that are no properties

[2015-12-12 09:52] sils1297 commented on #1117
https://github.com/coala-analyzer/coala/pull/1118 fixes the bug so we only need a test after that is merged.

[2015-12-12 10:34] sils1297 commented on #1117
fixed the bug, test remains to do

[2015-12-12 10:46] AbdealiJK commented on #510
We could enable pylint - but not use some of the things we dont need. i.e.be conservative about which options we enable in pylint.
I remember a lot of the conventions in pylint didn't directly work for us.
This would atleast enable basic checks like space around operators which pylint has.

[2015-12-12 11:05] #1024 closed

[2015-12-12 17:01] sils1297 opened #1124 "results: show file path related to coafile"
I think in the output we should show the file path relative to the coafile, i.e. relative to the project root. *Maybe* provide an option to show full paths.

At least gitmate would like this...

[2015-12-12 19:36] Makman2 opened #1126 "run_tests.py: Add placeholder for another digit of test count"
[code]
Could look nicer :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29073080-run_tests-py-add-placeholder-for-another-digit-of-test-count?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-12-12 21:14] sils1297 opened #1129 "generate skip function automatically"
we could generate the skip_test

like `skip_test = generate_skip_test(MarkdownBear.BINARY)`

or with https://github.com/coala-analyzer/coala/issues/1072 we could use that automatically ideally...

[2015-12-13 10:41] sils1297 commented on #1104
We're not far from using the clang bindings package. That'll make things simpler.

[2015-12-13 10:41] sils1297 commented on #1104
I hope...

[2015-12-13 13:31] sils1297 opened #1130 "JSONFormatBear: Parse exception message"
Would be a nice feature to show line and column automatically, instead of having it in the message:

`This file does not contain parsable JSON. 'Expecting property name enclosed in double quotes: line 2 column 7 (char 8)'`

[2015-12-13 13:36] sils1297 commented on #897
@AbdealiJK about the auto fixers: we could take Autopep8 or so, run only one correction at a time and then we get the issue descriptions to the fixes. (We talked about this but never wrote that down)

[2015-12-14 11:04] AbdealiJK opened #1132 "File in SourcePosition should use `abspath`"
The file in SourcePosition currently doesnt getnormalized using abspath - this is bad because when comparison wouldnt work beterrn two SourceRanges because the path given may not be the same (although the files are same)

Eg:
paths like `/a/b/c` and `/a/d/../b/c` are the same but SourceRange doesn't think they are the same

[2015-12-14 12:08] Makman2 opened #1133 "Processing.instantiate_processes: Return local and global bear list instead of in-place modification"

[2015-12-14 13:06] #1072 closed

[2015-12-14 14:54] #947 closed

[2015-12-14 21:06] #1126 closed

[2015-12-14 22:18] #972 closed

[2015-12-14 22:20] sils1297 commented on #1129
Ok, now we have the `check_prerequisites`, we could easily generate a skip for bears using that, simply instantiate the bear and if runtime error was raised grab the log message as skip reason.

@Makman2 can you do this? This should be quick for you and very useful.

[2015-12-16 23:34] Makman2 opened #1140 "DocumentationFormatBear"
The documentation extraction routines are ready now, what needs to be done next:
1. documentation parsing machinery:
   This should work with regexes or similar. Also this shall be configured for each language inside a coafile!
2. documentation reassembling:
   Shouldn't be problematic using the current `DocumentationComment` class. Just a nice function like `assemble_documentation_comment`/simila

[2015-12-16 23:42] Makman2 opened #1141 "`DocstyleDefinition`: Accept a single marker set also"
Via the normal constructor or a class method.

[2015-12-16 23:44] Makman2 opened #1142 "`DocstyleDefinition`: Use type-checks"
Via `@enforce_signature`. Be careful not to restrict iterable types, a list is iterable like a tuple!

[2015-12-17 00:46] Makman2 opened #1143 "PHP and Objective-C missing for "doxygen.coalang""
The doc-extraction specification does not contain PHP and ObjC, but they are supported from doxygen.

We need just to lookup the doxygen specification and extend our one^^

[2015-12-17 01:46] theandrewdavis opened #1144 "cpplint integration"
Hi, I'm maintaining the fork of the Google C++ style guide checker cpplint that's on pypi. @sils1297 got in touch with the former maintainer asking for some help with coala integration ([issue here](https://github.com/tkruse/cpplint/issues/3)). Just wanted to drop a note that if y'all are still looking to pursue it, I'm happy to help.

Cheers!

<bountysource-plugin>
---
Want to back this issue? **

[2015-12-17 06:27] sils1297 commented on #1144
Hi @theandrewdavis , thanks for getting in touch! This is definitely interesting for us. Would you mind joining https://gitter.im/coala-analyzer/coala for a chat?

[2015-12-17 07:00] sils1297 commented on #1144
@AbdealiJK have you started working on cpplint yet? You want to check up on this or shall I?

I can think about making a collection of bears, each of which holds a routine from cpplint, I.E. a really deep integration, so cpplint can drop the whole issue suppressing, CLI and so on making maintenance easier for them. That is assuming they're interested in that. For that we'd ideally solve #1047 so i

[2015-12-17 07:12] AbdealiJK commented on #1144
I've not really worked on cpplint (I've not checked out the linter either)

My opinion: I'd rather that cpplint give something in the form of a json like
[code]
And we make linter class read that and make auto correct Diffs for each result.

I think you should do it if you're free - I'm looking at `autopep8` and will continue that for the time being.

[2015-12-18 21:42] theandrewdavis commented on #1144
@AbdealiJK cpplint has a couple of ways it can output errors already, so it wouldn't be a big deal to add a json output if that's what y'all are looking for. I'm imagining the output being:

[code]

cpplint doesn't track column information or a diff (not sure what that's referring to), though.

If that's what you're looking for, I'd be happy to add it, just let me know.

[2015-12-18 21:48] sils1297 commented on #1144
@AbdealiJK I don't see any meaning in making them add more outputs to CPP lint, we can easily take whatever they have and from that *we* can provide JSON and so on so they don't need to care.

@theandrewdavis coala allows you to provide a diff so you can get issues fixed automatically. We're trying to get as many fixes as possible so we usually prefer integrating linters that also can fix stuff, e

[2015-12-18 21:58] theandrewdavis commented on #1144
Gotcha. As it stands now you can run cpplint with --output=junit to get output like this:

[code]
Which has all the same information. It's formatted in a way that Jenkins/Bamboo will accept, but it should be parseable by coala as well.

[2015-12-18 22:18] sils1297 commented on #1144
As far as I understand we could also use the default output:

[code]

That'd be very simple output which we can capture with a regex, where we even get more information like the name of the rule and apparently an ID which can be used to disable/enable them. Is there any advantage in the XML output? The default one seems to hold more information.

[2015-12-18 22:22] sils1297 commented on #1144
Oh wait, cpplint is even python, right? So couldn't we import a method from CPPLint, give that one our file content and a config kind of thing, it gets us results as python objects already?

[2015-12-18 22:28] sils1297 commented on #1144
Alright, I brewed together a five-minute thing, works well:

[code]

(I stripped away log messages.)

[2015-12-19 00:45] AbdealiJK commented on #1144
That looks good :)
I suggested json because I thought cpplint had fixits and diffs are not easy to parse in regex. As it does not, using simple regex is good.

Also, a design opinion:
I personally think that if regex/json is fine, we shouldn't import linters as a module - because its easier and uniform to use the same method for linters written in python or other languages. If importing gives us s

[2015-12-19 08:27] keerthisuresh commented on #1132
I'm working on this , could someone assign it to me ?

[2015-12-19 11:11] sils1297 commented on #1132
@keerthisuresh please accept the invitation to our org so I can assign you, thanks for your support! :)

[2015-12-19 11:26] sils1297 commented on #1144
Ah, @theandrewdavis the numbers in square brackets are like a severity, right? We can map that into coala too. I guess `5` is something like `informative` while `0` then is a major issue?

[2015-12-19 13:08] theandrewdavis commented on #1144
That number is actually "confidence" since cpplint sometimes has false positives. Here's a comment from the source about it:

[code]

[2015-12-19 15:03] sils1297 opened #1145 "Add result confidence"
We probably want the result to have a confidence field and the ability to only show results with a confidence of x or higher.

[2015-12-19 15:10] sils1297 commented on #1144
@theandrewdavis ah, I think you may want to update your description for the `verbose` parameter and maybe rename it to `confidence`, after all it's the same, right?

coala currently actually has no confidence right now so we'll keep this value in the message, when we solve https://github.com/coala-analyzer/coala/issues/1145 , we can add that value to coala's result so coala can filter results by c

[2015-12-19 15:20] theandrewdavis commented on #1144
@sils1297 Thanks, good point

[2015-12-19 15:26] sils1297 commented on #1144
@theandrewdavis CPPLint is rather small, what would you think about moving your routines into coala as bears? This would effectively allow you to get rid of the whole user interaction, issue suppression, that's what coala is for, and some things like the copyright check could easily be reused for other languages too.

One way or another, would you mind taking a look at https://github.com/coala-ana

[2015-12-19 15:29] sils1297 commented on #1144
FWIW we're looking into building an indentation algorithm that can detect and fix wrong indentation language independently, i.e. you only have to register a few keywords and stuff like that for a new language, see https://github.com/coala-analyzer/coala/issues/225 .

[2015-12-19 19:20] theandrewdavis commented on #1144
@sils1297 cpplint is open source (Google just requires you include their license in the distribution) so it's checks can definitely be integrated into coala. cpplint itself is a pretty old google tool that I had no hand in writing, so I wouldn't want to do anything to change its direction drastically. But I think it would be awesome to add its checks into coala -- sounds like a great idea. I'll be

[2015-12-19 19:28] sils1297 commented on #225
see https://github.com/coala-analyzer/coala/blob/master/bears/matlab/MatlabIndentationBear.py for initial approach, something like that could work well for basic indentation checking. We then need to add things like correct bracket positions and stuff like that, should be possible.

[2015-12-19 19:30] sils1297 commented on #1144
@theandrewdavis very cool! Would you mind taking a look at #225 , would love to hear your opinion. This'll auto-close when we merge our wrapper.

[2015-12-19 23:34] #1144 closed

[2015-12-20 17:45] sils1297 commented on #897
@AbdealiJK just a note, all the linters should obey the `max_line_length` and the `tab_width` (/indentation) setting. I've just added that for the PEP8Bear

[2015-12-20 18:30] sils1297 opened #1148 "CPPLintBear: Obey use_spaces, max_line_length and tab_width"
Should be easy to do.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29286507-cpplintbear-obey-use_spaces-max_line_length-and-tab_width?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-12-21 12:16] sils1297 opened #1150 "Add isort bear"
https://github.com/timothycrosley/isort , should be fairly easy

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29301550-add-isort-bear?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F

[2015-12-21 19:43] sils1297 commented on #1124
@keerthisuresh you're currently working on something related to this issue. (https://github.com/coala-analyzer/coala/pull/1154) so you already know what this is about roughly, are you interested in looking into this after getting your current PRs merged?

[2015-12-21 21:57] #1148 closed

[2015-12-21 22:05] sils1297 commented on #289
@Makman2 Interesses? Getting more and more demands for this.

[2015-12-21 22:19] sils1297 commented on #868
There's isort which does this, there's already a PR which adds a bear for it, we just have to add a test there, merge and use it!

[2015-12-21 22:20] sils1297 commented on #868
See https://github.com/coala-analyzer/coala/pull/1152

[2015-12-22 03:21] keerthisuresh commented on #1124
sure !

[2015-12-22 10:31] #946 closed

[2015-12-22 13:28] sils1297 opened #1157 "Raise issue based on metrics"
I'd like to do tha tfor python. We can use http://radon.readthedocs.org/en/latest/ to get metrics for functions and classes and so on, make a bear dependent on that which raises issues based on a threshold.

[2015-12-22 13:32] sils1297 opened #1158 "Code Duplication Bear"
Would be nice to have a code duplication bear for other languages than C. https://github.com/codeclimate/codeclimate-duplication provides that for some languages, would be awesome to integrate with that.

[2015-12-22 20:35] Makman2 commented on #866
the new design will be:
- a missing `.coafile` will trigger a warning.
- a missing and explicitly passed custom coafile will trigger an error and return the error-code 2.
- nothing is triggered if coafile found
If the `--save` flag is specified, none of the cases above triggers something.

[2015-12-23 14:51] #1150 closed

[2015-12-23 15:16] #866 closed

[2015-12-23 16:39] Makman2 commented on #1129
I think we should make `check_prerequisites` a staticmethod, so this would be possible then:
[code]
together with a function that allows to easily check for existence of a binary (that does the `popen` stuff etc).

[2015-12-23 16:43] Makman2 commented on #868
Since #1152 is merged, we only need to integrate that into the coafile, then we can close this issue :)

[2015-12-24 19:24] Makman2 opened #1159 "Move function `make_temp()` from `ConfigurationGatheringTest.py` to `ContextManagers.py`"
And implement it everywhere where needed.

[2015-12-28 21:58] sils1297 opened #1163 "test issue"
will be closed in a minute

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29446968-test-issue?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=gith

[2015-12-28 21:58] #1163 closed

[2015-12-29 14:26] sils1297 opened #1165 "coala-json shows ignored results too!"
the ignore ranges are currently only applied when the result is delivered to the print result function, that's a bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29460489-coala-json-shows-ignored-results-too?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-12-29 14:35] sils1297 opened #1166 "'git grep msgfmt' shouldn't return anything"
we don't have translations/i18n anymore. There's at least one test skip in the documentation comment test...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29460642-git-grep-msgfmt-shouldn-t-return-anything?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](

[2015-12-29 14:36] sils1297 commented on #1166
This is easy, though it might need a bit of explanation because the report is not, if somebody new wants to do this, please ping me so I can clarify :)

[2015-12-30 01:04] Makman2 opened #1168 "Current ResultAction design is bad"
To run an action it is necessary to instantiate it, but with the current model this is totally superfluos. Nearly everything happens statically, but not the applying.
Imo there are two options:
- Make `apply` and `apply_from_section` static
- Create a uniform constructor that takes a result (and maybe file-dicts). Make every method that needs to operate on the result (like `is_applicable`) non-sta

[2015-12-30 01:23] Makman2 opened #1169 "__setitem__ for Section"
Item assignment like `section["key"] = value` is currently not supported!

[2015-12-30 11:37] sils1297 commented on #1169
Right! This shouldn't be hard but makes it very convenient.

2015-12-30 2:23 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2015-12-30 16:20] sils1297 opened #1171 "DefaultArgParser doesn't show log level info"
easy, @Makman2 needs fixing for the release, should be a 5 min thing

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29486276-defaultargparser-doesn-t-show-log-level-info?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-12-30 16:22] sils1297 opened #1172 "INFO log messages aren't shown by default"
We need to adjust the defaults in several places I think

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29486308-info-log-messages-aren-t-shown-by-default?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2015-12-30 16:25] Makman2 commented on #1168
For default actions we should maybe allow such constructs if actions need parameters:
[code]

[2015-12-30 17:03] sils1297 commented on #1129
@Makman2 hey didn't you do this a few days ago? :/

[2015-12-30 17:04] sils1297 commented on #1112
@AbdealiJK closing this because of inactivity. FWIW I'm not very fond of using unicode icons in the output... reopen if you want with more information.

[2015-12-30 17:04] #1112 closed

[2015-12-30 18:34] Makman2 commented on #1129
@sils1297 for the `CorrectionBasedBear` at least, for bears using `Lint` it's not working yet since `check_prerequisites` is not adequately implemented^^

[2015-12-30 18:51] #289 closed

[2015-12-30 19:19] #1166 closed

[2015-12-30 19:19] #1171 closed

[2015-12-30 19:19] #1172 closed

[2015-12-30 20:28] #1043 closed

[2015-12-30 20:28] #791 closed

[2015-12-30 20:57] sils1297 commented on #873
Taking that.

[2015-12-30 20:57] #873 closed

[2015-12-30 20:58] sils1297 opened #1176 "coala Platypus"
This is the issue from where we'll do the Platypus release :) (I think rultor uses the issue title for the release so I figured rather creating an own one was good.)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29491790-coala-platypus?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accep

[2015-12-30 21:52] Makman2 commented on #1176
@rultor release 0.3.1

[2015-12-30 21:52] rultor commented on #1176
@makman2 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6120-168080089)

[2015-12-30 21:55] Makman2 commented on #1176
@rultor release, tag=`0.3.1`

[2015-12-30 22:02] Makman2 commented on #1176
hello @rultor

[2015-12-30 22:18] Makman2 commented on #1176
@rultor release, tag=0.3.1

[2015-12-30 22:22] sils1297 commented on #1176
@rultor stop

[2015-12-30 23:29] sils1297 commented on #1176
@rultor hello

[2015-12-30 23:53] rultor commented on #1176
@makman2 @sils1297 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6120-168080089) (spent 2hr)

[code]

[2015-12-30 23:55] rultor commented on #1176
@makman2 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6120-168080467)

[2015-12-30 23:57] rultor commented on #1176
@makman2 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-12-30 23:58] rultor commented on #1176
@makman2 Done! FYI, the full log is [here](http://www.rultor.com/t/6120-168080467) (took me 3min)

[2015-12-31 00:00] rultor commented on #1176
@makman2 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6120-168082990)

[2015-12-31 00:03] sils1297 commented on #1176
@rultor stop

[2015-12-31 00:04] sils1297 commented on #1176
release done, after some difficulties...

[2015-12-31 00:04] #1176 closed

[2015-12-31 00:04] rultor commented on #1176
@sils1297 OK, I'll try to stop current task.

[2015-12-31 02:02] rultor commented on #1176
@sils1297 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6120-168097923) (spent 2hr)

[code]

[2016-01-01 15:00] sils1297 opened #1180 ""Sphinx mode" for reSTLintBear"
See https://pypi.python.org/pypi/restructuredtext_lint/ , we probably want to have some options to add directives.

[2016-01-01 17:21] sils1297 commented on #875
@AbdealiJK DBus test is a huge problem because you rely on a custom main routine. Can you help? Currently looking into the rest...

[2016-01-01 23:45] AbdealiJK commented on #875
https://pypi.python.org/pypi/pytest-xprocess seems to be the answer to your issue. It spawns a process at the beginning and keeps that process going throughout the testing time.

Although we want it only for 1 test, this seems the way to go.

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎01-‎01-‎2016 22:51
To: "coala-analyzer/coala" <coala@noreply.github.com

[2016-01-02 13:11] sils1297 commented on #875
@AbdealiJK sure that's the way to go? PyTest also supports test functions, so instead of putting the process spawning into the main routine we could put it into a `test_something` method which invokes another python file (cleaner anyway, one file for the actual test, another file for the coala dbus server)?

[2016-01-02 13:16] AbdealiJK commented on #875
I tried that when I first mentioned pytest (as far as I remember). It
didn't work out properly if I remember correctly.
Basically the test_* don't run parallelly on a single core and some other
complications that I don't remember made me not go through that route.

I think it's better to spawn a test dbus server - that way even
DbusDocumentTest.py and other Dbus*Test.py can also test do unit tests

[2016-01-02 14:01] sils1297 commented on #875
@AbdealiJK do you have any hint about the other failures in pytest? Many are because of the test skipping but some seem to be very strange, like some tests of `is_applicable` of some actions which are really simple.

[2016-01-02 14:19] AbdealiJK commented on #875
What exactly do you mean by the failures of pytest ? The major issues I
noticed with pytest was :
 - the thing with dbus where we needed an external app running
 - the skip_test functionality needed to be revamped
 - the fact that it was slower than our tests quite a bit
 - And in general lack of flexibility as it's not our code and we had to
follow someone else's docs
Is that what you were lookin

[2016-01-02 14:22] sils1297 commented on #875
FWIW I'm almost done with replacing our skip functionality, @AbdealiJK can you look into DBus?

[2016-01-02 22:57] sils1297 commented on #875
Ok, that's what I get after https://github.com/coala-analyzer/coala/pull/1183:
http://pastebin.com/ZrMy5D3k

[2016-01-03 15:41] sils1297 commented on #868
this is kinda blocked since we still rely on sys.path modification in tests, will be doable when wee use pytest :)

[2016-01-03 15:46] sils1297 opened #1185 "SpaceConsistencyBear shows "Trailing Whitespace" when newline is missing"

[2016-01-03 15:48] sils1297 opened #1186 "Add option to deactivate creation of .orig backup files"
This happens when applying a patch. Also IMO we shouldn't override the orig files if they're already present, renders them quite useless if multiple patches are applied to the same file...

[2016-01-03 16:05] sils1297 opened #1187 "coala returns zero when all patches are autoapplied"
That's a bug :(

[2016-01-03 16:07] sils1297 opened #1188 "Show at least file name when autoapplying a result"
[code]

That's a bit short in information IMO, at least the filename should be shown. Either we show some data about the result or we need to give the action the possibility to give us some more information. Though I'd prefer the former, simpler approach I guess...

[2016-01-03 17:16] Makman2 commented on #1187
but if all patches were applied everything went well, didn't it?

[2016-01-03 17:51] sils1297 commented on #1187
But there *were* results, say if I execute `coala-ci` on my CI I want it to return something if it modified anything!

[2016-01-03 18:03] Makman2 commented on #1187
ah okay we have an own exit code for this...

[2016-01-05 18:49] sils1297 opened #1190 "Refactor _yield_if_right_kind into a condition"
That is practically a condition @fneu was there any reason why you *looped* over that thing?

[2016-01-05 18:51] sils1297 opened #1191 "@fneu needs to explain this"
@fneu why did you use `local[0]` below if `local` is a bool you can't index it? I don't understand that...

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29611995-fneu-needs-to-explain-this?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2016-01-05 19:06] sils1297 commented on #1191
[code]

[2016-01-05 19:06] #1191 closed

[2016-01-05 23:47] fneu commented on #1190
I guess this was subtly different at one point - not necessary anymore :stuck_out_tongue:

[2016-01-06 13:48] sils1297 opened #1192 "Lint doesn't handle failures"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29635410-lint-doesn-t-handle-failures?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2228228&utm_medium=issues&utm_source=github

[2016-01-06 14:25] fneu commented on #1089
@AbdealiJK seems to be right and I'm stupid :p

I had this commented out at some point but must have removed it

[2016-01-06 14:25] #1089 closed

[2016-01-06 14:27] #1192 closed

[2016-01-06 14:28] fneu commented on #923
Closing this then

[2016-01-06 14:28] #923 closed

[2016-01-06 14:45] fneu commented on #975
@sils1297 @Makman2 please take a look at [PEP282](https://www.python.org/dev/peps/pep-0282/) for a quick introduction and some examples of the [logging module](https://docs.python.org/3.4/library/logging.html).

key features:

* different logging streams (main applications, bears, ...)
    * separately configurable
    * hierarchically ordered, settings are propagated downwards
* no passing around

[2016-01-06 14:46] fneu commented on #975
It can also be integrated with the warning module!

[2016-01-06 14:48] sils1297 commented on #975
I personally think this would be a good thing to do. Not that I'd have time
for it...

2016-01-06 15:46 GMT+01:00 Fabian Neuschmidt <notifications@github.com>:

[2016-01-06 17:36] Makman2 commented on #975
@fneu Looks cool. If you want you can assign me, though that's not priority for me now :)

[2016-01-07 16:15] kaushikmit commented on #917
I would like to take care of this bug. Can you assign this to me ?

[2016-01-08 14:48] sils1297 commented on #1124
@keerthisuresh hey given that I haven't heard from you for some time I'm unassigning you for the time being. Feel free to reassign if you still want to do that.

[2016-01-08 14:49] sils1297 commented on #1124
https://github.com/coala-analyzer/coala/pull/1154 shows @keerthisuresh attempt

[2016-01-08 14:57] sils1297 commented on #1186
this would have to be done in the ApplyPatchAction

[2016-01-08 14:58] sils1297 opened #1196 "Also save configuration after running all sections"
When actions are executed some ask for parameters, those may get stored too.

That should be an easy feature to hack on too.

[2016-01-08 15:10] sils1297 commented on #1188
how about a message like

`[INFO][{time}] Applied '{action}' from '{origin}' for {range}.`

With range being something like:

- `the whole project`
- `'/file/path'` (with quotes, use `repr()` of the filepath)
- `'/file/path', '/file/path/2'`

for that we'll probably want a `Result.location_repr()` which returns one of the strings from the sourceranges it holds.

This is not trivial but I think pos

[2016-01-08 15:12] sils1297 opened #1197 "Label Renaming: easy -> newcomer"
We have links to the `easy` label on multiple pages. Task of this bug is to search all coala pages (coala-analyzer.org, whatcanidoforcoala.org), grep through the repository to find our where we have a link to GitHub easy issues. Those need to be changed to `newcomer` instead of `easy` since we renamed that.

[2016-01-08 15:14] sils1297 commented on #1185
Steps to reproduce:

Write a file e.g. with pycharm (some editors like gedit, vim won't work since they don't do such stupid stuff) and put no empty line at the end of the file but some content. Then run coala with SpaceConsistencyBear over it and it'll show that there's a missing newline before EOF but it'll also show that there's trailing whitespace which is wrong.

[2016-01-08 15:18] sils1297 commented on #1168
@Makman2 I think it would be simpler just making everything static.

[2016-01-08 15:20] sils1297 commented on #1117
This needs a simple integration test to be added in `coalaTest.py` or so, that's newcomer friendly.

[2016-01-08 15:28] sils1297 commented on #1104
I need to retest that as we're using the clang bindings now.

[2016-01-08 15:36] sils1297 commented on #1021
Yeah:

[code]

Now if I choose 3 or 5 I will be asked for a new name and a diff will be generated with that info.

[2016-01-08 15:36] sils1297 commented on #1110
https://github.com/coala-analyzer/coala/issues/1021 covers lazy diff generation if bears want to use it as such, I think this is a healthy wontfix

[2016-01-08 15:36] #1110 closed

[2016-01-08 15:39] sils1297 commented on #967
Ok that means there's a function `show_diff` which shows the diff which is used by the ShowPatchAction - not that there's no such action anymore :) I think this is well defined and doable for a newcomer.

[2016-01-08 15:40] sils1297 commented on #359
ok I guess this'll have to develop naturally we don't have time for that, labels aren't that bad either.

[2016-01-08 15:40] #359 closed

[2016-01-08 15:41] sils1297 commented on #397
I think this is a wontfix, takes a lot of work and if you want to see "progress" you can at least turn on debug messages so you see when it runs a bear...

[2016-01-08 15:41] sils1297 commented on #247
we'll switch to pytest soon removing the testhelper

[2016-01-08 15:41] #247 closed

[2016-01-08 15:43] sils1297 commented on #761
see discussion on https://github.com/coala-analyzer/coala/commit/7de0d957e07a8804706f834db41346d49c2cb9ef , I think this is newcomer suitable

[2016-01-08 16:22] sils1297 commented on #919
closing in favour of https://github.com/coala-analyzer/coala/issues/1140

[2016-01-08 16:22] #919 closed

[2016-01-08 16:25] sils1297 commented on #868
Ok this would be newcomer suitable as soon as we switched to pytest (thus currently blocked): just use the `PyImortSortBear`, add it to the coafile, fix everything (best to use default_action for this - see tutorial) using coala and do the commit.

[2016-01-08 16:27] sils1297 commented on #173
TODO:

- Identify what we currently use mostly
- Adapt what we have, maybe use a bear? We have already documentation extraction utilities so it could be quite doable.

[2016-01-08 16:28] sils1297 commented on #1140
actually it would be nice to do things like add/remove periods after the end of a parameter description or capitalize/uncapicalize the first char of a description. This way we can get rid of https://github.com/coala-analyzer/coala/issues/173 in the same run.

[2016-01-08 16:28] sils1297 commented on #173
closing in favour of https://github.com/coala-analyzer/coala/issues/1140

[2016-01-08 16:28] #173 closed

[2016-01-08 16:57] Makman2 commented on #397
you sure? I wood like to have such a feature, maybe it's easier to integrate when having the new bear design^^ The debug messages are not a good status indication, the screen is blasted with messages...

[2016-01-08 16:58] sils1297 commented on #397
@Makman2 what's the usecase?