[2016-09-02 15:52] AbdealiJK commented on #1582
This issue was moved to coala-analyzer/coala-bears#776

[2016-09-02 15:52] #1582 closed

[2016-09-02 18:21] Makman2 commented on #2700
Indeed for `apt-get` we need to append `-y` (should work with many others too). So yes we need to maintain some little flag-database/dict ^^

We could also move the `install` command-line-parameter to this kind of database/dict, if other tools would possibly use a different one we could handle even that :+1:

[2016-09-02 18:24] Makman2 commented on #2711
I think a good idea is to check the return value of the executable. If it's not `0` then we could automatically print both, `stdout` and `stderr` as debug/error information :+1:
Then the user doesn't need to get familiar with another flag^^

[2016-09-02 18:35] hypothesist commented on #2708
@sils1297 we can solve this if we include the section that is being run when we compute the settings hash. This will force cache flush though. But that shouldn't really affect the people for whom caching is very important -- those who run the same commad repeatedly.

[2016-09-02 18:38] hypothesist commented on #2699
I guess this is initiated from https://github.com/coala-analyzer/coala/issues/2708

This will involve some work because caching currently at the file-collection level. Probably will involve a redesign of the mechanism's implementation. Definitely doable though. I'll do it soon :+1:

[2016-09-02 18:38] AbdealiJK commented on #2711
Not sure of that's a good idea.
I remember that some of the linters will give warning messages and so on even though the exit code is not zero. For example of a config is being ignored for some reason.
Don't remember which tool and how to reproduce though

[2016-09-02 18:40] hypothesist commented on #2263
yay! :P

From Wikipedia:

that explains it I guess

[2016-09-02 18:45] Makman2 commented on #2711
alright then I would just print it always with a warning like:
[code]
or else :3

[2016-09-02 18:48] Makman2 commented on #2711
or we should really use another parameter that is by default true ^^

[2016-09-02 20:13] sils1297 commented on #2708
Can you fix this ASAP? We should Napier it ASAP

On 2 Sep 2016 8:35 p.m., "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

[2016-09-02 22:07] #2667 closed

[2016-09-03 09:40] AbdealiJK opened #2713 "How do I refer the parent in Linters ?"
I want to create a custom check_prerequisite which cannot be done with the current linter API.
How do I do this using the linter decorator ? I would normally refer to the parent `Lint.check_prerequisite()` to do it's normal checking and add more of mine. But now, the parent class is locally defined inside the decorator and so not accessible.

I believe I can do this using the `super()` but we had

[2016-09-03 09:47] Adrianzatreanu commented on #2392
thats a very good question :D

[2016-09-03 09:57] AbdealiJK opened #2714 "IDEA: Options enabled by comment"
_From @oreqizer on September 2, 2016 17:16_

For example like `eslint`:

[code]

_Copied from original issue: coala-analyzer/coala-bears#781_

[2016-09-03 09:57] AbdealiJK commented on #2714
_From @gitmate-bot on September 2, 2016 17:16_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-09-03 09:57] AbdealiJK commented on #2714
So, this would be like enabling a bear on only a specific section based on a comment in coala. The opposite of `// Ignore <bearname>`

It may be a bit difficult to implement because we rely on the config file to figure out which bears to load, and now we'd have to parse the file to figure out which bears to load itself.

CC @Udayan12167 as it'd probably be easier to be planned from the start in th

[2016-09-03 11:51] AbdealiJK opened #2715 "Deprecate args doesnt accept different type of arg"
I have a arg which is `use_es6_syntax` (bool) and needs to be converted to `es_version` (int).
When I try to use deprecate_settings as so:
[code]

And give the settings as: `use_es6_syntax = "True"`
I get the error:
`Unable to convert parameter 'use_es6_syntax' into type <class 'int'>.`

[2016-09-03 12:46] AbdealiJK opened #2716 "GemRequirement: Not using the version that was given"
GemRequirement has a version argument, but doesn't use it. It just installs the latest version of the gem currently

[code]

[2016-09-03 16:27] sils1297 commented on #2715
right I think that's a bug of the decorator

[2016-09-03 18:18] Makman2 commented on #2713
hmmm indeed...

there's was already the idea from mine to deprecate the `prerequisite_check_command` and `prerequisite_check_fail_message` parameters, and use instead an override based approach:

[code]
This `PrerequisiteCheck` class would be itself callable somehow (and also allow the staticmethodness somehow, I don't have a specific implementation right now :/)

For now you need to use `super` i

[2016-09-03 20:22] #2709 closed

[2016-09-03 22:53] ThomasWaldmann commented on #2698
For vim it is "vim file.py +42".

[2016-09-03 22:55] ThomasWaldmann commented on #2299
I imagine that if I put editor in a project's .coafile, some devs will be unhappy because they use another editor. So just using $EDITOR (if set) seems a good solution.

[2016-09-03 23:00] sils1297 commented on #2299
@ThomasWaldmann you could also put it in `~/.coarc`

[2016-09-03 23:07] sils1297 commented on #2698
@liberforce @ThomasWaldmann would any of you be interested in making this happen?

We probably want to have a list of editors and if the user gives an editor that isn't present there we just fallback to `{editor} {filename}`. Here the ones I know:

- `vim {filename} +{line}`
- `gedit -s {filename}`
- `subl --wait {filename}:{line}:{column}`
- `atom --wait {filename}:{line}`

(If line/column isn't

[2016-09-03 23:16] ThomasWaldmann commented on #2299
I just did that (even before reading your comment). It's no big problem, but somehow a duplication of existing settings.

[2016-09-04 03:13] Makman2 commented on #2714
I think @oreqizer is just referring to options/parameters on an already running bear^^

[2016-09-04 03:18] Makman2 commented on #2714
But indeed just recognizing that the sections we pass to a bear are in fact "immutable" (at least we say so currently and require devs to follow this), enabling such an option would need a new bear instance.

Also conceptually this is quite difficult: Our bears operate on a complete file, often there's context dependent information. For example a documentation-analyzer-bear (that does whatever) wo

[2016-09-04 07:56] sils1297 commented on #2714
So I currently "feel" like this is technically infeasible and the usecase isn't too important to do changes that are that drastic.

[2016-09-04 07:56] sils1297 commented on #2714
Doesn't mean it is, I can't objectively reason about it yet.

[2016-09-04 08:13] SanketDG commented on #2698
About `gedit` I don't know what `-s` does, but a certain line can be opened by:

`gedit {filename} +{line}`

Also to keep uniformity, I did only open on the line and not the column because some editors can. :smile:

[2016-09-04 08:22] sils1297 commented on #2698
IMO let's include the column where possible, we need a format string anyway, for those who can't do line/column it won't be replaced, for the others it's great. If line or column is not given default to 1. The `-s` in gedit is like `--wait` for atom and makes sure that it doesn't open the file in an already existing process and ends the process so coala knows when the editor was closed.

[2016-09-04 08:47] #2652 closed

[2016-09-04 08:49] sils1297 commented on #2192
tried it, failed because of something. Unassigning because time.

[2016-09-04 09:50] #2708 closed

[2016-09-04 13:59] underyx opened #2719 "Fix typo: ShowPatchAction.py: `Wether` -> `Whether`"
Here's the line in question:

https://github.com/coala-analyzer/coala/blob/f3765bce44acb5ef75d2387acb830ab4b601d197/coalib/results/result_actions/ShowPatchAction.py#L86

difficulty/newcomer

[2016-09-04 16:12] Makman2 commented on #2698
`gedit -s` opens up a new standalone window, we definitely want that @SanketDG :+1:

[2016-09-04 21:47] Asnelchristian commented on #2696
i am gonna try :)

[2016-09-05 14:46] Satyam-Bharadwaj commented on #2707
@sils1297 Does the bug fix require change of all occurrences of "writer" to "author" ? Or only the one occurrence in the phrase "you might want to get in contact with the writer of the bear" ?

[2016-09-05 14:49] sils1297 commented on #2707
Not sure, what makes most sense to you

[2016-09-05 14:58] sils1297 commented on #2719
@Satyam-Bharadwaj
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just

[2016-09-05 15:39] Satyam-Bharadwaj commented on #2707
I'm sorry I'm quite new to git so this is taking quite a few attempts .

[2016-09-05 15:41] sils1297 commented on #2707
That's normal, we have the newcomer issues so you can take your time to learn so don't worry :)

[2016-09-05 16:05] #2719 closed

[2016-09-06 06:35] meetmangukiya opened #2723 "Move js.coalang file from languages folder to definitions subfolder"
`js.coalang` is a language definition file, it should be placed in `definitions` folder where definitions of other languages reside as well
[code]

difficulty/newcomer

[2016-09-06 15:07] underyx opened #2724 "Stop using double underscore names for attributes and methods"

[2016-09-06 15:58] souravsingh commented on #2689
@sils1297 We have to make a cookiecutter recipe for a bear, correct?

[2016-09-06 17:10] sils1297 commented on #2689
yes!

[2016-09-06 20:44] underyx commented on #2126
`--cov-fail-under` will cause issues cause codecov.io is unifying the coverages from different python versions; I wouldn't want a newcomer deealing with those, so I'm raising the difficulty.

[2016-09-06 21:13] beatrix-bodo commented on #2634
Working on this one

[2016-09-06 21:30] underyx commented on #2634
@Makman2 relevant: https://github.com/coala-analyzer/coala-bears/issues/557

[2016-09-06 23:09] underyx opened #2727 "CONTRIBUTING.rst: 'Writing Good Commits' link is broken"
The [contributing guidelines](https://github.com/coala-analyzer/coala/blob/master/CONTRIBUTING.rst) have a link to the 'Writing Good Commits' docs page, but the link gives a 404 error.

difficulty/newcomer
area/docs

[2016-09-07 05:32] AbdealiJK commented on #2126
Closing this as it doesn't seem feasible. To do this we'd need to use `--cov-fail-under 99` which is a hack. Now it seems codecov is back on track and working fine, so I'm closing this.

[2016-09-07 05:32] #2126 closed

[2016-09-07 07:58] meetmangukiya commented on #2702
I'd like to work on this one.

[2016-09-07 07:59] AbdealiJK commented on #2727
Don't we have InvalidLinkBear to avoid these things ?

[2016-09-07 08:41] sils1297 commented on #2727
Actually yes, we didn't use it yet - we should start!

[2016-09-07 18:29] SanketDG commented on #2689
@sils1297 shouldn't this be in a new repo?

[2016-09-07 18:42] sils1297 commented on #2689
yes @souravsingh just make it a new repository, I'll create one for you when you're ready and then we'll import it?

[2016-09-07 20:51] sils opened #2729 "coala GitHub org name"
We're trying to get away from being coala-analyzer, towards just being coala. On GitLab we have the coala organization, now we have coala.io so we stop relying on coala-analyzer.org.

Any ideas on another username for the org? We could try something like coala-io.

Also possibly the @coala user on GitHub might be willing to rename his account so we could use his name for this organization. He has

[2016-09-07 20:53] sils1297 commented on #2729
CC @chauffer

[2016-09-07 23:10] Makman2 opened #2730 "PackageRequirment.install_command: Return tuple instead of complete shell string"
... and let handle shlex handle the rest when printing to user:
[code]
though this is only linux shell compatible. But if needed we can write also windows shell compatible `quote` algorithms for *coala-utils* (though windows shells are way more limited than linux shells, and I hate them ... :/ )

Maybe we could also introduce a member function for `PackageRequirement` that does this string assembl

[2016-09-07 23:18] Makman2 opened #2731 "Shell.py: Fix typo in L9"
Inside the "docstring" in https://github.com/coala-analyzer/coala/blob/19b6e22edd093fee3f5eaa17c761007f47204a34/coalib/misc/Shell.py#L9

`surpresses` -->`suppresses`

[2016-09-08 12:50] Adrianzatreanu commented on #2730
if you think its helpful im for it, but i still dont understand what it improves?

[2016-09-08 13:04] Makman2 commented on #2730
1. Users don't have to return the command that will be sometimes only suited for a single shell terminal
2. We can execute the install command ourselves directly via `subprocess.call` (without `shell=True`!), so we don't need to take care about escaping and stuff

[2016-09-08 15:59] Makman2 opened #2734 "Don't prepend non-diff-related characters with '| | |'"
[code]
maybe we should do this? (as it's maybe improving reading)
[code]

[2016-09-08 16:01] sils1297 commented on #2734
I find the current version better readable

[2016-09-08 16:40] #2694 closed

[2016-09-08 17:37] sils opened #2735 "Issue Template"
With only a comment explaining what info there should be, not forcing the user or scaring him off.

difficulty/low

[2016-09-08 18:38] meetmangukiya commented on #2735
You mean GitHub issues, right? If yes, am in complete agreement with you. We should have a issue template just as we have a commit template.

[2016-09-08 18:39] sils1297 commented on #2735
but only consisting out of optional and commented out things so by default people should be able to ignore it; I sometimes feel scared off by long templates, too much work :P

[2016-09-08 19:13] meetmangukiya opened #2737 "codecov coverage down unexpectedly"
Coverage lost on coala_main.py at line [#113](https://github.com/coala-analyzer/coala/blob/master/coalib/coala_main.py#L113)

[2016-09-08 19:13] meetmangukiya commented on #2737
cc @sils1297 @underyx

[2016-09-08 20:12] SanketDG commented on #2695
So I am guessing the bug here is that should print the empty line? Something like:

[code]

[2016-09-08 22:25] Makman2 commented on #2695
I think it should display `\No newline at end of file` (or whatever we display now for such a case) :+1:

[2016-09-08 23:15] Makman2 commented on #2737
can't see something dropped at `master` :O

[2016-09-08 23:48] #2453 closed

[2016-09-09 05:22] meetmangukiya commented on #2737
@Makman2, @sils1297 witnessed the drop :/

[2016-09-09 06:47] sils1297 commented on #2695
I dislike both of the proposals so far, no newline at eof is not line one, it's more like a note to "line zero", also if the file is empty you don't need a newline at eof as that is more like a semicolon after commands - no commands, no semicolon needed. Same with the newlines.

Also we shouldn't show an empty line because there is no empty line. We should not lie.

Maybe we should fix the bear to

[2016-09-09 07:06] sils1297 commented on #2737
It's nondeterministic and seems to occur in rare cases so I think we should
look into it.

[2016-09-09 09:17] #2702 closed

[2016-09-09 09:18] martin-kokos opened #2738 "show-bears: An unknown error occurred"
### Overview Description
Running show bears yields causes unknown error
# Steps to Reproduce

1. `pip3 install coala-bears`
2. `coala --show-bears --filter-by-language python`

# Actual Results
```[ERROR][11:08:24] An unknown error occurred. This is a bug. We are sorry for the inconvenience. Please contact the developers for assistance. During execution of coala an exception was raised. This shoul

[2016-09-09 09:32] sils1297 commented on #2738
I think this is because your setuptools is quite old. Can you try to use a virtualenv? Documentation about this is here: http://docs.coala.io/en/latest/Users/Install.html#installing-inside-a-virtualenv

[2016-09-09 10:08] martin-kokos commented on #2738
`pip3 install -U setuptools` 3.3 -> 26.1.1 : didn't resolve
`pip3 install -U wheel` 0.24.0 -> 0.29.0 : didn't resolve
`pip3 install -U pip` 1.5.4 -> 8.1.2 : **resolved**

I did not need to reinstall `coala-bears` after updating pip.

[2016-09-09 10:58] #2634 closed

[2016-09-09 11:49] beatrix-bodo commented on #2731
@sils197 is this a duplicate of https://github.com/coala-analyzer/coala/issues/2484 ?

[2016-09-09 11:50] sils1297 commented on #2731
Yes, thanks!

[2016-09-09 11:50] #2731 closed

[2016-09-09 12:01] sils1297 commented on #2734
@Makman2 any objective reason to change it? CC @underyx

[2016-09-09 12:06] sils1297 commented on #2738
Ok I'm marking this usability, we need a better message here.

[2016-09-09 12:06] sils1297 commented on #2711
@Makman2 any progress?

[2016-09-09 12:22] beatrix-bodo opened #2740 "Go through newcomer issues and close the ones that are solved"
Some of the newcomer issues that are already solved are still open, we should probably close them.

[2016-09-09 12:36] underyx commented on #2734
How about not pretending, but keeping the indentation for the other lines? Then it could be easier to tell apart code and.non-code lines by just looking at the beginning of it. Not sure about it though.

[2016-09-09 12:49] sils1297 commented on #2734
@underyx mockp?

[2016-09-09 12:58] beatrix-bodo commented on #2723
This issue is solved by https://github.com/swrj/coala/commit/fc5d11e1a0d579cf4eb929ffd157b97f43070c9b

[2016-09-09 12:58] underyx commented on #2734
[code]

[2016-09-09 12:59] underyx commented on #2734
Nah, I don't like this; I vote for closing this issue as wontfix.

[2016-09-09 13:02] sils1297 commented on #2723
@beatrix-bodo you sure? That commit is on master on a fork, not on our master.

[2016-09-09 13:07] beatrix-bodo commented on #2723
@sils1297 my mistake.

[2016-09-09 13:09] adtac opened #2741 "Change website link in README"
It's `coala.io` now :)

[2016-09-09 13:12] adtac commented on #2729
Is it possible to talk to the people over at Github? This is a legitimate query and that account is abandoned from the looks of it.

And please tell me you created https://github.com/coala-io to temporarily hold it.

[2016-09-09 13:14] sils1297 commented on #2729
yes, we created coalaio and coala-io temporarily.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 9 September 2016 at 15:12, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-09-09 13:14] sils1297 commented on #2729
I don't think github will free an account like this for us.

[2016-09-09 13:14] adtac opened #2742 "Update the latest stable version in the README"
I think it's 0.8.1 now.

[2016-09-09 13:15] adtac commented on #2729
https://help.github.com/articles/name-squatting-policy/

[2016-09-09 13:29] adtac commented on #2701
What do you think about having something like this:

![Yeoman](https://camo.githubusercontent.com/592fdfd145978b98a1ac4b04ec22d25cf19ee6b4/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3137303237302f3739343530302f34316532643439382d656361322d313165322d386466352d3936326639666139346336332e706e67)

The user can use the arrow keys to move between the options and choose. In the ima

[2016-09-09 13:30] adtac commented on #2701
I don't know any library that provides this out of the box, but we can do some research.

[2016-09-09 13:55] sils1297 commented on #2701
This is not about the interface, just shortening the descriptions. People don't read the long ones, I have had people asking me where ... is and I just pointed at their screen.

[2016-09-09 14:00] Makman2 commented on #2049
Every bear is refactored :)

[2016-09-09 14:12] Makman2 commented on #2695
it's definitely an issue in printing, not in the bear^^

Maybe we could just show `\File is empty` then or so? :/

[2016-09-09 14:42] underyx opened #2743 "`get_available_decodeerror` is duplicated in coala-bears"
Occurrences are:

https://github.com/coala-analyzer/coala-bears/blob/master/bears/js/JSONFormatBear.py#L12-L16

and

https://github.com/coala-analyzer/coala-bears/blob/master/bears/js/JSComplexityBear.py#L10-L14

[2016-09-09 14:44] Makman2 commented on #2711
not yet, is it really critical?

[2016-09-09 14:54] Makman2 commented on #2734
Alright.

I just came across a longer coala report and imo it was not that clearly arranged, as I had trouble to identify single issues quickly (or it could have been quicker :3), as file-excerpt-printing and everything else mixes a bit.

[2016-09-09 14:54] #2734 closed

[2016-09-09 19:19] sils1297 commented on #2695
Why, the bear tells us there's an issue in line one of the file - such a
line doesn't exist!

[2016-09-09 22:58] Makman2 commented on #2695
Imo a document starts with line 1. If nothing's there, then there's an empty line 1.

I think not doing this makes algorithms harder to write, as checking explicitly whether a file is empty or not would require extra code. We shouldn't enforce that^^

[2016-09-10 05:27] sils1297 commented on #2006
@rmariano any progress?

[2016-09-10 18:59] meetmangukiya commented on #2743
I'll take on this one :D

[2016-09-10 19:14] meetmangukiya commented on #2743
+ [ ] Change the name of the function to `get_available_decode_error`
@underyx agree?

[2016-09-10 19:18] meetmangukiya commented on #2729
:thought_balloon:
Also, after moving to another user, I think we should not abandon this account now and make its repos' the mirror of the repos of the new account

[2016-09-11 16:53] Makman2 commented on #2743
can't we drop this function by now? we don't support python below 3.4 anymore I believe^^

[2016-09-11 17:52] underyx commented on #2743
The exception is new in 3.5 though.

On Sun, Sep 11, 2016, 6:53 PM Mischa Krüger <notifications@github.com>
wrote:

[2016-09-11 23:45] Makman2 commented on #2743
ohh indeed have confused myself, sorry :)

[2016-09-11 23:45] Makman2 commented on #2743
looks like we need to reintroduce the compat-module again :P

[2016-09-11 23:46] Makman2 commented on #2743
@meetmangukiya best is you create a new module `Compatability` (or if you want, short `Compat`) inside `coalib.misc`. There the exception should go imo^^

[2016-09-12 01:11] meetmangukiya commented on #2743
@makman2 What exception :( ?

[2016-09-12 01:28] Makman2 commented on #2743
instead of just copying the function `get_available_decodebla`, it's nicer to do
[code]

[2016-09-12 06:38] iwfweb commented on #2729
Hi there,

we're the owner of the "coala" account on Github.

We just decided to rename our account to "iwfweb", because our company also went through some transitions.

I hope it's possible for you to use the name now.

Happy coding,
Jens

[2016-09-12 06:50] sils1297 commented on #2729
Hey @iwfweb thanks so much! I have the coala account now so we can use it. This is great!

Does anyone have experiences with organization renaming? I fear it might break things like CI; pull and push URLs will continue to work.

[2016-09-12 06:50] sils1297 commented on #2729
See also https://help.github.com/articles/renaming-an-organization/

[2016-09-12 12:38] adtac commented on #2729
Wow, this is really amazing. Thanks to @iwfweb for understanding :)

[2016-09-12 14:40] meetmangukiya commented on #2729
That was a quick response :D

On Mon, Sep 12, 2016 at 6:08 PM, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-09-12 16:47] meetmangukiya commented on #2743
@Makman2 as @underyx already suggested, `coalib`, afaik is a folder in `coala` and this file is in `coala-bears`, how are we going to make the import :/

[2016-09-12 17:32] #2723 closed

[2016-09-12 19:04] sims1253 opened #2745 "Show context for diffs and lines"
Show the function code belongs to in diffs. Like in git diffs the context line after the hunk metadata.
@meetmangukiya you wanna try this and it should be simple :)

[2016-09-12 19:08] meetmangukiya commented on #2745
Lets, see, let me look up some code ;)

[2016-09-12 19:25] sils1297 commented on #2745
Mockup:

Let's say I have some code in the file `SomeBear.py`:

[code]

Let's say I run the KeywordBear and coala would show me the TODO. It would show:

[code]

So: we would determine the context by the indentation and print all lines that have a lower indentation than the last printed one. They would be marked with `@` instead of `|` so we can still show the line numbers but give the user a hint

[2016-09-12 19:26] sils1297 commented on #2745
Oh the context lines should be not syntax highlighted and grayed out.

[2016-09-12 19:27] sils1297 commented on #2745
I think the heuristic would almost always make sense and obviously fail if the code is badly indented but it's not really a huge problem and it's pretty good.

Even if you use hanging indentation, string continuation etc. it makes a lot of sense to do this.

[2016-09-12 19:36] meetmangukiya commented on #2745
Show the function code belongs to in diffs. :confused: ?

`flag/not-clear` `flag/need-more-info`

[2016-09-12 21:51] sils1297 commented on #2745
Not only in diffs, also in related code. But diffs as well.

[2016-09-12 21:54] sils1297 commented on #2741
Hi @manthansharma ! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just j

[2016-09-12 23:08] #2741 closed

[2016-09-13 08:46] manthansharma commented on #2742
I want to work on this issue

[2016-09-13 09:07] sils1297 commented on #2742
Hey,

I think you have done two newcomer issues and it seems you're well acquainted with the workflow! That's awesome :)

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you can now dive into whatever you want. L

[2016-09-13 09:07] sils1297 commented on #2742
@adtac why do we have that badge if it's not auto updating? Can we just remove that?

[2016-09-13 09:53] sils1297 commented on #2745
See :point_up: [September 13, 2016 11:52 AM](https://gitter.im/coala-analyzer/coala-bears?at=57d7cc75b8d4c138408c3657) and upwards for more info.

[2016-09-13 09:55] sils1297 commented on #2740
Any progress on this?

[2016-09-13 09:55] sils1297 commented on #2740
IIRC you already looked through some. Would be a shame to loose the progress.

[2016-09-13 10:04] beatrix-bodo commented on #2740
Since I "misdiagnosed" that fork I'm kind of unsure of which one is really an issue and which one should I leave D: I'm not sure how to determine if something really should be closed. Later today if I have some time I'll try to figure github out but this seems so confusing right now.

[2016-09-13 10:10] beatrix-bodo commented on #2740
OK, that makes sense, thanks!

[2016-09-13 10:12] #2727 closed

[2016-09-13 10:47] adtac commented on #2742
@sils1297 IMO we should mention the current version *somewhere* in the README. And I think a badge is a cool way for it to stand out. But I can't think of any way to auto-update it :(

[2016-09-13 10:48] adtac commented on #2742
We could update it during the series of commits we do for releases - release notes, README, VERSION, then push to PyPI.

[2016-09-13 10:51] sils1297 commented on #2742
hm, maybe we can make a script for the release, shouldn't be too hard

[2016-09-13 11:35] jayvdb opened #2751 "NpmRequirement.is_installed fails with Ubuntu npm 1.1.4"
On Ubuntu precise, `npm show nonexistent_package` prints a blank line and return exit code 0, so `NpmRequirement.is_installed` returns true for everything.

[2016-09-13 11:53] jayvdb opened #2752 "GoRequirement.is_installed fails with Ubuntu precise and trusty go"
On Ubuntu precise, `go doc` does not work.

[code]

It always returns exit code 1, so `GoRequirement.is_installed` returns false for anything.

That is a reasonable result, as it cant detect if a package is installed, and it might be reasonable to not support that version anyway for other reasons (like if the vet tool doesnt work).

But the more immediate problem is that the test `GoRequirementTes

[2016-09-13 13:21] jayvdb commented on #2752
Looks like the same problem on Travis trusty images.

[2016-09-13 13:25] sils1297 commented on #2752
CC @Adrianzatreanu :P

[2016-09-13 13:25] sils1297 commented on #2751
CC @Adrianzatreanu

[2016-09-13 13:27] sils1297 commented on #2664
CC @fneu could you look into this?

[2016-09-13 13:28] sils1297 commented on #2049
@Makman2 wanna do the removal?

[2016-09-13 13:28] sils1297 commented on #2168
@Udayan12167 this is important, can we have this ASAP?

[2016-09-13 13:30] sils1297 commented on #2006
Unassigning @rmariano due to inactivity. If he's still working on this he can ping us later anyway and we can reassign.

[2016-09-13 13:31] sils1297 commented on #1852
What do we do with this? Is it still relevant? Nothing here that a virtualenv or an upgrade wouldn't solve, rght?

[2016-09-13 13:31] #1852 closed

[2016-09-13 13:32] sils1297 commented on #1839
@Makman2 still reproducable?

[2016-09-13 13:38] Udayan12167 commented on #2168
@sils1297 It was fixed as there is a test for the scenario in openeditoraction

[2016-09-13 13:53] fneu commented on #2751
`npm show` is the wrong command here, since it looks up package information, independend of whether or not the package is installed [1]. It's behaviour for nonexistent packages is even irrelevant here.

IMO `NpmRequirement` should use `npm list` here [2]:

I'm reworking cib at the moment anyway, so assigning myself.
Labelled unimportant for now since cib is not yet in shape.

[1]: https://docs.npm

[2016-09-13 14:01] sils1297 commented on #2168
so this can be closed?

[2016-09-13 14:01] #2168 closed

[2016-09-13 14:02] sils1297 commented on #2751
@fneu but it's really critical to get cib into shape. It's relieving to know you're on cib, does @Adrianzatreanu know?

[2016-09-13 14:06] jayvdb commented on #894
Regarding the drawback, does that mean that developer builds in forks (not PRs) need to provide their own workers if build is multi-platform/environment?

With GitLab, is it possible to use other CI environments?

Will the code still be replicated to GitHub?
As the code is in GitHub, I was able to do some [quick](https://travis-ci.org/jayvdb/coala/builds/159588840) Travis builds on precise, uncove

[2016-09-13 14:14] fneu commented on #2752
@jayvdb may I ask which version of go you are using?

"doc" doesn't appear in the output of `go help`?

I suppose that in this case `go help doc` would return an error code, right? that could at least skip the `skipIf` thing and then we'd have to figure outanother way to look for installed packages.

[2016-09-13 14:14] sils1297 commented on #894
When we migrate the core repositories there will definitely be a mirror (which might be lagging a few minutes behind and won't be used for development).

You can hook up other CI to GitLab, e.g. we use AppVeyor already for [PyPrint](https://gitlab.com/coala/PyPrint/).

You shouldn't need any own runners since GitLab.com provides unlimited runners for linux for free. Not sure about appveyor builds

[2016-09-13 14:14] jayvdb commented on #2751
So that is a major bug?  There are a lot of bears using `NpmRequirement`, and I'm guessing that means they are not correctly reporting that the bear dependency is missing...?  Separate bug for that?

[2016-09-13 14:15] Adrianzatreanu commented on #2751
yes @sils1297 i know that he's working on it, im looking forward :)

[2016-09-13 14:16] sils1297 commented on #2751
This is not a major bug because all the requirement classes are only used
in [cib](https://github.com/coala-analyzer/coala/#installation) which is
experimental. Still we want to make it production ready within few weeks
ideally so I'm super happy about your bug reports!

[2016-09-13 14:17] fneu commented on #2752
actually, looking at the doc right now, is `go list` available?
[code]

this could work instead

[2016-09-13 14:22] jayvdb commented on #2752
`go help` didnt list `doc`.

I'll take another look at this tomorrow, including verifying the version used, etc.
Using `go help doc` for the `skipIf` would be a good approach, if we cant find a way to get this old go .. going.

[2016-09-13 14:45] fneu commented on #2752
ok so docker is offering me a debian jessie right now with go1.3.3.

that one indeed does not have the `doc` command

it *does* have the `list` command though, so that should correctly show whether or not a package is installed. Interestingly, I couldn't test it right now because all of our GoBears require a version of Go higher than that. This in itself is not our problem though....

I have to ad

[2016-09-13 14:57] fneu commented on #2752
to add insult to injury, I now do have go isntalled and the test still fails.

`self.assertTrue(GoRequirement('go').is_installed())`

someone wanted to be funny. Are we not testing this on CI?
[code]

mind you it works with the builtin tool fmt:
[code]

[2016-09-13 16:02] Makman2 commented on #2049
gimme a couple of days, need to get my project done, deadline is approaching^^

[2016-09-13 16:05] Makman2 commented on #2743
Don't understand you exactly. If you implement the exception here in the coala codebase, then you need to change the bears accordingly in coala-bears to make use of the new "feature".

As coalib will be installed globally, importing from a bear is not a problem at all, our bears already do that quite often.

[2016-09-13 16:15] Makman2 commented on #1839
yes, DbusTest fails when executing twice^^

[2016-09-13 18:01] fneu commented on #2664
this is nasty

[2016-09-13 19:19] Makman2 opened #2753 "Printed chars are weird"
After introducing keyword highlighting in this commit:
https://github.com/Makman2/LCM/commit/6c2b588ecce993f33b0a9c038b3e4ad59566a84a

I get this on Windows:

[code]

Also:
Though you can now see the filename where the keyword was found, I can't see it in powershell, seems the fontcolor is blue^^

Using Atmel Studio as IDE, maybe it saves spaces weirdly. Though the SpaceConsistencyBear I use too w

[2016-09-13 20:43] fneu commented on #2664
@AbdealiJK I have bad news for you

try passing `recursive=True` to the builtin iglob :sob: :tired_face:

[2016-09-13 20:50] fneu commented on #2664
it all makes so much sense though.

`**` can match "anything", including "nothing".

the glob pattern "/home/user/**/pig.png" matches `/home/user/pig.png` - see how a slash get's lost?

all of this is kinda consistent and mirrors the behavior of cpython

`>>> fnmatch("/usr/lib/python3.5/site-packages/coala_decorators/__pycache__/decorators.cpython-35.pyc/", "/usr/lib/python3.5/site-packages/coala_

[2016-09-13 21:02] fneu commented on #2664
generally, I would consider this "malicious input" much rather than a bug, there is two things I *could* do, though.

a) yield stuff "only" two times. currently, this is possible:
[code]
simply putting the `@yield_once` decorator around `iglob` will reduce the number of appearances of each exact value to one, meaning once with slash and once without.

b) I could also check each value for whether o

[2016-09-13 21:21] fneu commented on #2664
concerning b):
usually our (and the cpython) glob results don't contain slashes at the end. Not even for directories. I could therefore just strip them.

[code]
it's also rather impossible to include slashes in a filename. Windows doesn't allow this, linux neither. I accomplished something similar through a file manager but it seemingly uses another unicode character now. Whoever does this - **esp

[2016-09-13 22:33] fneu commented on #2664
@sils1297 fix provided with #2754, overall I don't feel the need to provide a backport for 0.8

[2016-09-14 00:03] underyx opened #2755 "Log messages can go in the same line as 'Please enter the number of the action' prompt"
I saw something like this on @chauffer's monitor today:

[code]

The log messages should probably go on a new line somehow.

[2016-09-14 06:15] sils1297 commented on #2755
dupe of https://github.com/coala-analyzer/coala/issues/462

[2016-09-14 06:15] #2755 closed

[2016-09-14 10:23] jayvdb commented on #2751
@fneu , in #2754 , you say 'Since 'npm' is not a locally installed package according to 'npm list',
the test had to be changed to make use of a mock, since we cannot rely
upon any one package always bein there.'

Doesnt the same apply for all the JS tools the bears are using.  i.e. `remark-cli` could be in the global install prefix, and therefore wont be in `npm list` ?
Sorry if I am mistaken; my

[2016-09-14 10:58] jayvdb opened #2756 "Space prior to tab stop should be replaced if followed by whitespace"
This is essentially the opposite of #2748.

`replace_spaces_with_tabs` should do the following replacement.

[code]

It currently doesn't, because it doesnt, because it is using a simple algorithm to avoid doing:

[code]

I have a fix for this, but another related issue has arisen, and I want to make sure I get this tab problem sorted out once and for all.

[2016-09-14 11:02] fneu commented on #2751
I'm by no means an expert on npm, but if I understand it correctly, just calling `npm list` without arguments lists all the packages it finds on the system. And there aren't many:

[code]
although it returns `0`, while trying a package that is not installed returns `1`.

[code]

now:
[code]

I actually tried to put `self.assertTrue(NpmRequirement('').is_installed())` in the test but it failed, as

[2016-09-14 11:11] jayvdb commented on #2751
But does it work after
[code]
(On tablet for a few hours)

[2016-09-14 11:17] fneu commented on #2751
no you were right, I answered and then read your question again, edited my comment

it does indeed not work, thanks for noticing.

but we can check for it with `npm list -g remark-cli`

So we can just check locally and globally and then look whether one of the checks succeeds

[2016-09-14 11:22] fneu commented on #2751
updated #2754

[2016-09-14 13:00] sils1297 opened #2757 "Jenkins Integration for coala"
A lot of major corporations already use jenkins. I think we should make an integration for it so we can attract business clients better who could end up sponsoring/helping out coala.

type/feature difficulty/medium

[2016-09-14 16:24] meetmangukiya commented on #2743
Since, the two files to be changed are in two different repository, I'll raise a PR in both of them.

[2016-09-14 16:39] meetmangukiya commented on #2743
btw @Makman2 I never knew we could even import variables in python :+1:

[2016-09-14 17:06] fneu commented on #2664
@AbdealiJK A lot of things are clearer to me now.

the basic problem everybody shares, it that to evaluate `path*1/path*2` inside a glob, you need to figure out all the directories `path*1` matches, and then go from there.

Now the problem is, that if you have a directory with a file and you have a glob `directory/**/**`, the first part, `directory/**`, already matches both the directory and the f

[2016-09-15 03:02] Makman2 commented on #2743
a function is nothing else than an object too :) just like any other variable :)

[2016-09-15 16:04] #2743 closed

[2016-09-15 16:17] mgracer48 commented on #2742
can i work on this?

[2016-09-15 16:20] mgracer48 commented on #2688
Ill do it

[2016-09-15 16:45] sils1297 commented on #2742
Sure @mgracer48 !

[2016-09-15 16:49] mgracer48 commented on #2742
So whats the task basically i need to do (change the version numbers? ) (make a script to change it easily?)

[2016-09-15 16:54] sils1297 commented on #2742
The task here is just to change the version numbers indeed. If you want to
do something more challenging, add a release script somewhere ;) like
`.misc/release.py 0.8.1`, there's a script `.misc/adjust_version_number.py`
that you can reuse, it's already used in rultor, our merge bot; see
.rultor.yml.

[2016-09-15 17:21] meetmangukiya commented on #2019
IntelliJ is a Java IDE. So do we want `coala` plugin to only lint Java stuff?

[2016-09-15 18:46] sils1297 commented on #2019
Not sure, can you look at the eclipse plugin as well as the atom plugin? CC @AbdealiJK @arafsheikh

[2016-09-15 19:47] mgracer48 opened #2763 "Add python 2 support"
I think it be great if we could do this

[2016-09-15 20:15] sils1297 commented on #2763
coala being run under python 2? That's technically very difficult. coala uses some python 3 only features to automatically guess APIs for the analysis routines, see also coala.io/writingbears - we couldn't use those in python 2.

[Python 2 is dead.](http://pythonclock.org/), it's not properly maintained and "unless I push to the wrong branch accidentally" (quote from Guido) nothing will happen to

[2016-09-15 20:15] #2763 closed

[2016-09-15 20:16] sils1297 commented on #2763
P.S. coala can analyze python 2 code but not run on python 2

[2016-09-15 21:57] Makman2 commented on #2019
isn't IntelliJ the base IDE for all other descendants, like PyCharm and CLion?

[2016-09-16 08:16] sils1297 commented on #2019
I think so, IMO we should do it generically and make sure it works properly
with all jetbrains IDEs.

[2016-09-16 09:03] AbdealiJK commented on #2019
IntelliJ **Idea** is the Java IDE.
IntelliJ is the old name for JetBrains, the company behind Idea

IntelliJ idea is technically a Java IDE, but it has evolved to be pretty much everything. It currently supports [Python](https://plugins.jetbrains.com/plugin/?idea&pluginId=631), [AppleScript](https://plugins.jetbrains.com/plugin/8149), [Angular JS](https://plugins.jetbrains.com/plugin/6971), [Coffe

[2016-09-16 11:41] Makman2 commented on #2019
That was my intention :)

[2016-09-16 11:56] meetmangukiya commented on #2019
I see, that's nice, I'll take a look at that link.

[2016-09-16 14:14] adtac opened #2765 "Add doctests for methods in SpacingHelper"
Very suitable IMO

[2016-09-16 14:31] sils1297 commented on #2729
The rename has happened. We're now fixing up everything that doesn't work anymore :P

[2016-09-16 14:53] sils1297 commented on #2729
Gitter channel renamings: CC @MadLittleMods

Old Name | New Name
---|---
coala-analyzer/coala | coala/coala
coala-analyzer/coala-bears | coala/coala-bears
coala-analyzer/performance | coala/performance
coala-analyzer/documentation | coala/documentation
coala-analyzer/conferences | coala/conferences
coala-analyzer/coala/workshops | coala/workshops
coala-analyzer/coala/artwork-corner | coala/design

[2016-09-16 14:53] sils1297 commented on #2729
After the renaming I'll have to update the sameroom.io mirrorings to IRC and telegram as well as cobot.

[2016-09-16 16:02] sils1297 commented on #2729
I'll also need to update the website, we should grep everything for coala-analyzer in general.

[2016-09-17 00:34] jayvdb opened #2769 "SpacingHelper is inefficient"
`SpacingHelper.replace_tabs_with_spaces` is just [`str.expandtabs`](https://docs.python.org/3/library/stdtypes.html#str.expandtabs).

The perf of `get_indentation` can also be improved, by using `expandtabs`.  Even for the simplest case, with no tabs needing modulo:

[code]

When tabs are involved:
[code]

Note that `map`/`itertools.takewhile` doesnt offer an improvement.

[code]
With tabs:
[code]

[2016-09-17 00:35] jayvdb commented on #2765
Hold that thought!

IMO `SpacingHelper` should be destroyed with fire. #2769

[2016-09-17 02:54] jayvdb commented on #2769
See #2764 for re-implementation of `replace_spaces_with_tabs`, which still needs to be optimised.

[2016-09-17 07:21] sils1297 commented on #2765
I agree. IMO the class is badly designed (it's a bunch of functions trying to be an object) and when I wrote it I had no idea of the existence of expandtabs. If we can destroy it with fire that's awesome.

FWIW the other related issues are:

- https://github.com/coala/coala/issues/2769
- https://github.com/coala/coala/issues/2756

[2016-09-17 08:36] jayvdb commented on #2765
Can you give me a pointer to how you are deprecating things in coala?
I think I saw you say somewhere that your deprecation system isnt fully developed.
If so, I could write up a design doc, explaining the Pywikibot system I have been involved in building.
https://github.com/wikimedia/pywikibot-core/blob/master/pywikibot/tools/__init__.py#L1100

[2016-09-17 09:13] sils1297 commented on #2765
I'm on phone, for design docs we have the ceps repo. We only have the settings deprecation decorator so far I think.

[2016-09-17 12:46] underyx commented on #2769
Awesome find, @jayvdb!

[2016-09-17 13:57] Makman2 commented on #2765
@jayvdb maybe we just keep the old `SpacingHelper` class while you do your rewrite/improvements in another file. And inside `SpaingHelper.__init__` we print a deprecation warning as well in every `staticmethod` imo :)

[2016-09-17 14:40] sils1297 commented on #2765
Lets at least make a simple decorator otherwise you'll start forgetting
things and duplicate the warning everywhere

[2016-09-17 14:49] Makman2 commented on #2765
@sils1297 right :+1: :)

[2016-09-17 17:37] #2688 closed

[2016-09-17 18:19] wimpykid26 commented on #2373
can I take this one?

[2016-09-17 18:31] sils1297 commented on #2373
ahm actually it's not that simple, in most cases escaping them shouldn't be needed because we autoescape backslashes that don't have special meaning I think. CC @Makman2 ?

[2016-09-17 18:32] sils1297 commented on #2373
@wimpykid26 I don't think it's a good idea to pick this up because it's not clear wether or not it's a good idea, fault on our side - sorry.

[2016-09-17 18:33] wimpykid26 commented on #2373
@sils1297 can I work on the other newcomer issues?

[2016-09-17 18:37] wimpykid26 commented on #1663
Can I work on this?

[2016-09-17 18:39] sils1297 commented on #2373
sure, this is a special case, we fucked up ;) this shouldn't have been a
newcomer issue, I think we'll close this except if I remember wrongly

[2016-09-17 18:47] sils1297 commented on #1663
Sure! Let us know if you need anything or if the issue is unclear!

[2016-09-17 18:51] wimpykid26 commented on #1663
@sils1297 I am a complete newbie to coala. Where do I find the coalib.init.py file? and what description needs to be shown after running help(coalib)?. Thanks in advance!

[2016-09-17 18:54] sils1297 commented on #1663
For the `help` thingie you'll have to google how python does that. The file you want to look at is probably `coalib/__init__.py`

[2016-09-17 19:12] mgracer48 commented on #2660
Ill work on this
just more details please

[2016-09-17 20:24] sils1297 commented on #2660
CC @Uran198 does it make sense to address this issue before your PR is merged?

[2016-09-17 21:18] #2742 closed

[2016-09-17 21:38] wimpykid26 commented on #1663
@sils1297 What does 'description of coala/coalib' mean in the issue statement. A general overview of what the library does?

[2016-09-17 23:18] mgracer48 commented on #2660
@Makman2 then what do we want?

[2016-09-18 02:34] Makman2 commented on #2660
Change exception tracebacks and related information from DEBUG to ERROR :+1:

[2016-09-18 02:36] Makman2 commented on #2373
@sils1297 no we strip backslashes currently away I believe, or did we change that recently? can't recall... just try it :P

Btw I think it's just about placing a note inside the docs like

[2016-09-19 12:08] meetmangukiya opened #2774 "Remove deprecated link in the document string from the `Lint` class in the `Lint.py` file"
http://coala.readthedocs.io/en/latest/Users/Tutorials/Linter_Bears.html is the link in the file, it is 404'd, it needs to be updated.

Complete path of the file : `coala/coalib/bearlib/abstractions/Lint.py`

difficulty/newcomer

[2016-09-19 12:26] Uran198 commented on #2660
@sils1297 I think it does. There are a lot of places where the current logging will be exchanged for default one, so this does not really change that number, so not adding more work, while I like this feature and I think it might be useful.

[2016-09-19 15:25] Dawny33 opened #2775 "Irrelevant warning while showing bears"
### Overview Description

When the user does `coala --show-bears --filter-by-language <language>`,  and if the directory does not have a `.coafile`, it returns the following errors:

[code]

Out of these, the 2nd and the 3rd warnings are not required, as the user is trying to look at the list of bears and not trying to execute any analysis

In this,
# Steps to Reproduce
1. Go to a directory which

[2016-09-19 16:12] Makman2 commented on #2775
Fpr for `--show-bears` no .coafile shall be necessary.

[2016-09-20 06:43] Dawny33 commented on #2774
Should be updated with the following link:
 https://coala.readthedocs.io/en/stable/Users/Tutorials/Linter_Bears.html

[2016-09-20 15:51] Makman2 commented on #2774
Doesn't harm to have it, though `Lint` is deprecated and will be soon removed :+1:

[2016-09-20 16:51] Makman2 commented on #2753
This is how colors do look on my linux machine:

![screenshot from 2016-09-20 18-50-51](https://cloud.githubusercontent.com/assets/6023916/18680251/35914b1e-7f63-11e6-9206-cbc01523862d.png)

Imo this makes coala quite unusable as an interactive tool^^

[2016-09-20 21:45] sils1297 commented on #2660
Ok @mgracer48 take a look at LogPrinter, it has a method to log exceptions. The traceback is debug by default, we probably want to make it info or something like that at least. You'll probably have to change a few tests as well.

[2016-09-21 07:13] sils1297 opened #2777 "CI: Don't use DEBUG log level for coala run"
It's hard to find the relevant information in there.

difficulty/newcomer, this can probably be solved in our .circle.yml (or some filename like this, it's already there in project root)

[2016-09-21 09:36] Nosferatul commented on #2701
I wanna work on this!

[2016-09-21 09:40] sils1297 commented on #2701
Oh yes! @Nosferatul great :)

[2016-09-21 11:51] Nosferatul commented on #2589
From where should I start? :D

[2016-09-21 12:48] adtac commented on #2589
@Nosferatul ConsoleInteraction.py - `require_setting` :+1:

[2016-09-21 14:09] sils1297 commented on #1526
@chauffer just had this as well, I think we should do this ASAP.

[2016-09-21 14:12] Nosferatul commented on #2589
Thx @adtac  👍

[2016-09-21 18:22] #1663 closed

[2016-09-21 20:51] mgracer48 commented on #2660
Sorry i havent gotten to this u have been reading python books to improve my python and also havent had the time

[2016-09-22 03:52] Pratik151 commented on #2297
@sils1297  Hello If this is still open I would like to fix it.  What name should I give to test? test_single_character_match?

[2016-09-22 07:24] adtac commented on #2297
@robkau are you still working on this? If not, can I unassign you and assign @Pratik151 ?

[2016-09-22 07:25] adtac commented on #2297
@Pratik151 there should already be several tests in the test file. IMO you should add it in among those.

[2016-09-22 07:33] sils1297 commented on #2297
FWIW more small tests with good names are usually better than bigger ones

[2016-09-22 09:07] AbdealiJK commented on #2777
Note that now we are using `coala-ci -V`, hence we need to remove the -V flag which shows a lot of info that we don't need making the important info difficult to find.

[2016-09-22 09:10] sils1297 commented on #2777
I think we already have an issue for this

On 22 Sep 2016 11:07 a.m., "AbdealiJK" <notifications@github.com> wrote:

[2016-09-22 09:11] AbdealiJK commented on #2777
@sils1297 That was a comment on the issue you created a day ago. Not a new issue. (Probably confused by github emails?)

[2016-09-22 09:15] AbdealiJK commented on #2493
Unassigning as there's been no activity since Jul 23 (2 months ago)
If you still want to work on it, please comment and I'll re-assign you to the issue.

[2016-09-22 09:16] ankitjavalkar commented on #2777
I'd like to work on this, if it's not being worked on or dependent on any existing PR or issues.

[2016-09-22 09:17] SanketDG commented on #2777
@ankitjavalkar You are assigned :+1:

[2016-09-22 09:17] ankitjavalkar commented on #2777
@SanketDG Thanks

[2016-09-22 10:55] Nosferatul commented on #2589
Can you explain to me how this should work?

[2016-09-22 11:13] Adrianzatreanu opened #2779 "Wrong quotes used"
In coala/coalib/results/result_actions/OpenEditorAction.py, function ``apply``'s docstring is with ``'''`` isntead of ``"""``. I think its a mistake and not on purpose, and should be changed for consistency.

[2016-09-22 11:20] MadLittleMods commented on #2729
@sils1297 Renaming on Gitter is done, https://gitter.im/orgs/coala/rooms

[2016-09-22 13:19] Pratik151 commented on #2779
Same with ShowPatchAction - https://github.com/coala/coala/blob/master/coalib/results/result_actions/ShowPatchAction.py
Should I change it?

[2016-09-22 16:49] mgracer48 commented on #2660
which test files?

[2016-09-22 18:45] Adrianzatreanu commented on #2779
should be changed, yes.

[2016-09-22 22:17] sils1297 commented on #2777
sorry, confused by emails...

[2016-09-22 23:51] Makman2 commented on #2660
the ones that will fail when you've done your changes :P

[2016-09-22 23:55] Makman2 commented on #2729
@MadLittleMods thank you very much :)

@sils1297 something left to adapt?

[2016-09-23 08:51] jayvdb commented on #2765
I see we have [`coalib/bearlib/__init__.py`](https://github.com/coala/coala/blob/master/coalib/bearlib/__init__.py) `@deprecate_settings` , which is (not surprisingly) very similar to one I have developed with previously.  All good.

[2016-09-23 09:58] sils1297 commented on #2765
Yep we just need one for bears as well that warns upon class instanciation or so

[2016-09-23 09:58] sils1297 commented on #2765
and one for functions outside bears so we can deprecate coala API

[2016-09-23 13:58] yash-nisar opened #2781 "Fix typo: Tutorial.rst: of -> or"
The typo needs to be fixed in the following line :
*This will display a large amount of information regarding the bears that have been specified (in the .coafile of in the CLI arguments).*

[2016-09-23 14:32] yash-nisar commented on #2663
Could you please provide me subtle hints on this issue @AbdealiJK @sils1297 ?

[2016-09-23 15:14] AbdealiJK commented on #2663
Hi @yash-nisar Check out the variable `args.show_bears` in `coalib/coala.py` which is set to true when the `--show-bears` flag is given. There would be an equivalent `args.show_description`.

Check out what happend when theyre both True and find where the text is being printed. That probably uses a bear class to find this information. Use the `bear.__file__` or similar to find the file where the b

[2016-09-23 16:30] meetmangukiya commented on #2757
Do you mean integrating Jenkins for CI integration with coala's repositories, or integrating it in the framework :confused:

[2016-09-23 16:45] mgracer48 commented on #2660
[code]

[2016-09-23 16:45] mgracer48 commented on #2660
Help?

[2016-09-23 21:01] sils1297 commented on #2757
Make coala neatly integrated into Jenkins for others

[2016-09-23 22:36] Makman2 commented on #2660
@mgracer48 got a link to your commit / PR? :)

[2016-09-24 01:16] meetmangukiya commented on #2757
Do you mean make a Jenkins plugin of coala?

On Sat, Sep 24, 2016 at 2:31 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-09-24 08:47] whonut opened #2783 "Distinguish between bears with the same name different paths"
This originally came up when discussing #2594. See [this discussion](https://github.com/coala/coala/pull/2594/files/143d824390c6ec6a834499694c23a8488ead3930#r74198516).

In summary, bears with the same class name but defined in different files (e.g. SomeBear in foo/SomeBear.py and SomeBear in bar/SomeBear.py) are not treated separately. @sils1297 made a case for this in the above discussion. I ima

[2016-09-24 22:31] wimpykid26 commented on #2573
@sils1297 I would like to work on this issue but I do not know how to access the contents of self.section inside Linter.py. Apart from this, would only have to match the file extension that has to be processed against the languages the bear is written for ?

[2016-09-25 11:26] mgracer48 commented on #2660
https://github.com/coala/coala/pull/2782

[2016-09-25 11:27] mgracer48 commented on #2660
@Makman2

[2016-09-25 11:34] Flap-Py commented on #2781
I wanted to start of with this. Please assign me!

[2016-09-25 12:00] Pratik151 commented on #2486
@Makman2  can you assign this to me? I want to contribute and this looks good to learn development workflow.

[2016-09-25 12:51] Nosferatul commented on #2589
Should I include the `section` param to the `require_setting`

[2016-09-25 12:52] yash-nisar commented on #2663
@AbdealiJK The warnings also seem to be unwanted as @sils1297 mentioned above. I have found that these lines are printing the warnings `warn_config_absent(sections, 'files', log_printer),` `warn_config_absent(sections, 'bears', log_printer)` from the load_configuration function. So should I delete those lines ? I think we should keep `The default coafile '.coafile' was not found. You can generate

[2016-09-25 13:07] #1304 closed

[2016-09-25 13:07] Adrianzatreanu commented on #1304
hooray

[2016-09-25 13:08] Adrianzatreanu commented on #2027
also done.

[2016-09-25 13:08] #2027 closed

[2016-09-25 13:59] AbdealiJK commented on #2663
@yash-nisar I believe he does not want the log messages only in the case of `--show-bears` a `--bears` and `--files` are not needed for `--show-bears`. Hence, we need to add a condition, and not to remove those lines because whern `--show-bear` is being called that's not needed.

I agree that the .coafile warning should still be there, and should be suppressed only when `-I` is used.

Also, I thin

[2016-09-25 14:01] yash-nisar commented on #2663
Thank you @AbdealiJK . I think I should open another issue regarding the unwanted warnings.

[2016-09-25 14:09] yash-nisar opened #2787 "Remove unwanted warnings"
When I do `--show-bears --show-details` I get something like:

[code]

We don't necessarily print the warning there.

[2016-09-25 14:54] #2701 closed

[2016-09-25 15:23] raul1991 opened #2789 "Few document string corrections"
I found out few document strings that needs attention. Additionally, along the way i found a method without a document string.

Attaching a snapshot of the diff view of the corrections.
![screen shot 2016-09-25 at 8 50 22 pm](https://cloud.githubusercontent.com/assets/1281636/18816186/e69e94a0-8361-11e6-9dc5-8a354a787fd9.png)

[2016-09-25 15:27] sils1297 commented on #2789
Hey, usually you want `Print` instead of `Prints` actually (imperative tense is kind of standard though we're not complying to the standard yet properly)

Can you file single newcomer issues for other typos you found and close this?

[2016-09-25 15:30] raul1991 commented on #2789
So you want me to file a single issue for all the typos ? As in all those that i encounter in the whole code ? Am i understanding it correctly ?

[2016-09-25 15:31] Adrianzatreanu commented on #2789
@raul1991 yes, we'd like to have an issue for each typo you find :D thats what newcomer issues are mostly for :)

[2016-09-25 15:51] Nosferatul commented on #2693
Can you guide me to the files that need to be changed?

[2016-09-25 15:56] #2789 closed

[2016-09-25 15:57] raul1991 commented on #2789
Closing this to reopen more by segregating this one into more newcomer issues.

[2016-09-25 16:22] #2779 closed

[2016-09-25 18:33] zharkovav commented on #2775
Please assign it to me)

[2016-09-25 18:35] zharkovav commented on #2787
This bug is already reported... https://github.com/coala/coala/issues/2775

[2016-09-25 18:40] yash-nisar commented on #2787
Alright, sorry for the inconvenience.

[2016-09-25 18:41] #2787 closed

[2016-09-25 20:15] Makman2 commented on #2486
alright, looks like @pasta-driven is not there. But @Pratik151 please ping the person already assigned before / tell us to do so, he could have just forgotten this issue and still wants to do it^^

[2016-09-25 20:19] Makman2 commented on #2486
@Pratik151 I've sent out an invitation, tell me if you've accepted then I'm assigning you :+1:

[2016-09-25 20:21] Makman2 commented on #2693
@Nosferatul this is related to the next-gen-bears implementation, can't be done yet as we don't use "task" objects currently :)

[2016-09-25 20:22] Makman2 commented on #2775
sure :)

[2016-09-25 21:39] Nosferatul commented on #2693
Oh, my bad :)

[2016-09-25 21:51] Makman2 commented on #2693
oh wait I've misread a bit, you can already try to implement this (forget about the task object, but printing the filename should be possible) :D
@Nosferatul

[2016-09-25 21:54] Nosferatul commented on #2693
Ok, from where should I start?

[2016-09-25 21:59] #2781 closed

[2016-09-25 22:01] Makman2 commented on #2693
https://github.com/coala/coala/search?utf8=%E2%9C%93&q=failed+to+run

in specific
https://github.com/coala/coala/blob/4e94cdda8dd7793450c97f43c531173bff65bd24/coalib/processes/BearRunning.py
and
https://github.com/coala/coala/blob/7a1f395b162b64e6c4366298dedc17a8563e2dd2/coalib/bears/Bear.py
I think^^

[2016-09-25 22:23] Nosferatul commented on #2693
Ok, I'll check it! Thank you!

[2016-09-26 05:09] #2777 closed

[2016-09-26 07:36] raul1991 opened #2791 "ConsoleInteraction.py : Correcting the doc strings for methods"
Please look at the changes on the right side in the screenshot that should be done in the file **ConsoleInteraction.py**  to fix this issue.

![capture-1-1](https://cloud.githubusercontent.com/assets/1281636/18826194/cfe2fcb4-83e9-11e6-9ebb-127abf910ef5.PNG)
![capture-1-2](https://cloud.githubusercontent.com/assets/1281636/18826195/cfe79206-83e9-11e6-9f5b-9ef07a90dd67.PNG)

[2016-09-26 07:41] raul1991 commented on #2791
If this issue looks valid . Assign it to me and ill raise a pull request for the same

[2016-09-26 14:34] yash-nisar commented on #2663
@AbdealiJK I have a problem. Could you please help me out ?

- I have installed  the latest development snapshot of coala’s master branch from and all of its dependencies with pip using `(venv)$ pip3 install coala-bears --pre`.

- Then I installed a repository-backed version of the repository I was modifying using `(venv)$ pip3 install -e <path/to/clone>`.

- I made some changes in the cloned dire

[2016-09-26 14:54] #2791 closed

[2016-09-26 15:37] meetmangukiya commented on #2745
Does this sound like a right approach?

1. Get the line number of the diff from sourcerange.
2. Get the file name too from the sourcerange
3. Read the file and store it as a string in a variable
4. Get to the line number of diff.
5. Then loop backword and compare the indentation of nth line with (n-1)th line, if equal, do nothing, if lesser, then print that line with line number. Break out of the

[2016-09-26 15:59] Pratik151 commented on #2486
@Makman2  Ok sure will keep that in mind from next time. and yes I accepted the request.

[2016-09-26 16:30] mgracer48 commented on #2573
Ill do this if i get help :)

[2016-09-26 16:30] mgracer48 commented on #1709
Ill do this if i get help :)

[2016-09-26 16:33] mgracer48 commented on #2663
Ill do it

[2016-09-26 16:46] mgracer48 commented on #2335
ill do it

[2016-09-26 16:57] yash-nisar commented on #2663
It would be great if you could help me out. :smile:

[2016-09-26 17:26] #2486 closed

[2016-09-26 18:04] sils1297 commented on #2745
The file contents are already in a local variable. Rest sounds sane

[2016-09-26 18:06] sils1297 commented on #1709
Probably best to ask for help on gitter, usually people read it and try to
figure it out and you'll receive only responses from people who have
figured out something helpful

[2016-09-26 18:27] Makman2 commented on #2573
@wimpykid26 `Linter` is a derivative of bear, so from instance methods you can use `self.section`. And no you don't have to match the file extension, @encukou means a specific setting that's called `language` that shall be checked. We don't have some kind of file-extension-to-language-mapping-functionality yet, this is not that easy^^

But I just remember, you can annotate a bear-parameter with yo

[2016-09-26 18:30] sils1297 commented on #2573
Yep (though I think the error isn't printed in a particular pretty way)

[2016-09-26 18:53] AbdealiJK commented on #2663
I did not understand your statement "Do I have to write additional tests when I write those print statements as break points ?".

Why do you say that the changes are not seen when you run coala ? coala suppresses `print` statements in some places. So, if you're saying the change isnt there because youre not seeing some print statement you added - that may not be a correct way of testing if your ch

[2016-09-26 19:00] Makman2 commented on #2573
Alright, I think the task for this issue is:
Style up the error printing when the custom conversion function fails (maybe a new custom exception - like `InvalidArgument` or `UnsupportedArgument` - should be introduced for that case),.

[2016-09-26 19:33] sils1297 commented on #2573
we shouldn't rely on a custom exception, it might be a TypeError or
something e.g. when builtins like int or bool are used

[2016-09-26 19:37] yash-nisar commented on #2663
Thank you @AbdealiJK . I appreciate your response. :smile:

[2016-09-26 20:04] Makman2 commented on #2573
ah indeed haven't thought about this :+1: right let's take the default exception thrown when a conversion fails from built-ins :+1:

[2016-09-26 21:06] Makman2 commented on #933
actually you have already a prototype @Udayan12167 :D

[2016-09-27 09:46] #2049 closed

[2016-09-27 17:03] srisankethu commented on #429
I have been checking an effective solution for this problem. Since i am not used to the coala code base and I have been taking breaks, it took me sometime. So to effectively solve this bug we need to know how many new keys are inserted(not updated) so that we can handle "comments"(blank lines) properly. This can be done by changing `Setting` by adding an new instance `key_status = enum(new, old)`

[2016-09-27 17:14] Makman2 commented on #429
would you submit a PR? then it's easier to see what you mean exactly :)

[2016-09-27 17:20] srisankethu commented on #429
The first idea involves a modifying `Setting`. So there might be some intricacies. The new instance `key_status` which i talked about will not be of use other the solving this issue.
The second idea is fairly simple.

So down to the point, my first idea needs really careful review and only useful to settle our case and the second idea is simple. I want to know what you guys think is better?

[2016-09-27 17:33] yash-nisar commented on #2533
Are you still working on this @RohanVB ?

[2016-09-27 19:16] Makman2 commented on #429
I'm not really in into `Setting` parsing. So take the solution that's the simplest: Less code -> Simpler functionality :)

[2016-09-27 19:19] srisankethu commented on #429
Yup and it is unnecessary too. Need to change the tests though :) Should I ?

[2016-09-28 16:35] SanketDG commented on #2589
@adtac What if we return the name of the bear itself? I get sections contain settings too, but bears have settings, so the bear name appearing at the prompt seems to be more useful IMHO.

Thoughts?

[2016-09-28 16:46] Adrianzatreanu opened #2798 "Remove period from the settings print"
Right now if you execute SpaceConsistencyBear you will see this:

`Please enter a value for the setting "use_spaces" (True if spaces are to be used instead of tabs.) needed by SpaceConsistencyBear:`

i honestly think that the period afteR "tabs" is not fit there and should be removed.

[2016-09-28 17:08] Adrianzatreanu commented on #2529
but wouldnt there be conflicts? like id never want ALL python bears.. some do the absolute same thing as others in some points.

[2016-09-28 17:14] #2660 closed

[2016-09-28 17:18] sils1297 commented on #2529
agree, vote for won't fix not happening

[2016-09-28 17:20] Adrianzatreanu commented on #2529
please remove the label and arguemnt with in case someone else thinks otherwise.

[2016-09-28 21:16] Makman2 commented on #2529
also `not happening` from my side^^

[2016-09-28 21:16] #2529 closed

[2016-09-29 13:46] adtac commented on #2589
@Nosferatul sorry for the really late response :( Seems like you've got some work going, great job!

But to answer your question, I'm really unsure - I have very little experience with the console interaction part of coala.

[2016-09-29 13:49] adtac commented on #2529
Maybe we should look into providing some 'packages' of language bears that don't have conflicting functionalities? Kinda like what coala-quickstart is doing at the moment - see [here](https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/Constants.py). But this won't go with this issue, I guess.

[2016-09-29 13:50] adtac commented on #2529
BTW this was a suggestion from a complete outside during the code sprints at EuroPython, so maybe we could categorize this along usability.

[2016-09-29 17:44] sils1297 commented on #1709
Changing the AssertionError to SystemExit and addint a debug print would be sufficient I think

[2016-09-30 03:21] raul1991 opened #2800 "Broken Documentation link : Bears that make suggestions and corrections"
![image](https://cloud.githubusercontent.com/assets/1281636/18979691/e5966510-86ea-11e6-98f6-0889e0e60b8a.png)

Link to this document : http://coala.readthedocs.io/en/latest/Developers/Self_Correcting_Bears.html#bears-that-can-suggest-and-make-corrections
The highlighted link should be changed

[2016-09-30 05:22] bctaucsd commented on #2798
Would love to give this a shot!

[2016-09-30 09:33] Adrianzatreanu commented on #2798
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-09-30 10:44] ventris commented on #2800
I'll give this a shot.

[2016-09-30 10:45] sils1297 commented on #2800
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-09-30 10:51] ventris commented on #2800
Assign me

[2016-09-30 10:53] SanketDG commented on #2800
@ventris You are assigned!

[2016-09-30 10:56] vyasgiridhar commented on #2735
Can i take this issue up?

[2016-09-30 11:52] vemurisaurabh commented on #2493
Hello, I am Saurabh. Can I take this issue ?

Thanks,

[2016-09-30 11:54] srisankethu commented on #2493
Hello Saurabh! It seems you are new to coala. Please feel free to join our community at https://gitter.im/coala/coala. Also check out our newcomer guide to speed things up -> http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html

[2016-09-30 13:16] mayank26saxena commented on #2735
Could you please elaborate on what exactly needs to be done to resolve this issue? I would love to give it a shot.

[2016-10-01 04:19] raul1991 commented on #2798
assign it me @Adrianzatreanu

[2016-10-01 04:53] raul1991 opened #2801 "ConsoleInteraction.py : Adding the document string to the method print_affected_lines"
This method seems to be printing the lines that were affected by a bear. Adding a doc string will be really helpful for the newcomers.

![screen shot 2016-10-01 at 10 22 09 am](https://cloud.githubusercontent.com/assets/1281636/19011863/f40751b4-87c0-11e6-89a5-1b4836c45da0.png)

[2016-10-01 04:54] raul1991 commented on #2801
Assign it me @Adrianzatreanu

[2016-10-01 08:06] ankitjavalkar commented on #2683
Hi, can someone help me get started with this?
I see that the VersionConflict Message is located in constants.py but does the exception already know which Bear caused it? How do I obtain the Bear name to print in the message.
Apologies if the question sounds naive, this is my first difficulty/low ticket (only dealt with newcomer tickets before)
CC @AbdealiJK @sils1297

[2016-10-01 08:25] Nosferatul commented on #2683
In coalib/bears/Bear.py you have a property `name` that return the name of the used bear. Maybe you can pass the bear as an argument for `get_exitcode` function from Exceptions.py ? I hope this will help you!

[2016-10-01 10:08] meetmangukiya commented on #2418
Why is this open then @adtac ? Close it :confused: ?

[2016-10-01 10:16] srisankethu commented on #2073
Can I take this up?

[2016-10-01 11:12] sils1297 commented on #2798
Unassigning you @raul1991 as you're already assigned to another newcomer issue - we only have a limited number of those available. After doing a newcomer issue, please advance to low! Newcomer issues are a hell lot of work for us.

[2016-10-01 11:14] sils1297 commented on #2683
Maybe the exception has a member that holds that info?

[2016-10-01 11:20] kshitij10496 commented on #2798
Hello,
I would like to work on this.

[2016-10-01 11:23] sils1297 commented on #2418
This is a GitHub issue. We can't do anything about it. Thanks for reporting anyway!

[2016-10-01 11:23] #2418 closed

[2016-10-01 11:24] sils1297 commented on #2073
sure!

[2016-10-01 11:25] sils1297 commented on #2798
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-01 11:27] kshitij10496 commented on #2798
@sils1297 Thanks for the invitation.
I'm raring to go :smile:

[2016-10-01 11:28] sils1297 commented on #2798
:+1: let us know if you need anything :)

[2016-10-01 13:32] #429 closed

[2016-10-01 15:23] srisankethu commented on #2258
The text wraps perfect now. The issue must have been resolved.

[2016-10-01 15:33] souravsingh commented on #2690
@sils1297 I would like to work on the issue.

[2016-10-01 15:38] #2258 closed

[2016-10-01 15:38] underyx commented on #2258
Indeed seems to be resolved.

[2016-10-01 16:02] souravsingh commented on #2689
The cookiecutter recipe for coala bears is made here-https://github.com/souravsingh/cookiecutter-bear. Anyone from the coala dev teams can contribute to the recipe.

[2016-10-01 17:58] mayank26saxena commented on #1476
@sils1297 can you assign this issue to me? I'm a newcomer and I'm working on this.

[2016-10-01 18:32] sils1297 commented on #1476
Please don't ping me specifically. I get pinged for everything around here and I'm actually on vacation. If you ping me everyone will think "oh @sils1297 will do it" and you'll actually have to wait longer.

[2016-10-01 18:35] mayank26saxena commented on #1476
Oh, I'm sorry. I will not do this again.

[2016-10-01 18:45] sils1297 commented on #1476
no problem, you couldn't know. Spread the word :P

[2016-10-01 19:35] mayank26saxena commented on #1476
Haha, sure. Sorry once again :P

[2016-10-01 20:23] shubh49 commented on #2493
Hi!
Is this issue still available to work on?

[2016-10-01 20:26] srisankethu commented on #2493
@vemurisaurabh has asked for it just a day ago

[2016-10-02 09:29] raul1991 opened #2808 "ConsoleInteraction.py : Correct afected to affected in the method `print_affected_files`"
Typo in the method's docstring ie afected needs to change to affected.

![screen shot 2016-10-02 at 2 56 07 pm](https://cloud.githubusercontent.com/assets/1281636/19019771/6492a6be-88b0-11e6-8340-d3c22cea5276.png)

[2016-10-02 09:29] raul1991 commented on #2808
@Adrianzatreanu  , Can you assign it to me.

[2016-10-02 10:24] raul1991 opened #2809 "ConsoleInteraction.py : Invalid parameter mentioned in the docstring"
The parameter name should be result instead of result_list.

![screen shot 2016-10-02 at 3 00 47 pm](https://cloud.githubusercontent.com/assets/1281636/19019793/17a8c864-88b1-11e6-91a6-a49f05061e89.png)

[2016-10-02 10:24] raul1991 commented on #2809
assign it to me @Adrianzatreanu . TSHIRT TSHIRT TSHIRT :D

[2016-10-02 14:32] raul1991 opened #2811 "ConfigurationGathering.py: Missing method parameter in the docstring"
Method name : gather_configuration is missing a parameter named arg_parser in the doc string.

[2016-10-02 16:49] yash-nisar opened #2812 "Fix typo: ConsoleInteracion.py: od -> of"
_:param setting_name: Name od the setting missing_

[2016-10-02 16:57] yash-nisar opened #2813 "Change coala-analyzer to coala in the docs"
http://coala.readthedocs.io/en/latest/Developers/Writing_Bears.html

[2016-10-02 18:37] #2801 closed

[2016-10-02 19:22] sils1297 commented on #2812
@lqaz assigned you as you seem to be workin on it

[2016-10-02 19:27] sils1297 commented on #2813
@yash-nisar if you mention labels in the body when creating issues, gitmate will autolabel them

[2016-10-03 00:46] Makman2 commented on #2537
Actually I just recognize I've meant the API documentation :)

[2016-10-03 00:50] Makman2 opened #2816 "Linter: Change `RESULT_SEVERITY.MINOR` to `RESULT_SEVERITY.INFO`"
https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L704

[2016-10-03 00:56] Makman2 commented on #2537
@morganpdx wanna do this too now? This is the original issue for changing the API docs inside linter to contain the complete severity map? :)

[2016-10-03 01:03] Makman2 commented on #2690
this is difficulty/medium for me :O

@souravsingh sure :)

[2016-10-03 01:05] Makman2 commented on #2493
@shubh49 but feel free to take a different issue not assigned yet :) :+1:

[2016-10-03 01:52] yash-nisar commented on #2813
Okay @sils1297 :+1:

[2016-10-03 01:53] yash-nisar commented on #2813
Okay @sils1297 :+1:

[2016-10-03 03:01] capellini commented on #2811
I'd like to claim this.

[2016-10-03 03:19] capellini commented on #2811
Looks like @anu0012 already submitted a PR.  Looking at the PR, I would suggest at least adding the same description that's in `coalib/parsing/CliParsing.py` (i.e. `Instance of ArgParser that is used to parse none-setting arguments.`) to the docstring, rather than just including the parameter with no description.

I'll keep looking for other places where I could possibly help.

[2016-10-03 04:41] ventris commented on #2800
This is no longer an issue due to `95a6b1d` where the documentation that this issue is in is removed from the wiki.

[2016-10-03 04:51] srisankethu commented on #2493
I just checked [LineParsing.py](https://github.com/coala/coala/blob/master/coalib/parsing/LineParser.py). It looks like the typo has been fixed. You can close this issue.

[2016-10-03 05:05] vemurisaurabh commented on #2493
@srisankethu should i take another issue then?

[2016-10-03 05:06] srisankethu commented on #2493
Feel free to do so

[2016-10-03 05:10] vemurisaurabh commented on #2085
I will take this up :+1:

[2016-10-03 05:11] ventris commented on #2109
Assign me to this.

[2016-10-03 08:40] nikssardana commented on #2798
Hi! I am new to open source and would like to contribute to this community. I've locally made changes as required, but can't create a pull request. Please help!

[2016-10-03 09:42] sils1297 commented on #2798
Hi @nikssardana ! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just joi

[2016-10-03 09:49] nikssardana commented on #2798
@sils1297 I got your email. I'll find some other newcomer bug. Thanks!

[2016-10-03 10:18] nikssardana commented on #2809
Please assign this issue to me @sils1297

[2016-10-03 10:19] sils1297 commented on #2811
Hi @capellini and @anu0012 ! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

@anu0012 ping us so we can assign you after accepti

[2016-10-03 10:20] adtac commented on #2085
@vemurisaurabh assigned you :+1:

[2016-10-03 10:20] sils1297 commented on #2800
Thanks a lot @ventris ! Closing then. Feel free to pick up something else.

[2016-10-03 10:20] #2800 closed

[2016-10-03 10:21] sils1297 commented on #2493
thanks a lot @srisankethu for the resolution!

[2016-10-03 10:21] #2493 closed

[2016-10-03 10:36] sils1297 commented on #2809
Hi,

please don't ping me personally for such things. Everyone can do them - and almost everyone pings me. If you don't address a person specifically you'll likely get help faster from other people!

(Don't worry, this is not a problem but keeping things general is usually a good policy :))

[2016-10-03 10:38] nikssardana commented on #2809
Oops...Sorry! I'll keep that in mind from now on!

[2016-10-03 10:40] sils1297 commented on #2809
no issue :)

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 3 October 2016 at 11:38, Nikhil Sardana <notifications@github.com> wrote:

[2016-10-03 12:30] capellini commented on #2811
Hi @sils1297 -- thanks for the invite!  Indeed -- I'll put my comments in the PR. :+1:

[2016-10-03 14:01] capellini commented on #2735
@mayank26saxena I also contribute to a project called [Hoodie](https://github.com/hoodiehq/) that has the following issue template: https://github.com/hoodiehq/camp/blob/gh-pages/ISSUE_TEMPLATE.md.  I think that this issue is referring to creating something like this.

@sils1297 -- is that right? The above link is for a "first timers" template, so it may be overkill for more experienced coalaians,

[2016-10-03 14:54] Makman2 commented on #2735
@capellini yeah right, though I think this one is a bit too much for our purpose :3

@mayank26saxena see also https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2016-10-03 14:59] Makman2 commented on #2109
@sils1297 so this is about removing the duplication? Don't understand your title^^

[2016-10-03 15:11] morganpdx commented on #2537
Sure I can...but is there anything else that needs to be done?

[2016-10-03 15:14] Makman2 commented on #2537
Nope :)

[2016-10-03 15:37] sils1297 commented on #2735
We don't want the template to force you, you should still be able to file
issues really quick. But it should help you doing it right. I'd use
markdown comments only so you *can* ignore it

On 3 Oct 2016 15:54, "Mischa Krüger" <notifications@github.com> wrote:

[2016-10-03 15:37] sils1297 commented on #2109
Yes the title is wrong this is about duplication

[2016-10-03 16:16] #2664 closed

[2016-10-03 16:16] #2751 closed

[2016-10-03 18:11] jayvdb opened #2821 "Option to skip files without code"
In Python 2, an empty `__init__.py` file is meaningful without any content. Some packages like to leave it completely empty. However this will cause errors with some linters, such as `pydocstyle` and the proposed `CopyrightBear` (`flake8-copyright` has a problematic file size strategy for handling this.).

There may be other languages where a file should be excluded from a linter based on whether

[2016-10-03 19:33] anshuman73 commented on #2470
Hi, has this issue been solved with the aforementioned commit  -https://github.com/coala/coala/commit/514b216ae01227bc4ab655068aa582ac6cb579a4 ?

Infact, I cannot even find this file in the latest master branch.

If this issue is resolved, can it be closed ? Or if some work is required, I'll be happy to contribute

[2016-10-03 20:18] sils1297 commented on #2470
CC @Adrianzatreanu

[2016-10-03 20:30] fneu commented on #2426
actually this is probably a dulicate of https://github.com/coala/coala-bears/issues/317 and fixed upstream.

[2016-10-03 20:30] #2426 closed

[2016-10-03 20:54] Adrianzatreanu commented on #2470
this is what happens when you dont label stuff..

yes, this is fixed and moved to another repo https://github.com/coala/documentation/blob/master/Developers/Review.rst

[2016-10-03 20:54] #2470 closed

[2016-10-03 21:37] fneu opened #2822 "requirements incomplete"
I had trouble executing our tests although all requirements from `requirements.txt` and `test-requirements.txt` were satisfied to my knowledge.

The packages I had to downgrade to, were (required versions listed):

`restructuredtext_lint==0.14.*`
`proselint==0.3.*`
`yapf==0.10.*`
`cppclean==0.9.*`
`nltk==3.1.*`

I don't know what requires these, but they are **not** listed in out `requirements.txt

[2016-10-03 22:57] Makman2 commented on #2426
Did you rerun the stuff?

[2016-10-03 23:06] fneu commented on #2426
Not yet because I don't have the latest version of chktex available atm. But having reproduced this same backtrace on my native system I'm fairly certain that it is not a problem with docker (or any other non-utf-8 system) but with chktex itself that spits out non-utf-8 characters.

@Abdeali has reported that bug upstream to chktex in April and it got apparently fixed in chktex 1.7.6 this Septembe

[2016-10-03 23:22] Makman2 commented on #2426
alright :+1:

[2016-10-04 02:25] jayvdb commented on #2821
I havent been able to find another language where an empty file can have a meaning.  I have added the Python meaning to https://www.rosettacode.org/wiki/Empty_program#Python

However that page shows many languages consider an empty file to be valid, in which case an empty file might be used in test data for parsers of those languages, and running static analysis tools on the empty files is best av

[2016-10-04 08:55] ventris commented on #2109
Welp, that did not hit the mark... Will squash the commits.

[2016-10-04 10:26] ventris commented on #2109
Should one of them really be removed? They are not doing the same thing, and if the ListLogPrinter one is removed you get an recursion loop while running the tests.

[2016-10-04 10:38] manu-chroma opened #2825 "Documentation: In Newcomers Guide, executing tests link leads to 404"
``Executing tests`` leads to 404 in  http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html#step-4-creating-a-fork-and-testing-your-changes

![image](https://cloud.githubusercontent.com/assets/12952080/19071212/89414824-8a4c-11e6-8bf1-e79250e6139c.png)

[2016-10-04 12:13] #2825 closed

[2016-10-04 12:44] RohanVB commented on #2533
Yes, I am. Got delayed, sorry.

[2016-10-04 19:19] Nosferatul commented on #2541
Hey guys! I would like to work on this issue! Could someone give me an example how this should work and how to start? I know it's hard but I really want to contribute more 😄

[2016-10-04 20:38] Makman2 commented on #2821
To exclude files without code just exclude it from the file list.
[code]

As empty files in other languages have no meaning, they should be removed from codebase anyway then.

Imo there's no need to have some special checks (which need to be coded into the core which makes it even more complicated) for file emptiness. If linters have problems with empty files, imo it's their problem (I mean an emp

[2016-10-04 20:40] adtac commented on #2541
@Nosferatul Awesome!

I'd suggest reading up on how caching works in coala currently. See my [caching PR](https://github.com/coala/coala/pull/2016/commits) (I've linked the commits page because there are like 300 comments and the page didn't even load for me!). You can ignore the tagging part in that PR, it's irrelevant.

So the gist of how we do it currently is:

- get the list of files that matc

[2016-10-04 21:13] Nosferatul commented on #2541
@adtac Thank you so much! I know, that's why I want to work on this!

[2016-10-04 21:35] adtac commented on #2541
Great :) If you have any questions, just ping me on gitter :+1:

[2016-10-04 21:41] Nosferatul commented on #2541
Sure! 👍

[2016-10-05 00:35] jayvdb opened #2826 "Use Circle CI trusty image"
In August 2016, trusty became the default image for new projects.
https://circleci.com/blog/ubuntu-14-04-trusty-is-the-default-os-for-new-projects/
Anyone creating their circleci project now will have a trusty image now.  Unless the main project build switches to trusty images, it is very likely that a new developer will hit red builds due to complex dependency differences that do not occur on the

[2016-10-05 00:49] jayvdb commented on #2826
Note that the `coala` builds on Trusty fail on Julia Lint, same as https://github.com/coala/coala-bears/issues/859

[2016-10-05 09:25] mohit3011 commented on #2813
I am a newcomer here and would like to work on this issue.

[2016-10-05 09:29] srisankethu commented on #2813
@mohit3011 As you can see someone is already working on this issue. Check out our newcomer guide -> http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html

[2016-10-05 09:39] ventris commented on #2109
This issue can be closed, the code is not duplicated as it calls for different things in the definition.

[2016-10-05 10:01] sils1297 commented on #2109
The code is partially duplicated. You can't just remove the duplication, you have to adapt the code! :( In this case you can override `_print_log_message` to call the append to get rid of the duplication.

[2016-10-05 11:52] #2661 closed

[2016-10-05 12:06] martin-kokos opened #2832 "Unable to reproduce asciinema from coala.io"
### Overview Description
Unable to continue to next change or exit as in asciinema on coala.io

# Steps to Reproduce

1. Have file

[code]

2. run `coala --bears=SpaceConsistencyBear --files=test.py --save`

# Actual Results
Stuck in a loop with no advancement to next change or exit.
[code]

# Expected Results
Advance to next proposed change or exit if there aren't any other

# Reproducibility
Alw

[2016-10-05 12:08] sils1297 commented on #2832
Hey,

thanks for reporting. This is a bug. Also we should update the video because the UI changed a bit but still it's a bug, you shouldn't been able to reapply the same patch again after it was "used".

[2016-10-05 12:14] sils1297 commented on #2832
I can reproduce this.

[2016-10-05 14:56] RohanVB opened #2833 "#Ignore LineLengthBear: Error caused when used."
**Reproducing the error:**
I wanted to test out the 'Ignore Bear' feature which is already in coala which can ignore the checks of a bear by typing something like `#Ignore LineLengthBear` so I created a file which violates the linelength condition which is when I got the error below:

[code]

[2016-10-05 14:57] sils1297 commented on #2833
@RohanVB can you debug it?

[2016-10-05 14:59] RohanVB commented on #2833
@sils1297 sure I'll try to.

[2016-10-05 15:55] RohanVB commented on #2833
Error only reproducible in a particular case, may not require attention.

According to documentation:

_Examples:_
**Case-1 (_LineLengthBear works properly when there is a line succeeding the # Ignore_)**
[code]

**Case-2 (_Error thrown due to no lines succeeding the # Ignore_)**

[code]

**Further notes:**  In Case-1, the # Ignore LineLengthBear is repositioned to the beginning of the line when c

[2016-10-05 17:07] #2832 closed

[2016-10-05 19:54] anshuman73 commented on #2707
Hi, @Satyam-Bharadwaj , are you still working on this ?

[2016-10-05 20:05] anshuman73 commented on #2707
It seems assignees has stopped working on this.
Reference - https://github.com/coala/coala/pull/2722

[2016-10-06 06:33] akashfoss commented on #2813
I am a newbie in coala and would to fix this issue. Can anyone assign me to this issue ?

[2016-10-06 08:17] jayvdb commented on #2813
@akashfoss , see above.

[2016-10-06 08:34] nikssardana opened #2836 "ConsoleInteraction: Typing Error in docstring"
The first line of the docstring for print_affected_files contains a typing error

![screenshot from 2016-10-06 13-59-38](https://cloud.githubusercontent.com/assets/14257973/19145634/72669e88-8bcd-11e6-9e6c-e4bec4eba41e.png)
:

The line should contain the word "affected" instead of "afected".

[2016-10-06 09:25] vreethesh commented on #2836
I would like to get assigned to this issue.

[2016-10-06 10:10] sils1297 commented on #2813
Hey @simobasso ! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join

[2016-10-06 10:20] simobasso commented on #2813
Hey @sils1297! assign it to me! update in a couple of hours! Thanks

[2016-10-06 10:28] sils1297 commented on #2813
@simobasso you need to accept theinvitation first.

[2016-10-06 10:32] adtac commented on #2821
I think this should be a bear-specific flag. For instance, the `CopyrightBear` could verify if the file is empty pass it to `flake8-copyright` only if it has content. IMO this is too specific to be a coala wide option.

[2016-10-06 10:37] simobasso commented on #2813
@sils1297 I did it.

[2016-10-06 10:38] sils1297 commented on #2813
@simobasso thanks, this is yours :)

[2016-10-06 11:03] #2809 closed

[2016-10-06 13:20] Udayan12167 opened #2838 "Fix typo: bearlib/__init__.py : nondeterministic -> non-deterministic"

[2016-10-06 14:10] ma3lstrom opened #2839 "fixture 'mocker' not found error when running py.test"
Running py.test fails as the fixture 'mocker' is not found for the disable_bears fixture at coala/tests/settings/conftest.py.
![mocker_bug](https://cloud.githubusercontent.com/assets/1377982/19155605/ee45937c-8b93-11e6-90c6-74162b518aa3.png)

labels: difficulty/low, hacktoberfest

[2016-10-06 14:10] ma3lstrom commented on #2839
I suspect that this might be because the mocker python library is not installed

[2016-10-06 15:01] Satyam-Bharadwaj commented on #2707
Hi,
I was working on it but my text editor would chnage a bit more than the
words required. Hence i shall not be able to provide a commit.
Thank you

On Thu, Oct 6, 2016, 1:24 AM Anshuman Agarwal <notifications@github.com>
wrote:

[2016-10-06 16:07] nikssardana commented on #2838
Please assign this to me. Thanks!

[2016-10-06 16:10] sils1297 commented on #2838
Hey,

it seems you're well acquainted with the workflow! That's awesome :)

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://coala.io/low) - you can now dive into whatever you want. Let us know if you need help or have any special interes

[2016-10-06 16:12] nikssardana commented on #2838
Ok. I'll look for something more challenging now. Will ping you when I need help.

Cheers!

[2016-10-06 16:20] tanvibhakta commented on #2707
Hey, I'd like to work on this. Will submit PR in the next few hours. :)

[2016-10-06 16:26] anshuman73 commented on #2707
Hi, just a heads up, I have already submitted a PR for the same. I just
need to resolve the git issues. I haven't exactly got a straight shot at
it. I should be able to do that in a few hours as well. If you want, you
can resolve me git issue. As far as I know, there's only a small typo in
the commit message and other guidelines have been mentioned in the PR
request, for which you should be able t

[2016-10-06 17:10] tanvibhakta commented on #2707
Ooh, okay. I'll take a look at it. Thanks. :)

[2016-10-06 17:24] tanvibhakta commented on #2707
Ooh okay, I'll have a look at this. Thanks. :D

Edit: I looked at the ticket you referenced that @Satyam-Bharadwaj submitted. It looks like there's just an amend to be made on a commit message from his side which we can do nothing about. What have you done? What is left for me to do?

[2016-10-06 18:23] amrandahvur commented on #2707
Assign me this

[2016-10-06 18:25] Cosmopal commented on #2707
Assign me this issue

[2016-10-06 18:27] RoshanAji commented on #2707
Please assign me to this issue

[2016-10-06 18:27] peey commented on #2537
please assign this issue to me

[2016-10-06 18:28] guptavaasu commented on #2811
please assign me this issue!

[2016-10-06 18:32] peey commented on #2735
Please assign this issue to me

[2016-10-06 18:32] Yomojet commented on #2537
Get  me assigned!

[2016-10-06 18:33] amrandahvur commented on #2811
Assign me this

[2016-10-06 18:36] siddjai commented on #2838
Please assign this to me.

[2016-10-06 18:43] virresh commented on #2707
I'd like to work upon this issue

[2016-10-06 18:56] virresh commented on #2839
I'd like to work on this. Please assign this to me.

[2016-10-06 19:16] Makman2 commented on #2537
Ah sorry @Yomojet I forgot to assign @morganpdx , hes has already taken up on this issue (https://github.com/coala/coala/pull/2807)

[2016-10-06 20:40] RoshanAji commented on #2724
I would like to have this issue assigned. Thank you

[2016-10-06 20:41] RoshanAji commented on #2707
I would like to have this issue assigned upon me

[2016-10-06 21:35] sils commented on #2707
assigned @amrandahvur , that comment was first.

[2016-10-07 01:31] jayvdb commented on #2821
"Source file has no code." is one of the simplest possible static analysis of a file. It would belong in `coala`. Specific use of that information might belong in the relevant bear only, but that is not relevant for this issue.

[2016-10-07 07:26] sils commented on #2811
Done.

[2016-10-07 09:10] Makman2 commented on #2821
So this is a bear proposal?

Then yes agree, this would be a useful analysis to detect unnecessary empty files in a project.

[2016-10-07 09:15] sils commented on #2821
LineCountBear could have an option for that and an ignore grep e.g. for
init and stuff

[2016-10-07 11:27] #2729 closed

[2016-10-07 11:27] #2813 closed

[2016-10-07 14:56] peey commented on #2735
Is an elaborate structure required or just a simple comment?

For example, the issue template in CONTRUBUTING.rst reads:

[code]

A simpler one could look like :
[code]

[2016-10-07 15:54] adtac opened #2841 "Remove the (experimental) from the caching feature point in the README"
it's default now

[2016-10-07 16:05] prafful002 commented on #2841
May i work in this issue ?

[2016-10-07 16:19] adtac commented on #2841
@prafful002 sure

But to assign you, I need to invite you to our organization. Please drop by at our [gitter channel](https://gitter.im/coala/coala) and say hello so that I can do that :)

[2016-10-07 17:45] meetmangukiya commented on #2070
If this issue is still relevant, I'd like to work on this.

[2016-10-07 17:48] meetmangukiya commented on #2745
I think this is the function that needs tinkering https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L155

[2016-10-07 18:24] #2841 closed

[2016-10-07 18:34] prafful002 commented on #2812
@sils if the assignee is not working on it currently may I take it up ?

[2016-10-07 18:37] sils commented on #2812
please ping him about it and don't take it over "behind his back" without
asking it

[2016-10-07 18:55] sils commented on #2735
How about:

[code]

[2016-10-07 18:57] prafful002 commented on #2812
@lqaz if you're no longer working on this may I take it up?

[2016-10-07 19:08] Makman2 commented on #2730
This is already implemented.

[2016-10-07 19:08] #2730 closed

[2016-10-07 20:53] morganpdx commented on #2537
@Makman2 Thanks!  I seem to be having some trouble linting the changes properly, and it's giving me some heartburn...any advice?  If I run coala on the local repo, it shows a bunch of missing bears (including 'GitCommitBear', which might be telling) so I'm not sure if there's something I'm doing wrong?

<img width="523" alt="screen shot 2016-10-07 at 1 53 00 pm" src="https://cloud.githubuserconten

[2016-10-07 23:05] Makman2 opened #2844 "DistributionRequirement does not initialize base class"
`PackageRequirement.__init__(...)` doesn't get called, @Adrianzatreanu is this intended? Though this looks very weird...

[2016-10-07 23:14] coala-bot opened #2845 "This is a test issue"
So well, this was filed using `cobot`.

Cheers!

Opened via [gitter](https://gitter.im/coala/coala/?at=57f82c6470fcb5db0c3b1cc8) by @sils

[2016-10-07 23:22] Makman2 opened #2846 "DistributionRequirement: Little improvement proposal"
Imo `DistributionRequirement` works quite non-PackageRequirement like: It's problematic to get the package name (as there are many names depending on the manager used), and versions are not supported.

I would suggest:

1. `DistributionRequirement` accepts as first parameter a general name for the package which is not related to the actual names the managers do use. It's just the "real" name of th

[2016-10-07 23:23] #2845 closed

[2016-10-07 23:34] Makman2 opened #2847 "PackageRequirement: Add `install_command()`"
`install_command` is something that is not necessary bound to a `DistributionRequirement` only. `PackageRequirement` should have it too with a not-implemented version.

[2016-10-07 23:39] Makman2 commented on #2537
Did you install `coala-bears`? You won't get any bear with the default `coala`(-core) package^^

[2016-10-08 00:51] jayvdb commented on #2821
No, it is support for very basic static analysis. A 'this file contains code' function is very generic, and provides a solid foundation for most other types of analysis to be built on.

Another off-shoot of this would be 'what language is this file', which is relevant as a `.php` file might contain only HTML or even XML, and indeed a `.html` file could be HTML or XML.

[2016-10-08 04:11] amrandahvur commented on #2707
So, I have found three files in the coala repository that contain "writer" in it, should i change them all to "author" ? Also, should i create a separate branch for these changes considering that it isnt a major change ?

[2016-10-08 05:42] prafful002 commented on #2693
@sils can I give this assigned to me if noone is working on it ?

[2016-10-08 08:23] sils commented on #2693
@prafful002 there you go

[2016-10-08 09:00] adtac commented on #2821
@jayvdb about the langauge detection thing - see https://gitlab.com/coala/coala-utils/blob/master/coala_utils/Extensions.py

[2016-10-08 11:31] #2707 closed

[2016-10-08 14:19] meetmangukiya commented on #2070
hacktoberfest

[2016-10-08 16:25] #2109 closed

[2016-10-08 16:40] #2811 closed

[2016-10-08 22:16] sils commented on #2689
Nice, we can build on that

[2016-10-09 12:31] Makman2 commented on #2821
Imo checking the file for emptiness is so trivial that we don't need to have a generic function for that:
[code]

I think I'm missing your point @jayvdb  ^^

[2016-10-09 12:51] jayvdb commented on #2821
If that was the case, https://www.rosettacode.org/wiki/Empty_program would be a very simple wiki page.
It isnt.  And that is only one half of the problem -- it doesnt cover what legally can exist in a file and the file is still empty.  e.g. comments, docstrings, but also xml-preambles and php start and end.

[2016-10-09 16:49] victor-torres commented on #2839
Cannot reproduce @ OS X.

Maybe lack of `pip install -r test-requirements.txt`?

[2016-10-09 17:41] sils commented on #2839
Yes @ma3lstrom that looks like a typical `pip install -r test-requirements.txt` missing. Closing as invalid, if you have a suggestion on how we can make it more intuitive feel free to open an issue. If this doesn't fix your issue, of course reopen it.

[2016-10-09 17:41] #2839 closed

[2016-10-10 09:14] Makman2 commented on #2821
ah you mean actually *code* instead of *content*.
So you want to report that a file is empty for this case:
[code]

This is then definitely not the case :)

For example: Just a docstring in a python file is still meaningful, as it's module documentation. You can actually do `help(mypythonfile)` and you would get this docstring^^

But we could definitely try to implement algorithms helping with tha

[2016-10-10 12:57] Adrianzatreanu commented on #2812
assigned @prafful002

[2016-10-11 05:15] erickzhao commented on #1969
Newcomer here: would like to be assigned to this since @yashhsethiya doesn't seem to be working on it.

[2016-10-11 09:13] sils commented on #1969
@erickzhao there you go! Feel free to take up existing work. If you do, make sure to mention @yashhsethiya as co author.

[2016-10-11 10:45] #2812 closed

[2016-10-11 16:50] morganpdx commented on #2537
Thanks @Makman2, I'll give that a shot.

[2016-10-12 09:54] meetmangukiya commented on #2070
Why not let coala convert the capturing groups into non-capturing groups ?

[2016-10-12 10:21] meetmangukiya commented on #2070
I need a bit more info @Makman2 , which regex have to be checked for not including capture groups, initially I assumed that this issue addressed the usage of capture groups in `output_regex` parameter, but as I read here https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L675 it seems to be very well appreciated to use the capture groups -- that are specified.

So whi

[2016-10-12 12:30] abhsag24 opened #2860 "LocalBearTestHelper: Provide mechanism to get dependencies"
_From @abhsag24 on May 28, 2016 13:9_

right now LocalBearTesterHelper is not usable when a bear has other bears as dependencies, this should not be the case.

_Copied from original issue: coala/coala-bears#466_

[2016-10-12 12:30] abhsag24 commented on #2860
_From @gitmate-bot on May 28, 2016 13:10_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-10-12 12:31] abhsag24 opened #2861 "Implement new tests using `check_results`"
_From @Makman2 on April 11, 2016 19:19_

We definitely need better tests for our bears using `LocalBearTestHelper.check_results`.

This is some "ongoing" issue, feel free to implement better tests for a single bear and referring to this issue (not fixing it, just referring! :D)

_Copied from original issue: coala/coala-bears#323_

[2016-10-12 12:31] abhsag24 commented on #2861
_From @gitmate-bot on April 11, 2016 19:19_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-10-12 12:31] abhsag24 opened #2862 "Make LocalBearTestHelper robust"
_From @sils on February 21, 2016 15:8_

_From @AbdealiJK on December 8, 2015 13:31_

Currently, `LocalBearTestHelper` simply checks if there are results that are yielded or not.
Would be considerably better is we give it a list of line, cols where the result should yield in a given file.

_Copied from original issue: coala-analyzer/coala#1111_

_Copied from original issue: coala/coala-bears#36_

[2016-10-12 12:31] abhsag24 commented on #2862
_From @sils on February 21, 2016 15:8_

@AbdealiJK I think we should support both, it's nice to have those simple tests sometimes IMO

[2016-10-12 12:31] abhsag24 commented on #2862
_From @sils on February 21, 2016 15:8_

_From @AbdealiJK on December 8, 2015 13:59_

Yes, i meant it as an optional thing

On Tue, Dec 8, 2015 at 7:18 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-10-12 12:31] abhsag24 commented on #2862
_From @sils on February 21, 2016 15:8_

The helper should also create the actual files so it can be used well with linters that use file input.

[2016-10-12 12:31] abhsag24 commented on #2862
_From @SanketDG on March 27, 2016 4:49_

What would be the best way to specify the line and column numbers for each invalid file?

[2016-10-12 12:31] abhsag24 commented on #2862
_From @AbdealiJK on March 27, 2016 5:21_

Simple list of line,col tuple?

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎27-‎03-‎2016 10:19
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala-bears] Make LocalBearTestHelper robust (#36)

What would be the best way to specify the line

[2016-10-12 12:31] abhsag24 commented on #2862
_From @SanketDG on March 27, 2016 6:21_

So something like:
[code]

[2016-10-12 12:31] abhsag24 commented on #2862
@SanketDG @AbdealiJK  i have an `assertRange`  function in  #227 's tests that does exaclty this, you might want to have a look at that

[2016-10-12 12:31] abhsag24 commented on #2862
_From @Makman2 on March 27, 2016 15:26_

I think we should check against `Results`, then we can check for everything yielded, like severity etc.

[2016-10-12 17:42] deadpyxel commented on #2836
I'm kinda new on github, does only one person get assigned to each issue? or there can be a multiple number of pull requests related to the same issue? In advance, good project, and keep up the good work.

[2016-10-12 18:01] tylfin commented on #2174
I'd like to be assigned this!

[2016-10-12 18:50] Makman2 commented on #2836
@deadpyxel yes only one shall work on a single issue to prevent doing the same work (as one PR needs to be abandoned in that case :/ ). This issue is already assigned, but feel free to take another one.
If you want to start with something a bit more challenging, you can also pick a `difficulty/low` issue :)

[2016-10-12 18:55] Makman2 commented on #2174
I've sent out an invitation to you :)
After you've accepted I'll assign you, best is you ping me for that on the [gitter channel](https://gitter.im/coala/coala) :)
If you need help with anything in coala, you can get help there too :D

[2016-10-12 18:58] deadpyxel commented on #2836
@Makman2 Much thanks, and sorry for screwing up that PR, I wasn't really sure what to do since I never did contribute to other peoples projects, and used Github mostly for my own college stuff. Thanks for the tip.

[2016-10-12 19:06] Makman2 commented on #2836
hehe no problem at all, it was your PR :D
PRs don't harm the repository as long as we don't merge them :)

[2016-10-13 00:15] morganpdx commented on #2537
I installed cola-bears, and ran coala on the repo, and there appears to be no issues:

![screen shot 2016-10-12 at 5 14 58 pm](https://cloud.githubusercontent.com/assets/49012/19332296/7144a38e-909f-11e6-9e93-d9338ecb494d.png)

However the PR is still showing issues.  Is there something I'm still missing?

[2016-10-13 00:31] Makman2 commented on #2537
PR related, I commented there :)

[2016-10-13 09:00] segunfamisa commented on #2798
Hi, new comer here. Is this issue still open?
If yes, I would love to try out this one.

Cheers :)

[2016-10-13 09:11] jayvdb opened #2867 "Extract code blocks from documentation and process using appropriate bears"
Idea sparked from https://github.com/coala/coala-bears/issues/902

It would be good to use the various python libraries for reStruturedText (docutils, Sphinx), Markdown, AsciiDoc, etc to extract the code blocks where they identify a code language, and push the code block through the relevant bears.

[2016-10-13 09:14] sils commented on #2867
@jayvdb I think you may want to close this in favour of https://github.com/coala/coala/issues/2538

[2016-10-13 09:18] sils commented on #2538
We also need a decorator or so that adds the params that the other bear needs to the signature.

[2016-10-13 09:29] raul1991 commented on #2836
Duplicate of issue #2808

[2016-10-13 09:36] Makman2 commented on #2836
oh indeed :+1:
closing the other in favor of this issue as this one is being worked on.

[2016-10-13 09:36] Makman2 commented on #2808
Closing in favor of #2836 as it's more recent.

[2016-10-13 09:36] #2808 closed

[2016-10-13 09:40] sils commented on #2798
@kshitij10496 still working on this?

[2016-10-13 09:44] Makman2 commented on #2867
yes :+1:

[2016-10-13 09:44] #2867 closed

[2016-10-13 10:24] nsgonultas commented on #2690
Is @souravsingh still working on this issue? If not, I would like to take this @Makman2

[2016-10-13 10:26] jayvdb commented on #2867
In this case the language is not known in advance. But happy enough that the high level design part is a dup.

[2016-10-13 10:27] souravsingh commented on #2690
I would be making a PR in a few days @nsgonultas

[2016-10-13 10:33] sils commented on #2867
Yep we would write bears using that design pattern achieving your functionality.

[2016-10-13 10:38] Makman2 commented on #2690
@nsgonultas feel free to pick meanwhile another issue :)

[2016-10-13 10:50] nsgonultas commented on #2690
Can you recommend one with no assignee?

[2016-10-13 10:52] sils commented on #2690
see coala.io/new and coala.io/low

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 October 2016 at 12:50, Enes Gönültaş <notifications@github.com> wrote:

[2016-10-13 11:07] nsgonultas commented on #2573
May I work on this one?

[2016-10-13 11:24] sils commented on #2573
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-13 11:30] nsgonultas commented on #2573
Invitation accepted. I'll be working on the issue soon.

[2016-10-13 11:30] sils commented on #2573
It's yours!

[2016-10-13 12:25] #2735 closed

[2016-10-13 13:20] #1969 closed

[2016-10-14 17:26] adtac commented on #2541
@Nosferatul I believe you're working on this, so I'm assigning you :P

[2016-10-14 18:00] Makman2 commented on #1969
what about `hai` (`はい`) and `iie` (`いいえ`)? :P

[2016-10-16 08:34] sils commented on #2847
@Makman2 are you working on this already on #2843 ? Is @fneu aware of this? He's doing a refactoring in that area as well. Also please clarify on why this is needed and synch up with each other and @vreethesh .

[2016-10-16 08:37] fneu commented on #2847
@Makman2 `install_command` might as well go, I removed it locally as cob won't need it and it's hard to do cross-distro.

[2016-10-16 08:38] sils commented on #2847
@vreethesh plase stop working on this right now. Maybe pick it up later, when discussions are resolved but this stuff is likely to vanish.

[2016-10-16 08:39] vreethesh commented on #2847
@sils OK

[2016-10-16 10:03] #2836 closed

[2016-10-17 09:46] coala-bot opened #2871 "Coverage falls sometimes nondeterministically"
importance/high we should take a look. ![Screenshot](https://files.gitter.im/coala/coala/dTfc/Screenshot-from-2016-10-17-11-44-39.png)

Opened via [gitter](https://gitter.im/coala/coala/?at=58049dee8eaaaea366a2126d) by @sils

[2016-10-17 23:36] Makman2 commented on #2833
Why did you close? Was this fixed?

[2016-10-18 16:40] #1476 closed

[2016-10-18 18:29] nsgonultas commented on #2573
Can anyone explain what should I do? I'm trying to understand the problem, by reading Linter.py and [Linter Bears section](http://docs.coala.io/en/latest/Developers/Writing_Linter_Bears.html) of the docs but didn't make sense so far :worried:

[2016-10-18 23:24] mayank26saxena commented on #2698
Can I take up this issue? I'd like to work on this!

[2016-10-19 09:04] sils commented on #2698
Nice @mayank26saxena please do, this is much demanded and we should definitely have this :)

@chauffer since nothing happened I assume you found other things to do and I hope it's ok that I unassigned you bluntly.

[2016-10-19 09:29] sils commented on #2871
false issue, was a problem with that PR

[2016-10-19 09:29] #2871 closed

[2016-10-19 09:47] #2589 closed

[2016-10-19 10:31] Makman2 commented on #2573
Honestly I've lost sight a bit. But I believe the major issue is that it's not possible to error out nicely if the arguments provided don't play well together in the eyes of the bear-developer.

It's currently possible to annotate parameters with your own type that can check validity:
[code]

The problem is that you can't check invalid argument *combinations* with this.

I think the best approach

[2016-10-19 10:32] sils commented on #2573
@Makman2 why? What's wrong with erroring out? In this usecase indeed the simple conversion would suffice.

[2016-10-19 10:35] Makman2 commented on #2573
the user would get a hell list of the same errors / messages that the arguments don't work.

[2016-10-19 11:13] nsgonultas commented on #2573
So? @Makman2 @sils

[2016-10-19 12:05] sils commented on #2573
@Makman2 anything can go wrong at any point. IMO erroring out with an exception should be possible anyway. Doesn't have to be param related, I don't understand your problem. It's a builtin concept of the language.

[2016-10-19 12:24] RohanVB commented on #2833
It wasn't an issue in the first place. According to the documentation, the #Ignore would act on the preceding line, which is exactly what it does.

[2016-10-19 12:54] sils commented on #2833
uhm but you get an exception don't you? That should never happen

[2016-10-19 12:59] RohanVB commented on #2833
Ok. What should happen in this case? An error message stating improper placement of #Ignore bear-name?

[2016-10-19 13:01] nsgonultas commented on #2573
What about a function like this:
[code]
Or it can just return True/False or raise an error? :grin:

[2016-10-19 13:04] sils commented on #2833
it should still work, the `#ignore` should work for both the line it appears in and the following. If there is no following line that should be ignored. I guess somewhere we add +1 to the index and then access the line which doesn't exist. This will be easy to fix. @RohanVB wanna fix?

[2016-10-19 13:13] RohanVB commented on #2833
Yep. Thanks.

[2016-10-19 14:43] Makman2 commented on #2573
@sils but if something's wrong with the passed parameters, it will occur on every file, and the user gets an overflooded terminal^^

[2016-10-19 19:28] sriranganathan commented on #2400
I would like to take up this issue :)

[2016-10-19 20:03] tylfin commented on #2174
@Adrianzatreanu I'm having difficulties recreating this issue, can you send the command you used or the .coafile?

[2016-10-19 20:19] Nosferatul commented on #2400
Go ahead @sriranganathan

[2016-10-19 21:04] Nosferatul commented on #2400
Go ahead!

[2016-10-19 22:06] cylussec commented on #2284
I would be willing to take this on, but its not clear what you are looking for. Should there be some automated process to look at documentation changes and use Proselint on them automatically? Or are you looking for someone to go through the existing documentation?

[2016-10-19 22:20] sils1297 commented on #2284
@underyx ?

[2016-10-20 08:46] Adrianzatreanu commented on #2174
i simply ran coala with the .coafile on the ``coala`` repository (that was at the time). maybe this was fixed in the mean time then involuntarily ^^ closing for now then

[2016-10-20 08:46] #2174 closed

[2016-10-20 08:50] sils commented on #2284
I think it's basically adding ProseLintBear to the coafile of the coala/documentation repository so our docs are checked, @underyx can you confirm?

[2016-10-20 09:00] #2826 closed

[2016-10-20 09:20] underyx commented on #2284
Yep, that's it.

[2016-10-21 09:13] coala-bot opened #2878 "Move Bear Writing Tutorials into Documentation Comments in the Source Code"
Let's make our API docs shine. CC @Makman2 and @Adrianzatreanu , see discussion linked below.

Opened via [gitter](https://gitter.im/coala/coala/?at=5809dc3ab17b667961e05986) by @sils

[2016-10-21 09:18] sils opened #2879 "unused import description reminder"
this issue is just for me. Ignore it.

[code]

[2016-10-21 10:37] sils opened #2881 "to_snakecase and others don't handle periods well"
if you pass something like `Something.ElseIsGreen` you would expect `something.else_is_green` in the snake case example, however the actual result is `something._else_is_green`.

This probably also affects the other casing conversion functions.

[2016-10-21 10:49] sils opened #2882 "Add Ignore action"
we should have an action that allows ignoring a result, that would place an "ignore" comment right there generated with coalang information.

This is doable but would mean a significant bump in usability!

[2016-10-21 10:53] Makman2 commented on #2878
move or copy?

[2016-10-21 10:54] sils commented on #2878
move.

[2016-10-21 10:54] sils commented on #2878
The API documentation should be so good that it can *replace* the old tutorial.

[2016-10-21 10:55] #2879 closed

[2016-10-21 10:59] Makman2 commented on #2878
imo a tutorial and API docs are two different things. When you read the tutorial, you normally come with the background "I need to write a completely new bear and need some general guidance", whereas for API you come with the intention to look for something specific (at least it's my behaviour).

[2016-10-21 11:08] Nosferatul commented on #2882
How this should be?

[2016-10-21 11:13] Makman2 commented on #2881
To implement this, I would additionally propose some general parsing function which would produce a list of terms and the file ending. Then we can control the interpretation way better, while the individual `to_snakecase`, `to_camelcase` etc. function write to the right format.

[code]
why? currently every casing function takes over the reading and interpreting of the string on its own --> code du

[2016-10-21 17:01] coala-bot opened #2884 "cannot collect test class 'SkipTest' because it has a init constructor (pytest warning)"
because it ends with Test it's assumed a test but it's probably a helper class
difficulty newcomer or difficulty low type tests

Opened via [gitter](https://gitter.im/coala/coala/?at=580a49ca56121b9c7ea972a7) by @sils

[2016-10-21 17:09] nsgonultas commented on #2573
What about a `validate_settings` method in Bear.py file? Will it work? @Makman2

[2016-10-21 20:47] Makman2 commented on #2573
that's what I suggest :)

[2016-10-21 21:17] d1ndra commented on #2284
Would like to work on this if nobody isn't.

[2016-10-21 21:18] d1ndra commented on #2881
This seems interesting. Should I work on this?

[2016-10-22 00:43] Makman2 commented on #2881
you should be invited, as soon as you accept I'll assign you :) If you want you can already start working :+1:

[2016-10-22 04:16] AGZ98 commented on #2884
I'm new to Coala, github and open source dev in general. I want to contribute to this issue, can someone point me in the right direction with this?

[2016-10-22 06:41] sils commented on #2884
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-22 07:03] sils commented on #2284
Hi! Welcome to our community and thank you, both @cylussec and @d1ndra for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

Rules as follows, since both of you want to do i

[2016-10-22 07:18] RohanVB commented on #2833
I'm unable to reproduce the error anymore.
Requesting someone else to take over that can reproduce the above error or to close this issue.

[2016-10-22 09:50] coala-bot opened #2886 "Check out GitBook for API documentation"
See also coala/documentation#214

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=580b3669278cc54c6f5ade0b) by @sils

[2016-10-22 11:58] Makman2 commented on #2833
then let's close :)

[2016-10-22 11:58] #2833 closed

[2016-10-22 20:09] d1ndra commented on #2881
So I shouldn't be working on this?

[2016-10-22 21:51] Makman2 commented on #2881
@Adrianzatreanu why did you assign @RohanVB ? :O

[2016-10-23 13:45] jayvdb opened #2888 "coala-ci should error if there is no .coafile"
When there is no `.coafile` , `coala-ci` exit code is 0 and the output is:

[code]

[2016-10-23 19:45] sils commented on #2888
yeah right, if no analysis is performed the exitcode of all binaries should be nonzero right? Let's add an exitcode for that and document it. That should be fairly easy, modifying the coala main routine and changing docs. Marking difficulty/low.

[2016-10-23 20:08] sils commented on #2711
Yep you hide errors and a lot of users are stumbling. This is important and should be fixed ASAP.

[2016-10-23 20:08] sils commented on #2700
@fneu @Adrianzatreanu any news?

[2016-10-23 20:09] sils commented on #2888
@jayvdb if you think it's critical I'll pick this up.

[2016-10-23 20:10] sils commented on #2888
I'll reuse exitcode 2 according http://docs.coala.io/en/latest/Users/Exit_Codes.html

[2016-10-23 20:15] sils commented on #2888
Heh, not so simple after all

[2016-10-23 20:22] sils commented on #2888
Alright the fix is simple (see commit referenced) but it destroys like all tests which just ignore the warning and don't pass valid configs there...

[2016-10-23 20:24] sils commented on #2888
I feel like we're starting to patch around the real problem. Because this won't catch e.g. if I give wrong bear names but only if I give no bears and arguments. Needs some architectural design thinking. I think we'll want to run the sections and print the warnings at the nothing_done hook and raise the systemexit there or something.

[2016-10-23 21:22] Nosferatul opened #2890 "Classes for Collectors.py"
Maybe we should make classes inside Collectors.py so that the code wouldn't be global?
Something like:
`class CollectorsBear:`
`methods that are for bears`

Not so sure.
CC @sils

[2016-10-23 21:34] Nosferatul opened #2891 "Split ConsoleInteraction.py"
Maybe we should split it in 2 files depending on methods (for bears/global use).

[2016-10-24 10:04] sils commented on #2757
see also https://groups.google.com/d/msg/jenkinsci-dev/2LciAQgdRcY/Kv2rQlwXAAAJ

[2016-10-24 11:56] sils commented on #2757
essentially we have to make a PR with the coala parsing to https://github.com/jenkinsci/warnings-plugin/

[2016-10-24 12:01] aptrishu commented on #2757
This is helpful. I'll update you by tomorrow about how am I going to do this.

[2016-10-25 14:44] Makman2 commented on #2891
In this case I need to ask you, do you have something explicit we shall split up? :)

[2016-10-25 14:45] Makman2 commented on #2890
What do you mean? We have already a `Bear` base class, `Collectors.py` is for collecting files the user selects via his coafile.

[2016-10-25 14:46] Makman2 commented on #2890
And what do you mean with

[2016-10-25 16:00] coala-bot opened #2894 "Generate JSON Spec"
We should have a JSON spec people can use to parse coala-json's output.

Opened via [gitter](https://gitter.im/coala/coala/?at=580f81ac482c168b22b64e7c) by @sils

[2016-10-25 16:09] sils commented on #2894
I just generated http://pastebin.com/EHvu803Q with http://jsonschema.net/ and the output of `coala-json todos -V > tst.json` we can probably easily generate an API doc from that as that's a JSON schema :)

[2016-10-25 16:12] coala-bot opened #2896 "coala-format: Add parameter for format string"
How should the user know how to use coala-format if there's no hint on how to set the format string in the help?

importance/critical difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=580f8485ba810c1d5fcf2050) by @sils

[2016-10-25 16:14] sils commented on #2896
the setting has to be `format_str` internally so the param should be `--format-str`

[2016-10-25 16:14] sils commented on #2896
default one is `id:{id}:origin:{origin}:file:{file}:line:{line}:column:{column}:end_line:{end_line}:end_column:{end_column}:severity:{severity}:severity_str:{severity_str}:message:{message}` that should explain what's available and how to use it

[2016-10-25 17:09] meetmangukiya commented on #2896
1. We have to create `--format-str` in `config_group` in `DefaultArgParser`
2. Add input in input group that could be a permutation of `id:{id}:origin:{origin}:file:{file}:line:{line}:column:{column}:end_line:{end_line}:end_column:{end_column}:severity:{severity}:severity_str:{severity_str}:message:{message}` not all included.

Do I understand the problem well ?

[2016-10-25 17:15] meetmangukiya commented on #2896
I'd also have to include the arguments in the config_group `if parser_type == "coala-format"`, right?

[2016-10-25 18:17] sils commented on #2890
actually I'd rather refactor some of our classes like Parser and stuff
into functions

[2016-10-25 18:23] sils commented on #2890
what would that solve? Our current design is leaned towards the design of
the python standard library: use classes where they make sense, function
where those make sense.

[2016-10-25 18:24] sils commented on #2573
disagree, just throwing an exception is more natural, less complicated and
less automagical

[2016-10-25 18:24] sils commented on #2891
is there anything for global use in there? :thinking:

[2016-10-25 18:28] Makman2 commented on #2573
thing is a developer exception means for me something went wrong which should not happen, while providing invalid settings is quite common for a user. Nice little message vs. traceback: I take the message :O
\+ like said again, if some settings are invalid for *all* files the user gets a mass of exceptions, I don't what that from user perspective^^

But what's also possible is to hook the construc

[2016-10-25 18:30] sils commented on #2882
What do you mean?

[2016-10-25 20:28] cylussec commented on #2044
I would be willing to look at this. I noticed in a cursory look that 'console_printer' is used. Are you suggesting to move to using the python built in logging and have the different logging levels instead?

[2016-10-25 20:53] sils commented on #2878
@cylussec assigning you as you seem to be working on this, right?

[2016-10-25 21:50] sils commented on #1706
So we definitely want this in GitMate but it's also useful to do locally. See discussion at :point_up: [October 25, 2016 11:46 PM](https://gitter.im/GitMateIO/support?at=580fd2c18ed1c0ff5c2c21c1).

[2016-10-25 21:55] sils commented on #2573
We're using this all over the place and raising exceptions to catch them later and make a nice message out of thm.

[2016-10-25 21:55] sils commented on #2573
I'm not saying to let the exception slip through, linter should catch it.

[2016-10-25 21:56] sils commented on #2573
But seriously @Makman2 you're making this overly complicated. Exceptions are made for this. Raise, catch, handle.

[2016-10-25 21:59] sils commented on #2044
Please use builtin logging and not LogPrinters, we're phasing those out. Should I assign you?

[2016-10-25 22:28] cylussec commented on #2044
Sure!

[2016-10-26 07:57] RohanVB commented on #2881
@d1ndra requested to be assigned to another issue, so he was assigned to that issue @Makman2

[2016-10-26 08:01] sils commented on #2881
oh actually this is a dupe of https://github.com/coala/coala/issues/2696 and @Asnelchristian is already working quite actively on that. I hope you don't mind if I close this?

[2016-10-26 08:01] #2881 closed

[2016-10-26 08:01] sils commented on #2881
Tell us on the other issue if you want to collaborate.

[2016-10-26 08:04] RohanVB commented on #2881
Yeah, I talked to @Asnelchristian about this. We were thinking that #2696 could be for handling periods and then this PR could be for stopping the code duplication. Or maybe you could add the code-duplication part in #2696 aswell.

[2016-10-26 08:14] RohanVB commented on #2696
Hey is the code duplication issue to be added to this PR or do we want it in a separate PR?
Reference from @Makman2 's comment on #2881

[2016-10-26 08:58] underyx opened #2897 "Just notifying about warnings when in CI"
There's a bunch of bears that are only around 95% reliable, or maybe we just don't know how to configure it to make it just strict enough to not bother us about too many things. The problem is that the only way to deal with this is to just disable them — if they fail the CI build for some bullshit reason, that'll be annoying, if instead we somehow run the checks and mute them (make them not fail t

[2016-10-26 09:08] Nosferatul commented on #2897
I'm positive that we need this. Sometimes failed builds can be quite annoying

[2016-10-26 09:43] Nosferatul commented on #2891
Well I've been thinking only to move the functions that are for `bears`. As a developer, if you don't know what are you searching for, but it's for a bear, you should only search in a more specific file. The functions are well named also

[2016-10-26 09:46] Makman2 commented on #2891
which ones are for bears? Ideally everything in this file is related to user interaction only^^

[2016-10-26 09:47] Makman2 commented on #2696
yes this PR! thanks @RohanVB  :D

[2016-10-26 09:50] Makman2 commented on #2573
Imo this should work for all bears, not only linters. If you want an exception for this, we should define one which is just raised on invalid parameters. The problem of getting thousands of messages still persists though^^

[2016-10-26 09:55] Nosferatul commented on #2890
@Makman2 I saw it, I've been thinking only to encapsulate it. But I now understand the concept of how our code is designed. I see your point @sils 👍 . I'm closing this because of the descussion and open a new issue for refactor classes to talk about it

[2016-10-26 09:56] #2890 closed

[2016-10-26 10:05] Nosferatul commented on #2891
`show_bear` `show_bears` `print_bears` but maybe I'm wrong 🤔

[2016-10-26 10:08] Makman2 commented on #2891
these are for showing/printing bears on the terminal, this is user interaction specific :)

[2016-10-26 10:46] rajdeep1008 commented on #2798
@sils i would like to help with this if no one else is working on it
And please add me in the community too. :)

[2016-10-26 10:48] sils commented on #2798
Unassigning @kshitij10496 due to inactivity.

@rajdeep1008
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be a

[2016-10-26 11:02] adtac opened #2898 "`start ignoring` ignores too much"
[code]

Running PEP8Bear on this doesn't produce any results for some reason (it should flag lines 1 and 5). However this works properly:

[code]

[2016-10-26 11:02] sils commented on #2798
@rajdeep1008 assigning you

[2016-10-26 15:54] meetmangukiya commented on #2896
+ [ ] create `--format-str` argument
+ [ ] the trigger action

[2016-10-26 16:13] sils commented on #2896
https://github.com/coala/coala/issues/2896#issuecomment-256099652 : yes

Just adding the argument should be totally sufficient.

[2016-10-26 20:38] sils commented on #2775
Unassigned @zharkovav as per request. Please don't ping me personally for such things. Everyone can do them - and almost everyone pings me. If you don't address a person specifically you'll likely get help faster from other people!

(Don't worry, this is not a problem but keeping things general is usually a good policy :))

[2016-10-27 09:12] jayvdb commented on #2006
I dont believe this is difficulty/low . I would put it at medium at least.

[2016-10-27 15:35] Nosferatul commented on #2882
I missunderstand

[2016-10-27 17:49] meetmangukiya commented on #2896
Is it really just to add a argument :confused: that seems more like a `difficulty/newcomer` issue then :confused: anyways, see the PR, is that really what is needed?

[2016-10-27 17:53] sils commented on #2896
yeah, I think your PR should do it, your help text should be a bit better
though explaining the options. also it's not a store const. Watch your code
;)

[2016-10-27 17:53] sils commented on #2896
yeah, I think your PR should do it, your help text should be a bit better though explaining the options. also it's not a store const. Watch your code ;)

[2016-10-27 19:26] meetmangukiya commented on #2896
1. I think the code needs to be tweaked as well... we should allow rearrangement of the order in which the ids,lines.... etc. occur, given the current string, we are just formatting the string(that is constant).

2. And review the help message again.
3. And I think we need `action=store`? :confused:

[2016-10-27 20:10] coala-bot opened #2901 "Make a metadata aspect class"
Which should cover all aspects that the GitCommitBear can check.

I'll do this difficulty low

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58125f2b482c168b22c1a8b6) by @sils

[2016-10-27 20:11] sils commented on #2901
prototype: http://pastebin.com/rf4ZtPKX

[2016-10-27 21:56] Nosferatul opened #2902 "Constants.py: coalib.BUS_NAME imported but unused"
We don't need this `from coalib import BUS_NAME`

[2016-10-28 05:24] rohan097 commented on #2902
I would like to work on this issue. How do I proceed ?

[2016-10-28 10:03] sils commented on #2902
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-28 10:20] sils commented on #2896
Can you please read up on argparse and git grep for the format_str, I don't have time to explain this soonish. Will be pretty unavailable.

[2016-10-28 10:22] meetmangukiya commented on #2896
I'll try my best :+1:

[2016-10-28 10:27] meetmangukiya commented on #2896
Do we want it merged todayish?

[2016-10-28 10:51] coala-bot opened #2904 "Tests failed locally"
As suggested by @tusharmakkar08
The output : [pastebin](http://pastebin.com/aZLDvmn5)

Opened via [gitter](https://gitter.im/coala/coala/?at=58132dac7b15d16e55b9b622) by @meetmangukiya

[2016-10-28 11:30] sims1253 opened #2906 "README: Documentation link"
I didn't find a link to the documentation after glancing over the readme. This maybe should be improved.

[2016-10-28 12:51] Adrianzatreanu opened #2907 "Using --filter-by-language throws a lot of errors"
So apparently if you use --show-bears with --filter-by-language:

[WARNING][14:51:19] Unable to collect bears from /usr/local/lib/python3.5/site-packages/bears/general/IndentationBear.py. Probably the file is malformed or the module code raises an exception.
[WARNING][14:51:19] Unable to collect bears from /usr/local/lib/python3.5/site-packages/coalaYapfBear/YapfBear.py. Probably the file is malfo

[2016-10-28 12:51] Adrianzatreanu commented on #2907
it has happened to a lot of people here during the sprint, it shouldnt be that verbose :(

[2016-10-28 13:13] Adrianzatreanu opened #2908 "Wrong imports used on some bears"
It should use param_conversion and not param_convertion on some bears, as it was renamed in coala-utils

[2016-10-28 13:16] Adrianzatreanu commented on #2908
should be in coala-bears, my bad

[2016-10-28 13:16] #2908 closed

[2016-10-28 13:38] achilleas-k commented on #2906
I'll add a link to coala.readthedocs.io in the row of links under the badges.

[2016-10-28 14:03] tusharmakkar08 commented on #2902
Any updates @Adrianzatreanu ?

[2016-10-28 14:07] coala-bot opened #2910 "apparently if I load a nonexisent coalang I get an exception, am I supposed to catch that in the Bear?"
AnnotationBear fails dramatically sometimes.

Opened via [gitter](https://gitter.im/coala/coala/?at=58135b9e482c168b22c5d330) by @sils

[2016-10-28 14:55] #2906 closed

[2016-10-28 15:39] maciejs opened #2911 "PerlCriticBear, PermissionError: [WinError 5] Access is denied"
### Overview Description

Running PerlCriticBear, error is displayed

# Steps to Reproduce

1. "c:\Program Files\Python35\Scripts\coala.exe" --files test.pl --bears=PerlCriticBear

# Actual Results
[WARNING][17:31:31] The default coafile '.coafile' was not found. You can generate a configuration file with your current options by adding the `--save` flag.
Executing section Default...
[ERROR][17:31:

[2016-10-28 15:56] coala-bot opened #2912 "Performance optimization"
See http://vmprof.com/#/c6129905a07dcc73b42848a60084d0b2

- look into print_result, time spent in the queue get is short
- and of course gather config

Opened via [gitter](https://gitter.im/coala/coala/?at=5813751bc3569a036e2b872c) by @sils

[2016-10-28 16:05] nikhaas opened #2914 "Bash Autocompletion not working"
Bash autocompletion does not work for me. I strictly followed the steps from [coala docs](http://coala.readthedocs.io/en/stable/Users/Tutorials/Shell_Autocompletion.html).

[code]

but it does not work.

I have installed `Python 3.5.1`, `argcomplete 1.6.0`, `cib` (not coala-bears) and the bears `PEP8Bear, RadonBear`.

This is the output of the eval statement:

[code]

Is anyone facing the same iss

[2016-10-28 22:52] Nosferatul opened #2915 "ResultTest.py: local variable expected_file is assigned to but never used"
`expected_file` variable isn't necessary in `test_json_diff`

[2016-10-29 07:27] justuswilhelm opened #2916 "Newcomer guide should invite users to solve difficulty/low issues as well"
Lasse suggested this and I agree. Devs that are already familiar with how OSS contribution works can already start hacking on difficulty/low issues!

[2016-10-29 08:59] amelzer opened #2917 "Cannot install coala on Ubuntu"
### I was trying to install coala on Ubuntu and failed

# Steps to Reproduce

1. While on `14.04.1-Ubuntu` using  `Python 3.4.3`, `pip 1.5.4 (python 3.4)` run `pip3 install coala`

# Actual Results
Coala installation fails with:

    Downloading/unpacking coala
    Downloading coala-0.8.1-py3-none-any.whl (169kB): 169kB downloaded
    Cleaning up...

    Exception:
    Traceback (most recent call

[2016-10-29 09:17] amelzer commented on #2917
Upgrading to `pip 8.1.2` solved the issue.

Are the minimum requirements for Python and Pip already documented somewhere? If not, it may be a way to improve the docs. :)

[2016-10-29 09:20] sils commented on #2917
Hey, we have this listed in the FAQ at least somewhere and it's a well known issue (as it affects all debian people), would you mind putting the info in the documentation at places where you'd expect them?

[2016-10-29 09:21] sils commented on #2917
This issue was moved to coala/documentation#237

[2016-10-29 09:21] #2917 closed

[2016-10-29 09:28] mei-li commented on #2915
Can I get assigned this issue?

[2016-10-29 09:54] sils commented on #2915
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-29 10:20] justuswilhelm commented on #2916
Perhaps this issue should be in the documentation repository...

[2016-10-29 10:24] sils commented on #2916
This issue was moved to coala/documentation#239

[2016-10-29 10:24] #2916 closed

[2016-10-29 11:27] #2915 closed

[2016-10-29 13:38] Nosferatul opened #2920 "CachingUtilities.py: if statement should be different"
Accordingly with pep8 `file_path == None` should be `file_path is None`

difficulty/newcomers

[2016-10-30 12:17] coala-bot opened #2924 "Add yegor256.com quality award to README"
http://www.yegor256.com/images/award/2016/winner-sils.png

Opened via [gitter](https://gitter.im/coala/coala/?at=5815e4de806316005dd665cf) by @adtac

[2016-10-30 12:42] beatrix-bodo opened #2925 "Documentation: Current page's link in sidebar should be highlighted on coala.readthedocs.io"
On http://coala.readthedocs.io the current page's link is not highlighted in the sidebar so when someone wants to click on the next page, it's difficult to find what page they are on currently.

[2016-10-30 12:54] sils commented on #2925
Thanks so much, good point. @Mariatta you had a master issue to track further design suggestions somewhere, right? That sounds like something that shuold be easy to add as well.

[2016-10-30 13:36] coala-bot opened #2926 "Print warning if a coafile has a # with no whitespace before it"
The user probably wrote something like `C#` and isn't aware that he has to escape the `#`

Opened via [gitter](https://gitter.im/coala/coala/?at=5815f7657b15d16e55c480bf) by @sils

[2016-10-30 13:38] Makman2 commented on #2926
What if `#` is at the beginning of a line?

[2016-10-30 13:43] Adrianzatreanu commented on #2925
This issue was moved to coala/documentation#262

[2016-10-30 13:43] #2925 closed

[2016-10-30 13:44] Makman2 opened #2927 "Language alias dictionary"
Often languages are commonly known under synonyms, like `C#`, `c#`, `cs`, `csharp` etc etc.
Some kind of internal mapping to a single language identifier would be very useful.

-->
If you have suggestions for aliases, post them here :+1:

[2016-10-30 13:45] Adrianzatreanu commented on #2846
im currently blocking everything that contains the name ``cib`` or ``requirement`` on it as @fneu is working on it and i dont know what hes doing so i cannot work in parallel with him :D

[2016-10-30 13:45] Makman2 commented on #2927
What also needs consideration is letter casing^^

[2016-10-30 13:48] Makman2 commented on #2927
My first suggestions:
[code]

[2016-10-30 13:48] Adrianzatreanu commented on #2838
ping @siddhanjay

[2016-10-30 14:22] coala-bot opened #2928 "Add theme for console colors with autodetection, so that coala tries to use the best theme by default."
Currently some of the output is not readable, due to the  fact, that colors are different of different operating systems. E.g. blue text is not readable under windows.

Opened via [gitter](https://gitter.im/coala/coala/?at=58160234482c168b22d008a7) by @sils

[2016-10-30 14:27] sils commented on #2928
So this seems to give people on windows kind of a headache. Maybe we should just not use blue and rather use another colour or something... or set the background? Ideas anyone?

[2016-10-30 14:34] sils commented on #2926
also if there's no space after it as well

[2016-10-30 14:49] simplicbe opened #2929 "Console shows code line corrupted"
When using the `KeywordBear` and passing `#warning` to it using the _.coala_ file like this:

[code]

The output is corrupted:

![warningbearer](https://cloud.githubusercontent.com/assets/14359329/19837330/39c93092-9eb8-11e6-871b-b02101ea78c0.PNG)

Here is a part of the `c#` source code

[code]

Using **coala 0.8.1**

[2016-10-30 14:50] sils commented on #2926
So this should be fairly easy to do in the LineParser or so somewhere

[2016-10-30 17:09] LadySith commented on #2924
Hi. I wasn't sure where to place the award image so at the moment I placed it in a newly created awards section.

Where would you actually like the image to be located?

[2016-10-30 19:32] LadySith commented on #2924
I'm away from my laptop and using a PC without github so I created a new pull request from my browser with the edited title. Is that alright?

[2016-10-31 02:58] AbdealiJK commented on #2929
Could you copy paste those characters that are being printed instead of spaces ? (Rather than a screenshot)
I am unable to type it and would like to copy it to see the hex version and play around with it in `print()` and stuff.

[2016-10-31 06:52] chauffer opened #2934 "README: Prerequisites `pip` should be >=6"
It's 8.0 and 8.1 right now in different places.

difficulty/newcpmer

[2016-10-31 07:58] AbdealiJK commented on #2934
Sorry, what ? Could you elaborate this more ?

[2016-10-31 08:00] AbdealiJK commented on #2934
Ah in readme.rst in the prerequisite section ?

Why is it 8.x anyway ? I believe coala works fine for anything above 6.x

[2016-10-31 09:02] rafidaslam opened #2935 "Fix typo in README"
There is a typo in `README.rst` especially in line 149.
[code]

"langauge" should be "language" there.

[2016-10-31 10:19] coala-bot opened #2937 "Add OneGet support for DistributionRequirement on windows"
CC @AbdealiJK

Opened via [gitter](https://gitter.im/coala/coala/?at=58171acd83a2008d22f08843) by @sils

[2016-10-31 10:48] #2696 closed

[2016-10-31 13:59] plaindocs opened #2938 "Coala (MarkdownBear and AlexBear) do not ignore node_modules"
Using both Coala and Coala-ci with

[code]

And they test `node_modules`. Both Alex and the remark markdow should ignore that dir by default.

[2016-10-31 14:33] sils commented on #2938
Hm, interesting... I'll try to reproduce it soonish if nobody else tries first

[2016-10-31 14:35] sils commented on #2938
CC @fneu the glob master

[2016-10-31 14:35] sils commented on #2938
@plaindocs it looks as if `**/` before `node_modules` is superfluous

[2016-10-31 14:37] plaindocs commented on #2938
Yep - just reached that conclusion myself. Am testing.

[2016-10-31 15:05] adtac commented on #2938
@plaindocs the isssue is with the first `/` in `**/node_modules/**` - since node_modules is at the root directory, there would be no `/` in the relative path to it. Hence that glob won't match that `node_modules` (however, it'll match every other node_modules dir).

[2016-10-31 15:11] Makman2 commented on #2929
Duplicate of https://github.com/coala/coala/issues/2753 :)

[2016-10-31 15:14] Makman2 commented on #2753
From @simplicbe

[Default]
language = C\#
bears = SpaceConsistencyBear,KeywordBear,FileNameBear#,CPDBear
files = src/**.cs
use_spaces = yeah
file_naming_convention = pascal
ci_keywords = \#warning
cs_keywords = \#warning
[code]

[2016-10-31 15:14] Makman2 commented on #2753
From @AbdealiJK

I am unable to type it and would like to copy it to see the hex version and play around with it in print() and stuff.

[2016-10-31 15:14] #2929 closed

[2016-10-31 20:15] OmegaPhil opened #2940 "Ability to disable colour output"
Please can a setting be made to allow disabling colour output? The blue colour used for source file + location is particularly bad/almost illegible against a black terminal background here.

First time using coala, getting a feel for v0.8.1. The test invocation I'm using is (no coalafile used):

```coala-ci --bears 'CPPCheckBear' --files 'src/**.cpp,src/**.h' --settings 'enable=all'```

Thanks

[2016-10-31 20:30] Makman2 commented on #2940
agreeing :+1:

[2016-10-31 20:31] Makman2 commented on #2938
seems to be resolved :)

[2016-10-31 20:31] #2938 closed

[2016-10-31 23:10] chauffer commented on #2934
dunno :D

[2016-11-01 08:18] aptrishu commented on #2006
This seems to be a gitmate related issue. As it produced no error while testing it locally with no newline at the end of a file.

![spacebear](https://cloud.githubusercontent.com/assets/22702242/19883340/ce24a88e-a039-11e6-88fe-46738bb6549b.png)

[2016-11-01 08:28] sils commented on #2935
@anjabeth Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/! Sadly double PRs are happening then and when and we try to avoid yo

[2016-11-01 08:35] AbdealiJK commented on #2006
Or maybe it has already been fixed and that is from an older version of
coala

On 01-Nov-2016 1:48 pm, "Rishav Kumar" <notifications@github.com> wrote:

[2016-11-01 08:39] aptrishu commented on #2006
No, though its diff is not broken but actually It misses the warning. It should show an extra part in diff. -
`-xxxy
\No endline of file
+xxxy`

[2016-11-01 08:45] sils commented on #2938
@plaindocs just FYI you can shorten your config a bit:

[code]

will work as well as the settings from the default section are inherited to all others

[2016-11-01 13:38] plaindocs commented on #2938
@Makman2 Coala really should not be checking `node_modules` by default though.
@sils excellent - thanks.

[2016-11-01 15:28] Makman2 commented on #2934
Then let's change to 6.x :+1:

[2016-11-01 16:33] mamakancha commented on #2934
I would like to get this issue assigned.

[2016-11-01 16:35] chauffer commented on #2934
@mamakancha done! reach us at https://coala.io/chat if you need any sort of help

[2016-11-01 21:06] mamakancha commented on #2934
I have fixed the issue and made the pull request.

[2016-11-02 00:27] AbdealiJK commented on #2934
You seem to have closed your pull request

[2016-11-02 00:49] sahildua2305 commented on #2926
@sils will it be in LineParser or somewhere else? Can't make sense out of adding it to `LineParser`. Am I missing something?

[2016-11-02 05:22] mamakancha commented on #2934
Sorry. Just noticed it now. I have reopened my pull request. Thanks for pointing out.

[2016-11-02 11:17] Makman2 commented on #2926
`LineParser` is responsible for parsing this kind of stuff. When encountering a comment that matches the conditions like described here, a warning shall be triggered during the parsing process.

[2016-11-02 11:20] shrutishrm512 commented on #2935
@sils I want to work on this bug. I want you to assign this bug to me !!

[2016-11-02 12:23] #2920 closed

[2016-11-02 12:57] sahildua2305 commented on #2926
What kind of warning do we want to show @Makman2

[2016-11-02 16:55] sils commented on #2935
Hi,

please don't ping me personally for such things. Everyone can do them - and almost everyone pings me. If you don't address a person specifically you'll likely get help faster from other people!

(Don't worry, this is not a problem but keeping things general is usually a good policy :))

[2016-11-02 16:59] sils commented on #2938
@plaindocs so far we were like "it would be pretty astonishing if we ignore some stuff by default and the user is super surprised and has no clue why his ... directory isn't analyzed", I'm not sure what's the best decision design wise...

[2016-11-02 17:02] plaindocs commented on #2938
@sils yeah, but you're sending people to the `remark` docs for comprehensive docs anyway

So I think you really have to leave the defaults in. Maybe add a setting to toggle that?

Also https://github.com/coala/documentation/issues/268#issuecomment-257856185

[2016-11-02 17:21] sils commented on #2938
Actually ideally people shouldn't ever need to click that link, we usually put it in in case the documentation of the bear is insufficient (which it certainly seems to be in this case).

"Leaving the default ignores in" of another tool is technically super complicated because deciding what to analyze and what to ignore is one of coala's main functionalities.

[2016-11-02 17:27] wooorm commented on #2938
@plaindocs `node_modules` is completely valid, and sometimes used. I’ve had issues where people wanted to allow that behaviour.

[2016-11-02 17:57] shrutishrm512 commented on #2935
Ok, I will take care of this in future!

 Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=shrutishrm512@gmail.com&idSignature=22>

*Shruti Sharma*

*Pre-final Year Student*
*B.Tech.:Computer Science and Engineering*
*The LNM Institute of Information Technology*
Email ID*:shrutishrm512@gmail.com <shrutishrm512@gmail.com>*

On Wed, Nov 2, 2016 at 10:25 PM, Lasse S

[2016-11-02 18:36] sils commented on #2934
hey, your issue url in commit message contains a `#event....` can you remove that?

[2016-11-02 18:37] mamakancha commented on #2934
Sure. Will do that too.

[2016-11-02 22:11] Makman2 commented on #2926
use the python built-in logging module to issue a warning :+1:

[2016-11-03 02:23] AbdealiJK opened #2949 "Abandon dbus until there's demand"
I think the DBus interface should be abandoned.
It was made earlier for gefit plugin but was never used because things like coalaformat coalajson and so on were SO much easier.

It's dead code and a hindrance. Let's just remove it and keep it in a archive/DBus branch and look at it again whenever it's actually needed by someone.

I can't think of a single use case where DBus would be preferable to

[2016-11-03 02:26] AbdealiJK commented on #2937
I'm not going to do windows ... Sorry, not my interest area

[2016-11-03 07:37] sils commented on #2937
I have no idea why I CCed you... CC @Makman2 and @fneu are the right ones

[2016-11-03 07:37] sils commented on #2949
yes yes yes yes yes yes yes!

[2016-11-03 07:49] #2935 closed

[2016-11-03 07:49] sils commented on #2902
lets do  #2949 indeed

[2016-11-03 07:49] #2902 closed

[2016-11-03 08:08] sils commented on #2838
unassigning due to inactivity

[2016-11-03 08:13] sils commented on #2070
@Makman2 can't we just assume the user uses linter responsibly?

[2016-11-03 08:13] sils commented on #2070
I'm not a fan of wasting performance and mind capacity to "protect the user from himself"

[2016-11-03 08:13] sils commented on #2070
I vote for closing this and the PR @meetmangukiya @Makman2

[2016-11-03 08:54] siddhanjay commented on #2838
@Adrianzatreanu You pinged the wrong person .

[2016-11-03 10:53] Makman2 commented on #2070
This is no performance waste, the linter classes are loaded once, thus the check also happens once. Imo it's an improvement step (though a small one), we want the users to write performant bears (you told me that too).

Many people coming here are asking many trivial things, we need to protect them^^

[2016-11-03 10:54] Makman2 commented on #2937
let's wait until @fneu has done the new prerequisite stuff^^

[2016-11-03 15:35] coala-bot opened #2951 "Improve coalang support to query token type"
For example, it'd be useful to have a library implementation to determine whether a particular token is a variable or a class name. This is under coalang because this is highly language dependent.

Opened via [gitter](https://gitter.im/coala/coala/?at=581b5937c2f2cf7275c647f9) by @adtac

[2016-11-03 15:36] sils commented on #2951
actually not library but more of a better AnnotationBear

[2016-11-03 19:40] Makman2 opened #2952 "LocalBearTestHelper.check_results: Allow to pass bear settings"
They just need to be forwarded to `execute_bears` used inside `check_results`, it already supports passing parameters.

[2016-11-03 21:56] doctorBeast commented on #2511
I am new to developing so I dont know if its okay to advice that it would be better to print out:
Please enter the number corresponding to the action you want to execute (Ctrl-D to exit).

[2016-11-03 22:11] Makman2 commented on #2511
@doctorBeast please file a new issue, this one addresses something else :)

[2016-11-04 09:19] Asnelchristian opened #2954 "bearlib: Change `min_line_length` to `max_line_length`"
Check line ``184``

[2016-11-04 14:02] coala-bot opened #2957 "appveyor sometimes hangs when downloading nltk or something fails and it asks for retry."
importance/critical type/ci area/ci

Opened via [gitter](https://gitter.im/coala/coala/?at=581c94e2e462097a300a3898) by @sils

[2016-11-04 16:02] sils commented on #2954
which file!?

[2016-11-04 16:03] sils commented on #2928
closing in favour of https://github.com/coala/coala/issues/2940

[2016-11-04 16:03] #2928 closed

[2016-11-04 16:03] sils commented on #2940
Nice idea, a lot of people had the same problem and we were thinking in #2928 about making the colors right somehow but this is way simpler.

[2016-11-04 16:47] meetmangukiya commented on #2070
Whats the final vote @sils @makman2 ?

[2016-11-04 16:53] sils commented on #2070
@meetmangukiya what's yours?

[2016-11-04 17:12] coala-bot opened #2959 "Write an AspectResultAction"
diffficulty/low - this should show more information about the aspect associated with a result (if there's such an aspect) - yayy!

Opened via [gitter](https://gitter.im/coala/coala/?at=581cc18be097df75756e83b3) by @sils

[2016-11-04 20:02] badarsh2 commented on #2954
I found a usage of min_line_length in __init.py__

` ...         AspectSetting(
  ...             "min_line_length",
  ...             "Maximum length allowed for a line.",`

If it is so, can I fix it?
P.S. I'm a newbie here :)

[2016-11-04 21:05] Makman2 commented on #2954
yeah seems this is the right one :)
@badarsh2 I've invited you to our org, be sure to check out our newcomer guides and feel free to talk to us at our gitter channel :)

As soon as you've accepted invitation, I'll assign you and you can start working :+1:

[2016-11-04 21:13] badarsh2 commented on #2954
Done!

[2016-11-05 08:36] sils commented on #2957
@Makman2 can you look into that?

[2016-11-05 11:34] tulphoon commented on #2952
I would like to work on this issue.

[2016-11-05 13:57] #2957 closed

[2016-11-05 19:43] Makman2 commented on #2924
@LadySith still working on this?

[2016-11-05 20:07] ashwini0529 commented on #2924
@Makman2 , @LadySith I'm working on the issue.

[2016-11-06 09:13] mr-karan commented on #2678
I'd like to take this up 👍

I have submitted a PR for the same https://github.com/Homebrew/homebrew-core/pull/6651

I was wondering do we have to create a package for `coala-bears` as well?

[2016-11-06 09:21] #2954 closed

[2016-11-06 10:33] #2838 closed

[2016-11-06 17:00] #2924 closed

[2016-11-06 20:12] #2952 closed

[2016-11-07 09:22] sils commented on #2878
@cylussec still on it? We have already made the generated API docs available at api.coala.io

[2016-11-07 11:20] coala-bot opened #2971 "coala-json shouldn't care about log level and just hold all logs in the output json"
difficulty medium

Opened via [gitter](https://gitter.im/coala/coala/?at=582063726cb720763046fce7) by @sils

[2016-11-07 11:46] Makman2 commented on #2878
I see what you mean now, we have already the same layout like python docs, makes sense then :)

[2016-11-07 15:30] tulphoon commented on #2940
I'd like to work in this issue.

[2016-11-07 15:34] sils commented on #2940
@tulphoon awesome, let us know if you need any help. This is important, please let us know immediately if you stop working on it (which is fine, just let us know ok?)

[2016-11-07 15:35] tulphoon commented on #2940
@sils sure, will do. I'm analyzing code right now. If you might guide me where the whole coloring is happening that would be great, but if not i'll try my best to find the way myself, it might just take a little longer.

[2016-11-07 15:36] sils commented on #2940
take a look at ConsoleInteraction.py , most of the stuff should be in there
somewhere

[2016-11-07 16:19] sils commented on #2753
@Makman2 is this powershell only or also cmd or something?

[2016-11-07 16:21] sils commented on #2677
@chauffer @Adrianzatreanu I think https://github.com/coala/coala/issues/2940 would be an immediate fix, on the long run I'm not sure how we can work around ill defined colour schemes. Everything is totally readable on my linux machine whatever colour scheme I chose. (Tried 10 or so, they're all good.) Windows users have the same issue.

[2016-11-07 16:23] Makman2 commented on #2753
both

[2016-11-07 16:27] sils commented on #2911
What happened here, nobody triaged this for ten days? Let's see...

[2016-11-07 16:30] sils commented on #2911
This looks nasty. CC @Makman2 can you reproduce that?

[2016-11-07 16:33] sils commented on #2753
@Makman2 any hint on how that's happening?

[2016-11-07 16:39] sils commented on #2724
@RoshanAji any progress?

[2016-11-07 16:40] sils commented on #2703
assigning @underyx since it's blocked by his cEP

[2016-11-07 16:42] sils commented on #2653
if you add something after line two and then do the same again - should the new lines before the first lines you added or after? IMO this is a valid exception, I'd close this as notabug.

[2016-11-07 21:10] andreidinu commented on #2926
Hi,
I would like to be assigned into solving this issue.

[2016-11-07 21:15] sils commented on #2926
@andreidinu thanks a lot! Seeing forward to this happening.

[2016-11-07 21:24] sils commented on #2279
@underyx do you have time to work on this? I wonder if we could make this happen in a few days to get it into the release, providing the okd binaries as legacy with a warning. I think this could be doable.

[2016-11-07 21:49] Makman2 commented on #2753
nope sorry not investigating this currently^^

[2016-11-07 21:50] Makman2 commented on #2653
yeah in fact it works :+1:

[2016-11-07 21:50] #2653 closed

[2016-11-07 21:52] Makman2 commented on #2911
trying out the next days^^

[2016-11-07 21:54] sils commented on #2321
or https://github.com/coala/coala/issues/2279

[2016-11-07 22:03] Udayan12167 commented on #1526
I don't gather where do you want the put the if-else? in the coala-ci binary itself?

[2016-11-07 22:09] sils commented on #1526
ConsoleInteraction, or maybe just do https://github.com/coala/coala/issues/1526#issuecomment-223872379 ?

[2016-11-07 22:27] Udayan12167 commented on #1526
Hmm so the `*` means that it overrides all sections?

[2016-11-07 22:29] sils commented on #1526
* matches all possible bears

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 7 November 2016 at 23:27, Udayan Tandon <notifications@github.com> wrote:

[2016-11-08 09:20] sils commented on #975
the basic switch has been done, we're still using LogPrinter all over the place which we have to remove.

[2016-11-08 17:22] plaindocs commented on #2897
| While this would already work, all the reports on the results would get old quick, how do we ignore seen warnings? Without that it'd be almost useless

would be the issue that I'd see. Otherwise it circles back to having to see it / ignoring it. If your slack gets swamped with same error messages constantly people are just going to turn them off or ignore them.

[2016-11-08 17:31] underyx commented on #2897
@plaindocs Definitely. I believe someone (@sims1253 maybe?) already has experience with fancy code chunk matching magic, so we _should_ be able to implement it reasonably well. I was evil enough to categorize this as a moonshot so that the issue seems less daunting and is more likely to be picked up, but it really would be nearly useless without this.

By the way, awesome to see you snooping aroun

[2016-11-08 17:55] plaindocs commented on #2897
That would definitely be something I'd like to see!

I have a couple more ideas up my sleeve for when I meet Lasse in Berlin this coming weekend. :-D

Sure I remember you from Budapest! I'm using Coala on the Travis CI docs, and planning to reuse some of that on the WTD site as well.

[2016-11-08 19:17] cylussec commented on #2878
Hmm... I remember looking at this, but didn't work this one because I think there was some other bigger decision that needed to be made, which didn't seem like a good first ticket for me. I am working https://github.com/coala/coala/issues/2044.

[2016-11-08 20:34] sims1253 commented on #2897
@underyx You want me to magic the git blame for code that has a warning attached to it?

I haven't really worked  with git blame a lot but as we have a file and line number from the warnings/results it should be rather easy as long as git offers an author.

My thought would be to either fail a build because it does not satisfy my demands, including warnings and stuff, or let it pass and then live

[2016-11-08 20:59] underyx commented on #2897
@sims1253

You might be misunderstanding my case here. See this:

[code]

You might describe this feature more like something that draws attention to things requiring careful review. If that `DROP TABLE` query passed review, I don't want to warn about it again.

[2016-11-08 21:09] sims1253 commented on #2897
@underyx ok I totally misread what you wanted.
Any idea how to store the information if a warning was issued already? Maybe you could create an issue and check if it exists?

[2016-11-08 21:24] underyx commented on #2897
No plans yet at all. Using an issue tracker sounds like it'd quickly get out of hand as people would request 50 different integrations for their trackers. How about writing to a file and leaving it up the user to set up CI to persist that across builds?

[2016-11-08 22:28] sils commented on #975
and consoleprinter, @cylussec did I get it right that you have some pending work on this?

[2016-11-09 03:33] cylussec commented on #975
I am doing some work related to this in ticket https://github.com/coala/coala/issues/2044#issuecomment-256189541. I just pushed some of my initial work to my fork... you mind taking a look at that issue and make sure I am going the right direction?

[2016-11-09 03:34] cylussec commented on #2044
Committed some work at https://github.com/cylussec/coala/commit/3fa3f9b6bbe3c0a2086fdc4bf5e470b5f55696fb so people can make sure I am going the right direction. Its not ready yet... it doesnt handle colors (should be done in the format function) and there are some duplicate log messages that I need to figure out. But the major work has been changed.

[2016-11-09 08:01] sils commented on #2044
Hey @cylussec I'm not fully sure about this; you're switching some prints (normal output) to log output - is that really a wise idea?

I feel like you have taken on a much larger task than this, maybe this was a misunderstanding? *This issue* is purely about https://github.com/coala/coala/issues/2044#issue-150646267 - and to do that I think you can simply

[code]

with no further ties attached.

A

[2016-11-09 08:35] abhishekbundela commented on #2774
hey @sils. Assign me this issue.

[2016-11-09 08:38] sils commented on #2774
@Dawny33 are you still working on this? If not, could you fill coala.io/newform and tell us how we could have helped you better?

@abhishekbundela this issue is assigned ATM.

[2016-11-09 08:44] abhishekbundela commented on #2774
@sils I created a pull request #2972 to fix this issue.

[2016-11-09 08:50] sils commented on #2774
@abhishekbundela we'll give @Dawny33 a day or so to respond ok?

[2016-11-09 11:19] Makman2 commented on #1526
Does the commit fix the issue? Imo this still doesn't display the patch :O

[2016-11-09 11:23] Makman2 opened #2975 "coala: Use a log file by default"
Imo many information printed to the terminal are debug info which the user shouldn't see immediately so the terminal is not cluttered. I suggest using always a log-file which logs every message (so has LOG_LEVEL=DEBUG), and for example crashes point to the log file which contains the traceback as debug information.

1. Use a log-file together with terminal printing
2. Change some message log-level

[2016-11-09 11:32] Makman2 commented on #2774
Actually the file does not exist any more, issue is invalid by now^^

[2016-11-09 11:32] #2774 closed

[2016-11-09 11:35] Makman2 opened #2976 "Linter.py - Replace invalid link"
In line 637 with http://coala.readthedocs.io/en/latest/Developers/Writing_Linter_Bears.html

[2016-11-09 11:35] Makman2 commented on #2774
@abhishekbundela  created a new issue for `Linter.py` and assigned you
https://github.com/coala/coala/issues/2976

[2016-11-09 12:13] sils commented on #1526
oh that's right indeed!

[2016-11-09 12:13] sils commented on #1526
@Udayan12167 you need to set the default action by default to show patches!

[2016-11-09 15:14] plaindocs commented on #2897
Caching is not quite the right fit though, as the file potentially changes any time you edit it, so you need to retrieve it per run (and probably per user?) if there is match.

[2016-11-09 15:35] sils commented on #2975
How do others handle this? @underyx might know

[2016-11-09 15:39] sils commented on #1819
actually this will get picked up by coala.io/cep5 !

[2016-11-09 15:42] sils commented on #2975
closing in favour of https://github.com/coala/coala/issues/1862

[2016-11-09 15:42] #2975 closed

[2016-11-09 15:44] sils commented on #1117
ok the main issue has been fixed due to nobody having time I'm closing this without adding a testcase :/

[2016-11-09 15:44] #1117 closed

[2016-11-09 15:45] Mouvedia commented on #397
A small non-scrolling bear counter in the top right corner is doable.
A progress estimation is not gonna happen.

[2016-11-09 15:52] plaindocs commented on #2897
Looks like Alex looks at diffs only if run on Travis CI.  https://github.com/wooorm/alex#workflow

[2016-11-09 15:57] sils commented on #397
Hm with the files/bears being async as per @jayvdb s inofficial proposal on top of coala.io/cep5 we could do that I guess. @jayvdb @Udayan12167 maybe you can keep that in mind?

[2016-11-09 15:59] sils commented on #562
wow, @harshit17chaudhary sorry that nobody saw this. If you're still interested, we'd love your help!

[2016-11-09 16:00] sils commented on #759
@fneu we should consider this for metrics

[2016-11-09 16:13] coala-bot opened #2977 "instead of https://github.com/coala/coala#prerequisites you should add optional steps in https://github.com/coala/coala#installation"
Opened via [gitter](https://gitter.im/coala/coala/?at=58234b2c78ec59ab0551bef0) by @sils

[2016-11-09 16:36] sils commented on #1862
No longer blocked, we do use builtin logging now

[2016-11-09 16:36] sils commented on #913
not happening, we're throwing away dbus

[2016-11-09 16:36] #913 closed

[2016-11-09 16:37] sils commented on #2690
@souravsingh any progress?

[2016-11-09 16:38] sils commented on #1839
Closing as wontfix as we're going to remove dbus.

[2016-11-09 16:38] #1839 closed

[2016-11-09 16:38] souravsingh commented on #2690
@sils I will get on it

[2016-11-09 17:06] srisankethu commented on #2690
I think this issue can be solved after I finish the Flake8Bear -> https://github.com/coala/coala-bears/issues/169. You can just run ``coala`` over it then :)

[2016-11-09 17:26] arjunsinghy96 commented on #2894
@sils I did not understand the issue correctly . Can you guide me a bit.

[2016-11-09 17:27] cylussec commented on #2044
So I might have been taking your last comment about using built in logging and ran with it. With python's logging, we are able to write to stdout and log files at the same time, which is why I converted them all. Is that not what we wanted?

And I probably took on more than this issue was. I kind of got going on it, and just kept running with it.

Although, since I have already done a lot of work

[2016-11-09 17:32] sils commented on #2044
I think it's important to keep the issues separated. This one is about printing more debug information at the beginning, that should be pretty easy and not involve any core changes like converting any printing functions.

The second issue is that we use LogPrinter objects all over the place which we deprecated in favour of builtin logging. That does *not* affect the ConsolePrinter since that one's

[2016-11-09 17:36] #2976 closed

[2016-11-09 18:02] Makman2 commented on #1862
What about logging coala always instead of only on errors (which is a bit complicated, isn't it?)

[2016-11-09 18:35] ashwini0529 commented on #2663
Since the issue is open from so many days, I would like to work upon it.
Could anyone guide me like how to start?
P.S. I'm a newcomer.

[2016-11-09 18:48] Nosferatul commented on #2663
@ashrafmhd09 as you can see someone else is assigned to this issue. Please find something else!

[2016-11-09 18:48] Nosferatul commented on #2663
@yash-nisar still on this?

[2016-11-09 18:56] ashwini0529 commented on #2977
I can work upon this.
Please explain what exactly do you want to be done?

[2016-11-09 18:59] ashwini0529 commented on #2977
I guess we can remove [prerequisites](https://github.com/coala/coala#prerequisites) as it is already mentioned in the [installation](https://github.com/coala/coala#installation) that `Make sure you have Python >= 3.4 and pip >= 8.1 installed as the installation may not succeed with lower versions.`

That means one and the same thing.
So removing the prerequisites section would be cool.

[2016-11-09 19:44] yash-nisar commented on #2663
Apologies for the delay. I have my end sems going on and will submit a patch as soon as possible.

[2016-11-09 19:48] ashwini0529 commented on #2663
Alright! If you need any help, please feel free to ask for! All the best!

[2016-11-09 20:01] ashwini0529 commented on #2649
Is anyone working on this issue?

[2016-11-09 20:09] sils commented on #2940
Unassigning @tulphoon as per own request - the commit looks certainly promising! For the person who takes over: be sure to either keep @tulphoon as author or mention him as co author in the commit message.

[2016-11-09 20:20] sils commented on #2649
@Nosferatul ?

[2016-11-09 20:24] sils commented on #2894
@arjunsinghy96 what do you need to go on here?

[2016-11-09 21:35] #2977 closed

[2016-11-09 23:07] #2949 closed

[2016-11-10 06:40] jayvdb commented on #2284
As noted on https://github.com/coala/documentation/pull/244, there are false positives due to https://github.com/amperser/proselint not understanding code blocks in RST.  It seems that upstream is interested, but someone needs to write the bug description, and probably do some leg work to make it happen.

An alternative is to use LanguageTool.  I've raised that as an issue at https://github.com/co

[2016-11-10 08:52] wooorm commented on #2897
alex can do that (through the `--diff` flag), but not by default!

[2016-11-10 10:01] coala-bot opened #2980 "Remove "as the installation may not succeed with lower versions" from README"
It's redundant.

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5824457765485ebc67792c41) by @sils

[2016-11-10 12:12] srisankethu commented on #2690
Oops! Looks like ``Flake8Bear`` will take some time to join the coala bears community :) If I am understanding this issue correctly, you can use the existing ``PEP8Bear`` since flake8 uses PEP8 StylingGuide.

[2016-11-10 12:25] meetarora29 commented on #2980
Assign me this :)

[2016-11-10 13:49] #2980 closed

[2016-11-10 16:33] Adrianzatreanu opened #2983 "LineParser.py: Change docstring"
All the :param:s should have their explanations ending with a full stop and all the explanations start with a capital letter, whiich isnt the case in this file.

[2016-11-10 17:28] meetarora29 commented on #2983
@Adrianzatreanu Assign me this :)

[2016-11-11 07:58] arjunsinghy96 commented on #2907
@Adrianzatreanu can you point me to the file while handles --show-bears argument

[2016-11-11 09:01] srisankethu opened #2986 "Linter.py: Change docstring"
The [docstring](https://github.com/coala/coala/blob/e722d298b4c64d2d9be7b9f03d08a9b70a11e32c/coalib/bearlib/abstractions/Linter.py#L704) describes about RESULT_SEVERITY.MIINOR. Change it to RESULT_SEVERITY.INFO as RESULT_SEVERITY.MINOR does not exist.

area/documentation difficulty/newcomer

[2016-11-11 09:09] Makman2 commented on #2986
Duplicate of https://github.com/coala/coala/issues/2816 :)

[2016-11-11 09:09] #2986 closed

[2016-11-11 09:11] srisankethu commented on #2986
@Makman2 Oops! :+1:

[2016-11-11 12:17] tulphoon opened #2987 "LineLengthBear doesn't display output after first run of coala"
### LineLengthBear doesn't display output after first run of coala.

# Steps to Reproduce

1. Do any changes in coala repo that will trigger LineLengthBear (make any line longer than 80 characters)
2. run coala, select "Do nothing"
3. rerun coala.

# Actual Results
[code]

# Expected Results
[code]

# Reproducibility
Was done by running `coala`, installed by `sudo ./setup.py install` in fresh coal

[2016-11-11 12:29] amihaiemil opened #2988 "How do you use Rultor?"
Just wondering how do you guys use Rultor?
I am trying to use it in my repos and when I try the ``merge`` command, the maven build is successful , but
it ultimately fails with:

[code]
I see [here](https://github.com/yegor256/rultor/issues/1108) that the solution is to invite Rultor as a collaborator with write access... that makes sense (I assume only write-access people should be able to merge b

[2016-11-11 12:44] sils commented on #2988
The rultor user needs write access. Please file documentation issues against https://github.com/yegor256/rultor/issues/

[2016-11-11 12:44] #2988 closed

[2016-11-11 12:49] sils commented on #2987
@adtac this seems to be a caching bug! I can certainly reproduce that, can we have that fixed ASAP?

[2016-11-11 12:58] amihaiemil commented on #2988
@sils Thank you :D

[2016-11-11 12:59] sils commented on #2988
sure! :)

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 11 November 2016 at 13:58, Mihai Emil Andronache <
notifications@github.com> wrote:

[2016-11-11 13:47] #2537 closed

[2016-11-11 13:47] #2816 closed

[2016-11-11 18:25] coala-bot opened #2990 "Use pepper on the GitHub coala org"
Use https://github.com/jessfraz/pepper on the GitHub coala org

Opened via [gitter](https://gitter.im/coala/coala/?at=58260d04e097df75759c44f7) by @sils

[2016-11-11 18:48] Gregoor opened #2991 "WinError 87"
[code]
Seem to be happening in every directory for me right now, any other infos I can give?

[2016-11-11 20:31] tulphoon commented on #2991
What's your Windows, Python and coala version?

[2016-11-11 22:11] #2983 closed

[2016-11-12 09:08] sils commented on #2991
CC @Makman2 this shouldn't happen

[2016-11-12 09:46] coala-bot opened #2993 "ShowPatchAction: Add show_result_on_top option which runs print_results_no_input"
We need this for not only showing the patch automatically but also the result in coala_ci

Opened via [gitter](https://gitter.im/coala/coala/?at=5826e4f2df5ae96645486bdf) by @sils

[2016-11-12 09:46] sils commented on #1526
@Udayan12167 taking over

[2016-11-12 09:53] coala-bot opened #2994 "Add more code analysis"
I want unused imports checked. And unused parameters and stuff like that. Really. Shouldn't be too hard.

difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=5826e691c2f2cf7275fedbd1) by @sils

[2016-11-12 10:42] arjunsinghy96 commented on #2994
I would like to do this. Please assign me this.

[2016-11-12 14:28] sils commented on #2994
@arjunsinghy96 thanks so much!

[2016-11-12 14:29] Makman2 commented on #2991
yeah @Gregoor please tell us your environment^^

[2016-11-12 14:43] #1526 closed

[2016-11-12 14:52] Gregoor commented on #2991
Oh yeah right, should have thought of that. Win10 and python 3.5. I'll check the minor version later

[2016-11-12 15:37] coala-bot opened #2997 "Handle ValueError in print_results_formatted"
Apparently this can be uncatched: (the doctest is not on master but the bug is)

[code]

Opened via [gitter](https://gitter.im/coala/coala/?at=5827372045c9e3eb432c534e) by @sils

[2016-11-12 22:50] Makman2 commented on #2990
why? :O

[2016-11-12 22:52] #2940 closed

[2016-11-12 22:54] sils commented on #2990
so all our repos are protected

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 12 November 2016 at 23:50, Mischa Krüger <notifications@github.com>
wrote:

[2016-11-13 00:38] jayvdb opened #3000 "Investigate 3to2"
https://pypi.python.org/pypi/3to2 downgrades code to Python 2. Maybe it is good enough to allow coala to run natively on Python 2, so that Python bears can run natively in the Python 2 runtime.

[2016-11-13 00:43] Makman2 commented on #2990
let's just make the master branch protected everywhere manually? where's the need for such a script? :O

[2016-11-13 00:53] sils commented on #2990
because we have a hell lot of repos

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 November 2016 at 01:43, Mischa Krüger <notifications@github.com>
wrote:

[2016-11-13 13:35] Warewolf96 commented on #2798
hi @sils ,

Dunno if this is resolved or not... can u invite me and assign this to me... thanks

[2016-11-13 13:39] sils commented on #2798
@rajdeep1008 any progress? @Warewolf96 try to keep it with one newcomer issue, then go for low, ok? :)

[2016-11-13 13:45] rajdeep1008 commented on #2798
@sils still fighting with the codebase, documentation and college exams.
Will still need a couple more days to fix this issue but its fine with me if @Warewolf96  wants to work on it.
Your call. :)

[2016-11-13 13:47] sils commented on #2798
It's totally good, we're just sometimes asking to make sure that the assignment is still valid, don't feel rushed

[2016-11-13 13:52] arjunsinghy96 commented on #2994
@sils I am trying to update PyUnusedCodeBear .
It uses autoflake to correct the code but does not give remove_all_unused_imports parameter

Am I doing it right

[2016-11-13 14:22] sils commented on #2994
Hi,

please don't ping me personally for such things. Everyone can do them - and almost everyone pings me. If you don't address a person specifically you'll likely get help faster from other people!

(Don't worry, this is not a problem but keeping things general is usually a good policy :))

[2016-11-13 14:22] sils commented on #2994
no time right now

[2016-11-13 14:43] dileepsankhla commented on #2798
I would like to be assigned!

[2016-11-13 14:52] Warewolf96 commented on #2798
@sils I'll find some other newcomer issue.. its cool

[2016-11-13 14:55] dileepsankhla commented on #2798
@Warewolf96 No you should wait to be assigned. You are the right person :) Me not.

[2016-11-13 16:55] sils commented on #3000
I'm pretty sure that's not possible because we use python 3 only *syntax* like annotations.

[2016-11-13 16:55] sils commented on #3000
I'd rather think about including a 2to3 bear to let people upgrade their code more easier.

[2016-11-13 16:55] sils commented on #3000
(for this release?)

[2016-11-13 23:53] jayvdb commented on #3000
I expect 3to2 would discard them, but we could store them somewhere else for use by Python 2 code.
This is just an 'investigate' task for me, as I am rather curious if it is possible.

fwiw, 2to3 sounds like a great idea for a bear.

[2016-11-14 09:32] #2400 closed

[2016-11-14 12:00] sriranganathan commented on #2912
Would like to give this a try if it's still open.

[2016-11-14 12:06] sils commented on #2912
Yes please! Be sure to post any enlightenments you have even if it isn't a concrete improvement, like "this is the cause for us being slow" is already helpful!

[2016-11-14 14:59] sils commented on #2882
@Nosferatul how's this going? Can we get that by today ish?

[2016-11-14 15:01] Nosferatul commented on #2882
I'm positive that I can make a pr today

[2016-11-14 15:01] sils commented on #2882
yesyesyes!

[2016-11-14 15:23] coala-bot opened #3004 "coala-json doesn't log stuff correctly"
it's easy to solve, simply give logging a custom stream

difficulty low importance critical we should have this for the release as well

Opened via [gitter](https://gitter.im/coala/coala/?at=5829d6e165485ebc67940113) by @sils

[2016-11-15 10:17] abhsag24 commented on #1898
@Makman2 @SanketDG  coalang files are being used more an more now, we need to design a way to merge these two types of coalangs together, soon.

[2016-11-15 11:25] #2987 closed

[2016-11-15 12:51] Makman2 commented on #1898
I totally agree, though I think it's not that urgent, as it's just about centralizing those language specific data.

In fact we just need to implement a nice and beautiful key-value store for our language-data purpose^^

[2016-11-15 12:56] coala-bot opened #3008 "Writing Bears in other languages: Maybe use protobufs"
Opened via [gitter](https://gitter.im/coala/coala/?at=582b060588fa21d53c24d97e) by @Makman2

[2016-11-15 12:58] Makman2 commented on #3008
https://developers.google.com/protocol-buffers/

Support for many languages and fast.

[2016-11-15 13:20] jayvdb commented on #2990
The coala org doesnt have many repos.  Are there some other GitHub orgs to be included also?

Anyway, try the wikimedia org for comparison ;-)

Anyway, throwing https://github.com/jessfraz/audit into the mix ; it will at least inform the user what needs to be updated.

[2016-11-15 13:26] plaindocs opened #3009 "Markdown bear table settings"
Looking at the table settings in the markdownbear,

This detects either all (aligned?) pipes, or no pipes at all. How can I turn the setting off so either is fine?

[2016-11-15 16:05] sils commented on #1869
We should definitely consider improving an existent glob module from PyPI to do the job better.

[2016-11-15 16:20] Makman2 commented on #1869
@sils you got some existing module?

[2016-11-15 16:44] sils commented on #1869
search pypi, we actually investigated this kind of thing once I think

[2016-11-15 19:20] jayvdb opened #3011 "Mirror GitLab to GitHub"
There are quite a few repositories that are only in [GitLab coala](https://gitlab.com/coala/).  As preparation for https://github.com/coala/coala/issues/894 , it would be useful to mirror those to GitHub, so that GitHub based functionality can inter-operate with those repositories.
Perfecting the mirroring will mean that after the switch to GitLab, the moved repositories can be recreated as mirror

[2016-11-15 21:41] sils commented on #2926
Obviously we don't want to warn about that, that's a standard comment!

[2016-11-16 04:44] jayvdb opened #3012 "get_filtered_bears forces use of the default arg parser"
`coalib.parsing.DefaultArgParser.default_arg_parser` is in fact the only arg parser, and all CLI apps that use `coalib` settings are currently invoking this arg parser.  As a result, the default arg parser has custom args in it, for specific CLI apps, such as some args only being available for `coala-json`.  It is not a good structure to require that any CLI using `coalib` must add their CLI args

[2016-11-16 05:44] jayvdb commented on #1869
I foubs globre to be very good, except no response ti one of my PRs.

https://github.com/metagriffin/globre/pulls

[2016-11-16 14:25] coala-bot opened #3013 "CI fails"
https://circleci.com/gh/coala/coala/9014

`W: Failed to fetch https://apt.dockerproject.org/repo/dists/ubuntu-precise/main/binary-amd64/Packages  gnutls_handshake() failed: A TLS fatal alert has been received.`

https://discuss.circleci.com/t/php-compiled-with-curl-gnutls-curl-fails-to-validate-some-certs/1641/4 apparently we should upgrade the builds to 14.04 to get that fixed?

Opened via [gitte

[2016-11-16 14:33] coala-bot opened #3014 "create build with unpinned dependencies"
￼

Opened via [gitter](https://gitter.im/coala/coala/?at=582c6e4631c5cbef430324ce) by @sils

[2016-11-16 14:44] sils commented on #3013
https://discuss.circleci.com/t/apt-get-update-broken/8083

[2016-11-16 15:22] coala-bot opened #3015 "Check if cached files need update in Bear:download_cached_file"
We should probably send an "if-modified-since" flag if the file still exists and is older than a few days or something?

Opened via [gitter](https://gitter.im/coala/coala/?at=582c79ade097df7575bc66ab) by @sils

[2016-11-16 16:24] Nosferatul commented on #2649
sorry, you can take it @ashwini0529 .

[2016-11-16 16:52] #2993 closed

[2016-11-16 16:52] #3004 closed

[2016-11-16 16:54] sils commented on #2321
ok we're going for https://github.com/coala/coala/issues/2279 for now

[2016-11-16 16:54] #2321 closed

[2016-11-16 17:03] adtac opened #3016 "Missing param doc for `arg_parser` in `run_coala` in coala_main.py"

[2016-11-16 17:59] coala-bot opened #3017 "show user an info if the apply patch action can't be applied because of conflicts"
Opened via [gitter](https://gitter.im/coala/coala/?at=582c9e81bd2f135f1a274161) by @sils

[2016-11-16 18:21] jayvdb commented on #2464
@RaitoBezarius , are you still working on this?  I dont see any dev branches in https://github.com/RaitoBezarius/coala/branches .  If you're not getting enough time for this, push what you have, and someone else could finish it.

[2016-11-16 19:12] tulphoon commented on #2279
@Udayan12167 you still on this or can i take it? :D

[2016-11-16 19:38] sils commented on #2279
He's not responding since Sunday and it's urgent, it you guy time, take it
now

On Nov 16, 2016 8:14 PM, "tulphoon" <notifications@github.com> wrote:

[2016-11-16 23:47] amacneil commented on #2535
I came across this issue looking for this feature, but I think the current `--find-config` behavior is not what most people would expect.

Right now there does not seem to be a way to run coala on a subdirectory that is not the root of your project. There is a `--files` option, but then I need to specify specific files (rather than relying on the patterns in `.coafile`).

What currently happens:

[2016-11-17 08:56] sils commented on #2535
Hey @amacneil , you can use `coala --limit-files "subdir/**"`, then coala will use the config (which you can also give with `-c`) and limit the set of files for every section by the limit-files glob. This is especially used in editor plugins to only check that file but do it properly ;)

Can you tell us where you searched and where we could have put the info for you to find? Or how can we make thi

[2016-11-17 11:26] sils commented on #3009
This issue was moved to coala/coala-bears#1008

[2016-11-17 11:26] #3009 closed

[2016-11-17 12:57] rahul-kumi commented on #3016
hey @adtac , I would like to work on this issue, can I be assigned.

[2016-11-17 12:59] sils commented on #3016
there you go, CC @tulphoon

[2016-11-18 02:55] cylussec commented on #2044
I am having trouble figuring out how to get the version of every module which has the coalabears entry point. Where is that? I have the rest of this one done.

[2016-11-18 07:21] NiklasMM commented on #2050
@Makman2 are you still working on this? Otherwise I'd like to give this a go over the weekend.

[2016-11-18 07:50] sils commented on #2044
I think getting the version of every entry point might be a huge performance hit, not sure if we really want that unless absolutely needed. There's a function get_registered_bear_dirs I believe, just grep fit entrypoint probably gets you to wherever we resolve then

[2016-11-18 10:55] Makman2 commented on #2050
@NiklasMM go ahead :) If you have questions regarding the Linter, let me know, it's quite some code^^ :+1:

[2016-11-18 12:36] adtac opened #3020 "FunctionMetadata.py: Do not hardcode the default value into a param's metadata"
Instead it'd be better have it as another field in the tuple to improve flexibility (for example, I'd like this feature because it'd help me solve https://github.com/coala/bear-docs/issues/20 cleanly rather than doing a hacky solution).

[2016-11-18 12:38] adtac commented on #3020
We already have the default value in the last column, so basically remove that string concatenation (but maybe add a field to say that this is optional).

[2016-11-18 12:58] adtac commented on #3013
Apparently this has been solved? https://discuss.circleci.com/t/apt-get-update-broken/8083/6

[2016-11-18 13:02] adtac commented on #3012
I'm taking this so that the other issue isn't blocked for long.

[2016-11-18 13:10] #3012 closed

[2016-11-18 13:13] adtac commented on #2927
Is this in coalang?

[2016-11-18 14:46] adtac commented on #2912
I got [this](http://vmprof.com/#/0d6828acc48cfbd7a3486809952ae487) when there are no outputs (see the lack of `print_result`).

[2016-11-18 14:56] adtac commented on #2912
Notes:

* We spend an awful lot of time loading bears... This could really be improved if we use `cib` more often - then we don't need to query the entry point, glob all `**Bear.py` files, *then* load them. Instead it's just a straight forward import with `cib`.

* For now, since we're using `coala-bears`, we do an unnecessary `load` in `collect_registered_bears_dirs` - we load the bear only to us

[2016-11-18 15:00] adtac commented on #2912
Also, `yield_once` seems to take an unusual amount of CPU time. We could look into this and ensure we don't use it unnecessarily (for example in cases when we can assure that each yield will be different).

[2016-11-18 15:03] adtac commented on #2910
FWIW [I'm doing this](https://github.com/coala/coala-bears/pull/484/commits/1e2b94dc16790659795fb0fe898206f7d1685497#diff-300a382ece6b22239f13b2f305ea83a6R48) in CasingBear. BTW AnnotationBear [catches this?](https://github.com/coala/coala-bears/blob/a4306081df428eb4b67e88ebe1cf98587ed9f9dc/bears/general/AnnotationBear.py#L35)

[2016-11-18 15:07] adtac commented on #2907
@Adrianzatreanu it works for me alright. Which language did you filter by?

[code]

I just checked and it works for C too.

[2016-11-18 15:15] adtac commented on #2901
I believe this is done ;)

[2016-11-18 15:32] adtac commented on #2888
[code]

I know this looks really hacky, but this really describes the scenario. If there is exactly one sections and that is `Default` and it has no settings, it basically means there was no `.coafile`. Or the user had one and its content was just the section header:

[code]

which is pretty useless anyway and we should probably warn them, I think.

[2016-11-18 15:40] adtac commented on #2616
related to https://github.com/coala/coala/issues/2927 ? (that one seems more well defined to me)

[2016-11-18 15:55] sils commented on #3013
true!

[2016-11-18 15:55] #3013 closed

[2016-11-18 15:56] sils commented on #2901
not all of the aspects but yeah, let's close this. We'll work on aspects on the weekend.

[2016-11-18 15:56] #2901 closed

[2016-11-18 15:58] sils commented on #2927
An initial dictionary is already avail. for coalang. As for the docstyle definitions: we should merge them into coalang, maintaining both seperately is just going to bite us long term

[2016-11-18 16:41] jayvdb commented on #2006
I am very skeptical about the approach in #2942.  Adding a copy of a stdlib module is a huge maintenance burden.

Does this only happen with `enforce_newline_at_EOF` is disabled?
Because that flag should add the missing EOL at EOF, which fixes the diff algorithm.
And if that is happening, we only need to determine the desired approach for `enforce_newline_at_EOF=False` , and IMO this could be done

[2016-11-18 17:29] coala-bot opened #3024 "Diff.change_line: allow ommitting the original line"
It's redundant and already given by the line number. We need to properly deprecate that though. CC @jayvdb for deprecation, this is bear API!

difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=582f3a625eb8ea792a3812fc) by @sils

[2016-11-18 22:01] Makman2 commented on #2616
yes indeed :+1:
--> duplicate of #2927

[2016-11-18 22:01] #2616 closed

[2016-11-18 22:03] sils commented on #2994
oh @arjunsinghy96 this is not solved by that commit! The goal here was to have more checks active by default in the coafile

[2016-11-18 23:50] Makman2 commented on #3020
What do you mean exactly "hardcoded default value"?

[2016-11-19 00:23] sils commented on #2994
:D people, stop closing this issue

[2016-11-19 03:45] AbdealiJK commented on #2044
Were already doing bear.__file__ so we can just add bear.__version__ to it as well. Its not a major performance hit.
Entry point finding was in collections.py iirc

[2016-11-19 03:51] adtac commented on #3020
We add `(Optional, default value is 'True')` (or something similar) to each param's description. Instead we could have them as separate fields. See line 187 in FunctionMetadata.py

[2016-11-19 09:11] ranchalp commented on #2884
I'm also new to Coala, github and open source dev in general. I want to contribute to this issue, since it is still open (maybe this is not how one does it), can someone point me in the right direction with this?

[2016-11-19 09:14] sils commented on #2884
@ranchalp currently @AGZ98 is assigned.

@AGZ98 any updates? Are you still willing to do this?

[2016-11-19 09:21] sils commented on #2888
it looks pretty hacky and only covers one case of this error, I'll just cherry pick and write a test for https://github.com/coala/coala/commit/751328f87adc9126101a5f3f287f4e3eeb601202

[2016-11-19 10:40] sils commented on #3008
why if we have json? Even now there seems to be almost no demand to write bears in json, the external bear wrapper is rather unmaintained and unless a test fails nobody hardly ever looks at it. If we have time to spare on this, rather make sure it works still - I'm not fully sure it does :/