[2017-12-25 19:52] Mohit17067 opened #5001 "Development Setup Notes: redirecting link not woking properly"
In [Development Setup Notes](https://api.coala.io/en/latest/Developers/Development_Setup.html#installing-from-git), there is a link under 'Using venv' section [the next part](https://coala.io/devsetup#installing-from-git) which should redirect to 'installing from git' section but it is redirecting to some other Permalink.

[2017-12-25 19:55] Mohit17067 commented on #5001
I would also love to work on this issue if this is a valid issue.

[2017-12-25 20:14] Mohit17067 opened #5002 "Development setup notes: 'installing from git ' link not working properly"
In [Development Setup Notes](https://api.coala.io/en/latest/Developers/Development_Setup.html#installing-from-git), there is a link under 'Using virtualenv' section [installing from git](https://coala.io/devsetup#installing-from-git) which should redirect to 'installing from git' section but it is redirecting at the top of the page.

[2017-12-26 04:04] khanchi97 opened #5003 "Testing_Bears.rst: Add `files` parameter in `Result.from_values()`"
[code]
you can see that https://github.com/coala/coala/blob/master/coalib/results/Result.py#L153
`files` parameter is required by `from_values()` method which is non-optional.

area/documentation

[2017-12-27 04:43] #4771 closed

[2017-12-27 10:42] aviral1701 commented on #4973
Is this the [repo](https://github.com/coala/landing-frontend) that I am supposed to make changes to?
Thanks for your help.

[2017-12-27 17:26] Makman2 commented on #4973
Probably, please compare file contents there with contents on the installation page to find where to make the changes.

[2017-12-27 18:25] #4509 closed

[2017-12-27 19:26] Makman2 commented on #4885
Unassigning due to inactivity.

[2017-12-28 13:26] Mohit17067 commented on #5001
Just for confirmation, To solve this issue I just need to change the URL in the appropriate documentation file.

[2017-12-28 15:29] adi23arora commented on #5001
Yes, just find the document containing URL and change it accordingly.
**Hint**:  You can use ``grep`` to find the appropriate document.

[2017-12-28 17:45] nvzard opened #5009 "Helper function to compare version of installed packages."
We need a helper function that returns a boolean value if the user has required version of a given package.

Something like:
[code]

Use Case:
In https://github.com/coala/coala/issues/3847 we need to check the clang version of the user.
We can use `pkg_resources` to get the version of installed modules.

[2017-12-28 17:54] nvzard commented on #5009
@Makman2  Can you please tell where exactly this method needs to be placed?

[2017-12-28 17:55] Makman2 commented on #5009
Maybe in our `misc` module, or it could be useful for `coala_utils` too^^

[2017-12-28 18:03] #4356 closed

[2017-12-28 18:11] nvzard commented on #5009
Let's put it in coala_utils for now.
And please assign this issue to me, I'd like to work on it.

[2017-12-28 20:41] clarammdantas commented on #4885
Hi! :)
I'm a new contributor, can I be assigned to this issue?

[2017-12-29 01:54] clarammdantas commented on #4885
I removed the unused variables and did a PR but it is failing all tests. After my changes I tested coala in my computer and ran the pytest, it was working fine. Can someone help me with this please?

[2017-12-29 03:08] Mixih commented on #4885
see https://gitter.im/coala/coala?at=5a45affa232e79134da162f4

[2017-12-29 03:31] ishanSrt opened #5013 "change glob of ApplyPatchAction in .coafile from * to **"
`result.origin` in case of many bears changes from their original name, eg. `ESLintBear` becomes `ESLintBear (prettier/prettier)` due to which the glob `*` may not match and ApplyPatchAction won't work.

Although it won't affect the result, but as many users often refer to this file for their own project they may find that some bears are not working if they exactly put this statement over there.

[2017-12-29 03:33] ishanSrt commented on #5013
Not quite sure if this needs to be done for ShowPatchAction too

[2017-12-29 07:31] ishanSrt commented on #4890
I see 47 instances of `re.escape()` being used

can someone give me an example in which either of the case is not feasible to use i.e.
1.) We can use `coala_utils.string_processing.escape` but not convert to `/`
2.) We can use `/` but not `coala_utils.string_processing.escape`

[2017-12-29 08:09] khanchi97 commented on #4849
I want to give it a try.

[2017-12-29 10:29] kriti21 commented on #5003
Please assign  this issue to me. Also if @khanchi97 could elaborate what needs to be done, it would be great help. Thanks.

[2017-12-29 12:50] darthgera123 commented on #4904
can somebody help me where do i make the changes, or do i make a new file.

[2017-12-29 13:26] Mohit17067 commented on #4904
Add appropriate changes in docs/Developers/Review.rst .

[2017-12-29 23:52] clarammdantas commented on #4959
Hi! :)
Is this still open? Can I work on it?

[2017-12-30 10:14] manankalra commented on #5003
I would like to work on this issue.

[2017-12-30 15:36] userzimmermann commented on #4848
@Makman2 @jayvdb @shreyans800755 @mohit2872 We finally heed some decision here to get https://github.com/coala/coala/pull/4875 done... :)

I recently saw that Python 3.6 introduced a new `ImportError`-derived `ModuleNotFoundError`

So IMO `FilterNotFoundError` would be Pythonic and pretty much self-explanatory without misunderstandings... don't you think?

[2017-12-30 16:15] Makman2 commented on #5003
@kriti21 was first ;)

[2017-12-30 16:20] pradeepgangwar commented on #4862
Please see if the issue is still valid. Looks like it is solved in latest file.
https://github.com/coala/coala/blob/master/tests/output/ConsoleInteractionTest.py#L376

[2017-12-30 17:09] Makman2 commented on #4890
There's now also `PathArg` defined recently, which does this path conversion:
[code]

[2017-12-30 17:27] Makman2 commented on #4848
kk, I'm fine with either way :)

[2017-12-30 17:27] Makman2 commented on #4848
So let's do `FilterNotFoundError`

[2017-12-30 17:29] Mixih commented on #3411
it's been added a while back

[2017-12-30 17:29] #3411 closed

[2017-12-30 17:31] #4045 closed

[2017-12-30 17:39] ishanSrt commented on #4890
@Makman2 assign this issue to me. Also remove the `status/blocked` as the referenced PR has been merged

[2017-12-30 17:49] #4885 closed

[2017-12-30 17:58] ishanSrt commented on #4862
@pradeepgangwar still working on this?

[2017-12-30 18:02] pradeepgangwar commented on #4862
@ishanSrt Looks like issue is already fixed. See file link in previous comment.

[2017-12-30 20:03] shreyans800755 commented on #4848
@userzimmermann Looks good to me. Let's go with that name. The issue has been hanging around for quite some time now.

[2017-12-30 20:45] Makman2 commented on #4862
No the issue is still valid :+1:

[2017-12-30 20:47] Makman2 commented on #3411
Also we don't use rultor any more.

[2017-12-30 20:52] Makman2 commented on #5009
If you think it's temporary, it should be rather kept in coala itself then.

[2017-12-31 03:46] ishanSrt commented on #4890
@Makman2 couldn't find any documentation for `PathArg()`. What do I have to import to use that?

[2017-12-31 03:57] ishanSrt commented on #4890
Sorry for the confusion, you were talking about `DefaultArgParser.py`

[2017-12-31 05:11] nvzard commented on #5009
Okay I'll add it to the `misc` module. I'll create a new file `helpers.py` and add the method `version_check`, we can add other helper method in the future to this module :)

[2017-12-31 17:06] userzimmermann opened #5020 "Don't re.escape() cmdline path args in tests"
2nd step after https://github.com/coala/coala/issues/4890 for getting rid of inconveniently used `re.escape()`s

Since https://github.com/coala/coala/pull/4883 coala cmdline args can have single-backslash path separators on Windows, which were formerly doubled in the tests by using `re.escape` to avoid their removal by coala's settings handling (always interpreting backslashes as escape characters

[2017-12-31 22:01] userzimmermann opened #5022 "DefaultArgParser: Add type=PathArg to all remaining FILE and DIR args"
Oops :) In https://github.com/coala/coala/pull/4883 I didn't add the new `type=PathArg` to all cmdline arg definitions with file or directory path values. That needs to be completed...

Such args are basically all that define `metavar='FILE'` or `'DIR'`

[2017-12-31 22:04] userzimmermann commented on #5022
This blocks https://github.com/coala/coala/pull/5021

[2017-12-31 22:04] userzimmermann commented on #5022
@ishanSrt Interested in getting assigned to this, too? :)

[2017-12-31 22:05] userzimmermann commented on #5022
cc @Makman2

[2017-12-31 22:23] userzimmermann commented on #5020
Blocked by https://github.com/coala/coala/issues/5022

[2018-01-01 03:08] ishanSrt commented on #5022
Sure! assign me

[2018-01-01 15:32] ishanSrt opened #5025 "ConfigurationGathering.py: Fix docstring of function warn_config_absent()"
return values of True and False are interchanged

difficulty/newcomer

[2018-01-01 16:00] #4903 closed

[2018-01-01 17:04] userzimmermann commented on #5020
@ishanSrt Closing this in favor of #5022 and related PR https://github.com/coala/coala/pull/5023 which implicitly integrates all changes for solving this

[2018-01-01 17:04] #5020 closed

[2018-01-01 20:33] #3389 closed

[2018-01-01 21:20] Makman2 commented on #5013
Marking `difficulty/low` as it seems there's some research left.

[2018-01-01 21:57] Makman2 opened #5026 "FilterTest: Unused import `InvalidFilterException`"
Remove this import.

[2018-01-01 22:37] #4071 closed

[2018-01-02 11:05] firedranzer commented on #5026
@Makman2 I want to take this issue. Please assign me this.

[2018-01-02 14:01] shikhar-scs commented on #5025
If no one has been assigned this issue can I please work on it @ishanSrt

[2018-01-02 17:51] sachincool commented on #5002
i would like to take the issue as a newcomer.

[2018-01-02 20:10] Makman2 opened #5027 "Remove LLVM dependency"
Only `Diff.from_clang_fixit` and `SourceRange.from_clang_range` need `libclang` and `LLVM` for the native binaries. These functions are only used in `ClangBear` inside coala/coala-bears, and are very specific for that particular bear. They should be moved there until the next coala release.

Although meaning it's an API break, it doesn't make sense to keep it due to this additional dependency.

ED

[2018-01-02 21:56] #5001 closed

[2018-01-03 00:25] jayvdb commented on #5027
Why not use the [pre-installed LLVM](https://www.appveyor.com/docs/build-environment/#llvm)

[2018-01-03 12:25] khanchi97 commented on #4019
@aashraybhandar1 are you still working on this?
if No, then I would like to work on this.
if Yes, then I would like to help you 😉

[2018-01-03 13:09] aashraybhandar1 commented on #4019
@khanchi97 Yes I'm .. I was away on vacation for the past couple of weeks so didn't have much time... If you see the pull requests some additional changes have been asked to be implemented which are tricky .. You are more than welcome if you wish to help solve them :smile:

[2018-01-03 13:58] ishanSrt commented on #4999
I would like to take this up but this requires too many changes.
Tell me things that I am not supposed to change at all.
Also point me out where does coala infer the directories from the file paths given as you mentioned this on gitter

[2018-01-03 15:04] khanchi97 commented on #4019
okay, I will let you know if I got some idea abouts asked changes to implement :)

[2018-01-03 15:48] yugeshk commented on #5026
Hi I am new to open-source and wanted to take this issue seeing as there are no Assignees yet.
Have tried my best to abide by the [Newcomers guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html) and make a [good commit](http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html).

[2018-01-03 17:34] ppatel221 commented on #5025
I've requested a PR here. https://github.com/coala/coala/pull/5032

[2018-01-03 17:43] ishanSrt commented on #5025
Sorry @shikhar-scs if you did not get assigned to this on time. Sometimes you gotta wait. Next time just ask a maintainer if you see him active on gitter.

[2018-01-03 17:50] sangamcse commented on #5026
@yugeshk First of all, this issue was not assigned to you. And as @firedranzer asked for it first, I think you are making it bad.

[2018-01-03 17:53] ishanSrt commented on #5025
@ppatel221 you should wait for assignment to an issue, your PR may be rejected by the maintainers

[2018-01-03 18:05] yugeshk commented on #5026
Will keep that in mind from next time. Sorry

[2018-01-03 18:14] shikhar-scs commented on #5025
@ishanSrt

Yeah sure I'll do that the next time

[2018-01-03 18:24] Makman2 commented on #5026
@firedranzer are you still interested in the issue?

[2018-01-03 18:29] firedranzer commented on #5026
I think @yugeshk has solved the issue. It's fine by me @Makman2 .

[2018-01-03 18:35] Makman2 opened #5034 "Ignore comments for more than one bear don't work properly"
From https://github.com/coala/coala-bears/issues/2209:

[2018-01-03 18:35] Makman2 commented on #5034
CC @sils
If I recall correctly, you were involved into writing the ignore feature. Do you maybe have an idea?

[2018-01-03 18:53] Makman2 commented on #4999
I can't, because I don't know.

You have to look out where the `file_dict` is filled up, there functions from `Globbing` should appear.

[2018-01-03 19:13] sils commented on #5034
no idea, sorry

[2018-01-03 20:20] Makman2 commented on #5027
There's only one component needing the LLVM bindings: `Diff`
It has a special method to generate the diff from a "fixit". I think this belongs to the specific bear, then we can remove another dependency here, then we don't need to cache it at all :+1:

[2018-01-03 20:36] clarammdantas commented on #5013
Can I take this one?

[2018-01-03 23:27] khanchi97 opened #5037 "Add support for --run-after and --run-before to a particular section in coafile"
.coafile
[code]

Now coala should be able to run commands
1.`coala --run-after b`       => coala will only execute section `c` and `d`
2.`coala --run-before c`    => coala will only execute section `a` and `b`

[2018-01-03 23:38] khanchi97 opened #5038 "Add support for section ordering"
.coafile
[code]
Now, if run
1. `coala a d c b`   => should run sections in order `a -> d -> c -> b`
2. `coala d c b a`   => should run sections in order `d -> c -> b -> a`

[2018-01-03 23:38] khanchi97 commented on #5038
Although I would also like to work on this :)

[2018-01-04 00:02] khanchi97 commented on #5034
I wanna give it a try ;)

[2018-01-04 01:00] ishanSrt commented on #5034
can't get PMD to work correctly right now, can you duplicate this with any other bear? also what exactly was your file before. @pareksha
cause
[code]
this looks like a coala prompt

[2018-01-04 07:17] ishanSrt commented on #5037
would like to take this up

[2018-01-04 09:03] khanchi97 commented on #5037
@ishanSrt first let see what discussion will take it to.Is this behaviour is desired or not?
Then you can work on this :)

[2018-01-04 09:03] pareksha commented on #5034
@ishanSrt take a look at this
[code]

[2018-01-04 09:05] pareksha commented on #5034
@ishanSrt this was my file before running coala again
[code]

[2018-01-04 09:06] pareksha commented on #5034
Can I take up this issue? I would like to work on it.

[2018-01-04 09:14] ishanSrt commented on #5034
@pareksha https://github.com/coala/coala/issues/5034#issuecomment-355231235 are you supposed to put comments in python that way?

Also in the examples to ignore code I see the comments with ignore statement being one line before the actual code to ignore. Not sure why this even works. Have you tried that?

[2018-01-04 09:17] pareksha commented on #5034
@ishanSrt please take a close look this is a C file, not python.
And secondly I didn't put the ignore comments, coala did when I selected the ignore comments (3) option when I ran coala.
coala put the ignore statements as one line.

[2018-01-04 09:19] pareksha commented on #5034
@ishanSrt
I didn't put the ignore comments manually, coala did, when I selected the ignore comments (3) option when I ran coala.
coala put the ignore statements as one line and in the format as you can see in the file.

[2018-01-04 09:23] ishanSrt commented on #5034
Okay so did you run coala twice and selected option (3) on 2 different runs?

[2018-01-04 09:27] pareksha commented on #5034
I selected 2 on different runs which added those 2 comments. Then again ran coala and then the bear in the first comment again displayed the prompt.

[2018-01-04 09:32] ishanSrt commented on #5034
okay I believe any person after reading the docs won't do such thing intentionally, he would rather write
[code]
and this would work as expected, so what I propose is open 2 issues,
**one** checking that coala adds repetitive ignores like above and not like
[code]
**two** if a user gives ignore comments like that, you will need to discuss what should be the action taken, whether to prompt the user

[2018-01-04 09:36] pareksha commented on #5034
I think the first one should be erected as soon as possible. And this issue should stand for it. What do you say @ishanSrt

[2018-01-04 09:42] khanchi97 commented on #5034
https://github.com/coala/coala/issues/5034#issuecomment-355231235
btw why you are using `PycodestyleBear` with a C file 😉
@pareksha

[2018-01-04 10:10] pareksha commented on #5034
Looks like the foolishness caught a bug @khanchi97 :wink:

[2018-01-04 20:39] Makman2 commented on #5034
In case this does work, we have at least a workaround. Question is now like you said: Shall two ignore comments in a row work too?

I would say in fact yes, that's what's expected from the user. Anyway, we can shift fixing this problem by making coala's ignore-comment-addition smarter: Reading existing comments and use conjunctions like "and"

[2018-01-04 22:08] #5002 closed

[2018-01-05 05:36] prnvdixit commented on #5025
@ppatel221 Please get assigned to any issue before starting working on that. :smile:

@shikhar-scs Say "Hello World" on gitter channel and ask any maintainer to assign you to this issue after accepting the invite sent. Also, don't submit a PR (that might waste your precious time) before you are assigned to the issue. :+1:
Meanwhile, go through https://coala.io/newcomer :smiley:

[2018-01-05 08:10] shikhar-scs commented on #5025
I am starting work here, will hardly take any time.

[2018-01-05 09:02] ishanSrt opened #5040 "Some output by coala not visible on most of terminal Dark colour themes"
I have tried a tonne of dark terminal themes and except for a few like the Dracula theme render the first param given to results way too dark to be visible eg.
<img width="923" alt="screen shot 2018-01-05 at 2 25 43 pm" src="https://user-images.githubusercontent.com/29859362/34602044-5c91aa58-f224-11e7-9dcc-c345c3bdf224.png">
Same theme shown with selecting those lines:
<img width="771" alt="scree

[2018-01-05 10:15] jayvdb commented on #5025
@ppatel221 is already working on this one.

[2018-01-05 13:51] prnvdixit commented on #5025
@jayvdb Then assign "somebody" :stuck_out_tongue:
(We had a discussion on channel for not reviewing unless someone is assigned to the issue :wink:)

[2018-01-05 16:52] ishanSrt opened #5041 "The glob `*` does not match all bears"
Many bears' `result.origin` is not just the name of the bear. For e.g.. ESLintBear has result.origin "_ESLintBear (prettier/prettier)_ and the glob `*` doesn't match anything with file seperators in it i.e. `/` or `\`, we have to use glob `**`. The PR https://github.com/coala/coala/pull/5017 fixes the issue with `--apply-patches` command line argument but if the `.coafile` has something like this

[2018-01-05 17:59] ishanSrt opened #5042 "Document all available actions that can be used with `default_actions` setting"
Also no mention of any command line argument for the same (if it exists. If it does not exists should open a new issue to make one and then another issue to add that too to the docs) More newcomer issues 😃

[2018-01-05 18:02] ishanSrt opened #5043 ".coafile Correct command"
`default_action: *: ShowPatchAction` this is not the correct format and should be changed to
`default_actions = *: ShowPatchAction`

[2018-01-05 18:09] ishanSrt opened #5044 ".coafile not showing the correct error"
An earlier typo in .coafile which is being fixed by https://github.com/coala/coala/issues/5043 doesn't show the correct error message. Instead it shows an error based on the previous line
eg. if your .coafile has this
[code]
it will show
[code]
 if your .coafile is
[code]
It will show **Unable to find that file/ No matching file**

or if your .coafile is
[code]
it will show
[code]
Instead it shoul

[2018-01-05 21:21] Makman2 opened #5045 "DiffTest failing on CI"
See build https://travis-ci.org/coala/coala/jobs/325392018

Seems there was a recent update to 0.5.5 of the `unidiff` module on 3rd January 2018. Fixing the version below 0.5.5 should fix ti.

[2018-01-05 22:53] sils commented on #5045
@Makman2 is there an upstream issue?

[2018-01-05 22:54] #5045 closed

[2018-01-05 23:03] Makman2 commented on #5045
Filed upstream issue: https://github.com/matiasb/python-unidiff/issues/50

[2018-01-06 00:20] #5022 closed

[2018-01-06 06:17] yugeshk commented on #5043
I would like to take this up.

[2018-01-06 07:31] ishanSrt commented on #4854
I want to be assigned to this

[2018-01-06 10:09] khanchi97 commented on #5038
@Makman2 what about labeling this issue 😉

[2018-01-06 12:23] ishanSrt commented on #5038
@khanchi97 tell me what is the need for this and https://github.com/coala/coala/issues/5037
What functionality does this add and in what scenario a user would need such kind of feature.
I don't understand how does it matter whether a section is executed before the other and how would it change the outcome if the are executed in any other order.

Only thing I could think of right now is when two se

[2018-01-06 12:41] khanchi97 commented on #5038
@ishanSrt go through this thread https://gitter.im/coala/coala?at=5a4d564f68d092bb621e90f9 and you will get the reason why we opened these issues :)

[2018-01-06 13:40] Jai-Z commented on #5025
Hello Everyone, I would like to work on this issue. How do I proceed from here on?

[2018-01-06 13:55] ishanSrt commented on #5025
@Jai-Z 2 people are already battling for this. better pick a different issue 😅

[2018-01-06 14:01] Jai-Z commented on #5025
No problem, thanks for replying though. (y)

[2018-01-06 14:03] Jai-Z commented on #4985
Hello, I'd like a go at this issue. Do I have the permission?

[2018-01-06 14:12] CaptainDaVinci commented on #5042
I would like to work on this, but I am completely new to _coala_, I looked into the source code for `ShowPatchAction`, but did not understand it completely. It would be great if anyone could help me with it.

[2018-01-06 14:13] shikhar-scs commented on #5025
@jayvdb Can I please resume my work ?

[2018-01-06 14:45] claporslap opened #5048 "Installing coala"
Hello Everyone
I am new here.
I am trying to install coala. I have used all three steps.
But when I try to use coala, I get this error
"No command 'coala' found, did you mean:
Command 'cola' from package 'git-cola' (universe)
coala: command not found"

What is wrong here?

[2018-01-06 15:21] ishanSrt commented on #5042
@CaptainDaVinci this would be labelled a difficulty low issue. You should better start with a difficulty newcomer issue and move your way up as you understand more and more about coala.

[2018-01-06 16:08] #4890 closed

[2018-01-06 16:11] Makman2 commented on #5038
Sometimes there are analysis methods you want to apply in sequence, especially if you like to apply patches and no conflicts shall occur.

So that's more or the less the usecase ;)
I don't have an example right now, however we already had cases where we needed the correct order to optimally run coala and don't get conflicts with patches I believe.

[2018-01-06 16:12] Makman2 commented on #4985
The issue is currently assigned and being worked on, please pick a different issue :)

[2018-01-06 17:15] Prabhat-IIT commented on #5048
Please see my reply to you on gitter channel. If problem still persists then please furnish more details about your problem

[2018-01-06 17:43] Prabhat-IIT commented on #4973
Hi if nobody is working on this issue I want to take it up!

[2018-01-06 18:25] Prabhat-IIT opened #5049 "Development Setup notes should also mention about seperate documentation repository"
I think [Development Notes](https://api.coala.io/en/latest/Developers/Development_Setup.html#installing-from-git) should also have the mention of seperate documentation repository like in [Installation guide](http://docs.coala.io/en/latest/Users/Install.html) so that to any new comer it will be clear that he/she has to also clone the [documentation repository](https://github.com/coala/documentatio

[2018-01-06 18:54] Makman2 commented on #4973
Unassigned due to inactivity.

[2018-01-06 18:59] Makman2 commented on #5043
@yugeshk we are a bit low on newcomer issues and you've already opened a PR for another one, is it okay if you try to find a `difficulty/low` issue? :)

[2018-01-07 06:38] yugeshk commented on #5043
@Makman2 yes sure!

[2018-01-07 07:24] khanchi97 commented on #5038
@Makman2 can you assign me to this issue :)

[2018-01-07 10:14] Hynix07 commented on #5043
I would like to take this up!!

[2018-01-07 11:25] sangamcse commented on #5049
@Prabhat-IIT @Makman2, I think there is no need for this issue. It is already given here: https://api.coala.io/en/latest/Developers/Development_Setup.html#building-documentation,

[2018-01-07 11:42] yugeshk commented on #2745
@Makman2 I've read some of the code and changes related to this issue and would like to work on it. It seems quite nice and has been stale for sometime. Could you assign this to me?

[2018-01-07 13:59] ishanSrt commented on #5048
@claporslap still facing issues after you got help on gitter?

[2018-01-07 14:09] ishanSrt opened #5051 "No link for docs in coala api"
In coala docs, there is a link for the coala api, in the side bar, under **For Developers**

Implement vice-versa

i.e. a link in the sidebar in coala api for the docs

[2018-01-07 17:26] namantw commented on #5051
@ishanSrt if I get it correctly, the link has to be added in [docs/index.rst](https://github.com/coala/coala/blob/master/docs/index.rst). But where should I put it, under the `Home` subcategory or should I make a new subcategory?

[2018-01-07 22:16] ishanSrt commented on #5051
@namantw not quite sure. Figure it out. This issue expects a link for the docs in the side bar in https://api.coala.io/en/latest/

[2018-01-07 22:44] ishanSrt commented on #5034
This seems to be file type dependent.
In case of python files, I was able to duplicate completely the issue https://github.com/coala/coala/issues/4852

whereas in case of `.cpp` files, in all the three cases as specified in the above mentioned issue by @userzimmermann only the second ignore statement is used

[2018-01-07 22:53] ishanSrt commented on #4852
I want to be assigned to this.

[2018-01-07 23:03] ishanSrt commented on #4854
@userzimmermann so the problem is only when you just write `# Ignore` and its not working before the line
while,
`# Ignore SomeBear` is working fine both ways. Right?

I don't see anything strange after you wrote

`PycodestyleBear` is being ignored both ways.

[2018-01-08 08:57] pareksha commented on #5034
@ishanSrt both issues are separate as here coala is writing the ignore statements whereas in #4852 ignore statements are being added manually by the user.

[2018-01-08 13:42] Prabhat-IIT commented on #5049
Nopes @sangamcse  the link to Documentation repository is not given as in Installation guide!

[2018-01-08 15:00] #4939 closed

[2018-01-08 15:19] khanchi97 commented on #4863
I would like to work on this :)

[2018-01-08 16:17] newbazz opened #5055 "SpaceConsistencyBear change docstring indentation"

[2018-01-08 17:13] khanchi97 opened #5056 "Fix a typo"
In this [line](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L775) change `ist` to `isn't`

difficulty/newcomer

[2018-01-08 18:08] jackthepirate6 commented on #5056
please assign this to me.

[2018-01-08 20:09] Prabhat-IIT commented on #5049
Nopes @sangamcse  the link to Documentation repository is not given as in Installation guide!

[2018-01-08 20:19] Makman2 opened #5058 "Build break generating docs"
Same as https://github.com/coala/coala-bears/issues/2225

[2018-01-08 20:30] Makman2 opened #5060 "Allow sphinx version 1.6.6 in docs-requirements.txt"
Same as https://github.com/coala/coala-bears/issues/2225

The solution from https://github.com/coala/coala-bears/issues/2225 should be copied here. In case there's no solution yet, you can still investigate and apply it here, so https://github.com/coala/coala-bears/issues/2225 can take over the solution from this issue / repository.

[2018-01-08 20:38] #5058 closed

[2018-01-08 20:48] Makman2 commented on #5049
The API documentation and some related docs can be built with the coala repository only, you don't have to clone the `documentation` repo (if I understand you correctly). Also we use `python3 setup.py docs` to generate the docs, and not `make`.

I just see, it seems the documentation there is not up-to-date.

[2018-01-08 20:48] Makman2 commented on #5049
The `documentation` repo is for user-documentation only.

[2018-01-08 20:52] Makman2 commented on #5034
@ishanSrt Indeed the base problem is a subset of #4852.
I think @pareksha is right too, so I'll rephrase the issue to improve the ignore-comment-action.

[2018-01-08 21:10] sangamcse commented on #5049
Exactly, that's why I said the issue is not required.

On 09-Jan-2018 2:18 AM, "Mischa Krüger" <notifications@github.com> wrote:

The documentation repo is for user-documentation only.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala/issues/5049#issuecomment-356091765>, or mute
the thread
<https://github.com/notif

[2018-01-08 21:11] saurabhkgp21 commented on #4864
@Makman2 , this issue is inactive from long time, if no one is working on this I would like to work on this.

[2018-01-08 21:23] Makman2 commented on #4864
Last update on the PR was 7 days ago so let's ask ;)

@pradeepgangwar still working on it? ;)

[2018-01-08 21:33] #4976 closed

[2018-01-08 21:35] #5055 closed

[2018-01-08 21:58] #5026 closed

[2018-01-09 05:36] anctartica opened #5061 "Git_Basics.rst: Fix formatting for code"
Fix formatting for "git status" command under pushing the commit section

[2018-01-09 07:11] khanchi97 commented on #5060
okay assign me to this one.I will try to solve this :)

[2018-01-09 09:27] aman9875 commented on #5061
@Makman2 Please assign this to me.

[2018-01-09 12:01] firedranzer commented on #5051
@namantw I think this is good. You can make a PR but read [writing good commits](https://github.com/coala/coala/blob/master/docs/Developers/Writing_Good_Commits.rst) once. It will be helpful for you :)

[2018-01-09 12:03] ishanSrt commented on #5051
@namantw 👍

[2018-01-09 12:08] ishanSrt commented on #4854
@userzimmermann I am stuck and need a bit of your help. I solve the first part of the issue and I am now trying to solve this part

and whats made me stuck is:
up to this line, the param `local_result_dict` seems to be completely empty
https://github.com/coala/coala/blob/b5d7973a73badda75ee362e2b3c25df3b0226db6/coalib/processes/Processing.py#L601

but after popping from the queue, i.e. https://git

[2018-01-09 12:38] ishanSrt commented on #4852
@userzimmermann for the following code:
[code]
isn't only using the second ignore statement expected behaviour? since `# Ignore PyUnusedCodeBear` was meant to ignore the next line i.e. ignore `# Ignore PycodestyleBear (E402)` where as only `# Ignore PycodestyleBear (E402)` was meant to ignore the third line. Or you want to change this behaviour?

[2018-01-09 13:05] Prabhat-IIT commented on #5049
Sorry, but I thought documentation could only be built through `documentation` repo as a newcomer. I couldn't find generating docs by using `python3 setup.py docs` @Makman2 ?

[2018-01-09 13:28] pradeepgangwar commented on #4864
@saurabhkgp21 You can work on this. I got busy with some other issues and other stuff. ;). @Makman2 Please reassign.

[2018-01-09 13:58] ishanSrt commented on #4852
actually both are not getting used as you mentioned in the issue @userzimmermann https://github.com/coala/coala/issues/4854

so if you are writing ignore for even one bear, all bears are getting neglected

[2018-01-09 15:13] khanchi97 commented on #4851
@userzimmermann IIUC the issue is `IgnoreResultAction` not following `line length` rule i.e less than 80 characters.
[code]
So now what is the expected behavior?How it should add that `Ignore comment`?

[2018-01-09 15:52] ishanSrt commented on #5044
I would like to self assign myself to this issue 😌

[2018-01-09 16:28] khanchi97 commented on #4838
@ashwini0529 are you still working on this?I would like to work on this :)

[2018-01-09 16:36] khanchi97 commented on #4474
@NiklasMM I run that same command `pytest -k ConfigurationGatheringTest` and it's not throwing any error?

[2018-01-09 17:55] khanchi97 commented on #2535
I would like to work on this :)

[2018-01-09 18:18] #5049 closed

[2018-01-09 18:30] Prabhat-IIT opened #5062 "correct the installation instructions for the coala docs"
To generate the documentation of coala it is given in the [Installation guide](http://docs.coala.io/en/latest/Users/Install.html#generating-documentation) and [Development notes](https://api.coala.io/en/latest/Developers/Development_Setup.html#building-documentation) to use `make` instead of `python setup.py docs` which is now the right way to build the documentation. So, it needs to be updated.

[2018-01-09 18:51] namantw commented on #5051
@ishanSrt looks like there is already a link for user documentation in https://api.coala.io/en/latest/ under `For Developers` under the name `User's Guide` 😨

[2018-01-10 00:26] ishanSrt commented on #5051
☹️ well in that case, I don't think the issue is valid anymore and I think I will have to close this. Sorry for the trouble.

[2018-01-10 00:26] #5051 closed

[2018-01-10 00:36] ishanSrt commented on #5013
@clarammdantas
http://docs.coala.io/en/latest/Users/Glob_Patterns.html
https://github.com/coala/coala/issues/5041
https://github.com/coala/coala/issues/4957
https://github.com/coala/coala/issues/4878

[2018-01-10 06:30] yugeshk commented on #2745
@sils Hi, I started working on this issue but could not get my mind around what was the issue with the solution provided by sanny26. If you remember anything about it?

[2018-01-10 07:03] NiklasMM commented on #4474
Hm... it may have been fixed in the meantime.

[2018-01-10 08:13] khanchi97 commented on #4474
So should we close this issue?

[2018-01-10 09:42] sils commented on #2745
I don't, from the PR (https://github.com/coala/coala/pull/3659) it seems that the last iteration I reviewed was rather complex and I asked for a simplification. If conflicts are resolved his work might be good for another review

[2018-01-10 14:10] ashwini0529 commented on #4838
Hey, sure you can take this up! :)

[2018-01-10 16:59] rohanbanerjee commented on #5062
Can I take this up?

[2018-01-10 17:21] newbazz commented on #4881
I would like to work on this issue.

[2018-01-10 17:24] Makman2 commented on #4881
Unassigning due to inactivity.

[2018-01-10 17:57] newbazz opened #5063 "Windows dependency getting installed in linux system"
https://files.gitter.im/coala/coala/w2I2/image.png
This is what is being given while running coala
type/bug

[2018-01-10 19:11] newbazz commented on #5063
@Makman2 assign it to me.

[2018-01-10 19:17] saurabhkgp21 commented on #4864
ping @Makman2

[2018-01-10 20:28] Makman2 commented on #5063
Could you try on a fresh linux image (docker is probably easiest)? I want to confirm that this happens immediately on a fresh install of coala-bears. Could you also peek in our CI around a bit if `readline` is installed?

[2018-01-10 20:39] Makman2 commented on #5049
See https://github.com/coala/coala/issues/5062 ;)

[2018-01-11 06:48] newbazz commented on #5063
@Makman2 I am facing some problems with installation using docker, I am working on it and till that time I have asked a newcomer who has joined the org yesterday to show me the output of command `coala` when run in the main coala repo ;P

[2018-01-11 07:01] newbazz commented on #5063
@Makman2 I am facing problem to run it behind the proxy

[2018-01-11 07:52] newbazz commented on #5063
![image](https://user-images.githubusercontent.com/25884863/34814066-622882ae-f6d2-11e7-9d03-989226d77cd3.png)
I have installed using docker but then as i dont know how to use coala in docker.

[2018-01-11 12:08] newbazz commented on #5063
@Makman2 it works alright in the fresh installation, it is a bug in my system.
Closing this issue, Sorry from my side ;P

[2018-01-11 12:08] #5063 closed

[2018-01-11 14:04] yugeshk commented on #2745
although the work was more or less logical, I read some of your past conversations and realized it might actually need some simplification. How about something like this -
1. get_context function to get context based on indentation.
2. Rather than getting the context data and passing it around like was done previously, why not just put another function call in the else part of [print_affected_line

[2018-01-11 16:34] khanchi97 opened #5071 "`pip3 install coala-bears --pre` not working as expected"

[2018-01-11 19:28] Makman2 commented on #2745
Just a note: I'm not a very fan of "contexts". For me they are usually an anti-pattern to code all information that is needed for something special into a class. Nobody will understand that context unless intensive studies in most cases (e.g. graphic contexts are a pain when you don't know what they are).
Context can be usually seen as some kind of "access interface", but unless it's really clear

[2018-01-11 19:31] Makman2 commented on #5063
No worries, but good that we were able to sort it.
In case that this somehow sneaked in because of coala itself and you recognize that somewhen, please reopen 👍

[2018-01-11 19:39] Makman2 commented on #4851
Above the statement would be optimal in this case.

However, there's another case:

[code]
In this case: We just can't keep the line length limit. Although it's unlikely that bear names are so long, it could happen due to combinations of multiple bears to ignore forming a longer ignore comment.

[2018-01-11 19:41] Makman2 commented on #5060
@newbazz is on it for coala-bears, and like mentioned it's effectively the same issue. Please coordinate :+1:

[2018-01-11 19:47] khanchi97 commented on #5060
yeah 👍

[2018-01-11 20:04] khanchi97 commented on #4851
@Makman2 soory, but now what exactly need to be done here.
[code]
Now where we should add Ignore comments so that it won't violates line length restriction.What is the expected result?

[2018-01-11 21:13] sils commented on #2745
@makman2 are you telling me that you never expand the github diff to see more context?

[2018-01-11 22:44] Prabhat-IIT commented on #4959
I'm interested too!! @Makman2  :)

[2018-01-11 22:54] Makman2 commented on #4959
@clarammdantas was first ;)

[2018-01-11 22:54] Makman2 commented on #4959
Reassigning due to inactivity.

[2018-01-11 22:59] Makman2 commented on #2745
omg... I've totally confused the issue with another one and thought the comment applies there... Nvm at all what I've said...

[2018-01-11 23:06] Makman2 commented on #4851
There isn't one, that's the thing.

[2018-01-12 00:16] Prabhat-IIT commented on #4959
No pb :) Good luck @clarammdantas

[2018-01-12 05:17] lollichop commented on #5071
@khanchi97 Could you please be more specific? Is there any exception raised? If so, what error is it causing the process to halt? I've just tested `pip3 install coala-bears --pre` on a machine running Windows 10 and it runs fine.

[2018-01-12 06:45] arush0311 commented on #4851
What about
[code]
ie use block style comments

[2018-01-12 07:28] khanchi97 commented on #5071
@lollichop No, the command runs fine.But it's not installing the bears from `master` branch.

[2018-01-12 13:53] Makman2 commented on #4851
Oh right, already forgot about them 😅 Thanks @arush0311 :D

[2018-01-12 14:03] khanchi97 commented on #4851
So for now I think this is the only solution that could possible, right?

[2018-01-12 15:53] ryanpcmcquen commented on #3011
@jayvdb, that link has been updated to: https://smcleod.net/mirror-gitlab-to-github/

I made an issue on their page about it (because I suspect they used a different method):
https://gitlab.com/noosfero/noosfero/issues/297

[2018-01-12 17:32] yugeshk commented on #2745
@sils @Makman2  [This](https://ibin.co/3nwf8l27P0KU.png) is what it can do currently as opposed to [this](https://ibin.co/3nxuquGNaWVF.png). I have added two functions in ConsoleInteraction.py with one call of each. What I read and understood from the previous work on this was that sanny26 was also showing context in the ShowPatchAction for which he could not avoid making the logic complex (in ter

[2018-01-12 23:03] Prabhat-IIT commented on #5013
@clarammdantas  are you working on it?

[2018-01-13 00:16] clarammdantas commented on #5013
Hi! Yep, I just had some trouble with it, but think I'm almost done.

[2018-01-13 00:21] clarammdantas commented on #5013
Are you starting now too @Prabhat-IIT ? If you want to we could work together on this one. I'm not sure if I'm doing it right and would appreciate some help :)

[2018-01-13 03:38] Prabhat-IIT commented on #5013
Sure :) How should we collaborate?

[2018-01-13 03:48] ishanSrt commented on #5041
@Makman2 assign this issue to me and tell me which of the above 3 solutions should I apply?

[2018-01-13 04:00] ishanSrt commented on #5013
@clarammdantas if you are unsure whether you are going in the right direction, you can still submit a PR and let the code reviews guide you through it. ✌️

[2018-01-13 10:54] ishanSrt commented on #5043
@Hynix07 still working on it?

[2018-01-13 10:55] ishanSrt commented on #5044
@Makman2 mark blocked by https://github.com/coala/coala/issues/5043

[2018-01-13 12:03] ishanSrt commented on #4852
Disregarding the case
[code]
based on :point_up: [January 9, 2018 10:29 PM](https://gitter.im/coala/coala?at=5a54f4e9ba39a53f1af5db7f)

[2018-01-13 12:05] ishanSrt commented on #4852
Also disregarding an additional case [January 9, 2018 10:20 PM](https://gitter.im/coala/coala?at=5a54f2d0ba39a53f1af5cf0d)

[2018-01-13 12:06] ishanSrt commented on #4852
will be solving https://github.com/coala/coala/issues/4852#issuecomment-356290982 in the PR for https://github.com/coala/coala/issues/4854

[2018-01-13 12:07] ishanSrt commented on #4852
So the PR for this issue will only target
[code]

[2018-01-13 13:37] ishanSrt opened #5074 "coala inferring only comma separated bears in ignore statements"
whereas it should do it for all thats specified in http://docs.coala.io/en/latest/Users/Tutorial.html#ignoring-code-inside-files like `and`
https://github.com/coala/coala/blob/b5d7973a73badda75ee362e2b3c25df3b0226db6/coalib/processes/Processing.py#L476

[2018-01-13 13:43] ishanSrt commented on #5074
I want to work on this 🤘

[2018-01-13 13:45] ishanSrt commented on #4852
will open different issue for the other cases probably difficulty/high

[2018-01-13 16:05] clarammdantas commented on #5013
@ishanSrt how do I test the ESLintBear after my modifications

[2018-01-13 16:08] ishanSrt commented on #5013
@clarammdantas if your installation was according to the developer's setup, then the changes you make in your local repository will be reflected in the coala command

[2018-01-13 16:08] ishanSrt commented on #5013
i.e. installation with the `-e` tag

[2018-01-13 16:22] ishanSrt opened #5076 "PyUnusedCodeBear ignoring two extra lines"
**status: blocked by https://github.com/coala/coala/issues/4854**

Steps to replicate:
take a perfect python file, and add this
[code]
[extra spaces after oss and sso]
use .coafile:
[code]
Everything will be as expected, the first line will be ignored while both the bears will show inconsistencies withs so line

Now replace `SpaceConsistencyBear` with `PyUnusedCodeBear` in both .coafile and python

[2018-01-13 16:36] ishanSrt commented on #5074
Sorry just checked https://docs.python.org/3/library/stdtypes.html & https://gitlab.com/coala/coala-utils/blob/master/coala_utils/string_processing/StringConverter.py . The strings will be treated as an iterable here. So that's `comma` and `space`.

[2018-01-13 16:36] ishanSrt commented on #5074
Sorry just checked https://docs.python.org/3/library/stdtypes.html & https://gitlab.com/coala/coala-utils/blob/master/coala_utils/string_processing/StringConverter.py . The strings will be treated as an iterable here. So that's comma and space.

[2018-01-13 16:36] #5074 closed

[2018-01-13 17:21] pareksha commented on #5076
@ishanSrt for me PyUnusedCodeBear is working fine
``
Downloads/new.py
[   2] import·os·as·oss
[   3] import·os·as·sso
**** PyUnusedCodeBear [Section: cli | Severity: NORMAL] ****
!    ! This file contains unused source code.
[----] /home/pareksha/Downloads/new.py
[++++] /home/pareksha/Downloads/new.py
[   2] import os as oss
[   3] import os as sso
[    ] *0. Do (N)othing
[    ]  1. (O)pen file
[

[2018-01-13 17:22] ishanSrt commented on #5076
thats why `status: blocked by <link>`

[2018-01-13 17:25] pareksha commented on #5076
Ohh sorry, missed that

[2018-01-13 20:55] Makman2 commented on #2745
Actually I can't see any difference there 😅

[2018-01-13 21:17] yugeshk commented on #2745
[Here](https://ibin.co/3o61yIbmBw6v.png) error was in line 16,17 so it shows which function/class they belong to and then the usual change.
[Previously](https://ibin.co/3o62YCisx7nR.png) it only did something like showing line 27 in this case.

[2018-01-13 21:20] yugeshk commented on #2745
Doing that only on the basis of indentation.. in cases when the code is pretty poorly indented it would be very bad.. also, I don't know showing how much context in the first go would be appropriate? Does there need to be previous and after context? and should that show in the changes part also?

[2018-01-14 03:48] Makman2 commented on #3011
I get a 404 on this link^^

[2018-01-14 03:52] ryanpcmcquen commented on #3011
@Makman2, sorry about that. I fixed it.

[2018-01-14 07:58] yagyanshbhatia commented on #5071
@khanchi97 i reinstalled coala from zero again today, and this command worked for me.
i installed in a venv, with root privilages, pip3 version is 9.0.1
please tell the exact error you are facing?

[2018-01-14 14:05] Makman2 commented on #2745
Ah okay...

Code should be always properly indented. But using indentation is definitely a reasonable approach and in 99% of cases yields proper results.

Usually I know from git that it just displays the code initiating scopes, in your case it displays a bit too much code imo.

[code]
I would just do
[code]
or at least (due to indentation)
[code]

Also It's a bit irritating that the result messag

[2018-01-14 14:06] Makman2 commented on #5043
Unassigning due to inactivity.

[2018-01-14 14:07] Makman2 commented on #3956
Nope

[2018-01-14 14:07] Makman2 commented on #3956
Unassigning due to inactivity.

[2018-01-14 14:10] Makman2 commented on #5041
Okay that is not so easy. Usually if we say "glob" we want to be compliant to globbing-standards. So this is dangerous and might confuse:

Regarding this one:

How do you want to change it?

[2018-01-14 14:13] Makman2 commented on #5041
So we implement our own simple glob-like matching that only has `*` as a feature, and everything else is full-text-matching.

[2018-01-14 14:24] Makman2 commented on #5071
We aren't releasing development-versions on every merge any more since we have disabled rultor, and we don't plan to do so right now. Please use git-syntax for pip if you like to install coala from master-branch:

[code]

[2018-01-14 14:24] #5071 closed

[2018-01-14 14:55] #4474 closed

[2018-01-14 16:08] Kagamihime commented on #3956
Hello !
I would like to work on this issue as a newcomer, please :)

[2018-01-14 17:03] ishanSrt commented on #5013
@clarammdantas regarding [January 14, 2018 6:30 AM](https://gitter.im/coala/coala?at=5a5aabb2290a1f4561865116)
were you able to replicate https://github.com/coala/coala/issues/4957 ?
if you were did you see that this PR https://github.com/coala/coala/pull/5017 fixes this (although not merged). So if `--apply-patches` when given as a cmd line argument now makes use of glob `**` instead of glob `*`.

[2018-01-14 17:06] Nickatak commented on #3956
Welp, looks like it's been re-claimed already. :P  Let me know if I can help. ^_^

[2018-01-14 17:07] ishanSrt commented on #5013
and if you really need to see what's in result.origin then just print it out! ✌️

[2018-01-14 17:17] yugeshk commented on #2745
[code]
In this case the _cout_ , _cin_ lines had the error hence they were printed too.

By

Do you mean those lines should also be left out in the context? I'm quite sure I'm interpreting it wrong.. :thinking:

[Shifted](https://ibin.co/3oBsAa9Csu6p.png) the error message to the top - although now, **! ! Inconsistency Found** is looking weird..

[2018-01-14 17:36] ishanSrt opened #5079 "Provide a warning message if coala ran on nothing i.e no files"
status: blocked by https://github.com/coala/coala/issues/4928

[2018-01-14 17:56] Nickatak commented on #3259
Hello, is this still being worked on/open? :o

[2018-01-14 18:15] ishanSrt opened #5080 "Provide users an escape method for coala ignore lines if they want to use 'ignore' or 'noqa' in the programs"
### status: blocked by: https://github.com/coala/coala/issues/4854 status: needs discussion on what should be the keywords for escaping
the users may use it as a param name or somewhere in the comments or while defining a string

[2018-01-14 22:17] ishanSrt opened #5083 "Ignoring code add extra functionality"
No support for the following kind of ignores:
[code]
and
[code]

[2018-01-14 22:22] Makman2 commented on #2745
You think? Imo it looks better :D

Ah okay, that makes sense, nvm then.

[2018-01-14 22:57] ishanSrt commented on #5041
@Makman2 wouldn't it be sufficient to replace all `*` with `**` whether only `*` or combination of `pattern` and `*` ?

[2018-01-15 02:57] ishanSrt commented on #5083
this is not a bug

[2018-01-15 05:33] yugeshk commented on #2745
I'll leave it like that then.. It was just that the two exclamation marks looked in alignment when they were printed with [       ] :sweat_smile:

So, before making a PR should I be running any more tests or some more functionality?

[2018-01-15 06:22] jackthepirate6 commented on #2683
@Projjol Are you working on it ? If not pls let me take the issue

[2018-01-15 06:38] Nickatak commented on #4056
Is this still being worked on? :o

[2018-01-15 12:58] yugeshk commented on #5083
Hi, I'd like to work on this.

[2018-01-15 13:09] ishanSrt commented on #5083
@yugeshk be ready to face some merge conflicts or wait for https://github.com/coala/coala/issues/4854 and https://github.com/coala/coala/issues/4852 to be solved ✌️

[2018-01-15 13:24] ishanSrt commented on #4852
The PR for https://github.com/coala/coala/issues/4854 solves https://github.com/coala/coala/issues/4852#issuecomment-357430071

[2018-01-15 14:29] amisha2016 commented on #3901
I want to work on this issue. Would anyone assign me?

[2018-01-15 14:56] Makman2 commented on #5041
:+1:

[2018-01-15 15:10] Makman2 commented on #3901
Unassigning due to inactivity.

[2018-01-15 15:19] Makman2 commented on #2745
No don't think so, just kick off the PR ;)

[2018-01-15 15:21] Makman2 commented on #2683
Unassigning due to inactivity.

[2018-01-15 15:22] nvzard commented on #4478
I'd like to work on this issue please :)

[2018-01-15 17:04] aman9875 commented on #3306
I would like to take up this issue, if no one is working on it.

[2018-01-15 17:16] Kagamihime opened #5085 "Review.rst: rephrase a sentence"
It would be nice to use `their` instead of `his` when refering to `someone` in the sentence
`Reviewing always involves saying someone that his code isn't right, be very careful not to appear rude even if you don't mean it!` to be more inclusive.

The page in question: http://api.coala.io/en/latest/Developers/Review.html
The file in question: `Review.rst`, at line 33.

[2018-01-15 17:54] lollichop commented on #5085
I'd be glad to take this up.

[2018-01-15 18:22] Makman2 commented on #3306
Unassigning due to inactivity.

[2018-01-15 18:25] #5056 closed

[2018-01-15 18:47] Makman2 commented on #5083
But still not too bad attached by gitmate-bot, it could've been some side-effect of an improper implementation :+1: (just wanted to note that :P)

[2018-01-15 18:48] Makman2 commented on #4056
Unassigning due to inactivity.

[2018-01-15 18:52] Makman2 commented on #5080
Don't we ignore those keywords already, if `ignore` or `noqa` would be used as e.g. variable names?

[2018-01-15 19:02] #4847 closed

[2018-01-15 19:02] Makman2 commented on #3259
Unassigning due to inactivity.

[2018-01-15 19:06] Makman2 commented on #5048
I can install coala on a fresh docker image without problems. I highly guess that it's a problem in your environment / how you followed the steps ;)

[2018-01-15 19:06] #5048 closed

[2018-01-15 19:09] Makman2 commented on #5042
This definitely looks like a newcomer issue :O

[2018-01-15 19:11] ishanSrt commented on #5042
@Makman2 what's the cli arg for ShowPatchAction ?

[2018-01-15 19:12] Makman2 commented on #5025
Please accept the invite via mail @shikhar-scs and then I'm going to assign you. You were first for this issue.

[2018-01-15 19:12] Makman2 commented on #5040
Question is now what coala can do^^ Actually I would consider this a bug in the theme that there's a font color matching the background color^^

[2018-01-15 19:14] Makman2 commented on #5037
Haven't we agreed on this:
[code]
That someone has to specify the order like this?

[2018-01-15 19:28] shikhar-scs commented on #5025
Accepted :smile:

[2018-01-15 21:03] #4973 closed

[2018-01-15 21:25] khanchi97 commented on #5037
yeah, we agreed.But what if in `.coafile` there are many sections then user would like to use this feature `--run-after` rather than passing all those sections through cli.

[2018-01-16 09:22] yugeshk commented on #5083
@ishanSrt That's fine. I'll start working and keep following #4854 and #4852 :smile:

[2018-01-16 12:18] Kagamihime opened #5087 "Newcomers_Guide.rst: typo error"
There's a typo: `to to` should be `to` in the file Newcomers_Guide.rst at line 400.

[2018-01-16 12:20] lollichop commented on #5087
Please assign me this issue.

[2018-01-16 17:03] mrsaicharan1 commented on #5087
I would like to take this issue up.

[2018-01-16 17:17] Makman2 commented on #5087
Sorry @mrsaicharan1, @lollichop was first :+1:

[2018-01-16 17:20] #5043 closed

[2018-01-16 18:05] ishanSrt commented on #5080
yeah that needed to be changed on the concerned issue because it was creating other problems like Ignore not working without a trailing space, but I found a workaround. don't think will need this issue but still, will crosscheck and tell.

[2018-01-16 18:42] Makman2 commented on #5037
I'm not sure if there's such a use-case. Could we discuss that on a different issue? It's in fact a new feature.

[2018-01-17 08:50] mrsaicharan1 commented on #5042
I'm a newcomer to coala. Can I take this issue up??

[2018-01-17 08:51] ishanSrt commented on #5042
request this on gitter

[2018-01-17 08:52] ishanSrt commented on #5042
never mind

it doesn't exist and is neither needed

[2018-01-17 08:53] mrsaicharan1 commented on #5042
Should I do it with corobo or do I request an admin?

[2018-01-17 08:53] ishanSrt commented on #5042
request admin. corobo not fully functional 👍

[2018-01-17 08:53] mrsaicharan1 commented on #5042
Alright 👍

[2018-01-17 15:21] scheswickfit commented on #5062
@Makman2 Since this issue has been unfinished for 7 days would it be possible for me take this up instead?

[2018-01-17 17:01] khanchi97 commented on #5037
No problem :)

     `coala a b c d`
     `coala d b c a`

We have already opened https://github.com/coala/coala/issues/5038
and I've made a PR too https://github.com/coala/coala/pull/5068 ;)

[2018-01-17 17:17] Makman2 commented on #5062
Unassigning due to inactivity.

[2018-01-17 17:44] Makman2 commented on #5037
Ah perfect, I already wondered about having read something similar 😅

[2018-01-17 17:45] Makman2 commented on #5037
Okay I'm not sure if this complicates our CLI. If the ordering of bigger coafiles needs to be altered, it usually should be done in the coafile itself.

[2018-01-17 17:46] #3956 closed

[2018-01-18 13:16] K-jogiah commented on #5062
I Was Asking To Take This Up

[2018-01-18 13:44] K-jogiah commented on #4929
Its My First Time To Contribute To Coala. But I Feel I Should Be Given Afirst Chance To Work On This Project

[2018-01-18 15:30] nvzard commented on #4478
`LogPrinterMixin` is only inherited by `class Bear(Printer, LogPrinterMixin, metaclass=bearclass):` . So when I remove the `LogPrinterMixin`, do you want me to create custom methods like `info, warn, error, etc` inside `Bear` class using `logging`?

[2018-01-18 15:31] mrsaicharan1 commented on #5042
Can you please help me out as to where the docs must be edited?

[2018-01-18 16:26] ishanSrt commented on #5042
find an appropriate place, probably some page where some other settings of coala are mentioned

[2018-01-18 18:54] #4957 closed

[2018-01-18 20:38] K-jogiah commented on #4927
iam new but i would like to take this up

[2018-01-19 18:50] duskybomb opened #5097 "Error 4 while installing coala-bears"
I have python version 3.5.2, I wrote the following in terminal
[code]
I got an error:

[2018-01-20 09:51] Uditgulati commented on #5062
I would like to work on this issue.

[2018-01-20 10:26] ishanSrt commented on #5042
@Makman2 earlier I though that you must be able to provide ShowPatchAction to command line and its missing in the coala settings page but since you mentioned that there is nothing like `--apply-patches` for this, rather unsure where to add it. The only way a user gets to know about it is by looking at the docs for api

[2018-01-20 14:20] amisha2016 commented on #4816
I would like to work on this issue.

[2018-01-20 20:48] Makman2 commented on #5042
Migrated to https://github.com/coala/documentation/issues/518

[2018-01-20 20:48] #5042 closed

[2018-01-21 06:40] ishanSrt commented on #5079
would like to be assigned to this

[2018-01-21 09:47] Dragneel7 commented on #5097
@duskybomb I tried the same but was not able to reproduce this error. My python3 version is 3.5.4.

[2018-01-21 09:52] ishanSrt commented on #5080
Yes, its working fine 😛

[2018-01-21 09:52] #5080 closed

[2018-01-21 09:57] ishanSrt commented on #5040
@Makman2 this is taking place on 90% of the dark themes and I change my theme almost every other day, it would be really convenient if the output type of those lines are changed to some other type
<img width="728" alt="screen shot 2018-01-21 at 3 25 01 pm" src="https://user-images.githubusercontent.com/29859362/35192840-794001c0-febf-11e7-8272-641d8ad0582e.png">

[2018-01-21 10:47] ishanSrt commented on #5037
support will have to be added if a user uses both cases i.e. `--run-after ` and then orders the sections accordingly too

[2018-01-21 11:23] ishanSrt commented on #4999
@Makman2 I see bears like `PythonPackageInitBear` resolving directories from files with:
[code]
although I don't see `GitCommitBear` doing such a thing
Also while having a look at other global bears, I am not able to run `DuplicateFileBear`
when I run it like this: `coala --bears=DuplicateFileBear --files=test.py -I`
It shows me
[code]
and the debug message shows me
[code]

[2018-01-21 14:18] Makman2 commented on #4999
Problem is there might be directories without files, this is where this approach fails:

Also one has to note that you can't commit directories inside git. Maybe we want to follow this "convention", in our case it means that our linting results only depend on *files*, not directories.

[2018-01-21 14:25] Makman2 commented on #5037
Makes it even more complex... I'm not really in for this feature.

@sils @jayvdb opinions?

[2018-01-21 14:27] Makman2 commented on #5040
So some color scheme support from our side?

[2018-01-21 14:53] #5061 closed

[2018-01-21 15:12] #5013 closed

[2018-01-21 15:37] #5087 closed

[2018-01-21 16:03] Makman2 opened #5101 "bear native tutorial: update to new logging"
Migrated here from https://github.com/coala/documentation/issues/435

[2018-01-21 16:50] ishanSrt commented on #4999
hmmm.. need some time to ponder on that.
BTW why is DuplicateFileBear behaving that way?

[2018-01-21 18:24] duskybomb commented on #5097
@Dragneel7 use this ``` python3.5 -m pip install coala-bears ```

[2018-01-21 21:34] Makman2 commented on #4999
Don't know, but that's a different issue. Please file one :+1:

[2018-01-21 21:48] Makman2 commented on #5097
Tested on a fedora docker image with Python 3.5.2, and can't reproduce.

[2018-01-21 21:49] Makman2 commented on #5097
@duskybomb Did you have the correct rights during installation?

[2018-01-21 21:53] Makman2 commented on #4478
We have to deprecate them at least... but maybe different issue.

However, the new core has no LogPrinterThread, maybe we save us the effort?

[2018-01-21 21:54] Makman2 commented on #4929
Please accept the invitation @K-jogiah. Also please don't write every word's first letter upper-case, that kinda reads bad^^

[2018-01-21 21:55] Makman2 commented on #4929
Unassigned due to inactivity.

[2018-01-22 00:28] #5025 closed

[2018-01-22 05:02] Uditgulati commented on #5062
Can anyone guide me about which files I need to edit to fix this issue. Actually, I'm new to coala and don't know much.

[2018-01-22 05:05] jackthepirate6 commented on #2194
I Will work on this issue

[2018-01-22 06:18] Prabhat-IIT commented on #5062
Checkout landing-frontend repo of Coala :)

[2018-01-22 13:42] EverWinter23 commented on #3903
I would like to express my desire to work on this issue.

[2018-01-22 16:25] Makman2 commented on #4816
Reassigned due to inactivity.

[2018-01-22 16:27] Makman2 commented on #5062
The user-guide needs modifications in the `documentation` repo, but the mentioned developer-guide is here. Please use `git grep` to find the file.

[2018-01-22 19:56] Uditgulati commented on #5062
https://github.com/coala/documentation/pull/520

[2018-01-23 03:19] priyanshsaxena commented on #4962
Please assign this issue to me.

[2018-01-23 03:20] priyanshsaxena commented on #4929
Please assign this issue to me.

[2018-01-23 13:42] ishanSrt opened #5104 "Bear Results not displayed in correct order"
Problem: https://github.com/coala/coala-bears/pull/2244#issuecomment-358883893
Possible Solution: https://github.com/coala/coala-bears/pull/2244#issuecomment-359450548

@Makman2 what should be done in the case mentioned when some bear doesn't give value to `line` of `SourceRange`. We would need something else to order the results. Maybe an additional parameter to the `Result` object which has inte

[2018-01-23 13:42] ishanSrt commented on #5104
I would like to be assigned to this

[2018-01-23 13:59] ishanSrt commented on #5097
@duskybomb I remember the gitter conversation we had. This was all due to your `pip3` using the wrong version of python. Maybe you didn't read my last comment https://gitter.im/coala/coala?at=5a62fe0b9cdc721e4fa57c99
I also gave a solution 😉
@Makman2 you can close this issue as this is not related to coala 👍

[2018-01-23 14:00] Vedarth commented on #4894
I would like to work on this issue. Kindly assign me to this issue.

[2018-01-23 14:01] Vedarth commented on #4886
I would like to work on this issue. Kindly assign it to me. 😄

[2018-01-23 14:04] duskybomb commented on #5097
@ishanSrt but my pip3 is pointing to the correct directory.

[2018-01-23 14:06] ishanSrt commented on #5097
What does `which pip3` return?

[2018-01-23 14:10] ishanSrt commented on #5097
@duskybomb I don't think that's possible, otherwise the command I gave `python3.5 -m pip install coala-bears` would have never solved it. That ensures that you use the correct `pip` corresponding to the `python3.5.2` you have installed

[2018-01-23 14:28] lilithxxx commented on #4017
I am new to open source contributions.Please assign this issue to me

[2018-01-24 08:59] Uditgulati commented on #5062
@Makman2  can you pls have a look at the PRs.

[2018-01-24 10:45] Shubham189 commented on #4929
I want to work on this issue. can you assign me?
@Makman2

[2018-01-24 10:51] newbazz commented on #4929
@Shubham189 you are not a member of this org, write "hello world" in the gitter chat ;) https://gitter.im/coala/coala

[2018-01-24 10:52] newbazz commented on #4929
@priyanshsaxena neither are you ;P

[2018-01-24 15:10] Makman2 commented on #5097
If the command given by @ishanSrt has solved it, the issue can be closed. This indeed looks like an environmental problem not caused by us (esp. because I was able to install coala-bears on a freshly run docker image).

[2018-01-24 15:10] #5097 closed

[2018-01-24 15:57] Makman2 commented on #5104
`SourceRange` and similar do implement the comparison operators, also handling `None` values.

I think we just have to change the `generate_ordering` decorator in `Result`, positioning the `id` as last element there. Then the ordering should be fixed.

[2018-01-24 16:26] bansalnitish commented on #3259
May I work on this if this is still open?  Also no one is assigned this issue currently !

[2018-01-24 16:59] priyanshsaxena commented on #4929
@newbazz updated.

[2018-01-24 17:16] kriti21 opened #5107 "Add support for writing ignore comment in Jinja2"

[2018-01-24 17:31] ishanSrt commented on #5107
@kriti21 can you give some steps to replicate this issue?

[2018-01-24 17:33] newbazz commented on #4929
@priyanshsaxena ??

[2018-01-24 17:41] kriti21 commented on #5107
@ishanSrt Just run Jinja2Bear on any jinja2 file. When coala is asked to write a comment choosing the option, it says Jinja2 is not supported yet.

[2018-01-24 17:52] jackthepirate6 opened #5108 ".editorconfig: Typo Error"
There's a typo: fies should be files at line no 15 in the file coala/.editorconfig

[2018-01-24 18:02] Kagamihime opened #5109 "Writing native bears tutorial: use the `format` string method in an example"
In the first example code of the tutorial "Guide to Writing a Native Bear" (in the section "A Hello World Bear"), the call to `debug` should be passed one argument: a string that would be formatted using the methode `format`.

[2018-01-24 18:50] EverWinter23 commented on #5108
Would like to work on it.

[2018-01-24 19:51] Shubham189 commented on #4929
I am now a member of this org :D

[2018-01-24 20:06] monsij commented on #5108
Hello There! I'm ready to work on this issue.Kindly assign it to me.
Thanks in Advance!

[2018-01-25 04:24] vaib10sai commented on #5107
I want to work on this issue. Can I get this assigned?

[2018-01-25 04:28] vaib10sai commented on #4800
I want to work on this, can I get this assigned?

[2018-01-25 09:09] newbazz commented on #4929
@Makman2 many wants this issue to be assigned to them ;)

[2018-01-25 09:09] priyanshsaxena commented on #4929
Joined the organisation.

[2018-01-25 09:11] newbazz commented on #4929
@priyanshsaxena you will soon be assigned.

[2018-01-25 16:44] Makman2 commented on #4929
@priyanshsaxena was first.

[2018-01-25 18:00] Makman2 commented on #5044
Oh I'm just thinking: The parser allows to continue values on next lines without specifying escape characters. This is probably why it points out that the error lies in the previous lines, because this is where the setting-assignment effectively begins, and it thinks those new malformed setting-syntaxes belong to the value.

[2018-01-25 18:25] priyanshsaxena commented on #5107
@Makman2 please assign this issue to me.

[2018-01-25 19:44] lilithxxx commented on #4017
I made a PR -> https://github.com/coala/documentation/pull/522.

Please review it

[2018-01-25 19:51] #5101 closed

[2018-01-25 20:56] pmathur5k10 commented on #5109
Hi !! I am new to Coala and open source in general and I would like to take up this issue. Thanks !!

[2018-01-25 21:11] pmathur5k10 commented on #5109
@Kagamihime  If I am correct, debug call is the one in the hello world example in the line starting with logging.debug("Hello World! Checking file", filename, ".")

[2018-01-25 21:18] Kagamihime commented on #5109
Yes, exactly

[2018-01-26 03:31] ishanSrt commented on #5044
Yes exactly! That's what I could make out from https://github.com/coala/coala/issues/5044#issue-286363165
Btw how does the parser know that a line is complete?

[2018-01-26 03:32] ishanSrt commented on #5044
@Makman2 even in case of valid lines

[2018-01-26 07:55] pmathur5k10 commented on #5109
Please assign me this issue as I would like to work on it. Thanks !!

[2018-01-26 13:27] vaib10sai commented on #5109
I want to work on this issue, can I get this assigned? :)

[2018-01-26 16:49] Makman2 commented on #5044
I guess it tries to match a pattern that indicates a new value (roughly `.*=.*`). If it does not match, it assumes the next line to be a value for the last setting parsed.

[2018-01-26 16:56] Makman2 commented on #5044
I'm really not sure what to do now. An escape character would be probably nicest for multi-line values, but breaks coafiles quite badly...

Oh but just thinking: What about noting in case of errors, where the relevant lines are? For our case, it would display `lines 1-2`. Then people probably grasp the cause earlier.

[2018-01-26 17:14] Makman2 commented on #5107
@vaib10sai was first ;)

[2018-01-26 17:44] khanchi97 commented on #2535
@Mixih If I am implementing the method in which we can overwrite `find_config` value using
`--find-config False` then how I can do something like this as you suggested:

[code]

Won't it throw a error for `--find-config` option:
`coala: error: argument -F/--find-config: expected one argument`

[2018-01-27 13:07] firesans commented on #5109
hey, I would like to work on this issue.

[2018-01-27 16:32] Makman2 commented on #5109
@pmathur5k10 I've sent you an org invite, please accept, then you can be assigned.

[2018-01-27 19:19] #5085 closed

[2018-01-27 19:21] khanchi97 opened #5115 "Throw error for conflicting cli args: `config` and `no_config`"
coala should throw error if we are using both cli options( -c and -I ) at same time, as these options are conflicting to each other.
`coala -c .confile --no-config`
or
`coala -c .confile -I`

[2018-01-27 22:20] #5003 closed

[2018-01-28 01:33] userzimmermann commented on #4886
@Vedarth Thanks for your interested! But please take a look @ https://github.com/coala/coala/pull/4930#pullrequestreview-90337947 before starting work on this

cc @Makman2

[2018-01-28 07:14] kriti21 commented on #3704
Is this issue available? I would like to work on it.

[2018-01-28 15:45] Makman2 commented on #3704
@kriti21 please check-up @yash-nisar's comment :+1:

[2018-01-28 17:41] pmathur5k10 commented on #5109
@Makman2  I have accepted the invite. Thank You

[2018-01-28 18:50] kriti21 commented on #3704
Let me break the task needed here and my queries also. Please provide your guidance @arvind-iyer @yash-nisar @Makman2
1) The newcomer guide is still contained in a single page. Should I make it a multi page document even though the links are present to jump to the required section?
2) Please suggest the color scheme that should be followed to differentiate Notes and See Also blocks.
3) For notes,

[2018-01-28 20:00] Makman2 commented on #3704
In that case imo we can keep it in a single document.

What about something like:
- Very important -> red
- Normally important / caution / warning -> yellow
- Note and See Also -> Blue (like it is now I believe)

"general-help" should be called "note" ;) But not that I can at least think of, please introduce as many as necessary / making sense :)

[2018-01-28 20:40] #4868 closed

[2018-01-29 21:53] hackerkid commented on #3717
I also encountered this issue while trying to enable codecov in CircleCI. How I got it fixed was by activating the virtualenv before running codecov. I am not at all sure that is the case here but just wanted to let you folks know in case it may help. Cheers :smile:

[2018-01-30 03:56] ishanSrt commented on #4999
@Makman2  I want to work on this

[2018-01-30 08:17] newbazz commented on #4999
@Makman2 me too, if multiple assignes are possible ;)

[2018-01-30 13:16] ishanSrt commented on #4999
@Makman2 would be great if you assign the issue to both of us.

[2018-01-30 13:29] arpitsimt commented on #4972
i want to take it . please assign and elaborate the issue

[2018-01-30 14:57] Makman2 commented on #4972
Unassigned due to inactivity.

[2018-01-30 15:01] Makman2 commented on #4999
Alright, please coordinate. Also please lookup the `coalib.core` module, and its relevant cEP https://github.com/coala/cEPs/blob/master/cEP-0002.md

[2018-01-30 15:23] Makman2 commented on #3717
Problem is we don't use virtualenv in our CI 😅 but thanks for the tip :+1:

[2018-01-30 15:25] Makman2 commented on #4019
I guess @aashraybhandar1 is busy somewhere else ;) Unassigning due to inactivity.

[2018-01-30 16:13] ishanSrt commented on #5044
@Makman2 didn't get what you meant by this:

[2018-01-30 16:20] ishanSrt commented on #5044
I get if the line doesn't match `.*=.*`, it assumes the current line to be a part of the the previous line's setting. Can't see how to point out the correct error message in cases like these. My PR works for only a particular case but there can be so many cases when the current line won't be a valid setting for the previous line.

[2018-01-30 16:20] Makman2 commented on #5044
For example
[code]
So we additionally display in error message this `.coafile lines 1-3` message that allows the user to find the relevant location :)

[2018-01-30 16:24] ishanSrt commented on #5044
@Makman2 OK so I will implement exactly that.

[2018-01-30 17:28] tusharGOEL1 commented on #4972
Hey @Makman2 i would like to solve this issue, help me get started

[2018-01-30 19:09] hackerkid commented on #3717
Cool. In my case the `Coverage.py warning: Could not parse Python file blah blah` warning was not all helpful for me to debug the error. So I tried the [codecov uploader written in bash](https://github.com/codecov/codecov-bash) instead of the pip package. That helped me a lot to debug the issue as I got a completely different error while running the bash uploader instead of the pip package(the err

[2018-01-30 22:07] khanchi97 commented on #4972
Hello @tusharGOEL1 read 👆 [comment](https://github.com/coala/coala/issues/4972#issue-282005038) and you will get to know what is need to be done ;)

[2018-01-31 16:57] kriti21 commented on #2332
Please assign this issue to me.

[2018-01-31 18:14] anctartica commented on #2290
please assign this to me

[2018-01-31 18:27] richa208 opened #5123 "RELEASE_NOTES.rst : Typo Error"
Spelling mistakes like 'availibility', 'ben', 'modifyable', 'seperation', 'libary' along with some grammatical errors are present in file coala/RELEASE_NOTES.rst

[2018-01-31 18:27] richa208 commented on #5123
i would like to work on this

[2018-02-01 12:21] newbazz commented on #5123
@richa208 you are not assigned neither are you a part of this org.
@Makman2.

[2018-02-02 07:51] yash-nisar opened #5126 "Missing parameter `check_order` in docstring"
There is a missing parameter `check_order` in the docstring of the `check_results` method.

[2018-02-02 13:24] richa208 commented on #5123
@Makman2 I have not got any invitation mail for joining.. Can you please see into it so that i can contribute further.. Thanks

[2018-02-02 15:51] nvzard commented on #4888
If no one is working on this issue, I'd like to work on it :)

[2018-02-02 15:57] nvzard commented on #4400
@Makman2 I'd like to work on this issue :)

[2018-02-02 15:58] nvzard commented on #4452
I'd like to write this cool script :P

[2018-02-02 22:57] GabrielDS opened #5127 "Refactoring the Class SpacingHelper.py"
Hi everyone, I was looking for class by class to start contributing to this community and I saw this part of the class "SpacingHelper.py". I was thinking of replacing them using the commands `spaces.count (" ")` and `tabs.count (" \ t ")`
What do u think, guys?!

https://github.com/coala/coala/blob/1d9eb29c179359bdccb050e39fec14aed2ec2073/coalib/bearlib/spacing/SpacingHelper.py#L29-L40

[2018-02-03 10:30] ishanSrt commented on #2456
Why? i think we even need to reload the file contents upon display of each result, since if the user is correcting the errors in the file ahead of the current result, coala still shows the errors in those lines.

[2018-02-03 14:15] Makman2 commented on #2456
@ishanSrt we already have issues discussing re-analysis behaviour for such scenarios where the user has changed the file during analysis (can't find them atm). Currently imo it's not feasible, the user shall not do modifications while coala is running (otherwise they might be discarded). Consider you have global bears running which take super long, a change to a file retriggers the complete analys

[2018-02-03 14:27] ishanSrt commented on #2456
But we ourselves, provide the option to open file in text editor.

[2018-02-03 14:30] Makman2 commented on #5127
If we can remove redundancy that would be awesome. But it would be good if we also not impact performance too much, the `SpacingHelper` is quite in use.

Since this request is quite code related, but could you maybe draft a prototype here if you have time? @GabrielDS  😄

[2018-02-03 14:40] Makman2 commented on #2456
Good catch... Have you checked how it works? Not that we actually open a temporary copy of the file and perform some diff-magic so it works together with coala?

[2018-02-03 15:56] richa208 commented on #5123
Can I be assigned this issue?

[2018-02-03 20:17] GabrielDS commented on #5127
I did some tests with `.count()` and i can't apply to this class because the `.count()` counts every space / tabs on a string (not just at the beggining).

BUT !! I did too some searches in articles and on the offical repository of cpython and found the commands `.lstrip()` and `.expandtabs()`.

The `rstrip() `does the samething that `strip()` but instead of taking of, for example, all the spaces

[2018-02-03 20:28] GabrielDS commented on #5127
I did some tests times here and the result was:
### For Loop:

### ExpandTabs:

I used the expandtabs on this, too:
https://github.com/coala/coala/blob/1d9eb29c179359bdccb050e39fec14aed2ec2073/coalib/bearlib/spacing/SpacingHelper.py#L43-L57

With the same tests, the result was:
### For Loop

### ExpandTabs

OBS: The tests passed in both cases on pytest.

[2018-02-04 09:45] pareksha opened #5129 "Problem with ``# ignore all``"
See
[code]
QuotesBear is showing error only on ``"third line\n"`` and not ``"one more line\n"`` when ``preferred_quotation = ' ``

Similarly, in the file below
[code]
``PycodestyleBear`` is showing an error only on the third ``print( 'Hey' )`` and not on the above two.

``# ignore all`` must ignore only the respective line, not the line below it!
Also refer https://github.com/coala/coala-bears/iss

[2018-02-04 09:56] pareksha commented on #5126
Please assign me this issue. I would like to work on this.

[2018-02-04 15:14] somnathrakshit commented on #5079
@Makman2 Could you please invite me to the org and assign me this issue?

[2018-02-05 04:09] jackthepirate6 commented on #2617
I would like to take this up.

[2018-02-05 09:50] newbazz opened #5131 "LocalBearTestHelper correct the docstring indentation"

[2018-02-05 12:51] ishanSrt commented on #2456
wow! you really know each and every nook and corner of this project!

[2018-02-05 14:30] jackthepirate6 opened #5132 "FunctionMetadata.py: Typo Error"
There's a typo: deprecared should be deprecated at line no 38 in the file
coala/coalib/settings/FunctionMetadata.py

[2018-02-05 16:29] Makman2 commented on #2617
Reassigned due to inactivity.

[2018-02-05 20:30] Sayak9495 commented on #5132
I'm new to coala. I can fix the typo. It would be great if I'm assigned to this issue.

[2018-02-05 23:17] pushkalkatara commented on #5131
Hi @newbazz, I would like to work on the issue, Can you please elaborate.

[2018-02-06 04:25] sachinmukherjee commented on #5132
I can fix this error. This will be my first open source contribution if I 'm assigned to fix.

[2018-02-06 06:31] newbazz commented on #5131
hi @pushkalkatara you arent a member of the community yet, type `Hello World` in the gitter channel.
https://gitter.im/coala/coala

[2018-02-06 08:17] pushkalkatara commented on #5131
@newbazz I did type Hello World on the gitter channel, but didn't receive community invite.

[2018-02-06 08:20] newbazz commented on #5131
@pushkalkatara you will be sent by @Makman2 till then strt working on it.

[2018-02-06 12:33] anctartica commented on #4886
@Vedarth are you still working on this?

[2018-02-06 13:31] Vedarth commented on #4886
@anctartica Yes I am.

[2018-02-06 15:30] GabrielDS commented on #5127
@Makman2
I'd like to work on this :D

[2018-02-06 16:37] arpitsimt commented on #5132
i can also fix,this will also be my first contribution .please assign to me

[2018-02-06 17:21] aashraybhandar1 commented on #4019
@Makman2  Really sorry had some family troubles couldn't find the time in the past month ... @joaomcarvalho if you need any help I would be glad to try to assist

[2018-02-06 22:00] Makman2 commented on #4350
I wrapped my head now a week literally in total to think everything through (so 7 * 24 hours), especially in context with hashing.

To clarify again: What is the duty of the cache? The cache shall check if we have executed a bear already, more precisely a single task. In case the task has been executed before, cached `Result`s are retrieved immediately, and `analyze` won't be run again.

We can as

[2018-02-06 22:08] Makman2 commented on #4529
I changed my mind, fast failing is always better. A bit complicated though due to multiprocessing ;)

[2018-02-06 22:09] Makman2 commented on #4613
I guess this is blocked by https://github.com/coala/coala/issues/4529. Once fast-fail is supported, we can reliably throw anything we like, and replace the `logging.warning`s with `RuntimeError`s 👍

[2018-02-06 22:10] Makman2 commented on #4510
Probably solved by https://github.com/coala/coala/issues/4529. But a test should ensue that this specific problem doesn't occur.

[2018-02-06 23:15] Makman2 commented on #4350
One problem I see just now: `pickle` might not preserve data-order for `set`, `dict` and so on, so cache entries might become invalid just because objects are stored slightly different in the next Python execution. For such cases we have to patch the pickling-functions to produce always the same data-order.

Some problems:
1. How can this be reliably tested (that data-order is reliably preserved)?

[2018-02-07 05:42] pavankrishna13 commented on #5132
Can I work on this issue?

[2018-02-07 09:55] Makman2 commented on #5127
`expandtabs` also expands tabs in the middle of the string (between words). I guess this isn't desired by our API^^

[2018-02-07 10:22] Makman2 commented on #4350
I thought about abstracting away the calculation of our persistent cache hashes away into an own function. The function is responsible for generating hashes that our bear can reliably use. It's just a shame that depending on an object's nature, a user has maybe to modify the behaviour, Python can't do everything automatically here. Following behaviours shall the function respect:

1. By default: U

[2018-02-07 11:49] sreejithsankar55 commented on #5108
I am a newcomer can I work on this issue

[2018-02-07 13:40] newbazz commented on #5108
@sreejithsankar55 theres already a PR for this issue. lookout for another newcomers issue.

[2018-02-07 14:14] Vedarth commented on #4886
@userzimmermann Thanks for your advice. It was really helpful. In https://github.com/coala/coala/pull/4930#pullrequestreview-90337947 you were against using `LineCountTestBear`. Apparently all we need to check is only
[code]
should get printed. So should I use some other testbear or just by checking the `stdout`?

[2018-02-07 19:13] Makman2 opened #5136 "Cache control"
Once the NextGen-Core is implemented, we have way more possibilities for different cache operating modes that shall be available as CLI arguments in coala.

- `--cache-strategy` / `--cache-protocol`:
  Controls how coala manages caches for the next run.

  Following modes could be implemented:
  - `none`: Don't use a cache at all. A shortcut-flag could be additionally implemented, `--no-cache`, ef

[2018-02-07 19:13] Makman2 commented on #5136
Blocked by
- https://github.com/coala/coala/issues/4350
- https://github.com/coala/coala/issues/4348

[2018-02-07 20:38] newbazz opened #5137 "LocalBearTestHelper: Change the docstring indentation"
difficulty/newcomer

[2018-02-07 21:30] Makman2 commented on #4348
Still blocked by all other feature-issues that allow to maintain compatibility with the old core.

[2018-02-07 21:36] Makman2 commented on #4348
Important for closing this issue: Writing extensive tests testing out all main features of the new core relevant for coala-users by invoking coala itself, especially for caching (different bear types, different file scenarios).

[2018-02-08 05:12] flaredragon commented on #5137
Can I take up this issue?
Could someone please assign me this

[2018-02-08 05:13] newbazz commented on #5137
@flaredragon yes you can, start working on this issue and you will be assigned asap.

[2018-02-08 05:31] flaredragon commented on #5137
@newbazz Sir,I was unable to find any docstrings in LocalBearTest.py in tests/bears folder could you guide me where exactly the changes have to be done?

[2018-02-08 05:33] newbazz commented on #5137
ohh my bad.

[2018-02-08 05:34] newbazz commented on #5137
now check

[2018-02-08 05:36] flaredragon commented on #5137
sir even that file doesn't have any docstrings

[2018-02-08 05:39] newbazz commented on #5137
https://github.com/coala/coala/blob/master/coalib/testing/LocalBearTestHelper.py
it does check carefully. ;)

[2018-02-08 08:54] anctartica commented on #4494
please assign this to me @Makman2

[2018-02-08 10:08] Vedarth commented on #4894
The link points to just writing `man/man1` in data files. Is that enough or something more needs to be done?

[2018-02-08 11:33] anctartica commented on #4102
i would like to work on this feature

[2018-02-08 12:09] Vedarth commented on #4850
I would like to work on this issue.

[2018-02-08 12:55] Vedarth commented on #4799
I would like to work on this issue. Kindly assign me.

[2018-02-08 12:58] Vedarth commented on #4292
I would like work on this issue. Kindly assign it to me.

[2018-02-08 13:57] eeshan9815 commented on #4972
I'd like to be assigned to this issue if no one is actively working on it.

[2018-02-08 14:05] arpitsimt commented on #4972
i want to work on it

[2018-02-08 14:44] Ananthavijay commented on #5132
This PR:https://github.com/coala/coala/pull/5142
fixes the issue.

[2018-02-08 14:59] Anonymous26 commented on #4972
i would like to work on this issue.

[2018-02-08 19:48] #4901 closed

[2018-02-08 21:07] Makman2 commented on #4494
Reassigned due to inactivity.

[2018-02-08 21:19] Makman2 commented on #5079
@somnathrakshit This issue is currently blocked as it requires another issue to be solved :) @ishanSrt Is responsible for that issue, and because of this I assigned him here too because he knows exactly what to do.

I hope you don't mind when I keep him assigned, feel free to start with another newcomer issue ;)
(Sorry btw for commenting so late, I'm on vacation :smile:)

[2018-02-08 21:22] Makman2 commented on #4972
@Anonymous26 please don't start working on issues without assignment. Especially you weren't the first one commenting here.

@eeshan9815 You've already commented on another newcomer issue iirc, so I hope you don't mind if I assign @arpitsimt :)

@arpitsimt Invitation is out, please accept.

[2018-02-08 21:23] Makman2 commented on #4850
@Vedarth I think you've enough issues assigned right now, please solve them first ;)

[2018-02-08 21:24] Makman2 commented on #4102
Reassigned due to inactivity.

[2018-02-08 21:24] Makman2 commented on #4019
No worries @aashraybhandar1 ;)

[2018-02-09 00:42] arpitsimt commented on #4972
I am ready. I didn't get any invitation !

[2018-02-09 03:44] Vedarth commented on #4850
@Makman2 I am on it. :)

[2018-02-09 05:45] somnathrakshit commented on #5131
Can I get assigned to this issue?

[2018-02-09 07:28] ouromoros commented on #5132
I would like to fix this issue, can I be assigned?

[2018-02-09 14:53] Vedarth commented on #4292
Just to be clear what we want to do is add docstrings to `__init.py__` of each coalib subpackage. But how should we use the in newcomer's guide?
My guess is explain each subpackage of coalib.
Kindly correct me if I am wrong. 😄

[2018-02-09 16:42] pushkalkatara commented on #5131
@newbazz Can you please elaborate what needs to be done?

[2018-02-09 19:33] Makman2 commented on #5132
@Ananthavijay Please don't submit PRs without assignment. @ouromoros has properly asked for assignment, so going to assign him now once he has accepted the org invite :+1:

[2018-02-09 19:40] Makman2 commented on #4292
I'm not sure too... I can't recover what was exactly wanted here. But documenting each package in `__init__.py` is not bad ;)

[2018-02-09 19:45] Makman2 commented on #4972
Please check your mails @arpitsimt :)

[2018-02-09 19:51] pushkalkatara commented on #5131
It looks like https://github.com/coala/coala/blob/master/coalib/testing/LocalBearTestHelper.py#L295 Line 295 is the issue. The function verify_local_bear() is not indented correctly.

[2018-02-09 20:10] Makman2 commented on #5131
The function itself is correctly indented, but not its docstring (okay it's still a correct format, but we try to migrate to a new one):
[code]

[2018-02-09 20:26] pushkalkatara commented on #5131
@Makman2 @newbazz Please review the PR.

[2018-02-09 21:27] somnathrakshit commented on #4972
@Makman2 Can I be assigned on this?

[2018-02-09 23:57] Makman2 commented on #4972
@somnathrakshit
@arpitsimt first commented here, and I guaranteed him assignment now.

[2018-02-10 00:42] arpitsimt commented on #4972
@Makman2 I search everywhere in mail didn't find any invitation link or any mail.please help!

[2018-02-10 08:41] ouromoros commented on #5132
@Makman2 Accepted the invite. Can assign me now.

[2018-02-10 09:15] Vedarth commented on #4292
Alright so I will just add docstrings to submodules of coalib

[2018-02-10 09:24] anctartica commented on #4102
If we add a setting `min_severity` to the section then the results are ignored based on this in `Processing.py`. Why do we need a new variable `minimum_severity` in the section?

[2018-02-10 09:35] somnathrakshit commented on #5129
@Makman2 I would like to work on this. Please assign this issue to me.

[2018-02-10 11:09] anctartica commented on #4881
I would like to fix this. @newbazz are you still working on this?

[2018-02-10 15:44] Anonymous26 commented on #5129
i would like to work on this.

[2018-02-10 16:00] newbazz commented on #4881
yes you can take the issue.

[2018-02-11 05:52] jackthepirate6 commented on #3862
I will work on this issue

[2018-02-11 09:21] khanchi97 opened #5148 "Why don't we have colors in `.coafile` configuration file"

[2018-02-11 11:22] ishanSrt opened #5149 "Can something be done to prevent the creation of thousands of .coverage files in my local coala repository?"
Why are these being created? I don't think I have ran pytest that many times
<script src="https://gist.github.com/ishanSrt/1f36a98bf4e155c5d74d50348292c244.js"></script>
this is after i deleted half of them

[2018-02-11 11:30] ishanSrt commented on #5149
probably something like `rm .coverage.*` at the end of the command when they are being created

[2018-02-11 17:17] kriti21 opened #5150 "Add Visual Studio Code to known editors for coala"

[2018-02-12 11:41] Makman2 opened #5152 "Investigate on callback behaviour regarding scheduler blocking"
From the FIXME in the core:

[2018-02-12 12:24] Makman2 commented on #5152
This is confirmed, citing the Python docs for `multiprocessing`

Can be checked with this script:
[code]
When you step through, you'll see that between `ev2.set()` and `ev4.set()` the callback `w4` is not executed until `ev3` was set.

[2018-02-12 12:25] Makman2 commented on #5152
We can make use of the default thread pool created by the used event-loop in the core, and schedule callback tasks there.

[2018-02-12 14:16] Makman2 commented on #5152
Or we offload the complete done-callback onto a new thread. This has the advantage that we increase performance. The goal is to quickly offload as many tasks as possible to keep the CPU busy. Idling cores are wasted time.

[2018-02-12 15:37] prakashdanish commented on #3754
So, below the section title would do? i.e first thing after the section title. Will post a scrot later today for reference.

[2018-02-12 17:56] anctartica commented on #4881
So far while exploring the traceback I have figured out that the issue is caused by 'package_managers' attribute of the object. When you call getattr(obj, 'package_managers') it is actually checking whether the package is installed or not and therefore failing.

[2018-02-12 20:07] sangamcse commented on #4962
@mridubhatnagar fork using terminal only?

[2018-02-12 21:42] Makman2 commented on #4881
All that are necessary ;)

[2018-02-12 21:43] Makman2 commented on #3862
Reassigning due to inactivity.

[2018-02-12 21:44] Makman2 commented on #4584
The issue is blocked, and I think you have not enough experience for this issue. It requires in-depth knowledge of the not yet completely developed nextgen core :)

[2018-02-12 21:45] Makman2 commented on #5129
@Anonymous26 sorry @somnathrakshit was first ;)

[2018-02-12 21:45] Makman2 commented on #4102
Oh so this feature already exists?

[2018-02-12 22:13] Makman2 commented on #5149
I think this is somehow configured in `setup.cfg`, I'm not sure if we need it. Please use `git blame` (or the blame functionality in GitHub) to see why it was added. But if we don't need it, let's remove it for sure. That bothered me too for a while^^

[2018-02-12 22:14] Makman2 commented on #5148
What colors?

[2018-02-13 02:09] zxiiro opened #5154 "Any plans for a 0.12 release?"
There hasn't been any new releases for awhile and the documentation appears to point to features that are only available in unreleased versions (such as section inheritance). Wondering if there's any plans to have a new release in the near future?

[2018-02-13 03:41] ishanSrt commented on #5149
@Makman2 I looked into it a bit. Couldn't find any commit to blame in `setup.cfg` but in `setup.py` from what I looked up it can be due to:

Don't have much idea about that 😅. Kind of stuck.

[2018-02-13 04:30] anctartica commented on #4102
Yes this feature already exists. I tested locally by adding different `min_severity` settings to different sections in my `coafile`. It was able to ignore the results accordingly :)

[2018-02-13 05:23] ayush9398 commented on #5150
I m new to coala, can I work on this?

[2018-02-13 05:25] anctartica commented on #4881
since I am unable to run this command locally, what is the expected output for `coala -B --json`? Do i get a list of the names of bears in json or do I also get other information about them such as this ?

      "AUTHORS": [
        "The coala developers"
      ],
      "AUTHORS_EMAILS": [
        "coala-devel@googlegroups.com"
      ],
      "BEAR_DEPS": [],
      "CAN_DETECT": [],
      "CAN_FIX

[2018-02-13 07:23] MacBox7 commented on #5150
Aiming for GSOC, don't see any unassigned issues. Can I work on this one ?

[2018-02-13 07:35] sangamcse commented on #5150
@MacBox7 @ayush9398, how would you like to approach this issue? Any Idea? 😉

[2018-02-13 07:45] MacBox7 commented on #5150
I don't think it would be more than adding VSCode to [OpenEditorAction.py](https://github.com/coala/coala/blob/master/coalib/results/result_actions/OpenEditorAction.py#L8).

[2018-02-13 07:45] kriti21 commented on #5150
@MacBox7 This one has been claimed by @ayush9398 first. He will get assigned to this one. You can use filters to search unassigned difficulty/newcomer issues. You will surely find one :)

[2018-02-13 07:48] MacBox7 commented on #5150
Too bad, already had figured out what has to be done. If @ayush9398  doesn't mind can i take it up.

[2018-02-13 08:59] somnathrakshit commented on #5129
@Makman2 Could you please let me know the file responsible for this? I tried searching for the keywords but could not find the code needed.

[2018-02-13 10:40] Makman2 commented on #5129
Don't know, the issue might be located in the code that's responsible for reading those ignores.

[2018-02-13 10:44] Makman2 commented on #4102
Indeed! Good that you found it :) But it's not documented :)
I'm filing a new issue for that.

[2018-02-13 10:44] #4102 closed

[2018-02-13 10:45] khanchi97 commented on #5148
I mean something like this:
[![Screenshot_from_2018-02-13_16-01-16.png](https://s17.postimg.org/purupm4en/Screenshot_from_2018-02-13_16-01-16.png)](https://postimg.org/image/jh2rmczij/)

[2018-02-13 10:48] Makman2 commented on #4102
Documentation issue at https://github.com/coala/documentation/issues/531

[2018-02-13 10:50] Makman2 commented on #5154
Yeah we should do this asap.

[2018-02-13 10:52] Makman2 commented on #5149
Okay, in case that a specific test is responsible, could you try to find it? Hopefully it's not `core`^^

[2018-02-13 11:05] Makman2 commented on #5148
Ah syntax highlighting. Such features are editor dependent. As I see you use vim, you want to have this for vim?

This could probably go into an own repository.

[2018-02-13 11:24] anctartica commented on #4881
What is the correct output for this command? Do you get the list of bears in JSON format or do also get some other information such as this:

      "AUTHORS": [
        "The coala developers"
      ],
      "AUTHORS_EMAILS": [
        "coala-devel@googlegroups.com"
      ],
      "BEAR_DEPS": [],
      "CAN_DETECT": [],
      "CAN_FIX": [
        "Formatting"
      ],
      "INCLUDE_LOCAL_FILES":

[2018-02-13 11:28] Makman2 opened #5155 "Custom coala bear: Use Closes vs Fixes ddepending on whether issue has the "bug" label"
Because this is very specific to coala, I've filed the issue here. Maybe this should be in a completely new repo, like `custom-bears` that are only relevant for our org.

What the bear has to do? It checks the commit message whether it contains an issue reference, and makes a HTTP request on the referenced issue. If it's marked as `bug`, `Fixes` has to be used as a keyword, otherwise `Closes`. Sho

[2018-02-13 12:29] Makman2 commented on #4881
Good question. `--json` usually means that someone wants more, computer-readable / -serializable information, but without `--json` only the bear names are displayed. @anctartica up to you to decide the correct behaviour, but in my opinion the extra info is good and useful if someone already uses `--json`.

[2018-02-13 12:41] shreyans800755 opened #5156 "Inconsistency in output of coala -B --json & coala -B commands"
Output of `coala -B` only displays the name of the bears. But `coala -B --json` displays all the details of the bears. Content of `coala -B --json` command matches the content of `coala -B --show-details`.

To keep the behaviour consistent, we should only display the name of the bears just like `coala -B` in json format .

[2018-02-13 12:41] shreyans800755 commented on #4881
@Makman2 @anctartica
`coala -B --json` works on my local. It is showing all the details and just names.

But the behaviour is inconsistent with `coala -B` which only shows the names of the bears and not the details.
Content wise, output of `coala -B --json` matches with the output of `coala -B --show-details`.

To keep the consistency, we should only display the names of the bears unless details a

[2018-02-13 13:41] ayush9398 commented on #5150
@MacBox7 don't mind but I would like to work on this. I am new to coala and really want to start contributing.

[2018-02-13 14:42] khanchi97 commented on #5148
Sorry? 😅

[2018-02-13 15:25] Mixih opened #5157 "Release 0.12"
- [ ] freeze
- [ ] changelog
- [ ] ascii art
- [ ] pypi push

[2018-02-13 16:28] Makman2 commented on #5148
I mean the syntax highlighting support for vim can be placed into a separate repository.

[2018-02-13 16:30] Makman2 commented on #4881
But I think that one is not really a bug, rather an enhancement or "feature".

[2018-02-13 16:30] Makman2 commented on #5156
Blocked by https://github.com/coala/coala/issues/4881

[2018-02-13 16:43] khanchi97 commented on #5148
So I think https://github.com/coala/coala-vim/ this is the right place for this, right?

[2018-02-13 16:50] Makman2 commented on #5148
Not necessarily, this one is for integrating coala's code analysis features. Syntax highlighting for coafiles is something different.

[2018-02-13 16:56] khanchi97 commented on #5148
So can you create a new repository for this?

[2018-02-13 17:06] Makman2 commented on #5148
If you like to work on it, what do you think about creating a repository on your own, and work on a separate branch (not on master). Once you have a solid prototype, we are transferring ownership of the repo to the coala org? :)

[2018-02-13 17:24] khanchi97 commented on #5148
Oh yeah, it's cool.I would like to work on this :)

[2018-02-13 17:46] Makman2 opened #5159 "README.md: The graph is not showing anything for closed PRs and issues"

[2018-02-13 17:55] aashraybhandar1 commented on #5155
I'm interested in this issue @Makman2 .. Should this be a new bear or part of GitCommitBear?

[2018-02-13 19:25] ayush9398 commented on #5150
@kriti21 if I understand correctly,I have to add the code for 'vsc' in known_editors in  coala/coalib/results/result_actions/OpenEditorAction.py , right?

[2018-02-13 19:36] nvzard commented on #5131
I think its a duplicate of https://github.com/coala/coala/issues/5137

[2018-02-13 19:37] nvzard commented on #5137
I think its a duplicate of https://github.com/coala/coala/issues/5131

[2018-02-13 21:34] Makman2 commented on #5159
Yes indeed, can see the stats again.

[2018-02-13 21:34] #5159 closed

[2018-02-13 21:36] Makman2 commented on #5155
I'm not sure, please do some considerations.

[2018-02-14 05:06] kriti21 commented on #5150
@ayush9398 This does needs change in `OpenEditorAction.py` file but I am not familiar with its code. So that you have to figure out yourself. Ask for help on gitter if you are stuck. :)

[2018-02-14 06:14] Ananthavijay commented on #3832
Can I work on this issue?

[2018-02-14 08:12] MacBox7 commented on #3259
Does this issue need any more changes? Can it be assigned to me ?

[2018-02-14 10:46] anctartica commented on #4881
If I have to update files in `coala_utils` to fix this issue then would this issue have to be closed here and opened in the `coala_utils` repo which is on gitlab?

[2018-02-14 12:01] Makman2 commented on #4881
Why `coala-utils`? This shouldn't require changes there

[2018-02-14 12:03] Makman2 commented on #3832
Unassigning due to inactivity.

[2018-02-14 12:04] Makman2 commented on #3832
@Ananthavijay you already have a newcomer issue assigned, please pick a `difficulty/low` one ;)

[2018-02-14 15:20] nityeshaga opened #5162 "Add `tags` for VIM's tagfiles in .gitignore"
vim users need to create tag files to jump around the codebase. This file must not be committed. Hence, must be included in `.gitignore` file.

[2018-02-14 18:37] Makman2 commented on #5137
Indeed. @flaredragon Sorry I have to close this one. I hope you don't mind.

[2018-02-14 18:37] #5137 closed

[2018-02-14 18:43] nityeshaga commented on #5162
@Makman2 I know I asked for it on the chat but I have already completed one newcomer issue. Would it be okay if I do another one?

[2018-02-14 18:46] Makman2 commented on #5162
In this case you quite need it to enhance your development workflow, so it's okay :)

[2018-02-14 18:51] nityeshaga commented on #5162
Yaay! Thanks a lot @Makman2 ! :smile:

[2018-02-14 19:02] manankalra commented on #4120
@Makman2 I can take this as I've worked on global bears before and had to go through a lot of source-code to figure things out. ;)

[2018-02-14 20:58] L-KID commented on #3832
Hi, can I work on this issue?

[2018-02-15 03:25] jackthepirate6 opened #5165 "Linter_Bears_Advanced.rst: Typo Error"
On the line number 20
"value=2" should be "value2"

[2018-02-15 04:51] ishanSrt opened #5166 "coala running with -A tag not providing any option to select"
command ran: `coala --bears=PEP8Bear --files=peptest.py -A`
file: any file incomplient with PEP8 (not necessary)
coala doesn't give me any options to choose from and keeps on providing the same list of available actions with no numbers endlessly
[code]

[2018-02-15 05:05] ishanSrt opened #5167 "Unexpected behaviour on selecting the option 4. Show Applied (P)atches"
[code]

## 1
I had to hit 4, two times to actually see the applied patch (for me to see the patch for the first time)
## 2
After hitting 4s, why am I getting `[    ] All actions have been applied` when they are actually not applied and I am just viewing the suggested patches
## 3
Is there even need for such option when I can see the available patch already with line numbers in the first few lines

[2018-02-15 05:09] ishanSrt commented on #5167
here's the file I am using:
[code]

[2018-02-15 05:17] ishanSrt commented on #5167
After generating any patch for any bear using action 5 (doesn't matter how many times and how many bears I use) It always shows me 2 same patches for PEP8Bear. BTW not sure what is `Generate Patches` supposed to do over here. If the generated patches are not supposed to be shown in `Show Applied Patches` then we only have to fix the patch being displayed twice.

# ****
Moreover I don't think the n

[2018-02-15 11:13] Makman2 commented on #3832
Please accept the org invite, then you can be assigned ;)

[2018-02-15 11:34] ishanSrt opened #5168 "ConfigurationGatheringTest.py add test when we are using some Local Bears and the files param is not specified"

[2018-02-15 11:54] ishanSrt commented on #5168
implementing this in https://github.com/coala/coala/issues/4928

[2018-02-15 11:54] #5168 closed

[2018-02-15 12:30] Makman2 commented on #4292
This :+1:

That's now the final question, and I'm unsure if we should do it, as it's not up-to-date.

[2018-02-15 12:35] Makman2 commented on #4292
@Vedarth I have an idea, let's file a new issue for documenting everything in all `__init__.py`s, and then we discuss here again if we want to include the blog link again. I would assign you to this new issue.

[2018-02-15 12:45] Makman2 commented on #4292
Oh there's already https://github.com/coala/coala/issues/4800, I've assigned you there now @Vedarth

[2018-02-15 12:45] Makman2 commented on #4292
Blocked by https://github.com/coala/coala/issues/4800

Depending on how well we can document our structure there, we reconsider this issue.

[2018-02-15 13:29] L-KID commented on #3832
org invite accepted

[2018-02-15 13:37] Makman2 commented on #5167
That is implemented as an action, `ShowPatchAction`, that's why it says "action applied". But I understand why this is confusing.

Actually I remember something like this was discussed once, and I believed we removed the action then for this cases. If the action is now showing up again, we need a new issue.

[2018-02-15 13:37] Makman2 commented on #5167
Seems you've hit many little issues, could you break them up and file new ones for each? Then you can close this umbrella-issue.

[2018-02-15 14:10] nityeshaga opened #5172 "Update the Getting started tutorial by replacing the deprecated `Default` section with `cli`"
The [getting started with coala tutorial](https://docs.coala.io/en/latest/Users/Tutorial.html) mentions the, now deprecated, `Default` section. Quite confusingly, it uses both `cli` (the correct name) and `Default` to refer to the same section of the .coafile at different places. This must be tripping a lot of new users.
I think that it needs a fresh rewrite in those places.

Since, this is the fi

[2018-02-15 14:11] nityeshaga commented on #5172
cc @Makman2

[2018-02-15 14:12] nityeshaga commented on #5172
Would it be okay if I worked on this?

[2018-02-15 14:21] nityeshaga commented on #5172
I searched for the keywords `Default` and `deprecated` but I am unable to find the issue or the pull request that made the change. @Makman2 Can you please send the relevant links?

[2018-02-15 15:26] nityeshaga commented on #5172
This issue is a superset of the problem posed in #4968

[2018-02-15 17:11] maliknaik16 opened #5174 "Unable to run code analysis"
### Overview Description
Running ```SpaceConsistencyBear``` on c program from the getting started with coala([Github](https://github.com/coala/coala-tutorial/blob/master/src/main.c)) using the following command:
```coala --files=main.c --bears=SpaceConsistencyBear --save```

# Steps to Reproduce

1. Install python 3.4.4 on Windows 8.1
2. ```pip3 install coala-bears```
3. ```pip3 install virtualenv

[2018-02-15 17:46] Vedarth commented on #4800
Alright. I will start working on this issue now.

[2018-02-15 19:31] Naveenaidu commented on #5166
I would like to work on this issue. Can i please be assigned to it?

[2018-02-15 19:36] Vedarth commented on #4799
So the problem arises when ignore is split into `[all]` and `[all.python.imports]` if it finds `ignore` in `[all.python.imports]` or `[all.imports]` it doesn't look for `ignore` in `[all]`. Right?

[2018-02-16 08:20] jayvdb commented on #4669
I like the idea of dog-fooding the aspects project.

This needs to be written up as a GSoC project on https://github.com/coala/projects

[2018-02-17 13:53] Makman2 commented on #5174
Which `setuptools` version are you using?

Please update `setuptools`, this should resolve the error (but please check the version before! not that our requirements from the latest stable have to be updated and we need a bugfix-backport).

[2018-02-17 14:00] maliknaik16 commented on #5174
```setuptools``` version is 18.2

[2018-02-17 14:10] maliknaik16 commented on #5174
@Makman2 - updating ```setuptools``` solved my problem. Thanks.

Also i think we need to add a note in the getting started page or in homepage to make sure to update the setuptools
```python -m pip install --upgrade pip setuptools wheel```

[2018-02-17 14:13] #5174 closed

[2018-02-17 14:25] Makman2 opened #5176 "requirements.txt: Remove redundant version part of setuptools"
`setuptools>=21.0.0` is equal to `setuptools>=21`.

[2018-02-17 14:26] Makman2 opened #5177 "Backport to 0.11: Raise required setuptools version"
Due to https://github.com/coala/coala/issues/5174 we need to backport that for the latest stable 0.11. We should raise the required version to our current spec `setuptools>=21`.

[2018-02-17 19:25] chetasr commented on #5176
I would like to take this issue

[2018-02-17 21:42] GabrielDS commented on #5127
@Makman2
This test sounds like a little strange to me :confused:
Should i have to consider to change the middle of a string/line?

#### Tabs to Space
`'d \t '` to `'d   '`
https://github.com/coala/coala/blob/1db00d706353bb0d8a175c6d561df21e51cad6e7/tests/bearlib/spacing/SpacingHelperTest.py#L71-L72

[2018-02-18 01:46] jayvdb commented on #3754
yes, first thing under the section title sounds good, and with classes generated so CSS can be used to alter the layout.

[2018-02-18 05:32] arpit7714 commented on #5176
can i work on this!

[2018-02-18 09:03] amitsin6h commented on #5176
@Makman2 please review my PR #5181

[2018-02-18 10:33] monsij commented on #5176
@amitsin6h Get yourself assigned first before you start working on an issue.

[2018-02-18 12:01] amitsin6h commented on #5176
@Makman2 can you assign me.

[2018-02-18 12:13] Makman2 commented on #5176
@arpit7714 was commented first, so I have to assign him. Sorry @amitsin6h

[2018-02-18 12:17] Makman2 commented on #5127
I guess not, but I'm not sure how `get_indentation()` shall behave for mixed cases.

[2018-02-18 20:52] kriti21 opened #5185 "Add bear to support Mercurial version control system"
coala currently supports only git vcs. It would be good to include mercurial as well.

[2018-02-18 20:57] GabrielDS commented on #5127
@Makman2 I made changes on **get_indentation**, **replace_tabs_with_spaces** and
 i removed the method **yield_tab_lengths**. The tests runned great here and on CIs. I won't change the method replace_spaces_with_tabs because i really didn't get it. I thought that we should to change only on the indentation but the tests doesn't configured in this way.

I discovered a way that replace tabs with spa

[2018-02-19 05:50] anctartica commented on #4862
please assign this to me @Makman2

[2018-02-19 13:56] nityeshaga commented on #5172
@Makman2 Can you please review the related PR https://github.com/coala/documentation/pull/537

[2018-02-19 14:53] Makman2 commented on #4862
Reassigned due to inactivity.

[2018-02-19 22:31] Makman2 opened #5188 "persistent_hash: Missing support for collection types with not guaranteed iteration order"
Like `dict` and `set`. `sorted` can be used to sort the data beforehand.

[2018-02-19 22:31] Makman2 commented on #5188
Blocked by https://github.com/coala/coala/issues/4350

[2018-02-20 13:16] ishanSrt opened #5190 "Show Applied Patches - name for the option seems misleading"
I don't think the name Show Applied Patches is appropriate and is misleading since it does not show the patches that are already applied, but the patches that would be applied in the future by the current inconsistency detected by coala.

status/needs discussion

[2018-02-20 13:16] ishanSrt opened #5191 "No need of option Show Applied Patches in case you can already see the applied patch in the first few lines of coala output"
reference comment: https://github.com/coala/coala/issues/5167#issuecomment-365929147
its not completely solved
[code]

[2018-02-20 13:16] ishanSrt opened #5192 "After hitting option 4 Show Applied Patches, we get [ ] All actions have been applied which is misleading"
After hitting 4s, why am I getting [ ] All actions have been applied when they are actually not applied and I am just viewing the suggested patches
reference comment: https://github.com/coala/coala/issues/5167#issuecomment-365929147

[2018-02-20 13:16] ishanSrt opened #5193 "Unexpected behaviour on selecting the option 4. Show Applied (P)atches"
After i hit 4 and actually see the output of Show Applied Patches and then
If I select 5 Generate Patches and then select SpaceConsistencyBear, and then keep hitting 4, it shows me the same patch (each time I hit 4) TWICE!
[code]
file used:
[code]
After generating any patch for any bear using action 5 (doesn't matter how many times and how many bears I use) It always shows me 2 same patches for PE

[2018-02-20 13:17] ishanSrt opened #5194 "Unexpected behaviour on selecting the option 4. Show Applied (P)atches"
[code]
Why do I need to hit 4, two times to actually see the applied patch (for me to see the patch for the first time)

[2018-02-20 13:18] ishanSrt commented on #5167
Closing this in favour of the following issues:
https://github.com/coala/coala/issues/5190
https://github.com/coala/coala/issues/5191
https://github.com/coala/coala/issues/5192
https://github.com/coala/coala/issues/5193
https://github.com/coala/coala/issues/5194

[2018-02-20 13:18] #5167 closed

[2018-02-20 14:53] Naveenaidu commented on #5166
@Makman2  Could you please let me know the file responsible for this? I tried searching for the keywords but could not find the code needed.

[2018-02-20 14:55] Makman2 commented on #5166
Sorry I don't know, use pdb to trace code.

[2018-02-20 18:51] Makman2 commented on #5190
Hm they are "internally applied", and going to be applied on the real files as soon as coala exits. Not sure how to phrase this properly...

[2018-02-20 18:54] li-boxuan opened #5195 "Writing_Good_Commits.rst: Example 3 is misleading."
Example 3 uses 'Fixes' instead of 'Closes' when fixing a typo. However, the common practice is to use 'Fixes' only when fixing a bug.
(ref: https://github.com/coala/coala/blob/master/docs/Developers/Writing_Good_Commits.rst)

[2018-02-20 18:56] Makman2 commented on #5165
@sachinmukherjee It's already assigned and being worked on :+1:

[2018-02-20 18:56] Makman2 commented on #5185
So you mean a `MercurialCommitBear`?

[2018-02-20 18:57] Makman2 commented on #5185
Oh that issue belongs to coala-bears.

[2018-02-20 18:58] Makman2 commented on #5185
Migrated to https://github.com/coala/coala-bears/issues/2286

[2018-02-20 18:58] #5185 closed

[2018-02-20 19:09] ishanSrt commented on #5190
@Makman2 hmmm... yeah I get it from the comment in which you mentioned we make a temporary copy of the file, but the user doesn't know this. He can just see the patch and decide not to apply it.

Also if we are actually applying the patch on the temporary copy (that's why showing applied patches) isn't that a bit inefficient, considering if the user chooses not to apply the patch (and then move on

[2018-02-20 19:11] Makman2 commented on #5190
The temporary copy is only done when choosing to edit the file with an editor, as those always require some file. coala constructs a diff after the editor exited from the temporary-file-changes. When patches are chosen to be applied, all diffs are aggregated, and on exit they are merged and applied (or already merged into a single diff and in the end applied on the real files). So we don't loose a

[2018-02-20 19:13] ishanSrt commented on #5190
So what does it mean that the patches are "internally applied"?

[2018-02-20 19:15] Makman2 commented on #5190
They are applied on the loaded file inside your memory, and only written back to the real files when coala exits.

[2018-02-20 19:18] ishanSrt commented on #5190
Ummm.. am I missing something?

Does it mean that all the patches are already applied in the "loaded file inside memory" and when they are displayed to the user, and the user choses not to apply them, generating it was kind of a waste?

Or does it occur only for ShowAppliedPatches?

[2018-02-21 08:37] Anonymous26 commented on #5195
I would like to work on this

[2018-02-21 12:05] Mohit17067 commented on #5191
I ran the same file but can't see options 4 and 5 in my output.

`
(venv) mohit (first_experiment #) coala-practice $ coala --files=peptest.py --bears=PEP8Bear --save
Executing section cli...

peptest.py
|   2| import·sys,·math
|    | [NORMAL] PEP8Bear:
|    | The code does not comply to PEP8.
|----|    | /home/mohit/Documents/Coala/coala-practice/peptest.py
|    |++++| /home/mohit/Documents/Coala

[2018-02-21 12:12] ishanSrt commented on #5191
I separated the issues into sub issues, btw I ran it again just to be sure and I can still see the options.
<img width="582" alt="screen shot 2018-02-21 at 5 41 36 pm" src="https://user-images.githubusercontent.com/29859362/36479377-83babbb8-172e-11e8-81d3-6defb24bb757.png">

[2018-02-21 12:14] ishanSrt commented on #5191
command ran `coala --files=peppy.py --bears=PEP8Bear -I` also use 3 backticks for multiline code in comments (markdown guide)

[2018-02-21 12:25] Mohit17067 commented on #5191
Maybe your repository is not updated to the latest version.

[2018-02-21 12:26] ishanSrt commented on #5191
@Mohit17067 😀I can guarantee you that it is. coala is not merging commits right now and my master always remains in sync

[2018-02-21 12:34] Makman2 commented on #5190
I'm not sure of the exact details, but there are 2 possibilities:
1. All diffs the user accepts to apply, are aggregated, and applied on the in-memory-file and written back when coala exits.
2. The diffs the user accepts to apply are directly applied to the in-memory-file, and then coala writes it back on exit.

So we don't generate those before-hand and waste resources.

[2018-02-21 12:37] ishanSrt commented on #5190
Either way we are generating results for those diffs that the user may not apply, can't we generate diffs on the fly or something like that?

[2018-02-21 12:39] ishanSrt commented on #5190
Or much resources are not wasted when generating results, and only when they are applied to the in memory file??

[2018-02-21 12:42] ishanSrt commented on #5190
Either way,

The diffs the user accepts to apply are directly applied to the in-memory-file, and then coala writes it back on exit.

Show Patches is actually applying those patches to the file in the internal memory, thats why we get All actions have been applied, right? Should this be happening?

[2018-02-21 12:43] ishanSrt commented on #5190
https://github.com/coala/coala/issues/5192

[2018-02-21 12:47] Mohit17067 commented on #5191
@ishanSrt Could you figure out any reason for this different output? Please share here if you get something.

[2018-02-21 12:49] ishanSrt commented on #5190
this seems to be contradicting your comment about the 2 possibilities which said that Show Patches applies the patches to the file in the internal memory, thats why the name Show Applied Patches but here you said they are only applied (to the in-memory file) if the user accepts them to apply (can be either aggregate and then applied to directly applied to the in-memory file) 🤯

[2018-02-21 12:50] ishanSrt commented on #5191
idk maybe install coala in a new virtual env from the master branch and test it to be sure 🧐

[2018-02-21 13:08] Mohit17067 commented on #5191
Did that too. I can see three options only. It would be great if @Makman2 could also check this once as this is related to 4-5 issues.

[2018-02-21 13:12] ishanSrt commented on #5191
ummm... I don't think that's correct, since I divided one issue into sub issues and quantised the problems

[2018-02-21 13:16] ishanSrt commented on #5191
how exactly did you install coala in the new virtual env?

[2018-02-21 13:19] Mohit17067 commented on #5191
Just used the installation guide.
[http://docs.coala.io/en/latest/Users/Install.html#installing-inside-a-virtualenv](url)

[2018-02-21 13:20] Makman2 commented on #5191
@ishanSrt I trust you, but could you still ensure you have the most recent coala version installed from master? ;) And that your `master` commit hash points to 1db00d706353bb0d8a175c6d561df21e51cad6e7 ?

[2018-02-21 13:21] ishanSrt commented on #5191
@Mohit17067 that installs the latest stable version of coala. instead go to coala repo and do `pip3 install -e .` and see what happens (in a new virtual env)

[2018-02-21 13:22] ishanSrt commented on #5191
ofcourse @Makman2

[2018-02-21 13:29] Makman2 commented on #5190
Uhm now I'm confused. If you choose to only view the patches themselves, coala will render the `unified_diff` of them, then nothing is applied anywhere. If you choose to apply them, they either follow variant 1) or 2) from :point_up: https://github.com/coala/coala/issues/5190#issuecomment-367312157 .

This one would follow 2), patches chosen to be applied are applied on the in-memory-file (thus in

[2018-02-21 13:39] ishanSrt commented on #5190
Ok just to be clear ☺️, when a user selects the option Show Applied Patches, then they are not applied to the in-memory file right?

[2018-02-21 13:49] Mohit17067 commented on #5191
@ishanSrt I did
`go to coala repo and do pip3 install -e . and see what happens (in a new virtual env)`.
Still there are 3 options.

[2018-02-21 13:53] ishanSrt commented on #5191
😅
idk, mind ensuring this too https://github.com/coala/coala/issues/5191#issuecomment-367323440 ?

[2018-02-21 14:02] Mohit17067 commented on #5191
Checked that
[code]

[2018-02-21 14:13] ishanSrt commented on #5191
@Mohit17067 shouldn't it be showing where your head's at? What does `git show-ref --head | grep 'HEAD'` give?

[2018-02-21 14:25] Makman2 commented on #5191
Be sure that the latest dev-version is also installed @ishanSrt @Mohit17067 :+1:

[2018-02-21 14:25] Makman2 commented on #5190
Yes :sweat_smile:

[2018-02-21 14:34] ishanSrt commented on #5191
@Makman2 you mean with the `--pre` tag? is that **also** needed?

[2018-02-21 14:45] Makman2 commented on #5191
No by doing `python3 setup.py install`, because we don't do pre-releases any more since rultor deceased. The latest `--pre`-release points to an older commit^^

[2018-02-21 14:45] Makman2 commented on #5191
Ah sorry, with "dev-version" I just mean the most recent development-version, and that means --> `master`, sorry for the confusion ;)

[2018-02-21 16:21] pkcod commented on #5195
I would like to work on it

[2018-02-21 16:43] pkcod commented on #4871
I want to work on it please clarify it

[2018-02-21 16:47] Mohit17067 commented on #5191
`git show-ref --head | grep 'HEAD'` gives
[code]

[2018-02-21 21:33] #4849 closed

[2018-02-21 21:45] #4302 closed

[2018-02-21 21:48] Makman2 commented on #4871
@pkcod I think this issue is still in design phase, could you please pick a different one?

[2018-02-21 22:22] #4119 closed

[2018-02-21 22:49] #3847 closed

[2018-02-22 00:49] #4929 closed

[2018-02-22 11:36] pkcod commented on #3259
Can you assign this to me

[2018-02-22 12:35] #4056 closed

[2018-02-22 13:16] Makman2 commented on #3259
@pkcod I just forgot to assign this issue, it's being worked on actively.

[2018-02-22 13:17] Makman2 commented on #5195
Assigning @pkcod as it's been already a day and @Anonymous26 hasn't accepted invitation yet.

[2018-02-22 13:20] #4894 closed

[2018-02-22 13:23] Anonymous26 commented on #5195
Sorry for the delay ..I've accepted the invitation and I would like to work

[2018-02-22 13:34] #5108 closed

[2018-02-22 14:29] #4494 closed

[2018-02-22 15:17] #5126 closed

[2018-02-22 15:51] #5132 closed

[2018-02-22 17:34] virresh commented on #5191
@Mohit17067 , you are running an older version. Consider synchronising your branch. Also I checked out the commit your head points at, and the bug is still reproducible.

In a new virtual env, I tried the same using latest stable coala from pip (not the development version), that version gives the same output of three options. So maybe your virtualenv is running python2. (the output of ```which py

[2018-02-22 17:36] ishanSrt commented on #5191
@virresh for confirming the issue. Had me dazed!

[2018-02-22 18:01] #5162 closed

[2018-02-22 18:22] Mohit17067 commented on #5191
Really very sorry for my mistake @ishanSrt
Sorry for troubling you.
Thanks @virresh for correcting me :smile:

[2018-02-22 18:27] ishanSrt commented on #5191
BTW I didn't get what the problem was. Does the stable version of coala run on python2? and what about https://github.com/coala/coala/issues/5191#issuecomment-367331228 @Mohit17067 doesn't that ensure you have the latest development version of coala?

[2018-02-22 18:34] virresh commented on #5191
@ishanSrt , Nope, the stable version runs on python 3 only,
But if the virtual environment is running python 2, then even when inside virtual env, python3 will refer to the global copy of python 3.
So all the commands typed (pip3 etc etc) will affect the global copy and not the virtualenv. And if the global copy was installed using stable versions, weird things can happen. (Although I believe it s

[2018-02-22 18:36] ishanSrt commented on #5191
@virresh ty for clarification

[2018-02-23 15:37] pkcod commented on #5165
Can I work on this???

[2018-02-23 15:38] pkcod commented on #5150
Can I work on this??

[2018-02-23 15:39] pkcod commented on #5123
Can I work on this???

[2018-02-23 15:39] pkcod commented on #5109
Can I work on this???

[2018-02-23 15:40] pkcod commented on #5062
Can I work on this???

[2018-02-23 15:40] pkcod commented on #4985
Can I work on this???

[2018-02-23 15:41] pkcod commented on #4927
Can I work on this???

[2018-02-23 15:42] pkcod commented on #4872
Can I work on this??

[2018-02-23 15:42] pkcod commented on #4861
Can I work on this???

[2018-02-23 15:42] kriti21 commented on #5150
@pkcod As you can see someone has already been assigned and work is  going on for this issue. Please find something else to work on. :)

[2018-02-23 16:21] andyy143 commented on #4690
would you elabrote it

[2018-02-23 16:33] Crphang commented on #5194
Can I work on this?

[2018-02-23 16:42] nityeshaga opened #5201 "Fix typo in the docstring of try_to_apply_section()"
[Line 705](https://github.com/coala/coala/blob/a33b65d2e51a5eb006a9def194eebcdf143ce679/coalib/output/ConsoleInteraction.py#L705) says `choose_action` instead of `chosen_action`. Need to change it.

[2018-02-23 18:14] richa208 commented on #5123
I have already submitted a PR on this.

[2018-02-23 18:17] nityeshaga opened #5202 "In `ask_for_action_and_apply()`, if `apply_single` is non-False, function should return when match is found"
In the function `ask_for_action_and_apply()` in [ConsoleInteraction.py](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py), if the `apply_single` parameter is non-`False`, then the `for` loop inside it iterates through the entire `metadata_list` before returning `False`.

IMHO we should move the `return False` [statement](https://github.com/coala/coala/blob/a33b65d2e51

[2018-02-23 18:22] monsij commented on #5123
@richa208  : You don't need to worry about it.
@pkcod : Kindly look for other unassigned issues.You will be surely able to find them.

[2018-02-23 18:52] nityeshaga commented on #5202
cc @Makman2

[2018-02-23 19:58] #5027 closed

[2018-02-23 22:49] Makman2 commented on #5165
:point_up: https://github.com/coala/coala/issues/5165#issuecomment-367081079

[2018-02-23 22:52] Makman2 commented on #5109
Reassigning due to inactivity.

[2018-02-23 22:52] Makman2 commented on #5109
@pkcod please accept the invite.

[2018-02-23 22:55] Makman2 commented on #4872
Please don't comment on many issues just to have the chance of getting one assigned. As you can see, PRs are already submitted, and already reviewed a few times and not far away from merge. Please delegate so many requests to our gitter channel to not spam our issues (which triggers notifications for everybody subscribed, like me).

[2018-02-23 23:02] #5165 closed

[2018-02-24 00:51] mbiesek commented on #5201
I would like to work on this

[2018-02-24 05:06] pkcod commented on #5109
please assign me

[2018-02-24 11:54] Makman2 commented on #5194
Oh sorry @Crphang was first.

[2018-02-24 12:15] RaiVaibhav commented on #5194
@ishanSrt I tried to regrenerate the error on a single file

print("Hello World") #print hello world

But it works fine for me, [check log here](https://pastebin.com/AqkF8g92), can you be more  descriptive about how you generate the issue.

[2018-02-24 12:58] harshhx17 commented on #5201
Can it be please be assigned to me....

[2018-02-24 12:59] Makman2 commented on #5109
You haven't accepted the invite to the org via mail yet.

[2018-02-24 13:02] Makman2 commented on #5202
What about breaking out of the loop?

[2018-02-24 13:05] pkcod commented on #5109
okay i will do it now!!

[2018-02-24 13:12] ishanSrt commented on #5194
@RaiVaibhav idk. Is your branch in sys with coala master and are you using the latest development version of coala?

[2018-02-24 13:15] harshhx17 commented on #5202
Please assign this issue to me

[2018-02-24 13:33] pkcod commented on #5109
Sorry for delay I accept your invite!!

[2018-02-24 13:36] pkcod commented on #5201
I will like to work on it

[2018-02-24 13:37] pkcod commented on #5202
I would like to work on it

[2018-02-24 14:27] RaiVaibhav commented on #5194
yes I am using latest development version.

But didn't get why my branch have to be sync with coala master to check whether certain fucntion is working or not ,didn't get the point here.

[2018-02-24 14:33] ishanSrt commented on #5194
You must have installed coala with the `-e` tag right? for that if your branch isn't in sync with master, you are actually not using the latest development version

I don't understand, my log is not any different from my first comment of the issue

[2018-02-24 14:37] ishanSrt commented on #5194
or get a new clone of coala from the master and install in a new virtualenv using `pip3 install .` with or without the `-e` tag

[2018-02-24 14:47] #5038 closed

[2018-02-24 15:10] nityeshaga commented on #5202
Yes that actually makes more sense :sweat_smile:
Updating the comment now

[2018-02-24 15:30] shubhamivane commented on #5201
I would like work on it.

[2018-02-24 15:39] RaiVaibhav commented on #5194
OK My fault I was not on my venv which was updated :+1:

[2018-02-24 16:29] firesans commented on #5202
Hey, I would like to work on this , please assign me this issue

[2018-02-24 17:10] shubhamivane commented on #5201
@nityeshaga Can you review it?

[2018-02-24 17:13] nityeshaga commented on #5201
Sorry @shubhamivane You need to be assigned to an issue before you start working on it.

You should really read our Getting started tutorial first :wink: Then wait until a mentor assigns this issue to you. Only then should you submit a PR.

[2018-02-24 17:23] shubhamivane commented on #5201
sorry, I'll keep in mind next time. @nityeshaga

[2018-02-25 09:41] RaiVaibhav commented on #5194
@ishanSrt  I think the action you used `ShowAppliedPatchesAction` uses the `ShowPatchAction` i.e. store the action and after that display it so when you first pressed the `4` first time, initially it have no stored action and so will go through `ShowPatchAction` then store that action(as per the code) and output `All actions have been applied`  and after that when you pressed `4` next time, `ShowA

[2018-02-25 09:45] ishanSrt commented on #5194
@RaiVaibhav even after applying some patches, I still see the **to be applied** patch on selecting `Show Applied Patches` and I still have to select the option twice to actually see the patch

[2018-02-25 09:56] RaiVaibhav commented on #5194
Ok That is the problem :+1:

[2018-02-25 10:31] ishanSrt commented on #5194
@RaiVaibhav strictly speaking the problem of the **to be applied** patch being shown should be solved over here https://github.com/coala/coala/issues/5190

[2018-02-25 10:34] ishanSrt commented on #5190
@Makman2 https://github.com/coala/coala/issues/5194#issuecomment-368296088 https://github.com/coala/coala/issues/5194#issuecomment-368296308

So is the name appropriate but its not functioning properly?

[2018-02-25 11:53] nityeshaga opened #5205 "Redefinition of the same function `format_lines()` in 3 files"
The function `format_lines()` is defined in the exact same way in [ShowAppliedPatchesAction.py](https://github.com/coala/coala/blob/8db41c06a825ac7791005d5cb91291371bea3c5f/coalib/results/result_actions/ShowAppliedPatchesAction.py#L8), [ConsoleInteraction.py](https://github.com/coala/coala/blob/8db41c06a825ac7791005d5cb91291371bea3c5f/coalib/output/ConsoleInteraction.py#L117) and [coala_main.py](h

[2018-02-25 11:54] nityeshaga commented on #5205
cc @Makman2

If this is a valid issue, can I work on it?

[2018-02-25 15:14] Crphang commented on #5194
To be more specific, this problem only occurs during the first time we select `Show Applied Patches`, subsequent times we select that option, it will show the applied patches accordingly.

I am working on a fix to address this.

[2018-02-25 20:36] nityeshaga commented on #5205
On second thought, `format_lines()` might really belong in [ConsoleInteraction.py](https://github.com/coala/coala/blob/8db41c06a825ac7791005d5cb91291371bea3c5f/coalib/output/ConsoleInteraction.py) file because it contains all the other functions relevant for console interactions.

[2018-02-25 23:49] rbstrachan commented on #5202
If I have time tomorrow, I will have a look at this. It doesn't look like it will take much to fix.

[2018-02-26 11:12] Naveenaidu commented on #5205
@nityeshaga The reason the format_lines is present in the coala_main.py is to print the options when the `apply_single` is true. Well the `format_lines()` does belong to ConsoleInteraction.py . Please have a look at https://github.com/coala/coala/pull/5198. Discussing this issue with @ishanSrt we decided to move the printing of the `apply_single` i.e which uses `format_lines()` from `coala_main.py

[2018-02-26 14:37] Makman2 commented on #5205
https://github.com/coala/coala/pull/5198 seems to be a larger thing, and solving this one is quicker. So I would keep the issue around. However, if https://github.com/coala/coala/pull/5198 gets merged before then it's bad luck @nityeshaga ;)

And yes, I would rather put `format_lines` into `ConsoleInteraction`.

[2018-02-26 14:42] Makman2 commented on #5202
@harshhx17 and @pkcod already have newcomer issues assigned. @firesans is the next up for assignment and hasn't done a newcomer issue yet. Sorry @rbstrachan , but you are free to pick a different issue :)

[2018-02-26 15:12] Makman2 commented on #5190
I looked at the source, and tbh, I don't understand the purpose of `ShowAppliedPatchesAction`. Firstly, I see
[code]
So it seems to iterate over all actions that have ever been selected. But then, there's also:
[code]
And now I'm getting confused. The only action really applied is `ShowPatchAction` (for each action already applied), but all others are printed too. Something looks very badly design

[2018-02-26 15:37] Makman2 commented on #4861
Reassigning due to inactivity.

[2018-02-26 15:49] Makman2 commented on #4927
Unassigning due to inactivity.

[2018-02-26 16:39] nvzard opened #5206 "Tests fail to reach 100% code coverage locally, though CI build passes."
Here are the local logs: https://gist.github.com/nvzard/ef99b21d57a429b08760347f46edf12e

[2018-02-26 16:42] Makman2 commented on #5206
Task is to write a test filling the gap.

[2018-02-26 16:55] Makman2 opened #5207 "appveyor.yml: Remove everything related to LLVM"
https://github.com/coala/coala/commit/4febc537dad816707e13e2903e97ee096f4e2b67 removed `libclang-py3` from the requirements, so any remaining artifacts in `appveyor.yml` shall be removed too.

[2018-02-26 18:48] harshhx17 commented on #5207
Can you please assign it to me :smile:

[2018-02-26 19:48] #4350 closed

[2018-02-26 20:32] #4560 closed

[2018-02-26 20:56] Makman2 opened #5211 "OpenEditorAction: Add new value to specify a custom executable name"
Recently the discussion happened (https://github.com/coala/coala/pull/5160), that some editor names have a too generic name (in the mentioned PR it was `code`, which stands for VSCode).

Shall a new value be allowed that allows to override the behaviour that the key itself is used as an executable name? Such as `executable` or `executable_name`?

[2018-02-26 22:49] harshhx17 commented on #5211
Can this issue be assigned to me...

[2018-02-26 22:58] Makman2 commented on #5211
This issue needs discussion, until then not available for assignment.

[2018-02-26 23:02] harshhx17 commented on #5211
Oops! I commented on the wrong issue... Sorry :sweat_smile:

[2018-02-26 23:03] harshhx17 commented on #5206
Can this issue be assigned to me @Makman2
:smile:

[2018-02-26 23:37] Makman2 opened #5212 "README.rst: docs build status is red"
The badge shows that builds are failing, but following the link, the docs seem to be okay.

[2018-02-27 09:39] Naveenaidu commented on #5192
@Makman2 I would like to work on this issue. Please assign me this.

[2018-02-27 10:42] nityeshaga opened #5214 "The check at line 680 in `choose_action()` is inadequate"
In function `choose_action()` in file [ConsoleInteraction.py](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py) the condition

at [line 680](https://github.com/coala/coala/blob/89321fbe812c8ef9d015b25640cbccc30c8b2ec9/coalib/output/ConsoleInteraction.py#L680) informs the user of a wrong choice only if it is the only character input by him/her. If a wrong choice is ent

[2018-02-27 10:43] nityeshaga commented on #5214
cc @Makman2 If this is a valid issue can I work on it?

[2018-02-27 14:57] nityeshaga commented on #5205
Turns out that there are circular dependent imports if I try to remove the ShowAppliedPatchAction.py version of `format_lines()`. This happens regardless of whether I try to keep the coala_main.py or the ConsoleInteraction.py version of `format_lines()`.

#### When keeping the ConsoleInteraction.py version
[code]
#### When keeping the coala_main.py version
[code]
So, I am not making any changes to

[2018-02-27 17:05] Makman2 commented on #5205
Should be possible to resolve that somehow^^

[2018-02-27 17:21] nityeshaga commented on #5205
Hey! Turns that there is actually a solution to that problem!! :smile: Thanks!

[2018-02-27 19:53] nvzard commented on #5206
I was testing something on docker and found this,
Tests give 100% coverage when "coverage~=4.2" but fail to give 100% when "coverage~=4.3.4"
Here are the logs: https://pastebin.com/rzXyS6TM

[2018-02-27 20:00] nityeshaga commented on #5214
I am extremely sorry but this is a false bug alert. This check actually works perfectly. I missed the output from it because it got blended in with the print messages that ask user for an action. I know that is no excuse and that I should have paid more attention. I am extremely sorry for not doing so. Please forgive me.

I would be glad to work on making the alert message from this check more con

[2018-02-27 20:12] harshhx17 commented on #5206
Thanks @nvzard :thinking:

[2018-02-28 13:10] Makman2 opened #5218 "CircleCI: Update to 2.0 syntax"

[2018-02-28 14:49] Naveenaidu opened #5219 "The error message in ConsoleInteraction.py is not adequate."
The error message that get's printed when an invalid character is entered is as :- `Please enter a valid letter.` But this is not completely true as the user can also enter numbers to select Actions.

The error message must be changed to `Please enter a valid letter or number.`
For example:-
The output when i enter `10` as an option.
[code]

[2018-02-28 14:49] Naveenaidu commented on #5219
cc @Makman2  If this looks like a valid issue can i work on it?

[2018-02-28 16:47] guilherme-p commented on #5218
I'd like to work on this.

[2018-02-28 17:12] tanhengyeow commented on #5212
Conforms to [standard](http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html).

LGTM 👍

[2018-02-28 19:26] Naveenaidu commented on #5192
I am really sorry for closing the pull requests. My brother had access to my computer and he messed up my fork. I had no other option other other than doing a hard reset on my fork.
Won't repeat it again :worried:

[2018-02-28 19:48] Naveenaidu commented on #5166
I am really sorry for closing the pull requests. My brother had access to my computer and he messed up my fork. I had no other option other other than doing a hard reset on my fork.
Won't repeat it again. :sweat_smile:

[2018-02-28 20:37] zhongLxyz commented on #3020
Hi guys, could anyone point out if this issue still needs to be fixed? I was assigned to the issue and before I tried to code out my solution I read over the last pull request that was made, it seems that there is a confusion regarding what needs to be done. I reached out for the clarification for the next step last December, but I haven't got a reply yet. I am thinking maybe it could be closed ju

[2018-02-28 21:12] manankalra commented on #4120
This is mentioned in the docs in relation to the `unified-diff` output format. That is, the developer needs to take no additional care of it. So, what else needs to be added in this case? An example stating what a unified-diff actually means here and a short summary of how we are handling it?

[2018-03-01 05:48] Vedarth commented on #3123
I would like to work on this. Kindly assign me.

[2018-03-01 05:51] Vedarth commented on #1021
I would like to work on this. Kindly assign me.

[2018-03-01 10:32] harshhx17 opened #5223 "Fix typo in docstring of ResultAction.py"
Line 81 says :return
It needs to be changed to :return:

[2018-03-01 10:38] harshhx17 commented on #5223
@Makman2  Is this a valid issue?
If yes..Please assign this issue to me... :stuck_out_tongue:
As my last newcomer issue https://github.com/coala/coala-bears/issues/2287 could not be merged...

[2018-03-01 11:36] Naveenaidu commented on #5219
@labirinto Sure please do continue working :')

[2018-03-01 11:37] Naveenaidu commented on #5219
But first ask a maintainer to assign an issue to you. Please don't start working on a issue until you are assigned to it.

[2018-03-01 11:53] Labirinto commented on #5219
@Makman2 can you assign me this issue, please?

[2018-03-01 13:11] Naveenaidu commented on #3123
I would like to work on this. Can i please be assigned to it. @Vedarth Can i please take the issue since you are already working on  https://github.com/coala/coala/issues/1021,It will really help me get acquainted GSOC project.

[2018-03-01 13:26] Vedarth commented on #3123
@Naveenaidu I haven't been assigned either. Also I believe this issue been almost solved by @meetmangukiya

[2018-03-01 13:38] manankalra commented on #5223
@harshhx17

Why? You haven't yet opened a PR for the same!

[2018-03-01 13:46] harshhx17 commented on #5223
I have(https://github.com/coala/coala-bears/pull/2292).. but the builds on circle ci were failing....
For reasons not related to the changes I had made(atleast thats what was concluded)
So it was just approved but not merged

[2018-03-01 13:54] manankalra commented on #5223
Oh, alright. I can't see a PR referencing that issue on the issue page.

[2018-03-01 13:55] harshhx17 commented on #5223
Even I was thinking about the same, Why is that?
Is it because my first commit didnot contain the Closes line
If so why did it not update it afterwards

[2018-03-01 14:01] harshhx17 commented on #5223
Needed to update the comment.. Done Now :smile:

[2018-03-01 16:01] meetmangukiya commented on #3123
Yes, the patch is ready and reviewed IIRC. It is being blocked by some other patch in different repo. It'd be helpful if you can help it merge.

[2018-03-01 16:49] nityeshaga opened #5225 "Enhance the error message when user enters an invalid choice"
As discussed in https://github.com/coala/coala/issues/5214, I propose to do the following changes to the error message:
* use `!  !` instead of `[  ]` for the error message
* make the message of a different colour
* maybe we can show the erroneous character, that was entered, in the error message. So, it might look something like this:
[code]

This should make the error message more conspicuous an

[2018-03-01 16:50] nityeshaga commented on #5225
@Makman2 please assign this issue to me

[2018-03-01 17:04] Vedarth commented on #3123
@meetmangukiya how can we help? Also, are you going to participate in GSoC this year? As a mentor?

[2018-03-01 18:34] nvzard commented on #4400
@Makman2 I have updated  `generate_ordering` to take `diffs` into account, I have also included a test to compare two results with different diffs as `NotEqual`.
How should I extend tests in `coala-bear`?
Should I write tests for bears where I yield two results with different diffs and compare them?
Should I create another PR in `coala-bears` addressing the same issue?

[2018-03-02 02:14] Naveenaidu commented on #3123
@meetmangukiya which repo are we supposed to look into. And are you going to be a mentor this year.

[2018-03-02 13:13] palash25 opened #5230 "CachinUtilities.py: Use cPickle instead of pickle"
In the file `coalib/misc/CachingUtilities.py` replace `pickle` with `cPickle` which can lead to a minor performance gain since `cPickle` is about 1000 times faster than `pickle`. We only using `pickle.dump()` and `pickle.load()` so it shouldn't have any compatibility issues since both the modules have identical functions for dumping and loading.

I'm opening this issue with reference to the [optim

[2018-03-02 13:59] RaiVaibhav commented on #1101
@stellargo @Makman2  need your help in understanding this line.
`ipdb` have more features comapre to `pdb` then why we are shifting to `pdb`, I am totally confused

[2018-03-03 02:01] Naveenaidu commented on #1021
@Makman2  I would like to work on this issue. Can i please be assigned to it.

[2018-03-03 13:00] saran7188 commented on #5223
Hi! I am a newbie to coala, Can you assign me to this bug, I would love to work on it.

[2018-03-03 13:03] saran7188 commented on #5223
Hi! I am a newbie, Can you assign this to me? I would love to work on it.

[2018-03-03 14:40] Makman2 commented on #5218
@guilherme-p I've mistakenly tagged this as `difficulty/low`, but I guess more work is involved. I've assigned @alphadose because he knows the CI for a longer time.

[2018-03-03 14:53] Vedarth commented on #4016
I would like to work on it. I think we can achieve it by resolving the conflicts just like GitHub does. This will enable the user to edit the file and choose which patch to keep. In interactive mode we can let the user choose which patch he wants to apply just like https://github.com/coala/coala/issues/1021

[2018-03-03 15:52] Makman2 commented on #4400
You don't have to test it inside coala-bears directly, but I guess some tests will fail due to this. So I would recommend you open a new issue to update coala-bears in `requirements.txt` including your commit, and adapting the tests.

[2018-03-03 16:44] Naveenaidu opened #5232 "Is ShowAppliedPatchAction really neccessary?"
When the `DIFF_EXCERPT_MAX_SIZE` is greater than 4, then both `Show Patch` and `Show Applied Patches` is shown. The output shown by both is almost the same.

[code]
--> The sample output when `(S)how Patch`  is selected

[code]
--> The sample output when `Show Applied (P)atches` is selected

[code]
If I am not wrong  `ShowAppliedPatchesAction()`  loops through all the applied actions and then actu

[2018-03-03 16:44] Naveenaidu opened #5233 "Remove unnecessary option when `DIFF_EXCERPT_MAX_SIZE` is greater than 4"
When the `DIFF_EXCERPT_MAX_SIZE` is greater than 4, then both `Show Patch` and `Show Applied Patches` is shown.I think one of the option needs to be removed. Since both of them show the same output. Which option needs to be removed is what needs to be discussed here?
The sample output:-

[code]
Status:- Needs Discussion.

[2018-03-03 16:45] Naveenaidu commented on #5232
cc @Makman2  Need your opinion on this. And if this is a valid issue, i would like to work on it. :smile:

[2018-03-03 16:45] Naveenaidu commented on #5233
cc @Makman2 Need your opinion. If this is a valid issue, Please assign me this.

[2018-03-03 16:51] harshhx17 commented on #5233
Even I think that both the options are not necessary

[2018-03-03 18:18] nityeshaga commented on #5232
Yes, you are right about this part. :smile:

This one, I beg to differ.

Actually `ShowAppliedPatchesAction()` was added pretty recently ([last GSoC only](https://gitlab.com/coala/GSoC-2017/issues/134)). This action was added in a project that aimed to improve the coala CLI to make coala easier to use.

What `ShowPatchAction()` does is that it gives the user information about the patch that coala

[2018-03-03 18:28] nityeshaga commented on #5233
@Naveenaidu Can you please post the outputs of both `Show Patch` and `Show Applied Patches` for the sample?

[2018-03-03 18:36] nityeshaga commented on #5232
Also the reason why you might be getting similar outputs for both these patches is because you probably executed `ShowPatchAction` first. This updated the `applied_patches` attribute of the concerned `Result` object and added `ShowPatchAction` to the list of `applied_patches`. Now, when you execute `ShowAppliedPatchAction`, coala shows you the patches from `applied_patches` list (which contains `S

[2018-03-03 20:13] nvzard commented on #4400
Done opened the issue :+1:
https://github.com/coala/coala-bears/issues/2305
Can you please assign this to me ;)

[2018-03-03 20:24] sangamcse commented on #4952
@jayvdb, If @nalinbhardwaj is not working on this issue, can I take this one?

[2018-03-04 06:43] ishanSrt commented on #5149
@Makman2 no idea what I should be looking for in a particular test, which matches the case of

got nothing on that

[2018-03-04 06:53] nvzard commented on #5149
@ishanSrt since new core uses multiprocessing instead of threading in the tests if we create new processes then python coverage will automatically start measuring coverage in those processes and that's where these files are coming from.

[2018-03-04 06:55] ishanSrt commented on #5149
so a new `.cov` file for a new process?

[2018-03-04 06:59] nvzard commented on #5149
Yeah most probably, I'm not 100% sure though.

[2018-03-04 07:01] ishanSrt commented on #5149
@nvzard I doubt that a single copy gets created for a single process, as I have thousands of these files, and surely there can't be that many tests creating new processes **multiplied** by the times I ran pytest.

[2018-03-04 07:06] blacksheep95 commented on #5149
It is possible, because for new process creation = new `.cov` file creation.
And many old processes get terminated and new processes get created in a very short period of time, I am not exactly sure how the new core works but it is possible.

[2018-03-04 07:08] nvzard commented on #5149
It is possible, because for new process creation = new `.cov` file creation.
And many old processes get terminated and new processes get created in a very short period of time, I am not exactly sure how the new core works but it is possible.

[2018-03-04 08:53] ishanSrt commented on #5190
thats being fixed in #5192

I don't know, have a look at this https://github.com/coala/coala/pull/5231
Do we need to stop this and make ShowAppliedPatchesAction work like @RaiVaibhav suggested to actually show all the patches applied till the current instant?

[2018-03-04 09:52] Naveenaidu commented on #5232
@nityeshaga  Thanks for the explanation :smile: . But if what you say about `ShowAppliedPatches` is correct could you solidify your explanation by any working example then it would be really nice and we could close this issue :smile:

[code]
Can you please explain the above point. :point_up: .

1) Do you mean to say that `Show Applied Patches` shows all the patches that been applied to the file

[2018-03-04 12:19] karansingh1559 commented on #5230
@Makman2 can you assign this issue to me? seems fairly strightfoward :)

[2018-03-04 12:25] palash25 commented on #5230
read this :point_up:

I am working on this project for GSoC. This is not just a standalone issue.
I know its easy but for now its blocked.

[2018-03-04 14:27] Makman2 commented on #4352
Blocked by https://github.com/coala/coala/issues/4348

[2018-03-04 14:51] Makman2 opened #5236 "Typo under Writing_Linter_Bears"
Migrated from https://github.com/coala/coala-bears/issues/2232

[2018-03-04 15:00] Makman2 commented on #5233
Sounds weird... so let's fix it.

[2018-03-04 15:03] Makman2 commented on #1101
`pdb` is built-in into python. In case `pdb` offers everything we want, then let's use `pdb`. If `ipdb` solves a certain problem `pdb` itself can't, let's use `ipdb`.

In case only `pdb` is needed, we can optionally fall back to `ipdb` in case it's installed to generally improve debugging experience.

[2018-03-04 15:30] Naveenaidu commented on #5233
@Makman2 Can i be assigned to this issue.

[2018-03-04 15:34] Makman2 commented on #5230
Actually, I believe this issue is invalid, `cPickle` is the default implementation used by `pickle`.

[2018-03-04 15:34] #5230 closed

[2018-03-04 15:37] Makman2 commented on #5190
Yes I think that would be best :+1:

[2018-03-04 15:40] Makman2 commented on #5149
Hahaha no sounds okay :)

[2018-03-04 15:55] Makman2 commented on #5225
Be careful with coloring, colors have to be decent, but still ease distinguishing message parts.

[2018-03-04 16:00] Makman2 commented on #4120
Hm I think that's already enough. But if you think there's more to be described feel free to add stuff.

[2018-03-04 16:00] Makman2 commented on #4120
But the `process_unified_diff` function is not mentioned I believe.

[2018-03-04 16:04] Makman2 commented on #3020
Oh sorry for that. This sadly sometimes happens :/

Anyway, the issue is still valid. What needs to be done: The variable that stores the parameter description as a string, also contains the description of the default value. So currently we do something like this:
[code]
But we don't want to "hardcode" this into the description field itself, it should only contain `desc`. coala shall itself assemb

[2018-03-04 16:04] Makman2 commented on #3020
@zhongLxyz you wanna take it up again? :)

[2018-03-04 16:08] Makman2 commented on #5192
@Naveenaidu please be sure to secure your computer to a degree where nobody can immediately hijack your account ;)

[2018-03-04 16:24] ishanSrt opened #5238 "ShowAppliedPatchesAction not working correctly, giving the same results as ShowPatchAction"
references: https://github.com/coala/coala/pull/5231#issuecomment-370233838
https://github.com/coala/coala/issues/5191
https://github.com/coala/coala/issues/5190

[2018-03-04 16:32] Naveenaidu commented on #5238
@ishansrt There is a similar issue open at https://github.com/coala/coala/issues/5232.

[2018-03-04 16:43] ishanSrt commented on #5238
@Naveenaidu oh didn't see that! its the same but can you tell me how's it related to `DIFF_EXCERPT_MAX_SIZE`. If the diff is less than that then what CLI args are given?

[2018-03-04 16:46] Naveenaidu commented on #5238
@ishansrt When `DIFF_EXCERPT_MAX_SIZE` is less than 4, then coala  doesn't show  `Show Patch Action`.

[2018-03-04 16:47] ishanSrt commented on #5238
If that is the case then this issue is invalid.
status/invalid
duplicate of https://github.com/coala/coala/issues/5232

[2018-03-04 16:47] #5238 closed

[2018-03-04 16:50] ishanSrt commented on #5232
This issue need to fix `ShowAppliedPatchesAction` to show all the aggregated patches that have been applied till now. `ShowPatchAction` is working fine.

[2018-03-04 16:54] ishanSrt commented on #5232
Some user may want to check what are the patches he has applied until now, this must have been added keeping that in mind

[2018-03-04 16:57] Naveenaidu commented on #5232
@ishanSrt Can we conclude that `ShowAppliedPatches` is a necessary option but it doesn't work? And if that's the case @Makman2 I would like to be assigned to this issue :smile:

[2018-03-04 17:02] ishanSrt commented on #5232
why do you say it doesn't work

[2018-03-04 17:04] Naveenaidu commented on #5232
It doesn't show all the previous patches applied until that point. All it shows is the patch for the current set of lines.

[2018-03-04 17:28] nityeshaga commented on #5233
Actually @Naveenaidu this is a difficulty/medium issue. I am afraid that you might not be qualified to solve them yet. :sweat_smile:

[2018-03-04 17:32] Naveenaidu commented on #5233
I would like to give it a try :smile

[2018-03-04 18:15] Makman2 commented on #4952
Reassigning due to inactivity.

[2018-03-04 19:23] nityeshaga commented on #5233
Also, can you please do this? I still think that the issue needs some discussion before we proceed to find its solution.

[2018-03-04 19:51] karansingh1559 opened #5239 "Vi is not added to the list of editors"
Coala does not recognise vi as an editor, although it does recognise vim and nvim.
Vi needs to be added to the list of editors in [OpenEditorAction.py](https://github.com/coala/coala/blob/master/coalib/results/result_actions/OpenEditorAction.py)
This is what happens when you try to open a file with vi:

Please enter a value for the parameter 'editor' (The editor to open the file with.): vi

The ed

[2018-03-04 19:52] karansingh1559 commented on #5239
@Makman2 If this is a valid issue, please assign this to me :D

[2018-03-04 22:03] Vedarth commented on #3650
@Makman2 This issue is also related to the GSoC project that I am interested in. Can you please assign it to me, as this has been inactive for a long time. I would love to work on it.

[2018-03-05 03:41] RaiVaibhav commented on #3864
@Siddhartha1234 still working?

[2018-03-05 03:46] RaiVaibhav commented on #5177
@Makman2 why this issue still open, in our travis file and requirement setup tool already set to version>=21

[2018-03-05 05:11] ishanSrt commented on #4459
@Makman2 how can i view documentation of coala in command line? Do you mean just opening those particular files?

[2018-03-05 08:48] RaiVaibhav commented on #5239
Add Atom also in `gui`

[2018-03-05 09:28] nalinbhardwaj commented on #4952
@sangamcse : yes, feel free to take this one, sorry about squatting on it for a long while.

However IIRC this was dependent on #4967 getting merged into a release. It _does_ appear that [0.12.0.dev20180101025653](https://pypi.python.org/pypi/coala/0.12.0.dev20180101025653) has the features so you'll need to upgrade everything to dev.

Also, to ease your work a bit, here's an old list(accurate on

[2018-03-05 09:52] RaiVaibhav commented on #1709
@Makman2  @sils @Adrianzatreanu, I would like to work on this, If I am correct then to recreate a error I have to create a  `.coafile` which consist
[code]

and A create a bear `Errorbear` and I have to integrate it locally for testing, and after that I have to raise `SystemExit ` instead of `AssertionError` if setting is not there and print a small message that `setting not provided`or something

[2018-03-05 12:25] Naveenaidu commented on #5233
@nityeshaga  Sorry It took me time. I had exams :sweat_smile:

The output as you requested. I executed each one seperately by exiting coala after selecting each option.

--> The sample output when `(S)how Patch`  is selected

[code]
--> The sample output when `Show Applied (P)atches` is selected

[code]

[2018-03-05 14:13] Vedarth commented on #3885
@Makman2 I would like to take up this issue. Related to a issue which I am already working on :wink:

[2018-03-05 15:39] sangamcse commented on #4952
@nalinbhardwaj, Thank you for helping me with this. :smile:

[2018-03-05 17:35] nityeshaga commented on #5233
Its strange why coala shows

when you select `Show Applied (P)atches`.

It should show something like `All actions have been applied.`

[2018-03-05 17:56] karansingh1559 commented on #5239
@RaiVaibhav atom is already there :)

[2018-03-06 13:17] Naveenaidu commented on #5233
@nityeshaga Why do you think it's happening that way?

[2018-03-06 16:50] nityeshaga commented on #5233
That's for you to find out :wink: Run the debugger maybe.

Also be sure to get yourself assigned to this issue before you start working on it!

[2018-03-06 18:32] nvzard commented on #4400
@Makman2 do I have to wait for the next release and then bump coala version in `requirements.txt` of coala-bears and modify tests accordingly OR is there any other way around?

[2018-03-06 21:42] Makman2 commented on #5212
Solved inside the Read the Docs settings.

[2018-03-06 21:42] #5212 closed

[2018-03-07 01:47] Naveenaidu commented on #3650
@Makman2 Can i please be assigned to this issue.

[2018-03-07 10:04] Naveenaidu commented on #5233
@nityeshaga Sure! I'll find the reason. And thank you for letting me take this issue :smile:

[2018-03-07 13:15] Naveenaidu opened #5241 "No need for SpaceConsistencyBear to run if PEP8Bear is also passed into the bears argument"
PEP8Bear also takes into consideration of `Trailing Whitespaces` just as `SpaceConsistencyBear` does. So it automatically fixes the patch. And because of that when `SpaceConsistencyBear` starts running from the process queue it does show that there are errors, but shows no option for the user to `Apply a Patch` since that patch was already applied by the PEP8Bear. This might create confusion among

[2018-03-07 13:37] Naveenaidu commented on #5241
Please Correct me if i am wrong,The bears get the original file ,not the file where the changes are being made? ,So When the process queue started `PEP8Bear` it  made changes/applied patches to the diff file/virtual file stored on the memory rather than the original file. And when it was the turn of `SpaceConsistencyBear` to start, It was passed the original file and since the `Trailing Whitespace

[2018-03-07 17:09] Naveenaidu opened #5242 "Undesirable output when Vulture Bear is used"
When i use `VultureBear` along with any other bear the output we get is as:-
[code]

The output of the `Vulture Bear` is getting merged into other bears. And also the output of the Vulture Bear gets shown without any interaction of the user.

IMO we should provide a option to the user ,which gives him the freedom to view the result from Vulture Bear whenever he wants.
The desired output IMHO shoul

[2018-03-07 17:20] Naveenaidu commented on #5242
But the problem here is, How are we going to pass a custom action to output. This is somewhat like https://github.com/coala/coala/issues/3650 .

Or else is there any way in which we can add a action into the action list only for the Vulture Bear. Is it feasible to add specific action like `Show VultureBear Output` to the `cli_actions` present in the `ConsoleInteraction.py` and keep it in the `acti

[2018-03-07 19:28] palash25 commented on #4584
Hey @Makman2 I have been reading a lot of code (especially your commits) related to the Nextgen-core so I would like to take this up once this is unblocked to get a deeper understanding of the core.

[2018-03-08 11:37] Naveenaidu commented on #5190
@ishanSrt  Sorry but shouldn't this issue be closed now.

[2018-03-09 04:46] palash25 opened #5244 "Add notepadqq to known editors"
[notepadqq](https://notepadqq.com/wp/) is the linux variant of notepad++

`OpenEditorAction.py` doesn't have notepadqq in its known list of gui editors it would be nice to have it.

[2018-03-09 06:39] Naveenaidu commented on #5244
@Makman2  Can i please be assigned to this issue. :smile:

[2018-03-09 07:08] aramadsanar commented on #5239
Hi @karansingh1559, can you assign this to me? I would like to work on this issue :)

Thanks

[2018-03-09 07:10] jayvdb commented on #5239
why cant you use `vim` ?

`vi` is a different editor.

[2018-03-09 07:10] Naveenaidu commented on #5239
@aramadsanar Only maintainers can assign issues. Please ask @Makman2 to assign the issue to you. :')

[2018-03-09 07:12] sangamcse commented on #5239
@jayvdb, I feel that `vi` should also be an option.

[2018-03-09 07:13] aramadsanar commented on #5219
@Makman2 is this issue assigned already?

[2018-03-09 07:18] Naveenaidu commented on #5219
@aramadsanar I don't think so. :'). You can actually get to know if anyone is assigned to a issue or not  by seeing the `assignee` section in the issue page.

[2018-03-09 07:24] aramadsanar commented on #5219
yeah, but this issue passed thru the no:asignee filter :/

[2018-03-09 10:08] jayvdb commented on #3650
I suggest you both try some smaller issues before tackling something like this.

[2018-03-09 10:34] Naveenaidu opened #5245 "Typo in the docstring of `modify_line()` in Diff.py"
One of the example inside the docstring of `modify_line()` in `Diff.py` shows wrong output.

Original line:-
[code]

The example that needs to be changed:-
[code]

[2018-03-09 10:34] jayvdb opened #5246 "packaging version conflict"
The master build on Travis is failing for 9 days with an error on various versions of Python

[code]
https://travis-ci.org/coala/coala/builds/347475123

[code]
https://travis-ci.org/coala/coala/jobs/351030728

caused by https://github.com/coala/coala/issues/4325

you can not *ever* pin `setuptools` or `packaging` or anything of those packages which are 'almost' stdlib.

[2018-03-09 10:34] Naveenaidu commented on #5245
@jayvdb @Makman2  Can i please be assigned to this issue :')

[2018-03-09 10:38] Naveenaidu commented on #5245
Sorry @gitmate-bot it's not a duplicate issue. :stuck_out_tongue:

[2018-03-09 10:43] jayvdb commented on #5246
PR was https://github.com/coala/coala/pull/4326

Adding a dependency on `packaging` is IMO a very, very bad idea due to the way it, and `setuptools`, and friends are maintained.

e.g. `distutils.version.LooseVersion` should be sufficient, and is part of stdlib.

[2018-03-09 11:11] Naveenaidu commented on #5219
That means this issue is unassigned. Drop a message here to either @jayvdb  or @Makman2  and then also ping them on the gitter channel.

[2018-03-09 14:59] ishanSrt commented on #1709
Unable to recreate this error

[2018-03-09 21:31] palash25 commented on #5136
@Makman2 with reference to the `cache-compression` what I gather from your description is that we need to know whether compression would be a good idea before implementing it (i.e. projects requiring large disk space will need to cahce their results) for this we can have a small piece of code to determine the size of the repository and only initialize the compression if the repo is above a minimum

[2018-03-09 21:43] palash25 commented on #5136
I am also curious about `import/export cache` will this be a separate module for e.g.  something like`CacheTransfer.py`which will make get and post requests to different CI servers like Travis and Circle using their respective APIs and the `requests` library?

[2018-03-09 21:43] palash25 commented on #5136
Import and export cache seems like a cool feature.

[2018-03-09 21:45] palash25 commented on #5136
I think this issue can be a part of the caching/performance optimization project.

[2018-03-10 00:38] aramadsanar commented on #5219
@Makman2 please assign this issue to me please please please 😄

[2018-03-10 03:36] manankalra opened #5248 "Writing Linter Bears.rst: Contents of RESULT_SEVERITY are ambigous"
Under https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html#using-severities, it is mentioned that there are three severity levels: `INFO`, `NORMAL` & `MAJOR`.

At the end of the same section it says:

The above line is misleading as the contents of `coalib.results.RESULT_SEVERITY` has the prior types of severities. This redundancy should be removed or changed to a rather clear expla

[2018-03-10 03:36] #4968 closed

[2018-03-10 05:58] #5246 closed

[2018-03-10 06:28] #5207 closed

[2018-03-10 07:04] peterennis opened #5249 "cOALA - Intentional or Typo?"
![capture246](https://user-images.githubusercontent.com/140737/37239316-35c8a9c0-23ee-11e8-8d92-72e99d3de580.png)

[2018-03-10 07:25] #5236 closed

[2018-03-10 08:12] #3832 closed

[2018-03-10 08:20] manankalra commented on #4120
@Makman2
I have a few questions:
- A user will need to override `process_output` if the output of the linter being used isn't one of {`regex`, `corrected`, or `unified-diff`}, right? For example: in case of JSON output. So, when will the need of overriding {`process_output_regex`, `process_output_corrected` or `process_output_unified_diff` will arise?
What I understood is - providing `output_forma

[2018-03-10 10:42] jayvdb opened #5250 "Remove clang related code"
After https://github.com/coala/coala/issues/5027 , there shouldnt have been any llvm,clang stuff in this repo, but there is ... cc @Makman2

Remove clang stuff

[code]

If these tests are not already in coala-bears, they should be copied there.

Also there are a few bugs raised about clang.  They need to be opened as new issues in the coala-bears repo.

[2018-03-10 10:46] manankalra opened #5251 "Linter.py: correction in process_diff docstring"
docstring of the `process_diff` function defines the parameter `diff` as *An instance of ``coalib.results.Diff`` object containing...*.
Either the word *object* should be removed or it should be replaced with the word *class*.

[2018-03-10 10:49] #4888 closed

[2018-03-10 17:26] jayvdb commented on #5009
no; belongs in https://gitlab.com/coala/package_manager/ , if it is still needed.

[2018-03-10 17:26] #5009 closed

[2018-03-10 17:26] Makman2 commented on #5136
It's that we don't compress files, but binary data which might not have much redundancy (actually it's also files, but this shall change, explaining below). If data has no redundancy compression is too ineffective and maintaining compression features would be useless.

No no no :) It's just that I want to be able to do `coala --export-cache coacache.cache` (the same for importing) to have a reliab

[2018-03-10 17:54] Makman2 commented on #4999
I finally found a good solution to this, without having code outside of the core complicating the setup of bears by treating files and directories differently. This is how it could work:
1. Our file-dict can be adjusted to work like this:
   Files don't have a trailing slash, directories do. As directories are no files, we can employ two possible meanings: The value is either `None`, meaning "no-c

[2018-03-11 04:51] shubhamivane commented on #5245
I would like to work on it.

[2018-03-11 15:33] Makman2 commented on #4348
Also required: Proper deprecation of bears and old API (see https://github.com/coala/coala/issues/4004).

[2018-03-11 15:33] Makman2 commented on #4004
I guess this is part of properly doing the integration, mentioned it on the relevant issue again.

[2018-03-11 15:33] #4004 closed

[2018-03-11 15:40] Makman2 commented on #5245
Actually I can't see your piece of text inside `Diff.py` :O Also it's doc-tested, so some invalid output would actually lead to a test fail and wouldn't be able to get merged (as long as our CI works properly, but I believe it does here ;) ).
I'm quite sure it's right as it is, in case I've missed something, please comment and reopen :)

[2018-03-11 15:40] #5245 closed

[2018-03-11 15:41] Makman2 commented on #5250
Those tests are just using those names, but they don't require the actual libclang-package. I also stumbled upon those, but they are safe to keep.
@jayvdb you want to change those so it's not misleading?

[2018-03-11 15:43] Makman2 commented on #5239
I feel that too :+1:

[2018-03-11 15:45] Makman2 commented on #3650
Agreeing with @jayvdb, this should be designed out properly, and can be part of gsoc itself.

[2018-03-11 15:47] Makman2 commented on #1709
Highly probable that we fixed it during the last 2 years. If somebody still encounters this with the latest master, please comment.

[2018-03-11 15:47] #1709 closed

[2018-03-11 15:48] Makman2 commented on #5244
@Naveenaidu this one is too easy for you, you already had some newcomer issues ;)

[2018-03-11 15:50] Makman2 commented on #4584
You can actually already start. There's already plenty to document, and I would open new issues after that one to document specific changes still to be done.

[2018-03-11 15:53] Makman2 commented on #5242
I don't understand what this has to do with actions. It seems that the output is intermixed with output from other bears, actions won't solve that problem. As far as I understand this is a duplicate of https://github.com/coala/coala/issues/462 .

[2018-03-11 15:56] Makman2 commented on #4400
You can point the requirements to a commit hash. So once this is merged on coala's side, you change `coala~=0.12` to some git-link-like thing. I don't know the exact syntax right now, but you can google it up :+1:

[2018-03-11 16:00] Makman2 commented on #3885
I do, I tried several times writing bears where it was a pain to aggregate changes between two lines before applying them to the diff. (sorry for the late response, I missed it :/)

About wrapping current functions: Yes maybe we have to do this for the sake of compatibility. Can be designed out properly though (maybe by writing a new version of the diff-class newer bears can use?).

[2018-03-11 16:01] Makman2 commented on #3885
@Vedarth please properly design it, not so easy to integrate into our ecosystem :+1:

[2018-03-11 16:03] Makman2 commented on #4459
I meant all flags that show some sort of human-readable information (for example `--show-bears`). It's not about the API documentation :)

[2018-03-11 16:04] Makman2 commented on #5177
But not inside our 0.11 release (branch: `release/0.11`). So everybody trying to install latest stable version (which is 0.11), he can't install coala.

[2018-03-11 16:04] Makman2 commented on #3864
Reassigning due to inactivity.

[2018-03-11 16:17] Makman2 commented on #4552
Unassigning due to inactivity.

[2018-03-11 16:18] Makman2 commented on #5251
Yeah good point, I would say we just say "A Diff object containing...", that's the shortest variant ;)

[2018-03-11 16:30] Naveenaidu commented on #5242
@Makman2 VultureBear prints of the output without even asked for. I mean if we pass two bears say `VultureBear` and `SpaceConsistencyBear` and execute coala then `VultureBear` automatically prints out the output without asking for a input from the user. IMHO I think the user needs to be given an option to view the output from `VultureBear` whenever he wishes to.
But if this is a desired output of

[2018-03-11 16:36] Makman2 commented on #5242
I mean if you specify multiple bears, you will be prompted results one by one.

[2018-03-11 16:37] Makman2 commented on #5249
Intentional, because coala is written always with a lower-case "c" ;D However I agree that it's arguable and looks a bit weird ;)

[2018-03-11 16:37] Naveenaidu commented on #5242
But don't you think the user needs to be given an option to view the result from the vulture bear whenever he wishes to?.

[2018-03-11 16:39] Makman2 commented on #5242
I mean the result is just an overview, having something like
[code]
is counter-productive and annoying for the user imo^^

[2018-03-11 16:41] sangamcse commented on #5249
I think it is more eye catcher. It's good actually until you are a grammar teacher. 😉

[2018-03-11 16:41] nvzard commented on #5249
What If we do this? https://prnt.sc/ipqad7
all in lowercase?

[2018-03-11 16:41] Naveenaidu commented on #5242
So do you think, it's a invalid issue?

[2018-03-11 16:42] Makman2 commented on #5249
Not a bad idea :+1:

[2018-03-11 16:44] nvzard commented on #5249
Yeah, I thinks this https://prnt.sc/ipqaz5 is looking pretty neat ;)

[2018-03-11 16:44] Makman2 commented on #5242
Yes :)

[2018-03-11 16:44] #5242 closed

[2018-03-11 16:46] Makman2 commented on #5248
If possible let's rather avoid the sentence if it fits :+1:

[2018-03-11 16:46] luqmanulkhair commented on #5251
I would like to work on the issue.

[2018-03-11 16:47] Naveenaidu commented on #5245
@makman2 Please have a look at https://github.com/coala/coala/blob/master/coalib/results/Diff.py#L505 .
Please let me know if it's a mistake?

[2018-03-11 16:51] Makman2 opened #5254 "`Ctrl+Z` command to terminate the program not working in Windows"
Migrated from https://github.com/coala/coala-bears/issues/1612

[2018-03-11 17:06] Makman2 commented on #5245
That's what it's referring to, and that's why it looks a bit weird seeing only the latter `modify_line` without looking at the previous one :)

[2018-03-11 17:08] manankalra commented on #5248
@Makman2 Yeah, removing the whole sentence makes more sense as this info is already mentioned when the concerned section begins.

[2018-03-11 17:11] RaiVaibhav commented on #1709
@Makman2 Yes It may be a chance that It get fixed but, what if someone don't give any input to through command line( just pressed enter) then [.coafile will be like something this](https://pastebin.com/W38StbVb) . There have to be some `error` like `no setting provided`  and system exit, doesn't `fail_acquire_settings` have to be called there to check.?

[2018-03-11 17:13] Makman2 commented on #5241
Yes. Inside a single section all bears operate in parallel on the original file data.

I think not quite, I believe it's due to `is_applicable()` inside the `ApplyPatchAction`. It sees there's already a patch applied, and the same patch from the `SpaceConsistencyBear` produces a conflict then, so the option isn't offered.

That's a quite bigger problem. Aspects shall solve that, however they are f

[2018-03-11 17:13] Naveenaidu commented on #5245
:O Now i get it. Sorry for opening an issue. I will be careful from next time.

[2018-03-11 17:21] palash25 commented on #2541
This might be possible with the following approach:

[code]
We use this function to generate a dictionary containing all the file paths, the sub directory paths and the hashes corresponding to the files. We will then use the dictionaries generated by this function on every coala run to see whether the files/directories have changed in the function `compare_dicts()`

[code]
This function will provi

[2018-03-11 17:26] Makman2 commented on #1709
I mean if you can't reproduce the bug should be gone, shouldn't it? :smile:
In case you think there's a bug, try to reproduce it and write your report here if you think it's the same issue. If not, open a new issue :)

[2018-03-11 17:26] Naveenaidu commented on #5241
But why do you think adding a if/else condition is a big problem. Sorry, if this question is stupid, i am new to coala and it'll still take me some time to understand it's working properly  :\

[2018-03-11 17:29] Makman2 commented on #5241
[   3] def·test(a1,·b1="",·c1="",·a2):·
**** SpaceConsistencyBear [Section: cli | Severity: NORMAL] ****
!    ! SpaceConsistencyBear and PEP8Bear have same outputs

This is not possible. Bears work independently from each other.

You would have to hardcode that for each bear combination.
1. Impossible to maintain
2. Highly inconsistent, as you can write custom bears. How to make things consistent

[2018-03-11 17:33] Naveenaidu commented on #5241
Sorry, It completely slipped of my mind. That was a stupid question to ask though 😅 .
Now, I understand the reasons. I think it's a wont fix then. Please label the issue as `won't fix`.

[2018-03-11 17:38] #5241 closed

[2018-03-11 17:55] adtac commented on #2541
I think there is a lot of redundant code here - have you checked out our current caching/globbing implementation? We already compute the list of changed files. Not through hashes, though; we use the OS's modification time attribute: `os.path.getmtime`).

If you were going for a very high-level picture, this looks fine :) But the devil is in the details -- implementing this will require a careful d

[2018-03-11 18:54] adtac commented on #5206
I swear there was another issue related to this from a long time ago (I introduced the bug, I should know). I tried searching and I can't find it. Guess this is the one now :D

[2018-03-11 19:41] palash25 commented on #2541
I was actually giving a generic solution to the problem just to know if I got the idea or not. I've started reading the files mentioned. I'll let you know when I come up with a solution that fits well with the current architecture.

[2018-03-11 20:14] palash25 commented on #3917
@Nosferatul we only use `yield_once` 6 times in coalib in `Importers.py`, `Collectors.py` and `Globbing.py` can you give an example how this might be slowing performance?

[2018-03-11 21:10] adtac commented on #2541
@palash25 you may want to talk to @Siddhartha1234 - he had a lot of great ideas for this in his GSoC proposal from last year IIRC.

[2018-03-11 22:06] guilherme-p commented on #5244
Can I have this one?

[2018-03-11 23:48] guilherme-p commented on #5254
Can I get this one @Makman2?

[2018-03-12 05:35] jayvdb commented on #5254
Please finish https://github.com/coala/coalaCSS/pull/31 first, then you can take this one.

[2018-03-12 06:53] Vedarth commented on #3885
@Makman2 So I will need to write a new version of `diff` class, according to https://github.com/coala/coala/issues/3885#issuecomment-372126115 From my understanding we need to make `diff` remember the changes i.e. use `Diff.modified`, which it already has. So it means I will just need to supply `modified diff` instead of original file in all the methods? That is all I think I need to do. Am I thin

[2018-03-12 20:32] Nosferatul commented on #3917
I used a program to check what functions might slow performance but maybe it was a mistake

[2018-03-12 23:20] Makman2 commented on #3885
No that's not what the issue is about. Please read it again^^

[2018-03-12 23:30] Makman2 commented on #5244
See https://github.com/coala/coala/issues/5254#issuecomment-372198406

[2018-03-13 06:42] Vedarth commented on #3885
I got that from this. Anyways, in plain and simple language, we need to make diff refer to the latest modified file instead of original file when making changes. But we will also need to handle conflicts when doing that.
Also in https://github.com/coala/coala/issues/3885#issuecomment-286068295 you said insertion will become line 2 that means we will need the modified file. How else can I make diff

[2018-03-13 07:15] palash25 commented on #4584
Hey @Makman2 do you want me to make new rst fiiles in the docs/Developers folder for this or the coala/documentation repo because I already see some documentation about this on https://api.coala.io/en/latest/coalib.core.html#module-coalib.core.Core

[2018-03-13 11:04] palash25 commented on #2891
I have a different opinion I think `show_bears` and `print_bears` belong in this file. If anything that needs to be taken out of this file it is the formatting and styling functions `color_letter`, `format_lines` and `highlight_text`. Maybe they can be moved to something like `ConsoleStyling.py` and then that can be imported to `ConsoleInteraction.py` to be used in its functions.

I think this wil

[2018-03-13 11:26] palash25 commented on #2302
the `fnmatch` mentioned in this thread is outdated. It now looks like this
[code]
But it still is ambiguous. It can return `True` for bath a match and also no matches if no globs are provided.

[2018-03-13 11:28] palash25 commented on #2302
Could be easily solved by removing the if statement. But would this break anything (I'm guessing this is the reason that it hasn't been done already)?

ping @Makman2

[2018-03-13 13:53] Zimm commented on #5244
@Makman2  Can you assign this issue to me?

[2018-03-13 14:00] guilherme-p commented on #5244
I did @Makman2 and fixed it yesterday

[2018-03-13 14:01] guilherme-p commented on #5254
Done @jayvdb @Makman2

[2018-03-13 14:11] Zimm commented on #5244
@guilherme-p Ah, sorry.

[2018-03-13 15:42] palash25 commented on #3530
@Makman2 if FileProxy is going to be used to cache contents of the file I think we should also add the last modified timestamp (using `os.path.getmtime`) as a property of the FileProxy so that it can be used for caching purposes.
I looked into the cEP and it doesn't mention timestamp as a property.

[2018-03-13 15:46] palash25 commented on #2455
Can you please give a use case for this setting?

[2018-03-13 16:39] palash25 commented on #3655
@impmihai still working on this? If not then I would like to take this up as this might be related to a GSoC project that I'm preparing for. This will help me get a better understanding of Globbing.

[2018-03-13 17:19] palash25 commented on #2302
I looked into the codebase and found the following 4 instances of  `fnmatch()`:
- `autoapply_actions()` in `Processing.py`
- `check_result_ignore()` in `Processing.py`
- `icollect()` in `Collectors.py`
- `collect_files()` in `Collectors.py`

By just looking at the code I don't think they would break if the `globs` argument is empty and we don't return anything.

[2018-03-13 17:34] palash25 commented on #1145
Should be closed as it is a duplicate of #2455

[2018-03-13 18:23] virresh commented on #5155
@Makman2
I am interested in this one.
I have the following idea for this:
We can indeed extend the GitCommitBear and extract issue number and keyword from the issue link.
We can use the GitHub Api v3 to get labels from the issue number, and we can then process them accordingly. (like this one : https://api.github.com/repos/coala/coala/issues/5155/labels )

The only point I feel will be a little me

[2018-03-13 19:31] palash25 commented on #4127
@anubhabsen still working on this? would like to take this up if you are not working on this

[2018-03-13 22:54] Makman2 commented on #4584
The API docs are auto-generated from the docstrings, those are already up-to-date. This issue is about a separate document in the docs/Developers folder describing all features, so it should serve as an entry-point for external readers :+1:

[2018-03-13 22:55] Makman2 commented on #4584
And it can especially highlight some (or maybe all) key differences from the current, old core

[2018-03-13 22:57] Makman2 commented on #3885
Yes correct :)

Sorry not explaining further, I was a bit tired then :3 I probably haven't understood you completely too^^

[2018-03-13 23:00] Makman2 commented on #1145
It is already closed :)

[2018-03-14 13:03] anctartica commented on #2019
@traff I am developer at coala and interested in this project to develop plugin that is able to support coala as well as mypy and pylint integration.
So, the community is looking for a general way on writing a static code analysis plugin?
I have started looking into the plugins development process for the JetBrains IDE and will be able to draft a proposal in a day or two.

[2018-03-14 15:24] Vedarth commented on #3885
@Makman2 I will submit a pr :smile:

[2018-03-14 15:28] Vedarth commented on #1021
@satwikkansal worked on https://github.com/coala/coala/issues/3650 which is related to this issue. Can I use his approach to solve this issue? I think it can be solved that way.

[2018-03-14 19:56] palash25 commented on #5188
@Makman2 would like to work on this once it is unblocked

[2018-03-14 20:05] palash25 commented on #5188
although I'm not sure if it would work for nested dicts :confused:

[2018-03-14 20:54] Makman2 commented on #1021
Yeah, however this might be quite hard. Also note that we might want to implement the mentioned action system as part of this GSoC 2018.

[2018-03-14 21:12] palash25 commented on #5188
@Makman2 from what I can gather from the `generate_tasks()` method is that the task objects are tuples of a tuple of args and a dict of kwargs . Tuples preserve order so there won't be any problem hashing them the current method is sufficient for that. However in case of the kwargs dict since the order is not preserved maybe we can change the dict to a frozenset`frozenset(dict.items())` (assuming

[2018-03-14 21:15] palash25 commented on #5188
I am having trouble visualizing the task objects can you give me an example of one?

[2018-03-14 22:22] Makman2 commented on #5188
But how do you intend to pass kwargs with a non-mapping type? And even if our task's args and kwargs wouldn't be dicts, they could themselves contain dicts. And even if you use `frozenset`, the order isn't preserved across machines, and also not guaranteed to be preserved across coala runs :)

[2018-03-14 22:30] Makman2 commented on #5155
The only problem is that this functionality might be too coala-related, and thus not belonging into our generic `GitCommitBear`.

In our coala projects we require full links in our coafiles. However, it could be maybe a separate issue to implement a setting for the hoster, like `hoster="GitHub"` or `hoster="GitLab"`, that completes all needed info. That should integrate quite well into the current

[2018-03-14 22:33] Makman2 commented on #3530
Exactly what I had in mind. This will significantly speed up the caching system. And yeah the cEP doesn't mention it, but it wasn't written with NextGen-Core in mind :)

[2018-03-14 22:36] Makman2 commented on #5244
Please don't start to work on issues without assignments, apparently you haven't completed the other issue. Also this one is another `difficulty/newcomer` issue, and we try to encourage people to move to `difficulty/low` ones after they have solved a beginner issue.

[2018-03-14 22:41] Makman2 commented on #3917
Yeah I also remember that it was quite slow because it was involved in our file processing. `yield_once` is anyway slightly special, if it makes sense to remove it, we should rather avoid it :+1:

[2018-03-14 22:43] Makman2 commented on #2891
Hmm not sure if it's really worth to fix that now, we don't gain something from that really. @palash25 if you think it's worth to do it, feel free to start. If not, I would actually close thise issue ;)

[2018-03-14 22:53] Makman2 commented on #3655
Unassigning due to inactivity.

@palash25 I think you've enough issues in your queue, please process some before you take up new issues :+1: :smile:

[2018-03-14 23:30] satwikkansal commented on #3650
Unassigning myself due to inactivity :sweat_smile: If anyone is interested in taking this up for GSoC, the code and discussions on the PR https://github.com/coala/coala/pull/4112 might be helpful.

[2018-03-15 04:17] palash25 commented on #5188
I wasn't sure about the structure of kwargs and args.

This makes it even more difficult since now they could be nested dicts.

[2018-03-15 04:53] Vedarth commented on #3650
@satwikkansal thanks for your help. It is very useful.

[2018-03-15 04:58] Vedarth commented on #1021
@Makman2 I am trying to use it for improve diff handling project of GSoC.

[2018-03-15 05:26] Vedarth commented on #1021
As it has been almost solved by a pr I suppose we can start working on it right now, I have gone through the discussions and codebase too many times now and I believe I can implement it, also it will help me in preparing the proposal too. Also I had a doubt too, how do you suppose we should implement it for multiple bears. Someone mentioned that we are planning on creating multiple patches for mul

[2018-03-15 05:37] Vedarth commented on #1021
Don't you think after implementing modified-file coordinated system it will become easier to implement this? I was planning to modify @satwikkansal after implementing modified-file coordinated system.

[2018-03-15 11:21] virresh commented on #5155
Yeah, so what I realised while making an HgCommitBear is that both Hg and Git bears resembled each other closely. At jayvdb's suggestion, I realised we can actually make a new _CommitBear and inherit GitCommitBear and HgCommitBear to avoid code duplication.
On the same lines, we can again inherit from the _CommitBear and make an IssueReferenceBear which would do the required functionality.
Like we

[2018-03-15 14:15] zxiiro commented on #5157
Any ideas when this will happen?

[2018-03-15 14:20] nityeshaga opened #5260 "The `apply()` of DoNothingAction is not called in `ask_for_action_and_apply()`"
The function `ask_for_action_and_apply()` just returns if the action chosen by the user is Do (N)othing.
[code]
Sure, it is conceptually the same as it would be if the `apply()` of `DoNothingAction` was called but IMHO its a bit weird and inconsistent that we don't try to `apply()` the `DoNothingAction`.

[2018-03-15 14:20] nityeshaga commented on #5260
Can I work on this issue?

[2018-03-15 19:35] palash25 commented on #3530
@Makman2 I had a question about the `__hash__()` function in the proposed `FileProxy` for what purpose do we need a hash of the file. For caching currently we use modification timestamps of files using `os.path.gettime`. If its not for caching what is it for then?

[2018-03-15 19:39] sangamcse commented on #3544
<img width="862" alt="screen shot 2018-03-16 at 12 54 00 am" src="https://user-images.githubusercontent.com/26381717/37486773-7e8a9940-28b5-11e8-952a-fa909d64b601.png">
<img width="572" alt="screen shot 2018-03-16 at 1 00 25 am" src="https://user-images.githubusercontent.com/26381717/37486776-7f2c532a-28b5-11e8-9d36-00425c7b41c3.png">
I used these 2 terminal on High Sierra but there is no highligh

[2018-03-15 20:44] #4458 closed

[2018-03-15 21:05] Makman2 commented on #3530
We actually don't need it for our purposes, but it still might be useful to implement the method. For our caching specifically what's important is to override pickling. The FileProxy is a persistent object and has to be treated carefully to make everything work properly.

[2018-03-15 21:08] Makman2 commented on #5188
`pickle` has to do something similar to pickle special objects, you can likely get some inspiration from there :+1:

[2018-03-15 21:11] Makman2 commented on #3544
So everything is working again @sangamcse ?

[2018-03-15 21:12] Makman2 commented on #5155
Okay inheritance sounds like a good option in case our existing bears have much in common. :+1.

[2018-03-15 21:15] sangamcse commented on #3544
On my system i.e, OSx 10.13.4 High Sierra, yes it is working as it should. As you can see the screenshots.

[2018-03-15 21:16] Makman2 commented on #3544
If someone has still problems on latest macOS, please comment :smile:

[2018-03-15 21:16] #3544 closed

[2018-03-15 21:20] Makman2 commented on #4999
Unassigning due to inactivity.

[2018-03-15 21:24] sangamcse commented on #3565
These too is working fine on my system. Tried [1](https://github.com/coala/coala/issues/3565#issuecomment-274596789) and [2](https://github.com/coala/coala/issues/3565#issuecomment-274307019) both.
cc @Makman2, @HitRam @jayvdb
Same as https://github.com/coala/coala/issues/3544#issuecomment-373498446

[2018-03-15 21:34] sangamcse commented on #3565
[code]
I used these on all my 10 terminals. It seems fine to me. 😄

[2018-03-15 22:34] SergeyGorbatyuk171 commented on #5248
Hello! I am a newcomer and I would like to proceed with this issue. As I understand, the goal is just to refactor the source .rst file by removing a sentence stated above. If I am right, please, assign this issue to me, if I am not, then explain it please a bit more :)

[2018-03-16 08:26] refactormyself commented on #5248
Hello, please assign this issue to me.

[2018-03-16 10:03] RaiVaibhav commented on #5248
IMO removing the line and adding 2-3 line explanation will be best for newcomer to understand it.

[2018-03-17 01:53] refactormyself commented on #5248
@RaiVaibhav Please, can you assign this issue to me?

[2018-03-17 03:49] li-boxuan opened #5263 "Writing_Documentation.rst: reStructuredText link is not working"
The reStructuredText guide link (http://www.sphinx-doc.org/en/latest/rest.html) is not working. Change it to http://www.sphinx-doc.org/en/master/rest.html maybe.

(ref: https://github.com/coala/coala/blob/master/docs/Developers/Writing_Documentation.rst)

[2018-03-17 12:30] SergeyGorbatyuk171 commented on #5248
@refactormyself, dude, there are quite enough other issues, I spent some time trying to find issue that nobody's going to take (in comments), why don't you do the same, as I asked to assign it to me first? =)

[2018-03-17 12:33] RaiVaibhav commented on #5248
I can't assign anyone one maintainer can
and @SergeyGorbatyuk171  and @refactormyself  it's rule that the person who asked first and active then he will get assigned.

[2018-03-17 13:52] refactormyself commented on #5244
@Makman2  I guess this issue is still unassigned, can I have it please.

[2018-03-17 15:01] Makman2 commented on #3565
If someone encounters it again, feel free to comment.

[2018-03-17 15:01] #3565 closed

[2018-03-17 16:03] #5251 closed

[2018-03-17 19:05] lalitmee commented on #5263
@Makman2 I can solve this issue. Please assign me to this. :innocent:

[2018-03-17 19:16] Makman2 commented on #5260
Agree, sounds weird.

[2018-03-17 19:17] Makman2 commented on #5157
Ping @Mixih ;)

[2018-03-17 19:17] Makman2 commented on #5157
@zxiiro however, if you like, you can get the `release/0.12` branch which will be equal to the coming release :+1: Then you are up-to-date :)

[2018-03-17 19:26] lalitmee commented on #5250
I was going through the code in the mentioned files and I found the code related to **clang**. Do we need to remove those related codes from these files?

[2018-03-17 19:35] Makman2 commented on #5250
I think if you just change those names to something else that's more clear, everyone's happy here ;)

[2018-03-17 19:39] lalitmee commented on #5250
@Makman2 you mean something that can clearly describe the meaning of those and why are those there in the file? Correct me if I am wrong. :innocent:

[2018-03-17 19:43] Makman2 commented on #5250
Yes.

[2018-03-17 20:40] lalitmee commented on #5250
Hey @Makman2 , `libclang-py3` is referring to a package of clang. I searched in the listed issue [#5027](https://github.com/coala/coala/issues/5027) and found that this package is moved to **coala-bears**. So I think I can give any meaningful name there instead of this package name and its not going to effect anything in the tests.