[2017-08-07 15:43] troublemagnet commented on #4597
![screen](https://user-images.githubusercontent.com/28952053/29034181-154abd96-7bb5-11e7-9beb-62fde2b02b8e.png)

This is what I'm confused about. Why are the strings different for both of us?

[2017-08-07 15:45] underyx commented on #4559
I don't think I like that approach to the problem. Working with bears would be way more difficult for everyone involved than working with a list of disallowed patterns.

[2017-08-08 14:09] Makman2 commented on #4597
Probably different versions of coala:
[code]

[2017-08-08 16:35] Nosferatul opened #4628 "Add Do (N)othing Action"

[2017-08-08 18:45] troublemagnet commented on #4597
Omg yes the different versions caused the confusion. :) The screenshot that you attached had the usage of --filter-by too and I wouldn't get. So all this time I was thinking that I did't get the usage string right!
Now I get it though, it's just I wanted to know the priority, because I've a few assignments from college too. Is it fine if I do it this weekend?

[2017-08-08 19:24] shreyans800755 commented on #4597
@troublemagnet
This should be very small change. This weekend is fine.
But if this issue remains inactive for long, you might be unassigned by one of the maintainers (just FYI) .

[2017-08-08 19:45] shreyans800755 commented on #4494
@Makman2
I still don't get the purpose behind removing `@filter` annotaion. Is it bad to have annotation ?

[2017-08-08 22:36] Makman2 commented on #4494
- 1 line extra code for each new filter
- makes the functions not usable by anything else than the `FilterHelper` (as `@filter` totally changes the function signature)
- as @meetmangukiya mentioned, `filter` is a built-in name we shouldn't shadow
- the logic will be removed once nextgen comes (still takes a while, but less work to do by me once the time has come ;) )

[2017-08-09 20:13] co-robo opened #4631 "Bug DocumentationAPI string literals."
The end of string literal is taken as the start of new docstring.
The probable fix is to ignore whole DocComment.
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=598b6cf8a7b406262d730dbb)

[2017-08-10 14:24] troublemagnet commented on #4597
You can review now :)

[2017-08-10 16:04] damngamerz commented on #4548
we can't fix this by expanding `indent`( with markers), as at some point I have to integrate it into the `assemble()`. Which will break all other test cases as `assemble()` is the only thing which makes sure that the markers are perfect(as markers amending is done in `assemble`). And by expanding the `indent`(with markers), we will be introducing faulty markers into `assemble()`.

Right now what I

[2017-08-11 06:53] NiklasMM commented on #4548
I'm not sure I understand.

Your idea was to have an additional set that defines the indentation of each marker: `marker_indentation = [1, 2, 1]` for example, right?

If you read them during extraction and apply them again during `assemble` what would go wrong?

[2017-08-11 10:16] Nosferatul commented on #4618
so i couldn't find evidence that `--no-color` doesn't work after my pr (on master). This is http://imgur.com/bw47yCo . On the left side `coala` is running on the master branch and on the right side, coala for users. http://imgur.com/XVe9yJI -> lxterminal for a user that uses `coala`. The color problem was before my prs.

[2017-08-11 11:11] damngamerz commented on #4548
Indeed, this was the solution we discussed.
Now what will probably go wrong is....
We assemble markers at the end i.e. in `assemble()`. Which takes care of perfect markers being assembled. Now by applying the solution we will be introducing faulty markers. This will fix the corner case, but the whole picture will get disturbed. And we wont be able to fix those faulty markers(as its been amended at

[2017-08-11 12:01] sils opened #4635 "coala crashes when running it on Windows (TEST ISSUE, IGNORE IT)"
Something with permissions... it just crashes, man!

(Information for others, we're staging this for a demo right now ;) this issue will be gone soon, we just needed high issue numbers)

[2017-08-11 12:12] fneu commented on #4635
Hey! I'm sorry you experienced a crash. Could you please send me the traceback, the command you ran, and your configuration?

[2017-08-11 12:21] sils commented on #4635
Hi @fneu ,

sorry got caught up in other stuff, you know how this happens...

Here's the traceback when I run `coala --files test.pl --bears=PerlCriticBear` without any additional configuration:

[code]

Although it's a similar error to #2911 as suggested by @gitmate-bot, the workarounds posted on that one don't seem to help in my case.

[2017-08-11 12:37] Nosferatul commented on #4619
I couldn't find the arrows. http://imgur.com/8jHMSpW on the right is `coala` for users and on the left coala for developers. I can't find the arrows in the code either in the output. I'll close this, if you want to open it, please provide an screenshot with the arrows in the output.

[2017-08-11 12:37] #4619 closed

[2017-08-11 14:27] ConradManstein opened #4636 "coala crashes when running it on Windows"
Something with permissions... it just crashes, man!

[2017-08-11 14:33] fneu commented on #4636
Hey! I'm sorry you experienced a crash. Could you please send me the traceback, the command you ran, and your configuration?

[2017-08-11 14:44] ConradManstein commented on #4636
Hi @fneu,

sorry got caught up in other stuff, you know how this happens...

Here's the traceback when I run `coala --files test.pl --bears=PerlCriticBear` without any additional configuration:

[code]

Although it's a similar error to #2911 as suggested by @gitmate-bot, the workarounds posted on that one don't seem to help in my case.

[2017-08-11 14:48] fneu commented on #4636
Hey @ConradManstein ,

Thanks for the added info. I'll have a look at this issue today.

[2017-08-11 15:26] #4596 closed

[2017-08-13 09:12] #4631 closed

[2017-08-13 19:44] #4597 closed

[2017-08-14 16:52] #4618 closed

[2017-08-14 17:14] #4623 closed

[2017-08-14 17:46] #4628 closed

[2017-08-16 17:13] jayvdb commented on #4396
Another one at https://travis-ci.org/coala/coala/jobs/265237733#L747 , with a `KeyboardInterrupt` thrown in to make things even more confusing.

[2017-08-16 17:30] jayvdb opened #4642 "Missing language key causes AttributeError instead of KeyError"
A `__getitem__` should always raise `KeyError` if the key is not found.  This doesnt happen for `Language`.

[code]

[2017-08-16 17:54] jayvdb commented on #4396
And another : https://travis-ci.org/jayvdb/coala/jobs/265255685#L728

[2017-08-16 18:45] jayvdb commented on #4511
ping @userzimmermann , did you have any other adjustments to the taste configuration beyond what is in the cEP, that we should consider?
Or can this be closed?  (#4609 covers adding another file format, which could provide a more organised layout of config)

[2017-08-16 19:15] satwikkansal commented on #2775
Fixed with https://github.com/coala/coala/pull/4622

[2017-08-16 19:17] satwikkansal commented on #2775
I combined few of desired changes for https://github.com/coala/coala/issues/4621 (very minor) along with the fix for this issue in #4622

[2017-08-17 02:24] SanketDG opened #4644 "MalformedComment: line -> line number"
in the docstring of `__init__`

[2017-08-17 08:37] aasiya13 commented on #4644
how can i fix this. need more detail..

[2017-08-17 10:11] Nosferatul commented on #4644
MalformedComment is a class in `DocumentationComment.py` file. please check it out and do the necessary changes.

[2017-08-17 10:55] aasiya13 commented on #4644
i'm sorry. i'm really new to open source. please help me with what changes to do.

[2017-08-17 14:29] #4548 closed

[2017-08-17 16:00] SanketDG commented on #4644
@aasiya13 Assuming you have found the `__init()__` method of `MalformedComment`, you need to change the description of `param line` in the docstring

[2017-08-17 16:02] snakevenom04 commented on #4491
@userzimmermann Not sure if I completely understand what you want but here is what I gathered.
" ' text " should print ' text without escape sequence right ?
which is basically what python does right ?

[2017-08-17 16:26] RJ722 commented on #4644
@aasiya13 You need to change the word `line` to `line_number` appearing here: https://github.com/coala/coala/blob/0f8158322cc2bedc14967ea8d3d03bfad908f659/coalib/bearlib/languages/documentation/DocumentationComment.py#L299-L312

If you need any help regarding git, github workflow hop onto the gitter channel. :)

[2017-08-17 16:32] snakevenom04 commented on #4491
Referring to this : "allow_? the other mark to avoid escaping, with always forcing the preferred_quotation as default, or should it be default to allow the other mark for avoiding escaping and add some force_quotation or force_escaping taste for completely banning the other quotation mark"
Wont the first option be more flexible ? what I understand from this is that the second option will bind the

[2017-08-18 15:34] co-robo opened #4645 "DocstyleDefinition.py: Align docstring"
Align `__init__` docstring.
difficulty/newcomer
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=599708f3614889d47560e298)

[2017-08-19 20:13] stellargo opened #4648 "Hyperlinks not visible"
The hyperlinks of the notes boxes at "http://api.coala.io/en/latest/Developers/Newcomers_Guide.html" have very low visibility. It is hard to distinguish from regular text. Although this doesn't seem to be a browser related, still the screenshot was taken on "Google Chrome Version 59.0.3071.115 (Official Build) (64-bit)".
![coala](https://user-images.githubusercontent.com/27735438/29489893-ef80fef2

[2017-08-19 21:58] #4635 closed

[2017-08-19 23:25] shreyans800755 commented on #4432
@Makman2 @meetmangukiya
Apparently these discussion took another direction of how to display only selected bears, in contrast to main discussion stated in the heading of the issue (adding show-settings option). So, I'm filing a new issue to take care of displaying only selected bears.

[2017-08-19 23:27] co-robo opened #4651 "Add CLI to print only selected bears given in args"
Opened by @shreyans800755 at [gitter/coala/coala](https://gitter.im/coala/coala?at=5998c94ca7b406262da83962)

[2017-08-19 23:27] shreyans800755 commented on #4651
CC @Makman2 @meetmangukiya

[2017-08-19 23:32] co-robo opened #4652 "Update coala help - Use `filter-by language` instead of `--filter-by-language` in examples"
`--filter-by-language` is deprecated in favor of the more universal `--filter-by` flag. The old flags needs to be changed in the code examples on all help pages.

Opened by @shreyans800755 at [gitter/coala/coala](https://gitter.im/coala/coala?at=5998ca7e80d90ca02418cee9)

EDIT by @Makman2:
Added a little description.

[2017-08-19 23:33] shreyans800755 commented on #4652
`$ coala --show-bears --filter-by-language C Python` -> `$ coala --show-bears --filter-by language C Python`
because `--filter-by-language` is deprecated

[2017-08-19 23:33] shreyans800755 commented on #4652
CC @Makman2
Please mark it as newcomer.

[2017-08-20 09:10] SanketDG commented on #4648
This is how it appears in mine

![screenshot from 2017-08-20 14-38-52](https://user-images.githubusercontent.com/8980971/29493509-79503e2e-85b5-11e7-99a9-85ba22dcd5da.png)

Version 60.0.3112.90 (Official Build) (64-bit)

[2017-08-21 09:48] Nosferatul opened #4653 "Rename DoNothinActionTest.py"

[2017-08-21 10:15] #4653 closed

[2017-08-21 17:38] Makman2 commented on #4648
Looks the same for me like @SanketDG 's example.

[2017-08-21 18:05] pancha13 commented on #4652
I'm new  to open source. please help me to understand this issue.

[2017-08-21 18:12] Makman2 commented on #4652
@pancha13 I've updated the title and main description of the issue :+1:

[2017-08-21 22:38] aryanshar commented on #4097
If this issue still not resolved, I would like to take it up as i think i can fix it.

[2017-08-22 08:57] #3065 closed

[2017-08-22 08:57] #4642 closed

[2017-08-22 12:24] #4518 closed

[2017-08-22 16:02] Dumidu921 commented on #4652
thanks @Makman2 .. Please help to find where is that?? which file?

[2017-08-22 16:23] Nosferatul commented on #4652
should be in `ConfigurationGathering.py`

[2017-08-22 16:36] Dumidu921 commented on #4652
@Nosferatul
        local_bears = filter_section_bears_by_languages...... is found instead to "filter-by language"

[2017-08-22 16:40] Nosferatul commented on #4652
sorry, coalib/parsing/DefaultArgParser.py

[2017-08-22 17:08] #4602 closed

[2017-08-22 17:10] Dumidu921 commented on #4652
@Nosferatul  found it. thanks...

[2017-08-22 18:03] Dumidu921 commented on #4652
I have run the test and it gives this  result.
================== 113 failed, 734 passed in 166.77 seconds ===================

[2017-08-22 20:54] shreyans800755 commented on #4652
@Dumidu921
Changes shouldn't break any of the tests. See if you're running it in proper environment. Make sure most of the tests pass before you make changes. (Some tests may fail depending on modules available on your local and also OS that you're running on)

However, you're stuck, feel free to push the changes and we can help you then.

[2017-08-22 20:55] Nosferatul commented on #4652
install `requirements.txt` and `test-requirements.txt` with `pip3 install -r requirements.txt` use venv http://api.coala.io/en/latest/Developers/Development_Setup.html

[2017-08-22 23:35] aryanshar commented on #4097
Please assign me this issue and if possible, guide me how can i fix this issue (I am new to open source) !

[2017-08-23 06:42] Dumidu921 commented on #4652
I already push the changes.

[2017-08-23 07:14] Nosferatul commented on #4097
you need to add an `.editorconfig` file that matches the example from  http://editorconfig.org/

[2017-08-23 09:12] #4563 closed

[2017-08-23 11:30] adhikasp opened #4656 "Throw warning if coala doesn't found bear that could fullfill an aspect"
For example,  if coala only have bear that support aspectA, but users want to run aspectA and aspectB, we should warn user that coala doesn't run some of their requested aspect.

area/aspects

[2017-08-23 12:44] Makman2 commented on #4652
Btw: To not miss something, you can do `git grep "--filter-by-language"` so you can see all occurrences that appear in help files.

[2017-08-23 14:37] prashant0598 commented on #4648
![capture](https://user-images.githubusercontent.com/24618078/29621435-534e8466-883e-11e7-98c4-374943df0cf7.PNG)
It looks perfect in Google Chrome Version 60.0.3112.101 (Official Build) (64-bit)

[2017-08-23 14:51] #4656 closed

[2017-08-23 16:33] Makman2 commented on #4648
Though interesting, it seems to look slightly different between Chrome and Firefox. Maybe it's really something internal of those browsers regarding text rendering (e.g. anti-aliasing maybe)? Version 60.xxx of @prashant0598 looks for me a bit better than your 59.xxx @stellargo.

[2017-08-23 16:35] Makman2 commented on #4648
However we should maybe consider changing the style of links anyway.

[2017-08-23 16:36] Makman2 commented on #4648
@stellargo do you have maybe Firefox installed? Then you could test that this might be a browser issue :+1:

[2017-08-23 16:42] stellargo commented on #4648
@Makman2
Here is a screenshot taken on Safari Version 10.0 (11602.1.50.0.10)
![safari_coala](https://user-images.githubusercontent.com/27735438/29627444-bb6c3988-884f-11e7-99d7-3a6637babc04.png)
And here is one taken on Firefox 55.0.2 (64-bit)
![firefox_coala](https://user-images.githubusercontent.com/27735438/29627567-17c35aa4-8850-11e7-91ad-06ba39711a56.png)

[2017-08-23 16:44] stellargo commented on #4648
@Makman2 due to minor differences even I believe it could be some internal browser issue.
Just for the sake of clarity changing style of links would be a good idea.

[2017-08-23 16:54] Makman2 commented on #4648
I would suggest using a dotted-underline for links, like here:

![](https://i.stack.imgur.com/W9WPi.png)

Copied from [stackoverflow](https://stackoverflow.com/questions/40777825/extra-dot-for-css-dotted-underline).

@stellargo you think that would fit? :)

[2017-08-23 17:00] stellargo commented on #4648
Yeah, I mean the one already present is very inconspicuous. Your example seems to have dots with more distinction

[2017-08-23 17:06] Makman2 commented on #4648
Oh indeed I haven't seen the existing ones at all :O So yeah let's make them bigger :+1:

[2017-08-23 17:07] prashant0598 commented on #4648
@Makman2 so how should I do it

[2017-08-23 17:27] Makman2 commented on #4648
Dig somewhere in our layout files for documentation that defines the style for hyprerlinks. I don't know the exact location^^

[2017-08-24 05:18] adhikasp opened #4661 "Create decorator to map bear's setting with aspect/taste"
[code]

The `run` argument will be overrided by aspect's setting (only if it present). This make bear's aspectization much more easy.

[2017-08-24 05:35] adhikasp opened #4663 "Bug: Trying to get a defined aspect return not found error"
See https://ci.appveyor.com/project/coala/coala/build/1.0.9684/job/j9nn5u6ruta52x0e#L246

I was thinking something went wrong in my local machine, but apparently that is not the case.

`Root.Formatting.Length.LineLength` is a valid aspect and running `get('Root.Formatting.Length.LineLength')` is fine. Trying to run only those specific unit test is fine, but running `pytest` make it fail.

[2017-08-24 06:11] adhikasp commented on #4663
Other CI fails too https://travis-ci.org/coala/coala/jobs/267849037. Note that I circumvent this bugs by using 2 aspect from the same module `Redundancy.py` instead of `Redundancy.py` and `Formatting.py`.

[2017-08-24 07:05] aasiya13 commented on #4644
yes

On Wed, Aug 23, 2017 at 7:35 PM, gurpreetsingh00885 <
notifications@github.com> wrote:

[2017-08-24 10:58] adhikasp opened #4665 "Write aspect documentation"
- [ ] Writing aspect bear
- [ ] Writing `.coafile` in aspect mode

[2017-08-24 12:19] adhikasp commented on #4665
Writing the user docs would require at least one of following bear to be aspectized to provide an example

- LineLengthBear
- KeywordBear
- SpaceConsistencyBear
- PEP8Bear

[2017-08-24 15:04] gurpreetsingh00885 commented on #4454
@jayvdb I wanna fix this one. Can you help me out on how to do this?

[2017-08-24 18:34] gurpreetsingh00885 commented on #4454
"The suitability of the other Result constructor parameters should be evaluated on a case-by-case basis, but they should all be made available at once, so the order of the parameters is similar."

How do I do that @jayvdb ?

[2017-08-24 20:22] gurpreetsingh00885 commented on #4454
@jayvdb please review #4667

[2017-08-24 20:56] aryanshar commented on #4428
Hi @charul97 , I see you've got conflicts while rebasing.you have to keep only certain blocks of code in the conflict region
marked within >>>> and <<<<
after resolving the conflicts.. you have to git add those files
and run git rebase --continue

[2017-08-24 21:03] charul97 commented on #4428
Currently like I have made many commits accidentally where some are worth and some are not :(
So should I remove the unnecessary commits that i made and squash the ones which are worth?

[2017-08-24 21:13] aryanshar commented on #4428
Hey @charul97 just squash locally and force push to your earlier branch from which you opened the PR
it will automatically reflect in the existing PR

[2017-08-24 21:15] charul97 commented on #4428
okay :)

[2017-08-24 22:01] shreyans800755 opened #4668 "Output message in json if args.json is true and no bears to show"
Following ~~https://github.com/coala/coala/pull/4650~~ https://github.com/coala/coala/pull/4726.

With above PR, `--filter-by` option is enabled for json and format entrypoints of coala. But when there are no bears to show, following message is shown even if `json` flag given in the command:
[code]

Update the message to be in proper format according to args given in the command - json or format o

[2017-08-24 22:27] Makman2 commented on #4668
Maybe we just put no message at all into the empty Json list?

[2017-08-24 22:47] shreyans800755 commented on #4668
Should be good. What about `--format` ?

[2017-08-25 11:22] shreyans800755 commented on #4652
@Dumidu921

Add link to this issue in the commit message to make it easily traceable from here.

[2017-08-25 11:29] shreyans800755 commented on #4497
@ayush1999 Are you still working on this ?
If not, I can take it over. I think its better to close this asap as it is affecting public API for filtering bears.

[2017-08-25 15:34] adhikasp opened #4669 "List of aspect needed to migrate (some) of coala-bear"
This is a non-complete list of missing aspect that is required to aspectized those bears. This could be resolved in multiple PR that ideally each one will be followed by aspectization of relevant bears.

The bears listed below is taken from coala's `.coafile` ~~with the intention that coala repository will became test subject~~ assumed to be widely used.

- [x] coalaBear
- [ ] LineLengthBear
  - (

[2017-08-25 17:52] Makman2 opened #4671 "Result docstring: Enclose code object in double backticks"
At https://github.com/coala/coala/blob/master/coalib/results/Result.py#L72-L73 :
[code]
Enclose `SourceRange` in double-backticks:
[code]

[2017-08-25 17:59] Makman2 opened #4672 "Result docstring: Improve help for `contents` parameter"
Currently it states:
[code]
The reason for the existence of this parameter should be actually described: It's about sending additional data (arbitrary python objects) to the dependent bear besides a message. This data has to be picklable.

[2017-08-25 18:21] Makman2 commented on #4668
hm maybe also no output? As it's some "systematic" output usually for other executables

[2017-08-25 18:51] RJ722 opened #4673 "support ignoring whole directories"
Currently, `ignore` in `.coafile` takes in glob patterns as input, but it does not ignore whole directory.

For example:
`.coafile` looks like this:

[code]

and there is no need of test_files being a python package because it is not being loaded as a package, but `PythonPackageInitBear` would complain:
[code]

Even passing `ignore = ignore = tests/foo/test_files/` or `ignore = ignore = tests/foo/

[2017-08-25 18:52] RJ722 commented on #4673
CC @Makman2

[2017-08-26 00:38] Makman2 opened #4674 "CachingUtilities.pickle_load: Use single quotes for strings in docstring examples"

[2017-08-26 00:39] #3472 closed

[2017-08-26 07:37] #4567 closed

[2017-08-26 13:18] #4661 closed

[2017-08-26 17:02] #4599 closed

[2017-08-27 03:46] adhikasp commented on #4580
@jayvdb I am thinking of closing this because it's make UI not uniform with others case in coala. For example, if users don't specify other important setting like `files` or `bears`, coala just skip the section instead of asking user to fill it.

[2017-08-27 06:01] adhikasp opened #4680 "Improve constructing Result with aspect"
Attribute `additional_info` could be filled by `aspect` (if `aspect` passed into Result)

[2017-08-27 07:10] adhikasp opened #4681 "Decorator `map_setting_to_aspect` failing"
It fail when:
- Bear is decorated with it
- coala running those bear without aspect mode activated

See https://ci.appveyor.com/project/coala/coala-bears/build/1.0.7521/job/ugntfdp6cxb6rt17#L930

The decorator try to search `section.aspects` which doesn't get instanced because coala not running in aspect mode.

[2017-08-27 09:24] prashant0598 commented on #4648
@Makman2 @stellargo  Can you please direct me to the location wherever the change is required? Bcoz I could not find it in the repo.

[2017-08-27 12:18] #4580 closed

[2017-08-27 12:18] #4463 closed

[2017-08-27 12:18] #4681 closed

[2017-08-27 13:07] adhikasp opened #4682 "`section.aspect` attribute should have been `aspects`"
Add `s`.

[2017-08-27 16:01] adhikasp opened #4683 "Change setting aspect's taste syntax"
Currently setting an aspect's taste in coafile is using `aspectname.tastename` syntax. This is wrong because coala will parse it as `tastename` setting in `aspectname` section (see https://github.com/coala/coala/blob/master/coalib/parsing/LineParser.py#L32).

Change this syntax to `aspectname:tastename` instead.

[2017-08-27 16:48] #4680 closed

[2017-08-27 16:48] #4682 closed

[2017-08-27 16:48] #4683 closed

[2017-08-28 01:07] adhikasp opened #4686 "Bear that have `language` as `non_optional_params` failing"
See https://travis-ci.org/coala/coala-bears/jobs/268942128#L3901

[2017-08-28 02:42] #4686 closed

[2017-08-28 05:02] adhikasp opened #4688 "Many `Language` definitions missing default import"
See `coalib.bearlib.languages.__init__`

[2017-08-28 05:55] #4688 closed

[2017-08-28 08:44] adhikasp opened #4690 "`'python' in Language['python 3']` should return True"
Title say it all. It is surprising otherwise.

[2017-08-28 13:12] anmol-1602 commented on #4520
I would like to work on this issue

[2017-08-28 13:13] aastha980 commented on #4671
I would like to work on this issue

[2017-08-28 13:21] namish800 commented on #4671
On Mon, 28 Aug 2017 at 18:43, aastha980 <notifications@github.com> wrote:

Give me 2 days as my ubuntu crashed and now i am having problem installing
coala virtual environment

[2017-08-28 14:14] Makman2 commented on #4520
@Stropek still working on it?

[2017-08-28 14:36] Stropek commented on #4520
@Makman2 I'll wrap it up today.

[2017-08-28 17:13] #4454 closed

[2017-08-28 21:39] Makman2 commented on #4583
Still on it @ShadowSphynx ?

[2017-08-28 21:41] Makman2 opened #4694 "FilterHelper.apply_filters: Correct parameter reference in docstring"
Currently states:
[code]
`args` should be replaced with `filters`.

[2017-08-28 22:02] #4497 closed

[2017-08-28 22:37] #4520 closed

[2017-08-29 10:13] ShadowSphynx commented on #4583
No, @Makman2 I am not. I just wanted some help on documentation, since it was my first time working on any kind of issue like that. But couldn't find any...

[2017-08-29 13:59] Makman2 commented on #4583
If you generally need help with getting started feel free to ask on our [gitter channel](https://gitter.im/coala/coala) :) And reading our newcomer-guide is also a good start :+1:

[2017-08-29 15:03] #4674 closed

[2017-08-29 18:42] ShadowSphynx commented on #4583
I did ask for help. But got no response.

On Tue, Aug 29, 2017 at 7:29 PM, Mischa Krüger <notifications@github.com>
wrote:

[2017-08-29 20:10] haripalbaluja commented on #4428
I've made a PR regarding the issue.

[2017-08-29 21:54] Makman2 commented on #4583
I would recommend to just retry ;)

[2017-08-29 22:33] shreyans800755 commented on #4583
@ShadowSphynx May be your message was just missed. As makman2 said, please ask again. You can address it me or makman2 on gitter or here if you have any query regarding this issue so that its not missed again.

[2017-08-30 06:03] Asalle commented on #1869
Should I move `Globbing` and `Shell` to coala-utils (the one on gitlab)? `StringProcessing` is already there.

[2017-08-30 16:58] Makman2 commented on #1869
still needs discussion how and what components are moved, and maybe into a completely new package^^
I'm not sure what to do here^^ maybe you have some suggestions @Asalle ?

[2017-08-30 19:52] shreyans800755 commented on #4673
@RJ722 @Makman2
We can ignore whole directory like this:
[code]

It is used in coala project itself at https://github.com/coala/coala/blob/master/.coafile#L45.

But I think its nice to have it with single * (asterisk) at the end.

[2017-08-30 23:52] Makman2 commented on #4673
Does this also work for the case described above @RJ722 ?

[2017-08-30 23:53] Makman2 commented on #4673
I would say if someone wants to ignore the whole directory, I would also support doing
[code]

[2017-08-31 06:05] RJ722 commented on #4673
Hmm No, not working. :-(

[2017-08-31 16:49] co-robo opened #4695 "Add docsearch for api docs"
Opened by @meetmangukiya at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59a83e0019147ac323163413)

[2017-08-31 17:17] #4695 closed

[2017-08-31 23:03] Raman1121 commented on #4694
I would like to work on this issue. Please assign this to me. @Makman2

[2017-09-01 22:01] #4671 closed

[2017-09-02 02:46] yukiisbored commented on #4428
I don't think this is a good idea. We may break someone's global site-packages with this.

[2017-09-04 04:22] himankpathak commented on #4673
@RJ722 have you also tested the following changes as stated by Makman2 ?

[code]
Or should I test them?

[2017-09-04 05:49] Asalle commented on #1869
This depends on what do you want to achieve. Do you want to move all generic things out of coala to reuse in other projects? Why wouldn't we just leave `Globbing` and `Shell` as they are?

[2017-09-04 06:38] RJ722 commented on #4673
Yeah, tried it. Not working.

[2017-09-04 15:56] Makman2 commented on #4673
It was a suggestion for what we should support, it's not working yet @himankpathak

[2017-09-04 15:58] Makman2 commented on #1869
Those modules can maybe reused somewhere else, especially globbing could be interesting for others too. Those components rarely change in coala, and modularization is always good :+1:

[2017-09-04 15:59] Makman2 commented on #1869
But we don't use them anywhere else^^

[2017-09-04 16:38] himankpathak commented on #4673
@Makman2 oh okay, I will keep looking for a workaround.

[2017-09-04 17:37] cclauss opened #4700 "Three undefined names can raise NameError at runtime"
flake8 testing of https://github.com/coala/coala on Python 3.6.2

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2017-09-04 17:45] Makman2 commented on #4700
Nice, thanks for running that on our codebase. I can confirm those being actual problems:
- Undefined name `cm`: The test should declare `cm` via the `with` statement. This raises error currently, because as soon as the exception is raised, the `with`-block is exited. In fact the test is bad and tests nothing.
- Undefined name `BEAR_KIND`: Import is missing. However, it seems `kind()` is never use

[2017-09-04 17:59] Makman2 opened #4701 "coalaTest: unsupported-python-version-tests do not test"
Affects test cases
- `test_python_version_27`
- `test_python_version_33`

[code]
It seems that `assert_supported_version` is throwing the exception as expected, and that exits the `with`-expression. The assertion is never executed.

[2017-09-04 18:01] Makman2 opened #4702 "DecoratorsTest: Undefined name `BEAR_KIND`"
Invoking `RunDecoratedBear.kind()` raises a `NameError` due to `BEAR_KIND` not being imported. However, `RunDecoratedBear.kind()` is unused in test.

[2017-09-04 18:01] Makman2 commented on #4702
@adhikasp, is `kind()` actually necessary?

[2017-09-04 18:02] Makman2 commented on #4700
I've split up the issue into smaller ones:
- https://github.com/coala/coala/issues/4701
- https://github.com/coala/coala/issues/4702

[2017-09-04 18:02] #4700 closed

[2017-09-04 18:57] #4701 closed

[2017-09-05 01:28] adhikasp commented on #4702
I am using `bear.executed()` method in tests, and that requiring the `kind` method to be implemented. If there is better way to implement that then I guess the `kind` could be removed.

[2017-09-05 06:13] Asalle commented on #1869
ok, in such case we could move them out and use them as a dependency to coala
I can try and see how's going :)
btw, why do you use gitlab for coala-utils?

[2017-09-05 13:07] atultherajput commented on #4652
Is this issue still open? If yes, then I would like work on it.

[2017-09-05 13:17] Makman2 commented on #4702
Does using `LocalBear` work?

[2017-09-05 13:18] Makman2 commented on #1869
GitLabs features match more our workflow, so we started hosting some repos there. However, migrating coala completely is some heavy task, so we haven't done this yet, it's not worth the effort right now ;)

[2017-09-05 13:19] Makman2 commented on #4652
@Dumidu921 still working on this?

[2017-09-07 08:44] vaibhavgarg11 commented on #3956
Why is this still open ?

[2017-09-07 08:45] vaibhavgarg11 commented on #4137
Is this issue resolve or still open ?

[2017-09-07 08:48] girishramnani commented on #4137
It is resolved

[2017-09-07 13:45] Makman2 commented on #3956
Because you have submitted a PR against your fork, not our main repo :+1:

[2017-09-07 14:01] Makman2 commented on #4137
Assigned @aryanshar as he has an open PR right now, but it's not merged yet.

[2017-09-07 15:00] stellargo opened #4706 "Coala link redirects to the incorrect page."
There is a link on the Coala website home page (https://coala.io/#/home) "Need more powerful analysis? Check the available bears!" where check should lead to "https://coala.io/#/languages" but instead redirects back to the home page again.
Chrome Version 60.0.3112.113 (Official Build) (64-bit)
![coala](https://user-images.githubusercontent.com/27735438/30169913-488a4d52-940b-11e7-9f4b-2199f7bbded4

[2017-09-07 15:51] stellargo commented on #4648
@Makman2 @prashant0598 Well my guess is the docs do contain the .rst file for the getting started page (Newcomers_Guide.rst) but what is being viewed on the website(CSS and HTML?) is not there in the repository. I may be wrong though.

[2017-09-07 20:57] nanspro commented on #3903
I would like to work on this issue if possible

[2017-09-08 04:40] singhpratyush opened #4707 "coala --ci fails on Travis"
Here is the output from `coala --ci` command -
[code]
<br/>
Links:

- [Coalafile](https://github.com/iiitv/algos/blob/master/.coafile)
- [Pull Request](https://github.com/iiitv/algos/pull/463/)
- [Build log](https://travis-ci.org/iiitv/algos/builds/273165947)
- [Travis Config](https://github.com/iiitv/algos/blob/master/.travis.yml)

[2017-09-08 09:42] nanspro commented on #3903
@yash-nisar

[2017-09-08 11:20] singhpratyush commented on #4707
Seems to be resolved somehow.

[2017-09-08 11:20] #4707 closed

[2017-09-08 19:30] dhumketu commented on #4706
I am a newcomer here. How can I take up this issue?

[2017-09-09 00:23] shreyans800755 commented on #4652
@atultherajput You can assign yourself now if you want to work on it.

[2017-09-09 10:03] #4137 closed

[2017-09-10 12:05] atultherajput commented on #4652
Yeah sure. But how to assign this?

[2017-09-10 12:28] stellargo opened #4708 "travis-ci installing incorrect version of setuptools"
The following error in travis-ci has been spotted in two recent pull requests https://github.com/coala/coala/pull/4650 and https://github.com/coala/coala/pull/4646 where even after specifying that setuptools 17 has to be installed, it goes on to install setuptools-35.0.2.
I tried this on my local environment which did not give any issue.
[code]

[2017-09-10 13:32] shreyans800755 commented on #4652
@atultherajput
On our https://gitter.im/coala/coala channel, enter `corobo assign https://github.com/coala/coala/issues/4652` and you should be assigned if you're member of the community. If not, please read http://coala.io/newcomer.

[2017-09-11 11:59] atultherajput commented on #4652
@shreyans800755
Please review this PR https://github.com/coala/coala/pull/4709

[2017-09-11 12:14] atultherajput opened #4710 "Update correct URL of "Get Involved" page in README file."
Currently "Get Involved" link is pointed to http://coala.io/#!/getinvolved in README.rst file and gets automatically redirected to https://coala.io/#/home . Therefore URL need to be updated and point to https://coala.io/#/getinvolved .

[2017-09-12 05:35] gabru-md commented on #4708
It happens because of the python environment using different paths.

[code]
will give you two different environment paths.

[2017-09-12 05:55] #4706 closed

[2017-09-12 16:20] sanketnavin commented on #4644
@aasiya13 are you still working on this issue, since there has been no update since 19 days

[2017-09-13 14:54] atultherajput commented on #4708
I am getting same error for this PR https://github.com/coala/coala/pull/4709

[2017-09-14 04:03] jayvdb commented on #3944
So this didnt happen, and some alternatives were improvised like using "gsoc: " in issue and pr titles.

A very quick assessment : there was very little chance that non-gsoc people helped the gsoc projects.  Maybe a few beginner tasks were done, but mostly the gsoc projects should not be including tasks that other people *might* do. So as Makman2 suggests, pre-assigning critical path tasks to the

[2017-09-14 04:03] #3944 closed

[2017-09-14 04:34] jayvdb commented on #975
This is mostly done iirc?

[2017-09-14 13:26] tulphoon commented on #975
Take a look here: https://github.com/coala/coala/pull/4608

[2017-09-14 18:11] sanketnavin commented on #4644
I would like to work on this issue. Can I get assigned to this?

[2017-09-15 08:10] vTNT opened #4716 "cannot install on ubuntu14.04 ?"
my os verison is ubuntu 14.04 run on docker 17.05
when i run: pip3 install coala-bears

it will have error:
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 2482, in _dep_map
    return self.__dep_map
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 2344, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInf

[2017-09-15 08:40] Makman2 commented on #4716
Do you have the old pip v1.x? You have to upgrade then ;)

[2017-09-15 17:14] aasiya13 commented on #4644
sure. i'm really busy at this moment

[2017-09-16 04:30] SanketDG commented on #4644
@sanketnavin read the [Newcomer's Guide](https://coala.io/newcomer) and you can just assign this to yourself

[2017-09-16 11:58] atultherajput commented on #4494
@S2606
Are you working on this issue? If not I would like too work on it.
CC: @Makman2

[2017-09-17 04:59] prakashdanish commented on #4716
Try creating a new virtualenv, check 'Installation Errors' from the [Installation guide](http://docs.coala.io/en/latest/Users/Install.html)

[2017-09-18 03:47] vTNT commented on #4716
@prakashdanish  virtuallenv  it can work   thanku

[2017-09-18 03:47] #4716 closed

[2017-09-18 21:20] Makman2 commented on #4494
Reassigning due to inactivity.

[2017-09-19 11:59] Anirudh257 commented on #4710
I can work on this.

[2017-09-20 17:17] gurpreetsingh00885 commented on #4690
Would you please care to explain a little?

[2017-09-20 20:56] fneu opened #4722 "test issue please ignore"
test issue please ignore

[2017-09-20 20:56] fneu commented on #4722
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-09-20 21:08] #4722 closed

[2017-09-20 21:08] fneu opened #4723 "test issue please ignore"
test

[2017-09-20 21:24] fneu commented on #4723
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-09-20 21:33] fneu commented on #4723
It seems that the automatic issue triaging was only recently enabled and we haven't scraped all data from this repository yet. It might take a little while to scrape another bit right now and we're also scraping more every day automatically.

**Sit tight!**

[2017-09-20 21:37] fneu commented on #4723
The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-09-20 21:40] fneu commented on #4723
It seems that the automatic issue triaging was only recently enabled and we haven't scraped all data from this repository yet. It might take a little while to scrape another bit right now and we're also scraping more every day automatically.

**Sit tight!**

[2017-09-20 21:43] fneu commented on #4723
The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-09-20 21:48] fneu commented on #4723
It seems that the automatic issue triaging was only recently enabled and we haven't scraped all data from this repository yet. It might take a little while to scrape another bit right now and we're also scraping more every day automatically.

**Sit tight!**

[2017-09-20 21:52] fneu commented on #4723
The contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-09-20 21:55] fneu commented on #4723
It seems that the automatic issue triaging was only recently enabled and we haven't scraped all data from this repository yet. It might take a little while to scrape another bit right now and we're also scraping more every day automatically.

**Sit tight!**

[2017-09-20 21:58] fneu commented on #4723
The contributors most likely able to help are:

@fneu

[2017-09-20 22:04] #4723 closed

[2017-09-21 09:56] refeed opened #4724 "Unable to collect Bear from X - Bear package names clash with bear's dependency module name"
Related to https://github.com/coala/coala/issues/2053

https://travis-ci.org/coala/coala-bears/jobs/276993965#L3832
[code]

This is what `sys.path` contains when `.ci/generate_bear_requirements.py` runs:
[code]

This happens because `sys.path` contains path to coala-bears packages, therefore the name of bear's dependency clash with package names in bears directory, such as `./bears/csv`.

When `Co

[2017-09-21 20:06] atultherajput commented on #4494
@shreyans800755 @Makman2
I am not sue what to do with @filter code as there is no FilterHelper class. Please guide for this patch.

[2017-09-23 08:44] shreyans800755 commented on #4494
@atultherajput
Have a look at https://github.com/coala/coala/issues/4494#issuecomment-320441279.
Another issue (closed now) has removed all the functions from `FilterHelper` class to module scope. So, the file `FilterHelper` is still there. You can move stuff to the same file.

[2017-09-23 13:47] #4636 closed

[2017-09-23 13:48] sils commented on #4636
this issue was made for a demo video and apparently forgotten :P

[2017-09-26 04:30] jayvdb commented on #4708
https://github.com/coala/coala/blob/master/.travis.yml#L1 - travis is not using sudo.
The problem is somewhere else.

[2017-09-26 14:38] sils opened #4727 "test aspect issue"
to test gitmate prod deployment, sorry

[2017-09-26 14:38] #4727 closed

[2017-09-26 20:06] shreyans800755 commented on #4708
@jayvdb I had this issue in a PR. https://github.com/coala/coala/pull/4726/commits/8f747b3ccb6c8acf201a1cc21ffb541c5190c5d0 commit resolved it. However, `-v -v -v` might not be required.
After some digging, I figured out that, python 2.7 and 3.5 are installed by default. In rest of the versions, `setuptools` was installed multiple time (36.3.0 and 36.0.1 as far as I can remember). But while instal

[2017-09-26 21:28] atultherajput commented on #4494
@shreyans800755
I had created a PR https://github.com/coala/coala/pull/4729 for this issue. I had moved code to `FilterHelper` but I didn't change function name. Please help on how to inline code to `FilterHelper.apply_filter`.

[2017-09-27 13:22] Makman2 commented on #4494
Just put the insides of the function directly into the places where it's used, that's what inlining code means :)

[2017-09-27 23:56] pulkonet commented on #4710
@atultherajput  is this still open?

[2017-09-27 23:59] pulkonet commented on #4485
@NiklasMM is this still open?

[2017-09-28 06:10] NiklasMM commented on #4485
No, the issue is assigned and there is an open pull request.

[2017-09-28 07:58] atultherajput commented on #4710
@pulkonet
No @IamRaviTejaG already submitted a patch for this issue with this PR https://github.com/coala/coala/pull/4718

[2017-09-29 22:08] #4708 closed

[2017-09-30 19:11] sils opened #4731 "coala constantly crashes on windows"
getting a permission error

(test issue to test gitmate issue triaging on coala)

[2017-09-30 19:25] sils commented on #4731
yayyy it works :)

[2017-09-30 19:25] #4731 closed

[2017-09-30 20:40] #4710 closed

[2017-10-01 17:22] Makman2 commented on #4702
ping @adhikasp :)

[2017-10-02 13:31] sumanthrao commented on #3357
I would like to work on this one.

[2017-10-02 23:33] jayvdb commented on #4605
The attribute name should be the same as used here : https://gitlab.com/coala/package_manager/issues/159

[2017-10-04 14:31] Makman2 commented on #4702
Task: Either try to use `LocalBear` for the test-bear, or just import `BEAR_KIND` properly :+1:

[2017-10-04 14:38] Makman2 commented on #4496
Okay let's just do it if nothing has something against it ;)

[2017-10-04 15:01] Makman2 commented on #4464
Can't reproduce in a docker environment. If problem still persists, feel free to reopen :)
(Maybe some virtualenv problem)

[2017-10-04 15:01] #4464 closed

[2017-10-04 15:38] co-robo opened #4733 "Correct the link pointing to "myfork" to Step-3 instead of Step-4"
Clicking on *is explained in step 4 of this guide* in Step-7 should be edited so as to point to Step-3 (the original position of first introduction of "myfork")
Opened by @prnvdixit at [gitter/coala/coala](https://gitter.im/coala/coala?at=59d50072b20c642429c17481)

[2017-10-04 18:34] newbazz commented on #3793
i would like to work on this

[2017-10-04 19:16] Makman2 commented on #3793
Reassigning due to inactivity.

[2017-10-04 19:17] Makman2 commented on #3793
@newbazz please look at our newcomer guides to get started here :)

[2017-10-04 19:30] newbazz commented on #3793
As i am new to this project can anyone tell me which file to start understanding the project with?

[2017-10-05 08:49] sims1253 opened #4735 "LocalBearTestHelper.execute_bear: Remove final return statement"
There is a yield in line 47 and a return in line 54. As long as the try block doesn't encounter an error, both are reached.

Sonarcube counts this as a breaking bug.

[2017-10-05 12:26] Makman2 commented on #4735
It's not a bug, but it's unnecessary, because:
1. returning values in a generator usually makes no sense, as the return value can't be catched (or I recall it's only possible in the occurring StopIteration when done iterating)
2. the `return` is placed at the end of the function

[2017-10-05 16:56] sims1253 commented on #4735
So is the return just not called if a yield is present?
If the return is called together with the yield that sounds like a mess coming your way.

[2017-10-07 10:34] yukiisbored opened #4736 "Test compatibility on *BSDs"
coala currently mainly tested and known to run on Linux, macOS, and Windows. It would be a good idea to test it on *BSDs (OpenBSD, FreeBSD, NetBSD, DragonFlyBSD, etc) as well to make sure coala is compatible with them.

List of known working BSDs:
- [ ] OpenBSD
- [ ] FreeBSD
- [ ] NetBSD
- [ ] DragonFlyBSD ( most likely will work if it works on FreeBSD )

[2017-10-07 10:34] yukiisbored commented on #4736
Testing it on OpenBSD.

Currently hitting a road block on coala-utils: https://gitlab.com/coala/coala-utils/issues/45

[2017-10-07 10:41] psinghal20 commented on #4735
Hi,
I would love to work on this issue if it is still unassigned and open.
From what I understood is in the case of an exception, the error is raised and message printed so the return statement is not required. Am I correct?

[2017-10-07 14:27] Makman2 commented on #4735
No it has nothing to do with exceptions (except this `StopIteration` thing). The `return` statement is just obsolete and can be removed. If you want to know why, you can read up on generators in python, specifically about the `yield` keword :)

[2017-10-07 22:03] krytarowski commented on #4736
I can try NetBSD/amd64.

[2017-10-08 02:14] krytarowski commented on #4736
I've packaged coala in pkgsrc / NetBSD, but I'm annoyed by the strict dependencies on libraries. I'm having different versions of libraries, e.g. `libclang-py3`: `3.4.0` vs `3.9.0`.

I stopped on:

`pkg_resources.DistributionNotFound: The 'termcolor~=1.1.0' distribution was not found and is required by PyPrint`

[code]

At least it builds including all the dependencies.

[2017-10-08 02:15] krytarowski commented on #4736
http://pkgsrc.se/wip/py-coala feel free to finish the package where I left it, once done I can import it to pkgsrc.

[2017-10-08 02:16] krytarowski commented on #4736
I had to use this patch locally:

[code]

[2017-10-08 02:18] yukiisbored commented on #4736
@krytarowski Can you try it without packaging it? Try installing it with pip, we recommend doing it inside a virtualenv so it doesn't break your sites-package.

[2017-10-08 02:18] yukiisbored commented on #4736
Also, thanks for trying out packaging it on pkgsrc.

[2017-10-08 02:24] yukiisbored commented on #4736
I'll investigate the setup.py issue once I get a NetBSD VM up and running~

[2017-10-08 02:25] krytarowski commented on #4736
[code]

[2017-10-08 04:37] yukiisbored commented on #4736
Yeah, we seriously should fix coala_utils. It shouldn't download pyreadline on anything other than Windows.

[2017-10-08 04:38] yukiisbored commented on #4736
Thanks a lot!

[2017-10-08 05:19] krytarowski commented on #4736
Once it will work and be packageable, I will be happy to push it from pkgsrc wip (work-in-progress) to pkgsrc.

[2017-10-08 12:42] #4735 closed

[2017-10-08 15:02] #4733 closed

[2017-10-08 22:14] CCInCharge commented on #4446
Started looking through this - I'll take this on if no one else is working on it

[2017-10-08 23:10] CCInCharge opened #4739 "Typo in Interactions.py docstring"
In coalib/output/Interactions.py, here is the function signature and the docstring:
[code]
The settings param should be settings_names_dict to match with the function definition.

[2017-10-08 23:54] Makman2 opened #4740 "Interactions.fail_acquire_settings: Deprecate parameter `section`"
`section` is unused and should be deprecated.

[2017-10-08 23:55] Makman2 commented on #4739
Oh and also description of `section` is missing.
Filed a separate issue for that: https://github.com/coala/coala/issues/4740

[2017-10-09 02:11] alphadose commented on #4740
Hello . May I take up this issue ?

[2017-10-09 05:23] Abhi-khandelwal commented on #4740
Hello  Can I work on this issue?

[2017-10-09 08:39] 15BCS047 commented on #4740
@alphadose @Abhi-khandelwal  go through [new commer guide](https://coala.io/newcomer), there its given how to get assign to any issus

[2017-10-09 14:38] RaiVaibhav commented on #3793
@newbazz  go through [new commer guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html)

[2017-10-09 15:00] #4739 closed

[2017-10-09 15:47] #4496 closed

[2017-10-09 16:46] tosalonijain opened #4742 "coala installation using miniconda in user's guide if nothing else works."
I myself was troubled deeply in course of installing coala in Ubuntu 14.04.None of the mentioned methods did work, yielding errors that claimed no up-gradation of pip possible from basic pip 1.5.4 to higher ones.
                        Some times it even demanded to uninstall present version of pip, which when met and the reinstallation being done with hopes to get the latest pip version with pyt

[2017-10-10 07:22] Abishek10 commented on #4583
@Makman2 I would like to work on it. Can you reassign it to me ?

[2017-10-10 12:02] Abishek10 commented on #4583
@ShadowSphynx Still working on it ?

[2017-10-10 12:18] alphadose commented on #4694
@Makman2 can I get re-assigned to this issue ?

[2017-10-10 15:05] Makman2 commented on #4694
Seems there's a PR and it was approved, I'm just merging it. So the issue in fact done :)

[2017-10-10 15:08] Makman2 commented on #4583
Reassigning due to inactivity.

[2017-10-11 13:13] Makman2 commented on #3502
Recently tested it, this is still valid.

[2017-10-11 19:13] newbazz commented on #3793
I am new to opensource can anyone guide me how to approach this problem?

[2017-10-14 14:41] newbazz commented on #3793
I think this issue has been fixed can anyone reproduce it?

[2017-10-14 15:15] newbazz commented on #4101
I would like to work on this issue if you are not working. @JohnS-01

[2017-10-14 15:58] newbazz commented on #4101
I think this issue has been fixed, can anyone reproduce it.

[2017-10-14 16:46] JohnS-01 commented on #4101
You can fix it.

________________________________
From: newbazz <notifications@github.com>
Sent: Saturday, October 14, 2017 10:58:19 AM
To: coala/coala
Cc: JohnS-01; Mention
Subject: Re: [coala/coala] Document arg_parser in ConfigurationGathering.py, load_configuration function (#4101)

I think this issue has been fixed, can anyone reproduce it.

—
You are receiving this because you were mentioned

[2017-10-14 17:48] newbazz commented on #4101
i think it has already been fixed.

[2017-10-14 18:00] newbazz commented on #4097
I would like to take this issue if it is not fixed yet.

[2017-10-14 19:54] nealkarpe commented on #3254
@Mariatta Since this issue has been inactive for quite some time, I was wondering if you could re-assign it to me?

[2017-10-14 20:34] Mariatta commented on #3254
For sure. Will assign to you.

[2017-10-14 20:57] nealkarpe commented on #3774
@Makman2 Hi! Since this issue has been inactive for quite some time, can I take it up?

[2017-10-14 21:04] nealkarpe commented on #3956
Hi! If possible, can I work on this?

[2017-10-14 22:53] acashmkj commented on #4095
@akash-kmr are you still working on this issue

[2017-10-15 00:21] khanchi97 opened #4748 "Useful Links : Add link for short tutorial of regex"

[2017-10-15 00:52] Makman2 commented on #3774
Haven't you already done a newcomer issue? ;)

[2017-10-15 00:54] Makman2 commented on #3774
Anyway, unassigning due to inactivity.

[2017-10-15 00:57] Makman2 commented on #3956
@nealkarpe you already have a PR submitted for a newcomer issue, please get some harder challenge (`difficulty/low`) :)

[2017-10-15 00:58] Makman2 commented on #3956
However, unassigning due to inactivity, @vaibhavgarg11 feel free to take the issue up again and submit your PR against the main repo, not your fork ;)

[2017-10-15 01:03] Makman2 commented on #3793
Yes it's reproducible:
1. Modify `SpaceConsistencyBear.py` in coala-bears to throw an exception at `run()`.
2. Install coala-bears again
3. Run `coala --no-config --files=<sample-file> --bears=SpaceConsistencyBear`

[2017-10-15 01:06] Makman2 commented on #4097
Unassigning due to closing the PR and inactivity.

[2017-10-15 01:09] Makman2 commented on #4101
@newbazz it's not fixed ;) PR was closed before merge ;)
@JohnS-01 you really don't want to retry it? ;)

[2017-10-15 01:11] Makman2 commented on #4095
I hope it's fine if I do that instead ;)

[2017-10-15 01:13] Makman2 commented on #4748
Just curious, where did you have encountered the need for `regex` in coala? :)
(I mean it's everywhere, however I for example thought about including that into the bear-writing-tutorials as there it's really essential)

[2017-10-15 05:08] khanchi97 commented on #4748
yeah, i have also encountered the need in bear-writing-tutorial, but when i was going through `Useful-Links` page i got a link for `issue tracker` if someone wants to add any useful-link and that link is pointing in `coala` repo .Is this issue should be in `coala-bears` repo.

[2017-10-15 05:11] khanchi97 commented on #4748
Okk we can also add this in bear-writing tutorials.

[2017-10-15 13:41] #3254 closed

[2017-10-15 15:44] rpanczer commented on #4748
Hi guys, mind if I get this one? I can search for a useful `regex ` tutorial and add it in. This is going in `coala` `Useful-Links`, right?

[2017-10-15 16:33] khanchi97 commented on #4748
I think it should be in both place in `useful-links` and in `writing-native-bears`. what do you say @Makman2

[2017-10-15 17:22] shahidikram0701 commented on #4188
Hello, Can I take this up?

[2017-10-15 21:27] Makman2 commented on #4748
Maybe this issue should be only for putting it into useful-links :+1: Let's file another issue if you like for putting something like that into the writing-native-bears guide :) That's easier for now

[2017-10-15 21:29] Makman2 commented on #4188
Reassigning due to inactivity.

[2017-10-15 21:43] rpanczer commented on #4748
@Makman2 Ok, sounds good.

[2017-10-16 04:57] khanchi97 opened #4753 "Writing-native-bears guide: Add link for short tutorial of regex"

[2017-10-16 08:02] mansiagarwal451 commented on #4644
I am new to open-source. I tried cobot assign but it didn't work. Is there someone working on this? If not, can I get assigned to this issue?

[2017-10-16 12:19] kartikeys98 commented on #4753
Can I work on this issue?

[2017-10-16 13:47] khanchi97 commented on #4753
sure and don't forget to use corobo to assign yourself to this issue.

[2017-10-16 14:00] JohnS-01 commented on #4101
No, I am busy right now and I still need to learn how to squash commits. So you can let someone else try or make a new ticket.

________________________________
From: Mischa Krüger <notifications@github.com>
Sent: Saturday, October 14, 2017 8:10:02 PM
To: coala/coala
Cc: JohnS-01; Mention
Subject: Re: [coala/coala] Document arg_parser in ConfigurationGathering.py, load_configuration function (#410

[2017-10-16 14:25] kartikeys98 commented on #4753
Does this look fine?

[2017-10-16 14:28] RaiVaibhav commented on #4753
@kartikeys98  first assign yourself to this issue by using corobo bot on on gitter platform

[2017-10-16 14:34] kartikeys98 commented on #4753
Done. Is it okay now?

[2017-10-16 14:42] khanchi97 opened #4755 "Remove Glossary from Writing_Tests and Add it to Testing_Bears"
As you can see that `Glossary` should be in [Testing_bears](http://api.coala.io/en/latest/Developers/Testing_Bears.html) page instead of [Writing_Bears](http://api.coala.io/en/latest/Developers/Writing_Tests.html)
page.

[2017-10-16 14:50] RaiVaibhav commented on #4753
@kartikeys98  you have to make a PR Pull request of the things you have committed,and also add a commit message in that,but first please refer to [new comer guide](https://coala.io/newcomer) you will get to know about many things there

[2017-10-16 16:00] SanketDG commented on #4644
@mansiagarwal451 you used `cobot`, you have to use `corobo`

[2017-10-16 16:33] #4601 closed

[2017-10-16 17:38] sonali0901 commented on #4755
Hello, I am a new contributor here and I'd like to fix this up. As per my understanding, updating docs/Developers/Writing_Tests.rst  and docs/Developers/Testing_Bears.rst should do the needful. Let me know if it'll work.

[2017-10-16 17:49] khanchi97 commented on #4755
Hello @sonali0901 you are right,now the only thing that you have to do is assign yourself to this issue using `corobo` and go for it :+1:

[2017-10-16 19:43] mansiagarwal451 commented on #4644
I tried `corobo assign coala/coala#4644` and got the following message:
`The issue is already assigned to someone. Please check if the assignee is still working on the issue, if not, you should ask for reassignment.`

[2017-10-16 19:47] aptrishu commented on #4644
Yeah it is already assigned to @aasiya13 , can you find another issue ?

[2017-10-16 19:47] aptrishu commented on #4644
Unassigned @aasiya13 due to inactivity.

[2017-10-16 19:55] acashmkj commented on #3902
@meetmangukiya I would like to work on this issue as it has been stagnant for a long time.

[2017-10-16 20:00] aptrishu commented on #3902
Hi @acashmkj , @Riyuzakii has already made a PR, I have asked him to update that. We'll assign you if he doesn't respond. Meanwhile, you can search for a different issue.

[2017-10-16 20:25] acashmkj commented on #3873
@yash-nisar Can this issue be assigned to me?

[2017-10-16 20:28] aptrishu commented on #3873
I have asked @roydipayan003 to update his PR, we'll unassign him if he doesnt respond. Meanwhile you can search for a different issue. :)

[2017-10-17 01:53] acashmkj commented on #4006
@jayvdb I would like to work on this issue. Could you please assign it to me.

[2017-10-17 04:14] newbazz commented on #4101
I want to work on this issue.

[2017-10-17 10:49] newbazz commented on #4101
![image](https://user-images.githubusercontent.com/25884863/31661041-fb23e2a6-b356-11e7-938b-309025fe00e5.png)
It has been documented

[2017-10-17 13:08] newbazz commented on #3259
I would like to understand the issue properly and would like to work on it.

[2017-10-17 13:32] swapagarwal commented on #3259
@newbazz Related PR: https://github.com/coala/documentation/pull/212

[2017-10-17 15:05] newbazz commented on #4207
This is quite difficult one but I want to give a try at this.

[2017-10-17 15:33] newbazz commented on #4605
I would like to work on it.

[2017-10-17 15:53] newbazz commented on #3488
Is this issue closed?

[2017-10-17 16:02] newbazz commented on #4495
I would like to work on this issue.

[2017-10-17 16:25] #4672 closed

[2017-10-17 17:08] kartikeys98 commented on #4753
Okay, I squashed the commits and changed the commit message.

[2017-10-17 17:23] acashmkj commented on #3389
@nemaniarjun @Makman2 Can this issue be reassigned to me ?

[2017-10-17 18:40] #4644 closed

[2017-10-17 21:38] Makman2 commented on #3389
Reassigning due to inactivity.

[2017-10-17 21:41] Makman2 commented on #4495
@ayush1999 you want to get it going again? Or can I reassign? ;)

[2017-10-17 21:41] Makman2 commented on #3488
Nope.

[2017-10-17 21:46] Makman2 commented on #4101
Indeed, seems that it was fixed in the meanwhile.

[2017-10-17 21:46] #4101 closed

[2017-10-17 22:27] #4702 closed

[2017-10-17 22:46] #3224 closed

[2017-10-17 23:28] #4485 closed

[2017-10-17 23:44] #4095 closed

[2017-10-18 00:40] #4748 closed

[2017-10-18 10:47] Asalle commented on #4668
Why the status is `blocked`?

[2017-10-18 12:45] newbazz commented on #3488
I would like to work on this issue if no one is working.

[2017-10-18 14:33] Makman2 commented on #4668
Good point, I probably forgot to remove it.

[2017-10-18 14:34] Makman2 commented on #4668
Ah wait no the relevant PR is still not merged.

[2017-10-18 15:15] Makman2 commented on #3488
Reassigning due to inactivity

[2017-10-18 15:39] #4755 closed

[2017-10-18 16:18] zhongLxyz commented on #3774
Hi, if no one is assigned to this yet can I take this up?

[2017-10-19 13:58] Makman2 commented on #3774
@zhongLxyz please accept the org invitation, then you can use `corobo` on the gitter channel to assign yourself to issues :)

[2017-10-19 14:19] soumya-ranjan7 opened #4766 "Modifying Newcomer's guide : Add a general command to label a PR as process/pending review"
Under the Picking up an Issue section of Newcomer's Guide add a general command to label a PR as process/pending review using corobo.

[2017-10-19 14:23] prnvdixit commented on #4766
That command would be
```corobo mark pending <full_url>```
😃

[2017-10-19 17:51] newbazz commented on #3488
I am still not getting the issue, can anyone please help me out?

[2017-10-20 05:16] Kanav-7 commented on #4766
@soumya-ranjan7 Can I work on this issue?

[2017-10-20 05:20] prnvdixit commented on #4766
@Kanav-7 Head over to [Gitter Channel](https://gitter.im/coala/coala) and just type ```Hello World``` - That will get you started 👍 😄

[2017-10-20 09:10] newbazz commented on #3488
@Makman2 what changes I have to make?

[2017-10-20 13:15] #4753 closed

[2017-10-20 14:37] Makman2 commented on #3488
Reconsider the normalization function of newlines. I don't know myself which files are exactly responsible for that, try to follow code that generates stuff from documentation.

[2017-10-20 20:14] RaiVaibhav commented on #4556
@jayvdb @adtac @Makman2  But i think we can extend only `aliases` and `extensions` from `linguist/languages.yml` to https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions i.e to each `LANGUAGE`  ie. `C.py, CPP.py .......`  or correct me if i am missing something?

[2017-10-21 08:56] acashmkj commented on #3873
@aptrishu can i work on this issue if @roydipayan003 is not working on this issue

[2017-10-21 10:41] newbazz commented on #3389
I would like to work on this issue

[2017-10-21 10:44] newbazz commented on #3388
I would like to work on this issue

[2017-10-21 12:30] Makman2 commented on #3388
@Siddhartha1234 still working on it?

[2017-10-21 12:31] Makman2 commented on #3873
Unassigning due to inactivity

[2017-10-21 12:35] #4766 closed

[2017-10-21 18:08] acashmkj commented on #3902
@aptrishu can you assign me this issue if no one is working on it ?

[2017-10-21 18:22] acashmkj commented on #4006
@coala-bot can this issue be assigned to me

[2017-10-21 18:28] RJ722 commented on #4645
@utkarshmttl are you still working on it?

[2017-10-21 18:44] prnvdixit opened #4769 "Clear anomaly between “Fixes” & “Closes”"
The commit guide doesn't make it clear when to use "Fixes" and "Closes" for documentation changes. The commit guide should be modified to convey that “Fixes” should be used only for those issues that are labelled “bug” - “Closes” works for pretty much everything else.

Label: initiatives/gci

[2017-10-21 18:49] prnvdixit opened #4770 "Single PR for an issue"
The Newcomer guide doesn’t specify that the contributor should try to submit only a single PR for each issue. It should convey that otherwise, it makes it tough for reviewers to see if previous changes have been accommodated in current commit or not.

Label: initiatives/gci

[2017-10-21 19:25] prnvdixit opened #4771 "Newcomer's guide should limit one newcomer issue per contributor"
The current Newcomer's guide doesn't directly imply that everyone should do "only one" newcomer issue. Edit docs so as to make "you should do only one newcomer issue" more implied.

Label: initiatives/gci

[2017-10-21 20:12] aptrishu commented on #3902
unassigned @Riyuzakii due to inactivity. Assigned to @acashmkj

[2017-10-22 02:10] rpanczer commented on #4771
@prnvdixit I can take care of this one

[2017-10-22 03:11] zhongLxyz commented on #3774
Thank you, I will get started on this issue :)

[2017-10-22 06:10] newbazz commented on #3020
I would like to work on this issue.

[2017-10-22 15:41] palash25 commented on #4663
I'm not sure if this thread is the right place to ask this question but I keep coming across these 2 terms **aspects** and **taste** and I'm not sure what they mean and it makes it difficult to understand certain issues. I tried asking this on the chatroom and on stack-overflow but got no response. Would you mind explaining it to me?

[2017-10-22 19:23] userzimmermann opened #4775 "Redesign coalib.bearlib.languages on top of pygments"
We partly reinvented the wheel with our manual `coalib.bearlib.languages.definitions`

We should gather all that content dynamically from `pygments`. @jayvdb's https://github.com/coala/coala/pull/3162 already was a good step in that direction. But we don't even need code generation. Just loading all the definitions at runtime into our `Language` framework should be enough

We can further reuse the

[2017-10-22 20:52] Makman2 commented on #4769
Duplicate of https://github.com/coala/documentation/issues/465 :)

[2017-10-22 20:52] #4769 closed

[2017-10-22 20:54] Makman2 commented on #4770
Yeah that's probably good, smaller PRs = less review times :+1:

[2017-10-22 21:18] Makman2 commented on #4775
What's missing on pygments side? :)

[2017-10-22 21:56] Makman2 commented on #4006
reassigning due to inactivity.

[2017-10-22 21:59] Makman2 commented on #4663
https://github.com/coala/cEPs/blob/master/cEP-0010.md might helpt :)

[2017-10-22 22:15] userzimmermann commented on #4775
@Makman2

A nice **API**! :) For:

* Integration with bears and aspects
* Introspection of languages
* Access to token ranges for `AnnotationBear` and similar use cases
* ...

[2017-10-23 03:40] prnvdixit commented on #4769
@Makman2 I think https://github.com/coala/documentation/issues/465 is related to amending ```Newcomer's Guide``` - I found that distinction between keywords is not clear in ```Commit Guide``` [here](https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html#issue-reference) too 😉

[2017-10-23 04:24] shreyans800755 commented on #4668
@Asalle This issue is waiting for https://github.com/coala/coala/issues/4499 to be resolved.

[2017-10-23 08:04] newbazz commented on #3388
Can I start working on this?

[2017-10-23 08:43] acashmkj commented on #3902
@aptrishu can i unassign this issue as I have already solved a newcomer issue an this issue can be given to some other newcomer. :-)

[2017-10-23 09:27] acashmkj commented on #4006
@Makman2 is it okay if i go with @jayvdb instead of completely deleting the Circle CI part ?

[2017-10-23 14:17] Makman2 commented on #4775
Oh that's one of the major points we are trying to tackle (and already doing it) with our stuff. Not sure we should use pygments then if there's no support for that^^ Would be quite a huge feature request from them if we want it^^

[2017-10-23 14:20] Makman2 commented on #4006
yes sure, I mean that was the last consensus :)

[2017-10-23 14:22] Makman2 commented on #3388
Reassigning due to inactivity.

[2017-10-23 15:04] userzimmermann commented on #4775
@Makman2 And that's why we only *partly* reinvented the wheel... and the circle closes :D `pygments` knows all the details about the syntax of more languages than I've ever heard of and does proper parsing, including things like any kind of language-specific escaping inside of strings... 2 things hard to provide and maintain on our own, and actually the reinvention part :) The missing convenience

[2017-10-23 15:48] Makman2 commented on #4775
Okay sounds good. If you have some details, maybe a cEP :+1: Would like to hear them before we tackle another refactor ;)

[2017-10-23 15:49] Makman2 commented on #4775
yeah... not yet super-mature^^

[2017-10-23 16:04] adtac commented on #4556
@RaiVaibhav can you please not mention three unrelated users on issue comments? This is not the first time (see [this](https://github.com/coala/coala-quickstart/issues/62#issuecomment-338500520), [this](https://github.com/coala/coala-quickstart/issues/62#issuecomment-338682547), this issue) :/

I get subscribed to discussions I don't want to be a part of (mostly because I know next to nothing on t

[2017-10-23 16:17] RaiVaibhav commented on #4556
@adtac :+1 Next time i will remember it,you are the owner so i thought   may be you might help me.

[2017-10-23 16:24] adtac commented on #4556
Nope, jayvdb opened the issue. See the first comment. I merely changed the title (because links in titles aren't good).

[2017-10-23 19:22] nealkarpe commented on #4770
Can I take this up?

[2017-10-23 20:23] aashraybhandar1 commented on #4019
@jayvdb  is

`coala !foo !bar `

The correct way for multiple targets and also some more clarification  on

what exactly that means?

[2017-10-24 04:13] RaiVaibhav commented on #4353
Does Inroduction of `pdb`   with sample example with their basic commands like `s,n,l ....` and a provided a link for detailed explain is enough?<br />Also please tell where to reference the `pdb` explain in `docs`

[2017-10-24 06:00] prnvdixit commented on #4770
@nealkarpe It's labelled initiatives/gci :smile:

[2017-10-24 07:57] nealkarpe commented on #4770
@prnvdixit Whoops, my bad! :)

[2017-10-24 14:08] prnvdixit opened #4783 "Clarify steps after completing Newcomer's guide"
The Newcomer guide should convey that fixing difficulty/low or higher issues requires one to understand only a section of project and are relatively easier while the projects may require quite some time (even months). Still, the interested contributors can ping the maintainers if they are willing to take up a project.

label: initiatives/gci

[2017-10-24 14:39] prnvdixit commented on #4353
@RaiVaibhav Update : https://github.com/coala/corobo/issues/306

[2017-10-24 14:44] RaiVaibhav commented on #4353
@prnvdixit  i did't see that i almost completed the Basic Documentation :confused: :disappointed:   i am totally confuse now

[2017-10-24 15:08] prnvdixit opened #4784 "corobo Usage Stats"
Identify the most regularly used corobo commands.
This task involves three parts:
 - Designing the database to store (command, frequency) pairs
 - Updating the table on each command (or buffer commands, if you're worried about performance)
 - An interface to view the results

Contributors most likely to help regarding issue : @meetmangukiya

label : initiatives/gci

[2017-10-24 15:41] RaiVaibhav commented on #4353
Maintainers Add label `initiative/gci`

[2017-10-24 15:51] Makman2 commented on #4784
There are probably frameworks for this kind of usage-statistics.

To calculate usage-frequency it's probably best to store timestamps when a command was invoked, otherwise we are too inflexible (e.g. if we want to display frequency for different months vs years, we need the exact usage distribution)

Shouldn't this issue be btw inside the `corobo` repo?

[2017-10-24 15:59] prnvdixit commented on #4784
@Makman2 Actually, it was a task listed by @adtac (CC) 😅 - He can explain it better. I found that this had no issue filed - that's why I created one 😉
I accidentally created the issue in this repo (out of flow actually 😛)

[2017-10-24 16:08] sils opened #4786 "test issue"
just testing :) sorry.

[2017-10-24 16:14] zhongLxyz opened #4787 "Explain the functionality of .coafile in 'Getting Started with coala'"
I propose that maybe we should clarify what the .coafile is for in the guide [Getting Started with coala](https://docs.coala.io/en/latest/Users/Tutorial.html).

I am a new user of coala. I am not sure if others agree with me but I think there is one point in the 'Getting Started with coala' guide that is confusing. In the section 'Configuration Files - coafiles', the guide does not really introduc

[2017-10-24 16:15] Makman2 commented on #4784
Migrated to https://github.com/coala/corobo/issues/311

[2017-10-24 16:15] #4784 closed

[2017-10-24 16:22] fneu opened #4788 "test issue please ignore"

[2017-10-24 16:22] #4788 closed

[2017-10-24 16:23] fneu opened #4789 "test issue please ignore"
test

[2017-10-24 16:23] fneu commented on #4789
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-24 16:37] fneu opened #4790 "test issue please ignore"
test

[2017-10-24 16:37] fneu commented on #4790
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-24 16:44] #4786 closed

[2017-10-24 16:49] #4789 closed

[2017-10-24 16:49] sils opened #4792 "another test issue"
again. Sorry really need a big repo to test this.

[2017-10-24 16:50] fneu commented on #4792
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-24 16:51] sils commented on #4792
this works again.

[2017-10-24 16:51] #4792 closed

[2017-10-24 16:51] #4790 closed

[2017-10-24 16:55] fneu commented on #4790
The contributors most likely able to help are:

@sils

Possible duplicate or related issues are:

- #4789: test issue please ignore
- #4722: test issue please ignore
- #4792: another test issue
- #4731: coala constantly crashes on windows

[2017-10-24 16:56] fneu commented on #4792
The contributors most likely able to help are:

@Makman2

Possible duplicate or related issues are:

- #4790: test issue please ignore
- #4789: test issue please ignore
- #4722: test issue please ignore
- #4731: coala constantly crashes on windows

[2017-10-24 19:56] RaiVaibhav opened #4793 "Fix Typo Mistake"
1.) In `Note` of step 2 in [New commer Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html)
Replace `To see all of the corobo commands,` with `To see all of the corobo commands:`<br />
2.) Replace `cobot` with `corobo` in `Review.rst`.

Note: Before submitting any PR first read [New commer Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html)

[2017-10-24 20:05] RaiVaibhav commented on #4793
This issue is only for `GCI students`

[2017-10-24 21:24] RaiVaibhav commented on #4120
Please Add label `initiative/gci` :)

[2017-10-24 21:36] RaiVaibhav commented on #3864
@Siddhartha1234 working on issue ,as i would like to work on it ??

[2017-10-24 21:49] Makman2 opened #4794 "AppVeyor build fails"
https://ci.appveyor.com/project/coala/coala/build/1.0.10140/job/6u27rtxt162q7e0h

It seems like an upstream package was broken.

Tried to test it in a fedora docker container, but like the other Linux builds indicate, I can't reproduce. coala installs successfully there. Maybe it's Windows only.

[2017-10-24 21:54] Makman2 commented on #4120
Unassigning due to inactivity.

[2017-10-25 10:19] jayvdb commented on #4019
Yes.

The other sentence doesnt matter if you dont understand it.

In short : you dont need to add documentation this issues is solved with by adding `!foo` support.  (whereas add `--exclude-sections` is going to required a lot more documentation.)

[2017-10-25 21:59] Makman2 commented on #4794
Couldn't reproduce on a clean Windows 10 virtual machine with Python 3.6.3. `coala` and `coala-bears` install without problems.

[2017-10-25 23:56] Makman2 commented on #4794
I hooked into an Appveyor build with RDP, but inside a PowerShell session I can't reproduce either, coala installs normally (from pip and with `python3 setup.py install`). `%CMD_IN_ENV%` is used with the failing command, probably it alters the environment in such a way so that this error appears. Using normally a shell won't enable the same build environment.

[2017-10-26 00:45] Makman2 commented on #4794
It seems there was recently a change in AppVeyor builds, that also affects Python 3.6:
https://www.appveyor.com/updates/

I also read up on https://github.com/requests/requests/issues/4006. The solution was to upgrade to a newer pip like 9.0.1, however this version is already installed.
Like always, I doubted setuptools as it's often involved in such special install-breakages, and it seems I was r

[2017-10-26 02:18] #4794 closed

[2017-10-26 07:10] RaiVaibhav commented on #4794
@Makman2  I think we have to add `sudo pip install -U setuptools` in `travis.yml` instead changing everytime when they release new update or correct me if i am miising something :smile:

[2017-10-26 10:09] acashmkj commented on #4794
The latest version of `setuptools` should be used due to upstream bug in `setupools`

[2017-10-26 10:57] abhinay01 commented on #4793
can i fix this issue?
I am a newcomer and want to learn more about coala and it's bears.

[2017-10-26 11:03] nguptaa commented on #4793
i m a newcomer. can i fix the issue ?

[2017-10-26 11:06] #4006 closed

[2017-10-26 11:51] susg commented on #4793
This issue is for pre-university students taking part in Google Code In.

[2017-10-26 12:03] RaiVaibhav commented on #4793
No i will not accept any PR, this is only for GCI student I specially mentioned in comment that this issue is only for GCI parrticipant

[2017-10-26 12:48] Makman2 commented on #4794
setuptools 19 seems to work, so i think it's currently safe to make it at least v19. People can still use newer versions of setuptools of they like. However, do you have a specific bug in mind? @acashmkj

We do install the minimum version on purpose i believe (not sure why). And we don't have to change it every time, I've just changed the minimum version, latest setuptools with the newest updates

[2017-10-26 13:01] msgre opened #4799 "Problems with nested `ignore` definitions in .coala"
Hi,
I have problem with `ignore` syntax in `.coafile`.

Check those 3 configurations:

[code]

Variant (1) and (2) works as expected — files in `migrations/` subdir and files `wsgi.py` + `asgi.py` are successfully ignored.

But when I try to split it like in variant (3) it doesn’t work. Only `wsgi.py` + `asgi.py` are ignored, `migrations/` are still checked by coala.

I also tried several variatio

[2017-10-26 14:24] wisn commented on #4771
Hello! May I take up this issue?

I think we may use ordered number list instead of unordered point list.

[2017-10-26 14:39] Makman2 commented on #4771
Sure, please read our newcomer guide to get started ;)

[2017-10-26 14:42] #4652 closed

[2017-10-26 14:42] Makman2 commented on #4771
However, this is an `initiatives/gci` issue which is reserved for coming Google Code-In participants. Feel free to pick another issue that is not marked with `initiatives/gci` :)

[2017-10-26 14:43] wisn commented on #4771
Ah didn't see that. Alright @Makman2

[2017-10-26 16:22] prnvdixit commented on #3902
@wisn Yeah sure 😃....
Just head to https://coala.io/chat and join the community by saying "Hello world", you would get guided from there.... Welcome 😄
Just make sure to assign yourself the issue before starting working on this 👍

[2017-10-26 18:02] co-robo opened #4800 "Add/Modify missing unit documentation in `__init__.py` file."
Add missing unit documentation in `__init__.py` file of coalib folder and it's subfolders. For missing info you can use this blog for reference. https://damngamerz.github.io/gsoc/An-Insight-Into-coala's-Structure.html
initiatives/gci  documentation
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=59f22318e44c43700a7fe745)

[2017-10-26 21:07] stellargo commented on #4208
After having a look at recent appveyor builds, I think this issue is back :P

[2017-10-26 22:34] Makman2 commented on #4208
On AppVeyor `setuptools==19` seems to work, `setuptools==18.2` didn't work. Maybe 18.x was a problem-series^^

[2017-10-26 22:54] shreyans800755 commented on #4510
@Makman2 Can you please add a scenario where you encountered this bug or may be steps to reproduce it ? It will make it easier to track down where the problem is and hence solution will be easier to figure out.

[2017-10-26 23:04] shreyans800755 commented on #4556
@jayvdb
Can you please give more details ? I would like to work on this issue.
Is this about using the mentioned yaml file to derive the language in which input file was written ?
Is there any discussion on gitter after which this issue was filed ?

[2017-10-27 00:22] Makman2 commented on #4510
Create a bear that is not picklable, e.g.
[code]
(haven't tested it, but what's important that it throws a `PicklingError`, then when submitting the tasks to the executor a `PicklingError` will be thrown.)

[2017-10-27 00:29] Makman2 commented on #4510
I've already started working a bit on fast-fail support for the new core, meaning that you can immediately abort the core while running and throw exceptions properly.
https://github.com/coala/coala/commits/Makman2/NEXTGEN3-13
This might help delegating the exception to the user:
[code]
However, this will then only work on submitting tasks. Ideally we re-raise every error at user-side that occurs i

[2017-10-27 05:52] mikanaji commented on #4651
Can i get this issue?

[2017-10-27 11:44] mohitkyadav commented on #3873
Hi!, @Makman2 @aptrishu can I work on this?

[2017-10-27 14:27] Makman2 commented on #4651
The issue is currently assigned, please pick another one :)
It's also not labeled right now.

[2017-10-27 16:46] jayvdb commented on #4783
I think the Newcomer guide should not include information about what should happen after the person becomes a developer.

Maybe we should have a "So you're a developer now, here are some ideas on what to do..."

[2017-10-27 16:56] prnvdixit commented on #4783
You mean another guide?
I was thinking of just adding something like
".......Then you’ll be able to call yourself a coala developer! You can now head over to fixing difficulty/low or higher issues. It is recommended not to engage in projects as they usually require long term involvements, but still if you are willing to take one - Ask any maintainer for assigning the same"

[2017-10-27 18:17] jayvdb commented on #4783
Yea, maybe another guide.

But the newcomer also has to do a difficulty/low problem before they become a developer.
The key message is that a developer shouldnt (cant?) do newcomer issues again. (I think we already have a separate issue about that)

Developers can self-assign high difficulty issues, no need for maintainer assistance.

And the projects on http://projects.coala.io are very large , a

[2017-10-27 18:25] shreyans800755 commented on #4651
@mikanaji I'm waiting for https://github.com/coala/coala/pull/4726 to be completed first. Technically, this issue doesn't require that PR to be merged. But, its good to have. Otherwise, I'll have to resolve a lot of conflicts unnecessarily. Once that PR is merged, which should be done pretty soon, I'll push my changes to this PR.

[2017-10-27 18:47] prnvdixit commented on #4783
1. If we did create a new guide - What else can we expect to add to that guide(5 lines?) later? 😛

2. Yeah, that would be https://github.com/coala/coala/issues/4771 😄

Yeah, I know - I was actually talking about collaborating on projects 👍.

But most of the times, since people are drawn towards "understanding the ```full``` codebase" after completing Newcomer guide and then taking up "bigger" proj

[2017-10-27 19:42] callowidealist commented on #4800
What sort of changes does it requires ?

[2017-10-28 01:52] mikanaji commented on #4651
@shreyans800755, Thanks!

[2017-10-28 01:58] mikanaji commented on #4372
This is still open. Can i get this one?

[2017-10-28 02:04] mikanaji commented on #4552
Can I get this one?

[2017-10-28 02:11] Makman2 commented on #4372
Unassigning due to inactivity.

[2017-10-28 02:13] mikanaji commented on #4372
Please let me work on this one. :)

[2017-10-28 02:22] #3873 closed

[2017-10-28 02:37] prakashdanish commented on #4800
@callowidealist It's a documentation change issue, but this issue has been labelled as `initiatives/gci`, kindly look for other `difficulty/low` tasks without the `initiatives/gci`.

[2017-10-28 04:38] khanchi97 commented on #4799
Hello, @msgre I think it would be helpful if you also give directory structure of this issue.So that issue can be reproduced.

[2017-10-28 05:01] ayush1999 commented on #4583
@Makman2 This looks to be inactive for a long time now. Can I take this up?

[2017-10-28 05:04] ayush1999 commented on #4495
I'm on it! Sorry for the delay.

[2017-10-28 05:10] ayush1999 commented on #4645
@utkarshmttl @Makman2 Can I take this up?

[2017-10-28 05:17] ayush1999 commented on #3877
@Makman2 Can you help me in getting started with this issue?

[2017-10-28 06:22] khanchi97 commented on #4645
Hello @ayush1999
@utkarshmttl is still assigned to this issue.I think before working on an issue and making a PR, first you should be assigned to that issue.

[2017-10-28 07:37] ayush1999 commented on #4645
Sorry for the confusion, but it looks like he hasn't be active for some time now. Its better if this issue is reassigned to me for now. :)

[2017-10-28 09:19] tulphoon commented on #4617
@userzimmermann I'm not able to finish this one, so I'm leaving it to you.

[2017-10-28 10:11] newbazz commented on #4495
So are you woking on it? @ayush1999

[2017-10-28 11:25] stellargo commented on #1101
@Makman2 So I was wondering how exactly do we want this, like adding an import module to every bear? That seems like not the best way to go about this i guess.

[2017-10-28 11:57] stellargo commented on #1101
Also just tell me if I am right, as of now we have -V, along with a --debug which is different basically because it is using ipdb for exception handling. These do not debug bear code and now we want to use pdb for doing that

[2017-10-28 12:38] #4645 closed

[2017-10-28 12:48] ayush1999 commented on #4495
Yeah! I'll amend the PR shortly. Sorry for the delay. (was caught up in some other work)

[2017-10-28 13:40] stellargo commented on #1101
Also :P, we can get into the bear code with a pdb.set_trace(), but exiting is a little issue. pdb natively does not have a function defined in it for this which we would need. Having our own edited pdb would solve it though.

[2017-10-28 14:34] Makman2 commented on #1101
That's not bearable, we might add it to the bear base class, however then it steps into "internal code" again. Would be nice to do something like `pdf.set_trace(bear_instance.run)` or so.

You sure? Some people already told me there should be something. Haven't looked at the API more detailed myself though.

Yes `--debug` would be a bit confusing in this context. We might change CLI-API then.

[2017-10-28 14:38] Makman2 commented on #1101
Okay I just looked, it seems it really doesn't exist. Even defining custom breakpoints from code seems to be not possible that easily :/

[2017-10-28 14:43] Makman2 commented on #1101
We might use `pdb.run` to insert some custom debugger control statements to set some breakpoints, which would stop at the right place. However, exiting is still a problem. Probably an own edited pdb is the cleanest solution :/

[2017-10-28 14:55] Makman2 commented on #3877
I don't know what this issue is exactly about, I assume https://github.com/coala/coala/issues/3877#issue-212617644 states it more precisely inside the discussion ;)

[2017-10-28 14:57] Makman2 commented on #4583
@ayush1999 please assign yourself with corobo ;)

[2017-10-28 15:03] stellargo commented on #1101
So we start pdb from the bear base class just before it goes on to run the bear. It finishes running it, goes back to bear class where we exit pdb by using a custom function in edited pdb. Right?

[2017-10-28 15:04] Makman2 commented on #1101
Yeah.

Ideally we start pdb directly on entering `Bear.run`, not sure what's the best place to initiate this breakpoint though.

[2017-10-28 15:07] Makman2 commented on #1101
So generally when modify pdb behaviour, we could do it like this:
- Allow to easily set breakpoints, like `pdb.set_trace(function_where_to_break`)
- Allow to define an exit point, like `pdb.exit(function_where_to_exit_once_finished)`
- To support that, we exploit internally the use of breakpoints. We insert special breakpoints for `pdb.exit` and `pdb.set_trace`, that - once hit - trigger special b

[2017-10-28 20:02] stellargo commented on #1101
The problem according to me will be that I dont think we can add this to the ```bear.py``` , because then anybody can step into the code because bear goes on to run other functions from files like ```___init.py__``` , ```linter.py```,etc before actually going on to the bear code. To integrate pdb, I have had to use pdb like so much for understanding these flows :P

[2017-10-28 20:04] stellargo commented on #1101
So if once we somehow hardcode this break point, i don't think the breakpoints would be visible.

[2017-10-29 11:08] userzimmermann commented on #4617
@tulphoon Mkay... But don't completely leave the coala way prosze ;)

[2017-10-29 11:24] userzimmermann commented on #4775
https://gist.github.com/userzimmermann/f43c4d1ae001ddc78bca5ce827bca8f1 shows my proof of concept for this

@aptrishu @Makman2 What do you think about it?

[2017-10-29 15:44] newbazz commented on #4446
I would like to work on this if no one is presently working.

[2017-10-29 15:50] newbazz commented on #3374
Is this issue closed coz there are prs refering this issues being merged.

[2017-10-29 15:51] newbazz commented on #3374
If not I would like to work on this issue.

[2017-10-29 17:45] newbazz commented on #4800
can someone explain it more briefly i would like to work on it.

[2017-10-29 17:48] newbazz commented on #4391
I would like to work on this issue.

[2017-10-29 17:56] prnvdixit commented on #4800
@newbazz This issue is in GCI task list - Please, look for some other difficulty/low issue from https://github.com/coala/coala/issues/. Thanks.

[2017-10-29 18:42] SanketDG commented on #3374
@jayvdb make it a gci task again?

[2017-10-29 19:46] #4499 closed

[2017-10-29 19:47] Makman2 opened #4810 "Add tests: Check if using `--output` overwrites files instead of appending"
https://github.com/coala/coala/pull/4726 introduced overwriting of files when using coala multiple times for the file specified with `--output`. Before, file data was appended (which leads to corruption e.g. when also using `--json`). This has to be tested, so we can have this behaviour enforced across versions and standardize this.

[2017-10-29 19:54] stellargo commented on #1101
The problem is we can still get into internal code in a case where say the bear imported a function from coalib.
The only way to avoid that is to remove the step into function of cdb :P

[2017-10-29 19:58] stellargo commented on #1101
Or might that be ok that once in bear code we can go into internal code but just not before or after ?

[2017-10-29 20:29] Makman2 commented on #1101
`set_trace` is effectively no real breakpoint, it just enters the debugger, effectively doing the same as a breakpoint more or less. However, as they stop at the current command, we can't use it nicely.

The only way to avoid that is to remove the step into function of cdb :P

If the user wants to step into coala code that are utility functions, he's encourated to do so if he likes (with `s`, step

[2017-10-29 20:31] Makman2 commented on #4446
Looks like there was recent activity ;)

[2017-10-29 20:46] Makman2 commented on #4391
Unassigning due to inactivity.

[2017-10-29 21:52] shreyans800755 opened #4811 "--show-description and --show-details don't work as expected for entrypoints json and format"

[2017-10-29 21:53] shreyans800755 commented on #4811
CC @Makman2

[2017-10-30 00:11] #4694 closed

[2017-10-30 08:01] msgre commented on #4799
Sure. It looks like this (shortened):

[code]

`.coafile` is in root, ie next to `asgi.py` or `wsgi.py`. I am running coala in container with the command:

[code]

[2017-10-30 15:56] Makman2 commented on #4799
So variant (3) uses the `+=` operator to append files, while the other variants don't. So it seems the problems lies there.

[2017-10-30 15:59] msgre commented on #4799
Yes, it uses `+=`, like documentation says: http://docs.coala.io/en/latest/Users/coafile.html#explicit-setting-inheritance

[2017-10-30 16:58] Makman2 opened #4815 "Improve output-format system - Add export feeds"
Currently the CLI code is generally very complicated. One part is the handling of different output formats, like JSON, formatted or normal output. Everywhere is specific code for different operation modes of coala (showing bears vs normal execution), and this will continue to become more complicated with more features we add.

Inspired by `scrapy`'s export feeds, we can add our own `ExportFeed` mo

[2017-10-30 16:59] Makman2 commented on #4815
CC @shreyans800755 @jayvdb

[2017-10-30 18:51] shreyans800755 commented on #4651
@mykromo Please go ahead with some issue you may find interesting.

[2017-10-30 20:07] Makman2 commented on #4815
Yeah in this case your suggestion is super easy to do and will cover everything we would need right now. If that works smoothly, we don't need export feeds at all ;)

[2017-10-30 21:21] CCInCharge commented on #4446
Pretty much there, just need to review it

[2017-10-30 22:34] userzimmermann commented on #4391
@adhikasp @Makman2 @newbazz Oh oh! Here is a little misunderstanding going on! The `is` operator doesn't call `__eq__`. Instead it checks for object identity

No aspect instance will always be the same object as another one:

[code]

But this must work:

[code]

[2017-10-31 02:25] mykromo commented on #4651
Alright. Thanks!

[2017-10-31 03:21] #4810 closed

[2017-10-31 08:08] aashutoshrathi commented on #4495
@newbazz Should I create these files (tests/parsing/FilterTest.py, coalib/parsing/InvalidFilterException.py and coalib/parsing/FilterHelper.py) again?

[2017-10-31 08:24] newbazz commented on #4495
It sud have been created!!

[2017-10-31 08:56] aashutoshrathi commented on #4495
Can you explain what exactly needs to be changed, in which file?

[2017-10-31 14:29] Makman2 commented on #4495
Please use `git grep` to look for the keywords mentioned in the issue description, then you'll find everything. If you don't understand an issue completely on your own, rather pick a new one :)

[2017-10-31 17:03] nvzard opened #4816 "Fix spelling and grammatical errors in documentation."
Find mistakes in current documentation and enhance it.

https://github.com/coala/coala/tree/master/docs

[2017-10-31 19:05] newbazz commented on #4139
I would like to work on this issue.

[2017-10-31 19:43] Makman2 commented on #3388
The relevant place to document this more lies at our [documentation](https://github.com/coala/documentation) repo.

[2017-10-31 19:46] Makman2 commented on #3388
Migrated to https://github.com/coala/documentation/issues/480.

[2017-10-31 19:46] #3388 closed

[2017-10-31 19:54] shreyans800755 commented on #4815
Sorry, I don't have much knowledge about export feeds.
Can it solve the problem of merging non-interactive and interactive output ? If so, IMO we should go with that.
It will simplify our code and make it much easier to read and extend. Otherwise, we might encounter similar problem while extending code base and need to merge these two functionalities and it would be much more difficult to do it as

[2017-10-31 20:20] Makman2 commented on #4815
Export feeds are quite simple in fact, in fact it's like logging with custom handler callbacks, but more generally designed to print arbitrary objects intended for use as data. So you should be able to call something like `export()` anywhere from code where you like to export data in some way. In our case I think of specific objects, which implement methods like `__json__` or `__formatted__`. Thes

[2017-10-31 22:09] nemaniarjun commented on #1862
Creating a new PR. It is very rough as I am very rusty and this issue is / was complicated.
But looking forward to getting this done soon :)

[2017-11-01 03:58] nvzard commented on #4816
Please add initiative/gci label.

[2017-11-01 07:01] nvzard commented on #4668
Is this issue still blocked?

[2017-11-01 07:29] shreyans800755 commented on #4668
@nvzard not any more. Please assign yourself and go ahead with the work. Ping me on PR or gitter for review once you have some progress to be shown

[2017-11-01 07:30] shreyans800755 commented on #4668
Also feel free to ask doubts if you're not clear with something.

[2017-11-01 07:32] nvzard commented on #4668
Thanks for supporting :)

[2017-11-01 09:58] co-robo opened #4820 "Add note discouraging CircleCI on forks"
http://api.coala.io/en/latest/Developers/Adding_CI.html
Circle CI should only be enabled on forks to debug problems with Circle CI.
difficulty/newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59f99ace81cd9a5d7e9ffe76)

[2017-11-01 15:56] supriyanta commented on #4820
please guide me how to fix it?

[2017-11-01 16:36] Makman2 commented on #4816
Also see https://github.com/coala/documentation/issues/478

We should also have minimal automatic spellcheck support in our coafile to enforce the changes 👍

[2017-11-01 20:47] acashmkj commented on #4820
@jayvdb the note is already there. Do you want to enhance it ?

Note

Please refrain from enabling CircleCI on your fork since they use shared build pools. You can use TravisCI instead if you need access to private builds.

[2017-11-02 05:47] supriyanta commented on #4820
Yes!

[2017-11-02 08:30] Kunalgarg2100 commented on #4816
can i work on this issue?

[2017-11-02 08:49] newbazz commented on #4190
Can someone explain this issue, I would like to work on it if no ones working,

[2017-11-02 12:20] palash25 opened #4823 "Writing_Native_Bears.rst: Fix documentation"
In the second line of the second point in the [Communicating with the User](https://github.com/coala/coala/blob/master/docs/Developers/Writing_Native_Bears.rst#communicating-with-the-user) section of Writing_Native_Bears.rst change the first word of that line from **This** to **There**

difficulty/newcomer initiative/gci

[2017-11-02 13:47] r3code opened #4824 "Force preserve line endings when patching"
In Windows create a python file and write the code
[code]
Change line endings to unix style.
Run coala with PEP8Bear and it will suggest you a replacement:
[code]
Accept Patch.
Check line endings.
Now it's windows style line endings.

**Patch should save line endings or the user should have an ability to specify which line endings style to use in the patch operation.**

[2017-11-02 18:40] pradeepgangwar commented on #4823
I am working on this.

[2017-11-03 06:49] sandeshpatel commented on #4188
@shahidikram, if you are not working on this, can i take this issue?

[2017-11-03 07:16] prajwalgatti commented on #4816
I would like to work on this issue

[2017-11-03 07:17] d3vil0p3r commented on #4820
@supriyanta are you still working on this?

[2017-11-03 08:23] jayvdb commented on #4823
@sks444 , someone already said they are working on it, and they have a PR .. see above.

[2017-11-03 08:32] #4823 closed

[2017-11-03 08:45] #3774 closed

[2017-11-03 09:18] ai-coder commented on #4110
Can I take this

[2017-11-03 09:21] jayvdb commented on #4110
no.
ping @madhukar01 , could you add tests to your PR so it can be finished.

[2017-11-03 14:32] jayvdb opened #4828 "Missing space in cli section warning"
The message `'cli' is an internally reserved section name ...` in `ConfigurationGathering.py` has two sentences joined together without whitespace between them

[code]

[2017-11-03 16:08] Dhruvadityamittal commented on #4793
Can I fix this issue because I am a newcomer and I want to know more about Coala.

[2017-11-03 17:07] prnvdixit commented on #4793
@Dhruvadityamittal Are you planning to participate in GCI? :wink:
In either case, you can't take up the issue for now. GCI participants can take up this issue after commencement of GCI. :+1:

[2017-11-03 17:54] atultherajput commented on #4494
New PR for this issue https://github.com/coala/coala/pull/4829

[2017-11-03 22:53] Makman2 commented on #4816
Please follow our newcomer process mentioned in our newcomer guide :+1:

[2017-11-04 00:42] Makman2 opened #4831 "Redesign default configuration system (default_coafile, .coarc)"
It's not recommended to modify `default_coafile` right now, and `.coarc` is only user bound. It's worth to spend some time designing a proper and standardized foundation (e.g. allowing system-wide files the user can modify).

See http://yamllint.readthedocs.io/en/latest/configuration.html
We could maybe take some ideas from them :+1:

[2017-11-04 01:04] Makman2 commented on #4190
It's taken by @userzimmermann . Also I highly doubt it's `difficulty/low`...

[2017-11-04 03:59] AGZain commented on #4824
I'd like to work on this!

[2017-11-04 22:49] shreyans800755 commented on #4651
@mykromo I've created a PR. Feel free to review.

[2017-11-05 12:50] mrtes opened #4835 "Add meta folder of Visual Studio Code to .gitignore"
We already ignore meta folders for other IDEs/editors (e.g. Sublime).
Extending the .gitignore to include the meta-folder for VSCode (.vscode) allows developers to use this editor painlessly, without having to worry about accidentally committing this folder :)

[2017-11-05 15:33] #4828 closed

[2017-11-05 15:41] jayvdb commented on #894
I cant see this happening while we are using gitter as the primary chat system, as the usernames are only linked correctly on github, and our processes and tools rely on that.

[2017-11-05 16:02] Makman2 commented on #894
I would pledge to close this issue. As long as we really don't have a really important reason to switch, it's currently not worth it (also because of our publicity being on GitHub).

Feel free to reopen if someone disagrees and has a reason :+1:

[2017-11-05 16:02] #894 closed

[2017-11-05 16:16] jayvdb commented on #4495
@shreyans800755 @Makman2 , we have two PRs here:
https://github.com/coala/coala/pull/4821
https://github.com/coala/coala/pull/4610
I'll let you guys sort this one out.

[2017-11-05 16:49] amitsin6h commented on #4835
hello am new here. let me take this. Just me let me know what things I have to add in meta folder

[2017-11-05 18:25] mrtes commented on #4835
@amitsin6h The issue is already assigned to @parthboricha.
@parthboricha If you are finished you need to create a pull request for this commit. Currently it is just sitting in your branch :)

[2017-11-05 18:39] newbazz commented on #2194
I would like to work on this issue.

[2017-11-05 18:54] newbazz commented on #4552
I would like to work on this if no ones working.

[2017-11-05 20:52] mrtes commented on #4592
Can the file be extracted from the result?
If so, we could pass in the whole list of results to the action handling sequence and filter all result in that file if the action is chosen.
Or return something from `acquire_actions_and_apply` and `print_result`, that allows filtering.

Or extract all the interactive stuff in one or more classes.
This would allow us to store state that is currently pass

[2017-11-05 21:03] shreyans800755 opened #4838 "Bear glob patterns are case sensitive"
Right now, bear glob patterns in coala are case sensitive. With new options available to display bears along with its details, case sensitive is becoming hindrance in terms of usability.

For example:
`coala --show-bears --bears ***C**lang*` is giving list of bears with the word `Clang` in it (case sensitive)
But at the same time, `coala --show-bears **c**lang` is failing to fetch the same list of

[2017-11-05 21:04] shreyans800755 commented on #4838
CC @Makman2

[2017-11-05 21:06] Makman2 commented on #4592
Problem is, that happens one by one, as soon as they arrive ;)
We would need some kind of "control signals", like an action is chosen as being "active". It receives results it can apply actions for. If it's done, it somehow "returns".

[2017-11-05 21:26] mrtes commented on #4592
Ah, that wasn't clear to me. I thought they are collected all at once, or section-wise.
Are there docs, that explain the process of how results are collected?

Anyway, If it works like a queue or stream (which I'm assuming right now) , the action could set some sort of filter, that removes all results matching that file, as they come?

[2017-11-06 13:38] Makman2 commented on #4592
Not sure, don't think it's officially documented, but it's officially wanted :D (see `Interactions.py` which is a mess right now. I'm currently on it to replace it with the nextgen-core design, however it's merging very slowly because nearly nobody reviews it :/)

That's a nice idea. If possible I also want to allow to remove those filters somehow again, otherwise it's a bit limited, but this appr

[2017-11-06 13:45] #4505 closed

[2017-11-06 14:03] #4425 closed

[2017-11-06 14:22] Dhruvadityamittal commented on #4793
So what type of issues I can take..

[2017-11-06 15:20] prnvdixit commented on #4793
Head to https://coala.io/chat and type **Hello World** there... you would be guided from there 😄

[2017-11-06 15:27] tulphoon commented on #4617
@userzimmermann I just don't have the time, still wearing my coala t-shirt proud and giving out stickers whenever I can :D

[2017-11-06 19:16] mrtes commented on #4673
Well, there is a function `collect-dirs`, which seems to be intended for that purpose.
It is just unused currently.
I guess we could first collect directories with this function (and ignore directory globs), then collect the files for the remaining directories and ignore the file patterns.

[2017-11-07 06:02] IamRaviTejaG commented on #4552
@newbazz I'm working on it, please feel free to work on any other issue. :)

[2017-11-07 12:52] yukiisbored commented on #4736
Just tested it on FreeBSD 12.0-CURRENT, everything works normally. but I think there's some issue with sqlite3 on Python 3.6

[code]

[2017-11-07 12:58] yukiisbored commented on #4736
Ah, sqlite bindings doesn't ship with py3.6 (classic FreeBSD)
[code]

[2017-11-07 13:43] jayvdb commented on #4736
@krytarowski wrt https://github.com/coala/coala/issues/4736#issuecomment-334978044 , could you tell us which exception is raised?

[2017-11-07 13:44] jayvdb commented on #4736
@yukiisbored , would it be a good idea to get nltk data packages onto BSDs?  They are very rarely updated.

[2017-11-07 13:52] yukiisbored commented on #4736
@jayvdb Not sure, just try packaging it and send it to the mailing list.

[2017-11-07 14:47] krytarowski commented on #4736
Not really, I'm not into Python.

[2017-11-07 21:43] ashwini0529 commented on #4838
I would like to work on this. Can you please explain how to start? 😄

[2017-11-08 15:56] newbazz commented on #3920
I would like to work on this issue if no one is working.

[2017-11-08 16:09] newbazz commented on #2535
I would like to work on this issue if no one is working.

[2017-11-08 18:57] RJ722 commented on #3920
Hi @newbazz I've an ongoing PR #4009  which is `status/blocked` atm. I'ld try and revive it.

[2017-11-08 18:59] newbazz commented on #3920
oh ohk my mistake!!

[2017-11-09 13:54] IpshitaC opened #4840 "docs/Developers: Fix typo in Newcomers_Guide.rst"
In last `Note` of `Step 2` of [Newcomer's Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html), change `To see all of corobo commands,` to `To see all of corobo commands:`
Relevant file can be found [here](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst)

labels: initiatives/gci

[2017-11-09 14:12] Vedarth commented on #4840
I would love to solve this issue.

[2017-11-09 14:15] RaiVaibhav commented on #4793
Closing it moved to https://github.com/coala/coala/issues/4840

[2017-11-09 14:16] RaiVaibhav commented on #4840
@IpshitaC please update the issue
maintainers please make label `initaitives/gci`

[2017-11-09 14:16] #4793 closed

[2017-11-09 14:42] IpshitaC commented on #4840
Hey @Vedarth This is a GCI task, so if you are planning to participate in GCI this year, then you can take it up once it commences, but not before that 😄

[2017-11-09 16:33] raju249 commented on #2937
I would like to try and work on this issue.

Can I get guidance on how do I start about this issue ?

[2017-11-09 16:57] mrtes commented on #4673
Slightly more complicated than I imagined, but still doable.
Is there a reason we don't use the native "glob" and "fnmatch" modules?

[2017-11-09 23:47] #4097 closed

[2017-11-09 23:49] Mariatta commented on #4840
Let me know how I can help :)

[2017-11-09 23:51] Makman2 commented on #2535
Unassigning due to inactivity. Feel free to ping again @vreethesh if it's not the case ;)

[2017-11-10 08:49] newbazz commented on #2535
@Makman2 I am not able to take this issue up as it is labeled medium.

[2017-11-10 11:53] IpshitaC commented on #4840
@Mariatta could you please label this issue as `initiatives/gci` ? Thanks 😄

[2017-11-10 12:07] Makman2 commented on #2535
Then become a developer first before you tackle `difficulty/medium` issues ;)

[2017-11-10 12:15] newbazz commented on #2535
Okk :P

[2017-11-10 13:47] Mariatta commented on #4840
@IpshitaC done!

[2017-11-10 17:58] userzimmermann commented on #4190
@Makman2 @newbazz https://github.com/coala/coala/pull/4210 is done and rebased. Please review again, ack, merge :)

[2017-11-10 18:20] userzimmermann commented on #4188
@sandeshpatel Go for it :) Just take over https://github.com/coala/coala/pull/4204 as base for your own PR and reference the former

[2017-11-10 18:51] userzimmermann opened #4844 ".coafile: Also lint docs/conf.py"
Everything in the `coala` repo itself should be linted too :)

cc @shreyans800755

[2017-11-10 20:12] #4844 closed

[2017-11-10 21:38] Makman2 commented on #2937
This one belongs to https://gitlab.com/coala/package_manager :)
Migrated to https://gitlab.com/coala/package_manager/issues/161

[2017-11-10 21:38] #2937 closed

[2017-11-10 21:39] Makman2 commented on #2937
@raju249 feel free to assign yourself on the gitlab repo issue, it's probably a bit easier to understand at the right repo ;)

[2017-11-10 21:40] Makman2 commented on #4673
@mrtes there was some reason, I think some little syntax extensions which are very common (but maybe not standard glob?). However if you don't see we have to keep them (maybe Python 3.4+ do support what we need), let's have a different issue to remove our stuff :+1:

[2017-11-10 22:05] userzimmermann opened #4845 "FilterTest.test_filter_by_unknown wrongly uses assertRaisesRegex"
`FilterTest.test_filter_by_unknown` executes coala in non-debug mode, checks return code, and then tries to check an exception that can never occur at that point:

https://github.com/coala/coala/blob/539a4e5c626e7ee839793ce5f29c62a96284359b/tests/parsing/FilterTest.py#L101-L110

It passes anyway because `assertRaisesRegex` provides a context manager meant to be used via `with` statement. That way

[2017-11-10 23:30] Makman2 commented on #4845
My bad, totally missed that. 😟

[2017-11-11 00:20] mrtes commented on #4673
I would have to investigate, but the functions provided by the "glob" and "fnmatch" modules _seem_ to match the solutions that are currently implemented.
-> I will open an issue for investigation/replacement.

[2017-11-11 13:20] co-robo opened #4847 "mention smart questions in newcomers guide"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a06f92bdf09362e67f65528)

[2017-11-11 13:21] RaiVaibhav commented on #4847
Please refer to http://www.catb.org/esr/faqs/smart-questions.html

[2017-11-11 14:49] #4845 closed

[2017-11-11 15:19] newbazz commented on #3903
I would like to work on this issue if no one is working.

[2017-11-11 15:32] newbazz commented on #4139
Does this issue still exist? As no PR refering this issue has been merged.

[2017-11-11 15:35] userzimmermann opened #4848 "InvalidFilterException should change name and base class"
Currently, `coalib.parsing.InvalidFilterException.InvalidFilterException` is based on `Exception`. It should be based on `LookupError`. Also, the `Exception` suffix is untypical. Better `InvalidFilterError` or just `FilterError`

This is also related to https://github.com/coala/coala/issues/4495 and #4821

cc @aashutoshrathi @shreyans800755

[2017-11-11 17:04] khanchi97 opened #4849 "Should ignore Additoinal Parameters if a section is disabled using `enabled = False`"
let say, in `.coafile` I have disabled a section using `enabled = False` in that section.And wrapped tool in that section also require additional parameters.Now when run coala, I think it shouldn't ask for those additional parameters, because that sectoin is disabled.But it asked for those parameters, don't know why?
It should ignore everything which is inside that section.

[2017-11-11 17:19] userzimmermann opened #4850 "IgnoreResultAction for PycodestyleBear requests value for the parameter 'language'"
[code]

This is very confusing! And even unnecessary ;)

[2017-11-11 17:21] userzimmermann commented on #4850
Realized when dealing with https://github.com/coala/coala/pull/3337#discussion_r150388002

[2017-11-11 17:25] userzimmermann opened #4851 "IgnoreResultAction violates line length restrictions"
Realized while dealing with https://github.com/coala/coala/pull/3337#discussion_r150388002

[code]

Results in:

[code]

[2017-11-11 17:41] userzimmermann opened #4852 "# Ignore comments can't be aggregated above related source lines"
Recognized when dealing with https://github.com/coala/coala/pull/3337#discussion_r150388002 (`import` at end of file, overwriting a class for experimental purpose)

When adding 2 `# Ignore` comments to the end of the line...

[code]

... then both are used

But in any of the following cases only the second one is used:

[code]

[code]

[2017-11-11 17:47] userzimmermann opened #4853 "IgnoreResultAction is offered again after applied"
Realized while dealing with https://github.com/coala/coala/pull/3337#discussion_r150388002 (`import` at end of file, overwriting a class for experimental purpose)

[code]

[2017-11-11 17:49] userzimmermann commented on #4853
@sils @Nosferatul @nemaniarjun @arush0311 Ideas about that?

[2017-11-11 17:51] userzimmermann commented on #4851
@sils @Nosferatul @nemaniarjun @arush0311 Ideas about that?

[2017-11-11 17:51] userzimmermann commented on #4850
@sils @Nosferatul @nemaniarjun @arush0311 Ideas about that?

[2017-11-11 18:20] userzimmermann opened #4854 "Confusing bear-dependent reactions to # Ignore"
Realized while dealing with https://github.com/coala/coala/pull/3337#discussion_r150388002 (`import` at end of file, overwriting a class for experimental purpose)

For example, when there is just `# Ignore` at the end of the source line, `PyUnusedCodeBear` result for that line is not shown:

[code]

But when it's above the line, the result is shown:

[code]

[code]

But with full `# Ignore PyUnuse

[2017-11-11 22:28] nealkarpe commented on #4840
@IpshitaC There is another instance of the word `cobot` in the file [PULL_REQUEST_TEMPLATE.md](https://github.com/coala/coala/blob/master/PULL_REQUEST_TEMPLATE.md). I just stumbled upon it and thought it would be relevant to add to this issue! :smiley:

[2017-11-11 23:55] Makman2 commented on #4139
Because of this the issue is still open ;)

[2017-11-12 05:14] newbazz commented on #4139
I would like to try this issue, bt what all changes are to be included.

[2017-11-12 07:26] mohit2872 commented on #4848
can you assign this issue to me?

[2017-11-12 08:22] barkinunal commented on #4848
I will be working on this issue.

[2017-11-12 09:06] RaiVaibhav commented on #3847
@proishan11 ping :smile:

[2017-11-12 11:22] prnvdixit commented on #4840
This should be a ```repeatable task``` IMO as there are multiple such corrections needed in different repos. But, point to be kept in mind is that - Some of them are in code/old-docs too (which needn't be changed). So, ideally there should be a list of files to be changed (most of them are PR template files though). Advanced github search might come handy in that 😉.

[2017-11-12 11:26] mrtes commented on #4853
I guess this issue is a duplicate of #3375.
#4179 is my corresponding PR, which is currently waiting for reviews :)

[2017-11-12 11:48] jayvdb commented on #4840
The `cobot` in the `PULL_REQUEST_TEMPLATE.md` needs to be dealt with separately, as it appears in 6 different repositories, including this repository.
I think the `PULL_REQUEST_TEMPLATE.md` in this repository should be fixed before GCI, because we have a 'create PULL_REQUEST_TEMPLATE.md` task, and that task should involve the students copying from the `PULL_REQUEST_TEMPLATE.md` in this repository,

[2017-11-12 11:50] userzimmermann commented on #4853
Closing in favor of https://github.com/coala/coala/issues/3375 with existing PR https://github.com/coala/coala/pull/4179

[2017-11-12 11:50] #4853 closed

[2017-11-12 12:05] prnvdixit commented on #4840
It ^^ should actually be 6 other i.e. total 7 repos - coala/coala-bears, coala/documentation, coala/emacs, coala/landing-frontend, coala/coala, coala/coala-html, coala/projects. https://github.com/search?p=2&q=org%3Acoala+cobot&type=Code (Review.rst and PR template in coala/coala and PR template in others)

[2017-11-12 12:11] RaiVaibhav commented on #4840
@prnvdixit  I also think making list(like a spread sheet in which we can also add the link of file/documentation) will be best so that assignee will changes only that part which needed , not in one which don't needed??

[2017-11-12 12:41] co-robo opened #4857 "Clarify that the 'low' review in newcomer process requires critical comments of the code in the PR"
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a08415d51915d962afbda27)

[2017-11-12 12:43] mrtes opened #4858 "Investigate if Globbing.py can be replaced with standard library modules."
The python standard library features modules "glob" and "fnmatch" to support unix globs.
The API seems to match the public functions in the coala globbing module, on a first glance.

Are there reasons the Globbing.py module should persist or can we replace it, _if_ they behave the same?

[2017-11-12 15:02] userzimmermann opened #4859 "ConsoleInteractionTest.test_acquire_actions_and_apply is defined twice"
The original test gets replaced with a slightly modified copied method of same name that checks the behavior of `acquire_actions_and_apply` with `apply_single=True`

This also prevents https://github.com/coala/coala/pull/4179 from getting properly tested

cc @mrtes @Nosferatul @jayvdb @shreyans800755 @Adrianzatreanu @yukiisbored

[2017-11-12 15:29] userzimmermann opened #4861 "ConsoleInteractionTest.test_ask_for_actions_and_apply is defined twice"
Just like https://github.com/coala/coala/issues/4859

cc @Nosferatul

[2017-11-12 16:34] userzimmermann opened #4862 "ConsoleInteractionTest.test_acquire_actions_and_apply for apply_single=True is not well designed"
This should be processed after https://github.com/coala/coala/pull/4860 is merged

`test_acquire_actions_and_apply` was just copied and only slightly modified for testing `ConsoleInteraction.acquire_actions_and_apply` with parameter `apply_single=True`:

https://github.com/coala/coala/blob/8da058edc4690bbfcb1ef79bfc6ed255649ccf85/tests/output/ConsoleInteractionTest.py#L422-L471

It keeps too much

[2017-11-12 16:56] userzimmermann opened #4863 "ConsoleInteraction.ask_for_actions_and_apply: No check for invalid apply_single"
If `apply_single` refers to some non-existent action, just nothing happens. The function just returns with `True`:

https://github.com/coala/coala/blob/8da058edc4690bbfcb1ef79bfc6ed255649ccf85/coalib/output/ConsoleInteraction.py#L747-L827

This alowed hacks like setting `apply_single=True` in the 2nd variant `ConsoleInteractionTest.test_acquire_actions_and_apply` (which is getting properly renamed

[2017-11-12 17:01] userzimmermann commented on #4862
Also, setting `apply_single=True` is a bad idea according to https://github.com/coala/coala/issues/4863

It should better refer to the `DoNothingAction`

[2017-11-12 17:25] userzimmermann opened #4864 "Need tests/parsing/FilterHelperTest.py as companion to FilterTest.py"
`FilterTest.py` tests bear filtering on a very high level by executing `coala`. An additional `FilterHelperTest.py` should be created for testing the internal features of `coalib.parsing.FilterHelpers` on a lower level. For example, there is currently no test that specifically checks that `InvalidFilterException` (which is currently about to be renamed to `BearFilterTest` by #4856) is raised, whic

[2017-11-12 19:14] mrtes commented on #4863
We could use the existing action types, instead of magic strings.
That way we have encoded/documented which values are allowed for `apply_single`, and can handle other input properly.
I would remove the magic description strings in `ask_for_action_and_apply` in general.
Instead we could link the descriptions to the action types via constant fields (instead of function docstrings) and use these con

[2017-11-12 21:28] Makman2 commented on #4139
This range extends to the current version, all new features shall be properly documented.

[2017-11-12 22:21] #4859 closed

[2017-11-12 23:12] Makman2 opened #4866 "Interactions.fail_acquire_settings: Remove `section` parameter"
Do a `git grep fail_acquire_settings`, and you'll see all occurrences where calls have to be adapted. However, one of it is quite tricky, because the function is passed itself as a parameter and will be probably called somewhen later. Please take care of not breaking API :+1:

[2017-11-12 23:12] Makman2 commented on #4866
This can be done as soon as https://github.com/coala/coala/pull/4744 is merged, but this will happen soon.

[2017-11-12 23:25] #4740 closed

[2017-11-12 23:28] Makman2 commented on #4866
Merged.

[2017-11-13 01:37] #3375 closed

[2017-11-13 03:50] mohit2872 commented on #4864
yeah, i am interested.

On Sun, Nov 12, 2017 at 10:58 PM, Stefan Zimmermann <
notifications@github.com> wrote:

[2017-11-13 11:59] jayvdb commented on #4097
Ugh, we also have https://github.com/coala/coala/pull/4679

[2017-11-13 19:52] shreyans800755 opened #4868 "ConsoleInteraction: Remove unnecessary parameters from show_bear"
From the comment at https://github.com/coala/coala/pull/4817#discussion_r148143217 in
[code]
parameters `show_description` and `show_params` are redundent as both of these can be easily derived from `args`.
We need to clean up these.

[2017-11-13 19:53] shreyans800755 commented on #4868
Blocked until https://github.com/coala/coala/pull/4817 is merged.

[2017-11-14 05:02] mohit2872 commented on #4864
Is this issue raised? If yes, can you tell me that issue number?

On Mon, Nov 13, 2017 at 9:20 AM, Mohit Gupta <mg909@snu.edu.in> wrote:

[2017-11-14 06:13] jayvdb commented on #4127
@anubhabsen , wow, it looks like it was more difficult than we expected.  Maybe just change the `.coafile` at the top of the repository?

[2017-11-14 09:35] userzimmermann commented on #4863
@yukiisbored It was caused by that ;)

[2017-11-14 09:40] userzimmermann commented on #4864
@mohit2872 This issue exists... We are commenting in here... So yes... It was raised... And has a number... Or what do you mean? ;)

[2017-11-14 10:19] mohit2872 commented on #4864
I mean the link to issue raised.

On Tue, Nov 14, 2017 at 3:10 PM, Stefan Zimmermann <notifications@github.com

[2017-11-14 10:55] mrtes commented on #4863
As time permits ;)
The whole apply_single business looks to me like a non-interactive run, with a defined default action, which is queried by user input (in `run_coala`).
Interestingly it is only queried if a respective command line arg is present.
Then coala is run normally, but due to the `apply_single` parameter, no user input is requested in `ask_for_action_and_apply`. Instead, the action matc

[2017-11-14 16:07] nvzard commented on #4668
Can you please tell me what message do you want it to show?

[2017-11-14 16:11] nvzard commented on #4668
Sorry I was busy with my exams. I've started working on this issue. Can you please tell me what message do you want it to show?

[2017-11-14 21:50] shreyans800755 commented on #4864
@mohit2872
This is the issue @userzimmermann is asking you about if you're interested to work on.

[2017-11-14 22:08] shreyans800755 commented on #3351
@jayvdb @Makman2
Main challenge I see over here is that, we're printing results bear-wise.
So, we're not really getting all the results for all the bears and then printing all the results altogether.
We're getting results for a particular bear and then printing it followed by the same procedure for the next bear.

One solution is to go with the other way(getting all results for all the bears). And

[2017-11-15 13:21] RaiVaibhav opened #4870 "Appveyor build fails"
https://ci.appveyor.com/project/coala/coala/build/1.0.10495/job/4xgjs0pur66bsia6
https://ci.appveyor.com/project/coala/coala/build/1.0.10494/job/uoxvugdhmi0bo0wq
Somehow  `BearTest.py` in `test/bears` and `test/core` directory  and  `BuildManPageTest.py` in `tests\misc` are failing during build of `appveyor`.

importance/critical
difficulty/high
type/bug

[2017-11-15 14:00] Makman2 commented on #3351
That's the only solution if we want to filter on all results regardless on which bear, as we can't know what result will follow that might be more severe or not.

This is actually cool, this might be more useful than the approach above. Let's try that :+1:

[2017-11-15 17:28] Makman2 commented on #4668
☝️ https://github.com/coala/coala/issues/4668#issue-252743994

[2017-11-15 20:07] shreyans800755 commented on #4668
@Makman2 Please remove the blocked label.

[2017-11-15 22:20] mrtes commented on #4850
Well, I'm not sure if that works for every bear, but for most we could go from the file ending of the files they are applied to?

[2017-11-15 22:24] co-robo opened #4871 "Add cli mode to emit a asciinema of command run and the command output"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a0cbeaae606d60e34cbaae2)

[2017-11-16 00:16] Makman2 commented on #4871
Could you clarify a bit?

[2017-11-16 00:18] Makman2 commented on #4850
That is a problem in general we have: Detecting the programming language of a file.
It's not only how to do this properly, but how to integrate this information within our bears.

However, to properly place an ignore comment, the language has to be known so coala knows what comment markers to place.

[2017-11-16 00:28] Makman2 commented on #4858
CC @fneu

[2017-11-16 00:34] Makman2 opened #4872 "InvalidFilterException should change name"
From https://github.com/coala/coala/issues/4848

[2017-11-16 00:34] mrtes commented on #4850
I'm not sure I understand. Couldn't we encode the language information in the bear definitions themselves?
Or do we have bears that apply to multiple languages?

Another option would be to use the file ending of the file associated to the Result (e.g. in the SourceRange).  This can be mapped to the language of the file and consequently to the appropriate ignore comment.

[2017-11-16 00:34] Makman2 opened #4873 "InvalidFilterException should change base class"
From https://github.com/coala/coala/issues/4848

[2017-11-16 00:35] Makman2 commented on #4848
This issue should be split up into two smaller ones.

[2017-11-16 00:35] Makman2 commented on #4848
- https://github.com/coala/coala/issues/4872
- https://github.com/coala/coala/issues/4873

[2017-11-16 00:35] #4848 closed

[2017-11-16 00:36] Makman2 commented on #4848
@mohit2872 please assign to one of these issue, the other one can be left for other newcomers :)

[2017-11-16 00:39] Makman2 commented on #3847
Unassigning due to inactivity.

[2017-11-16 00:41] Makman2 commented on #4851
phew this is conceptionally hard... seems like `ResultActions` now need the coafile settings too...

[2017-11-16 00:53] Makman2 commented on #3903
Unassigning due to inactivity.

[2017-11-16 01:00] Makman2 commented on #4850
We do, e.g. `SpaceConsistencyBear` or I recall a linter bear for C handling C-like languages.

[2017-11-16 04:20] mohit2872 commented on #4872
In #4848 I was told to replace InvalidFilterException with BearFilterError. Should I do that or replace with FilterError.

[2017-11-16 04:42] mohit2872 commented on #4848
I made the required change.

On Thu, Nov 16, 2017 at 6:06 AM, Mischa Krüger <notifications@github.com>
wrote:

[2017-11-16 06:32] newbazz commented on #3903
sorry by mistake i made a PR before assigning it to myself. ;P

[2017-11-16 09:32] RaiVaibhav commented on #4870
Its started working fine.

[2017-11-16 09:32] #4870 closed

[2017-11-16 10:50] jayvdb commented on #2740
Stale

[2017-11-16 10:50] #2740 closed

[2017-11-16 12:09] Makman2 commented on #4872
Where did you read `BearFilterError`? :D
Just `FilterError` or `InvalidFilterError`, to your likings ;)

[2017-11-16 12:16] Makman2 opened #4876 "rultor fails to merge"
[code]

[2017-11-16 12:17] Makman2 commented on #4876
CC @meetmangukiya as I've seen on gitter that you've posted something about this.

[2017-11-16 12:28] jayvdb commented on #4876
There was another different rultor error at https://github.com/meetmangukiya/chubby/pull/42

[2017-11-16 12:42] jayvdb commented on #4876
Another one at https://github.com/coala/coala-bears/pull/2077#issuecomment-344900199 .
Im curious whether it is all repos, or just coala-bears.

[2017-11-16 12:53] meetmangukiya commented on #4876
Yeah, the error on https://github.com/meetmangukiya/chubby/pull/42 is different. But I think this is a gpg problem again, maybe we have encrypted it using `gpg1` and they use `gpg2` or the other way round.

The issue that I had reported about a year ago https://github.com/yegor256/rultor/issues/1138 and the log http://www.rultor.com/t/10226-266300430

[2017-11-16 14:25] userzimmermann commented on #4872
@Makman2 `BearFilterError` was my suggestion in https://github.com/coala/coala/pull/4856#pullrequestreview-75956368 because a filter can mean anything and this filtering here is only about bear filtering for `--show-bears`

I wouldn't use `Invalid` prefix, since it's as untypical as `Exception` suffix. Would be like `InvalidAttributeError`, `InvalidKeyError`, or `InvalidNameError` ;)

cc @mohit287

[2017-11-16 14:53] mrtes commented on #4858
I just tested this, by replacing the Globbing.py functions that are used in Collectors.py with their stdlib equivalents.
After small modifications, all tests pass:

1) Stdlib `fnmatch` only works with a single pattern, while custom `fnmatch` iterates over multiple patterns. However, this can be emulated with a simple helper function.

2)  When directories are searched with globs of the form 'direc

[2017-11-16 15:14] Makman2 commented on #4858
Want to try it? :)

[2017-11-16 15:36] jayvdb commented on #4876
https://github.com/coala/projects/pull/397 merged ok.
Next we should merge something in coala/coala to see if that repo is ok.

[2017-11-16 18:49] shreyans800755 opened #4878 "Investigate bear glob pattern behaviour for `*`"
In bear glob patterns, `**` and `*` are giving same results. Actual discussion - https://github.com/coala/coala/pull/4832#issuecomment-343619919

CC @Makman2

[2017-11-16 23:34] mrtes commented on #4858
OK, there is one issue:
Out globbing syntax is a bit extended compared to the standard and also accepts regex-like or expressions, for example `(test|tset)`.
Neither these brackets, nor the pipe operator is supported in the glob or fnmatch modules.

[2017-11-17 03:07] jayvdb commented on #4876
https://github.com/coala/coala/pull/4867 was merged.
So I assume this is a problem with coala-bears *primarily* (and maybe a few other less important repos)

[2017-11-17 03:14] jayvdb commented on #3903
This requires someone who knows our system very well; at least an approved developer; hence changing to medium.

[2017-11-17 05:00] Pratul1997 opened #4879 "Change cobot to corobo in Review.rst"
For changing label we do `corobo mark wip <url>` but in documentation it is given `cobot mark wip <url>`

Replace `cobot` with `corobo` in [Review](http://api.coala.io/en/latest/Developers/Review.html).
Relevant file can be found [here](https://github.com/coala/coala/blob/master/docs/Developers/Review.rst)

[2017-11-17 08:23] prnvdixit commented on #4879
@Pratul1997 Close this issue - Duplicate of https://github.com/coala/coala/issues/4840. Please, take a look at existing issues before making new issues (GitHub advanced search comes handy in such cases). :smile:

[2017-11-17 08:51] newbazz commented on #4066
I would like to work on this issue if no one is working.

[2017-11-17 10:55] RaiVaibhav commented on #4876
@Makman2  @jayvdb  any try on coala-bears repo? as previously on coala repo rultor didn't work, but after sometime it worked.

[2017-11-17 14:21] RaiVaibhav opened #4880 "google form link for promotion request in Newcomers_Guide.rst is not showing."
[Go to the link](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html)

difficulty/newcomer

[2017-11-17 15:28] Makman2 commented on #4876
Still failing^^

[2017-11-17 15:43] Makman2 commented on #4858
Okay question would be then if we want to give up on those features for the sake of simplicity or not.

I'm not sure how useful those extensions are, however I've seen them sometimes when people have asked how to set up a .coafile properly.

[2017-11-17 15:44] Makman2 commented on #4878
CC @fneu

[2017-11-17 16:30] jayvdb commented on #4848
Ugh, I dont think this problem should be split into two.  The name and the class hierachy of an exception are very closely tied together.

If this is a `LookupError` subclass, the name should indicate that.  Changing it to `FilterError` in one commit, can *not* be followed by simple changing the superclass to `LookupError`, because it would need to change name *again* to `FilterLookupError` or `Un

[2017-11-17 17:21] mrtes commented on #4858
Either that, or we investigate if we can combine this functionality with the python globbing libraries.
We could use custom code for the custom syntax and let the actual globbing stuff be handled by the python libraries..
Ideally this would cut the amount of code in the Globbing module by quite a bit.

Anyway, I guess we need more input from other developers to discuss this properly.

[2017-11-17 18:12] userzimmermann commented on #4848
@jayvdb `builtins.AttributeError` and `KeyError` are also based on `LookupError` without mentioning `Lookup` in their name. That's just the Python way. Just like an attribute or key was not found, in this case a filter was not found. Or, more precisely, a bear filter. So IMO, it would just follow the hierarchy and style of default Python exceptions. Prefixing with `Unknown` or `Invalid` is IMO red

[2017-11-17 18:16] userzimmermann commented on #4848
@jayvdb But regarding the split I think the same: Should have been solved in a single issue/PR. It's taking up more time this way. But what's done is done ;) And so let's hope that we quickly get that stuff through now! :)

cc @Makman2 @mohit2872

[2017-11-18 00:57] Makman2 commented on #4848
That's why I think it's legit to split into two, imo semantically two different changes (although related).

[2017-11-18 00:57] Makman2 commented on #4848
It's not critical and we need newcomer issues ;)

[2017-11-18 02:42] Makman2 commented on #4858
Oh right 😅 third option :P

Yeah we could do it, should be possible to do pre- and postprocessing steps capable of handling our glob features.

[2017-11-18 06:05] SanketDG opened #4881 "master fails on Fedora 26"
Fresh install of `coala` and `coala-bears` master on a new venv:

[code]

[2017-11-18 12:39] userzimmermann commented on #4356
@Makman2 What's so bad about different value types for different settings, like normal string type (w/ escaping) or path type (w/o escaping)?

cc @jayvdb

[2017-11-18 17:48] Makman2 commented on #4356
this makes stuff super inconsistent, and I can really feel that this is a bad idea and we will hit issues in the future^^

[2017-11-18 17:50] Makman2 commented on #4356
Actually I'm for keeping our current escape sequence support (although not really mature right now) everywhere inside a coafile, regardless which setting.

[2017-11-18 17:51] Makman2 commented on #4356
Changed priority, as there's a workaround (by using double backslashes).

[2017-11-18 18:18] Makman2 commented on #4881
Which OS are you running on? Seems for me we haven't adapted some requirement for your platform^^

[2017-11-18 20:28] SanketDG commented on #4881
Fedora 26, previously used yum (till 21 iirc), now uses dnf

[2017-11-18 22:55] userzimmermann commented on #4356
@Makman2 This is nothing but a torture for Windows cmdline users!

[2017-11-18 23:01] userzimmermann commented on #4356
@Makman2

We will hit even more issues in the future if we don't correct the mistakes of the past ;)

[2017-11-19 04:11] jayvdb commented on #4071
@gureks : @adhikasp was correct, at https://github.com/coala/coala/pull/4480/files#r128207768 , that the `a` should be added.  Otherwise, the `a` is an unused name.

[2017-11-19 04:18] jayvdb commented on #4876
Can you show a log where rultor failed with `gpg: decryption failed: bad key` on the coala/coala repo?

[2017-11-19 04:47] RaiVaibhav commented on #4876
Soory I mistakenly corelate with `coala/repo` at that moment, thanks for retying.

[2017-11-19 10:32] nvzard commented on #4037
Is this issue still open?

[2017-11-19 12:22] #4857 closed

[2017-11-19 15:45] nvzard commented on #3847
https://github.com/coala/coala/blob/master/coalib/results/Diff.py#L159
Is this the part where I should be working on?

[2017-11-19 16:21] jayvdb commented on #3847
@nvzard , you've hit a slightly different problem (https://github.com/coala/coala/issues/3182) in the same location , but the error message is equally as bad and needs improvement (which is what this bug is about)  ;-)

the easiest approach is in `Diff.from_clang_fixit`, but there is also `SourceRange.from_clang_range`.  Catch the exception, and then emit a useful error message, and then re-raise

[2017-11-19 16:26] userzimmermann commented on #4356
@Makman2 Oh! BTW... Maybe we have some little misunderstanding ;)

That's fine! I would never use backslashes as path separators in a `.coafile`

It's only about the `--files` cmdline flag

[2017-11-19 16:47] Makman2 commented on #4881
Confirmed, I get the same ;)

[2017-11-19 16:47] Makman2 commented on #4881
CC @shreyans800755 , as it is caused by the `--show-bears` and `--json` options :+1:

[2017-11-19 17:19] Makman2 commented on #4356
Your fault choosing windows 😅

That's no mistake of the past ;) We are currently trading a bit of windows user convenience for a more complicated coafile parsing functionality probably resulting in unintuitive exceptions in the syntax.

Makes our CLI then complicated. We might miss other parameters that also accept files, and suddenly those don't support this convenience.
But: As everything is mer

[2017-11-19 17:21] userzimmermann commented on #4356
@Makman2 @jayvdb Here comes the solution that should satisfy everybody: https://github.com/coala/coala/pull/4883

[2017-11-19 17:21] khanchi97 opened #4884 "Write GlobalBearTestHelper to simplify tests for global bears"

[2017-11-19 17:26] userzimmermann commented on #4356
@Makman2

It's still not about `.coafile` parsing 😄

[2017-11-19 17:27] Makman2 commented on #4356
Yeah I know, I just wanted to point out the trade off here 😅 sorry :P

[2017-11-19 17:29] userzimmermann commented on #4356
@Makman2

Your fault disappointing many other Windows users out there ;P

[2017-11-19 19:01] userzimmermann opened #4885 "coalaCITest.setUp() defines unused attributes self.unescaped_coafile and self.coafile"
Recognized while creating https://github.com/coala/coala/pull/4883

https://github.com/coala/coala/blob/9de6241bc8cebcf32bffe773c6ebbb5018bfad6b/tests/coalaCITest.py#L13-L16

Since they have no relevant side-effects, those unused attributes should be removed

[2017-11-19 19:09] userzimmermann opened #4886 "No tests for coala --ignore"
Recognized while creating https://github.com/coala/coala/pull/4883

There should be added some tests for this cmdline option. This is its definition:

https://github.com/coala/coala/blob/4e0c88e5d5e575e6fd20b5abb437d0ef54cb6077/coalib/parsing/DefaultArgParser.py#L148-L150

[2017-11-19 19:10] userzimmermann opened #4887 "No tests for coala --limit-files"
Recognized while creating https://github.com/coala/coala/pull/4883

There should be added some tests for this cmdline option. This is its definition:

https://github.com/coala/coala/blob/4e0c88e5d5e575e6fd20b5abb437d0ef54cb6077/coalib/parsing/DefaultArgParser.py#L152-L154

[2017-11-19 19:12] userzimmermann opened #4888 "No tests for coala --bear-dirs"
Recognized while creating https://github.com/coala/coala/pull/4883

There should be added some tests for this cmdline option. This is its definition:

https://github.com/coala/coala/blob/4e0c88e5d5e575e6fd20b5abb437d0ef54cb6077/coalib/parsing/DefaultArgParser.py#L156-L158

[2017-11-19 22:04] nishgaba-ai commented on #4648
I found a fix i think, the only problem in visibility is the issue in the boxes, the file to change it is /docs/_static/custom.css

If we inspect the elements, the problem is in the visibility due to the color of underline too, if we just make the color of the underline (text-decoration) to be same color as the link's text(#eee) then the visibility is clear and easily recognizable.
I am going add

[2017-11-20 00:45] userzimmermann opened #4890 "Don't use re.escape for making windows paths work as config setting values"
Many coala config settings, like those in a `.coafile` are file system paths. Like the `files` that shall be analyzed :) Those paths can and should always be OS-independently defined `with/unix/style/forward/slashes`

But when it comes to working interactively with coala in a Windows shell with path auto-completion, or when it comes to run coala's own tests in a Windows environment, there are `win

[2017-11-20 00:45] supergr35 opened #4891 "Implement travieso"
https://github.com/wizeline/travieso

This might be something useful to have on our repos, as it could save some time when we want to hunt for what actually went wrong.

Opinions would be appreciated concerning this, since I'm not sure what the cost of implementing it would be.

[2017-11-20 00:52] jayvdb commented on #4891
This is a devops thing.  It needs to be setup on our servers before we can use it.

[2017-11-20 00:53] jayvdb commented on #4890
There are lots of existing issues about this.

[2017-11-20 00:56] jayvdb commented on #975
Done in https://github.com/coala/coala/pull/4608

[2017-11-20 00:56] #975 closed

[2017-11-20 00:58] jayvdb commented on #2685
Lets call this done, and create new issues for other requirements

[2017-11-20 00:58] #2685 closed

[2017-11-20 01:02] userzimmermann commented on #4356
@Makman2

Just a matter of proper testing ;) And already addressed in https://github.com/coala/coala/pull/4883

[2017-11-20 01:10] userzimmermann commented on #4890
@jayvdb For example? :)

[2017-11-20 01:17] Makman2 commented on #4890
If there's an older issue and it's not actively worked on, I would like to keep this one open instead and close the other one as it's very good described here.

[2017-11-20 01:18] Makman2 commented on #4356
yeah you're right... I just have the feeling we are making our life a little bit more complicated with this feature^^

[2017-11-20 01:25] userzimmermann commented on #4356
@Makman2 When we will be old we will be happy that we did it ;)

[2017-11-20 01:38] jayvdb commented on #4876
I've raised this upstream as https://github.com/yegor256/rultor/issues/1221

[2017-11-20 11:06] userzimmermann commented on #4356
@Makman2

Believe me! Our life will get richer with this feature ;) No one will ever use an escape sequence in a file path :) And it's all and only about the cmdline here. Even every ported Unix tool interchangeably supports `/` and `\` from the Windows cmdline. MinGW and Cygwin do it... It feels just as normal as the BSoD ;P We shouldn't be the only exception!

[2017-11-20 11:51] jayvdb opened #4892 "Add tests for bear attribute SEE_MORE"
Add tests for `SEE_MORE`, which was added in https://github.com/coala/coala/issues/3978

[2017-11-20 11:53] jayvdb commented on #4605
@newbazz , ok, go for it.  This should be a very easy "medium".

See `git grep SEE_MORE` as an example of what needs to be done.

But first, please do https://github.com/coala/coala/issues/4892 .

[2017-11-20 11:54] newbazz commented on #4605
@jayvdb  my exams are going on so i would be able do do this issue after this week ends (i have one pending review as well) If someone wants to work on this  can take it.

[2017-11-20 11:55] jayvdb commented on #4605
They are 20 mins work each :P

[2017-11-20 11:56] newbazz commented on #4605
Btw i have no exposure to tests yet so need to give it a bit time. Yeah will surely start working on this by tonight.

[2017-11-20 11:59] newbazz commented on #4892
Where do i need to add these tests, I mean in which file?

[2017-11-20 12:04] jayvdb commented on #4892
Probably `tests/bears/BearTest.py` is the best spot.

[2017-11-20 13:06] newbazz commented on #4892
i need not make a new class for this right?

[2017-11-20 16:01] jayvdb commented on #4848
@userzimmermann ,  `AttributeError` and `KeyError` are errors with the *operands* .  `FilterError` is (in this case) an error about the class -- it does not describe what part of the operation parameters was problematic -- and is usually the naming system given to exceptions higher in the tree where there is some need to group a bunch of otherwise unrelated exceptions -- it is ideally not the type

[2017-11-20 21:01] shreyans800755 commented on #4881
@Makman2 @SanketDG
I'm getting all the bears in json format as expected. I'm on ubuntu 16.04 system. Can this be specific to your system ?

[2017-11-20 21:24] userzimmermann commented on #4848
@jayvdb `FilterError` in this case just means that a filter was not found. That the lookup of the filter in `avialable_filters` failed. That the given filter name was not found as key in that `dict`. That's all

But yes! `FilterError` might sound to blurry. Might feel like there was some problem with a filtering operation as you wrote... So let's find a better name! What about `FilterNameError` :)

[2017-11-21 01:26] jayvdb commented on #3753
For `sarge` and `termcolor`, we can probably switch to another library which does the same, and has a wheel, and (implicitly ..) is better maintained.
e.g. [`sh`](https://github.com/amoffat/sh) and [`ansicolors`](https://github.com/jonathaneunice/colors/) or [`crayons`](https://github.com/kennethreitz/crayons), all of which are actually slightly better than the library we are using, but there are

[2017-11-21 02:36] SanketDG commented on #4881
Yeah, probably, but I cant seem to find where exactly is `DistributionRequirement` used....

[2017-11-21 06:18] Vedarth commented on #4847
Can I work on this issue?

[2017-11-21 06:22] Vedarth commented on #4861
I would like to solve this issue, if it is alright with the current solver.

[2017-11-21 06:57] RaiVaibhav commented on #4847
@44rdvark  ping

[2017-11-21 08:01] parthboricha commented on #4861
@Vedarth I'm working on this at the moment!

[2017-11-21 08:27] Vedarth commented on #4861
@parthboricha Alright then.

[2017-11-21 08:30] Vedarth commented on #4056
I would like to work on this issue.

[2017-11-21 08:36] Vedarth commented on #4056
@jayvdb Please assign me this issue.

[2017-11-21 09:02] Vedarth commented on #4045
I would like to work o this issue

[2017-11-21 09:14] 44rdvark commented on #4847
I'll do it in the next two days if it's fine with everyone.

[2017-11-21 13:48] jayvdb opened #4894 "Man page coala.1 installed in unaccessible location"
The man page is installed into `site-packages`, I believe.

This may be how it should be installed: https://github.com/nose-devs/nose/blob/master/setup.py#L109

More info at https://github.com/pypa/packaging-problems/issues/72

[2017-11-21 14:41] newbazz commented on #4605
I am now confused on what to do in this issue.

[2017-11-21 14:42] newbazz commented on #4605
![image](https://user-images.githubusercontent.com/25884863/33078296-3d0298c2-cef8-11e7-8dce-cae12ecf947b.png)
this is what `git grep SEE_MORE` gave.

[2017-11-21 17:19] sils opened #4896 "test issue"

[2017-11-21 17:20] #4896 closed

[2017-11-21 17:49] Vedarth commented on #4056
@jayvdb Kindly merge https://github.com/coala/coala/pull/4895 if you think it solves this issue.

[2017-11-22 02:31] jayvdb commented on #4428
`sudo` is a bad idea, generally.
Open more specific issues if there are use cases for `sudo` rather than `virtualenv` and `--user`.

[2017-11-22 02:31] #4428 closed

[2017-11-22 02:36] jayvdb commented on #4017
This needs to be more cleverly documented. virtualenv is a tool which should be managed by the OS, not specific to coala needs.

Windows users do not have `sudo`.

Linux users with `sudo` access can surely also run `[pkgmgr] install python*-virtualenv` , and that is what they should do.

The final solution is to use `pip install --user`.

[2017-11-22 04:39] Vedarth commented on #4119
@Makman2 Should I modify create_arguments() example by returning `None` instead of a config file? Or create a new example altogether?

[2017-11-22 07:42] jayvdb commented on #4511
ping @userzimmermann ...?
Re-open if we have missed something.

[2017-11-22 07:42] #4511 closed

[2017-11-22 07:53] jayvdb opened #4898 "Refine bear picking strategy with more advanced prioritization"
Proposed priority (not in order of work priority)

  - Could FIX problem
  - Minimizing number of bears (1 super bear vs 10 tiny bear)
  - Common runtime (native, then external bear using python, ruby, etc)
    Maybe we can get the runtime type through bear requirement?

[2017-11-22 12:25] Vedarth commented on #4119
@Makman2 Kindly review my pr

[2017-11-22 13:24] Vedarth commented on #4045
@nemaniarjun As we know the function is actually taking input as return value so that is exactly what I will write.

[2017-11-23 08:35] RJ722 commented on #4583
@Abishek10 are you still working on it?

[2017-11-23 10:01] yash-nisar opened #4901 "Display command-line in `execute_bears` on test-fail when a linter is used"
For example :
`pylint -c fileA.py --super-aggressive-lints`

(Disclaimer: Those are all invalid flags in pylint, use at own risk :P)

EDIT by @Makman2:
Remove obsolete label-keywords

[2017-11-23 10:04] yash-nisar commented on #4901
Why didn't gitmate label this issue ? Did we tweak its behaviour ?

[2017-11-23 16:12] #4495 closed

[2017-11-23 17:59] jayvdb commented on #4848
Oh my goodness.  `FilterNameError` means there was a problem with the name given to a filter.

[2017-11-23 18:05] richer6605 commented on #4873
could I take this one if there is no assignee?

[2017-11-23 18:12] userzimmermann commented on #4848
@jayvdb Like `NameError` means there was a problem with the name given to a variable? ;)

[2017-11-23 18:51] jayvdb commented on #2263
For Australian results, coala github repos are first, then website, and the coala.global doesnt appear on the first page at all - everything is our coala.

In Indonesia, coala.global is the last entry on the first page - everything else is our coala.

I think we've done enough to warrant closing this.  Nothing we can do about the koalas. They are going away any time soon.

[2017-11-23 18:51] #2263 closed

[2017-11-23 19:43] jayvdb commented on #3264
Assigning to some maintainers to get some ideas going, so we can work out what to do with this take issue.

[2017-11-23 21:43] Mariatta commented on #3264
Thanks @jayvdb. I think there should be docstring. It should contain at least a brief explanation of what it does, and explain the keyword arguments.

However it should not replace the official documentation. More things like code example and how to use it can be added in the documentation, not in docstrings.

[2017-11-23 21:48] Mariatta commented on #3265
I think there is value in explaining what the labels are for, and what they meant. I don't know what the previous attempt at this look like. Could anyone point me to it? Was there a PR?

IMO having a table / list of all the labels, and a brief description of the purpose would be useful.

[2017-11-24 00:03] co-robo opened #4903 "docs: change git installation command"
In `docs/Developer/Git_Basics.rst`, change git installation command from `git-all` to `git`.
Opened by @mamat-rahmat at [Gitter](https://gitter.im/coala/coala-bears?at=5a1761db232e79134dc4effc)

[2017-11-24 00:07] mamat-rahmat commented on #4903
misprint. should be `docs/Developers/Git_Basics.rst`

`git` only includes main components with minimal dependencies. `git-all` contains all sub-packages.
`git` is enough for development.

reference : https://askubuntu.com/questions/796600/difference-between-installing-git-vs-installing-git-all

[2017-11-24 00:42] jayvdb commented on #4903
ftr, this was introduced in https://github.com/coala/coala/pull/1744 by @Adrianzatreanu

[2017-11-24 01:58] co-robo opened #4904 "docs: Explain unack usage explicitly"
Explain that `unack` is used for disapprove commit that is `ack`-ed by someone else.
difficulty/newcomer
Opened by @mamat-rahmat at [Gitter](https://gitter.im/coala/coala?at=5a177cc471ad3f8736227ad8)

[2017-11-24 05:07] Lavenderjiang opened #4905 "docs: "tutorial" page doesn't exist in README.rst"
In coala-html, the "ABOUT" section has a link to "tutorial", but that page doesn't exists.

[2017-11-24 22:06] darthgera123 commented on #4904
ill work on this issue

[2017-11-25 06:33] parthboricha commented on #4861
@userzimmermann I was not supposed to merge it right? Now what can be done to get this sorted?

[2017-11-25 08:58] yukiisbored commented on #4861
@parthboricha You've merged it to your own fork. Not this repository.

[2017-11-25 09:33] Vedarth commented on #4045
@nemaniarjun please review my pr https://github.com/coala/coala/pull/4900

[2017-11-25 15:17] SanketDG commented on #4017
Also, note that `venv` has been there from 3.3, if the user carries an older version, its also time to upgrade :)

[2017-11-25 18:36] shreyans800755 commented on #4881
I've created a PR to test this scenario on CI at https://github.com/coala/coala/pull/4913.
It looks like it is giving the same error as you are getting but with different package manager - `brew`.

Ref https://travis-ci.org/coala/coala/jobs/307175601#L1659
Same error is there on Circle as well.

[2017-11-26 21:49] Makman2 commented on #4892
@jayvdb `SEE_MORE` is doctested in the docstring of `class Bear`.

[2017-11-26 22:14] Makman2 commented on #3264
Imo everything related to the documented function/whatever directly should be placed into docstrings for the sake of maintainability and quick-look-up-ability. Also doctesting can be performed then.

Larger tutorials, set-ups and feature documentation should be in separated documents.
So regarding this:

I would only agree on this when it's about features and incorporated into a "bigger picture" w

[2017-11-26 22:17] Makman2 commented on #3264
I believe we do it already quite good, if I don't miss something I would vote for closing this issue :+1:

[2017-11-26 22:22] Makman2 commented on #4848
Tbh there are many philosophies on naming, especially on exceptions. I don't have a problem with any of them, any has a right to exist. I would only pledge for `FilterError` because it's shorter.

Like @userzimmermann said, I don't see it like this either ^^

[2017-11-26 22:34] Makman2 opened #4914 "Write a commit-checklist for reviewers"
Especially for newcomers important.

[2017-11-26 22:36] Mariatta commented on #3264
Thanks @Makman2. If we are already doing it, then let's keep it up :)

[2017-11-26 22:36] #3264 closed

[2017-11-26 23:01] Makman2 commented on #4914
My ideas:

- Commit shortlog
  - Apply a tag if possible
    - If using a tag, it should be the filename modified (with or without ending)
    - If it applies to a complete module with sub-modules, mention the module name (e.g. core is affected in total, use `core` as tag)
    - No tag: If the tag would be `coala` (because everything is affected / the program itself), omit it
  - Imperative tense

[2017-11-26 23:02] Makman2 commented on #4914
I would like to hear ideas from others, especially on the `Commit diff` part which could be more precise (it could really include specific code-constructs someone should look out for, like if's -> expressional if's etc)

[2017-11-27 02:57] #4892 closed

[2017-11-27 03:19] Makman2 commented on #4914
Maybe we can incorporate this into our PR-template^^

[2017-11-27 05:00] yukiisbored commented on #4914
I think a checklist should be a checklist :P
Anyway, I think it can be shorter.

[2017-11-27 06:34] jayvdb commented on #4879
It is better to have one issue per each file for newcomer issues.

[2017-11-27 06:48] jayvdb commented on #4017
@SanketDG , `venv` is https://docs.python.org/3/library/venv.html which we do describe how to use at http://api.coala.io/en/latest/Developers/Development_Setup.html#using-venv

This issue is about `virtualenv`.

[2017-11-27 11:27] kiryteo commented on #4879
Can I take up this issue?

[2017-11-27 16:48] jayvdb commented on #4905
@Lavenderjiang , could you please recreate this issue in the coala/coala-html repository.

[2017-11-27 19:43] Makman2 commented on #4914
I think that would be not so good, then people start to forget things and then we don't need it at all imo^^ A checklist should be precise, even if it's making it longer.

[2017-11-27 21:12] #4873 closed

[2017-11-28 02:14] nvzard commented on #4884
Can you explain a bit more, what needs to be done?

[2017-11-28 02:16] nvzard commented on #4149
Is someone still working on this issue?

[2017-11-28 02:18] nvzard commented on #3306
Is someone still working on this issue?

[2017-11-28 04:13] SanketDG commented on #4017
We shouldn't encourage virtualenv at all for development, since venv has everything required.

The only reason for virtualenv is python2, which is not a problem anymore.

[2017-11-28 05:08] Lavenderjiang commented on #4905
Sure :)

[2017-11-28 07:40] jschwarzwalder commented on #4119
@Makman2  In attempting to review the pull request from @Vedarth  I must admit I don't know exactly what the change will be.

It sounds like by default no config file is created but if a developer is migrating to coala and needs/(has an existing) config file, there is an optional parameter that you can pass in to specify where the config file is located.

Is this accurate?

It also seems like we w

[2017-11-28 12:20] co-robo opened #4916 "Support `--files /dev/null`"
Opened by @adtac at [Gitter](https://gitter.im/coala/coala-bears?at=5a1d549dcc1d527f6bc4ff95)

[2017-11-28 15:00] khanchi97 commented on #4884
@nvzard Here we need a TestHelper for GlobalBears as you might have seen for localbears i.e LocalBearTestHelper.But TBH I am trying to write one 😉

[2017-11-28 18:51] Makman2 commented on #4119
This is only for writing bears and implementing features for them. When a developer migrates to coala he is usually not involved into bear writing, at least in the first time ;)

Exactly, this usually is the case, as generating files involves file-I/O (and consider coala running now on 1000 files, this is definitely an impact).

See https://api.coala.io/en/latest/Developers/Linter_Bears_Advanced.h

[2017-11-28 20:09] Makman2 commented on #3306
Doesn't look like, unassigning due to inactivity :+1:

[2017-11-28 21:43] Makman2 commented on #4916
@adtac how is this useful? :D

[2017-11-28 21:45] #4905 closed

[2017-11-28 21:45] Makman2 commented on #4905
@Lavenderjiang please reference it there so we can immediately navigate from here and see the history :+1:

[2017-11-29 00:33] adtac commented on #4916
The only use case is when you're running only global bears and you need to give a dummy --files value.

It's mostly just a matter to allowing a common practice in *nix.

[2017-11-29 05:03] yashraj-Dhanuka commented on #4880
@RaiVaibhav i have corrected the raised issue. Created a PR also . Actually i am new to github,was my contribution successful .

[2017-11-29 12:29] adtac commented on #4916
I agree. That's why I created the other issue (the one I mistakenly created in coala-bears). With both issues, we'll be covering all grounds :)

[2017-11-29 14:04] Makman2 commented on #4916
hmm I'm still in doubt we need this... `--files /dev/null` is for me equally to just omitting `--files` altogether.

[2017-11-30 06:57] SanketDG commented on #4648
@nishgaba-ai Looks like the theme we use does not use the underline property of css for underlining, instead a `border-bottom` with some padding. So, using the `text-decoration` property would mess up the hover style.

Instead something like:

[code]

should look much better.

[2017-11-30 13:41] mridubhatnagar opened #4927 "Git_Basics.rst: Mention about first time Git Configration"

[2017-11-30 14:04] newbazz commented on #4916
what does this issue exactly is? is it only about ommiting --files while running coala on global bears?

[2017-11-30 14:10] newbazz commented on #4914
I think there should be one more item in the checklist `taken care of not more than one commit per issue` or `it addresses only one issue` something like that

[2017-11-30 14:17] newbazz commented on #4904
I think this should contain that not to unack the PR until and unless they have already been acked and you want some changes to be made.

[2017-11-30 14:22] Makman2 opened #4928 "Don't require a `--files` flag if we're running only global bears"

[2017-11-30 14:34] newbazz commented on #4847
IMO this http://sol.gfxile.net/dontask.html should also be added.
PS. It was helpful for me so i suggested

[2017-11-30 14:56] Makman2 commented on #4916
No that's what https://github.com/coala/coala/issues/4928 is for.

[2017-11-30 14:56] Makman2 commented on #4916
It's about supporting `/dev/null` for `--files`.

[2017-11-30 15:01] newbazz commented on #4916
u mean `--files=/dev/null` ? if yes than what does that exactly does?

[2017-11-30 15:13] Makman2 commented on #4916
Please read up on `/dev/null` ;)

[2017-11-30 15:38] newbazz commented on #4847
@Makman2 a new issue for that? will it be ok?

[2017-11-30 15:39] newbazz commented on #4904
@Makman2 as u say sir ;P

[2017-11-30 15:51] newbazz opened #4929 "mention a link in smart question in newcomers guide"

[2017-11-30 15:52] newbazz commented on #4929
http://sol.gfxile.net/dontask.html this link is to be mentioned.

[2017-11-30 16:02] starlord1311 commented on #3956
@parthboricha are you working on this issue?

[2017-11-30 16:09] parthboricha commented on #3956
yes @starlord1311

[2017-11-30 16:12] Makman2 commented on #4901
gitmate does autolabelling based on machine learning now, keyword based labelling is disabled ;)

[2017-11-30 16:16] Makman2 commented on #4898
Actually more smaller bears are better than one huge bear. coala scales way better then (esp. with the new core) if tasks are smaller.

However, I also think that we maybe handpick the optimum bear components by hand and remove other functionality, so we don't have duplicate analysis for the same thing.

[2017-11-30 16:34] Makman2 commented on #3956
@parthboricha please submit a PR the next days then, as it seems there's interest in this issue ;)

[2017-11-30 16:40] Makman2 commented on #3753
Do we actually exploit `sarge`'s functionality? I mean it's in fact a little shell on its own, which we usually don't need (and if we need it, we can actually use the "real" system shell)

[2017-11-30 16:43] Makman2 commented on #3753
Actually I can't any occurrence of `sarge` in the repo :O

[2017-11-30 23:05] zhongLxyz commented on #3020
I am wondering if this is a good way to do it: create a new attribute in the FunctionMetadata class which only stores the default values of the optional parameters. And then delete the default values in the tuples of the dictionaries of the non-optional parameters. Any thoughts?

[2017-12-01 07:49] SanketDG commented on #3677
https://github.com/coala/documentation/pull/504 introduced `pipenv` as a easy way to install coala.

We should move to the pipfile spec asap.

[2017-12-01 09:12] jayvdb commented on #4879
@yashraj-Dhanuka, only Google Code-in students should take this issue.

[2017-12-01 12:54] #4879 closed

[2017-12-01 14:07] Makman2 commented on #3020
IIRC this is only about not storing the message for the default value inside the description itself, so we dynamically append a piece of text wherever needed (if a default value exists). It's not about changing how default values themselves are stored.

[2017-12-02 01:40] zhongLxyz opened #4934 "API documentation: adding links to the homepage and user's guide"
I want to propose adding the links leading to the coala [homepage](https://coala.io/#/home) and the coala ['For users' guides](https://docs.coala.io/en/latest/) in the navigation panel of the [Coala API Documentation](http://api.coala.io/en/latest/index.html).

I propose this because it will make it easier to look up other information when the users are only on the API documentation page. This is

[2017-12-02 08:48] athulpn commented on #4934
I am newcomer to opensource, can you help me do it? @zhongLxyz

[2017-12-02 10:40] newbazz commented on #4605
@jayvdb what attribute name do i need to give coz i cannot see any activity on the gitlab, and which file do i need to edit?

[2017-12-02 14:28] starlord1311 commented on #4916
can someone tell what i am supposed to do? @Makman2

[2017-12-02 14:47] newbazz commented on #4916
@starlord1311 do you know what /dev/null is?

[2017-12-02 14:50] starlord1311 commented on #4916
in general what i am supposed to do for this issue and yeah what /dev/null is

[2017-12-02 14:50] starlord1311 commented on #4916
i read about it but didnt understand its relation to the issue @newbazz

[2017-12-02 17:06] zhongLxyz commented on #4934
@athulpn You should start with the newcomer's guide of Coala [here](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html. So first you should start with a "difficulty/newcomer" issue. I don't think this particular issue has been assigned a difficulty yet.

[2017-12-02 18:13] Makman2 commented on #4916
I would then rather suggest to assign to a different issue ;)
However, this issue is still under discussion and not yet ready to work on anyway.

[2017-12-02 19:35] #4866 closed

[2017-12-02 21:39] Makman2 commented on #4916
Cite from @SanketDG (from gitter):

[2017-12-02 21:40] Makman2 commented on #4916
@adtac I would close the issue as wontfix, except you have some reasons why we really want this :)

[2017-12-03 05:18] adtac commented on #4916
:+1: closing

[2017-12-03 05:18] #4916 closed

[2017-12-03 05:19] zhongLxyz commented on #3020
Thanks for the clarification. :) I run the code myself and I think I see what the problem is asking now. I will assign myself to the issue if no one is planning to take it on.

[2017-12-03 17:41] shreyateeza commented on #4885
I am new here. let me take this. Just me let me know what I have to do next.

[2017-12-03 17:44] shreyateeza commented on #4566
Hello I am new here. Let me take this. Just me let me know what things I have to do next.

[2017-12-03 18:16] shreyateeza commented on #4156
Hello. I would like to work on this issue.

[2017-12-04 04:18] yashraj-Dhanuka commented on #4929
@newbazz under which heading or section i should add that link in Newcomers_Guide.rst ?
Thankyou !

[2017-12-04 10:14] newbazz commented on #4131
Can someone elaborate this issue?

[2017-12-04 10:53] RaiVaibhav commented on #4131
@newbazz  https://pastebin.com/j2jpz5Ez this will clear all your doubt :wink:
I think this issue needs to be get closed

[2017-12-04 13:06] newbazz commented on #4605
@jayvdb i want to start working on this issue so can yiu guide me about the attribute names. (P.S sorry for pinging again)

[2017-12-04 13:09] newbazz commented on #4928
running global bears means not specifing the `--bears` param?

[2017-12-04 14:37] Makman2 opened #4939 "linter: GlobalBear example wrong in docstring"
https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L780

The `filename` param doesn't exist in this scope.

[2017-12-04 14:39] Makman2 commented on #4939
However, there appears to me a misconception in the global-bear feature: I would expect that a `file_dict` field is passed, where I have access to all files. I currently don't know how to access them.

So imo something like this should be possible and used as documentation:
[code]

@NiklasMM why there's no `file_dict` parameter? :)

[2017-12-04 14:39] Makman2 commented on #4939
Removing `difficulty/newcomer` label until this is resolved.

[2017-12-04 15:10] prnvdixit commented on #4835
The other PR of current assignee is closed due to inactivity - Maintainers, please assign this issue to @bhavishyagopesh

[2017-12-04 15:22] Makman2 commented on #4939
There was a misunderstanding from my side: `file_dict` is accessed via self.
So the example should be this in the end:
[code]

[2017-12-04 15:26] Makman2 opened #4940 "linter documentation: Use single quotes for strings instead of double quotes in docstrings"
... where applicable to conform with our style guides.
Sometimes double quotes shall be kept, for example when there's a single quote inside them. You can always check up the right representation py starting python and entering it:
[code]

[2017-12-04 15:36] Makman2 commented on #4928
No. Some bears are so called `GlobalBear`s. They operate on the whole repo instead of individual files. However, some `GlobalBear`s don't process files at all (like the `GitCommitBear`), and those wouldn't need files to run.

[2017-12-04 16:17] Makman2 commented on #4835
Unassigned due to inactivity.

[2017-12-04 16:20] Makman2 commented on #4156
Unassigning due to inactivity.

[2017-12-04 16:22] Makman2 commented on #4566
Unassigning due to inactivity.

[2017-12-04 16:22] Makman2 commented on #4566
@shreyateeza I've raised the difficulty level as I think this issue is not so easy. Feel free to pick another one ;)

[2017-12-04 16:23] Makman2 commented on #4885
@shreyateeza you already have a newcomer issue assigned ;)

[2017-12-04 16:32] #4651 closed

[2017-12-04 17:06] #4835 closed

[2017-12-04 20:17] #4432 closed

[2017-12-05 10:15] starkblaze01 commented on #4940
Assign this to me

[2017-12-05 12:49] pradeepgangwar commented on #4864
@userzimmermann If @mohit2872 is not working on this. Can i work on this?

[2017-12-05 13:00] pradeepgangwar commented on #4071
@jayvdb I would like to finish this up. Can i do it?

[2017-12-05 13:26] nikhil-seth commented on #4903
Can i do this ?
As i think that the person who has been assigned is inactive ?

[2017-12-05 13:41] parthboricha commented on #4903
@nikhil-seth I am busy with end sem exam and would be getting this PR done by next week

[2017-12-05 15:27] prnvdixit commented on #4903
@parthboricha You may want to unassign yourself from some of the newcomer issues you are assigned to 😛. Ideally, you should do only 1 newcomer issue, you can keep one which you think you would be comfortable solving (Please, unassign yourself from 2 other newcomer issues then :wink:).

[2017-12-06 03:19] #4887 closed

[2017-12-06 12:03] starkblaze01 commented on #4940
@Makman2 Can you please point me to the directory where I have to make the changes

[2017-12-06 12:53] RJ722 commented on #4566
So, are we going to add a `pep257` bear?

[2017-12-06 15:00] Makman2 commented on #4566
No it's about improving our current documentation parsing facilities to conform with PEP257 :+1:

[2017-12-06 15:01] Makman2 commented on #4940
`coalib/bearlib/abstractions/Linter.py`

[2017-12-06 18:01] anuyog1004 commented on #4868
Can I take this if no one is working on it?

[2017-12-06 19:09] shreyans800755 commented on #4868
@alphadose Are you still working on this ? If not, we can reassign this to @anuyog1004

[2017-12-06 20:40] alphadose commented on #4868
@shreyans800755 yes I am working on this. I started working only after your PR got merged. Been about 3 days I guess :3

[2017-12-06 22:38] shreyans800755 commented on #4868
No problem. @anuyog1004, please find some other issue to work on . This is already taken at the moment.

[2017-12-07 11:21] pradeepgangwar commented on #4862
@userzimmermann can i try fixing this if @parthboricha is not working on this?

[2017-12-07 11:49] parthboricha commented on #4862
@pradeepgangwar okay!

[2017-12-07 13:22] Mixih commented on #4862
unassigned per request

[2017-12-07 14:30] archit-p commented on #4903
Can I take this issue up?

[2017-12-07 17:02] d3vil0p3r commented on #4934
@jayvdb can I work on this?

[2017-12-07 19:01] Mixih commented on #4903
reassigning issue due to multiple newcomer issues  assigned to @parthboricha (community policy is one newcomer issue per person as these issues are a net - ROI). As I don't see work on this issue, I think it will be ok to reassign.

[2017-12-07 19:15] anuyog1004 commented on #3708
I want to work on this issue. Please assign this to me.

[2017-12-07 19:34] pradeepgangwar commented on #4862
@userzimmermann please let me know what actually needs to be fixed here. I am new to coala codebase so probably i am missing something.

[2017-12-08 17:25] yashraj-Dhanuka commented on #2617
@SanketDG , are you still working onto this issue ?

[2017-12-08 18:05] jayvdb opened #4952 "Add ShellCheckBear to .coafile"
We dont have an explicit coding standard for shell scripts.

I believe we've mostly been using two space indents, but find the most common between here and the coala-bears repo, and force it here.
(There will be a second issue for updating coala-bears.)

Try to avoid using the docker; install shellcheck directly using apt-get if possible.

[2017-12-08 19:59] RaiVaibhav opened #4954 "Update `ASCIINEMA` of `GitCommitBear `"
Update `ASCIINEMA`:
Add detailed explanation of GitCommitBear, show working with the help of basic git commands(use `git log`) it will clear the workflow, as currently `GitCommitBear` runs only on HEAD of commit. It can't patch commit messages.

difficulty/low

[2017-12-08 20:00] RaiVaibhav commented on #4954
https://gitter.im/coala/coala?at=5a2a89ac3a80a84b5bd15665, will explain more

[2017-12-09 01:01] alphadose commented on #4901
@yash-nisar @Makman2 can you please throw some more light on the requirement of this issue ? I am a bit confused here :(

[2017-12-09 06:25] jayvdb opened #4955 "Add docstring for coala_modes.py mode_normal"
This function should have a proper docstring, and indicate that `log_printer` is unused & deprecated.

[2017-12-09 10:28] SanketDG commented on #2617
@yashraj-Dhanuka No, feel free to take it up :)

[2017-12-09 13:31] Subhash-Saurabh commented on #4955
I am new to coala .Can I work on this issue?

[2017-12-09 13:39] shreyateeza commented on #4323
If no one is working on this, please assign this issue to me.

[2017-12-09 13:42] blazeu opened #4957 "--apply-patches and ApplyPatchAction does not work as expected"
# Steps to Reproduce

1. Using https://github.com/coala/gci-leaders codebase
1. With the following `.coafile` (minimal version of what's in the repo)
[code]
2. Run `coala --apply-patches`

# Actual Results
The problem was not fixed automatically, instead it's asking what to do, like the usual `coala` run.

# Expected Results
The problem is fixed automatically without user's intervention.

# Additi

[2017-12-09 13:43] shreyateeza commented on #4110
If no one is working on this issue, please assign this to me

[2017-12-09 14:01] shreyateeza commented on #3878
Can anyone please tell me in which file this bug is there? :)

[2017-12-09 15:19] shreyateeza commented on #2745
Can anybody explain me in brief what is to be done?

[2017-12-09 19:14] prnvdixit commented on #3878
Ahh... almost forgot about this issue :)
Actually, the error was probably in my machine only (Mint hadn't received latest python3 update till then) - I was able to install coala properly once I switched to Ubuntu later (which already had latest python3 version).
I can't seem to recall the python3 version now though :(

[2017-12-10 17:10] Makman2 commented on #4323
@shreyateeza I think there's recent activity here, so please pick another issue ;)

[2017-12-10 17:12] Makman2 commented on #4901
When a test fails with a `@linter`-bear, the test output doesn't display the command the underlying executable was invoked with. This should be implemented :+1:

[2017-12-10 17:13] Makman2 commented on #2745
Unassigning due to inactivity.

[2017-12-10 17:14] Makman2 commented on #2745
@shreyateeza ☝️ https://github.com/coala/coala/issues/2745#issuecomment-246462303

[2017-12-10 17:18] Makman2 commented on #4957
When running over the codebase of `gci-leaders` I don't get any errors. Could you post a file where `ESLintBear` fails?

[2017-12-10 17:25] blazeu commented on #4957
Oh, I forgot to explain.
I create my own error to test.

You can add semicolon in any of the js files for example.

[2017-12-10 17:28] Makman2 opened #4959 "Linter documentation: Document that severity_map is case insensitive."
So passing this
[code]
or this
[code]
makes no difference.

`difficulty/low` so newcomers aren't confused about what this issue tries to achieve and this issue requires some reading on `@linter` ;)

[2017-12-10 19:21] shreyanshdwivedi commented on #4959
@Makman2 I would like to work on this

[2017-12-10 20:11] Makman2 commented on #4959
Invitation is out. However, please read our newcomer guide on how to get started ;)

[2017-12-10 20:21] Makman2 commented on #4957
Confirmed.

[2017-12-10 20:33] Makman2 commented on #4110
Unassigning due to inactivity.

[2017-12-10 20:34] Makman2 commented on #4954
Oh wrong repo.

[2017-12-10 20:35] Makman2 commented on #4954
Migrated to https://github.com/coala/coala-bears/issues/2159

[2017-12-10 20:35] #4954 closed

[2017-12-10 20:38] Makman2 commented on #4955
Please read our newcomer guide, and I would recommend you pick a `difficulty/newcomer` issue first ;) @Subhash-Saurabh

[2017-12-11 14:14] shreyateeza commented on #4110
Someone please let me know the location of this file.

[2017-12-12 01:52] #4668 closed

[2017-12-12 09:42] mridubhatnagar opened #4962 "Create a asciinema video that helps newcomer with initial steps to start contributing to the org"

[2017-12-12 11:06] ujjaldas1997 commented on #3708
@Makman2  if this issue is still unassigned, please assign it to me.

[2017-12-12 14:17] newbazz commented on #4605
@jayvdb no activity in the gitlab.

[2017-12-12 15:17] #4034 closed

[2017-12-12 15:33] parimatrix opened #4964 "Error while running Writing linter bear Tutorial"
**Steps to Reproduce:**
1. Copy final code for PylintTutorialBear from coala documentation [here](http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html).
2. Create any sample.py in the same folder.
3. Run the following
[code]
**Expected result:**
pylint to run on sample.py
**Actual result:**
error displayed with following logs
![screenshot 75](https://user-images.githubusercontent.com

[2017-12-12 16:16] vedanshbhartia commented on #3845
@whosethink Are you still working on this issue?

[2017-12-12 17:43] Makman2 commented on #4964
Have you tried to use latest coala from master?

[2017-12-13 06:33] parimatrix commented on #4964
@Makman2 I did try running the latest pre-release mentioned in the docs. That did not work out. Later used latest master. That solved the problem. Thanks a lot for the help. Closing the issue.

[2017-12-13 06:33] #4964 closed

[2017-12-13 07:23] nalinbhardwaj commented on #4952
Leaving preliminary data here, and enforcing two spaces(since that's most common). Formatted as file_url = < indent level >

[code]

[2017-12-13 11:11] vedantc98 commented on #4017
Is this issue still open?
I would like to take it up.
Thanks

[2017-12-13 11:23] vrishank97 commented on #4840
Can I be assigned this issue?

[2017-12-13 11:58] vrishank97 commented on #4955
Hi. Can I work on this issue? There aren't many newcomer issues available and I have some experience with open source.

[2017-12-13 17:43] Nshul opened #4968 "Problem in the getting started with coala tutorial"
### Getting Started with Coala Tutorial has some problems
I followed the link [Getting Started](https://docs.coala.io/en/latest/Users/Tutorial.html) and cloned the tutorial repo.
# Steps to reproduce
1. cd coala-tutorial
2. coala --files=src/\*.c --bears=SpaceConsistencyBear --save

# Actual Results
[code]
# Expected Results
[code]

# Reproducability
It would be great if somebody can tell whether

[2017-12-13 17:46] Makman2 commented on #4955
Please drop by in our gitter channel and mention me once you accepted invitation :+1:

[2017-12-13 18:42] Makman2 commented on #4968
Ah yes, `Default` section is now deprecated (--> its inheritance features), tutorial needs change ;)

[2017-12-13 18:50] vedantc98 commented on #4968
I want to begin contributing to coala, can I take up this issue?

[2017-12-13 20:13] Makman2 commented on #4968
Please ping me on gitter once you've accepted the invitation ;)

[2017-12-13 20:51] Makman2 commented on #4840
You already have two issues assigned (with one being a newcomer issue too ;D)

[2017-12-13 22:22] #4934 closed

[2017-12-13 23:11] #4940 closed

[2017-12-14 01:38] Nshul commented on #4968
Can i take up this issue??

[2017-12-14 07:26] vrishank97 opened #4972 "coala_modes.py: Deprecate log_printer param for mode_normal"
# Issue
log_printer param is now deprecated and unused.

## Proposal
Provide a deprecation warning (with `logging.warn`) if `log_printer` param is used.

EDIT by @Makman2:
Removed `DeprecationWarning` and rephrased to not confuse with the class from the `warnings` module (as we don't use those warnings, at least not yet)

[2017-12-14 09:45] aviral1701 opened #4973 "Installation page should mention about versions of python and pip3."
The home page for installation should mention about the minimum versions of python and pip required to install coala.The same is mentioned in the installation docs(Refer [#237)](https://github.com/coala/documentation/issues/237) but should also be there at [Home page](https://coala.io/#/home#installation).I think the new user would want to install coala in one go and since the details aren't menti

[2017-12-14 17:40] Nshul commented on #4880
can i work on this??

[2017-12-14 17:59] RaiVaibhav commented on #4880
@sanjeevbitx ping

[2017-12-14 22:31] Makman2 commented on #4968
Sorry @Nshul , although you've filed the issue, @vedantc98 was claiming it first ;)

[2017-12-14 22:57] Makman2 commented on #4880
Reassigned due to inactivity.

[2017-12-14 22:58] Makman2 commented on #4973
Yeah I think this is definitely wanted :+1:

[2017-12-14 23:02] prnvdixit commented on #4880
@Makman2 I will just leave this here :stuck_out_tongue:
https://github.com/coala/coala/pull/4961

[2017-12-15 04:56] vedantc98 commented on #4968
I've actually taken up another newcomer issue, so maybe @Nshul could take up this one after all?

[2017-12-15 10:19] rattandeep1998 commented on #4820
Hey,

Can I work on this issue ?

[2017-12-15 10:27] rattandeep1998 commented on #4509
Hey,
Can I work on this issue ??

[2017-12-15 10:28] RaiVaibhav commented on #4820
@supriyanta , ping
please assign yourself only to one `newcomer` issue, if you are facing in understanding of `issue`, contact for help on `gitter`.
There is already a open PR of yours on newcomer issue https://github.com/coala/coala-bears/pull/2123

[2017-12-15 14:21] aviral1701 commented on #4973
Thanks! Please assign this to me.
Sorry for late response.Didn't get the mail(?)

[2017-12-15 15:55] Nshul commented on #4968
I have already posted a PR for another newcomer issue and thus i cannot take this as it would be unfair to other new comers

[2017-12-15 17:29] Makman2 commented on #4968
Then I'm unassigning you anyway @vedantc98 :)

[2017-12-15 17:44] Makman2 commented on #4820
Unassigned due to inactivity.

[2017-12-15 17:45] Makman2 commented on #4509
Unassigning due to inactivity.

[2017-12-15 17:45] Makman2 commented on #4509
@rattandeep1998 please ping me on gitter once you've accepted the org invitation.

[2017-12-16 06:23] Nshul commented on #4880
@Makman2 sorry to disturb you. But I am a newcomer and just out of curiosity I want to know how much time can it take to merge a PR after all the tests and reviews have been passed? Really Sorry to disturb you

[2017-12-16 12:21] RaiVaibhav commented on #4880
@Nshul  there is queue of `PR` waiting for Review, and In last `maintainer` have to take a last look before merging any approved PR.
You can check it at [coala.io/review](https://github.com/pulls?q=is%3Aopen+user%3Acoala+label%3A%22process%2Fpending+review%22+sort%3Acreated-asc)

[2017-12-16 12:30] khanchi97 opened #4975 "Why coala show those results which have been fixed already"
### Why coala shows those results which have been fixed already.
## Steps to reproduce
1. Using `PycodestyleBear` on a file and file has some lines in which `no. of character > 79`
2. So now when coala prompt for the first line `E501 line too long(83 > 79 characters)`
    I opened the file (by pressing 1) and fix all the lines which had no. of characters more than 79 and exit.So now after this why

[2017-12-16 13:23] vddesai1998 commented on #4110
Hey, @shreyateeza if you are not working on this issue can I take this one?

[2017-12-16 13:49] shreyateeza commented on #4110
I am currently working on this issue. Feel free to take another issue @vddesai1998

[2017-12-16 14:15] pradeepgangwar commented on #4862
@userzimmermann @Mixih Please see if the issue is still valid. Looks like it is solved in latest file.
https://github.com/coala/coala/blob/master/tests/output/ConsoleInteractionTest.py#L376

[2017-12-16 14:17] Nshul commented on #4880
@RaiVaibhav thanks a lot

[2017-12-16 14:23] Rahmeen14 commented on #4968
Hi! I am completely new to open source and would like to take this is as my first issue if nobody else is currently working on it. I tried to get it assigned to myself on gitter but apparently corobo is under maintenance.
Would be glad if it is assigned to me!
Thanks for your time.

[2017-12-16 14:27] pradeepgangwar commented on #4864
@mohit2872 any update?

[2017-12-16 14:41] vddesai1998 commented on #4071
If @gureks is not active, can anyone assign this issue to me? I am finding difficulty/low issue but most of them are already assigned so I have to ask here in comments :)

[2017-12-16 14:43] pradeepgangwar commented on #4894
@jayvdb as given in suggested link, will putting man page to `man/man1` make it accessible?

[2017-12-16 16:16] Makman2 commented on #4864
Reassigned due to inactivity.

[2017-12-16 16:19] Makman2 commented on #4968
Invitation out, please ping me on the coala gitter channel once you've accepted :+1: :)

[2017-12-16 16:26] Makman2 commented on #4975
Was that during the same run?

[2017-12-16 16:29] Makman2 commented on #4071
@pradeepgangwar since you have a few issues already assigned at coala, I'm assigning @vddesai1998 ;)

[2017-12-16 16:30] Makman2 commented on #4071
Reassigned due to inactivity.

[2017-12-16 19:10] Makman2 opened #4976 "Disambiguation in "Closes xyz" vs "Fixes xyz""
See original issue for details:
https://github.com/coala/documentation/issues/465

[2017-12-16 19:11] khanchi97 commented on #4975
Yes, it was during the same run.

[2017-12-16 19:15] Makman2 commented on #4769
Probably it's best to put it into commit guidelines only, not to clutter the newcomer's guide even more.

[2017-12-16 19:15] Makman2 commented on #4976
(https://github.com/coala/coala/issues/4769)

[2017-12-16 21:36] RaiVaibhav opened #4978 "Use correct Link"
https://github.com/coala/coala/blob/0599b0aebb87a3dc0196ebc531738fe94cc909f1/coalib/parsing/DefaultArgParser.py#L40

when we click on link it redirect to https://coala.io/#/home
But It should have to redirect to https://coala.io/#/languages

difficulty/newcomer

[2017-12-16 23:28] Makman2 commented on #4978
The redirect also happens in my browser, so I believe this is a `coala/devops` problem. Could you migrate the issue there? @RaiVaibhav

[2017-12-17 14:13] #4880 closed

[2017-12-18 03:28] #4955 closed

[2017-12-18 07:18] adhikasp opened #4982 "Create Indentation aspects under Formatting.Spacing"
Create an aspects named `Indentation` in files `Formatting.py`. The new aspects should have fullname of `root.Formatting.Spacing.Indentation`. It should have atleast the following taste:

- `indent_type` - what type of indentation used, could be `tab` or `space`
- `indent_size` - number of spaces per indentation level

[2017-12-18 07:36] shreyateeza commented on #4975
If nobody is working on this issue, please assign it to me.

[2017-12-18 07:39] shreyateeza commented on #4957
@blazeu or @Makman2 Can anyone please explain me more in detail?

[2017-12-18 09:05] shreyateeza commented on #4552
I would like to work on this if @IamRaviTejaG is not working

[2017-12-18 09:23] shreyateeza commented on #2075
If no one is working on it, please assign it to me.

[2017-12-18 09:51] shreyateeza commented on #4868
@alphadose Are you still working on this?

[2017-12-18 11:23] alphadose commented on #4868
@shreyateeza  my work is finished , just waiting for review :P

[2017-12-18 15:00] Makman2 commented on #2075
Reassigning due to inactivity.

[2017-12-18 15:01] Makman2 commented on #4957
☝️ https://github.com/coala/coala/issues/4957#issue-280720415
I think the report is quite understandable :+1:

[2017-12-18 15:33] RaiVaibhav commented on #3708
@Makman2 Comments here actually confusing, what we actually needs here `list comprehensions` or `generator expressions ` as both are totally different.(Only same in expressing it)

I ping you because I don't want to make any false `review` :sweat_smile:

[2017-12-18 15:37] Makman2 commented on #3708
Let's treat it as a synonym here :3

[2017-12-18 16:24] Makman2 opened #4985 "Git Basics: Incorporate http://ohshitgit.com/"
http://ohshitgit.com/ contains helpful git snippets when something has gone wrong.

[2017-12-18 18:31] sourojit commented on #4985
Hi I want to work on this.

[2017-12-18 19:42] yash042 commented on #4985
Hello, I am completely new to Open Source and I want to contribute to coala. Can I take up this issue.

[2017-12-18 20:37] biscuitsnake commented on #4982
hi, please assign the task to me :)

[2017-12-18 20:44] Makman2 commented on #4985
@yash042 sorry @sourojit was first ;)

[2017-12-18 20:47] Makman2 commented on #4985
**Note**: Changed title - This should rather go into Git Basics.

[2017-12-18 21:45] Thekiddiejsandpython commented on #4886
Hi! I'm a coala newbie 😄 Do I make a fork, then make a pull request? Thanks 🍦 🕶  😀

[2017-12-18 21:46] Thekiddiejsandpython commented on #4886
I'm doing a task 4 GCI - google code-in

[2017-12-19 04:02] shashank-b commented on #4820
Please assign this issue to me.

[2017-12-19 04:09] shashank-b commented on #4962
Please assign this to me.

[2017-12-19 07:38] khanchi97 commented on #4884
can anyone assign me to this one?

[2017-12-19 08:37] ujjaldas1997 commented on #3708
I also used `yield` function previously. But it created so many problems because of its iterator(access only once). So I sticked to `list`. Thanks for the conformation.

[2017-12-19 17:17] #4982 closed

[2017-12-19 18:23] shreyateeza commented on #2075
@whonut Are you still working on this?
If not, then please let me know how you worked on this and where did you face the problem.
Thanks in advance:)
PS: I am also working on this :P

[2017-12-19 19:49] ishanSrt commented on #4975
@khanchi97 Unable to recreate this error, whenever a line is long, I hit 1 and it brings me to that particular line in the editor, I make the changes, close the editor **[now here I am again provided with a prompt to open editor, do nothing etc with no error in any line shown]** which I suppose shouldn't be there, I just hit enter and it takes me to the next line which exceeds the limit.

[2017-12-19 19:53] ishanSrt commented on #4975
Ok I get it you, you fixed errors ahead of that line 👍

[2017-12-19 23:09] whonut commented on #2075
@shreyateeza I'm afraid it's been so long that I can't remember anything about it. Very sorry, and sorry to have let it sit this long, but life happened :P Best of luck with it.

[2017-12-20 02:52] jayvdb commented on #4868
c.f. my rants at

https://github.com/coala/coala/pull/4948#issuecomment-352404883
https://github.com/coala/coala/pull/4948#discussion_r157926973

If you cant improve existing functions without breaking them, create a new function and deprecate the old one.  This is why designing extensibility at the beginning is so important.

[2017-12-20 05:53] jayvdb commented on #4820
Duplicate of https://github.com/coala/coala/issues/4006

[2017-12-20 05:53] #4820 closed

[2017-12-20 06:30] jayvdb opened #4992 "Loosen pin on colorlog"
colorlog is pinned to 2.x. colorlog 3.0 has been released for a few months, and is now starting to cause conflicts in versions,  which causes coala to fail.

e.g. https://travis-ci.org/jayvdb/corobo/builds/319016053#L742

The changes in colorlog 3.0 and 3.1 do not adversely effect coala.

[2017-12-20 07:11] shikhar-scs commented on #4976
@Makman2 Can I make this change in the commit guidelines ? Or is @alphadose working on it because its already been 4 days

[2017-12-20 11:19] adi23arora commented on #4840
Can I work on this issue?

[2017-12-20 15:38] Makman2 commented on #4840
@adi23arora please ping me on gitter once you've accepted the invitation ;)

[2017-12-20 15:39] Makman2 commented on #4976
ping @alphadose

[2017-12-21 02:13] ishanSrt commented on #4975
@Makman2 I am unable to find a way to refresh the files at runtime i.e. during interacting with console, the only possible way I find is to rebuild the processes again and again, which is going to slow down coala by a large factor

[2017-12-21 04:52] theOriginalMuktaka commented on #4771
May I take up this issue? I am a Google Code-In participant.

[2017-12-21 09:12] prnvdixit commented on #4771
@theOriginalMuktaka Please, claim the same on GCI dashboard first :wink:

[2017-12-21 09:44] #3902 closed

[2017-12-21 11:03] theOriginalMuktaka commented on #4771
Sure. Google has yet to review my parental consent, so I can't claim this task right away. I'll claim it when it is approved.

[2017-12-21 13:57] pradeepgangwar commented on #3389
@acashmkj I would like to work on this if you are not working? Seems like PR has gone stale.

[2017-12-21 14:49] #4156 closed

[2017-12-21 16:08] #4840 closed

[2017-12-21 17:42] ishanSrt commented on #4928
@Makman2 is this bear specific or absolutely all global bears don't require a `--files` flag

[2017-12-21 17:45] theOriginalMuktaka commented on #4771
Please assign me to this issue. I have claimed the task.

[2017-12-21 18:33] kriti21 commented on #4120
I would like to work on this issue. Please assign this to me.

[2017-12-21 22:14] ishanSrt commented on #4928
@Makman2 I am assuming my previous comment, and I am opening a PR. Also assign this issue to me. If only global bears are being run and only the files argument is not provided, coala will run!

[2017-12-22 16:17] Makman2 commented on #4975
Ahh now I get the problem...

In that case that behavior is currently expected (but doesn't mean it's right). coala loads files into memory, so once you've modified the file with the editor, coala won't pick up the changes (it would require an additional run, probably easier to handle with the new core).

@ishanSrt yes running coala again is super slow currently just for one file, using the new co

[2017-12-22 16:20] Makman2 commented on #4928
It's bear specific.

[2017-12-22 16:21] Makman2 commented on #4928
Maybe we shouldn't require `--files` in general and assume "no files" by default? Not sure though...

[2017-12-22 16:23] Makman2 commented on #4120
@kriti21 as this seems to be your first issue, are you sure you want to start with a `difficulty/low` one, especially one that requires specific knowledge of the addressed component?

[2017-12-22 16:25] Makman2 commented on #3389
Reassigning due to inactivity.

[2017-12-22 16:27] Makman2 commented on #4771
@theOriginalMuktaka invited you to the org, please ping me once you've accepted so I can assign you ;)
(however this can take a while, back again in a few hours^^)

[2017-12-22 17:39] kriti21 commented on #4120
Most of the difficulty/newcomer issues are labeled under GCI/initiatives as well. I am a college student so can't possibly take any of those. I am up for any beginner friendly issue that would help me get started contributing to coala. Any guidance would be helpful @Makman2

[2017-12-22 17:56] RaiVaibhav commented on #4120
@kriti21  start with `newcomer task` :wink: , IMO it a steps which everyone needs to follow and it is necessary.

[2017-12-23 01:44] Makman2 opened #4999 "Bears operating on directories"
Currently there's only `ProjectBear`, that works on all files at once. It's worth to have another bear base that only operates on directories, or maybe even both, files and directories! Maybe it can be even integrated into `ProjectBear`. In any way, a concept is needed to make it work properly, also with respect to caching it has to be developed carefully (once it's being implemented).

[2017-12-23 07:00] theOriginalMuktaka commented on #4771
The current file says:
[code]
Does "doing only one newcomer issue" mean that you can merge only one newcomer PR and review more than one? Or does it mean that you can merge only one and review only one?
I have a feeling it is the former, but I thought I should ask first.