[2018-07-22 05:48] palash25 commented on #5642
I think there is no harm in providing a little extra info about what kind of error occured. So I would go with logging.

I think the author of the module must have forgotten to log them, otherwise why did he/she used `e` anyway?

[2018-07-22 06:15] pareksha opened #5655 "General bears require `languages=all` when using aspects"
For migrating bears to aspects, till now we have to specify the language which must not be for general bears. So, something like `languages=All` for general bears is required (only when using aspects).

[2018-07-22 07:17] HemabhKamboj commented on #5642
@jayvdb Hi I have put down the PR. The tests on Github shows some error in some other file. Not in the CachingUtilities.py
https://github.com/coala/coala/pull/5653

[2018-07-22 07:40] palash25 commented on #5642
@HemabhKamboj I have left a comment on your PR take a look

[2018-07-22 09:17] #2822 closed

[2018-07-22 09:21] jayvdb opened #5657 "Languages incorrectly claims it is a tuple"
It should be a mapping, but the bug is it claims to be a tuple.
Replace with 'object'.

[2018-07-22 09:29] jayvdb opened #5658 "Languages should be a Mapping"
#5657 first. Then make Languages a Mapping and Iterable class (see collections)

[2018-07-22 11:20] anctartica opened #5659 "Coala verbose mode"
If coala verbose setting is used then if a linter bear also has verbose mode it should also be used.

[2018-07-22 19:12] MacBox7 commented on #5654
I tried reproducing the changes you made https://github.com/MacBox7/coala/pull/1 but still [coalaJSONTest.py](https://travis-ci.com/MacBox7/coala/jobs/135755572#L774) is passing. Can you tell how can I reproduce this error?

[2018-07-23 00:32] jayvdb commented on #5654
This is blocking https://github.com/coala/coala/pull/5651, which is blocking other stuff.

[2018-07-23 03:11] jayvdb commented on #2281
The README & repo description is now what @treyhunner provided.

If text can be improved or anything else needs updating in this repo or elsewhere it should be raised as separate more specific issues.

[2018-07-23 03:11] #2281 closed

[2018-07-23 03:17] jayvdb commented on #2538
This looks like a dup of https://github.com/coala/coala/issues/1690

[2018-07-23 09:34] MacBox7 commented on #5654
I believe sorting the output of `collect_bears` in `Collector.py` is required.

[2018-07-23 12:19] RaiVaibhav commented on #5659
@jayvdb  I need help in understanding this, its not clear to me what you want debug,
@anctartica  every bear have `section` variable in there `__init__` you can add logic if you want tocheck whether verbose mode is on in coala or not
[code]

[2018-07-23 12:21] RaiVaibhav commented on #5659
And same can be done for any bear

[2018-07-23 12:52] jayvdb commented on #5659
Nice. Do we have any tests that confirm logging level can be different per section in a .coafile?

Do we have any validation on this setting? What if the .coafile setting uses 'debug' instead of 'DEBUG'?

If the section log level has debug enabled, and the linter emits something which doesnt match the regexes, can it be assigned to debug level?  We dont want to try to regex match every possible de

[2018-07-23 13:42] RaiVaibhav commented on #5659
No `log_level` don't even support `.coafile` if you even set `log_level` to `DEBUG` or anything it will not go into `verbose mode`, these will convert into section `setting`  and we can use that, I thought it was for **CLI** part only, as label also have `area/CLI` the above comment is only for CLI part.

[2018-07-23 15:15] jayvdb commented on #5659
Well, typically a user/dev wants to debug one bear, or one .coafile section, and debugging all sections in verbose mode will blow the CI log size maximum causing job to be terminated prematurely, preventing possibly preventing debugging of the problematic section.

Can we add per section log level?  A low issue or medium?

[2018-07-23 16:39] RaiVaibhav commented on #5659
Yeah we can But I have to talk with either @Makman2  or some maintainer who is involved in core right now, as currently, I don't know why explicitly `log_level` settings not given to a user in `.coafile`

[2018-07-23 16:46] RaiVaibhav commented on #5659
Doesn't this is currently coala doing right now? and here `debugging` word is still confusing as debugging per bear (debug_bears) is good right now

[2018-07-23 16:56] RaiVaibhav commented on #5659
`log_level` per bear is tough and `log_level` per section is ok but one thing here according to my solution all the logging before [this line](https://github.com/coala/coala/blob/master/coalib/coala_main.py#L162) will not be log  in section level logging, if I put the code
[code]
just after line 162.

And please don't assign the issue if `section` level logging to me :P, I want someone else to do

[2018-07-24 02:50] jayvdb opened #5664 "Installation error: ModuleNotFoundError: No module named 'appdirs'"
Installing coala-bears resulted in this , which I havent seen before.

[code]

https://travis-ci.org/jayvdb/coala-bears/jobs/407420330

[2018-07-24 03:41] jayvdb commented on #5664
And again.

https://travis-ci.org/jayvdb/coala-bears/jobs/407430184

Some package may have been updated and forced appdirs higher up the list, or some other intricacy of pip ordering of requirements has been encountered.

[2018-07-24 06:43] frunkad commented on #4188
Please check https://github.com/coala/coala/pull/5661 @userzimmermann @jayvdb

[2018-07-24 09:56] MacBox7 commented on #5643
Handled here https://github.com/coala/coala/pull/5647. But due to wrong referencing didn't get close.

[2018-07-24 09:56] #5643 closed

[2018-07-24 10:11] jayvdb commented on #3855
was fixed

[2018-07-24 10:12] #3855 closed

[2018-07-24 12:36] Naveenaidu commented on #5232
@Makman2 Is the issue still valid? Can I still work on it?

[2018-07-24 14:20] Naveenaidu commented on #5415
Can i please be assigned to this issue.

[2018-07-24 14:34] Naveenaidu commented on #5456
Can I please be assigned to this issue.

[2018-07-24 19:30] RaiVaibhav commented on #5659
@jayvdb  any update/info/comment ?

[2018-07-25 10:41] pareksha commented on #5644
`./bearlib/languages/__init__` already has ignore statement of `PyUnusedCodeBear` for all these imports. Is pyflakes compatible with `PyUnusedCodeBear`?

And in `./bearlib/aspects/Metadata.py`, we have `Metadata.CommitMessage.Shortlog.Length` aspect for the length of the shortlog of commit message and `Metadata.CommitMessage.Body.Length` for the length of commit message body. For now, both of thes

[2018-07-25 14:09] Naveenaidu commented on #5232
@jayvdb Since there are many overlapping PR's which are related to this issue. Can You please add an appropriate tag for this issue. And if the issue is not valid, can you please close the pull request.

[2018-07-26 06:07] #5654 closed

[2018-07-26 09:09] jayvdb opened #5667 "Can not invoke coala as a Python modules"
[code]

[2018-07-26 10:53] jayvdb opened #5668 "Add Jekyll Liquid language"
We use Liquid language in Jekyll sites.

We should have a language definition for it.

[2018-07-26 11:04] #5655 closed

[2018-07-26 11:12] jayvdb commented on #5668
A fun one I ran into is it doesnt appear possible to use `{{` inside a `{{`.

e.g. `{{ foo | replace: "{{}}", "replacement" }}` is a syntax error

{% assign foo2 = foo | replace: "{{}}", "replacement" %}` works ok

[2018-07-27 00:45] jayvdb commented on #5664
This occurs because `BuildManPage` loads `setup.cfg` entry `build_manpage.parser`, which is `coalib.parsing.DefaultArgParser:default_arg_parser`.

Whilst loading `DefaultArgParser`, it runs into the need to import `appdirs` and that hasnt been installed yet.

It appears this has been around for a long time, and we just havent triggered it yet.
Possibly pip 9 enhancements are why it is occurring no

[2018-07-27 00:54] jayvdb commented on #5510
Unassigned as previous assignee had three weeks to do it.

[2018-07-27 00:56] jayvdb commented on #5642
@HemabhKamboj , you will be unassigned from this issue if you dont fix the PR this weekend.

[2018-07-27 02:49] jayvdb opened #5671 "coalaJSONTest has useless patch"
Patching of `coalib.parsing.DefaultArgParser.get_all_bears_names` in f9e46c897 is a bit unnecessary.

Should look for other cases where two patches are used together

[2018-07-27 02:54] jayvdb commented on #5671
Looks like it was needed originally, see 71168956e , and was copied to `coalaJSONTest`

[2018-07-27 05:33] #5671 closed

[2018-07-27 05:48] jayvdb commented on #2738
#3545

[2018-07-27 05:48] RaiVaibhav commented on #4019
@jayvdb @Makman2  can't we just simply do `section.name` in `section['execlude_sections'].value` and set that `exclude_sections` value will a `typed_list(str)`

[2018-07-27 05:50] RaiVaibhav commented on #4019
I was saying putting above ogic after this line https://github.com/coala/coala/blob/master/coalib/coala_main.py#L162

[2018-07-27 06:03] RaiVaibhav commented on #4019
One problem this approach has is that it will not delete section instead it will ignore its execution (don't know this approach is right or not)

[2018-07-27 08:41] jayvdb commented on #4019
The section needs to be de-selected from the CLI, and completely excluded.  e.g. dont error if the bears in that section do not load.

[2018-07-27 08:54] #5664 closed

[2018-07-28 01:36] jayvdb commented on #5440
No discussion?

Rename the variable!

[2018-07-28 02:11] jayvdb commented on #1882
We are using mock in places, and most coders and reviewers are familiar with it by now.

The tracking list is very out of date.  Create separate issues if there are specific areas which need to be rewritten to use mock.

Otherwise, we improve as we go along.

[2018-07-28 02:11] #1882 closed

[2018-07-28 02:19] jayvdb opened #5674 "TestUtilities.execute_coala should check for timeouts"
If there was a timeout during a test using `execute_coala`, `pytest-timeout` will emit `Failed: Timeout >35.0s` (number may change) and the timeout failure will be lost inside `execute_coala`/`bear_test_module`.

The test module will continue with the assertions, and cause various errors, as these coala output will be in a strange incomplete state.

This is one of the problems affecting https://gi

[2018-07-28 10:40] RaiVaibhav opened #5676 "Fix the API breakage problem because of `debugger` flag in bear base class"
For further information https://github.com/coala/coala/pull/5599/files#r203964627

[2018-07-28 10:42] RaiVaibhav commented on #5676
currently its block, it will be solved after Profiler interface PR gets merge so all the breakge problem gets solved in one PR

Maintainer assign this to me.

[2018-07-28 12:34] vaibhav9619 commented on #5642
please assign me this issue

[2018-07-28 18:08] jayvdb commented on #5676
I'd prefer that this is done first, and the profile PR doesnt create a breakage unnecessarily causing code churn.

[2018-07-28 19:52] frunkad commented on #5329
This issue was left unupdated from quite some time so created a pull requests, https://github.com/coala/coala/pull/5679

@jayvdb

[2018-07-28 21:35] RaiVaibhav commented on #5676
@jayvdb  The profiler Interface is in my GSoC and time is close so If I first wait for the API PR to get a review and merge then change the code of Profiler Interface PR and then get a further review and then merge the I am already failed because of time as I will also take my time to put all the work and make a document for the final evaluation

Hoping you will understand, as API breakage is also

[2018-07-28 21:49] RaiVaibhav commented on #5676
Also, all the previous review will get mixed and right now Profiler PR Github page becomes heavy so I will open same in next PR as sometimes I can't open with my internet connection.

[2018-07-29 02:33] jayvdb commented on #5329
#5679 closed.  Please finish https://github.com/coala/coala/pull/5661 @frunkad

[2018-07-29 04:37] jayvdb commented on #5676
This is a simple fix, it is implemented already, and can get pushed in.
Updating your other PR after that is not hard.
@Makman2 can hide comments on that PR if it is too large, marking them as 'Outdated'.
https://help.github.com/articles/managing-disruptive-comments/#hiding-a-comment

If your PR is still unusable, then create a new PR and close the old one.

The size of the PR comments is not a re

[2018-07-29 04:41] RaiVaibhav commented on #5676
No this is not a case :stuck_out_tongue:

Can you take a look at a comment https://github.com/coala/coala/pull/5677#discussion_r205954170

[2018-07-29 07:41] souravbadami commented on #5375
@jayvdb -- Can you assign this to me ?

[2018-07-29 12:50] jayvdb commented on #5674
It did the right thing at https://circleci.com/gh/coala/coala/18330

[2018-07-29 14:10] #5513 closed

[2018-07-29 15:31] Naveenaidu commented on #5510
@jayvdb Can I Please be assigned to this issue.

[2018-07-29 15:34] Naveenaidu commented on #5667
@jayvdb Can I please take up this issue. I would like to work on it.

[2018-07-30 12:38] HemabhKamboj commented on #5642
Thanks, everyone for helping and guiding me.

[2018-07-30 15:08] #5642 closed

[2018-07-30 16:50] #5375 closed

[2018-07-30 20:52] starlord1311 commented on #5674
@jayvdb can i take up this issue?

[2018-07-30 21:54] jayvdb commented on #5631
Duplicate of https://github.com/coala/coala/issues/4648

[2018-07-30 21:54] #5631 closed

[2018-07-30 21:56] jayvdb commented on #4648
We are in the process of migrating & merging our various Sphinx config & style files.

[2018-07-31 01:54] Naveenaidu commented on #5667
@jayvdb Unable to reproduce the second error.
My output when I try the above command is:-
[code]

Can You please check if you are getting the same error.

[2018-07-31 02:49] jayvdb opened #5683 "deprecate_settings to support splitting a value to two new args"
I would like to split the `checkstyle_configs` arg into two args, as they are two different data-types.

It seems `@deprecate_settings` and `FunctionMetadata` cant support this, as they expect a deprecated arg to only be used once.

Here is a more detailed look at what I tried to do, and failed.

[code]

[2018-08-02 01:39] Naveenaidu commented on #5667
@jayvdb I have been able to find the cause of the second error.

Looking through the files, I realized that `coalib` is actually a `package` and coala is a `module` inside the package. Hence We can't actually write `python3 -m coalib` to invoke coala as we also have to mention which module are we actually trying to invoke.Am I right?

Rather we can invoke coala by:-
`python3 -m coalib.coala --file

[2018-08-02 03:00] jayvdb commented on #5667
Wrong all over the shop. The command in the issue description will work as written when coalib implements PEP 338. That is this task.

[2018-08-02 12:46] Naveenaidu commented on #5667
@jayvdb I think I found a solution to it. Please correct me if I am wrong.

We need to add a `__main__.py` file inside the `coalib` directory and `coala` directory. The `__main__.py` file should call the `main` function from the `coalib.coala` file.

The directory structure now looks like
[code]

And the code inside the `__main__.py` file would be:-
[code]

I tried this approach and it seems to wo

[2018-08-02 12:49] jayvdb commented on #5667
All good except your mentioning of a `__main__.py` file inside a `coala` directory.  That bit is wrong.
This issue should only need one new file , `coalib/__main__.py` with contents like you have described.

[2018-08-03 16:14] #5637 closed

[2018-08-04 09:35] ksdme opened #5685 "Inappropriate prompt message"
When coala is invoked with `--single-action`, a menu is shown with a prompt saying `[    ] Enter number (Ctrl-D to exit): ` but valid input is a letter, not a number.

 Needs a fix in:
[code]

Difficulty: Newcomer

[2018-08-04 09:40] ksdme commented on #5685
Difficulty: Newcomer

[2018-08-04 10:31] Naveenaidu commented on #5667
I'm really sorry for closing the pull request. I messed up my branch. I tried rebasing it, But it couldn't work out. Then i tried to hard reset and it automatically got closed. Sorry for the mistake. I'll not repeat this again.

[2018-08-04 14:02] Utkarsh1308 commented on #5685
What command did you type exactly?

[2018-08-04 14:07] ksdme commented on #5685
coala --single-action

[2018-08-04 14:34] Utkarsh1308 commented on #5685
[code]
I am facing this error message when I type the following command

``` coala --single-action ```

[2018-08-04 16:17] Naveenaidu commented on #5685
@Utkarsh1308 Try using the `-A` Command.
For eg:- `coala --bears=PEP8Bear --files=thanosrocks.py -A`

[2018-08-04 17:27] Utkarsh1308 commented on #5685
Can I be assigned to this issue please?

[2018-08-04 17:41] RaiVaibhav commented on #5685
install the latest version of coala, go through `coala.io/newcomer` everything is well documented here

[2018-08-04 20:04] starlord1311 commented on #5674
@jayvdb can you tell me what i am supposed to do?

[2018-08-05 08:42] shashwatmishra76 commented on #5510
Can I take this issue?

[2018-08-05 12:25] shashwatmishra76 commented on #5341
Is somebody working on this?

[2018-08-05 13:57] jayvdb commented on #5510
@shashwatmishra76, No you may not.  This is a low difficulty issue, and you must do a newcomer issue first.

Your PR  #5688 has a bad attempt at solving this in it.

[2018-08-05 14:35] shashwatmishra76 commented on #5389
Can I be assigned to this issue?

[2018-08-05 14:41] ksdme opened #5689 "Add tag based section filters."
We need to have a way using which sections can be tagged and specific tags can be invoked. For example:
[code]

When run using `coala --tags tag_one tag_two` only `samples` section should be invoked.

Part of [cEP-0028](https://github.com/ksdme/cEPs/blob/cEP-0028/cEP-0028.md).

[2018-08-05 14:41] ksdme commented on #5689
@jayvdb Please assign this to me.

[2018-08-05 15:56] jayvdb commented on #5550
There is no current good answer for this, because we dont have corobo active, and manual maintaining of assignment requests is pretty patchy, so it isnt really newcomers fault if they give up waiting for us and do a PR.

If the tools are working, then I agree we should be hard on them for ignoring the corobo assign command.

IMO, we re-assess this after corobo is operational.

[2018-08-05 16:36] virresh opened #5692 "Add XML language in definitions"
c.f https://gitlab.com/coala/bears/coala-antlr/merge_requests/25/diffs?commit_id=36142dfb4456b6dd9ee4255e042ab313eab894b2#note_92551492

Required by XMLIndentBear

[2018-08-05 16:36] virresh commented on #5692
I'd like to work on this

[2018-08-06 07:45] pareksha opened #5694 "Modify `Linter` module for aspects"
`Linter` module needs to be modified so that the `Result` object makes use of aspects. It can be made similar to the implementation in the `Result` module plus more features can be added to make it even more usable.

[2018-08-06 08:55] #565 closed

[2018-08-06 10:49] #5389 closed

[2018-08-06 11:35] #5685 closed

[2018-08-06 17:31] virresh opened #5695 "Add graphQL in language definitions"
https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions

[2018-08-06 18:00] shashwatmishra76 commented on #5532
@jayvdb Can I be assigned to this issue?

[2018-08-06 18:49] #5692 closed

[2018-08-06 19:51] shashwatmishra76 commented on #5532
bear_dir_globs = [
            os.path.join(glob_escape(bear_dir), '**')
            for bear_dir in bear_dirs]
        bear_dir_globs += [
            os.path.join(glob_escape(bear_dir), '**')
            for bear_dir in collect_registered_bears_dirs('coalabears')]

By multiple += I guess you mean to ask to fill the bear_dir_globs list in a single line of code instead of using multiple += instanc

[2018-08-06 19:51] shashwatmishra76 commented on #5532
@jayvdb Please review if what I have understood from the description is correct or not.

[2018-08-06 20:04] shashwatmishra76 commented on #5510
@jayvdb I guess in addition to correcting the typos I have to add the old argument back as a deprecated one right? I have found out how to add old argument back as a deprecated one.Can I be assigned to this issue now?

[2018-08-08 14:33] ksdme opened #5697 "Support File Proxies"
cola can only perform analysis on disk files as of now, it should also support analysis on in-memory files. This should be done using File Proxies so that it fits into current ecosystem.

Refer: [cEP-0028](https://github.com/coala/cEPs/pull/171)

[2018-08-08 14:33] ksdme commented on #5697
@jayvdb Please assign this to me.

[2018-08-09 01:19] blindacai commented on #5329
In the description, it says to update that line to `If ``-1`` is given`. Should it be literal \`\`-1\`\` or just -1 ?

[2018-08-09 04:54] #5329 closed

[2018-08-09 16:45] kunalvaswani123 commented on #5668
Could you explain this issue to me?

[2018-08-10 03:51] RaiVaibhav commented on #1101
easy settings investigation

Merged :)

[2018-08-10 13:57] li-boxuan opened #5702 "Add meta-review process into newcomer guide"
Newcomers should do at least one meta-review or receive a meta-review before becoming developers.

Please assign this to me ;)

[2018-08-11 05:05] #5515 closed

[2018-08-11 05:31] #5683 closed

[2018-08-11 12:47] #5697 closed

[2018-08-11 12:48] #5689 closed

[2018-08-11 13:40] #5510 closed

[2018-08-11 14:13] jayvdb commented on #5532
Yes `coalib/settings` is the right component, but you say you havent found where `+=` is , so you are not ready yet.

I dont know what you are trying to say with https://github.com/coala/coala/issues/5532#issuecomment-410831860 , but whatever it is ... it is irrelevant to showing you are ready for this task.

[2018-08-11 14:17] #5567 closed

[2018-08-11 21:41] #1101 closed

[2018-08-11 21:41] shashwatmishra76 commented on #5532
@jayvdb I found the instance of +=.It is in Section.py file under the function bears_dirs.

[2018-08-12 13:17] #5188 closed

[2018-08-13 01:31] Naveenaidu commented on #3306
Can i please be assigned to this issue.

[2018-08-13 01:58] jayvdb commented on #3306
Unassigned due to inactivity.
@Naveenaidu, this is a messy area with lots of pending PRs to be merged.
You could help by reviewing PRs related to this component.

[2018-08-14 19:31] rishabhgarg25699 commented on #5109
Hello,can you assigned this work to me ?

[2018-08-15 05:37] Utkarsh1308 commented on #5398
Can I be assigned to this please

[2018-08-15 07:25] jayvdb opened #5708 "Files to be checked debug log entry is emitting a message for every file"
https://github.com/coala/coala/commit/59f78c111 resulting in very volumous log entries for each file.

[2018-08-15 08:06] #5708 closed

[2018-08-15 08:56] rishabhgarg25699 commented on #5109
Can you send me the link of source code of  this issue on github.

[2018-08-15 09:13] jayvdb opened #5710 "Create separate language definitions for varieties of Shell"
There is one language 'Shell' in https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions .

For https://github.com/coala/coala-bears/issues/2665 , we need at least the four varieties supported by ShellCheck

[2018-08-15 09:35] shashwatmishra76 commented on #5710
@jayvdb Which are the 4 languages you want to add? Bash,Ksh and what else?

[2018-08-15 10:40] Naveenaidu commented on #5674
@starlord1311 If you are not working on this, can I please take up this issue.

[2018-08-15 12:09] ishanSrt commented on #5109
already solved https://github.com/coala/coala/commit/499329026e392166ffcf742fc1bf6018e68f6cca
needs to be closed ping @jayvdb

[2018-08-15 12:18] jayvdb commented on #5109
Solved at https://github.com/coala/coala/issues/5509

[2018-08-15 12:18] jayvdb commented on #5509
Duplicate of https://github.com/coala/coala/issues/5109

[2018-08-15 13:32] jayvdb commented on #5710
@shashwatmishra76 the four languages supported by ShellCheck.

[2018-08-15 14:19] #3843 closed

[2018-08-15 14:42] imnotkk commented on #5333
@kriti21 I have completed this task and made a pull request #5711. Can you please guide what to do next to get this merged as this is my first pull request.
Thanks.

[2018-08-15 14:47] jayvdb commented on #5333
Hiya @imnotkk , I've sent you an invite to join @coala

[2018-08-15 14:56] imnotkk commented on #5333
@jayvdb Thanks Sir. I've updated the commit message according to the guidelines now.

[2018-08-15 16:29] ishanSrt commented on #3843
Worth mentioning, the entire Xcode is not needed for the commands to work. Xcode command line tools does it all.

[2018-08-15 20:53] imnotkk commented on #5333
Can anyone review #5719?
Thanks.

[2018-08-16 03:26] kriti21 commented on #5333
Reviewed @imnotkk . Also you can ping on https://gitter.im/coala/coala for quicker response. :)

[2018-08-16 04:46] jayvdb commented on #5333
Sorry @imnotkk but you didnt follow instructions and created eight broken PRs instead of fixing your first one.  Unassigned.  I suggest you try some of the GitHub training programs on how to use git and GitHub.

[2018-08-16 05:38] kranthik13 commented on #5333
Is anybody working on this?
If not can I be assigned this @jayvdb .

[2018-08-17 12:07] jayvdb commented on #5333
Hi @kranthik13 , sure.  I've sent you an invite to join @coala .

Please make sure you understand https://github.com/coala/coala/issues/5333#issuecomment-385198834 before creating a solution.

Changing the CSS may be the correct solution.

[2018-08-17 13:48] jayvdb opened #5722 "LocalBearTestHelper.check_results allow regex as message text"
Sometimes the message text varies based on linter version, as we see at https://github.com/coala/coala-bears/issues/2678,  or is incredibly long and not helpful to match the entire text.

It should be possible to specify only a regex to match the message text.

[2018-08-18 10:47] jayvdb commented on #4090
I did some builds .. it looks quite good.

https://travis-ci.org/jayvdb/coala/builds/417531215

https://travis-ci.org/jayvdb/coala-quickstart/builds/417532042

It is hard to know if it is better until we encounter problems, and the error analysis is easier.

We might need to just try it and see.

It might help, or eradicate https://github.com/coala/coala/issues/5674

[2018-08-19 13:22] jayvdb opened #5724 "Release notes not published at http://api.coala.io"
https://github.com/coala/coala/blob/master/RELEASE_NOTES.rst is not published in the api docs

(or in the user docs, but that will be a bit more effort)

[2018-08-19 21:15] kranthik13 commented on #5333
I've understood nw what kriti was stating about making all "::" to ":" so that all code bloks are even colored.
But didnt get why changing the CSS maybe a better solution and f yes can anybody tell me which file is that.
Thanks.

[2018-08-20 01:14] swaup3275 commented on #5333
I don't understand the issue at all.
what is the issue and where is it after all? What patches ? I am not getting anything. what is the project about?

[2018-08-20 04:40] hritikhks commented on #5724
Can you please explain how to work on this issue? I want to work on this issue.

[2018-08-20 04:46] prekshajagetiya123 commented on #5724
can I contribute too to this issue?

[2018-08-20 07:41] feddischson opened #5725 "Listing bears failes with ImportError: attempted relative import with no known parent package"
### Overview Description
Listing bears failes with ImportError: attempted relative import with no known parent package

# Steps to Reproduce

1. pip3 install --user coala-bears
2. python3.6 ~/.local/lib64/python3.6/site-packages/coalib/coala.py -B

# Actual Results

[code]
# Expected Results
A list of bears.

# Reproducibility
Full

# Additional Information:
 - coalib version 0.11.0
 - coala_utils

[2018-08-20 08:25] jayvdb opened #5726 "Add language definition file for D"

[2018-08-20 13:36] aaqaishtyaq commented on #5724
@jayvdb what would be the correct position to list ```RELEASE_NOTES.rst``` in API Documentation.

here?
[code]

[2018-08-22 16:03] 123vivekr commented on #4861
Can I work on this?

[2018-08-22 16:42] 123vivekr commented on #4188
Can I work on this?

[2018-08-23 00:46] jayvdb commented on #4188
@frunkad was working on this.  There is a green PR mentioned above.  @frunkad, please accept the invite to join coala org, and fix your PR, otherwise I will close your PR and assign the issue to someone else.

[2018-08-23 17:43] starlord1311 commented on #5724
@jayvdb can i take up this issue?

[2018-08-24 02:57] jayvdb commented on #5202
@giannisal , you will need to accept the invite sent to youer email from GitHub, to join the coala org, then we can assign issues to you.

[2018-08-24 03:32] #5109 closed

[2018-08-24 22:14] anubhavsinha98 commented on #5605
Hey can I solve this issue?

[2018-08-24 22:16] anubhavsinha98 commented on #4904
Hey can I work on this issue?

[2018-08-25 06:49] virresh opened #5730 "Add json language definition"
A JSON Language definition for coala in https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions

[2018-08-26 13:30] e-aakash commented on #5202
Can this issue be assigned to me?

[2018-08-26 16:20] giannisal commented on #5202
Hello, I haven't received any invitation via email. Could you resend it please?

[2018-08-27 18:09] rak-shit commented on #5202
Hi, I am a newbie here. I want to work on this issue. Can you please assign me this issue.

[2018-08-27 18:52] rak-shit commented on #4861
I would like to work on this issue! Can you please assign me on this one.

[2018-08-28 00:33] Naveenaidu commented on #5621
@rahuldkjain If I am not wrong moban is still under heavy development and I don't think it is wise to write a documentation now. And it's always better that you play around moban https://gitlab.com/coala/mobans to get an idea about what moban is.

That would help you if you plan on writing a documentation about moban in future.

[2018-08-28 00:41] #5730 closed

[2018-08-28 01:56] #5603 closed

[2018-08-28 01:59] rahuldkjain commented on #5621
Oh thanks man! You are so helpful😊

On Mon, 27 Aug 2018 at 17:33, Naveen Naidu <notifications@github.com> wrote:

[2018-08-28 03:10] #5398 closed

[2018-08-28 09:25] anstkras commented on #5202
May I be assigned to this issue?

[2018-08-28 16:01] Naba7 commented on #5403
@jayvdb i want to contribute .... please send an invitation

[2018-08-29 12:25] jayvdb opened #5737 "Discard ** in ignore = foo/**"
An ignore glob of `ignore = foo/**` will walk the entire structure of `foo/`, which is silly.

That is https://github.com/coala/coala/issues/3655 .

But a quicker problem to solve : `ignore = foo/**` can be rewritten as `ignore = foo/` and suddenly it doesnt walk `foo/` .

coala should recognise `foo/** in the ignore and warn the user , and then remove the `**` internally.

[2018-08-29 12:33] mach64 commented on #5737
I can work on this. If there's no problem, please assign it to me.

[2018-08-29 22:25] jayvdb commented on #5737
Thanks @mach64

[2018-08-29 22:37] shashwatmishra76 commented on #5668
@jayvdb I guess this issue just requires me to add a language definition for Jekyll the same way I did for various shells.Can I be assigned to this please?

[2018-08-29 22:54] jayvdb commented on #5442
Re-assigned due to inactivity

[2018-08-30 01:07] Utkarsh1308 opened #5738 "Fix mistake in Writing_Good_Commits.rst"
On line 36 it should be ```Closes``` instead of ```Fixes```

Probably a good newcomer issue.

[2018-08-30 03:45] jayvdb opened #5739 "Add language for scss"
Like coalib/bearlib/languages/definitions/CSS.py

[2018-08-30 03:45] jayvdb opened #5740 "Add language for SASS"
Like coalib/bearlib/languages/definitions/CSS.py

[2018-08-31 01:43] EverydayQA commented on #3717
I had this issue with `nose2` but came out ok with `nose2-2.7`, the `nose2` is nose2-3*, the mixed multiple version of python sure make things interesting.

[2018-08-31 09:34] #5537 closed

[2018-09-01 13:33] #5737 closed

[2018-09-01 14:17] #3755 closed

[2018-09-01 14:31] jayvdb commented on #5668
@shashwatmishra76 , yup, after you finished the other issue, you can be assigned to this issue.
If you dont have any specific interest in jekyll, there are similar issues for SCSS and SASS, which are higher priority because we have bears for those languages, but the language definition is missing.

[2018-09-01 14:40] #5508 closed

[2018-09-01 14:54] jayvdb commented on #5532
See https://github.com/coala/coala/issues/5497 for a related problem

[2018-09-01 15:26] RaiVaibhav commented on #5676
Its already fixed

[2018-09-01 15:26] #5676 closed

[2018-09-01 15:29] RaiVaibhav commented on #5676
https://github.com/coala/coala/pull/5677

[2018-09-01 23:10] shashwatmishra76 opened #5745 "Imported classes should be arranged lexicographically"
Classes being imported in `coala/coalib/bearlib/languages/__init__.py` file should be arranged alphabetically.

A good newcomer issue.

[2018-09-01 23:28] shashwatmishra76 commented on #5668
@jayvdb Okay.I will be doing the higher priority ones first.

[2018-09-02 04:10] Naveenaidu commented on #5722
@jayvdb Does this issue wants a feature to be added such that the writer of `LocalBearTest` can specify a regex in `Result.from_values( )` and `LocalBearTestHelper.check_results` should be able to check those regexes, instead of checking the entire message using the `self.assertComparableObjectsEqual` which compares the entire messages?

[2018-09-02 11:02] #5636 closed

[2018-09-02 11:04] jayvdb commented on #5722
Rather than modifying `Result`, add a parameter to `check_results` for the regex, and use that instead of the `Result.message`

[2018-09-02 11:47] AvatarSenju commented on #5738
Hi, I am new here at Coala and wanted to start with some easy issues, so can i take up this task or do I have to first request on gitter.
I saw the problem and it should be easy even if using only raw edit

[2018-09-02 21:03] #5710 closed

[2018-09-03 15:41] shashwatmishra76 commented on #5330
@jayvdb I want to try my hands with this one.I guess this issue requires me to add tests for Haskell.Can I be assigned to this?

[2018-09-04 14:16] vkartik97 opened #5749 "Tests Failing for Python3.4 only on Circle CI"
Refer Circle CI Tests for Python3.4 on  #5747  and #5727
The Tests are Failing on:
[code]

I have Noticed that these Commits are dealing with Files that are not interfering with tests.
Same Tests are passing on Travis CI's Python3.4.4

[2018-09-04 19:09] vkartik97 commented on #5432
@jayvdb Please Assign this to me

[2018-09-05 13:26] cclauss opened #5753 "Undefined name: 'sys' in ./coalib/coala_delete_orig.py"
See #5751

__sys__ is used on line 44 but it is never imported.  This will probably raise __NameError__ at runtime instead of __sys.exit()__ as expected.

[flake8](http://flake8.pycqa.org) testing of https://github.com/coala/coala on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-09-05 15:11] #5753 closed

[2018-09-06 14:21] li-boxuan opened #5754 "Add test cases for language definitions"
If I recall correctly, we don't have test cases for language definitions. https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions
People especially newcomers are prone to make mistakes when adding a new language definition, e.g. https://github.com/coala/coala/pull/5748#discussion_r215634037

At least we should have test cases checking that `extensions`, `comment_delimiters`

[2018-09-07 10:59] e-aakash commented on #5754
Can I take this issue?
And, can you guide on how to write the test and what should be included in the test?

[2018-09-08 16:09] atb00ker commented on #5345
Hi, i am trying to figure out this issue.
Please let me know if i have got it correctly:
`Executing section cli` should be printed on console only if the cli arguments are passed, otherwise that section should not be created -- i.e. the `parse_cli()` in `coala/coalib/parsing/CliParsing.py` should `append_to_sections` and `return sections` if there are cli arguments else simply `return None`

[2018-09-10 07:32] jayvdb commented on #4514
Possibly it is part of https://packages.debian.org/stretch/libcroco-tools which has file "/usr/bin/csslint-0.6" , but still not the same as a proper package.

[2018-09-10 16:46] li-boxuan opened #5756 "AppVeyor is failing due to timeout"
https://ci.appveyor.com/project/coala/coala/build/job/6kuc6andh7qj12t4#L282

[2018-09-10 16:51] li-boxuan commented on #5756
I quickly changed https://github.com/coala/coala/blob/master/setup.cfg#L45 into 60 on my fork, and seems AppVeyor check is passing on my fork: https://ci.appveyor.com/project/li-boxuan/coala/build/1.0.40

Maybe changing 35 sec to 40 or even 36 would also work, I didn't try though.

[2018-09-11 03:30] amalrajan commented on #5726
@jayvdb Can I please take this up?

[2018-09-12 02:10] 123vivekr commented on #5400
I'm new to tests. I would like to work on this. Please assign this to me.

[2018-09-12 10:51] mach64 commented on #5725
All you need to do is run `coala -B` to get the expected results. You shouldn't be specifying the path to `coala.py` directly, which is what causes the import errors in your case.

[2018-09-12 11:15] vkartik97 commented on #5432
@ishanSrt
Writing_Documentation.rst is already in `docs/Developers/Writing_Documentation.rst`

[2018-09-13 02:37] ishanSrt commented on #5345
@atb00ker

yes
I guess what happens currently is settings without a section or in the default section too (Please test this, this was a bug a while ago, maybe its solved now) were renamed and placed inside `[cli]` while parsing.

[2018-09-13 16:29] DhruvThakker commented on #5738
@jayvdb The pull request for this issue seems to be having an error, can I work on fixing that?
Pull Request #5752

[2018-09-13 17:07] atb00ker commented on #5738
Hi! @DhruvThakker
It's great that you are showing interest to contribute!
Thank You.
This issues has already been taken, you can see the assignee at the top right corner! :smile:
Can you please find another issue that has not been assigned?
open: coala.io/new to see the issues list for newcomers! :smile:

[2018-09-13 17:08] prakashdanish commented on #5738
@DhruvThakker you should look at other newcomer issues, PRs are meant to be progressive, meaning will be improved with time.

[2018-09-13 17:39] DhruvThakker commented on #5432
@ishanSrt Please assign this issue to me.

[2018-09-13 17:48] DhruvThakker commented on #5738
Sure, Will keep this in mind. Could you please send me an invite to coala as the gitter bot is not working.

[2018-09-14 08:32] atb00ker commented on #5738
Hi Dhruv, unfortunately, i can't sent you an invite.
Please consider asking javdb on Gitter.
Besides, i feel that for conversations other than issue related subjects, Gitter is a better place anyway.
Please consider joining the Gitter room here: gitter.im/coala/coala

[2018-09-14 09:10] ishucr7 commented on #5745
Hi @Mah1ndra , are you still working on it ?. If not then can i take up the issue?

[2018-09-14 09:17] ishucr7 commented on #5333
Hi @jayvdb , can i take up this issue?

[2018-09-14 11:17] tirkarthi opened #5757 "Test case failures in Python 3.8 (CPython master)"
I ran the test suite against the CPython master branch and I can see some test failures (Some of them are related to pip and pyparsing which have upstream issues). I have attached a log file of the pytest output that might be helpful. Some of them are easy. Since PyCon India is coming up with a DevSprint proposal let me know if I need to file them as separate bugs so that you can use the sprint to

[2018-09-14 11:29] tirkarthi commented on #5602
Some failures on Python 3.8 that overlap with this issue are reported at #5757

[2018-09-14 11:37] sourabh1031 commented on #4927
@jayvdb as there is no activity so I want to work on this issue. Can you assign it to me

[2018-09-14 13:49] sourabh1031 commented on #3793
@jayvdb I would like to work on this issue

[2018-09-16 06:01] jayvdb commented on #5330
Yes some tests would be good.  I've assigned it to you @rishabhgarg25699

[2018-09-16 06:57] jayvdb commented on #5432
the content of `Writing_Documentation.rst` needs fixing.

[2018-09-16 07:50] vkartik97 commented on #5432
@jayvdb Please assign this issue.

[2018-09-16 11:18] shashwatmishra76 commented on #5480
Can I work on this issue?

[2018-09-16 19:14] susg commented on #5345
Terminal displays "executing section cli" even when there is no section named cli. So we need to stop that from happening. Is this what you mean?

[2018-09-17 14:47] DhruvThakker commented on #5724
@jayvdb I would like to work on this issue.

[2018-09-18 10:48] ishucr7 commented on #5745
Hi @jayvdb . Since the contributor is not responding, i'll submit a pr for this(no activity from 15 days). Is it okay if i do that?
Thanks

[2018-09-18 10:55] ishucr7 commented on #5605
Hi @jayvdb , can i take this up?

[2018-09-18 13:08] aditya81070 commented on #4927
@Makman2  @sanshay  is inactive. so Can I take this issue?

[2018-09-18 13:18] atb00ker commented on #3172
Please assign. :smile:

[2018-09-19 16:12] sourabh1031 commented on #5150
@jayvdb please assign me the issue as there is no response for a long time from earlier assigne

[2018-09-19 23:26] #5440 closed, assigned to PrajwalM2212

[2018-09-20 02:10] #5739 closed

[2018-09-20 02:15] jayvdb commented on #5756
We have had a few successful merges in a row; this looks to be good for now.

There were a few failures last week, so we need to keep an eye on this.

[2018-09-20 07:18] jayvdb commented on #5668
Assigned to @kunalvaswani123

[2018-09-20 07:28] jayvdb commented on #5754
We have lots of tests which you can use as a guide.  There is even a test module for languages definitions, which tests other things, but doesnt test what this issue asks for in the opening comment.

See what you can do without assistance.  Ask specific guidance once you have done as much as you can by yourself.

[2018-09-20 08:14] jayvdb commented on #5345
Yup, assigned to you @susg ;)

[2018-09-20 10:38] jayvdb commented on #5432
Should be `python3 setup.py docs` in root directory

[2018-09-20 12:34] #5738 closed

[2018-09-20 17:47] shashwatmishra76 opened #5762 "Unnecessary blank line"
Remove the blank line in coala/coalib/bearlib/languages/definitions/CPP.py file between aliases and extensions.
Probably a good newcomer's issue.

[2018-09-20 23:31] jayvdb opened #5763 "Describing languages which enclose another language"
Related to https://github.com/coala/coala/issues/1690 , we can start by describing languages which enclose other languages, in our language definitions at `coalib/bearlib/languages/definitions/` .

Sometimes the enclosing language supports any language inside it, such as markdown and rst allowing "code blocks" which the user determining the language of the code block, and the identifiers used bein

[2018-09-20 23:40] jayvdb commented on #5763
rmarkdown is an interesting one.  iirc, the initial versions of it were only enclosing markdown and R, but it now seems to support enclosing many other languages and content types which are not programming languages.

[2018-09-21 07:02] igniteeng000 commented on #5762
Please assign #5762 to me

[2018-09-21 21:00] susg commented on #5345
hi, what should be done when there is "default" section. Since it gets updated as "cli", so should "executing section cli" be printed then ?

[2018-09-22 17:33] ananyaarun commented on #5420
@jayvdb , I would like to work on this issue can it please be assigned to me ?

[2018-09-23 02:58] rishabhgarg25699 commented on #5403
@AkshJain99 Firstly you have you to solve your first issue that is assigned to you .No one takes two issues at a same time .

[2018-09-23 18:31] srivama opened #5766 "Fix typo in Writing_Native_Bears.rst"
On line 205, `us` should be removed.

Issue for a newcomer.

[2018-09-24 02:12] haxzie commented on #5766
Can I pick this up?

[2018-09-24 05:32] srivama commented on #5766
Sure you can. Please join the coala gitter channel and ask a maintainer to assign it to you before you start working on it :smile:

[2018-09-24 13:00] minhaj3 commented on #5762
Please assign this issue to me if igniteeng000 is not working on this.

[2018-09-24 14:48] haxzie commented on #5766
@srivama Sure! since corobo is down, I'm waiting for a maintainer to invite me to the org and assign this to me 😄

[2018-09-25 14:18] BugDiver commented on #5762
Please assign this issue to me if no one working on this.

[2018-09-25 14:40] ananyaarun commented on #5176
@jayvdb , @Makman2  can i work on this issue if no one is presently ?

[2018-09-26 15:14] shivank1234 commented on #5605
Is this issue still open?

[2018-09-26 15:15] shivank1234 commented on #5549
Is this issue still open?

[2018-09-26 15:16] shivank1234 commented on #5432
Is this issue still open?

[2018-09-26 15:20] shivank1234 commented on #5403
Can I take this one?
I am a newbie......

[2018-09-26 16:03] Surya-06 commented on #5754
Hey, can I work on this issue if no one else is?

[2018-09-27 08:30] e-aakash commented on #5754
@Surya-06 I am currently working on this issue. Please look at Assignees and ask for issues that have not been assigned to work on.

[2018-09-28 13:06] Naveenaidu commented on #5745
@ishucr7 @aditya81070  @shivank1234 The issue has already been solved by the assignee. Please find yourselves other issues.
IMHO It would be really helpful if you have a look at the `Open Pr` present and have a look if the assignee has solved the problem before asking to claim the issue.It would really help you save, your time and you can better focus on other available issues :)

[2018-09-28 20:45] AkshJain99 commented on #5423
I would like to work on this issue
please assign this issue to me

[2018-09-28 20:50] AkshJain99 commented on #3357
I like to work on this issue please assign it to me

[2018-09-28 21:07] AkshJain99 commented on #5127
if no one working i would like to work on this issue please assign it to me

[2018-09-29 06:13] shivank1234 commented on #5766
Is someone working on this?

[2018-09-29 12:53] garcharjay811 commented on #3357
Is anyone working on this issue?
I would like to work on it..

[2018-09-30 01:29] anonymone commented on #5762
May I ask a question, did this issue assigns to someone ?

[2018-10-01 07:48] akshatkarani commented on #5041
Can i work on this issue?

[2018-10-01 07:54] agrawalarpit14 commented on #3306
The output of the following command also isn't as expected:

[code]

[code]

[2018-10-01 17:02] haxzie commented on #5766
@srivama can you assign this to me. I was waiting for a maintainer to invite me to the Organization. Didn happen :(

[2018-10-02 00:45] srivama commented on #5766
@haxzie I'm sorry, I can't. Only maintainers are allowed to assign the issues. They are a bit occupied atm, please be patient :smile:

[2018-10-02 01:29] corona10 commented on #5658
So it should be like this below?

[code]

[2018-10-02 05:38] akshatkarani commented on #5044
I would like to work on this issue

[2018-10-02 10:26] sangamcse opened #5777 "Git_Basics.rst: Correct maximum line length of commit body"
Right now, it is mentioning 50 characters length for commit body which should be 72.

https://github.com/coala/coala/blob/master/docs/Developers/Git_Basics.rst#adding-the-files-and-commiting

[2018-10-02 10:44] bhawesh96 commented on #5777
Please assign this issue to me

[2018-10-02 14:36] ManthanKeim commented on #5766
https://github.com/coala/coala/pull/5779
please check as this will close the issue.

[2018-10-02 15:09] ManthanKeim commented on #5766
https://github.com/coala/coala/pull/5780
I've worked on this issue, please take a look.

[2018-10-02 17:46] prnvdixit commented on #5762
@sharma-kunal @Mah1ndra Sorry, but this issue seems to have a [WIP PR](https://github.com/coala/coala/pull/5774) already. Please, look for other [newcomer issues](https://coala.io/new) :smile: .

[2018-10-02 18:13] Makman2 commented on #5766
@ManthanKeim please don't work on issues without assignment esp since someone already tried to claim it before you.

[2018-10-02 20:06] Ishaan28malik commented on #5762
hey please aasign me this ..

[2018-10-03 07:35] e-aakash commented on #5754
I have to step through all language definition files, import them and test the types of members of the module. I have found [Importers.py](https://github.com/coala/coala/blob/master/coalib/collecting/Importers.py) as way for importing the modules, but it imports all objects within the module. Can you suggest any way of module level import for testing?

[2018-10-03 10:01] ugurkanates commented on #5762
If not assigned please let me know so i can be assigned.

[2018-10-03 10:02] ugurkanates commented on #5766
If not assigned please let me know so i can be assigned.

[2018-10-03 10:18] li-boxuan commented on #5754
You can traverse through all definition files under `definitions` module, import them and test them one by one.

[2018-10-03 16:07] Ishaan28malik commented on #5777
can i contribute this ?

[2018-10-03 17:03] shivank1234 commented on #5777
Can I help here?

[2018-10-03 17:45] bhawesh96 commented on #5777
I have already submitted a PR for this issue.

[2018-10-03 19:33] import-keshav commented on #5766
can i work on it

[2018-10-04 08:12] e-aakash commented on #5754
I am planning to use Language class of [Language.py](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/Language.py) and LANGUAGE_NAMES of [TestUtilities.py](https://github.com/coala/coala/blob/master/tests/TestUtilities.py) for testing data types of attributes of a language. Since there is only one definition for each language and not for each version, can testing only the defaul

[2018-10-04 09:33] akshatkarani opened #5785 "Typo in ConfParserTest.py"
Multiple times omment is written instead of comment

[2018-10-04 10:12] haxzie commented on #5785
May I work on this?

[2018-10-04 14:11] srivama commented on #5766
Please ask on the gitter channel for getting the issue assigned before you begin working on it, except if you're the first one to claim it.

[2018-10-04 19:15] 7princekumar opened #5787 "The get started guide for C-Language provided in https://coala.io is not working"
### Overview Description
The **get started** guide for C-Language provided in `https://coala.io` is not working!
# Steps to Reproduce

1. Open `https://coala.io/#/home` on a web-browser.
2. Reach the GET STARTED section (It's at the bottom half of the page)
![alt text](https://i.imgur.com/UH30K8f.png)
3. Select C-Language instead of python (Note: Python is set as default)
4. Open Terminal
5. Execu

[2018-10-04 19:16] 7princekumar commented on #5787
I would like to work on this issue.

[2018-10-05 05:00] haxzie commented on #5785
@akshatkarani can you give me a little more detail on this? please :smiley:

[2018-10-05 05:17] shivank1234 commented on #5777
Ok,NP😊😊
Then,why is the issue is not closed?🤗🤔

[2018-10-05 05:35] 7princekumar commented on #5787
I tried using `pip3 install indent` but, it still didn't work!
![alt text](https://i.imgur.com/CgCcCtA.png)

[2018-10-05 11:27] sladyn98 commented on #3754
@ayan-b This looks cool, if you could put the urls on two different lines it would look better.

[2018-10-05 11:45] Man-Jain commented on #3754
@ayan-b I think you'll need put the links on the document pages

[2018-10-05 11:47] ayan-b commented on #3754
Are you sure? Please see this: https://github.com/coala/documentation/issues/252#issuecomment-284202727

[2018-10-05 11:52] Man-Jain commented on #3754
Okay yeah you need to do this one only.

[2018-10-05 20:46] 7princekumar commented on #5787
Got it! Just curious, since it's a **_get-started_** code, the example given(in the website) shouldn't be super easy? What I mean is, instead of the code provided (which requires installation of gindent), if some other example is used, it will be easy for the beginners to actually get-started with coala.
We can use this example: `https://github.com/coala/coala-tutorial` which works smoothly.

[2018-10-05 20:56] Makman2 commented on #5785
Assigning you @haxzie , however please try only to claim an issue only when you have understood it/at least a rough understanding what the goal is (for next time).

[2018-10-06 03:56] haxzie commented on #5785
@Makman2 sorry, about that. I'll try to look more into the issue from now on. Thank You for assigning this to me :)

[2018-10-07 07:33] #5762 closed

[2018-10-07 09:10] AditiKatiyar commented on #5766
is this issue still open? i would like to work on it.

[2018-10-07 13:40] Ishaan28malik commented on #5766
@srivama  please assign me this issue

[2018-10-07 13:41] Ishaan28malik commented on #5785
please assign me this issue@akshatkarani

[2018-10-07 18:48] pandyamarut opened #5790 "please close all the solved issues."
it reduces labour.

[2018-10-08 01:06] haxzie commented on #5766
Since there's already a PR up for this issue, if that's not being considered, Since it wasn't asigned.. I'd like to leave the issue for others who want to work on it. @Makman2 :innocent:

[2018-10-08 05:32] 7princekumar commented on #5777
Please assign if not yet solved.

[2018-10-08 05:49] jayvdb commented on #5777
It already has a PR @7princekumar .  I've assigned it to the PR author now.

[2018-10-08 05:50] 7princekumar commented on #5777
Okay. I will look for another issue to work on. :smile: There are very few newcomer issues left.

[2018-10-08 05:51] jayvdb commented on #5790
Which open issues are solved with a merged PR?

p.s. sent you an invite to join @coala.

[2018-10-08 07:55] 2root2 opened #5791 "Import Error while running coala tutorial"
### Overview Description

I was running [coala tutorial](https://docs.coala.io/en/latest/Users/Tutorial.html)
getting following error.

[code]

# Steps to Reproduce

1. Cloned ` https://github.com/2root2/coala-bears.git`
2. Installed repo contents using  `pip3 install -e .`
3. Clone coala tutorial `git clone https://github.com/coala/coala-tutorial`
4. run `coala -S Makefiles.bears=LineLengthBear M

[2018-10-08 08:00] li-boxuan opened #5792 "Make the README a kinder place by removing/replacing the John Woods quote"
This is migrated from https://github.com/coala/coala/pull/5767

As @joenash suggests,

[code]

Some follow-up discussions can be found on that PR. This issue is opened as the pull request is not a correct place to discuss/vote.

[2018-10-08 08:53] li-boxuan commented on #5785
This issue is assigned to someone else and there is already an opening pr. Please look for other issues. @pandyamarut

[2018-10-08 09:12] pandyamarut commented on #5790
#5777 This issue is solved and PR is already made.

[2018-10-08 09:13] ManthanKeim commented on #4566
@jayvdb can it be assigned to me ?

[2018-10-08 09:18] pandyamarut commented on #5790
@jayvdb Also the issue #5785

[2018-10-08 10:04] pandyamarut commented on #5745
@jayvdb This issues can also be closed.

[2018-10-08 10:09] rahulkumaran opened #5794 "update year and org in license"
### Overview Description
This issue is to make sure that the year and organisation name in the license is mentioned

# Steps to Reproduce

1. View line 633 in LICENSE

# Actual Results
Copyright (C) <year>  <name of author>

# Expected Results
Copyright (C) 2017-present coala development group

# Additional Information:
It's better to correct this now in order to avoid any copyright issues that ar

[2018-10-08 10:11] #5432 closed

[2018-10-08 10:11] srivama commented on #5787
@jayvdb What's your opinion on this one?

[2018-10-08 10:17] li-boxuan commented on #5790
It is not solved. PR is made but is still open. It would be closed automatically when the corresponding PR is merged.

[2018-10-08 10:19] srivama commented on #5766
@haxzie Since you've already worked on another newcomer issue, you can leave this one and go for a low issue this time.
@shivank1234 If you want to work on this issue, you can get it assigned to you now :smile:

[2018-10-08 10:34] haxzie commented on #5766
@srivama Sure, Thanks :)

[2018-10-08 10:50] shivank1234 commented on #5766
Thanks,I will surely do :)

[2018-10-08 11:08] pandyamarut commented on #5790
@li-boxuan

[2018-10-08 11:11] 7princekumar commented on #5794
I would like to work on this issue.

[2018-10-08 11:17] rahulkumaran commented on #5794
@7princekumar I've already submitted a PR for the same.

[2018-10-08 11:19] jayvdb commented on #5794
We have too many repos to fix this one at a time every year.

The solution is to do https://gitlab.com/coala/mobans/issues/90 and https://gitlab.com/coala/mobans/issues/10

[2018-10-08 11:46] li-boxuan commented on #5790
No problem, I'll close this issue.

[2018-10-08 11:46] #5790 closed

[2018-10-08 12:58] siddhant-curious opened #5796 "pipenv install coala-bears produces errors"
**Overview Description**
Can not install coala-bears inside a pipenv.

**Steps to Reproduce**

1. pipenv --Python 3.7
2. pipenv install coala-bears

**_Output :_**
`Installing coala-bears...
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/bin/pipenv", line 11, in <module>
    sys.exit(cli())
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/

[2018-10-08 13:06] jayvdb commented on #5792
This quote came out of a README jam session where we removed lots of complexity from the README and looked for something which communicated "what is coala" a bit better.

IIRC, I proposed it, or endorsed it, and was involved in tracking down the source so it was not '-- anonymous'.

I dont recall there being a lot of other quote suggestions, so it is quite possible that there are better ones.

The

[2018-10-08 13:21] jayvdb commented on #5796
Duplicate of https://github.com/coala/coala/issues/3677

[2018-10-08 13:21] #5796 closed

[2018-10-08 13:50] #5330 closed

[2018-10-08 14:29] joenash commented on #5792
Thanks for that context @jayvdb, that's awesome!

@palash25 made some great suggestions in the PR thread for some alternatives, though I think we can do better than Linus (again, not the most welcoming figure in OSS, despite his huge technical achievements) and Martin Fowler (he's chosen some interesting hills to die on as of late).

But again - this is just my thoughts as someone whose profession

[2018-10-08 15:18] jayvdb commented on #5792
I definitely oppose "given enough eyeballs, all bugs are shallow" and derivatives.

While it is seems true for some projects, there are very few projects where it is applicable.

It doesnt help the typical OSS project which coala aims to help with, as they usually have few eyeballs with experience, and the eyeballs are strained with other responsibilities.

The Martin Fowler quote:

:"I’m not a gr

[2018-10-09 02:29] kamikaze opened #5797 "upgrade to click>=7.0"

[2018-10-09 11:32] ishanSrt commented on #5044
@akshatkarani as pointed out by @jayvdb on my PR and as suggested by @Makman2 it would be best to just print out the line numbers as one can always create a scenario where your solution fails to detect something similar.

[2018-10-09 11:44] akshatkarani commented on #5044
Okay

[2018-10-09 13:02] li-boxuan commented on #5310
@hritikhks You need to get one newcomer issue merged/approved first.

[2018-10-10 13:14] pandyamarut commented on #5740
@jayvdb please assign this issue to me.

[2018-10-11 03:01] #4566 closed

[2018-10-11 03:56] #5724 closed

[2018-10-11 04:06] jayvdb commented on #5745
No it can not be closed @pandyamarut .

It had a PR which was still open, but has been abandoned, so I have closed it and unassigned this issue, so another newcomer can attempt it.

[2018-10-11 04:15] jayvdb commented on #5740
Unassigning due to inactivity.

[2018-10-11 04:37] pandyamarut commented on #5605
if this issue is open by any chance, please assign.

[2018-10-11 06:30] #5605 closed

[2018-10-11 06:40] ishanSrt commented on #5044
This issue seems a tad rather difficult to implement in the source code. Should be labeled `difficulty/medium`

[2018-10-11 08:30] abhishalya commented on #5740
@jayvdb Please assign this to me, I'll be happy to work on it 😄

[2018-10-11 08:35] #5785 closed

[2018-10-11 08:41] jayvdb opened #5802 "Newcomer guide: Verify issue exists"
Migrating from https://github.com/coala/documentation/issues/487

The newcomer guide should include a step for verifying that the issue exists.

[2018-10-11 09:46] AditiKatiyar commented on #5802
can i work on this issue

[2018-10-11 12:11] jayvdb commented on #5532
No.

This issue is not about parsing a single entry in the `.coafile`.

This is about how a `.coafile` `Section` is loaded from *all* of the entries in that section of the `.coafile` .

Use logging and/or breakpoints to step through the process of coala reading the `.coafile` .

Looking for `+=` is very likely a waste of time, as the related code may not use that string in its parser.

[2018-10-11 16:17] e-aakash commented on #5754
The test I have written are not executed when I run pytest. Do I have to add it to any list so that it is also executed when pytest runs?
It would be helpful if someone could answer to my last comment, so that I can continue my work on this issue.

[2018-10-11 17:10] AditiKatiyar commented on #5802
I have a doubt. Besides checking whether an issue is closed/open, assigned/unassigned, PRs existing, what else one should need to verify for the existence of the issue?

[2018-10-11 18:27] ManthanKeim commented on #5726
@jayvdb kindly assign me the issue.

[2018-10-12 11:57] #5777 closed

[2018-10-12 22:30] #5442 closed

[2018-10-12 22:51] jayvdb commented on #4770
I think Step 5 is the right spot for this.

Step 6 assumes the Pull Request is ready for review, which is almost never the case.

After the Pull Request is created, CI runs, and often CI fails.  And bots do an automated code review, and respond on the Pull Request.

Step 5 needs to say that the developer needs to watch these automated systems until they finish, and fix their own PR.

Lets increase

[2018-10-13 07:33] subhaminion commented on #5745
Hi @jayvdb
Just checking if I've understood the problem well or not.

I just have to rearrange the imported modules in alphabetical order in
`coala/coalib/bearlib/languages/__init__.py` file only right?

Or every file?

[2018-10-13 08:07] jayvdb commented on #5745
Yup, just that one file.

[2018-10-13 09:45] agrawalarpit14 commented on #5532
@jayvdb Following what you suggested, I analysed how a `.coafile`  `Section` is loaded.
I realise that it is read line be line . But I noticed something weird. I used the following .coafile
[code]
 and realized that the value of Section object `self` for name=`DOCS` was as follows:
[code]

But when I added a `+=` instance in .coafile i.e,
[code]
then until I didn't reach that line the value of sel

[2018-10-13 10:44] jayvdb opened #5805 "SectionFilling.py: Added parameter 'targets' breaks backwards compatibility"
https://github.com/coala/coala/pull/5053 added a new parameter in the middle of function arguments, breaking backwards compatibility, and breaking coala-quickstart.

[2018-10-13 13:14] ManthanKeim commented on #5695
@jayvdb may i work on this ?

[2018-10-13 13:34] jayvdb commented on #5695
@ManthanKeim , I have assigned you to https://github.com/coala/documentation/issues/571 .

[2018-10-13 13:42] jayvdb commented on #5532
try `p self.__dict__`

Besides that, please use stackoverflow or google for this type of thing.

[2018-10-13 14:03] Utkarsh1308 commented on #5740
Can I be assigned to this please

[2018-10-13 16:41] agrawalarpit14 commented on #5532
Even `p self.__dict__` doesn't print anything.
[code]

[2018-10-13 16:53] jayvdb opened #5808 "Glob.fnmatch logic inverted breaking backwards compatibility"
PR https://github.com/coala/coala/pull/5259 for issue https://github.com/coala/coala/issues/2302 broke coala-quickstart .

[2018-10-13 17:13] agrawalarpit14 commented on #5532
@jayvdb I feel the following element
[code]
in `coalib/settings/Section.py` isn't able to perform properly.

[2018-10-13 18:57] jayvdb opened #5810 "FileDict and FileProxy fixes"
fbe84523 introduced `FileDict`, as a subclass of `dict`.

It contains many unnecessary methods which needlessly override the `dict` method.  The override methods mostly just call the `super()` method, creating an extra performance degradation.

The only method which isnt just `super()` is `__getitem__`.  It contains a bug, because if the value in the dict has 0 lines, `val` is `[]` , and `if val:`

[2018-10-13 19:22] jayvdb opened #5812 "LocalBearTestHelper: Proper deprecation for timeout"
https://github.com/coala/coala/pull/5723 was an over-hasty way of removing the dependency on `pytest`.

The `assert not timeout` broke one of the bears which used the timeout.

The bear was updated to remove the unnecessary timeout, but the assert will break old versions of coala-bears being used with the current coalib, which needlessly complicates setting up an environment to investigate old bug

[2018-10-14 09:38] #5805 closed

[2018-10-15 00:18] jayvdb opened #5819 "Writing Good Commits should use real commits as examples"
https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html

The example commits include references to issues, however those issues are not the same as the examples.

e.g. https://github.com/coala/documentation/issues/573 is about a commit example which refers to https://github.com/coala/coala/issues/4018 , but that issue was solved in PR https://github.com/coala/coala/pull/4024 , and the

[2018-10-15 15:08] srivama opened #5820 "Remove unnecessary blank line"
https://github.com/coala/coala/blob/604072c35cf6482cd01d0af064804e5a730ada54/coalib/bearlib/languages/definitions/Python.py#L8

Newcomer Issue

[2018-10-15 21:34] rpanczer commented on #5820
I can take care of this one :)

[2018-10-16 00:47] rpanczer commented on #5820
@srivama Look at html.py in the same folder. The blank line is intentional.

[2018-10-16 02:12] jayvdb commented on #5820
A single blank line there is acceptable. It may not exist in all files.

I think this is a 'wontfix'.

[2018-10-16 04:05] srivama commented on #5820
@rpanczer Maybe! But it's only in two of the definitions, and in such small snippet, IMO blank line isn't required for enhancing readability. It's not that it will create any issues though :wink:

@jayvdb Agreed, it's only in two files and I thought this'll make an appropriate newcomer issue.. Anyways, I'll close it ;)

[2018-10-16 04:08] #5820 closed

[2018-10-16 05:17] mach64 commented on #5812
@jayvdb Could I have a go at this issue?

[2018-10-16 09:13] virresh opened #5822 "Add language definition for g4 files"
This g4 file refers to an ANTLRv4 grammar file.
See examples of g4 files and more information about them at: https://github.com/antlr/antlr4/blob/master/doc/getting-started.md

[2018-10-16 09:18] virresh opened #5823 "Add language definition for dot language"
https://www.graphviz.org/doc/info/lang.html

[2018-10-16 09:24] virresh opened #5824 "Add language definition for TinyBasic"
https://en.wikipedia.org/wiki/Tiny_BASIC
https://github.com/antlr/grammars-v4/blob/master/tinybasic/tinybasic.g4

[2018-10-16 09:28] virresh opened #5825 "Add language definition for Verilog"
https://en.wikipedia.org/wiki/Verilog

[2018-10-16 10:18] Dhiraj240 commented on #5822
is it about adding generated lexer and parser of c,c++ etc. languages from grammar repo?

[2018-10-16 14:12] virresh commented on #5822
Nope.
See https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions for examples

[2018-10-17 11:48] jayvdb commented on #5658
yes.  The silly part about the 'tuple' based approach is that the constructor accepts *fuzzy* inputs, but then it produces a collection where it is not possible to correlate the inputs with the contents of the collection.

Consider

Should produce the same collection as your example?  CS = C# ?
If yes, then how does the caller know where CS is in the tuple?
If the caller doesnt know where the CS i

[2018-10-17 11:50] jayvdb commented on #5657
Going to be solved as part of https://github.com/coala/coala/issues/5658

[2018-10-17 11:50] #5657 closed

[2018-10-17 11:53] #5150 closed

[2018-10-17 12:45] #5417 closed

[2018-10-17 13:07] #5766 closed

[2018-10-17 17:28] AditiKatiyar commented on #5802
I am working on it.

[2018-10-17 18:03] corona10 commented on #5658
@jayvdb
Okay, this problem as same as a search engine problem.
If someone queries `cpp` or `c++`, a search engine should provide the same information.
Now I understand why you want to provide Mapping interface for `Languages`.

My current PR doesn't look like prper way to solve the issue you want,
I will update my PR with better one :)

[2018-10-18 00:18] jayvdb commented on #5619
I suspect this is related to path separators on Windows.

[2018-10-18 04:54] ayan-b opened #5826 "Update to Writing_Native_Bears and Writing_Linter_Bears"
Mention that,
- for language naming always consider the format that is used in the corresponding Wikipedia page, (**exception:** use `CPP` instead of `cpp` or `c++`);
- a language definition should be added while writing new bear;
- the alias used in LANGUAGES should be one of the names in the coala definition.

A `difficulty/low` issue.

[2018-10-18 10:49] chay2199 opened #5827 "Add Ignore Comment never asks you for the parameter 'language' if you entered it wrong the first time."
If the user mistypes the language parameter coala shows the message - "coala does not support Ignore in "c+-". Consider opening an issue at https://github.com/coala/coala/issues so we can add support for this language." again without asking the user for the parameter 'language' so that he/she can correct it.

![screenshot from 2018-10-18 16-15-17](https://user-images.githubusercontent.com/33033514

[2018-10-18 11:54] XLAR-8 commented on #5341
@jayvdb please assign this to me.

[2018-10-18 14:36] Dhiraj240 commented on #5825
@jayvdb will you assign this to me?

[2018-10-18 17:03] AkshJain99 commented on #5797
@kamikaze if u can please explain what we need to do in this issue???

[2018-10-18 22:01] XLAR-8 opened #5829 "Add Brackets editor Code to known editors for coala"

[2018-10-18 22:12] XLAR-8 commented on #5829
Please ,I want this issue to be assigned to me .
@jayvdb @Makman2

[2018-10-19 01:30] jayvdb commented on #5829
https://github.com/coala/coala/pull/5804 is example.

[2018-10-19 01:48] jayvdb commented on #5749
Probably a dup of https://github.com/coala/coala/issues/5390

[2018-10-19 04:39] jayvdb commented on #3166
Note there is a related plan at https://github.com/coala/coala/issues/4038 , to create a separate repo for metadata only , for things like language definitions, docstyle definitions, aspect definitions, etc.

[2018-10-19 06:02] jayvdb opened #5830 "CPP raw string delimiter is incorrect"
CPP.py defines raw strings as

[code]

That is incorrect.

See https://stackoverflow.com/questions/49416631/escape-r-in-a-raw-string-in-c

We currently can not describe balanced delimiters, so we can only provide one constant delimiter, so it should be

[code]

[2018-10-19 06:03] jayvdb commented on #5830
I havent traced the history, but 6960d2fe9 is where they last changes structure.

[2018-10-19 11:31] kunalvats commented on #5830
I'd like to complete this as my newcomer task. Assign me to this.

[2018-10-19 12:53] AkshJain99 commented on #5356
If no one is working on this issue i would like to work on this issue

[2018-10-19 12:57] AkshJain99 commented on #5356
can anybody tell what actually we need to do in this issue???

[2018-10-19 13:00] blossomica commented on #5819
Can I work on this bug?

[2018-10-19 13:57] akshatkarani commented on #5819
@blossomica  ask on our gitter channel https://gitter.im/coala/coala

[2018-10-19 16:20] blossomica commented on #5819
@akshatkarani - The documentation says "Now pick an issue which isn’t assigned and which you would like to fix. Leave a comment that you would like to be assigned to the issue. This way we don’t have multiple people working on the same issue at the same time. Now you can start working on it!" it doesn't specify one should ask on gitter, so may I ask how you came to that conclusion?

[2018-10-19 16:45] akshatkarani commented on #5819
Corobo is down so assignment of issues is done by maintainers.

[2018-10-19 17:11] Dhiraj240 opened #5834 "CI errors due to upgraded version of autopep8"
CI showed following error:
[code]

Steps to reproduce :
1.In my local system i installed new version of autopep8 in my virtual environment where i kept coala, coala-bears.
2.Then i ran coala over this repository.
3.Thus got the updated version ```test_external_bear.py```  script and ```coala``` file.

Alternatively [this](https://github.com/coala/coala-bears/search?q=autopep8&unscoped_q=autopep8)

[2018-10-19 17:13] Dhiraj240 commented on #5834
@jayvdb can i work on this? also please check whether this way could produce something valuable.

[2018-10-19 17:58] blossomica commented on #5819
@akshatkarani - Alright, I'll attempt then.

[2018-10-19 18:43] sangamcse commented on #5834
The error is due to the new feature in `autopep8`, i.e, `E402 - Fix module level import not at top of file`. You can find many others at https://github.com/hhatto/autopep8#features.

So @jayvdb, we need your view on the `E402`. Should we keep this feature for this repo and make the changes in below 2 files:
1. coala, and
2. tests/bearlib/abstractions/external_bear_wrap_testfiles/test_external_bear

[2018-10-20 01:10] jayvdb commented on #5834
ignoring it requires as much work as fixing it.

ignoring it is as complex as fixing it.

[2018-10-20 05:39] agrawalarpit14 commented on #5834
@bkhanale This is a crucial issue. We need to fix it ASAP!
Let us know if you are facing any kind of difficulty

[2018-10-20 05:50] bkhanale commented on #5834
@Dhiraj240 @agrawalarpit14 Yes, I got that. I hope this change would fix it:

[code]

and

[code]

Let me know if its correct. Also I have removed the `#Stop ignoring` comment, I wasn't sure where to place it.

[2018-10-20 07:41] scls19fr opened #5836 "Doc improvement - using coala with pre-commit"
Hello,

I think there is a room for doc improvement to show how to use coala with https://pre-commit.com/ https://github.com/pre-commit/pre-commit

Pinging @asottile

Kind regards

[2018-10-20 07:42] scls19fr opened #5837 "Running Coala when a PR is created"
Hello,

I'm currently using Coala manually but I think it could be a nice improvement if Coala could be run when a PR is sent to a repository.

With Julia language, there is a nice Github bot called [FemtoCleaner](https://github.com/JuliaComputing/FemtoCleaner.jl) which is able to fix automatically depreciation warnings and send PR automatically to Github repositories where this bot is installed.

[2018-10-20 09:13] li-boxuan commented on #5837
If I understand it correctly, this is very easy. Example: https://github.com/coala/coala/blob/966e1140f056cc91f3d5e766e23fba6990497b3e/.travis.yml#L118
Just run `coala` in your CI, e.g. Travis, CircleCI, GitLab CI, etc.

Also, coala org uses [Gitmate](https://gitmate.io/) to optimize working flow. One of its functionalities is to review PR and give fixing code patch if applicable. Example: https:/

[2018-10-20 11:19] jayvdb commented on #5834
For the tests/ file, the problem is quite different.

The code is ugly.  The bears are right.  There is no reason for us to be using `sys.path` to help the imports.

The reason it is there, is that `coalib` hasnt been 'installed' before the tests are run, so the exec of `sys.executable` fails when importing coalib.

sys.path is a horrible workaround for that.

One solution is to install coalib bef

[2018-10-20 11:54] #5834 closed

[2018-10-20 12:11] #5808 closed

[2018-10-20 13:11] #5822 closed

[2018-10-20 22:12] Wwar-lock commented on #5791
Hello, @2root2 Once Try Python 3.7.0 and pip  10.0.1.

[2018-10-21 04:07] agrawalarpit14 opened #5841 "Multiple ignore in single settings section"
[code]
Expected behavior:
It should throw an error

Current behavior:
Both aaa & bbb gets ignored.

[2018-10-21 04:14] agrawalarpit14 opened #5842 "Missing value for ignore empties it"
[code]
Expected behavior:
This should throw an error, the user should fix it

Current behavior:
Nothing gets ignored.

[2018-10-21 12:42] li-boxuan commented on #5756
AppVeyor is failing again due to timeout. Reopen this issue.

[2018-10-21 14:51] ishanSrt commented on #5356
sorry @AkshJain99 I don't have a proper understanding of the concerned test case, maybe ping **AbdealiJk** to get a follow up and a better understanding.

[2018-10-21 15:19] #5819 closed

[2018-10-21 16:08] ananyaarun commented on #5310
@li-boxuan , can i work on this ?

[2018-10-22 02:02] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:02] #5356 closed

[2018-10-22 02:03] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:03] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:03] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:04] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:09] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:09] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:10] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:10] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:12] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:12] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 02:18] jayvdb opened #5843 "require_setting docstring contains strange " and following""
In require_setting we see

[code]

"and following" should be removed.

[2018-10-22 02:19] jayvdb opened #5844 "Remove "and following" from require_setting docstring"
In require_setting docstring is

[code]

"and following" should be removed.

[2018-10-22 03:10] #5837 closed

[2018-10-22 03:39] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 03:40] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 03:45] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 04:33] scls19fr commented on #5836
Sorry @jayvdb

[2018-10-22 04:33] #5836 closed

[2018-10-22 08:34] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 09:20] jayvdb commented on #5844
Duplicate of #5843

[2018-10-22 11:53] shivank1234 commented on #5797
What is this issue all about?

[2018-10-22 12:34] shivank1234 commented on #5827
Is this issue still open?

[2018-10-22 12:51] ishanSrt commented on #5356
Closing this on the grounds of a valid explanation. @AkshJain99 if you still want to improve upon the comment and solve the issue, drop a comment.

[2018-10-22 14:13] scls19fr commented on #5836
Closes in favor of https://github.com/coala/documentation/issues/575

[2018-10-23 02:51] #5726 closed

[2018-10-23 05:54] li-boxuan commented on #3247
Unassigned due to inactivity.

[2018-10-23 11:05] RaiVaibhav commented on #5791
Seems like version of coala is not updated can you try to install the latest version of coala, because it worked fine for me
[code]

[2018-10-23 11:20] abhilashk433 commented on #5333
Hi @jayvdb , I would like to work on this issue.

[2018-10-23 14:43] #5843 closed

[2018-10-23 20:30] monsij commented on #5694
Is anything left to be done for this issue ? @pareksha

[2018-10-23 21:13] kamikaze commented on #5797
hey guys. Don't be selfish... this issue is about coala downgrades click package to version that is prior 7.0 while other packages require >=7.0. Is it hard to understand?

[2018-10-23 21:14] kamikaze commented on #5797
coala-bears 0.11.1 has requirement click==6.6, but you'll have click 7.0 which is incompatible.
crossbar 18.10.1.post1 has requirement autobahn>=18.10.1, but you'll have autobahn 18.9.2 which is incompatible.

[2018-10-24 03:46] CLiu13 commented on #5824
Working on this, can I be assigned? Thanks!

[2018-10-24 04:42] amalrajan commented on #5829
If nobody is currently working on this, can I please give this a try?

[2018-10-24 04:45] pareksha commented on #5694
Yes @monsij, many coala linters make use of `@linter` decorator which isn't compatible with aspects yet. We cannot migrate those linters into aspects until `linter` module is made compatible.

This is what this issue is about. You can take this up if you're interested.

You can find some more information in the comments of https://github.com/coala/coala-bears/issues/2657

[2018-10-24 04:48] srivama commented on #5829
@amalrajan The issue is already assigned, and has an open PR.

[2018-10-24 10:16] shikharvaish28 opened #5850 "newcomers_guide.rst: add a warning for not to use git pull button"
In the newcomer's docs, there needs to be warning for not using the ```git pull``` button as it can cause issues in the PR.

This can be a good newcomer issue.

[2018-10-24 10:19] li-boxuan commented on #5850
There is no `git pull button` :P    Instead, people should not use `git pull` command on CLI.

[2018-10-24 10:32] shikharvaish28 commented on #5850
My bad. Fixed.

[2018-10-25 05:10] agrawalarpit14 commented on #5841
@jayvdb The approach to solve this issue will be very different if I take the changes done in #5815 into account and if I don't. I think going forward with the former makes more sense?
Further let me know when such a situation is encountered:
[code]
Should it give an error or should it contain `bbb`.

[2018-10-25 07:10] jayvdb commented on #5841
@agrawalarpit14 , it should be an error, I believe (so far).  This issue isnt about `+=` .  it is about overwriting config

The following should be possible of course.
[code]

Let us know if any tests depend on the same setting being overwritten.  We may need to re-evaluate.

[2018-10-25 12:09] ananyaarun commented on #5310
@li-boxuan , in the Result.py file i see in line 155 ans 156 line and column have been set to none. Shall i add 2 docstrings below them ?

[2018-10-25 13:09] li-boxuan commented on #5310
@ananyaarun You can do as what you say first, create a PR and then reviewers can comment and discuss about what the best place should be.

[2018-10-25 14:13] shriram98 commented on #5850
I would like to be assigned this issue as my newcomer task

[2018-10-25 19:34] #5310 closed

[2018-10-25 20:09] #4770 closed

[2018-10-26 03:57] #5824 closed

[2018-10-26 09:20] jayvdb commented on #5850
@shriram98 , this one is reserved for Google Code-in . Please find another one on https://coala.io/new

[2018-10-27 10:40] monsij opened #5854 "Linux build : project not found"
The file `README.rst` has an image for linux build. However it shows **project not found**.

[2018-10-27 11:07] jayvdb commented on #5854
Hi @monsij , could you give a URL for where you are seeing this.

I dont see it at https://github.com/coala/coala/blob/master/README.rst .

[2018-10-27 11:12] monsij commented on #5854
https://img.shields.io/circleci/project/coala/coala/master.svg?label=linux%20build

[2018-10-27 11:58] jayvdb commented on #5854
Got it. Thanks!

[2018-10-27 12:15] monsij commented on #5854
Any possible linking errors?

[2018-10-27 12:28] jayvdb commented on #5854
I'm not sure what is the cause, and they are linux builds.

We do have Circle CI builds happening, but often failing, check out a pull request to see the PRs with Circle CI.

Maybe the shield URL needs to be updated.

[2018-10-27 12:33] jayvdb commented on #5854
https://img.shields.io/circleci/project/coala/coala/master.svg also doesnt work ..

[2018-10-27 12:52] jayvdb commented on #5841
There is a test which deals with this; see https://github.com/coala/coala/pull/5811#pullrequestreview-169054261

[2018-10-27 12:58] monsij commented on #5854
i too think so

[2018-10-27 14:07] li-boxuan commented on #5854
https://circleci.com/gh/coala/coala.svg?style=svg?

[2018-10-27 14:13] li-boxuan commented on #5854
I find a working one https://img.shields.io/circleci/project/github/coala/coala/master.svg

[2018-10-27 17:09] monsij commented on #5854
If the builds pass/fail, it is acceptable but "project not found"-- that is something to be taken care of

[2018-10-27 18:34] monsij commented on #5854
![pic1](https://user-images.githubusercontent.com/23289387/47607984-ed612c80-da44-11e8-9ad0-6d417a58de64.PNG)
Something is wrong. It passes sometimes , it fails some other time. And so it is difficult to be pointed out.

[2018-10-28 04:56] agrawalarpit14 commented on #5841
@jayvdb I don't think this is an issue presently. I am not able to reproduce it in any scenario.
Presently, it overwrites the value and throws the following warning.
[code]
And, it works as expected, it keeps the value stated later and discards the earlier one. Do you want me to change it into an error, or is the warning fine?

[2018-10-29 03:40] jayvdb commented on #5812
@mach64 & @aquatiko , In an experiement, I have assigned both of you two this.  It is fairly easy, so one of you can put up a patch fairly quickly I guess.  Whoever gets the PR up first, wins, and the other needs to do the code review ;-)

[2018-10-29 04:04] #3247 closed

[2018-10-29 09:34] jayvdb opened #5856 "glob patterns with multiple ** incorrectly cause warnings"
With a `.coafile` like

[code]

warnings like the following occur:

[WARNING][02:36:51] Detected trailing globstar in ignore glob '/builds/.../**/migrations/**'. Please remove the unnecessary '**' from its end.

The trailing `**` are unnecessary only if the rest of the path is a canonical directory not containing any wildcards.

[2018-10-29 11:06] Man-Jain opened #5857 "Add language definition for Solidity"
https://github.com/antlr/grammars-v4/tree/master/solidity

[2018-10-29 16:39] mach64 commented on #5856
Would love to take this one up @jayvdb :D
Seems like a natural continuation of my previous PR :stuck_out_tongue_closed_eyes:

[2018-10-29 17:10] akshatkarani opened #5858 "Single quotes should be used instead of double quotes"
In docstring for `get_config_directory` multiple times double quotes are used instead of preferred single quotes.
difficulty/newcomer

[2018-10-29 21:07] utkarsh2102 commented on #5740
@Utkarsh1308, are you still working on it?
If so, please finish this at the earliest.
Else, I'm willing to do so.
CC: @gaocegege

[2018-10-30 07:22] ayan-b opened #5859 "coala shortlink page gives 404"
coala shortlink mentioned here https://api.coala.io/en/latest/Developers/Useful_Links.html , _i.e._ https://api.coala.io/en/latest/Developers/coala.io/links gives 404.

[2018-10-30 07:50] jayvdb opened #5860 "FileFactory: newline mode does lots of useless work"
`str.splitlines` splits on `\n`, so it is redundant to for `newline` mode to check every line in the split array to see if it ends in `\n`.  Only the last line can not end in `\n`

But more importantly this logic would break any attempt to use DOS or other EOL sequences.

[2018-10-30 07:52] jayvdb opened #5861 "FileFactory: Support non-Unix EOL"
This was a requirement of any new file wrapper but wasnt implemented.

Blocked by
https://github.com/coala/coala/issues/5860

[2018-10-30 07:53] jayvdb commented on #3916
The implemented FileFactory does more joins than before.

[2018-10-30 07:54] jayvdb opened #5862 "FileFactory: Rename it"
`FileFactory` is not a factory.

https://en.wikipedia.org/wiki/Factory_method_pattern

[2018-10-30 12:36] jayvdb commented on #4552
Duplicate of https://github.com/coala/coala/issues/3401

[2018-10-30 12:36] #4552 closed

[2018-10-30 12:39] jayvdb commented on #558
#751 wasnt an enforced rule, it didnt make it to the dev docs.

Problem wasnt solved.

[2018-10-30 12:40] jayvdb commented on #3401
Duplicate of https://github.com/coala/coala/issues/558

[2018-10-30 12:40] #3401 closed

[2018-10-30 12:42] jayvdb commented on #558
Actually it is in dev docs at https://api.coala.io/en/latest/Developers/Codestyle.html#line-continuation

But it keeps getting past reviewers.  Need a bear.

https://github.com/coala/coala-bears/issues/2427 is such a bear, otw

[2018-10-30 13:33] palash25 commented on #5862
I remember @Makman2 also wanted to rename it to just `File`

[2018-10-30 14:37] shriram98 commented on #5858
I would like to be assigned this issue as my newcomer task

[2018-10-30 15:29] jayvdb commented on #3403
No benefit in keeping this area.
We can add tests when they are called for.

[2018-10-30 15:29] #3403 closed

[2018-10-30 15:46] #5745 closed

[2018-10-30 16:40] akshatkarani commented on #5858
@shriram98 ask on gitter channel

[2018-10-31 03:13] #5856 closed

[2018-10-31 03:48] jayvdb commented on #4372
This was already done https://github.com/coala/coala/blob/master/.coafile

[2018-10-31 03:48] #4372 closed

[2018-10-31 03:51] jayvdb commented on #4799
@agrawalarpit14 , it looks like this is an older issue about some of the problems you have been investigating

[2018-10-31 04:30] shashwatmishra76 commented on #5406
@jayvdb coala -B does list out all the bears but coala -B --json seems to throw errors.So this command i.e. coala -B --json should give out the list of all bears in json format even if some bears can't be loaded,right?

[2018-10-31 05:36] shashwatmishra76 commented on #5406
I am asking this because coala -B works just fine as it lists out all the bears and does not shut down even if some of the beards are missing.I don't think I need to make changes regarding the command coala -B,right?

[2018-10-31 16:00] sourabh1031 commented on #5860
@jayvdb i will be working on this

[2018-10-31 16:09] sourabh1031 commented on #5449
@jayvdb please assign this to me

[2018-11-01 02:12] li-boxuan commented on #5449
@sourabh1031 Can you finish your open PR https://github.com/coala/coala/pull/5772 first?

[2018-11-01 06:46] #5812 closed

[2018-11-01 09:51] jayvdb opened #5868 "FileFactoryTest: Duplicated asserts"
This test module was created with lots of duplicated asserts

[2018-11-01 13:21] StoppingBuck opened #5871 "Support pylint >= 2.0"
It seems the current version of coala-bears doesn't support the newest version of pylint, thus can't run on newer versions.

On Arch Linux:

[code]

[2018-11-02 05:46] jayvdb opened #5873 "Writing Native Bears grammar"
There are a few grammar mistakes in Writing_Native_Bears.

Issue created for PR https://github.com/coala/coala/pull/5872

[2018-11-02 15:56] ARjunSNair commented on #3170
hi can i work on this bug

[2018-11-03 08:07] shivank1234 commented on #5797
Why the platform for this issue is windows?

[2018-11-03 16:44] akshatkarani commented on #5044
In the initial PR we found starting line number of a setting. Now we need to find ending line number of a setting.
You said that `SourcePosition` needs to given as `SourceRange`? Can you explain a little on what to do?

[2018-11-03 16:48] jayvdb commented on #5044
improve Setting so that `Setting(source=SourceRange(...))` works, improve the ConfParser to collect start and end lines of each setting, and instead of using `SourcePosition`, use `SourceRange`.

[2018-11-03 18:30] #5862 closed

[2018-11-03 18:39] jayvdb opened #5874 "Remove file factory from tests"
https://github.com/coala/coala/issues/5862 renamed the class and documentation, but there are some additional mentions of 'file factory' in the tests.

The word factory should be removed.

[2018-11-03 19:01] jayvdb commented on #5859
I think we found that there was nowhere for this link to go... so needs a shortlinks fix first.

[2018-11-03 19:13] jayvdb commented on #5646
This will need some special character (or combination of them) added to the parser so that one setting can get its value from another setting.

This only needs to work for files / ignores -- they can be slightly special.

With that in mind, one the way to do this would be to use a character which is not valid or sane in most filenames.

e.g.

[code]

This adds `{...}` as a way to break out of the

[2018-11-04 05:00] jayvdb opened #5875 "Add .editorconfig to moban sync"
A global template was created for .editorconfig

https://gitlab.com/coala/mobans/issues/2

This repo needs to add .editorconfig to the sync list.

[2018-11-04 06:09] sourabh1031 commented on #3793
@jayvdb @li-boxuan but the mentor guided me this way and i don't know why still the logic is not correct.can you tell the approach in which i should think to this problem

[2018-11-04 09:07] ameyanator commented on #5874
Please assign this issue to me.

[2018-11-04 10:36] jayvdb opened #5877 "Create a line length test helper"
A line length test helper will take a chunk of source , and a regex, and verify the bear accepts source under the line length and rejects lines over the line length.

The max_line_length setting can be automatically determined by the lines in the source provided by the caller.  The bear should pass this test.

The regex is then used to increase the size of the source line lengths by 1 character, i

[2018-11-04 18:48] rajdeepbharati commented on #5403
@jayvdb May I work on this issue?

[2018-11-04 18:48] RaiVaibhav opened #5878 "Set log_level to DEBUG for --debug-bears and debug_bears."
Set the log_level with a test.

difficulty/low

[2018-11-05 03:37] li-boxuan commented on #5403
Unassigned due to inactivity.

[2018-11-05 03:38] li-boxuan commented on #5403
@rajdeepbharati Can you go to our gitter channel and ask for an invite to the org? At the same time, you can start working on it.

[2018-11-05 10:31] rajdeepbharati commented on #5403
Sure, do I need to drop a message in the coala/coala room?

[2018-11-06 13:22] jayvdb commented on #5305
note coala-utils has an issue about adding Path support, which IMO is the direction coala needs to take, and should do that transition before adding more features regarding file paths.

[2018-11-07 03:09] #5875 closed

[2018-11-07 08:38] #5403 closed

[2018-11-07 09:50] ishanSrt opened #5884 "Development_Setup.rst: Activate virtualenv command, add windows specific command too"

[2018-11-07 11:54] ishanSrt commented on #5884
@Kiy4h you might be interested to do this as you detected it.
initiatives/gci
@jayvdb

[2018-11-09 16:55] frextrite commented on #3170
@jayvdb What's the status of this issue? Just ran coala on the mentioned .h file and coala didn't throw any warnings regarding encoding.

[2018-11-10 06:34] Mryashbhardwaj commented on #5830
Hi, can I please take this up?

[2018-11-10 07:02] PandaBoi commented on #4927
Hey! I would like to take up the issue as well!

[2018-11-10 07:15] PandaBoi commented on #3407
Hey, I'm new to open source and would like to start with this issue. Could I get specific details of where the change is needed and what needs to be added?

[2018-11-10 08:08] PandaBoi commented on #4017
Hey , I'd like to take the issue if its still open. Also would like to know what changes need to  be made and where all.

[2018-11-10 09:18] alok760 opened #5888 "Update .coafile to new format"

[2018-11-10 19:01] bkhanale commented on #5877
@jayvdb I assume here, the max_line_length setting is actually calculated from the source which would correspond to the maximum length of any line found in the source. And then increase the length of that line by one character and expect the bear to fail.

[2018-11-11 03:50] jayvdb commented on #5825
This issue reserved for Google Code-in task [5114946724560896](https://codein.withgoogle.com/dashboard/tasks/5114946724560896).

[2018-11-11 03:54] jayvdb commented on #3407
This issue reserved for Google Code-in task [5228756865122304](https://codein.withgoogle.com/dashboard/tasks/5228756865122304).

[2018-11-11 03:55] jayvdb commented on #5823
This issue reserved for Google Code-in task [5379960433803264](https://codein.withgoogle.com/dashboard/tasks/5379960433803264).

[2018-11-11 04:35] jayvdb commented on #5878
I assume this was part of the scope of your GSoC project.

[2018-11-11 06:43] jayvdb commented on #558
We now have a bear for this.

[2018-11-11 06:49] frextrite opened #5890 "Bear/Language search bar is broken"
### Overview Description
Search bar at https://coala.io/#/languages doesn't produce any results while searching for any query

# Steps to Reproduce

1. Go to https://coala.io/#/languages
2. Search for bears/languages in the search bar

# Actual Results
Nothing happens

# Expected Results
Should show relevant results

# Reproducibility

# Additional Information:

[2018-11-11 10:30] jayvdb commented on #5888
Duplicate of https://github.com/coala/coala/issues/4127

[2018-11-11 10:30] #5888 closed

[2018-11-11 11:19] #5823 closed

[2018-11-11 14:07] #5825 closed

[2018-11-11 16:56] JayjeetAtGithub commented on #5858
Is this issue still open for newcomers ? if yes, then i would like to take it up

[2018-11-11 17:29] akshatkarani commented on #5858
This issue is already assigned to someone. please find some other issue. @JayjeetAtGithub

[2018-11-12 08:07] #5415 closed

[2018-11-12 16:17] jayvdb opened #5891 "Support Python 3.4.x"
Python 3.4.0-3 were dropped because of 8a08cd2e, due to Python <3.4.4 not having `asyncio.run_coroutine_threadsafe`.

However package `trollius` provides that on Python 2.7+

Python 3.4.3 is used as the Trusty default, so supporting it has benefit to users and especially to CI which uses that by default for all non-Python languages.

[2018-11-12 16:59] KaustubhDamania commented on #5791
Is this issue still open?

[2018-11-13 07:01] KaustubhDamania commented on #5871
Can I work on this issue?

[2018-11-13 07:22] jayvdb opened #5895 "verify_local_bear: Add base directory argument"
Some linters expect to have some additional files in the base directory where it is invoked.

verify_local_bear needs an optional argument to supply this directory, and then change into that directory while running the bear.

`coala_utils` 's `ContextManagers.change_directory` may be useful for this.

[2018-11-16 15:43] ayan-b commented on #5859
Possible approach:
1. First, create a `shortlinks.rst` file inside `developers` directory, _i.e._, here: https://github.com/coala/coala/tree/master/docs/Developers .
2. Then, fix the hyperlink for shortlinks here: https://github.com/coala/coala/blob/master/docs/Developers/Useful_Links.rst .
3. Then, this https://gitlab.com/coala/solar/shortlinks/issues/16 needs to be solved.

[2018-11-17 13:44] jayvdb commented on #558
This issue reserved for Google Code-in task [4857897759539200](https://codein.withgoogle.com/dashboard/tasks/4857897759539200).

[2018-11-17 13:44] jayvdb commented on #3835
This issue reserved for Google Code-in task [4764915039469568](https://codein.withgoogle.com/dashboard/tasks/4764915039469568).

[2018-11-20 15:48] snow8gaia commented on #5850
So **Google Code-in is assigned this issue.** But Assignees tab on top-right shows:

It's just confusing. Thus time consuming/wasting. Could there be a clearer placeholder or a label? To help other newcomers.

[2018-11-20 16:01] snow8gaia commented on #5850
Saw a thread explaining what `initiatives/gci` means. It means task is **assigned to Google Code-In** and thus not available to newcomers. Thanks.

This is still confusing for those who don't know the meaning of the label.

[2018-11-20 16:20] snow8gaia commented on #5792
I don't find that quote making the readme … cruel. 😂

[2018-11-20 16:34] snow8gaia commented on #5792
And as for this:-

I think this sounds like a bad replacement. Please don't use this. It will confuse newcomers. And repel some who avoid everything political.

And the quote does not threaten anyone with death. Not unless its intention is misconstrued.

[2018-11-20 16:41] li-boxuan commented on #5297
https://coala-api.netlify.com/developers/writing_linter_bears#normalize-line-or-column-numbers is already mentioned in the linter bear guide, but it would be good to remind developers that if they need to be careful about that. They need to do research on linter bear, ensure the convention, and ideally write tests to (partially) ensure that behavior.

[2018-11-20 16:50] li-boxuan commented on #5792
No, the discussion is happening here. Feel free to leave more thoughts.

[2018-11-20 18:03] palash25 commented on #5792
This wasn't suggested as a replacement for the current quote, Joe was just making his point, so no one is considering that as an option. @snow8gaia
Please read the original thread https://github.com/coala/coala/pull/5767 to get more context on this

[2018-11-21 01:47] joenash commented on #5792
Considering it’s ”the last thing you care about”, you have a lot of strong opinions about keeping the quote 😉

[2018-11-21 05:12] snow8gaia commented on #5792
Thanks a lot.

[2018-11-21 05:21] snow8gaia commented on #5792
Thanks for the info.

[2018-11-21 05:33] snow8gaia commented on #5792
Correcting @snow8gaia

It will make newcomers think this is a place to avoid. Wait! What am I doing? LOL.

@palash25 Did you read https://github.com/coala/coala/issues/5792#issuecomment-440338592  it will clear up the confusion.

[2018-11-21 05:40] snow8gaia commented on #5792
At the time, I did not know this thread was connected to another thread. Or any thread.

I read #5767 . Thanks.

[2018-11-21 05:47] snow8gaia commented on #5792
LOL.

Yeah, @joenash I talk a lot, so it might seem strong. I usually avoid this like most people.
 I guess I wanted to get a clear understanding of how this community works.

[2018-11-21 05:48] snow8gaia commented on #5792
So, anyway what is the  status on this?

[2018-11-21 06:07] palash25 commented on #5792
You can get a much better understanding of that by contributing to coala and following our [Newcomer](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html) process :wink:

[2018-11-21 08:49] utkarsh2102 opened #5898 "Writing_Native_Bears.rst: Add missing articles"
If you read the documentation on [Writing a Native Bear](https://api.coala.io/en/latest/Developers/Writing_Native_Bears.html), you'll find that there are some articles missing.
Please add the same.

A good `newcomer` issue.

[2018-11-21 12:13] sanchit48 commented on #5898
Hi, i would like to work on this issue but i am unable to see the missing articles. Can you tell me which articles are missing ?

[2018-11-21 13:31] snow8gaia commented on #5274
The 'install coala' & 'get started' section in https://coala.io/#/home?lang=Python have similar problems on Windows.

Should I file a new issue for that?

[2018-11-22 11:40] bharatpurohit97 commented on #5297
@li-boxuan i need some guidance, should i introduce new paragraph in documentation or modify 0 based column convention to 1 based as coala uses 1 based column convention in this -https://coala-api.netlify.com/developers/writing_linter_bears#normalize-line-or-column-numbers

[2018-11-22 14:38] snow8gaia commented on #5890
Can be reproduced.

[2018-11-23 07:19] li-boxuan commented on #5297
For linter bear, you do not need to introduce a new paragraph, but it would be good to add a reminder. See https://github.com/coala/coala/issues/5297#issuecomment-440341156

For native bear, you need to introduce a new paragraph, or a note.

[2018-11-23 18:36] C0ffeeMachine commented on #5898
Hi,I would love to work on this issue. This will be my first contribution to an open source org. apart from my personal repos but I am not able to find what articles are missing.
Please tell me.

[2018-11-24 12:42] utkarsh2102 commented on #5898
@sanchit48, @C0ffeeMachine: You will only know about it when you actually read it ;)
Also, you both aren't members of `coala`. So this issue cannot be assigned until you are a member of the community. Ping on [Gitter](https://coala.io/chat) for the same.

[2018-11-24 20:01] pydevsg commented on #5898
Hi @utkarsh2102  , can I be assigned this issue to work on

[2018-11-24 21:01] C0ffeeMachine commented on #5898
corobo help

[2018-11-25 12:01] donosco98 commented on #5830
Hi, can i please be assigned to this issue?
thanks

[2018-11-26 09:08] li-boxuan commented on #5830
This issue is assigned. Please find another issue which does not have an assignment or the assignee has no activity for long.

@kunalvats Any progress? Please let us know if you want to get unassigned. If there is no response in a few days, we'll probably unassign you.

[2018-11-26 09:16] kunalvats commented on #5830
Yes, you can unassign me.

[2018-11-28 14:46] sangamcse opened #5900 "cannot collect test class 'SkipTest' because it has a init constructor (pytest warning)"
Similar to issue https://github.com/coala/coala/issues/2884 but it is occuring for LanguageToolBearTest.py.

[2018-11-28 14:47] sangamcse commented on #5900
Moving to coala-bear repository

[2018-11-28 14:47] #5900 closed

[2018-11-29 09:18] C0ffeeMachine commented on #3170
may i work on this issue @jayvdb

[2018-11-29 11:52] jayvdb commented on #1818
It is being done in YAML at https://github.com/coala/coast

[2018-11-29 11:54] jayvdb opened #5901 "Language definition for HTML"
A very common language which needs a language definition

[2018-11-29 11:58] jayvdb opened #5902 "Missing attributes for CSS language definition"

[2018-11-29 13:25] Kawzeg opened #5903 "SCSS Language is broken"
### Overview Description
SCSS language is not found and missing string_delimiters and multiline_string_delimiters attributes.
# Steps to Reproduce

1. Run coala with language = SCSS

# Actual Results
Coala prints
`[ERROR][14:23:52] Language scss is not yet supported`

# Expected Results
Language SCSS shall be found

# Reproducibility
Always

# Additional Information:
SCSS language created in https

[2018-11-29 13:36] jayvdb opened #5904 "Create language definition for text"
Unknown describes a file which is not known, and thus has no attributes.

A new 'text' language is needed for cases where the language is known, and no segmentation based on comments / strings / etc is desirable.

[2018-11-29 13:37] jayvdb commented on #1818
Hmm, I guess we should keep this open until the data from there is pulled back into this repo

[2018-11-29 13:57] bharatpurohit97 commented on #5297
@li-boxuan can you please review [commit](https://github.com/bharatpurohit97/coala/commit/185a852aba5768ea90fc2ddf19534f7408e278a7). this is good to go or should i make change?

[2018-11-29 14:25] #5903 closed, assigned to Kawzeg

[2018-11-30 03:14] utkarsh2102 commented on #5176
@jayvdb, can I take this up?
The one who was working on it seems to be inactive; been 8 months :P

[2018-11-30 03:42] li-boxuan commented on #5176
@himanshuc3 Are you still working on your PR? If not we'll close your PR and assign to others.

[2018-11-30 04:57] jayvdb commented on #5176
The low difficulty part of this is check_setuptools.py, and that has now been moved to the mobans repository.

A new issue should be created there to enhance it, or better integrate this check.  Until then, this is blocked.

[2018-11-30 04:57] jayvdb commented on #5176
c.f. https://github.com/coala/coala/pull/5635 which will lock the sync of these files.

[2018-11-30 07:03] 123vivekr commented on #5890
Where should I look into?

[2018-11-30 07:03] 123vivekr commented on #5890
I would like to fix this issue. Where should I look into?

[2018-12-01 02:31] Kiy4h commented on #558
I stumbled across [these lines of code](https://github.com/coala/coala/blob/master/coalib/testing/LocalBearTestHelper.py#L97-L103):

[code]

And I'm having a trouble removing the backslash.

Anyone can help?

[2018-12-01 13:45] kapurm17 commented on #5898
Hi @utkarsh2102 , can I be assigned this issue?
Although I haven't received the invite yet, I'd like to work on this issue and I'll send the pull request later when I'll recieve the invite.
Can I work on this?

[2018-12-02 05:47] li-boxuan commented on #5898
@pydevsg is working on this issue, so you might want to find another one @kapurm17

[2018-12-03 02:11] jayvdb commented on #5343
Design is to be done in coAST repo first.

[2018-12-03 11:14] #5904 closed

[2018-12-03 21:40] supreet11agrawal commented on #5830
Hi @jayvdb , I wasn't fully able to understand the issue but is this it?

https://github.com/supreet11agrawal/coala/pull/1/commits/6b2b70829c9c39e6787ceaa4389efa13527066c3

[2018-12-04 01:58] zxiiro commented on #5157
Coala continues to be quite active however there has not been a new release in a very long time. Can we get a new release in the near future?

Whether it's 0.12 or 0.13 or any version I think it will be useful to be able to download more recent versions of coala from PyPi.

[2018-12-04 12:43] CleverFool77 commented on #3587
I want to work on this issue. If nobody is working on it . I would like to take this up.

[2018-12-04 18:34] supreet11agrawal commented on #5830
@li-boxuan Can you help?

[2018-12-05 01:31] li-boxuan commented on #5830
@supreet11agrawal This issue is assigned to someone else. Please find another issue to work on :)

[2018-12-05 08:40] #558 closed

[2018-12-05 12:32] supreet11agrawal commented on #5890
@frextrite I want to work upon this issue. Can you tell me the relevant file and assign this to me?

[2018-12-05 19:48] tanmaysachan commented on #5827
I'd like to take this issue please.

[2018-12-10 05:25] jayvdb opened #5910 "Add linter bear type 'json'"
Many linters now emit json, and we have regular bugs when a linter is emitting json but also emits an error message on stdout.

The loading of the json can be done in coala with appropriate error checking and logging of any problems.

Also if the json is empty, the bear `.run` doesnt need to be invoked.

[2018-12-10 16:10] rajdeepbharati commented on #5668
Can I work on this?

[2018-12-10 19:19] abhinandansharma commented on #5873
Hey! I want to work on this issue. Should I get started?

[2018-12-10 19:53] abhinandansharma commented on #5910
I am interested in this bug. Tell me which file do I need to check?

[2018-12-11 08:39] shashank-b commented on #5873
Hey @abhinandansharma
You should first ask the maintainers to invite you to the organization on the [Gitter channel](https://gitter.im/coala/coala). Meanwhile, you can also go through the [Newcomer's Guide](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html).
This issue has already been assigned to someone else. You can suggest changes at https://github.com/coala/coala/pull/5872.

[2018-12-11 18:43] abhinandansharma commented on #5873
ok sure but I already did this grammar work and sent my PR. It wasn't accepted though.

[2018-12-11 18:47] abhinandansharma commented on #5873
thanks, @shashank-b by the way. I have gone through Newcomer's guide and I am on the Gitter channel.

[2018-12-11 19:47] abhinandansharma commented on #5873
Since am new here, would you tell me how can I get invited?

[2018-12-11 19:53] shashank-b commented on #5873
You just have to send a message on the main Gitter channel.
Please note that the maintainers are currently busy and it might take a while for you to get invited.

[2018-12-12 12:41] Akhelesh commented on #5871
Please assign me this issue

[2018-12-12 16:45] li-boxuan commented on #5871
Thanks for reporting. This issue should belong to `coala-bears` repo. Migrated to https://github.com/coala/coala-bears/issues/2826

[2018-12-12 16:45] #5871 closed

[2018-12-13 13:48] shashank-b commented on #5910
Could someone please assign this to me?

[2018-12-13 16:17] Marco2018 commented on #3170
hi，I am an enthusiast and newcomer here. I guess it is already in its unicode form, so it can't be decode again. If this issue is still open, may I work on this issue?  Thanks

[2018-12-17 05:40] shivank1234 commented on #5797
Can anybody tell me why click(6.6) gets installed as a direct requirement of coala-bears even though it is not mentioned anywhere in the requirement file of coala or coala-bears?

[2018-12-17 06:11] shashank-b commented on #5797
@shivank1234, I tried to find this out and it turns out that 'Click(6.0)' is a direct requirement of 'safety' which is used in the PySafetyBear and is a requirement of coala-bears.

[2018-12-17 06:30] shashank-b commented on #5797
It turns out that Click(6.0) is required by 'proselint', 'dennis' and 'safety' but you're right, this doesn't explain why it's getting installed as a direct requirement.

[2018-12-17 08:02] shivank1234 commented on #5797
That is what I am after....

[2018-12-17 13:20] iamkroot opened #5914 "Matlab extension is not a tuple"
`extensions` in coalib/bearlib/languages/definitions/Matlab.py needs to be a tuple.

[2018-12-17 13:21] iamkroot commented on #5914
difficulty/newcomer

[2018-12-18 03:01] donosco98 commented on #5914
Can you pls assign me this issue

[2018-12-18 07:20] shivank1234 commented on #5797
I got it Shashank , the thing is that pip installs package requirements according to the requirements mentioned in the files in the Python Package Index and when I checked it the  bear-requirements file contained click==6.6 package
So,I guess now I have to change the Index file to solve the issue..... :-)

[2018-12-19 05:47] mk1299 commented on #5914
Hey ! I want to work on this issue,can it be assigned to me?

[2018-12-19 14:00] shashank-b commented on #5797
Great :)

[2018-12-19 14:05] shashank-b commented on #5910
Could you please assign this to me? @jayvdb, @li-boxuan

[2018-12-20 03:14] shashank-b commented on #5910
Could you please assign this to me? @jayvdb, @li-boxuan

[2018-12-21 12:15] anand372 commented on #5914
i am interested could i work on this issue

[2018-12-25 17:20] anubhawbhalotia opened #5917 "coala does not support Ignore in "subl""
### Overview Description

# Steps to Reproduce
Run this inside coala's cloned remository
1.  `echo "int add ( a , b ) { return a + b; }" >> test.c
`
2. `coala --files test.c --bears GNUIndentBear
`

# Actual Results
[WARNING][22:42:58] Implicit 'Default' section inheritance is deprecated. It will be removed soon. To silence this warning remove settings in the 'Default' section from your coafile. Y

[2018-12-27 20:32] arnav-mandal1234 commented on #5910
Can I take up this issue?

[2018-12-28 05:01] shashank-b commented on #5910
@arnav-mandal1234 , you'd have to work on a newcomer issue first. And also I have already worked this issue out and would create a PR soon :sweat_smile:.

[2018-12-28 11:10] rajdeepbharati commented on #5902
@Kawzeg are you still working on this? Otherwise I'd like to take it up.

[2018-12-28 12:04] rajdeepbharati commented on #5333
@jayvdb @kriti21 can I work on this?

[2018-12-29 08:48] anubhawbhalotia opened #5920 "Globbing.py: Typo in docstring"
Location : https://github.com/coala/coala/blob/master/coalib/parsing/Globbing.py
Line number 131

[2018-12-29 08:54] anubhawbhalotia commented on #5920
Please assign me this issue @co-robo

[2018-12-29 08:56] 2knal commented on #5920
Please assign me this issue.

[2018-12-30 04:57] bravoPan opened #5921 "Adding_CI.rst: docstring typo"
Just a small but obvious typo, Adding_CI.rst:

[code]
**indentical** should be identical.

[2018-12-30 04:58] bravoPan commented on #5921
Hey dear maintainer, can I be assigned this issue now?

[2018-12-30 06:53] frextrite commented on #5917
If I interpret correctly, coala is asking you for the language of the source file ```test.c``` which is actually ```C```. So why would you enter ```subl``` instead of ```C``` in the ```! ! Please enter a value for the parameter 'language' (No description given.): ``` prompt?

[2018-12-30 07:45] anubhawbhalotia commented on #5917
Yes Right
I'm a newcomer
This was a mistake
Thanks

[2018-12-30 07:45] #5917 closed

[2018-12-30 09:04] anubhawbhalotia opened #5922 "coalib/bearlib/aspects/Formatting.py: Typo in importance_reason ="
[https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/Formatting.py](url)
Typo in line number 21

[2018-12-30 09:04] anubhawbhalotia commented on #5922
Please assign me this issue.

[2018-12-30 12:11] subhahu123 commented on #5890
@frextrite  assign me this issue

[2018-12-30 12:14] subhahu123 commented on #5854
@jayvdb  @frextrite  assign this to me

[2018-12-30 12:15] subhahu123 commented on #5842
@gitmate-bot
assign me to this issue

[2018-12-31 06:51] he1l0world commented on #5826
Can I be assigned to solve this issue? Thank you!

[2018-12-31 09:15] roshnet opened #5924 "Expecting a comma for clarity in Newcomers_Guide.rst"
In the [Newcomers_Guide.rst](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst) file,
in the following lines:

a comma looks better after "chat", like:

It sounds more clear with the comma in its place.

[2019-01-01 03:56] bravoPan commented on #5921
Hi @subhahu123
I am exactly doing in the right routine currently, thx for your remind

[2019-01-01 11:13] kapurm17 commented on #5924
@jayvdb Can I be assigned this issue?
Please invite me to the organsiation too.

[2019-01-01 13:41] rohanrajpal commented on #5924
Hey, can I be assigned this issue? I haven't got an invite to be a member yet. I guess the maintainers are busy, so just dropping a comment here.

Thanks :)

[2019-01-01 16:05] rohanrajpal opened #5925 "Improvement in the Installation guide ( Docker Part )"
I tried to install coala via Docker using the following guide:
https://docs.coala.io/en/latest/Users/Install.html

Not being familiar with Docker, I would have saved some time if a link for the following page was in the install via Docker section:
http://docs.coala.io/en/latest/Users/Docker_Image.html

I can do the above work; please assign this issue to me if you guys find it worth working on, th

[2019-01-03 08:59] Ishaan29 commented on #5924
hey ! can I be assigned to this issue ?

[2019-01-03 12:57] shubhampal123 commented on #5924
Hi, I m new to Coala .I  completed newcomer's guide but did not get
the invitation to join the organisation.Can I work on this issue ?And how
to proceed to resolve this issue, means how to edit the documentation and
make pr .

On Thu 3 Jan, 2019, 2:29 PM Ishaan bajpai, <notifications@github.com> wrote:

[2019-01-04 10:01] sanchit48 opened #5927 "Comma typo in Writing_Good_Commits.html file"
In the following line in [Writing Good Commit Messages](https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html), a comma is expected after`coala`.
like
`At coala we are looking heavily at the maintainability of the code.`
 should be
`At coala, we are looking heavily at the maintainability of the code.`

[2019-01-04 14:06] arnav-mandal1234 commented on #5910
@shashank-b  go ahead!

[2019-01-04 14:18] arnav-mandal1234 commented on #5202
Can I take this issue? since this is inactive for many days. @jayvdb

[2019-01-04 14:39] arnav-mandal1234 commented on #3170
Since this issue is inactive for many days Can I take this? @jayvdb @sils @Makman2

[2019-01-04 15:19] utkarsh2102 commented on #1037
Hi,
I am a Debian packager and I can take this forward only if we have a stable release along with the proper tests, ready. Otherwise, the package won't build :/

[2019-01-04 16:31] mk1299 commented on #5927
Hey! Can I be assigned this issue?

[2019-01-04 16:56] roshnet commented on #5927
Hi, can I please be assigned to this issue?

[2019-01-05 04:21] he1l0world opened #5931 "Make the code coverage reach to 100%"
https://codecov.io/gh/coala/coala/src/master/coalib/processes/Processing.py#L65
https://codecov.io/gh/coala/coala/src/master/coalib/parsing/Globbing.py#L172

Maybe we can imporve code coverage to 100% by changing "# pragma posix: no cover" to "# pragma: no cover"

[2019-01-05 09:57] sanchit48 opened #5933 "Typo in docstring"
In `coala/coalib/settings/Setting.py`,
In line 174, the word `of` should be replaced with `off`.

[2019-01-05 10:06] budukhyash commented on #5933
Please assign this to me

[2019-01-05 10:10] sanchit48 commented on #5933
@budukhyash Ask in the [main channel](https://gitter.im/coala/coala) to get it assigned to you.

[2019-01-05 13:41] sambhavkaul commented on #5927
Can  I be assigned to this issue if no one is working on this ?

[2019-01-05 13:54] shashank-b commented on #5927
@sambhavkaul, looks like mk1299 is working on this. You should look for another issue.

[2019-01-05 14:19] sambhavkaul commented on #5927
@shashank-b Okay... Thanks

[2019-01-06 02:53] he1l0world commented on #5931
I saw the code coverage has reached 100% but somehow it failed in other parts. Can anyone guide me? Thank you.

[2019-01-06 06:03] li-boxuan commented on #5922
Where is the typo?
btw your link is wrong

[2019-01-06 06:54] shashank-b commented on #5922
@anubhawbhalotia
You might want to make these changes in the description to correct it.
The correct link: https://github.com/coala/coala/blob/3eaae8875055d5340b707adaa53c289dd6b96725/coalib/bearlib/aspects/Formatting.py#L21
Typo: `the of ...`

[2019-01-06 07:49] li-boxuan commented on #5931
https://codecov.io/gh/coala/coala/compare/3eaae8875055d5340b707adaa53c289dd6b96725...3d80d91367cf416c020afa336efa1735fe967bc9/changes coverage reaches 100% after fixing Appveyor build failure https://github.com/coala/coala/pull/5937. Thx for reporting anyway :)

[2019-01-06 07:49] #5931 closed

[2019-01-06 17:38] budukhyash commented on #5826
@he1l0world  Hello if you have not solved your first issue can I take this one please ?

[2019-01-07 06:43] armanSingh commented on #5925
+1

[2019-01-07 07:36] he1l0world commented on #5826
@li-boxuan I did solve a newcomer issue which I believe it is. [issue](https://github.com/coala/coala-ls/issues/20). Although it isn't merged because of the previous Travis failure, it was approved by another member...

[2019-01-07 09:08] PHANTOM956 commented on #5933
Can u please assign this to me.??

[2019-01-07 12:31] sanchit48 commented on #5933
@PHANTOM956 This issue is already assigned to @budukhyash. Plz find another issue.

[2019-01-07 14:15] li-boxuan commented on #5826
@he1l0world Sorry I was not aware of that. Could you find another difficulty/low issue to work on?

[2019-01-07 14:22] he1l0world commented on #5826
@li-boxuan No problem. I will find another

[2019-01-07 17:37] PHANTOM956 commented on #5921
hey !!! can i be assigned to this issue.?

[2019-01-07 17:54] PHANTOM956 commented on #5925
if no one is doing this , can i be assigned to this..??

[2019-01-08 02:44] rohanrajpal commented on #5925
@PHANTOM956 I've already asked to get this issue assigned to me, I guess people at coala are busy rn.

[2019-01-08 07:31] PrajwalM2212 commented on #516
The problem was that no matter which config file was choses for saving, that config file would be populated with contents of all the config files.
ex:  .coafile will contain contents of system coafile and user coafile
       user coafile will contain contents of system coafile and .coafile

[2019-01-08 13:17] budukhyash commented on #5826
@ayan-b Hello please can you explain me the issue ?

[2019-01-08 13:36] budukhyash commented on #5826
@ayan-b  Thanks a lot

[2019-01-08 14:39] rohanrajpal commented on #5925
Thanks, @li-boxuan for assigning.
I have to make the changes in coala/documentation, so how do I transfer this issue there so that I can make a PR?
https://github.com/coala/documentation/blob/master/Users/Install.rst

[2019-01-08 14:46] li-boxuan commented on #5925
@rohanrajpal Can you migrate this issue to that repo? i.e. close this issue, open a new one in documentation repo and I can assign you there again.

[2019-01-08 16:32] #5925 closed

[2019-01-08 16:38] rohanrajpal commented on #5925
Issue migrated to https://github.com/coala/documentation/issues/588

[2019-01-08 17:33] sanchit48 commented on #5420
I would like to work on this issue.

[2019-01-08 18:15] sanchit48 opened #5940 "Writing_Good_Commits.rst: Correction in the example"
In the starting of the [Writing_Good_Commits.rst](https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html), second example of docstring typo contains the word `Fixes` in the issue reference which should be changed to `Closes` as we use `Fixes` for bugs only.

A good newcomer issue

[2019-01-09 02:49] sameshl commented on #5940
I have not yet received an invitation after I communicated on gitter channel yesterday.Can I still work on this issue?

[2019-01-09 05:47] sanchit48 commented on #5940
@sameshl you have to first get assigned to the issue and for that, you have to be a member of coala. Ask again for the invitation and to get this issue assigned on the gitter channel and tag makman2 this time

[2019-01-09 08:40] li-boxuan commented on #5420
Reassigned due to inactivity

[2019-01-09 16:14] li-boxuan commented on #5940
https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html is not up-to-date. See code on GitHub, or https://coala-api.netlify.com/developers/writing_good_commits
The problem has been fixed.

[2019-01-09 16:14] #5940 closed

[2019-01-09 16:21] pavanrkadave commented on #4861
Hi i would like to work on this if its still open?

[2019-01-09 16:23] pavanrkadave commented on #4017
Hi i would like to work on this if its still open.

[2019-01-09 20:53] Ishaan29 commented on #5877
Can I be assigned to this issue ?

[2019-01-10 08:04] kapurm17 opened #5942 "Writing_Native_Bears.rst: Comma typo"
In the following line in Writing_Native_Bears.rst file, a comma is expected after the word `already` for better readability, that is the line:
`If the definition does not exist already a language definition`
should be
`If the definition does not exist already, a language definition`

[2019-01-10 09:05] kapurm17 opened #5943 "Writing_Native_Bears.rst : Add the missing 'a'"
In the Writing_Native_Bears.rst file, in the line 407, 'a' should be added before the word `new`,
that is, the line:
`should be added while writing new bear;`
should be changed to
`should be added while writing a new bear;`

A `difficulty/newcomer` issue.

[2019-01-10 10:48] shashank-b opened #5944 "Writing_Linter_Bears.rst: Broken link to diveintopython3.net"
The section `Writing the bear` contains a broken link and needs to be updated. The correct link can be easily found by following this issue https://github.com/realpython/python-guide/issues/926.

This could be a nice issue for a newcomer to begin with.

[2019-01-10 11:09] shashank-b opened #5945 "Adding_CI.rst: Section on Circle CI"
In Adding_CI.rst, we have a section on Circle CI.
It appears to me that we are no longer using Circle CI (the last build for coala/coala was 2 months ago and for coala/coala-bears was 6 months ago (which is still running on the unsupported CircleCI 1.0). Also the link to `coala's circle.yml` is broken.

There are two solutions to this:
1. If we are no longer using Circle CI (which appears to be th

[2019-01-10 11:21] tomasn4a commented on #5943
Hello, I'll take this if that's ok!

[2019-01-10 11:35] tomasn4a commented on #5943
Couldn't find the sentence you mention!

[2019-01-10 11:37] tomasn4a commented on #5944
On it!

[2019-01-10 12:06] C0ffeeMachine commented on #5944
please assign me this issue. I think I made the changes rightly :)

[2019-01-10 12:34] shashank-b commented on #5944
A maintainer would assign the issue to on you soon, @tomasn4a , @C0ffeeMachine

[2019-01-10 13:37] shashank-b commented on #5942
Couldn't find this line in the file. Are you sure this is the file?

[2019-01-10 13:50] shashank-b commented on #5943
Are you sure about the filename @kapurm17? I couldn't find the sentence as well.

[2019-01-10 13:55] shashank-b opened #5947 "Useful_Links.rst: Link to Basic rST is broken"
The link should be replaced by a working link. One of the working links is http://www.sphinx-doc.org/en/latest/usage/restructuredtext/basics.html. http://docutils.sourceforge.net/rst.html is also an option since http://www.sphinx-doc.org/en/latest has a link to it.

This can be a suitable issue for newcomers to work on.

[2019-01-10 14:07] Hunter0098 commented on #5947
Please assign this issue to me.

[2019-01-10 14:18] kapurm17 commented on #5943
@shashank-b @tomasn4a I'm really sorry for the mistake. I've updated it.

[2019-01-10 18:53] Makman2 commented on #5797
Seems resolved, coala should be compatible now with click>=7.

[2019-01-10 18:53] #5797 closed

[2019-01-10 20:20] arnav-mandal1234 commented on #5254
@jayvdb @Makman2 Can I work on this issue?
This is inactive for a long time.

[2019-01-11 03:16] li-boxuan commented on #5104
Unassigned due to inactivity

[2019-01-11 08:46] irinbanerjee commented on #5947
Can I be assigned this issue?

[2019-01-11 10:17] Yugandhartripathi commented on #5947
I was looking to contribute and found this so I took the initiative. I am sorry if I violated any assignment protocols.

[2019-01-11 10:23] tomasn4a commented on #5944
Hey @shashank-b , I haven't been assigned to this issue yet, is there anything else I need to do? Thanks a lot.

[2019-01-11 16:57] li-boxuan commented on #5947
http://www.sphinx-doc.org/en/stable/rest.html (current link) is working for me.

[2019-01-11 17:07] shashank-b commented on #5947
@li-boxuan, I am sorry, I was referring to the link here: https://api.coala.io/en/latest/Developers/Useful_Links.html#rst-links and I assumed that they are going to be the same. I should've checked first. Should I migrate this issue to somewhere else?

[2019-01-11 17:13] li-boxuan commented on #5947
@shashank-b That page is not up-to-date. You may want to check github version first next time 😉 I'll close this issue

[2019-01-11 17:13] #5947 closed

[2019-01-11 17:16] shashank-b commented on #5947
alright @li-boxuan
thanks :slightly_smiling_face:

[2019-01-12 06:48] sambhavkaul opened #5949 "Typo in coafile"
In [coala/.coafile](https://github.com/coala/coala/blob/master/.coafile) ,
In line 88, the word should be `builtin` instead of `builting` .

[2019-01-12 11:20] pavanrkadave commented on #5949
I want to work on this issue. if its open.

[2019-01-12 17:04] frextrite opened #5950 "Travis build failing due to old version of golang"
Travis build for [coala/coala-bears/#2836](https://github.com/coala/coala-bears/pull/2836) is failing with the following error:
[code]

This problem persists if an old verion of Go language is used according to this [issue](https://github.com/golang/lint/issues/421) which states that Go <= 1.8 is no longer supported.

Currently Travis CI testing is done on trusty, so either the latest version of g

[2019-01-13 06:39] rathore05 commented on #5933
I would like to work on this issue if this is still open ??

[2019-01-13 16:15] pavanrkadave commented on #5910
Can i work on this if its still open?

[2019-01-14 09:30] ShashKash commented on #5942
I wanted to work on this issue but I opened a PR before getting assigned. Would appreciate if someone could assign me and checkout the PR #5952 .

[2019-01-14 09:33] ShashKash commented on #5943
I wanted to work on this issue but I opened a PR before getting assigned. Would appreciate if someone could assign me and checkout the PR #5952 .
The PR contains the fix for both issues 5943 and 5942.

[2019-01-14 09:41] shashank-b commented on #5942
Shouldn't this issue be merged with https://github.com/coala/coala/issues/5943?

[2019-01-15 02:55] li-boxuan commented on #5942
Ya, agree with @shashank-b. Please merge two issues and other similar ones (if any)  @kapurm17

[2019-01-15 09:39] akshatkarani commented on #5041
@ishanSrt  I would like to work on it. Are you still on it?

[2019-01-15 12:56] shashank-b opened #5953 "Newcomers_Guide.rst: Link to meta-review is broken"
The link to `meta-review` in the file requires a little change for it to work properly. The `.html` should be changed to `.rst`.

A `difficulty/newcomer` issue.

[2019-01-15 14:04] uds5501 commented on #5953
Working on it.

[2019-01-16 06:31] li-boxuan commented on #5953
I don't think the link is broken. Show me proof (e.g. screenshots) in case you think I am wrong. @shashank-b

[2019-01-16 06:31] #5953 closed

[2019-01-16 08:06] shashank-b commented on #5953
@li-boxuan, Sorry, I guess I should've added this in the description itself.
Here are the screenshots:

The link that is actually there:
<img src="https://github.com/shashank-b/temp/blob/master/coala_metareview_broken_raw.png?raw=true" width="500">

On clicking on the link:
<img src="https://github.com/shashank-b/temp/blob/master/coala_metareview_broken_link.png?raw=true" width="500">

The actual

[2019-01-16 08:15] li-boxuan commented on #5953
See https://coala-api.netlify.com/developers/newcomers_guide.

[2019-01-18 07:39] frextrite commented on #5950
This issue mainly affects coala-bears Travis builds. Opened the issue at correct location, [coala-bears/#2843](https://github.com/coala/coala-bears/issues/2843)

[2019-01-18 07:39] #5950 closed

[2019-01-18 20:33] Anmolbansal1 opened #5959 "Waffle.io not working"
The Readme.md file the waffle.io integeration is not working
![screenshot from 2019-01-19 01-53-43](https://user-images.githubusercontent.com/39100247/51411358-89ef2280-1b8d-11e9-8933-2426a778204e.png)

As it shows that there is not any pr or issues closed recently.
![screenshot from 2019-01-19 01-40-24](https://user-images.githubusercontent.com/39100247/51411077-932bbf80-1b8c-11e9-9d5c-36fc3aed3b

[2019-01-19 08:47] m-agboola commented on #5914
Hi @iamkroot Can this issue be assigned to me?

[2019-01-19 08:52] m-agboola commented on #3357
Since this issue has not been worked on. Can you please assign it to me? @Mixih

[2019-01-19 09:59] Anmolbansal1 commented on #5449
@li-boxuan  please assign this to me

[2019-01-19 15:02] arnav-mandal1234 commented on #5104
@ishanSrt @Makman2 How can I reproduce this issue?
Since GitConflictMarkerBear has not been merged with the master, does any existing bear results in the same issue?

[2019-01-20 08:33] shashank-b opened #5961 "Logging.py: Redundant import of the module logging"
In the file Logging.py, both `logging` and `logging.config` are being imported.
`difficulty/newcomer`

[2019-01-20 13:53] AnimeshSinha1309 commented on #5961
Can I please be assigned this issue?

[2019-01-20 14:51] arnav-mandal1234 commented on #5291
I would like to take this task.

[2019-01-20 15:15] shashank-b commented on #3793
@li-boxuan, Could you please assign this to me if no one else is actively working on it anymore?

[2019-01-20 15:49] palash25 commented on #5291
Sure go ahead, I can't spare time for this right now, all yours :smile: @arnav-mandal1234

[2019-01-22 06:39] Gromy1211 commented on #5961
Hi,can I be assigned to this?Thanks a lot! (●'◡'●)

[2019-01-22 11:36] anubhawbhalotia opened #5962 "Typo in SpacingHelper.py"
### Overview description
Typo in coalib/bearlib/spacing/SpacingHelper.py
Line number 91 : "isnt" --> "isn't"

[2019-01-22 11:49] anubhawbhalotia commented on #5962
Please label it as a newcomer issue.

[2019-01-23 05:59] iBvishal commented on #5962
Hello World
Can I please be assigned. I am done with the issue, I just need the permission to file a pull request.

[2019-01-23 06:19] gurpreetsingh00885 commented on #5890
I'd like to work on this issue. would be good if someone assigned it to me.

[2019-01-23 10:19] tomasn4a commented on #5944
Hey @snowmanstark , not yet, no!

[2019-01-23 13:42] frextrite commented on #5890
Please ping a maintainer at coala's Gitter channel and ask them to assign this to you.

[2019-01-23 21:17] snowmanstark commented on #5944
Hey @tomasn4a, you started on the issue?

[2019-01-23 22:53] tomasn4a commented on #5944
@snowmanstark, yeah, done with it, just waiting for it to be assigned to submit the PR

[2019-01-24 04:05] jayvdb opened #5966 "Report debug messages during glob expansion"
coala appears to hang whenever a glob takes a long time to expand.

This happens very frequently when it descends into `node_modules/` .  There are other bugs about coala behaving better when descending a `node_modules/`, but typically nobody wants it to descend `node_modules/`, so this should be an error.

There should be regular debug messages during a glob expansion, including when they appear

[2019-01-24 04:10] jayvdb opened #5967 "Maximum time to expand globs"
There should be a setting for max time to expand globs, and an error if glob expansion takes longer than the setting.

Default should be one minute.

See #5966 for background about why.

Low difficulty for only emitting an error if the max was exceeded.

Medium difficulty to also stop expanding the glob when the max is exceeded, i.e. for it to be a timeout.

As a follow up issue, to be created aft

[2019-01-24 05:30] snowmanstark commented on #5944
Ok, cool.

[2019-01-24 09:39] Anmolbansal1 commented on #5966
I want to work on this issue. Please, @li-boxuan assign it to me?

[2019-01-24 16:11] archu5 commented on #5901
hey @jayvdb can i work on this issue?

[2019-01-24 18:10] goel-rachit598 commented on #5962
hey can I be assigned be this issue...

[2019-01-24 18:47] budukhyash commented on #5967
Please assign me this issue @jayvdb @li-boxuan

[2019-01-24 18:49] budukhyash commented on #5967
@Vaibhav911 You need to start with a newcomer issue this is a difficulty/low issue.Please go through the [Newcomers guide](https://api.coala.io/en/latest/Developers/Newcomers_Guide.htmll) it will tell you about how to contribute.Hope you are fine with me taking this issue.

[2019-01-25 17:07] divc99 commented on #5961
Can I please be assigned this issue?

[2019-01-26 06:01] rajdeepbharati commented on #5967
Does `expand` glob mean expand the pathname?

[2019-01-26 09:48] anaverageguy2 opened #5969 "trigger a travis test CI build gives dpkg error"
steps to reproduce:
1. follow the steps given in [Google code in task coala](https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala)

2. trigger a travis test build.

### it should give an output

`dpkg-deb: error: archive '/var/cache/apt/archives/file_1%3a5.35-2_amd64.deb' has premature member 'control.tar.xz' before 'control.tar.gz', giving up
dpkg: error processing archive /var/cache

[2019-01-26 09:53] anaverageguy2 commented on #5969
This is due to bug mentioned in [https://github.com/travis-ci/travis-ci/issues/9361] and can be fixed by removing the
`addons:
  apt:
    sources: debian-sid
    packages: file`
portion of the code , please remove it from the code section of .travis.yml

[2019-01-26 17:17] budukhyash commented on #5967
I have been through this issue as well as the referenced issues and I inferred that globbing i.e recursively
searching for specific files and then analysing them.Some folders like node_modules which usually contain 3rd party packages which does not need to be analysed.So we skip these folders also we need to add an option so that glob expansion does not continue longer than a minute.
@jayvdb @li-b

[2019-01-27 09:05] budukhyash commented on #5967
I have been through this issue as well as the referenced issues and inferred that some folders like node_modules which usually contain 3rd party packages does not need to be analysed.So we skip these folders also we need to add an option so that glob expansion does not continue longer than a minute.I searched about globbing and adding time constraints to it.I also went through globbing.py.I have s

[2019-01-28 11:17] rohanrajpal commented on #5969
Is this a difficulty/low type issue? If yes then I'd like to work on it!

[2019-01-29 20:37] Anmolbansal1 commented on #5668
can I work on this @jayvdb @li-boxuan

[2019-01-30 07:55] #5756 closed

[2019-01-30 08:58] #5922 closed

[2019-01-30 10:10] #5949 closed

[2019-01-30 15:57] rajdeepbharati commented on #4285
@Makman2 do we need to modify [IgnoreResultAction.py](https://github.com/coala/coala/blob/master/coalib/results/result_actions/IgnoreResultAction.py) ?

[2019-01-30 17:45] anubhawbhalotia commented on #5961
Please assign me this issue if it's still available. Thanks :)

[2019-01-31 01:58] jayvdb commented on #5910
ping @shashank-b . where is that PR? :-)

[2019-01-31 05:37] #5826 closed

[2019-01-31 06:40] #5933 closed

[2019-01-31 07:32] shashank-b commented on #5910
Hey @jayvdb
Sorry for the delay. I somewhat implemented a solution for this but I was not able to replicate the bug. I realized that this wasn't the best way to proceed so I started reviewing and working on other issues to get acquainted with the codebase more before I work on this one.
Could you please help me with the replication of the bug so that I can get back to this straight away?

[2019-01-31 08:20] #5927 closed

[2019-01-31 09:04] budukhyash commented on #5967
@jayvdb Sir I have started with the codebase and I think I need to add changes to the Globbing.py file
Can you please give some hints ?

[2019-01-31 09:56] jayvdb opened #5970 "Rtd broken"
https://readthedocs.org/projects/coala-api/

[2019-01-31 10:34] Ishaan29 commented on #5895
@jayvdb  Please assign me this issue , if still open.

[2019-01-31 17:34] realJema commented on #5970
I wish to work on this issue

[2019-01-31 20:35] arnav-mandal1234 commented on #5254
@jayvdb @Makman2 I searched about this matter but In windows, Ctrl + Z +Enter, terminates the program whereas if we use Ctrl + C, it closes the program abruptly. So, I think we should change it to Ctrl + Z + Enter, to maintain the organized working of Coala.

[2019-02-01 04:48] jayvdb commented on #5970
@realJema it hasnt been analysed yet, so we dont know the difficulty level. please contrib ideas to the issue.

[2019-02-01 17:01] areebbeigh commented on #5890
[This issue has already been reported](https://github.com/coala/coala-bears/issues/2632) (and hopefully being worked on).

[2019-02-01 17:15] 123vivekr commented on #5890
@areebbeigh The issue you referred to is closed and marked as status/invalid

[2019-02-01 17:20] areebbeigh commented on #5890
Yup and so will this one (probably), I referred to that issue because the discussion has updates on the state of the problem. The last comment on the issue referred above provides links to relevant repos and issues on GitLab.

[2019-02-01 21:46] Anmolbansal1 commented on #5970
@jayvdb, I have debugged the issue.
The rtd is broken after https://github.com/coala/coala/pull/5506 as api_command is removed from BuildDocsCommand(https://github.com/coala/coala/pull/5506/files#diff-2eeaed663bd0d25b7e608891384b7298L61) but it is used later in the code(https://github.com/coala/coala/pull/5506/files#diff-2eeaed663bd0d25b7e608891384b7298R117). I think that adding api_command attrib

[2019-02-02 05:00] jayvdb opened #5972 "openSUSE packaging"
Spawning from https://github.com/coala/coala/issues/3093 , this is to identify the tasks needed to package coala for openSUSE.

- [ ] PyPrint (https://gitlab.com/coala/PyPrint, ideally after a release, as requirements are reduced)
- [ ] dependency_management (https://gitlab.com/coala/package_manager)
- [ ] sarge
- [ ] cli-helpers

[2019-02-02 06:09] Anmolbansal1 commented on #5970
@jayvdb please check -
![image](https://user-images.githubusercontent.com/39100247/52160601-a8513400-26de-11e9-9eb2-d394b2d1d933.png)

Also, there is similar on Rtd -
![image](https://user-images.githubusercontent.com/39100247/52160621-26153f80-26df-11e9-8ce6-18d031388af2.png)

[2019-02-02 07:46] irinbanerjee commented on #5961
Sorry if I am being silly...why is this a redundant import?

[2019-02-02 08:07] irinbanerjee commented on #5961
Can i issue a request?

[2019-02-03 02:30] jayvdb commented on #5969
@rohanrajpal , you are already assigned to newcomer issues, so I have assigned it to @anaverageguy2 who has correctly diagnosed the problem.

[2019-02-03 02:33] jayvdb commented on #5970
ah, the problem is `call(BuildDocsCommand.apidoc_command)` in `setup.py`

[2019-02-03 11:32] shashank-b commented on #5910
Hey @jayvdb
Sorry for the delay. I have implemented a solution that does not display the json output if its empty ( Empty jsons were being emitted even when error messages were there on stdout). I don't think thats adequate and I got slightly confused by the title of the issue, and hence moved to other issues to get a better understanding of the codebase. Could you please briefly answer these ques

[2019-02-04 00:58] #5420 closed

[2019-02-04 01:48] #5924 closed

[2019-02-04 02:02] jayvdb opened #5973 "Write dev docs about testing a coala change on all bears"
A coala change often needs to be tested against bears.

To do this, the coala-bears CI needs to be instructed to install the coala PR, so that the bears CI can show the effect of the coala change.

[2019-02-04 02:09] #5920 closed

[2019-02-04 04:51] jayvdb commented on #5910
This is a new `@linter` bear type.  That is what the issue says.  It is for the bears which wrap linters which emit json on stdout. Search for `json` in bears repo - all of them should switch to using new linter type 'json' after this.

The rest of your queries are all answered by the above context.

[2019-02-04 06:18] jayvdb commented on #5877
@Ishaan29 ^ is the original issue, and answers your question.

[2019-02-04 06:21] jayvdb commented on #5973
https://github.com/coala/coala/pull/4424 is an attempt to automate this, but it depends on the docker image, which is broken atm.

[2019-02-04 07:31] jayvdb commented on #5973
@pareksha on gitter:

[2019-02-04 07:55] jayvdb commented on #5961
Sorry but this isnt a valid enhancement.  It is correct that `import logging` could be removed, as there is an implicit import of `logging`, but it is not a good idea to rely on it.

Actually we should have CI check that sub-modules are always separately imported after the main module.

Created https://gitlab.com/coala/bears/coala-pyflakes/issues/10

[2019-02-04 07:55] #5961 closed

[2019-02-04 08:20] jayvdb commented on #5254
@arnav-mandal1234 , that was what @guilherme-p did in their PR.  It is a sensible approach to fix the bug.

[2019-02-04 08:46] arnav-mandal1234 commented on #5254
@jayvdb should I submit a PR with the following changes?

[2019-02-04 11:36] Ishaan29 commented on #5877
I have Exams till 8/2 , will resolve this issue after that . hope it is not a problem . :smiley:

[2019-02-05 05:59] KVGarg commented on #5254
@arnav-mandal1234 you can create a PR for this, since the previous PR was closed due to non-availability of permissions to make changes. I think, it will be make sense to create a new PR for it.

[2019-02-05 06:52] jayvdb commented on #5972
See also https://gitlab.com/coala/mobans/issues/104

[2019-02-05 14:32] jayvdb commented on #5044
So now the parser knows the start and end of most lines, work could begin on this task.

However iirc, there are still a few problems which were found in the parsing, especially when nested sections were used.  You could work on those if you wound prefer.

[2019-02-05 14:54] jayvdb commented on #5972
Test dependencies

- [ ] freezegun
- [ ] testfixtures
- [ ] argcomplete

[2019-02-05 16:41] jayvdb commented on #5972
Blocked by https://github.com/coala/coala/issues/5602

[2019-02-06 01:01] jayvdb opened #5974 "rpmlint complains about system_coafile being zero length"
rpmlint:

The file should at least have a header comment

[2019-02-06 03:19] jayvdb commented on #5972
See https://github.com/coala/meta/issues/123 for meta release strategy

[2019-02-07 01:26] jayvdb opened #5975 "Allow colorlog 4.*"
Same as https://github.com/coala/coala/issues/4992 , but now for 4.x

Like https://github.com/coala/coala/pull/4993 , it should block 5.x , which might be incompatible.

[2019-02-07 02:12] jayvdb commented on #5975
Note the change needs to be in .moban.yaml and requirements.txt

[2019-02-07 03:30] jayvdb opened #5976 "cached-property dependency is unnecessarily high"
I have tested with cached-property 1.3.0, and it worked fine.

openSUSE Tumbleweed only includes cached-property 1.3.0, and should be acceptable.

https://software.opensuse.org/package/python3-cached-property?search_term=python3-cached-property

We should also look to see if older versions are also passing our tests.

[2019-02-07 03:31] jayvdb opened #5977 "Loosen pin on cli-helpers"
Like https://github.com/coala/coala/issues/5975 , newer versions of cli-helpers are also acceptable, but we should prevent the next major release.

[2019-02-07 03:44] jayvdb commented on #5976
I checked 1.0.0 and it also works.

[2019-02-08 02:33] jayvdb commented on #5877
@bkhanale , re-assigned back to you as you understand the problem, I hope.

[2019-02-08 09:48] aedorado commented on #5966
@Anmolbansal1 Are you still working on this issue?

[2019-02-08 12:41] aedorado commented on #5975
Hi can I be assigned this issue? @jayvdb

[2019-02-08 14:27] ironbatshashank commented on #5976
Thank you for assigning me this issue @jayvdb. I will begin working on this.

[2019-02-08 15:39] areebbeigh commented on #3306
I looked into this and identified the reason for the fault:

![image](https://user-images.githubusercontent.com/15276828/52488162-3f3d5500-2be5-11e9-8545-dd4391116365.png)

In `coala_modes.py` `mode_none_interactive` is executed when the `--ci` argument is passed. This in turn runs the code snippet above in `coala_main.py` where `default_actions` is changed from `ApplyPatchAction` (which we want)

[2019-02-08 15:43] jayvdb commented on #2704
`--ci` was renamed `--non-interactive` , as this mode wasnt only about "CI", but even in CI it is useful to have -a, so that `git diff` can be used to create a patch.

[2019-02-08 15:44] jayvdb commented on #3306
@areebbeigh I suspect this is a duplicate of https://github.com/coala/coala/issues/2704

[2019-02-08 15:44] areebbeigh commented on #3306
Upon further investigation for a fix, I noticed:

[code]

[code]

Notice how --apply-patch has the action stored and non-interactive doesn't. This might be helpful in removing the overriding/forced behavior of the code mentioned in my previous comment. I'm not sure since I haven't looked into the codebase deep enough.

[2019-02-08 15:46] areebbeigh commented on #3306
@jayvdb noted.

[2019-02-09 06:30] realJema commented on #5975
Thanks for assigning me to this issue. Am working on it

[2019-02-09 07:09] Anmolbansal1 commented on #5966
yes @aedorado

[2019-02-09 11:07] Anmolbansal1 commented on #5966
@aedorado If you have any suggestions related to this issue, you can post them here.

[2019-02-10 06:04] akshatkarani opened #5983 "Setting.py: Change property name"
The `line_number` property for `Setting` class should be changed to `start_line_number` as it is the starting line number of a setting.

[2019-02-10 13:55] areebbeigh commented on #3502
The exitcode 13 is returned because of a `VersionConflict`. In my case, I was able to reproduce it with `pyflakes==1.4.0` and that caused the test to fail. This seems to be because of internal dependencies:

[code]

[code]

[2019-02-10 15:03] ironbatshashank commented on #5976
Hey @jayvdb I am new to open source so can you please help me with issue. I am not able to figure it out

[2019-02-10 15:30] ironbatshashank commented on #5976
Please review PR #5984

[2019-02-10 15:51] Naveenaidu opened #5985 "Appveyor build fails"

[2019-02-10 16:02] areebbeigh commented on #5985
coafile:

[code]

Shouldn't these errors be ignored?

[2019-02-10 16:35] Naveenaidu commented on #5985
That's the same doubt I have. As i look through the PR's - Travis passes all the tests. It's only Appveyor which fails to build :/

[2019-02-10 16:43] frextrite commented on #5985
coala in Appveyor is run by `coala --ci` whereas in travis by `coala --non-interactive`. Maybe that makes a difference?

[2019-02-10 16:45] areebbeigh commented on #5985
They're both the same.

[2019-02-10 16:45] frextrite commented on #5985
or maybe it's due to the forward slashes?

[2019-02-11 09:21] areebbeigh commented on #5985
Did a little debugging on Windows:

[code]

Seems to be an issue with case sensitivity. Modified code for above result:

[code]

[2019-02-11 09:31] areebbeigh commented on #5985
This makes sense because file paths are case sensitive on linux so `Asyncio.py` is not changed to `asyncio.py` but on Windows that's not the case. That's my guess anyway.

[2019-02-11 09:37] bkhanale commented on #5877
@jayvdb Yes, I understand the problem. I will work on it now.

[2019-02-11 13:33] areebbeigh commented on #5842
This happens because the LineParser decides whether or not the line has an append operation by checking if the value provided is truthy. This can easily be changed if we:

- Assume that keys in .coafile are not expected to have symbols `+\`
- Check for the first occurrences of + and = to be side by side

@jayvdb would a fix assuming the above be acceptable?

[2019-02-11 19:24] divc99 commented on #5974
@jayvdb I have installed coala but can't find the coalib file inside the site_packages

[2019-02-12 11:57] shivank1234 commented on #3306
Yeah,I can also Reproduce this
But why is it happening   ?

[2019-02-12 16:26] divc99 commented on #5974
@jayvdb can you tell me the identifier the comment should start with? (as in #, ; , // etc)

[2019-02-13 00:18] jayvdb commented on #5974
@divc99 , please read the coala documentation about its config file format.

[2019-02-13 10:29] areebbeigh opened #5988 "coala_main.py: Documentation error"
https://github.com/coala/coala/blob/acb2341acc1a6878621dcea7e7275345aad27af7/coalib/coala_main.py#L93-L94

This uses ShowPatchAction not ApplyPatchAction

[2019-02-13 11:41] MonkeyOliver commented on #5988
Is this a newcomer issue? If yes can I be assigned to it?

[2019-02-13 17:21] aedorado commented on #5983
I guess this can be labelled as `difficulty/newcomer` @jayvdb .
Doing a casual quick search, I mostly saw the use of this line_number property in `ConfParserTest.py` file.

[2019-02-13 17:55] 123vivekr commented on #5895
Please assign this to me

[2019-02-13 19:09] aedorado commented on #5943
Either one of https://github.com/coala/coala/issues/5942 or https://github.com/coala/coala/issues/5943 could be closed right? They are exactly the same issue.

[2019-02-13 20:49] harshhx17 commented on #5901
@jayvdb
Can I work on this issue

[2019-02-14 06:30] frextrite opened #5989 "Run coala in travis with --ci flag"
Currently, Travis is run in `--non-interactive` mode. Since we are testing in CI, therefore `--ci` flag should be used to maintain uniformity. (Note: `--ci` is an alias for `--non-interactive`)

difficulty/newcomer
area/ci

[2019-02-14 09:16] areebbeigh opened #5991 "coalaTest.py: Random timeouts on AppVeyor"
coalaTest.py occassionaly times out on AppVeyor. The below log is for [this PR](https://github.com/coala/coala/pull/5990) while the same test passed [here](https://ci.appveyor.com/project/areebbeigh/coala/builds/22362320/job/q2qtvvc2t7yyr57d#L642) on [my branch](https://github.com/areebbeigh/coala/tree/bears-issue-2862).

[code]

[2019-02-14 09:34] harshhx17 commented on #5901
@jayvdb
Can I get some idea on how to get the errors related to this issue,
I have tried using HTMLLintBear on:
[code]
But this doesnot give any error

[2019-02-14 16:06] harshhx17 opened #5992 "Development setup notes: 'installing from git' link not working properly"
The link reloads the entire page and doesn't even redirect to the required location
Instead it should just be '#installing-from-git'

[2019-02-14 18:57] KVGarg commented on #5901
@harshhx17 you didn't receive error because there were two single quotes in the example that you took. Try with odd number of single quotes in the example. You will probably get an error.

[2019-02-14 21:58] Ishaan29 commented on #5572
@jayvdb until we figure out the implementation of `balanced delimiters` specifically `%( )` literal , the expansion of ruby language definition is important . please assign me this issue. 😃

[2019-02-15 08:32] harshhx17 commented on #5901
@KVGarg  @jayvdb
I have all possible variations of these....
It does not give an error

[2019-02-15 08:41] jayvdb commented on #5572
The existing PR is almost mergable.

balanced delimiters is the bit that is missing, so you could work on that.

[2019-02-15 11:39] KVGarg commented on #5901
It checks the entire HTML file for closing single quote.
Lemme check if I can re-produce that error

[2019-02-15 12:11] abhishalya commented on #5985
@jayvdb I would like to investigate this, if anyone is not working on it.

[2019-02-15 12:14] abhishalya commented on #5989
@jayvdb I wonder if there is any special reason to use `coala --ci`, since the new [coAST travis](https://github.com/coala/coAST/blob/master/.travis.yml) also contains `coala --ci` instead of `coala --non-interactive`.

[2019-02-15 12:17] abhishalya commented on #5991
This happens many times, while sometimes it doesn't. We have been increasing the timeout periodically.

[2019-02-15 12:20] abhishalya commented on #5992
@harshhx17 It works fine for me. If I'm correct, [this link](https://api.coala.io/en/latest/Developers/Development_Setup.html#installing-from-git) redirects to correct part of the webpage.

[2019-02-15 12:27] abhishalya commented on #5901
This is liked with HTML language definition as mentioned in issue.

[2019-02-15 15:30] joncasdam commented on #5559
any plans on releasing a fix for this issue?
because it's still going around...  :/

[code]

here's the traceback
[code]

[2019-02-15 17:20] frextrite commented on #5989
I don't think there is a special reason per se. But if coala is run in CI, it probably makes sense to use the `ci` flag instead of `non-interactive`.

[2019-02-15 18:42] harshhx17 commented on #5967
@budukhyash
Are you still working on it??
If not can I take this issue

[2019-02-15 18:45] harshhx17 commented on #5901
@abhishalya
I did see the HTML Language definition,
However, I wanted to see how this leads to wrong error detection while linting code

[2019-02-15 19:50] harshhx17 commented on #5902
@jayvdb
This seems stale,
Can I be assigned to it, if that's the case

[2019-02-16 06:00] abhishalya commented on #5901
@harshhx17 This is not about the bears, or their linting. This is about the definition itself, the definition tells us that the starting `'` would have to look for ending `'`, which we don't want it to be like that since it would fail in the given example. You need a definition which would work even if there is a single `'`.

There's a reason why jayvdb labelled it as difficulty/medium.

[2019-02-16 10:20] sladyn98 commented on #5901
@harshhx17  If you want some more clarity consider this if the html language difinition were to say for every `'` go in search of a corresponding closing `'` the parser would break in @jayvdb example because there is no closing tag.But if you tell the parser something like , hey if you encounter an `=` sign and then come across a `'` then go search for the closing tag else just leave it, could be

[2019-02-16 15:33] Ishaan29 commented on #5572
@jayvdb Sure ,
A stack based implementation for nested string delimiters should resolve the issue, as in `%(...(...)...)` the first `)` is not the end of the string matching. also sorry for the silly question but where is the declaration of `string_delimiters` ?

[2019-02-19 08:26] areebbeigh commented on #5991
Why do we have a short timeout in the first place? I think Travis CI has a default timeout value that's long enough (judging from the fact that it doesn't behave like AppVeyor) so why not set the timeout for AppVeyor sufficiently high like Travis?

[2019-02-19 08:43] akshatkarani commented on #5044
There are some issues related to parsing, but if they are not blocking this issue, I would like to close this issue first. Please suggest what need's to be done ahead.

[2019-02-22 06:05] xurror commented on #5988
Please, I would to be assigned this issue ifit's still opened

[2019-02-22 07:03] li-boxuan commented on #5988
@MonkeyOliver Hey sorry, assigned to someone else coz you are not in the group yet. Can you ask for an invite on our gitter main channel?

[2019-02-24 09:06] xurror commented on #5857
Please I'll like to be assigned this issue

[2019-02-24 11:03] Ishaan29 commented on #4959
@Makman2 I would like to work on this, if not resolved.

[2019-02-25 14:27] GrayR00t commented on #5983
I would like to work on this issue.

[2019-02-26 12:24] harshhx17 commented on #5901
@sladyn98
That's exactly what I intend to say, I don't think the parser looks outside '<' and '>' during parsing this file...
As in that case, it would have thrown an error in the above example...

[2019-02-26 12:36] harshhx17 commented on #5992
@abhishalya
The link that you have given, works perfectly fine...
Now there are two things that I wanted to say,
1. If we keep the entire link in href, the page reloads. The point I want to make is that it is inefficient for the entire page to reload, it should just move to the required part if the link is a reference to the same page. This can easily be achieved by replacing the entire link with

[2019-02-28 05:47] VertexC commented on #5992
Hi, is this still a opened bug? @harshhx17 can you assign it to me?

[2019-02-28 06:03] VertexC commented on #5983
Hi, I have finished fixing it. Could you please add me as contributor then I could make a pull request? @aabhaas-vaish @aedorado

[2019-02-28 08:26] jievince commented on #5988
Is this issue solved? Can assign it to me? @areebbeigh @li-boxuan

[2019-02-28 08:34] areebbeigh commented on #5988
@jievince this issue has already been assigned. Also, you'll need to request an invite on our gitter channel before working on an issue.

[2019-02-28 08:38] jievince commented on #5975
Can you assign it to me? @jayvdb

[2019-02-28 08:45] jievince commented on #5988
@areebbeigh  I have requested an invite on gitter/coala-gsoc one day ago but no maintainers response.
I have also requested access to gitlab and not been accepted yet.

[2019-03-02 16:40] ashutoshjv661 commented on #5992
Can you assign me this issue ?
#5992
My first open source contribution

[2019-03-03 04:35] anubhavp28 commented on #5722
@jayvdb @Naveenaidu Is the issue fixed? If not, hey @Naveenaidu are you working on it? I would like to work on this.

[2019-03-03 05:05] anubhavp28 commented on #5646
@jayvdb Would love to work on this. Can you assign it to me?

[2019-03-03 07:04] abhishalya commented on #5991
We have an issue to track the appveyor timeouts. https://github.com/coala/coala/issues/5756

This issue could only be a duplicate. But I guess it is due to the windows systems, the timeout is not very predictable. We keep increasing the time limit until we would finally reach a point where the timeouts no longer occur.

[2019-03-03 11:57] PrajwalM2212 commented on #5480
I had solved this issue and was opening a PR to my fork. But instead it opened a PR in coala repo.
I am really sorry and thanks for the consideration.

[2019-03-03 14:32] PrajwalM2212 commented on #5480
@li-boxuan  Please assign me this issue.

[2019-03-04 12:48] KVGarg commented on #5890
@jayvdb @sks444 Running the webservices locally, everything seems fine i.e. all bears are listed and search of a bear is also taking place.
I found that `webservices.coala.io` isn't mentioned in [allowed_hosts settings](https://gitlab.com/coala/landing/blob/master/backend/coala_web/settings.py#L27), maybe due to this we are getting error.
Is there any process or method which can be used to test th

[2019-03-04 20:40] pragun46 commented on #5988
is this issue solved? do i need to get assigned a newcomer issue as i have already fixed following the newcomer guideline.

[2019-03-05 07:24] piyush072 commented on #5992
Can I be assigned to this bug?

[2019-03-05 07:29] harshhx17 commented on #5992
@jayvdb ^

[2019-03-05 08:05] abhishalya commented on #5992
@harshhx17 Please update the issue title and description since I think it is not very clear what you were trying to convey.

[2019-03-05 12:25] shivank1234 commented on #2019
Can I work upon this idea for GSOC'19?

[2019-03-09 18:14] vibhor16 commented on #5992
In which repo can I find the code for the page - https://api.coala.io/en/latest/Developers/Development_Setup.html ?
I can find the link in the Development_Setup.rst file in coala repo, but don't know if this is the link that is used in the url mentioned above.

[2019-03-09 18:17] PrajwalM2212 commented on #5992
@vibhor16 Have you tried looking at https://github.com/coala/documentation

[2019-03-09 18:39] vibhor16 commented on #5992
@PrajwalM2212  Yes I tried looking into the documentation repo, still I couldn't connect if the content in Development_Setup.rst file is used there.

[2019-03-09 18:42] vibhor16 commented on #5992
This issue can be seen on the same page in the following location as well :
- Under Using venv heading:  Now you can activate the environment and start **the next part**.

[2019-03-10 03:50] Avinash-B commented on #5830
Hi @jayvdb , Is this issue free so that I can get it assigned and work on it?

[2019-03-10 13:21] theParadoxicalWizard commented on #5977
Can i claim this issue if nobody is working on it?

[2019-03-11 15:48] vibhor16 commented on #5992
@harshhx17 Could you please assign me this bug?

[2019-03-12 04:47] theParadoxicalWizard commented on #5977
@jayvdb I have completed the work(and will create a pull request) if @C0ffeeMachine is not working on this issue then please assign me .
Also by "Loosen" i believe you mean that we should support the current version as well as the new version of _cli-helpers_

[2019-03-14 08:12] theParadoxicalWizard commented on #5850
@jayvdb @li-boxuan As GCI is over , Please assign this issue to me

[2019-03-14 15:46] SimonZYC commented on #5989
Hi @frextrite @abhishalya , could you please assign this issue to me?

[2019-03-14 18:17] shivank1234 commented on #2019
Hey , would anyone like to mentor this project this year GSOC?

[2019-03-17 10:17] theParadoxicalWizard commented on #5944
@li-boxuan can you assign me this issue

[2019-03-17 13:23] roshnet commented on #4523
Hi. I see that this issue still persists. I would like to be assigned to it.

[2019-03-19 01:53] 123vivekr commented on #5291
@arnav-mandal1234 Are you still working on this issue?

[2019-03-19 12:53] Gromy1211 commented on #5333
Hi, can I be assigned to this issue? I think it needs some changes to colons and css files :)

[2019-03-19 13:06] realJema commented on #5977
@theParadoxicalWizard refer to the gitter channel

[2019-03-19 15:03] xurror commented on #3804
I would like to be assigned this issue

[2019-03-19 22:31] justinwalker4179 commented on #5861
The issue that was blocking this appears to be closed. Is this available to be worked on?

[2019-03-20 14:17] roshnet opened #6000 "coala_main.py and other files exceed line length according to PEP8 standard"
`coala_main.py`, `coalib/core/Core.py`, `setup.py`, and some other files exceed the line length limit according to PEP8 standard.

Some of them can possibly be solved by adjusting the imports and docstrings.

[2019-03-20 14:19] roshnet commented on #6000
Can I be assigned this issue please, if the issue is considerable enough

[2019-03-22 07:18] AkshJain99 commented on #5910
@li-boxuan I am not getting i did understand the problem but
do we need to create new bear, is this what issue is demanding ?

[2019-03-22 11:41] roshnet commented on #5992
This issue still persists. Can I be assigned this one please?

[2019-03-22 11:44] heshamelsawaf commented on #5992
I have been trying for 6 days now to get someone to assign it to me as my first issue, but sadly no one ever replies :)

[2019-03-22 12:19] frextrite opened #6003 "coala -A throws exception on EOF signal"
## Overview Description
Sending EOF signal to `coala -A` results in EOFError

## Steps to Reproduce

1. run coala with `-A` or `--single-action` flag
2. press Ctrl-D(EOF signal)
3. EOFError is dumped to the console

## Actual Results
EOFError is dumped on console with the following traceback
[code]

## Expected Results
A better message like, `Found EOF. Exiting gracefully.` should be shown and the

[2019-03-22 12:39] bkhanale commented on #5992
@heshamelsawaf @roshnet You need to ping `jayvdb` or `li-boxuan` on gitter to assign you the issue.

[2019-03-22 12:43] heshamelsawaf commented on #5992
That is exactly what I did, 2 days ago and yesterday(I pinged `li-boxuan` in both). And as far as I know, 'jayvdb' is not available nowadays.

[2019-03-22 12:44] abhishalya commented on #5992
@heshamelsawaf You should wait then, almost every maintainer is busy nowadays.

[2019-03-22 12:51] heshamelsawaf commented on #5992
Yeah I guess. I'm just trying to resolve some issues for my GSoC proposal. but anyway I understand they are busy.

[2019-03-25 16:23] 123vivekr commented on #4016
@Makman2 Please assign this issue to me

[2019-03-28 01:42] osadia commented on #6003
I would like to work on this issue; Issue#6003 (coala -A throws exception on EOF signal) Could you assign it to me, please. I am supper excited to help! This would be my very first contribution. Thanks!

[2019-03-28 13:59] frextrite commented on #6003
Please go through coala's [Newcomer's Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html), join coala's Gitter channel and ping any maintainer to assign you this issue.

[2019-04-01 16:15] Haider8 opened #6006 "Missing comma in docstring"
In the file `Git_Basics.rst`, the following line:

can be changed to

to sound better.

This can be a newcomer issue.

[2019-04-02 17:04] RJ722 commented on #4016
@123vivekr have you already solved a difficulty/low or a difficulty/newcomer issue? Only after working with those, you should attempt this one.

[2019-04-02 17:19] RJ722 commented on #6003
Hi @osadia, I am unable to assign you this issue currently because you are not a part of the coala-newcomers team. Please post on Gitter to get an invite.

[2019-04-02 22:00] VarunMehrotra commented on #6006
Hi, I am a newcomer. Can you assign me this issue if it is not yet assigned?

[2019-04-02 23:28] osadia commented on #6003
I have posted ‘Hello World’ on Gitter. Would that be enough to get me an invite? Thank you!

[2019-04-03 09:57] RJ722 commented on #6006
Hi @VarunMehrotra, @roshnet asked for the assignment first. If you want to find other newcomer issues, please go through https://coala.io/new.

[2019-04-03 10:22] RJ722 commented on #6003
@osaida currently, corobo (our chatbot for sending invites, assigning issues, etc.) is down so you might not get an invite immediately, but a maintainer would invite you as soon as they look at your message.

[2019-04-03 17:16] osadia commented on #6003
@RJ722 Sounds good. Thanks!

[2019-04-04 05:35] humpylin commented on #6003
Can I please be assigned this?

[2019-04-04 15:23] osadia commented on #6003
Hi @RJ722, will you be able to assign this issue to me now? Thanks!

[2019-04-05 07:02] li-boxuan commented on #5910
See https://github.com/coala/coala/issues/2072 as well.

[2019-04-05 07:14] RJ722 commented on #5985
@abhishalya are you still planing to work on this?

[2019-04-05 07:19] RJ722 commented on #6003
Have you accepted the invitation @osadia yet, because I can't find you in the coala/newcomers group?

@humpylin @osadia has already asked for assignment. Please go through https://coala.io/new if you want to find other newcomer issues to work onto.

[2019-04-05 08:01] abhishalya commented on #5985
@RJ722 I haven't investigated this since I thought @areebbeigh was doing it. But if he is not, then I can work on this. Just to mention, one of the straight forward solution would be to ignore QuotesBear in Appveyor. But I'm not sure if it would be the correct solution. Ideally, I would like to investigate a bit more before coming to the solution.

[2019-04-05 08:16] RJ722 commented on #5985
Okay @abhishalya. @areebbeigh are you looking into this?

[2019-04-05 16:49] osadia commented on #6003
Hi @RJ722, I have never gotten an invite even though I followed the direction in the documentation for the new comers. Is it possible that it’s just taking time?
Thanks!

[2019-04-05 19:31] RJ722 commented on #6003
Yes @osadia. Maintainers must've been busy. Also, messages are easily lost due to a large volume of messages on the general channel. As soon as you get an invitation to the coala/newcomers group, ping here and I'd assign you the issue.

[2019-04-05 19:48] osadia commented on #6003
Sounds good. Thanks @RJ722!

[2019-04-07 01:22] kaixiongg commented on #6000
I am a newcomer. Can I be assigned this issue please.

[2019-04-08 14:10] KVGarg commented on #6003
Hi @RJ722 Can you please assign me on this issue?

[2019-04-08 19:13] RJ722 commented on #6003
Hello @KVGarg,

@osadia asked first 😅. You can find other issues at https://coala.io/new

[2019-04-08 19:15] KVGarg commented on #6003
Completed newcomer process, looking forward to contribute more 😇

[2019-04-09 05:29] KVGarg commented on #759
@sils1297 @fneu Can this be implemented as a part of "Implement metrics for coala" project? Since a design metric can have a sub-feature to show all these information like the count of errors reported by a bear!

[2019-04-09 05:34] KVGarg commented on #1579
[Rubik/radon](https://github.com/rubik/radon) has an implementation for this calculation! Can we use that to calculate the cyclomatic complexity software metric? Or we need a new implementation for this?

[2019-04-09 05:37] KVGarg commented on #1927
Does this issue still need any work to do?

[2019-04-09 05:40] KVGarg commented on #4724
Hi, @refeed Are you still looking over this issue?

[2019-04-09 06:47] refeed commented on #4724
@KVGarg Hi, I've been inactive on this issue for a long time, so.. I think I'm not. Btw, feel free if you want to take over this issue

[2019-04-09 09:12] KVGarg commented on #2044
I would like to take up this issue. Can you help me in clearing some of my doubts?
1. Does this mean that we have to print versions of each bear?

2. Do all this infomation be need to be printed in DEBUG mode?
3. And, if we need to print version of each bear (from point 1), then how can we get it? because AFAIK we don't add/set attribute for a coala-bear version!

[2019-04-09 09:13] KVGarg commented on #2053
How can we reproduce this error? I would like to give it a try!

[2019-04-09 09:14] KVGarg commented on #4724
How to reproduce this error? I would like to give it a try!

[2019-04-09 10:40] KVGarg commented on #5694
@pareksha Do we need to modify Linter class by adding a new argument named `aspect` in ["allowed_options"](https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L34)? Or add it in ["supported_names"](https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L73) ?

[2019-04-09 12:29] pareksha commented on #5694
Adding in supported names or allowed options is fine but linter class must make use of aspect arguments provided to it. It would be better to discuss the implementation details in the aspects thread on gitter

[2019-04-09 17:07] KrishMunot commented on #4207
@KVGarg Sure!

[2019-04-09 18:31] KVGarg commented on #4207
@KrishMunot Thnx! Can you assign me on this issue?

[2019-04-10 05:44] KVGarg opened #6009 "Travis CI Sentinel build failing due to new version of pytest-xdist installed"
### Overview Description

# Steps to Reproduce

1. Clone the coala repository
2. Install test-requirements.txt
3. Figure out which version of `pytest-xdist` is installed. It must be `v1.28.0` but `v1.15.0` should be installed acc. to requirements.
4. Run pytest on coala to get the error log

# Actual Results
Travis CI Sentinel build [error log](https://travis-ci.org/coala/coala/jobs/518114133)

#

[2019-04-10 05:59] KVGarg commented on #6009
There are many other packages which are not installing a particular version as mentioned in requirements file.

[2019-04-10 06:08] KVGarg commented on #6009
@jayvdb @Makman2 Should I create a PR with just a change for library `pytest-xdist` or for all packages that are being installed with a different version from mentioned version in requirements file?

[2019-04-10 06:43] abhishalya commented on #6009
No, we don't want to change lot of requirements. Just do `pytest-xdist==1.15` and it should be fine imo.

[2019-04-10 12:17] sils1297 commented on #759
That does seem to make a lot of sense to combine.

On Tue, 9 Apr 2019, 07:29 Keshav Garg, <notifications@github.com> wrote:

[2019-04-10 13:55] AkshJain99 commented on #5910
@li-boxuan please assign me this issue

[2019-04-10 14:22] AkshJain99 commented on #5910
thanks @li-boxuan

[2019-04-10 15:58] KVGarg commented on #759
Added this as a part of proposal on right time with other metrics too I guess 😅
Thnx for confirming that this can be a part of that project

[2019-04-11 13:57] KVGarg commented on #6000
@roshnet Please check sections `Python, autopep8 and linelength` in `.coafile
Make sure to read commented part in "Python" section.

[2019-04-11 14:05] KVGarg commented on #5959
Hi @Anmolbansal1 Can you please re-check whether this issue is still valid or not? because I have given a look by opening waffle.io. In my case, it's showing all the necessary data
Also, A sad news waffle.io is getting shut down by next month 😞

[2019-04-11 14:46] KVGarg commented on #5857
@xurror Seems like you solved the issue. Ask on gitter to get yourself assigned on this!

[2019-04-11 17:10] xurror commented on #5857
I did but when I submitted PR
gitmate added the label "newcomer" to it and the coala guide states that one should not solve more than one newcomer issue so I had to close it

On Apr 11, 2019 3:46 PM, Keshav Garg <notifications@github.com> wrote:

@xurror<https://github.com/xurror> Seems like you solved the issue. Ask on gitter to get yourself assigned on this!

—
You are receiving this because you

[2019-04-11 19:19] chay2199 commented on #5316
@li-boxuan The issue resolves by changing http://api.coala.io/en/latest/_static/custom.css using inspect on my browser but I cannot actually change this file, is this why we have to find a readthedocs config setting?

[2019-04-12 04:30] KVGarg commented on #2044
@li-boxuan @Makman2 Does this issue still needs some work? because currently `python, coala and system` information is being logged when running in DEBUG mode

[2019-04-12 18:32] Dhiraj240 commented on #2072
@li-boxuan @Makman2  should I implement a new function to emit JSON via CLI like suggested above as ```process_output ```? if it is still open.

[2019-04-13 02:08] li-boxuan commented on #2072
Assigned to @AkshJain99 as https://github.com/coala/coala/issues/5910 and this issue talk about more or less the same thing.

[2019-04-13 07:21] AkshJain99 commented on #2072
thanks @li-boxuan for assigning me this issue I m currently working on #5910 and will soon open a PR

[2019-04-14 08:24] li-boxuan commented on #5857
@xurror You still wanna solve this issue?

[2019-04-14 08:36] xurror commented on #5857
Yes

On Sun, Apr 14, 2019, 9:24 AM Boxuan Li <notifications@github.com wrote:

[2019-04-14 16:23] akshatkarani commented on #5841
@agrawalarpit14  Still working on this? Otherwise I would like to take this up. ;)

[2019-04-14 18:15] agrawalarpit14 commented on #5841
Sure @akshatkarani you can work on this. 🙂🙂

[2019-04-16 16:47] li-boxuan commented on #4107
Maybe we can have sth like:

[code]
coala would check if executable exists on the following paths in order. If the executable is not found, try executable in $PATH

And yeah, it would be good if this setting is put in  `.coarc` file.

[2019-04-16 18:59] chay2199 commented on #4107
After checking if executable exists on the following paths in order and If the executable is not found, trying executable in $PATH, we can initiate a step called 'code freeze' which will make a single file for all executable and IMO this can solve the problem of 'different machines, different exe-paths' as this process will make it independent of path and environment. But this step should be imple

[2019-04-16 19:25] KVGarg commented on #5694
@pareksha I'm struggling over one query, which have put my lot of my time on this issue which I wasn't expecting! Can you help me over it?
Do we need to find `aspect` corresponding to each result using some algorithm or the aspects will itself be provided from `@linter decorator` which we will parse and get aspect corresponding to each result?
Can you help me in going in right direction, if I'm go

[2019-04-18 10:07] KVGarg commented on #5316
@li-boxuan The GitHub link provided is generated using the [current URL path](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/restapi/views/footer_views.py#L119).
Three workarounds to this solution:
1. Either disable `On Github` section
2. Add a `.rst` file for each file or
3. Add an upstream method to check whether the file is there or not in the directory. If not, provide a link

[2019-04-18 10:10] KVGarg commented on #5316
Do you mean by changing `href` attribute of anchor tag!

[2019-04-18 10:44] KVGarg opened #6012 "API Documentation build failing"
https://readthedocs.org/projects/coala-api/builds/
[code]
Last passed build - https://readthedocs.org/projects/coala-api/builds/7341849/

[2019-04-18 12:59] SimonZYC commented on #5668
Hi @Anmolbansal1 , are you still working on this issue? I'd like to take it as well.

[2019-04-18 14:01] chay2199 commented on #5316
@KVGarg adding this in custom.css disables the On Github section `div.rst-versions.shift-up > div.rst-other-versions > dl:nth-child(4) {
display: none;
}`

[2019-04-18 17:52] KVGarg commented on #5316
Changing `css` file won’t be a good solution to this problem i guess. You should probably take a look at sphinx configuration file if it need some changes to disable this section.

[2019-04-18 17:56] chay2199 commented on #5316
@KVGarg Yes I believe that too. But I wasn't able to find any direct solution to disable this section in the config file at that time.

[2019-04-20 01:49] li-boxuan commented on #5316
Is it possible to find out the upstream bug?

[2019-04-20 08:05] KVGarg commented on #5316
I guess it's not a bug because we've been creating coalib `.rst` files for each package in [setup.py](https://github.com/coala/coala/blob/master/setup.py#L113-L140) due to which no warning is being raised. And due to presence of these files in the readthedocs environment the html page is being rendered.
We can possibly add upstream enhancements in either `alabaster` or `readthedocs`:
1. In `alabas

[2019-04-20 14:27] frextrite commented on #6012
Rename `apidoc_command` to `apidoc_commands`. Is that the problem? smh

[2019-04-20 14:42] KVGarg commented on #6012
@frextrite Already done this! I guess something else is the problem.
Not getting time to look over the issue. As soon as I get will do look for a solution. In the meantime, if you found a solution please create a PR for it!

[2019-04-20 22:32] chay2199 commented on #4107
@li-boxuan there can be a case where a user wants to switch the executable path again but since we are checking the following paths in order it will create problems. Do you suggest an input method that can take the `path` from user and can reorder the `additional_path` in the `.coarc` file or do you want the user to manually change the `.coarc` file everytime?

[2019-04-21 03:57] li-boxuan commented on #4107
@chay2199 IMO we could have something that is simple but works first, and then see how we can improve it or handle more complicated cases.

[2019-04-22 11:58] frextrite commented on #6012
Either the method `run` needs to be called OR maybe use `BuildDocsCommand.api_command[0]`. Former seems cleaner.

[2019-04-22 13:00] KVGarg commented on #6012
Can you please verify this by running the required changes locally or on the readthedocs by creating a new project from your own account?
Also, I guess we need to create a `.readthedocs.yml` for running a build on rtd. Maybe via this issue we can create this file and commit it. No idea whether it will be valid to add this file or not!
ping @li-boxuan @Makman2

[2019-04-23 07:50] KVGarg commented on #5400
@123vivekr Are you still looking over this issue?

[2019-04-23 12:49] 123vivekr commented on #5400
No, its up for grabs :)

[2019-04-24 17:01] chay2199 commented on #4107
@li-boxuan right now we simply pass the linter name and `shutil.which` return the path to an executable which would be run, but now we have a list of `additional_path` which can contain paths related to more than one bear, how do you propose to check if the path in the list belongs to that particular linter bear? One way is to check the linter's name in the path, for ex /path/to/python2/`pyflakes`

[2019-04-25 06:15] li-boxuan commented on #4107
@chay2199 Yeah, that's a drawback of https://github.com/coala/coala/issues/4107#issuecomment-483748660

IMO that's fine. If users have a different name for executable, they can rename the executable or make a symbolic link. Can it solve the problem proposed by this issue? Yes. Is it backward compatible? Yes. Is it easy to implement? Relatively yes. Is it perfect and flexible? Absolutely no. Is it

[2019-04-25 09:46] chay2199 commented on #4107
@li-boxuan This will have similar problems once the number of bears increase. But let's just solve this issue first.

[2019-04-25 20:19] AkshJain99 commented on #6003
@li-boxuan if no one is working on this issue can i be assigned to this ?

[2019-04-25 20:28] abhishalya commented on #6003
@RuidongLiu has already created a PR for this, there's no point in creating a new one. You can find issues better than this @AkshJain99 ;)

[2019-04-25 20:30] AkshJain99 commented on #6003
@abhishalya actually that was not assigned to him thats why I asked no problem looking to some other
:thumbsup:

[2019-04-30 16:23] KVGarg commented on #6012
@frextrite Did you tried to push these changes?

[2019-04-30 17:00] KVGarg commented on #5400
When the implemented algorithm in `run()` is replaced with pass, these tests too fail along with above mentioned tests:

1. `coalaCITest.test_nonexistent`
2. `coalaCITest.test_nonexistent_debug`
3. `BearTest.test_profiler_dependency`

And, the following files have somwhere no coverage

1. coalib/coala_main.py                                                 221, 220->221
2. coalib/misc/CachingUtili

[2019-05-01 18:21] abhishalya commented on #5499
Just another https://github.com/coala/coala/issues/4232?

[2019-05-02 12:25] li-boxuan commented on #5499
@abhishalya Thanks, I'll close this issue.

Replicate of https://github.com/coala/coala/issues/4232

[2019-05-02 12:25] #5499 closed

[2019-05-04 05:40] abraverm opened #6016 "Useless indexing"
coala filters the ignored files after indexing all the files, which can take a long time with globs such as `**`. Build tools like Tox create temporary folders with multitude of files, and coala on every run will [index them first and then filter them out](https://github.com/coala/coala/blob/3eaae8875055d5340b707adaa53c289dd6b96725/coalib/collecting/Collectors.py#L84-L88). In a small project the i

[2019-05-13 06:40] badrimurali commented on #5966
Is this issue still open? Can I work on It?

[2019-05-15 04:25] jayvdb commented on #6009
xdist doesnt work, and should be removed, for all of our projects, which means this should be done in coala-mobans.

c.f. https://github.com/coala/coala/issues/4061

[2019-05-16 13:51] #6009 closed

[2019-05-16 15:04] jayvdb opened #6017 "setup.py fails on old setuptools, etc."
[code]
https://travis-ci.org/coala/coala/jobs/533336623

[2019-05-16 15:07] jayvdb commented on #6017
As this is our setup.py, the change needs to be done in the template , but the solution needs to be tested here.

Developing/Testing this is a bit complicated, as this job only runs on master -- so to test , edit .travis.yml to run this job on the developer fork branch .  Show the commit of it working (a comment here, with a maintainer checking it), then remove the .travis.yml edit from the commit

[2019-05-16 15:39] abhishalya commented on #6017
Seems like we don't support conditional requirements in `read_requirements`. I would like to try this out @jayvdb

[2019-05-16 15:45] abhishalya commented on #6017
Ah, just a pip upgrade should do imo

[2019-05-16 15:45] jayvdb commented on #6017
This error message is a standard one coming out of older setuptools.

If so, the solution will be something like

- detect the older setuptools (with an older packaging vendored) and simplify the data we give to it, so it doesnt raise exceptions like this, but instead gives the error we want users to see
- detect and report the unsupported python version earlier

[2019-05-16 15:46] jayvdb commented on #6017
that fixes CI, and is a workaround for this bug, but it doesnt fix this bug.

[2019-05-16 15:52] abhishalya commented on #6017
Ah, okay :+1:

[2019-05-16 16:21] abhishalya commented on #6017
Just to confirm, we should check for `pip < 9.0`?
I'm not sure when this syntax was added..

[2019-05-16 17:08] abhishalya commented on #6017
This seems to be a rough idea, let me know your thoughts @jayvdb

[code]

[2019-05-16 18:06] jayvdb commented on #6017
Likely that will be helpful, but not necessarily on this specific bug.

We have a minimum version of setuptools in coala's requirements.txt , which are *runtime* minimums.

We *should* also have a different minimum for setuptools (and pip?), which is lower than the runtime minimum , below which we will refuse to even try to run setup.  This is typically done using the new-ish `setup(.., setup_requ

[2019-05-17 02:29] abhishalya commented on #6017
How about this @jayvdb

[code]

[2019-05-17 03:30] dubesar commented on #6006
It's seeming that this issue is still not merged, is there some issue in the new commit made by @roshnet or its yet to be merged?

[2019-05-17 04:28] jayvdb commented on #6017
yup, that looks better.  Also use distutils.version.LooseVersion , and store `'9.0.1'` in a moban yaml constant so it is easy to change in the future.

[2019-05-20 18:52] shahayush457 commented on #5943
I am looking forward to solve this issue. So, can you please assign me this issue.

[2019-05-21 12:31] ojasgulati commented on #5983
@akshatkarani looks like no one working on this. I would like to work on this as a new comer.

[2019-05-26 22:11] kushthedude commented on #5740
@jayvdb Please assign the issue to me , Following PR is not updated for long , I would love to solve this  issue

[2019-05-27 12:04] #6017 closed

[2019-05-30 09:05] SunflowerPKU commented on #4735
Hi @psinghal20 ,

I am a Ph.D. student. I am doing research about **helping newcomers participate in OSS projects**. I noticed that many projects are using labels such as 'good first issue/bug, difficulty/newcomer' for issues to recommend that newcomers start from these tasks.

I noticed that you tried to solve this issue, but unfortunately, you had not contributed successfully. I also found there

[2019-06-01 17:35] nileshpatra commented on #5983
@li-boxuan @akshatkarani please assign me this issue.

[2019-06-10 08:31] frextrite opened #6023 "[BUG] An unknown error occurred"
OS: Fedora 30
Kernel: 5.0.17-300.fc30.x86_64

### Command Run
[code]

### Console Output
[code]

`--json` argument was not built to handle a command like this, should show proper error message than a raw exception

difficulty/medium+

[2019-06-10 08:36] frextrite commented on #6012
I became busy with my exams and then completely forgot about this. And no, I haven't tested the fix but they should work.

[2019-06-10 09:03] KVGarg commented on #6012
OK :+1: If I get some time this weekend, I will look into it.

[2019-06-10 09:20] frextrite opened #6024 "[BUG] --filter-by wrong section name throws exception"
### Command Run
[code]

### Output
[code]

### Possible Solution
The proper error message must be shown indicating such a filter doesn't exist instead of throwing a raw error message.

`InvalidFilterException` exception is being correctly emitted by the bear, just need to catch it and show an error message.

difficulty/low

[2019-06-13 04:01] hv7214 commented on #5983
@akshatkarani  anyone working on this issue?

[2019-06-13 04:42] akshatkarani commented on #5983
Ask on our [gitter](https://gitter.im/coala/coala) channel to get this issue assigned to youself.

[2019-06-17 17:03] xurror commented on #6024
I'll like to work on this

[2019-06-19 06:38] jayvdb commented on #5985
If it is a case sensitivity problem, that is a serious problem because a lot of coala files use CamelCase.

But a quick workaround for this specific problem would be to rename Asyncio to be lower case (needs to be done in .moban.yaml).

[2019-06-19 06:46] jayvdb opened #6028 "Asyncio.py incompatible with Python 3.7"
https://github.com/coala/coala/issues/5891 introduced this file from an external repository, as it has a useful chunk of code, but it also includes code which is incompatible with Python 3.7

Line 14: `from·asyncio·import·async`

Also on lower versions of python it triggers pycodestyle warning: W606 'async' and 'await' are reserved keywords starting with Python 3.7

Ideally we enhance moban to som

[2019-06-21 10:52] PrajwalM2212 opened #6031 "Add Language definition for TOML"
https://github.com/antlr/grammars-v4/tree/master/toml

[2019-06-22 09:59] KVGarg opened #6033 "Running "coala --json --show-bears --show-details" is raising errors"
Build error:
`NotImplementedError: This platform doesn't have any of the specified package manager(s): brew`

OS System: Linux

[2019-06-22 12:45] akshatkarani opened #6034 "ConsoleInteraction.py: `color_letter` function is buggy"
`color_letter` function in ConsoleInteraction module does not work as expected when there is an upper case letter after the upper case letter in parenthesis.
e.g. If input line is `Edit (C)ommit Message` then output is `Edit (M)ommit Message`

[2019-06-24 21:53] AayusHTiw opened #6035 "Coala counting whitespaces pressent aftercode."
**DESCRIPTION**
Its good to count white unnecessary white spaces present in the code but it will be more practical if Coala counts only those unnecessary whitespaces which are present between the words of the code, not those which are present at the end of the line as those have no effect on the code output as well as on the screen of the user.
**STEPS TO REPRODUCE**
Take any general code in accou

[2019-06-25 16:22] KVGarg commented on #6035
@AayusHTiw Thnx for raising an issue but it is an invalid issue, sorry!
Generally, we should ensure that good coding practices be followed and adding unnecessarily white spaces at the end of line is never been a good practice. `coala` will raise a warning if it finds any of the trailing whitespaces. And, you must be using `PEP8Bear` which is showing you this log. Python by-default follows PEP8 cod

[2019-06-27 14:55] akshatkarani opened #6036 "Unused and double imports"
There are a couple of unused and double imports in `ShowAppliedPatchesActionTest.py` and `GeneratePatchesActionTest.py`

difficulty/newcomer

[2019-06-28 04:58] illseption commented on #6036
What exactly needs to be done in this issue? I'm kind of confused. I'd like to work on it

[2019-06-28 05:36] ashneg commented on #6036
I can solve this can you assign it to me

[2019-06-28 05:37] akshatkarani commented on #6036
@illseption You need to remove those imports. If you want to solve this issue then get assigned to this issue by asking on our [gitter](https://gitter.im/coala/coala) channel.

[2019-06-28 06:37] EverWinter23 commented on #5529
@jayvdb
[code]

[2019-06-28 11:02] li-boxuan commented on #2745
Git users hard-coded regular expression patterns to determine the hunk header (https://github.com/git/git/blob/master/userdiff.c), maybe we can steal something from them

[2019-06-28 11:54] Utkarsh1308 commented on #2745
This approach looks good. I was thinking of adding a data structure containing all the parent keywords in each language and printing the lines if they exist in the context lines.

[2019-06-28 12:27] jayvdb commented on #5529
That is not a solution.  I'm not even sure which software you are using which respects `.hidden`.

And this is a documentation task, and there is no documentation PR.

[2019-06-28 15:14] Utkarsh1308 commented on #2745
@li-boxuan Could you tell me how do you want the context to like? Should I add a hunk header like in `git show`? Do you also want to print lines both before and after the affected line or just before?

[2019-06-29 06:30] li-boxuan commented on #2745
I think you'd better discuss with your mentor. Tbh I don't know, I was just offering a suggestion

[2019-06-30 14:22] urstrulykkr commented on #5977
Hi there @jayvdb
I'm new to the world of OSS and to Coala as well.  I would like to get assigned to this issue to solve it (as my newcomer issue).
May I go for it?

[2019-06-30 16:24] akshatkarani commented on #6034
The problem with the current function is that is loops over all the characters and the last uppercase letter in the line gets highlighted. But it could be the case that the uppercase letter in parenthesis is not the last uppercase letter.

[2019-07-03 01:06] priyansh19 commented on #6034
Just wanna know that is this issue still open for contribution?

[2019-07-03 01:09] priyansh19 commented on #5988
Please assign this issue to me if it's still open

[2019-07-03 02:56] akshatkarani commented on #6034
@priyansh19 No this issue is reserved for GSoC

[2019-07-03 13:41] frextrite opened #6040 "The 'coala' distribution was not found and is required by the application"
[code]

OS: Windows 10 version 1903 (OS Build 18362.207)

[2019-07-04 09:19] jayvdb opened #6041 "Circle CI failing on master: No module named pyparsing"
https://circleci.com/gh/jayvdb/coala/1655
[code]

[2019-07-04 09:26] jayvdb commented on #5945
We have been keeping Circle CI as a backup option in case other CI options stop being free, etc.

I've created https://github.com/coala/coala/issues/6041 about the build failing here.

And there is an old issue https://github.com/coala/coala-bears/issues/2298 about Circle 2.0 on coala-bears.  That repo has also been failing on Travis CI for a long time, but was a bit of a zombie because the CI pas

[2019-07-04 10:18] jayvdb commented on #5945
I checked the Circle CI plans, and they only offer 250 minutes per week for Linux for the entire org, which was previously a problem because all builds on all forks were counted as part of the coala org minutes.

And they dont have a free option for mac OS.

They do have "Orbs" which I guess are a bit like Travis languages, which could be useful for setting up bears
https://circleci.com/orbs/regis

[2019-07-04 19:40] PrajwalM2212 commented on #922
There are two types of comments here: `inline` and `array or list` comments.

`inline` comments can be parsed and written back correctly.  This is virtue of the fact that we can define a grammar for the coafile syntax as
[code]

But `array` comments cannot really be parsed. This is due to the fact that there is no properly defined grammar for arrays.

`locally-disabled, # Without this a pylint pra

[2019-07-12 14:55] akshatkarani commented on #6003
A similar error exists if Ctrl -C is pressed, it dumps KeyboardInterrupt.

[2019-07-20 08:46] hv7214 commented on #6006
@RJ722 is this issue still open? I am a newcomer to coala, can you assign this issue to me.

[2019-07-21 19:44] serhii73 commented on #6033
@KVGarg what the Linux distribution?
What the coala's version?
How are you install coala?