[2017-01-22 23:15] coala-bot opened #3618 "mention default in `-L` help"
Change help to show this
Difficulty newcomer.

Opened via [gitter](https://gitter.im/coala/coala/?at=58853cf3d43728124e8f2a00) by @nemaniarjun

[2017-01-22 23:15] nemaniarjun commented on #3618
Change the help string to mention the default log level.

[2017-01-23 00:36] #3551 closed

[2017-01-23 04:46] yash-nisar commented on #2693
* Should I include the absolute path of the file or only the filename ?
ie. `/home/..../filename.py` or `filename.py` ?
* I'm planning to add `self.warn('Bear {} failed to run on {}. Take a look at debug messages'
' (`-V`) for further information.'.format(name, args[0]))` with the suitable tests. Is that what we want @sils @Makman2 ?

[2017-01-23 10:01] Makman2 commented on #2693
- absolute path
- what is `args[0]`?

[2017-01-23 12:47] yash-nisar commented on #2693
* args[0] used to give me the filename including the absolute path. However it is giving me an empty tuple now. args[1] used to contain the entire content of the file.

[2017-01-23 12:55] Makman2 commented on #2693
ah in `Bear.run_from_section`... Though the message does only work for local bears, for global bears you can't say which file produced an error^^

[2017-01-23 13:54] meetmangukiya commented on #3557
@nemaniarjun it doesn't print the module name **from** which log originated from, it prints the name of the logger object that created the log message, that one passes during construction.

One has to create a root logger to get all the log messages, or set the parents of the logger appropriately.

[2017-01-23 14:02] nemaniarjun commented on #3557
@meetmangukiya I think you are confusing `module` and `name` attributes.
Documentation is here : https://docs.python.org/3.6/library/logging.html#logrecord-attributes

[2017-01-23 19:48] HitRam commented on #3565
@jayvdb  This comes only when there is some special character or number after a
'''
def something():
    a .
    a 7
'''
This would lead to poor highlighting. Also not all special characters lead to poor highlighting. What could be wrong 😕

[2017-01-23 21:23] Mariatta opened #3619 "Grammatical errors in newcomers guide"
1. `there’s a few steps you need to complete`
   It should be: `there are a few steps`

2. `The newcomer process is as it follows`:
Should be changed into: `The newcomer process is as follows`:

The file to be changed is at
/docs/Developers/Newcomers_Guide.rst

[2017-01-23 21:34] coala-bot opened #3620 "Blacklist urllib's urlopen"
coala has moved to requests.  urlopen should not be used.

Opened via [gitter](https://gitter.im/coala/coala/?at=588676ec519afee26ba29ffc) by @jayvdb

[2017-01-24 04:08] Flap-Py commented on #3556
So actually I have got to add a parameter `pycodestyle_ignore = E211` in `autopep8` section in .coafile. right?

[2017-01-24 08:14] gaocegege commented on #3618
Could someone unassign me? I have finished a difficulty/newcomer issue so difficulty/low is suitable for us.

[2017-01-24 09:25] #2663 closed

[2017-01-24 10:33] Chhokra commented on #3619
Kindly assign me this issue.

[2017-01-24 10:36] yash-nisar commented on #3316
Are you still working on it ? @mayank26saxena

[2017-01-24 10:37] Chhokra commented on #3478
Can I work on this issue?

[2017-01-24 13:44] underyx opened #3624 "No files matching"

[2017-01-24 13:44] #3624 closed

[2017-01-24 13:45] pratham-pc commented on #3617
Can you help me understand the code ? I want to help with this.

[2017-01-24 15:03] gaocegege commented on #2685
Now when vs code user save the file, coala will be run in a standalone process, and push the result to client in vs code asynchronously.

In the future, coala could be run every time code changes in the editor, but I'm afraid changes of code is frequently and the time spent on coala may be a little long.

I think maybe it's time to transfer ownership to coala, and deploy to vs code plugin market.

[2017-01-24 15:15] #3406 closed

[2017-01-24 15:17] sils commented on #2685
Hey I gave you access to https://github.com/coala/coala-vs-code/ so we can make it official, this is super gorgeous!

[2017-01-24 16:07] RohanVB opened #3626 "README.rst: Several broken images to links"
On safari:
![screen shot 2017-01-24 at 9 35 11 pm](https://cloud.githubusercontent.com/assets/15197846/22255401/44331aee-e27d-11e6-86d6-8e51bf05e39a.png)

On chrome:
![screen shot 2017-01-24 at 9 36 01 pm](https://cloud.githubusercontent.com/assets/15197846/22255408/49a4c478-e27d-11e6-9948-6508f8fd9a7b.png)

Other ones include Pypi and circleci links.

Also, this link: https://camo.githubuserconte

[2017-01-24 16:42] bharg commented on #3170
Hi, can I work on this bug?

[2017-01-24 17:51] RohanVB commented on #3626
Rendering properly now.

[2017-01-24 17:51] #3626 closed

[2017-01-24 18:49] mayank26saxena commented on #3316
Yeah @yash-nisar I am. I just need a little more time.

[2017-01-24 19:57] SanketDG opened #3629 "OpenEditorActionTest: TypeError not raised."
This seems like a very strange issue, that has been happening on my new machine, where if I run `OpenEditorActionTest`, it fails.

This happens because my `$EDITOR` variable is set to `vim`, if I unset it, the test passes.

Unsetting it in the code just before the `.apply()` on the other hand, doesn't work at all.

[2017-01-24 22:13] rishikksh20 commented on #3620
@jayvdb Need to know how to blacklist any method in coala ?

[2017-01-24 22:35] aptrishu commented on #3472
This would end up removing log_printer from some other places too. are we deprecating it ? @sils

[2017-01-24 22:37] sils commented on #3472
LogPrinter is already deprecated, it should be removed whereever possible

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 24 January 2017 at 23:35, Rishav Kumar <notifications@github.com> wrote:

[2017-01-24 22:43] jayvdb opened #3630 "Version mismatch with requests"
We had a version mismatch with requests, due to adding requests to `requests~=1.12.0`, while `requests~=1.12` was the direct dependency of coala-bears.

https://github.com/coala/coala/pull/3628 made the two version specifiers identical.

[2017-01-25 01:53] Makman2 commented on #3620
just use features from `requests` instead and remove `urlopen` usages ;)

[2017-01-25 01:54] Makman2 commented on #3617
Look for the help text for the `-L` flag :+1:

[2017-01-25 01:57] Makman2 commented on #3619
@Chhokra as you can see the issue is already taken, feel free to pick another one :+1:

[2017-01-25 01:59] Makman2 commented on #3478
@sravi4701 your state on this issue? Wanna make the last steps for merge? :)

@Chhokra sorry this one's also taken and already been worked on, normally I would wait a few days for a response, in this time you should pick another issue so you don't have to wait :)

[2017-01-25 02:01] Makman2 commented on #3556
why `pycodestyle_ignore = E211`? You shall turn off `E303`, but in our coafile, not hardcoded inside the bear, this is wrong^^

[2017-01-25 04:57] RohanVB commented on #1252
Should this be opened again? With projects involving continuous testing of the existing main plugins and the advent of new plugins, I think it makes sense that a popular editor like notepad++ should have one of its own.

[2017-01-25 12:21] adtac commented on #2535
There's a method that checks for conflicting arg flags somewhere (I wrote it, but I don't quite remember the name).

[2017-01-25 13:12] Mixih commented on #2535
I believe it's called check_conflicts and resides in cliparsing.py

[2017-01-25 13:32] vreethesh commented on #2535
Found `check_conflicts`. And located `--no-config` in the parser as well :). Currently, for `--find-config`, I had changed `action=store` and added `type=bool` as you said @Mixih . Shall I retain the same or does that need to be changed to the previous version??

[2017-01-25 15:01] dracarys09 commented on #3020
@BrateS still working on this ?

[2017-01-25 15:05] Mixih commented on #3630
fixed by 865b56f

[2017-01-25 15:07] Mixih commented on #3611
@ankit01ojha just remove the build please, we might want to re-enable in the future.
Also, rather important imo as this slows down build by ~1 hour on weekdays

[2017-01-25 15:12] Mixih commented on #3630
whoops, incorrect mention, I meant 284bd62180fb5ae3292af67b13dd701e0ea07316

[2017-01-25 16:09] #3630 closed

[2017-01-25 16:14] #3600 closed

[2017-01-25 16:47] Sanny26 commented on #2745
@sils @Adrianzatreanu  Could I work on this issue?
If this is assigned o me, can I first try to implement this on related code first and then on the diffs?

[2017-01-25 17:19] sims1253 commented on #3615
there is api access to reviews. We'd loose a lot of old data but could use the review system.
and there is also this https://developer.github.com/v3/reactions/#list-reactions-for-a-commit-comment
for reactions.

[2017-01-25 17:25] Makman2 commented on #1252
Yeah otherwise people don't look at this issue :+1:

[2017-01-25 21:54] nitinkgp23 commented on #3618
I am a newcomer and want to work on this issue. Please assign me this.

[2017-01-25 22:01] jayvdb commented on #3600
This commit didnt have a proper URL in the commit message, and `call_without_output` should have been deprecated.as part of https://github.com/coala/coala/issues/3597

[2017-01-25 22:05] lohani2280 commented on #3618
@nitinkgp23 Hey , welcome to coala :) . To work on any issue , its better first you  send a message on the gitter channel so one of the maintainers can assign you.

[2017-01-25 22:10] jayvdb commented on #3613
Well, I was hoping we could use https://github.com/blog/1121-introducing-team-mentions to get traction on these problems, which means they need to be real *GitHub* teams, not coala 'teams'. (sorry for not being more precise originally.)  Those people might later decide they want a coala team, but that can be an organic change.

Platform specific issues usually require testing on multiple versions

[2017-01-25 22:12] jayvdb commented on #3620
@Makman2 , we have already done that in https://github.com/coala/coala/issues/3332 .

The objective of this issue is to prevent regressions ; i.e. `urlopen` being used again in any of our projects.

[2017-01-26 01:23] Makman2 commented on #3620
let's use `KeywordBear` searching for `urlopen`^^

[2017-01-26 09:45] pratham-pc commented on #2278
I wish to help with this. Can you help me understand the issue and its current requirements, as the issue appears to be more than 6 months old.

[2017-01-26 09:52] sils commented on #2278
@pratham-pc if you do not understand the basic task here I don't think you should be doing this. This is extremely vital and has to be done *the right way*, whatever that is. If you have *specific* questions I'm happy to help of course.

[2017-01-26 12:32] BrateS commented on #3020
Trying ,but you can unassign me if someone wants to fix it.

On Wed, Jan 25, 2017 at 5:01 PM, Abhijeet Dubey <notifications@github.com>
wrote:

[2017-01-26 21:00] jayvdb opened #3637 "tests.TestUtilities.execute_coala should not join stdout and stderr"
stdout and stderr should be separate return values, to make the tests more readable.

I suspect doing this will also mean that `stdout_only` is then unnecessary, as it appears to be often used to hide warnings on stderr.

Those warnings on stderr should typically also be tested.  e.g. an assertion that stderr is empty, or that it matches a regex, depending on the test.

[2017-01-27 05:26] kumarmj commented on #3617
Hi, I would like to work on this issue. If I am not wrong then I need to change the order in `coala --help` from previous.

[2017-01-27 09:36] rpau opened #3639 "Json format is not working for PMD"
Running this same command

coala  --json --bears SpaceConsistencyBear --files **.java --disable-caching -o json.txt -r .

for the JavaPMDBear does not produce results. However, if I run it in that way:
coala  --ci --bears JavaPMDBear --files **.java --disable-caching

It takes a while, but produces results. Is anything wrong in the command?

[2017-01-27 10:05] rpau opened #3640 "[question] cache"
Hi,

I would like to contribute with some ideas about git in that project and I would like to understand the logic beyond the cache. Specifically, when files become untracked.

Are the editors plugins calling that method ([untrack_files](https://github.com/coala/coala/blob/569d894ed485039ad0fa7f7be76518d715f43cb4/coalib/misc/Caching.py#L142)) after any modification?

[2017-01-27 12:04] ankit01ojha commented on #3611
@Mixih how should I just remove the build only from the matrix?

[2017-01-27 12:08] RohanVB commented on #3081
[code]

Issue may need to be reopened (may be related to https://github.com/coala/coala/issues/3639)

[2017-01-27 14:20] ashwini0529 commented on #3544
Where are the color codes used? For highlighting?

[2017-01-27 18:17] Makman2 commented on #3081
@RohanVB on the most recent dev version? That's bad...

[2017-01-27 18:25] Makman2 commented on #3544
looks like

[2017-01-27 18:31] #3618 closed

[2017-01-27 18:41] Makman2 commented on #3611
@ankit01ojha https://github.com/coala/coala/blob/master/.travis.yml#L9

[2017-01-27 18:47] Makman2 commented on #3640
This is the code for our cache:
https://github.com/coala/coala/blob/master/coalib/misc/Caching.py

Editor plugins execute coala as a new process, so there's no need to manually handle the cache. Normally coala gets then executed after a file save so it picks up the new version.

@rpau You should rather ask such questions on our [gitter channel](https://gitter.im/coala/coala), as issues are intende

[2017-01-27 18:47] #3640 closed

[2017-01-27 18:49] Makman2 commented on #3639
Means it crashes, or performs a run without errors and without results?

Difficult to say what's wrong without your code files + your second invocation is totally different^^

[2017-01-27 23:52] ashwini0529 opened #3643 "Fix link of newcomers guide at https://github.com/coala/coala/blob/master/docs/Developers/Development_Setup.rst#repositories"

[2017-01-28 02:30] jayvdb opened #3644 "deploy.pypi.sh should have better error detection."
https://github.com/coala/coala/blob/master/.misc/deploy.pypi.sh should have better error detection.

It should gracefully fail only if it is a server error(500), and not if it is any error.

[2017-01-28 04:33] RohanVB commented on #3081
Yep looks like it, with `--pre` install.
@Makman2

[2017-01-28 12:08] meetmangukiya commented on #2737
Do we need this now ? Or close it ?

[2017-01-28 12:28] Makman2 commented on #2737
haven't see any flaw yet, reopen if you think it still occurs^^

[2017-01-28 12:28] #2737 closed

[2017-01-28 12:35] Makman2 commented on #3081
Just tried to execute coala on this repo, several times with and without `--disable-caching`, no errors on my isde. my coala version:
`0.10.0.dev20170127183105`

@RohanVB just seeing your version was most recent stable, `0.9.1`. Not sure we fixed that bug there already...

[2017-01-28 12:45] RohanVB commented on #3081
@Makman2 wasn't 0.9.1 released <1.5 months ago? I guess the issue was resolved ~2 months ago.
Anyways, if the patch isn't in the stable version I guess we can close it. :)

[2017-01-28 12:47] coala-bot opened #3645 "Remove inactive org members"
The assignee drop down takes too long to load.
If

Opened via [gitter](https://gitter.im/coala/coala/?at=588c92c3fba5bfea069b5298) by @jayvdb

[2017-01-28 16:05] sils commented on #3645
We should have a script doing that, I won't look up activity for all org members

[2017-01-28 18:44] Makman2 commented on #3081
did you try with `0.10.dev`?

[2017-01-29 00:57] coala-bot opened #3647 "create structural diagram of coala"
It is nice for new devs to see a visual representation of our architecture when they contribute
CC @jayvdb as you tried to file this issue
status/needs design

Opened via [gitter](https://gitter.im/coala/coala/?at=588d3dfc5309d6b3587df6ba) by @Mixih

[2017-01-29 02:56] jayvdb commented on #3081
0.9.1 only includes some important patches created after 0.9. Maybe we missed this one.

[2017-01-29 03:02] jayvdb commented on #3645
Of course. Any particular parameters for who should be removed? E.g. cut off dates?
We can trim the list much more if we can also exclude the long tail of people with only one commit, if we can decide how many months after their commit we presume they are semi-permanently no longer interested, and will need a new invite if they want to resume.

[2017-01-29 06:02] coala-bot opened #3648 "Mandatory regression tests for issues with type/bug label to ensure the bug doesn't creep in again"
Inspired from https://docs.djangoproject.com/en/1.10/intro/contributing/#writing-some-tests-for-your-ticket
status/needs design status/needs info

Opened via [gitter](https://gitter.im/coala/coala/?at=588d855bdcb66e4f76c37c91) by @meetmangukiya

[2017-01-29 06:03] meetmangukiya commented on #3648
For example: in https://github.com/coala/coala-bears/issues/1274 If this had been employed we need not create another issue to write tests for the same

[2017-01-29 08:44] rpau commented on #3639
If I perform

`coala --json --bears JavaPMDBear --files **.java --disable-caching -o json.txt -r .`

No errors, no results.

But, if I run

coala --ci --bears JavaPMDBear --files **.java --disable-caching

it produces results.

Running the same commands with `SpaceConsistencyBear` (instead of `JavaPMDBear`)  and always produces results.

[2017-01-29 12:55] Makman2 commented on #3639
@rpau you have provided the `-o` and `--json` flag, the results should be inside that file.

[2017-01-29 12:59] Makman2 commented on #3081
looks like, @jayvdb do you think we should backport right before the 0.10 release?

[2017-01-29 13:44] Makman2 opened #3650 "Allow bears to pass their own applicable actions"
I would suggest to introduce a new system for results so bears can easily add possible fixes / choices for the user.

For example for the `GitCommitBear`: When a commit message does not meet the standards, the user should have the choice to amend the current commit (see https://github.com/coala/coala-bears/issues/1360).

To allow such functionality, I would propose a field inside `Result` which is

[2017-01-29 13:50] Makman2 commented on #3648
What's the advantage of regression tests over our approach of directly introducing the test?

[2017-01-29 13:54] Makman2 commented on #3645
if possible we should check out also gitter stats^^

I think periodicity is also an important variable. If you see someone disappearing for a while, but he/she is constantly coming back, we maybe shouldn't remove this person from the list.
Though this sounds quite fancy, we could maybe utilize an FFT over the contribution-rate to determine the periodicity-parts. If the resulting FFT is too fuzzy,

[2017-01-29 13:57] meetmangukiya commented on #3648
I don't think we are writing tests for all the bugs that are being fixed, not sure though

[2017-01-29 13:59] Makman2 commented on #3648
some technical improvements of regression testing?

[2017-01-29 16:06] meetmangukiya commented on #2164
I think we have this now, @sils once gave me a link to such statistics about coala ?

[2017-01-29 16:55] NiklasMM commented on #2050
@Makman2 sorry for the delay, but I've opened the PR now ;)

[2017-01-29 19:12] sils commented on #2164
there's some info on the wiki but we still need more people to profile

[2017-01-29 19:14] sils commented on #3645
maybe there already is an algorithm for that problem out there? Otherwise
we can partner with our university for a thesis :P put it on
projects.coala.io as thesis project. (Not sure if I'm joking right now ^^)

[2017-01-29 22:58] jayvdb commented on #3645
Can we act now on a subset?

For the long term, we should find orgs with similar problems, which maybe will help us define a GSOC sized project.
E.g. https://github.com/kubernetes/community/issues/276

[2017-01-29 23:11] jayvdb commented on #3645
These peoples are looking at it more broadly as on offboarding process: https://github.com/BioJulia/Bio.jl/issues/271

[2017-01-29 23:52] jayvdb commented on #3650
Yes. We really need to slurp up pywikibot console functionality, which already has all this.

[2017-01-30 04:02] rhemon opened #3654 "Bug: coala doesn't look for .BAT file"
As I added commands to install ruby bear in appveyor, gems were installed in appveyor with a  .BAT file format, however during tests these were not found. The test for bears that had Gem Requirement were failing with this error.
[code]

Full Log is available [here](https://ci.appveyor.com/project/rhemon/coala-bears/build/1.0.156/job/n57e6dewq7hc9sbk).

So afterwards as I debugged, It was found tha

[2017-01-30 04:19] jayvdb commented on #3613
Another windows specific problem https://github.com/coala/coala/issues/3654

[2017-01-30 08:25] rpau commented on #3639
The file contains 0 results.

[2017-01-30 08:39] sils commented on #3645
Yes, we can act on a subset now, just need to define how we do it. Though I can imagine it could be quite easy to just write a very simple script that does it for us based on the criteria we choose. (E.g. "just one commit all over coala and that has to be further away than 2 months" or so) Also I think it'd be nice to notify them somehow, maybe open an issue mentioning all of them explaining why t

[2017-01-30 09:12] jayvdb commented on #2164
We could get the docker image to submit profiling data to a webservice,
which (combined with repo name and hash of .coafile) would help identify
any serious perf problems.

On Mon, 30 Jan 2017 06:12 Lasse Schuirmann <notifications@github.com> wrote:

[2017-01-30 09:37] sils commented on #3648
@Makman2 well if you directly include the test the bug will never happen. If it happens you need a test for it so it doesn't reappears because you didn't have the test before, preventing regressions.

[2017-01-30 09:43] underyx opened #3655 "Globbing: Don't even walk into directories that match Ignore globs"
A hacky proof of concept of this reduced runtime with no bears on a real-world project from 14 seconds to 2 seconds. (and ~50 seconds in 0.9, before #3641)

difficulty/medium

[2017-01-30 09:43] underyx commented on #3655
I can do this on Friday, if someone else can do it earlier, go ahead and take it.

[2017-01-30 09:44] underyx opened #3656 "Globbing: Ignore VCS directories by default"
We can probably reuse the heuristics of [`ag`](https://github.com/ggreer/the_silver_searcher) for this.

[2017-01-30 09:45] underyx commented on #3656
Like in #3655:

[2017-01-30 10:06] Makman2 commented on #3648
The link @meetmangukiya provided mentioned a slightly different workflow, that's why I'm asking^^

[2017-01-30 10:07] Makman2 commented on #2164
so telemetry? @jayvdb

[2017-01-30 10:08] Makman2 commented on #3639
@rpau alright then we need your code files where you run coala on for reproduction^^

[2017-01-30 11:28] nemaniarjun commented on #3645
How about also closing any PRs that these people have made?

[2017-01-30 11:29] nemaniarjun commented on #3639
Following.

[2017-01-30 12:35] Makman2 commented on #3645
@nemaniarjun no better take them over, then we don't lose their work at least^^

[2017-01-30 12:48] Makman2 commented on #3656
what about putting `.git/*` and others into our default coafile?

[2017-01-30 12:51] underyx commented on #3656
But then wouldn't the ignore disappear once someone sets their own `ignore` directories?

[2017-01-30 12:56] Makman2 commented on #3656
yeah we have currently this problem. Already discussed inside https://github.com/coala/coala/issues/3131 how to eventually tackle this^^

[2017-01-30 13:20] jayvdb commented on #3645
One issue per org member purge, with a short delay for feedback from them, would be good for those members, and our own record keeping.

Where should the script go?

[2017-01-30 13:30] sils commented on #3645
coala/engagement maybe? We can also make a misc repo or so

[2017-01-30 13:54] meetmangukiya commented on #3648
I think I meant pretty much the same as @sils explained, that link was just for a reference, as I seen django had such type of testing :)

[2017-01-30 15:03] vreethesh commented on #3409
After thorough discussion, I agree with @Makman2 . I don't think code duplication is required because as far as I now, copying the part of the function out is the only possible solution and imo, it's too disruptive and specific.

[2017-01-30 16:12] sims1253 commented on #3505
we have the projects page now

[2017-01-30 16:12] #3505 closed

[2017-01-30 18:13] sims1253 opened #3658 "Update Newcomer Guide to fulfill the developer requirements used for promotion in cEP-1"

[2017-01-30 18:57] Sanny26 commented on #2745
@Makman2 Could you check my PR and tell if I'm going in the right direction?
PR Link: https://github.com/coala/coala/pull/3659

[2017-01-30 19:15] Makman2 commented on #2745
looks like. You don't have to ping me personally for this, anybody can do a review :+1:

[2017-01-30 19:25] Sanny26 commented on #2745
Sorry for that. Will take care next time.

[2017-01-30 22:41] jayvdb opened #3660 "pycodestyle 2.3 reports E722 bare exception"
https://pypi.python.org/pypi/pycodestyle 2.3.0 was released on 30 Jan, causing many new code style errors.

https://travis-ci.org/coala/coala/jobs/196607369

[code]

[2017-01-30 23:05] jayvdb commented on #3660
The requirement is currently `~=2.2`, which means 2.3 is acceptable.
The `PipRequirement` was added in coala/coala-bears@d8be55a9, to align with autopep8's development version which is [actually](https://github.com/hhatto/autopep8/blob/master/setup.py#L14) `>=2.2`, which of course would allow 3.x which would be bad.

autopep8's released version is [actually](https://github.com/hhatto/autopep8/blob

[2017-01-31 00:59] jayvdb commented on #3660
coala-bears also has the same problem

https://travis-ci.org/coala/coala-bears/jobs/196688733
[code]

[2017-01-31 01:10] jayvdb commented on #3660
Also interesting:

why do we have a trailing quotation mark at the end of that line.

And two! after that one.

[2017-01-31 01:35] jayvdb commented on #3660
The new E306 are not serious, but worth noting that E306 is an old code, and covers more than the current errors, and a new release 2.3.1 has come out with some bugfixes for E306. (I've confirmed the two error lists above were both with 2.3.0)
So we need to re-test with 2.3.1 to see if those E306 still exist.

[2017-01-31 01:44] jayvdb commented on #3660
E306 no longer occur with pycodestyle 2.3.1, but the E722 still exist, and given they are a serious problem, IMO we shouldnt prevent coala users from using 2.3.x just because we have some serious bugs.

[2017-01-31 05:28] jayvdb commented on #3587
IMO (and this is personal taste only), `|` without round brackets is effectively a syntax error because it *must* be `(..  |..  )` if the regex was to be embedded into another string. i.e. it is not a valid regex fragment.

They are redundant, and most implementation implicitly add the round brackets, but that is a feature which should only be used for really simple example regex like `a|b`.
The e

[2017-01-31 05:47] jayvdb commented on #3587
@Makman2 , why do we want to allow a one letter prefix before the `:`?  Do you have a valid use for that?  If not, I suggest we wait until we encounter a need for it.
`.ci:` is the shortest valid use that I can think of.

Whatever the shortest valid use, we should add a test case for it, if this issue is requesting that it is modified.

[2017-01-31 06:17] aptrishu commented on #3660
ATM can we just change the pycodestyle version requirement ? to ~=2.2.0
codestyle changes can be made later, loads of PR are failing for this reason..

[2017-01-31 06:21] jayvdb commented on #3660
These errors are real bugs, and the fix should be easy.
If it takes more than a day, then yes, changing it to ~=2.2.0 is sensible as a short term solution

[2017-01-31 06:33] jayvdb commented on #3587
Just a note, as far as I can see, neither of the problems in this issue have ever occurred in coala / coala-bears repos.
[code]

I also note that currently '`a`' is a valid commit message.

[2017-01-31 07:02] #3660 closed

[2017-01-31 07:53] aptrishu commented on #3087
we have deprecated Logprinter, should be done with builtin logging somehow..(is possible?)

[2017-01-31 09:17] jayvdb commented on #3660
The -bears errors is being addressed in  https://github.com/coala/coala-bears/pull/1374

[2017-01-31 13:41] aptrishu commented on #3094
@sils @Makman2
we just need to handle column=None cases explicitly.. like
[code]
How do we check overlap if line itself is None ?

[2017-01-31 13:50] affanv14 commented on #3587
okay.Statistics time!
So the shortest shortlog :) is 9 letters long
The last commit message which fails is 367 commits ago.

And here is a list of all commit messages which fail:

SourceRange: add contains
TextRange: add contains
Bear: get_dependencies() -> BEAR_DEPS
docs/index:Index.rst Change Coala to coala
ResultAction: success_message -> SUCCESS_MESSAGE
Linter: diff_severity -> result_severity

[2017-01-31 13:52] affanv14 commented on #3587
So the two most common reason the regex fails is
1.The first letter after the colon is not a capital letter
2.There is a redundant space before the colon

[2017-01-31 14:01] affanv14 commented on #3587
@Makman2 @jayvdb
So should i change the regex to accomodate atleast 9 characters and make sure it passes the two most common reasons of failure specified above?

[2017-01-31 14:11] jayvdb commented on #3587
redundant space before the colon is a good set of errors - we dont want that any more.

Likewise 'first letter after the colon is not a capital letter' is because the committer is mentioning a literal in the code, and their commit message would also fail the "Imperative mode" test in GitCommitBear.  So we need it to be upper case.

`doc:` is a three letter prefix, like `.ci;`, so those are the sma

[2017-01-31 14:18] Makman2 commented on #3094
I think this should be the behaviour:
- When `column` is `None`, the whole line is meant.
- When `line` is `None`, the whole file is meant

[2017-01-31 14:25] aptrishu commented on #3094
Ok, I have implemented the first point in that code.
I was not sure about second point.
Thanks.. :)

[2017-01-31 14:27] Makman2 commented on #3587
I just wanted to be generic as possible, feel free to make the regex more strict ;)

[2017-01-31 14:30] affanv14 commented on #3587
So.the commit message should be atleast three characters long?
and i should allow a redundant space?

[2017-01-31 14:33] dracarys09 commented on #3316
@mayank26saxena still on it ?

[2017-01-31 14:35] jayvdb commented on #3587
no redundant or consecutive spaces.

[2017-01-31 14:37] dracarys09 commented on #3100
@Yash17Agrawal still on this ?

[2017-01-31 21:43] coala-bot opened #3664 "Create instructions for setting up CI on a fork"
Instructions for setting up CI (Circle, Appveyor, Travis) are needed.
The [pywikibot documentation](https://github.com/wikimedia/pywikibot-core/blob/master/tests/README.rst#travis-ci) for the same may be a useful guide.

Opened via [gitter](https://gitter.im/coala/coala/?at=58910503c0f28dd86269cf86) by @jayvdb

[2017-01-31 23:35] jayvdb commented on #3613
An openSUSE team might be useful for the docker, but I expect that team would be very small.
(And heck, it is a docker, so anyone can play with that OS easily, if the download isnt a bandwidth killer for them)

[2017-01-31 23:39] jayvdb opened #3665 "Create programming language labels and/or GitHub org teams"
(Similar to https://github.com/coala/coala/issues/3613 , but for programming languages.)

A lot of problems with external linters require an advanced knowledge of the tool chain of the programming language.

It might be helpful to label issues (in coala-bears) according to programming language, and/or organise our team members by programming language, so that it is easier to match bugs to persons

[2017-01-31 23:44] jayvdb commented on #3360
@satwikkansal, the error mentioned at https://github.com/coala/coala/issues/3360#issuecomment-274298207 is confusing people .  Can you please fix this quickly, or be unassigned so someone else can do this.

[2017-02-01 03:20] coala-bot opened #3666 "Update urls from coala-analyzer to coala in IGitt repo"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=589153fc4c04e9a44e566390) by @jayvdb

[2017-02-01 04:08] jayvdb commented on #3611
This has become quite urgent now, as we have many pending PRs with one job pending: OSX, and Travis has 1300+ pending OSX jobs.  This means no coala jobs (even on other coala repos) are started, as there are the coala osx jobs pending fill our quota of jobs (the osx jobs are in the queue first).

[2017-02-01 04:12] satwikkansal commented on #3360
@jayvdb Sorry I was a bit busy preparing for exams in past 2 weeks.  I'll
try to fix this issue by today only :)

On 01-Feb-2017 5:14 AM, "John Vandenberg" <notifications@github.com> wrote:

@satwikkansal <https://github.com/satwikkansal>, the error mentioned at #3360
(comment)
<https://github.com/coala/coala/issues/3360#issuecomment-274298207> is
confusing people . Can you please fix this quickly

[2017-02-01 04:56] jayvdb opened #3668 "Intermittant error installing coala-bears dependencies: ImportError: No module named 'packaging'"
First mention on gitter:

https://circleci.com/gh/coala/coala/10915

Then I encountered it twice in a short period:

https://travis-ci.org/coala/coala/jobs/197188789
https://travis-ci.org/jayvdb/coala/jobs/197191905

Last releases:
- pip 9.0.1: 2016-11-06
- packaging 16.8: 2016-10-29
- setuptools 34.1.0: 2017-01-29

It looks like the order of pip installing dependencies changes for each build, and

[2017-02-01 06:43] #3611 closed

[2017-02-01 08:45] Shade5 commented on #3644
So should the `set +e ...  set -e` be removed?
Fail and exit only if error(500) ?

[2017-02-01 09:00] jayvdb commented on #3644
yes, really easy ...

yes, and this is the harder part.

[2017-02-01 12:37] adtac commented on #894
Welp, Gitlab just had a major database issue - someone accidently ran `rm -rf` on their postgres database. And all five of their backup measures failed them. Doesn't help the case :(

[2017-02-01 12:49] ayushoriginal commented on #3666
Please assign this issue to me. I'm new in this organization and want to contribute here for a long time.

[2017-02-01 13:27] Makman2 commented on #894
yeah never do `rm -rf` on production without copying it somewhere else... though this is the first incident I heard of^^ Still the features do justify a switch^^

[2017-02-01 13:35] etotientz commented on #3666
Where is the IGitt repo?

[2017-02-01 13:35] Makman2 commented on #3666
@ayushoriginal just invited you on gitter, please also checkout [there](https://gitter.im/coala/coala) :+1:

[2017-02-01 13:36] Makman2 commented on #3666
@etotientz it's on GitLab. Giving the link as soon as GitLab is up again^^

[2017-02-01 14:01] coala-bot opened #3671 "Phone home in CI mode when a deprecated feature is used"
This will allow us to see which deprecated features are no longer used

Opened via [gitter](https://gitter.im/coala/coala/?at=5891ea2b4c04e9a44e5956cc) by @jayvdb

[2017-02-01 14:02] coala-bot opened #3672 "Newcomer documentation should recommend selecting an issue the developer understands"
Too many people are assigning themselves to tasks without any idea how to solve it

Opened via [gitter](https://gitter.im/coala/coala/?at=5891ea71e836bf7010ba76a1) by @jayvdb

[2017-02-01 14:10] ayushoriginal commented on #3666
Thanks! Waiting for the link.

PS: I want to be make significant contributions to this organization. Please add me on github.

[2017-02-01 14:30] Yash17Agrawal commented on #3100
Nope @dracarys09

[2017-02-01 14:40] jayvdb commented on #3666
Please do not ask to be assigned here.  Come to [gitter](https://coala.io/chat) to chat, and to be assigned to issues.

[2017-02-01 19:49] satwikkansal commented on #3360
@jayvdb This issue is due to the the `css` section I added in the `.coafile` to check the `/docs/_static/custom.css` for css issues. I think either we should add the commands to install the csslint package in `.travis.yml` file or we may omit this `css` section.

[2017-02-01 20:32] Mixih commented on #3648
so a guideline for devs that goes into our docs then?

[2017-02-01 20:54] impmihai commented on #3655
I have a possible solution here : https://github.com/coala/coala/pull/3674. I would like to know if it is an efficient solution, it is still WIP.

[2017-02-01 21:45] jayvdb commented on #3668
Also seen at https://travis-ci.org/coala/coala-eclipse/builds/197394365#L553 , which had trusty default pip 1.5.4 & setuptools 3.3 , and pip wouldnt uninstall them as they are owned by the OS.  I assume pip then believes it has met those upgraded dependencies, and continues to install other packages that depend on newer versions of pip and setuptools.

https://github.com/pypa/setuptools/issues/937

[2017-02-01 22:14] sils commented on #3094
@aptrishu any reason you're not assigned?

[2017-02-01 22:20] aptrishu commented on #3094
No, actually I forgot to assign myself.. :P

[2017-02-01 22:57] Makman2 commented on #3666
IGitt repo: https://gitlab.com/gitmate/IGitt

[2017-02-01 23:08] #3620 closed

[2017-02-01 23:12] justuswilhelm commented on #3671
What does this mean? I do not understand.

[2017-02-02 01:33] coala-bot opened #3676 "meta test class that all tests can inherit from"
coala could have its own library of helpers and assert* methods, with access to `self` so that they can utilise unittest functionality, especially to call standard assert*, and fail tests properly.
Also if all tests are using a meta class, there is also lots of opportunity to easily manage which tests are run. see [pywikibot tests/aspects.py](https://github.com/wikimedia/pywikibot-core/blob/master

[2017-02-02 01:51] jayvdb commented on #2737
Was this reported by the codecov github integration (i.e. rejecting a PR on github), or was this actual pytest coverage in Travis?

I suspect the former, in which case we wont know if it is still a bug, because we disabled that integration sometime around the time of this issue (but I could be a month off easily).

[2017-02-02 02:16] Mixih commented on #2535
That should be ok unless something happens

[2017-02-02 07:04] jayvdb opened #3677 "Investiate pipenv"
While [piton](https://github.com/coala/coala/issues/3447) isnt quite ready, [pipenv](https://github.com/kennethreitz/pipenv/) has been iterating very quickly towards a workable solution.

I've suggested it as a possible solution for our flake8 problem at https://gitlab.com/coala/package_manager/issues/25

[2017-02-02 14:12] meetmangukiya commented on #2737
Yes, it was the codecov github integration

[2017-02-02 14:22] Makman2 commented on #3676
has it to be a meta-class? Looks like a plain base class suffices^^

[2017-02-02 14:42] #3654 closed

[2017-02-02 15:18] etotientz commented on #3666
Can't find the urls (coala-analyzer)

[2017-02-02 15:33] sils commented on #3666
https://gitlab.com/search?utf8=%E2%9C%93&search=coala-analyzer&group_id=&project_id=765988&search_code=true&repository_ref=master at least that should be changed

[2017-02-02 15:34] sils commented on #3666
@jayvdb why is this tracked here and not at IGitt? Am I not getting it?

[2017-02-02 17:14] Adrianzatreanu commented on #3256
unassigning due to high inactivity

[2017-02-02 17:15] Adrianzatreanu commented on #3258
unassigning due to high inactivity

[2017-02-02 17:35] Nosferatul commented on #2997
unassigned due to inactivity

[2017-02-02 17:49] dracarys09 commented on #3020
@adtac so what this requires is to basically remove this concatenation ```doc_comment.param_dict.get(arg, cls.str_nodesc) + ' (' +
                    cls.str_optional.format(
                        defaults[i-num_non_defaults]) + ')'```

and use only ```doc_comment.param_dict.get(arg, cls.str_nodesc)``` and add one more parameter which can be string "Optional"

[2017-02-02 20:04] Mixih commented on #3379
postponed

[2017-02-02 20:30] #3379 closed

[2017-02-02 20:47] Mixih opened #3681 "Release Ports for 0.10"
- [ ] https://github.com/coala/coala/pull/3426

[2017-02-03 08:56] Asnelchristian opened #3684 "Redundancy: Change ``deco`` to ``docs``"
Line 98 (coalib/bearlib/aspects/Redundancy.py)

[2017-02-03 09:54] gaocegege commented on #2019
I have put this issue to [projects.coala.io](https://projects.coala.io) as a GSoC and RGSoC project.

Jetbrains IDEs are more complex than visual studio code, sublime text and many other editors.

It's hard to hook into file save or change logic. So we should find a way to interact with editors. [Can I hook into the file save logic?](https://intellij-support.jetbrains.com/hc/en-us/community/posts/

[2017-02-03 11:25] aalind0 commented on #3684
Can this be assigned to me ?

[2017-02-03 16:52] userzimmermann opened #3687 "Deprecate run_shell_command"
`coalib.misc.Shell.run_shell_command` was inconvenient since it didn't return the `returncode` of the external command. I changed that with https://github.com/coala/coala/pull/3680 but in an ugly way to keep backwards compatibility, since some bears use it directly.

Further, the function name is misleading, since it doesn't run the external command through a shell.

So `run_shell_command` should

[2017-02-03 16:55] Makman2 commented on #3687
Maybe we should do a switch to `sarge` instead: https://github.com/coala/coala/issues/3597

[2017-02-03 16:59] sils commented on #3597
@userzimmermann please comment your opinion here

[2017-02-03 17:01] userzimmermann opened #3688 "New run_system_command function"
We need to implement a new `run_system_command` function according to https://github.com/coala/coala/issues/3687 with proper return objects that contain all useful information about a finished external command call.

It should be implemented in a new module and not alongside the existing `run_shell_command` function in `coalib.misc.Shell`. The name of the latter module would be misleading, since c

[2017-02-03 17:02] sils commented on #3681
plus all milestoned PRs

[2017-02-03 17:05] userzimmermann commented on #3687
@Makman2 `sarge` has no significant advantages except it easily allows command chaining, which we don't really need.

[2017-02-03 17:10] userzimmermann commented on #3597
**sarge** has some nice features, like the simple command chaining, but doesn't solve fundamental problems like the missing OS independence of `subprocess` when it comes to `.bat` and `.cmd` scripts under Windows, which can only be run with explicit file extension.

Also, the latest release is from **2015**.

[2017-02-03 17:20] Makman2 commented on #3687
The name `run_system_command` is also way better than `run_shell_command` as by default it doesn't run the command in the shell ;)

[2017-02-03 17:28] Makman2 commented on #3688
we deal quite a lot with external tool invocation, maybe we should make an completely own module for it instead of using `misc`. E.g. taking your names: `coalib.system` or `coalib.process`/`coalib.processes` (this one btw could be confusing with `coalib.processing`...). Or `coalib.platform`? Hmm...

[2017-02-03 18:39] yash-nisar commented on #2693
How should we tackle this for global bears ? @Makman2

[2017-02-04 02:36] jayvdb commented on #3597
sarge had two fixes authored/committed by the maintainer in September 2016.

sarge has a very big advantage : it is a separate project; separate tests, separate release cycle; separate maintainer.

The problem of `.bat` and `.cmd` scripts under Windows is going to require tests that actually exercise that.  I am pretty sure I asked for those tests to be created, but I dont see them in https://gith

[2017-02-04 02:39] jayvdb commented on #3687
Err, it does much more than that.  The largest part of it is about managing the sub-process pipes correctly.

[2017-02-04 02:58] jayvdb commented on #3672
I think we are seeing this a 'bit more' due to the self-assignment option.

One feature we need is to prevent assignment if the person already has one issue assigned.

Then maybe we can state: "There is no way to unassign youself, and you cant assign yourself to another issue.  Once you assign an issue to yourself, you're stuck with it until a maintainer releases you.  Choose wisely."

[2017-02-04 10:27] meetmangukiya commented on #2693
A ugly solution could be..
1. Implement handle_error in GlobalBear.py which takes the filename arg
2. Trust the developer to make a call on that, but I think we don't need this for GlobalBears :thinking:

[2017-02-04 10:41] jayvdb commented on #3587
Please think of other similar problems.  The regex is not good.
These are all still valid based on your latest regex.

- ` : Foo`
- ` : F  ` (which two trailing spaces)
- `  : F  ` (which two trailing spaces)

[2017-02-04 11:05] coala-bot opened #3690 "Information at openhub.net is outdated: Download and Issue Tracker link to be particular"
Since we are now encouraging installation of coala through coala-bears, IMO we should change the download link to coala-bears ?

Opened via [gitter](https://gitter.im/coala/coala/?at=5895b573ca6c6eb44944a9ac) by @meetmangukiya

[2017-02-04 11:06] yash-nisar commented on #2693
IIUC, the message will only be displayed for local bears ? CC @meetmangukiya @Makman2
Should I initiate a PR ?

[2017-02-04 13:15] jayvdb commented on #2164
Ya, that would make this a GSOC sized project, if someone was interested in mentoring it.

[2017-02-04 13:22] meetmangukiya commented on #2164
Well, we have a project about profiling coala-bears already

[2017-02-04 13:44] Makman2 commented on #2693
yeah only display for local bears^^

[2017-02-04 13:47] yash-nisar commented on #2693
Awesome !

[2017-02-04 16:29] Makman2 opened #3692 "CLI Markdown renderer"
We could try to output CLI text as markdown and try to render it as good as possible in the terminal :)

For example a code-block would be highlighted with gray or some different color (and the backticks would be removed), so it looks like rendered markdown in the browser.

Not sure there's a package out there for this, but I think it's still a quite cool idea ;)

[2017-02-04 16:37] meetmangukiya commented on #3692
Why'd we want that ?

Things that could not be used:
- Headings
- Images
- Links too

Things that could be used:
- Bullets(`ul`) --- Could be done with some unicode character :/
- Lists  --- Already could be done normally
- Code -- The __only__ one that is usable ?

[2017-02-04 18:13] Makman2 commented on #3692
Good point... though I like code-highlighting :3

If you think it's not worth it @meetmangukiya feel free to close :+1:

[2017-02-04 22:43] coala-bot opened #3693 "Processing: Do not cache if bear isn't run"
E.g. if I run a bear and a req is missing, say I don't have php and I run phplintbear, it yields no results. coala caches that. I install PHP, I get no results. Crap!

Opened via [gitter](https://gitter.im/coala/coala/?at=58965909ca6c6eb44947ab52) by @sils

[2017-02-04 23:28] jayvdb commented on #3093
Re conda, the next step IMO is to track and use what is already  on conda https://gitlab.com/coala/package_manager/issues/21

Re: apt repo, I agree, and fossasia has been hosting apt-repos on github successfully. https://github.com/fossasia/meilix
Seems quite common.
http://www.hackgnar.com/2016/01/creating-remote-apt-package.html

This would work very well with a `DistributionRequirement(apt_get=

[2017-02-05 05:14] meetmangukiya commented on #3692
I think we have syntax highlighting in place and implementing background color for that won't be an issue, I'll keep it open in case someone would want to implement it

[2017-02-05 05:59] coala-bot opened #3696 "Update the latest stable badge in readme to 0.10.0"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5896bf49ca6c6eb449492e54) by @meetmangukiya

[2017-02-05 06:05] coala-bot opened #3697 "Make `AUTHORS` `AUTHORS_EMAILS` as constants in Bear.py"
Since almost all the bears(that I've seen so far use the same value) I propose to include those in the Bear.py so it'd be inherited as well, and if author needs to use a custom value it can always override
status/needs-info status/needs-design

Opened via [gitter](https://gitter.im/coala/coala/?at=5896c0a93bcc9b3b25dee942) by @meetmangukiya

[2017-02-05 06:08] meetmangukiya commented on #3697
Even License in that case

[2017-02-05 08:11] sims1253 commented on #3672
we just added the rule that you couldn't assign to a newcomer issue if you already had a coala issue assigned. I'm not sure that we want to prevent people from working on multiple issues in parallel.

[2017-02-05 13:32] Makman2 commented on #3692
let's do it like this ;)

[2017-02-05 13:32] #3692 closed

[2017-02-05 13:38] Makman2 commented on #3697
Don't we do that?

https://github.com/coala/coala/blob/master/coalib/bears/Bear.py#L134-L146

[2017-02-05 13:39] meetmangukiya commented on #3697
@Makman2 I meant initialising them as `The coala developers` and respectively...

[2017-02-05 13:44] meetmangukiya commented on #3692
Didn't know we had that label.

[2017-02-05 16:37] coala-bot opened #3699 "add coala --ci to coala-ci deprecated warning"
Opened via [gitter](https://gitter.im/coala/cobot-test/?at=589754cf1465c46a5625277c) by @RohanVB

[2017-02-05 16:38] RohanVB commented on #3699
Currently it's:

[2017-02-05 16:44] meetmangukiya commented on #3699
That'd be more confusing for the user IMO we should prefer either one, since non interactive is quite verbose I go with it..

Waiting for others opinions...

[2017-02-05 16:46] meetmangukiya commented on #3693
Currently assigning myself, if anyone can complete this before next week, ask for re assignment

[2017-02-05 18:57] sils commented on #3699
@RohanVB I don't get what you want.

[2017-02-05 19:50] RohanVB commented on #3699
@sils Currently, when we do 'coala-ci' we get the quote as above, since 'coala --ci' is also good, I proposed that it could be added alongside 'coala --non-interactive' in the warning message.

[2017-02-05 20:26] sils commented on #3699
hm it doesn't really matter, makes the message longer and I don't see it
adding a real value does it?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 5 February 2017 at 20:50, Rohan <notifications@github.com> wrote:

[2017-02-05 20:47] sils opened #3701 "crash when runing coala on the libreoffice core repo"
coafile:
[code]
log:
[code]

[2017-02-05 20:50] sils commented on #3701
my(max) idea is that we might try to run cpd with 10k files and it doesn't like that

[2017-02-05 20:54] sils commented on #3544
We have the same issue on windows including some beeping with @seblat because apparently some of the characters are interpreted y the powershell as beeps. This is really important to get fixed for our windows users.

@HitRam any progress?

[2017-02-05 20:57] sils commented on #2677
duplicate of https://github.com/coala/coala/issues/3544

[2017-02-05 20:57] #2677 closed

[2017-02-05 21:02] dracarys09 commented on #3260
@arvind-iyer you are currently not assigned to the issue... please get assigned to the issue first before writing code otherwise this can cause redundant work...

use ```cobot assign <issue_url>``` on gitter channel to get this issue assigned to you...
:smile:

[2017-02-05 21:04] HitRam commented on #3544
@jayvdb  This was taken by @ashwini0529 . But I tried finding the bug. Couldn't get much but found that this happens only when there is some special character in the code like

[code]

[code]

Although not all special characters would lead to this kind of spanning.
One more thing I noted was that in linux actually other lines are getting highlighted and not the ones which are getting on mac or win

[2017-02-05 21:41] sils commented on #3544
yeah so we replace spaces by this unicode dot to make them visible, I think
that is partly the reason why things go haywire, also the arrow thing we
use to visualize tabs

[2017-02-05 21:44] Makman2 commented on #3544
weird anyway, as I tested those dots on Windows and they seem to work fine (so far :3)

[2017-02-05 21:48] Makman2 commented on #3701
looks even like it's a limit inside python (or even OS) :O
That's bad actually...

If possible, maybe CPD supports configuration files where you can also put the files to analyze?

[2017-02-05 22:09] sims1253 commented on #3701
there is --files for files and directories. Maybe we can bundle the files somehow or add directories

[2017-02-05 22:10] sims1253 commented on #3701
actually there is "There should be no limit to the number of ‘–files’, you may add… But if you stumble one, please tell us !" in their docs

[2017-02-05 22:25] impmihai commented on #3701
[Errno 7] Argument list too long
This is an OS related issue as i can read. Maybe splitting into multiple runs of coala over smaller ammounts of files would help?

[2017-02-05 22:28] #3260 closed

[2017-02-05 22:52] arvind-iyer opened #3704 "Improve emphasis of material in Newcomer's Guide"
There are too many "Notes" and "See Also" blocks all using the same pattern that subliminally make one(or atleast me) to just scroll past all of them.

Couple of ideas:
* Multipage guide (navbar, index/contents links on side so people can jump to page
* Different color schemes for different types of blocks used currently
* at least changing notes to important or something that indicates urgency/im

[2017-02-05 22:53] arvind-iyer commented on #3704
@sims1253

[2017-02-05 22:54] sils commented on #3461
Hey @rhemon @jayvdb can you respond to @Mixih s question? Got the same.

[2017-02-05 23:36] sims1253 commented on #3704
thank you :)

[2017-02-06 00:05] jayvdb commented on #3615
I think the next step is a cEP

[2017-02-06 00:36] rhemon commented on #3461
@sils @Mixih sorry I also have the same question why we use pyenv.
and the module name is pyenv

[2017-02-06 02:43] Mariatta commented on #3681
https://github.com/coala/coala/pull/3426 is merged already.

[2017-02-06 06:16] sils commented on #3615
webservices.coala.io now shows the "review count" which maps every user to https://api.github.com/search/issues?q=commenter:sils%20is:pr%20user:coala , i.e. it's rather stupid but it works and we can build a DB with all contributors within <1hr of time I think.

This is live shown on http://coala.io/#!/getinvolved

[2017-02-06 06:29] sils opened #3707 "Add CSSLint installation to circleci"
it's already happening in travis which we can't rely on ATM so we need to add this to the circle yml as well.

[2017-02-06 06:29] #3360 closed

[2017-02-06 06:29] #3637 closed

[2017-02-06 06:47] RohanVB commented on #3699
true. I just felt like it could be a newcomer issue.
Closed then.

[2017-02-06 06:59] #3699 closed

[2017-02-06 07:49] meetmangukiya commented on #2677
Does it not work even on changing color scheme ? @adrianzatreanu. It should probably work,  but I don't think user will change color scheme for just coala

[2017-02-06 09:40] damngamerz commented on #3707
@sils I would like to work on this issue.So, basically i have to add a dependency in circle.yml?

[2017-02-06 10:23] sils commented on #3707
yes

[2017-02-06 10:24] sils commented on #3707
then make sure that the coala build step in the circle ci doesn't show the error it does right now anymore, that's the goal

[2017-02-06 12:43] HitRam commented on #3544
@sils By commenting https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L191-L193 these lines, it didn't convert space into unicode dot but still the problem remains, it was still highlighted the same way!
<img width="623" alt="screen shot 2017-02-06 at 6 12 46 pm" src="https://cloud.githubusercontent.com/assets/19632768/22647510/e7f56a82-ec97-11e6-80b5-6e81e9d229b1.png"

[2017-02-06 13:48] sils commented on #3544
So maybe it is pygments?

On Feb 6, 2017 1:43 PM, "Hitesh Ramchandani" <notifications@github.com>
wrote:

@sils <https://github.com/sils> By commenting https://github.com/coala/
coala/blob/master/coalib/output/ConsoleInteraction.py#L191-L193 these
lines, it didn't convert space into unicode dot but still the problem
remains, it was still highlighted the same way!
[image: screen shot 2017-02-06 at

[2017-02-06 14:06] coala-bot opened #3708 "Refactor target list generation to a generator expression"
rather simple! difficulty newcomer

this one: https://github.com/coala/coala/pull/3178/commits/43a40fcfac4ea057c8c183253d375a2870306df1#diff-8ecc903ba7ecebebacc61f64149f8eb7R164 can be simplified

[code]

Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=589882c9de5049082292dd4f) by @sils

[2017-02-06 14:25] coala-bot opened #3709 "Look at `attrs <https://attrs.readthedocs.io/en/stable/>` to make Setting object unmodifiable in coala."
Opened via [gitter](https://gitter.im/coala/coala/?at=5898875b00c00c3d4f01a421) by @Udayan12167

[2017-02-06 14:26] Udayan12167 commented on #3709
`attrs <https://attrs.readthedocs.io/en/stable/>`

[2017-02-06 14:34] #3684 closed

[2017-02-06 14:40] sils commented on #3704
CC @Adrianzatreanu , docs lead

[2017-02-06 15:17] Makman2 commented on #3701
Problem is you may loose context when splitting up files^^

[2017-02-06 15:18] Makman2 commented on #3701
But it's definitely a limit in python / OS:
[code]

[2017-02-06 15:22] Makman2 commented on #3701
So we need a configuration file, where we can put an arbitrary amount of information.

[2017-02-06 15:23] Makman2 commented on #3701
Interesting, just tested it: It's a limit in Python, not the OS!
Bash supports as many arguments as needed, I generated a bash file with `echo 1 2 3 ...` until 1000000 (one million), and it echoes properly^^

[2017-02-06 16:32] ashwini0529 commented on #3544
I want to work on some other issue. Please unassign me this issue.

[2017-02-06 16:45] sils commented on #3544
you can use `cobot unassign` now

[2017-02-06 16:46] sims1253 commented on #3701
so then subprocess has a limeted amount of parameters you can give it? strange
If we could somehow give it directories instead of files that would maybe obscure the problem by shrinking the list length

[2017-02-06 16:50] Makman2 commented on #3701
but still we want to support passing in specific files, and if the user wants 10000+ specific files, then we have this problem again^^

[2017-02-06 16:54] ashwini0529 commented on #3544
cobot unassign

[2017-02-06 17:44] impmihai commented on #3701
maybe writing down the parameters to a temporary file and read them from there?

[2017-02-06 20:00] jayvdb opened #3712 "Bears with DistributionRequirement only run on Debian"
Due to forcing use of `Bear.check_prerequisites`, any Bear which has a `DistributionRequirement` will fail because only `apt_get` is defined.

`Bear.check_prerequisites` should recognise `NotImplementedError` as meaning the Requirement class is not able to be used on this system, or we need some other approach to coordinate that type of information.

The worse case is Windows, which wont have any

[2017-02-06 20:07] jayvdb opened #3713 "Bear.check_prerequisites should support multiple ways to obtain an executable/package"
bear REQUIREMENTS is a `set` used by `coalib.bears.Bear.Bear.check_prerequisites` to check that all dependencies are available.

`Bear.check_prerequisites` requires that they are all 'installed'.

In addition to problems like https://github.com/coala/coala/issues/3712 , it doesnt allow a Bear to define that there are multiple ways that an executable or package could be obtained.

https://gitlab.co

[2017-02-06 20:42] #3149 closed

[2017-02-06 23:32] jayvdb commented on #3713
For our current needs, we rarely need multiple requirements.
From memory,..
pyyaml is the main case of needing two different requirements, as it is combined with an external linter written in another language.
The clang bears also require an external lib, a python wrapper, and then one also needs an additional python package.
There are also a few bears that need several requirements in one package

[2017-02-06 23:33] jayvdb commented on #3713
A very quick solution is for REQUIREMENTS to be either a set or a list. If it is a set, only one of the members is required; a list requires them all, in the given order.

Also if we add pyyaml as a core requirement of coala-bears, it becomes implicitly available for all bears.

Finally we can create a MultiNpmRequirement for the bears which need multiple npm packages, which would do a more effici

[2017-02-06 23:34] sils commented on #3713
@jayvdb valid points, in addition we have the ORring of reqs which is unsupported yet - maybe we could make a very small cEP defining this completely for those cases? Might help getting a clear plan before starting to code and waste time on things that may not work out conceptually.

[2017-02-06 23:40] sils commented on #3655
@impmihai tries to fix? Or fixes?

[2017-02-06 23:40] sils commented on #3655
either it relates to it, i.e. goes into the direction, or it fixes it can you decide? ;)

[2017-02-06 23:58] impmihai commented on #3655
@sils it is my first major contribution, i was a little scared to say it fixes. 😅

[2017-02-07 00:00] jayvdb commented on #3713
Or'ing can be done using https://gitlab.com/coala/package_manager/issues/27

[2017-02-07 01:41] yukiisbored commented on #3461
pyenv makes it easier for macOS users to install Python and manage multiple python versions.

[2017-02-07 02:16] jayvdb commented on #3461
Virtualenv is mostly python, so it relies on the (often undesirable) host python in order to set up a new python env, and has lots of bugs as a result, especially in platforms the developers dont use or test releases against, and typically the win CI is ignored and osx CI doesnt exist.

Pyenv is just bash, with copious tests, so it is a more sensible platform for setting up a python env.
I have pr

[2017-02-07 04:47] adtac commented on #3492
This is because we'd need to flush the cache to get 100% coverage. Remove your coala cache and retry - you should get 100% :)

[2017-02-07 05:19] jayvdb opened #3715 "Require 100% coverage on Appveyor"
With the dependency management code moved to a separate package, there should be very little OS specific code.
Where it exists, the coverage tools can be configured to excempt those parts of the codebase, or `#pragma nocover` can be used.

[2017-02-07 06:32] yash-nisar commented on #3697
@meetmangukiya , Since this is likely to e a newcomer issue, I would like to be unassigned. :)

[2017-02-07 07:06] meetmangukiya commented on #3697
@Makman2 do you agree on having this issue, then I'd remove the status labels and make it a difficulty/newcomer ?

[2017-02-07 08:13] Shade5 commented on #3492
`coala --flush-cache`
followed by
`py.test -k Caching --cov | grep CachingUtilities.py ` ?

Still not 100% for me

[2017-02-07 09:20] sils commented on #3461
do we want to refactor all docs to use pyenv then? I guess virtualenv is
more popular though but people who already use it can do that as well
ignoring our docs as they know it.

[2017-02-07 12:39] incorrectusername commented on #2724
Is there any bear which looks for naming convensions? Like LineLengthBear checks for line length.
If there is such bear than please do tell , i can do changes to it. Or is there any other way this can be done?

[2017-02-07 14:23] aptrishu commented on #3668
Fixed through https://github.com/coala/coala/pull/3680.

[2017-02-07 14:23] #3668 closed

[2017-02-07 14:43] deewanrd commented on #3258
@Mariatta assign me this issue.

[2017-02-07 15:45] jayvdb commented on #3461
I havent tried pyenv on bash for Windows, and I expect it will also have bugs.

[2017-02-07 15:46] Makman2 commented on #3697
Not sure... If people write their own bears it's a bit confusing^^

[2017-02-07 15:51] rhemon commented on #3461
so should I  just say in https://github.com/coala/documentation/pull/381 and https://github.com/coala/coala/pull/3471 that
"We find pyenv easier to work with as it is just bash, with copious tests, so it is a more sensible platform for setting up a python env. However you can use any that suits your preference, e.g. `virtualenv`." ?

[2017-02-07 16:09] Makman2 commented on #2724
Yes the `FilenameBear`, but you may see that this is for filenames only ;)

This issue is more about refactoring those names, we don't want to prohibit those names. Just grep for `def __.*?__`.

[2017-02-07 16:19] meetmangukiya commented on #2724
I don't think we need the `?` in the grep regex :/ ?

[2017-02-07 16:54] Makman2 commented on #2724
just to make it non-greedy @meetmangukiya ;) But right it's not really necessary :)

[2017-02-07 17:29] incorrectusername commented on #2724
We need to prevent use of `__` in future or change `__` to `_`(or only names)?
How would you approach this?
Till what I have understood is that we can  use  regex to prevent future use of `__`   . But there's no bear which scans the file to check for appropriate word.

[2017-02-07 17:38] sigmapie8 commented on #3708
unable to track this file... can someone tell me how to?

[2017-02-07 17:49] Makman2 commented on #2724
Just change.

[2017-02-07 17:50] Makman2 commented on #3708
git grep for the content^^

[2017-02-07 18:15] incorrectusername commented on #2724
Okay , one last question ,in all of the files or only this one(Settings) ?😄
Can anyone assign this to me.

[2017-02-07 18:16] Makman2 commented on #2724
all

[2017-02-07 19:58] ashwini0529 opened #3716 "Link fix in https://github.com/coala/coala/blob/master/docs/Developers/Development_Setup.rst"
Fix newcomers guideline link in https://github.com/coala/coala/blob/master/docs/Developers/Development_Setup.rst#repositories
<img width="892" alt="screen shot 2017-02-08 at 1 28 07 am" src="https://cloud.githubusercontent.com/assets/8419333/22708862/dfb4011a-ed9d-11e6-8715-c5b33d50c7f7.png">

[2017-02-07 20:51] ashwini0529 commented on #3544
We can make a config file where all the colors related to Console Interaction can be listed.
It would be very easy then to fix such issues.

[2017-02-07 20:55] Makman2 commented on #3544
Problem is that even with right colors, the piece of text that is highlighted is wrong^^ + we want to avoid doing stuff from pygments on our own. Don't reinvent the wheel ;)

[2017-02-07 20:58] ashwini0529 commented on #3544
What should be the possible solution then?
I've been thinking from quite a long time but couldn't come up with an idea.
All themes need different highlighting colors which is like not an easy task.

[2017-02-07 21:39] Makman2 commented on #3544
ah okay you mean the different color schemes. Yes that would be okay, but this issue is not about color schemes but to fix this wrong highlighting^^

[2017-02-07 21:53] jayvdb commented on #3712
I believe https://github.com/coala/coala/pull/3526 will make this bug much more prevalent.

[2017-02-07 22:20] jayvdb commented on #3668
How does upgrading setuptools fix it?  Was there a new setuptools release that solved the problem?

Even so, that commit only fixes our CI.  We now need to at least update our documentation to say that is required for any .

[2017-02-07 22:24] #3707 closed

[2017-02-07 22:35] jayvdb opened #3717 "Coverage.py warning: Could not parse Python file"
We are seeing a lot of "Coverage.py warning: Could not parse Python file .....py"  on Travis only.

e.g.
https://travis-ci.org/coala/coala/jobs/199030440#L514

It may be a problem with codecov-bash, or with coverage.

[2017-02-07 23:18] jayvdb opened #3718 "Use codecov-python"
Running a fetched uncached unversioned bash script is unreliable and slows down the builds

https://github.com/codecov/codecov-bash/issues/14

Also the bash script [isnt supported on Windows](https://github.com/codecov/codecov-bash/issues/56), so we would need to use codecov-python on Appveyor anyway for https://github.com/coala/coala/issues/3715, and that would be best done by adding it to `test-

[2017-02-07 23:20] aptrishu commented on #3668
Actually, upgrading pip is what solved it. setuptools can't build itsellf from source dist anymore from the latest version. So, recent version of pip is needed that supports wheel installs of setuptools.

[2017-02-07 23:42] jayvdb commented on #3717
This also occurs on the Travis build of https://github.com/coala/coala/pull/3719

https://travis-ci.org/coala/coala/jobs/199428948#L491

It doesnt happen on the Python 3.4+ builds

So this is caused by the UNSUPPORTED=true builds.

[2017-02-08 01:09] Mariatta opened #3720 "Add git cherry-pick in Developer's Guide"
We need to provide guidance on how to cherry-pick changes.
It should become part of the developer's guide under git basics.

[2017-02-08 01:19] Mixih commented on #3720
Hmm, it's really more of a maintainer usecase that general users will not find much use of(unless they need to move things cross branch). It might be better to just link a guide.

[2017-02-08 01:21] Mariatta commented on #3720
Since developers might one day become a maintainer, maybe it's still worth documenting :thinking: ?
Or maybe there should be a separate Maintainer's Guide :)

[2017-02-08 01:57] yukiisbored commented on #3461
@sils I don't think it's a good idea to replace virtualenv with pyenv. Pyenv is generally used for managing multiple Python version without the need of root. Pyenv is *not* made to handle virtual or isolated environments, in fact it [requires virtualenv](https://github.com/yyuu/pyenv-virtualenv) to do that.

I think it's preferable to have the docs to suggest primarily the virtualenv root. Pyenv s

[2017-02-08 06:35] dracarys09 commented on #3020
@adtac but doing this change will result in displaying info like
```param_name: info```
instead of
```param_name: info (Optional, defaults to <value>)```

because in ```ConsoleInteraction.py``` we are printing it that way...

[2017-02-08 07:43] #3592 closed

[2017-02-08 18:19] #3718 closed

[2017-02-09 08:22] Techievena commented on #3542
Should we append the line https://github.com/coala/bear-docs/blob/master/generate#L177 with `git push origin pre` and set a condition to merge `pre` with `master` only when a release occurs?

[2017-02-09 09:53] #3553 closed

[2017-02-09 09:53] #3715 closed

[2017-02-09 11:49] coala-bot opened #3726 "Create NuGet package for llvm 3.4"
llvm 3.4 is needed by coala, and is installed in the Appveyor build.
It should be in downloaded for Appveyor using NuGet, which can be cached, and it is also useful for users to quickly set up their machine

Opened via [gitter](https://gitter.im/coala/coala/?at=589c574aaa800ee52c7179b1) by @jayvdb

[2017-02-09 20:01] jayvdb commented on #3554
Solved as part of https://github.com/coala/coala/pull/3723

[2017-02-09 20:01] #3554 closed

[2017-02-09 20:20] Mixih commented on #3253
@Cygnus32 unassigning due to inactivity

[2017-02-09 20:33] dracarys09 commented on #3292
@tibi77  still working on this ?

[2017-02-09 21:06] dracarys09 commented on #3020
@adtac I've updated the PR check this out... https://github.com/coala/coala/pull/3721

[2017-02-09 21:22] j0ack commented on #3093
Hi, it's actually not that hard to create debian packages from python sources. You can eventually use [dh-virtualenv](https://github.com/spotify/dh-virtualenv) to embed all the dependencies in your package. I think pyflakes and bandit shouldn't be a problem then.

[2017-02-10 03:12] Techievena opened #3730 "coafile: max_line_length value different for coala and coala-bears repository"
The value of attribute `max_line_length` must be fixed to an unique value in all repositories of coala.

[2017-02-10 04:40] jayvdb commented on #3093
Do you mean we could have packages for the versions we want?

Other than that, the main problem wrt pyflakes is vs radon: https://github.com/coala/coala-bears/issues/1388

[2017-02-10 07:21] j0ack commented on #3093
@jayvdb Yes the purpose of using dh-virtualenv is to embed your pypi dependencies in your debian package. You don't have to bother if the debian related packages are up to date or not.
Concerning pyflakes shouldn't we fix the version used directly in the REQUIREMENTS file ?

A question remains, where would you want to host your repository and which technology would you want to use ?

[2017-02-10 07:27] souravbadami commented on #3708
@sils -- What kind of simplification are we expecting here ?

[2017-02-10 07:40] ashwini0529 commented on #3720
Separate maintainers guide sounds good. @Mariatta

[2017-02-10 07:42] RohanVB commented on #3730
Seems like this is an issue to fix in the coala-bears repo since it's already 80 chars in coala/coala.

[2017-02-10 09:12] Techievena commented on #3730
There has to be a discussion on what value we need for `max_line_length` in coala or  coala-bears. :smiley:

[2017-02-10 11:47] jayvdb commented on #3093
@j0ack , see post above about hosting the apt repo on GitHub.

[2017-02-10 16:13] Makman2 commented on #3708
@souravbadami please read up on *generator expressions* in python

[2017-02-10 16:43] #3664 closed

[2017-02-10 18:25] Mariatta commented on #3720
Ok I will close this and create another issue about creating Maintainer's Guide :)

[2017-02-10 18:25] #3720 closed

[2017-02-10 18:31] Mariatta opened #3731 "Create coala Maintainer's Guide"
We have extensive Developer's Guide, but one day, the developers may become coala Maintainers! :tada: Yet, we don't currently have a proper documentation for the maintainers.

I think we should start one :)

Not sure where this should reside. Here, or another repo on it's own?
Here are some things that should be included in coala Maintainer's Guide, there could be more.

1. Pledge not to press the

[2017-02-10 18:53] Makman2 commented on #3726
If it's installed, why we should cache it again? :O

[2017-02-10 19:00] Techievena commented on #3726
To prevent appveyor to download it in every build. @Makman2

[2017-02-10 19:01] Makman2 commented on #3726
but it's already on the appveyor machines, isn't it? I recall that they serve their VM with LLVM^^

[2017-02-10 19:07] Techievena commented on #3726
@Makman2 Perhaps its different from travis and circle it won't cache automatically. I have no idea about this :sweat_smile:

[2017-02-10 19:21] Makman2 commented on #3726
Nvm, AppVeyor has LLVM 3.9 by default, and we need 3.4 👍

[2017-02-10 22:10] coala-bot opened #3733 "Add new output-format `diff` to @linter"
Some executables like https://github.com/myint/docformatter output only the `diff`, so we need a output format to handle such outputs.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=589e3a5121d548df2cf268fa) by @satwikkansal

[2017-02-10 22:49] Mixih commented on #3681
Release is done

[2017-02-10 22:49] #3681 closed

[2017-02-10 22:51] Mixih commented on #3411
I'm marking this upstream as that seems like the state atm.

[2017-02-11 04:18] sigmapie8 commented on #3708
It's nothing we just have to:
targets = [item for item in list(cli_sections['default'].contents.pop('targets', ''))]

instead of the code

[2017-02-11 05:18] meetmangukiya commented on #3411
If one wants to, would it be to gitmate1 or gitmate2 ?

[2017-02-11 07:00] aptrishu commented on #3733
should be easy , directly send the diff to result class..

[2017-02-11 07:06] aptrishu commented on #3733
we should maintain only the basic two formats - regex and corrected,
SO in corrected output production check if the output is diff kind then send it unaltered and if it is modified file then compute the diff (as it is done ATM).
@Makman2 @satwikkansal

[2017-02-11 11:43] arush0311 commented on #3219
@sils @jayvdb Is this issue still relevant?

[2017-02-11 13:35] Makman2 commented on #3733
how do you want to send it unaltered to the result class? Our `Diff` is our own class, and we don't have parsers for unified diff^^ Even `difflib` has no parsers.

[2017-02-11 13:36] Makman2 commented on #3733
that's what the `output-format` is exactly for :) Don't make it complicated by adding flags to `corrected`

[2017-02-11 18:50] #3617 closed

[2017-02-11 23:44] ashwini0529 commented on #3730
You mean in `coala` and `coala-bears` right?

[2017-02-11 23:58] ashwini0529 commented on #3619
@AlexandruGhimisi Are you still working on it?

[2017-02-12 02:59] Techievena commented on #3730
Yup!!! @ashwini0529

[2017-02-12 07:09] ashwini0529 commented on #3730
I would like to work on this but how do I proceed? They're two different repositories and the `max_line_length` needs to be discussed as well

[2017-02-12 07:15] Techievena commented on #3730
@ashwini0529 You need not work on this issue. Once the value of `max_line_length` is discussed this will turn into a newcomer issue where you just got to change the value of `max_line_length` in coafile

[2017-02-12 09:19] nsurampu commented on #3666
I found one instance of coala-analyzer and replaced it with coala. Now it needs to merged on gitlab

[2017-02-12 16:32] Makman2 commented on #3666
Migrated to https://gitlab.com/gitmate/IGitt/issues/20

@nsurampu you can reference your commit in your GitLab MR to this GitLab issue :+1:

[2017-02-12 16:32] #3666 closed

[2017-02-12 17:11] adhikasp commented on #3131
This would be easy addition *if* https://github.com/coala/coala/pull/3337/files merged (the ability to append value in coala configuration).

[2017-02-12 17:13] sils commented on #3131
@adhikasp that functionality was already merged, that PR is just a simplification of the confparser which it is using.

[2017-02-12 18:21] adhikasp commented on #3042
Where should I write the checking function? Is it make sense to add it in [Collectors.py collect_bears()](https://github.com/coala/coala/blob/master/coalib/collecting/Collectors.py#L152)?

I think i'll write it like this
[code]

[2017-02-12 21:04] coala-bot opened #3736 "Investigate http://hypothesis.works/ for testing"
Hypothesis is a well designed testing framework, allowing very literate test writing.  Need to ensure it works *well* with pytest, works on all platforms supported by coala, and implement it in a limited part of the coala test suite so the maintainer team can evaluate it.

Opened via [gitter](https://gitter.im/coala/coala/?at=58a0cdf400c00c3d4f2d0ccc) by @jayvdb

[2017-02-12 22:23] Makman2 commented on #3736
sounds interesting :+1:
(hereby a subscribe to this thread :P)

[2017-02-12 22:25] Makman2 commented on #3042
maybe we should write it inside the `bears` module in `coala_bears`, as coala itself is in fact stand-alone^^
so like
[code]

[2017-02-12 22:33] jayvdb commented on #3666
Gitlab was down when this was raised, and i was auditing all repos.

[2017-02-13 09:52] satwikkansal commented on #3733
IMO we can create a `@classmethod` `from_unidiff(original_file, diff_file)` to create our `Diff` object from unified diff output. There are two possible ways I can think of doing so
1.  Run `patch -p1 < diff_filename` -->  now initialize `updated_file = open(original_filename)` --> Create the `Diff` object using `from_string_arrays` function already present in our `Diff` class.
2. The other approa

[2017-02-13 13:44] yash-nisar opened #3737 "Change Fixes to Closes in Writing_Good_Commits.rst"
I have noticed that a lot of newcomers, without reading the details on https://github.com/coala/coala/blob/master/docs/Developers/Writing_Good_Commits.rst directly copy the format of the commit given in the example. However, most of the issues resolved are not bugs for which `Closes` should be used. I think we should change `Fixes` to `Closes` given in the examples on https://github.com/coala/coal

[2017-02-13 14:53] Makman2 commented on #3733
Use a library, don't reinvent the wheel. Then we don't have to deal with implementation details.

[2017-02-13 15:15] psukys commented on #3717
Can confirm that the same happens with coverage.py

[2017-02-13 20:17] #2693 closed

[2017-02-13 22:04] Nosferatul commented on #3737
We should explain why we use Fixes/Closes

[2017-02-13 22:15] Nosferatul commented on #3154
@andreiraduta1101 are you still working on this?

[2017-02-13 22:19] Nosferatul commented on #3316
unassigned due to inactivity

[2017-02-13 22:23] Nosferatul commented on #3409
So, this should be closed?

[2017-02-13 23:28] maykillmore commented on #3696
are you still working on this?

[2017-02-14 00:33] impmihai commented on #3701
Ok, looks like the old version of CPD that circleCI has does not have the --filelist option that takes a file containing the filelist to run on. We need to update PMD on CI, am i right?

[2017-02-14 13:14] underyx opened #3741 "Benchmark coala execution time on sample projects regularly and publish the results"
Something like this http://speed.pypy.org/

[2017-02-14 14:38] sils commented on #3741
@srisankethu you had coala set up on a project? Could you post it here?

We needa list of projects, then I think we can make this happen quite quickly implementing an app serving the data to a static github pages app from webservices.coala.io

[2017-02-14 15:13] rahulnitdgp commented on #3696
No

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=rmodi719@gmail.com&idSignature=22>

On 14 February 2017 at 04:58, maykillmore <notifications@github.com> wrote:

[2017-02-14 17:24] yashtrivedi96 commented on #3488
what is documentation comment parser?

[2017-02-14 17:39] Makman2 commented on #3409
Seems like nobody has another meaning and I convinced everyone :)

[2017-02-14 17:39] #3409 closed

[2017-02-14 17:42] vreethesh commented on #3409
Cool :+1:
@Makman2 Job done :)

[2017-02-14 19:41] Makman2 commented on #3488
It parses documentation comments ;)

[2017-02-14 19:57] userzimmermann commented on #3131
@sils Anyway... @adhikasp Thanks for promoting #3337 :)

[2017-02-14 21:46] prateeksingh0001 commented on #3737
Everytime I repush my code, for the PR, I face a certain error "Shortlog of HEAD commit does not match given regex: ([^:]|[^:]+[^ ]: [A-Z0-9].*)" and I am not able to figure out as to how to overcome it. I need help for that.

[2017-02-14 22:21] sims1253 commented on #3292
unassigning due to inactivity. If you want to pick this up again, ping us in the chat.

[2017-02-15 03:34] rhemon commented on #3461
then I think we should have pyenv just in MAC_Hints.rst and mention that using this is easier in mac with the above reason
and in Development_Setup.rst I replace pyenv with virtualenv and just add a note in the end saying, that developers are free to use any that suits their preference.
should I do that? once we decide what we are adding, I will do the modifications in https://github.com/coala/doc

[2017-02-15 09:03] sils commented on #3131
@userzimmermann not true? I didn't mean to say it's not useful, just saying that this issue isn't blocked which it isn't right?

[2017-02-15 10:27] incorrectusername commented on #2775
How to check if the changes i did are correct?

[2017-02-15 10:30] Nosferatul commented on #2775
enter in a venv and use pip3 install -e <path_to_your_local_repo>. More details -> http://api.coala.io/en/latest/Developers/Development_Setup.html

[2017-02-15 11:33] #3258 closed

[2017-02-15 11:50] jayvdb opened #3745 "pip install wheel with extra alldeps fails on pip 6.0.7"
Using pip 6.0.7 on the Travis precise builds fails.

[code]
https://travis-ci.org/jayvdb/coala-bears/jobs/201824404

A similar problem has been raised before at https://github.com/coala/coala/issues/1852#issuecomment-221476930

We can at least include a minimum version in `test-requirements.txt`

[2017-02-15 13:49] yashtrivedi96 commented on #3488
@Makman2 so there is a bug in module-coalib.bearlib.languages.documentation.DocumentationComment.
right?

[2017-02-15 15:42] Makman2 commented on #3488
Actually I think it's not about `coalib.bearlbi.languages.documentation.DocumentationComment`

@Naereen @Shade5 @sils could you clarify the problem again?

[2017-02-15 16:35] yashtrivedi96 commented on #3488
yeah i need some clarification on this issue

[2017-02-15 17:17] rhemon commented on #3461
or do we also use virtualenv in MAC_Hints.rst ?

[2017-02-15 17:44] rhemon commented on #3461
maybe we can have instructions use virtualenv in both place, and as yuki said, in Mac_Hints I could add a bit saying that an alternative option could be pyenv and maybe link it to their repository so if macOS users want they could use that?
also do we use virtualenv or [pyvenv/`python -m venv`](https://docs.python.org/3/library/venv.html) if we use venv (which is i think for people with python 3.3

[2017-02-15 18:13] arnab1896 commented on #3639
@rpau ; i'm having issues in getting pmd installed.
Any suggestions?

[2017-02-15 19:57] AGZ98 commented on #3696
Can someone assign this to me, please?

[2017-02-15 20:20] Naereen commented on #3488
See [Pull 27](https://github.com/coala/bear-docs/pull/27) and [the discussion above, from here](https://github.com/coala/coala/issues/3488#issuecomment-271083120)

[2017-02-15 20:32] sils commented on #3488
The issue from @Naereen was and is very clear. Documentation comments aren't getting rendered correctly on the website.

About the *cause*:

We are parsing doc comments because we want to extract the documentation for every parameter. DUrig this process we're normalizing newlines and that's causing the docs to break so we aren't supposed to do that anymore.

[2017-02-15 22:35] Makman2 commented on #3488
Aaahh the website, that was nowhere mentioned actually^^

[2017-02-15 22:37] Makman2 commented on #3639
@arnab1896 you can use our coala docker image: `coala/base`

[2017-02-15 23:43] jayvdb commented on #3745
pip 7.0 [works](https://travis-ci.org/jayvdb/coala-bears/builds/201841184)
pip 6.0.8 [fails](https://travis-ci.org/jayvdb/coala-bears/builds/201842749)

 setuptools 0.9.8 [fails](https://travis-ci.org/jayvdb/coala-bears/jobs/201857550#L2701) and 7.0 [fails](https://travis-ci.org/jayvdb/coala-bears/jobs/202067566)
with
[code]

[2017-02-16 00:33] jayvdb commented on #3745
setuptools 8.0 works for all other versions with coala-bears, but isn't compatible with Python 3.6

[code]
https://travis-ci.org/jayvdb/coala-bears/jobs/202073297#L2640

[2017-02-16 02:12] yashtrivedi96 commented on #3488
Thanks a lot!

[2017-02-16 03:16] arnab1896 commented on #3639
I'm sorry, I didn't understand what the coala/base in docker is.
Could you please explain :)

[2017-02-16 03:44] jayvdb commented on #3639
@rpau , is your code in a public or private repository?

[2017-02-16 04:01] coala-bot opened #3747 "coala.io/commit should mention how to amend a commit message"
Possibly link to http://api.coala.io/en/latest/Developers/Git_Basics.html#follow-up
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58a5240421d548df2c1660d3) by @jayvdb

[2017-02-16 04:15] yukiisbored commented on #3461
coala doesn't even support <=3.3
https://travis-ci.org/coala/coala/jobs/202105676#L349

[2017-02-16 04:17] yukiisbored commented on #3461
AFAIK, on most distros `virtualenv` just works. I don't see a reason to replace that. Also, I suggest making pyenv as a alternate route because `virtualenv` has more support. I may be wrong on this, because I haven't use a macOS machine in a long time especially for Python programming.

[2017-02-16 07:18] jayvdb commented on #3461
pyenv is for anyone whose OS/distro provided Python is not supported by coala; it installs multiple separated versions of Python.

virtualenv is a layer on top of Python. It provides separated environments of the same version of Python.

[2017-02-16 08:21] jayvdb opened #3748 "Undeclared dependency on setuptools"
coala uses `pkg_resources`, which is part of `setuptools`, which is not a declared dependency.

Testing on setuptools 8.0 results in failures:

[code]
https://travis-ci.org/jayvdb/coala/jobs/202070923

[2017-02-16 08:27] jayvdb commented on #3748
`VersionConflict.req` was added in https://github.com/pypa/setuptools/commit/23d5e4a81a61c , v 11.1 - Jan 2015

[2017-02-16 08:31] jayvdb commented on #3748
However as late as setuptools v16 `import pkg_resources` fails on Python 3.6, echoing problems seen at https://github.com/coala/coala/issues/3745#issuecomment-280189841

See https://travis-ci.org/jayvdb/coala/jobs/202160915#L438

[2017-02-16 09:21] jayvdb commented on #3748
Traced the pkg_resources vs Python 3.6 problem down to https://github.com/pypa/setuptools/issues/378 , which means setuptools 17 is the first version that works on Python 3.6.

[2017-02-16 11:28] userzimmermann opened #3749 "coala exits with 0 when bears do not fulfill all requirements"
This makes CI look fine even though bears could not run and raised according `[ERROR]` messages. Just look at https://travis-ci.org/OpenNetworkingFoundation/CENTENNIAL/jobs/202208913

[code]

@sils

[2017-02-16 11:47] Nosferatul commented on #3154
unassigned due to inactivity

[2017-02-16 11:56] sils commented on #3749
duplicate of https://github.com/coala/coala/issues/3087 , patches very welcome!

[2017-02-16 11:56] #3749 closed

[2017-02-16 13:09] userzimmermann commented on #3087
@sils @Makman2 Also certain `[WARNING]`s should cause non-zero exit codes, like when `linter` executables failed to run:

https://travis-ci.org/OpenNetworkingFoundation/CENTENNIAL/jobs/202225025

[code]

Or such `[WARNING]`s should even better be turned into `[ERROR]`s as well.

[2017-02-16 13:10] jayvdb commented on #3745
For the same reason as https://github.com/coala/coala/issues/3748#issuecomment-280277455 , pip 7.1 is the first to vendor `setuptools`' `pkg_resources` 17+, so pip 7.1 is the first to work on Python 3.6.

See also https://github.com/pypa/pip/pull/2894#issuecomment-280278521

[2017-02-16 13:15] sils commented on #3087
They should be turned into errors. Warnings are just warnings about potentially wrong things.

[2017-02-16 13:40] jayvdb opened #3753 "Request wheels for all upstream Python packages"
The following do not have Windows wheels:

[code]
https://ci.appveyor.com/project/coala/coala/build/1.0.6078/job/y30mactlfym0b397#L68

And a little harder to see, the following do not have Unix wheels for Travis:
* coverage
* sphinx-argparse (not used by Appveyor builds)

[2017-02-16 14:26] j0ack commented on #3093
Concerning the maintainer email should I use mine or maybe there is a mail for the coala's dev team ?

[2017-02-16 16:02] jayvdb commented on #3753
@Siddhartha1234, this is an upstream task. If you want to do this, you need to talk with the maintainers of each of those packages.

[2017-02-16 16:14] coala-bot opened #3754 "Mention coala.io shorturl on each doc page"
e.g. see shortcuts box on right side of http://enwp.org/WP:W2W

Opened via [gitter](https://gitter.im/coala/coala/?at=58a5cfe5de50490822d7c7ad) by @jayvdb

[2017-02-16 16:15] coala-bot opened #3755 "Mention "Adding CI" in Newcomers guide"
It should be mentioned in step ~~4~~ 5

Opened via [gitter](https://gitter.im/coala/coala/?at=58a5d025872fc8ce6244434a) by @jayvdb

[2017-02-16 16:21] jayvdb commented on #3753
First step would be checking if they have any issues already raised about wheels, or pending PRs to support wheels, or unreleased changes which allow wheels in the next release.

If they don't, raise an issue.

[2017-02-16 16:48] jayvdb commented on #3748
Note, pyroma (a bear dependency) depends on `setuptools` without any version : https://bitbucket.org/regebro/pyroma/src/13d98d66433061eae5ac5f56216887ebc5547f61/setup.py?at=default&fileviewer=file-view-default#setup.py-32

[2017-02-16 18:08] Makman2 commented on #3639
@arnab1896 please read up on how to use docker and what it is :+1:

[2017-02-17 06:10] adhikasp opened #3756 "Taste documentation in aspesct.Root is confusing"
[bearlib/aspects/__init__.py](https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/__init__.py#L70)
[code]

I found those docstring example rather confusing because Trumpscript and Greatness is not a ~real~ well known language and metrics. There are many other possible example that more easy to understand like use Java language with Indentation taste.

[2017-02-17 07:44] Trailblazerr1 commented on #3754
Hey,
There are about 21 shortcuts as mentioned [here](https://github.com/coala/documentation/issues/252).
Do all these need to be on doc page? Please elaborate the issue.

[2017-02-17 10:27] NiklasMM commented on #3087
I looked into this a little. Do you think the following is a good idea:

* Extend `LogPrinter` to count the number of times `err` is called.
* In `run_coala` check that number and use a non-zero exit code if it is not 0

This could be extended to support a `strict` mode, in which warnings also lead zu a non-zero exitcode, by simply also counting the number of calls to `warn`

[2017-02-17 10:39] sils commented on #3087
we cannot use LogPrinter as it's deprecated, we have to pick up on python
builtin logging as we're not using logprinter in some places. There should
be a huge comment on top of logprinter explaining that, if it'snot we
should make an issue.

[2017-02-17 12:51] NiklasMM commented on #3087
Right, so I guess we should add an new `Handler` to our logging config, which does nothing but counting warings and errors. And then to move forward with the deprecation of LogPrinter, we should forward all calls to it to the logging module?

[2017-02-17 13:06] sils commented on #3087
yes. The LogPrinter already forwards all callls to builtin logging so no
changes needed there.

[2017-02-17 13:42] aptrishu commented on #2377
@fneu @sils @abhsag24
IMO every comparison other than equality (which should always return False in this case) should emit an error, after all at the top level we are comparing `AbsolutePosition` and `SourcePosition`.
SourcePosition cares about the file while AbsolutePosition has nothing to do with file (It only cares about text and pos).
So, any comparison should not be possible.

[2017-02-17 16:31] sgsh123 commented on #3747
Hi, I would like to start contributing. Please can this issue be assigned to me?

[2017-02-17 17:06] aptrishu commented on #3747
Hey @sgsh123, Welcome :) It's great that you want to contribute.
Could you get an invitation to this org first ?
at our channel (https://gitter.im/coala/coala)
Just say "Hello World" there.. ;)

[2017-02-17 19:16] sgsh123 commented on #3747
Hii,
Can I be assigned to this issue now?

[2017-02-17 19:18] yash-nisar commented on #3747
You can assign issues to yourself by our bot `cobot`. Try the `cobot help` on our channel for a list of things our bot can do. :)

[2017-02-17 19:23] mamakancha commented on #3755
I would like to get this issue assigned

[2017-02-17 20:30] satwikkansal commented on #3755
@mamakancha Please you can use `cobot` on our gitter channel to assign yourself :smile:

[2017-02-18 03:29] jayvdb commented on #3754
Each doc page should mention the shortcut for that page.

On Fri, 17 Feb 2017 14:44 Anurag kushwaha <notifications@github.com> wrote:

[2017-02-18 13:55] #3747 closed

[2017-02-18 13:56] adhikasp commented on #2283
Possible to fix along with #3131, ignoring non relevant files.

[2017-02-18 17:36] damngamerz commented on #3182
Im able to reproduce this issue in my local system.I was trying to solve it by using libclang-py3-3.6.0.But it throws another exception.With 27 Tests failed and majority of it has.
[code]
what does it mean any other way to solve this issue.

[2017-02-18 18:49] nemaniarjun commented on #3087
This is possible using the method defined here:
http://stackoverflow.com/questions/30059477/python-logging-how-to-check-if-logger-is-empty
I could help set this up, but not much interested in this as doing too much of `logging` issues since some time.

[2017-02-18 20:47] aptrishu commented on #2377
Also I'm getting this output right now.
[code]

[2017-02-18 22:21] yash-nisar opened #3769 "Result.py: Preserve the order of arguments"
While going through https://github.com/coala/coala/blob/master/coalib/results/Result.py#L68, I noticed that the docstring params were in the order of the arguments in some functions except `message_arguments`. I think the order should be preserved since a user will have a tendency to check for docstring params in the order of arguments specified.
difficulty/newcomer

[2017-02-19 02:39] adhikasp commented on #3730
Note that #3487 is discussing about `max_line_length` too.

[2017-02-19 06:39] yash-nisar opened #3770 "Testing_Bears.rst: Enclose result in []"
In Example 3 on https://github.com/coala/coala/blob/master/docs/Developers/Testing_Bears.rst, the expected result(list) is passed as a parameter to `self.check_results()`. The expected result ie. `Result.from_values()` is a list and therefore it should be enclosed in `[]`
difficulty/newcomer

[2017-02-19 07:46] aptrishu commented on #2377
How about we `generate_ordering` for `AbsolutePosition` as well?

[2017-02-19 12:04] sils commented on #3042
coala searches for the registered entrypoint of the bears, maybe you can do some check at that stage

[2017-02-19 13:49] coala-bot opened #3771 "Add is_important flag in Bear Class"
This would help in collecting and filtering important bears when required.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58a9a27b1465c46a5685cc8b) by @satwikkansal

[2017-02-19 17:13] ashwini0529 commented on #3731
I didn't understand 1st point. 😕

[2017-02-19 18:55] #3716 closed

[2017-02-20 15:48] adtac commented on #3771
I don't particularly think this is a good idea. Why would a bear author *not* flag a bear as important? I think bear importance is a coala-quickstart only feature and it should be left there.

[2017-02-20 19:47] Makman2 commented on #3771
Yeah how do we quantify importance? I also disagree with this feature^^

[2017-02-20 19:50] Makman2 commented on #3771
From @sils (on https://github.com/coala/coala/pull/3772):

[2017-02-20 19:54] Makman2 commented on #3771
I would call it `FEATURES`/`FEATURED_FOR` instead of `RECOMMENDED_FOR` then^^

[2017-02-20 19:55] Makman2 commented on #3771
But still it's quite subjective what's featured/recommended and what not^^

[2017-02-20 20:21] sils commented on #3771
Ideally we get data on what Bears people use most and activate those by
default

On Feb 20, 2017 20:55, "Mischa Krüger" <notifications@github.com> wrote:

But still it's quite subjective what's featured/recommended and what not^^

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala/issues/3771#issuecomment-281168436>,

[2017-02-20 20:29] Makman2 opened #3774 "Testing_Bears.rst: Properly format "Understanding through examples""
Inside section `Understanding through examples`:

- Inside code example:
  - Enclose `max_number_of_lines` in double backticks instead of double quotes

  - > `if(len(file)>max_number_of_lines):`

    improve by adding spaces and remove redundant braces:

    `if len(file) > max_number_of_lines:`

  - > Detects if a file has more than "max_number_of_lines" lines

    Add a period at end of sentenc

[2017-02-20 20:34] Makman2 commented on #3731
@ashwini0529 The rebase button that appears on a PR that is out of sync ;)

[2017-02-20 20:36] Makman2 commented on #3730
Could you point to some different values?

Also coala has nothing to do with the `max_line_length` setting except that it uses it. The bears are responsible for consistent defaults^^

[2017-02-20 21:14] Makman2 commented on #3756
maybe you are right ;)

CC @sils @userzimmermann

[2017-02-20 21:27] satwikkansal commented on #3771
IMO,
 `RECOMMENDED_FOR` or `FEATURED_FOR` can be a `set` of predefined parameters/labels (like `coala-quickstart` or any other purpose for which we may want retrieve selected bears and not all of them). And we can document somewhere what `FEATURED_FOR = {coala-quickstart}` exactly implies. But if the implication is related to some analysis of the bear usage data we already have then we don't need

[2017-02-20 22:21] aptrishu opened #3775 "SourcePosition.py: test ordering"
Use the helper functions defined in test.

[2017-02-21 00:41] jayvdb commented on #3542
No.  We should remove git operations from within `generate` - they should be done outside of the script, so that the user knows what they are doing, where they are pushing to, etc.
Then the user (or script) can push to either `master` or `pre` depending on whether they fetched the bears from the latest release or the development version.

[2017-02-21 01:54] Techievena commented on #3730
@Makman2 Should we write checks to ensure values of fields are always the same?

[2017-02-21 08:43] Nosferatul commented on #3306
I can reproduce

[2017-02-21 09:03] adhikasp commented on #3042
@Makman2 CMIIW, as far as I understand, when coala trying to load bears, they directly loading the coresponding *Bear.py files. So If we want to check the version in coala-bears, we must write the check function in each bears which is tedious and will give redundant warning message.

@sils The problem of checking version when collecting bears entrypoint is that the check got executed multiple time

[2017-02-21 11:51] adhikasp commented on #516
What is the wanted behavior here? `coala -s` should not automatically write value from `.coarc`?

[2017-02-21 11:53] sils commented on #516
you could say it's wanted because `-s` this way always creates a coafile
that works independent from your coarc.

[2017-02-21 12:29] adtac commented on #3771
The current list is hand picked based on experience, stability and features - which is the best way to go I think. There wasn't a quantitative evaluation, just a gut feeling mostly.

[2017-02-21 21:00] Makman2 commented on #516
Would never expect this :O Imo it's still a bug. If we change a default value reasonably, people should be able to grab it immediately after upgrading coala.

[2017-02-21 21:01] Makman2 commented on #516
Also this is very confusing for the user if he sees suddenly settings which didn't belong to him^^

[2017-02-21 21:02] Makman2 commented on #3042
That's why I suggested to place the check inside the `bears` module of `coala-bears`. It gets loaded when at least one bear of that library is used and executes the stuff inside `__init__.py` once.

[2017-02-21 21:08] Makman2 commented on #3730
that's kind of difficult to realize. Some languages recommend `100` as line length (I believe for example Java), some recommend `80` (Python), and some do recommend even other sizes. So it depends on context, and I'm not sure we should unify them carelessly^^

[2017-02-21 22:40] ashwini0529 commented on #3730
Can we have a dictionary of languages along with the `max_line_length` value?

[2017-02-22 01:08] Techievena commented on #3730
@Makman2 I was talking of how about we have a section named `common section` for coafile in coala/coala repo and that will be inherited to other coala repos or should be same in all coala repos. A warning can be generated if  there is any kind of difference in this `common section`.

[2017-02-22 14:49] Nosferatul commented on #3736
I read some of the documentation, and it's pretty awesome what can be done with it.
Hypothesis doesn’t just find any counter-example to your tests, it knows how to simplify the examples it finds to produce small easy to understand ones.
Hypothesis is supported and tested on python 2.7 and python 3.3+. Python 3.0 through 3.2 are unsupported and definitely don’t work. It’s not infeasible to make the

[2017-02-22 19:37] shreyans800755 commented on #3754
I would like to work on this issue if no one else is working on it.
While searching for similar issues, I found this one: https://github.com/charlesBak/documentation/pull/5/commits/65ebad8efdded54248699151a5e7697e242ae9e9
Do we need to make similar changes for all 21 short URLs ?

[2017-02-22 21:01] Nosferatul commented on #3306
hmm, the patches are applied but only `ShowPatchAction` is by default. I'm not sure what should be changed

[2017-02-23 19:33] yash-nisar commented on #3704
This has been solved IMO, check http://api.coala.io/en/latest/Developers/Newcomers_Guide.html. Regarding the links part on the side of the page, a separate issue has been opened. I think this can be closed.

[2017-02-23 19:46] jayvdb opened #3780 "doctest assumes Python 3"
The doctest added in https://github.com/coala/coala/pull/3680 assumes that `python` is Python 3.
On systems where it is Python 2, the stderr will contain a NameError.

[code]

[2017-02-23 21:21] #3780 closed

[2017-02-24 11:46] meetmangukiya opened #3782 "Diff: deletion stats can be incorrect"
Since out of range deletions are allowed, the stats that will be created are incorrect
[code]

Is this an intended behavior?

[2017-02-24 18:58] sgsh123 commented on #3146
Hi,

Where exactly does api.coala.io need to be linked to?

[2017-02-24 19:09] sgsh123 commented on #2271
This issue is closed due to this (https://github.com/coala/bear-docs/blob/master/README.rst) documentation right?

Or does something else need to be added?

[2017-02-24 19:27] sgsh123 commented on #2862
Hi,

Isn't the param lines in the check_results() module already allowing one to send in a list of strings of the lines that need to yeild results as this issue asks for or am I misunderstanding things?

[2017-02-24 20:58] dristybutola commented on #3770
@yash-nisar  I think ` Result.from_values(["TooManyLinesBear",
                                   "Too many lines"
                                   settings={'max_number_of_lines': int=20}])) `
                       should have  a comma  after the `"Too many lines"`?

[2017-02-24 21:00] Makman2 commented on #2862
actually we have `LocalBearTestHelper.check_results` which allows to check against `Result`s for a given file / lines of a file, so imo we can close the issue :+1:

Thx @sgsh123 for bringing this up :)

[2017-02-24 21:00] #2862 closed

[2017-02-24 21:03] yash-nisar commented on #3770
Yes, absolutely @dristybutola

[2017-02-24 21:38] Makman2 opened #3785 "Docs: Let `setup.py docs` generate them from the current repo, not installation"
As a dev I have often a stable version or some development version from pip installed. When executing `setup.py docs`, it grabs the docs from the installed package, not the repo.

[2017-02-24 21:45] Makman2 opened #3786 "CI: Avoid installing coala twice (latest PR + latest pre-release)"
There were recent problems with documentation generation which exposed another coala installation in the CI that is not installed from the submitted PR, but is the latest pre-release. We should avoid it.

[2017-02-24 22:10] jayvdb commented on #3785
Another aspect of this is that the `docs` command is currently not dependent on the build phase, so it is possible to run `setup.py docs` without a built coalib, and see

[code]

[2017-02-24 22:31] jayvdb commented on #3786
For this repo, does the docs depend on `coala-bears`?

If not, then CI can run `python setup.py docs` before running `pip install coala-bears...`

[2017-02-24 22:36] coala-bot opened #3787 "Sphinx docs on master should include the commit hash or build date"
commit hash could be obtained via https://github.com/coala/coala/pull/3595
The build date could be added using .misc/adjust_version_number.py, however that change should be undone after the docs to avoid it being part of PRs. (do and undo in `setup.py docs`?)

Opened via [gitter](https://gitter.im/coala/coala/?at=58b0b56900c00c3d4f841551) by @jayvdb

[2017-02-24 22:39] Makman2 commented on #3786
Shouldn't depend on `coala-bears`^^ so we can just move the command or let https://github.com/coala/coala/issues/3785 fix the problem so `python3 setup.py docs` is independent from the installation.

So seems we can't really avoid the build as we need `coala-bears`.

[2017-02-24 23:43] Mixih commented on #3499
0.10 is out so not relevant anymore.

[2017-02-24 23:43] #3499 closed

[2017-02-25 07:51] Siddhartha1234 opened #3788 "Optimize Caching : Add Bear Specific Cache Optimization ( BSCO )"
This is with reference to the context of  "Optimize Caching" GSoC Project for the upcoming summers.
*  Proposal  :
   ( Only valid for bears which do not use External Linters )
    Description : The current caching technique runs the bear on whichever file is modified after previous      run. But in the situation where there are many modified files of huge size with only small changes in each ( Ve

[2017-02-25 10:15] adtac commented on #3788
That's more of a con than a pro ;)

[2017-02-25 18:06] #3737 closed

[2017-02-26 11:36] meetmangukiya opened #3790 "Diff: Implement new property that indicates whether actual changes exist"
EDIT (by @Makman2):
It's useful to check whether a diff has actually changes in it, and currently it can be only checked like this:
[code]
which is ugly because `self._file` is protected.
A property should be introduced, `Diff.has_changes` or `Diff.is_modified` (or similar), which indicates if there are actually changes.

[2017-02-26 11:42] meetmangukiya commented on #3790
In a bear, I was able to propose a result like this
[code]

coala proposed the patch to me..
Show patch action didn't show anything as expected... but since the stats are not 0, 0 it showed the result like..
Not sure where the bug is, will dig deep...

Example
[code]

[2017-02-26 11:43] meetmangukiya commented on #3790
I had to use a dirty workaround, like `if diff.modified != diff._file` to propose the result for now..

[2017-02-26 12:08] satwikkansal commented on #3788
Can you describe what exactly these bear-specific **additional flags** would be (I could only think of length of Bear Dependent Section)

[2017-02-26 13:22] Siddhartha1234 commented on #3788
@satwikkansal A section might not be of constant length , to make it more generic we would need more flags.
e.g beginning of the indent block (might not be of equal length all the time)
@adtac I'll add this in cons and the other point you mentioned in pros

[2017-02-26 20:37] coala-bot opened #3792 "docs: Update styling to match with coala/documentation"
Involves replicating all the styling changes done in documentation repo to Developer docs https://github.com/coala/documentation/commit/bfa74dcd0bba647508c48090f169c71e4bcc1946

Opened via [gitter](https://gitter.im/coala/coala/?at=58b33ca27ceae5376a41b530) by @hemangsk

[2017-02-26 22:05] jayvdb opened #3793 "Warning says to enable debug when debug is already enabled"
When running coala with `-V` , a warning message says to enable -V

[code]
https://ci.appveyor.com/project/coala/coala-bears/build/job/c9ca1wygut9y7eds

[2017-02-27 08:23] Techievena commented on #3389
@lohani2280 Are you still working on the issue?

[2017-02-27 11:49] etotientz commented on #1021
@sils so by diff u mean that if user inputs 3 or 5 ,bear will provide a list of acceptable variable names?

[2017-02-27 14:34] Siddhartha1234 opened #3795 "Caching : Use 'cPickle' module instead of 'Pickle'"
cPickle is written in C and is upto 1000 times faster as mentioned in https://docs.python.org/2.4/lib/module-cPickle.html and can be used interchangeably with few changes.

[2017-02-27 14:39] jayvdb opened #3796 "TypeError in Linter.run with --settings"
A `TypeError` is generated from the following command line in the coala-bears directory

[code]

I believe it should have behind the scenes set `cli.checkstyle_configs=geosoft`, and maybe emitted a deprecation notice, but adding the `cli.` prefix is quite redundant.

[2017-02-27 14:40] jayvdb commented on #3796
I suspect this is a regression.

[2017-02-27 19:03] nikitavoloboev opened #3800 "Add missing Vs Code Integration in the Readme"

[2017-02-27 19:30] Makman2 commented on #1021
you press "apply patch" and coala asks you for inputting some values which will be used to generate the final patch

[2017-02-27 19:34] Makman2 commented on #3306
so patches do work? @Nosferatul

[2017-02-27 19:56] Makman2 commented on #3730
ah you mean we have different settings across our repos? Though this is kind of complicated, how do you suggest to realize this?

@ashwini0529 actually this is not a bad idea anyway, wanna file an issue? :D

[2017-02-27 20:02] sinwar commented on #3793
@jayvdb working on this

[2017-02-27 20:32] Makman2 commented on #3736
but Python 3.4 is, right? We don't support 3.0-3.3 either^^

[2017-02-27 21:25] Makman2 commented on #3788
(subscribing)

[2017-02-27 21:27] Makman2 commented on #3790
why `False`? `diff.modified` contains the changed file, so if there are no changes, `diff.modified` is equal to `diff._file`.

[2017-02-27 21:31] Makman2 commented on #3782
hm looks indeed wrong...

[2017-02-27 22:18] ashwini0529 commented on #3730
Sure 😄

[2017-02-27 22:20] ashwini0529 opened #3802 "Dictionary of languages along with the max_line_length value"
https://github.com/coala/coala/issues/3730

[2017-02-28 01:15] coala-bot opened #3803 "download_cached_file should check returned http status code"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58b4cf1bde5049082223b4b9) by @jayvdb

[2017-02-28 01:20] jayvdb commented on #3803
This should solve the coala bears fetch problems in https://github.com/coala/coala-bears/issues/1461

[2017-02-28 01:40] jayvdb opened #3804 "download_cached_file should retry if there is a http error code"
Follows on from https://github.com/coala/coala/issues/3803

The interface of `Bear.download_cached_file` isnt suited to failure.  It needs to retry if possible.

[2017-02-28 03:25] jayvdb commented on #3803
Note this is a regression in 0.10.0 0e68e1367 (https://github.com/coala/coala/pull/3612), as the previous code would raise an exception for any non-2xx code (as the default `urllib.request.HTTPDefaultErrorHandler` is used).
[code]

[2017-02-28 03:27] jayvdb commented on #3804
Note unlike #3803 , this is not a regression as the pre-requests code didn't do this.

[2017-02-28 03:44] meetmangukiya commented on #3790
Actually, that is a different point, but https://github.com/coala/coala/issues/3790#issuecomment-282550148 this sure seems like a bug..Change the title if you feel so :)

[2017-02-28 03:46] meetmangukiya commented on #3790
Exactly, diff.modified should be populated only if there **is** a modification IMO

[2017-02-28 04:00] jayvdb commented on #3804
Note that `requests` has native `max_retries` logic which we can use.
It requires working at the requests session & adapter level.

I've also looked for a sane requests wrapper which provides simplified retry, and oddly not found one.

[2017-02-28 11:56] adtac opened #3807 "An automated way to measure speed-up over time"
I was learning about Amdahl's law today and I thought it'd be neat to have a graphical representation of how fast coala has been over time. A good measure would be running coala on the coalib codebase and logging the completion time for each commit progressively.

[2017-02-28 11:58] adtac commented on #3807
difficulty/medium because this probably involves working on a website (a static html page that downloads a CSV file and creates a visualization) so that we can upload this somewhere for the public

[2017-02-28 12:18] jayvdb opened #3808 "pytest.raises or self.assertRaises"
There are currently six(6) cases of `pytest.raises` in the coala repo, and none in the coala-bears repo, but there are many, many more uses of the `unittest` `self.assertRaises` (and friends).  These six are odd, and we should either replace them with assertRaises , or use the pytest functionality.

`pytest.raises` has one use that `unittest`'s `self.assertRaises` cant do, which is that they work

[2017-02-28 12:19] jayvdb commented on #3808
IMO, we should replace the pytest specific functionality with unittest.

[2017-02-28 12:19] jayvdb commented on #3374
There are 170 instances of self.assertRaises, not all needing a mesage test.
There are also some `pytest.raises`, which also could be converted into self.assertRaisesRegexp.(see https://github.com/coala/coala/issues/3808)

Anyone doing this, please dont attempt to do all of them.  Do PRs for a single test module with many occurrences, or a small group of related test modules, and use `Related to <

[2017-02-28 12:31] aptrishu opened #3809 "TextPosition.py: Implement `__lt__` and `__gt__` operators."

[2017-02-28 13:21] adtac commented on #3807
[code]

[2017-02-28 14:21] yashLadha opened #3810 "Installation Issue"
Whenever i try to launch the CLI it says like this.

[2017-02-28 16:01] jayvdb opened #3811 "download_cached_file iterating in chunks of 125 bytes"
https://github.com/coala/coala/pull/3612 uses `Response.iter_content(chunk_size=125)`.  125 seems arbitrary.

The [docs](http://docs.python-requests.org/en/master/api/#requests.Response.iter_content) suggest chunk_size is bytes, but the default value is `1`.

Response.__iter__ uses a `chunk_size=128`, which seems much saner.

If the `chunk_size=None`, while `stream=True`, it seems it "will read da

[2017-02-28 17:29] Makman2 commented on #3790
`diff.modified` contains the modified version of the file. So it's populated in the beginning with `self._file` itself. Imo this makes sense :O

[2017-02-28 19:21] stephenbhope commented on #3100
I'm working on this, I think this discussion missed an obvious solution: https://github.com/orgs/coala/teams/coala-maintainers I'm looking how to directly link the info...
@sims1253 privacy is not an issue as the membership on the list is already public

[2017-02-28 19:31] stephenbhope commented on #3100
Wanted to add if anyone is aware of other issues related to non static information that could be found via github please list them here, or send me a message.

[2017-02-28 20:42] AGZ98 opened #3815 "Mention "acking" a commit is not as important in newcomer docs"
Since some newcomers ack the same commit over and over again, it might be a good idea to mention that it's not as important in the newcomer's guide.

[2017-03-01 01:18] jayvdb commented on #3811
The CI for f0f1992 has some very interesting results.
[CircleCI](https://circleci.com/gh/coala/coala/11383) and [AppVeyor](https://ci.appveyor.com/project/coala/coala/build/1.0.6246/job/5mkpt0y60v7os3xh) has `test_download_cached_file` failing in `requests/models.py` and its vendored `requests/packages/urllib3/response.py`, which means `requests_mock` is not working here. Maybe `iter_content` isn'

[2017-03-01 01:57] jayvdb commented on #3815
Can you give an example PR where this happened?

We definitely need an `ack`, but only one per commit, or even one per PR.

[2017-03-01 02:07] jayvdb opened #3816 "doctest deprecation failures with pytest catchlog"
These doctest have always failed on my machine due to my use of catchlog-1.2.2 plugin.  This may be able to be fixed upstream, or maybe this needs to be converted to a real test where the test can be skipped if catchlog is active.

[code]

[2017-03-01 02:54] Techievena commented on #3810
@yashLadha Have you asked about this in gitter channel?

[2017-03-01 07:16] jayvdb commented on #3804
Note, if there is a retry, then surely there needs to be a new status code check somewhere, but this doesnt appear to be documented anywhere in requests; see https://github.com/coala/coala/pull/3805#discussion_r103427077.

[2017-03-01 08:15] jayvdb commented on #3811
I've checked requests_mock, and it has no testing of `iter_content`.  That should be added upstream.  There is a possibly related issue https://bugs.launchpad.net/requests-mock/+bug/1616751

One way to check requests-mock is to use a tool like https://github.com/venmo/nose-detecthttp to see if there is any http activity.  I have created a custom test module that uses iter_content, and there is no

[2017-03-01 12:02] Techievena commented on #3782
Should we allow out of range deletion or not?

[2017-03-01 12:06] Techievena commented on #3782
Should out of range deletion be allowed?

[2017-03-01 12:25] meetmangukiya commented on #3782
No, it shouldn't be, thats what this issue is about

[2017-03-01 12:33] Techievena commented on #3782
No I was bit confused about if `file_list` contains fragment of a file. Nvm figured out I was wrong. :sweat_smile:

[2017-03-01 13:26] shivam207 opened #3818 "Running Coala first time"
After succesfully installing coala, I am running it on the coala-tutorial directory. But, I am getting this error. I tried to run on other codes but got the same error.

Error:
pkg_resources.ContextualVersionConflict: (requests 2.2.1 (/usr/lib/python3/dist-packages), Requirement.parse('requests~=2.12'), {'coala'})

[2017-03-01 13:59] adtac commented on #3795
Closing as this on by default in Python3.

[2017-03-01 13:59] #3795 closed

[2017-03-01 15:51] Makman2 commented on #3100
So you want to use the link for the `maintainers` field?

[2017-03-01 15:51] Makman2 commented on #3100
Sounds good then :+1:

[2017-03-01 16:16] #3770 closed

[2017-03-01 16:48] jayvdb commented on #3332
Small update.  We had a pretty serious regression in the exception handling: https://github.com/coala/coala/issues/3803  , resulting in https://github.com/coala/coala-bears/issues/1461

I think we should add some retry logic to the fetch process : https://github.com/coala/coala/issues/3804

The fetch is being used in the bears `setup_dependencies`.  Was an exception in there resulting in an unhand

[2017-03-01 16:55] Makman2 commented on #3818
As you can see one of the package requirements is not satisfied. Install `requests` version 2.12 :+1:

coala has currently some dependencies which likely crash with existing packages (as `requests`). If you want to separate environments, read http://docs.coala.io/en/latest/Users/Install.html#installing-inside-a-virtualenv :)

Closing as this is not a bug :)

[2017-03-01 16:55] #3818 closed

[2017-03-01 16:58] Makman2 commented on #3810
@yashLadha From what commit is the coala installation? Your coala-bears version? Any other modifications to coala? Maybe other installed coala versions which are grabbed instead?

[2017-03-01 17:22] yash-nisar opened #3819 "Writing_Linter_Bears.rst: Add link to the @linter decorator"
While writing a bear, I wanted to look at the `@linter` decorator. I had to type it in the search box. It would be nice if we add http://api.coala.io/en/latest/coalib.bearlib.abstractions.html#module-coalib.bearlib.abstractions.Linter to the word `@linter` in the first paragraph of the file.
difficulty/newcomer
area/documentation

[2017-03-01 17:29] jayvdb opened #3820 "Add download read timeout failure tests"
An extra test has been pulled out of https://github.com/coala/coala/pull/3805 , as it was not part of the fix.

[code]

There should be tests like this, but it is best to consider them separately, as http://httpbin.org/delay/10 has a maximum 10 second delay, and the coala function has a 20 second timeout, so that httpbin feature can never be used without improving coala.

[2017-03-01 17:30] satwikkansal opened #3821 "Codestyle.rst: Add guidelines related to import style to follow in coala"
Please see the following discussions
https://github.com/coala/coala/pull/3805#discussion_r103625196
https://github.com/coala/coala/pull/3805#commitcomment-21107700

[2017-03-01 17:38] yash-nisar opened #3822 "Section.py: Remove redundant lines"
https://github.com/coala/coala/blob/master/coalib/settings/Section.py#L210-L213
The given lines need to be removed from the nested `if` block.
[code]
difficulty/newcomer

[2017-03-01 17:43] coala-bot opened #3823 "BearTest.py: replace hrml with html"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58b70856f1a33b627567c45e) by @jayvdb

[2017-03-01 17:51] jayvdb commented on #3821
IMO this isnt a newcomer issue.  There are still some vague or incomplete aspects of PEP8 which this project hasnt discussed.

One of them is `import` and `from .. import`s within a single group (e.g. system imports), which could look like this:

[code]

`isort` rewrites the above as

[code]

But then that "group" is now not alpha ordered.  There is actually two subgroups, each alpha ordered.
Howe

[2017-03-01 17:56] #3803 closed

[2017-03-01 18:05] satwikkansal commented on #3821
From http://stackoverflow.com/questions/20762662/whats-the-correct-way-to-sort-python-import-x-and-from-x-import-y-statement following seems to be the widely adopted way
[code]
Seems like `isort` uses the above order as well. So shall we adopt this order?

[2017-03-01 18:13] jayvdb commented on #3821
IMO we also need a recommendation on when to use `import x` vs `from x import y, z`.  Again, I dont think PEP 8 covers that.

[2017-03-01 18:19] jayvdb commented on #3811
I guess it would be useful to know what chunk size `copyfileobj` might have been using before https://github.com/coala/coala/pull/3612 .  If that was deterministic, we could re-use that value.

[2017-03-01 18:30] jayvdb commented on #3786
Slightly left field, on a build on my fork of coala-bears, I added dependency "coala>=0.10.0.dev20170302".

At the moment https://pypi.python.org/pypi/coala lists coala 0.10.0.dev20170301175533 as the most recent.

So "coala>=0.10.0.dev20170302" should fail, as it cant be satisfied.

Instead, [we see](https://travis-ci.org/jayvdb/coala-bears/jobs/206699958) pip ignoring that quite happily.

[code]

[2017-03-01 18:35] jayvdb opened #3824 "Code blocks in RST not being checked"
Problems like https://github.com/coala/coala/issues/3770 should be automatically detected, so that the developer docs stay in sync with the code.

[2017-03-01 19:01] jayvdb commented on #3786
Oh, ... 0.10 is released.  We need to bump the version to 0.11 .

[2017-03-01 19:31] jayvdb opened #3826 "readthedocs is out of date"
http://coala.readthedocs.io/ says it is 0.8.0

[2017-03-01 19:38] jayvdb commented on #3826
setup.py has a chunk of code for READTHEDOCS  which is probably not being used.

Is this code also needed for http://api.coala.io/en/latest/ , or can it be deleted?

[2017-03-01 21:54] NiklasMM commented on #3808
What's the general consensus on the test framework issue in coala? Since pytest is used as testrunner, but unittest-style tests are generally written, I'm assuming it started out with unittest and was moved to pytest.

Personally, I prefer pytest and would encourage people to write pytest style tests. There are some cool things like test parametrization, that don't work with unittest-style tests,

[2017-03-01 22:20] satwikkansal commented on #3821
Maybe use ```import x``` when using many bits from the module and use `from x import y, z` when the number of y,z.. are less and their usage is high.

Also another thing to consider is do we need to apply this change in all the existing modules or just the new modules and PRs?

Now I seriously feel PEP should have more guidelines regarding imports!

[2017-03-01 22:35] stephenbhope commented on #3100
I am looking into pulling the members from the list as data via github's api, if possible, failing that I'll use the link instead.

[2017-03-01 23:00] Makman2 commented on #3100
keep it static, we don't want to change the list whenever our maintainers list changes. A simple referral to the link is sufficient imo :)

[2017-03-01 23:11] Makman2 commented on #3808
As we don't use pytest features currently, I would use `unittest` functions to keep compatability. We should rather file issues for pytest features on demand and introduce pytest functions then if appropriate.

[2017-03-01 23:16] Makman2 commented on #3821
Just for reference, this is the style I currently use:
[code]
so I do mix normal imports with `from ...` imports, as long as the alphabetical order of the module names does hold.

[2017-03-02 01:01] Techievena opened #3827 "aspects: Typo error for classnames in pydoc"
`:class:coalib.bearlib.aspectclasses.Taste.` This should be something like `:class:coalib.bearlib.aspects.Taste.` . Also replace similar instances of aspectclasses with aspects in the pydoc.

[2017-03-02 01:28] Techievena commented on #3796
@jayvdb getting this result:
[code]

[2017-03-02 04:32] #3810 closed

[2017-03-02 06:37] Gouenji commented on #3823
I have created a pull request for this
#3829
thank you

[2017-03-02 06:39] jayvdb commented on #2541
I think this is blocked on GSOC, as we will be reviewing applications for this project, and assigning the task to the best application.

[2017-03-02 06:57] NiklasMM commented on #2067
But how can we get rid of it, if all the bears have implemented it with that interface?

[2017-03-02 07:33] jayvdb commented on #3823
@Gouenji , per our new comers guide, you should be assigned to an issue before you submit a pull request.

[2017-03-02 07:44] chaitaliSaini commented on #3822
I would like to solve this issue.

[2017-03-02 07:48] jayvdb commented on #3796
hmm.  I cant reproduce it either now. :/

[2017-03-02 07:48] #3796 closed

[2017-03-02 08:07] Techievena commented on #2271
aspects :tada: :tada:

[2017-03-02 10:16] yash-nisar commented on #3822
You can now assign issue to yourselves by using our very favourite cobot, with the command being `cobot assign full-issue-url`. Type `cobot help` for more details on our gitter channel. Please don't work on an issue without assignment.

[2017-03-02 10:38] jayvdb commented on #3827
Is this newcomer or low @Techievena ?

[2017-03-02 10:43] jayvdb opened #3831 "Delete file when exception in read occurs"
In the same vein as https://github.com/coala/coala/issues/3803 was for status codes, if the read fails for some reason, a corrupt file will still exist. (identified by @Mixih )

This isnt a regression; the same occurred for before the rewrite https://github.com/coala/coala/pull/3612 .

[2017-03-02 10:51] jayvdb commented on #3811
`shutil.copyfileobj` has a default of `length=16*1024`

According to http://pythoncentral.io/how-to-copy-a-file-in-python-with-shutil/ , perf is improved with increased buffer size.  No surprise there.

Whether that translates to the requests chunk_size is unknown.

[2017-03-02 11:57] Gouenji commented on #3827
can i take this

[2017-03-02 12:23] yashLadha commented on #3822
cobot assign https://github.com/coala/coala/issues/3822

[2017-03-02 12:26] Techievena commented on #3827
It must be a newcomer. Only typo has to be fixed. :smile: @jayvdb

[2017-03-02 12:49] yashLadha commented on #3822
Can u please review my PR ?

[2017-03-02 12:52] jayvdb commented on #3822
@yashLadha , no.  I have closed https://github.com/coala/coala/pull/3828 .  You didn't follow the newcomers guide when you prepared that PR, so that PR has too many mistakes.  Hopefully you follow the newcomers guide, and your next PR is much better.

[2017-03-02 13:02] incorrectusername commented on #2775
I need some help regarding how to write test for this bug?i checked writing tests section from docs.coala.io. any suggestion. can you direct me how to do it.

[2017-03-02 13:12] jayvdb commented on #2775
Look at the other tests for this module.

[2017-03-02 13:31] Makman2 commented on #2067
via deprecation :+1:

[2017-03-02 13:35] Makman2 commented on #3810
@yashLadha issue resolved? :)

[2017-03-02 13:36] yashLadha commented on #3815
Is it pushing same commit over and over again? (what you mean by ack)

[2017-03-02 13:37] yashLadha commented on #3815
@AGZ98 i can work upon this. It would be great if you could specify where to Work.

[2017-03-02 13:38] yash-nisar opened #3832 "Writing_Linter_Bears.rst: Replace double quotes with single quotes"
File: https://github.com/coala/coala/blob/master/docs/Developers/Writing_Linter_Bears.rst
Line: `LANGUAGES = {"Python", "Python 2", "Python 3"}`
`"` should be replaced by `'`
difficulty/newcomer
area/documentation

[2017-03-02 14:14] yash-nisar commented on #3827
difficulty/newcomer

[2017-03-02 14:22] yashLadha commented on #3810
Yes indeed it is. Thanks to community

[2017-03-02 14:23] jayvdb commented on #3831
https://github.com/coala/coala/pull/3833 provides a test for this scenario

[2017-03-02 15:00] coala-bot opened #3834 "diff: diff.add_lines doesn't append newline to the lines passed as a list"
example:
[code]
while, for `add_lines(line_br, list)` current implementation requires user to append new lines, we should check if the lines in the list endswith a `\n` if not append one implicitly

Opened via [gitter](https://gitter.im/coala/coala/?at=58b8338f1465c46a56d78e16) by @meetmangukiya

[2017-03-02 15:21] anu0012 commented on #3832
Can I take this issue ?

[2017-03-02 15:21] coala-bot opened #3835 "Unnecessary directory creation"
~/.local/share/coala-bears/ has one directory per bear, almost all empty, almost certainly created during initialisation "just in case", slowing down startup.
For those not needed, they shouldnt be created.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58b83889f1a33b62756ec0d2) by @jayvdb

[2017-03-02 16:20] jayvdb commented on #3827
@Gouenji, it is already assigned ; see above.

[2017-03-02 16:50] shivam207 commented on #3835
I don't have coala-bears directory but instead have coala directory which contains only one directory : 0.10.0 in it.

[2017-03-02 16:55] shivam207 commented on #3819
I have created a pull request for this
#3836

[2017-03-02 16:59] shivam207 commented on #3835
ping @jayvdb

[2017-03-02 23:00] blooops commented on #3256
Hey, I'm a newcomer. Can I be assigned?

[2017-03-03 04:18] yashLadha commented on #3834
Means, do we have to check that is there Line break exists or not in  the list?

[2017-03-03 04:24] jayvdb commented on #3835
@shivam207 , you havent completed a newcomer issue yet.  Please follow http://coala.io/newcomer

[2017-03-03 06:10] sagark123 commented on #3256
From what I read it seemed like we have to show how to install git on mac os... If my assumption is correct can I be assigned on this issue??

[2017-03-03 06:17] jayvdb commented on #3516
This is also needed for Appveyor.

[2017-03-03 10:36] sagark123 commented on #3832
Can I work on this???I am a newcomer

[2017-03-03 14:10] Makman2 commented on #3832
@sagark123 the issue is already assigned. Please read our newcomer guides on how to contribute :+1:

[2017-03-03 15:13] #3256 closed

[2017-03-03 15:28] jayvdb opened #3843 "Git Basics: Mention Xcode for MacOS"
Following on from https://github.com/coala/coala/issues/3256 , the macos note should mention that git may be installed via Xcode.

https://www.atlassian.com/git/tutorials/install-git#mac-os-x

Xcode has other useful tools for developers, so it should be a preferred and recommended way to get these tools.

[2017-03-03 16:30] yash-nisar opened #3845 "Newcomers_Guide.rst: Add example of assigning an issue"
Many times, people make a mistake and do not use the full issue url while assigning an issue via cobot. Perhaps adding an example could help.
difficulty/newcomer
area/documentation

[2017-03-03 16:38] supergr35 commented on #3845
Do you think we should just add a general cobot documentation which includes this?

[2017-03-03 16:49] yash-nisar commented on #3845
Yeah, sounds good, I think there should be an example IMO because most of the people just glance through the docs, without reading the specifics. The example may catch their attention.

[2017-03-03 22:02] Anirudh5 commented on #3845
@yash-nisar I want to take up this issue.

[2017-03-04 04:17] Rddhima-R commented on #3843
I would like to work on this issue

[2017-03-04 05:09] sagark123 commented on #3374
@jayvdb I have to just replace    unittest.assertRaises and not    self.assertRaises or    pytest.raises

[2017-03-04 05:12] yash-nisar commented on #3845
@Anirudh5 You can assign an issue to yourself by `cobot assign full-issue-url` on our gitter channel.

[2017-03-04 05:21] sagark123 commented on #3374
@jayvdb I have to change `unittest.assertRaises`,`self.assertRaises` and `pytest.raises`

[2017-03-04 05:41] jayvdb commented on #3374
That is the rough idea, yes.

[2017-03-04 05:55] jayvdb opened #3847 "Detect unsupported clang and report a useful error message"
If the wrong clang version is installed, the error message is like "Please ensure that your python bindings are compatible with your libclang.so version" , which doesnt help the average user.

In addition to the exception message provided by the libclang python wrapper, we need a message which says something like "coala requires clang 3.4"

[2017-03-04 06:03] yashLadha commented on #3847
I can work upon this @jayvdb

[2017-03-04 06:07] jayvdb commented on #562
This was partially solved, at least for the coala repo, with https://github.com/coala/coala/issues/3715 (and removal of dbus) .
The bears are still a long way from 100% coverage, which is https://github.com/coala/coala-bears/issues/1415 .

And there are individual issues about many of the bears not install in Appveyor.

https://github.com/coala/coala/issues/562#issuecomment-120842084 - Yes, I enco

[2017-03-04 06:07] #562 closed

[2017-03-04 09:42] yashLadha commented on #3847
Is the version checking should be os specific, or we are targeting only linux users.

[2017-03-04 15:21] yashLadha commented on #3847
How about showing user that the machine doesn't have necessary clang version instead of showing the whole stack trace which is not meant for an average user.

[2017-03-04 15:45] Makman2 opened #3850 "Linter.py - typo"
https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L596

`parsed` -> `passed`

[2017-03-04 16:08] TheLayman commented on #3247
[PR](https://github.com/coala/coala/pull/3851) is here.

[2017-03-04 16:12] samanyougarg commented on #3850
Can you assign it to me?

[2017-03-04 16:54] Makman2 commented on #3834
This can get problematic if the added line is the last line, that would be valid^^

[2017-03-04 16:58] yashLadha commented on #3834
Means the message should be appended at the end of the block

[2017-03-04 21:48] #3516 closed

[2017-03-05 01:20] Mixih commented on #3831
Update: still working out the tests. Something is not working with the message queue check. I should be done in a day or so.

[2017-03-05 03:35] jayvdb commented on #3754
That PR is an unrelated change, but https://github.com/coala/documentation/issues/252 is the same problem for the documentation repository.  I have re-opened it.

The coala.io shortcuts are listed at http://coala.io/links

For example, the page http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html should mention that its shortcut is "http://coala.io/commit" .
Rinse and repeat for each

[2017-03-05 06:13] yash-nisar commented on #2926
Still on it @Nosferatul ?

[2017-03-05 07:19] meetmangukiya commented on #3834
@Makman2 how can this be problematic, AFAIK it is encouraged to end a file with a EOF new line character ?

[2017-03-05 07:41] jayvdb commented on #3831
Eh?  Why is the test that I have created not good enough?  Why is it not merged yet?

[2017-03-05 08:31] meetmangukiya commented on #2926
@yash-nisar the PR is up and it is actively reviewed, you should wait for some time and also see the amount of work the person has done

[2017-03-05 08:45] meetmangukiya commented on #3790
@Makman2 want to close this?
Also https://github.com/coala/coala/issues/3790#issuecomment-282933631 needs a response ?

[2017-03-05 09:36] meetmangukiya commented on #2006
@aptrishu is this bug fixed ?

[2017-03-05 09:40] meetmangukiya commented on #516
(Participating)

[2017-03-05 12:29] aptrishu commented on #2006
there is a PR in gitlab, review pending..

[2017-03-05 15:47] Makman2 commented on #516
Another case where it is confusing:
Assume you have 1st following coarc:
[code]
and the user now generates his coafile with `-s`, he sees something like
[code]
now we patch the coarc from coala, and the user performs an update:
[code]
In this case, one of the users settings overrides our coarc default of `setting_a` but doesn't explicitly handle `setting_b`. So this gets kind of inconsistent, so I

[2017-03-05 15:53] Makman2 commented on #3790
I think this issue is about a bug, not about returning False in `self.modified` if diff is not modified. Wondering why you entitled it like this :O

Anyway, why are the stats so weird? Is the file you provide the bear at least 3 lines long?

[2017-03-05 15:55] Makman2 commented on #3834
yeah, but technically you may want a patch without a newline at EOF. I think we should support that.

[2017-03-05 16:00] #3820 closed

[2017-03-05 17:40] lshobith commented on #3835
@jayvdb  Hi, I am new here. I am unable to find the directory you mentioned. Instead there is a directory named `coala` at that place. help me in understanding the issue please.

[2017-03-05 22:25] jayvdb commented on #3693
Why do we need to load the cache and then reset it when the bears change?
The code would be more logical and performant if the bear instantiation occurs before cached data is loaded, and the cached data not loaded if the cache was known to not be usable.

I can see that `complete_file_dict` is being passed to `instantiate_bears`, but that could be empty anyway (e.g. a run without any cached data).

[2017-03-06 00:36] Mixih commented on #3831
Not your test, I was working on the test for the log output.

[2017-03-06 03:28] jayvdb opened #3854 "Use clang 3.8"
coala should support the most recent llvm/clang, at least 3.8

[2017-03-06 03:30] jayvdb commented on #3854
The CI for coala and coala-bears repos need to use a later version

[2017-03-06 03:44] meetmangukiya commented on #3834
How is adding a newline to a file problematic. Sorry, but this is turning out kinda confusing.

[2017-03-06 03:46] meetmangukiya commented on #3790
Actually that was meant as an example, and I don't remember where I spotted it, but the cause of bug is pretty clear, so I don't think it is necessary.

[2017-03-06 03:55] meetmangukiya commented on #3790
The bug is:
Say if I delete a line and add the same line, then the diff is actually considered a diff and a patch is generated, though applying it would not change the file.

To avoid this is in PyImportSortBear https://github.com/coala/coala-bears/pull/1356 I had to do a check I.e. `self.modified != self._file` I proposed that we set self.modified as false is `self.modifed == self._file`, since t

[2017-03-06 06:24] jayvdb commented on #3850
@sutirthaghosh, sorry but @harshish as already completed this in #3852

[2017-03-06 08:12] blooops opened #3855 "Developers/Writing_Tests.rst: unwanted quotes appear in text"
Unwanted back-quotes appear in the file due to the ** and the `` tags being used together. Link https://github.com/coala/coala/blob/master/docs/Developers/Writing_Tests.rst#actually-writing-a-test
Have a look at the emboldened setUp() and tearDown(). I don't think that was meant to appear that way.

[2017-03-06 09:33] coala-bot opened #3856 "mention package git-extras in dev docs newcomer"
Opened via [gitter](https://gitter.im/coala/coala/?at=58bd2d027ceae5376a792f1b) by @jayvdb

[2017-03-06 14:27] jack17529 commented on #3822
@yash-nisar  assign me this issue it's very easy.

[2017-03-06 14:29] yashLadha commented on #3822
I had already implemented this. And it is also ack it

[2017-03-06 15:25] jayvdb commented on #3854
We also need a coala-bears PR using the same approach.

[2017-03-06 15:38] yash-nisar commented on #3822
@jack17529 This issue is already assigned to @yashLadha . Please find some other issue that is unassigned. :)

[2017-03-06 16:51] whosethink commented on #3845
I have excute "coala --files=cobot_help.rst --bears=SpaceConsistencyBear -I" , but still have the problem of  trailing whitespaces, can anyone tell how to handle this problem?
![2017-03-07 00-47-27](https://cloud.githubusercontent.com/assets/20852522/23619868/060a500c-02d0-11e7-8d2b-e8739db793a1.png)

[2017-03-06 17:35] TalkingAvocado opened #3858 "Newcomers_Guide: Fix spelling/tense mistakes"
Fix the spelling mistakes in the newcomers guide at https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst

[2017-03-06 18:13] yash-nisar opened #3859 "Testing_Bears.rst: Move settings out of the result list"
In example 3, http://api.coala.io/en/latest/Developers/Testing_Bears.html, the `settings` param is inside the `result` list. It is passed as a separate param to `check_results` and therefore should be moved out of the list.
difficulty/newcomer
area/documentation

[2017-03-06 18:58] LongntLe commented on #3859
I would like to work on this issue.

[2017-03-06 20:55] Makman2 commented on #3790
Ah alright understood. So I think best is if we provide "public" access officially for `self._file` so you can check like this.

I was wondering just now btw why `Linter.py` never had such problems when generating patches from the corrected version. And it seems that `split_diff` does compensate this automatically.

[2017-03-06 21:02] Makman2 commented on #3790
Maybe even better is a property for that kind of check.

Edited title accordingly + issue description.

[2017-03-06 21:02] Makman2 commented on #3790
@meetmangukiya opinions? If you agree, we could release this issue and mark it as newcomer :+1:

[2017-03-06 21:08] Makman2 commented on #3834
The `Diff` class is only responsible for containing a delta. Imo this class shouldn't make assumptions on preferred behaviour we suggest for code files, as `Diff` may also be used on files which may require no EOF at end (though I don't know a usecase, I believe it's better from technical perspective).

So that's why we need to cover that special case that a missing \n in the last line is valid.

[2017-03-06 21:36] Makman2 commented on #3859
Please check out our newcomer guide

[2017-03-06 21:59] #3094 closed

[2017-03-06 22:59] jack17529 commented on #3816
@jayvdb Sir assign this to me.

[2017-03-06 23:14] jack17529 commented on #3159
@jayvdb  please assign me this.

[2017-03-07 03:37] meetmangukiya commented on #3790
Yeah, sounds good :+1:

[2017-03-07 07:50] jayvdb opened #3862 "Add setting charset"
https://github.com/coala/coala/issues/3529 show the problem with non -utf8 content.

We need a setting so users can control the charset used, which will reduce the severity of above bug.

[2017-03-07 09:48] Udayan12167 opened #3863 "New Bear Documentation."

[2017-03-07 09:50] Udayan12167 opened #3864 "Attrs in Bear v2."
#3711

[2017-03-07 10:10] Techievena opened #3865 "aspects/meta.py: Typo error"
Replace `int` -> `in` in `search for tastes int the sub-aspectclass`

difficulty/newcomer

[2017-03-07 11:36] rubdos opened #3867 "Bear.get_config_dir() has different behaviour on Windows versus Linux."
### Overview Description

While debugging [my Rust Clippy bear](https://github.com/coala/coala-bears/pull/1467), I used `(Global)Bear.get_config_dir()` to find the path to the project root, as Clippy uses the `Cargo.toml` project file there to setup the project.

### Actual Results

It seemed that in the unit tests, on Linux, it returns the `cwd`, while on Windows, it returns the root of the `coal

[2017-03-07 14:49] Techievena opened #3868 "aspects/taste.py: Improve the error message"
taste value is allowed to be set only once. Error is raised if taste value is tried to set more than once. But this fact is quite unclear from the error message --> `can't set taste values of aspectclass instances`. Improve the error message.

[2017-03-07 15:12] Techievena opened #3869 "aspects/taste.py: Typo Error"
Change `name an` to `the` in  `name an cast type`

difficulty/newcomer

[2017-03-07 16:42] Makman2 commented on #3790
maybe `difficulty/low` as writing tests required :)

[2017-03-07 18:01] coala-bot opened #3872 "PR Process: require date of commit is updated when commit amended except for rebase"
Opened via [gitter](https://gitter.im/coala/coala/?at=58bef57c00c00c3d4fd263d6) by @jayvdb

[2017-03-07 18:23] yash-nisar opened #3873 "Testing_Bears.rst: Change settings snippet"
Change `settings={'max_number_of_lines': int=20}` to `settings={'max_number_of_lines': 20}`
Can be done after https://github.com/coala/coala/issues/3859 is merged.
difficulty/newcomer
area/documentation
importance/medium

[2017-03-07 19:26] coala-bot opened #3874 "Git_Basics.rst: Tell people to run coala over their code before they push to their fork"
Opened via [gitter](https://gitter.im/coala/coala/?at=58bf094721d548df2ca44dc6) by @supergr35

[2017-03-08 01:56] #3811 closed

[2017-03-08 02:11] jayvdb opened #3877 "Investigate Response.iter_content(chunk_size=None)"
See https://github.com/coala/coala/issues/3811#issuecomment-283214574

[2017-03-08 05:02] jayvdb opened #3878 "install_requires must be a string or list of strings"
vim-vint setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers
Answer is here :- https://www.bountysource.com/issues/38134858-177-breaks-pip-install-for-python2
https://gitter.im/coala/coala?at=58bf8aed1465c46a56ffb9c7

[2017-03-08 07:07] Techievena opened #3879 "aspects/taste.py: Describe the parameters of Taste"
Description of the parameters using `param:` definition is missing in pydoc of Taste class.

[2017-03-08 07:42] Techievena commented on #3878
[code]
Isn't this the value of `install_requires`?

[2017-03-08 09:47] fneu opened #3881 "Move towards CIA style guide"
It's pretty close to PEP8 and Google, kind of a boring read actually.

https://wikileaks.org/ciav7p1/cms/page_26607631.html

100 chars/line fwiw with some exceptions allowed.

[2017-03-08 13:13] Techievena commented on #3835
Doesn't flush-cache already do this thing?

[2017-03-08 16:07] Makman2 opened #3882 "Regex composition library"
For example linters often need to match paths, so a library that allows to compose more complex regexes could be beneficial:

[code]
(for example `path` could also change depending on the OS, like Windows vs Linux for more consistent behaviour)

This should probably go into a separate repository^^

[2017-03-08 16:07] Makman2 commented on #3882
Different kind of links may be also worth to consider :+1:

[2017-03-08 19:57] Makman2 commented on #3835
`flush-cache` is for cleaning our cache-file coala creates after a run, it doesn't remove cached data for the bear inside `Bear.data_dir`.

[2017-03-09 12:49] satwikkansal opened #3883 "Aspects/taste.py : typo in inline documentation"
Typo in the line
No need to specify name **an** cast type:

difficulty/newcomer

[2017-03-09 17:13] #3822 closed

[2017-03-09 17:32] jack17529 commented on #3877
@jayvdb @fneu sir please assign me this as no newcomer issue remains

[2017-03-09 17:33] jack17529 commented on #3862
@jayvdb please assign me this.

[2017-03-09 18:23] #3815 closed

[2017-03-09 20:14] Makman2 opened #3885 "Our Diff class sucks --> Switch to "modified-file coordinate system""
When changing lines inside a `Diff` object, it uses the old lines as reference. It also doesn't allow a modification to a line that was once modified. This behaviour highly sucks and should be changed to pick up the "new" lines and their respective line numbers, and modifications would work on these.

I already had problems with that, and currently @satwikkansal is implementing a `from_unified_dif

[2017-03-09 20:25] Makman2 commented on #3862
@jack17529 please read our newcomer guide

[2017-03-10 00:02] jack17529 commented on #3862
@Makman2 already did it sir , no newcomer issues are present

[2017-03-10 04:35] jayvdb commented on #3862
There are 7.  They are not in this repo.  The newcomer guide explains how to find them.

[2017-03-10 09:41] #3769 closed

[2017-03-10 09:43] jayvdb commented on #2914
See https://github.com/coala/documentation/pull/424

[2017-03-10 09:49] jayvdb opened #3887 "Use PYTHON_ARGCOMPLETE_OK"
coala documentation says `argcomplete` can be used, but it was recently broken: https://github.com/coala/documentation/pull/424

Currently `coalib/parsing/DefaultArgParser.py` has the following

[code]

note that `argcomplete` is not mentioned in `setup.py` or `requirements.txt`, or `test-requirements.txt`

If we are going to keep that chunk of code above, the dependency should be mentioned in at

[2017-03-10 10:08] jayvdb commented on #3887
c.f. https://github.com/coala/coala/issues/2914

[2017-03-10 10:52] arjunsinghy96 commented on #3885
I would like to work on this.

[2017-03-10 12:18] #3850 closed

[2017-03-10 14:12] Makman2 commented on #3885
Ah wait a sec, I wanted to discuss that with @fneu as he's the author :+1: :3

[2017-03-10 14:13] Makman2 commented on #3885
please wait with implementation @arjunsinghy96

[2017-03-10 15:46] meetmangukiya commented on #3885
lol (Subscribing)

[2017-03-10 16:12] RJ722 commented on #3808
Hi!
I was trying to make the required changes, but when changing to `assertRaisesRegex`, what should be the value for `expected_regex`?

Should it be left as `.*` for now

Thanks in advance! :smile:

[2017-03-10 16:33] incorrectusername commented on #3862
Setting for which Bear?

[2017-03-10 17:03] fneu commented on #3885
I'm not the author :D

That would be @sils. I agree with many of the points here made so far.

My only concern is that things like the original line being saved might be used when

- determining the compatibility of two diffs (merge conflicts?)
- determining which coala results are new (files may have changed)
- possibly other, similar functionality.

That said, I don't see a reason why we couldn'

[2017-03-10 17:08] fneu commented on #3885
Interesting point, I've never seen it this way. Adding a second diff with the desired change should work as long as the changes are mergeable on the specific line?

2 modifications to the same line are a classic merge conflict that we can usually resolve, though, because we actually compare the line content and update the change IIRC.

[2017-03-10 17:26] Thanos983 commented on #3883
Just checking, the correction should be 'name **a** cast type' right ?

[2017-03-10 18:02] satwikkansal commented on #3883
@Thanos983 you'll easily come to know when you see the file :wink:
[code]

[2017-03-10 18:28] jayvdb commented on #3808
Hi @RJ722 , `.*` would be bad.  See #3374.

[2017-03-10 19:17] jayvdb commented on #3862
This problem is not about a specific bear; the file open code is in coala.  This is a fix for problems like https://github.com/coala/coala/issues/488

[2017-03-10 22:18] sils commented on #3885
Yep of line conflicts occur essentially we convert both lines into lists of one char strings and make another diff out of this, merge it like usual which is pretty powerful already

[2017-03-10 22:52] impmihai commented on #3693
@jayvdb Can you give another look to the code now? :D I changed it how you asked, hope it is good now.

[2017-03-11 00:40] impmihai commented on #3701
Ok, it is worse than i thought. Pmd has been updated with the -filelist option, but cpd does not have that. All i can do is to file an issue to pmd to add that feature to cpd too. Shall I do this and wait for an update?

[2017-03-11 00:53] parvmor commented on #2898
Hey! I think that the error is mainly in `/coalib/processes/Processing.py` as it is yielding the ranges to be ignored.

[2017-03-11 01:19] parvmor commented on #2898
Hey! I think the error is in `/coalib/processes/Processing.py` as it implements the functionality for ignoring the ranges.

[2017-03-11 01:23] satwikkansal commented on #3771
@sils where do we collect this data? :sweat_smile:

[2017-03-11 01:50] jayvdb commented on #3701
Yes please raise the bug upstream

On Sat, 11 Mar 2017 07:40 Mihai Ionut <notifications@github.com> wrote:

[2017-03-11 08:18] sils commented on #3771
No idea where to get the data, we could let people allow us to submit usage statistics.

[2017-03-11 08:39] RJ722 commented on #3808
Hi @jayvdb !
When changing [InstanceTest.py](https://github.com/coala/coala/blob/master/tests/bearlib/aspects/InstanceTest.py#L17-L25) ([changes](http://pastebin.com/yd5kkJED)) in, but an [error] shows up! (https://gist.github.com/RJ722/f3e852563d34c8ab1204e22d2359f0f3).

[2017-03-11 08:59] RJ722 commented on #3808
Hi @jayvdb !
When changing [InstanceTest.py](https://github.com/coala/coala/blob/master/tests/bearlib/aspects/InstanceTest.py#L17-L25) ([changes](http://pastebin.com/yd5kkJED)) in, but an [error](https://gist.github.com/RJ722/f3e852563d34c8ab1204e22d2359f0f3) shows up! .

Perhaps we cannot pass arguments to unittest's test cases!,

[2017-03-11 09:51] hemangsk commented on #3771
I have a suggestion, how about recording click counts for bear cards on coala.io/languages? This will  tell us which bears users are most interested in. The caveat associated with this approach is 'users' here covers only that user base which is using coala.io to search for bears.

[2017-03-11 10:57] jayvdb commented on #3808
Try omitting this part
[code]

[2017-03-11 12:10] sils commented on #3771
love it!

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 11 March 2017 at 10:51, Hemang Kumar <notifications@github.com> wrote:

[2017-03-11 12:21] incorrectusername commented on #3862
when i run `coala -f *.jpg` . i get warning as `[33m[WARNING][0m[17:17:07] coala will not run any analysis. Did you forget to give the `--bears` argument?[0m` . (only one line warning).

we just need to add options like `coala -f xyz.png --encoding *typehere* ` ?

i'm not getting , can you please explain more 😅

[2017-03-11 12:35] jayvdb commented on #3862
Ya, those are binary files.  Binary files do not have a [charset](https://en.wikipedia.org/wiki/Charset).  Test on a text file which uses a different character encoding, i.e. not utf8.

[2017-03-11 15:03] Nosferatul commented on #3306
yes

[2017-03-11 15:59] Techievena commented on #3883
@satwikkansal I have already opened up an issue for this :smile:

[2017-03-11 16:05] Makman2 commented on #3306
so you can't reproduce in fact? :)

[2017-03-11 16:08] Makman2 commented on #2898
Yeah but it's not about the functionality itself, it's about the concept. Read the issue discussion :+1:

[2017-03-11 16:09] Makman2 commented on #3885
Okay seems people are agreeing, let's do it :+1:

[2017-03-11 16:09] Makman2 commented on #3885
@arjunsinghy96 you can go ahead :)

[2017-03-11 16:10] Makman2 commented on #3885
and sorry @fneu seems I remembered wrongly ... happens :3

[2017-03-11 16:38] arjunsinghy96 commented on #3885
I will go ahead and try to solve this then.

[2017-03-11 19:57] Makman2 commented on #2884
unassigned due to inactivity

[2017-03-12 01:39] corona10 opened #3898 "misc/DictUtilities.py: Switch into defaultdict"
`inverse` is now `dict`.
If we switch into defaultdict, we don't have to check whether it is None or not.

[2017-03-12 02:28] jayvdb commented on #3808
The initial investigation by @RJ722 is that these tests actually dont work normally as unittest sub-classes, and some fancy foot-work is required to get `assertRaisesRegexp` working.

They were all introduced in b9d51cd68 & 91d226eb0 by @userzimmermann , so maybe he knows more about why they are being used, and should review the alternative approach developed in #3894 .

[2017-03-12 04:26] coala-bot opened #3901 "Mention GitLab coala in newcomers guide"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58c4cdd8e961e53c7fd39e75) by @jayvdb

[2017-03-12 04:32] coala-bot opened #3902 "Mention GitLab coala-utils in Development Setup"
https://gitlab.com/coala/package_manager/ and https://gitlab.com/coala/coala-utils/ are fundamental parts of coala, and should be obtained from Git while setting up a development environment.  This also helps familiarise the developer with the fact that GitLab is part of the coala ecosystem.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58c4cf5b872fc8ce62ee761d) by @ja

[2017-03-12 04:36] coala-bot opened #3903 "Rewrite "Installing from Git" in Development Setup"
The first sentence of "Installing from Git" in Development Setup is almost unintelligible, bordering on gobble-de-gook.

And the second code sample `(venv)$ pip3 install -e <path/to/clone>` is identical to the previous code sample in what it achieves, but it is described as if it is different. Remove it, and properly describe the first code sample.
difficulty/newcomer

Opened via [gitter](https://

[2017-03-12 06:46] arjunsinghy96 commented on #3885
Do we need to merge both the modifications or just keep the latest modification.

[2017-03-12 07:51] ShivangiM commented on #3903
I would like to work on it

[2017-03-12 08:20] yash-nisar commented on #3903
You can assign it to yourself by `cobot assign full-url-to-issue` on our gitter channel. Type `cobot help` on our channel for more details.

[2017-03-12 09:42] #3859 closed

[2017-03-12 10:49] RJ722 opened #3904 "Centralise the error strings to prevent conflicts"
In Issues: #3808 , #3374, some tests are told to be changed and it is emphasized that they should check for the correct error string.
There is #3894 which changes  ```pytest.raises```  to ```assertRaisesRegex```, so that it would assert that the error string matches to the given regular expression, but the problem is: the same error string is altered in #3900 . Now, if any one of the PR is merged,

[2017-03-12 10:59] #2926 closed

[2017-03-12 11:35] sils commented on #3881
seriously, can I just close this?

[2017-03-12 11:36] sils commented on #2194
Marking low because an approach from @micrictor exists but the participant would have to investigate what actally needs to be done here again :P

[2017-03-12 11:43] fneu commented on #3881
Of course :D

[2017-03-12 11:43] #3881 closed

[2017-03-12 13:47] corona10 opened #3906 "Fail to install and py.test on docker environment."
When I try to install by `python setup.py install`, it is failed with this message.
`UnicodeEncodeError: 'ascii' codec can't encode character '\xfc' in position 15224: ordinal not in range(128)`
Also, the same happening when I try to run unit test on local.
It needs to be fixed.

[2017-03-12 13:55] jayvdb commented on #3906
Which docker image are you using?

[2017-03-12 14:21] corona10 commented on #3906
@jayvdb I am using ubuntu by `docker pull ubuntu:latest`.

[2017-03-12 14:48] coala-bot opened #3909 "Follow PEP8 guidelines for module filenames"
https://www.python.org/dev/peps/pep-0008/#package-and-module-names

Opened via [gitter](https://gitter.im/coala/coala/?at=58c55fc27ceae5376aa934c7) by @adtac

[2017-03-12 15:03] #3745 closed

[2017-03-12 15:03] #3748 closed

[2017-03-12 15:12] Makman2 commented on #3885
if there's an unresolvable conflict, throw an error. Though we support merging stuff inside a single line under certain conditions.

[2017-03-12 16:25] Makman2 commented on #3909
So the main task (if we do this) is to lower-case our file-names where classes are defined, right?

[2017-03-12 16:40] Makman2 commented on #3906
Confirmed :+1:

Launch docker: `docker run -it ubuntu:latest bash`
Inside docker:
[code]

[2017-03-12 16:48] Makman2 commented on #3906
That even happens on latest `fedora` image...

[2017-03-12 16:55] corona10 commented on #3906
@Makman2
I wrote little description why this happening on https://github.com/coala/coala/pull/3908.
It looks like that coala expected utf-8 setting locale on [this side](https://github.com/coala/coala/blob/master/setup.py#L18).
But unfortunately, They do not raise (ValueError, UnicodeError) but just return
`(None, None)`.
This is why this issue is happening. Also, for the unit tests, there are som

[2017-03-12 17:26] parvmor opened #3910 "Making coala Self Aware of the language of file."
When adding ignore comment to a file the program asks of what language it should be of.
We could automate that by making coala self aware of what language it really is.

[2017-03-12 17:27] arjunsinghy96 commented on #3885
Yeah. When we try to modify same line again, our Diff converts both replacement lines into list of char, create Diff object for both and try to merge them(or add). I found that almost every time we try to merge two Diffs of char we get a conflict.

[2017-03-12 17:31] meetmangukiya commented on #3910
We could possibly use coalang, and use the extension of the file(though this will not cover all the cases) to determine the comment syntax and add the comment.

This will leave cases when there is no extension, but has a shebang on top of the file(maybe we can check those), but for now, we can go with this simple approach.

[2017-03-12 17:33] arjunsinghy96 commented on #3885
What if we apply modification on the last modified line.

[2017-03-12 17:38] Makman2 commented on #3885
it refers again to that line, that's the principle of the modified-file-coordinate-system :)

[2017-03-12 17:40] Makman2 commented on #3885
hm yeah that's the challenge... you'll find a way :)

[2017-03-12 17:44] arjunsinghy96 commented on #3885
Can you point me to some reference for `modified line coordinate system` . I need more insight into it.

[2017-03-12 18:17] yash-nisar opened #3911 "Writing_Linter_Bears.rst: Change rcfile to pylint_rcfile"
Change rcfile to pylint_rcfile in the following code snippet:
[code]
difficulty/newcomer
area/documentation

[2017-03-12 21:09] meetmangukiya opened #3912 "core: Write to files only after checking that Diff._file == Current state of file"
What coala does:
1. Loads all the files needed(passed from `-f`) into memory.
2. Bears propose results and hence create the diffs.
3. If there are no merge conflicts, by the end of the execution, the file is overwritten.

The problem arises when user changes file between calling coala i.e. loading and writing.

For example:
1. Suppose I had some error reported by PEP8Bear on a python file. It even

[2017-03-12 23:28] Makman2 commented on #3885
What I mean is basically this:

Currently diffs use - I call it - "original file coordinate system". That means any change is performed relative to the original file. Imagine this:
[code]
and I add a line:
[code]
If we want to add another line of text, regardless whether we do this before `123` or after, current `Diff` throws an error, as it doesn't know where to place the new line respective to `

[2017-03-12 23:32] Makman2 commented on #3912
good idea. But don't read the file again, rather compare timestamps which is cheaper than reading it again :+1:

[2017-03-13 03:26] #3898 closed

[2017-03-13 05:36] arjunsinghy96 commented on #3885
Okay. Thanks, now I know I was moving in right direction. Time to think how to implement this. (Maybe by keeping a modified version in the `Diff`) Right now we only create the modified file when `modified` method is called.

[2017-03-13 06:11] meetmangukiya commented on #3912
@Makman2 mark difficulty label if you are aware of this stuff.. :P

Also, there are two facets to this issue:
- Timestamp has not changed:
  - well this is simple, nothing has to be changed, just apply the patch as before :3
- Timestamp has changed:
  - Now, since the timestamp has changed, the `Diff` has changed, now the important and sane thing to carry out will be compute a new `Diff` with the

[2017-03-13 08:22] satwikkansal commented on #3885
@arjunsinghy96  I think this involves maintaining an `original_file_modified_till_now` version of file in the `Diff` class and instead of using `original_file` as reference when doing modifications (like `add_line()`, `modify_line()`), use this `original_file_modified_till_now` as reference.
This `original_file_with_modifications_till_now` will be updated for every addition or deletion to the `Dif

[2017-03-13 09:07] satwikkansal commented on #3771
@hemangsk Nice Idea.
Also we should encourage users to visit coala.io/languages (like in CLI help section, etc). Wondering if we can track similar usage analytics for `cib`.

[2017-03-13 10:24] arjunsinghy96 commented on #3885
@satwikkansal This is what I was thinking. But there is a problem.
Suppose our original file was
[code]
now if we add `inserted` after `this is original`. Our `modified_till_now` will be
[code]
Now if a instruction to modify_line 2 is given, which line( `insertion` or `second line`) it is refering.
Then the code using `Diff` will have to keep track of changes.

[2017-03-13 10:29] sils commented on #3885
@Makman2 you wanna introduce diffs based on already modified files? That won't work, the bears run in parallel and the patches could be applied in any order by the user, you can't just allow them sequentially.

Frankly I don't see what this issue is wanting to achieve, our diffs are pretty smart, maybe it can be improved a little but I don't see any cases where I could objectively make better deci

[2017-03-13 10:46] Siddhartha1234 commented on #3912
@meetmangukiya Coala uses timestamp for caching purposes . You can utilise that :)

[2017-03-13 11:31] Siddhartha1234 opened #3914 "core/performance : Add command 'coala-perf-test' to collect runtime info of users to analyze"
I propose to add a new class "PerformanceTest.py" , which takes  various situations into consideration and analyzes loading time on a function level , at 'execution of Section' Level and also for individual Bears in coala and plots appropriate graphs/heatmaps and dumps a file. This has two advantages :

- We get a vivid idea  of where exactly we are lacking more in terms of performance because of

[2017-03-13 12:38] adtac commented on #3914
We kinda have some analysis available in https://github.com/coala/coala/issues/2912 if that'll be useful

[2017-03-13 12:40] adtac commented on #3914
Oooh, very microsoft-y :P But seriously, this has to be completely anonymous (no identifiable information about the user's project should ever be in this dump - this includes filenames, filetypes, sizes, and so on).

[2017-03-13 12:43] adtac commented on #3914
Also, this sounds very general. I'm not sure if there's anything specific to coala here. Could this be a general Python library? We could use that library and collect exactly what we need. (That way other python programs could be profiled too; instead of creating something specific to just coala.)

[2017-03-13 13:28] Nosferatul opened #3915 "performance: Use cib to load all bears"
Use cib to load all bears.

[2017-03-13 13:28] Nosferatul commented on #3915
This can be done?

[2017-03-13 13:33] Siddhartha1234 commented on #3914
@adtac Instead of an independent library and API , i was just saying to have a class which will be a stack of "Timer" sections wrapping over the stack of functions while execution  and storing it using libraries like https://docs.python.org/3.0/library/timeit.html ..containing information about execution of all the sections individually using a conditional decorator like
[code]

and then for use :

[2017-03-13 13:41] adtac commented on #2912
@sriranganathan unassigning due to inactivity - please feel free to assign yourself (through `cobot` on our gitter channel) if you're still working on this.

[2017-03-13 13:51] adtac commented on #3914
Just a note: this *would* affect performance a teensy bit because we'd be doing an `if` condition at the start of *every* function

[2017-03-13 14:41] Nosferatul opened #3916 "Do not use join so often"
I used vmprof on several files from the repo and I realize that a `join` is expensive in most of the cases. Could we come with a better alternative?

[2017-03-13 15:02] Nosferatul opened #3917 "Ensure we don't use `yield_once` unnecessarily"
https://github.com/coala/coala/issues/2912

[2017-03-13 17:42] Makman2 commented on #3885
1. There's already `Diff.modified` which contains the modified version.
2. > Now if a instruction to modify_line 2 is given, which line( insertion or second line) it is refering.

   like said, it refers to `insertion` as `insertion` has become line 2.
3. @sils then it's the challenge to merge them like we do now. This is not really different from before, just the data representation is different.

[2017-03-13 17:50] Makman2 commented on #3912
There might be conflicts, in this case we need to error out properly if a Diff reconstruction is not possible. Though on first implementation I would always emit an error that the file has changed and coala has to be run again.

Actually we can just use a write lock to prevent changes from outside during the 1st time Then we don't need to do this step again.

[2017-03-13 19:40] RJ722 commented on #3916
Hi @Nosferatul !
Can you please add the result from vmprof, so it is a little more clear.

There are 332 matches of the string "join":
[code]
Viewing the [results](http://pastebin.com/RRVmyvLn) of grep manually, I found that **most of them are instances of ```os.path.join```** which I suppose is efficient.
Apparently, vmprof is misinterpreting it for the ```str.join``` method which is slow. If it

[2017-03-13 19:55] nemaniarjun commented on #3916
@RJ722 I improved upon your comment and found that we have 54 instances of `'.join` and 2 instances of `".join`.
If str.join is really very slow than we should reduce this number somehow.

[2017-03-13 19:59] nemaniarjun commented on #3916
Relevant and good read http://stackoverflow.com/questions/1349311/python-string-join-is-faster-than-but-whats-wrong-here

[2017-03-14 04:27] jayvdb commented on #3367
Have we looked at other tools which may offer this:
- https://github.com/pypa/setuptools_scm
- https://pypi.python.org/pypi/pbr
- https://github.com/warner/python-versioneer
- https://github.com/hawkowl/incremental

[2017-03-14 09:01] satwikkansal commented on #3883
@Techievena Right, my bad :disappointed:
@Thanos983 could you please try some other newcomer issue. Sorry for the inconvenience :(

[2017-03-14 09:55] Thanos983 commented on #3883
@satwikkansal Don't worry about that :)

[2017-03-14 11:27] jayvdb commented on #3883
Dup

[2017-03-14 11:27] #3883 closed

[2017-03-14 11:29] #3869 closed

[2017-03-15 00:10] jayvdb commented on #3824
We have a bear which checks code blocks in RST.

[2017-03-15 00:13] #3542 closed

[2017-03-15 00:44] jayvdb commented on #3856
See https://github.com/tj/git-extras/blob/master/Commands.md

Also git-extras is in Fedora, and Ubuntu [since trusty](http://packages.ubuntu.com/search?keywords=git-extras), and also Homebrew.

Especially useful is `git `[`fork`](https://github.com/tj/git-extras/blob/master/Commands.md#git-fork) which creates two remotes (`origin` and `upstream`).

[2017-03-15 00:46] jayvdb opened #3919 "mention git-repo in dev docs"
Following on from https://github.com/coala/coala/issues/3856, I am also liking [git-repo](https://github.com/guyzmo/git-repo), which has a smaller list of commands, but supports gitlab also.  It uses two remotes (`gitlab`/`github` and `upstream`), but git-repo is not in Fedora or Ubuntu.  It is however in pypi, so it is easy to get with pip.

[2017-03-15 00:50] nemaniarjun commented on #3824
I have worked on it, `RSTcheckBear`, probably add it to coafile?

[2017-03-15 04:59] coala-bot opened #3920 "Docs generator should detect invalid class names in :class:"
e.g. the error fixed in https://github.com/coala/coala/pull/3842 should have been detected when the code was uploaded.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58c8ca28dd08b4b859d1b154) by @jayvdb

[2017-03-15 04:59] Siddhartha1234 commented on #3824
@nemaniarjun Just Adding RSTcheckBear to the coafile isn't a difficulty medium issue. He expects something more when he says "in sync" i guess , @jayvdb Can you make it clear,what else do you expect ?

[2017-03-15 05:15] jayvdb commented on #3824
Errors from RSTcheckBear will ensure the docs are kept in sync with the code.
I dont want this to be someones second PR, as they would stumble in the dark; hence medium difficulty.

It may turn out to be a low difficulty problem, but if there are other bugs in the docs, they all need to be fixed first (and they could be raised as separate newcomer/low difficulty problems for other people to solve)

[2017-03-15 05:16] jayvdb commented on #3824
See also https://github.com/coala/coala/issues/3920 for another similar problem

[2017-03-15 07:11] sinwar commented on #3793
@jayvdb I stuck at one point. We want to shorten our message when the -V flag is enabled and the message is generated by ```coalib/bears/Bear.py``` and I am not able to find log_level ( or check about flag) in this file to perform shortening.

[2017-03-15 10:19] jack17529 opened #3921 "docs: Use python3 and pip3 everywhere"
It should be mentioned how to deal if user has both python 2 and python 3 installed in system (ubuntu)

[2017-03-15 10:51] #3911 closed

[2017-03-15 11:07] jayvdb commented on #3921
Use `python3` everywhere in docs instead of `python`?

[2017-03-15 11:17] #3155 closed

[2017-03-15 11:17] #2050 closed

[2017-03-15 11:17] #2884 closed

[2017-03-15 11:17] #3461 closed

[2017-03-15 11:17] #3792 closed

[2017-03-15 11:17] #3868 closed

[2017-03-15 13:26] jack17529 commented on #3921
@jayvdb yes something needs to be mentioned ,well I am working on this.

[2017-03-15 15:05] coala-bot opened #3926 "docs: Mention that the only way to familiarise yourself with the codebase is to practice and take up new issues"
Opened via [gitter](https://gitter.im/coala/coala/?at=58c9581efe6a638b1ac927d6) by @adtac

[2017-03-15 18:16] userzimmermann commented on #3808
@jayvdb @Makman2 @RJ722 I don't see any benefit of sticking to `unittest` style. `pytest` is fully backwards compatible to `unittest`, has more features and `pytest` style test code looks much friendlier and more pythonic. And as @NiklasMM pointed out, `pytest` is anyway the testrunner.

[2017-03-15 18:26] userzimmermann commented on #3808
What is the problem with:

[code]

Sorry, but to be honest, the changes in https://github.com/coala/coala/pull/3894 really don't look nice :/

[2017-03-15 18:28] userzimmermann commented on #3808
@sils I would also appreciate your opinion very much :)

[2017-03-15 18:30] Techievena opened #3928 "tests/aspects: Replace \ with () for line continuation"
[code]
Use of `\` for line continuation is not allowed in coala. These are the instances where `\` is used instead of enclosing braces for line continuation.

[2017-03-15 18:42] Techievena opened #3929 "TasteTest: Add missing field"
[code]
`taste.languages` field missing in `test__init__defaults` function

[2017-03-15 20:00] impmihai commented on #3701
I made a PR to PMD in order to add that option. Here it is: https://github.com/pmd/pmd/pull/297 . When it is merged, i will finish the PR on this issue. ☺️

[2017-03-15 20:46] userzimmermann commented on #3131
@sils Righty right! And true :)

[2017-03-15 22:07] coala-bot opened #3930 "Newcomer's Guide.rst: Add documentation for deleting a commit from a branch"
Opened via [gitter](https://gitter.im/coala/coala/?at=58c9bb3705a31d5a4a5f922f) by @supergr35

[2017-03-15 23:02] jack17529 commented on #3182
@damngamerz  I am still getting this error ,are you working on this ?

[2017-03-16 01:29] Techievena opened #3931 "tests/aspects: Closing braces must be in same line as the last line of block/condition"
There are instances of
[code]
whereas coala always follows this codestyle
[code]

[2017-03-16 07:15] damngamerz commented on #3182
@jack17529 go ahead if you have a solution :smile: you should assign yourself first before submitting a PR.

[2017-03-16 13:22] #3926 closed

[2017-03-16 13:31] Madhukar-SH commented on #3921
If the issue is referring to http://docs.coala.io/en/latest/Users/Install.html ,
There is just one thing to fix that is
'$ pip show pip' should be changed to '$ pip3 show pip'

Beacue 'pip show pip' would lead to installation of python-2.7 pip if it wasn't installed.
But the requirement is pip3 which is python3-pip :)

[2017-03-16 20:31] KenjiTakahashi opened #3938 "cib install fails"
Installed with (also tried with python3.5, just in case, same thing):
[code]
Trying to use cib:
[code]
Tried several different bears, same result.

[2017-03-16 21:32] Makman2 commented on #3914
rather return the old function in the decorator itself instead of making an `if timing_is_enabled`. Then we don't have performance impacts on runtime (except loading gets then a teensy bit slower ;D)

[2017-03-16 21:32] Makman2 commented on #3917
Some example?

[2017-03-16 21:40] Makman2 commented on #3916
though we often join stuff when it's not necessary to have the underlying data as (often line-)split strings. This could be reduced. There's in principle nothing faster than `join` itself, still it does many string copies which is a costly operation.

[2017-03-16 21:41] Makman2 commented on #3916
Especially for bears, though working on that with the FileProxy / FileFactory.

[2017-03-16 22:26] bhavishyagopesh commented on #3885
@Makman2 @sils I would like to take  this up?I understand the issue so what do you say?

[2017-03-16 22:47] bhavishyagopesh commented on #3909
@Makman2 Do we just have to lower the names, Can I do something?

[2017-03-16 23:14] bhavishyagopesh commented on #3878
@jayvdb Do you want get python version written too,since splitlines() gives a list already.If you could please elaborate a bit, I would like to contribute.

[2017-03-16 23:25] jack17529 commented on #3921
@NiklasMM here it is and I thought nothing happend and my internet too blew up,sorry.

The only problem is that in commit message there is a typo gitignore-->Development_Setup.rst

[2017-03-16 23:26] jack17529 commented on #3921
@NiklasMM please comment if you have seen it and want me to correct anything

[2017-03-16 23:56] bhavishyagopesh commented on #3872
@jayvdb I think we might achieve this using git filter-branch, but you could please elaborate a bit more, as I would like to take this up.

[2017-03-17 00:17] Makman2 commented on #3885
It's currently assigned, ask @arjunsinghy96 :+1:

[2017-03-17 00:19] Makman2 commented on #3909
It's still questionable if we want that. @adtac any reasons to change this except of being PEP8 conform? Though PEP8 is always good, I don't have something agains our current naming scheme. What I more see being a problem is this duplication when importing stuff:
[code]

[2017-03-17 00:20] bhavishyagopesh commented on #3885
@arjunsinghy96 hey I'm eyeing for G-SoC(deadline's close too), So if you can please allow I would like to work on this.

[2017-03-17 00:23] Makman2 commented on #3885
@bhavishyagopesh though seems you are new here, you sure you want to start with a medium issue? That's really not that easy^^

[2017-03-17 00:32] bhavishyagopesh commented on #3885
@Makman2 I would like to give it a try and I have got my commits merged to sympy,hyper,mailman(which are python based), so maybe I could do something.Or if you could direct (that would be huge help)me to issues which  are much more appropriate with G-SoC in mind.Thank You.

[2017-03-17 04:09] adtac commented on #3909
Not really. PEP8 is the only reason I had in mind.

[2017-03-17 04:25] bhavishyagopesh commented on #2861
@abhsag24  @jayvdb  I ran tests ,and they look complete except <coalib/parsing/Globbing.py>and <coalib/processes/Processing.py >, They are not tested, I guess, Can I somehow contribute may be running them on Windows would yield something.

[2017-03-17 05:00] bhavishyagopesh commented on #3816
@jayvdb I think we can add <warnings.simplefilter('always')> through <import warnings>which might solve the above issue but I'm not sure what other issues it might raise.

[2017-03-17 05:09] bhavishyagopesh commented on #3901
@coala-bot I would try to do this

[2017-03-17 05:49] jack17529 commented on #1690
@AbdealiJK  can I please know what is required to deal with this issue and how to proceed ? So that I can make sure to assign me this.

[2017-03-17 05:54] bhavishyagopesh commented on #3885
@Makman2 So what do you say?

[2017-03-17 06:45] arjunsinghy96 commented on #3885
@bhavishyagopesh I am currently working on this. You could help me if you like. I am also a GSoC aspirant.

[2017-03-17 08:24] NiklasMM commented on #3921
@jack17529 it seems like you're commenting on the Pull Request #3922, but this is the related issue. Please keep any comments regarding a pull request to the discussion there.

[2017-03-17 09:21] #3865 closed

[2017-03-17 11:45] bhavishyagopesh commented on #3904
@sils @RJ722 Since #3900 is already merged, we may make changes in PR like the regex could be changed to "instance exists already" in taste.py and instance.py, What do you say?

[2017-03-17 11:47] bhavishyagopesh commented on #3909
@Makman2  So what do you think?

[2017-03-17 13:02] bhavishyagopesh commented on #3882
@Makman2 I woud like to take this up.

[2017-03-17 13:31] madhukar01 opened #3940 "Missing function in coalib/misc/Shell.py"
Fucntion call_without_output missing in shell.py
Which is needed fot installation of cib
` File "/home/helios/coala_env/lib/python3.5/site-packages/coala_package_manager/installation_tool.py", line 29, in <module>
    from coalib.misc.Shell import call_without_output
ImportError: cannot import name 'call_without_output'
`

[2017-03-17 14:01] meetmangukiya commented on #3882
@bhavishyagopes, ok, lets discuss first, then(since it has `status/needs design` label)

[2017-03-17 14:09] corona10 opened #3941 "Bears list should be case-insensitive order."
Case A is better for users than case B when they are finding bears by eyes.

## Case A:

[code]
## Case B(Current):

[code]

[2017-03-17 14:13] Madhukar-SH commented on #3938
@KenjiTakahashi  This bug can basically be fixed by replacing the '/lib/python3.x/site_packages/dependency_management' with the latest edition of 'coala_package_manager' from the repo https://gitlab.com/coala/package_manager
Becaue when cib is installed with pip3, its installing from outdated repo, in which the PipRequirement.py does not have install_package() function, where as the lastest repo h

[2017-03-17 15:19] Mariatta commented on #3882
@Makman2 @meetmangukiya , @bhavishyagopesh  is interested to work on this issue as part of gsoc. I understand it is still need design and consideration. Please guide @bhavishyagopesh with this if you can. Thanks.

[2017-03-17 16:07] Makman2 commented on #3909
Let's postpone this. Especially many people are going to work on the repos during gsoc, and this change would affect everyone.

[2017-03-17 16:12] Makman2 commented on #3882
Not sure this really fits into a gsoc (except when doing some kind of allround work). Maybe there's already another python package that contains those features, then we could add stuff there. This has to be researched once and then we would slowly start porting regexes / use existing regexes.

[2017-03-17 17:23] SanketDG commented on #2675
Issue redundant, file deleted in 1a016a5, moved to https://gitlab.com/coala/package_manager/

[2017-03-17 17:23] #2675 closed

[2017-03-17 17:36] meetmangukiya commented on #1690
@jack17529 this is one of the gsoc projects, so definitely this is something that can't be done soonish and also cannot be assigned

[2017-03-17 17:47] jack17529 commented on #1690
@meetmangukiya  then which issues to solve to get selected for GSOC 2017 as a super strong candidate.

[2017-03-17 17:52] SanketDG commented on #2716
Moved to https://gitlab.com/coala/package_manager/issues/50

[2017-03-17 17:52] #2716 closed

[2017-03-17 18:34] yash-nisar opened #3944 "Create a new initiatives/gsoc label"
Creating a new initiatives/gsoc label would prevent it from being assigned to people who are not aware of the projects shortlisted for gsoc. Can be assigned to a person with write access. :)

[2017-03-17 19:24] Madhukar-SH commented on #3878
Sorry, pushed to wrong repo, will fix this soon.

[2017-03-17 19:27] KenjiTakahashi commented on #3938
Maybe it's time for a new release then :-)? For now I just installed bears with pip directly. I only needed the Python ones (for now), so it was not a problem.

[2017-03-18 02:12] bhavishyagopesh commented on #3882
@Makman2 So what do you suggest here do I look out for something(i.e. python package for generating complex regexes).

[2017-03-18 02:29] bhavishyagopesh commented on #3864
@Udayan12167 Could you please elaborate the issue here.

[2017-03-18 12:57] meetmangukiya opened #3946 "deprecate_settings doesn't return __doc__ of the wrapping function"
Try:
[code]

So this mostly confirms it is the decorator

[2017-03-18 14:26] coala-bot opened #3947 "docs: Mention in rebase docs that they should rebase with coala remote"
The docs should specify that the `origin` in the example is the remote of `github.com/coala/coala`
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58cd437f05a31d5a4a6f77b0) by @meetmangukiya

[2017-03-18 14:34] coala-bot opened #3948 "Git_Basics.rst: Be more clear on which repo to clone"
The docs give instructions to clone the main repos, but then tell the users it is ideal to clone their fork.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58cd45722215a08f049d5d98) by @supergr35

[2017-03-18 16:28] Makman2 commented on #3882
yes look for something existent and if it suits our needs. You can grep in our repo for regexes we use so you see what we use/need ;) If you can't find a package that goes into the right direction (but I think there are ones), we make a new repo. But if possible consider preparing upstream contributions :+1:

[2017-03-18 18:18] bhavishyagopesh commented on #3882
For now I found [this](http://zesty.ca/python/rxb.py), and I'm looking for what we need.

[2017-03-18 19:11] bhavishyagopesh commented on #3882
@Makman2 Still I'm not very sure of which files will undergo change, say using this script we can redefine regexes in  coala/coalib/misc/Constants.py  but changes have to made everywhere, so now could exactly point  in what direction should I go.

[2017-03-18 19:15] Makman2 commented on #3882
grep for modules that use `re` and look for regexes inside^^

[2017-03-18 19:34] bhavishyagopesh commented on #3882
Yeah,I have done that, do you want to say that script doesnt has enough functions...

[2017-03-18 21:45] Makman2 commented on #3882
I'm saying nothing, haven't looked at the script^^

[2017-03-18 22:28] bhavishyagopesh commented on #3882
Please if you could elaborate(I desperately need a patch submission to back my project proposal) and (also what does ^^ mean,googled but didnt got decisive answers. )....I greped and the functions in the script can be used to generate most of them(I suppose).

[2017-03-19 00:37] MikeinRealLife commented on #3947
I'll take this one

[2017-03-19 07:32] meetmangukiya opened #3950 "caching: coala doesn't give any results on consecutive runs, if no files are altered"
Situation:
I have some files that are not coala compliant, so coala complaints on `coala`. After `coala` has finished running, I *do* not alter a single line, in any file or to be more precise, the timestamps are the same for each file. Now run `coala` again and one doesn't get any results, because `coala` assumes, there is no change at all, so it doesn't run.

Which makes the user think that it i

[2017-03-19 07:36] adtac commented on #3950
Uh this is serious. Let me try to reproduce this ASAP.

[2017-03-19 07:38] adtac commented on #3950
And this is definitely a bug that needs to be fixed. Caching shouldn't hide results!

[2017-03-19 07:39] adtac commented on #3950
Are you sure that the file is not fixed by coala automatically? Something like PEP8 results are usually fixed by coala. That way the result won't be brought up again the next time.

[2017-03-19 07:45] Siddhartha1234 commented on #3950
@adtac I thought we did cache.untrack(result_files) . Even i have faced the same issue sometimes. I think we should debug the "result_files" list for that bear . Untracking isn't so perfect right now.

[2017-03-19 07:45] meetmangukiya commented on #3950
mostly yes, I'll try again

[2017-03-19 08:02] adtac commented on #3950
Everything works for me: https://asciinema.org/a/00c3wv0bgkkdhudx2wkmvzk1x

[2017-03-19 08:37] meetmangukiya commented on #3950
hmm.. as @Siddhartha1234 said, even I have experienced quite few times, guess I should've reported then, now I don't have anything to support this bug. I'll add can't reproduce label for now and see If I can reproduce and get some useful information that can help in debugging

[2017-03-19 09:13] #3782 closed

[2017-03-19 11:10] SanketDG commented on #3823
@Gouenji still on this? :smile:

[2017-03-19 13:13] all3fox opened #3952 "One test fails locally: OpenEditorActionTest.test_environ_editor"
Here is how to reproduce it on my machine:

[code]

Then, it collects 620 items to test, runs the tests and informs me of a single failure:

[code]

Alright, this test seems to be doing something with a spawned editor. My `.zshrc` defines a function called `emacs` (named exactly like the editor):

[code]

This is my convenience function that spawns `/usr/bin/emacs`, passes all of the parameters to

[2017-03-19 14:57] RJ722 commented on #3904
Hi! @bhavishyagopesh
I think you misinterpreted my intent, it was to centralize the error strings, so that they would all be referenced from the same location at both the places, in the use case and in the test case as well, so that we won't have to face this sort of conflict again.
I would highly respect your opinion on this @sils @jayvdb

[2017-03-19 17:13] bhavishyagopesh commented on #3904
@RJ722 Yeah, I agree with you...

[2017-03-19 17:20] Makman2 commented on #3882
Then I would advise you to take an issue with `difficulty/newcomer`/`difficulty/low`, this one's still marked as `needs-design` as there needs some investigation on this issue.

[2017-03-19 19:13] impmihai commented on #3701
PR merged, waiting for their version release and I am ready to finish this too 😄

[2017-03-19 19:42] Makman2 commented on #3904
Centralizing always good, though I'm not sure we should pack every message into a single place. Imo it would be okay to put those messages to module scope of the same module. This way we maintain modularity and still messages are "centralized" and usable from a single place.

[2017-03-19 19:43] Makman2 commented on #3946
This is bad!

[2017-03-19 19:45] Makman2 commented on #3864
Have you looked at the `attrs` library? It allows to define conveniently fields and behaviour of a class. The idea is to use that for `coalib.core.Bear`.

[2017-03-19 19:47] Makman2 commented on #3938
yeah that should be included in the release as this is something a user (and also me) would expect to work right out of the box.

@Mixih you are release team leader if I recall correctly ;)

[2017-03-19 19:49] Makman2 commented on #3941
Hm you sure? When I see alphabetical order I wouldn't expect to find small letters later actually^^

[2017-03-20 04:15] madhukar01 opened #3955 "Asserion error in Tests and Travis"
Errors are occuring due to http://httpbin.org/status/418 returning `500 Internal server error` instead of `418 client error`.

Due to this Travis builds, local py.test and appveryor builds are failing.
None of the PR made now are going to pass the tests.

` AssertionError: "418 Client Error" does not match "500 Server Error: INTERNAL SERVER ERROR for url: http://httpbin.org/status/418"
tests/bears

[2017-03-20 04:18] coala-bot opened #3956 "docs: typo error"
`You can help us testing coala in several ways.`: `testing` should be `test`. (difficulty/newcomer)

Opened via [gitter](https://gitter.im/coala/coala/?at=58cf58187b3f37e75415c5de) by @PierceAndy

[2017-03-20 04:20] PierceAndy commented on #3956
The page in question: http://api.coala.io/en/latest/Developers/Executing_Tests.html
The file in question: `Executing_Tests.rst`

[2017-03-20 12:26] #3874 closed

[2017-03-20 13:26] SanketDG commented on #3941
@Makman2 didn't get you, do you mean alphabetical order should not show small letters later? Then that is exactly what is being done :smile:

[2017-03-20 13:37] jack17529 commented on #3807
@adtac we have to use gnu plot to know how fast the program can go but it gonna require a lot amount of  abnormal math as far as I now to evaluate the limit.

[2017-03-20 13:41] adtac commented on #3807
@jack17529 no, this is more of "create a software that does this" thing rather than a "plot this data set".

[2017-03-20 15:16] Makman2 commented on #3941
oh yeah my bad, nvm ... :3

[2017-03-20 15:25] NiklasMM opened #3958 "Newcomers guide: Add introduction to Gitter"
A Gitter section should be added to the newcomers guide, probably in "Step 1: Meet the community" or as a separate page linked from there.

It should include:

* Short intro (What is Gitter?)
* Explain which channels are there. (Including non-repo related ones like offtopic, conferences....)
* Explain Gitter Etiquette, i.e. don't @-mention or private message people unless they are the only one who

[2017-03-20 15:28] adtac commented on #3958
Maybe also add "do not assign issues through cobot unless you entirely know what the issue is about and how to solve it" (I know it's already in the newcomer invite, but nobody follows it anyway)

[2017-03-20 15:39] NiklasMM commented on #3958
Yes, maybe we could add a short intro to cobot there also!

[2017-03-20 16:04] #3941 closed

[2017-03-20 22:47] Makman2 commented on #3807
Limits are not so abnormal math + it seems the limit is already solved analytically for that kind of problem, should be fairly easy to do.

[2017-03-21 00:00] all3fox commented on #3887
What I do not like about `PYTHON_ARGCOMPLETE_OK` (i.e. global mode of `argcomplete`) is that it is bash-specific and may even require you to manually supply the autocompletion folder:

For Arch Linux it works with (instead of the expected default `/etc/bash_completion.d`)

[code]

And after that it works *only* for bash (their docs mention this limitation too).

On the other hand, the following si

[2017-03-21 00:08] all3fox commented on #2914
@nikhaas thanks for your report, coala documentation was corrected to use just `coala` instead of `which coala` because that was messing up with `argcomplete` scripts.

Updated autocompletion instructions [are here][1], let us know if you are still having problems. Otherwise, we will be closing this issue.

[1]: https://docs.coala.io/en/latest/Users/Shell_Autocompletion.html

[2017-03-21 04:47] jack17529 commented on #3807
@Makman2 I know the graph requires where the series converges and what kind of precision to read but for that I need to read a book though, can't just do see and kill.

[2017-03-21 08:23] RJ722 commented on #3904
@Makman2 if we do this only at module scope, then would the problem be solved? Because tests and code are all in different modules.
If we could make files containing messages for their respective modules at the root folder, we can separate and centralize the error strings at the same time.
We can also adopt a common nomenclature for the same: like test_MODULE_NAME_errors.py (or preferably somethin

[2017-03-21 11:48] jack17529 commented on #1869
@sils @Makman2 does this issue involves coding in Bash shell or only in python?

[2017-03-21 11:51] jack17529 commented on #3389
@nemaniarjun is someone working on this issue if not assign me.

[2017-03-21 11:53] jack17529 commented on #2914
@jayvdb I have worked on this type of issue in OWASP ZSC shellcoder should I assign it to myself?

[2017-03-21 12:12] adtac commented on #3952
Temporary workaround: run `unset EDITOR` before running pytest.

[2017-03-21 12:18] all3fox commented on #2914
@jack17529 I believe there is no issue here. Please see the doc link that jayvb provided above, and then follow to https://github.com/coala/documentation/issues/388

If you do so, you will notice that this issue and that issue appear to be the same and that that issue was resolved. jayvb and I were just pinging nikhaas (in case he is still interested) to let them know that their issue is probably

[2017-03-21 12:46] adtac opened #3961 "Appveyor failing because curl doesn't exist"

[2017-03-21 13:02] adtac commented on #3492
Try removing your entire cache directory (usually at `~/.local/share/coala` or something like that). `coala --flush-cache` will only remove that project's cache.

[2017-03-21 13:19] #3961 closed

[2017-03-21 13:40] nikhaas commented on #2914
I tested both `zsh` and `bash` and both seem to work fine. Thank you for fixing!
Just a question: I am using `oh-my-zsh`. Is it possible that one does not need then
[code]
before the `eval` statement? It seems to work both ways, with and without `bashcompinit`.

[2017-03-21 13:42] #3952 closed

[2017-03-21 13:43] coala-bot opened #3963 "OpenEditorActionTest: Move `old_environ` to setup and teardown"
(difficulty/newcomer)

Opened via [gitter](https://gitter.im/coala/coala/?at=58d12de3f7f7d481043d8c6d) by @adtac

[2017-03-21 13:43] adtac commented on #3963
Other places too, if you find any

[2017-03-21 13:47] NiklasMM commented on #3948
I'm in favor of consistently telling people to clone the fork and add the original as `upstream`