[2016-06-06 01:09] sils1297 commented on #2301
_From @gitmate-bot on June 6, 2016 1:5_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-06-06 01:12] sils1297 commented on #2299
we could do it on linux at least

[2016-06-06 01:13] sils1297 commented on #2287
@underyx I named it `--apply-patches`, that alright?

[2016-06-06 01:41] Makman2 opened #2302 "Glob.fnmatch: Don't return True if no globs provided"
Imo this doesn't make sense at all:

but we do inside:

[code]

if I don't provide any glob, `name` can't be matched because there's no glob.

CC @fneu

[2016-06-06 01:56] sils1297 commented on #2106
done

[2016-06-06 01:56] #2106 closed

[2016-06-06 01:57] sils1297 commented on #2280
Not sure we have to switch, so far argparse seems to work well, they'll for sure have something for this.

[2016-06-06 02:16] Makman2 opened #2303 "Show for `--apply-patches` what command is actually shortcutted"
--> `-S default_actions="*: ApplyPatchAction"`

[2016-06-06 02:17] Makman2 commented on #2303
Do we want this to appear inside the argparse help for `--apply-patches`?

[2016-06-06 02:23] #2214 closed

[2016-06-06 02:23] #2233 closed

[2016-06-06 02:23] #2287 closed

[2016-06-06 03:08] underyx commented on #2288
So we could drop 33% of the builds and decrease CI queue time by making a change that won't affect basicaly anyone 🎉

[2016-06-06 03:36] AbdealiJK commented on #2288
FWIW: If we drop 3.3 support, our circleci build queue time decreases by 50% as we will only use 2 of the 4 nodes available.

TLDR:
If there are 2 pushes consecutively, both the builds (each having 2 jobs) can be executed simultaneously because we have a quota of 4 nodes for circleci. In our current case where we use 3, the 4th node from circleci doesn't get used at all, because circleci doesn't s

[2016-06-06 03:58] underyx commented on #2299
And OS X :D

On Sun, Jun 5, 2016 at 6:12 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-06-06 04:03] underyx commented on #2288
@AbdealiJK you wrote a one line comment and then followed it up with a five line TLDR version :D

The build time decrease sounds awesome to me. And [there's a bunch of libraries dropping 3.3 support](https://google.com/search?q="Python 3.3 never had a significant user base and wasn't part of any distribution's LTS release") regardless of Python's stance.

[2016-06-06 04:42] AbdealiJK commented on #1546
Possibly blocks  https://github.com/coala-analyzer/coala/issues/1526 ?

[2016-06-06 04:44] AbdealiJK commented on #1526
Maybe we want to add the `if-else` for now as I don't think https://github.com/coala-analyzer/coala/issues/1546 is going to get solved any time soon as it requires quite a bit of revamping.

The `if-else` would make things like autopep8, MarkdownBear, etc much easier to use with coala-ci (The ones where we don't have good descriptions)

[2016-06-06 05:37] Makman2 commented on #1526
we got now auto-show for bears that match a glob!
[code]

[2016-06-06 05:44] Makman2 commented on #1546
Does it? I think they can be implemented independently^^

[2016-06-06 05:44] AbdealiJK commented on #1526
But coala-ci doesn't even try to execute actions as it's NonInteractive
right?

On Mon, Jun 6, 2016 at 11:07 AM, Mischa Krüger <notifications@github.com>
wrote:

[2016-06-06 05:49] Makman2 commented on #1526
ah is that the problem? just tried and it seems so :3
sorry then :+1:

[2016-06-06 05:50] Makman2 commented on #1526
From @sils1297

[2016-06-06 08:21] underyx commented on #975
If your main issue is that you don't want to pass around the printer everywhere, maybe you could just save it in thread local storage upon initialization and get it from there at the top of each module?

[2016-06-06 11:55] rmariano commented on #2006
pong @Adrianzatreanu
I was looking at it. Should I add an exception in coalib (I was thinking in the Diff objecct), or maybe only when it's shown?

[2016-06-06 16:01] sils1297 commented on #975
well, I think changing to a builtin logging instead of an own custom thing
is a sane thing to do anyway, not?

[2016-06-06 16:08] underyx commented on #975
It is, it just wasn't clear from the above discussion if that's what you
really want right now.

On Mon, Jun 6, 2016 at 6:01 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-06-06 16:12] Makman2 commented on #2006
What exception? :O

[2016-06-07 02:09] rmariano commented on #2006
By "exception" I meant a particular rule for that edge case (not a Python exception you usually raise :-), a way to distinguish the diff, and how to show it.

[2016-06-07 02:25] Makman2 commented on #2006
I would say so

[2016-06-08 08:32] #2181 closed

[2016-06-08 17:30] underyx opened #2306 "A `stop ignoring [bear]` comment stops all active ignores, nesting is impossible"

[2016-06-08 17:39] abhsag24 opened #2307 "external coalang dir does not work for bears on windows"
Related link for failing CI: https://ci.appveyor.com/project/coala/coala-bears/build/1.0.1405/job/4o9tbb9p333dmtno

[2016-06-09 10:07] Makman2 commented on #2307
if you provide paths inside the settings, escape backslashes! otherwise coala will escape them for you, so:
[code]
can be escaped via
[code]

[2016-06-09 10:11] Makman2 commented on #2306
As a workaround you can directly re-ignore checking after a stopping clause for the bears you don't want to disable :)
[code]

[2016-06-09 10:59] abhsag24 commented on #2307
Closing this since it isn't related to external coalangs but how paths are specified in the settings

[2016-06-09 10:59] #2307 closed

[2016-06-10 16:00] sils1297 opened #2308 "Bear deprecation"
We should assist users in deprecating their bears. IMO we should do something like
https://gist.github.com/sils1297/d66af494eaa630ae2683a6e2db0f1b14
and let user specify the old file name with additional bears and giving the new bear in the deprecated decorator so the user should be warned.

Caveat: we need python builtin logging!

[2016-06-10 16:00] sils1297 commented on #2227
@underyx concrete suggestions? Help is way shorter already. Specific pain points?

[2016-06-10 16:16] underyx commented on #2227
[code]
to
[code]
---
[code]
to
[code]
  --limit-files         Files that will be analyzed will be restricted to
                        those in the globs listed in this argument as well the
                        files setting
[code]
  --limit-files         filter the 'files' argument's matches further
[code]
  -L, --log-level       Enum('ERROR','INFO','WARNING','DEBUG') to set level of

[2016-06-10 16:20] underyx commented on #2227
[code]
[code]
---
[code]
[code]
---
[code]
[code]
---
I think that's all of it actually. The other descriptions should be updated to match the format of these, too.

[2016-06-11 06:55] mr-karan opened #2309 "Add warning message if language not supported by Bear"
This is a feature proposal for Lint class. If a user runs GoErrCheckBear for a Python code, there's no warning of any sorts. With this implementation, I want to add a can_lint(bear,language) method which would at least warn the user that this bear is meant for Go code (by accessing the languages tuple of Lint class).

Also list out all the bears that the user could rather use to lint the files. (b

[2016-06-11 08:41] sils1297 commented on #2217
@Makman2 can you look into this, it's high priority!

If not, let's just rename the XML dir. This needs a fix yesterday and I mean that. We should have fixed that long ago.

@Adrianzatreanu @AbdealiJK please take a look at this and what we tried here, it seems that this is blocking **all windows installations of coala**. We cannot do a release with this.

[2016-06-11 11:29] hypothesist opened #2311 "Mention somewhere that `--show-bear-languages` can accept multiple languages"
After @sils1297 's PR is merged, it's `--filter-by-language`.

We can give space separated langauge names. We should also possibly introduce comma-separated.

[2016-06-11 12:20] AbdealiJK opened #2312 "Versioneer"
There's a nice little tool named "versioneer" which I haven't personally used, but seems to be nice !

https://github.com/warner/python-versioneer

It apparently handles all the messy version stuff we're evading with the VERSION, .ci/adjust_version.py and so on. Possibly it would be good to have a look at it and see if it meets our needs / modify it to meet our needs.

[2016-06-12 00:55] Makman2 commented on #2309
the question is: what are python files? is the ending enough? I would say on first sight the user is responsible for handling this ^^

[2016-06-12 08:01] sils1297 commented on #2309
what's with python 2 vs. 3 e.g.? C or C++ header? ...

[2016-06-12 08:07] AbdealiJK commented on #2309
Well, this detection may not be always accurate - and I don't think it can always be made accurate (Softwares like `magic` which identify the mimetype of files in Linux try doing this, and haven't been able to completely succeed - they fall back to file extension frequently).

[2016-06-12 09:35] sils1297 opened #2313 "use a pytest fixture for mocking bear directories"
instead of the bear_test_module we can simply do something like our disable_bears fixture

[2016-06-12 09:57] AbdealiJK commented on #2313
Do you want to be dependent on pytest only ?
Right now, I believe our tests are capable of runnin on nose, unittest, and pytest - which is nice because various devs may prefer a different tool.
If we add pytest specific fixtures, then devs can not use unittest/nose.

[2016-06-12 09:58] sils1297 commented on #2313
I like fixtures, we do use pytest ATM and there are advantages of using fixtures and all the other stuff it offers, I think we should take it

[2016-06-12 11:47] abhsag24 opened #2316 "coalang: use settings from both bearlib.languages and coalang_dir"
if we have both the definitions, we should use the settings from both, conflicting settings can be taken from coalang_dir as that can be seen as overwriting.

[2016-06-12 12:02] hypothesist opened #2317 "Fix cyclic imports in scrutinizer"
https://scrutinizer-ci.com/g/coala-analyzer/coala/inspections/2400c87a-3174-41df-8670-d4bbc24d9596/issues/files/coalib/settings/ConfigurationGathering.py?status=new&orderField=path&order=asc&honorSelectedPaths=0

[2016-06-12 12:22] #1991 closed

[2016-06-12 12:22] #2257 closed

[2016-06-12 12:43] underyx opened #2319 "Use scandir for walking directories"
https://www.python.org/dev/peps/pep-0471/
https://github.com/benhoyt/scandir
https://pypi.python.org/pypi/scandir

difficulty/high

[2016-06-12 12:44] sils1297 commented on #2319
why's this high? I think this is a medium.

[2016-06-12 12:45] underyx commented on #2319
Feel free to edit the label, was just a first guess at the difficulty.

[2016-06-12 14:05] sils opened #2321 "Use subcommands instead of binaries"
We should do that!

`coala cli` can ne the usual coala run
`coala delete-orig`
`coala dbus`
`coala html`

[2016-06-12 14:06] hypothesist commented on #2321
Also add `coala quickstart` :P

[2016-06-12 14:08] sils1297 commented on #2321
we may wanna have a simple coala executable that just takes the first argument and runs `coala-{arg}` like git?

[2016-06-12 14:26] AbdealiJK commented on #2321
Not sure about you, but my `git` doesn't seem to do that:
[code]

[2016-06-12 14:28] sils1297 commented on #2321
at least git has some mechanism to register commands and IIRC it was possible to throw a binary there with git-something. But that didn't work on every platform. Not fully sure.

[2016-06-12 14:30] AbdealiJK commented on #2321
Right, that is indeed true - `git-review` and `git review` do work for me. (git review is a third party command not in the default git, similar to `git-bz`/`git bz`)

[2016-06-12 14:32] arafsheikh commented on #2321
I used http://chase-seibert.github.io/blog/2014/03/21/python-multilevel-argparse.html once.

[2016-06-12 14:34] sils1297 commented on #2321
so argparse does have subcommands anyway, the only question is do we want to allow people registering commands dynamically, like coala-quickstart and html

[2016-06-12 16:48] Makman2 commented on #2309
okay, agreeing on "wontfix/not-happening"?

[2016-06-12 17:35] Makman2 commented on #1818
Discussing recently with @abhsag24 I realized that we need some kind of nesting, at least for two levels, because every feature using coalang has complete parsing ability over "its" coalang, e.g. docstyle-definitions use every key regardless of name, while others search for specific keys.
In this manner I think our config format does not suffice any more. Also we are then able to implement some ki

[2016-06-12 18:32] Makman2 commented on #2321
alright, though I think "cli" is a bad name for just running coala, something like "run" or "check" or so would be better imo, as a beginner I won't use "cli" at all :O

[2016-06-12 18:34] Makman2 commented on #2321
first I thought registering dynamically is bad (because we need to maintain that and you can just invoke your script/exe name), but coala-html and other modules are not inside the coala core repository, so it makes sense to allow that for easier+better modularization :+1:

[2016-06-12 18:35] Makman2 commented on #2313
@sils1297 could you provide a link here for docs about fixtures? haven't really seen them at pycon too :3

[2016-06-12 18:36] Makman2 commented on #1818
Advantage of having JSON is that we don't need another dependency^^

[2016-06-12 19:34] sils1297 commented on #2309
So we could check the `language` setting which bears should use consistently anyway if they support different languages. (Not sure if coalang bears do that niely right now.

[2016-06-12 19:38] sils1297 commented on #2313
http://pytest.org/latest/fixture.html

[2016-06-12 19:59] jschwarzwalder opened #2323 "List of Show Language Bears is too long"
I still don't quite know how to "run" coala

I am trying to go through [the tutorial ](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html) and got to this line:

`coala --show-language-bears C`

It displays too much information about each bear, and I can't see all of the supported bears [Screenshot](http://prntscr.com/bfki3i)

Is there a better first command to run?
Can we instead

[2016-06-12 20:10] jschwarzwalder opened #2324 "Newcomer Page"
Two Start working Sections on [Newcomer page ](http://coala.readthedocs.io/en/latest/Getting_Involved/Newcomers.html)

[2016-06-12 20:20] jschwarzwalder opened #2326 "Tutorial Getting Started"
The [first action](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#let-s-start) you direct the new user to try is to list all the bears that are supported by C.

This can be confusing and overwhelming for very first users.

Maybe you should walk them through running a bear that works for all languages on one specific file and then teach them how to find all the bears, or provid

[2016-06-12 20:28] jschwarzwalder opened #2327 "Tutorial: Explain --save"
In trying to get coala to work I was typing in the commands in the [Tutorial ](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#let-s-start) without understanding how everything works. I typed in: `coala --files=src/\*.c --bears=SpaceConsistencyBear --save` and 'coala -S Makefiles.bears=LineLengthBear Makefiles.files=Makefile --save'

Now I can't get coala to [work at all](http:

[2016-06-12 20:44] jschwarzwalder opened #2328 "cat doesn't work in Windows"
in the [Configuration File](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#configuration-files) section of the Tutorial it tells me to type in ` cat .coafile ` on windows the command it `type .coafile`

[2016-06-12 21:04] Makman2 commented on #2309
what language setting? :O

[2016-06-12 21:15] Makman2 commented on #2328
you mean this link, right? http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html?highlight=cat

indeed `cat` is linux only, we could mention `type` in a note or beneath in braces or so ^^

[2016-06-12 21:21] Makman2 commented on #2326
Yeah this is kind of too much and unrelated for the following tutorial, we should just remove that :+1:

[2016-06-12 21:24] Makman2 commented on #2327
for your snippet: `--save` saves your given CLI configuration to `.coafile`, which coala picks up by default if it does exist. 3: possibilities:

1. Just run coala again overriding the settings you need for that run
2. Delete `.coafile`
3. Use `-I` (which ignores the `.coafile` and uses CLI-settings only)

Need to agree also with `--save` usage inside the tutorial, it isn't explained and it doesn'

[2016-06-12 22:41] jschwarzwalder opened #2329 "rebasing is hard"
I am trying to make a few changes to the docs, and I'm stuck in a confusing loop of trying to fix things for the gitmate, and then also trying to --amend or squash the fixes together which is utterly confusing and frustrating. and isn't working.

I [closed one](https://github.com/coala-analyzer/coala/pull/2315) and tried to [open](https://github.com/coala-analyzer/coala/pull/2318) another, but the

[2016-06-13 00:47] underyx opened #2330 "Instead of scanning all files for ignore comments before starting, scan them only the ones where we've already found an error"
difficulty/medium

[2016-06-13 00:48] underyx commented on #2330
@sils1297 your @gitmate-bot is broken :D

[2016-06-13 08:01] sils1297 commented on #2330
@underyx it's a fuzzy heuristic, not broken. Apparently the word distance from high to medium is too short for the length of the whole label :P

[2016-06-13 08:03] underyx commented on #2330
I call that broken .-.

On Mon, Jun 13, 2016, 10:01 AM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-06-13 08:18] Adrianzatreanu opened #2331 "coala should tell you if everything is OK"
As title says, for a new user, it looks as if coala is just ``executing some sections``, without giving a real output once it's done. If there's nothing new to be done, it should print something like ``Everything went fine, nothing to change``.

[2016-06-13 08:19] sils1297 commented on #2331
Yes, nice one. We can collect stats about what happened and show the number of results that were yielded

[2016-06-13 08:20] sils1297 commented on #2331
we already have the exit code

[2016-06-13 08:20] Adrianzatreanu opened #2332 "coala should tell you how many changes were done"
After a ``coala`` run on a big project, probably people want to see how many changes were needed. Therefore, we should count all those changes and output them at the end, as in ``16 fixes found, 13 fixes done``, where those done are probably linelengths that were chosen by the user to ignore them.

[2016-06-13 08:21] Adrianzatreanu commented on #2331
i splitted it in 2 different issues, should I make only one? https://github.com/coala-analyzer/coala/issues/2332

[2016-06-13 08:25] sils1297 commented on #2331
I think this is only one issue and shouldn't be done isolated from each other.

[2016-06-13 08:26] Adrianzatreanu commented on #2331
alright, refer to the other one then.

[2016-06-13 08:26] Adrianzatreanu commented on #2332
https://github.com/coala-analyzer/coala/issues/2331 merged into this one

[2016-06-13 08:26] Adrianzatreanu commented on #2331
https://github.com/coala-analyzer/coala/issues/2332 moved here

[2016-06-13 08:26] #2331 closed

[2016-06-13 08:28] Adrianzatreanu commented on #2267
i understand, ill fix this today for more clarity, and im awaiting your response once im done to know if its better.

[2016-06-13 08:32] Adrianzatreanu commented on #2268
https://github.com/coala-analyzer/coala-bears/wiki please close the issue if you think this suffices :)

[2016-06-13 08:34] sils1297 commented on #2327
I'm for a better explanation, think we should keep using `--save` because it's easier for the users than reading up on how to write coafiles.

[2016-06-13 08:34] sils1297 commented on #2324
probably one should be renamed, CC @Adrianzatreanu

[2016-06-13 08:35] Adrianzatreanu commented on #2269
Sorry but I don't really understand what you're saying with the flow. However, that was just a prototype that myself I failed to delete a few weeks/months ago. The same table is used in the README https://github.com/coala-analyzer/coala-bears#about so if the issue stands there too, please let me know here, not closing issue yet.

[2016-06-13 08:37] Adrianzatreanu commented on #2271
I think that this is the problem of many - not knowing which bear to use exactly. I think we need that table you started @sils1297 that gives information about each bear, and probably some more documentation on the docs or readme, regarding: Which bear should I pick?

[2016-06-13 08:38] sils1297 commented on #2268
@Adrianzatreanu actually the latest version is 0.2

[2016-06-13 08:38] Adrianzatreanu commented on #2268
done, changed

[2016-06-13 08:39] sils1297 commented on #2271
@Adrianzatreanu I think the solution to this will be the new interactive coala website by @tushar-rishav which will then contain a browsable index of official bears.

[2016-06-13 08:39] Adrianzatreanu commented on #2272
i dont think many people read the wiki before the readme, and we have this in the README: https://github.com/coala-analyzer/coala#newcomers-guide-and-getting-involved

[2016-06-13 08:40] sils1297 commented on #2268
@jschwarzwalder reopen if this needs our attention. Seems fixed.

[2016-06-13 08:40] #2268 closed

[2016-06-13 08:41] sils1297 commented on #2268
@Adrianzatreanu IMO it's ok to close issues if they are fixed, you'd do the same by making a commit with a closes note, right? If a user as a problem he can stil reopen.

[2016-06-13 08:42] sils1297 commented on #2272
still they might possibly!

[2016-06-13 08:43] Adrianzatreanu commented on #2272
so we should have a wiki page pointing them to getting started then

[2016-06-13 08:45] Adrianzatreanu commented on #2268
well yes, but sometimes you are not sure if what youve done is fixing the issue correctly, but ok, ill close them from now on

[2016-06-13 08:45] Adrianzatreanu commented on #2271
sounds great

[2016-06-13 08:47] Adrianzatreanu commented on #2276
it's unclear to me either, what exactly do you want to be documented?

[2016-06-13 08:56] sils1297 commented on #2323
Hi, this has changed in the upcoming release. coala will show only bear names by default and tere will be additional arguments to get more output. If this doesn't fix it yet, please reopen the issue.

[2016-06-13 08:56] #2323 closed

[2016-06-13 08:57] sils1297 commented on #2290
Maybe let the user type `--bears=Clang` and coala will search for a ClangBear so he doesn't have to type so much?

CC @underyx @sims1253 for his discussion

[2016-06-13 09:46] fneu opened #2334 "PyPI metadata messed up?"
[code]

pip does correctly install 0.6.0 but shows wrong info
https://pypi.python.org/pypi/coala

[2016-06-13 09:50] sims1253 commented on #2290
I think giving the bears the tool they use as an attribute is enough, as one can list them as needed then.
Then maybe just name the bears after what they are doing. Although i don't have an idea what to do with multible bears doing the same for different/same languages.

[2016-06-13 09:59] fneu opened #2335 "tests on master fail if dbus cannot be launched"
on docker, the following tests crash with something like:

[code]
- DbusTest.test_dbus
- DbusServerTest.test_on_name_lost
- DbusServerTest.test_on_disconnected
- DbusServerTest.test_docs
- DbusServerTest.test_dbus_methods
- DbusServerTest.test_apps
- coalaDbusTest.test_main

idealy, we should check whether dbus works and _not_ crash if it doesn't work. Tests should be skipped. Test on master shoul

[2016-06-13 10:06] fneu opened #2336 "pytest-mock should be a test-requirement"

[2016-06-13 10:10] fneu commented on #2336
looks like it is, no idea why it didn't get installed on docker :/
git blame:
[code]

[2016-06-13 10:10] #2336 closed

[2016-06-13 11:13] Adrianzatreanu commented on #2267
https://github.com/coala-analyzer/coala/wiki/Supported-Languages should fix this

[2016-06-13 11:13] #2267 closed

[2016-06-13 11:58] #2328 closed

[2016-06-13 11:58] #2324 closed

[2016-06-13 11:59] Makman2 commented on #2327
at least explaining is good, otherwise it's really a bit "where the heck does it come from..." :+1:

[2016-06-13 12:19] Makman2 commented on #2330
I call that broken too :3

[2016-06-13 12:20] Makman2 commented on #2332
I would say duplicate of https://github.com/coala-analyzer/coala/issues/759 :)

[2016-06-13 12:27] sils1297 commented on #2330
@Makman2 then fix it :)

[2016-06-13 12:33] Makman2 commented on #2290
so every bear expression shall be expanded to `bear-wanted(Bear|bear)?` (regex style)

[2016-06-13 12:33] Makman2 commented on #2290
and I'm not sure whether removing `Bear` from the class names is useless, just calling stuff `Clang` or `Alex` is not cool :O

[2016-06-13 12:34] Makman2 commented on #2290
at least it helps us organizing our stuff better^^

[2016-06-13 12:36] Makman2 commented on #2335
if dbus tests can't be run, then tests aren't run, then we don't want to pass^^

[2016-06-13 12:37] sils1297 commented on #2335
we want them skipped

[2016-06-13 16:55] sils1297 commented on #2142
still valid?

[2016-06-13 18:48] Adrianzatreanu commented on #2153
Being fixed here, amonst others https://github.com/coala-analyzer/coala/pull/2338

[2016-06-13 19:56] Makman2 commented on #2142
nope :)

[2016-06-13 19:56] #2142 closed

[2016-06-14 03:45] jschwarzwalder opened #2339 "Git Hub Help -- Squashing your Commits"
https://coala.readthedocs.io/en/latest/Users/Tutorials/Git_Help.html#squashing-your-commits

I"ve learned a few things in the past two days about where people can get stuck when trying to do a pull request.

1) DON"T HIT UPDATE
If you get a message that your branch is out of date you need to follow these steps:
Hi,

it looks like your PR is out of date and needs a rebase. This page may help you to

[2016-06-14 03:54] jschwarzwalder commented on #2339
![branch needs merged](https://cloud.githubusercontent.com/assets/8946787/16030718/d0fef744-31a8-11e6-8e3b-313121cec629.png)
https://files.gitter.im/coala-analyzer/coala/9tGJ/blob

[2016-06-14 04:28] jschwarzwalder commented on #2332
I agree this would be helpful

It would also be helpful to get a summary. of what changes were made.

[2016-06-14 05:37] hypothesist commented on #2332
I think it would also be cool if we could have something like `coala --show-last-changes` which just displays all the diffs from the last run in a concise manner.

[2016-06-14 07:03] #2319 closed

[2016-06-14 08:21] mr-karan commented on #2309
^ he means the languages tuple which we have in the Lint class, I think.

So, regarding accuracy I tried to use Linguist but failed as it's not supported for Py3. And it no way hinders the execution, it just displays a warning message.

On second thoughts the use case of this is also very low. So what do you suggest should I clean it up a bit more and move this code to a more generic place rather

[2016-06-14 10:33] Adrianzatreanu opened #2341 "Use __author__ and __version__"
Each would contain metadata about the bear

[2016-06-14 13:40] #2266 closed

[2016-06-14 17:10] Makman2 commented on #2332
@hypothesist wanna file a new issue? this doesn't really belong to this one^^

[2016-06-14 17:12] Makman2 commented on #2309
the problem is still the mapping of "language-name" -> "is this file actually this language".

[2016-06-14 23:50] jschwarzwalder opened #2343 "Couldn't Test the Bears"
I tried to run the code `$ pip3 install -r test-requirements.txt`

I didn't realize I needed to download coala and be in the folder where I downloaded coala to get the test-requirements.txt file.

I tried to add notes to the [Testing page](http://coala.readthedocs.io/en/latest/Getting_Involved/Testing.html)

Once I downloaded the repository and used cd to get to the right folder I was able to get

[2016-06-14 23:55] Makman2 opened #2344 "coala is quite slow when showing version"
This is because coala imports every bear and then runs the version command. This shouldn't happen^^

[2016-06-15 03:30] jschwarzwalder opened #2346 "How do you use coala?"
Hypothesis: I installed coala, so if I go to a folder and type coala it will run tests on the documents in that folder

Ran it and got this:

![](http://image.prntscr.com/image/d132a0e15706420e9bc7576414a5afcc.png)

Confused because I know I'm not that great of a coder for it to have nothing to correct

[2016-06-15 03:49] jschwarzwalder opened #2347 "JShintBear does not fulfill all requirements"
I wanted to run coala on my javascript file so I went to the folder the project is stored in and tried to enter type .coafile, but I"m not sure anything happened.

I then used windows to create a file called .coafile and saved it in the folder of my javascript project.

I copied from the [Tutorial](http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#configuration-files) and looked

[2016-06-15 06:12] hypothesist opened #2348 "Show a diff of changes automatically applied the last time coala was run"
Somewhat related to https://github.com/coala-analyzer/coala/issues/2332

[2016-06-15 06:16] hypothesist commented on #2346
@jschwarzwalder You need to have a `.coafile` in your project directory - it's basically a file that stores the configurations for coala - examples: what indentation to use (spaces or tabs), what the maximum length of a line should be, and so on.

You can find more information over here: http://coala.readthedocs.io/en/latest/Users/coafile.html

[2016-06-15 06:20] hypothesist commented on #2347
JSHintBear uses an external linter called `jshint` [[link]](https://github.com/jshint/jshint). So the second message says you don't have it installed (or you have it but it is not in your `PATH` variable and coala can't find where it is).

About the first message, are you sure you have all your `.js` files in the `src` directory? Can you maybe show the output of `dir src`?

[2016-06-15 06:21] hypothesist commented on #2344
Related: `--help` is equally slow (or just try `--some-random-invalid-arg`)

[2016-06-15 08:02] jschwarzwalder opened #2349 "default_actions is not existant"
I got coala to work! I had to manually write my .coafile, cause I'm not sure how to get it to work otherwise, but its mostly going ok..

I was trying to run coala on some js files and I was configuring the coafile to make it so I don't have to hit 2 then 0 to apply all the changes that converts tabs to spaces

![image](https://cloud.githubusercontent.com/assets/8946787/16072228/a47cb584-3294-11e6-

[2016-06-15 08:25] jschwarzwalder commented on #2349
Fix is `default_actions = SpaceConsistencyBear: ApplyPatchAction `

Will be fixed in the next release

[2016-06-15 08:37] sils1297 commented on #2348
sounds like a wontfix for me, use git if you want that? We already create .orig files.

[2016-06-15 08:40] sils1297 commented on #2346
in the prerelease the output in your case will look like this:

[code]

is that more helpful?

[2016-06-15 08:40] sils1297 commented on #2346
(if yes, I think this should be closed.)

[2016-06-15 08:41] sils1297 commented on #2347
@hypothesist I think we should drastically improve those missing dependencies messages and give the user a link or command to install the stuff.

CC @Adrianzatreanu we could use your requirements objects for this.

[2016-06-15 08:45] sils1297 commented on #2349
ah so the documentation is the problem again.

[2016-06-15 08:46] sils1297 commented on #2344
@hypothesist wanna profile it? :)

[2016-06-15 08:46] sils1297 commented on #2344
oh why do we import all bears? :/

[2016-06-15 08:49] hypothesist commented on #2344
@sils1297 call graph?

[2016-06-15 09:00] hypothesist commented on #2348
It doesn't necessarily have to be a git repo. Even if it was, other changes might interfere with `git diff` results.

Maybe we could just do ``os.system("for f in `find . -name \*.orig` ; do diff $f ${f%.*} ; done")`` or something like that.

Not really important (as you said we have the orig files)

[2016-06-15 09:03] hypothesist commented on #2344
http://i.imgur.com/DIThpaY.jpg collecting bears is 50%

[2016-06-15 09:21] jschwarzwalder commented on #2343
I asked my husband to try running the tests on http://coala.readthedocs.io/en/latest/Getting_Involved/Testing.html

He was unsuccessful when he typed in `pip3 install -r test-requirements.txt`

I then had him clone the repository, and then he was able to execute the file

![image](https://cloud.githubusercontent.com/assets/8946787/16074418/473d1d04-329f-11e6-9cbb-291f9e0be311.png)

No where did it

[2016-06-15 09:31] AbdealiJK commented on #2343
Hey, so there seems to be some confusion.

To run the tests, you need to install all of the dependencies of coala and also the `test-requirements.txt` in the github repo. You **need** to clone the repo too, because you need the `tests/` folder where the tests are and also the `test-requirements.txt` file to get pytest and so on.

So, I think the exact steps on a clean virtualenv to run tests would

[2016-06-15 09:34] AbdealiJK commented on #2347
I made a very similar "better error message" for matplotlib a while back.
If the person who is doing this wants to reference it:
https://github.com/matplotlib/matplotlib/commit/068ed423561f8d5d8f951a5c2bbb6edd04600618

[2016-06-15 10:52] AbdealiJK commented on #2341
In https://github.com/coala-analyzer/coala/pull/2338/commits/5f1ad91c14ac6dc6bf7df58f125e1f39ed539964 @Adrianzatreanu added a bunch of variables in Bears like AUTHORS, MAINTAINERS, etc.

Normally, in python files, there are variables like `__author__`, `__version__`, etc. Which can directly be used to get this information. i.e. If a file "ABCBear.py" has a bear class "ABCBear", the class should au

[2016-06-15 15:45] sils1297 commented on #2168
was this solved @Udayan12167 ?

[2016-06-15 15:50] sils1297 commented on #975
prototype for a way we could switch: https://github.com/coala-analyzer/coala/pull/2314

[2016-06-15 17:20] Makman2 commented on #2217
@ecsellon hey, we should have fixed this issue, want to retry if it works?

[2016-06-15 17:30] stefanoco opened #2351 "Documentation: format for multiple parameters, recursive behaviour"
It's not easy to understand how to specify multiple parameters per type. Example:
[code]

Discovered that a comma separated list is supported by looking at examples, but didn't find this mentioned here http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html (maybe some initial section with _conventions_ would be ok).

The same applies to recursive behaviour while specifying folders and

[2016-06-16 04:44] ecsellon commented on #2217
Retried it and it works now. Thank you.

[2016-06-16 04:44] #2217 closed

[2016-06-16 07:18] hypothesist commented on #2327
I'm for keeping `--save` too: in coala-quickstart, the user may be asked questions for non-optional settings that are not filled yet, so we can suggest to the user to run `coala --save` the first time to automatically save the settings.

[2016-06-16 07:19] hypothesist commented on #18
@sils1297 close this?

[2016-06-16 07:32] jschwarzwalder commented on #2217
I retried and had no issues

[2016-06-16 09:00] sils1297 commented on #18
yes

[2016-06-16 09:00] #18 closed

[2016-06-16 12:42] hypothesist commented on #476
@sils1297 you may want to review this?

[2016-06-16 18:35] sils1297 commented on #476
Hm, no, this is blocked by the next gen bear design which will implicitly solve it. I have no idea what this has to do with caching :P

[2016-06-17 06:32] hypothesist commented on #2115
solved with bear-docs? Or do we want something more comprehensive?

[2016-06-17 06:33] sils1297 commented on #2115
Actually this one would be about adding CAN_FIX and CAN_DETECT attributes and improving the main description. Not all bears have a proper description yet.

[2016-06-17 07:49] sils1297 commented on #2349
I assume the `--apply-patches` argument fixes this for you. Reopen if it doesn't.

[2016-06-17 07:49] #2349 closed

[2016-06-17 08:09] sils1297 commented on #2348
Making it a wontfix, IMO this is certainly out of scope, though we can of course discuss it if you think it isn't.

[2016-06-17 08:09] #2348 closed

[2016-06-17 08:19] sils1297 commented on #2341
I agree, this might not be trivial and I'm pretty sure it's not important because it makes sense to have just all metadata plain and simple in a bear so it's a very optional thing. I'm pledging for a wontfix, accepting patches.

[2016-06-17 08:21] sils1297 commented on #2339
@jschwarzwalder thanks for reporting this and sorry for not coming back to this earlier: I think we'll need to converse about what to do best here, maybe we'll find some time where we can do a VoiP call with you, me, @sims1253 , @Makman2 and possibly others to speak about the contribution process and what options we have to make it simpler.

[2016-06-17 08:22] sils1297 commented on #2334
@fneu any idea why? Can you reproduce this in a clean virtualenv?

[2016-06-17 08:24] sils1297 commented on #2329
@jschwarzwalder this is kind of the same as https://github.com/coala-analyzer/coala/issues/2339 , if you mind me closing this in favour of the other, please reopen.

[2016-06-17 08:24] #2329 closed

[2016-06-17 08:33] sils1297 commented on #2309
IMO we should trust the user that he does the right thing, detecting languages to check up on the user will most likely fail more often than succeed - wontfix/not happening IMO.

[2016-06-17 08:33] sils1297 commented on #2309
reopen if you disagree

[2016-06-17 08:33] #2309 closed

[2016-06-17 08:34] sils1297 commented on #2308
CC @Uran198 for the logging part

[2016-06-17 08:34] sils1297 commented on #2308
depends on https://github.com/coala-analyzer/coala/issues/975

[2016-06-17 08:35] sils1297 commented on #2302
I think we use this as a feature, not a bug, somewhere, not sure why but we need to be careful with this.

[2016-06-17 08:36] sils1297 commented on #2301
We can put the exception catching into a decorator, that would solve a lot of problems but depends on https://github.com/coala-analyzer/coala/issues/975

[2016-06-17 08:37] sils1297 commented on #2300
CC @fneu , also we should again consider switching at least part of our globbing to builtin

[2016-06-17 08:39] sils1297 commented on #2299
So the problem is, *if* there is an `$EDITOR` we want it to be the default value, otherwise we don't want it to be the default value; for that to work we'll have to fiddle with the metadata after creation I guess...

[2016-06-17 08:42] sils1297 commented on #2276
The API a bear writer can use to create a bear

[2016-06-17 08:42] sils1297 commented on #2275
@Makman2 can you try doing this for this release?

[2016-06-17 08:43] sils1297 commented on #2264
I can remove the autoplay if that helps

[2016-06-17 08:46] sils1297 commented on #2250
so what do we do? I'm currently leaning towards the simpler solution. Might also be because I'm lazy and I'm in issue closing mood though :P

[2016-06-17 08:48] sils1297 commented on #2240
@underyx do you feel like that commit ^ is sufficient?

[2016-06-17 08:52] jschwarzwalder commented on #2349
I've not tried, and will try to test it later.

[2016-06-17 09:15] fneu commented on #2334
no idea whatsoever, haven't looked into PyPI deployment at all, yet.

It works on clean docker environments...

[2016-06-17 09:29] sils1297 commented on #2334
closing this as probably an upstream issue, if you can reproduce it, report an issue at pip I guess

[2016-06-17 09:29] #2334 closed

[2016-06-17 09:40] fneu commented on #2334
@sils1297 I'm gonna ask them and report back if it is an issue on our side.

[2016-06-17 09:43] fneu commented on #2302
That sound weird indeed, no idea what the idea behind that was. It got seemingly introduced by @AbdealiJK in e89fc3bd when he changed `fnmatch` to support matching against several patterns at once.

note especially @sils1297 that this is another case complicating the switch to builtin globs.

In general I'm not against switching back for the sake of simplification, but if we wrap the builtin globs

[2016-06-17 10:00] hypothesist opened #2357 "A more comprehensive help command"
Maybe `coala -help` coud be more detailed than `coala -h`

[2016-06-17 10:03] sils1297 commented on #2357
see also :point_up: [June 17, 2016 11:59 AM](https://gitter.im/coala-analyzer/coala?at=5763c9e6feaf6cd222ac5558)

[2016-06-17 10:03] fneu commented on #2300
this has nothing to do with our globs or what they match, but rather what we do with the results we get from our globs.

we are currently doing:

[code]

I believe we had the proposed functionality before when we only allowed `ignored_dirs` as paths without globs. We just checked the matched file paths for whether or not they started with any of the given dir paths.

Now all of this get's more com

[2016-06-17 10:05] hypothesist commented on #2300
We could also look into adopting the `.gitignore` globbing syntax (this covers what @underyx suggested), at least a part of it.

[2016-06-17 10:08] underyx opened #2358 "Increase configured line length limit for the project"
area/CI
needs design

[2016-06-17 10:12] sils1297 commented on #2358
why?

[2016-06-17 10:17] jschwarzwalder opened #2359 "Prerequisites for coala"
Since coala can run analysis on ANY language, there are some prerequisites that some users may not have if they are not python programmers.

Creating a seperate page that can be linked to on pages like [GettingStarted/Testing](https://coala.readthedocs.io/en/latest/Getting_Involved/Testing.html) or [Install](https://coala.readthedocs.io/en/latest/Users/Install.html) can provide support for success

[2016-06-17 10:19] fneu commented on #2300
I just had a look into fnmatch again.

It translates the globs to regexes and since recently it caches the compiled regexes, too. In the above code, we just match each file found against a compiled regex, which is fast. We don't walk the file system at all and we don't care whether the files you ignore exist. Therefore I don't expect any big performance benefit to be gained here.

It's probably mo

[2016-06-17 11:26] #2227 closed

[2016-06-17 11:26] #2239 closed

[2016-06-17 11:26] #2327 closed

[2016-06-17 11:26] #2351 closed

[2016-06-17 13:57] Adrianzatreanu commented on #2276
So you basically want a website on readthedocs where one could specify all the methods for the class which he has available and how he should write that bear?

[2016-06-17 14:00] abhsag24 commented on #2276
so we should have tutorials for `Diff` and `SourceRange` too right?

[2016-06-17 14:02] sils1297 commented on #2276
Currently if you want to write a bear, you have to go through the tutorial
which is not always what you want, sometimes you want a quick API reference
and work out your own stuff

[2016-06-17 16:26] Makman2 commented on #2250
maybe we can mention inside a note "if you want more protective behaviour, you can also use `--force-with-lease`" or so^^

[2016-06-17 16:31] Makman2 commented on #2359
So you want to split up information that belongs either to python or to coala?

[2016-06-17 16:32] Makman2 commented on #2358
PEP8 specifies 80 chars, in fact we aren't even PEP8 compliant, we need to reduce our linelength by 1^^ (maybe I should open an issue :O)

[2016-06-17 16:41] Makman2 commented on #2341
maybe this is possible when doing an `import`^^ (maybe from `Bear` to avoid another module the user needs to import)

[2016-06-17 17:11] Makman2 commented on #2275
So we want to create an .msi or some other installer as a build artifact?

[2016-06-17 17:35] Makman2 commented on #2275
alright `bdist_wininst` and `bdist_msi` works under windows (though `msi` doesn't support our `dev` version^^)

[2016-06-17 17:53] sils1297 commented on #2250
I like adding a note!
On 17 Jun 2016 6:26 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-06-18 04:55] jschwarzwalder commented on #2359
@Makman2 I was trying to propose that we make one page that has information on how to install python3, and possibly has informatino about how to clone the coala project

This is in relation to #2350

[2016-06-18 10:34] jschwarzwalder opened #2360 "Bears - Required files not installed"
I wanted to run coala on some html files.

I went to [coala-analyzer.org](http://coala-analyzer.org/) and saw the sections under Try it

`cd project && coala --files="**/*.py" --bears=PEP8Bear --save`

I had moved to the directory that held my html flies so i typed in `coala --files=*.html" --bears=BootLintBear --save`

I'd gotten BootLintBear from the list of [supported Languages](https://github.

[2016-06-18 10:36] AbdealiJK commented on #2360
This is kind of a duplicate of https://github.com/coala-analyzer/coala-bears/issues/432 I think

Also, currently we don't install a bear's dependency if the dependency is non-pythonic. But it's in the works - @Adrianzatreanu is working on it.

@Adrianzatreanu is there a tracking issue for the bear dependency management and splitting bears ? I can't seem to be able to find it.

[2016-06-18 10:41] jschwarzwalder commented on #2349
yes --apply-patches did work

[2016-06-18 10:48] jschwarzwalder commented on #2360
Sorry I'd only looked on coala to see if it had been reported.

I think I would have liked to know that I'd have to download and install boot linter . I"m guessing at this point i get it from the linked github page...

[2016-06-18 11:09] sils1297 commented on #2360
yes the messages should be better

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 18 June 2016 at 12:48, Jami Schwarzwalder <notifications@github.com>
wrote:

[2016-06-18 12:44] Makman2 commented on #2360
hm, when the message says bootlint is not installed, then I would assume I need to install bootlint :)
I don't think we need to change messages, @jschwarzwalder your "documentation-workflow" was completely right, you've looked at bootlint, even at the bear description which refers to the github page with documentation, and there it is: https://github.com/twbs/bootlint#on-the-command-line
a little

[2016-06-18 12:59] sils1297 commented on #2360
I think we should provide install instructions or at least a URL or so?

[2016-06-18 18:52] Makman2 commented on #2360
an URL doesn't harm I think :)

[2016-06-19 06:27] Uran198 commented on #975
So, the default logging [supports threading](https://docs.python.org/3/library/logging.html#thread-safety).

To produce output with colours, we can write custom handlers, which isn't hard, though can be a little tricky. ([here](https://gist.github.com/Uran198/6b5bd73447108038b886660043fdc355) is a small gist, we can use ConsolePrinter's print for colour printing). Also, for json output, you can us

[2016-06-19 14:52] Adrianzatreanu opened #2363 "Lazy Installation for bears"
This feature will be good once we decentralize bears, not now.

Cool idea @justuswilhelm thought of, would be to have a lazy installation for coala bears. This would be a feature and not the only way to install bears, obviously, we'd like whenever one would want to run a bear he doesnt have installed, to be asked something like: ``Bear x not found in your system. Would you like to install it?`` an

[2016-06-19 15:20] sils1297 commented on #2363
neat :+1:

[2016-06-19 17:59] abhsag24 opened #2367 "coalang: Let Bears have their own coalang files."
so every bear has their own coalang with settings  that are obscure or not used by any other bear, like `encapsulators` for the `IndentationBear`, these settings get appended on top of the settings of the regular coalang

[2016-06-19 19:49] Redridge opened #2368 "external_bear_wrap: Add support for different Result creation modes"
Currently the external_bear_wrap decorator uses `Result.from_values()` to create the results needed.
It would be nice to extend the decorator's functionality to be able to use other `Result` creation methods too

[2016-06-19 20:20] sils1297 commented on #2368
I'd just use the standard result constructor always and use  the same json format as we use for coala json output

[2016-06-19 20:40] Makman2 opened #2370 "linter: Expose `get_default_severity(string)`"
As many seem to need a severity-value even without `output_format='regex'`, it could be useful to offer the default dict, so nobody needs to rewrite the complete severity dict though the values are already inside the default one^^

[2016-06-19 22:00] Makman2 commented on #2363
what about execution privileges during install?

[2016-06-19 22:01] Makman2 commented on #2367
I thought we want to merge each coalang?

[2016-06-19 22:04] Makman2 commented on #2368
agreeing, let's just enforce a standard we are already using. There are way too many possibilities to create such an external bear, having the one "right" way supported by us simplifies stuff for the user^^

[2016-06-19 22:04] Adrianzatreanu commented on #2363
what do you mean?

[2016-06-19 22:23] justuswilhelm commented on #2363
@Adrianzatreanu @Makman2 Think this is the same as I mentioned on Mumble, when running post-setup hooks this might pose a security issue, e.g. running npm install wiping your home dir? Might be wrong tho, and you're talking about something else. Enlighten us, @Makman2 :)

[2016-06-19 23:15] Makman2 commented on #2363
generally administrative privileges, e.g. when you want to install pip packages globally or doing other stuff that needs elevated privileges^^

[2016-06-19 23:49] Makman2 commented on #2363
generally administrative privileges, e.g. when you want to install pip packages globally or doing other stuff that needs elevated privileges^^

[2016-06-20 07:01] abhsag24 commented on #2367
merge each coalang?

[2016-06-20 13:47] abh3po opened #2373 "docs: Add note that paths need to be escaped in '.coafile' for windows"

[2016-06-20 14:01] Makman2 commented on #2367
Didn't you say recently we want some kind of manager, where each language gets its own coalang file? And then you only use the manager to retrieve the right settings :O

[2016-06-20 14:08] abhsag24 commented on #2367
each language already has their own coalag file?

[2016-06-20 17:03] Makman2 commented on #2367
yeah but they are separated between each module that uses different information regarding that language. And I thought it was the goal to unite these files ^^

[2016-06-21 00:42] Makman2 opened #2376 "StringConverter: Inline default argument of `list_delimiters` into function signature using a tuple"
Currently we do this:
[code]
this is better:
[code]

[2016-06-21 10:55] abhsag24 opened #2377 "generate-ordering: Not working"
[code]
but suprisingly
[code]

[2016-06-21 11:22] fneu commented on #2377
I can... more than just confirm:
[code]

This most likely has to do with `a` being an `AbsolutePosition` and `b.start` being a `SourcePosition`.
While both inherit from `TestPosition`, `SourcePosition` is the only one to have a `file` param and is defined with:

[code]
compared to
[code]

If this is not the source of this problem this bug has to be filed against coala_decorators.

[2016-06-21 11:24] fneu commented on #2377
[code]

[2016-06-21 13:05] abhsag24 commented on #2377
what kind of ordering is required for "file" ? i do think that is actually the source of the problem @fneu

[2016-06-21 13:35] fneu commented on #2377
well, we have this in decorators:

[code]

`a` inherits it's ordering from `TextPosition`, meaning:

- `if not isinstance(other, cls):` checks for `b.start` to be an instance of `TextPosition`, which a `SourcePosition` is subclassed from
- ` for member in members:` checks for `line` and `column` only (which is good) and finds no difference, `<=` is therefore false.

'b.start' get's a new ordering

[2016-06-21 14:19] abhsag24 commented on #2377
But it shouldnt be! line and column are equal right? so they are also less than or equal?

[2016-06-21 14:40] fneu commented on #2377
right, `__lt__` returns False, so `<` is false only

[2016-06-21 17:50] Asnelchristian commented on #2193
can i work on this ?

[2016-06-21 17:59] sils1297 commented on #2193
sure

[2016-06-22 07:50] #2193 closed

[2016-06-22 10:24] Asnelchristian commented on #2370
can i work on this one?

[2016-06-22 10:35] Asnelchristian commented on #2370
can i work on this one?

[2016-06-22 13:02] msfernandes commented on #1549
I'm interested to do this issue :)

[2016-06-22 13:04] sils1297 commented on #1549
@msfernandes you might wanna use pandoc

[2016-06-22 13:10] heijligen commented on #1997
I can do this issue

[2016-06-22 13:14] rishabhs95 commented on #2133
I am working with this issue.

[2016-06-22 13:24] sils1297 commented on #1997
this was moved to gitlab, the issue should be moved

[2016-06-22 13:25] CarIosRibeiro opened #2383 "Localization"
If do you like to help to have coala translated to your mother languange this is your place, welcome a board!

[2016-06-22 13:26] sils1297 commented on #2383
We will talk about this in person, a cEP will have to be worked out for this.

[2016-06-22 18:01] #2133 closed

[2016-06-22 18:17] Makman2 commented on #2370
sure, if you need help, ping me. If you don't know the internals of `@linter` this is quite tricky^^

[2016-06-22 18:18] Makman2 commented on #2370
and honestly I'm not sure myself how I would do that :)

[2016-06-22 18:21] Makman2 commented on #1997
Moved to https://gitlab.com/coala/coala-decorators/issues/4

[2016-06-22 18:21] #1997 closed

[2016-06-22 18:26] Asnelchristian commented on #2370
okay :), i will do my best :)

2016-06-22 19:18 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-06-22 19:05] #1549 closed

[2016-06-23 04:06] AbdealiJK opened #2389 "Add default PR description"
I was submitting a patch at `scikit-image` and I was really impressed with their default PR message:

[code]
The checklist is really nice and serves as a better reminder of "things to do" as compared to writing it in a documentation.

[2016-06-23 04:07] AbdealiJK commented on #2389
You can find their other templates and this one at https://github.com/scikit-image/scikit-image/tree/master/.github

[2016-06-25 21:19] jschwarzwalder opened #2392 "Docs Revision should be easier"
Trying to add small things to the docs should be significantly easier.

I don't feel like making changes should require only one commit, and require so much negotiation on what gets pushed without have have very clear outline of how to handle rebasing and editing comment messages, files, and pull requests.

I tried to make changes to files as requested in a review and they seem to have gotten lost

[2016-06-25 21:49] jschwarzwalder commented on #2392
git push origin master --force

[2016-06-26 22:41] Makman2 opened #2396 "Merging the folders "bearlib" and "bears""
I can't really distinguish their functionality guessed by name^^

[2016-06-27 12:37] Adrianzatreanu opened #2398 "Add installation methods for GoRequirement and JuliaRequirement"
GoRequirement and JuliaRequirement also could have the ``install_command`` method which builds the command from its attributes, and the ``is_installed`` method which checks whether it is installed or not.
I'm encountering lots of problems on my OS with those 2 and i cannot test them properly. If there's anyone who has those installed and is willing to do it, I'd very much appreciate.

Examples for

[2016-06-27 13:35] RohanVB commented on #2376
I'd like to be assigned this issue.

[2016-06-27 21:13] Adrianzatreanu opened #2400 "Importers: _iimport_objects shouldn't fail if only path is given"

[2016-06-28 04:15] RohanVB commented on #2398
I'd like to try this one.

[2016-06-28 04:29] #2376 closed

[2016-06-28 06:54] #2359 closed

[2016-06-28 07:00] sils1297 commented on #2377
@abhsag24 @fneu please triage the issue, it seems important to solve on first sight? (Not that I read it completely.)

[2016-06-28 08:03] abhsag24 commented on #2377
i did a work around on the `IndentationBear` the only Bear that uses these two together right now.

[2016-06-28 08:08] sils1297 commented on #2377
would a fix be much harder than your workaround?

[2016-06-28 08:29] Adrianzatreanu commented on #2398
hey @RohanVB feel free to ask me if there's anything you need, as I've done this for other 3 managers :)

[2016-06-28 12:02] sils1297 commented on #2115
most stuff is there, the release happened - everyone's happy :)

[2016-06-28 12:02] #2115 closed

[2016-06-28 12:25] Adrianzatreanu opened #2401 "Requirement classes method ``is_installed()`` need better design for windows"

[2016-06-28 12:27] sils1297 commented on #2401
elaborate please? Or are the current ones not working?

[2016-06-28 12:39] Adrianzatreanu commented on #2401
The current one works properly, but @Makman2 said that using ``cmd`` is not the ideal solution, so he had some ideas that he wants to try and asked me to assign him on this issue :)

[2016-06-28 18:57] RohanVB opened #2402 "Improve warning message when user prompts to run a bear and no matching bears are found"
According to the tutorial video on http://coala-analyzer.org/#intro, usage of SpaceConsistencyBear is shown.

**Note 1:**
 _coala was installed on a virtual environment._

The warning message is displayed when the steps below were followed:

**Note 2:**
_The test.py file was created as :_

_and it contained the following:_

[2016-06-28 21:59] Makman2 commented on #2401
`cmd` is unsafe as it performs shell expansion^^ @sils1297

[2016-06-29 06:12] AbdealiJK opened #2403 "Autocomplete settings"
We have autocomplete for bear names, which is cool.
It would be really nice to autocomplete settings also.

We have lots of settings and if we can give auto complete suggestions, it makes a lot of sense. The user can always put their custom settings by typing out the whole thing. The autocomplete may make things easier.

CC @Uran198 in case you have ideas on implementation and also if you wanna do

[2016-06-29 06:19] sils1297 opened #2404 "Release: 0.8"
Hey people, the following tasks are what I think super important for this release. Can you please push this :+1: reaction if you accept the responsibility? If you do that we expect you to reach your goal without us having to push you daily, if you need help just ask us, being annoying is fine. I'd love to see a relaase somewhere between 17-24 july when most of us are in spain.

- [x] @Udayan12167

[2016-06-29 06:25] sils1297 commented on #2404
CC @seblat anything we should focus on for making GitMate rock in your opinion?

[2016-06-29 06:26] AbdealiJK opened #2405 "Shell autocompletion setup"
I noticed that we have a doc to setup autocomplete - http://coala.readthedocs.io/en/latest/Users/Tutorials/Shell_Autocompletion.html

... if the user is capable of reading the doc, they probably won't need the autocomplete ;)

First off:
It would be nice to add this line to the ~/.profile rather than ~/.bashrc and ~/.zshrc
~/.profile is normally loaded in ~/.bashrc and ~/.zshrc if I'm not mistaken

[2016-06-29 07:27] Redridge opened #2406 "external_bear_wrap: modify JSON spec"
Make the external_bear_wrap decorator use the same JSON spec as `coala-json`.

[2016-06-29 10:50] Asnelchristian commented on #2404
:+1

2016-06-29 7:25 GMT+01:00 Lasse Schuirmann <notifications@github.com>:

[2016-06-29 20:34] #2368 closed

[2016-06-29 20:34] #2406 closed

[2016-06-30 08:44] Uran198 commented on #975
[Here](https://github.com/coala-analyzer/coala/pull/2409) is a possible way of implementing it.
Maybe there is better approach that I'm missing.

[2016-06-30 09:02] Uran198 opened #2410 "coalib.misc.ContextManagers.retrieve_stdout looks wrong"
[code]
Also, in general it feels wrong to change builtins.
Even for tests there may be some [other options](http://stackoverflow.com/a/12683001/3546950).  Also, there seem to be [some options](https://pytest.org/latest/capture.html#accessing-captured-output-from-a-test-function) for pytest.

[2016-06-30 18:09] AbdealiJK opened #2411 "Add SystemManagerRequirement"
It makes sense to add a `SystemManagerRequirement` which then is subclassed into `AptGetRequirement`, `DNFRequirement`, `ZypperRequirement`, and so on.

Many times, it makes a lot more sense to use a system packages when available. Especially for that stuff that needs `cabal` and so on where installation time for installing packages was huge in our CI.

[2016-06-30 18:23] Adrianzatreanu commented on #2411
I think we are making those ``conda`` packages.

[2016-06-30 18:48] sils1297 commented on #2411
yep those will be conda, @AbdealiJK reopen if there's a misunderstanding :)

[2016-06-30 18:48] #2411 closed

[2016-06-30 19:13] sils1297 commented on #1006
see also http://stackoverflow.com/questions/101268/hidden-features-of-python#102062

[2016-06-30 19:34] Asnelchristian opened #2412 "LineParser: Change ``touple``->``tuple``"
Change ``touple`` to ``tuple`` in https://github.com/coala-analyzer/coala/blob/master/coalib/parsing/LineParser.py#L43
difficulty/newcommer

[2016-06-30 22:39] AbdealiJK commented on #1006
https://pypi.python.org/pypi/cached-property/1.2.0 is what i used in another project and it was very satisfactory

[2016-06-30 23:08] AbdealiJK commented on #2411
Ah, apologies. Seems like I missed some conversation in between and  also wasn't thinking correct.

[2016-07-01 16:42] hypothesist opened #2414 "Change Coala to coala"
https://raw.githubusercontent.com/coala-analyzer/coala/93da64190db8a6220a42e3f0562fd1b06acab742/docs/index.rst

`Getting Started with Coala <Users/Tutorials/Tutorial>` should have `coala` not `Coala`

[2016-07-02 15:51] Asnelchristian opened #2416 "Bear: Change ``Simplification`` to ``Redundancy``"

[2016-07-02 15:55] Adrianzatreanu commented on #2416
must be followed up by https://github.com/coala-analyzer/coala-bears/issues/544

[2016-07-02 15:58] hypothesist commented on #2389
We could also add something about doctests. Also modify the first check point to something like "Run `coala` on the project before submitting" as that should pretty much cover any code standards issue. (We could also convince `scikit-image` devs to use coala.)

[2016-07-02 18:20] #2416 closed

[2016-07-02 22:26] Makman2 commented on #2400
@Adrianzatreanu was this fixed?

[2016-07-03 04:17] jschwarzwalder commented on #2414
I can fix this

[2016-07-03 04:21] jschwarzwalder opened #2418 "supported languages on mobile"
On my Android  phone i wanted to look up what itests i can use on my php code. I went to coala-analyzer.org and clicked on supported  languages.  I could see a list of languages  but when i click on the languages i get no details.  I think this is because im using  mobile github.

[2016-07-03 07:00] hypothesist commented on #2414
@jschwarzwalder assigned you

[2016-07-03 08:49] sils1297 commented on #2418
Really? That should definitely work, we should check that out. CC @hypothesist who wrote the bear-docs.

[2016-07-03 08:50] hypothesist commented on #2418
@sils1297 we should link to the README.rst page instead of the repo? @jschwarzwalder do you still face the issue when you view README.rst?

[2016-07-03 09:03] sils1297 commented on #2418
ah do we link to the repo? I think at least in most places I link to the readme directly.

[2016-07-03 09:03] Adrianzatreanu commented on #2400
I think @fneu gave a brief explanation why it is like that and this isn't an issue. Could you explain here too, just for the record :D ?

[2016-07-03 09:36] Asnelchristian opened #2419 "Bear.py: Add ``Code Simplification`` to `` CAN_DETECT``"

[2016-07-03 10:32] Redridge opened #2421 "docs: Clarify the coala in a container docs"
The docs are a bit vague about what and how should be done.
http://coala.readthedocs.io/en/latest/Users/Container.html#coala-on-gitlab-ci

[2016-07-03 15:31] fneu commented on #2400
@Adrianzatreanu where and how? I somehow can't remember. taking a look at it now

[2016-07-03 16:04] Adrianzatreanu commented on #2400
on gitter as I recall :-? the function is failing if you only give it a name, and you explained why we should not provide only the name but the kind and others as well, thats all I have, im reopening if you think its an issue :)

[2016-07-03 16:22] fneu commented on #2400
well this is the function, right?

[code]

so what would you expect to get passing only the file path? **every** object found in the module?

if local is not set you would also get all the supers and everything else that is imported in this module so I am kind of wondering...

[2016-07-03 21:15] #2419 closed

[2016-07-03 21:16] Makman2 commented on #2400
it seems there's still some discussion left :)

[2016-07-04 06:08] jschwarzwalder commented on #2418
On http://coala-analyzer.org/ it links to the repo, but when I go to https://github.com/coala-analyzer/bear-docs/blob/master/README.rst the same action happens.

I'm not sure if there is another url I'm supposed to use to access the README on mobile.

I"m using an Android Phone Samsung Galaxy S6 Android 6.0.1

[2016-07-04 07:41] #2414 closed

[2016-07-04 10:24] Adrianzatreanu opened #2425 "Use coala-utils"
In the latest coala_decorators version we have the decorators in ``__init__.py`` and the imports need to be changed, and also the installed version for coala_decorators in requirements.txt

[2016-07-04 19:30] fneu opened #2426 "Encoding Error when running bears on non-UTF-8 systems:"
Quoting @AbdealiJK here from https://github.com/coala-analyzer/docker-coala-base/pull/13

Test output for LatexLintBear running on docker:

[code]

[2016-07-05 08:59] Adrianzatreanu opened #2427 "docs: Add FAQ page"
I've noticed there's a lot of newcomers that ask similarily the same questions, as in: What are those things failing/not failing in my PR, what issue do I choose etc, because probably they are too lazy to read the full docs (I cannot blame them, it's a lot!).

To fix this, I was thinking we could have a FAQ page where we'd put a few questions that we could simply redirect people to and there they'

[2016-07-05 09:01] sils1297 commented on #2427
Like it, we have something drafty already at https://github.com/coala-analyzer/coala/wiki/FAQ , let's move it to the docs?

[2016-07-05 09:01] Adrianzatreanu commented on #2427
ah, great, I had no idea about it.

[2016-07-05 09:02] Adrianzatreanu commented on #2427
I'll read it and work around it then so we can delete the page after :)

[2016-07-05 12:04] Asnelchristian commented on #2071
can i work on this ?

[2016-07-05 19:04] Adrianzatreanu commented on #1963
unassigning due to long inactivity on https://github.com/coala-analyzer/coala/pull/2216

[2016-07-06 09:20] AbdealiJK opened #2430 "Videos for newcomers doc"
In the newcomers docs we should have an ascii cinema or Video tutorial on how to use git for our workflow.
Just makes it so much easier because people get confused about `rebase -i` and so on frequently.

I'm thinking 3 videos:
 - How to make a contribution: (Clone, create branch, edit file, commit, push, possibly also add how to make a PR if it's not ascii cinema)
 - How to modify my last commit

[2016-07-06 15:48] #2427 closed

[2016-07-06 16:49] Adrianzatreanu opened #2431 "Filter bears by CAN_DETECT or CAN_FIX"
I think we should have a ``coala`` command that would be able to show you what coala does for a specific language. I think right now we have one that shows you what bears you can use with your language (if im not mistaken) but i think we should have one that would basically be taking all those bears that use that language, and then unify the sets with can_detects and those with can_fix and show a

[2016-07-06 16:57] Adrianzatreanu commented on #2431
Example to clarify:
``coala --show-capabilities Python``
and you have a list
``coala can detect and fix for Python: Formatting, Syntax.``
``coala can only detect for Python: Security.``

"this is an example, thats not what coala does for python right now"

[2016-07-06 17:24] Adrianzatreanu commented on #2402
What better ideas do you have? ``No bears were found matching x. Make sure you typed the name correctly or install it from here link_coala-bears_repo``? or what do you have in mind?

[2016-07-06 17:25] Adrianzatreanu commented on #2425
some stuff needs to be done in coala_decorators first, adding some more modules and stuff, and then this will be done.

[2016-07-06 17:54] RohanVB commented on #2402
I agree. Prompting the user to check for typos, otherwise displaying instructions to get bears would be helpful.

[2016-07-07 10:59] RohanVB opened #2433 "JuliaRequirement: Add installation Methods"
JuliaRequirement also could have the install_command method which builds the command from its attributes, and the is_installed method which checks whether it is installed or not.

Examples for pip of those commands:

def install_command(self):
       return "pip install {}=={}".format(self.package, self.version)
and

def is_installed(self):
      return not call_without_output(('pip', 'show', self

[2016-07-07 10:59] RohanVB commented on #2433
I'd like this issue to be assigned to me.

[2016-07-07 11:01] #2398 closed

[2016-07-07 11:31] #2433 closed

[2016-07-07 11:31] RohanVB commented on #2433
Duplicate of an issue that was already made.
#2398

[2016-07-07 18:30] Asnelchristian commented on #2431
I completely agree, :)

[2016-07-07 18:31] Adrianzatreanu commented on #2431
You wanna do it?

[2016-07-07 18:32] Asnelchristian commented on #2431
It sounds fun

[2016-07-07 18:34] Asnelchristian commented on #2431
yeah

[2016-07-07 19:14] Uran198 commented on #975
For now I implemented the approach I mentioned above with the difference that there is logger for every type of printer and optionally for every instance.
Next I think would be good to do the following:

* Limit total number of different loggers (coloured, not coloured, list, queue)
* Move configuration of the loggers to the file. Probably have different files with configuration for coala, coala-c

[2016-07-08 15:01] Makman2 commented on #2426
does python rely by default on the BOM? then we should not pass an encoding at all if not given^^

[2016-07-09 16:09] tushar-rishav opened #2438 "inverse_dicts: Fix incorrect example in doctring"
The given [result](https://github.com/coala-analyzer/coala/blob/master/coalib/misc/DictUtilities.py#L7) is wrong. The correct result is:
[code]

[2016-07-09 17:15] tushar-rishav opened #2439 "show_bears and filter bears by language should also have json output"
atm we don't provide json dump for the results from running show bears or filtering bears by language.
I have tried to implement the feature and here is a [demo](https://asciinema.org/a/1awqagvom0gw13b0cdqh4kjbk)

Note: It would be nice to have json interface as then we can easily plug those into web interfaces like coala website. I think we should have this feature.

CC @sils1297  @Uran198

[2016-07-09 17:40] tushar-rishav commented on #2439
Closing in favor of https://github.com/coala-analyzer/coala/pull/2337

[2016-07-09 17:40] #2439 closed

[2016-07-09 18:00] Asnelchristian opened #2441 "``--show-details`` should also output CAN_DETECT and CAN_FIX"

[2016-07-11 09:45] underyx opened #2442 "It takes a long time to execute even the simplest commands"
[code]

I'm sure there is some unnecessary work being done here if printing the help text takes an entire second.

[2016-07-11 11:13] hypothesist commented on #2442
@underyx related https://github.com/coala-analyzer/coala/issues/2344

[2016-07-11 11:14] underyx commented on #2442
Not just related actually, that's a duplicate. Closing.

[2016-07-11 11:14] #2442 closed

[2016-07-11 11:15] hypothesist commented on #2430
I made this a week ago: https://asciinema.org/a/78683

[2016-07-11 11:16] hypothesist commented on #2430
It kinda covers most points. It could be more comprehensive though. Anyway, this is the source file I used to generate that: https://github.com/hypothesist/termtype/blob/master/rebase_tutorial.example

[2016-07-11 11:22] hypothesist commented on #2405
During coala installation? Or have a separate `setup-coala-autocomplete` command that does this depending on the shell?

[2016-07-11 11:27] hypothesist commented on #2418
I can reproduce this bug. Seems like an issue with github. @jschwarzwalder file it at support@github.com ?

[2016-07-11 17:14] AbdealiJK commented on #2405
I was thinking during installation

[2016-07-13 12:59] sils opened #2444 "GemRequirementTestCase fails for me"
[code]

should be skipped.

CC @Adrianzatreanu @Asnelchristian , can you resolve this quickly? It's a oneliner anyway.

[2016-07-13 13:25] sils1297 commented on #2180
@SanketDG this is important and was scheduled for the *last* release. Can you look into this ASAP as it's also related to your code? We shouldn't ship with such bugs. Next release is this week and this needs fixing :/

[2016-07-13 13:39] tushar-rishav opened #2446 "JSONEncoder: Add skipkeys to ignore encoding invalid chars"
We may rather use [skipkey](https://docs.python.org/3.4/library/json.html#json.JSONEncoder) to ignore the errors while encoding non acceptable chars. This would require to tweak the `create_json_encoder` a bit.

[2016-07-13 14:00] sils1297 commented on #2446
I don't fully understand, why's this needed?

[2016-07-13 14:06] tushar-rishav commented on #2446
Having this we won't need to catch any errors explicitly that are thrown
while encoding non int, float etc (invalid chars). One use case is in
encoding bears. :)
It's not very important though so we may drop it. :)
ᐧ

On Wed, Jul 13, 2016 at 7:30 PM, Lasse Schuirmann <notifications@github.com>
wrote:

--
Best regards,
Tushar Gautam
http://gtushar.co

[2016-07-13 14:26] sils1297 commented on #2344
HERE IS THE EVIL THING:

[code]

the reason why every coala invocation takes a second even if it's only showing version
it's the autocompletion!
which collects all bears...

[2016-07-13 14:40] Makman2 opened #2447 "`StringProcessing.unescape`: Introduce new parameter: expand_dict"
The `expand_dict` is a list which contains characters with special meaning, like for `\n` or `\t`:
[code]
As default `expand_dict` should contain everything python uses as escape character :+1:

[2016-07-13 15:19] sils1297 commented on #2344
And here's a ChoicesCompleter that works :)

[code]

see also https://github.com/kislyuk/argcomplete/issues/137 which is upstream.

[2016-07-13 15:37] sils1297 commented on #2344
and the PR at https://github.com/kislyuk/argcomplete/pull/138

[2016-07-13 15:44] #1145 closed

[2016-07-13 15:44] #2441 closed

[2016-07-13 16:22] Asnelchristian commented on #2447
can i work on this :)

[2016-07-13 16:26] sils1297 commented on #2447
can we have it empty by default? Otherwise it may break things, those areas are very sensible. CC @fneu as well, we need to be careful here.

[2016-07-13 16:43] #2344 closed

[2016-07-14 13:15] underyx opened #2450 "Add a default custom bear directory to check relative to project roots"
It's currently possible to set `bear_dirs = .coabears` to make coala pick up custom bears included with a project, but it would be better to have a default, standard location for these. My vote is for `.coabears/`.

[2016-07-14 13:17] sils1297 commented on #2450
My vote is for `bears/`, that's proper code it shouldn't be hidden IMO.

Also that setting should be relative to the coafile, right? That actually makes it kind of complicated technically...

[2016-07-14 13:18] underyx opened #2451 "Make the project specific bear feature more discoverable"
After https://github.com/coala-analyzer/coala/issues/2450 is closed there should be a default directory inside project directories where custom bears can be added. This feature is really useful, but hard to come across right now.

area/documentation

[2016-07-14 13:35] sils1297 commented on #2450
let's go for `.bears/`?

[2016-07-14 13:37] sils1297 commented on #2451
We should also write about the `.bears` directory after it exists, see https://github.com/coala-analyzer/coala/issues/2450

[2016-07-14 13:43] underyx commented on #2450
I would still prefer `.coabears/` to keep consistency with all the other .coathings.

[2016-07-14 14:05] underyx commented on #2450
Excerpts from gitter discussion:

- `.coabears` is easier to google than `.bears`
- The fact we could use `.bears` is just a happy coincidence cause no other project has bears. Other dotfiles are named `.git + ignore`, `.docker + ignore`, `.vim + rc`, `.bash + rc`, etc. — the `.bears` suggestion would break this naming scheme by making the name `. + bears`. Had they been called checks instead of b

[2016-07-14 23:44] Makman2 commented on #2447
hm then you can just do: `unescape(my_string, {})`
this is imo shorter than specifying the "python-dict" and passing that if you need python escapes.

bottom-line:
disabling the python-dict is easier than enabling it :+1:

[2016-07-14 23:53] Makman2 commented on #2450
I'm also for `coabears` as it does fit better in our naming scheme imo. I like some kind of default location, so people don't need to deal with the bear-paths, for simple stuff we just say: "Put them `-->there (coabears/)<--`"

[2016-07-14 23:54] Makman2 commented on #2446
sorry I don't understand this too :O

[2016-07-14 23:56] Makman2 commented on #1145
Did you include logic to set some kind of confidence limit for results shown?

[2016-07-15 03:55] tushar-rishav commented on #2446
Sorry. I meant the parsing that happens using JSONEncoder while dumping a
dictionary. For eg bears data.
On 15 Jul 2016 5:24 am, "Mischa Krüger" <notifications@github.com> wrote:

[2016-07-15 08:25] sils1297 commented on #1145
not yet, this simply adds the possibility of setting it in the API, not
user facing ATM except JSON etc.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 15 July 2016 at 01:56, Mischa Krüger <notifications@github.com> wrote:

[2016-07-15 10:29] underyx commented on #2450
@Makman2 to clarify, is your vote for `.coabears` or `coabears`?

[2016-07-15 10:33] underyx commented on #2450
Relevant point from yesterday on gitter:

- These bears would be configuration just like `.coafile`, justifying making the directory hidden. It's just configuration that's expressed with code.

[2016-07-15 10:48] underyx commented on #2451
How about adding a new flag/subcommand to `coala` that generates a boilerplate bear in `.coabears/`, like cookiecutter? We could also extend that feature to make it really easy to submit the bear for inclusion in the coala-bears project.

[2016-07-15 10:49] sils1297 commented on #2451
CC @mr-karan that would be part of his tool

[2016-07-15 10:55] mr-karan commented on #2451
I did something of this sorts @underyx https://gitlab.com/coala/coala-bear-management

[2016-07-15 11:04] sils1297 commented on #2451
@mr-karan we'll need this for normal bears as well

[2016-07-15 15:15] Makman2 commented on #2446
We shouldn't ignore encoder errors as it results in non-desired output.

[2016-07-15 15:16] Makman2 commented on #1145
then this issue is not really closed, is it?

[2016-07-15 15:17] Makman2 commented on #1145
or we just create a new issue^^

[2016-07-15 15:19] Makman2 commented on #2450
good question, at least I vote for the usage of this word :P
I don't really care whether we should use a period before or not^^

[2016-07-15 18:02] sils1297 commented on #1145
Can you create a new please?

On 15 Jul 2016 5:17 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-07-15 18:32] Adrianzatreanu commented on #2444
skip when? https://github.com/coala-analyzer/coala/blob/master/tests/bears/requirements/GemRequirementTest.py
the whole class is already skipped if theres no gem installed.

[2016-07-15 18:38] Adrianzatreanu opened #2453 "JuliaRequirement: Add installation methods"
We need installation methods for the JuliaRequirement class as well. This is almost done and can be taken over from here: https://github.com/coala-analyzer/coala/pull/2435

For more information, ping me.

[2016-07-15 19:49] sils1297 commented on #2444
actually it's not a missing skip, the test fails for me and I don't see how it could ever pass.

[2016-07-15 21:02] fneu opened #2454 "Codestyle: Add continuation line policy"
Basically we are already enforcing a style, where multiple-line lists, dicts, tuples, function definitions, function calls, and any such structures either:

- stay in one line
- span multiple lines that list one parameter/ item each

Since this is not covered by PEP8 we should add a section to our [codestyle](https://github.com/coala-analyzer/coala/blob/master/docs/Getting_Involved/Codestyle.rst)

[2016-07-15 23:22] Makman2 opened #2455 "Result confidence: Allow to set some threshold for results displayed"
This was not completely solved yet in https://github.com/coala-analyzer/coala/issues/1145 .

So the task: There should be a special setting, like `result_confidence`. If a result is yielded with a confidence value below this threshold it does not get displayed / is ignored. If the confidence value is higher than the threshold, it gets displayed to the user.

[2016-07-15 23:26] Makman2 commented on #2444
it looks like installs across systems of ruby is not really consistent. There were already problems with finding a package (like `gem` itself) that gets installed everytime, but it seems to depend on the installation procedure of ruby if even those packages are recognized as actual `gem` packages^^

I'm not sure if I'm completely wrong, though I remember @Adrianzatreanu and me having problems with

[2016-07-16 03:38] tushar-rishav commented on #2446
Um alright. :smile:

[2016-07-16 03:38] #2446 closed

[2016-07-17 06:23] AbdealiJK commented on #975
Just found a library to get colored output for python's logging already - https://pypi.python.org/pypi/colorlog
Possibly we can eliminate the need for pyprint's ColorPrinter, or add it to pyprint and make LogPrinters there ?

[2016-07-17 20:51] #2425 closed

[2016-07-17 21:00] Makman2 commented on #975
@AbdealiJK very cool :+1:

[2016-07-17 21:22] Uran198 commented on #975
I don't feel very good about adding more dependencies. I've already implemented colored logging with the use of custom formatter, which do not depend on ColorPrinter, as well. The code is small and straight forward, not sure if there is a point in using library for that.

[2016-07-17 21:52] #2180 closed

[2016-07-18 00:55] Makman2 commented on #975
if the library is small itself then this shouldn't hinder us. Also this moves maintenance work from our project to their's and should also raise the quality of our code, as their project deals completely with the colored-logging-problem :+1:

[2016-07-18 09:29] Udayan12167 opened #2456 "Processing: Improve File Handling"
Right now when a new section has to be executed all the file contents that are loaded in the previous section are discarded and overlaps are reloaded. We would like to do away with this and reuse the already loaded file contents.

[2016-07-18 09:30] Udayan12167 commented on #2456
#933

[2016-07-18 12:46] underyx opened #2458 "Output hard to read when showing non-consecutive lines"
See example:

[code]

The blank lines are the largest section breaking visual elements here, so I'd expect them to be separated the main semantically separate elements of the output, i.e. the different errors. However upon closer inspection,

[code]

is actually one error! This needs design, but my initial suggestion would be to either make use of indentation to visually separate the errors, or at

[2016-07-18 12:50] sils1297 commented on #2458
what do you do with an error that relates e.g. to lines 3 and 5 in setup.py and to lines 3 to 6 in MANIFEST.in? I.e. one issue associated to multiple files?

[2016-07-18 12:52] underyx commented on #2458
Yep, I meant to write

but wrote lines instead accidentally. I'll think about that one, no good solution comes to mind right now.

[2016-07-18 12:59] underyx commented on #2458
How would you feel about this output format?
[code]
or
[code]

[2016-07-18 13:02] underyx commented on #2458
Another idea
[code]

Keep in mind when reading these that certain parts will be colored and bolded :)

[2016-07-18 16:37] Makman2 commented on #2458
I like the second version, but I would use section-names instead of bear names. Also I like the new diff format because it looks more like a nice status report.

I agree with you, the current output behaves weird in those cases from above.

[2016-07-19 12:39] sils1297 opened #2459 "Dependency Testing"
https://dependencyci.com/ might be something cool

[2016-07-19 13:57] sils1297 opened #2460 "argparser contains duplocation"

[2016-07-19 19:20] Makman2 commented on #2460
Could you be a bit more precise?

[2016-07-20 07:22] sils1297 commented on #2460
yeah I was in a hurry, if you look down somebody copied the arguments for
coala for coala-json including helptexts etc

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 19 July 2016 at 21:20, Mischa Krüger <notifications@github.com> wrote:

[2016-07-20 09:01] sils1297 opened #2462 "Measure kwalitee"
https://github.com/griggheo/cheesecake

[2016-07-20 15:18] sils1297 commented on #1006
I think this could be easily done with a descriptor, probably there's already one in the stdlib or so.

[2016-07-20 20:40] RaitoBezarius opened #2464 "Skip everything during a auto apply patch"
[Area/Action]: We should have an option to handle when a user does not want to repeat each time "I don't want to apply further action, just skip everything prompts and do nothing except applying patches."

[2016-07-20 21:31] hypothesist commented on #2464
You could do `Ctrl-D` but I guess that won't do other `ApplyPatchAction`s if you have any enabled.

[2016-07-20 22:05] #2431 closed

[2016-07-20 22:19] AsnelChristian opened #2467 "Add ``--show-capabilities`` to coala-json"

[2016-07-21 00:14] Makman2 commented on #2464
I like some kind of "do this action and don't ask me again if possible"-option. We could implement this even for other choices as well (if it makes sense).

[2016-07-21 00:15] Makman2 commented on #2467
maybe we even want to output this kind of information as JSON? :D

[2016-07-21 07:52] sils1297 commented on #2467
Of course we'd output it in JSON

[2016-07-21 09:50] hypothesist commented on #2464
[code]

Entering `00` could apply `0` for all question?

[2016-07-21 10:07] sils1297 commented on #2464
Aaah, love that, `append - to your response to apply it every following
time when possible`?

[2016-07-21 10:08] hypothesist commented on #2464
@sils1297 literal `-` or the the same number twice?

[2016-07-21 10:10] sils1297 commented on #2464
I'd go for a literal, numbers are to enumerate the actions an they might
increase beyond 10 potentially also dependent on the usecase

[2016-07-21 10:11] hypothesist commented on #2464
In that case I vote for `0*` or `*0`, because `*` generally means "match everything"

[2016-07-21 10:24] RaitoBezarius commented on #2464
Note: I'm working on it :(
Kind regards,
-- Ryan Lahfa

On Thu, Jul 21, 2016 12:11 PM, Adhityaa Chandrasekar notifications@github.com wrote:
In that case I vote for 0* or *0 , because * generally means "match everything"

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub , or mute the thread .

[2016-07-21 10:27] sils1297 commented on #2464
the guy who couldn't resist...

[2016-07-21 10:29] RaitoBezarius commented on #2464
I mean: WHY COALA IS ALWAYS PROMPTING ME SOMETHING EVERYTIME SJJDIFKE

so that I'm going to fix it myself.

On Thu, Jul 21, 2016, 12:27 Lasse Schuirmann <notifications@github.com>
wrote:

--

--

Ryan Lahfa, from my phone.

[2016-07-21 12:19] adtac opened #2470 "Fix typo: docs/Review: Continous -> Continuous"

[2016-07-21 12:20] hypothesist opened #2471 "Fix typo: docs/Writing_Tests: inital -> initial"

[2016-07-21 12:21] hypothesist opened #2472 "Fix typo: docs/FAQ: docummented -> documented"

[2016-07-21 12:22] hypothesist opened #2473 "Fix typo: docs/Git_hooks: standars -> standards"

[2016-07-21 12:22] hypothesist opened #2474 "Fix typo: docs/Git_help: commiting -> committing"

[2016-07-21 12:23] hypothesist opened #2475 "Fix typo: docs/Tutorial: seperated -> separated"

[2016-07-21 12:24] hypothesist opened #2476 "Fix typo: docs/coafile: seperator -> separator"

[2016-07-21 12:30] hypothesist opened #2477 "Fix typo: Lint.py: configuation -> configuration"

[2016-07-21 12:30] hypothesist opened #2478 "Fix typo: Lint.py: succesfully -> successfully"

[2016-07-21 12:32] hypothesist opened #2479 "Fix typo: Linter.py: Mixin -> Mixing"

[2016-07-21 12:34] hypothesist opened #2480 "Fix typo: Bear.py: arbitary -> arbitrary"

[2016-07-21 12:35] hypothesist opened #2481 "Fix typo: LocalBear.py: parrallelized -> parallelized"

[2016-07-21 12:35] Udayan12167 opened #2482 "Bear: Change the get_dependency method to a property of the class"

[2016-07-21 12:36] Udayan12167 commented on #2482
#933

[2016-07-21 12:38] hypothesist opened #2483 "Fix typo: CachingUtilities.py: nonexistant -> nonexistent"

[2016-07-21 12:41] hypothesist opened #2484 "Fix typo: Shell.py: surpresses -> suppresses"

[2016-07-21 12:41] hypothesist opened #2485 "Fix typo: ConfWriter.py: seperators -> separators"

[2016-07-21 12:43] adtac opened #2486 "Fix typo: LogPrinter.py: occured -> occurred"

[2016-07-21 12:49] hypothesist opened #2487 "Fix typo: Processing.py: recieved -> received"

[2016-07-21 12:50] hypothesist opened #2488 "Fix typo: Processing.py: succesfully -> successfully"

[2016-07-21 12:51] hypothesist opened #2489 "Fix typo: Diff.py: doesnt -> doesn't"

[2016-07-21 12:52] Redridge opened #2490 "Fix typo: Shell.py: surpresses -> supresses"

[2016-07-21 12:52] hypothesist opened #2491 "Fix typo: Result.py: seperated -> separated"

[2016-07-21 12:55] #2490 closed

[2016-07-21 12:56] Redridge opened #2492 "Fix typo: DefaultArgParser.py: arguemnts -> arguments"

[2016-07-21 12:58] Redridge opened #2493 "Fix typo: LineParser.py: Seperates -> Separates"

[2016-07-21 13:00] Redridge opened #2494 "Fix typo: LineParser.py: seperate -> separate"

[2016-07-21 13:00] Redridge opened #2495 "Fix typo: LineParser.py: seperator -> separator"

[2016-07-21 13:01] Redridge opened #2496 "Fix typo: LineParser.py: seperators -> separators"

[2016-07-21 13:02] Redridge opened #2497 "Fix typo: BearRunning.py: succesfully -> successfully"

[2016-07-21 13:39] RaitoBezarius opened #2499 "Make deterministic ordering possible in coala"
important/slow

[2016-07-21 14:32] #2438 closed

[2016-07-21 15:35] sils1297 opened #2502 "test"
test issue, will be closed

[2016-07-21 15:35] #2502 closed

[2016-07-21 16:50] Makman2 commented on #2479
No this isn't a typo, I verbalized the word "Mixin"^^

[2016-07-21 16:52] Makman2 commented on #2499
you mean for results?

[2016-07-21 17:22] Asnelchristian opened #2503 "Fix typo: ConsoleInteraction: a -> A"
Change ``a`` -> ``A`` in the following lines:
[line 1](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L434)
[line 2](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L454)
[line 3](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L466)

[2016-07-21 17:37] Asnelchristian opened #2504 "Fix typo: ConsoleInteraction.py: its -> 'it is'"
[line](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L583)

[2016-07-21 17:39] Asnelchristian opened #2505 "Fix typo: ConsoleInteraction.py: touple -> tuple"
[line](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L547)

[2016-07-21 17:54] Asnelchristian opened #2506 "Collectors: Correct docs"
Ensure that the param docs start with a capital letter in the following functions:
* ``icollect``
* ``collect_files``
* ``collect_dirs``
* ``icollect_bears``
* ``filter_section_bears_by_languages``
* ``collect_all_bears_from_sections``

[2016-07-21 18:25] Asnelchristian commented on #2447
StringProcessing was deleted :)

[2016-07-21 18:26] Asnelchristian commented on #2447
coala_utils is now the one we use right ? :)

[2016-07-21 19:32] #2479 closed

[2016-07-21 19:32] sils1297 commented on #2499
yeah, results aren't ordered deterministically ATM because if the diffs
differ but everything else doesn't they'll not be ordered

[2016-07-22 00:07] Asnelchristian opened #2508 "ConsoleInteraction: Change ``give``->``given``"
[line](https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L623)

[2016-07-22 03:51] mr-karan opened #2509 "coalib/parsing/DefaultArgParser: Add more options in --filter-by"
I think we should have more options such as
- `--show-bears --filter-by-can_fix`
- `--show-bears --filter-by-can_detect`
- `--show-bears --filter-by-use_stdin`
  The point being, why filter by only one parameter when we can do so for all other Bear variables?

If this makes sense, I would like to work on it.

[2016-07-22 09:53] TheMeaningfulEngineer opened #2511 "Show PEP8 error description"
### Overview Description

Coala doesn't give a description of the error what PEP8 does.
# Steps to Reproduce

Files:

example.py

[code]

.coafile

[code]
# Actual Results

[code]
# Expected Results

It would be nice to get the error description which PEP8 gives somewhere.

[code]

[2016-07-22 10:15] alan-martinovic commented on #2508
I'd like to take this on as a test for my first contribution :)

[2016-07-22 10:27] Asnelchristian commented on #2508
Here you go :)

[2016-07-22 11:54] #2508 closed

[2016-07-22 12:24] hypothesist commented on #2504
@Asnelchristian I changed the title (this and one other issue) so that it matches with the other typo issues we have. Hope that's okay :)

[2016-07-22 12:59] Asnelchristian commented on #2504
:+1:

[2016-07-22 13:48] tushar-rishav commented on #2506
I wanna work on this

[2016-07-22 13:48] mansenfranzen commented on #2505
Assign me please

[2016-07-22 13:51] srink commented on #2494
assign me please

[2016-07-22 13:52] cdesio commented on #2476
I wanna work on this :smile:

[2016-07-22 13:54] Asnelchristian commented on #2494
here you go :)

[2016-07-22 13:54] windwaker commented on #2493
Please assign to me

[2016-07-22 13:55] Asnelchristian commented on #2476
Here you go :)

[2016-07-22 13:59] tveyben commented on #2503
I'd like to fix this issue :-)

[2016-07-22 14:18] windwaker commented on #2497
please assign to me

[2016-07-22 14:25] tveyben commented on #2504
I'd like to fix it

[2016-07-22 14:26] tveyben commented on #2504
I'd take another issue

[2016-07-22 14:27] tveyben commented on #2492
I'll take it :-)

[2016-07-22 14:39] cdesio commented on #2489
Can I fix it?

[2016-07-22 14:50] srink commented on #2488
Please assign me

[2016-07-22 14:51] #2476 closed

[2016-07-22 15:01] sils1297 commented on #2489
@cdesio sure :) Let me know when you need help!

[2016-07-22 15:02] Makman2 commented on #2447
right, migrated to https://gitlab.com/coala/coala-utils/issues/10 .

[2016-07-22 15:02] #2447 closed

[2016-07-22 15:34] #2489 closed

[2016-07-22 17:36] #2505 closed

[2016-07-23 09:04] stevemontana1980 commented on #2496
I'd like to take this one

[2016-07-23 09:23] sils1297 commented on #2496
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-07-23 09:55] pasta-driven commented on #2495
I'd like to get assigned.

[2016-07-23 10:04] sils1297 commented on #2495
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-07-23 10:23] #2496 closed

[2016-07-23 10:39] pasta-driven commented on #2483
I'd like to take this one,

[2016-07-23 11:29] #2483 closed

[2016-07-23 12:03] pasta-driven commented on #2484
I'd like to take this one.

[2016-07-23 12:20] sils1297 commented on #2484
see also :point_up: [July 23, 2016 2:10 PM](https://gitter.im/coala-analyzer/coala?at=57935eb0b92e27447fa24e28) btw.

[2016-07-23 12:35] pasta-driven commented on #2486
I'd like to take this one.

[2016-07-23 12:44] alan-martinovic opened #2528 "Documentation, Guide to Write a Bear: Result of command execution different from documented"
### Overview Description
In https://github.com/coala-analyzer/coala/blob/master/docs/Users/Tutorials/Writing_Bears.rst there is a part stating:

# Actual Results
    $ coala -d bears -b CommunicationBear --show-bears
    CommunicationBear
    HelloWorldBear

[2016-07-23 12:46] sils1297 commented on #2528
@hypothesist release relevant

[2016-07-23 12:55] #2484 closed

[2016-07-23 12:55] #2492 closed

[2016-07-23 12:55] #2495 closed

[2016-07-23 12:55] #2497 closed

[2016-07-23 12:55] #2503 closed

[2016-07-23 12:55] adtac opened #2529 "Add option to include all bears from a language in a coafile"

[2016-07-23 12:56] hypothesist opened #2530 "Ask param values grouped by bear when a value is not present in the coafile"

[2016-07-23 12:57] hypothesist opened #2532 "Suppress stdout while asking user for input"

[2016-07-23 13:11] adtac opened #2533 "Add `noqa` to the keywords to start ignoring bears"
Some other linters use that so this will make coala backwards compatible

[2016-07-23 13:16] sils1297 commented on #2533
Nice idea, I like that - could be even simple to do.

[2016-07-23 13:16] sils1297 commented on #2533
that sounds like something simple, can we have it for this release?

[2016-07-23 13:34] alan-martinovic opened #2534 "Feature, Versioning: Automatically version with `git describe`"
## Overview Description

When reporting bugs for development version, it's important to know what exact commit the bug occurred at.
Having this easily accessible with the `-v` flag would help bug reporters provide this information by default instead of additionally explaining them to check `git log` for the commit SHA.

This feature suggest automatic versioning based on the git tags and commit SHA

[2016-07-23 14:02] hypothesist opened #2535 "Make `--find-config` default"

[2016-07-23 14:03] alan-martinovic commented on #2534
I would like to take this on

[2016-07-23 14:22] alan-martinovic commented on #2534
Now that I think about it, instead of making it dynamically generated in the code, it should be a hook executed on each commit that updated the VERSION string.

[2016-07-23 14:30] hypothesist commented on #2215
@sils1297 Any status on this?

[2016-07-23 14:47] Makman2 opened #2536 "No generated API docs for Linter"
https://coala.readthedocs.io/en/latest/API/coalib.bearlib.abstractions.html#module-coalib.bearlib.abstractions.Linter

[2016-07-23 14:49] Makman2 opened #2537 "Linter: Documentation for default severity map not complete"
Here: https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L686

though this is the map currently supported:

[code]

[2016-07-23 14:59] Makman2 commented on #2532
Why that?

[2016-07-23 14:59] Makman2 commented on #2532
ah you mean while results are displayed?

[2016-07-23 15:01] Makman2 commented on #2288
Python 3.3 is officially dropped. The above improvements should be still implemented :+1:

[2016-07-23 15:02] #2488 closed

[2016-07-23 15:03] Makman2 commented on #2535
you sure? this will backpropagate all directories, you could grab some unintended coafile^^

[2016-07-23 15:06] sils1297 commented on #2534
it must be executed upon installation and written to a file right?

[2016-07-23 15:06] sils1297 commented on #2215
Nope, nobody is assigned

[2016-07-23 15:08] sils1297 commented on #2288
They are already implemented in the dropping commits.

[2016-07-23 15:08] #2288 closed

[2016-07-23 15:08] alan-martinovic commented on #2534
I see it being executed on the server upon a push.
Not sure what you mean with installation.

[2016-07-23 15:10] sils1297 opened #2538 "Lint on a sub file level"
we hacked up a prototype of a bear that would analyze pep8 in ipython notebooks. I think we should have the user write bears for those combinations of things. We have to work out a mechanism to translate the results from the other bear to the wrapping bear though.

Here the prototype:

[code]

CC @Udayan12167 @mr-karan

[2016-07-23 15:10] Makman2 commented on #2288
Indeed, have missed that :+1:

[2016-07-23 15:12] sils1297 commented on #2534
well when I checkout another commit the version would change; so when running setup.py we'd want to determine the version from the git commit right?

[2016-07-23 15:14] Makman2 commented on #2538
maybe something like this is a good API?
[code]
very vague though^^

[2016-07-23 15:15] Makman2 commented on #2538
in the next gen design this could queue a new task when using `analyze` (yeah I know the name is bad...)^^

[2016-07-23 15:16] Makman2 commented on #2534
when using a commit hook isn't the version contained inside the commit you checkout?

[2016-07-23 15:27] tushar-rishav commented on #2494
Closing as the problem has been fixed from https://github.com/coala-analyzer/coala/pull/2522

[2016-07-23 15:27] #2494 closed

[2016-07-23 15:28] srink commented on #2487
Please assign me

[2016-07-23 15:28] alan-martinovic commented on #2534
Not following  :)
The current idea is like this.

1. There is a python script in the repo called `get_version`.
2. The script generates a VERSION file.
3. The script takes into account if it's a development or release version.
4. This is done by checking the commit distance from the last tagged commit.
5. On every push, the server executes the script which auto generates the VERSION file.

In this

[2016-07-23 15:50] sils1297 commented on #2534
We already have something like it in `.ci/adjust_version_number.py` FWIW

[2016-07-23 15:51] sils1297 commented on #2534
You're saying that a server actually does an automatic commit on every push to update the VERSION file in the repo? That sounds like a lot of generated commits...

[2016-07-23 16:11] alan-martinovic commented on #2534
Fair :)
Not feasible, closing

[2016-07-23 16:11] #2534 closed

[2016-07-23 16:33] hypothesist commented on #2215
1.0 then

[2016-07-23 16:33] hypothesist commented on #2532
@Makman2 yeah

[2016-07-23 16:41] sils1297 commented on #2215
Can't we somehow have this?

[2016-07-23 20:10] hypothesist commented on #2535
But IMO being even one level below the root directory will complain about no coafiles.

[2016-07-23 20:50] hypothesist opened #2540 "Lint from stdin"

[2016-07-23 20:52] hypothesist opened #2541 "Improve caching to not explore directories that haven't been modified"
Like git does currently. Currently, we are making a list of all files that match the glob first, then deselecting files that have not been modified since the last time coala was run (if they did not produce results). Instead we could just not go into directories that have not been been modified (that's how git identifies files that have changed in `git status`)

[2016-07-23 20:53] sils1297 commented on #2540
where?who?how?

[2016-07-23 20:54] hypothesist commented on #2540
Lint from another program's pipe output for instance

[2016-07-24 05:36] mr-karan commented on #2509
@sils1297 @Makman2 @AbdealiJK  your thoughts on this?

[2016-07-24 05:38] sils1297 commented on #2509
More importantly: we can't filter by bear name at all ATM.

Also don't mix underscores and dashes.

[2016-07-24 09:48] encukou opened #2544 ""Files that will be checked" debug message appears twice"
### "Files that will be checked" debug message appears twice

# Steps to Reproduce

1. Run `coala -f src/*.c -d bears -b HelloWorldBear -L DEBUG --flush-cache`
# Actual Results

    ...
    [DEBUG][11:46:11] Files that will be checked:
    /home/pviktori/dev/coala-tutorial/src/main.c
    [DEBUG][11:46:11] Files that will be checked:
    /home/pviktori/dev/coala-tutorial/src/main.c
    ...

# Expec

[2016-07-24 09:53] encukou opened #2546 "Long questions don't wrap correctly"
### When Coala asks for user input, long questions are wrapped incorrectly.

# Steps to Reproduce

1.  Run `coala -f src/*.c -d bears -b CommunicationBear -L DEBUG`

# Actual Results

    $ coala -f src/*.c -d bears -b CommunicationBear
    [WARNING][11:51:46] The default coafile '.coafile' was not found. You can generate a configuration file with your current options by adding the `--save` flag.

[2016-07-24 09:57] sils1297 commented on #2546
@mr-karan are we using prompt toolkit by now? What's wrong here? It did work in the last release I think...

[2016-07-24 09:57] sils1297 commented on #2544
CC @hypothesist can you fix this real quick?

[2016-07-24 09:57] sils1297 commented on #2546
CC @hypothesist this is release critical

[2016-07-24 10:00] sils1297 opened #2548 "Link linter bears/writing bears"
Link http://coala.readthedocs.io/en/latest/Users/Tutorials/Linter_Bears.html and http://coala.readthedocs.io/en/latest/Users/Tutorials/Writing_Bears.html to each other

area/documentation difficulty/low

@Adrianzatreanu that's a real quick thing with a massive effect on doc usability I think, can you fix it quickly?

[2016-07-24 10:06] #2487 closed

[2016-07-24 10:30] hypothesist commented on #2404
Writing down the release notes over here:

For this release, we have had 26 developers from around the world contributing over 80 commits in the last 5 weeks.

This release has seen several performance improvements, along with some documentation enhancements.

**Changelog**

* Caching is now default. This is a huge performance improvement for HDD users (we've seen a 2x improvement when coala is ru

[2016-07-24 10:43] RohanVB commented on #2533
id like to try this one

[2016-07-24 10:43] hypothesist commented on #2533
@RohanVB assigned you :+1:

[2016-07-24 10:58] #2546 closed

[2016-07-24 11:01] RohanVB opened #2551 "In the README.rst file, the statement above the command prompt should be an example specific to Python"
The current command prompt is displayed as :

Since we are giving an example, the statement above the command prompt should be specific to Python.

[2016-07-24 12:06] sils1297 commented on #2551
Isn't that obvious? I feel like an example with a real language is more useful than "insert language". Not that I'm sure...

[2016-07-24 12:07] AbdealiJK commented on #2509
I don't understand. This seems like you're trying to provide a complex UI in CLI - which is not a good idea, because CLI is a bad UI.

Would it not be better to launch a web browser with a nice searchable table of bears ? with every property you could ever want ? (I think this was discussed at some point)

[2016-07-24 12:10] RohanVB commented on #2551
It's obvious, but I don't feel its correct. If python has to be in the prompt, the sentence above should be an example specific to using it with terminal, making it 'For example, to see what coala can do with Python, run:' Because right now one is generalised, the other is specific.

[2016-07-24 12:10] sils1297 commented on #2509
@AbdealiJK I totally agree. There's two points though:

- some people *want* to do it on the CLI
- You *need* the CLI if you're looking for e.g. own bears that are not official

[2016-07-24 12:10] sils1297 commented on #2551
cool so let's change the explanation above?

[2016-07-24 12:21] AbdealiJK commented on #2509
@sils1297

 - Some people *want* to do it with CLI
  - I agree, makes sense. But it may be wise to get some data on number of people (possibly a poll? Preferably a recommendation from an org that uses coala/agrees to use coala soon)
  - But yeah, having both is a good way to cater to both if time allows.

 - Own bears that are not official
  - What I was talking about is a locally created web page

[2016-07-24 12:23] sils1297 opened #2553 "Documentation: Add docs for all the metadata attributes"
CC @Udayan12167 @Adrianzatreanu

[2016-07-24 12:27] #2548 closed

[2016-07-24 13:49] #2460 closed

[2016-07-24 15:13] Makman2 commented on #2532
I think this does only happen when using `DEBUG`, or am I wrong?
Even so we should wait until input from user is completed, next-gen bears may help with that^^

[2016-07-24 15:22] Makman2 commented on #2509
I think we should still provide some CLI interface, it doesn't harm.

[2016-07-24 15:23] Makman2 commented on #2509
but maybe we should introduce some kind of "search-language" instead of having an own flag for each kind of field^^

[2016-07-24 17:49] RohanVB opened #2556 "Documentation: Reorganisation of sidebar links."
Some things like 'What are those things failing/passing on my Pull Request?' are placed under 'FOR USERS' whereas it should be under 'Developer resources' or 'Getting started'.

The sidebar should be hierarchical, in terms of step by step processes the 'Getting started' part should come before the 'Developer resources'

'Why did you choose the name' etc,. would have a better place under General/Ho

[2016-07-24 17:54] sils1297 opened #2557 "print line number of missing line"
console interaction
difficulty/low

[2016-07-24 18:06] sils1297 commented on #2556
Indeed, CC @Adrianzatreanu @tushar-rishav

We're planning some docs work soon :)

[2016-07-24 18:07] sils1297 commented on #2557
`git grep STR_LINE_DOESNT_EXIST` on coala for more info :)

[2016-07-24 18:51] Asnelchristian commented on #2557
i am on it

[2016-07-24 20:57] #2557 closed

[2016-07-24 21:19] hypothesist commented on #2532
@Makman2 I don't remember :( There was this guy at EuroPython who notified me of the issue.

If next-gen bears will solve this, that's great :+1:

[2016-07-25 04:29] mr-karan commented on #2509
I agree with the point that *it doesn't harm*. More options never harm, it just increases your help texts and available number of commands ;)

I like the idea of launching a web browser with a searchable table too. I think we first need to implement the functionality in our API and only then think of which UI to go for? :)

[2016-07-25 15:02] AndreaCrotti opened #2563 "IndexError with a Python module ending with "ignore =...""
A simple Python file with a line like this:

ignore = 'ignore'

and nothing generates this exception launching this command:

[code]

[code]

it's probably just assuming there are more lines after which is not always the case.
I'm not sure why it happens only with ignore though, is it correct that it's handled differently since it's not a directive for coala anyway?

[2016-07-25 15:14] Makman2 commented on #2509
so let's make a new issue for implementing some web UI?

[2016-07-25 15:20] mr-karan opened #2564 "implement web ui"
The idea is to create a searchable list of coala-bears and have some nice filterable options by the parameters, generated locally from the command line.

On another thoughts, how about creating a RESTful API for coala so that we can use it to make a website and other cool stuff also?

[2016-07-25 15:20] mr-karan commented on #2509
https://github.com/coala-analyzer/coala/issues/2564

[2016-07-25 15:34] Makman2 commented on #2564
see also https://github.com/coala-analyzer/coala/issues/2509

[2016-07-25 15:39] sils1297 commented on #2563
Hey, most of the team is boarding planes right now. Maybe @Asnelchristian or @mr-karan can look at this?

Otherwise it'll take a few hours longer for initial investigation :/

[2016-07-25 15:39] sils1297 commented on #2563
Oh @Makman2 is done with exams, ping?

[2016-07-25 15:46] Makman2 commented on #2563
confirmed

[2016-07-25 16:11] sils1297 commented on #2563
This should be fixed for this release.

[2016-07-25 16:11] sils1297 commented on #2563
Get fixed, I mean

[2016-07-25 19:58] sils1297 commented on #2563
Cool, so we can simplify this and hopefully merge something by tomorrow easily. @Asnelchristian can you review @Makman2 s PR later when he reiterates on it?

[2016-07-25 19:58] sils1297 commented on #2563
My plane takes off soon so I won't be able to review for a bit.

[2016-07-26 08:47] AndreaCrotti commented on #2563
Thanks for the really quick response!

[2016-07-26 21:31] #2563 closed

[2016-07-26 21:33] sils1297 commented on #2563
Hey @AndreaCrotti a bugfix was merged: you can use the latest development version by running `pip install coala coala-bears --pre`. I guess there will be a release somewhen in the next week or so though I'm barely around which means it might also take longer.

[2016-07-27 11:04] sils1297 opened #2566 "Check out mockextras"
Maybe we can make mocking easier with that? http://mockextras.readthedocs.io/

CC @Adrianzatreanu  :)

[2016-07-27 11:07] Adrianzatreanu commented on #2566
MOCKING! dont you say that again.

its okay, it served my purposes and i know how to use it now if i need it again for my own uses, so if someone else needs it, all up for them :D

[2016-07-27 15:12] Asnelchristian opened #2567 "``--show-capabilities`` and ``--filter-by-language`` should not necessarily take arguments"

[2016-07-27 18:07] #2491 closed

[2016-07-28 12:45] yash-nisar commented on #2504
I would like to fix this issue.

[2016-07-28 12:51] sils1297 commented on #2504
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-07-28 13:12] yash-nisar commented on #2504
Thanks, I appreciate it.

[2016-07-28 13:12] sils1297 commented on #2504
You're assigned, welcome :

[2016-07-28 13:12] sils1297 commented on #2504
:)

[2016-07-29 01:44] robkau commented on #2297
I would like to take this one over

[2016-07-29 06:51] yash-nisar commented on #2485
I would like to fix this issue.

[2016-07-29 06:55] #2504 closed

[2016-07-29 11:16] #2485 closed

[2016-07-29 16:39] Asnelchristian opened #2571 "Add RscriptRequirement"
Just like GoRequirement/ GemRequirement...

[2016-07-29 16:40] Asnelchristian commented on #2571
CC @Adrianzatreanu

[2016-07-29 16:41] Adrianzatreanu commented on #2571
cute, thanks!

[2016-07-29 22:28] encukou opened #2573 "Allow failing/skipping Linter bears based on arguments"
I am writing a bear that works with `language="Python 2"` or `language="Python 3"`, but should fail (or skip the check?) when asked to process any other language.

I found no good way to do this from `Linter.create_arguments()`: raising an exception is user-unfriendly, and returning anything but an iterable of arguments for the external program is not supported.

Perhaps a special exception or som

[2016-07-29 22:29] #2571 closed

[2016-07-30 01:18] Makman2 commented on #2573
I think an exception from `create_arguments` is completely legal, you could also provide `langauge="absolute-total-nonsense-noone-ever-uses`, this would legitimate this even more^^

I think we need to guarantee with our already discussed `FrozenSection` that settings are immutable. This would allow to use the constructor for pre-checks and setting up stuff dependent on the given .coafile .

So I t

[2016-07-30 06:27] mr-karan opened #2574 "Manage all asciinemas"
So should we do something about all `asciinemas` that are made by contributors? Simply tweeting them doesn't preserve the info, perhaps we can even display them on bear docs.

How should we go about this?

[2016-07-30 07:33] sils1297 commented on #2573
We should definitely catch that exception in linter IMO and error out
nicely.

[2016-07-30 07:33] sils1297 commented on #2574
Nice, we can put them in the bear documentation comment :)

[2016-07-30 07:41] sils1297 commented on #2573
Oh wait actually there is a choice to do it in check_prerequisites as the section is available there as well right?

[2016-07-30 08:47] sils1297 commented on #2536
@Makman2 can you try reproducing this locally? This is a documentation issue and not a real user facing bug so I'm unlabelling this.

[2016-07-30 12:12] abhiroyg commented on #1544
Hi, Can I work on this ?

[2016-07-30 12:15] sils1297 commented on #1544
@Makman2 is this well specified enough so @abhiroyg can work on it?

[2016-07-30 16:39] Makman2 commented on #1544
I think it is :+1:

[2016-07-30 16:41] Makman2 commented on #2573
if we save the section inside `self.section`, then yes :+1:

[2016-07-30 16:52] Makman2 opened #2575 "Docs: Rename section "List of module (generated)" -> "API Reference""
If someone needs the API, he/she looks for the word "API". Also "(generated)" does not really help ^^

[2016-07-30 16:56] Makman2 commented on #2536
yes I have the same locally. No errors on API generation^^

[code]

[2016-07-30 17:11] encukou commented on #2573
As a note from a relative outsider, `section` is a very confusing name for a piece of configuration. I think I get where it comes from, but given just the name I'd never guess it holds settings.
Any chance of naming it something like `self.settings`, `self.config`, `self.arguments`?

[2016-07-30 17:14] sils1297 opened #2576 "Rename section to something more useful"
Any chance of naming it something like self.settings, self.config, self.arguments?

CC @encukou

[2016-07-30 17:14] sils1297 commented on #2573
filed https://github.com/coala-analyzer/coala/issues/2576 for renaming consideration

[2016-07-30 21:27] SanketDG opened #2577 "add dependenyCI in PR builds explanation"
https://coala.readthedocs.io/en/latest/Users/FAQ.html#what-are-those-things-failing-passing-on-my-pull-request

[2016-07-31 05:10] mr-karan opened #2578 "coala-json: Invalid JSON File"
Here's how to reproduce:

`coala-json --show-bears >> out.json`

out.json -> http://dpaste.com/32JNCBR

When you lint this on http://jsonlint.com/, it produces the error:

[code]

[2016-07-31 05:10] mr-karan commented on #2578
@arafsheikh

[2016-07-31 10:21] arafsheikh commented on #2578
It says `Valid JSON` for me.

[2016-07-31 10:25] arafsheikh commented on #2578
You ran the command twice so it's two JSON outputs appended. If you remove everything below L4458 it becomes valid.

[2016-07-31 10:25] #2578 closed

[2016-07-31 10:34] mr-karan commented on #2578
Oh I didn't notice. Sorry my bad

[2016-08-01 01:00] Makman2 opened #2580 "Using Vagrant"
After reading a bit about Vagrant, I wanted to propose the idea of using it. The steps for coala can be in fact performed manually for an Ubuntu machine (using the CI scripts), though just doing
[code]
is quite tempting :)

maybe we don't use it for coala, but especially for coala-bears I think it would be really useful because of the tons of dependencies we use. I filed the issue first here in th

[2016-08-01 07:09] sils1297 commented on #2580
CC @Adrianzatreanu

[2016-08-01 09:44] AndreaCrotti commented on #2563
Thanks @sils1297 thanks a lot (and no rush of course for the release).

Anyway just one thing, in the actual fix I've seen something like

[code]

which however is not the same as I was pointing out.
The same problem also happened with something like

[code]

which I think should not be analysed at all from Coala.
Is that correct that Coala also checks for things to ignore outside of comments?
tha

[2016-08-01 10:40] sils1297 commented on #2563
Hi,

coala has no understanding of the programming language below. Thus it won't care if something is in a comment or not!

If you think about it, the false positive risk is pretty low. If you have something like `ignore PyLintBear` in your code it's unlikely that you mean something else. The statement `ignore = 'ignore'` won't do anything because there's no such bear as `ignore` :)

[2016-08-01 10:47] sils1297 commented on #2563
Actually we do have a false positive risk here because the ignore statements support globs. One could do `ignore = 'something,*,'` and coala would ignore all results for this and the following line, the `*` has to be enclosed within commas/spaces for that to happen. If you have any sane idea on how to avoid this, I'd be happy to hear it.

Reading comments only might be possible at least for some l

[2016-08-01 15:47] AndreaCrotti commented on #2563
Ahh ok I kind of assumed that there was more information about what was being parsed..
Anyway probably not a bug that is very likely to happen I guess in this case.

[2016-08-02 16:53] Adrianzatreanu commented on #2580
I'm reading about this, thanks!

[2016-08-02 18:53] sims1253 opened #2581 "coala asks for settings in sections that are not run"
When I run `coala pep8` I get asked for a language setting for the CPDBear. Is this wanted behavior?
This is what my .coafile looks like:
[code]

[2016-08-02 22:41] sils1297 commented on #2581
well it does a sanity check on all sections before... which is actually at least a performance issue because if you run `coala pep8` you wanna get your results fast and you don't want coala to collect and import all bears for all sections. Only to recollect and reimport them again later when the section is actually run!

CC @Udayan12167 because that's an existing design issue that should be consid

[2016-08-03 09:40] abhsag24 opened #2582 "better dependency mechanism"
Right now we have dependency mechanism where bears that are dependencies on some other bear have to return `HiddenResults` but what if we need a certain bear as a dependency that can act as a stand-alone bear.
Using such stand-alone bears as dependencies, displays the results of the dependencies as well which is not expected behaviour since the user never specified the bear in his/her .coafile.
Fo

[2016-08-04 09:04] sils1297 commented on #2564
This issue belongs to the new website repo - can you move it?

[2016-08-04 09:06] sils1297 commented on #2574
@mr-karan wanna take this on? Going through the tweets, adding them to the doc comments?

[2016-08-04 09:07] sils1297 commented on #2532
It should, CC @Udayan12167

[2016-08-04 09:35] mr-karan commented on #2574
@sils1297 Sure, if I get time from the other GSoC important task? Since the deadline is in next 11-12 days, my first priority is of course my gsoc work but if it's not too urgent, can I do this on leisure?

[2016-08-04 09:57] sils1297 commented on #2574
heh, sure. Maybe somebody else can do this quick? This might be a good
starting point for a newcomer.

[2016-08-04 13:01] arafsheikh commented on #2567
`--filter-by-language` is supposed to take arguments to filter stuff. I don't see how it is supposed to work without it.

[2016-08-04 13:37] Makman2 commented on #2564
@sils1297 does it? this is about having a web-reporter inside the coala main application (afaik) :)

[2016-08-04 14:17] mr-karan commented on #2564
Yes this is separate from website repo stuff

[2016-08-04 14:19] mr-karan commented on #2574
I'll probably do this on the coming weekend, if anyone else can do it before that, feel free to take else I'll take it up.

[2016-08-04 14:30] Makman2 commented on #2582
not sure if something is planned from the next-gen-bears in this direction^^
CC @Udayan12167 ? not sure if you changed the mechanism how dependent bears communicate with each other :D

[2016-08-04 14:32] Makman2 commented on #2581
we definitely should change this^^

[2016-08-04 15:20] Asnelchristian commented on #2567
maybe we should make it in such a way that when no argument is passed it prints all the languages supported and their bears :swear_smile:

[2016-08-04 15:37] arafsheikh commented on #2567
Yes is `--show-capabilities` is used alone then it should print capabilities of all bears. I think we should introduce a `--filter-by-bear` option too.

[2016-08-04 15:46] Makman2 commented on #2567
but indeed `--filter-by-language` without parameters is weird :3
@Asnelchristian do you agree changing the title to --> ```--show-capabilities`` should not necessarily take arguments` ?

[2016-08-04 15:50] #1544 closed

[2016-08-05 04:27] hypothesist commented on #2509
I just saw this PR. So instead of `n` different `--filter-by-this`, `--filter-by-that`, I think that we should have one `--filter-by "value"`. This would make it easily extensible to other params if needed and wouldn't clutter our `--help` too

[2016-08-05 04:27] hypothesist commented on #2462
@sils1297 shouldn't this be in coala-bears?

[2016-08-05 08:31] sils1297 commented on #2462
This is not about making a bear, though we could do that as well. Just
measure it for coala.

[2016-08-05 10:10] hypothesist commented on #2535
@Makman2 so should we go forward with this?

[2016-08-05 10:10] #2530 closed

[2016-08-05 10:16] hypothesist commented on #2532
Well, the next gen bear commits are going to have one big `Fixes #2532, this, that` :P

In the meantime, I think we should add a label for stuff related to next gen bear design.

[2016-08-05 10:23] hypothesist commented on #2462
We get a 354/595 (59%). FWIW the cheesecake package itself gets 301/594 (50%) :P

[code]

[2016-08-05 10:24] hypothesist commented on #2462
@sils1297 do we want this in the README?

[2016-08-05 10:28] hypothesist commented on #2450
I like `.coabears` more: while it's proper code that is related to the project, it is not going to change much and it's not *really* related to the project. It is more of a helper for the project, like `.git`.

But then again there are exceptions like `node_modules`

[2016-08-05 10:36] hypothesist commented on #2321
There's the [UNIX philosophy](https://en.wikipedia.org/wiki/Unix_philosophy), which this would kinda "violate".

[2016-08-05 10:44] hypothesist commented on #2281
From gitter:

@Udayan12167

[2016-08-05 10:46] hypothesist commented on #2263
The first three results I now get are

* https://github.com/coala-analyzer/coala
* https://github.com/coala-analyzer/coala-bears
* https://github.com/coala-analyzer
* the image results

But this might just be based on my history of searches?

[2016-08-05 11:44] sils1297 commented on #2462
Nah, we improve it!

On 5 Aug 2016 11:24, "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

[2016-08-05 13:54] yash-nisar opened #2587 "Fix typo: Install.rst: venvs -> venv"
You can find the file [here](https://github.com/coala-analyzer/coala/blob/master/docs/Users/Install.rst).

[2016-08-05 14:10] yash-nisar commented on #2272
I would like to get assigned !

[2016-08-05 18:15] sils1297 commented on #2272
Sure, go ahead! Thanks for your help!

[2016-08-05 18:17] Makman2 commented on #2509
@hypothesist yeah like that :+1: :)

[2016-08-05 18:20] Makman2 commented on #2450
let's do it like git :P

[2016-08-05 18:22] Makman2 commented on #2535
yes, @sils1297 is also voting for this :3

[2016-08-05 18:24] Makman2 commented on #2321
in this case the UNIX philosophy is not our philosophy :P

[2016-08-05 18:34] sils1297 commented on #2321
Yeah I'm pretty sure we want subcommands, we have identified that people
won't look for other binaries but they'll rather fond subcommands

On 5 Aug 2016 7:25 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-08-05 21:01] #2544 closed

[2016-08-06 04:25] yash-nisar commented on #2272
**Newcomers** can get started [here](https://github.com/coala-analyzer/coala#newcomers-guide-and-getting-involved).

A list of all available bears can be found here and all supported languages here.

I am planning to add the first line. Does this look good or should I incorporate any changes ?

[2016-08-06 10:43] mr-karan commented on #2574
This is such a boring task, so I hacked up a quick script and let the machine do it :stuck_out_tongue_closed_eyes:

https://gist.github.com/mr-karan/a8b525bca2587ae56981b33316e8f7aa

[2016-08-07 13:05] sils1297 commented on #2272
@jschwarzwalder would that help you?

[2016-08-07 13:06] sils1297 commented on #2272
@yash-nisar the `here` link doesn't really work for me FWIW

[2016-08-07 13:15] yash-nisar commented on #2272
@sils1297 I had added it in the first (new)line and not in the second line. The second line was meant as a reference in the wiki with respect to which the first (new)line would be added.

[2016-08-07 16:03] adtac opened #2589 "Mention which section in the question when a required setting is missing"

[2016-08-07 16:21] whonut commented on #1897
Just went to fix this and it seems to have been done already, just FYI.

[2016-08-07 16:22] sils1297 commented on #1897
Oh great! @whonut you just fixed an issue then :) Sorry for the circumstance, those issues get fixed as a side effect sometimes and it's hard to regularly check all of them so it rarely happens :/

[2016-08-07 16:22] #1897 closed

[2016-08-07 16:56] #2574 closed

[2016-08-07 17:11] whonut commented on #1963
I'd like to pick this up please. The same error/unclear language is present in the docstring for `TextRange` too.

[2016-08-07 17:34] whonut commented on #1963
Should I fix `TextRange` with this or open a new issue for that?

[2016-08-07 17:34] sils1297 commented on #1963
whatever you prefer!

[2016-08-07 18:53] whonut commented on #2075
I'd like to have a look at this, but I'm not sure how to reproduce it. Could somebody please advise?

[2016-08-07 19:56] Makman2 commented on #2075
Easiest should be to clone `coala-bears`, make any bear using invalid python code and install it using `setup.py install` :+1:

[2016-08-07 19:58] sils1297 commented on #2075
I recommend rather http://coala.readthedocs.io/en/latest/Users/Tutorials/Development_Setup.html#installing-from-git

[2016-08-07 20:24] #1963 closed

[2016-08-07 20:44] whonut commented on #2075
Forgive me if I'm mistunderstanding. I have my forks of `coala` and `coala-bears` on my machine. I've put something that should cause an error (e.g. `assert False`) in `GitCommitBear.py` in `coala-bear` and then done `pip -e install <path/to/local/repo>` again. When I run coala in the coala repo directory, it goes through without a problem. What am I doing wrong?

[2016-08-07 21:26] whonut commented on #2075
OK, I did made a new venv and did 'pip install -e` before `pip install coala-bears --pre`. Seems to be behaving as it should now.

[2016-08-08 08:09] sils1297 commented on #2075
@AbdealiJK we should rather collect the bears only once and then filter them for all sections!

CC @Udayan12167 btw.

[2016-08-08 08:10] sils1297 commented on #2075
@whonut not sure if this one is really difficulty low btw.

[2016-08-08 08:20] whonut commented on #2075
I think I've figured out where all the relevant bits of code are, so I could still give it a shot maybe? Depends if I'm underestimating the complexity of the whole mechanism. I need to read up on how bears work, regardless. There's more going on than I thought.

[2016-08-08 08:26] sils1297 commented on #2075
@whonut whatever you like, in case you need any help, be sure to ask us :)

[2016-08-08 09:59] whonut commented on #2075
@sils1297 Could you expand on what you mean by 'filter [collected bears] for all sections'? Is that  to do with executing them?

[2016-08-08 11:26] Adrianzatreanu opened #2593 "DistributionRequirement: Highlight output"
that should be highlighted
all those shoud be shown in the end, it's not really visible between all the other output
the set can be beautified

[2016-08-08 11:28] sils1297 commented on #2593
I think the installation tool should be responsible for this, the
requirement class has no idea on how to show this right?

[2016-08-08 20:45] Makman2 opened #2596 "Some tests fail on windows:"
Latest run on windows (8 August 2016 ~22:40) with recent master:

https://gist.github.com/Makman2/6e232f8d0216fb1de1fd0c0649170e8b

Especially this `relpath` drive-letter problem is a bug we should cover^^

[2016-08-10 11:11] Asnelchristian opened #2597 "Add ``deprecate_settings``"
This is a prototype:
[code]

[2016-08-10 11:12] Asnelchristian commented on #2597
CC @sils1297

[2016-08-10 11:15] Asnelchristian commented on #2597
the decorator works well in this case
[code]
[code]

[2016-08-10 11:17] Asnelchristian commented on #2597
It is not working on bears though :(

[2016-08-10 11:25] Asnelchristian commented on #2597
i tried this on GNUIndentBear
[code]
and this i added this in tests/GNUIndentBearTest
[code]
Unfortunately it didn't work

[2016-08-11 09:34] ManjiriBirajdar commented on #2481
Hey! It looks good start for me :)

[2016-08-11 11:42] #2481 closed

[2016-08-11 14:45] #2482 closed

[2016-08-12 07:32] shaswatrungta opened #2601 "Contributors list on the website should show the list in descending order of number of commits"

[2016-08-12 07:38] sils1297 commented on #2601
hey @shaswatrungta thanks for reporting this. This is an issue with the website, I'll move the issue over there.

Indeed the people list is a bit buggy but often it actually shows it right for me :P CC @arafsheikh I think he implemented this. Often is certainly not enough ;)

[2016-08-12 07:38] sils1297 commented on #2601
This issue was moved to coala-analyzer/website#54

[2016-08-12 07:38] #2601 closed

[2016-08-12 08:47] yash-nisar commented on #2272
@sils1297 There has been insufficient response from @jschwarzwalder . How do I proceed with this issue ?

[2016-08-12 08:57] mr-karan commented on #2272
Your [here](https://github.com/coala-analyzer/coala#newcomers-guide-and-getting-involved) points me to coala github repo

[2016-08-12 09:01] yash-nisar commented on #2272
Yes, I would add the following line to the wiki page of coala which would help the newcomers to get started. Does it sound good ?

[2016-08-12 09:05] yash-nisar commented on #2272
I think I should add this [link](http://coala.readthedocs.io/en/latest/Getting_Involved/Newcomers.html) instead. Isn't it @mr-karan

[2016-08-12 10:54] #1925 closed

[2016-08-12 13:12] arush0311 opened #2602 "Writing Bears docs example not working"
Running the example from here http://coala.readthedocs.io/en/latest/Users/Tutorials/Writing_Bears.html#communicating-with-the-user results in an error like this.

[code]

[2016-08-12 15:57] Makman2 commented on #2602
It seems that giving origin again is not needed, that was actually the purpose of using the `self.new result` method over using the Result constructor.

So what needs to be done imo :
Correct the docs not using origin. :+1:

[2016-08-12 18:49] arush0311 opened #2604 "Wrong annotation in Result.py"
In results.py in init function on line 42 it says:
`:param origin: Class name or class of the creator of this object.`
I think it should be `:param origin: Class name or creator object of this object.`

[2016-08-12 18:51] arush0311 opened #2605 "No condition on confidence in Results.py"
In line 73 there is no condition to check if the `confidence` is between 0 and 100 as given in docstring.

[2016-08-12 19:02] arush0311 commented on #2553
Can you tell me what you mean by metadata attributes and where they can be found?

[2016-08-12 19:12] Adrianzatreanu commented on #2553
I think he's referring to the attributes found in https://github.com/coala-analyzer/coala/blob/master/coalib/bears/Bear.py , such as REQUIREMENTS, CAN_DETECT, LICENSE, etc :D

[2016-08-12 22:29] sils1297 commented on #2602
oh right, self.... has it already embedded as a partial func

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 12 August 2016 at 17:57, Mischa Krüger <notifications@github.com> wrote:

[2016-08-13 09:48] #2602 closed

[2016-08-13 13:44] sils1297 commented on #2605
right, this should be easy to do, just add the check and the `:raises` in the documentation

[2016-08-13 13:45] sils1297 commented on #2597
this was done and merged.

[2016-08-13 13:45] #2597 closed

[2016-08-13 13:47] sils1297 commented on #2593
need info ffrom @Adrianzatreanu

[2016-08-13 13:52] sils1297 commented on #2564
that sounds like doing double work why can't we reuse the other thing? Its the same thing. Though shalt not duplicate.

[2016-08-13 13:55] sils1297 commented on #2540
Right, how do we do this? How does the user do this? Apply the section to stdin? The default section?

[2016-08-13 14:14] Adrianzatreanu commented on #2593
No idea yet, theres still stuff to be done before this, i'll do it in the future for sure. Needs design, indeed.

[2016-08-13 15:57] arush0311 commented on #2605
Can I take this?

[2016-08-13 16:44] arush0311 commented on #2553
Can I take this? I might need some help though.

[2016-08-13 17:06] hypothesist commented on #2540
@sils1297 probably the coafile that is found? IMO we just need to allow something like `-f -` because `-` generally means stdin.

[2016-08-13 20:13] Adrianzatreanu commented on #2553
feel free to, i can help you if needed

[2016-08-13 21:05] Makman2 commented on #2564
wait coala-analyzer/website is the main website that everyone can approach via coala-analyzer.org, while this idea aims at having an html reporter for a coala run, imo these are two (almost) different things.

[2016-08-13 21:07] Makman2 commented on #2564
nvm I missed the main description above...
we should indeed try to reuse the stuff from the coala website. Though this is still a coala issue :)

[2016-08-13 21:51] sils1297 commented on #2605
Sure

[2016-08-15 06:22] sils1297 opened #2610 "What to do with the getting involved readme?"
We've got http://coala.readthedocs.io/en/latest/Getting_Involved/README.html and I'm not sure if we want to keep it, we already have the newcomers guide for coding. At least we should link to it on the top and update it I think.

area/documentation

CC @Adrianzatreanu

[2016-08-15 07:23] #2605 closed

[2016-08-15 07:23] Udayan12167 opened #2611 "Result.py: Remove the else condition on the self.confidence variable."
[code]

[2016-08-15 20:56] SanketDG opened #2614 "Linter_Bears.rst: Link to API docs"

[2016-08-15 21:21] splinterific commented on #2478
I wouldn't mind taking this one if thats ok!

https://github.com/coala-analyzer/coala/blob/7cda7e37743be228369b353a9c05f26a75a2e9c8/coalib/bearlib/abstractions/Lint.py#L295

[2016-08-15 21:25] Makman2 opened #2616 "DocstyleDefinition.load: Allow to supply 'c++' for 'cpp'"
`c++` and `cpp` are synonyms.

There's the possibility to duplicate the settings for `cpp` under a new tag `c++` inside the coalang files, but yes, this is duplication.

Another idea: Defining some kind of language-dict which automatically maps `c++` to `cpp`.

[2016-08-15 21:25] sils1297 commented on #2478
go for it

[2016-08-15 21:27] Makman2 opened #2617 "DocstyleDefinition.get_available_definitions: Allow to supply a different "coalang_dir""
Like in `DocstyleDefinition.load` to search in other directories for coalang files.

[2016-08-15 21:43] splinterific commented on #2478
Pull Request submitted - https://github.com/coala-analyzer/coala/pull/2618

[2016-08-15 21:55] Makman2 opened #2619 "Diff: Needs a function `delete_lines`"
For convenience usage, so you don't need to wrap `delete_line` inside a loop removing each line in your range.

[2016-08-16 12:33] sils1297 commented on #2478
wrong reference in the commit, closing manually.

[2016-08-16 12:33] #2478 closed

[2016-08-16 12:57] splinterific commented on #2528
I'd like to work this please! going to update this page but also fix the same on http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html - https://github.com/coala-analyzer/coala/blob/master/docs/Users/Tutorials/Tutorial.rst

[2016-08-16 14:06] Adrianzatreanu commented on #2587
Issue being worked on by Ronald Rojas, assigning when he gets invited to our org.

[2016-08-16 14:34] yash-nisar commented on #2272
Is [this] (https://github.com/coala-analyzer/coala/wiki) alright ?

[2016-08-16 15:02] sils1297 commented on #2272
@yash-nisar I don't think we'll want to link to the wiki, rather to the docs, the wiki is largely unmaintained.

CC @Adrianzatreanu who wanted to make our documentation meaningful again, I think he might be able to help you figuring out the right thing here.

[2016-08-16 16:14] yash-nisar commented on #2272
@sils1297 I have modified the wiki page and added a link for the newcomers since @Adrianzatreanu had mentioned that we should have a wiki page pointing the newcomers to get started.

[2016-08-16 18:37] Daeke commented on #2480
Can I get this assigned? Looks like something simple enough to get started with.

[2016-08-16 18:40] sils1297 commented on #2480
done!

[2016-08-16 19:06] Hydro8182 commented on #2477
Could I get assigned to this?

[2016-08-16 19:09] sils1297 commented on #2477
sure!

[2016-08-16 19:22] #2528 closed

[2016-08-16 19:53] jschwarzwalder commented on #2272
Sorry I didn't get previous ping.

The only thing I would suggest be added is a mention that you need to have python installed in order to use coala, but I think that is a different issue :smile:

Since its initial post changes have been made to both website and the repository making it easier to find information.

[2016-08-16 19:55] sils1297 commented on #2272
Are you implying that this issue can be closed?

[2016-08-16 19:58] #2604 closed

[2016-08-16 20:50] Daeke commented on #2412
Can I take this one? I see a couple places this needs to be fixed.

[2016-08-16 21:03] #2480 closed

[2016-08-16 21:03] #2587 closed

[2016-08-16 21:10] Makman2 opened #2628 "Diff needs to get more powerful"
Though diffs are completely line based, we should provide "more power" to the user, so also changing parts of the line without doing `delete_line` and `add_line` again.

I'm thinking of some `replace(range, new_string)` function which takes in a range which gets replaced by some new string. This is especially powerful for bears which change complete parts of texts, but not only complete lines (lik

[2016-08-16 21:25] SanketDG opened #2629 "DocumentationComment: use coalangs for metadata symbols"

[2016-08-17 07:36] #2611 closed

[2016-08-17 08:22] #2477 closed

[2016-08-17 08:33] sils1297 opened #2633 "If --bears command line argument is empty, list available bears"
_From @maweki on August 16, 2016 16:9_

There is indeed a command line argument to list all bears. If I add the --bears argument without a list of bears it might be nice to be shown the list of available bears

_Copied from original issue: coala-analyzer/coala-bears#695_

[2016-08-17 08:33] sils1297 commented on #2633
_From @gitmate-bot on August 16, 2016 16:9_

Thanks for reporting this issue! A coalaian will look at it soon.

[2016-08-17 08:33] sils1297 commented on #2633
In the help. Can argparse do something like that?

Oh this issue shold be moved to coala.

[2016-08-17 09:15] splinterific commented on #2633
I'd like to give this one a look

[2016-08-17 09:34] sils1297 commented on #2633
I'd recommend browsing the python argparse documentation, maybe there's a hook somewhere.

[2016-08-17 10:36] adtac opened #2634 "Constants.py: Use uniform quoting standards"
We have a mix of `'` and `"`

[2016-08-17 10:50] hypothesist commented on #2619
@micrictor Thanks for working on this issue :)

Could you please drop by at [our gitter channel](https://gitter.im/coala-analyzer/coala) and say hello so that we can invite you to the organization? (This is so that we can assign you this issue - which helps prevent two people working on the same thing unknowingly)

[2016-08-17 10:55] hypothesist commented on #2540
To anyone who's picking this up: this is basically to allow stuff like `cat setup.py | coala`

[2016-08-17 10:57] sils1297 commented on #2619
I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

Cheers!

[2016-08-17 12:52] Adrianzatreanu opened #2635 "Better API documentation"
We need a way better API documentation, such as Python API docs are.

[2016-08-17 14:23] yash-nisar commented on #2402
I would like to get assigned.

[2016-08-17 14:35] Makman2 commented on #2540
wait do we actually want that? imo we don't need to integrate that into `Linter`, as it's possible to write a custom (python-)script/executable and provide that as the exe-name. The script would then take care of invoking the first tool and pass its output to the other tool.

I can't imagine a case where this is useful currently^^

Example for a python script taking care of this:
[code]

[2016-08-17 14:38] Makman2 commented on #2634
I would pledge for the same standards like python prints `repr(mystring)`
1. if only `'` occur inside string, use `"`
2. If `'` and `"` are mixed inside string, use `'`
3. Otherwise use `'` everywhere

[2016-08-17 15:08] #2412 closed

[2016-08-17 15:19] Daeke commented on #2535
I'll take a look at this, if you want to assign it to me!

[2016-08-17 15:33] Adrianzatreanu commented on #2453
blocking for now, not sure if we'll need it or when, unblocking when we need it :)

[2016-08-17 15:42] Ronald-Rojas commented on #2258
![terminal-image](https://cloud.githubusercontent.com/assets/11780188/17742815/84470582-646f-11e6-8627-b50880253fa7.png)

Is this still a problem? In my terminal window the text wraps well now.

[2016-08-17 17:25] swrj commented on #2634
I could do this. I will only use single quotes instead of double quotes.

[2016-08-17 17:26] swrj commented on #2614
Could you clarify what is needed to be done?

[2016-08-17 17:29] swrj commented on #2506
I could work on this.

[2016-08-17 18:03] SanketDG commented on #2614
@swrj sure!

So in Linter_Bears.rst, there is this piece of text:

documentation. It's more versatile than described in this little tutorial.

The task is to link the text "API documentation" to our api docs http://coala.readthedocs.io/en/latest/API/modules.html

[2016-08-17 18:21] Makman2 commented on #2634
@swrj that's still the question how we want to quote now^^

[2016-08-17 18:24] Makman2 commented on #2614
@SanketDG do we have the possibility to use some "relative" link, so we don't need to link hardcodedly to our website?

[2016-08-17 18:27] Makman2 commented on #2506
I've sent out an org invitation to you, as soon as you've accepted you get assigned to this issue :)
But you can already start working :+1:

[2016-08-17 18:48] SanketDG commented on #2614
Yes we can by using the `:doc:` thing

`:doc `API documentation <API/modules>`

[2016-08-17 23:45] #2472 closed

[2016-08-18 05:41] hypothesist commented on #2634
I like `"` more, but that's probably because I started programming with C/C++. `'` is ingrained in my brain to be for chars.

[2016-08-18 07:44] sils1297 commented on #2634
So as a normal programmer you'd prefer ' because on the english keyboard
layout (which is the only thing in this world *right?*) you don't need
shift to type it.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 18 August 2016 at 07:41, Adhityaa Chandrasekar <notifications@github.com>
wrote:

[2016-08-18 08:05] #1827 closed

[2016-08-18 08:48] hypothesist commented on #2634
Can confirm. English is the only language, oui :P

[2016-08-18 15:08] swrj commented on #2506
I have accepted the invitation.

[2016-08-18 20:43] Makman2 commented on #2619
Implemented.

[2016-08-18 20:43] #2619 closed

[2016-08-18 20:44] Makman2 commented on #2634
so these rules now?

2. If ' and " are mixed inside string, use '
3. Otherwise use ' everywhere

[2016-08-18 20:47] swrj commented on #2506
Sorry for the delay and the mess above, I'm new to VCS's.

[2016-08-18 21:54] sils1297 commented on #2506
that "mess" is totally fine - it shows that you're learning which is actually way better than just delivering good work ;)

[2016-08-18 22:28] Makman2 opened #2641 "Diff.delete_lines: Delete also end_line"
When I'm giving `Diff.delete_lines(4, 7)`, it would only delete lines 4, 5 and 6. I think it should also delete line 7.

So just increment the 2nd parameter of `range` inside `Diff.delete_lines` and document that properly.

[2016-08-19 07:19] Asnelchristian commented on #2308
half of this has been done right (i mean  we are still waiting for https://github.com/coala-analyzer/coala/issues/975)

[2016-08-19 07:40] hypothesist commented on #2634
@Makman2 that's going to be a lot of changes throughout coala

[2016-08-19 08:10] sils1297 commented on #2641
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-08-19 08:10] sils1297 commented on #2641
@kmo1 ^

[2016-08-19 09:31] swrj commented on #2475
Is this for the two instances for the word "seperated" in tutorial.rst located in docs/users/tutorials? If so, you can assign me to this issue

[2016-08-19 09:37] hypothesist commented on #2475
I think I made this issue for one of them, but go ahead and fix both :)

@swrj assigned you

[2016-08-19 09:44] #2506 closed

[2016-08-19 11:27] Adrianzatreanu commented on #2635
This issue was moved to coala-analyzer/documentation#20

[2016-08-19 11:27] #2635 closed

[2016-08-19 11:29] Adrianzatreanu commented on #2614
This issue was moved to coala-analyzer/documentation#21

[2016-08-19 11:29] #2614 closed

[2016-08-19 11:29] Adrianzatreanu commented on #2610
done in the coala-docs repo, just closing, not migrating the issue.

[2016-08-19 11:29] #2610 closed

[2016-08-19 11:30] Adrianzatreanu commented on #2577
This is done, its in the FAQ page.

[2016-08-19 11:30] #2577 closed

[2016-08-19 11:30] Adrianzatreanu commented on #2577
iill add a relative link to the page in the newcomers' guide, good idea :)

[2016-08-19 11:37] Adrianzatreanu commented on #2556
This was a bug where the FAQ questions were under the toctree instead of under the page. This has beeen fixed in the new docs repo.

[2016-08-19 11:37] #2556 closed

[2016-08-19 11:38] Adrianzatreanu commented on #2553
This is being moved to https://github.com/coala-analyzer/documentation, please pick it up from there, thank you!

[2016-08-19 11:38] Adrianzatreanu commented on #2553
This issue was moved to coala-analyzer/documentation#22

[2016-08-19 11:38] #2553 closed

[2016-08-19 11:38] Adrianzatreanu commented on #2553
https://github.com/coala-analyzer/documentation/issues/22

[2016-08-19 11:39] Adrianzatreanu commented on #2575
This issue was moved to coala-analyzer/documentation#23

[2016-08-19 11:39] #2575 closed

[2016-08-19 11:40] Adrianzatreanu commented on #2551
This issue was moved to coala-analyzer/documentation#24

[2016-08-19 11:40] #2551 closed

[2016-08-19 11:40] Adrianzatreanu commented on #2537
This issue was moved to coala-analyzer/documentation#25

[2016-08-19 11:40] Adrianzatreanu commented on #2536
This issue was moved to coala-analyzer/documentation#26

[2016-08-19 11:41] Adrianzatreanu commented on #2454
This issue was moved to coala-analyzer/documentation#27

[2016-08-19 11:41] #2454 closed

[2016-08-19 11:41] Adrianzatreanu commented on #2451
This issue was moved to coala-analyzer/documentation#28

[2016-08-19 11:41] #2451 closed

[2016-08-19 11:42] Adrianzatreanu commented on #2430
that's cool, looking forward to someone adding them

[2016-08-19 11:42] Adrianzatreanu commented on #2430
This issue was moved to coala-analyzer/documentation#29

[2016-08-19 11:42] #2430 closed

[2016-08-19 11:43] Adrianzatreanu commented on #2421
This issue was moved to coala-analyzer/documentation#30

[2016-08-19 11:43] #2421 closed

[2016-08-19 11:44] Adrianzatreanu commented on #2389
This issue was moved to coala-analyzer/documentation#31

[2016-08-19 11:44] #2389 closed

[2016-08-19 11:45] Adrianzatreanu commented on #2347
this is not needed to be worked on as my tool will solve this differently i guess. closing

[2016-08-19 11:45] #2347 closed

[2016-08-19 11:48] Adrianzatreanu commented on #2339
This issue was moved to coala-analyzer/documentation#32

[2016-08-19 11:48] #2339 closed

[2016-08-19 11:48] Adrianzatreanu commented on #2326
This issue was moved to coala-analyzer/documentation#33

[2016-08-19 11:48] #2326 closed

[2016-08-19 11:48] Adrianzatreanu commented on #2311
This issue was moved to coala-analyzer/documentation#34

[2016-08-19 11:48] #2311 closed

[2016-08-19 11:49] Adrianzatreanu commented on #2303
This issue was moved to coala-analyzer/documentation#35

[2016-08-19 11:49] #2303 closed

[2016-08-19 11:49] Adrianzatreanu commented on #2276
This issue was moved to coala-analyzer/documentation#36

[2016-08-19 11:49] #2276 closed

[2016-08-19 11:50] Adrianzatreanu commented on #2272
closing, the python thingie was mentioned in new docs

[2016-08-19 11:50] #2272 closed

[2016-08-19 11:51] #2269 closed

[2016-08-19 11:51] #2264 closed

[2016-08-19 11:52] Adrianzatreanu commented on #2261
This issue was moved to coala-analyzer/documentation#37

[2016-08-19 11:52] #2261 closed

[2016-08-19 11:52] Adrianzatreanu commented on #2250
This issue was moved to coala-analyzer/documentation#38

[2016-08-19 11:52] #2250 closed

[2016-08-19 11:53] splinterific commented on #2633
ok, so looking at the file where this is  : https://github.com/coala-analyzer/coala/blob/master/coalib/parsing/DefaultArgParser.py#L117-L120

my thoughts are that we may be able to do this by using `nargs='?'` and then using the `default: ` with the --show-bears function. I haven't been able to get this responding as wanted due to a lack of time so will un-assign for now. If it's still here when I

[2016-08-19 11:53] Adrianzatreanu commented on #2240
I feel like it did the job. Im closing for now

[2016-08-19 11:53] #2240 closed

[2016-08-19 11:54] Adrianzatreanu commented on #2226
This issue was moved to coala-analyzer/documentation#39

[2016-08-19 11:54] #2226 closed

[2016-08-19 11:54] Adrianzatreanu commented on #2215
This issue was moved to coala-analyzer/documentation#40

[2016-08-19 11:54] #2215 closed

[2016-08-19 11:55] Adrianzatreanu commented on #2160
This issue was moved to coala-analyzer/documentation#41

[2016-08-19 11:55] #2160 closed

[2016-08-19 11:56] Adrianzatreanu commented on #2145
This issue was moved to coala-analyzer/documentation#42

[2016-08-19 11:56] #2145 closed

[2016-08-19 11:56] Adrianzatreanu commented on #2128
The readmes have changed drastically, closing if you think this was fixed :)

[2016-08-19 11:56] #2128 closed

[2016-08-19 11:57] Adrianzatreanu commented on #2074
This issue was moved to coala-analyzer/documentation#43

[2016-08-19 11:57] #2074 closed

[2016-08-19 11:57] Adrianzatreanu commented on #2040
This issue was moved to coala-analyzer/documentation#44

[2016-08-19 11:57] #2040 closed

[2016-08-19 11:57] Adrianzatreanu commented on #2010
This issue was moved to coala-analyzer/documentation#45

[2016-08-19 11:57] #2010 closed

[2016-08-19 11:58] Adrianzatreanu commented on #2009
This issue was moved to coala-analyzer/documentation#46

[2016-08-19 11:58] #2009 closed

[2016-08-19 11:58] Adrianzatreanu commented on #1968
This issue was moved to coala-analyzer/documentation#47

[2016-08-19 11:58] #1968 closed

[2016-08-19 11:59] Adrianzatreanu commented on #1967
This should be documented in Codestyle.rst and maybe then we can use it :)

[2016-08-19 11:59] Adrianzatreanu commented on #1967
This issue was moved to coala-analyzer/documentation#48

[2016-08-19 11:59] #1967 closed

[2016-08-19 12:00] Adrianzatreanu commented on #1922
done.

[2016-08-19 12:00] #1922 closed

[2016-08-19 12:00] Adrianzatreanu commented on #1860
i havent found any invalid links yet while reworking docs, clsoing issue

[2016-08-19 12:00] #1860 closed

[2016-08-19 12:01] Adrianzatreanu commented on #1848
This issue was moved to coala-analyzer/documentation#49

[2016-08-19 12:01] #1848 closed

[2016-08-19 12:02] AbdealiJK commented on #1860
Also, don't we run InvalidLinkBear on the docs now ?

[2016-08-19 12:03] #1830 closed

[2016-08-19 12:03] Adrianzatreanu commented on #1830
they build now

[2016-08-19 12:04] Adrianzatreanu commented on #1824
This issue was moved to coala-analyzer/documentation#50

[2016-08-19 12:04] #1824 closed

[2016-08-19 12:04] Adrianzatreanu commented on #1816
This issue was moved to coala-analyzer/documentation#51

[2016-08-19 12:04] #1816 closed

[2016-08-19 12:05] Adrianzatreanu commented on #1807
This issue was moved to coala-analyzer/documentation#52

[2016-08-19 12:05] #1807 closed

[2016-08-19 12:05] Adrianzatreanu commented on #1684
This issue was moved to coala-analyzer/documentation#53

[2016-08-19 12:05] #1684 closed

[2016-08-19 12:06] Adrianzatreanu commented on #1663
This issue was moved to coala-analyzer/documentation#54

[2016-08-19 12:09] Adrianzatreanu commented on #2343
well seems to have been worked on, closing for now. please ask to reopen if you still think this needs work

[2016-08-19 12:09] #2343 closed

[2016-08-19 12:12] Adrianzatreanu commented on #1686
This issue was moved to coala-analyzer/documentation#55

[2016-08-19 12:12] #1686 closed

[2016-08-19 12:16] Adrianzatreanu commented on #1557
This issue was moved to coala-analyzer/documentation#56

[2016-08-19 12:16] #1557 closed

[2016-08-19 12:16] Adrianzatreanu commented on #1498
This issue was moved to coala-analyzer/documentation#57

[2016-08-19 12:16] #1498 closed

[2016-08-19 12:17] Adrianzatreanu commented on #561
Working on this on the new docs, using the new linter API

[2016-08-19 12:17] Adrianzatreanu commented on #561
This issue was moved to coala-analyzer/documentation#58

[2016-08-19 12:17] #561 closed

[2016-08-19 12:17] Adrianzatreanu commented on #1630
This issue was moved to coala-analyzer/documentation#59

[2016-08-19 12:17] #1630 closed

[2016-08-19 13:56] Hydro8182 commented on #2170
Hey, I'd like to work on this.

Just to clarify: Is the suggestion to just remove line 40 from CliParsing.py?

[2016-08-19 15:36] sils1297 commented on #2170
@Hydro8182 I don't know, it's unlikely to be that simple. @tushar-rishav is probaly rather likely to help you if you need any assistance.

[2016-08-19 16:24] tushar-rishav commented on #2170
@sils1297 I think it can be done by just removing the L40. Since @AbdealiJK wrote that line, I think we should also get his view on this.

[2016-08-19 17:34] swrj commented on #2475
You can close this issue, refer to https://github.com/coala-analyzer/coala/pull/2644.

[2016-08-19 17:36] AbdealiJK commented on #2170
Uhm, Based on the diffs I see in my commits, I just did some cleaning up in that area, and the sys.argv were always there.

I just checked it out though - In [get_filtered_bears()](https://github.com/coala-analyzer/coala/blob/f9e46c89794035d4dad7dc2a149faf935c28a8c4/coalib/settings/ConfigurationGathering.py#L294) we call `load_configuration()` with arg_list=None, which calls `parse_cli()` with arg

[2016-08-19 17:40] #2475 closed

[2016-08-19 19:54] Makman2 commented on #2634
we should write a bear for that, if possible with patches :)

[2016-08-20 01:25] Hydro8182 commented on #2170
Sorry for the late reply, I just got home.

I will check it out tomorrow.

[2016-08-20 05:08] micrictor commented on #2194
My first instinct on this would be to implement and use that functionality in all core coalib scripts, but leave support in for legacy code that doesn't specify the file name. Would you agree that that's the right way to go about it?

[2016-08-20 13:39] Makman2 commented on #2194
yes :+1:

[2016-08-20 14:18] srisankethu commented on #429
Sorry for being soo late... I need a clarification on this issue. What if the user purposely introduces multiple lines between sections. For example,
``[sec1]

   a = b
   c = d

   [sec2]

   b = 2
``
What should be the output when ``coala -s -S sec1.d=2b`` is performed??
Should it be
``[sec1]

   a = b
   c = d
   d = 2b

   [sec2]

   b = 2
``

[2016-08-20 14:30] Makman2 commented on #429
these shall be preserved. Only addings settings automatically shall not have these disturbing newlines :)

and welcome back, long time no see :D

[2016-08-20 16:08] srisankethu commented on #429
Could you give a simple input and output? an example

[2016-08-20 16:27] Makman2 opened #2645 "DocumentationComment: assemble() does not account for `marker[1] == marker[2]` cornercase"
When someone specifies `marker[1] == marker[2]`, this means continuation style documentation:

[code]

[2016-08-20 16:32] Makman2 opened #2646 "DocumentationComment: Only accept `position` instead of `range` in `__init__`"
As `indent` is already implemented as a field, the complete range is fully constructable now when giving a start position.

So this in `__init__` should do the trick:

[code]

As `assemble()` needs to be executed for that, this value could be cached and used on call:

[code]

[2016-08-20 16:42] Hydro8182 commented on #2170
@AbdealiJK You're right parse_cli is sometimes called without and arg_list. Your --show-bears example still works correctly though, even if the line is removed. That's because a bit farther down argparser.parse_args() - which uses sys.argv when arg_list is None - is used to iterate over the arguments.

So to me it seems like removing the line doesn't change the behaviour of the function.

[2016-08-20 16:52] Makman2 commented on #429
look at the top of this issue :)

[2016-08-20 17:00] micrictor commented on #2194
Can I get assigned to this, then? Thanks.

[2016-08-20 17:00] srisankethu commented on #429
Ok! I get it. I was having a doubt but its clear :)

[2016-08-20 17:25] sils1297 commented on #2194
Done, thanks for your help!

[2016-08-20 18:12] sils1297 commented on #2536
API docs are generated here, not at the docs repo.

[2016-08-20 18:58] #2641 closed

[2016-08-20 19:42] Makman2 opened #2649 "Diff: `add_line` function"
it's already possible to add several lines at once, to delete several ones and to delete a single one.

`add_line` should be implemented too.

[2016-08-20 20:38] sils1297 commented on #2473
ahm @hypothesist why is this not in the documentation repository?

[2016-08-20 21:16] sils1297 commented on #2473
CC @Adrianzatreanu

[2016-08-20 21:24] Adrianzatreanu commented on #2473
This issue was moved to coala-analyzer/documentation#75

[2016-08-20 21:24] #2473 closed

[2016-08-21 07:31] AbdealiJK commented on #2170
That's nice :)
Let's remove it then

[2016-08-21 09:02] Nosferatul commented on #2649
Hello, I wanna work on this!

[2016-08-21 09:49] sils1297 commented on #2649
Hey - nice that you came back :)! You know how it goes, if you need help, we'll be there for you :)

[2016-08-21 13:52] SanketDG opened #2652 "ConsoleInteraction: Have settings asking in order"
If certain settings need to be asked from a user, the questions are randomly outputted to the screen. They should be sorted/in order.

[2016-08-21 14:37] Nosferatul commented on #2649
Sure, thank you!

[2016-08-21 14:43] Makman2 opened #2653 "`Diff`: Behaves weird in general"
[code]

If you add a line, I expect that the offsets of all other lines do change. Otherwise this gets confusing, especially when also deleting lines.

Not sure though, as the old behaviour is also useful as you don't need to adjust offsets (if you add more lines than there were before).

[2016-08-21 14:49] Nosferatul commented on #2649
What differences should be between 'add_line' and 'add_lines' ?

[2016-08-21 14:50] Makman2 commented on #2649
`add_line` for just adding a single line without the need for creating a list^^

[2016-08-21 16:12] micrictor commented on #2194
I've come across an issue with implementing this. Adding two results together becomes super inefficient when the filename the diff is modifying is no longer the key for the diff in a dict.

EG:
`for filename in other.diffs:
                if filename in self.diffs:
                    self.diffs[filename] += other.diffs[filename]
                else:
                    self.diffs[filename] = ot

[2016-08-21 16:39] sils1297 commented on #2194
I don't really have time right now but the diff dict should rather be a defaultdict and a for else construct might help you on first sight in case you didn't know it exists

[2016-08-21 22:43] Nosferatul commented on #2649
I don't know where is created a list :(. `linediff = self._get_change(line_nr_before, min_line=0)` create a new object of type DiffLine if doesn't exist an object with key = line_nr_before in list __changes_. I believe that `linediff.add_after` is just a variable from DiffLine.

[2016-08-21 23:55] #2170 closed

[2016-08-22 05:48] yash-nisar commented on #2402
@Adrianzatreanu Could you please brief me about the source file associated with this issue ?

[2016-08-22 06:59] sils1297 commented on #2649
ahm @Makman2 I'm not so sure if we don't just want to remove add_line and delete_line altogether, passing a list with one element is quite trivial

[2016-08-22 07:38] Nosferatul commented on #2649
If we want to remove delete_line, it will change delete_lines also.

[2016-08-22 09:45] AbdealiJK commented on #1909
Seems like we already catch it now - https://github.com/coala-analyzer/coala/blob/99d4c392ffbb1e1c893b0db7dfb64c3e082f741c/coalib/collecting/Collectors.py#L127

Can someone confirm so we can close this ?

[2016-08-22 09:46] AbdealiJK commented on #1833
@srisankethu Still on this ?

[2016-08-22 09:51] AbdealiJK commented on #485
Is this done now ? Can this be closed ?

[2016-08-22 09:53] AbdealiJK commented on #795
Closing again >_>
Note that apparently yaml's specs run in pages and is a very complex config language according to most people. https://github.com/coala-analyzer/cEPs/issues/11

[2016-08-22 09:53] #795 closed

[2016-08-22 18:02] Makman2 commented on #2649
I wouldn't remove `delete_line` (after some thinking), as it's a bit redundant to do:
[code]
this is a bit nicer to write and to read:
[code]
and to be consequent it's maybe good to have also `add_line`? not sure any more...

[2016-08-22 18:04] Makman2 commented on #1909
looks like :+1:

[2016-08-22 18:04] #1909 closed

[2016-08-22 18:05] Makman2 commented on #485
CC @Redridge

[2016-08-22 18:13] Makman2 opened #2659 "Bear base class for documentation related tasks"
This bear class would take over the extraction, parsing and result (inclusively diff generation). The user overrides a function which receives a list of parsed metadata which can be modified and returned.

[2016-08-22 18:13] Makman2 commented on #2659
CC @SanketDG

[2016-08-23 04:13] srisankethu commented on #1833
I will look into it :+1:

[2016-08-23 08:47] adtac opened #2660 "Make exception tracebacks default"
Instead of asking the user to run coala with `-L DEBUG`

[2016-08-23 10:12] Asnelchristian opened #2661 "ConfigurationGathering: Add missing ``the``"
[here](https://github.com/coala-analyzer/coala/blob/master/coalib/settings/ConfigurationGathering.py#L50)

[2016-08-23 13:19] Makman2 commented on #2660
Not `difficulty/newcomer`, as we don't want to execute coala always in debug-mode.

[2016-08-23 15:53] Hydro8182 commented on #2567
Mind if I give this one a shot?

[2016-08-23 17:42] AbdealiJK opened #2663 "Show file path of bear in --show-details"
When I do `--show-bears --show-details` I get something like:

[code]

It would be useful to also show the file where the bear was fetched from.

[2016-08-23 18:37] AbdealiJK opened #2664 "Error with iglob for **/**"
I was testing some code in coala, and coala produces the path `/a/b/c/**/**`. In such cases, the output from iglob is invalid.

Here's the actual tree:
[code]

[code]

CC @fneu @Adrianzatreanu

[2016-08-23 18:56] sils1297 commented on #2663
Neat idea.

[2016-08-23 18:56] sils1297 commented on #2663
also we don't necessarily print the warning there

[2016-08-23 18:58] sils1297 commented on #2664
@hypothesist please check if we want to backport this to 0.8 it seems like a bug that might affect some users

[2016-08-24 12:50] AbdealiJK commented on #2661
Don't seem to understand,

[code]
seems correct grammar

[2016-08-24 15:59] Makman2 commented on #2661
I think @Asnelchristian means

though I think too that this is valid grammar currently, you don't need to be explicit with 'the' (imo).

[2016-08-24 16:59] Asnelchristian commented on #2633
i am on it

[2016-08-25 19:54] Makman2 opened #2667 "ConsoleInteraction.acquire_settings: Docstring for param `settings_names_dict` is wrong"
Either raname the parameter to `settings` or change the docstring to use `:param settings_names_dict`.

[2016-08-26 09:11] netman92 commented on #2470
ME

[2016-08-26 09:12] netman92 commented on #2667
I'd like to do this

[2016-08-26 09:12] infi-pc commented on #2474
Can I get this assigned to me? :)

[2016-08-26 09:13] hato221 commented on #2661
I would like to do this.

[2016-08-26 09:19] FyXtreMe commented on #2471
@sils1297 close this plz

[2016-08-26 09:24] infi-pc commented on #2474
ok, found out that it is already fixed

[2016-08-26 09:33] sils1297 commented on #2471
@Adrianzatreanu can you close this if appropriate or move to docs

[2016-08-26 09:34] infi-pc commented on #2085
looks like somebody fixed that, but didn't merge. @sils1297

[2016-08-26 09:34] sils1297 commented on #2474
Thanks @infi-pc

[2016-08-26 09:34] #2474 closed

[2016-08-26 09:36] sils1297 commented on #2085
cool, feel free to take this on. If you reuse the changes from the other
author, keep his author information and add yourself as coauthor to the
commit message. Or just redo it, then you're author.

[2016-08-26 09:55] Adrianzatreanu commented on #2471
This issue was moved to coala-analyzer/documentation#90

[2016-08-26 09:55] #2471 closed

[2016-08-26 21:33] #2402 closed

[2016-08-27 07:14] AbdealiJK commented on #1582
Seems like that's not going to happen.

[2016-08-27 07:17] AbdealiJK commented on #2580
I'm wondering what this is about ...
As far as I understand, Virtualbox > Vagrant > Docker in terms of virtualization
So, isn't having a docker image sufficient ?

[2016-08-27 07:20] AbdealiJK commented on #2404
Closing as it's done

[2016-08-27 07:20] #2404 closed

[2016-08-27 08:44] SanketDG commented on #2580
It is, but strictly speaking, Docker really isn't virtualization, its more about containers.

I think having both docker and vagrant configs wouldn't hurt, they have different implications.

[2016-08-27 13:31] Makman2 commented on #2580
Vagrant allows to quickly set up a development machine. Vagrant itself is in fact just a scriptable interface that uses different virtualization technologies (VirtualBox, HyperV, VMWare). Imo it's way easier to setup than Docker (but I need to admit that I tried Docker on Windows), and has different features a docker-image alone can't offer (like spawning a multi-machine configuration in parallel

[2016-08-27 16:07] hypothesist commented on #2085
@infi-pc assigned you :+1:

[2016-08-27 16:10] infi-pc commented on #2085
sorry, I didn't have time to fix that during the workshop, i will leave it on somebody else

[2016-08-27 16:10] hypothesist commented on #2085
@infi-pc alright then, unassigning you

Feel free to come back to this when you feel like it :)

[2016-08-28 03:35] AbdealiJK commented on #2071
This seems to be merged in coala-bears but the PR is still open because `Fixes` was not used.
Closing it.

[2016-08-28 03:38] AbdealiJK commented on #2049
Can't this be done yet ? Why is this blocked ?

[2016-08-28 03:54] AbdealiJK opened #2675 "Deprecated use of linux_distribution"
We use platform.linux_distribution in DistributionRequirement but that function is deprecated and will be removed from python soon.
It is recommended to use the `distro` library in PyPI from now on.

[2016-08-28 04:10] AbdealiJK opened #2676 "DistributionRequirement needs an upgrade"
Thesee are some issues concerning DistributionRequirement:
- We should add mac. It's quite simple, as it uses `brew` or `port` normally
- We should have a link for windows which people can simply click on to learn how to install it on windows.
- Multiple possible package managers for the same OS (Example: Mac has port, brew. Fedora has yum, dnf. Ubuntu has apt, apt-get). This is kind of important

[2016-08-28 04:17] AbdealiJK commented on #2676
We also might need to provide links for linux/mac - as some deps aren't easy to install unless done from source like `facebook infer`

[2016-08-28 04:27] yash-nisar commented on #2663
I would like to work on this !

[2016-08-28 08:59] sils1297 commented on #2049
Yes this can be done, it had a deprecation notice I think so if there was anyone who would still be using it he should have switched by now I hope.

[2016-08-28 13:51] Makman2 commented on #2071
@AbdealiJK don't understand you :O this is about modifying `@linter` to make additional checks for unused capturing groups. And this isn't implemented yet^^

[2016-08-28 13:52] Makman2 commented on #2071
@Asnelchristian still wanna work on this? :)

[2016-08-28 13:53] Makman2 commented on #2071
btw. also positional matching groups shall be replaced with `(?: ...)` :+1:

[2016-08-28 13:57] AbdealiJK commented on #2071
Ah, sorry. I thought it was about modifying current LinterBears to not use it (which was done in the PR)

[2016-08-28 14:30] Makman2 commented on #2071
no problem I've seen that this issue was not really well phrased :D

[2016-08-28 15:29] Makman2 commented on #2049
not yet, there are a few bears in `coala-bears` that still use `Lint`:
- XMLBear
- PyDocStyleBear
- RLintBear
- InferBear
- AlexBear

[2016-08-28 15:50] Makman2 commented on #2049
rebased my old branch and opened PR: https://github.com/coala-analyzer/coala-bears/pull/722
Though the issues that arised that time are still not fixed^^

[2016-08-28 16:02] Makman2 commented on #2676
I think we could add as a pseudo-package-manager "msi" for Windows which requires a complete link to the msi installer. As msi's have the same flags and work the same this would be some reliable installation target^^

[2016-08-28 16:08] chauffer opened #2677 "Mac OS Terminal syntax highlighting colors messed up"
### Overview Description
# Steps to Reproduce
1. Open Terminal.app
2. Run coala using a bear that does syntax highlighting
# Actual Results

![](https://c.meo.ws/ZeroBin__Python__coala__8024_08281806_34fgh.png)
# Expected Results

More readable colors
# Reproducibility

100% on default settings / Mac OS 10.11.6

[2016-08-28 16:10] sils opened #2678 "DistributionRequirement doesn't have brew support"
we really should do that! CC @Adrianzatreanu ?

[2016-08-28 16:13] Makman2 commented on #2677
Thanks for submitting this bugreport! Could you append the `index.php` and your `.coafile`? Then it's easier for us to track down the bug as we don't need to construct the issue ourselves :)

CC @Udayan12167 as I don't have a Mac and can't test this :)

[2016-08-28 16:21] Makman2 commented on #2049
got 2/5 working, the remaining three are here: https://github.com/coala-analyzer/coala-bears/pull/723

[2016-08-28 16:23] sils1297 commented on #2049
uh oh!

[2016-08-28 16:43] Adrianzatreanu commented on #2678
my mac agrees :D

[2016-08-28 17:01] Makman2 commented on #2677
oh and CC @Adrianzatreanu as he has one too :)

[2016-08-28 17:13] Adrianzatreanu commented on #2677
i confirm, syntax highlighting is unreadable on my mac too. mine is dark colored and the lightly green colors are totally unreadable, i have to copy paste the text sometimes, but i dont encounter it often.

[2016-08-28 17:15] sils1297 commented on #2677
CC @mr-karan btw. who did the syntax highlighting

[2016-08-28 18:23] mr-karan commented on #2677
I'm looking at it.

[2016-08-28 19:11] Adrianzatreanu opened #2680 "Remove show_bear from coala"
It doesnt belong to coala.

[2016-08-29 10:37] underyx opened #2682 "Flake8Bear"
The only thing right now that checks for Python syntax errors is pylint, but that might be too strict for some projects, so flake8 should be a nice alternative bear for the purpose.

[2016-08-29 10:38] underyx commented on #2682
Whoops, searched in the wrong repo, issue already exists here: https://github.com/coala-analyzer/coala-bears/issues/169

[2016-08-29 10:38] #2682 closed

[2016-08-29 10:38] sils1297 commented on #2682
might it be simpler to give our pylintbear a setting syntax only or so?

[2016-08-29 20:13] underyx opened #2683 "VersionConflict error messages should include the conflicting package's name"

[2016-08-29 20:17] underyx opened #2684 "coala runs the code of all the bears when started"
This means importing 6342587165871685 third party modules, which

- can take tons of time
- can have side effects
- can lead to version conflict errors

[2016-08-30 07:03] agauniyal opened #2685 "Plugin for Visual Studio Code"

[2016-08-30 08:02] sils1297 commented on #2685
Hey @agauniyal thanks for reporting, I'm not sure if any of our developers use vscode - it should be pretty simple to get a basic plugin that uses coala-json or coala-format if they have proper facilities.

[2016-08-30 09:23] AbdealiJK commented on #2680
Please elaborate ?

[2016-08-30 09:23] AbdealiJK commented on #2678
Brew and Port

[2016-08-30 09:24] AbdealiJK commented on #2676
Mac is being handled in the separate issue https://github.com/coala-analyzer/coala/issues/2678

[2016-08-30 09:44] sils1297 commented on #2680
listing and showing metadata of bears is the domain of cib, coala should do
the analysis. Do one thing and do it well ;)

[2016-08-30 18:51] Udayan12167 opened #2687 "Instantiate local bears differently to global bears if caching is enabled."

[2016-08-30 20:41] sils1297 commented on #2687
ahm wait - isn't the whole point of the new bear design to remove that
difference?

[2016-08-31 00:17] Makman2 commented on #2687
if that's a problem to select which bears shall run, can't we just filter the tasks? If the cache says "files xyz are not modified", then we remove every task **only** affecting those files.

[2016-08-31 07:08] sils1297 commented on #2687
yep but not coala should do that but the bear base classes IMO

[2016-08-31 08:45] sils1297 opened #2688 "Don't suggest -L DEBUG, use -V instead"
in some cases we tell users to use -L DEBUG, not sure if --verbose is easier to understand and also type

[2016-08-31 09:42] sils1297 opened #2689 "make acookiecutter recipe"
CC @underyx

[2016-08-31 11:35] Uran198 opened #2690 "Some code style problems"
After running `flake8 --max-line-lenght=80` I get these errors:
[code]

While, not all of them are legit. Some, like unused import or over/under-indentation are worth taking a look at. Maybe, even adding analysis to track such things in the future.

[2016-08-31 11:39] sils1297 commented on #2690
somebody's working on a bear for that but yes, we should look into that

On Wed, 31 Aug 2016 at 13:35 Attila <notifications@github.com> wrote:

[2016-08-31 13:40] netman92 opened #2691 "UnicodeUnicodeEncodeError: 'EncodeError:"
Hello, can you plz look on this ?

[code]

logg/consumer.py:133
[code]

[2016-08-31 13:43] sils1297 commented on #2691
CC @AbdealiJK

[2016-08-31 13:46] netman92 commented on #2691
Well, this issue appears only in some terminal (e.g. PyCharm). Probably issue with charset.

[2016-08-31 14:20] AbdealiJK commented on #2691
So, this is probably a problem with pyprint rather than coala.
I think pyprint should sanitize the string being printed to the console to suit the encoding of the console.

Something like:
[code]

@netman92 Would you be interested in testing it and making a Pull Request ?

[2016-08-31 14:59] underyx opened #2692 "coala-ci should show patches or at least allow showing patches"

[2016-08-31 15:00] sils1297 commented on #2692
I think this should've happened long ago, maybe there's a duplicate of this issue somewhere even :/

[2016-08-31 15:09] netman92 commented on #2691
Yes I do. So shoud I create PR here ? https://gitlab.com/coala/PyPrint/ @AbdealiJK

[2016-08-31 15:10] AbdealiJK commented on #2691
@netman92 Yep

[2016-08-31 15:20] underyx commented on #2692
yep https://github.com/coala-analyzer/coala/issues/1526

[2016-08-31 15:20] #2692 closed

[2016-08-31 16:21] netman92 commented on #2691
I did this https://gitlab.com/coala/PyPrint/merge_requests/7 (note, that it's WIP).

But I dont know how properly mock `sys.stdout` to test it :( @AbdealiJK

[2016-08-31 16:25] AbdealiJK commented on #2691
@netman92 I believe the best way to mock it would be to mock `sys.stdout` and `sys.stdout.encoding` using the  python [unittest.mock.patch](https://docs.python.org/3/library/unittest.mock.html#unittest.mock.patch) decorator.

If you have any issues https://gitter.im/coala-analyzer/coala would be a good place to ping us for a realtime discussion

[2016-08-31 16:30] Makman2 commented on #2687
hm I think the bear spawning subsystem is responsible for coupling caching and task spawning. Though we could move this functionality into the bear base class, but this is only some kind of extension which doesn't have to be inside bears (as it's in fact a filter on `generate_tasks`)^^

[2016-08-31 16:34] Makman2 commented on #2688
agreeing :+1:

[2016-08-31 16:44] sils1297 commented on #2691
don't we have a decorator or something like this in coala-utils that does this?

[2016-08-31 16:44] sils1297 commented on #2691
see https://gitlab.com/coala/coala-utils/blob/master/coala_utils/ContextManagers.py#L57

[2016-08-31 16:45] sils1297 commented on #2691
ok you can't use coala-utils because coala-utils depends on pyprint!

[2016-08-31 16:46] AbdealiJK commented on #2691
@sils1297 Mocking is probably a better practice for tests in these cases.
Also, having pyprint depend on coala-utils for a test seems like an overkill

[2016-08-31 16:49] sils1297 commented on #2687
coala shouldn't handle bear dependent special cases, that's just making coala complicated. INstead every bear subclass should handle it's own case properly. I'm stringly against having special code for that in coala. Also if bears do that, people will be able to cache more efficiently if they're doing customized stuff.

- Less complication
- Better flexibility

[2016-08-31 17:23] sils opened #2693 ""Warning: the bear ... failed" should include the filename on which it failed"
later on the next gen bear design it should include the `str` conversion of the task object.

Otherwise it's like "hell coala failed on everything" when it only failed on a few files.

[2016-08-31 17:23] sils1297 commented on #2693
CC @Udayan12167 next gen related

[2016-08-31 17:25] Makman2 commented on #2687
oh nvm the next-gen system's tasks do not have something like a `filenames` field, so this needs to be taken over by the bear indeed :+1:

[2016-08-31 17:28] Makman2 commented on #2693
the task object should appear in the debug logs imo, not by default^^

[2016-08-31 18:23] sils1297 commented on #2693
Its string representation should be short and it should be there by default
definitely because otherwise the warning is rather useless, like our
current exception warning which doesn't give any information and you always
have to get to debug level.

[2016-08-31 23:20] Makman2 opened #2694 "naming_conventions.to_spacecase: Remove lambdas for simple string replacements"
- https://github.com/coala-analyzer/coala/blob/aef8ec970af021397e8b13feda26574c87b6f448/coalib/bearlib/naming_conventions/__init__.py#L113
- https://github.com/coala-analyzer/coala/blob/aef8ec970af021397e8b13feda26574c87b6f448/coalib/bearlib/naming_conventions/__init__.py#L119

The lambda can be replaced with the returned string itself.

[2016-08-31 23:25] Makman2 opened #2695 "empty file first line can't get printed"
Migrated from https://github.com/coala-analyzer/coala-bears/issues/672

From @sils1297 :

coalib/bears/__init__.py
|   1| The line belonging to the following result cannot be printed because it refers to a line that doesn't seem to exist in the given file.
|    | [NORMAL] PyDocStyleBear:
|    | D104: Missing docstring in public package
[code]

[2016-09-01 05:37] AbdealiJK commented on #1917
@SanketDG Was this done as part of GSoC ? Can you update this if it was partially addressed or close if it's completed ?

[2016-09-01 05:51] AbdealiJK opened #2696 "to_snakecase undefined behaviour with periods"
When there are periods in a name, how should `to_snakecase` work ?
Currently it seems to be doing `a.B` -> `a._b` which may or may not be wrong.
What's the rule here ?

Note that with respect to code practice, in Python the `dot` is a operator, and hence the variables are actually `a` and `b` - so, `a.b` makes sense.
In R, the `dot` is not a operator, and variable names can have dots ! so, what is

[2016-09-01 05:54] AbdealiJK commented on #2696
Related issue in coala-bears which is being affected by this https://github.com/coala-analyzer/coala-bears/issues/693

[2016-09-01 05:58] AbdealiJK commented on #2684
I'm sorry - I'm confused.
Where do we load all the bears on startup ?
I do not think this is the case, because I can run PEP8Bear successfully without even installing the dependencies of other bears. Similarly, I've had python syntax errors in bears that have not throws errors as I've not used them when running coala.

[2016-09-01 06:00] AbdealiJK commented on #2683
Does it not ?
I honestly don't want to mess up my systemt o reproduce, but @Asnelchristian reported on the gitter channel yesterday that he got:

[ERROR][20:34:09] There is a conflict in the version of a dependency you have installed and the requirements of coala. This may be resolved by creating a separate virtual environment for coala or running `pip install nltk==3.1.*`. Be aware that the latte

[2016-09-01 06:02] AbdealiJK commented on #2532
Blocked by next gen bear :)

[2016-09-01 06:09] AbdealiJK commented on #2462
It says `generated_files ........................   0  (0 .pyc and 0 .pyo files found)` - does that mean we get 0 for not having compiled files ? Isnt that the correct way of doing it ?

As I see it, the `generated_files`, `install in /tmp` may be actionable

The others are just doctrings and pylint. Which is essentially saying "improve documentation" (And majority pylint errors are about module d

[2016-09-01 06:26] AbdealiJK commented on #2383
Would this be a probably outreachy project ?
 - Figure out how to do it and make cEP
 - Implement it
 - Get 100% document in atleast 1 language

[2016-09-01 06:32] AbdealiJK commented on #2392
I think that most of the members who contributed to docs up until now were devs initially and had to write docs :D
I completely understand why a documenter - who has no idea about code would find it frustrating, and something should definitely be done (Thanks for opening this issue so we don't ignore this)

So, as we have a new documentation repo, that's a step forward.
Also we **should** allow si

[2016-09-01 07:14] AbdealiJK commented on #2377
Bump - no labels => it's never going to be found.
Please fix/triage
@fneu Can you debug this now maybe ?

[2016-09-01 07:18] AbdealiJK commented on #2373
This would be done in which file ? The coafile doc - https://coala.readthedocs.io/en/latest/Users/coafile.html ? If so should be moved to the docs repo

CC @Adrianzatreanu you missed one ?

[2016-09-01 07:20] Adrianzatreanu commented on #2373
@AbdealiJK yes, it wasnt labeled, i only moved labeled ones.

[2016-09-01 07:27] AbdealiJK commented on #2153
Closing as https://github.com/coala-analyzer/coala/pull/2338 was merged

[2016-09-01 07:27] #2153 closed

[2016-09-01 07:30] AbdealiJK commented on #2099
There are more meaningful discussions of this at https://github.com/coala-analyzer/coala/issues/2405 which I had created because I didn't know this existed. Closing this in favour of that

[2016-09-01 07:30] #2099 closed

[2016-09-01 07:30] AbdealiJK commented on #2168
Bump ?

[2016-09-01 07:53] sils1297 commented on #2696
IMO we should make sure that underscores are only inserted between
alphanumeric characters, otherwise omit them

[2016-09-01 07:54] sils1297 commented on #2684
ah actually we don't - but even loading some will trigger the requirements
resolution of all of them because the import apparently triggers setuptools
to do that for the whole *package* which is coala-bears and thus resolves
*all* dependencies. I think this can be closed as it'll be solved by cib.

[2016-09-01 07:55] sils1297 commented on #2683
It's not obvious which of our packages lead to nltk as a dependency and I
think that package should be shown.

[2016-09-01 07:57] sils1297 commented on #2462
thanks for looking into this, I think we should improve our quality a bit
with more code analysis, we hardly use what coala provides. If you think
this can't help us further feel free to close it.

[2016-09-01 07:59] sils1297 commented on #2383
IMO we should think very hard on if we want to do this. My current opinion
is that if there's an external contributor who wants to do it for some
reason that would be fine but he'd also have to stay around and maintain
it. I don't think we should waste an outreachy project on this, given that
it'll cost some sponsor of us 6000$ directly.

[2016-09-01 09:08] AbdealiJK commented on #2684
Yep, that's because of the setuptools - so, I guess closing this.
@underyx if that was not the issue you were trying to address please reopen, closing it for now.

[2016-09-01 09:08] #2684 closed

[2016-09-01 09:09] AbdealiJK commented on #2683
Ah, so you mean the bear name should be shown ?
Or by which of our packages do you mean coala-util or coala-bears or coala ?

Doesn't our LogPrinter show this ? The builtin logging module does show which application created the log iirc

[2016-09-01 09:10] AbdealiJK commented on #2383
Hmm. So, close as `wontfix/accepting patches` ?

[2016-09-01 09:11] sils1297 commented on #2684
it was the issue :) thanks

[2016-09-01 09:12] sils1297 commented on #2383
yes

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 1 September 2016 at 11:10, AbdealiJK <notifications@github.com> wrote:

[2016-09-01 09:24] sils1297 commented on #2683
yep bear name, also this shouldn't block coala from running completely right? Just that bear.

[2016-09-01 11:09] #2383 closed

[2016-09-01 12:22] liberforce opened #2697 "Improve documentation about how to set the default editor"
I've tried using coala, and had to struggle to set  my editor in a permanent way.

The documentation only talks about an editor in https://coala.readthedocs.io/en/stable/Users/Tutorials/Tutorial.html . However it doesn't say how to set it permanently.

Another thing is that typing "editor" in the search field in the top-left corner of this page doesn't have the page in the results. In the end, I j

[2016-09-01 12:31] sils1297 commented on #2697
Hi @liberforce I'll move this issue over to https://github.com/coala-analyzer/documentation/issues .

Thanks for reporting it, that can probably easily be added inside the note. If you're interested in contributing to coala that might be a nice thing :)

[2016-09-01 12:31] liberforce opened #2698 "Open editor at the right line"
With 'editor = vim' in my .coafile, the editor won't open at the right line. Either it's not handled and it's a must-have feature, or the documentation needs to make this obvious on how to setup this basic feature. FWIW, with vim, one can open the file 'foo' at line 10 using:
  vim +10 foo

[2016-09-01 12:33] sils1297 commented on #2698
@liberforce coala doesn't have this feature yet but I think it can be added pretty easily, we just have to find out for as many editors as possible how to open a specific line directly. Thanks for the suggestion, this is ATM not possible with coala.

[2016-09-01 12:33] sils1297 commented on #2698
So we could probably add the argument here easily https://github.com/coala-analyzer/coala/blob/master/coalib/results/result_actions/OpenEditorAction.py#L8 with the python format string syntax and then use .format with the line number below.

[2016-09-01 12:34] sils1297 commented on #2697
This issue was moved to coala-analyzer/documentation#94

[2016-09-01 12:34] #2697 closed

[2016-09-01 12:48] AbdealiJK commented on #2263
The way that I normally check google results not biased by my own profile from google is to search in https://encrypted.google.com/ with incognito.
According to this, the list is:
 - coala-analyzer.org
 - https://github.com/coala-analyzer/coala
 - https://github.com/coala-analyzer
 - https://github.com/coala-analyzer/coala-bears
 - And then images on koalas.

Also, apparently adding `&gl=<country

[2016-09-01 13:27] sils1297 opened #2699 "Caching per section"
I think caching would be way better and potentially even simpler if we'd just cache per section so sections without issues won't rerun on all files where issues in other sections occurred.

[2016-09-01 13:28] sils1297 commented on #2699
CC @hypothesist would you be able to look itno this?

[2016-09-01 14:09] Makman2 commented on #1917
done :+1:

[2016-09-01 14:09] #1917 closed

[2016-09-01 14:17] Makman2 commented on #2392
Imo if someone wants to do a commit, he/she should follow our style. Mostly everything in our workflow has a reason^^

If someone just wants to provide some changes without diving into git, it's possible to file an issue and copy the new text there. Or just submit a PR with mentioning that someone shall take over and make everything nice and clean for merge.

[2016-09-01 16:30] Adrianzatreanu commented on #2392
I think that, as @Abdealjk said, anyone who's willing to contribute with documentation, probably has a background that includes using git before. So simple git knowledge cannot be simplified by our side, as we do not own git :)

As per the workflow: we have already moved the repo somewhere else, and more or less I've been maintaining it lately and it is less strict than coala, from the reason you

[2016-09-01 16:30] Adrianzatreanu commented on #2392
And I think this is the best we can do from our side to making it as easy as possible to contribute to documentation :) if anyone has better ideas, im open to hearing them!

[2016-09-01 16:33] fneu opened #2700 "install_command from DistrubutionRequirement is broken"
## TL;DR

different values for `install_command()` need confirmation that can never be given. The function also uses `platform.linux_distribution()`, which is deprecated in python 3.5 and will be removed in python 3.7.

## Explanation

So I was just trying out some stuff with cib on docker (ubuntu image), and stumbling on a bunch of stuff like this:

[code]
I was wondering how system packages are

[2016-09-01 16:35] AbdealiJK commented on #2392
One point mentioned in the initial message was whether the user needs to know how to rebase.
So, are we allowing those merge commits ? Or are rebases necessary ?
As rebases are indeed difficult for new people

[2016-09-01 16:38] fneu commented on #2290
Now we're getting to where the bodies are burried... [Because of the koala's resemblance to a bear, it is often called the koala bear, although it is a marsupial, and not a true bear.](https://en.wikipedia.org/wiki/Koala#Etymology)

[2016-09-01 16:39] Makman2 commented on #2392
maybe no rebases (if there are no conflicting changes), but at least no merge commits, because reverting commits with these is horrible^^

[2016-09-01 16:44] AbdealiJK commented on #2392
Never had to work with merge commits, so will take your work about that :)

So, I'm closing this with the conclusion that we'll be a bit lenient about these things for the documentation repo. Hopefully the workflow for the documentation will become easier as we get more documenters who are not coders !
Possibly we want to move this dissuccion into the dcos repo @Adrianzatreanu as a record so it do

[2016-09-01 16:44] #2392 closed

[2016-09-01 16:45] fneu commented on #2392
would it make sense to move the documentation repo to gitlab for the sake of merge commits?

[2016-09-01 18:42] sils1297 opened #2701 "Shorten action descriptions"
- Do nothing
- Open in editor
- Apply patch
- Show patch

[2016-09-01 18:44] sils1297 commented on #2701
`The following actions are applicable to this result:` is way too long, maybe remove that line completely

[2016-09-01 18:45] sils1297 opened #2702 "Actions: Press enter -> do nothing option"
type/feature area/usability

[2016-09-01 18:45] sils1297 opened #2703 "Multiple actions: enter 231 and press enter for actions 2, 3, 1, imply 0 at the end"
type/feature area/usability

[2016-09-01 18:45] sils1297 commented on #2703
- @underyx

[2016-09-01 18:54] sils1297 opened #2704 "coala-ci -a should apply patches"
there's a certain usecase for this when you want to script coala fixing your code and just view the rest of the results.

(Manual workaround which is used by a lot of people AFAIK is `yes 0 | coala -a`)

[2016-09-01 20:04] Makman2 commented on #2704
I think coala-ci is just for viewing issues. Fixing doesn't really help on CI side, and if you don't want to see certain results, just enable the according analysis.

[2016-09-01 20:33] sils1297 commented on #2700
agree, that can also help us getting rid of that map we have to maintain

[2016-09-01 20:34] sils1297 commented on #2700
critical prio for making cib well usable, thanks @fneu for the investigation

[2016-09-01 20:43] underyx opened #2705 "VersionConflict error messages should quote the requirement in suggested pip install command"
It told me to run
[code]
but since `<`, `>`, and `!` all have special meanings in the shell, I have to run

[code]

instead.

[2016-09-01 22:14] netman92 commented on #2691
Resolved https://gitlab.com/coala/PyPrint/commit/579ba7d747950fa389ea93e1b1456eedc9e3d533

[2016-09-01 22:16] sils1297 commented on #2691
I think we should keep this open until coala uses the new pyprint version, i.e. the upgrading commit can have a fixes with this issue.

[2016-09-02 06:10] #2691 closed

[2016-09-02 06:10] #2705 closed

[2016-09-02 07:48] Adrianzatreanu commented on #2700
this is the first part, with a lot of help from @SanketDG https://github.com/coala-analyzer/coala/pull/2679 and ill work on the second part once this is done :) Thanks, @fneu

[2016-09-02 07:53] Adrianzatreanu commented on #2392
@fneu it is moved..somewhere...on gitlab.. but its outdated and people have been working on the github one still :D havent got the time yet to do a full migration, will do it in the future :)

[2016-09-02 08:06] sils1297 commented on #2392
ahm why are you accepting PRs on GitHub though? What's missing for the migration?

[2016-09-02 08:54] sils opened #2707 ""you might want to get in contact with the writer of the bear" change writer to author"
just git grep for the phrase and change it, I think it's nicer :)

difficulty/newcomer

[2016-09-02 10:49] sils1297 opened #2708 "caching affects other sections"
when I run `coala section` and the section yields no result and then after I run `coala anothersection` which would yield results, coala "caches" and doesn't show me results until I run `coala anothersection --flush-cache` :(

type/bug importance/critical

@hypothesist can you look into this ASAP? It's a pretty evil issue.

Thanks @netman92 for finding it.

[2016-09-02 10:50] sils1297 opened #2709 "coala doesn't collect settings for dependent bears"
it seems that coala doesn't collect required settings of dependent bears on it's own :/ then we get an index error. Just trying to use AnnotationBear for enhancing KeywordBear results.

[2016-09-02 15:06] AbdealiJK opened #2711 "Add flag to linter to show stderr into log messages"
Sometimes the linter can fail due to reasons beyond our control. We should show the stderr from the linter in such cases as ERROR logs.
An example is https://github.com/coala-analyzer/coala-bears/issues/730 where the eslint config file could be wrong or even some files of eslint could be corrupt. Here, no error messages are shown by coala and it looks as if the linter parsed the file and no result

[2016-09-02 15:51] AbdealiJK commented on #158
This issue was moved to coala-analyzer/coala-bears#775

[2016-09-02 15:52] AbdealiJK commented on #158
Sorry for the "move". https://github-issue-mover.appspot.com/ is misbehaving.