[2016-11-19 11:22] #2888 closed

[2016-11-19 13:01] jayvdb opened #3026 "Add core set of labels to add repositories"
Many of the coala repos have only a subset of labels. They should all have a core set that are common.

[2016-11-19 13:29] Adrianzatreanu commented on #2085
unassigning due to inactivity

[2016-11-19 13:29] Adrianzatreanu commented on #2297
unassigning due to inactivity

[2016-11-19 14:16] Adrianzatreanu commented on #2934
unassigning due to inactivity

[2016-11-19 14:24] Makman2 commented on #3008
I think it's worth to support such different protocols (to be more versatile), but yes agree, no priority currently.

[2016-11-19 14:26] sils commented on #3008
wontfix/accepting patches.

[2016-11-19 14:26] #3008 closed

[2016-11-19 14:27] todeadarius commented on #2934
Assign me this issue, please.

[2016-11-19 14:46] OctavianGuzu commented on #2884
Add me this issue !

[2016-11-19 14:51] OctavianGuzu commented on #2297
Assign me this!

[2016-11-19 15:30] coala-bot opened #3029 "Improve generate_repr() docstring (especially by providing useful doctests)"
Opened via [gitter](https://gitter.im/coala/coala/?at=58307026238757566cc84e7b) by @Makman2

[2016-11-19 15:32] sils commented on #2297
@OctavianGuzu there you go

[2016-11-19 16:03] #2934 closed

[2016-11-19 16:05] andreidinu commented on #2997
Hi,
I would like to be assigned into this issue.

[2016-11-19 17:24] userzimmermann opened #3033 "Taste and Tastiness"
Tasty greetings!
Work on #3031 with @sils and @Makman2 led to the concept of tastes. Bear config settings represent the taste of the user. Those settings will be used to initialize aspect settings. What's the difference between 2 `Setting` classes? One needed a new name. Aspects now have `Taste` options. Bears like tasty code like they like their tasty leaves. The better the results for a given us

[2016-11-19 17:43] Makman2 opened #3034 "Result.apply: When applying multiple patches only the last patch remains in file_dict"
This is quite questionable behaviour.

[2016-11-19 18:04] aptrishu commented on #2006
The spaceConsistencyBear output
with enforce_newline_at_EOF=False
![eoltrue](https://cloud.githubusercontent.com/assets/22702242/20457342/5933f6d6-aeaf-11e6-83d2-e3119534881c.png)
with enforce_newline_at_EOF=True (default)
![eolfalse](https://cloud.githubusercontent.com/assets/22702242/20457354/73236072-aeaf-11e6-9543-199dbf4e1bc7.png)

So, spaceConsistencyBear does the check like if `enforce_newl

[2016-11-19 20:34] #2628 closed

[2016-11-19 21:06] #2279 closed

[2016-11-19 21:17] sils commented on #2971
making a new one with better descriptoin

[2016-11-19 21:17] #2971 closed

[2016-11-19 21:18] coala-bot opened #3037 "coala-json should hold log messages as JSON (as an option)"
- python builtin logging, override the handler
- get the json
- put it in the result

difficulty medium

Opened via [gitter](https://gitter.im/coala/coala/?at=5830c18b297a180b4f153ed2) by @sils

[2016-11-19 21:27] coala-bot opened #3038 "Bear.py: Remove set_up/tear_down paragraph from doc comment"
Those functions don't exist anymore since ages. Just remove the paragraph.

difficulty low area documentation

Opened via [gitter](https://gitter.im/coala/coala/?at=5830c3c2297a180b4f154835) by @sils

[2016-11-19 22:29] sils commented on #3024
@tulphoon why did you close this? :/

[2016-11-19 23:20] nemaniarjun commented on #3024
Can I take this up?
Will require a bit of elaboration, but I think I can do this :D

[2016-11-19 23:25] sils commented on #3024
@nemaniarjun sorry this is rather a medium one, you sure you don't wanna do a "real low" one first?

[2016-11-19 23:52] nemaniarjun commented on #3024
Okay! I'll look for a low. :)

[2016-11-20 00:12] sils commented on #2745
@Adrianzatreanu any progress?

[2016-11-20 03:27] #2882 closed

[2016-11-20 04:38] coala-bot opened #3042 "Add warning when bears major.minor version is different than coala major.minor version"
Between pip and setuptools, and switching between editable and eggs, it is possible to unexpectedly have an old version of one or the other installed. A warning would be helpful.

Opened via [gitter](https://gitter.im/coala/coala/?at=583128c9b563b5516c4055a3) by @jayvdb

[2016-11-20 04:50] dileepsankhla commented on #3038
I would like to be get assigned.

[2016-11-20 05:30] jayvdb opened #3044 "Enable RSTcheckBear on all coala repos with .rst files"
c.f. coala/coala-bears/issues/902

Most of bugs found by RSTcheckBear in documentation have already been raised as separate bugs.

e.g. https://github.com/coala/documentation/issues?utf8=%E2%9C%93&q=RSTcheck

Since I raised those bugs, more bugs have been created in the `documentation` repo.

And other repos also have one error.

[code]

Thore errors from RSTcheckBear should be raised as one "newc

[2016-11-20 12:27] tulphoon commented on #3024
@sils gaaah, sorry :( I've forgot that reference this issue doesn't mean a PR for it. Saw "Merged" and some rultor issues, thought that meltor bugged and didn't close this.

[2016-11-20 12:31] arjunsinghy96 commented on #2994
@sils Do we need  more checks in coafile of coala repos or more checks to [DEFAULT] section when generating coafile with --save argument

[2016-11-20 14:51] Makman2 opened #3049 "misc.Annotations.type_chain: Move into different module"
This function is highly bear relevant, so it belongs somewhere inside `bearlib`.

[2016-11-20 15:32] jarifibrahim commented on #2898
Moved to https://github.com/coala/coala-bears/issues/1026

[2016-11-20 15:43] adtac commented on #2898
@RohanVB unassigned because of inactivity

[2016-11-20 16:04] #2299 closed

[2016-11-20 16:05] sils commented on #2994
coafile

[2016-11-20 16:29] coala-bot opened #3050 "get docstyledefinition objects into new language definitions"
CC @Makman2

Opened via [gitter](https://gitter.im/coala/coala/?at=5831cf60e712c9a1188e7245) by @sils

[2016-11-20 16:58] coala-bot opened #3053 "Wrong warning emitted when collecting file"
Those files are there and still there's a warning. type bug probably (or usability), probably @fneu or so should take a look.

CC @underyx , thanks for reporting!

Opened via [gitter](https://gitter.im/coala/coala/?at=5831d630b563b5516c430b8c) by @sils

[2016-11-20 17:02] userzimmermann opened #3054 "Language[...] not working for language strings without version"
@sils

[code]

[2016-11-20 17:43] #3054 closed

[2016-11-20 18:02] coala-bot opened #3057 "support non numeric version numbers"
also 2.10 will suck. CC @userzimmermann

difficulty medium. Don't touch this issue unless you're @userzimmermann or @sils

Opened via [gitter](https://gitter.im/coala/coala/?at=5831e539e712c9a1188ee861) by @sils

[2016-11-20 19:56] coala-bot opened #3060 "Languages: Add concept of "default language""
If a bear has to assume a version of the language, which should be chosen? Ideally the language class should have something ready that "works by default"

Opened via [gitter](https://gitter.im/coala/coala/?at=5831ffeeb563b5516c43f9bf) by @sils

[2016-11-20 20:05] coala-bot opened #3061 "Languages: Move coalang to languages"
I have a bit of WIP stuff, porting existing coalangs to languages, however we need to make LanguageDefinition to use Language to retrieve the values, wrappig it correctly.

area/languages

Opened via [gitter](https://gitter.im/coala/coala/?at=583201fa23ce1ae73c0653de) by @sils

[2016-11-20 20:06] coala-bot opened #3062 "Languages: Add __contains__ for attributes"
The language should support a contains for attribute, not only for versions - especially if it's already a version. How do we differentiate this? CC @userzimmermann

area languages

Opened via [gitter](https://gitter.im/coala/coala/?at=58320249b7cf637f2ac5419e) by @sils

[2016-11-20 20:54] coala-bot opened #3064 "the coalaJSONTest is super slow!"
It takes like 5 to 10 seconds it seems. area performance area tests

Opened via [gitter](https://gitter.im/coala/coala/?at=58320d9023ce1ae73c0691cc) by @sils

[2016-11-20 21:01] userzimmermann opened #3065 "no need for # +ELLIPSIS"
many doctests use `# +ELLIPSIS` to support `...` in outputs. This seems to be default and therefore obsolete :)

[2016-11-20 21:05] coala-bot opened #3066 "We desperately need to run a bear for unused imports in our coafile"
difficulty low and get all imports fixed

Opened via [gitter](https://gitter.im/coala/coala/?at=58321024238757566ccf7399) by @sils

[2016-11-20 21:43] coala-bot opened #3068 "Normalize whitespace when comparing language aliases"
area languages difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=58321919613368f619d93a11) by @sils

[2016-11-20 21:47] coala-bot opened #3069 "Allow creating "derived dialects" of languages"
Should be easy with the current design, just

[code]

*should* already work, like without us changing anything. we should check that

area languages, CC @userzimmermann

Opened via [gitter](https://gitter.im/coala/coala/?at=58321a0523ce1ae73c06cc7d) by @sils

[2016-11-20 21:48] sils commented on #3069
maybe we could inspect the mro and get info about how the class is derived from others. Just informational

[2016-11-20 21:54] #3060 closed

[2016-11-20 21:54] #3061 closed

[2016-11-20 21:54] #3062 closed

[2016-11-20 21:58] coala-bot opened #3070 "IgnoreResultAction: Use Languages directly"
There's no need to use LanguageDefinition. It can be much simpler. difficulty low area languages

Opened via [gitter](https://gitter.im/coala/coala/?at=58321c7d297a180b4f1af959) by @sils

[2016-11-20 22:06] sils commented on #3069
ok we'll need to put some logic into the metaclass to copy the attrs

[2016-11-20 22:43] #3070 closed

[2016-11-20 22:52] coala-bot opened #3073 "API Docs don't build locally"
I seem to get loads of import error like warnings and stuff. Can someone reproduce that?

Opened via [gitter](https://gitter.im/coala/coala/?at=58322933b7cf637f2ac5fea1) by @sils

[2016-11-20 23:05] coala-bot opened #3075 "circle.yml should use `./setup.py docs`"
duplication! difficulty low area ci

Opened via [gitter](https://gitter.im/coala/coala/?at=58322c425eb8ea792a45a038) by @sils

[2016-11-20 23:14] sils commented on #3073
probably my fault, @tulphoon can't reproduce, I'll check

[2016-11-21 00:53] coala-bot opened #3078 "README on PYPI is totally broken"
Looks ugly! What's wrong here :(

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=5832459cb563b5516c453a90) by @sils

[2016-11-21 00:54] jayvdb commented on #3066
I did try this, using PyUnusedCodeBear, and it reformats imports one per line. I wasnt sure that would be accepted.
Pyflakes bear only reports unused imports.

[2016-11-21 00:54] #3069 closed

[2016-11-21 00:56] sils commented on #3066
reporting is sufficient, let's use that then

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 21 November 2016 at 01:54, John Vandenberg <notifications@github.com>
wrote:

[2016-11-21 00:59] Makman2 commented on #3073
I've recently built docs, no problems too from my side^^

[2016-11-21 01:00] Makman2 commented on #3073
Though I've used the commands CircleCI uses^^

[2016-11-21 01:44] sils commented on #3073
environment issue

[2016-11-21 01:44] #3073 closed

[2016-11-21 03:35] Mixih commented on #3078
When did it break?

[2016-11-21 03:45] Mixih commented on #3078
That was commit fb7ed29859081d7c1c16413ea5ea14d2bd3d3500 which added the offending line

[2016-11-21 05:00] Mixih commented on #3078
Commit fb7ed29 introduced a newline issue

Output of rst2html:
    Line 193 has an issue:
    README.rst:193: (WARNING/2) Explicit markup ends without a blank line; unexpected unindent.

[2016-11-21 05:06] jayvdb commented on #2006
Please stop building and discuss.  What are our goals?  Find the options to achieve those goals.  Is our goal to show `\ No newline at end of file`?  I believe it is, if we want users to be able to copy & apply the patch *and* retain the missing EOL.

If you want to fix the diff algorithm, you should help at http://bugs.python.org/issue2142 .

We can already solve this bug by taking the patched `d

[2016-11-21 05:41] #3078 closed

[2016-11-21 05:42] Mixih commented on #3078
Wow, so pypi really did choke on a newline......

[2016-11-21 05:46] jayvdb commented on #3078
It is well known for being very difficult.
See https://github.com/coala/coala-bears/issues/1028 for the long term fix.  Once that exists, we can enforce its rules on our `README.rst`

[2016-11-21 06:22] jayvdb commented on #3044
Once https://github.com/coala/coala-bears/issues/1028 is built, we can implement that also, which prevents problems like https://github.com/coala/coala/issues/3078

[2016-11-21 06:24] adhikasp opened #3081 "[bug] Disable cache option not working"
Hello,

I found a possible bug of cannot disable caching mode.

Step to reproduce

1. Install and configure coala as usual.
2. Run `coala`, found some lint error, ignore all bugs
3. Run coala again, found no bugs
4. Run `coala --disable-caching` got following error:

[code]

I'm also trying to build coala in Travis with disable cache option and got error too.
<https://travis-ci.org/adhikasp/discou

[2016-11-21 06:29] jayvdb commented on #3044
The above generated rst errors are fixed, however there are still more.  Please run `rstcheck` on the generated output.

[code]

[code]

That last one appears to not be a generated file.

[2016-11-21 06:45] jayvdb commented on #3044
`rst-lint` warnings looks to be a superset of `rstcheck` warnings, *and* maybe `rstcheck` only shows one error per line while `rst-lint` shows them all.

Here are some of the extra messages shows by `rst-lint`:

`Cannot analyze code. No Pygments lexer found for "English".`

`WARNING ./bear-docs/docs/InvalidLinkBear.rst:27 Inline substitution_reference start-string without end-string.`

[code]

[2016-11-21 09:40] coala-bot opened #3083 "Make a `--ci` alias for `--non-interactive`"
in defaultargparser

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5832c0f4613368f619dc2c5d) by @sils

[2016-11-21 09:50] jayvdb commented on #3065
how are you planning to remove it?
As far as I am aware, doctest runner will fail unless it exists.

[2016-11-21 10:47] coala-bot opened #3086 "Bear.py downloading mechanism should check if the file is out of date"
importance high difficulty medium

Opened via [gitter](https://gitter.im/coala/coala/?at=5832d0cc238757566cd2fe71) by @sils

[2016-11-21 10:50] coala-bot opened #3087 "If an ERROR message was logged the exit code should be nonzero"
difficulty medium (or low) could be simple to check with builtin logging?

CC @jayvdb @Uran198

Opened via [gitter](https://gitter.im/coala/coala/?at=5832d181b563b5516c47cb3d) by @sils

[2016-11-21 11:51] kefeh commented on #3083
Hello i will like to be assigned this issue

[2016-11-21 12:07] Makman2 opened #3088 "Linter.py api-docs: Missing space after comma"
https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L703

before \`\`error\`\`

[2016-11-21 12:09] Makman2 opened #3089 "Linter api-docs: Missing backtick"
https://github.com/coala/coala/blob/master/coalib/bearlib/abstractions/Linter.py#L705

After RESULT_SEVERITY_INFO

[2016-11-21 12:17] ashwini0529 commented on #2649
@Nosferatul Alright. I'll start working on it after 30th Nov.

[2016-11-21 12:30] Makman2 commented on #3087
oh that's cool, it's possible to append so called "extras" to the logging object, maybe we can use them somehow^^

[2016-11-21 12:30] Makman2 commented on #3086
yes should be possible, I mean `curl` has also the possibility to do that^^

[2016-11-21 12:33] Makman2 commented on #3065
Does not work, `# +ELLIPSIS` is not a default at least for our test setup. Is it possible to set some flag in `setup.cfg`?

[2016-11-21 12:36] Makman2 commented on #3081
Seems the issue is resolved. @adhikasp please close the issue next time or at least write a separate comment, otherwise we won't get notified and we may miss your updates :+1:

[2016-11-21 13:26] adhikasp commented on #3081
@Makman2
No the issue is not resolved
- `coala --flush-caching` is actually working, but
- `coala --disable-caching` is throwing above error

Sorry for the misunderstanding

[2016-11-21 14:12] sils opened #3091 "coala-ci doesn't work"
@adtac works on this right?

importance/critical needed for the release *TODAY*

[2016-11-21 14:14] adtac commented on #3091
should we just go back to the previous file with a logging.warning at the top?

[2016-11-21 14:15] adtac commented on #3091
see :point_up: [November 21, 2016 7:10 PM](https://gitter.im/coala/coala?at=5832f95ab7cf637f2ac9f1f1)

[2016-11-21 14:29] sils commented on #3091
IMO no, fix that code, shouldn't be too hard :/

[2016-11-21 14:29] sils commented on #3091
also coala-format etc btw.

[2016-11-21 15:22] Makman2 commented on #3081
Can't reproduce, works as intended:
[code]
What version of coala do you use?

[2016-11-21 15:27] Makman2 commented on #3081
never mind, confirmed 👍

Happens after running coala again when the cache has already been built.
CC @adtac

[2016-11-21 16:27] sils commented on #2898
that's not a bug in split_diff, it's intended behaviour, not sure we can do something to fix this issue but don't just change split diff @jarifibrahim , that's dangerous  and affects a lot of bears!

[2016-11-21 16:28] sils commented on #3091
@adtac got a fix: https://github.com/coala/coala/pull/3090

[2016-11-21 16:42] adtac commented on #3081
yeah, this is a known issue (was brought up a few days ago)

I'll fix it soon :+1: (exams currently)

[2016-11-21 17:48] #3091 closed

[2016-11-21 20:36] coala-bot opened #3093 "Packaging: make own package repos"
We could make a debian package repo and continuously deploy our packages there. Same for other distros. That'd be first ste to actually get them distributed properly and making installation way easier.

Hm?

Opened via [gitter](https://gitter.im/coala/coala/?at=58335ad52db9526704638148) by @sils

[2016-11-21 22:25] coala-bot opened #3094 "Result.overlaps behaves weirdly:"
Check that out:

[code]

Especially:

[code]

That's wrong huh? type/bug

Opened via [gitter](https://gitter.im/coala/coala/?at=58337454cc0ea2cf777bd76c) by @sils

[2016-11-22 10:55] coala-bot opened #3095 "tasks for lasse"
- allow `--format {...}`
- allow `--ci` (see another issue)
- release

Opened via [gitter](https://gitter.im/coala/coala/?at=583424169a5479d048486a5a) by @sils

[2016-11-22 11:18] meetmangukiya commented on #2896
@coala-bot close!

[2016-11-22 11:22] sils commented on #2896
taking over, goal has changed a bit but it's still an issue. I got a fix

[2016-11-22 11:22] sils commented on #2896
I'm doing it based on your code as far as possible @meetmangukiya

[2016-11-22 12:25] meetmangukiya commented on #3086
That'd require us to download the file and check the diff, right?

[2016-11-22 13:49] SanketDG opened #3097 "setup.cfg: [pytest] deprecated, use [tool:pytest] instead"
https://github.com/pytest-dev/pytest/pull/1813

Because it conflicts with the pytest in disutils.

difficulty/newcomer
importance/low

[2016-11-22 13:53] sils commented on #3086
Not at all! You query the server to only five you the file if I was
modified since the last timestamp of the file

[2016-11-22 14:18] #2896 closed

[2016-11-22 14:18] #3083 closed

[2016-11-22 14:18] #3095 closed

[2016-11-22 15:02] Makman2 commented on #3086
what? @sils

[2016-11-22 15:03] Makman2 commented on #3086
@meetmangukiya and no, what I assume sils wanted to say, you can get header information of a file and use it to decide on up-to-dateness of the file (as long as the webserver supports such header information, otherwise there's no choice except to redownload).

[2016-11-22 15:04] sils commented on #3086
http://www.diveintopython.net/http_web_services/etags.html

[2016-11-22 18:35] coala-bot opened #3099 "Update latest stable release badge on README"
Who wants to do the honourus task? :)

Opened via [gitter](https://gitter.im/coala/coala/?at=58348fe3cc0ea2cf7781fb74) by @sils

[2016-11-22 19:17] sims1253 opened #3100 "Setup.py: Maintainer information is outdated"
The README points to meta info in setup.py for a maintainer list.
The list only holds 3 maintainers so it needs an update. Either have an exhaustive list or point to a wiki page maybe?

[2016-11-22 23:13] coala-bot opened #3101 "We seem to have coalib.misc.ContextManagers as well as the same file in coala-utils"
DANGEROUS! Remove the coala one importance/high

Opened via [gitter](https://gitter.im/coala/coala/?at=5834d12dc790e0ec561d0be8) by @sils

[2016-11-23 01:57] kefeh commented on #3097
i will like to be assigned this issue

[2016-11-23 01:58] kefeh commented on #3088
i will like to be assigned this issue

[2016-11-23 03:57] kefeh commented on #3097
i will like to work on this

[2016-11-23 04:11] Yash17Agrawal commented on #3089
Assign it to me , I will do it . @Makman2

[2016-11-23 04:17] Yash17Agrawal commented on #3099
@sils  can you please elaborate little bit more of it?

[2016-11-23 04:22] Yash17Agrawal commented on #3100
Hi ! I can do it .Please tell me other maintainers names or wiki page .

[2016-11-23 07:25] nemaniarjun commented on #3075
I would like to do this one.

[2016-11-23 08:05] jayvdb commented on #3093
Building .debs would be a good start, especially for `coala`.

Also a .deb for Python only `coala-bears` would be useful and relatively easy.  One complication is that if we depend on core .debs for external linters, such as `python3-pyflakes`, we need to change how we invoke them.  e.g. [python3-pyflakes file list](https://packages.debian.org/sid/all/python3-pyflakes/filelist) does not have a 'py

[2016-11-23 08:48] jayvdb commented on #3026
This applies to gitlab as well as github; e.g. https://gitlab.com/coala/cib/labels .

This is similar to https://github.com/coala/coala/issues/2990 for ensuring that GitHub repos have the same branch protection:

[2016-11-23 14:21] tulphoon commented on #3097
@kefeh before doing this issue, try to close your PR https://github.com/coala/coala/pull/3102

[2016-11-23 14:23] tulphoon commented on #3089
@Yash17Agrawal to get assigned you must be a coala development group member, join our gitter and write "Hello World!" on main channel, after that i'm going to assign you.

[2016-11-23 14:40] Yash17Agrawal commented on #3089
@tulphoon  Done.

[2016-11-23 14:44] Makman2 commented on #3094
you sure? :)
I think we don't want those `None` values any more, as they are inprecise (like in this case) :P

[2016-11-23 15:19] sils commented on #3094
this is certainly a bug, I'm sure, because of that behaviour. We had the None discussion before, feel free to refactor it but be sure to allow bears to not set the column, the meaning is just "the whole line" and that's very clear and obvious

[2016-11-23 15:29] jarifibrahim commented on #2898
@sils If we don't change the `split_diff` method then every bear has to be modified. This issue exists with all the bears that use this method. I tried `SpaceConsistencyBear` and found similar issue. Either we change the default value or we'll have to explicitly change the bears that call the `split_diff` method.

[2016-11-23 15:30] sils commented on #2898
The SPaceConsistencyBear doesn't use split_diff

[2016-11-23 15:32] jarifibrahim commented on #2898
I meant `PyUnusedCodeBear`. It uses `split_diff`

[2016-11-23 15:34] jarifibrahim commented on #2898
Should we update following the bears?

[code]
All these bears use `split_diff` with default `distance` value.

[2016-11-23 15:36] sils commented on #2898
I'm saying we shouldn't change the distance value carelessly. It's there for a reason and diffs will be fragmented and might not make sense when reducing the min distance.

[2016-11-23 15:46] sims1253 commented on #3100
hmm it seems that there actually is no wiki page.
@sils always refers to the member list of the maintainer channel but that is private. So there actually is no public record of who the maintainers are.

[2016-11-23 16:56] Yash17Agrawal commented on #3100
So what should i do now? @sims1253

[2016-11-23 18:46] sims1253 commented on #3100
whait for lasse to chime in and decide if/how we make the maintainer names public

[2016-11-23 21:23] sils commented on #3100
why me? Seriously, I have no more idea bout this than anyone else.

[2016-11-23 21:32] sims1253 commented on #3100
you always advocated the channel as a source for this and it is not usable in that way atm

Until we have decided on a nice way to show the information, I created a wiki page that just holds the info from the gitter channel here: https://github.com/coala/coala/wiki/Maintainer-List

[2016-11-23 22:48] Makman2 commented on #3100
We should replace the maintainers list with "coala dev team". It's also possible to link to your list somehow @sims1253 , but I don't think it keeps up-to-date very well.

[2016-11-23 23:09] Makman2 commented on #2898
The right solution would be to change all bears and extract diffs that really match a certain problem. For example:
[code]
would have ideally two results except of one. Problem is linter doesn't make a distinction, it just tries to group changes in the file reasonably, using the diff distance. Another problem is that most tools are not smart enough to provide diffs for single problems, either they

[2016-11-23 23:44] aptrishu commented on #2006
Ok so I tried to achieve the same thing without modifying the stdlib's `unified_diff()` method.
I did some preprocessing and called the unified_diff() normally, then I postprocessed the output.
I ran my code through tests and it worked :) .
Can you please take a look at my code http://pastebin.com/M1ZJag3Y .
@jayvdb @Makman2

[2016-11-24 03:40] nemaniarjun commented on #2693
Can I work on this? It hasn't been updated in a while.

[2016-11-24 03:44] nemaniarjun commented on #1694
Assign me this. I don't think @souravsingh is working on it

[2016-11-24 03:46] #3088 closed

[2016-11-24 04:17] jayvdb commented on #2740
Are you planning on doing this cleanup?
Google Code-in begins on 28 November, and it would be nice to have cleared up the issues.
Also I have noticed a few open newcomer PRs which have already been solved, as the issue was re-assigned due to inactivity.

[2016-11-24 05:33] jayvdb commented on #2006
That looks much better, and should be added to [`coala_utils`](https://gitlab.com/coala/coala-utils) with tests.

[2016-11-24 05:44] #3075 closed

[2016-11-24 07:02] Nosferatul commented on #2693
@prafful002 any progress?

[2016-11-24 10:01] adtac commented on #2540
@Makman2 We could build this into coala? Like `coala --stdin`? Since we recently merged coala-json, coala-format, coala-ci into coala as flag options, something like `coala-stdin` could be a flag option too.

[2016-11-24 10:25] sils commented on #2540
certainly, that would probably lead to the main function creating a
temporary file and setting the `--files` argument implicitly to that, hm? A
lot of linter bears rely on the file being physically existent. Also this
would be super simple to implement.

[2016-11-24 10:41] kefeh commented on #3097
@tulphoon i have closed the PR. Can i work on this now?

[2016-11-24 10:43] adtac commented on #2540
Yeah, a temp file makes sense (we have `make_temp` too). Change this to difficulty/low then?

[2016-11-24 10:51] Makman2 commented on #2540
seems I've misunderstood, nvm :3

[2016-11-24 11:23] adtac commented on #3087
Maybe a decorator around the `err` method to keep track of number of calls?

[2016-11-24 11:34] adtac commented on #3065
There's https://github.com/scikit-learn/scikit-learn/blob/master/setup.cfg#L23

[2016-11-24 11:36] adtac commented on #2633
@Asnelchristian ping :P

[2016-11-24 12:08] sils commented on #2740
Unassigning due to beatrix' request

[2016-11-24 12:08] adtac opened #3107 "Show patch if applicable in non-interactive mode"
If we have the diff, we might as well print it

[2016-11-24 12:18] Nosferatul commented on #3097
@kefeh you have already 1 newcomer issue done. If that so, please find a difficulty/low one!

[2016-11-24 12:19] aptrishu commented on #2006
But it needs more modifications to behave exactly the same like the previous code, and it'd be much complicated.
Can't we put that previous code(modification of difflib's unified_diff method) in coala_utils ? because that code is way better and full proof. I'll put that with the licence file there. and as far as burden of handling that code is concerned, it's merely a 10 lines codes' method. would

[2016-11-24 13:12] jayvdb commented on #3107
Ideally still optional, as some CI bomb out in unhelpful ways if the log is too big.

[2016-11-24 13:14] sils commented on #3107
IMO on CI always show the full patch, we already have this mechanism of only showing `+### -###` for too long patches, should we keep this for coala --ci as well?

[2016-11-24 14:04] sils opened #3109 "test"
I'll remove this right aheda.

difficulty newcomer

[2016-11-24 14:04] #3109 closed

[2016-11-24 14:04] sils commented on #3109
yayyy, still works :)

[2016-11-24 17:23] Mixih opened #3110 "Critical: Bear.py failing tests"
Bear.py is failing coverage tests on master: see https://circleci.com/gh/coala/coala/9339
We'll probably have to bisect this to see where it failed. We can't merge pulls until this is fixed,

[2016-11-24 17:49] Mixih commented on #3110
Coverage probelems:
At line: 272
[code]

[2016-11-24 17:51] Mixih commented on #3110
This is causing all new pull requests to fail

[2016-11-24 18:11] Uran198 commented on #3087
I am not quite sure about the motivation on this. If there was an error and program didn't crash, so it means that it was able to handle the error and proceed successfully with the execution. Hence why should it return non-zero code?
On the other hand if some condition means that we should return non-zero code due to linting errors or anything else, we should handle it separately of logging. The p

[2016-11-24 22:22] #3110 closed

[2016-11-25 02:59] Mixih commented on #3086
are we talking about `download_cached_file`?

[2016-11-25 07:18] Mixih commented on #3044
most should have issues assigned now. I grouped all underline issues together. Still getting the hang of rst, so there may be a few false alarms

[2016-11-25 07:30] sils commented on #3086
Yes

[2016-11-25 09:14] jayvdb commented on #2006
If you think that is the better approach, do it.

[2016-11-25 09:26] #1694 closed

[2016-11-25 09:43] adtac opened #3113 "Do not log `Applied ShowPatchAction` if in non-interactive mode"
It makes sense when the user explicity asks for the diff through console input, but it doesn't in non-interactive mode IMO. Others?

[2016-11-25 10:15] nemaniarjun commented on #2071
Would like to take this up, If no ones on it. Also will need a bit of help.

[2016-11-25 14:12] #3089 closed

[2016-11-25 14:56] yash-nisar commented on #2663
Hey @AbdealiJK ,
I'm planning to add the following snippets in the respective files(excluding the tests). Am I on the right track ?

Filename : ConsoleInteraction.py
[code]
Filename : Bear.py
[code]

[2016-11-25 15:03] Mixih commented on #2663
If I understand what you're doing, you wouldn't have to modify bear.py. You could call self.__file__ on a bear object.

[2016-11-25 15:16] sils commented on #3087
Well an error always means that something didn't work out, otherwise it's a
warning.

[2016-11-25 17:44] Yash17Agrawal commented on #3020
@adtac can you explain little more about what do you mean on line 187 exactly? and these default value you want to add are only for line 187 or there are many such occurrences?

[2016-11-25 22:04] #3101 closed

[2016-11-25 22:53] Mixih commented on #3044
Issues I spawned:
Documentation:
    https://github.com/coala/documentation/issues/331
    https://github.com/coala/documentation/issues/330
    https://github.com/coala/documentation/issues/329
bear-docs:
    https://github.com/coala/bear-docs/issues/23
aspect-docs:
    https://github.com/coala/aspect-docs/issues/3
    https://github.com/coala/aspect-docs/issues/4

Will add more to this list as I

[2016-11-25 22:58] Mixih commented on #3086
I'll take it

[2016-11-26 02:42] Mixih opened #3117 "Use Python3 in circle.yml"
Use `python3 setup.py install` instead of `python setup.py install`. In ubuntu python maps to python2. I suspect this is causing the failure of #3115.

[2016-11-26 05:40] Mixih commented on #3117
not a issue it seems

[2016-11-26 05:40] #3117 closed

[2016-11-26 08:37] adtac commented on #3020
I *think* that's the only place; anyway that's for you to figure out ;) it's a part of learning your way around a codebase

[2016-11-26 14:07] nemaniarjun commented on #2698
Can i do this ?

[2016-11-26 14:14] Mixih commented on #2698
@mayank26saxena checkin if you have any work on this and wish to continue, otherwise I'm reassigning to @nemaniarjun

[2016-11-26 14:18] mayank26saxena commented on #2698
Sorry for the delay. I have been busy with my uni exams. I wish to continue to work on this and I'll be sending in a PR by the end of the coming week. Thanks.

[2016-11-26 19:20] cylussec commented on #2044
I am not seeing a collections.py file, or any other way to get that info. Am I missing it?

[2016-11-26 23:23] Mixih commented on #3086
Should I go write 404 and 403 error handlers while we're at it so be don't get really cryptic messages from urllib.

[2016-11-27 08:46] cliau commented on #3099
Could I get assigned to this issue (unless @Yash17Agrawal wants it)?

[2016-11-27 09:14] sils commented on #3086
why not, sounds great but ideally goes into an own commit

[2016-11-27 11:09] Yash17Agrawal commented on #3099
@cliau  yes i want to do it but @sils  isn't replying .

[2016-11-27 11:35] sils commented on #3099
Consider asking someone else, if you only cc me like everyone does: don't
complain that you have to wait a bit. It's not like I get paid to do this.

[2016-11-27 11:36] sils commented on #3099
You don't need to ask someone specific, if you do that everybody else will
just ignore it.

[2016-11-27 11:40] Yash17Agrawal commented on #3099
@sils  okay sir ! but as you opened the issue itself so i cc you earlier.

[2016-11-27 11:46] sils commented on #3099
got a PC now, you're assigned.

[2016-11-27 12:01] Yash17Agrawal commented on #3099
where is the latest stable release badge in readme , because i find no direct mention to any version but just text in installation part

[2016-11-27 14:48] sils commented on #2044
he probably means `coalib/collecting/Collectors.py`?

[2016-11-27 15:26] Makman2 commented on #2071
@nemaniarjun oh sorry I think @meetmangukiya has it picked up implicitly on https://github.com/coala/coala/pull/2895 .

[2016-11-27 15:32] AbdealiJK commented on #2044
Yeah, sorry was just giving a high level picture.

On Sunday 27 November 2016, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-11-27 15:59] cliau commented on #3099
@Yash17Agrawal The badge is an image with substitution reference `|Stable|`, whose [substitution definition](https://img.shields.io/badge/latest%20stable-0.8.1-green.svg) can be found at the end of README.rst:
`.. |Stable| image:: https://img.shields.io/badge/latest%20stable-0.8.1-green.svg`

<img width="595" alt="screen shot 2016-11-27 at 7 47 31 am" src="https://cloud.githubusercontent.com/asset

[2016-11-27 16:35] meetmangukiya opened #3121 "Bug in terminal coloring"
![selection_011](https://cloud.githubusercontent.com/assets/7620533/20649814/8e0d00ac-b4ed-11e6-9475-2f9f58911ff4.png)

[2016-11-27 16:46] Makman2 commented on #3121
Propably an upstream bug in pygments.

[2016-11-27 16:48] sils commented on #3121
@meetmangukiya what's your pygments version?

[2016-11-27 16:49] meetmangukiya commented on #3121
@sils 2.1.3

[2016-11-27 16:50] sils commented on #3121
try upgrading to 2.2 please, also this is reported upstream at https://bitbucket.org/birkenfeld/pygments-main/issues/1308/source-code-formatting-misbehaviour-on now

[2016-11-27 16:50] #3121 closed

[2016-11-27 16:50] meetmangukiya commented on #3121
okay.. I'll see if it happens again

[2016-11-27 16:51] meetmangukiya commented on #3121
Pip tells already up-to-date :/

[2016-11-27 18:07] Makman2 commented on #3121
@meetmangukiya did you use `--upgrade`?

[2016-11-27 18:12] Yash17Agrawal commented on #3099
the latest release is 0.9.0 ?

[2016-11-27 18:33] sils commented on #3099
check pypi

[2016-11-27 21:19] Makman2 commented on #3121
ah yeah there's no 2.2 currently in stable, you could maybe try to use the pre-release^^

[2016-11-28 00:12] jasemj commented on #3097
Hello, I would like to be assigned this issue if that is possible.

[2016-11-28 00:57] aptrishu commented on #3097
There you go. :) @jasemj

[2016-11-28 02:13] #3099 closed

[2016-11-28 06:20] Yash17Agrawal commented on #3100
So now should i create a list or a link? and if link then what is its use because setup.py doesnt support hyperlinks i guess.

[2016-11-28 06:26] Yash17Agrawal commented on #3049
we can put it in /coalib/bearlib/abstractions

[2016-11-28 08:51] sils commented on #3100
I like @Makman2 's proposal, we do the same for bears

[2016-11-28 10:21] coala-bot opened #3123 "Diff: Add option for creating files"
Opened via [gitter](https://gitter.im/coala/coala/?at=583c05378d65e3830eac2b20) by @sils

[2016-11-28 10:42] badarsh2 commented on #3068
Can someone please give a more detailed issue description?
@sils

[2016-11-28 10:47] coala-bot opened #3124 "Diff: Add an easier way to create simple diff objects"
There has to be a better way to create diff objects for the simpler cases. The current API has lots of things to remember and there's lots of chances to bump into off by one errors with it.

status/needs design

Opened via [gitter](https://gitter.im/coala/coala/?at=583c0b521dec193f14fc13f1) by @sils

[2016-11-28 11:23] sils commented on #3068
this is about the Language class, it has a way to lookup language (e.g. via `['C++']`), this should ignore whitespaces for the language name

[2016-11-29 02:26] coala-bot opened #3127 "coala.io front page links "Issue Tracker" to coala/coala/issues only"
I think the default bugs list should be for the entire org, or at least also include coala-bears

Opened via [gitter](https://gitter.im/coala/coala/?at=583ce759381827c24d92e7d5) by @jayvdb

[2016-11-29 03:41] jayvdb commented on #3044
I've created a beginner GCI task for newcomer documentation tasks, so we need to get the rst bears enabled quickly. Harass anyone not finishing an assigned task.

[2016-11-29 05:08] yash-nisar commented on #3127
Can I do this ?

[2016-11-29 05:44] Mixih commented on #3127
Well, no one else is on it so you have been assigned

[2016-11-29 09:08] jayvdb commented on #3127
I think this *should* only be fixed by whoever can access http://bugs.coala-analyzer.org/ , as we want that URL to redirect to a different target.

I've also created https://github.com/coala/website/issues/65 to create a new short URL which can be used for this purpose.

[2016-11-29 10:33] #3097 closed

[2016-11-29 13:45] chauffer opened #3128 "coala-ci 0.9 is not compatible with coala 0.8 .coafile"
Error:
[code]

[2016-11-29 17:02] sils commented on #3011
I talked to @chauffer and we could do it easily on solar.coala.io - but someone gotta do it

[2016-11-29 17:15] jayvdb commented on #3011
I was under the impression it can be done without an external host.

See the nice "mirrored from https://gitlab.com/noosfero/noosfero" on https://github.com/noosfero/noosfero

I was expecting this was the method they used: https://smcleod.net/mirror-gitlab-to-github/

[2016-11-29 19:28] Makman2 commented on #3049
Not sure this annotation is some kind of "abstraction", maybe we should introduce a new `types` module?

[2016-11-29 19:29] Makman2 commented on #3049
In this module we could place btw other useful "types" for bears^^

[2016-11-29 19:43] Makman2 commented on #3011
For gitlab you don't need an external host, gitlab performs a "cronjob" on its own^^

[2016-11-29 19:45] Makman2 commented on #3011
@sils you have to do that, you are the only owner of the `coala` gitlab org^^

[2016-11-29 19:46] Makman2 commented on #3011
or give me access then I'll do the import :+1:

[2016-11-29 19:46] sils commented on #3011
Gitlabs mirroring doesn't work if you don't give credentials in plain text
though I heard something that they *finally* wanted to allow you to upload
an SSH key this or next release

[2016-11-29 19:49] Makman2 commented on #3124
something more precise in mind @sils ?

[2016-11-29 20:03] chauffer commented on #3011
gitlab's mirroring is once per hour, which is suboptimal

2016-11-29 20:46 GMT+01:00 Lasse Schuirmann <notifications@github.com>:

[2016-11-29 20:12] Makman2 commented on #3011
why do you need to give credentials? clone from https
Did this already for CE3D2: https://gitlab.com/Makman21/CE3D2

[2016-11-29 20:14] Makman2 commented on #3011
@chauffer why? :O
As this is just a mirror, I think once per hour is more than fine^^

[2016-11-29 21:53] sils commented on #3124
@underyx wanted this, but cobot didn't listen so I filed it for him I have
no idea

[2016-11-29 21:53] sils commented on #3124
IMO this is a wontfix

On Nov 29, 2016 10:53 PM, "Lasse Schuirmann" <lasse.schuirmann@gmail.com>
wrote:

[2016-11-30 00:40] jayvdb commented on #3011
Hourly is very good, especially if we get the "mirrored from https://gitlab.com/coala/..." thing happening so people know how to get the very latest if they need it.

[2016-11-30 00:48] Mixih commented on #3086
Switching this mechanism to the requests library as discussed in the gitter. ETA to pull: 1-2 days...

[2016-11-30 05:13] jayvdb opened #3130 "Trim lines in patch UI"
The patch UI prints the entire line, which could be extremely long and cause problems with consoles.
IMO we need to pick a number of chars after which we decide that printing the entire line isnt useful, and we need to trim the line to a reasonable length, and/or skip the processing of the line.

[2016-11-30 05:14] jayvdb opened #3131 "Default ignore minified files"
minified files, such as `**.min.js`, look terrible as the UI prints the entire line (https://github.com/coala/coala/issues/3130), and these files typically violate every rule in the book anyway.

[2016-11-30 06:55] meetmangukiya commented on #2300
area/usability

[2016-11-30 12:09] sils commented on #3011
I guess we could make a github account for the mirroring that only has access to those repos and put it's password in that field?

[2016-11-30 12:34] chauffer commented on #3011
its*

2016-11-30 13:09 GMT+01:00 Lasse Schuirmann <notifications@github.com>:

[2016-11-30 16:49] Makman2 commented on #3011
@sils I still don't understand why you need access to the repos. I wouldn't recommend to synchronize both repos when both are being worked on^^

[2016-11-30 18:13] Udayan12167 commented on #3128
Can you give more details. What do you mean by coala 0.8 .coafile. Can you post the .coafile as well?

[2016-11-30 18:18] nemaniarjun commented on #2633
@Asnelchristian Can I take this up? :p

[2016-12-01 00:37] Mixih commented on #3044
@jayvdb No has bit on any of my issues yet... Should I start fixing them as they're critical now?

[2016-12-01 06:34] nemaniarjun commented on #2894
can I take this up if @arjunsinghy96 is not ?

[2016-12-01 06:43] arjunsinghy96 commented on #2894
@nemaniarjun you can. I an not working on this issue.

[2016-12-01 06:53] nemaniarjun commented on #2894
Assign it to me :)

[2016-12-01 07:12] nemaniarjun commented on #2894
If I understand correctly, I need to make a JSON schema (kind of a template) that people can use to parse output of coala --JSON ?
Where do I put this template?

[2016-12-01 15:14] yash-nisar commented on #3127
So we want http://bugs.coala-analyzer.org/ to redirect to https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acoala++no%3Aassignee ?

[2016-12-01 17:21] jayvdb commented on #3127
Why `no:assignee`?

[2016-12-01 17:34] yash-nisar commented on #3127
Is this good https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acoala?

[2016-12-01 18:47] jayvdb commented on #3044
We still have time; the GCI task hasnt been published yet, and the first people doing this GCI task can be given these bugs to fix, so please dont do them, otherwise we loose our pool of newcomer documentation bugs.
IMO we stop allocating other newcomer issues until these ones are allocated and resolved.

are these generated files?  If so, they are probably 'low', and maybe we should do it?

[2016-12-01 19:52] Mixih commented on #3044
yeah, they're probably generated....

[2016-12-02 00:51] jasemj opened #3132 "BearTest.py: Fails test because BearTest class needs tearDown method"
### Overview Description
BearTest.py will fail on test_download_cached_file if you execute the py.test command more than once.  It fails on line 191 on self.assertFalse(isfile(join(uut.data_dir, filename))). If you clone down the coala repository and install the test-requirements then run py.test, the first time it will pass, but every time after that it will fail.  BearTest class needs a tearDown

[2016-12-02 06:34] Mariatta opened #3133 "Move Developers section from coala/docs to api.coala.io"
Follow up from https://github.com/coala/documentation/issues/336

Before removing Developers section from https://github.com/coala/documentation, we should first copy them into https://github.com/coala/coala/docs

[2016-12-02 11:11] coala-bot opened #3135 "Suggest using `-I` as well at the The default coafile '.coafile' was not found. warning"
The user might want to just suppress the warning. We could change the sentence to something like:

   You can generate a configuration file with your current options by adding the `--save` flag or suppress any use of config files with `-I`.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=584156e516207f7b0ed3138e) by @sils

[2016-12-02 12:08] Udayan12167 commented on #2053
[code]

[2016-12-02 12:35] sils commented on #2053
Can we do somethign to prevent those kind of issues from reoccuring?

[2016-12-02 13:18] sils commented on #2053
@Udayan12167 is this reproducable with coala 0.9 or development?

[2016-12-02 22:40] supergr35 commented on #3068
Can I take this?

[2016-12-02 22:45] sils commented on #3068
@supergr35 there you go. Please CC me and @userzimmermann for review.

[2016-12-03 11:31] #3133 closed

[2016-12-03 20:10] Mariatta opened #3136 "Issues to be moved from coala/documentation into coala/coala"
The following is a list of issues in coala/documentation that is related to Developers section of the docs.
Since the Developers section has been moved to coala/coala, these issues should be moved here and labeled `documentation`

I might miss a few tickets (as I'm not yet 100% familiar with the codebase) but this should be a good start.

- [x] https://github.com/coala/documentation/issues/341
- [

[2016-12-03 22:51] jasemj commented on #3132
Hello, I'm wondering if it's possible for me to be assigned this issue once it is verified? Then I can setup a pull request from the branch I have. Unless it is considered a newcomer issue then I will leave it be. Thanks.

[2016-12-04 02:21] Mixih opened #3138 "Alphabetize requirements.txt"
The entries are in random order... Looks ugly and it can make things hard to find if the list grow longer. Just put them in alphabetical order and maker sure the tests work.

[2016-12-04 02:32] Mixih commented on #3136
coala/documentation#32 has been closed

[2016-12-04 02:33] Mixih opened #3139 "Developers/Writing_Good_Commits.rst:139: (INFO/1) Possible title underline, too short for the title."
_From @Mixih on November 25, 2016 6:22_

_Copied from original issue: coala/documentation#331_

[2016-12-04 02:33] Mixih commented on #3139
_From @hemangsk on December 3, 2016 19:7_

Hey @Mixih , I'm new to Coala 😃  looking forward to getting involved with awesome community at coala.
I just noticed that Developer docs have been moved to the main repo https://github.com/coala/coala.

I would like to solve this issue, will there be a new issue created in the coala/coala repo same as this one?

Thanks

[2016-12-04 02:33] Mixih commented on #3139
@hemangsk Yes, this will need to be moved. Hey, welcome to this project! To get started, goto the gitter and say hello to everyone there. They'll add you to the org which will let me assign you to an issue!

[2016-12-04 02:40] Mixih commented on #3132
@jasemj Hmmm, I have completely rewritten this code segment in an upcoming pull request so it is N/A for now. Thanks for the work you have put into find and fixing this.

[2016-12-04 02:56] jasemj commented on #3132
@Mixih Okay sounds good, thanks for the quick response. No problem! It's a very cool project and I hope to contribute more.

[2016-12-04 03:45] Mixih opened #3140 "Developer Docs: Add information about removing files from commits"
This is another very common problem in git when people just type `git add -A` after rebasing. We should teach them not to do this and also tell them how to fix this (see  http://stackoverflow.com/questions/18357511/git-remove-commited-file-after-push). This probably can be added to the git basics page.

[2016-12-04 04:11] Mariatta commented on #3138
Sure, I can write a script to sort the entries in requirements.txt alphabetically.
Maybe it can even be a bear? 💡

[2016-12-04 04:13] Mariatta commented on #3136
@sils mentioned this app can be used to move issues.
 https://github-issue-mover.appspot.com/
Is this something I can do? Or only the maintainers?

[2016-12-04 10:16] sils commented on #3136
Only maintainers unless you opened the issue

On Dec 4, 2016 05:13, "Mariatta" <notifications@github.com> wrote:

@sils <https://github.com/sils> mentioned this app can be used to move
issues.
https://github-issue-mover.appspot.com/
Is this something I can do? Or only the maintainers?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://git

[2016-12-04 10:38] coala-bot opened #3142 "newcomers guide: let them fill out coala.io/newform after doing it"
Opened via [gitter](https://gitter.im/coala/coala/?at=5843f21f0da034021b67b0d1) by @sils

[2016-12-04 10:52] #3138 closed

[2016-12-04 11:34] jayvdb commented on #3128
I believe this is the same problem that I raised 10 days earlier: https://github.com/coala/coala-bears/issues/1012

I dont believe more info is needed.  The same `.coafile` that worked in 0.8 is now causing a backtrace in 0.9 . Our own `.coafile` is suitable as a test case for this bug.

[2016-12-04 11:51] hemangsk commented on #3139
Hey @mixih !  I have joined the org 🎉  🎉    I would like to work on #3139, can you assign me this issue.

Thanks 😄

[2016-12-04 11:52] aptrishu commented on #3139
There you go. :) @hemangsk

[2016-12-04 12:00] jayvdb commented on #3128
Confirmed this is still a problem in 0.9.1, and is extremely easy to reproduce.

[code]
[code]

[2016-12-04 12:17] jayvdb commented on #3128
For the coala `.coafile`, the problem is it uses `KeywordBear`, which depends on `AnnotationBear`.

[code]

All bears that depend on  `AnnotationBear`:

- `IndentationBear`
- `KeywordBear`
- `QuotesBear`

In 0.8, `IndentationBear` had a `language` parameter, but `KeywordBear` and `QuotesBear` did not, so any use of `KeywordBear` and `QuotesBear` was broken by release 0.9.  That is not cool for CI

[2016-12-04 12:54] coala-bot opened #3143 "gitmate-bot comments like https://github.com/coala/coala-html/pull/101#issuecomment-263961192 are now all 404s"
There was a lovely reorganisation, which means all of the old URLs by gitmate-bot are broken

Opened via [gitter](https://gitter.im/coala/coala/?at=58441215b4ffd59e38e2f19d) by @jayvdb

[2016-12-04 13:42] jayvdb commented on #3011
https://github.com/coala/PyPrint and https://github.com/coala/coala-decorators-USE-cOALA-UTILS-INSTEAD are two that have been migrated to gitlab .  They would be ideal to test the gitlab mirroring.

[2016-12-04 13:47] jayvdb commented on #3011
@Makman2 , that is a github -> gitlab mirror.  Have you done the opposite, which we need?  gitlab -> github?

[2016-12-04 15:02] Mixih opened #3145 "Better API documentation"
_From @Adrianzatreanu on August 19, 2016 11:27_

_From @Adrianzatreanu on August 17, 2016 12:52_

We need a way better API documentation, such as Python API docs are.

_Copied from original issue: coala-analyzer/coala#2635_

_Copied from original issue: coala/documentation#20_

[2016-12-04 15:04] Mixih opened #3146 "Document bear API"
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @sils1297 on June 4, 2016 16:20_

_Copied from original issue: coala-analyzer/coala#2276_

_Copied from original issue: coala/documentation#36_

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @gitmate-bot on June 4, 2016 16:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @abhsag24 on June 5, 2016 7:37_

@sils1297 you mean the bear class?

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

it's unclear to me either, what exactly do you want to be documented?

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @sils1297 on June 17, 2016 8:42_

The API a bear writer can use to create a bear

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

So you basically want a website on readthedocs where one could specify all the methods for the class which he has available and how he should write that bear?

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @abhsag24 on June 17, 2016 14:0_

so we should have tutorials for `Diff` and `SourceRange` too right?

[2016-12-04 15:04] Mixih commented on #3146
_From @Adrianzatreanu on August 19, 2016 11:49_

_From @sils1297 on June 17, 2016 14:2_

Currently if you want to write a bear, you have to go through the tutorial
which is not always what you want, sometimes you want a quick API reference
and work out your own stuff

[2016-12-04 15:04] Mixih commented on #3146
_From @meetmangukiya on November 9, 2016 13:53_

I guess this has been done now :thinking: with api.coala.io ?

[2016-12-04 15:04] Mixih commented on #3146
_From @sils on November 9, 2016 14:17_

we have to check if the current doc is sufficient and link to it

[2016-12-04 15:16] Mixih opened #3147 "Developers/Writing_Good_Commits.rst: Title underline too short"
rst-lint output:
[code]

[2016-12-04 15:40] #3139 closed

[2016-12-04 16:01] jayvdb commented on #3026
https://github.com/isaacs/github/issues/371 is a GitHub feature request for this.

[2016-12-04 16:12] Makman2 commented on #3011
oh then I've misread, sorry. And no, not yet :D

[2016-12-04 16:21] Mixih opened #3148 "Advise newcomers to use branches instead of master in the "newcomer's guide" page"
_From @Mixih on December 3, 2016 20:29_

Recently, I have seen quite a few people who patch coala from their master branch. This is a recipe for losing changes and screwing up rebases(basically disaster). We should probably advise them not to in the newcomers guide.

_Copied from original issue: coala/documentation#341_

[2016-12-04 16:21] Mixih commented on #3148
_From @jayvdb on December 4, 2016 13:20_

We were working on an "PR auto-close" if the PR had branch name "master".
https://gitlab.com/gitmate/IGitt/merge_requests/36 was done to support this.
@sils, what is the next step?

I have manually done the PR close here : https://github.com/coala/coala-html/pull/101#issuecomment-264702835

[2016-12-04 16:21] Mixih commented on #3148
_From @jayvdb on December 4, 2016 16:6_

OK, I found it : https://gitlab.com/gitmate/gitmate/issues/86

[2016-12-04 16:28] jayvdb commented on #3128
QuotesBear wasnt in 0.8, so the only source of problems is `KeywordBear`, and its dependency on  `AnnotationBear` was added in coala-bears PR https://github.com/coala/coala-bears/pull/884 .

Breakage isolated ; https://github.com/coala/coala-bears/issues/1012 is where the further analysis and discussion should be.

[2016-12-04 16:28] #3128 closed

[2016-12-04 17:14] Mixih commented on #2596
I think this fixed. Let me know if you still have issues.

[2016-12-04 17:19] jayvdb opened #3149 "Bear.get_non_optional_settings doesnt check dependencies"
`KeywordBear` depends on `AnnotationBear`, which has a required parameter `language`.

`KeywordBear.get_non_optional_settings()` doesnt include `language`.

[code]

This appears to be one of the underlying causes of https://github.com/coala/coala-bears/issues/1012, and thus https://github.com/coala/coala/issues/3128

Perhaps `Bear.get_non_optional_settings` should have a parameter `recursive` whic

[2016-12-04 19:55] jayvdb commented on #3149
I've added a workaround in https://github.com/coala/coala-quickstart/pull/40 .

Not quite correct; it only causes a decent error message, indicating that `language` isnt set, which at least helps people migrating to 0.9 to understand how to fix the problem.

[2016-12-04 20:59] Makman2 commented on #2596
nope, not fixed.
http://pastebin.com/Q7rqjEYL

[2016-12-04 23:32] Mixih commented on #2596
hmmmm.... wonder why the appveyor works then....

[2016-12-04 23:47] Mixih opened #3150 "Add Documentation about unbreaking master"
From Jayvdb:

This should be added to git basics guide

[2016-12-04 23:55] Makman2 commented on #2596
those issues are machine specific. I'm currently using two drives (having an SSD and HDD) with two different drive letters. One issue is `relpath`, because there's no relpath from C: to D: . Another issue it seems are permissions, I've set the same permission level on D: like on C: (so I have nearly the same directory structure in the root of C: like in D:). We need to make those modules slightly

[2016-12-04 23:56] Mixih commented on #2596
oooh... yeah I have two partitions too.
So basically we need to write in a fallback if python is on a separate partitions.. Did

[2016-12-05 00:24] Mixih commented on #3136
I suggest we only move a few at a time so we don't flood the main tracker with tickets

[2016-12-05 03:01] Mixih commented on #3086
@jayvdb has pointed out that using requests means we won't have FTP support anymore. How important is this feature?

[2016-12-05 03:36] Mixih commented on #3086
FTP removal has been deemed the lesser evil than a return to urllib.

[2016-12-05 04:27] jayvdb commented on #3086
As a general point, HTTP caching with requests should be done using https://pypi.python.org/pypi/CacheControl , and using its FileCache . That way we can use a small script using CacheControl to do any pre-fetching , and known that coala will also find the same resources.

Creating our own simpler version, like #3137 is doing is also acceptable for a very small set of uses, like this one - downloa

[2016-12-05 04:35] jayvdb commented on #3086
Currently we are only using `download_cached_file ` in `coala-bears` for
- https://oss.sonatype.org/content/repositories/releases/org/scalastyle/scalastyle_2.10/0.8.0/scalastyle_2.10-0.8.0-batch.jar
- http://sourceforge.net/projects/checkstyle/files/checkstyle/6.15/checkstyle-6.15-all.jar
- https://raw.githubusercontent.com/noveogroup/android-check/master/android-check-plugin/src/main/resources/ch

[2016-12-05 05:04] SarthakNijhawan commented on #3147
I would like to get assigned to this issue .

[2016-12-05 06:19] SarthakNijhawan commented on #3135
@coala-bot , can I get assigned to this issue ?

[2016-12-05 06:21] SarthakNijhawan commented on #3140
Hey @Mixih , I would like to get assigned on this issue .

[2016-12-05 06:47] ashwini0529 commented on #3135
Can I take up this issue.

[2016-12-05 07:15] sils commented on #3136
It's flooded anyway, I've come to accept that.

On Dec 5, 2016 01:24, "mixih" <notifications@github.com> wrote:

[2016-12-05 12:24] venky18 commented on #3150
I would like to solve this issue.

[2016-12-05 12:30] sils commented on #3135
@SarthakNijhawan just assigned another issue to you so giving this to @ashwini0529

[2016-12-05 12:32] SarthakNijhawan commented on #3135
@sils Sure .. :)

[2016-12-05 12:56] RohanVB opened #3152 "WARNING: No bears matching 'GitCommitBear' were found. (Raised on dev installation)"
The following steps cause this error on mac OSX, I'm unsure if it is reproducible on other operating systems.

1)New virtual env
2)New clone of coala and coala-bears
3)pip3 install coala
4)pip3 install coala-bears
5)sudo python3 setup.py install on coala and coala-bears repos
6)Ran coala, warning.

_Here is the version of coala and coala-bears I am currently using:_

[code]

[code]

_Here is the t

[2016-12-05 13:04] jayvdb opened #3153 "Space between package names in import"
https://github.com/coala/coala-bears/blob/master/tests/general/AnnotationBearTest.py#L9 needs a space removed.

[2016-12-05 13:39] srk97 commented on #3153
I would like to get assigned to this.

[2016-12-05 13:49] venky18 commented on #3150
is the code for this supposed to be added before https://github.com/coala/coala/blob/master/docs/Developers/Git_Basics.rst#rebasing at line 228 and what should be the title? "How to fix the broken master"??

[2016-12-05 13:50] venky18 commented on #3150
is the code for this supposed to be added before https://github.com/coala/coala/blob/master/docs/Developers/Git_Basics.rst#rebasing at line 228 and what should be the title? "How to fix the broken master"??

[2016-12-05 16:08] UMANIAX commented on #3153
Please assign me this issue, gonna be my first bug to fix. Cheers!

[2016-12-05 16:25] UMANIAX commented on #3135
Please assign me this issue. Cheers!

[2016-12-05 16:49] jayvdb commented on #3153
@UMANIAX, it is already assigned to someone else, who is working on it in PR #1090.

[2016-12-05 17:08] nemaniarjun commented on #2894
@sils I can you explain what needs to be done?

[2016-12-05 17:26] UMANIAX commented on #3038
Please assign

[2016-12-05 17:42] ashwini0529 commented on #3135
I am on it.

[2016-12-05 17:45] jayvdb commented on #2997
@andreidinu, have you been able to reproduce this bug?
If so, could you provide more clear steps on how to reproduce it?

[2016-12-05 17:51] jayvdb opened #3154 "--format does not work in non-interative mode"
Using `--ci` and `--format` together discards the --format argument.

[2016-12-05 17:52] andreidinu commented on #2997
No, I haven't reproduced it. I just added an exception in the code but now I have to write a test for it.

[2016-12-05 17:57] jayvdb commented on #2997
Ah, ok, try this:

[code]
[code]

[2016-12-05 17:59] jayvdb opened #3155 "source lines are not available as a --format placeholder"
Current `--format` placeholders are: origin, file, line, end_line, column, end_column, severity, severity_str, message .

It would be useful to have the source lines available as a placeholder, as that can be used to specify a custom format that is more similar to the current default UI.

[2016-12-05 18:12] jayvdb opened #3156 "Split result message into constant message and arguments"
Currently the message can be like `LineLengthBear`'s "Line is longer than allowed. (644 > 79)", which is a formatted string.

If this is split into a constant message with placeholders and arguments, consumers can more easily do operations like grouping similar messages together, and l10n of messages becomes possible.

The constant message and arguments should be emitted in the JSON, and in `--for

[2016-12-05 18:13] jayvdb opened #3157 "Reported message statistics"
pycodestyle and flake8 have a `--statistics` argument that prints a summary of messages with counts.
A similar feature would be useful.

To get reasonable results, some messages need to be post-processed, or this needs to wait until #3156 is implemented in the bears.  e.g. the problem is cases like `Line is longer than allowed. (89 > 79)` which cant be grouped together in statistics.

[2016-12-05 19:17] #3153 closed

[2016-12-05 19:22] andreidinu commented on #2997
@jayvdb, right now I'm getting the same output as you, even though I added this:

[code]

in print_results_formatted.

[2016-12-05 20:21] jayvdb opened #3159 "Language KeyError when multiple versions exist and one not requested by all versions identical"
Fetching an attribute from a Language with multiple versions, such as "Python", throws a AttributeError.

[code]

The relevant chunk of code

[code]

If the extension is constant, as it is `.py` with Python, it should be accessible.

Then the exception has extra meaning, telling the user that the attribute they are looking for is not consistent across all versions.

Also the exception should be a

[2016-12-05 20:23] ashwini0529 commented on #2649
@sils Can you please guide me like what should exactly be done and brief me about the issue?

[2016-12-05 20:35] Mixih commented on #3086
Hmmm
- http://sourceforge.net/projects/checkstyle/files/checkstyle/6.15/checkstyle-6.15-all.jar
- https://raw.githubusercontent.com/noveogroup/android-check/master/android-check-plugin/src/main/resources/checkstyle/checkstyle-easy.xml
- https://raw.githubusercontent.com/noveogroup/android-check/master/android-check-plugin/src/main/resources/checkstyle/checkstyle-hard.xml
- http://geosoft.no/develo

[2016-12-05 20:35] jayvdb opened #3160 "hasattr on Language instance attribute raises KeyError"
hasattr doesnt work correctly, as failure to resolve it should raise `AttributeError`

[code]

~~To be backwards compatible, a new exception class is needed, that subclasses both `KeyError` and `AttributeError`.~~

This was released in 0.9, so fixing this is still a minor bug.  Nobody will be relying on this bad behaviour in production yet.

[2016-12-05 20:42] jayvdb commented on #3086
Excellent.  Did you also check scalastyle_2.10-0.8.0-batch.jar ?

Argh, I misread the code; it isnt using `download_cached_file` for the local file paths.

[2016-12-05 20:43] Mixih commented on #3086
the jar isn't though :(

[2016-12-05 21:10] jayvdb commented on #3086
all files are versioned released, except for the android-check-plugin and geosoft rules, and IMO ... it is those downloads which are buggy, as those online resource could change at any time and any updates very likely will break as they wont be compatible with checkstyle 6.15.  We had this problem with coala/coala-bears@9b86d14 .

IMO we should be trying to get permanent URLs for those checkstyle

[2016-12-05 21:46] #3135 closed

[2016-12-05 22:01] Mixih commented on #3086
@sils your input is requested

[2016-12-05 22:02] Makman2 commented on #2649
@ashwini0529 please don't ping sils for such generic questions, other people can answer too. Especially those who filed the issue ;)

For what's to be done: Please read the first and uppermost comment at the top

[2016-12-06 01:34] Makman2 commented on #370
I think we are trying this as good as possible now.

[2016-12-06 01:34] #370 closed

[2016-12-06 01:36] Makman2 commented on #3157
I think this is a dupe of https://github.com/coala/coala/issues/759 . Agree @jayvdb ?

[2016-12-06 02:39] jayvdb commented on #759
To get reasonable results, some messages need to be post-processed, or this needs to wait until #3156 is implemented in the bears. e.g. the problem is cases like Line is longer than allowed. (89 > 79) which cant be grouped together in statistics.

[2016-12-06 02:39] jayvdb commented on #3157
Yup. Copied relevant comment there.

[2016-12-06 02:39] #3157 closed

[2016-12-06 04:28] Mixih commented on #3148
I'll be picking up the documentation part of this issue because it gets more important with each newcomer we add

[2016-12-06 04:42] Mixih commented on #3140
@SarthakNijhawan you're on! This is a documentation issue so be warned that review could take a little longer ;)

[2016-12-06 09:18] underyx opened #3164 "Unneeded space after opening parenthesis with AnnotationBear language setting prompt"
[code]

This is probably a problem inside AnnotationBear but I haven't actually checked where that space comes from.

difficulty newcomer

[2016-12-06 09:19] underyx opened #3165 "Deprecation warnings shouldn't be printed so many times"
[code]

I'm seeing hundreds of these lines and they make parsing the output near impossible.

[2016-12-06 11:07] coala-bot opened #3166 "Add way for the user to add custom Language definitions"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=58469be744f3e83528e56124) by @sils

[2016-12-06 11:07] sils commented on #3166
CC @userzimmermann

[2016-12-06 11:08] sils commented on #3165
right, the function could have global state and caching which param combination was already logged but I wonder if that'll work as they're run in different processes...

[2016-12-06 11:09] sils commented on #3143
I fixed that comment.

[2016-12-06 11:09] #3143 closed

[2016-12-06 11:11] sils commented on #3086
even with versioned files, there might be bugfixes. Take coala, you'd get a file from the release/0.9 branch and when we backport a bugfix you'd want to get that although the filename doesn't change, right?

[2016-12-06 11:13] sils commented on #3156
we should put this message into the aspects IMO so the bears don't provide a message at all. All the grouping will be made possible with aspects anyway btw.

[2016-12-06 11:20] underyx commented on #3165
Or we could move deprecation checking up a few levels, and do it along with the config file parsing?

[2016-12-06 12:21] hemangsk commented on #3160
Progress -
AttributeError is successfully raised in place of KeyError at `l.extensions`

In `__getattr__` in Language.py, wrapped `return self.attributes[item]` in `try/except`.

[code]

![screen shot 2016-12-06 at 5 36 13 pm](https://cloud.githubusercontent.com/assets/13018570/20925217/9993bb1a-bbdb-11e6-93af-10d8a4b172b4.png)

Thoughts?
Also, apart form displaying the text 'AttributeError', it'd

[2016-12-06 12:31] jayvdb commented on #3160
Ya, that is what we need.
A test case would be nice.  Use a different attribute , not 'extensions', as that attribute has been added in a recent merge.  A crazy attribute name would be better.

[2016-12-06 13:24] Mixih commented on #3086
So do we go ahead and push this version voodoo?

[2016-12-06 13:25] Mixih commented on #3148
Sorry @Mariatta I missed your pull... Assigning you.

[2016-12-06 13:43] jayvdb commented on #3149
If `get_non_optional_settings` and `get_optional_settings` recurse, there needs to be a way to find out the non-recursive per-bear settings.

[2016-12-06 14:16] jayvdb commented on #3086
By versioned files, I am referring to the jars in https://github.com/coala/coala/issues/3086#issuecomment-264766296 .  They have explicit complete version numbers in them, and they will never ever change, touch wood.
Bugfixes would be part of a new release, which has a new URL.  No amount of improvements to our HTTP resource caching is going to improve how those uses of `download_cached_file`.

Ho

[2016-12-06 15:31] UMANIAX commented on #3164
hey can i be assigned this?

[2016-12-06 16:01] underyx opened #3169 "Allow actions to specify their own 'not applicable' messages"
If we have that, instead of

[code]

the warning could say

[code]

[2016-12-06 16:05] nemaniarjun commented on #3159
Can I take this up?

[2016-12-06 16:56] sils commented on #3149
@Makman2 any progress? I heard you had a solution? I'm not too eager on merging the workaround from @jayvdb if we can have the full fix with close to equal the effort.

[2016-12-06 17:00] sils commented on #3166
he could just give us a glob to python files `additional_languages = ...` that we'd import and then they'd get registered automatically right?

[2016-12-06 17:17] meetmangukiya commented on #3123
I'd like to be assigned this one...

[2016-12-06 20:48] dracarys09 commented on #3038
I would like to get assigned to this

[2016-12-06 21:09] nemaniarjun commented on #3131
I would like to give this a shot

[2016-12-07 00:35] jayvdb commented on #2894
Please see and understand https://github.com/coala/coala/issues/2894#issuecomment-256081579 , and read up on JSON schema.

In order to be usable by clients, offline, the schema needs to be packaged with coala .  I would put it in in coalib/ , and it needs to be loaded using `pkgutil` , and it needs to be added to be added to the `MANIFEST.in` , etc.  Do a `python setup.py sdist bdist_wheel` and th

[2016-12-07 00:40] jayvdb commented on #3131
@nemaniarjun , you're still working on two other tasks.  This task could easily have more analysis done (e.g. what other languages have generated files with standard suffix?), and design (where do we put this ignore list, which will grow?), which you could think about and post here to this issue.

[2016-12-07 01:35] jayvdb opened #3170 "UnicodeDecodeError details not logged"
Following on from https://github.com/coala/coala/issues/488 , now when a non-unicode file is encountered, a warning like the following is emitted.

[code]

The actual traceback contains important information which should also be logged.

[code]

And that is, for example, this line;

https://github.com/torvalds/linux/blob/2e41434/drivers/staging/rtl8188eu/include/odm.h#L718 , and github renders the

[2016-12-07 01:52] jayvdb opened #3171 "QuotesBear rejecting valid docstrings"
When adding this file
[code]

We see this error:

[code]

[2016-12-07 01:53] jayvdb commented on #3171
@underyx also reported something similar with this required change:

[code]

[2016-12-07 01:56] jayvdb commented on #3171
Moved to https://github.com/coala/coala-bears/issues/1104

[2016-12-07 01:56] #3171 closed

[2016-12-07 02:15] Makman2 commented on #3149
yes in fact we could use my `traverse_graph` function which is already fully tested and working on my branch. If you want we can already merge this part of the core, traverse each dependency and merge the parameters:
[code]

[2016-12-07 02:23] coala-bot opened #3172 "Need another alternative to Fixes/Closes"
Need a non-auto-closing term instead of 'Fixes' or 'Closes' for partial work which does not close the issue.

Not having this means the developers are omitting useful links to the issue with relevant background to the commit.

e.g. For a PR to coala , which has code that is a dependency of a bug fix to be submitted to coala-bears.

Opened via [gitter](https://gitter.im/coala/coala/?at=584772a6b4ff

[2016-12-07 02:25] Makman2 commented on #3166
I think this is something we should keep in the core. If someone has a new Language spec, we most likely want to merge it anyway.

[2016-12-07 02:55] jayvdb commented on #3166
Ya, and given that 0.9 already deprecated `coalang_dir`, I dont see the benefit of bringing them back.

Also, anyone really wanting to add their own `Language` can create their own bear which defines extra `Language`, which are auto-registered and are then available to be used everywhere.

That is probably enough?  Should we document that?  I am guessing they should define a `GlobalBear`, so that

[2016-12-07 06:37] dracarys09 commented on #3164
Hi, I would like to be assigned on this.

[2016-12-07 07:21] dracarys09 commented on #3164
@jayvdb I just want to confirm this... I'm supposed to delete the space after opening parenthesis and submit a pull request ?

[2016-12-07 07:26] jayvdb commented on #3164
Yes.

[2016-12-07 08:26] yukiisbored opened #3174 "Update documentation for Testing Bears"
The documentation for Testing Bears uses a deprecated module which is `tests.LocalBearTestHelper`. It should be changed into the new `coalib.testing.LocalBearTestHelper` to prevent new coala developers from using deprecated code.

[2016-12-07 09:04] sils commented on #3038
@dracarys09 @UMANIAX this issue already has an assignee

[2016-12-07 09:07] sils commented on #3149
we could just add dependencies in get_optional_settings recursively, that'd
be super easy and doesn't rely on that graph algorithm

[2016-12-07 09:10] sils commented on #3172
I usually use `Related to ...`

[2016-12-07 11:10] coala-bot opened #3176 "development releases on pypi should include the git sha in the README"
https://pypi.python.org/pypi/coala/0.10.0.dev20161207091805 should show which commit it is.  I assume it is 137d559121, I need to check timestamps of commits to be sure.

area/ci

Opened via [gitter](https://gitter.im/coala/coala/?at=5847ee1abe9d43bc632bfaf0) by @jayvdb

[2016-12-07 17:08] Abhisek- opened #3179 "Newcomers_Guide.rst: Fix broken links"
Some of the links in *Newcomers_Guide.rst* are broken and it points to old link which is not valid now.

Some of the line of the file are as follows (all from **see also** section)

* Line:97: Writing bears <http://coala.readthedocs.io/en/latest/Developers/Writing_Bears.html>
* Line:139: Executing tests <http://coala.readthedocs.io/en/latest/Developers/Executing_Tests.html>
* Line:223: Review Proc

[2016-12-07 17:11] Makman2 commented on #3149
oh yes that's for sure easier, let's do this 👍

[2016-12-07 21:08] RyuujenJakka commented on #3147
Can I be assigned this?

[2016-12-07 21:12] Nosferatul commented on #3147
Sure!

[2016-12-07 22:25] sils commented on #3086
@jayvdb maybe give the function a parameter? Doing user interaction at that point, since the bear class is technically outside coala, is very questionable IMO.

[2016-12-08 00:19] jayvdb commented on #3086
Ah, sorry I did not mean asking the user to confirm.  I meant that we should emit a warning that the file appears to be out of date, and tell them how to update it : i.e. URL of the file and where to save it.  As these are not managed file updates, we have no idea if they work.  This is user-beware territory.

And to move to managed downloads, at least for some of these files, we could add a BinTr

[2016-12-08 01:39] jayvdb commented on #2937
Is this blocked?  If so, what is it blocked by, and pls add a label.

[2016-12-08 08:36] dracarys09 commented on #3164
@jayvdb   I think I found the cause of this extra space after parenthesis. The reason is the way in which documentation of run() method of AnnotationBear.py
This is the way it is written as of now:  (all bears having this type of doc are showing this extra space)

:param language:
			The programming language of the source code.

Instead in other bears (eg. SpaceConsistencyBear) the documentation i

[2016-12-08 08:43] jayvdb commented on #3164
How many bears have this problem?

[2016-12-08 08:56] dracarys09 commented on #3164
All bears which are dependent on AnnotationBear  (QuotesBear, KeywordBear, IndentationBear). However changing only doc of run() method of AnnotationBear.py solves the problem for all these bears.

The same problem is present in CPDBear as well, however this is not dependent of AnnotationBear so to solve this we need to do the same in CPDBear's run() method doc.

Summary : We need to modify one lin

[2016-12-08 10:13] sils commented on #3086
FWIW "this could break bears" only applies if bears are already broken for some users right?

[2016-12-08 10:15] sils commented on #2937
Good question, @Adrianzatreanu ?

[2016-12-08 10:59] jayvdb commented on #3086
Correct; existing users with an old file should continue to use that unaffected by new potentially incompatible versions of the file being available.  New users would be only able to get the new version, and hopefully would report that it is broken.

But, as I've pointed out, we can avoid this problem entirely, for existing and new users, by fetching only versioned files, and using package manager

[2016-12-08 12:59] jayvdb commented on #3164
could you paste the diff of those two changes here . use three back-ticks before and after, so it is formatted correctly.
changing them is only a temportary workaround. it is probably good enough, but we also need a way to stop it happening again. (maybe that is a separate task.)

[2016-12-08 13:31] sils commented on #3086
agree, so no auto update mechanism and we switch to solid urls in all
places.

[2016-12-08 13:54] dracarys09 commented on #3164
``` this is sparta```

[2016-12-08 14:48] dracarys09 commented on #3164
[code]

[2016-12-08 14:48] Mixih commented on #3086
Got it... Closing issue as usecase is not logical

[2016-12-08 14:48] #3086 closed

[2016-12-08 14:53] dracarys09 commented on #3164
@jayvdb shall I go ahead and commit the changes and submit a PR ?

[2016-12-08 15:21] jayvdb commented on #3164
Im offline Atm. Pls ask on gitter

On Thu, 8 Dec 2016 21:53 Abhijeet Dubey, <notifications@github.com> wrote:

[2016-12-08 15:57] Abhisek- commented on #3049
Can I be assigned this issue ?

[2016-12-08 16:05] Nosferatul commented on #3049
go ahead!

[2016-12-08 16:06] Nosferatul commented on #3164
@dracarys09 you did one newcomer issue right? If so, move on a low one!

[2016-12-08 16:19] dracarys09 commented on #3164
@Nosferatul yes I did https://github.com/coala/coala-bears/issues/44

I'm currently working on https://github.com/coala/coala-bears/issues/1106 which is a low difficulty issue. But since I already made the changes to this one I thought of submitting a PR. Shall I go ahead and submit?

I was doing this in parallel and I think the changes needed to solve the issue are what I mentioned in my previous

[2016-12-08 16:26] Nosferatul commented on #3164
If you did the changes, make the pr.

[2016-12-08 17:01] dracarys09 commented on #3164
@Nosferatul As @jayvdb mentioned earlier in his comment https://github.com/coala/coala/issues/3164#issuecomment-265734307 changing them is only a temporary workaround. it is probably good enough, but we also need a way to stop it happening again. (maybe that is a separate task.)
As suggested by @sils the problem might be the parsing logic in DocumentationExtraction.py
I'm working on that but this

[2016-12-08 17:26] Nosferatul commented on #3164
That makes sens

[2016-12-08 17:26] Nosferatul commented on #3164
DocumentationExtraction.py is in coala

[2016-12-08 17:42] dracarys09 commented on #3164
@Nosferatul DocumentationExtraction.py is in coala but temporary workaround as discussed with jayvdb needs modifying AnnotationBear.py which is in coala-bears.
What should I do ?

[2016-12-08 17:48] Nosferatul commented on #3164
Ok, if you discussed it, do the changes in AnnotationBear.py as you speaked with jayvdb

[2016-12-08 18:42] Nosferatul commented on #3164
https://github.com/coala/coala-bears/issues/1109. You are assigned!

[2016-12-08 19:34] RyuujenJakka commented on #3147
@Nosferatul Thanks!

[2016-12-08 20:16] dracarys09 commented on #3164
Submitted PR for https://github.com/coala/coala-bears/issues/1109

[2016-12-08 21:13] ashwini0529 commented on #3179
I can take this up.

[2016-12-09 05:09] Abhisek- commented on #3049
as @Makman2 said, I am going to put the `typechain` function in `coalib/bearlib/types/Annotations.py`. I'm not sure what `path` he is talking about ? I didn't find any `path` function which is bear specific! Can you en-light me on this more ?

[2016-12-09 07:51] hemangsk commented on #3174
I would like fix this 😃

[2016-12-09 07:54] namanyadav12 commented on #3154
Hi. Can i be assigned be this issue ?

[2016-12-09 08:03] jayvdb commented on #2884
Wow, sorry for not seeing your request sooner.  Happy hacking.

[2016-12-09 08:04] jayvdb commented on #3154
I've assigned you to https://github.com/coala/docker-coala-base/issues/34 first.  Once that is done, this would be a good second bug to complete.  Happy hacking.

[2016-12-09 08:49] jayvdb commented on #2752
This isnt fixed for [precise golang 2:1-5](https://travis-ci.org/jayvdb/coala/jobs/182524961#L255) or trusty [golang 2:1.2.1](https://travis-ci.org/jayvdb/coala/jobs/182525735#L446).

[2016-12-09 09:13] jayvdb commented on #2290
I've put this at medium difficulty as I dont know how difficult it might be.
But if this issue is only about the Bear suffix in CLI/config, a low difficulty approach would be to add the missing Bear suffix in the CLI/config loading phase, so that the internal data structures all continue to have the same Bear suffix and thus should not break.

[2016-12-09 09:58] jayvdb opened #3182 "DiffTest.py:189: python3: undefined symbol: clang_annotateTokens"
https://travis-ci.org/jayvdb/coala/builds/182528852 - Trusty build

[code]

[2016-12-09 10:20] jayvdb opened #3183 "docs-requirements.txt partially incompatible with pip 6.0.7"
b3f66025 updated `test-requirements.txt` to include requirements.txt, and pip doesnt like processing these together, and fails to avoid a cyclic inclusion path.

[code]
from https://travis-ci.org/jayvdb/coala/builds/182529779

There are several ways to work around this, and many dont require any changes to the repo, and most people will never encounter this.

Do we have a minimum version of pip we

[2016-12-09 10:21] Makman2 commented on #3049
I mean the one in `coalib.Setting`, though nvm `path`, this looks slightly more complicated than I've thought^^
And as this and other "types" are in the `coalib.Setting` module, maybe `type_chain` belongs there too? I'm really unsure...
Okay decided, let's put `type_chain` into `coalib.Setting`, and not into `coalib.bearlib.types` :+1:

[2016-12-09 10:25] jayvdb opened #3184 "pytest plugin xdist.looponfail could not be loaded due to installed py 1.4.26"
[code]
from https://travis-ci.org/jayvdb/coala/builds/182542215

Adding `pip install -U py==1.4.29` beforehand fixes the problem.
But it feels like there is a missing dependency upstream somewhere.

[2016-12-09 11:34] Makman2 commented on #2190
My last approach was kind of problematic and turned out bad, also I believe we don't really need this.

[2016-12-09 11:34] #2190 closed

[2016-12-09 11:35] Makman2 commented on #2536
They are generated properly now.

[2016-12-09 11:35] #2536 closed

[2016-12-09 13:10] jayvdb opened #3187 "Upgrade libclang-py3 from 0.2 to 3.4"
Currently we are using 0.2, which is clang 3.4 compatible, however that is a deprecated versioning system.

The [libclang-py3 versions](https://pypi.python.org/simple/libclang-py3/) now match the clang versions.
libclang-py3-3.4 = clang-3.4
libclang-py3-3.6 = clang-3.6
libclang-py3-3.8.1 = clang-3.8
libclang-py3-3.9 = clang-3.9

We should be using `libclang-py3==3.4.*`

[2016-12-09 13:27] jayvdb commented on #3182
This is caused by the Travis workers having a different clang installed.
The first step is to use the correct python package version; ala https://github.com/coala/coala/issues/3187 .
Then I do not know how we support multiple versions of clang , except to remove the versioned requirement of libclang-py3 , allowing it to be whatever the user needs to install in order to match their clang version.

[2016-12-09 15:18] #3187 closed

[2016-12-09 15:20] jayvdb opened #3191 "Allow Travis-CI builds"
We've had some problems with Circle CI, so we need an alternative ATM.

[2016-12-09 15:21] Mixih commented on #3191
Also look into drone.io adtac seem to recommend it.

[2016-12-09 16:37] adtac commented on #3176
I propose we use epoch time instead of the yyyymmddhhmmss format which is too long (epoch is 4 chars shorter). We could also have a custom epoch-like format since we don't really need the number of seconds since Jan 1 1970. Something since 2000 will suffice too IMO.

And we could append the sha at the end so as to not break sortability :+1:

[2016-12-09 16:39] adtac commented on #3176
Actually, a better alternative would be the number of minutes or something if we want something shorter than post-2000 epoch (instead of seconds, which will reach the same length as the current epoch in 16 years time).

[2016-12-09 17:06] adtac commented on #3127
I think we should use `coala.io/bugs` instead of a subdomain which doesn't exactly make sense if we don't have our own issue tracker platform.

And @chauffer is our devops guy :)

[2016-12-09 17:07] adtac commented on #3127
@yash-nisar that link looks good :+1:

[2016-12-09 17:14] adtac commented on #2798
@rajdeep1008 ping :) Any progress?

[2016-12-09 17:16] adtac commented on #2464
@RaitoBezarius ping :) still working on this?

[2016-12-09 17:21] RaitoBezarius commented on #2464
@jayvdb @adtac My bad, in fact, I didn't finished, so I'll purge all what is left on my working tree so that someone can continue the work. I think that some discussion had to be done at some point regarding how to deal with some edge cases. (don't hesitate to ping me if I forgot to do it…)

[2016-12-09 17:23] adtac commented on #2464
that's cool, push what you have if you'd like someone else to take over :+1:

[2016-12-09 19:00] yash-nisar commented on #3127
So should we assign this to @chauffer, @adtac ?

[2016-12-09 19:15] meetmangukiya commented on #3154
I digged a bit, and it seems to be a problem in https://github.com/coala/coala/blob/b02883a7a4abb9e98d85d28fa21617def1e88268/coalib/coala.py#L77
The `if` block makes it either `--ci` or `--format`, since they are considered two different modes..

[2016-12-09 19:24] shrutishrm512 commented on #3154
Hello, please assign this bug to me !

[2016-12-10 00:28] jayvdb opened #3199 "Sphinx docs warning"
Using Sphinx v1.4.9, which we should be doing anyway ...

[code]
https://travis-ci.org/coala/coala/jobs/182618295#L1867

This is blocking Travis CI.

[2016-12-10 00:43] jayvdb commented on #3199
I believe the problem is that `Writing_Tests.rst` should be linking to `Executing_Tests.rst`, but that was broken due to a rename somewhere.

[code]

Also importantly, we should find out why it is broken yet the builds are green, and prevent it occurring again.

[2016-12-10 00:45] jayvdb opened #3200 "Upgrade Sphinx to 1.4.9"
Currently Sphinx is pinned to 1.4.8.  We should be upgrading.

[2016-12-10 01:09] Mixih commented on #3199
I'm on it

[2016-12-10 01:22] jayvdb commented on #3199
https://github.com/coala/coala/issues/3200 doesnt turn the build red, so there is some other problem with the Circle builds, preventing this RST syntax from being an error.

[2016-12-10 01:59] Mixih commented on #3199
so it's not an error?

[2016-12-10 03:41] Mixih commented on #3199
I've pinned down this issue to build #9298 (https://circleci.com/gh/coala/coala/9398) (commit a0f9cba) which first introduced this issue. Even thought he docs started failing to build, circle ignored the exit code. Here is the docs output log from circle:

[code]

[2016-12-10 06:20] adtac commented on #3127
If he'd like to take it.

[2016-12-10 07:32] jayvdb commented on #3199
It is an error. But Circle isnt detecting it.

[2016-12-10 07:39] yash-nisar commented on #3127
Will you do this @chauffer ?

[2016-12-10 12:44] coala-bot opened #3203 "https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html should include the keyword guideline"
Opened via [gitter](https://gitter.im/coala/coala/?at=584bf8a7bb7d528222de9661) by @jayvdb

[2016-12-10 12:51] venky18 commented on #3150
is this is the correct procedure?
1. **rebranch to a new branch name**

     git checkout branch1

2. **rewind your master**

      git checkout master
      git reset --hard commit_no
3. **resync your master**

     git remote add upstream https://github.com/whoever/whatever.git
     git fetch upstream

4. **rebase your new branch**

      git checkout branch1
      git rebase master

[2016-12-10 12:54] shrutishrm512 commented on #3154
Changing line 77 as
`if args.format or args.ci:`
then this statement can be correct?

[2016-12-10 13:15] jayvdb commented on #3154
line 77 of which file?  Please give a link so I can quickly answer.

[2016-12-10 13:22] jayvdb commented on #3154
AH; ignore me; I see your PR now.  sorry.

[2016-12-10 13:24] shrutishrm512 commented on #3154
Line 77 in coala/coalib/coala.py
https://github.com/coala/coala/blob/b02883a7a4abb9e98d85d28fa21617def1e88268/coalib/coala.py#L77

[2016-12-10 13:26] jayvdb commented on #3154
ok, that wont work.  Above it is `if args.non_interactive: return ..` so line 77 is never executed.

[2016-12-10 13:48] jayvdb commented on #3200
Hunted down the reason for this.
rstcheck depended on Sphinx, so coala-bears depends on Sphinx
https://pypi.python.org/pypi/Sphinx 1.5 was released a few days ago, and it didnt work with rstcheck (https://github.com/myint/rstcheck/issues/18 ).  So then their version of Sphinx conflicting with our required version of Sphinx.

https://github.com/myint/rstcheck/pull/20 solves that, and they also made

[2016-12-10 13:50] sils commented on #3200
@jayvdb so for now the commit is fine but shouldn't close this issue?

[2016-12-10 14:12] #3199 closed

[2016-12-10 14:12] #3165 closed

[2016-12-10 14:12] #3179 closed

[2016-12-10 14:12] #3200 closed

[2016-12-10 17:28] #3191 closed

[2016-12-10 17:40] Makman2 commented on #3176
I think a git sha is more useful than the minute count^^ This allows to directly link to the right commit^^

[2016-12-10 19:04] Mixih opened #3212 "Removal of autoapply in run_coala causes difficulty when using coala in a serverside checking application"
The removal of auto-apply parameter from run_coala means that coala still auto applies applies it's actions when run from run_coala. We need to have a way for the user to disable auto-patch application so coala can be used to show code errors, not fix them. (This almost broke gitmate)

[2016-12-10 19:10] Mixih opened #3213 "[hotfix] Remove the default_actions settings from the coafile[patched]"
The latest version of coala has removed support for the apply_patch_action setting. This prevents gitmate from raising issues about patch actions which were applied. Until this gets fixed in coala, we need to remove the default_actions because coala (and thus gitmate) will be applying them. This will need to be rolled back when #3212 is patched.

[2016-12-10 19:33] sils commented on #3212
marking critical importance because this affects gitmate and thus also us!

[2016-12-10 19:33] sils commented on #3212
CC @fneu @seblat or anyone really, if you have time, fix this please

[2016-12-10 19:50] #3049 closed

[2016-12-10 19:50] #3132 closed

[2016-12-10 19:50] #3174 closed

[2016-12-10 19:50] Mixih commented on #3212
decided to add `autoapply` parameter. default it to true, when false, don't apply action.
per gitter https://gitter.im/coala/coala?at=584c5c47c29531ac5d480430

[2016-12-10 19:51] Mixih commented on #3213
Open to keep track of this issue

[2016-12-10 20:05] sils commented on #3213
to readd it once gitmate is fixed?

[2016-12-10 22:00] coala-bot opened #3217 "Move some GCI tasks to our documentation and link to them from newcomers guide"
CC @jayvdb most of that stuff is generally applicable and we should have guides like that anyway :)

CC @Adrianzatreanu for our hackathon

Opened via [gitter](https://gitter.im/coala/coala/?at=584c7b07f666c5a138f825ac) by @sils

[2016-12-10 23:30] jayvdb commented on #3217
When is the hackathon?

[2016-12-10 23:37] Mixih commented on #3213
Yup!

[2016-12-10 23:39] Mixih commented on #3172
Marking as a docs issue as the "related to" closing should be added to coala git docs

[2016-12-11 00:10] jayvdb commented on #3217
Where possible, the primary wiki author should be the one to commit the text to the main repo, to maintain attribution and ensure it is "ready" to be moved from the wiki.

This is moving to coala/documentation?

[2016-12-11 05:39] Mixih commented on #3212
I advise we patch coala-incremental for now as it's critical and testing will be a mess. It's appearently a tiny workaround there that will be easy to implement. https://gitter.im/coala/coala?at=584c59ccaeb49008046ff5d0

[2016-12-11 08:27] ashwini0529 commented on #2649
Hey. Can you explain me how the `add_line` functionality would work? And which files do I need to change?

[2016-12-11 08:45] Nosferatul commented on #2649
check Diff.py. `add_line` needs to add a single line, we have already the `add_lines`

[2016-12-11 08:56] ashwini0529 commented on #2649
So, I've tried. Will this work or something more needs to be added?

![selection_026](https://cloud.githubusercontent.com/assets/8419333/21079126/bc3cdc84-bfad-11e6-9947-27cb3d26e675.png)

[2016-12-11 09:32] shubhamswain commented on #3016
Hey @sils can I be assigned this if @rahul-kumi isn't working on this now?

[2016-12-11 09:36] Nosferatul commented on #3016
@shubhamswain please don't ping for such a task, just comment on the issue you want to be assigned 😄 .
@rahul-kumi  are you working on it?

[2016-12-11 10:06] adtac commented on #3176
But if we just use a git-sha, we can't do stuff like `coala >= 0.9.0.dev<sha>` because we can't guarantee that SHAs will be lexicographically sorted (maybe I understood you wrongly?).

[2016-12-11 10:32] coala-bot opened #3219 "Add default implementation for check_prerequisites using the BEAR_DEPS and REQUIREMENTS"
Just call the check_prerequisites of every dependency and check all requirements. CC @fneu @Adrianzatreanu because of he (not ongoing) requirements refactoring.

Opened via [gitter](https://gitter.im/coala/coala/?at=584d2b54c29531ac5d4b58f6) by @sils

[2016-12-11 10:39] arush0311 commented on #3219
@sils these two issues( https://github.com/coala/coala-bears/issues/432 & https://github.com/coala/coala/issues/2360 ) can be solved by this, I think

[2016-12-11 10:42] madan96 commented on #2085
I would like to take up this issue.

[2016-12-11 10:43] sils commented on #2360
closing this in favour of https://github.com/coala/coala/issues/3219 which will solve this.

[2016-12-11 10:43] #2360 closed

[2016-12-11 10:48] sils commented on #3217
No, developer docs are in this repo together with the API docs.

Hackathon is next weekend. We'll have presentations on thursday live streamed to a bigmarker event.

[2016-12-11 10:50] arush0311 commented on #3219
I am taking this.

[2016-12-11 10:58] arush0311 commented on #3219
All the bears that implement check_prequisites() will have to be refactored.
@sils what type of error message should be displayed for unmet system dependencies?
For bear dependencies I am assuming ( <bear_name> is required for <bear_name>. To install bear_name use `cib install <bear_name>`).

[2016-12-11 11:05] sils commented on #3219
nah, ich check_prerequisites is called the bear is already installed, you'll rather want to do something like `<missing_binary> is required for <bear_name>. Use <install_command> to install it.`

[2016-12-11 11:07] arush0311 commented on #3219
I am taking about BEAR_DEPENDENCIES

[2016-12-11 12:31] ashwini0529 commented on #3142
I didn't get this issue? What does that mean?

[2016-12-11 12:58] Mariatta commented on #3142
The task is to add a section in Newcomers guide documentation, telling newcomers to fill in a survey after they've completed their first issue.

[2016-12-11 13:00] ashwini0529 commented on #3142
I can take this up

[2016-12-11 14:26] Mariatta commented on #3142
Assigned, and thanks for working on it.
The survey is at coala.io/newform

[2016-12-11 15:43] sils opened #3221 "can't run coala with -c param"
[code]

[2016-12-11 16:15] meetmangukiya commented on #3221
I think `coala` expects a config file and the directory is being passed `app/` as suggested by the `metavar`
[code]

[2016-12-11 16:37] sils commented on #3221
it should support directories as well, I wrote the support for that

[2016-12-11 17:32] Projjol commented on #2798
If this is open may I take it up? :)

[2016-12-11 17:41] sils commented on #2798
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-12-11 17:41] sils commented on #2798
Unassigning @rajdeep1008 due to inactivity.

[2016-12-11 18:12] Nosferatul commented on #3016
@rahul-kumi unassigned because of the long period of inactivity

[2016-12-11 18:13] rajdeep1008 commented on #2798
@sils
Sorry, was almost off from this.
Its totally cool with me, i'll catch up with some other newcomer issue after exams.

[2016-12-11 19:32] Makman2 commented on #3176
this is issue is about putting that into the README, not into the package name :)

[2016-12-11 21:50] coala-bot opened #3224 "Define shortcut types for `typed_list`"
like `str_list`, `int_list` etc etc

Opened via [gitter](https://gitter.im/coala/coala/?at=584dca26f666c5a138fd98e6) by @Makman2

[2016-12-11 21:53] Makman2 commented on #3224
And obviously use those types in existing bears in [coala-bears](https://github.com/coala/coala-bears) :+1:

[2016-12-12 04:13] jayvdb commented on #3217
ok, ill PR it tonight.

[2016-12-12 04:41] Mariatta opened #3225 "Add dev doc about what python features to read up on"
_From @coala-bot on November 21, 2016 17:58_

- decorators
- classes of course
- Mixins
- Metaclasses (for the language stuff)

...?

Opened via [gitter](https://gitter.im/coala/coala/?at=583335c0c790e0ec5613b777) by @sils

_Copied from original issue: coala/documentation#325_

[2016-12-12 04:41] Mariatta opened #3226 "Developers/Writing_Good_Commits: replace imperative tense with present tense imperative mood"
_From @coala-bot on November 19, 2016 1:16_

imperative tense doesnt exist, and some languages have imperatives in non-present tense.  Maybe link to https://en.wikipedia.org/wiki/Imperative_mood

Opened via [gitter](https://gitter.im/coala/coala/?at=582fa7f9e712c9a1188536c0) by @jayvdb

_Copied from original issue: coala/documentation#310_

[2016-12-12 04:42] Mariatta opened #3227 "rename Writing_Bears to Writing_Native_Bears"
_From @coala-bot on November 15, 2016 12:53_

difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=582b055fe462097a305092c0) by @jayvdb

_Copied from original issue: coala/documentation#304_

[2016-12-12 04:42] Mariatta commented on #3227
_From @sils on November 15, 2016 12:54_

Careful with that, we have a lot of links pointing to that, @chauffer will have to edit coala.io/writingbears shortcut (or tell me how to do it, it seems the config has moved or something)

[2016-12-12 04:42] Mariatta commented on #3227
_From @jayvdb on November 15, 2016 13:18_

There should be a link checker on the config file, where-ever it is ;-)

[2016-12-12 04:42] Mariatta commented on #3227
_From @jayvdb on November 15, 2016 13:19_

however, more importantly, there should be a redirect from the old page name to the new page name.

[2016-12-12 04:42] Mariatta commented on #3227
_From @sils on November 15, 2016 13:55_

AFAIK we can't do redirects on readthedocs, we do have the coala.io shortlinks that are set up for that purpose: when a URL changes we can change where it points to.

Link checker should be rst aware, InvalidLinkBear only works for already published resources. Not sure we have a bear for that.

[2016-12-12 04:42] Mariatta commented on #3227
_From @sergiuiso on November 19, 2016 13:10_

I would like to work on this

[2016-12-12 04:42] Mariatta opened #3228 "create page about cobot"
_From @coala-bot on November 15, 2016 12:45_

Opened via [gitter](https://gitter.im/coala/coala/?at=582b0350bd2f135f1a1e3c5c) by @jayvdb

_Copied from original issue: coala/documentation#303_

[2016-12-12 04:42] Mariatta commented on #3228
I assume this is for the Developers section?

[2016-12-12 04:43] Mariatta opened #3229 "Newcomer guide should tell people to become "developer"s"
_From @coala-bot on November 13, 2016 19:57_

See discussion above. difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5828c5a3e462097a304463df) by @sils

_Copied from original issue: coala/documentation#301_

[2016-12-12 04:43] Mariatta commented on #3229
_From @rahul-kumi on November 18, 2016 17:6_

hey, I would like to work on this issue, can i be assigned to it.

[2016-12-12 04:43] Mariatta commented on #3229
_From @MihneaVorovenci on November 19, 2016 14:2_

Assign me this issue.

[2016-12-12 04:43] Mariatta commented on #3229
_From @sils on November 19, 2016 14:16_

this issue is already taken @MihneaVorovenci

[2016-12-12 05:20] jayvdb commented on #3228
yes

[2016-12-12 07:14] skarode96 commented on #3224
@Makman2  can you assign me this issue ? and can you please ellaborate the problem, and get me started with contributing to open-source !

[2016-12-12 09:12] shubhamswain commented on #3016
Is this okay? I've taken this from `ConfigurationGathering.py`
[code]

[2016-12-12 09:20] Makman2 commented on #3224
`typed_list` is used to annotate bears that accept a list as argument for a setting. As the name suggerates, it can parse any type (e.g. `typed_list(str)`).  For common types there should be aliases defined like mentioned above.

[2016-12-12 09:22] tulphoon commented on #3016
@shubhamswain I think it's okay. You should open a Pull Request referencing this issue though.

[2016-12-12 09:22] Makman2 commented on #3224
For getting started, please read our guides at http://api.coala.io and http://docs.coala.io

[2016-12-12 09:26] Makman2 commented on #3227
Hm not sure about this title, when I read "native" I think more about C/C++ ^^

[2016-12-12 09:40] Makman2 commented on #3225
I think decorators, classes and **context managers** are important. Maybe also descriptors, though we use them nearly not at all^^

[2016-12-12 12:39] arush0311 commented on #3169
Can I take this?

[2016-12-12 13:35] shrutishrm512 commented on #3154
`if args.format:` line never executes due to `if args.non_interactive:` so i made changes in if block such that both will execute as per my understanding, but i also want to ask about that

[2016-12-12 15:53] jayvdb commented on #3225
context managers, decorators, and even metaclasses concepts you can "pick up" while playing with coala code, and a brief explanation in the docs will be sufficient for many people, with some additional help available  on gitter.

However, IMO , OO basics (i.e. classes) should be clearly stated as a pre-requisite for doing difficulty/medium or higher tasks.  Either you know it, or you figure it out

[2016-12-12 15:54] Makman2 commented on #3225
Oh and coroutines :)

[2016-12-12 18:34] artemvirused opened #3231 "Why are Coala does not pass a set of its own tests?"
Why are Coala does not pass a set of its own tests?
For example,
[code]
[code]

[code]
and many more...

[2016-12-12 19:37] Nosferatul commented on #2335
@mgracer48 are you still on it?

[2016-12-12 19:44] Nosferatul commented on #2573
@nsgonultas are you still working on this?

[2016-12-12 19:45] Nosferatul commented on #2663
@yash-nisar are you still on it?

[2016-12-12 19:59] Nosferatul commented on #2683
@ankitjavalkar are you working on it?

[2016-12-12 20:01] Nosferatul commented on #2698
@mayank26saxena still on it?

[2016-12-12 20:09] Makman2 commented on #2335
Invalid, dbus interface was removed.

[2016-12-12 20:09] #2335 closed

[2016-12-12 20:17] Makman2 commented on #3231
What did you execute? A normal run of coala in the root directory yields no results for me on most recent master^^ (btw I see you are linting against 0.8.1^^)

[2016-12-12 20:23] artemvirused commented on #3231
Really? I just started coala with such a configuration
[code]

[2016-12-12 20:36] Makman2 commented on #3231
aaahh please run with our own coafile, we know that we are not compliant with every aspect our bears do support or PEP8 (like redefinings from outer scope), you can run our coafile by cloning our repo and just run `coala` from the repo root.

We try to be compliant as possible, if you have reasonable codestyle fixes, you can file an issue or submit a PR :)

If you have nothing against it, I would

[2016-12-12 20:36] #3231 closed

[2016-12-13 05:21] jayvdb commented on #2573
Isnt this solved by `Bear.LANGUAGES`.  The coala bear runner can emit a nice message, once, if a bear's `LANGUAGES` does not support the value in the user provided `language=*` parameter .

[2016-12-13 06:08] ashwini0529 opened #3232 "Update Newcomer guide link from http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html to http://api.coala.io/en/latest/Developers/Newcomers_Guide.html"
Update Newcomer guide link from http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html to http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2016-12-13 06:13] ap916 commented on #3232
Assign this to me, Please.

[2016-12-13 08:20] ap916 commented on #3232
@ashwini0529 I've submitted a pull request. Would you please take a look.

[2016-12-13 08:23] jayvdb commented on #3154
Anyone picking up this issue, please first do a little analysis before coding.

[2016-12-13 08:40] arush0311 commented on #3169
Hey! Can you tell me where the resultAction are applied, i mean what class calls the apply method of resultAction?

[2016-12-13 08:59] arush0311 commented on #3169
Nevermind! found it in processing.py

[2016-12-13 09:56] arush0311 commented on #3169
So, I have to first create a not_applicable property in each action class containing the text string to be displayed. is that the right approach?

[2016-12-13 10:17] sils commented on #3169
I'd rather return the reason as string in the is_applicable function.

[2016-12-13 10:22] RyuujenJakka commented on #3017
Can I be assigned this?

[2016-12-13 10:29] ap916 commented on #3020
As the default value is already there in the last column, would changing the `str_optional = "Optional, defaults to '{}'."` to just `"Optional"` do the trick. After removing the string concatenation, of course.
The tests would need to be edited too.

[2016-12-13 10:39] arush0311 commented on #3169
What should be the not_applicable messages for all the actions?

[2016-12-13 13:27] Makman2 commented on #2573
this is about general settings @jayvdb , for example for linters that only support 2 spaces tabwidth^^ (like some of your issues have required from some bears :D)

[2016-12-13 13:56] jayvdb commented on #2573
Ah. The opening issue message was about languages.
The problem with most args is that they depend on other args. I.e. google style rules are incompatible with strange tab widths, but even there we could create a custom dynamic style using google+strangetabs. So our new error could actually be NotImplemented.

A good use case would be use use_space, as some langs and linters have mandatory rule for

[2016-12-13 14:37] Makman2 commented on #2573
I'm still in favour of having a function for that to prevent complete bear execution to avoid thousands of log messages. Especially the nextgen core is not able to stop spawned tasks (okay it should be possible, but makes things certainly harder and I don't want to support this).

[2016-12-13 14:40] Makman2 commented on #3169
yes

[2016-12-13 15:55] jayvdb opened #3236 "DistributionRequirement should have a version for the required component"
All dependencies should have minimum versions, including those only installable via the OS package manager.

[2016-12-13 15:59] jayvdb opened #3237 "Create CabalRequirement for Haskell packages"
coalib/bears/requirements/ has lots of lovely package managers, but not one for Haskell.

[2016-12-13 17:39] #3016 closed

[2016-12-13 19:12] #2649 closed

[2016-12-13 20:30] Nosferatul commented on #2683
unassigned due inactivity

[2016-12-13 20:32] Nosferatul commented on #2698
unassigned due inactivity

[2016-12-13 22:32] ashwini0529 opened #3239 "Newcomers_Guide: Fix broken links"
- [ ] Fix `Git Basics` link under [this](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst#optional-get-help-with-git)
- [ ] Fix `Writing Good Commits` link under [this](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst#step-3-picking-up-an-issue)
- [ ] Fix `Review` link under [this](https://github.com/coala/coala/blob/master/docs/Developer

[2016-12-13 22:53] nemaniarjun commented on #2894
@sils Sorry this is taking too long, I understand now what @jayvdb commented.
Just one last doubt, should I use the schema you commented? Or do you want me to generate a new one from somewhere else?

[2016-12-13 23:43] #3142 closed

[2016-12-14 03:31] #3232 closed

[2016-12-14 04:13] rgreinho opened #3241 "YAPFBear default settings are not identical to upstream YAPF"
YAPFBear, ``space_between_ending_comma_and_closing_bracket`` has a default of `false`
(https://github.com/coala/coala-bears/blob/master/bears/python/YapfBear.py#L41), whereas
the upstream YAPF setting has a default of `true`
(https://github.com/google/yapf/blob/556f9155db15db18e972655ec6f79d7f4c9a6c6c/yapf/yapflib/style.py#L194)

[2016-12-14 04:20] coala-bot opened #3242 ".coafile: add PycodestyleBear"
It should be run after PEP8Bear, and will find problems not found by the older PEP8Bear

Opened via [gitter](https://gitter.im/coala/coala/?at=5850c870b4ffd59e3826fa8f) by @jayvdb

[2016-12-14 04:37] Mariatta opened #3244 "coala.io/commits elaborate on why we enforce length"
_From @coala-bot on November 10, 2016 11:41_

Our explanations aren't really good, we should add stuff as described at https://bugzilla.gnome.org/show_bug.cgi?id=756311#c88 , I think that's better

Opened via [gitter](https://gitter.im/coala/coala/?at=58245cd1df5ae966453c15fb) by @sils

_Copied from original issue: coala/documentation#290_

[2016-12-14 04:38] Mariatta opened #3245 "Missing documentation on how to document a bear"
_From @NiklasMM on November 1, 2016 11:2_

As a newbie who is writing his first bear, I'm missing some guidance on how to document a bear.
The `Writing a Bear` guide should probably include this or it should be it's own section, so `Writing Linter Bears` can link to it too.

_Copied from original issue: coala/documentation#271_

[2016-12-14 04:38] Mariatta opened #3246 "Make some QA like troubleshooting guide for newcomer PRs, like oshitgit.com"
_From @coala-bot on October 31, 2016 11:42_

Thanks for this idea o @amelzer

Opened via [gitter](https://gitter.im/coala/coala/?at=58172e0b8ed1c0ff5c492a10) by @sils

_Copied from original issue: coala/documentation#270_

[2016-12-14 04:39] Mariatta opened #3247 "Add review "confirmation" policy to review docs"
_From @coala-bot on October 31, 2016 8:22_

yes, that's the policy. Sometimes people want to "check off" items they have addressed while working on it, recommendation is to use thumbs up

difficulty newcomers, see the discussion

Opened via [gitter](https://gitter.im/coala/coala/?at=5816ff620e25dbfa117d4375) by @sils

_Copied from original issue: coala/documentation#265_

[2016-12-14 04:40] Mariatta commented on #3247
_From @cristinabuciu on November 19, 2016 13:50_

I would like to work on this

[2016-12-14 04:40] Mariatta opened #3248 "Writing Good Commits: missing blank lines"
_From @jayvdb on October 30, 2016 7:11_

[code]

The above error is misleading.  The problem is that an extra blank line is needed.

_Copied from original issue: coala/documentation#248_

[2016-12-14 04:41] Mariatta opened #3249 "Review.rst enumerated list syntax problem"
_From @jayvdb on October 29, 2016 14:24_

[code]

The blocks in `5.` are not indented, so it thinks `6.` is a new list.

_Copied from original issue: coala/documentation#242_

[2016-12-14 04:41] Mariatta commented on #3249
_From @charlesBak on October 30, 2016 6:40_

hi @jayvdb can you please explain the issue?

[2016-12-14 04:41] Mariatta commented on #3249
_From @jayvdb on October 30, 2016 7:13_

@charlesBak , please look at the relevant section of the file, and try to fix the syntax.  You may need to read about the syntax of reStructuredSyntax to understand the problem.

[2016-12-14 04:41] Mariatta commented on #3249
_From @mihai-burduselu on November 19, 2016 14:53_

Assign me this!

[2016-12-14 04:41] Mariatta commented on #3249
_From @Adrianzatreanu on November 19, 2016 15:17_

hey @mihai-burduselu you have not accepted our invitation, please check your mail ( i cannot assign you )

[2016-12-14 04:41] Mariatta commented on #3249
_From @mihai-burduselu on November 19, 2016 15:21_

done, sorry :)

[2016-12-14 04:49] Mariatta opened #3250 "Newcomer guide should invite users to solve difficulty/low issues as well"
_From @sils on October 29, 2016 10:24_

_From @justuswilhelm on October 29, 2016 7:27_

Lasse suggested this and I agree. Devs that are already familiar with how OSS contribution works can already start hacking on difficulty/low issues!

_Copied from original issue: coala/coala#2916_

_Copied from original issue: coala/documentation#239_

[2016-12-14 04:49] Mariatta commented on #3250
_From @sils on October 29, 2016 10:24_

_From @justuswilhelm on October 29, 2016 10:20_

Perhaps this issue should be in the documentation repository...

[2016-12-14 04:49] Mariatta commented on #3250
_From @yash-nisar on October 31, 2016 4:6_

@sils @Adrianzatreanu  There are 2 instances of the following Note:

What about replacing one Note with the following ?

[2016-12-14 04:49] Mariatta commented on #3250
_From @jayvdb on October 31, 2016 7:8_

Experienced devs often dont know how to write good patches.

IMO, rather than jumping to low tasks, IMO experienced devs should jump to reviewing some patches first.  Then they are working beside other reviewers, and will pick up some rules they were not aware of.

[2016-12-14 04:49] Mariatta commented on #3250
_From @yash-nisar on October 31, 2016 7:15_

@jayvdb I completely agree with you. How about renaming the issue to

and then we can move on to a difficulty/low issue.

[2016-12-14 04:49] Mariatta commented on #3250
_From @Adrianzatreanu on October 31, 2016 8:3_

I've happened to see even experienced devs that struggled with rebases and stuff, so it might not be wise to ask them to start with low.

However, if im not mistaken, we have a PR open that changed the newcomers guide a little and expressed what a newcomer needs to do, quite nicely, and im not sure if it is merged, cuz if it isnt, i think you should

[2016-12-14 04:49] Mariatta commented on #3250
_From @yash-nisar on October 31, 2016 8:10_

Sure !

[2016-12-14 04:49] Mariatta opened #3251 "Add checklist from gitmate comment to newcomers guide"
_From @coala-bot on October 26, 2016 12:55_

As suggested in https://github.com/coala/coala-bears/issues/25#issuecomment-256336931

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5810a7d30a2d07ff1190d691) by @sils

_Copied from original issue: coala/documentation#222_

[2016-12-14 04:49] Mariatta commented on #3251
_From @sils on October 26, 2016 12:56_

CC @kerstin

[2016-12-14 04:49] Mariatta commented on #3251
_From @kerstin on October 26, 2016 13:17_

Related: maybe it would make sense to also add a `CONTRIBUTING` file to the repository? See [GitHub's explanation](https://github.com/blog/1184-contributing-guidelines) of what that does.

It wouldn't have to duplicate all the info from the Newcomers Guide but could contain e.g. the Gitmate checklist and then link to the Newcomers Guide or similar.

[2016-12-14 04:49] Mariatta commented on #3251
_From @AbdealiJK on October 29, 2016 2:45_

Numpy does this cool thing where when you make a PR there is some text auto filled in the description of the PR and it has a checklist. Do it there please ! (I think it's better than CONTRIBUTING)

[2016-12-14 04:49] Mariatta commented on #3251
_From @sils on October 29, 2016 9:23_

nice! Yes! Yes!

[2016-12-14 04:49] Mariatta commented on #3251
_From @kerstin on October 29, 2016 10:31_

@AbdealiJK What's nice about the CONTRIBUTING file is that it sits at the root of the repo, so even if you are not involved in making issues or PRs yet, you will immediately see it when you have even a casual look at the repo's contents, so even before reading the README. And according to GitHub's info, it is also automatically linked from Issues, not jus

[2016-12-14 04:49] Mariatta commented on #3251
_From @AbdealiJK on October 29, 2016 11:35_

Hey, so CONTRIBUTING and what I mentioned about the pull request template can co-exist.
https://github.com/owncloud/core/blob/master/.github/PULL_REQUEST_TEMPLATE.md is how owncloud does their pull request template. One of the checklist items is to read the CONTRIBUTING.md

Try looking at the PRs there or creating a new PR this template is there in all

[2016-12-14 04:50] Mariatta opened #3252 "Check out GitBook as alternative for readthedocs"
_From @coala-bot on October 22, 2016 9:50_

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=580b365456121b9c7eac05a7) by @sils

_Copied from original issue: coala/documentation#214_

[2016-12-14 04:51] Mariatta opened #3253 "Be more forceful about using branches"
_From @jayvdb on October 14, 2016 23:21_

http://coala.readthedocs.io/en/latest/Developers/Git_Basics.html#creating-a-new-branch currently says

I think the document should explain why using "master" is a very bad idea, and more importantly include a "make sure you are not using master" check at every step of the process.

Also, it would be helpful to provide examples of useful branch naming schem

[2016-12-14 04:51] Mariatta commented on #3253
_From @Cygnus32 on November 13, 2016 16:8_

assign this to me please :)

[2016-12-14 04:51] Mariatta opened #3254 "Newcomers_Guide.rst: Rephrase note"
_From @Makman2 on October 12, 2016 19:42_

Imo it should also contain something in the direction of "you are improving yourself doing this" :+1:

_Copied from original issue: coala/documentation#183_

[2016-12-14 04:51] Mariatta commented on #3254
_From @Dayfiri on October 13, 2016 13:53_

Assign me please :)

[2016-12-14 04:51] Mariatta commented on #3254
_From @sils on October 13, 2016 14:11_

Hey,

you have done two newcomer issues and it seems you're well acquainted with the workflow! That's awesome :)

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you can no

[2016-12-14 04:51] Mariatta commented on #3254
_From @Dayfiri on October 13, 2016 14:13_

@sils Ok thanks for the info. I will do that in the future 👍
Just there are `0` problems there so not much for me to help :)

[2016-12-14 04:51] Mariatta commented on #3254
_From @sils on October 13, 2016 14:17_

See coala.io/low there should be plenty of easy stuff to go on with

[2016-12-14 04:51] Mariatta commented on #3254
_From @Akki356 on October 16, 2016 18:48_

Please Assign me this :)

[2016-12-14 04:51] Mariatta commented on #3254
_From @Adrianzatreanu on October 16, 2016 18:51_

hey first please accept the invitation, join us on gitter! https://gitter.im/coala/coala

[2016-12-14 04:51] Mariatta commented on #3254
_From @Adrianzatreanu on November 19, 2016 14:15_

unassigning due to inactivity

[2016-12-14 04:52] Mariatta commented on #3254
_From @MihneaVorovenci on November 19, 2016 14:32_

Can I be assigned on this issue?

[2016-12-14 04:52] Mariatta opened #3255 "Bears' configs"
_From @Asnelchristian on October 11, 2016 14:38_

It will be good to have a page ( or maybe we should just do this under `writing bears` docs) that explain how to name settings, with some common examples.

_Copied from original issue: coala/documentation#181_

[2016-12-14 04:52] Mariatta opened #3256 "Developers/Git_Basics.rst: Add MacOS Git installation example"
_From @sudoankit on October 10, 2016 9:42_

Adding an example for installing `git` using `brew`.

_Copied from original issue: coala/documentation#169_

[2016-12-14 04:52] Mariatta commented on #3256
_From @ventris on October 10, 2016 10:35_

If this is not classified as newcomer issue please assign me to it.

[2016-12-14 04:52] Mariatta commented on #3256
_From @Adrianzatreanu on October 10, 2016 10:41_

it is super easy and apparently being worked on by @sudoankit

[2016-12-14 04:52] Mariatta opened #3257 "Developers/Writing_Good_Commits.rst: Should have a tag and and a short description separated by a colon"
_From @Udayan12167 on October 6, 2016 13:50_

"and" is repeated.

_Copied from original issue: coala/documentation#151_

[2016-12-14 04:52] Mariatta commented on #3257
_From @akashfoss on October 6, 2016 18:20_

Can anyone assign me for this issue ?

[2016-12-14 04:52] Mariatta commented on #3257
_From @anant3110 on October 6, 2016 18:28_

Assign me this issue

[2016-12-14 04:52] Mariatta commented on #3257
_From @Akki356 on October 24, 2016 16:38_

please assign me to this issue :)

[2016-12-14 04:52] Mariatta commented on #3257
_From @sils on October 24, 2016 17:19_

@anant3110 still workig on this?

[2016-12-14 04:52] Mariatta commented on #3257
_From @anant3110 on October 25, 2016 18:18_

Yes

Anant Sharna
2016129
IIIT Delhi (ECE)
On 24 Oct 2016 22:49, "Lasse Schuirmann" notifications@github.com wrote:

[2016-12-14 04:52] Mariatta commented on #3257
_From @sils on November 8, 2016 22:24_

Unassigning as per own request

[2016-12-14 04:52] Mariatta commented on #3257
_From @OctavianGuzu on November 19, 2016 14:45_

Add me this issue !

[2016-12-14 04:52] Mariatta commented on #3257
_From @Makman2 on November 19, 2016 19:27_

@OctavianGuzu you got already one assigned :)

[2016-12-14 04:53] Mariatta opened #3258 "Developers/Writing_Good_Commits.rst: It should describe only one change and not more. (Reword)"
_From @Udayan12167 on October 6, 2016 13:49_

Drop Only.

_Copied from original issue: coala/documentation#150_

[2016-12-14 04:53] Mariatta commented on #3258
_From @YSahil184 on October 6, 2016 18:24_

assign me this

[2016-12-14 04:53] Mariatta commented on #3258
_From @AshwatKumar on October 6, 2016 18:24_

i will try this out, lets see

[2016-12-14 04:53] Mariatta commented on #3258
_From @harshit17chaudhary on October 6, 2016 18:24_

assign me this issue

[2016-12-14 04:53] Mariatta commented on #3258
_From @AshwatKumar on October 6, 2016 18:25_

assign me this

[2016-12-14 04:53] Mariatta commented on #3258
_From @ishaanbassi on October 6, 2016 18:36_

assign me this

[2016-12-14 04:53] Mariatta commented on #3258
_From @YSahil184 on October 6, 2016 18:38_

unassign me this

[2016-12-14 04:53] Mariatta opened #3259 "Developers/Writing_Good_Commits.rst: In order to do that we are ... (Reword)"
_From @Udayan12167 on October 6, 2016 13:48_

_Copied from original issue: coala/documentation#149_

[2016-12-14 04:53] Mariatta commented on #3259
_From @apoorvkhattar on October 6, 2016 18:25_

Assign me this issue

[2016-12-14 04:53] Mariatta commented on #3259
_From @Pranav-Jain on October 6, 2016 18:25_

Kindly assign this issue to me

[2016-12-14 04:53] Mariatta commented on #3259
_From @Adrianzatreanu on November 19, 2016 13:31_

unassigning due to inactivity

[2016-12-14 04:53] Mariatta commented on #3259
_From @ioanavoica on November 19, 2016 13:34_

i want to be assigned

[2016-12-14 04:53] Mariatta opened #3260 "Developers/Writing_Good_Commits.rst: It is obvious that we need good code -> We need good code."
_From @Udayan12167 on October 6, 2016 13:46_

_Copied from original issue: coala/documentation#148_

[2016-12-14 04:53] Mariatta commented on #3260
_From @achetan40 on October 6, 2016 18:24_

Please assign this issue to me

[2016-12-14 04:53] Mariatta commented on #3260
_From @Adrianzatreanu on November 19, 2016 14:14_

unassigning due to inactivity

[2016-12-14 04:53] Mariatta commented on #3260
_From @OctavianGuzu on November 19, 2016 15:0_

Assign me to this issue, please!

[2016-12-14 04:55] Mariatta opened #3261 "Writing_Linter_Bears: Mention default severity map"
_From @Makman2 on October 3, 2016 0:54_

Nothing is written about the default map which already recognizes quite some words without the need to define a severity-map yourself.

_Copied from original issue: coala/documentation#141_

[2016-12-14 04:55] Mariatta commented on #3261
_From @Lars-H on October 28, 2016 15:7_

I want to fix this.

[2016-12-14 04:55] jayvdb commented on #3253
Note the URL is now http://api.coala.io/en/latest/Developers/Git_Basics.html#creating-a-new-branch

[2016-12-14 04:55] Mariatta opened #3262 "Add "How to get coala source code" guide"
_From @Makman2 on September 13, 2016 16:11_

This would be useful for

this could be replaced with a reference to that guide.

_Copied from original issue: coala/documentation#106_

[2016-12-14 04:55] Mariatta commented on #3262
_From @sils on September 13, 2016 16:11_

Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-12-14 04:55] #3148 closed

[2016-12-14 04:57] Mariatta opened #3263 ""Guide to writing a bear" needs a link to the linter bear guides on the top"
_From @sils on September 11, 2016 11:1_

A lot of people will bump in there and may not want to write a native bear, the first link should be "if you're looking for this, rather go here!"

_Copied from original issue: coala/documentation#101_

[2016-12-14 04:57] Mariatta commented on #3263
_From @sils on September 11, 2016 11:1_

Hey - thanks! Somebody will look into it soon.

(Yes, I'm a bot :P)

[2016-12-14 04:57] Mariatta commented on #3263
_From @krisananthu on October 14, 2016 15:19_

I'd like to take up this bug.

[2016-12-14 04:57] Mariatta commented on #3263
_From @Makman2 on October 14, 2016 18:6_

here you go :)

[2016-12-14 04:57] Mariatta commented on #3263
_From @Adrianzatreanu on November 19, 2016 14:13_

unassigning due to inactivity

[2016-12-14 04:57] Mariatta commented on #3263
_From @krisananthu on November 19, 2016 16:25_

ok

On Sat, Nov 19, 2016 at 9:13 AM, Zatreanu Adrian-Gabriel <
notifications@github.com> wrote:

##

Thanks,
Anantha Krishnan.P.T.A
CSE Student
Amrita University http://www.amrita.edu
Blog http://krisananthu.wordpress.com| GitHub
https://github.com/krisananthu

[2016-12-14 04:59] Mariatta opened #3264 "Should all the documentation be in docstrings?"
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Uran198 on March 26, 2016 20:49_

Branched from https://github.com/coala-analyzer/coala/issues/1967

Is it a good idea to have such a large docstrings? Mostly, names are self descriptive and this huge kind of stuff can be added to documentations or references. Then, for some bears we can use `**kwargs` and just pass parameters as they are. Po

[2016-12-14 04:59] Mariatta commented on #3264
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @gitmate-bot on March 26, 2016 20:50_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-12-14 04:59] Mariatta commented on #3264
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Makman2 on March 26, 2016 22:19_

I'm in for this, see my comment in #1967.

[2016-12-14 04:59] Mariatta commented on #3264
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Makman2 on March 26, 2016 22:19_

[2016-12-14 04:59] Mariatta commented on #3264
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Uran198 on March 27, 2016 6:57_

My concern is that it is not very convenient to have functions with more than 20 parameters and if you're even familiar with the program that bear uses to do it calculations you will still have to go either the code or huge signature to figure out if everything is the same and what not. They may even have thes

[2016-12-14 04:59] Mariatta commented on #3264
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Makman2 on March 27, 2016 15:21_

But if you are not familiar with the code, it's way easier to read a docstring instead of code (especially if you are new to python).
Function with more than 10 parameters are quite rare in our codebase, they would only likely appear in bear signatures, and that's way easier to have in docstrings than in exte

[2016-12-14 04:59] Mariatta opened #3265 "docs: Add information about the use of labels"
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @Uran198 on April 13, 2016 16:16_

From the discussion in https://github.com/coala-analyzer/coala/issues/1875.
There should be an information in the contribution guide on what some labels imply, i. e.:
- if there is difficulty to the issue, then it is ready to be worked on.
- if there are no labels - it's pending review
- if there is a label `

[2016-12-14 04:59] Mariatta commented on #3265
_From @Adrianzatreanu on August 19, 2016 11:58_

_From @gitmate-bot on April 13, 2016 16:16_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-12-14 04:59] Mariatta commented on #3265
_From @rowmatrix on October 1, 2016 5:35_

I would like to work on this, you can assign me. Where exactly should the info be placed and what are the guidelines for each label?

[2016-12-14 04:59] Mariatta commented on #3265
_From @sils on October 1, 2016 10:43_

@Uran198 can you hlep ^

[2016-12-14 04:59] Mariatta commented on #3265
_From @Uran198 on October 2, 2016 5:1_

Hey, @rowmatrix , I am not quite sure what the best place would be. Somewhere in [newcomers guide](http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html) would probably be OK, or maybe creating new in the `For Developers` section of the docs, maybe in FAQ. Use your best judgment for that.

The guidelines are basically the same as in issue descriptio

[2016-12-14 04:59] Mariatta commented on #3265
_From @rowmatrix on October 24, 2016 5:23_

@sils @Adrianzatreanu  I don't think this is a good fit for me, someone else should take over.

[2016-12-14 04:59] Mariatta commented on #3265
_From @sils on October 24, 2016 7:46_

@rowmatrix thanks, maybe I'll fix this up keeping you as author of the commit because your stuff seems to be rather close to whats needed.

[2016-12-14 04:59] Mariatta opened #3266 "Suggest usage of `git push --force-with-lease` instead of `git push -f` in rebasing tutorials"
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @underyx on June 3, 2016 19:35_

area/documentation

_Copied from original issue: coala-analyzer/coala#2250_

_Copied from original issue: coala/documentation#38_

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @gitmate-bot on June 3, 2016 19:35_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @sils1297 on June 3, 2016 22:22_

I'm not fully sure about that because you have to explain more to new people.

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @Makman2 on June 4, 2016 0:51_

I'm against this as I agree with @sils1297 , the command looks like it needs more explanation because of the "remote-tip-need-to-be-equal" protection, with our review system there is in principle no possibility to merge such malicious branches (master is protected by GitHub, notification in PR that branch is out

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @underyx on June 4, 2016 1:1_

Can't really refute all that, but just to reply to this one point:

I've deleted my own commit before with a force push when I forgot I had already changed something with the github.com editor :D

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @Makman2 on June 4, 2016 1:10_

don't do so :3

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @sils1297 on June 17, 2016 8:46_

so what do we do? I'm currently leaning towards the simpler solution. Might also be because I'm lazy and I'm in issue closing mood though :P

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @Makman2 on June 17, 2016 16:26_

maybe we can mention inside a note "if you want more protective behaviour, you can also use `--force-with-lease`" or so^^

[2016-12-14 04:59] Mariatta commented on #3266
_From @Adrianzatreanu on August 19, 2016 11:52_

_From @sils1297 on June 17, 2016 17:53_

I like adding a note!
On 17 Jun 2016 6:26 p.m., "Mischa Krüger" notifications@github.com wrote:

[2016-12-14 05:01] Mariatta opened #3267 "Videos for newcomers doc"
_From @Adrianzatreanu on August 19, 2016 11:42_

_From @AbdealiJK on July 6, 2016 9:20_

In the newcomers docs we should have an ascii cinema or Video tutorial on how to use git for our workflow.
Just makes it so much easier because people get confused about `rebase -i` and so on frequently.

I'm thinking 3 videos:
- How to make a contribution: (Clone, create branch, edit file, commit, push, possi

[2016-12-14 05:01] Mariatta commented on #3267
_From @Adrianzatreanu on August 19, 2016 11:42_

_From @gitmate-bot on July 6, 2016 9:20_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-12-14 05:01] Mariatta commented on #3267
_From @Adrianzatreanu on August 19, 2016 11:42_

_From @hypothesist on July 11, 2016 11:15_

I made this a week ago: https://asciinema.org/a/78683

[2016-12-14 05:01] Mariatta commented on #3267
_From @Adrianzatreanu on August 19, 2016 11:42_

_From @hypothesist on July 11, 2016 11:16_

It kinda covers most points. It could be more comprehensive though. Anyway, this is the source file I used to generate that: https://github.com/hypothesist/termtype/blob/master/rebase_tutorial.example

[2016-12-14 05:01] Mariatta commented on #3267
_From @Adrianzatreanu on August 19, 2016 11:42_

that's cool, looking forward to someone adding them

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on October 3, 2016 8:55_

Can I try this ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @adtac on October 3, 2016 10:22_

@yash-nisar sure, assigned you :+1: However I think it would be a good idea to discuss what goes into each video _before_ making it so that you wouldn't have to redo it later on.

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on October 7, 2016 6:56_

@adtac I have a few queries regarding this:
- Should I make a test repository and then explain the git workflow with respect to that repository or do I explain it while resolving an issue on the coala repository ?
- I think updating a forked repository should also be added in the tutorial as many newcomers are facing this issue. What are your views about

[2016-12-14 05:01] Mariatta commented on #3267
_From @adtac on October 7, 2016 15:12_

- From @AbdealiJK 's first comment:

  so I assume he meant creating an example with coala in mind.
- Doesn't [the asciinema link](https://asciinema.org/a/78683) I posted a couple of comments ago cover that? It's already in the docs: [end of the follow-up section](http://coala.readthedocs.io/en/latest/Developers/Git_Basics.html#follow-up)

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on October 28, 2016 14:23_

Apologies for the delay.
This is what I'm planning to cover stepwise for the first video. Am I on the right track ? Do I incorporate any changes ? CC @adtac @AbdealiJK

![git_basics_1](https://cloud.githubusercontent.com/assets/14862976/19809727/278fd10e-9d48-11e6-9702-1116df04a093.png)

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on October 29, 2016 5:58_

@adtac @AbdealiJK  Is this okay ? Does it seem to be cluttered ?
This is just the sample, I have to complete it.
https://asciinema.org/a/6puw01ebok2fvgr57g2zlsp98

[2016-12-14 05:01] Mariatta commented on #3267
_From @adtac on October 29, 2016 6:8_

@yash-nisar IMO it seems a little cluttered, yes. While it is necessary, I find the large amount of text distracting. Maybe asciinema's not the best idea? Maybe a proper video with audio is the best for a comprehensive git tutorial? Not sure.

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on October 29, 2016 6:11_

So should I try to make it concise or are we keeping this on hold ? It will no longer be comprehensive if I try to cover only the main points. What say ? @adtac

[2016-12-14 05:01] Mariatta commented on #3267
_From @adtac on October 29, 2016 6:14_

I'm not sure, make sure to ask other for their input on this too :) This will become the go-to resource on git later, so we should make sure it's proper, helpful, and concise.

[2016-12-14 05:01] Mariatta commented on #3267
_From @AbdealiJK on October 29, 2016 15:41_

I agree with @sils 's comment on gitter that it may be a good idea to ave a screencast (with audio) and to maybe even make it a youtube video :)

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 15:0_

I think I won't be able to do this since I don't have a good quality microphone. Can I be unassigned ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 15:48_

@yash-nisar even just having a script would be nice. I can record any audio you need, we need a "director" and also someone who makes video material.

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 15:54_

I completely agree with you. I can do the screencast part. A "script" and a director would be a must have in this case. So should I prepare the script and the screencast ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 15:57_

sure, let's make a wiki page at coala/coala somewhere describing what
should be spoken and what's happening?

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 16:2_

Sounds good. Should I make one ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 16:6_

please

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 16:28_

Before proceeding with the wiki page, can we discuss the contents of the page ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 16:30_

that's your task to figure out, write a script :(

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 16:48_

Checklist :

- [ ]  Screencast : How to make a contribution: (Clone, create branch, edit file, commit, push, possibly also add how to make a PR if it's not ascii cinema)

- [ ]  Screencast : How to modify my last commit / modify my commit message / modify my earlier (not last) commit

- [ ]  Screencast : How to rebase

Also, the scripts for these will

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 16:51_

oh while were at it, can we also make one for the frontpage showing off coala with some text that explains what it is and so on?

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 16:52_

Regarding the wiki page,

should be "snapshots" taken at regular intervals from the screencast ?

will include the script ?

Am I right ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 16:56_

We already have an asciinema on our homepage. Do you think we should add a video too ?

[2016-12-14 05:01] Mariatta commented on #3267
_From @sils on November 25, 2016 17:3_

yes the asciinema is outdated, a proper video will be way better.

there's no need to confirm things you already know ;)

[2016-12-14 05:01] Mariatta commented on #3267
_From @aptrishu on November 25, 2016 17:4_

So, you'll be working in it? @yash-nisar I'll assign you. :)

[2016-12-14 05:01] Mariatta commented on #3267
_From @yash-nisar on November 25, 2016 17:5_

Sure @aptrishu . I misinterpret things quite often @sils :laughing:

[2016-12-14 05:03] Mariatta commented on #3136
All moved! :tada:

[2016-12-14 05:03] #3136 closed

[2016-12-14 05:15] jayvdb commented on #3136
Thank you very much!

[2016-12-14 06:13] adamki commented on #3239
i can take care of this. feel free to assign to me.

[2016-12-14 06:23] Mariatta commented on #3239
@adamki Thanks for your interest :)
Please go through our newcomer guide at http://coala.io/newcomer and say Hello World at http://coala.io/chat

After that we can assign this issue to you.

[2016-12-14 06:35] madan96 commented on #2698
I would like to take up this issue.

[2016-12-14 07:03] meetmangukiya opened #3268 "Change `tag.gz` to `tar.gz` in `deploy.pypi.sh`"
At https://github.com/coala/coala/blob/master/.misc/deploy.pypi.sh#L17

`ValueError: Cannot find file (or expand pattern): 'dist/*.tag.gz'` was seen in the rultor log, can be considered a confirmation?

**Needs confirmation**
CC @sils @AbdealiJK as you're the contributors of the file

difficulty/newcomer type/bug

[2016-12-14 07:08] shrutishrm512 commented on #3257
can I be assigned to this issue?

[2016-12-14 07:26] shrutishrm512 commented on #3263
@Mariatta The changes should be made like that ?

`Guide to Writing a Bear<Writing_Linter_Bears>` Am i correct ?

[2016-12-14 08:15] sils commented on #3241
Hm, I wonder why we did that... though we don't necessarily use the tools default: coala tries to help you when it comes to settings, to abstract away the tool that lies below, you'll also not always have the same names. This is so you can use the same setting names consistently across all the bears and don't have to read up on them every time.

When it comes to defaults we usually *do* take the t

[2016-12-14 08:17] AbdealiJK commented on #3268
Yep, that's a bug.
It would be better to loop over every file and upload each using a bash
Loop rather than hardcode these extensions

On 14-Dec-2016 12:33 pm, "Meet Mangukiya" <notifications@github.com> wrote:

[2016-12-14 09:04] sils commented on #3241
So let's just set t to `True` by default. I'm marking this newcomer so this'll probably be done rather quickly by the weekend or so ;) (big hackathon coming up)

[2016-12-14 11:09] Makman2 commented on #3241
I think this should be an issue in `coala-bears`^^

[2016-12-14 12:51] arush0311 commented on #3066
Is this issue still open?

[2016-12-14 15:16] rahul-kumi commented on #3250
Can I be assigned to the issue. I would love to work on this.

[2016-12-14 15:17] Mixih commented on #3250
Sure! You're on. See https://api.coala.io/en/latest/Developers/Newcomers_Guide.html to get started. See https://api.coala.io/en/latest/Developers/Development_Setup.html to setup your development environment.

[2016-12-14 15:19] rahul-kumi commented on #3250
thank you, @Mixih, could you let me know how elaborate should I be in encouraging newcomers to take up `difficulty/low` issues.

[2016-12-14 15:50] jayvdb commented on #3066
The unused import cleanup in `coala/coala` is currently being done in https://github.com/coala/coala/pull/3129 , as part of https://github.com/coala/coala/issues/2994

For coala-bears, I've created some cleanup tasks to be done (by newcomers, preferably) before we can resolve this.

status blocked

[2016-12-14 17:00] Mariatta commented on #3263
Hi, @shrutishrm512
So the issue is we have a link to Writing a Bear already in the page.
We should also add another link to Writing a linter bear https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html

Thanks.

I have just assigned you to a different issue. If you want to work on this first, then let me know. I'll unassigned you from the other one.

[2016-12-14 17:03] Mariatta commented on #3239
@ashwini0529 Can you be more specific of what kind of fix is needed here?

Thanks.

[2016-12-14 17:09] shrutishrm512 commented on #3263
I will work on #3257 issue first after that i will convey you to assign me this issue :smile:

[2016-12-14 18:32] ashwini0529 commented on #3239
![selection_040](https://cloud.githubusercontent.com/assets/8419333/21195351/7147c03c-c259-11e6-855d-255c32c82b87.png)
![selection_041](https://cloud.githubusercontent.com/assets/8419333/21195420/b721fd34-c259-11e6-89ee-ab44bba46318.png)
![selection_042](https://cloud.githubusercontent.com/assets/8419333/21195435/c758c958-c259-11e6-965f-cdb6727e1ace.png)

All these needs to be corrected.

[2016-12-14 18:40] Mariatta commented on #3239
This is a newcomer issue, and a newcomer may not understand what is wrong with the current link.
Please explain what the problem is, and how a newcomer can fix the link. For example by providing what the correct link is.
Hope this makes sense.
Thanks.

[2016-12-14 20:22] Mariatta commented on #3225
There should be some intro about unit testing and pytest.

[2016-12-14 20:40] coala-bot opened #3273 "Explain breaking changes in docs about adding parameters to bears"
Opened via [gitter](https://gitter.im/coala/coala/?at=5851ae55c5a4e0233b85b37e) by @jayvdb

[2016-12-14 22:07] adamki commented on #3239
just to confirm, the task includes fixing the broken links to the following destinations:

https://github.com/coala/coala/blob/master/docs/Developers/Writing_Good_Commits.rst
https://github.com/coala/coala/blob/master/docs/Developers/Git_Basics.rst
https://github.com/coala/coala/blob/master/docs/Developers/Reviews.rst

thanks again!

[2016-12-14 22:40] Nosferatul commented on #3239
Yes, go ahead!

[2016-12-15 06:12] #3257 closed

[2016-12-15 07:13] arush0311 opened #3275 "checking the return type of the bear"
As of now the return type of the bear is not checked right away and a bear can return anything. The return type is checked in result action, IMO it should be checked right in Bear class

[2016-12-15 08:33] sils commented on #2649
@Makman2 I think I disagree and I'd rather not have this function, same for delete_line. This is just unneeded API clutter that we have to maintain with no additional benefit for the user.

[2016-12-15 08:40] sils commented on #3275
isn't this happening in BearRunning somewhere? @Makman2 I guess for next gen we'll want to do most of the error checking in the Bear class directly if possible. If people override our private methods they suck anyway

[2016-12-15 08:49] yash-nisar opened #3276 "Newcomers_Guide: $ git checkout -b <branchname> doesn't appear as inline code"
The file can be found [here](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst).

difficulty/newcomer

[2016-12-15 08:51] arush0311 commented on #3275
@sils It is being checked in BearRunning. Sorry I didn't check this module to see

[2016-12-15 08:51] #3275 closed

[2016-12-15 08:57] yash-nisar commented on #3239
Should we point the links to the docs ? @Nosferatul

[2016-12-15 09:03] yash-nisar opened #3277 "Be more verbose about when to use `Fixes` and `Closes`"
I have seen many newcomers getting confused between `Closes` and `Fixes`. I think we need to perhaps be more clear about using these keywords.

difficulty/newcomer

[2016-12-15 09:08] yash-nisar commented on #3262
difficulty/low

[2016-12-15 09:11] maitreyaverma commented on #3276
Hello! Can you assign me this issue?

[2016-12-15 09:14] yash-nisar opened #3278 "Gitmate labels difficulty/low along with difficulty/newcomer"
When I type `difficulty/newcomer`, the `difficulty/low` label is also allotted.

difficulty/low

[2016-12-15 09:26] yash-nisar commented on #3276
Our maintainers will assign it to you soon. :)

[2016-12-15 09:30] yash-nisar commented on #3278
Closing this issue, since low and newcomer are close enough.

[2016-12-15 09:30] #3278 closed

[2016-12-15 09:43] dracarys09 commented on #3277
@yash-nisar as suggested by others I think we should use ```Closes``` when the work is related to a new feature and use ```Fixes``` when we work around bugs.

[2016-12-15 11:27] ashwini0529 commented on #2649
@sils For `add_line` we're using the same function as `add_lines` :smile:

[2016-12-15 11:39] madan96 opened #3279 "Update links in README.md"
Change all the links containing `readthedocs.io` to `docs.coala.io`.
For links related to Developers Section, use `api.coala.io`

This needs to be done because docs were moved to the new link.

[2016-12-15 13:16] jarifibrahim commented on #2898
I'm not really sure what needs to be done. Could anyone please assign this issue to someone else?

[2016-12-15 13:56] Makman2 commented on #2898
yeah this one is really hard regarding the concept... sorry that it has turned out like this^^

[2016-12-15 14:03] Makman2 commented on #2649
@sils I personally dislike packing something into a single-item-list. Also when I want to delete a single line (which is common), I would need to provide an obsolete argument: `delete_lines(3, 3)`.
But I also get your point, feel free to file another issue for removal, we should discuss that^^

[2016-12-15 14:14] Makman2 commented on #3275
nextgen allows the bear to pass whatever it wants. The result-callback is responsible for filtering the results it needs and/or emitting warning messages when something is not right. That makes stuff more flexible + tests easier.

[2016-12-15 14:20] coala-bot opened #3280 "Clarify whether 'bugs' in doc are Fixes or Closes"
https://coala.io/commit#issue-reference mentions "real bug", but that still depends on context, and eye of the beholder.  I interpret it to mean user-facing bugs which should be highlighted in release notes, which IMO excludes any doc fixes, even if the docs were completely wrong, as users do not rely on docs to be correct as they can ignore the docs without problems.

Opened via [gitter](https://

[2016-12-15 14:28] RohanVB opened #3281 "Invalid error resolution when running coala on dev"
Steps to reproduce:
1)Create new virtual environment
2)New clone of coala
3)sudo pip3 install coala-bears
4)Run coala.

Version of coala used:
`$ coala --version
0.10.0.dev99999999999999`

**Note**: The error below is not resolved by creating a separate virtual environment for coala or by running `pip install "libclang-py3==0.2", the same error shows up when both of these are done.

_Here is the e

[2016-12-15 14:30] madan96 commented on #3281
I am facing the same problem.

[2016-12-15 15:04] Makman2 commented on #3281
So you have installed coala from the repo? From which commit?
Did you try to do `sudo pip3 install libclang-py3==0.2`?

[2016-12-15 15:16] madan96 commented on #3281
`sudo pip3 install libclang-py3==0.2` gives the following error in my case.

`Downloading/unpacking libclang-py3==0.2
  Cannot fetch index base URL https://pypi.python.org/simple/
  Could not find any downloads that satisfy the requirement libclang-py3==0.2
Cleaning up...
No distributions at all found for libclang-py3==0.2
`

[2016-12-15 15:50] Makman2 commented on #3281
indeed, the package seems to have been removed.
I would try to install latest coala development version and coala-bears version (removing the old installations before).

[2016-12-15 16:29] coala-bot opened #3282 "Add `coala_utils` package documentation"
area/documentation

Opened via [gitter](https://gitter.im/coala/coala/?at=5852c4fbaf6b364a29b805a8) by @meetmangukiya

[2016-12-15 16:33] meetmangukiya commented on #3282
I was looking for `coala_utils.decorators` documentation, but it just returned the source code http://api.coala.io/en/latest/_modules/coala_utils/decorators.html

[2016-12-15 17:02] Mixih commented on #3280
Hmm shall we ping the old guard to resolve this?

[2016-12-15 17:32] coala-bot opened #3283 "Write a `coala --shell SomeBear`"
That would read the coafile, execute coala and give me an ipython shell when the bear runs where I can exploratively try around with all the stuff that the bear gets, including dependency results. (So dependent bears have to be run first as well.)

Opened via [gitter](https://gitter.im/coala/coala/?at=5852d3afaf6b364a29b85de3) by @sils

[2016-12-15 17:35] sils commented on #2894
please generate a new one from coala --json

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 December 2016 at 23:53, Arjun Nemani <notifications@github.com> wrote:

[2016-12-15 17:43] sils commented on #2649
I don't have time for it but when it comes to me, we should not introduce
such functions that do "things you don't like" because those things still
happen, it's just less transparent, one layer more (less performance), more
API (harder backwardcompatability)

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 15 December 2016 at 15:0

[2016-12-15 18:46] aptrishu commented on #3239
Point the links to docs. @adamki
https://docs.coala/io

[2016-12-15 19:34] ashwini0529 commented on #3239
Please elaborate your commit message.

[2016-12-15 20:58] ashwini0529 commented on #3228
I can take this up.

[2016-12-15 21:04] ashwini0529 commented on #3131
Although I don't have much idea about it. But I can try to work on it.

What I think could work is :

We can create a file with the list of all the extensions that are to be excluded like `.min.css`, `.min.js` etc.
Whenever any bear runs, it would first check the file extension with the list, and if it is not in that file, it will start scanning it, otherwise it will skip the file.

[2016-12-15 22:19] sils commented on #3241
@rgreinho if you want to rely on the new behaviour, install coala with `pip install coala-bears --pre` to get the version straight from master

[2016-12-15 22:19] #3241 closed

[2016-12-15 22:22] #3147 closed

[2016-12-15 22:25] rgreinho commented on #3241
Got it! Thank you for merging the PR.

[2016-12-15 22:26] sils commented on #3241
thank you! :)

[2016-12-15 23:08] #2085 closed

[2016-12-15 23:36] sils commented on #3280
well bugs are "unintended behaviour", so if docs lead to unintended behaviour of the usre that's a bugfix, if they're just beautification without fixing an actual problem, rather small improvements, theyre no bugs, otherwise they could be.

[2016-12-15 23:39] marian-ald commented on #3268
you mean writing a script?

[2016-12-15 23:39] Mixih commented on #3280
What if they lead to unintended behavior when developing? Is that still a bug?

[2016-12-15 23:44] Mixih commented on #3268
no, modifying the existing script in .misc/deploy.pypi.sh

[2016-12-15 23:52] sils commented on #3280
yeah

[2016-12-15 23:55] sils commented on #3280
well in the end it goes down to: yes this is a bit of a subjective
thing, we use this for bug prediction so we just do this on a best
effort basis. When in doubt, think about: is this something
"complicated" that might be bug prone in the future?

[2016-12-15 23:59] marian-ald commented on #3268
I will try  to work on this. Could you assign me?

[2016-12-16 00:00] Mixih commented on #3268
alright. Here you go !

[2016-12-16 00:02] Mixih commented on #3280
Alright so here is a summary of this task:

1. Amend the issue tagging documentation to include what sils said.
2. Make issue tagging clearer in general

[2016-12-16 04:05] RohanVB commented on #3281
@Makman2 a new virtual env was created, coala dev version and coala-bears version were installed freshly; having removed the old versions.

[2016-12-16 04:09] jayvdb commented on #3281
fwiw, it is likely https://github.com/coala/coala/commit/f25d48daf5a1f86 that has caused this.
The packages do exist ; see https://pypi.python.org/simple/libclang-py3/ , but the old 0.2 is no longer listed on https://pypi.python.org/pypi/libclang-py3/

[2016-12-16 06:24] yash-nisar commented on #3277
We as developers know the difference. However, if we try to be more concise about using those keywords, newcomers won't make a mistake while differenciating the two. :)

[2016-12-16 07:32] ashwani99 commented on #3276
Hi. Can I work on this?

[2016-12-16 07:34] ashwani99 commented on #3279
Hello. I want do this. Can you assign me please?

[2016-12-16 07:52] jayvdb commented on #3277
More related discussion in an issue created a few hours later :/
https://github.com/coala/coala/issues/3280

[2016-12-16 08:25] yash-nisar commented on #3277
So, should we close this ? @jayvdb

[2016-12-16 08:26] yash-nisar commented on #3276
Since @maitreyaverma  asked for it first, she will be assigned.

[2016-12-16 08:34] ishanupadhyay commented on #3279
Hey guys ,I want to solve this new comer issue . Please assign me.

[2016-12-16 09:01] jayvdb commented on #3279
I believe this was already done in https://github.com/coala/coala/commit/cdd6386e8a467063bf787022edc167
Find other newcomer bugs using coala.io/new

[2016-12-16 09:01] #3279 closed

[2016-12-16 09:04] jayvdb commented on #3266
This is only relevant for people who can write to someone elses branch, which isnt newcomers, and we use a branch naming convention that should prevent that anyway.

[2016-12-16 09:04] #3266 closed

[2016-12-16 09:13] underyx commented on #3266
Well,  it's not gonna be an issue for us indeed, but people probably take
this knowledge elsewhere, where it will matter.

Anyway, I'm not firmly against closing this, so whatever :D

On Fri, Dec 16, 2016, 10:04 AM John Vandenberg <notifications@github.com>
wrote:

[2016-12-16 10:19] jayvdb commented on #3217
gah, sorry I got buried in Travis.
Do we want the three CI tasks on a single document, or in a subdirectory with three documents, or .. ?

My preference is actually them all in a single document.

[2016-12-16 10:27] dracarys09 commented on #3140
@SarthakNijhawan are you still working on this issue ? If not, I would like to work on this...

[2016-12-16 11:23] Makman2 commented on #3281
Though coala shouldn't require 0.2 explicitly as it does not appear anywhere as a dependency. I have libclang 3.4 installed, and coala works for me currently^^
Just tried with a fresh venv, it still picks my globally installed coala package from before. So I uninstalled my global packages, and reinstalled, no errors on coala run. So I can't reproduce :/

[2016-12-16 11:33] jayvdb commented on #3281
I suspect that there is a globally installed coala-0.9 which depends on ~=0.2, conflicting with the dev version which depends on ~=3.4.
Delete the globally installed coala & bears.

[2016-12-16 11:33] Makman2 commented on #3131
don't we have default ignores? We could place this inside our global default coafile (if we still have it, don't remember...)

[2016-12-16 11:35] Makman2 commented on #3281
(just as a note: it's possible to uninstall packages with pip *multiple times*, so uninstall until it says that there's nothing more left)

[2016-12-16 11:36] Makman2 commented on #3283
this is definitely debugging via pdb, duplicate of https://github.com/coala/coala/issues/1101

[2016-12-16 11:38] jayvdb commented on #3281
((further note: do not dp pip uninstall in your coala clone, it will delete your local directory; arnt they smart))

[2016-12-16 11:39] sils commented on #3283
it's not

[2016-12-16 11:39] sils commented on #3283
this is meant to be like the `scrapy shell`

[2016-12-16 11:40] sils commented on #3283
@userzimmermann has some work into the rough direction with `bearsh` which will probably be the repo holding this: https://github.com/coala/bearsh

[2016-12-16 11:41] ashwini0529 commented on #3228
Do you want a webpage or a `rst`?

[2016-12-16 11:43] Makman2 commented on #3283
I believe debugging is more powerful, and you have the same abilities like an interactive shell there. For scrapy I understand why they have this shell, because you don't want to kick off a spider until you are sure it's performing good, because you are communicating with the outer world. This does not really apply for coala imo^^
If we want to support additional functionality (like scrapy's `view

[2016-12-16 12:24] sils commented on #3283
what we do see is that people who are writing native bears are regularly
having huge problems especially when it comes to dependencies. Having this
might significantly increase the number of people who actually do write
native bears because I know of people who have given up.

[2016-12-16 18:29] Mariatta commented on #3228
It should be a new section in Developers documentation, so an .rst file :) Thanks.

[2016-12-16 18:33] nsgonultas commented on #2573
@Nosferatul no, I'm not. If anybody wants to take it, it's ok for me.

[2016-12-16 18:52] ashwini0529 commented on #3228
Hey. Can you please share the content with me at [this link](http://collabedit.com/pe9c9) ?

[2016-12-16 19:00] Mariatta commented on #3228
We don't have any content yet :( so it's part of this issue to come up with the content
Other maintainers can perhaps clarify further.

[2016-12-16 19:12] Makman2 commented on #3283
the debugger doesn't solve this problem?

[2016-12-16 23:55] sils commented on #2573
@nsgonultas in case you didn't already, please do fill coala.io/newform if you have a minute left.

[2016-12-16 23:56] sils commented on #3283
a shell is simpler to understand, I can't use pdb, I can use the scrapy
shell easily.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 16 December 2016 at 20:12, Mischa Krüger <notifications@github.com>
wrote:

[2016-12-17 00:24] RohanVB commented on #3281
I think that did it. @madan96 The following steps helped:
[code]

Note: The new installations were done inside the coala clone, within the virtual environment.

[2016-12-17 00:24] #3281 closed

[2016-12-17 00:39] RohanVB commented on #3152
Unable to reproduce anymore.

[2016-12-17 06:42] RohanVB commented on #3152
Solution similar to #3281(see comments) if it occurs for anyone else.

[2016-12-17 06:42] #3152 closed

[2016-12-17 07:45] RohanVB opened #3285 "'Ignore all' doesn't work"
In the docs at : http://docs.coala.io it states that :

However, the following code works with ignore:

[code]

and this code does not:

[code]

[2016-12-17 09:16] arush0311 commented on #3219
@sils @Adrianzatreanu Any help on how to proceed about this?

[2016-12-17 09:24] sims1253 commented on #3219
The thing he wants to say is that if you can call check_prerequisites then the bear is installed. But maybe the dependencies are not. So what you were saying is you need yourself to work but you want to say you need <dependency> to work.

[2016-12-17 09:52] jayvdb opened #3289 "Investigage Travis Python 3.6 dev failure"
Only occurred once so far; needs analysis
https://travis-ci.org/coala/coala/jobs/184740852

[2016-12-17 10:23] marius92mc opened #3290 "Clearer message to README's Usage section"
In the <i>Usage</i> section, make it clearer where we could find details about `SpaceConsistencyBear`.

[2016-12-17 10:34] #3268 closed

[2016-12-17 10:37] userzimmermann commented on #3282
@meetmangukiya http://api.coala.io/en/latest/_modules/ is intended to show the actual python module sources. So everything is fine that way.

[2016-12-17 10:37] RohanVB commented on #3285
That's strange, because:

[code]

we get:
[code]

and if we try it with ignore LineLengthBear...

[code]
we get:
[code]

[2016-12-17 10:39] userzimmermann commented on #3282
But it's strange that only `coala_utils.decorators` is listed there and no other submodules!

@sils @sims1253 ???

[2016-12-17 10:48] meetmangukiya commented on #3282
I opened an issue related that recently.

On Saturday, December 17, 2016, Stefan Zimmermann <notifications@github.com>
wrote:

other submodules!

https://ci5.googleusercontent.com/proxy/kac5L2JxP1WOjljlLv6Nvd3wA9hrJ-pjqB8HFyEaTqwXiHjkcH3FPFkUZc8D1aBK6AVbf62llpWu2XJx3JWo1HhOAxT_YuMEmcYOzZOEhyhyk_nP9ucZO8p1oXYJ2KlCgMpGH5oOO967NQkg2rEjDeUOkFFAQg=s0-d-e1-ft#https://github.com/notifications/beacon/AHRH

[2016-12-17 10:52] meetmangukiya commented on #3282
https://github.com/coala/coala/issues/3282

On Saturday, December 17, 2016, Meet Mangukiya <meet123mangukiya@gmail.com>
wrote:

notifications@github.com> wrote:

other submodules!

https://ci5.googleusercontent.com/proxy/kac5L2JxP1WOjljlLv6Nvd3wA9hrJ-pjqB8HFyEaTqwXiHjkcH3FPFkUZc8D1aBK6AVbf62llpWu2XJx3JWo1HhOAxT_YuMEmcYOzZOEhyhyk_nP9ucZO8p1oXYJ2KlCgMpGH5oOO967NQkg2rEjDeUOkFFAQg=s0-d-e1-ft#https://g

[2016-12-17 10:53] meetmangukiya commented on #3282
Ohh.. Wow, now I feel stupid, sorry I misread. :disappointed:

[2016-12-17 10:54] jayvdb commented on #3164
On gitter it was established that this is a parsing problem in coala, and so should be fixed there.
[December 8, 2016 11:28 PM](https://gitter.im/coala/coala?at=58498a35be9d43bc63359db8)

[2016-12-17 10:54] VladCornoiu commented on #3263
Hello! Can you assign me to this issue?

[2016-12-17 11:00] sils commented on #3164
This is not a newcomer issue.

[2016-12-17 11:01] arush0311 commented on #3219
@sims1253 I dont understand. :confused:

[2016-12-17 11:01] sils commented on #3263
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-12-17 11:18] #3290 closed

[2016-12-17 11:51] reilen commented on #3265
Assign me this issue.

[2016-12-17 11:57] sils commented on #3265
@reilen @Uran198 @Mariatta I'm not fully sure if we want this issue to happen. We had an attempt and it failed because it's just hard to describe the labels in a non redundant way. I'm voting for closing this as a wontfix.

[2016-12-17 11:59] userzimmermann commented on #3282
@meetmangukiya Don't worry ;)

[2016-12-17 12:06] marian-ald commented on #3237
I would like to work on this :+1:

[2016-12-17 12:08] reilen commented on #3251
can you assign me this issue?

[2016-12-17 12:12] userzimmermann commented on #3282
@meetmangukiya And sorry, I was a bit not completely right too ;D There should be `[docs]` links next to the functions.

[2016-12-17 12:16] AnaDenisa commented on #3277
Hello! I want to be assigned to this project :)

[2016-12-17 12:18] tibi77 opened #3292 "create man page for coala"

[2016-12-17 12:20] seVen102 commented on #3263
Can I be assigned this issue?

[2016-12-17 12:31] sims1253 commented on #3219
you proposed <bear_name> is required for <bear_name>
so you say eg "coalaBear is requiref for coalaBear" which doesn't make sense

[2016-12-17 12:41] dracarys09 commented on #3164
@sils since you removed the newcomer label... can you assign me this again as the other issue I was working on was blocked due to dependence on something else...

[2016-12-17 12:53] sils commented on #3164
@dracarys09 this issue is not at all easy, you sure you don't wanna do a low issue first?

[2016-12-17 13:01] tibi77 commented on #3292
Hello
I would like to resolve this bug!

Tibi

[2016-12-17 13:10] seVen102 commented on #3276
Can I get assigned on this one please?

[2016-12-17 13:43] marius92mc opened #3293 "Newcomers Guide's Review Process with more details"
Specify a hyperlink to `myfork`.

[2016-12-17 14:11] arush0311 commented on #3219
oh..That was not what i meant... something like this
<bear_name> is required for <bear_name_1>

[2016-12-17 14:13] sils commented on #3219
nah you don't need to tell the user, any dependent *bear itself will always
be there* just the dependent bear might depend on an external tool and have
an own check_prerequisites method that should be run

[2016-12-17 14:20] arush0311 commented on #3219
I will look at cib and and then perhaps resume some of that code.

[2016-12-17 14:42] userzimmermann commented on #3283
@sils @Makman2 https://github.com/coala/bearsh will combine all of the ideas above... and more! Be prepared ;)

[2016-12-17 14:53] Makman2 commented on #3281
cool glad it worked out :)

[2016-12-17 14:55] Makman2 commented on #3283
@sils the pdb is an interactive shell + some debugger commands, so it's in fact an extension to the normal shell^^ exactly what you plan to do :/ You should try out pdb^^

@userzimmermann @sils Don't want to turn the idea down completely, though I believe a very cool pdb integration makes stuff easier for us and for others + it's more powerful :)

[2016-12-17 14:57] SarthakNijhawan commented on #3140
Yea , I'll do ...srry for the late reply though ..

[2016-12-17 15:07] #2070 closed

[2016-12-17 15:07] #2071 closed

[2016-12-17 16:07] DanRadulescu962 commented on #3249
Can I be assigned on this?

[2016-12-17 17:05] Mixih commented on #3292
@tibi77 can you add a bit of a description to this report so other can know some details about it?

[2016-12-17 17:12] #3293 closed

[2016-12-17 17:16] tibi77 commented on #3292
Coala had no man page that works so i updated the script that creates the man page and i have also created a script that adds the man page form coala to the man data base and so somebody can now run "man coala" from the terminal wherever is the shell located.

[2016-12-17 18:01] Makman2 commented on #3249
@mihai-burduselu still working on it?

[2016-12-17 18:02] Makman2 commented on #3249
assigning @DanRadulescu962 for now, @mihai-burduselu if you still want to work on this issue, ping and we change assignment again :+1:

[2016-12-17 18:08] Makman2 commented on #3285
Can't reproduce, I get the correct behaviour too^^

[2016-12-17 18:12] coala-bot opened #3299 "Allow case-insentitive bear name lookup"
Would also be a solution to coala/coala-bears#1152

Opened via [gitter](https://gitter.im/coala/coala/?at=58557ff9058ca967375c117f) by @sils

[2016-12-17 19:51] jayvdb opened #3303 "Removal of command line argument --format_str broken editor plugins"
https://github.com/coala/coala/pull/3096 removed `--format_str`, adding `--format` as a replacement.
However at least coala-atom and coala-vim were using `--format_str`, and they now fail if coala 0.9.* is installed.
Recommend re-adding `--format_str`.

[2016-12-17 21:27] DanRadulescu962 commented on #3303
Hi,
Can I take this issue?

[2016-12-17 23:24] #3160 closed

[2016-12-18 01:44] yash-nisar commented on #3276
@Adrianzatreanu Since @maitreyaverma asked for it first, I think she should be assigned.

[2016-12-18 05:08] RohanVB commented on #3285
Oh sorry! I must've broken something when I was changing the code and did an install from my local repo. Reinstalled with --pre and everything is fine now.

[2016-12-18 05:08] #3285 closed

[2016-12-18 06:35] Abhisek- opened #3306 "--non-interactive with --apply-patches option doesn't work as expected"
Running `coala -I --ci --bears SpaceConsistencyBear --files something.py -S use_spaces=True --apply-patches` doesn't applies the patches on the files instead it only shows what is going to happen if one applies it.

The output is something like the following

    [INFO][11:59:07] Applied 'ShowPatchAction' on 'something.py' from 'SpaceConsistencyBear'.

instead of

    patch applied successfully

[2016-12-18 06:36] RohanVB opened #3307 "No tests for 'Ignore all'"
There should be a test in ProcessingTest.py similar to the others (as done with Ignore abear, start ignoring and stop ignoring) for Ignore all.

[2016-12-18 09:17] jayvdb opened #3310 "Python 3.3 version check does not work"
It is possible to install coala on any Python 3.3, except perhaps Python 3.3.0

The logic in https://github.com/coala/coala/blob/569d894/coalib/__init__.py#L25 is incorrect.

In Python 3.3
[code]

[2016-12-18 09:18] jayvdb commented on #3310
Appropriate that this issue is numbered 3310 ;-)

[2016-12-18 11:14] sils opened #3313 "List of commits to backport to 0.9"
- [x] 7f4edb8 : https://github.com/coala/coala/pull/3314
- [x] 8db4fb7: https://github.com/coala/coala/pull/3384
- [x] 06a772f3b4676e1e4e59d3b1eaa8f87af7fd45ba : https://github.com/coala/coala/pull/3216
- removing setuptools from requirements
  - [x] 49f441bf24
  - [x] bacb0ff3
- [x] https://github.com/coala/coala/pull/3381 (https://github.com/coala/coala/issues/3303 68afd596)
- [x] 39b0a170: need

[2016-12-18 11:15] #3310 closed

[2016-12-18 11:33] userzimmermann commented on #3283
@Makman2 @sils And pdb is an integral part of IPython as well. In fact even better if used inside IPython! So **bearsh** will give you fancy interactive coala based on IPython bear magics combined with all the pdb stuff :)

[2016-12-18 11:39] lucianzr1 commented on #3242
I would like to be assigned with this issue.

[2016-12-18 11:55] marian-ald commented on #3255
@Mariatta  you mean writing a document where to explain the names of the bears?

[2016-12-18 12:21] coala-bot opened #3316 "Add warning if the user defines a setting that is already defined"
If I have a coafile like:

[code]

I might expect coala to run ABear and BBear however, the second `bears` setting overrides the first one. If we have two times the same setting in the same version the user should be warned!

difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=58567f48058ca9673760233f) by @sils

[2016-12-18 12:24] DragosCocirlea commented on #3316
I'd like to be assigned this.

[2016-12-18 12:25] DragosCocirlea commented on #3316
Can I fix this issue?

[2016-12-18 12:31] tibi77 opened #3317 "Part of README.rst is not rendered"
This part of the readme is not used. And is a bit strange anyway.

[code]

[2016-12-18 12:32] tibi77 commented on #3317
@achilleas-k  @madan96

[2016-12-18 12:41] sils commented on #3316
certainly! Are you at the hackathon? I can give you a few hints if you are.

[2016-12-18 13:31] SarthakNijhawan commented on #3140
@Mixih `git add -A` will add the file to the staging area only , right ?
So what are we exactly planning for, can u be more elaborate please , so that I could write better....
Is it like that they(newcomers) commit thereafter only after rebasing into the master branch or something else. Thanks 😃

[2016-12-18 13:44] coala-bot opened #3319 ""Documentation coala settings" remove "Documentation" from the title"
difficulty newcomer see http://api.coala.io/en/latest/Developers/coala_settings.html

Opened via [gitter](https://gitter.im/coala/coala/?at=585692c80730ce6937ddbd18) by @sils

[2016-12-18 14:09] cociorbaandrei commented on #3319
Hello, i want to work on this.

[2016-12-18 14:20] BrateS commented on #3020
Can you help me understand the code ? I want to help with this.

[2016-12-18 14:57] dracarys09 commented on #3164
@sils @sils  regarding https://github.com/coala/coala/issues/3164 as we discussed previously... I figured out where the problem is... Actually it is not in DocumentationComment class... Instead the problem is in the way we are extracting metadata for a function... The problem is in ```concat_doc_parts()``` method in ```DocstringMetadata.py```. We can correct this by either changing ```return old +

[2016-12-18 15:09] userzimmermann opened #3322 "PycodestyleBear doesn't work on Windows"
Don't know yet if the problem comes from **coala** or **coala-bears**. Opened copy at https://github.com/coala/coala-bears/issues/1172

[code]

[2016-12-18 15:27] userzimmermann opened #3323 "@linter decorator causes ERROR on Windows"
@sils See https://github.com/coala/coala-bears/issues/1172 and https://github.com/coala/coala/issues/3322 respectively.

[2016-12-18 15:30] sils commented on #3323
CC @Makman2

[2016-12-18 15:30] Adrianzatreanu commented on #3237
being merged through https://gitlab.com/coala/package_manager/merge_requests/4 , as the requirements have been moved

[2016-12-18 15:30] #3237 closed

[2016-12-18 15:43] sils opened #3326 "Beautify coala.io/help"
- [ ] https://github.com/ribozz/sphinx-argparse/issues/47
- [ ] https://github.com/ribozz/sphinx-argparse/issues/46
- [ ] https://github.com/ribozz/sphinx-argparse/issues/45
- [ ] https://github.com/ribozz/sphinx-argparse/issues/44

CC @BrateS who created it and might be interesting in helping upstream to make this better

[2016-12-18 16:05] sils commented on #3156
CC @razvanch

[2016-12-18 16:05] sils commented on #3033
CC @razvanch

[2016-12-18 16:15] userzimmermann opened #3329 "Wrong doc string syntax in coalib.bearlib.aspects.Root"
The doc string of the `Root` aspectclass has a formatting issue at https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/__init__.py#L61

You can see the wrongly rendered result at https://api.coala.io/en/latest/coalib.bearlib.aspects.html#module-coalib.bearlib.aspects

[2016-12-18 20:25] Mixih opened #3332 "Add urllib exception handlers to download_cached file"
A failure to download a cached file because the server was sleeping or something shouldn't make coala throw a unhanded bear exception. These should be caught and processed as log warnings.

[2016-12-18 20:49] sils commented on #3164
can we maybe just do a `return (old + ' ' + new).strip()`?

[2016-12-18 21:07] dracarys09 commented on #3164
Yes we can do that too. Actually though implementation wise it is different but essentially this is the same thing because when we do ```arr[0].strip()``` , ```arr[0]``` actually has the value of ```old + ' ' + new```. I've tried using ```(old + ' ' + new).strip()``` and it is working too. Do you want me to change my commit to follow this and push again ?

[2016-12-18 21:15] sils commented on #3164
you need to fix the bug at the source, just fixing one usecase won't fix
all occurrences!

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 18 December 2016 at 22:07, Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-18 21:21] dracarys09 commented on #3164
The source of this bug is exactly what I mentioned in previous comments. The same problem was occurring in CPDBear (I've mentioned this in previous discussion with @jayvdb) as well, however this fixes all the occurrences of this problem.

[2016-12-18 21:58] dracarys09 commented on #3164
@sils I'll try to explain...

1) ```run_coala()``` is called which in turn calls ```gather_configuration()``` which in turn calls ```fill_settings()```

2) In ```fill_settings()``` if we go to the section where it is mentioned ```#Retrieve needed settings.``` you'll find this line (line 73) -> ```needed = bear.get_non_optional_settings()```. After this value of variable ```needed``` is ```OrderedD

[2016-12-18 22:31] Makman2 commented on #3323
phew... will investigate soon^^

[2016-12-18 22:34] Makman2 commented on #3283
alright I'm waiting for getting surprised :D

[2016-12-18 22:46] Makman2 commented on #3306
So the files didn't change or is just the message different?

[2016-12-18 22:47] Makman2 commented on #3313
So can this be closed @sils ?

[2016-12-18 22:47] Mixih opened #3333 "Make setup.py docs output nonzero exit codes on errors"
Currently, docs issues slip the CI because setup.py happily outputs a zero exit code even when things fail. (see https://travis-ci.org/coala/coala/jobs/185007475#L1879 for an example of this problem

[2016-12-18 23:06] sils commented on #3164
from_docstring should handle the strip then right?

[2016-12-18 23:13] dracarys09 commented on #3164
Inside from_docstring there is a local function named concat_doc_parts... that should handle the strip correctly (from_docstring is using this local function) which can be done by using ```return (old + ' ' + new).strip()``` in concat_doc_parts as you suggested.

[2016-12-18 23:33] Mixih commented on #3333
(Feel free to take this if you know the solution, I'm just assigning myself so it gets done in a timely manner)

[2016-12-18 23:55] Adrianzatreanu opened #3334 "Sphinx giving warnings on docs"
/home/dev/projects/coala-review/3327-review/coala/docs/Developers/coala_settings.rst:14: WARNING: Inline strong start-string without end-string.

is the current warning, which is on a generated file, as coala_settings has only 7 lines

[2016-12-19 00:01] Mixih commented on #3334
Here is the docstring that the file is gerenerated from
@coalib/parsing/DefaultArgParser.py L35
[code]
IMO, it look like the ** in `$ coala --bears SpaceConsistencyBear --files **.py --apply-patches` or `$ coala --bears SpaceConsistencyBear --files **.py` are being interpreted  as the start of a "strong" element

[2016-12-19 00:16] Mixih opened #3335 "Readme is broken on pypi"
looks ugly :( https://pypi.python.org/pypi/coala/0.10.0.dev20161217171149
Probably another minor rst thing.....

[2016-12-19 00:29] Mixih commented on #3140
Well yes and then they push. I think we'll need a `fixing common git issues` doc so we can outline how to fix a few of the more common ones. Here, you want to show them how to remove files from a commit even after a push.

CC @sils regarding a new doc

[2016-12-19 03:17] jayvdb commented on #3313
I've added the setuptools problem, as that is causing us a lot of problems with builds, and our requirement will be causing other packages to have conflicts.

Also the `format_str` problem, as I do not believe we should be breaking editors, and those editor plugins dont have good dependency version management capabilities, so it cant easily be fixed on their side.

[2016-12-19 03:21] jayvdb commented on #3313
btw, the libclang-py3~=3.4 requirements change is giving people problems, which havent been diagnosed , so IMO that shouldnt be done in 0.9

[2016-12-19 03:23] jayvdb commented on #3289
xref https://github.com/coala/coala-bears/issues/1170

[2016-12-19 03:41] #3335 closed

[2016-12-19 03:48] Projjol commented on #2683
Hi, could I take a shot at this?

[2016-12-19 04:12] jayvdb commented on #2533
the flake8 series of linters use this, but it must appear:

* in a comment at the end of the line to be ignored. This does **not** cover the 'next' line.
* in the *first* comment in the file.  This covers the entire file. (not all flake8 series linters support this)

pylint uses a different syntax.

What other linters use this?

[2016-12-19 04:20] RohanVB commented on #2533
- > in a comment at the end of the line to be ignored. This does not cover the 'next' line.
Currently, this is what `noqa` does. Also, if you specify a bear, `noqa` would run only for that specific one.

I see CoffeeLint uses this as :

[2016-12-19 05:12] gRSsomani commented on #3329
Hello, I want to work on this.

[2016-12-19 07:37] Siddhartha1234 commented on #3329
Sir,can you assign this bug to me?

[2016-12-19 07:50] Siddhartha1234 commented on #3334
Surrounding the function with double backticks should do the trick , can  i be assigned this?

[2016-12-19 09:05] jayvdb commented on #3332
Please no.
You had a requests rewrite .  It was good.  Writing our own http(s) code using the low level urllib is not easy or wise.  If was was, requests would be a small wrapper.  Rather, requests was so big that urllib3 was created.

[2016-12-19 09:10] jayvdb opened #3339 "libclang-py3 0.2->3.4 problems"
Several developers have experienced problems after the requirements change to v3.4 , even in a clean venv.

The general fix seems to be to uninstall coala & bears (maybe repeating `pip uninstall coala` & `pip uninstall coala-bears` several times) and then creating the venv.

Please report any related problems here.  We need to know if

1) they only occur when mixing versions like developers do, or

[2016-12-19 11:06] RohanVB commented on #3339
See https://github.com/coala/coala/issues/3281 ; There's a solution in the comments. What I had to do was ensure that there was no global installation of coala and coala-bears, then I had to re-install locally, on my virtual env. https://github.com/coala/coala/issues/3152 was also solved by this.

[2016-12-19 11:24] jayvdb commented on #3339
Thanks for finding that issue.  I couldnt find it ;-)
What is concerning is that a virtualenv shouldnt, in theory, be looking at the global env.

[2016-12-19 11:48] Abhisek- commented on #3306
The file didn't change. I think the problem is with `coala/coalib/output/ConsoleInteraction.py`. In `print_result` function `acquire_actions_and_apply` is called inside the if condition to prevent console interaction, but it also prevents applying the patch.

[2016-12-19 12:55] Mixih commented on #3334
Makman2 advises codeblocks instead which I agree with. Just add a double colon on the sentence before each of the statements that might gives issues(there are 2).

[2016-12-19 14:34] Mixih commented on #3333
@Siddhartha1234 You are assigned. Pleas submit a patch soon so we can catch breaking docs errors.

[2016-12-19 14:45] Mixih opened #3340 "Coala banner too big on pypi page."
It's so large that it creates a scroll bar(shouldn't pypi be resizing this anyways)?
(confirmed on safari and firefox)

![issue](https://cloud.githubusercontent.com/assets/5818750/21316665/76027146-c5c7-11e6-8f0b-6cf767ea15c3.PNG)

Also the ascii cinema is messed up:

![issue2](https://cloud.githubusercontent.com/assets/5818750/21317030/07272148-c5c9-11e6-94ac-499e54973246.PNG)

Monitor: 1920x1080

[2016-12-19 15:06] Makman2 commented on #3329
@Siddhartha1234 as @gRSsomani was first I would assign him^^
@gRSsomani you haven't accepted your invitation to our org yet, please do so to get assigned :+1:

[2016-12-19 15:22] RohanVB opened #3343 "Inconsistencies in quotation marks on ProcessingTest.py"
I'd like to do this.

[2016-12-19 15:37] Makman2 opened #3345 "Processing: Not completely covered by `py.test -k Processing`"
[code]
Tests should be completely self-covering.

[2016-12-19 19:47] gRSsomani commented on #3329
Thank you!! I have accepted the invitation. Please assign.

[2016-12-20 00:35] #3307 closed

[2016-12-20 03:14] Mixih commented on #3150
for step 3, I don't think that's quite how we do it. We use coala as origin and <fork_Name> for the fork.
other than that yes good...
@venky18 Oh, and if you don't get a response here after  waiting a reasonable time after posting something... feel free to ping me on gitter. If you need help, ask around on gitter. Thanks!
(sorry for this very late reply, github has been flooding my email)
Also the

[2016-12-20 03:17] Mixih commented on #3340
As you've submitted a patch, you now have ownership of this ;)

[2016-12-20 03:24] Mixih commented on #3332
should we rewrite in requests then @jayvdb ?

[2016-12-20 03:25] yukiisbored commented on #3339
This problem happened when I was installing coala-bears on my host and it says "There is a conflict in the version of a dependency you have installed and the requirements of coala" and it requires libclang-py3==0.2. So, I've installed it on my host and now it wants libclang-py3==3.4. Because of that, I created a new virtualenv and use that instead but it has the same result. So, I uninstalled coal

[2016-12-20 05:55] adtac commented on #3020
@BrateS sure! I've assigned you to this issue.

* First take a look at coala.io/newcomer if you haven't already - that should help you get started a little.

* So this issue has something to do with the setting of each bear. Run `coala --show-bears --show-details`. This should give a list of all bears installed and the list of settings under each bear. Take a look at `YapfBear`, for example. The d

[2016-12-20 05:56] adtac commented on #2898
at least a difficulty/medium then?

[2016-12-20 05:57] adtac commented on #3176
ohhhh right, sorry! :D

[2016-12-20 06:18] adtac commented on #3303
@DanRadulescu962 sure, assigned you :+1:

IMO we should probably add a deprecation warning if the user uses `--format_str` - so that we can safely remove it again for the next release. Or do we want both settings? (redundant, I'm afraid)

[2016-12-20 06:19] SarthakNijhawan commented on #3140
@Mixih I have created a PR referring this issue ... pls take a look.. 😃

[2016-12-20 08:27] Uran198 commented on #3265
What about solving it partially, like adding the most common things that
are not 100% obvious to the FAQ, like "What issues can I work on?".

On Dec 17, 2016 13:57, "Lasse Schuirmann" <notifications@github.com> wrote:

[2016-12-20 08:35] jayvdb commented on #3332
Yes.

[2016-12-20 11:32] Shade5 commented on #3345
I'm a newcomer, will I be able to fix this? If so please assign me to this.

[2016-12-20 12:13] jayvdb opened #3351 "Limit errors in report"
When run on CI, too many errors fills the log, making it stop, possibly causing less important errors in the general section preventing more important information in other sections not be seen.

Each section or each bear could have a reasonable limit, like 50 errors, to ensure some errors from all sections are shown.

[2016-12-20 12:19] nkprince007 commented on #2907
Can I be assigned this?

[2016-12-20 12:32] #3329 closed

[2016-12-20 13:02] Mixih commented on #3332
Alright, personal task list:
1. Rewrite in requests(urllib is hell)
2. Write exception handlers
3. Fix bugs

[2016-12-20 16:15] #3343 closed

[2016-12-20 18:27] coala-bot opened #3352 "circleci: detect one container and report a useful error"
Opened via [gitter](https://gitter.im/coala/coala/?at=585977fac5a4e0233bac4eb0) by @jayvdb

[2016-12-20 18:27] Mixih commented on #3352
Just need to check if it sees node#1

[2016-12-20 18:29] jayvdb commented on #3352
I think we can use the CIRCLE_NODE_INDEX to detect one container. I think it isnt set if there isnt any extra containers

[2016-12-20 18:30] jayvdb commented on #3352
Worst case is use a file as inter-node communication and first one to finish complains if two didnt start.

[2016-12-20 21:26] Abhisek- opened #3354 "The file placeholder of --format option gives repetitive results"
When run coala with `--format "file_name: {file}"`, it gives repetitive results if more than one line of that file is affected.

### Steps to Reproduce
1. Create a file named `something.py` and write some code with more than one line having trailing spaces.
2. now run `coala -I --bears SpaceConsistencyBear --files something.py -S use_spaces=True --format "file_affected: {file}"`

### Actual Result

[2016-12-20 21:38] Mixih commented on #3333
Critical because multiple doc problem misses have been occurring
@Siddhartha1234 If there is not a pull by Saturday at 23:00UTC, I'll be taking over this patch... Just so it gets done.

[2016-12-20 21:40] Abhisek- opened #3355 "affected_code place holder of --format option should produce more verbose results"
When run coala with `--format "affected_code: {affected_code}", it produces results with unnecessary information.

### Steps to reproduce
Create a file with with some affected lines in it. In this case we will use `something.py` as our file name and trailing white spaces to make our code affected.
Now run `coala -I --bears SpaceConsistencyBear --files something.py -S use_spaces=True --format "affe

[2016-12-21 00:26] Makman2 commented on #3345
sure you can try :)

You need to write tests / modify existing tests in `ProcessingTest.py` so that every piece of code is covered when running `py.test -k Processing`.

[2016-12-21 02:05] Makman2 commented on #3355
I would use a format that does not contain `\n`s (simplifies often parsing with regexes), but generally I like the idea :+1:

[2016-12-21 02:09] Makman2 commented on #3351
like the idea. Do you think we should filter results and put the ones with highest severity on top?

[2016-12-21 02:30] jayvdb commented on #3351
Ah, that is a very nice approach.

Here is the cause of this issue:
https://travis-ci.org/GnarledHarpy06/Aurora/jobs/185408039
https://s3.amazonaws.com/archive.travis-ci.org/jobs/185408039/log.txt

[2016-12-21 02:41] Shade5 commented on #3345
I installed the  package **python-pytest**
However, I'm getting the following error when I run your command
`py.test -k Processing --cov`

[code]

[2016-12-21 03:56] Mixih opened #3357 "Coala Dev Docs TOC needs work(see picture)"
![capture](https://cloud.githubusercontent.com/assets/5818750/21376945/efac91ce-c6fe-11e6-8a34-f6c408354b2d.PNG)
For developers should probably be at the top, and coala API Documentation should be removed. Coalib package should be moved to someplace logical.

[2016-12-21 04:37] badarsh2 commented on #3357
I would like to work on this fix.

[2016-12-21 06:43] Abhisek- commented on #3355
But I have not used any `\n` in my format. The source code contains `\n`s.

[2016-12-21 09:57] nkprince007 commented on #2907
I've done some debugging, and found some results. If the issue under discussion is this.
[code]
This part actually arises from [coala/coala-bears](http://github.com/coala/coala-bears) from individual bears.
- [SpellCheckBear](https://github.com/coala/coala-bears/blob/master/bears/natural_language/SpellCheckBear.py#L8)
- [PHPCodeSnifferBear](https://github.com/coala/coala-bears/blob/master/bears/ph

[2016-12-21 12:21] Makman2 commented on #2907
Actually this is something different, those are improvement warnings we just recently merged, and as you see they suggest to improve the regex for linter bears. See https://github.com/coala/coala-bears/issues/1184 👍

[2016-12-21 12:32] BrateS commented on #3020
@adtac Thanks a lot ! I look into it.

[2016-12-21 14:20] nkprince007 commented on #2907
@Adrianzatreanu could you specify how to replicate your problem?

[2016-12-21 14:45] Mixih commented on #3357
Assigned! Cehck the docs at https://api.coala.io tog get started

[2016-12-21 16:03] Makman2 commented on #3355
don't understand you :O
I mean your expected format should look like
[code]
instead of
[code]

[2016-12-21 16:07] #3249 closed

[2016-12-21 16:54] Mixih commented on #3044
Repos that needs checks:

- [ ] Documentation
- [ ] Coala-bears
- [ ] Coala

[2016-12-21 17:05] Mixih commented on #3332
Shallwe set a sane timeout too so it doesn't hang for hours if you're not connect to the internet?

[2016-12-21 17:36] SarthakNijhawan commented on #2860
@abhsag Can I work on this?

[2016-12-21 17:58] Abhisek- commented on #3355
Oh I misunderstood you. I thought you are talking about the format `--format "affected: {affected}"`, hence I thought I've not used any `\n`.

The expected result *may* look something like the following.

    affected_code: /home/abhisek/Github/coala/something.py:
                   From: 4: None
                   To:   4: None

but It doesn't necessarily have to be that way. The idea is to make

[2016-12-21 18:26] abhsag24 commented on #2860
@SarthakNijhawan assigned!

[2016-12-21 18:34] #3352 closed

[2016-12-21 21:40] nemaniarjun commented on #2926
Is anyone working on this? maybe @jasemj ?

[2016-12-21 21:41] nemaniarjun commented on #1709
Is this still required? I can take this up.

[2016-12-21 22:30] Makman2 commented on #3355
`--format` is primarily for printing results in a simple parsable format. For humans you can use our default cli without `--format` :)

[2016-12-21 22:31] sils commented on #1709
@mgracer48 ? Haven't seen him around lately.

[2016-12-21 22:56] Makman2 commented on #3357
Why do you want to remove the link to the API docs?

[2016-12-21 22:57] Mixih commented on #3357
it's not a link and this IS the apidocs.. We could make it a proper link, but that would be redunant.

[2016-12-21 23:01] Makman2 commented on #3357
yeah makes totally sense :metal:

[2016-12-21 23:10] Mixih commented on #3357
Oh and the random bold entry should probably be unbolded or moved so the bolding is meaningful....

[2016-12-21 23:12] Mixih commented on #3345
As discussed on gitter(and here just for future reference), `# pragma no cover` is almost never the way to raise coverage as it doesn't actually test the code. You always want to write tests where possible

[2016-12-21 23:13] Mixih commented on #3317
resolved by the malformed table patch

[2016-12-21 23:13] #3317 closed

[2016-12-21 23:14] Mixih commented on #3277
xref #3280. When writing a patch for this issues, also include a closes line for #3280

[2016-12-21 23:17] Mixih commented on #3184
Is this still a problem? Looks like our builds work now(unless you wrote a work around)

[2016-12-21 23:19] Mixih commented on #3172
I will add this to "Writing good comits.rst

[2016-12-21 23:33] Mixih commented on #2904
I think this works

[2016-12-21 23:33] #2904 closed

[2016-12-22 00:57] #3239 closed

[2016-12-22 01:35] jayvdb commented on #3184
There is a workaround in `.travis.yml`

[2016-12-22 02:39] Shade5 commented on #3345
@Mixih Yes, got it. I just forgot to update the comment

[2016-12-22 03:47] coala-bot opened #3360 "docs/_static/custom.css fails CSSLintBear"
Opened via [gitter](https://gitter.im/coala/coala/?at=585b4cebe7bdfe4e298476e6) by @jayvdb

[2016-12-22 03:59] Abhisek- commented on #3355
Oh.. that is also right :). I over thought about that. thanks

[2016-12-22 04:51] coala-bot opened #3361 "dep.sh contains trailing whitespace"
Opened via [gitter](https://gitter.im/coala/coala/?at=585b5bb8c895451b75085e38) by @jayvdb