[2017-05-12 17:39] mrtes commented on #4010
The solution I implemented for the IgnoreResultAction (#4179) checks this in the ) `action.is_applicable` method.
It does the same as your proposal, but would separate the logic more cleanly, because the action checks itself, instead of being checked by the former action.
Not sure if that would work for more complex decisions (compared to "only being executed once").

[2017-05-12 17:46] Makman2 commented on #4010
Ah yeah that's better :)

If we have more complex stuff we can still implement any complexity we want in `next_actions` at least.

[2017-05-12 20:46] mridubhatnagar commented on #4222
@jayvdb RSTcheckBear is not yet a part of .coafile. So whoever would work on this first will need to make changes in the .coafile.
Adding rstcheckbear in .coafile would raise bunch of other changes that I have already fixed in
#4211.

Because of this reason I have fixed this issue in #4211 itself.
We can close this as well. Once #4211 gets merged.

[2017-05-13 04:55] jayvdb commented on #4222
@mridubhatnagar , no, someone can fix this bug without enabling RSTcheckBear.

This bug should be fixed before #4211.

[2017-05-13 12:41] #4191 closed

[2017-05-13 13:27] jayvdb commented on #2197
#4167 added `check_invalidity`.

Then we need to remove use of `valid=`, which depends on https://github.com/coala/coala-bears/issues/1729  and https://github.com/coala/coala-bears/issues/1730 .

Then IMO, we should keep the `valid` argument for one release cycle, as removing it will break anyone using an older `coala` in development.

[2017-05-13 13:33] jayvdb opened #4227 "Create LocalBearTestHelper.check_line_result_count"
`InvalidLinkBearTest` has a funky `assertResultCount` method, which counts how many results occured on each line, which is much more precise than `check_validity` / `check_invalidity` , but not quite as much work as using the very precise `check_results`.

To build this properly, split `check_results` into `get_results` and `check_results`, so that `get_results` is able to be used by the new `chec

[2017-05-13 13:46] Makman2 commented on #2197
@yash-nisar is redesigning and improving the testing API, assigning to him.

[2017-05-13 23:57] #4184 closed

[2017-05-14 01:09] jayvdb opened #4228 "return[] in coalib/parsing/Globbing.py"
coalib/parsing/Globbing.py contains `return[]`, which may not be explicitly rejected by PEP 8 style guide (https://github.com/PyCQA/pycodestyle/issues/650), but it is ugly anyway.

Please change it to `return []`

[2017-05-14 01:18] jayvdb opened #4229 "Support flake8 plugin API"
Rather than add a `flake8` bear (c.f. https://github.com/coala/coala-bears/issues/169), which would mean coala is wrapping a wrapper, coala should have a helper class that wraps a flake8 plugin.

This is roughly what the [Integrate pyflakes-enhanced AST into coala](http://projects.coala.io/#/projects?project=integrate_pyflakes-enhanced_ast_into_coala_) project was aiming to achieve.

[2017-05-14 02:49] #4227 closed

[2017-05-14 03:35] zachsnyder1 commented on #4228
I will take this one, for the team :)

[2017-05-14 11:46] mrtes commented on #4185
The console_printer, which is configured with args.no_color, is currently only used in the ConsoleInteraction,py file, which explains why the argument does not do anything regarding logging colors.

For logging, the console_printer is not used at all. It is handed to the log_printer, but that uses the "logging" package internally. Additionally, the "logging" package is used directly in some cases

[2017-05-14 13:28] Makman2 commented on #4185
Those log- and console-printers are deprecated. We haven't removed them completely yet, that's why you encounter those sometimes.

[2017-05-14 18:56] mrtes commented on #4010
So should we consider merging my PR, or should it be implemented together with this change?

[2017-05-14 21:04] satwikkansal commented on #4010
Imo, we can go ahead and merge https://github.com/coala/coala/pull/4179 first

[2017-05-14 21:43] shreyans800755 commented on #3556
@sils @Makman2
Any work need to be done on this issue ?

[2017-05-14 23:54] Makman2 commented on #3556
@shreyans800755 go ahead :+1:

[2017-05-15 15:25] mrtes commented on #3834
We could slice the list (like `list[:-1]`), then check each remaining element with string.endswith('\n') or something similar and add it, if it is missing.

Do we need to differentiate between LF and CRLF or is that done automatically?

[2017-05-15 15:42] meetmangukiya commented on #3834
LF and CRLF is handled implicitly by python while writing the file afaik

[2017-05-15 17:46] coala-bot opened #4232 "cli refuses to run global bears without files"
[code]
difficultly/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5919e9618a05641b1185768d) by @jayvdb

[2017-05-15 18:39] mrtes commented on #3834
Do you think my suggestion is sensible? If so, I would like to work on this one.

[2017-05-15 18:57] #4228 closed

[2017-05-15 19:22] shreyans800755 opened #4233 "Add Statistics in bear aspects"
As per discussion on thread https://github.com/coala/coala-bears/pull/1691#discussion_r116030569,
and comment by @sils
Add Statistics in bear aspects `CAN_DETECT`.

[2017-05-15 21:15] jayvdb commented on #4233
Personally, I think this is a mis-use of CAN_DETECT.  But @userzimmermann is responsible for the design in this area.

Note that @sils and I had a chat the design problems that `CLOCBear` causes at https://gitter.im/coala/coala?at=591185e0c89bb14b5ae5299a

[2017-05-15 21:16] Makman2 commented on #4232
The new core should handle this correctly. Not sure if we should wait for it though to fix this issue^^

[2017-05-15 21:18] jayvdb commented on #4232
IMO this isnt urgent, as the workaround is to create a .coafile section and invoke that section using the CLI.
And it seems the new core isnt far away...
How about you self-assign this, and unassign it if it looks like the new core is taking too long to land?

[2017-05-15 21:26] #4178 closed

[2017-05-15 21:39] shreyans800755 commented on #4233
@jayvdb @sils I've pointed it out in comment https://github.com/coala/coala-bears/pull/1691#discussion_r116282711.
Either we have to add statistics related logic as suggested by @sils, or we can add CAN_COMPUTE or something like that, and than use it later when other design that uses statistics is ready.

[2017-05-15 23:01] mrtes commented on #3834
Wouldn't it make sense to perform the same procedure on creation of the diff?
Or do all use-cases (except tests) use "files" with linebreaks included?

[2017-05-15 23:15] Makman2 commented on #3834
it would also make sense on instantiation, so we allow always non-\n-input and \n-input but convert it properly internally. Good catch :+1:

[2017-05-15 23:20] mrtes commented on #3834
And on modify_line?

[2017-05-16 01:28] Makman2 commented on #3834
Same. Depending where the line is modified (last line or somewhere before) \n is appended or not :+1:

[2017-05-16 08:06] coala-bot opened #4236 "Bear.py: Add aspect ``License``"
See https://github.com/coala/coala-bears/blob/master/bears/general/LicenseCheckBear.py#L30, which contains the aspect `License` which should be added to our list [here](https://github.com/coala/coala/blob/master/coalib/bears/Bear.py#L95)
difficulty/newcomer
area/aspects

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=591ab31c83cb5db07336df73) by @yash-nisar

[2017-05-16 08:07] yash-nisar commented on #4236
@userzimmermann @jayvdb Thumbs up if you agree.

[2017-05-16 08:37] sils commented on #4233
IMO either use CAN_DETECT or also an option would be to not list this
"aspect" at all. The CAN_DETECTs will be replaced by aspects at some time
anyway and the aspects should contain statistics as well, we'll need them.

[2017-05-16 12:10] nityeshaga commented on #4222
Just to be clear, all that is needed to resolve this issue is removing the line

from the Development_Setup.rst file. Am I correct?

[2017-05-16 14:24] nityeshaga commented on #3478
I see no current assignees and I would like working on this issue. Assigning it to myself via cobot.

[2017-05-16 14:38] sims1253 commented on #4222
@Balaji2198 please make sure to assign the issues you are working on so that others don't waste their time doing the same work you are doing.

[2017-05-16 17:10] shreyans800755 commented on #4233
Then, I think PR for this issue should be good to merge along with https://github.com/coala/coala-bears/pull/1691 for CLOCBear.

[2017-05-16 17:22] Makman2 opened #4237 "Nextgen-Core: Don't use an asyncio event loop"
It seems that the `ProcessPoolExecutor` (and also all other executors) do provide the functionality we need by themselves: `submit()` and `shutdown(wait=True)`. As far as I understand an event loop provides only extra functionality on top of executors, like coroutine support and delayed execution (which we don't need).

Any reasons against using the executor only?

CC @Udayan12167

[2017-05-16 19:58] shreyans800755 commented on #2509
@Makman2
Approach suggested by @adtac looks much cleaner and feasible.
I have doubt regarding the present filter available based on language. Should we remove that to maintain consistency, or just keep it for backward compatability.
It will also degrade the code quality by putting if/else conditions inside https://github.com/coala/coala/blob/master/coalib/coala.py#L43.

[2017-05-16 20:56] Makman2 commented on #2509
We keep it and deprecate it if the new filter-language handles it. After a few releases we remove the option then :+1: That's generally the procedure for official features so people don't wonder why suddenly something doesn't work any more :)

PS: adtac's name was "hypothesist" earlier, so I was already agreeing with him ;)

[2017-05-16 21:05] #3478 closed

[2017-05-17 08:28] Udayan12167 commented on #4237
It was only done keeping future expandability in mind. I don't know how much the overhead is though. I can see a use for coroutines when we output the results for a bear with each bear awaiting on another bear to output its result or each section awaiting on another to create order without the use of queues and sorting.

[2017-05-17 10:30] yashLadha commented on #4119
Going through the discussion, it seems that creating config file only yields performance improvements and there is no way it would be better if it is not there. Them it will create an overhead of managing a large amount of data at each instance.

[2017-05-17 10:46] yashLadha opened #4239 "py.test: error"
When i am executing py.test on my local machine it says following error
`usage: py.test [options] [file_or_dir] [file_or_dir] [...]
py.test: error: unrecognized arguments: --cov
  inifile: /run/media/yashladha/Data/coala/setup.cfg
  rootdir: /run/media/yashladha/Data/coala
`

I am running
Fedora 25

[2017-05-17 11:25] Nosferatul commented on #4239
run `pip install pytest-cov`

[2017-05-17 12:31] Makman2 commented on #4237
So you want to start a dependent bear once a single result from its dependency is available? Sounds quite difficult to achieve that. Currently we wait until the bear finishes completely^^ Hm but yeah that would be a reason to keep it.

[2017-05-17 12:39] Makman2 commented on #4119
No, creating a config file is always an impact on I/O. Some bears do support setting an external config file, in those cases we don't have to create a coafile as it's redundant. So we want to omit it, and this is possible by returning `None` in `generate_config()` under this condition.
This issue is about mentioning this possibility to improve performance in those cases.

[2017-05-17 14:21] Makman2 commented on #4239
Yes please install all test requirements
[code]

[2017-05-17 15:49] yashLadha commented on #4119
Got it! And is there an external parameter for a bear to look for a config file. I would like to work upon it.

[2017-05-17 16:01] yashLadha commented on #4239
There are errors when i run py.test. like ` ERROR collecting tests/settings/SectionFillingTest.py `. I have completed above steps.

[2017-05-17 16:10] Makman2 commented on #4239
Have you more information on the collection error?

[2017-05-17 16:16] Makman2 commented on #4119
Eh sorry, not `coafile`, but a configuration file for the linter used by the bear. :/

I still haven't the feeling you understand the issue completely ;) Those external config files are supplied by settings the bear-writer defines. Read up on http://api.coala.io/en/latest/Developers/Linter_Bears_Advanced.html#supplying-configuration-files-with-generate-config

On that paragraph the feature descrip

[2017-05-17 16:45] yashLadha commented on #4239
[code]

[2017-05-17 16:48] yashLadha commented on #4239
And there are more for
[code]

[2017-05-17 16:49] SanketDG commented on #4239
If you have cloned the repository, you will also have to do a `pip install -e .`

[2017-05-17 16:56] yashLadha commented on #4239
It should be pip3 install -e .

[2017-05-17 17:13] Makman2 commented on #4239
Where? On install? Or when running tests?

[2017-05-17 17:15] yashLadha commented on #4239
When running tests. And there are bunch of it. Is these are bugs to resolve?

[2017-05-17 19:22] yashLadha commented on #4119
Correct me if i am wrong. Config files sets up the parameter in which the bear will work and coafile sets what bears have to work. Means coafile picks up the bear and config sets those bears.

[2017-05-17 20:14] Makman2 commented on #4239
Could you post the whole test run here? (Best you use pastebin or another online service to host this large snippet)

[2017-05-17 20:28] Makman2 commented on #4119
A coafile normally provides already the settings a bear needs to run. But some bears do run external tools, which themselves require an own config file, because they are not designed to work with coala directly (or because of other reasons). In such cases `@linter` supports to generate such a tool-specific config file on the fly from settings provided inside the `coafile`, so coala keeps being the

[2017-05-17 22:13] mrtes commented on #3834
Should the appending of newlines on initialization also happen for the last line (i.e. original eof?)
If not, we have an issue when new lines are added at the end afterwards, e.g.

`diff = Diff('1','2')
diff.add_lines(2,['3','4'])
`
will result in
`['1\n', '2', '3\n', '4']`

This could be resolved by either applying newlines to all elements in initialization of the diff, or applying newlines to th

[2017-05-17 22:21] Makman2 commented on #3834
I would apply newlines at EOF if needed. So in your example `Diff` should be smart enough to make it `2\n`.

Hm yeah I see where it's going... :P

[2017-05-17 22:53] mrtes commented on #3834
Yeah, alright.
Since a second addition at the end cannot be performed anyways, its simple enough to do this.
At least until I run into other issues ;D

[2017-05-17 23:03] mrtes commented on #3834
Should diff.original also include the added linebreaks, or should it still correspond to the list that was used to create the diff?

[2017-05-18 00:00] #3244 closed

[2017-05-18 00:42] Makman2 commented on #3834
I would say convert line endings there too, so if a user compares those directly, he doesn't wonder why suddenly `\n`'s are appearing in the modified version which weren't added explicitly. But if he sees them already in the original, he would understand (at least I think I would :3).

[2017-05-18 13:00] coala-bot opened #4242 "Result: Why is there a json magic method?"
Magic methods are something that python can use to do some _magic_, so conventionally it should be `_json` or something like that and not `__json__`, no?

needs info

Opened via [gitter](https://gitter.im/coala/coala/?at=591d9afdc4d73f445abcb53a) by @meetmangukiya

[2017-05-18 13:54] Makman2 commented on #4242
normally I use that naming convention if I resemble e.g. the behaviour of `str`:
[code]
As `str()` is intended to be used to get the string representation from `X`, it's okay for me to apply the same idea to `__json__`.
[code]
Though that's just my opinion :+1:

[2017-05-18 14:11] meetmangukiya commented on #4242
But there is no `json` magic method :/ you cannot use `json(X())` hence the issue

[2017-05-18 18:37] Makman2 commented on #4242
Don't we have one? (I mean our own, not a python standard)

[2017-05-19 08:09] SanketDG commented on #4242
But you can? I do not see the issue here.

Although, iirc we do not use this anywhere

[2017-05-19 08:14] SanketDG commented on #2564
This is already done?

Can be closed with relevant info.

[2017-05-19 11:22] Makman2 commented on #4242
I think we use it for json result serialization^^

[2017-05-19 11:27] SanketDG commented on #4242
oops sorry yeah, grepped the wrong thing.

[2017-05-19 11:29] Makman2 commented on #2564
Yep think so.
http://coala.io/#!/languages

[2017-05-19 11:29] #2564 closed

[2017-05-19 13:09] meetmangukiya commented on #4242
No, there is no `json` builtin function like `str`. The `__json__` methods are called in the json encoder that we subclassed. And with that encoder, we can then use `json.dumps(obj)` I think.

`__x__` type names are used for python related stuffs, magic methods, etc. for libraries, scripts, we use `_x` convention

Just a convention, but I think we should follow it, because other than this we follo

[2017-05-19 14:04] SanketDG commented on #4242
Oops, sorry for stretching this, but yes, you are right. Seeing the `__json__` in the codebase always felt right, and I just assumed it was in the standard.

Yes, they can just be called `.json()` I guess.

[2017-05-19 15:26] Makman2 commented on #4242
You have to import `json()` from somewhere in our codebase I believe. Anyway, but if `json.dumps` does use that, we should keep it. `_x` means actually "private"/"protected", so it shall not be accessed from outside usually.

[2017-05-19 19:28] mrtes commented on #3834
I'm currently trying a different approach, which is to only append the linebreaks in the output methods (modifed, original, unified_diff).
This works fine, after I've changed the respective tests to expect linebreaks, but I have a few problems left:

1) Can someone verify, if modify_line is working as expected, when "merging" multiple changes in the same line (see [this section](https://github.com

[2017-05-20 00:16] mrtes commented on #3834
Fixed the issues I had.
Using strings in `modify_line` seems to be intended to be able to merge multiple changes to a single line.
To avoid my issue with breaking this behaviour, I had to split the `modified` property into an internal and external version, where only the external version applies the linebreaks.
The internal version has the of  `modified` behaves exactly the same as before and can

[2017-05-20 13:35] meetmangukiya opened #4245 "Multiple bear ignore comments on a single line are not considered correctly"
[code]

[2017-05-20 18:13] Makman2 opened #4246 "Appveyor fails: LLVM download timeout"
See build:
https://ci.appveyor.com/project/coala/coala/build/1.0.7838/job/ejeko4nuwlxt3dh6#L84

[code]
With `LLVM_VERSION=3.4.1`, the link becomes
[code]

It's also not working in my local browser.

CC @jayvdb

[2017-05-20 18:15] Makman2 commented on #4246
Actually www.llvm.org is completely down it seems... Maybe it's a temporary issue.

[2017-05-20 19:59] shreyans800755 commented on #4246
@Makman2 I think llvm is back online. And appveyor build is also being passed successfully.
This issue can be closed I believe.

[2017-05-20 22:39] Makman2 commented on #4246
Yep, looks like it's back again :)

[2017-05-20 22:39] #4246 closed

[2017-05-20 23:17] Makman2 commented on #4245
Marking as `importance/high` as it's no regression.

[2017-05-21 01:40] refeed opened #4247 "Add settings argument to LocalBearTestHelper.check_validity and check_invalidity"
Currently `check_invalidity` and `check_validity` in `LocalBearTestHelper` doesn't have settings argument, so it's difficult when we want to test a bear with some custom settings.

Add `settings` argument to `LocalBearTestHelper.check_validity` and `LocalBearTestHelper.check_invalidity` would be a good idea..

[2017-05-21 12:18] Makman2 opened #4249 "coalaTest: Unexpected assert for an actual error"
See https://github.com/coala/coala/blob/master/tests/coalaTest.py#L37

We assert that there's some error output which seem to be some kind of traceback which is bad.

Task:
1. Check what's actually going wrong
-> If it's reasonable, place a comment above to reason why this is done so nobody is going to be confused and raises an issue again (like me ;D)
-> If it can/should be fixed, fix it and remo

[2017-05-22 03:44] terrazoon commented on #4236
trying to get this assigned to me ...

[2017-05-22 16:36] underyx opened #4251 "Newcomers_Guide: Merge first two steps by mentioning how hello world already invites you to the org"
The first two steps seem pretty outdated: http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-1-meet-the-community

difficulty/newcomer
area/docs

[2017-05-22 16:55] Ciemaar commented on #4251
Invalid, the guide is correct, invites are manual and require a maintainer to issue "cobot inv @user...".

[2017-05-22 17:10] underyx commented on #4251
Actually it seems like it's still not correct: hello world works *around every second try*. Filed issue at https://gitlab.com/coala/cobot/issues/93. We should still edit the docs and maybe mention how it's unstable right now and how you might need to retry once.

[2017-05-22 18:06] shreyans800755 commented on #3472
@sils Do we need ListLogPrinter ?
Is it needed by any bears or any other functionality ?
If so, we'll have to build it using logger instead of LogPrinterMixin.

[2017-05-22 18:46] Makman2 commented on #4251
People can now write `Hello world` into the channel and they get automatically invited. No need to wait for a maintainer any more ;)

[2017-05-22 19:32] jrrickerson opened #4253 "Consider allowing file patterns as command line arguments"
As a newcomer to coala it wasn't immediately obvious to me that the `--files` option was actually not optional.  My assumption, based on other Linux command line tools, was that the set of files to check was to be provided as the primary argument (i.e. `coala somedir/*.py`), which of course resulted in an error message.  @Makman2 explained that the primary arguments are sections from the .coafile

[2017-05-22 19:41] jrrickerson opened #4254 "Add output examples to Tutorial"
The tutorial mentions how to grab tutorial code and run coala against it for the first time, and includes command line snippets to clarify, but does not include any snippets or screenshots to clarify what the output of the tool should look like.  Consider adding output examples to set user expectations and clarify references (for example, the reference to "option 2").

[2017-05-22 19:50] jrrickerson opened #4255 "Newcomers Guide does not link to any style guidelines"
For new contributors, the Newcomer's guide to fixing your first issues and submitting back to the project does not include a style guide.  The Newcomer's guide should link to the Writing_Good_Commits.rst at least.  Consider also including links to PEP8 and Writing_Documentation.rst since newcomer issues are often documentation fixes.

[2017-05-22 22:19] Ciemaar opened #4257 "When displaying an error add an option ignore all future errors including showing the command/config option to disable this check."
When running the HTMLLintBear I get an error that I want to mute entirely, but I don't have a way to find out what it is:

[2017-05-22 22:39] Ciemaar opened #4258 "Edit message about CLI mode to suggest new inheritance feature."
`[WARNING][18:36:28] 'cli' is an internally reserved section name. It may have been generated into your coafile while running coala with `--save`. The settings in that section will inherit implicitly to all sections as defaults just like CLI args do.Please change the name of that section in your coafile to avoid any unexpected behavior.`

[2017-05-22 22:52] coala-bot opened #4259 "Allow substring matching of sections selected in CLI invocation"
`coala python` should run the sections named `all.python.PEP8` and `all.python.pycodestyle`. `coala PEP8` should run `all.python.PEP8`. It's probably enough to break section names down at the dots and match the parts we get like that.

Opened via [gitter](https://gitter.im/coala/coala/?at=59236bc500efc2bb3e945c99) by @underyx

[2017-05-22 23:18] underyx opened #4260 "Write language specification for HTML"
Like this one: https://github.com/coala/coala/blob/62bc3872b7ec0ba2189e22dc09f544b5339d8bb6/coalib/bearlib/languages/definitions/Golang.py

See docs here: http://api.coala.io/en/latest/coalib.bearlib.languages.html#module-coalib.bearlib.languages.Language

[2017-05-22 23:26] underyx opened #4261 "Set up a way to test Language definitions"
We should test these things by running them
against real pieces of code and checking the result after parsing: https://github.com/coala/coala/tree/62bc3872b7ec0ba2189e22dc09f544b5339d8bb6/coalib/bearlib/languages/definitions

[2017-05-22 23:40] underyx opened #4262 "Get rid of all the time.sleeps in tests, use freezegun instead"
We can mock the clock with https://github.com/spulec/freezegun

[2017-05-23 00:42] Makman2 commented on #4253
@sils @jayvdb opinions?
I'm for keeping the current behaviour, still it's interesting that this could be also an option.

[2017-05-23 00:54] Makman2 commented on #4258
Don't understand it completely, what do you want to explicitly change in the message? :)

[2017-05-23 00:56] Makman2 commented on #4259
nice idea 👍

[2017-05-23 01:00] Makman2 commented on #4262
I think not all occurrences can be replaced:
[code]
Some of them just need to wait until results are ready (like the `BearTest`).

[2017-05-23 14:53] jayvdb commented on #4249
Ok, there are also three in `tests/misc/CachingTest.py`.  They were all introduced in cef20b6a7 (https://github.com/coala/coala/pull/3638), which at least confirms they are not a 'very recent' regression, but that commit was still within the 0.11 cycle, so it could still be a 0.11 regression that caused it.

[2017-05-23 16:49] underyx opened #4265 "Development_Setup.rst: Recommends pip install -e twice in a row, pretty confusing"
A [commit](https://github.com/coala/coala/commit/c1f974a02187dd0fa434a6e75cf1e1298715c16c) added the editable installation guide right next to another paragraph about the same exact thing. We should just merge them into one.

[2017-05-23 16:58] jayvdb commented on #4249
The exception is

It is raised from the pytest capture handler: https://github.com/pytest-dev/pytest/blob/d86c89e/_pytest/capture.py#L446

This is unlikely to be a regression.  The easy fix is to add `--ci` to all of these commands, so the tests dont ask the user for a value.

[2017-05-23 17:32] #4260 closed

[2017-05-23 18:49] jayvdb commented on #3217
Moved to https://github.com/coala/projects/issues/299

[2017-05-23 18:49] #3217 closed

[2017-05-23 19:43] #3556 closed

[2017-05-23 21:05] burrowdown opened #4269 "Improve English in Newcomers Guide"
Parts of the intro and section 0 of the Newcomers Guide have awkward and/or incorrect English. Rewrite these sections for readability and grammar.

[2017-05-23 21:08] underyx commented on #4269
Found two related issues: https://github.com/coala/coala/issues/3254 and https://github.com/coala/coala/issues/3858

[2017-05-23 21:55] underyx commented on #4269
Also, @li3n3 is working on this right now 😯

[2017-05-23 22:24] li3n3 commented on #4269
Whoops! Learned an important lesson.

I have some changes but will need to resolve merge conflicts with @burrowdown's edits. Yay!

[2017-05-23 22:46] underyx opened #4272 "Installing docs say OS X is not officially supported but it is"
It's supported since [this commit in January](https://github.com/coala/coala/commit/d2d67fab5004e0a9208428405028b3e2ae174b73). We should update the docs to reflect this.

difficulty/newcomer

[2017-05-24 02:13] SConaway opened #4273 "Readme points to travis-ci instead of travis-ci.org"
In the Readme, the shield for the macOS Build (Travis CI) currently points to
https://travis-ci/coala/coala instead of travis-ci.org/coala/coala.

[2017-05-24 19:36] thisch commented on #4085
We recently updated the doc-requirements.txt in coala (in 162b18237242fdf3e6bbbeeee689f1142c0de5d8). Now, I get a lot of ContextualVersionConflict warnings when running the testsuite locally.

[code]

[2017-05-24 22:10] mrtes commented on #3912
To pick this up again:
I haven't found a method to lock the file for writing either.
I guess using the timestamp (and maybe also the size?) of the file is really the most sensible approach to check if the file was modified outside of coala.
To resolve the issue we would need to reload  (and cache) the file, make a diff between the original and new files and then apply the changes of the bears.

Th

[2017-05-24 22:39] #4262 closed

[2017-05-24 22:41] Makman2 commented on #3912
I believe at the end of the process if I recall correctly... we aggregate patches selected by the user and then apply them at the end.

[2017-05-24 23:37] mrtes commented on #3912
So a change would involve:

- Getting the cache to the method where the files are saved.
- Check the timestamp of all files that have to be changed according to the diffs.
- If they deviate, read the file and recalculate the diffs.
- Error or ask for user input on conflicts.
- Check timestamps again, and error out on further changes.
- Write out the changes.

Of course performance could suffer hor

[2017-05-25 02:04] Makman2 commented on #3912
Phew parallelization outside the core... Would like to avoid that.

But yeah that seems to be it :+1:
I think this is going to be complicated though:

When coala is about to finish, we don't have official communication paths to the user yet. Putting another result into the queue handling a patch fail may not work^^

[2017-05-25 02:34] mubaris commented on #2289
Is this issue still valid. If it is I would like to take it.

[2017-05-25 08:58] NiklasMM commented on #2289
@mubaris This is a very broad issue. What is it that you plan to do here?

[2017-05-25 08:59] #3958 closed

[2017-05-26 11:43] #4185 closed

[2017-05-26 16:59] #4187 closed

[2017-05-26 23:07] mrtes commented on #4245
Going by the documentation of the `get_ignore_scope` function in [Processing.py](https://github.com/coala/coala/blob/master/coalib/processes/Processing.py#L427-L440), this seems intentional.
Or maybe it is expected that multiple ignored bears should follow a single "ignore" statement?

[2017-05-27 01:37] IpshitaC commented on #4255
Hi @jrrickerson ! Will it be a good idea to add the links in Step 3 : Picking up a New Issue section of the Newcomer's guide, as a note?

[2017-05-27 05:07] meetmangukiya commented on #4245
It is coala adding the comment and it doesn't recognize it's own comment, I don't mind as long as all the ignore comments are used.

[2017-05-27 06:57] coala-bot opened #4277 "ci fails: related to deps.coala-bears.sh"
RuntimeError: Requests dependency 'chardet' must be version >= 3.0.2, < 3.1.0!

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5929236ec4d73f445aeb1edb) by @damngamerz

[2017-05-27 06:58] damngamerz commented on #4277
https://circleci.com/gh/damngamerz/coala-bears/110?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-05-27 08:20] yash-nisar commented on #4277
See https://github.com/kennethreitz/requests/issues/4068, and pinning `requests `to `2.14.2` seems to solve the problem.
See builds https://travis-ci.org/yash-nisar/coala/jobs/236623535 (3.5),
https://travis-ci.org/yash-nisar/coala/jobs/236623534 (3.4) that are green but however fails for
`Python 3.6` -> https://travis-ci.org/yash-nisar/coala/jobs/236623536

[2017-05-27 11:05] jayvdb commented on #4277
Also breaks test framework.

[code]

[2017-05-27 11:07] jayvdb commented on #4277
After a bit of playing around `requests < 2.15` is probably the only credible workaround at the moment.

[2017-05-27 11:42] coala-bot opened #4278 "Add build caching info to docs"
Opened via [gitter](https://gitter.im/coala/coala/?at=592966120a783b6c0add8685) by @jayvdb

[2017-05-27 11:49] jayvdb commented on #4278
Explain what is cached, and what isnt.

And also how to do an uncached build on Circle CI (restart without cache) and Travis CI (delete the caches).
See docs for each for more information.

[2017-05-27 12:02] jayvdb commented on #4277
If the `>= 3.0.2, < 3.1.0` requirement is not reverted, lots of bears will be broken and need fixing.

e.g. vim-vint requires `chardet ~= 2.3.0` ; see https://github.com/Kuniwak/vint/blob/master/requirements.txt

[2017-05-27 12:25] meetmangukiya commented on #4277
This breaks bears 0.11.0, we need a backport soon, if requests doesn't revert the change in few days

[2017-05-27 13:19] mrtes commented on #4245
Agreed, It should work.
The question is, where to fix it?
In the function I linked, or in the way ignore comments are applied?

[2017-05-27 14:50] jayvdb commented on #4277
Too much is broken, and the maintainers don't appear interested in reverting.
So, @yash-nisar , could you do the above pinning.

[2017-05-27 14:52] jayvdb commented on #4277
Oh, another release coming https://github.com/kennethreitz/requests/issues/4073#issuecomment-304456919

[2017-05-27 14:53] jayvdb commented on #4277
The next release will likely cause just as many problems in our testing framework, as lots of stuff depends on `requests.packages.x`.

[2017-05-27 15:25] meetmangukiya commented on #4277
0.10.0 is broken as well. Requests itself was added as dependency in 0.10.0

[2017-05-27 15:26] jayvdb commented on #4277
Earlier versions will also have `InvalidLinkBear` broken, as it used `requests`, which is a fundamental breakage.

[2017-05-27 15:27] yash-nisar commented on #4277
Sure, pinning to `2.14.2`.

[2017-05-27 15:29] meetmangukiya commented on #4277
that'll be a bears breakage :P

[2017-05-27 15:35] jayvdb commented on #4277
Still a coala product breakage.
fwiw, older releases used `requests~=2.12`, so they will all be infected.

[2017-05-27 15:47] meetmangukiya commented on #4277
Bears are broken after 0.2, so almost all of coala is broken

[2017-05-27 15:59] jayvdb commented on #4277
Only vim-vint is broken.
I've raised PR https://github.com/Kuniwak/vint/pull/217

[2017-05-27 16:26] jayvdb commented on #4277
fwiw, I am now down to only one test failure in `coala` - the test created in b99d2c399 (https://github.com/coala/coala/pull/3833)

[2017-05-27 18:11] coala-bot opened #4279 "DocumentationAPI: Add Support for `:raises xyz:`"
Add support for `:raises xyz:` in DocumentationAPI. It should be like how params currently work for it.

Opened via [gitter](https://gitter.im/coala/coala/?at=5929c14df3001cd34264db0e) by @damngamerz

[2017-05-27 18:26] jayvdb opened #4280 "sphinx-build fails on docutils 0.14rc1"
docutils released a version `0.14rc1` resulting in
[code]

[2017-05-27 18:41] jayvdb commented on #4280
Note that https://github.com/sphinx-doc/sphinx/pull/3677 removed this chuck of code from master, to be part of v1.7.

They have a `stable` branch for 1.6, so maybe they are interested in this fix.

https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/__init__.py#L37

But I guess they will want the problem fixed upstream also, which can be done by removing the problematic rc, and will also be fi

[2017-05-27 18:48] jayvdb opened #4282 "BearTest broken by requests 1.16.x"
The test `test_read_broken` has a helper that raises ReadTimeout <- Timeout <- RequestException <- IOError

The test then tries to catch RequestException.

However, somewhere the raised exception is being wrapped in a ProtocolError , because it is either HTTPException, SocketError.

The exception message confirms it is the desired exception that occurred.

See https://travis-ci.org/jayvdb/coala/jo

[2017-05-28 00:59] coala-bot opened #4284 "Replace requests with a"
Opened via [gitter](https://gitter.im/coala/coala/?at=592a20f8cb83ba6a410685a6) by @jayvdb

[2017-05-28 01:12] Makman2 commented on #4245
Good question. So currently we definitely support to set multiple bears to ignore by delimiting them by commas inside a single comment.
Shall we support that two ignore comments behind each other are both recognized? Not sure, actually why not. As a user I would expect this to work.
Though we should definitely make the bear to use the "better syntax" by delimiting multiple bears by commas inside a

[2017-05-28 03:16] jayvdb commented on #3545
This is causing a minor issue in one linter (https://github.com/Kuniwak/vint/issues/216) to completely break coala-bears, and all coala builds , because its build scripts run coala-ci, and pkg_resources checks for version conflict in all bears dependencies and vim-vint is not optional (see https://github.com/coala/coala-bears/issues/1000) .

[2017-05-28 04:23] #4282 closed

[2017-05-28 05:46] jayvdb commented on #4277
To get the bears repo usable again, we likely need something like vim-vint and docutils fixes of https://github.com/coala/coala/pull/4283 , and then see if there are any additional bugs which occur

[2017-05-28 05:51] jayvdb commented on #4277
While it was caused by requests, it is really a separate problem, and has several possible fixes, so I've created a new issue in the appropriate repo: https://github.com/coala/coala-bears/issues/1785

[2017-05-28 11:51] #4247 closed

[2017-05-28 20:15] mrtes commented on #4245
What is the current way bears use to apply multiple ignore comments?
To they use the comma-delimited style, or do they add multiple comments?

Supporting multiple ignore comments would require to change the function I linked + Docs.
If the way bears apply comments needs to be change, should this be a separate issue?

[2017-05-28 20:54] Makman2 commented on #4245
Like in @meetmangukiya 's example, so they apply multiple comments behind each other.

Yes those could be both made two issues actually :+1:

Then let's keep in this issue a focus on supporting multiple comments behind each other, like its title suggests.

[2017-05-28 21:00] Makman2 opened #4285 "Add ignore comment action: If there's already an existing comment, use it accordingly and add another bear by listing them all in a row comma-separated"
[code]
Those ignore comments are both added by coala. The source code line shall look like this when applying multiple ignore comments from coala:
[code]

Originated from https://github.com/coala/coala/issues/4245

[2017-05-28 23:42] yukiisbored commented on #4284
https://urllib3.readthedocs.io/en/latest/ is a good replacement. From a glance, it looks like they're doing semver: https://github.com/shazow/urllib3/releases

[2017-05-29 05:39] coala-bot opened #4286 "Replace 'binary' with 'executable'"
e.g. `Use of `coala-ci` binary is deprecated`.
coala is python scripts, not a binary, so 'binary' is wrong.  'executable' is more generic, and should be used instead.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=592bb415f3001cd3426b1586) by @jayvdb

[2017-05-29 07:07] dudu84 commented on #4286
Hi! I'm new here. Can I do this one?

[2017-05-29 07:50] giovanism commented on #4286
Sure. Just send coala-bot "cobot assign <issue link>"

[2017-05-29 08:34] dudu84 commented on #4286
coala-bot "cobot assign "

[2017-05-29 08:54] dudu84 commented on #4286
Hi! @giovanism
Thanks! I send `cobot assign <link>` at gitter in coala/coala but nothing happened.
What I did wrong?

[2017-05-29 13:51] dunkelstern opened #4287 "Documentation needs more real-world examples"
Hi,

I tried to set-up coala today and ran into the issue of how to set this thing up for the first time without knowing anything. I know my way around python so the creation and usage of a virtualenv for coala was not an issue to me, but because of the nature and complexity of the analysis tools you can use with the Bears the dependencies are a bit overwhelming for a first time user.

So my first

[2017-05-29 16:07] dunkelstern opened #4289 "Using user wide .coarc with a `files= **/*.x` glob leads to scanning complete home directory"
# Steps to Reproduce

1. Create a `.coarc` file in your home directory like this:

[code]

2. Change to your project directory `cd ~/Projects/js-project`
3. Run `coala` without any command line arguments

# Actual Results

[code]

And then it hangs. Now I loaded it in the python debugger:

[code]

The last print statement then lists all files contained in my home directory.

# Expected Results

It

[2017-05-29 16:16] Makman2 commented on #4287
Hi @dunkelstern , thx very much for the feedback :)

We have teams though they are not really "established" yet. I hope this changes over time ;) But there are still people looking over every issue usually ;)

Managing dependencies is done by https://gitlab.com/coala/package_manager, maybe we can enhance the messages there somehow. If you don't mind I would put this into a second issue :)

CC @yas

[2017-05-29 16:18] Makman2 opened #4290 "More precise for missing dependencies"
Split up from https://github.com/coala/coala/issues/4287:

From @dunkelstern:

CC @jayvdb , do we have maybe an issue somewhere already in https://gitlab.com/coala/package_manager/ for this, for enhanced error messages for specific packages?

[2017-05-29 16:18] Makman2 commented on #4287
Split up the first idea into https://github.com/coala/coala/issues/4290.

[2017-05-29 17:29] coala-bot opened #4291 "DocumentationAPI: Ignore fancy strings"
There are some fancy strings in coala/coala-bears repo which should be ignored by DocStyleBear.
Eg. https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/Redundancy.py#L45-L54

Opened via [gitter](https://gitter.im/coala/coala/?at=592c5a6100efc2bb3eb76fb6) by @damngamerz

[2017-05-29 18:30] coala-bot opened #4292 "Newcomers_Guide.rst: Include this blog post"
This blog post will be helpful to all the newcomer's starting to contribute for coala. Add this somewhere in the Newcomers Guide with a good description.
https://damngamerz.github.io/gsoc/An-Insight-Into-coala's-Structure.html
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=592c68de00efc2bb3eb7b02c) by @damngamerz

[2017-05-29 19:44] Hsankesara commented on #4254
Hey everybody, can I go for this?

[2017-05-29 20:18] thisch commented on #4292
Wouldn't it be better if we create module-level docstrings to the __init__.py files of each coalib subpackage? We could then use these docstrings in the Newcomers guide, instead of linking to a blog post, which might get easily out of date.

[2017-05-29 21:15] userzimmermann opened #4293 "requests.packages.urllib3 has gone"
And we use that in one test in `tests/bears/BearTest.py`

[code]

We must directly import `urllib3` there now

@sils

[2017-05-29 21:27] thisch commented on #4293
requests.packages.urlib3 should still be there according to https://github.com/requests/requests/blob/master/requests/packages.py

[2017-05-29 21:34] userzimmermann commented on #4293
@sils @thisch

[code]

[code]

[code]

[code]

[2017-05-29 21:46] thisch commented on #4293
Okay, this is because the requests package no longer 'bundles' some of its dependencies.
(there are a lot of recent changes to `requests.packages` -> https://github.com/requests/requests/commits/master/requests/packages.py)

[2017-05-29 21:51] #4293 closed

[2017-05-29 22:02] coala-bot opened #4295 "upgrade chardet"
apparently requests needs chardet 3, we should allow that wherever we use it

Opened via [gitter](https://gitter.im/coala/coala/?at=592c9a67f3001cd3426eeb7b) by @sils

[2017-05-29 22:21] coala-bot opened #4296 "pytest: Support plain test(not colored) output"
pytest prints colored output by default. There should be an option to disable it.

Opened via [gitter](https://gitter.im/coala/coala/?at=592c9eccc4d73f445af724b5) by @shreyans800755

[2017-05-29 22:23] shreyans800755 commented on #4296
I'm trying to log pytest output into a file (since I've log of tests failing) using `pytest 2>&1 > log`, so that I don't have to run pytest again and again.
But due to colors in output: I'm not able to perform searching and grep properly on the log file.

[2017-05-29 22:50] coala-bot opened #4297 "bears seem to be not present in circleci build"
we're getting "[WARNING][21:56:51] No bears matching 'QuotesBear' were found. Make sure you have coala-bears installed or you have typed the name correctly." on master builds so apparently bears are missing?

Opened via [gitter](https://gitter.im/coala/coala/?at=592ca5abeec422e415fef736) by @sils

[2017-05-29 23:08] mrtes commented on #4245
Can I assume that all bears contain the substring "bear" in some form?

[2017-05-30 00:34] jayvdb commented on #4297
Yes, *everything* is broken atm.

[2017-05-30 00:36] jayvdb commented on #4297
This is the same thing as https://github.com/coala/coala/issues/4277 , which is blocked on https://github.com/coala/coala-bears/issues/1785

[2017-05-30 00:40] jayvdb commented on #4293
[11 releases of `requests`](https://pypi.python.org/pypi/requests) in three days from 2.15.0->2.17.3, and most of them fiddle with `requests.packaging`.  This is a terribly fast moving target, with each release breaking previous workarounds.

[2017-05-30 00:41] jayvdb commented on #4293
For more background, see https://github.com/coala/coala/issues/4277

[2017-05-30 00:44] jayvdb commented on #4295
If we force chardet 3, the bears wont install due to https://github.com/coala/coala-bears/issues/1785 .
This issue doesnt provide solution which will work.

[2017-05-30 00:44] #4295 closed

[2017-05-30 01:45] jayvdb commented on #4085
Ya, that is the type of problem aimed to be solved.
Note that https://github.com/coala/coala/issues/3545 is a harder solution which will also solve this, by removing the problem entirely.

[2017-05-30 01:47] jayvdb commented on #4297
As you can see at https://travis-ci.org/jayvdb/coala-bears/jobs/237352157#L3818 , this problem goes away when vint is removed.
https://github.com/coala/coala/issues/3545 is the underlying problem in `coala` which allows one bear to break everything, and https://github.com/coala/coala-bears/issues/1000 is the underlying problem in `coala-bears` which allows one dependency to break everything.

[2017-05-30 01:47] #4297 closed

[2017-05-30 08:40] dunkelstern commented on #4287
If you need help just direct me where it would be most useful :)

[2017-05-30 09:08] coala-bot opened #4298 "Add VintBear again"
as soon as the vint issue is fixed

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=592d36712b926f8a67a7602a) by @sils

[2017-05-30 09:09] sils commented on #4298
wrong repo

[2017-05-30 09:09] #4298 closed

[2017-05-30 10:17] satwikkansal opened #4299 "coalib: Implement Info and InfoExtractor classes"
https://github.com/coala/cEPs/blob/master/cEP-0009.md

cc @adtac @Adrianzatreanu

[2017-05-30 10:47] meetmangukiya commented on #4292
I like the idea

[2017-05-30 14:23] Makman2 commented on #4287
If you already have some nice examples, you can send a PR :)

[2017-05-30 16:01] #4062 closed

[2017-05-30 16:01] #4265 closed

[2017-05-30 16:01] #4273 closed

[2017-05-30 17:37] shreyans800755 commented on #4296
@sils
Working now. Had some issue with pytest version, due to which I was getting error on this command.
Thanks. This issue can be closed.

[2017-05-30 17:39] Makman2 commented on #4245
I'm not sure we require bears to follow a naming scheme. Why do you need this premise?

[2017-05-30 18:08] mrtes commented on #4245
I was thinking about separating keyword clutter (like start ignoring, ignore, ignoring, noqa ...) and other unrelated text from the bears to be ignored.
If I can use a common substring (like "bears") this will be very simple.

[2017-05-30 20:03] Makman2 commented on #4245
if I understand correctly: use regexes to get the content marking the bears to ignore, something like
[code]
should do (roughly). You can extract bears then by doing another `re.split`:
[code]

[2017-05-30 21:41] #4296 closed

[2017-05-30 21:42] Makman2 commented on #4292
Me too, let's incorporate the blog into our API docs :+1:

[2017-05-30 21:43] Makman2 commented on #4292
This is issue should be done by someone who has already a bit insight into coala's code structure.

[2017-05-31 03:04] meetmangukiya commented on #4292
@makman2 no, I meant to automatically include module level doctrings in a way that doesn't feel like they are generated ;)

[2017-05-31 14:40] Makman2 commented on #4292
Oh :3 Doesn't exclude each other anyway :3

[2017-06-01 05:49] meetmangukiya commented on #4117
Yes, is it disabled? While trying other apps you cannot disable coala for that :P

[2017-06-01 09:18] yash-nisar opened #4302 "Testing API doesn't yield useful results"
The current testing API doesn’t provide useful results as a traceback if a given test fails. It becomes a strenuous and time consuming job to follow the traceback searching for errors.

Eg. For the check_results(...) method, http://paste.ubuntu.com/24269550/ is the output that I received when I had a minor difference of line=5 instead of line=6 in the given code snippet :
[code]
The given output b

[2017-06-01 10:05] userzimmermann opened #4303 "pytest-3.1 raises lots of warnings running our tests"
Latest `pytest-3.1.x` versions raise several warnings when running our tests, mostly telling that `unittest` functions `assertEquals` and `assertRaisesRegexp` should not be used anymore. We should get rid of those warnings...

[2017-06-01 11:38] Asnelchristian opened #4304 "Implement Formatting aspect with all of its subaspects"

[2017-06-01 11:41] Asnelchristian opened #4305 "Implement Smell aspect and all of its subaspects"

[2017-06-01 11:42] Asnelchristian opened #4306 "Implement Security aspect"

[2017-06-01 11:43] Asnelchristian opened #4307 "Implement Security aspect"

[2017-06-01 19:29] thisch commented on #4303
This is the list of warnings that are output by pytest 3.1

[code]

[2017-06-01 22:55] Makman2 commented on #4307
Why are there two issues? :O #4306
Closing this one as duplicate.

[2017-06-01 22:55] #4307 closed

[2017-06-02 15:27] userzimmermann opened #4311 "circle.yml: Don't use pip install coala-bears[alldeps] --pre -U"
Because we also get pre-releases of all dependencies that way, which can cause issues like https://github.com/coala/coala/pull/4276#issuecomment-305808190

[code]

Better use two steps:

[code]

[2017-06-02 17:35] jayvdb commented on #4311
@userzimmermann , your suggestion to use two commands will result

1. slower CI, due to two different versions of coala & coala-bears & dependencies being installed as it first installs the released version and then installs the pre-release version
2. will result in master being unusable, because sometimes the release version is not installable.  Patches to fix releases are first reviewed on maste

[2017-06-02 19:14] mrtes opened #4314 "Diff.from_unified_diff is incompatible with output from Diff.unified_diff"
`li = ['1','2','3']`
`diff = Diff(li)`
`diff.modify_line(1,'5')`
`unified = diff.unified_diff`
`diff2 = Diff.from_unified_diff(unified, li)`
 `=> unidiff.errors.UnidiffParseError: Unexpected hunk found: @@ -1,3 +1,3 @@`

I believe this is due to us not using a parameter for `fromfile=` in the call to `difflib.unified_diff`.
The bug is fixed if a placeholder is used for both the `tofile=` and `from

[2017-06-02 19:23] supergr35 opened #4315 "Git_Basics.rst: Add link to merge conflict guide"
Merge conflicts can cause difficulties for people learning git, or even people who already have been using it for a while but haven't had any problems yet. Thus, in Git_Basics.rst there should be a link to a guide on how to resolve merge conflicts.

[2017-06-03 06:53] coala-bot opened #4316 "Update testing bears doc to include check_invalidity and updated check_results"
Opened via [gitter](https://gitter.im/coala/coala/?at=59325cf7e531dbc905a73ab8) by @jayvdb

[2017-06-03 09:01] jayvdb commented on #3808
This has two problems.

1. It uses `pytest.X`, which means it wont work under other test runners.
2. If we require the regex is part of assert, using `assertRaisesRegex`, we ensure that the value of the message is always analysed, and the less precise `assertRaises` can be blocked (https://github.com/coala/coala/issues/3373).  Splitting it as in your example means people will neglect to do it, and

[2017-06-03 10:02] jayvdb commented on #4302
@yash-nisar , but if you set `self.maxDiff = None`, the output becomes much more usable, but the pytest approach of showing all of the backtrace results in a horrible maze of information.

We actually have a few `self.maxDiff = None` littered around the tests.

[2017-06-03 13:56] coala-bot opened #4317 "Add openhub badge to README"
c.f. https://github.com/newca12/dictionary-builder/blob/master/README.md
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5932c024cf9c13503c4d1865) by @jayvdb

[2017-06-03 14:04] Makman2 commented on #4302
It's still quite some output, so we make it a bit more precise :+1:

[2017-06-03 14:08] Makman2 commented on #4316
Which update of `check_results`?

[2017-06-03 19:54] thisch commented on #3808
ad 1.) Do we really want to support other testrunners?
ad 2.) Good point. I'm not really sure if its worth to block assertRaises, though

[2017-06-04 02:30] jayvdb commented on #3944
Could be useful, but it needs to be created in all relevant repos ; see roadmap.
Main problem with labels is only maintainers can add them on github, unless we get bot support.
Can we solve that somehow? @zulipbot is an easy quick fix.

But really, if it is part of your project, shouldnt it be assigned to you early?

(In addition,) We should create a shortcut http://coala.io/gsoc17review which use

[2017-06-04 14:21] jayvdb commented on #4302
The design at https://yash-nisar.github.io/blog/testing-api-coala/ doesnt indicate how you will improve on the pytest output, which is mostly ugly and unusable because of the depth of the stack, and volume of information with self.maxDiff is disabled, and I dont see that being addressed in the proposal.

[2017-06-04 14:35] Makman2 commented on #4302
I think addressing the output stack is quite some problem that is beyond gsoc. The pytest guys didn't do ugly outputs on purpose, I assume they already tried to make it as readable as possible without loosing information. You are right, there's still much space for improvement, but that's another topic.

We are concentrating on results from bears. This is bad:
[code]
`self.maxDiff = None` doesn't

[2017-06-04 14:50] Makman2 commented on #3944
Yeah rather assign those issues to yourself early. I think it's fine in line with gsoc^^

I think it would be more useful for reviewing PRs, so people from other projects are encouraged to review each other and give further ideas.

[2017-06-04 14:58] jayvdb commented on #4302
Yes, that is bad, but that is without `self.maxDiff = None`, which is irrelevant as that is not a good baseline for comparisons.  We can force `self.maxDiff = None` on every test with one line of code.

I would very much like to see the output of the same assertion with `self.maxDiff = None`, as that should be the baseline that we compare enhancements to.

I dont see anything in the design to show

[2017-06-04 16:20] satwikkansal commented on #4299
Moved to quickstart

https://github.com/coala/coala-quickstart/issues/101

[2017-06-04 16:20] #4299 closed

[2017-06-04 17:04] jayvdb commented on #3690
This is related to https://github.com/coala/meta/issues/89 , which would allow us to split the 'coala' project into different projects on OpenHub, all under the same umbrella organisation.

[2017-06-04 17:34] jayvdb commented on #3690
fwiw, I think I have added all the new repos that have code in them, which was easily 15 or more.

I havent looked at what to do with these two fields.

[2017-06-04 17:38] yuxiangdai commented on #4317
Hi, newbie here. I'll give this one a shot

[2017-06-04 21:55] #3834 closed

[2017-06-04 23:09] Makman2 commented on #4302
See https://yash-nisar.github.io/blog/testing-api-coala/ on how to achieve this.
Basically we want to have better assertions for objects using `generate_eq` and `generate_ordering`. As `Result` is using `generate_ordering`, it automatically affects bear tests. But all other tests also benefit from a nicer to read message.

`self.maxDiff = None` is nearly never a solution.
Example: https://pastebin

[2017-06-05 15:00] coala-bot opened #4323 "Python 2 and 3.3 tests should only run on master Travis builds"
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=59357215142826e97285b475) by @jayvdb

[2017-06-05 16:43] adhikasp opened #4324 "Add `aspects` key in configuration"
If we have `.coafile` like this
[code]

Then we expect to access those setting as an `aspectlist` instance
[code]

Currently, coala Setting and Section doesn't support this and read that as basic list of string instead.

area/aspect

[2017-06-05 18:15] userzimmermann opened #4325 "Store Language.versions as packaging.version.Version instances"
Currently `coalib.bearlib.language.Language.versions` are stored as tuple of `float` items. `float` versions can't include micro versions. Turning them into `str` items destroys proper version comparison. Best solution would be to use `packaging.version.Version` instances instead

@MariosPanag

[2017-06-05 21:02] #4325 closed

[2017-06-06 00:39] userzimmermann commented on #4236
@Asnelchristian This would also be a good new aspect for your aspects redesign

[2017-06-06 06:28] #4249 closed

[2017-06-06 13:59] userzimmermann opened #4329 "Update sphinx versions in docs-requirements"
Currently they are set to `sphinx~=1.5.5` and `sphinx-argparse~=1.1.15`

The latest `sphinx-1.6.2` and `sphinx-argparse-0.2.0` contain many improvements and fixes, especially for that issue with **rc** releases of `docutlis` as mentioned in https://github.com/coala/coala/issues/4311#issue-233218092

That way we can also remove those `pip install docutils==0.13.1` workarounds from CI scripts later,

[2017-06-06 14:13] userzimmermann opened #4331 "CI: Remove workaround pip install docutils==0.13.1"
After #4330 and https://github.com/coala/coala/pull/4333 are merged

@sils @jayvdb @Makman2 @sims1253 @thisch

[2017-06-06 14:18] userzimmermann opened #4332 "circle.yml: Install docs-requirements"
According to our `circle.yml`, our CircleCI processes don't install our `docs-requirements.txt` before `make -C docs clean`, resulting in the use of some outdated `sphinx` from `coala-bears` dependencies

@sils @jayvdb @Makman2 @sims1253 @thisch

[2017-06-06 21:24] arrayslayer commented on #4323
So, by version 2, we mean 2.7?

[2017-06-06 23:42] Makman2 commented on #4323
Though why only Python 2 and 3.3 @jayvdb? They are just there to check whether we tell people accordingly that we don't support those versions^^

[2017-06-07 05:09] jayvdb opened #4335 "Running pytest directly fails on local machines"
The problems include:

- [ ] missing coverage
- [ ] tests which can not be re-run (so they pass on CI, but not on local machines the second time)
- [ ] incompatibility with some pytest extensions (https://github.com/coala/coala/issues/3816)
- [ ] missing requirments , or test requirements, or incorrect versions (https://github.com/coala/coala/issues/3511)

[2017-06-07 05:09] jayvdb opened #4336 "Set coverage environment variables automatically"
Currently `.misc/tests.sh` is needed to set envvar `OS_NAME`, which is used by coverage, which is automatically used by pytest due to `setup.cfg`.  If a developer manually runs pytest, they see errors due to missing coverage (among other problems: https://github.com/coala/coala/issues/4335).

[2017-06-07 07:05] jayvdb commented on #3511
Another instance of this is https://github.com/coala/coala/issues/4239#issuecomment-302105449

pytest-reqs does the trick, but has an annoying bug : https://github.com/di/pytest-reqs/issues/9

[2017-06-07 07:16] arrayslayer commented on #4323
I did not get it. Could you please explain once?

[2017-06-07 09:39] jayvdb commented on #3458
And now that we have http://github.com/coala/meta/ , this meta upstream tracker would go there, but we also have GSoC project https://github.com/coala/corobo/ , which will have an awesome help system I am sure.
So closing this one.

[2017-06-07 09:39] #3458 closed

[2017-06-07 09:39] jayvdb commented on #3457
Closing per https://github.com/coala/coala/issues/3458#issuecomment-306744375

[2017-06-07 09:39] #3457 closed

[2017-06-07 14:37] jayvdb opened #4340 "urllib3 TypeError: getresponse() got an unexpected keyword argument 'buffering'"
Occurred on Travis Python 3.6.1

https://travis-ci.org/coala/coala/jobs/240375196

It appears to be due to `socket.timeout: timed out`

during
[code]

[2017-06-07 18:43] userzimmermann opened #4341 "typed_list/dict/ordered_dict(...) annotations look ugly in API docs"
Let's take `PEP8Bear.run()` as example. `sphinx` autodoc creates the following confusing signature:

`coalib.settings.Setting.typed_list/dict/ordered_dict()` should better return converters with useful `__repr__` instead of `lambda` functions

@sils @Makman2 @jayvdb

[2017-06-07 18:49] Makman2 commented on #4341
Let's override their `__repr__` then :+1: :)

[2017-06-07 18:50] Makman2 commented on #4341
In the end I think it should look like
[code]
etc.

[2017-06-07 19:20] userzimmermann commented on #4341
@Makman2 Those were exactly my ideas :)

[2017-06-08 00:25] #4332 closed

[2017-06-08 09:10] #2645 closed

[2017-06-08 17:14] supergr35 opened #4344 "Clarify cib's prescence in the docs"
Currently, cib is only listed as experimental on the repo page at https://github.com/coala/coala-bears. It should be made clear in the docs that cib is highly experimental and will most likely not work.

[2017-06-09 16:29] meetmangukiya opened #4347 "A special parent section that is the parent of all sections"
Create a special section name, that'll be inherited by all the section, irrespective of the ones provided in the `.`

So, `something` should inherit from `the special section name`. Currently it has to be `the special section name.something`. Most of the coafile will always have something that is common for all the sections.

/cc @Udayan12167

[2017-06-09 17:54] #4279 closed

[2017-06-09 20:10] MikePetullo commented on #1037
I started to write a Fedora package, but I found that at least two dependencies---PyPrint and libclang-py3---do not yet exist in Fedora. Has anyone started to look at packaging coala for Fedora? Is https://gitlab.com/coala/PyPrint/ the canonical source for PyPrint?

[2017-06-09 22:25] Makman2 commented on #1037
Both are pip dependencies.
- PyPrint: Actually it's outdated and we don't want to use it any more. I don't want to release pyprint just for deprecation purposes, that's a bit too much work^^ If you want we try to get rid off it as soon as possible^^ I think someone is actually working on that currently :+1:
- libclang-py3: Yeah that would be anyway not so bad, those bindings are actually quite use

[2017-06-09 22:37] Makman2 opened #4348 "Nextgen-Core integration"
Integrate the nextgen-core into coala and the new bears. Deprecate the old bears.

[2017-06-09 22:37] Makman2 commented on #4348
Blocked by https://github.com/coala/coala/pull/4212

[2017-06-09 22:39] Makman2 commented on #4237
Let's not take the overhead for now, if the need arises we use an event loop again.

[2017-06-09 22:42] Makman2 opened #4349 "Nextgen Core: Allow to pass different executors"
This will be needed for the debugging mode of coala.

`core.run` shall take as a parameter the executor to run. By default (`None`) we create a `ProcessPoolExecutor` without arguments (so it picks up the number of CPU cores of the current machine automatically as the number of processes to launch).

Tests need to be written too.

Also I plan in the far future to run coala on distributed systems, c

[2017-06-09 22:43] Makman2 opened #4350 "Nextgen Core: Caching"
The new core has currently no support for caching. We need to think of some neat mechanism to provide caching.

[2017-06-09 22:46] Makman2 commented on #4350
My current idea:
- Use the parameters received from `generate_tasks()` and cache those with the results. We need to check how disk-space usage can be optimized, as the tasks do contain all files usually and its contents. Also the current `ProjectBear` and `FileBear` implementations do optimize performance a bit at `generate_tasks()` to not provide all arguments with `generate_tasks()` but grab the

[2017-06-09 22:48] Makman2 opened #4351 "Nextgen Core: Port core functions to class methods"
This could be a performance gain as we don't have to pass always the same variables around. Instead we can access them from `self`.

[2017-06-09 22:48] Makman2 commented on #4351
How this could look like can be seen here: https://github.com/coala/coala/tree/Makman2/NEXTGEN-to-classes

[2017-06-09 22:50] Makman2 opened #4352 "Nextgen Core: Port linter decorator to use `ProjectBear` and `FileBear` instead of old bear classes"

[2017-06-10 07:55] sils commented on #1037
libclang-py3 is at https://bitbucket.org/Anteru/python3-libclang ; coala integrates it's results with the clang API from that.

PyPrint is currently used all over the place and I don't see it going away soon, https://gitlab.com/coala/PyPrint/ is the canonical source with the latest release being
at https://gitlab.com/coala/PyPrint/commit/4d08f6056aaf8aaf369871d901f1a9fa4ed44974 .

[2017-06-10 09:36] coala-bot opened #4353 "Add pdb documentation"
documentation

Opened via [gitter](https://gitter.im/coala/coala/?at=593bbd9af6a78eab48351f06) by @meetmangukiya

[2017-06-10 10:30] jayvdb commented on #3367
As I recall, the goal was that the page on pypi showed the git hash for pre-releases, in addition to the date.  Currently we need to guess the git has based on the date, or pick a random date that we know includes the git commits that we know are needed by the bear.

[2017-06-10 11:26] jayvdb commented on #3367
Both `pbr` and `incremental` require using `setup_requires`, which has had problems.  I am not sure how reliable that is now, but OpenStack uses `pbr` so it cant be too bad.

`python-versioneer` takes a different approach, of including a [generated](https://github.com/warner/python-versioneer/blob/760c176ab2cc9df9298f344f4c5215bd2039a1c4/src/installer.py#L35) `versioneer.py` at the top level of th

[2017-06-10 13:36] Makman2 commented on #3367
Was it? I just thought of debugging purposes. Actually displaying it inside the pypi README could be another issue imo^^

[2017-06-11 11:18] #4286 closed

[2017-06-11 16:19] cRAN-cg commented on #4272
I am interested. Could I be assigned with this issue ?

[2017-06-12 08:28] #4272 closed

[2017-06-12 09:47] #4305 closed

[2017-06-12 13:28] coala-bot opened #4354 "Define __eq__ for Result object"
Using equality (like `assertEqual`) for Result is problematic because it also matches the repr id.

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=593e9714c59bd9c4640af45b) by @yukiisbored

[2017-06-12 13:55] yukiisbored commented on #4354
Nevermind, without `__eq__` defined `Result` still does it job properly. It was a mistake on my end.

[2017-06-12 13:55] #4354 closed

[2017-06-12 15:18] userzimmermann opened #4356 "coala --files does\not\support\backslash\paths\on\windows"
The backslashes are just discarded:

[code]

@sils Funny that no one complained about that so far :D

[2017-06-12 16:35] jayvdb opened #4358 "Use pathlib for Setting paths"
The paths in Settings, and globs, need a rewrite using pathlib (with backports maybe for Python 3.4).

It looks like an attempt was made at https://github.com/coala/coala/pull/2296

[2017-06-12 16:35] jayvdb commented on #4356
I think you'll find this is the same rabbit hole as https://github.com/coala/coala/pull/4171 , and IMO the only sane solution is to use pathlib (https://github.com/coala/coala/issues/4358)

[2017-06-12 18:56] #4303 closed

[2017-06-12 19:28] #3511 closed

[2017-06-12 19:28] #4336 closed

[2017-06-12 20:41] thisch commented on #3472
@shreyans800755 I would remove ListLogPrinter, since it is only used in the tests

[2017-06-12 21:14] userzimmermann commented on #4358
@jayvdb IMO even better is to use https://github.com/jaraco/path.py since it has many more features than `pathlib` and works with Python 2.7/3.3+

[2017-06-13 03:18] jayvdb commented on #4358
Well, coala has already rejected Python 2.7 and 3.3 support, and [`pathlib`](https://docs.python.org/3.4/library/pathlib.html) is part of Python 3.4, but there have been a few enhancements since then , so we might need the backport [`pathlib2`](https://pypi.python.org/pypi/pathlib2/), but I dont know that for sure.  Likely, 3.4's pathlib is enough for our needs.

I would be interested in hearing w

[2017-06-13 10:33] jayvdb commented on #4344
c.f. https://github.com/coala/coala/issues/4121 it is broken, not experimental.

[2017-06-13 11:42] #3529 closed

[2017-06-13 13:55] Makman2 commented on #4026
I would close this one as invalid, as the glob `\*[^orig]` just means something different than what was expected in the beginning. The observed behaviour is correct.

As globs are very widely used and a common standard, we shouldn't fiddle with them too much. It seems that it's not possible to exclude complete string sequences, see https://stackoverflow.com/questions/20638040/glob-exclude-pattern.

[2017-06-13 13:55] #4026 closed

[2017-06-13 14:14] Makman2 commented on #4356
Just escape the path. coala interpretes backslashes, so this is actually intended currently. I'm not sure if #4171 is good as we are starting to be inconsistent because we parse different settings differently.

[2017-06-13 14:15] Makman2 commented on #4354
`Result` uses `@generate_ordering`, so `__eq__` and others are generated automatically^^

[2017-06-13 17:00] damngamerz commented on #2646
@Makman2 I still couldn't understand about the complete constructible full range, can you like explain me with an example. Right now i understand how `TextRange` works.

[2017-06-13 18:31] Makman2 commented on #2646
I think I meant instead of taking a `range` in `DocumentationComment.__init__`, just take in a `position` instead. It's enough to describe what `TextRange` the comment will occupy.

[2017-06-13 18:32] Makman2 commented on #2646
So it's just a simplification for the constructor.

[2017-06-13 18:32] Makman2 commented on #2646
I hope this issue is still valid^^

[2017-06-13 19:08] satwikkansal commented on #204
Generating coafile seems like a coala-quickstart thing and looks like this issue was created before quickstart even existed. Should we consider moving it to quickstart? (maybe club this with https://github.com/coala/coala-quickstart/issues/79)

[2017-06-13 20:05] coala-bot opened #4359 "Explain caching on Adding CI doc page"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=59404583cf9c13503c81fd1a) by @jayvdb

[2017-06-14 00:52] Makman2 commented on #204
Yeah that really sounds like a coala-quickstart issue.

[2017-06-14 00:57] Makman2 commented on #204
I think https://github.com/coala/coala-quickstart/issues/79 is the right issue to refer to :)

Closing as the issue already exists in coala-quickstart.

[2017-06-14 00:57] #204 closed

[2017-06-14 19:07] damngamerz commented on #2646
@Makman2 I doubt the validity of this issue.Anyway I tried amending it, Works well check this https://github.com/damngamerz/coala/commit/ccb7b6555de341bb1cf6606b865d67137e98fe1d
This majorily will break all the tests of `DocumentationComment` & `DocumentationExtraction` I have to re-write them. That's not the issue, issue is do we really need this ??

[2017-06-14 19:22] Makman2 commented on #2646
I think providing a full range means we throw away information from it or stuff does break inside DocumentationComment if something is wrong. Ideally this would be good to have.

I'm usually the type of guy that gets angry when he needs to pass obsolete information, as often it's not directly available ;)

[2017-06-14 20:48] harshit98 commented on #4317
Hi. I would like to contribute some code here :)
Can I solve this issue ?

[2017-06-15 02:14] yuxiangdai commented on #4317
Hi Harshit,

I think I've finally got it right this time, but feel free to monitor the Pull Request and make any changes in the case that it does not go through again.

[2017-06-15 09:07] coala-bot opened #4362 "Create man page for coala(1)"
It'll be nice to have a man page for `coala(1)` that distro package maintainers can use.
Related to https://github.com/coala/coala/issues/1037

Opened via [gitter](https://gitter.im/coala/coala/?at=59424e6d142826e972b90863) by @yukiisbored

[2017-06-15 09:26] yukiisbored commented on #4362
https://gitter.im/coala/coala?at=59425108142826e972b912d0

[2017-06-15 09:26] #4362 closed

[2017-06-16 10:07] coala-bot opened #4363 "[Bug] coala reanalzes files during a run"
When running coala with command line arguments, a file that i changed with the "open file in editor" was then reanalyzed during the same run and a result for the line I just added was given.
I had a .coarc file like this:
[code]

type/bug

Opened via [gitter](https://gitter.im/coala/community/?at=5943adf0142826e972bebd4a) by @sims1253

[2017-06-16 10:17] coala-bot opened #4364 "Executing section cli even if no cli section exists"
This is on 0.11.0

type/bug

Opened via [gitter](https://gitter.im/coala/coala/?at=5943b043cf9c13503c8fea77) by @sims1253

[2017-06-16 13:02] Asnelchristian opened #4365 "Change ``prarses``->``parses``"
[here](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/Language.py#L25)

[2017-06-16 13:03] yash-nisar commented on #4255
We do have a link to `Writing_Good_Commits.rst` :

We have also included a link to the Newcomer issues (which include documentation typos too) :

Regarding the style guide, IMO, I don't think we need the user to do an indepth analysis about `PEP8` as running `coala` takes care of those issues, nor is the knowledge of locally building and testing documentation required. These newcomer issues are si

[2017-06-16 14:04] seven-binoche commented on #4365
When I try to edit, it says 'You’re editing a file in a project you don’t have write access to.'. Do I need to be assigned to gain write access? New here. Please bear with me.

[2017-06-16 14:33] Asnelchristian commented on #4365
Hi @seven-binoche, and welcome :tada: :+1: .  This is the best place to get started with [coala](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html), trust me you can find all you need there...

And once again welcome to coala :smile:

[2017-06-16 14:34] Asnelchristian commented on #4365
Hi @seven-binoche, and welcome :tada: :+1: .  This is the best place to get started with [coala](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html), trust me you can find all you need there...

And once again welcome to coala :smile:

[2017-06-16 15:08] seven-binoche commented on #3224
Request to get assigned to the issue.

[2017-06-16 15:16] NiklasMM commented on #4029
Right now the documentation extraction functions can only return an identified docstring or None. Do deal with this issue, we should add an error state as a third possibility, when a start marker is found but the others aren't. I'm not sure if raising an Exception or returning some kind of error object is better.

[2017-06-16 15:19] NiklasMM commented on #2143
Since `:param some_parameter` is clearly a malformed docstring it's ok to just yield a Result in this case.

[2017-06-16 15:21] NiklasMM commented on #4291
When identifying docstrings we must check that in the line where the starting marker is, there is nothing but indentation coming before the marker. This will eliminate all multi-line string variable assignments like this one:

[code]

[2017-06-16 15:33] harirajk commented on #4221
Hi I am a newcomer.Mind if I take care of it?

[2017-06-16 19:03] adhikasp commented on #4365
Why you close it @Asnelchristian?

[2017-06-16 19:42] userzimmermann commented on #4358
@jayvdb Besides the kind of `path.py` advantages you already mentioned, there are those 3 important ones:

1. `path.Path` is derived from `str`. So it also inherits the whole `str` API and instances can be directly passed to most functions expecting `str` paths
2. `path.Path` also wraps `shutil`
3. `path.Path` is a nice context manager for temporarily switching the working directory:

[code]

Ther

[2017-06-16 19:57] userzimmermann commented on #4026
@mridubhatnagar Regarding https://github.com/coala/coala/issues/4026#issuecomment-300425350 :

Not that way ;) `--ignore` gets its own patterns, so to ignore `*.orig`, you have to for example:

`coala --bears=SpaceConsistencyBear --files=docs/* --ignore=*.orig`

[2017-06-17 13:03] Makman2 commented on #3224
@seven-binoche please see http://api.coala.io/en/latest/Developers/Newcomers_Guide.html on how to get started and assigned to issues :)

[2017-06-17 13:22] Makman2 commented on #4364
@sims1253 `cli` is the default section, not sure if this is actually intended^^

[2017-06-17 13:24] Makman2 commented on #4365
I think that was by accident.

[2017-06-18 00:17] coala-bot opened #4372 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945c68dca6d4ae80c240dc8) by @Monal5031

[2017-06-18 01:31] jayvdb commented on #4359
Dup of https://github.com/coala/coala/issues/4278

[2017-06-18 01:31] #4359 closed

[2017-06-18 06:45] coala-bot opened #4375 "coverage plugins broken on Python 2.7 & 3.3"
Opened via [gitter](https://gitter.im/coala/coala/?at=59462179f6a78eab485cd09c) by @jayvdb

[2017-06-18 08:40] jayvdb commented on #4375
Oh, they are installed properly, but there is a bug

https://travis-ci.org/bekicot/coala/jobs/244147634

[2017-06-18 11:19] S2606 commented on #4365
Please assign me to this issue. I would love to contribute

[2017-06-18 12:48] jayvdb commented on #4061
Interesting [failure](https://travis-ci.org/jayvdb/coala/jobs/244197631)

FAIL tests/misc/ContextManagersTest.py::ContextManagersTest::test_subprocess_timeout

[2017-06-18 14:18] #4255 closed

[2017-06-19 00:01] jayvdb commented on #4365
None of the four people working on this issue have followed https://coala.io/newcomer .  I cant assign it to anyone until you have followed the process and become a member of the organisation "coala".

[2017-06-19 00:03] #4157 closed

[2017-06-19 11:38] damngamerz commented on #4291
@NiklasMM Okay now the problem is `TextPosition` include the line no. and column no. of starting marker. So the constructible range is from starting marker to ending marker. hmm then how i can check if there's indentation or something else at the back of starting marker.

[2017-06-19 11:39] damngamerz commented on #4291
CC @SanketDG @Makman2 any ideas ???

[2017-06-19 16:27] #4375 closed

[2017-06-19 16:52] #1388 closed

[2017-06-19 17:20] NiklasMM commented on #4291
Maybe you must do this check earlier. In `extract_documentation_with_markers` we construct a `begin_regex`, which is used to find the beginning of docstrings. You could modify that.

[2017-06-20 00:08] Makman2 commented on #4291
We could maybe patch the parser and count the indentation to the range. I mean if we define that docstrings need to have only indentation on start (and everywhere else), we can also consider as a part of a docstring^^ Though then we would even ignore little typos like
[code]

[2017-06-20 00:10] Makman2 commented on #4291
Phew generic documentation parsing is so damn hard... I have the feeling what we have currently now in coala merged is not bad, but somehow there are some details missing... Maybe we need to extend the concept^^

[2017-06-20 00:19] Makman2 commented on #4291
I think one of the main problems we currently fact is fault-tolerance. We don't need to detect just perfect docstrings and analyze them for our usecases, but we have to find also constructs that are only likely to be docstrings (or any other form of documentation).

[2017-06-20 00:20] jayvdb commented on #2271
@sgsh123 , yup, thanks.
And also https://coala.io/#!/languages is better than the wiki page.
The wiki on this repo is also gone, so the wiki cant be fixed ;-)

[2017-06-20 00:20] #2271 closed

[2017-06-20 04:26] SanketDG commented on #4291
I concur :3 I have gone to the point and said myself that it can only improve iteratively, over the course of many years. There can be no cEP that just solves doc parsing.

Yup, this has been always the question. For now, I think its better if we just ignore mistakes on the part of the user

Do you have any ideas?

[2017-06-20 11:41] Makman2 commented on #4291
No sadly nothing specifically :/ My last thoughts were about
- Using some kind of certainty-value whether a docstring is really meant to be a docstring (or correctly formatted)
- Different flags indicating what kind of a docstring is (like `CORRECT`, `MALFORMED`, `SUPERWRONG` (don't know what different values make actually sense :3))
- Maybe new classes for different types of docstrings (same idea

[2017-06-21 02:50] adhikasp opened #4380 "Typo `max_paramters` -> `max_parameters`"
in [MethodSmell](https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/Smell.py#L95) aspect

difficulty/newcomer

[2017-06-21 09:21] userzimmermann opened #4381 "Create LookupError-derived aspectError for use in aspectsModule.__getitem__"
Relates to https://gitlab.com/coala/GSoC-2017/issues/298

[2017-06-21 09:24] userzimmermann opened #4382 "Make aspectlist also support aspect name strings"
1. On instantiation, where it is then used to lookup the actual aspectclass to store
2. For checking existence with `.__contains__`

This will also simplify https://github.com/coala/coala/pull/4379 a lot :)

Relates to https://gitlab.com/coala/GSoC-2017/issues/299

[2017-06-21 10:17] damngamerz commented on #4291
Okay I have found a way to ignore fancy strings. `content[0]` contains the first raw line of docstring.
we can do this with a simple regex `(\s*""".*)`, this will check for valid docstrings and for now this will suffice. But later as @Makman2 suggested an example:
[code]
To support this regex can be simply modified to `(\s*""".*)|(\s*.""".*)`. Right now `DocumentationStyleBear` generates an unacce

[2017-06-21 10:18] damngamerz commented on #4291
Noooo all tests break now :/

[2017-06-21 12:16] refeed commented on #2860
@SarthakNijhawan are you still working on this?

[2017-06-21 13:17] userzimmermann opened #4384 "Add aspectlist.get method"
[code]

[code]

[code]

[code]

Relates to https://gitlab.com/coala/GSoC-2017/issues/301

[2017-06-21 14:42] Makman2 commented on #4291
We can't patch the regex for each kind of typo, I mean how do we distinguish actual code from typos then?
[code]
And don't say that `\s*........"""` is the solution :P.
So that's the question, and I think we can't solve it with plain regular expressions^^

[2017-06-21 14:49] damngamerz commented on #4291
hmmm now it's tricky :P
Btw our 1st objective is to get the Documentation Parsing ready for `coala`.
This regex for now it ignores those fancy strings. Well I can't think of anything else hmmm :/ dammit!!

[2017-06-21 15:06] refeed commented on #2860
Oh okay..

Btw @Makman2 how we can assign argument like file, settings kwargs to a bear in `bears` arg in `coalib.core.Core.run()`. I think it just accepts bear instances and a callback method, right?
Is there a way to assign file and settings kwargs when we instantiate a bear?

[2017-06-21 15:42] Makman2 commented on #2860
Yes you assign those when instantiating a bear :) The new bear is called `coalib.core.Bear` instead of `coalib.bears.Bear`.
[code]

[2017-06-21 15:46] Makman2 commented on #4291
Yeah definitely :+1: We don't have to solve that problem perfectly immediately. It's just good to have it in mind ;)

[2017-06-22 06:55] nityeshaga commented on #4353
What is the issue here? Can someone please help give more information about it?

[2017-06-22 07:00] meetmangukiya commented on #4353
Have general level introduction to pdb, maybe even illustrate how it can be used for debugging bear while testing.

[2017-06-22 07:22] mridubhatnagar commented on #4353
@meetmangukiya I second your opinion. IMO we can add a link to the blog post. And write a blog post which explains
1) Intro to pdb
2) How to use it (commands)
3) Sample screenshots of outputs it gives when run on a small program

[2017-06-22 07:23] nityeshaga commented on #4353
Is there some conversation thread or something to provide some preview?

[2017-06-22 07:26] nityeshaga commented on #4353
@mridubhatnagar I'm sorry but I don't get it. Why do we need to add an intro to pdb in coala documentation? How are they related enough?

[2017-06-22 07:31] mridubhatnagar commented on #4353
@nityeshaga pdb is the Python Debugger. So, usually helpful in case of unit testing. And bug fixes as well. In a program if you do
import pdb
pdb.set_trace()
It becomes easy for you to debug your code.
Detailed documentation of pdb is here https://docs.python.org/3/library/pdb.html.

[2017-06-22 08:19] nityeshaga commented on #4353
Sorry if I wasn't clear enough but that's not what I want to ask.
I am asking, why do we need to add a pdb documentation to coala? Isn't it a part of knowing the language? I don't think that we have any documentation about the Python language itself or any other feature of Python inside the coala documentation.
Or, are we beginning documenting the language, with an intro to pdb?

[2017-06-22 09:17] meetmangukiya commented on #4353
well, in that case we don't want to have git related docs either, right?  The point is to have a one stop intro-level things in one place that can ease the process of developing for coala. :wink:

nope, ofcourse not, just the things that might be helpful in the development. FWIW I didn't know pdb before coala, and coala tends to be a newcomer friendly community, where people can nourish their know

[2017-06-22 09:55] nityeshaga commented on #4353
Yes sure! That's a good reason. I second it!

[2017-06-22 10:32] nityeshaga commented on #4353
I would like to get in on it. Although I have not used pdb with coala, I have used it in some of my other projects. Can someone tell me what file do I need to edit or create?

[2017-06-22 10:43] nityeshaga commented on #4353
Will the file be created in coala/docs/Developers directory?

[2017-06-22 14:40] Makman2 commented on #4353
We should especially lay a focus on testing bears / bear infrastructure :+1:

[2017-06-22 15:53] coala-bot opened #4387 "Specify in the docs that newcomers shouldn't delete forks"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=594be7de02c480e6726f92d0) by @meetmangukiya

[2017-06-22 16:06] adhikasp opened #4388 "Instanced aspect doesn't instance its children"
Current behaviour
[code]

Expected behaviour
[code]

area/aspects difficulty/medium

[2017-06-22 19:00] userzimmermann commented on #4380
Thanks @adhikasp for finding this :)

cc @Asnelchristian

[2017-06-22 19:01] userzimmermann commented on #4380
Rest of `Smell` aspects cleanup happens in #4360

[2017-06-23 06:22] prachi1210 commented on #4122
@andreidinu if you are not working on this issue, I'd love to take it up.

[2017-06-23 06:26] andreidinu commented on #4122
@prachi1210 I actually forgot about it, I started writing a guide. I will make a PR tonight.

[2017-06-23 06:35] adhikasp opened #4391 "Aspect __eq__ should check language"
https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/base.py#L40

[code]

area/aspects difficulty/low

[2017-06-23 08:05] jayvdb opened #4393 ".rultor.yml unnecessarily installs pip3"
.rultor.yml install unnecessarily tries to install pip3.

See https://github.com/coala/coala-bears/issues/1853#issuecomment-310599985 for more info.

[2017-06-23 11:47] S2606 commented on #4391
@adhikasp Can you tell me how did you carried out tests for this bug??

[2017-06-23 12:01] meetmangukiya commented on #4391
@S2606 this is a new feature IIUC, not a bug, the link given points the function that needs to be modified to compare the languages that given aspect can run on

[2017-06-23 13:09] nityeshaga commented on #4139
Can you provide some more information about the updates that are required?

[2017-06-23 14:48] yukiisbored opened #4396 "ContextManagersTest::test_subprocess_timeout keeps failing unconditionally"
`ContextManagersTest::test_subprocess_timeout` fails on random occasions and needs improvement to prevent this from happening again. https://travis-ci.org/coala/coala/jobs/246138796

[2017-06-23 15:03] andreidinu commented on #4122
@prachi1210 you can take it

[2017-06-23 15:53] S2606 commented on #4391
Thank you @meetmangukiya for your answer.

[2017-06-23 17:08] #4380 closed

[2017-06-23 19:53] Makman2 commented on #4139
You can try to browse the commit history on https://gitlab.com/coala/package_manager, but that's a tedious task ;)

[2017-06-23 19:55] RJ722 commented on #1709
@jiteshpabla You still up on this?

[2017-06-23 20:24] nityeshaga commented on #4139
I see that `dependency-management 0.5.0` has also been released since this issue was created. IMO its becoming a long overdue. I could give the tedious task one shot!

[2017-06-23 20:26] nityeshaga commented on #4139
So, does this mean that we are going to be looking for updates from the period between `0.3.0` and `0.5.0`?

[2017-06-23 20:27] #4306 closed

[2017-06-24 12:11] proishan11 commented on #3847
Hello! @jayvdb . Does the code here <https://github.com/coala/coala-bears/blob/master/bears/c_languages/ClangBear.py#L11-L21> need to be changed?

[2017-06-24 16:03] Makman2 commented on #4139
yes 👍

[2017-06-24 22:42] Makman2 opened #4400 "Result: Diffs are not compared!"
Results with same values except having different diffs are considered to be equal! This is totally bad and needs to be changed.

We have to update `generate_ordering` to also take `diffs` into account (as the last entry before `debug_msg`).

This issue might involve extending tests here and in `coala-bears` to test also against diffs.

[2017-06-24 22:49] coala-bot opened #4401 "Rename aspectlist to AspectList"
`aspectlist` was added in https://github.com/coala/coala/pull/4057 for 0.11, but is not currently used.  It should follow PEP8 naming conventions , which means it should be called `AspectList`.  cc @adhikasp

Opened via [gitter](https://gitter.im/coala/aspects/?at=594eec8f76a757f808a0f784) by @jayvdb

[2017-06-24 22:56] #4393 closed

[2017-06-25 00:20] jayvdb opened #4402 "aspects: Exception messages should start with a capital letter"
[code]

It looks like only the first two (aspects) has this problem;  the other instances are a parameter names and thus cant be uppercased.

[2017-06-25 08:29] #4291 closed

[2017-06-25 10:46] nityeshaga commented on #4391
I would like to work on this issue!

[2017-06-25 11:58] shreyans800755 commented on #4351
@Makman2
I would like to work on this issue.
Just needed clarification before I start working, correct me if I'm wrong:
We are supposed to move global functions core/Core.py to a class, to optimize it. As per my analysis, there should be 2 classes, one for group and one for the rest of the functions.

[2017-06-25 12:55] #4401 closed

[2017-06-25 13:41] userzimmermann commented on #4402
@jayvdb Where is the problem? All standard python exception messages start lowercase

[2017-06-25 14:03] #2646 closed

[2017-06-25 14:25] Makman2 commented on #4351
Just one class is enough. I think we only need this for the functions that always pass some states around, like `running_tasks` or `dependency_tracker`. Everything else that is modular and can work on it's own should be still kept inside the module directly :)

So a list of functions I would consider to move to a class:
- `cleanup_bear`
- `schedule_bears`
- `finish_task`

And we can move maybe som

[2017-06-25 15:20] jayvdb commented on #4402
@userzimmermann consistency within our codebase.
`git grep "raise[^s][^(]*('[A-Z]"` to show the most easily findable set of exceptions using Sentence case messages.

[2017-06-25 16:08] #4381 closed

[2017-06-25 16:08] #4402 closed

[2017-06-25 17:14] shreyans800755 opened #4405 "coala --non-interactive repeated in CI"
Scenario:
On pushing changes to a PR, gitmate-bot gives errors if any (Mainly because the contributor forgot to run `coala` in local before pushing).
In such cases, travis and circle CI fails although build and tests are passing. Final status goes **red** because of the command `coala --non-interactive`. Since we have separated the job of checking linting/styling of the code to gitmate, job of tra

[2017-06-25 17:16] shreyans800755 commented on #4405
For ref: https://github.com/coala/coala/pull/4240#issuecomment-310892826

[2017-06-25 17:19] nityeshaga opened #4406 "Add outputs and their explanation in Writing Native Bears tutorial"
The guide to [Writing Native Bears](https://github.com/coala/coala/blob/master/docs/Developers/Writing_Native_Bears.rst) includes some commands, as examples, which the readers should try to reproduce on their machines but it does not show the expected outputs for these commands. Adding the outputs and a little explanation about them will be of great help to a new user who is trying to understand t

[2017-06-25 17:33] Makman2 commented on #4405
At least one `coala --non-interactive` should be turned on, so we don't rely completely on gitmate for now.

[2017-06-25 17:48] nityeshaga commented on #4387
Actually the thing about not closing PRs is there in line 329 of [Newcomers_Guide.rst](https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst). :-)

[2017-06-25 17:49] #4382 closed

[2017-06-25 18:05] shreyans800755 commented on #4405
I can work on this, but this seems fairly simple. May be we can onboard a newcomer using this.

[2017-06-25 19:12] shreyans800755 commented on #4405
IMO, we should remove it from travis, as it has got more #builds than circle.

[2017-06-25 19:24] #2143 closed

[2017-06-25 20:27] userzimmermann opened #4408 "Remove Aspect prefix from all Aspect... named classes and expose them as coalib.bearlib.aspects API"
We have so many classes called `Aspect...` now that it feels like unnecessary redundancy. Furthermore, the `coalib.bearlib.aspects` package has already special features like a module level `.__getitem__`. So it should be generally used as prefix for the whole aspects API, making imports even simpler. Instead of:

`from coalib.bearlib.aspects import ..., ..., ...` you can then simply do:

`import c

[2017-06-25 20:33] userzimmermann opened #4409 "Remove all pytest-specific features from aspects tests"
Those repeating `unittest` vs `pytest` discussions just take up too much time ;)

@coala/aspects-developers @jayvdb

[2017-06-25 20:56] userzimmermann opened #4410 "Implement `.get()` to find subaspects from aspectclasses and instances"
The difficulty is that `.get()` must work like a bound method from an aspectclass and from an aspect instance, what can be achieved by a descriptor class like:

[code]

Then:

[code]

If the subaspect can't be found, the return value should be `None`

Relates to https://gitlab.com/coala/GSoC-2017/issues/313

cc @jayvdb

[2017-06-25 21:43] userzimmermann opened #4411 "Add aspectModule.get() for looking up aspects without raising"
Since we have https://github.com/coala/coala/issues/4384 and #4410 there should also be an according `aspectsModule.get()` method that just returns `None` if the given aspect was not found

Relates to https://gitlab.com/coala/GSoC-2017/issues/314

cc @coala/aspects-developers @jayvdb

[2017-06-25 22:55] Makman2 commented on #4405
CC @jayvdb, our CI master :D

[2017-06-25 22:57] Makman2 commented on #4387
Oh indeed. @meetmangukiya closing this then?

[2017-06-26 05:48] jiteshpabla commented on #1709
@RJ722 I'm back on this.

[2017-06-26 12:42] #4384 closed

[2017-06-26 12:42] #4410 closed

[2017-06-26 13:20] #4411 closed

[2017-06-26 15:02] co-robo opened #4413 "Replace all mentions of `pip` in the documentation with `pip3`"
Currently the documentation uses a mix of `pip` and `pip3`. Change all mentions of `pip` to `pip3` wherever required.

[2017-06-26 15:08] adhikasp commented on #4413
Missing info from title change:
Currently the documentation uses a mix of `pip` and `pip3`. Change all mentions of `pip` to `pip3` wherever required.

[2017-06-26 15:12] shreyans800755 commented on #4351
@Makman2 I'm not able to find the references of any of the functions `initialize_dependencies` and `run` from `Core.py` (apart from CoreTest). Where are these functions used ?

[2017-06-26 15:27] Makman2 commented on #4351
`initialize_dependencies` is used inside `run`, and `run` shall be used outside. `run` is the main entry-point for running bears. Everything else should not be touched by external users.

[2017-06-26 15:27] shreyans800755 commented on #4351
So, right now, `run` is not used anywhere else ?

[2017-06-26 15:29] Makman2 commented on #4351
No, not yet. It will be used by coala once the last step is completed, the integration :)

[2017-06-26 19:04] shreyans800755 commented on #4351
In that case, why do we have different tests for both `initialize_dependencies` and `run` ? Shouldn't the tests only for `run` should suffice ?

[2017-06-26 20:37] Makman2 commented on #4351
Because `initialize_dependencies` features much functionality, this component is tested on its own. It's easier to test than through `run`.

[2017-06-27 03:14] prachi1210 commented on #4122
@Makman2 Do we need a separate page for this guide or should I add it in docs we currently have for review?

[2017-06-27 04:56] prachi1210 commented on #3956
Hey, can I work on this?

[2017-06-27 14:18] yash-nisar opened #4418 "execute_bear: Improve AssertionError message generation"
Instead of raise
[code]
use
[code]
so if `msg` is maybe really empty, we don't have a superfluous `\n`

type/test
area/tests

[2017-06-27 14:19] JohnMoutafis commented on #3276
Can I get this one?

[2017-06-27 14:21] yash-nisar commented on #3276
Sure, use our bot -> `corobo assign https://github.com/coala/coala/issues/3276` on gitter (https://coala.io/chat)

[2017-06-27 14:23] JohnMoutafis commented on #3276
Got response:

[2017-06-27 18:03] userzimmermann opened #4421 "Add aspectsModule.__iter__"
To be able to iterate over all available aspects by directly using the `coalib.bearlib.aspects` module

[2017-06-27 18:11] userzimmermann opened #4422 "Add aspectsModule.filter()"
According to https://github.com/coala/coala/pull/4412#pullrequestreview-46231065

To iterate over available aspects filtered by `name`, `tastes`, ...

[code]

[code]

@coala/aspects-developers

[2017-06-27 18:44] #4315 closed

[2017-06-27 18:51] SanketDG commented on #3956
@prachi1210 didn't you do one newcomer issue? If not, feel free to assign it yourself as I have unassigned the previous assignee :)

[2017-06-27 19:44] Makman2 commented on #4122
A new page :+1:
But it's a good idea to link from the current review page to his "review training guide" :)

[2017-06-27 23:10] jayvdb commented on #3753
https://github.com/joerick/cibuildwheel looks very helpful.

[2017-06-28 05:37] jayvdb commented on #4115
This is a part of https://github.com/coala/coala/issues/4115 , so that the pytest script can be fetched and run from the coala builds

[2017-06-28 15:22] mridubhatnagar opened #4423 "Newcomers_Guide.rst: Reason for not resolving issue on master of forked repository."
As of now there is a Note in newcomers guide http://api.coala.io/en/latest/Developers/Newcomers_Guide.html which explicitly states that before resolving a issue you need to create a new branch and then resolve the issue.

But mistakenly first timers resolve the issue on master branch of there forked repository itself. IMO, we can add a note why issues should not be resolved on master branch. There

[2017-06-28 15:27] mridubhatnagar commented on #4423
As of now there is a Note in newcomers guide http://api.coala.io/en/latest/Developers/Newcomers_Guide.html which explicitly states that before resolving a issue you need to create a new branch and then resolve the issue.

But mistakenly first timers resolve the issue on master branch on there forked repository itself.  IMO, we can add a note why issues should not be resolved on master branch. Ther

[2017-06-28 20:51] JohnMoutafis commented on #3357
Is this still an issue?

[2017-06-28 23:42] #3276 closed

[2017-06-29 09:18] nityeshaga commented on #4269
@li3n3 has not updated the PR since May 24. IMHO someone should take over that PR (as @li3n3 himself suggested on 23rd May).

[2017-06-29 14:22] JohnMoutafis commented on #4423
@mridubhatnagar If ever that issue receives a tag `difficulty/low` I will be happy to work on it!

I even have the explanation ready! :smile:

[2017-06-29 15:03] meetmangukiya commented on #4423
@JohnMoutafis go ahead, if you feel like it :smile:

[2017-06-29 17:02] JohnMoutafis commented on #4423
Gimme gimme 😄

[2017-06-30 00:29] Makman2 commented on #3357
@JohnMoutafis see http://api.coala.io/en/latest/ ;)

[2017-06-30 00:42] Makman2 opened #4425 "Nextgen-Core: New bear type - DependencyBear"
Often it's useful to spawn tasks for each dependency result yielded. Got the idea from https://github.com/coala/coala-bears/issues/1871:

We could parallelize link-wise in this case with a bear dependency. But the general idea was born from that, that for each dependency we spawn a new task, instead of each file.

I'm not sure how the task generation shall exactly look like, there are multiple pos

[2017-06-30 09:43] jayvdb commented on #4423
@JohnMoutafis , @supergr35 , we have a bit of overlap between this issue (and its PR https://github.com/coala/coala/pull/4426 ) and https://github.com/coala/coala/issues/3253  , which has PR https://github.com/coala/coala/issues/3729 .  They are about different parts of the docs, but try to assist avoid the same sets of newbie mistakes.  You two should check each others work to find ways to make t

[2017-06-30 17:35] #4418 closed

[2017-06-30 18:02] nityeshaga opened #4428 "Add `sudo` to the installation guides"
When installing things on Ubuntu/Debian sudo access is required. This is not mentioned in the guides. This might trip newcomers when getting started (tripped me :sweat_smile: ). So, we should add `sudo` when needed.

[2017-06-30 18:17] #4423 closed

[2017-06-30 20:44] sils commented on #4245
actually I'm against supporting this, it should be comma separated, the issue here is that the ignore action adds it wrongly and not that we should support this "double comment" thing which doesn't look nice and doesn't make any sense IMO

[2017-06-30 20:54] #3419 closed

[2017-06-30 20:54] #4233 closed

[2017-06-30 20:54] #4317 closed

[2017-06-30 20:54] #4329 closed

[2017-06-30 20:54] #4331 closed

[2017-06-30 20:54] #4341 closed

[2017-06-30 20:54] #4365 closed

[2017-06-30 21:32] sils commented on #4428
@nityeshaga not if you're using a virtualenv?

[2017-06-30 21:33] sils commented on #4245
though generally making the ignore mechanism better and more flexible isn't wrong if it's not specifically about this particularl case

[2017-06-30 22:53] meetmangukiya opened #4432 "New argument `--show-settings` to explicitly show optional and non-optional settings of bears"
Currently, there is no way to see the optional and non-optional settings of a bear. It should be possible to see the settings in CLI, rather than having to visit the website.

[2017-06-30 23:06] mridubhatnagar commented on #4432
Interested to work. But will be busy this week. :/

[2017-07-01 01:49] jayvdb opened #4433 "TypeError raised during debug logging"
Occurred at https://travis-ci.org/jayvdb/docker-coala-base/builds/248989641 , but also in https://github.com/coala/coala-bears/issues/1747

Something is wrong with the linter, but more importantly a debug log should not raise a `TypeError` exception, as that hides the real problem / real exception.

[code]

[2017-07-01 06:01] nityeshaga commented on #4428
Oh okay.. then I must have messed up something else! :smile:
Close it then?

[2017-07-01 06:09] sils commented on #4428
not sure, question is how can we avoid others having this problem

[2017-07-01 07:29] nityeshaga commented on #4428
I just checked.. somehow I got coala installed on both the virtualenv as well as without it. Don't know how that happened :worried:

[2017-07-01 08:34] adtac commented on #1348
Closing in favour of https://github.com/coala/coala/issues/1348

[2017-07-01 08:34] #1348 closed

[2017-07-01 08:34] adtac commented on #1348
Sorry, this was closed in favour of https://github.com/coala/coala-quickstart/issues/129 :P

[2017-07-01 12:11] mrtes commented on #4245
Alright. It's true that checking for multiple keywords in one line is a bit messy :)
Shifting this complexity to the action could improve things, especially because ignores are probably added less often than parsed.

I see some issues with the difference between `start ignoring` and `ignore` (User wants to add ignore to line, start ignoring is present already, but spans a larger area than intended

[2017-07-01 14:42] coala-bot opened #4435 "Review guide does not contain review queue link"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5957b4c2bf7e6af22c927682) by @Arsfiqball

[2017-07-01 16:43] Makman2 commented on #4245
Imo it should work, as it's not wrong to just put two separate comments. If it's valid code, we should recognize this case imo. Users are just confused if it doesn't work^^

[2017-07-01 17:44] Makman2 opened #4436 "Nextgen-Gen Bears: Make bear dependencies and requirements instance-bound, not class-bound"
Then we have the flexibility to choose dependencies depending on section settings. This could be beneficial for e.g. `TextLintBear` (introduced in https://github.com/coala/coala-bears/commit/d09c8f9f1f58ac39491caa2c36019067948bcf97). Depending on the settings, different plugins/rules are necessary.

Inspired by this comment on gitter:

But instead of adding a separate `missing_setting_dependency`

[2017-07-01 17:44] Makman2 commented on #4436
I think this needs still some discussion if we really want it.

[2017-07-01 18:16] Makman2 commented on #4432
You can use `coala --show-bears --show-details`, but this displays all bears at all. Maybe we can enhance `--show-bears` itself to take additional bears that shall be shown?

[2017-07-01 19:28] meetmangukiya commented on #4432
It'd be better if it checked if any args were given to `show-details` i.e. change it or `show-bears` from a switch to a `nargs=+`(I think, haven't worked with argparse recently, might be wrong :sweat_smile: )

[2017-07-02 02:04] #4406 closed

[2017-07-02 14:50] #2860 closed

[2017-07-02 16:29] adhikasp opened #4438 "Add AspectList.exclude"
Extend AspectList class to have `excludes` attribute that hold list of aspect that marked as exception of the list. Trying to access aspect or subaspect of item in `excludes` will always give False/None.

[code]

This feature will be used to excluding an aspect (to "deactivate") that was defined in user's coala configuration.

area/aspects

[2017-07-03 14:05] sils commented on #4436
@Makman2 my opinion: do whatever is simpler in your architecture

[2017-07-03 14:05] sils commented on #4436
for language dependent stuff might make a lot of sense :+1:

[2017-07-03 15:03] troublemagnet commented on #4435
I'd like to work on this.

[2017-07-03 15:26] jayvdb commented on #4396
I've seen a few of these, and another one at https://travis-ci.org/coala/coala/jobs/249654901

[2017-07-03 15:35] Makman2 commented on #4436
It would be something on top of the architecture, it's actually not next-gen-core-bound, but I thought to make it in one go (as this is another bear feature we could promote for next-gen).

[2017-07-03 15:44] Makman2 commented on #4436
Actually some ideas how this would work:

Basically the core would access `bear.REQUIREMENTS` (or however the field is called) instead of `type(bear).REQUIREMENTS`. We can then use the old approach of static dependencies as well as dynamic dependencies.

However, we need to tweak `Bear` to copy the list of dependencies once we create a new bear, as class members are still class-bound even when acc

[2017-07-03 15:45] Makman2 commented on #4436
The same would apply for `Bear.DEPENDENCIES`.

[2017-07-03 15:46] Makman2 commented on #4436
(Actually I have mixed `Bear.REQUIREMENTS` and `Bear.DEPENDENCIES`, but it would definitely work for both. Flexible requirements and dependencies are both useful)

[2017-07-04 13:21] JohnMoutafis opened #4442 "Newcomers_Guide.rst: Step 6 out of place bold text"
Out of place bold text exist in `Step 6` section of the `Newcomers_Guide.rst` documentation:

![screenshot from 2017-07-04 16-13-13](https://user-images.githubusercontent.com/2430971/27831667-56c189a4-60d4-11e7-88a2-fe723dcba1bc.png)

and shows in the navigation menu as well:

![screenshot from 2017-07-04 16-18-49](https://user-images.githubusercontent.com/2430971/27831731-97a4b1f8-60d4-11e7-8144-

[2017-07-04 14:34] co-robo opened #4443 "coala should recheck the issue it pointed while running locally"
coala should recheck the issue it raised after user has fixed it, it currently skips the line on which the issue was raised and also the newly added lines.
type/bug difficulty/hard
Opened via [gitter](https://gitter.im/coala/coala?at=595ba775f5b3458e3010233f) by @Monal5031

[2017-07-04 15:37] sidharthskumar commented on #4442
can i work on this?

[2017-07-04 18:25] #4344 closed

[2017-07-04 18:53] JohnMoutafis commented on #4442
@sidharthskumar remember to do a Pull Request for your commit!

[2017-07-04 19:01] sidharthskumar commented on #4442
i have just done my first pull request please let me know the status after reviewing them .

[2017-07-05 05:49] yash-nisar opened #4446 "Raise error/warning when a wrong setting is given in the cmdline args"
For example, while running the given command,
[code]
coala doesn't raise an error/warning for the wrong setting (`random_value=True`).

[2017-07-05 07:02] meetmangukiya commented on #923
No new issue for autocorrection? I was about to create an issue for this feature. Can we re-open this?

/cc @Makman2

[2017-07-05 14:18] Makman2 commented on #923
I think we agreed on not supporting case insensitive bear names. Autocorrection would be a different issue (which we forgot to file actually...) @meetmangukiya

[2017-07-05 14:48] Makman2 commented on #4443
Could you be a bit more specific? I can hardly understand the issue ;)

(btw: bug issues are usually `difficulty/medium` :) )

[2017-07-05 14:49] Makman2 commented on #4446
a setting can't be "wrong", just unused. But we may warn the user that this might be the case.

[2017-07-05 14:50] yash-nisar commented on #4446
Yes exactly, something like `random_value` setting could not be found just like we do for bears ?

[2017-07-05 14:52] yash-nisar commented on #4446
Something similar to :
[code]

[2017-07-05 16:19] yashpratapsingh commented on #3956
Hi ! ,
I'll like to work on this.

[2017-07-05 19:07] Makman2 commented on #3956
@yashpratapsingh please follow the procedure described in [the Newcomers Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html) to get an issue assigned :)

[2017-07-05 19:13] Makman2 commented on #4446
"setting XYZ could not be found" sounds somehow critical. I would really suggest to use a warning with
"Setting XXX is not used by any bear, so it's meaningless." or similar

[2017-07-05 20:13] troublemagnet commented on #4413
Are you still working on it?

[2017-07-05 20:49] SanketDG commented on #4413
@S2606 Do you need help with this? Please come to https://coala.io/chat if you need help :)

PROTIP: Use the `git grep` tool, to find occurences of a string.

[2017-07-05 21:09] #4435 closed

[2017-07-05 23:48] Monal5031 commented on #4443
While using coala locally, an issue was pointed out, which I tried solving and I had to add new lines just under the line coala pointed (the newline I added also had an issue), and after making the changes coala skipped that line.
Also, when I tested a little more, I found out that coala never checks if the issue it pointed out was corrected or not (we have to rerun coala to be sure).

[2017-07-06 11:55] #4433 closed

[2017-07-06 12:46] S2606 commented on #4413
@troublemagnet Yes i am working on this

[2017-07-06 12:47] S2606 commented on #4413
@SanketDG Thank you for your consideration, I shall ask for help when needed.

[2017-07-06 17:57] #4251 closed

[2017-07-06 17:57] #4269 closed

[2017-07-06 20:11] userzimmermann commented on #4438
@adhikasp @jayvdb Like mentioned in https://github.com/coala/coala/pull/4439#pullrequestreview-48442715 : Better `exclude` instead of `excludes`

[2017-07-06 20:47] Makman2 commented on #4443
yeah coala loads the files into RAM and operates on those instead of the files directly. This is a) faster b) safer when outside modifications occur. We have this issue to consider some different behaviour in that direction: https://github.com/coala/coala/issues/3912

I wouldn't consider this a bug as this is currently intended. If you agree I would close this issue and redirect the discussion aga

[2017-07-06 21:46] Monal5031 commented on #4443
Okay sure @Makman2 please close this one.

[2017-07-07 10:52] JohnMoutafis commented on #2511
Would modying the `PEP8Bear` be a good design for this issue?

[2017-07-07 11:04] meetmangukiya commented on #2511
I don't understand the issue. If pep8 gives that message, coala will give that message. If you want to get different message from pep8, this issue is for pep8, not coala :confused:

[2017-07-07 11:10] JohnMoutafis commented on #2511
As I see it, @TheMeaningfulEngineer want's the message to be printed with the diff in order for the operation to be more verbose.

Instead of just:
[code]
Get something like this:

[code]

[2017-07-07 13:09] yukiisbored commented on #2511
Shouldn't this be on coala-bears and **not** coala!?

[2017-07-07 13:11] yukiisbored commented on #2511
Also, I think this doesn't require the `need design` label just need a better description.

[2017-07-07 13:17] JohnMoutafis commented on #2511
@yukiisbored Should I work this on coala-bears and reference this issue in the commit message, or it would be better to transfer the issue there?

[2017-07-07 13:35] yash-nisar opened #4451 "LocalBearTestHelper: Remove `check_order=False` from `check_line_result_count`"
The order doesn't matter when while comparing the length of the results.

type/test
area/tests

[2017-07-07 13:41] yash-nisar opened #4452 "Script that generates `check_results` tests"
Take your bear, run the script on some files, and generate a test file. Automation that is aimed to ease test development.

area/tests
status/needs design

[2017-07-07 13:42] yash-nisar commented on #4452
CC @Makman2

[2017-07-07 13:55] yukiisbored commented on #2511
I think it's better to transfer the issue there. I'll do it in a sec.

[2017-07-07 13:57] yukiisbored commented on #2511
Closing this issue, Transferred to https://github.com/coala/coala-bears/issues/1897

[2017-07-07 13:57] #2511 closed

[2017-07-07 16:27] #4443 closed

[2017-07-08 08:34] co-robo opened #4454 "HiddenResult constructor should allow all parameters of Result"
The `HiddenResult` objects should work more like real `Result`.  i.e. if the data in the `HiddenResult` has a line/col, it should have an `affected_code`.

The suitability of the other `Result` constructor parameters should be evaluated on a case-by-case basis, but they should all be made available at once, so the order of the parameters is similar.

The missing parameters should be added after `c

[2017-07-08 08:41] jayvdb commented on #4454
This is an intermediate step towards https://github.com/coala/coala/issues/2582 .
The current `HiddenResult` objects should work more like real `Result`.  i.e. if the data in the `HiddenResult` has a line/col, it should have an `affected_code`.

The suitability of the other parameters should be evaluated on a case-by-case basis.

[2017-07-08 09:00] jayvdb opened #4455 "HiddenResult: Deprecate `contents`"
The `HiddenResult` contents field is an opaque value in coala, which is being used as a dict for `AnnotationBear`, used *twice* for ClangFunctionDifferenceBear to store different types of values, and as a list in URLBar.

The core's ability to manage `Result` objects (c.f. https://github.com/coala/coala/issues/2582) depends on the core being able to have some understanding of the information being

[2017-07-08 09:09] jayvdb commented on #4455
Blocked on:

- #1902
- #1903
- #1904

[2017-07-08 15:25] yukiisbored commented on #4428
It depends really some Linux distributions (like Gentoo) doesn't allow installing it to the system wide sites-package and tells the user to use `--user` for using the user's sites-package instead

[2017-07-09 03:09] #3253 closed

[2017-07-09 03:55] jayvdb commented on #4405
Travis doesnt check GitCommitBear due to https://github.com/coala/coala-bears/issues/1037 .

I see this problem solved a different way: gitmate should cancel the Circle and Travis and AppVeyor CI builds when gitmate finds a problem.  This will reduce the length of our CI build queues, and re-enforce the principle that we expect developers to de-lint their own code before publishing it.

[2017-07-09 05:58] mridubhatnagar commented on #4432
@meetmangukiya @Makman2  Though as of now I am unable to figure out where changes are to be made. But, IMO  we can make this more user-friendly by adding Bear name as an argument.  So, in case the user adds language as Python.
1) so all bears related to Python should be displayed.
2) Now, if the user selects Pyunusedcodebear. So, details pertaining to this bear should be displayed.

[2017-07-09 08:38] shreyans800755 commented on #4405
@jaydb That's actually better solution.

[2017-07-09 09:02] co-robo opened #4457 "HiddenResult needs the contents value included in generated methods"
HiddenResult inherits from Result, which means it inherits the methods that `generate_ordering` and `generate_repr` adds.  These will be wrong on the `HiddenResult` subclass, as the `contents` value is not included.
difficulty/low
cc @yash-nisar and @refeed
Opened by @jayvdb

[2017-07-09 14:14] Makman2 opened #4458 "Bears shall not need to pass `HiddenResult`s any more, normal `Result`s shall also work for dependency results"
From https://gitter.im/coala/coala?at=595f827089aea4761d74e93a:

[2017-07-09 14:16] Makman2 commented on #4458
Possible solutions:

[2017-07-09 14:16] Makman2 commented on #4458
CC @jayvdb @refeed

[2017-07-09 18:40] KAISER1997 commented on #3956
hey!
can i work on this

[2017-07-10 10:10] #4442 closed

[2017-07-10 14:02] Makman2 commented on #4432
I like that, that's what I would expect how things work. Maybe we can merge `--show-bears` and `--show-details` param into a single command `--show-bear-details`, accepting no args (meaning all bears) or some args (the bears to display)

@mridubhatnagar for that there's the `--show-capabilities`/`-p` param, that's something different :)
The changes need to be made where `ArgumentParser` appears in

[2017-07-10 14:30] #4451 closed

[2017-07-10 15:09] Makman2 opened #4459 "documentation displaying modes: Automatically use `less`"
So documentation can be scrolled.

[2017-07-10 15:10] Makman2 commented on #4459
Opinions? :)

[2017-07-10 15:50] Makman2 commented on #4458
From https://gitter.im/coala/coala?at=5962c04697cedeb048261ed6 (@jayvdb):

[2017-07-10 15:51] Makman2 commented on #4458
I agree that this is probably easiest, and later we can still change behaviour easily as this is the most "minimal" form of providing information to the result callback.

So it's decided, we take option 1.

[2017-07-10 15:53] Makman2 commented on #4458
Can be realized by checking which bear has emitted results and compare that with the initial list of bears passed to the core.

Probably easiest to realize once https://github.com/coala/coala/issues/4351 is done, as we avoid to pass again some field around.

[2017-07-10 16:09] mridubhatnagar commented on #4432
@Makman2  just found that for displaying this we have argument named as filter by language.

[code]

[2017-07-10 19:11] mridubhatnagar commented on #4432
@meetmangukiya  @Makman2  I tried doing

[code]
Snippet of output
[code]
Likewise for all bears related to python details are displayed on cli

[2017-07-11 09:58] Makman2 commented on #4432
But you can't select a specific bear^^

[2017-07-11 10:00] Makman2 commented on #4432
But okay, my comments needs to be reconsidered again:

Obviously we need to deprecate the old options then 👍

[2017-07-11 12:29] mridubhatnagar commented on #4432
Yes I tried doing it for a specific bear using -b option. That cannot be done.

[2017-07-11 17:34] vaibhavgarg11 commented on #4387
Is this issue still open ?

[2017-07-11 17:41] meetmangukiya commented on #4432
@mridubhatnagar this is the mockup usage I expect:

`coala --show-details RadonBear InvalidLinkBear`

Out:
[code]

[2017-07-11 17:48] meetmangukiya commented on #4387
yeah. it is up for grabs

no.
@Makman2 what about deleting forks, we need that?

[2017-07-11 17:49] mridubhatnagar commented on #4432
@meetmangukiya That means --show-settings should accept at least  1 argument that is the bear name and than display the optional and non optional settings.

[2017-07-11 17:50] meetmangukiya commented on #4432
yes, 1 or more

[2017-07-11 19:35] Makman2 commented on #4387
Rephrased the issue title @meetmangukiya ;)

[2017-07-12 05:08] gureks commented on #4387
@Makman2 @meetmangukiya adding it as a note in *Step 4* makes sense?

[2017-07-12 12:04] Makman2 commented on #4387
Hm I would rather say somewhere in steps 5-7.

[2017-07-12 15:51] JohnMoutafis commented on #4363
Tried to reproduce.

Happened only when I caused a PEP8 error **below** the line that I fixed:

**.coafile**:
[code]

**tests.py** before first `coala` pass

[code]

- On the run, `coala diff` adds two empty lines between `import ...` and `def ...`.
- I choose `1: Open file(s) and fixed the error without saving.
- Removed empty line from the end of **test.py**.
- Save and exit back to `coala` run.

[2017-07-12 16:17] gureks commented on #4387
@Makman2 @meetmangukiya can you go through the PR, please??

[2017-07-13 02:15] #4388 closed

[2017-07-13 03:30] #4438 closed

[2017-07-14 02:36] jayvdb opened #4463 "Validate language setting"
The `language` setting is used for accessing the `Language` definitions.

Currently two bears use this, `AnnotationBear` (and three dependent bears) and `MypyBear`.  They have their own tests for this value.

Those bears currently define the setting as `language: str`.  They should be able to define a setting `language: Language` (or similar), and have automatic validation occur, with the tests fo

[2017-07-14 02:43] jayvdb commented on #3713
This is being done in package_manager.

[2017-07-14 02:43] #3713 closed

[2017-07-14 04:27] adhikasp commented on #4463
Correction, as part of aspects project, `language` will always need to be validated (and shown error) IF coala is run under "aspect-mode" because it will become the basis of bear selection, even if none of the selected bear will use `language`.

[2017-07-14 04:29] adhikasp commented on #4463
Correction, in aspect-mode `language` should still thrown error if invalid because it will became the basis of bear selection (based by aspect capability and language supported by bear).

[2017-07-14 04:33] adhikasp commented on #4147
@pratyushprakash are you still working on this?

[2017-07-14 13:15] co-robo opened #4464 "pip3 install coala-bears doesn't install coala binary"
No idea why.

Found in testing with @clstaudt
Opened by @sils

[2017-07-14 14:47] sils commented on #4464
@clstaudt can you give us your pip version?

[2017-07-14 16:48] clstaudt commented on #4464
pip 9.0.1 from /usr/local/lib/python3.6/site-packages (python 3.6)

[2017-07-15 12:23] NiklasMM opened #4466 "Newcomers_Guide.rst: Tell people to sign into Gitter with Github, not Twitter"
The Gitter section should tell people to log into Gitter with their Github account and not with Twitter, as we use the Github username for the automated stuff that corobo does.

[2017-07-15 15:07] co-robo opened #4468 "ConfigWrite.py file is opened but not closed"
in line 28 `self.__file = open(self.__file_name, 'w')` a file is opened but never closed again.
(taken from lgtm)
Opened by @sims1253

[2017-07-15 15:20] sims1253 commented on #4468
@sils says it is a false positive

[2017-07-15 15:20] #4468 closed

[2017-07-15 15:53] userzimmermann opened #4470 "DocstyleDefinition.get_available_definitions uses single ConfParser instance..."
... for parsing all `*.coalang` files, which leads to section overrides, which lead to `logging.warning`s, which make `coala-bears` CI **FAIL** on building docs with `sphinx-build -W`, like mentioned in https://github.com/coala/coala-bears/pull/1819#issuecomment-309059574 :

https://circleci.com/gh/coala/coala-bears/6570#tests/containers/1 :

[code]

Prerequisite for https://github.com/coala/coala

[2017-07-15 16:58] Makman2 commented on #3983
@sils if this issue is not fixed, please reopen.

[2017-07-15 17:03] sils commented on #3983
Yep forgot reopening. See revert and the fix for the stuff.

On Jul 15, 2017 18:58, "Mischa Krüger" <notifications@github.com> wrote:

@sils <https://github.com/sils> if this issue is not fixed, please reopen.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala/issues/3983#issuecomment-315547312>, or mute
the thread

[2017-07-15 18:32] #4470 closed

[2017-07-15 20:27] palash25 commented on #4466
I am a beginner and I would like to work on this. Do I need to make the proposed changes in the ** Step 1. Meet the Community and Get an Invitation to the Organization ** section of the ** Newcomers_Guide.rst ** file.

[2017-07-16 09:06] NiklasMM opened #4474 "ConfigurationGathering.py: gather_configuration uses sys.argv directly"
`gather_configuration` uses `sys.argv` directly [here](https://github.com/coala/coala/blob/master/coalib/settings/ConfigurationGathering.py#L394). This creates problems, when using pytest with any kind of arguments.

For example when targeting the tests directly with `pytest -k ConfigurationGatheringTest` we get:

[code]

This makes it impossible to run the config gathering tests in a subset.

I w

[2017-07-16 19:15] Makman2 commented on #4466
Where it's appropriate @palash25 ;)

[2017-07-17 19:13] Makman2 commented on #4349
Unassigned due to inactivity.

[2017-07-18 15:31] Makman2 commented on #4436
I think we definitely want this, I've seen the need for it again in https://github.com/coala/coala-bears/pull/1919/commits/8ce30dde1970016e7c7fc4d69f47d34cdd286640. We should run bears only with most minimal package overhead as possible, so users have less to download + more space on disk + faster loading times.

[2017-07-18 22:45] shreyans800755 opened #4478 "Remove LogPrinterMixin & LogPrinterThread"
As an improvement after https://github.com/coala/coala/pull/4320.

[2017-07-19 05:26] blossom2017 commented on #3251
Few doubts regarding this issue:-
1)Seems like I have to add things from gitmate checklist to both newcomers's guide and pull_request_template.md file ?Am I correct?
2)Some links like rebasing tutorial mentioned in the gitmate comment coala/coala-bears#935 are dead.Where should I get the latest comment from gitmate that I can use for reference?
Thanks

[2017-07-19 06:52] sils commented on #4071
Unassigning due to inactivity

[2017-07-19 09:02] #4387 closed

[2017-07-19 11:42] #4457 closed

[2017-07-19 13:05] #4466 closed

[2017-07-19 13:54] yash-nisar opened #4482 "Yield better results on unequal lengths of result object lists"
We need to take care of cases where the lengths of `observed_result` and `expected_result` differ. We would like inputs from fellow coalians because there are many many cases to keep in mind while framing this snippet.

status/needs design
difficulty/high
area/tests

[2017-07-19 14:00] yash-nisar commented on #4482
We've come up with a basic idea where we match the first common element in both the lists and compare 1:1 each element until one of the list is finished. Every remaining element is considered an extra element and everything before the first common match is considered an prepended extra result.

[2017-07-19 17:52] userzimmermann commented on #4147
@adhikasp Please take this over for GSoC. I created https://gitlab.com/coala/GSoC-2017/issues/362 for this

@jayvdb

[2017-07-19 18:27] supergr35 commented on #3969
We already print a similar message when `coala --show-bears` is used (https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L919), is it still necessary to print one when `coala` is used without installing `coala-bears`?

[2017-07-19 20:23] shreyans800755 opened #4484 "Remove LogPrinter from all the projects under coala umbrella"

[2017-07-20 05:54] NiklasMM opened #4485 "Newcomer_Guide.rst: Clarify push command"
The [newcomer guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-4-sending-your-changes) asks people to push their stuff with `git push myfork`, which is not enough if they have never pushed before.

It needs to be `git push -u myfork <branchname>`

[2017-07-20 09:30] jayvdb opened #4488 "requests.exceptions.ReadTimeout: HTTPConnectionPool(host='httpbin.org', port=80): Read timed out"
BearTest.test_download_cached_file_status_code_error failed on Python 3.5 only

https://travis-ci.org/jayvdb/coala/jobs/255587402#L703

with

`requests.exceptions.ReadTimeout: HTTPConnectionPool(host='httpbin.org', port=80): Read timed out`

https://travis-ci.org/jayvdb/coala/jobs/255587402#L1795

likely transient, so closing immediately.

[2017-07-20 09:44] #4488 closed

[2017-07-20 10:08] sils opened #4489 "This is a test issue about a typo"

[2017-07-20 10:08] #4489 closed

[2017-07-20 11:25] sils commented on #3130
Closing associated PR because I don't have time to pick it up but I do think this approach is nice, showing only the important parts of the line.

[2017-07-20 15:00] jayvdb commented on #4115
Test [on 0.11 branch](https://github.com/jayvdb/coala/tree/rel-0.11-travis) was successful : https://travis-ci.org/jayvdb/coala/builds/255597437 , so we can merge it to 0.11 if we want, but more importantly it shows that the branching approach will work correctly for 0.12 when it is released.

I still need suggestions on how to integrate this into our build system, in a way that minimises delays a

[2017-07-20 21:05] userzimmermann opened #4491 "aspects: Add taste to force Formatting.Quotation.preferred_quotation when escaping is needed"
According to https://github.com/coala/coala/pull/4398#discussion_r127947687

In `coala` itself we allow for example `"'"` instead of `'\''` to avoid escaping

@coala/aspects-developers @sils

[2017-07-20 21:35] susg commented on #4485
I would like to be assigned to the issue.

[2017-07-20 21:52] susg opened #4492 "Command "corobo" not found."
### Coala bot replies : Command "corobo" not found

 In the [Newcomers_Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-4-sending-your-changes), in several places we find the use of command "corobo" to take the help of coala-bot. But in gitter chat when used "corobo" , it replied : Command "corobo" not found.

[2017-07-20 22:21] Makman2 commented on #4492
CC @meetmangukiya

[2017-07-20 22:24] Makman2 commented on #4492
Looks like a bug in corobo (have missed that this is the normal coala repository). Migrated issue to https://github.com/coala/corobo/issues/220.

[2017-07-20 22:24] #4492 closed

[2017-07-20 22:29] Makman2 opened #4493 "Replace simple generator statements in CoreTest"
Generator expressions like
[code]
can be replaced with
[code]

[2017-07-20 22:40] #2509 closed

[2017-07-20 22:43] Makman2 opened #4494 "Move @filter code into FilterHelper"
This avoids annotating filter functions with `@filter`. One file less to maintain.

[2017-07-20 22:43] Makman2 commented on #4494
CC @shreyans800755

[2017-07-20 22:45] Makman2 opened #4495 "InvalidFilterException: Add convenience methods generating messages"
The `__init__` method could take parameters that construct a message conveniently:
[code]
And use it accordingly where filters are present.

[2017-07-20 22:45] Makman2 commented on #4495
CC @shreyans800755

[2017-07-20 22:47] Makman2 opened #4496 "FilterHelper.get_all_filters_str(): Shall it be kept or inlined?"
Imo this is application specific code displaying text to the user, that's why I vote for inlining it into the currently single occurrence in code.

@shreyans800755 what do you think? I know we already discussed that, though I want some third party opinions on this^^

[2017-07-20 22:49] Makman2 opened #4497 "Put FilterHelper functions into module scope"
All `FilterHelper` functions are `classmethod`s, thus an instance is not necessary (and also never used), so a class is the wrong design approach. Another layer of indirection is not useful, so I would pledge to remove the class and put everything into the above module.

[2017-07-20 22:49] Makman2 commented on #4497
CC @shreyans800755

[2017-07-20 22:51] Makman2 opened #4498 "Implement FilterHelper function to apply multiple filters at once"
This is currently handled in coala's CLI code itself. Imo this can and should be moved into `FilterHelper` as much as possible.

Doing so would also remove some redundancy that has to be implemented for other coala entrypoints (like `coala-json`) to support filtering with `--filter-by`.

[2017-07-20 22:52] Makman2 commented on #4498
@shreyans800755 wanna pick this up as you're the inventor of filtering? :)

[2017-07-20 22:52] Makman2 opened #4499 "Implement `--filter-by` in other coala entrypoints"
... like `coala --json`.

[2017-07-20 22:52] Makman2 commented on #4498
Related to https://github.com/coala/coala/issues/4499.

[2017-07-20 22:53] Makman2 commented on #4499
@shreyans800755 assigned you as this is the next imminent step for filtering :)

[2017-07-20 23:06] Makman2 commented on #4115
Ideally we would test on all build branches.

As coala tests will be dependent on coala-bears, coala-bears could also execute tests for coala, so that we effectively run the same tests for coala and coala-bears on every change in both repos. Breakages shouldn't occur then at the other side unexpectedly.

[2017-07-21 00:52] jayvdb commented on #4115
As we can see with https://travis-ci.org/jayvdb/coala/jobs/255625650#L2604 , build breakages do occur ;-)  Need to figure out how that happened.

It [was green](https://travis-ci.org/jayvdb/coala/builds/248223950), so there is something recent which has broken it.

[2017-07-21 01:53] jayvdb commented on #4094
This is IMO very wrong.  An aspectlist could contain a list of languages, but it should not depend on bears.  Depending on bears creates a circular loop, and as far as I can see the only component of the bear that is needed is the bears languages.

[2017-07-21 01:57] adhikasp commented on #4094
Yes the aspectlist only need to use bear's language and I don't see any downside of changing it to avoid circular loop. :+1:

[2017-07-21 02:48] jayvdb commented on #4463
This was raised due to https://github.com/coala/coala/pull/4397#discussion_r127374759

[2017-07-21 07:23] troublemagnet commented on #4493
I'd like to work on this!

[2017-07-21 08:50] Asnelchristian opened #4500 "Root.Smell clean up"
Add ClassSize.ClassLength, ClassSize.ClassConstants, ClassSize.ClassInstanceVariables, ClassSize.ClassMethods, MethodSmell.MethodLength, MethodSmell.ParameterListLength, Complexity.CyclomaticComplexity, Complexity.MaintainabilityIndex aspects.

Refactor Root.Smell.complexity, and fix all docs issues

[2017-07-21 08:55] Asnelchristian opened #4501 "Fix DataClump aspect docs"
Fix dataclump.docs.example indentation, and explain dataclump.docs.importance_reason better.

[2017-07-21 09:02] Asnelchristian opened #4502 "Root.Spelling aspect clean up"
Add Spelling.GeneralWordSpelling, Spelling.CompanySpecificWordSpelling. refactor Root.Spelling aspect and remove coalaCorrect and aspectsYEAH; `CompanySpecificWordSpelling` is a more generic aspect,
that can do what `coalaCorrect` and `aspectsYEAH` do and
even more given `specific_word`.

[2017-07-21 10:00] troublemagnet commented on #4491
@userzimmermann Sir I'd like to start working on this. Can you please give me a little more information about what exactly the expectation is?

[2017-07-21 11:24] #4413 closed

[2017-07-21 11:55] sims1253 opened #4503 "json option for linter output parameter"
currently there is regex, corrected, unified-diff. Having the option to receive json would be nice as some tools support formatting their output with json and it makes working with it much easier than regexes.

[2017-07-21 12:59] Makman2 commented on #4503
Duplicate of https://github.com/coala/coala/issues/2072

[2017-07-21 12:59] #4503 closed

[2017-07-21 13:59] rubdos commented on #2072
One bear extra to take into account for this issue, is the [RustClippyLintBear](https://github.com/rubdos/coala-bears/blob/1f5d1d9a7e8140bc5132db931b51ef09e8db7d85/bears/rust/RustClippyLintBear.py).

Two things to take into account for this bear:
- One JSON object per `\n` newline (which is platform independently `\n`, also on Windows...);
- Rust outputs a stupid single non-JSON line too.

Good lu

[2017-07-21 14:17] Makman2 commented on #2072
Because `json` is often specific to every tool (e.g. the name of fields, the structure, and now this exceptional non-JSON line), json parsing can be easily achieved using `process_output` for now.
[code]
The special non-JSON line can be handled there too.

PS:
If there's JSON parsing functionality officially implemented in `@linter`, there will probably be a function like `process_output_json`, wh

[2017-07-21 14:19] rubdos commented on #2072
That's indeed what I used right now. I just wanted to mention that RustClippy is another one you guys might find worthy looking at when implementing this issue; I'm not going to undertake it myself right now.

[2017-07-21 14:20] Makman2 commented on #2072
The main problem of JSON is mapping the right fields to the right `Result` properties. I think the most flexible idea is to provide some kind of rules map (like mentioned at top), e.g.
[code]
How this works and shall look like exactly, is still under question.

[2017-07-21 16:13] Makman2 commented on #4237
Tests do fail when using an executor alone:
[code]

To avoid this error, we have to deal manually with locks controlling the shutdown of an executor. It seems that an event-loop takes this over for us, so it definitely has now a reason to stay.

[2017-07-21 16:13] #4237 closed

[2017-07-21 17:24] Makman2 opened #4505 "NextGen-Core: Do not close event loop if not all bears were scheduled"
There is a corner case when multiple bear dependencies are passed and one of them schedules no tasks.
If the bear scheduling no tasks is processed first, `cleanup_bear` is called that will close the event loop as no other running tasks are registered (yet), although the other bear has still to be scheduled.

This needs to be handled correctly and tests need to be written for this case.

[2017-07-21 18:00] hemangsk commented on #4118
Done at https://coala.io/#!/coalaonline

[2017-07-21 18:29] SanketDG opened #4507 "DocBaseClass: Move the class to a different file"

[2017-07-21 18:30] SanketDG opened #4508 "DocBearClass: Make it a bear that others can implement."

[2017-07-21 19:16] susg opened #4509 "Newcomer_Guide.rst: some changes in step 4"
Step 4 of [Newcomer_Guide.rst](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-4-sending-your-changes) says :

It should be step 3 because in that step we are creating our development branch.

[2017-07-21 20:09] Makman2 opened #4510 "NextGen-Core: Unpicklable bears do not cause the loop to close on pickling error"
Probably the core needs to be generally more careful about when to clean up bears.

Discovered during testing while defining local bear classes.

[2017-07-21 21:39] userzimmermann commented on #4094
@jayvdb @adhikasp IMO this is exactly what I proposed :) Having a back reference to the own holder is nothing unusual in OOP. But if you disagree, feel free! to only reference bear's languages accordingly...

[2017-07-21 23:14] userzimmermann opened #4511 "config: Define tastes in [...:taste] sections"
Continuation of https://github.com/coala/coala/pull/4397 , according to https://github.com/coala/coala/pull/4397#pullrequestreview-51603474

Relates to https://gitlab.com/coala/GSoC-2017/issues/378

[code]

@sils @sims1253 @jayvdb @Udayan12167 @coala/aspects-developers

[2017-07-22 02:07] co-robo opened #4512 "remove test requirement on urllib3 which is controlled by requests requirements"
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5972b34d614889d475db0099)

[2017-07-22 02:11] jayvdb commented on #4512
https://github.com/coala/coala/pull/4294 introduces a direct dependency version requirement on urllib3, but that is an indirect dependency about whose version we can not control.

urllib3 released a new version, which requests doesnt accept.

The result is the docker is broken, and other things will also break.

[2017-07-22 03:20] jayvdb commented on #4512
The problem was reported by @yash-nisar at https://gitter.im/coala/coala?at=5972195b1c8697534a4851e7 , seen at
https://travis-ci.org/yash-nisar/docker-coala-base/builds/256085447

[2017-07-22 05:28] jayvdb commented on #4512
Now regarding solution, we need to backtrack a bit.

https://github.com/coala/coala/pull/4294 was solving https://github.com/coala/coala/issues/4293 , which was a transient problem during the "requests is broken" phase which was mostly tracked at https://github.com/coala/coala/issues/4277 .

requests 2.14.2 was the sane version before that mess.

During that mess, the main breakage in coala was ht

[2017-07-22 07:35] jayvdb opened #4513 "Travis CI: coala --ci not finding csslint"
Possibly related to the switch from precise to trusty, builds of master on my fork are all failing with:

[code]

[2017-07-22 07:56] jayvdb opened #4514 "Create csslint package for debian"
We use `csslint` in the coala repo CI to check the one css file.  To do this, we need to install csslint using npm.  Ideally would load it as a apt package, but a package doesnt exist for debian.

[2017-07-22 07:57] jayvdb commented on #4513
Would be nice if https://github.com/coala/coala/issues/4514 was an immediately useful solution, but it isnt.

[2017-07-22 08:36] jayvdb commented on #4513
Confirming that my builds are running on the new Trusty images, while the main coala repo is using precise images.

[2017-07-22 08:38] troublemagnet commented on #4507
@SanketDG Which class are you talking about?

[2017-07-22 09:12] #2659 closed

[2017-07-22 09:31] jayvdb commented on #4512
I can also remove the `ProtocolError` now (https://github.com/jayvdb/coala/commit/0c5ec253bedc) and the test passes : https://travis-ci.org/jayvdb/coala/jobs/256297663

So I suspect that whatever was causing the problem that 6785f4a solved is no longer present.

[2017-07-22 09:51] Nosferatul opened #4516 "Documentation for apply_single doesn't exists"

[2017-07-22 10:17] #4513 closed

[2017-07-22 10:34] mridubhatnagar commented on #4221
@harirajk you can take care of this issue. You will have to ping on gitter channel https://gitter.im/coala/coala. And assign yourself to this task.
By typing cobot assign https://github.com/coala/coala/issues/4221.

[2017-07-22 10:39] SanketDG commented on #4507
this https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/DocBaseClass.py

[2017-07-22 10:41] co-robo opened #4518 "Spelling mistake Alernative in gather_configuration docstring"
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=59732bd951915d962af6b31d)

[2017-07-22 10:42] SanketDG commented on #4507
First this should be renamed to DocumentationExtraction.py then only the class `DocBaseClass` should be moved to a new file `DocBaseClass.py`

Each file should have different test files, so this will cause some redundant tests but that is okay.

Ping on gitter if you need help with this.

[2017-07-22 11:10] #4512 closed

[2017-07-22 12:07] jayvdb opened #4519 "Public API broken by PR 4240"
coala/coala#4240 broke `coala-quickstart`.

It removed public API functions

- `coalib.settings.ConfigurationGathering.get_filtered_bears` (replacing it with `get_all_bears`) and
- `coalib.collecting.Collectors.filter_section_bears_by_languages`

This needs to be fixed, or reverted.

cc @satwikkansal

[2017-07-22 12:21] AMR-KELEG opened #4520 "Bear.py: Replace an by a in docstring"
In the docstring of the Bear.py file - Line 31 (https://github.com/coala/coala/blob/master/coalib/bears/Bear.py#L31):

The indefinite article **a** should be used instead of **an** such that:
`This is the base class for every bear. If you want to write an bear, you`
is replaced by
`This is the base class for every bear. If you want to write a bear, you`

[2017-07-22 12:25] Makman2 commented on #4519
Definitely fixed, no reverted.

`filter_section_bears_by_languages` can be replaced with
[code]

[2017-07-22 12:29] Makman2 commented on #4516
That's no real bug ;)

[2017-07-22 13:12] Makman2 opened #4523 "Inline ConsoleInteraction.nothing_done()"
It's only used once, has a bad name and then we also don't need a specific test for it.

[2017-07-22 13:17] snakevenom04 commented on #4509
I made a pull request with the change you specified.
I hope thats alright ?

[2017-07-22 13:27] jayvdb commented on #4519
This has also broken the docker:
https://travis-ci.org/jayvdb/docker-coala-base/builds/256362638#L9177

[2017-07-22 13:29] jayvdb commented on #4519
@Makman2 , this was part of a public API.  It shouldnt be broken; that breaks other peoples projects, which two days before a GSOC end of phase is quite serious.  Please can we patch coala to restore it?

[2017-07-22 13:43] Makman2 commented on #4519
Hmm I haven't considered those functions being public API...

Okay let's revert, we implement compatability functions with deprecation notes :+1:

[2017-07-22 13:43] Makman2 commented on #4519
CC @shreyans800755

[2017-07-22 13:44] snakevenom04 commented on #4518
SHA for commit : 00ae92160be4a3c8abf79532949828262dbe9eb1
I made a pull request with the change you wanted.
I had made a pull request before this for a different issue ( #4509 ) so it merged the commit in that.
Is that alright ? or do I do something else ?

[2017-07-22 15:08] userzimmermann opened #4527 "Get @aspectized"
Relates to https://gitlab.com/coala/GSoC-2017/issues/319

In many `aspect` handling functions we do:

[code]

This should be generalized with an `@aspectized` decorator like:

[code]

[code]

[code]

[2017-07-22 15:17] userzimmermann opened #4528 "AspectList: Override manipulation methods to check for aspect input"
Relates to

`AspectList.__init__` checks every item of the input sequence if it's an aspect class or instance and tries to create it from string otherwise, but every inherited `list` manipulation method doesn't. So they must be overridden: `.append`, `.extend`, `.__setitem__`, `.__iadd__`. In contrast to the others, `.append` could simply get `@aspectized` according to https://github.com/coala/coa

[2017-07-22 15:35] sils opened #4529 "Fail fast in Session._schedule_bears"
there's a warning about stuff that could go wrong if some other stuff isn't properly coded; those kinds of warnings are usually never used and result in unneeded complexity

[2017-07-22 15:35] sils commented on #4529
CC @Makman2 who doesn't like this idea

[2017-07-22 15:35] sils commented on #4529
https://github.com/coala/coala/pull/4526/commits/45a49faa269a66d62866cd6164a9278027c4406b#diff-94f6470cc4dcfa1e33ff5eb050fd5191R209

[2017-07-22 15:50] AMR-KELEG commented on #4518
@snakevenom04 I think you should create two separate pull requests for the issues https://github.com/coala/coala/issues/4518 and https://github.com/coala/coala/issues/4509.

[2017-07-22 16:16] userzimmermann commented on #4491
@troublemagnet Thanks for your interest :)

It's a bit tricky ;) When you have the choice between 2 different quoting marks for your strings, and enforce one of them to be used in your code, then it means that this mark has always to be escaped if you actually want to put it inside of a string, like:

Enforce `'`: Then `'\' has to be escaped'`

So you can make an exception, like we do in our `coal

[2017-07-22 17:03] #4324 closed

[2017-07-22 19:37] adhikasp opened #4531 "Implement basic bear collection by aspect strategy"
Enable coala to collect bears based on aspects configuration.

PR https://github.com/coala/coala/pull/4397 pave the way for bear to use aspects and its taste. But there are still no way for coala to choose bear based on those aspects.

The goal is, given a coafile with aspects and language information, pick bear(s) that will fullfill those requirement.

area/aspect

[2017-07-22 20:13] Makman2 commented on #4529
I would argue to keep it: It's also not testable when throwing an exception instead. Also it doesn't guarantee a fast fail because the code runs inside `Future` callbacks.

Imo it's a reasonable safety measure^^

[2017-07-22 21:02] #4349 closed

[2017-07-22 21:02] #4351 closed

[2017-07-23 00:18] co-robo opened #4533 "load_configuration docstring has two "arg_list""
difficulty/newcomer
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5973eb4f81cd9a5d7e9b5d7c)

[2017-07-23 00:25] supergr35 opened #4534 "ConfigurationGathering.py: Add :return: for warn_config_absent"
https://github.com/coala/coala/blob/master/coalib/settings/ConfigurationGathering.py#L138
difficulty/newcomer

[2017-07-23 04:29] #4519 closed

[2017-07-23 05:34] snakevenom04 commented on #4518
Done. I split the two commits into two different pull requests.
All cool ?

[2017-07-23 05:35] snakevenom04 commented on #4509
I split the two commits i put in that one pull request, and changed the heading of the pull request to a more informative one.
Thanks !

[2017-07-23 05:47] satwikkansal commented on #4519
Thank you @jayvdb for fixing it quickly :)

[2017-07-23 07:04] satwikkansal opened #4539 "SectionFilling.py: Allow passing of custom fill_section functions"
It should be possible to use custom `fill_section` method for the method `fill_settings` instead of existing `fill_section` method in the "SectionFilling.py" .

[2017-07-23 07:15] satwikkansal commented on #4539
Required for auto-filling sections in coala-quickstart

[2017-07-23 08:43] #4539 closed

[2017-07-23 09:12] jayvdb opened #4541 "ConfigurationGatheringTest test_get_filtered_bears returns bears in different order"
In all my builds of the docker image, the bears returned from `get_filtered_bears` are ordered differently than the order occurring on the builds in this repository.

https://travis-ci.org/jayvdb/docker-coala-base/builds/256537055#L8433

The openSUSE docker is using 3.6.1, and there is a Travis jobs on this repo also with 3.6.1.
I am not sure why the order is different.

Allowing the order to be f

[2017-07-23 09:15] #4493 closed

[2017-07-23 10:07] jayvdb commented on #4541
Actually on coala repo Travis Trusty builds, pytest now reports it is `python 3.6.2-final-0 `, vs `python 3.6.1-final-0` on the openSUSE system.  So that *might* be relevant.
(and Circle and Appveyor do not test 3.6)

[2017-07-23 10:21] jayvdb commented on #4541
Reading through the code I cant see an obvious source of randomness, but the order of results from `get_all_bears` on openSUSE is definitely quite different from Travis and my workstation.

https://travis-ci.org/jayvdb/docker-coala-base/builds/256553085#L8685

And [py3.6.1 on travis](https://travis-ci.org/jayvdb/coala/jobs/256558534) is the same as 3.6.2.  It is looking like a docker/openSUSE-indu

[2017-07-23 11:30] jayvdb commented on #4541
An explicit order test for the complete bear list also passes on travis

https://github.com/jayvdb/coala/commit/3889825de7f997ff78be10d54fb3cac84f2ea5c9

[2017-07-23 14:17] co-robo opened #4542 "Implement Error reporting mechanism for DocumentationAPI"
we have to go around implementing a error reporting mechanism for the doc linting apis .
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=5974b01045fc670746bbbe13)

[2017-07-24 01:02] co-robo opened #4545 "Store "tests/bear_tests" bear count in a variable in tests.TestUtilities"
This number needs to be used in many locations. c.f. https://github.com/coala/coala/pull/4532
difficulty/low
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5975473542d2f6102587f2a5)

[2017-07-24 01:30] adhikasp commented on #4545
I'll take this one (gitter is down so I can't ask corobo)

[2017-07-24 04:07] #4545 closed

[2017-07-24 04:49] #4094 closed

[2017-07-24 04:49] #4147 closed

[2017-07-24 06:21] co-robo opened #4548 "DocumentationAPI Bug with `C` test cases."
We now use `markers.split()` to find docstrings. Amend the changes to `assemble()`
https://github.com/coala/coala/pull/4530/files#r128902524
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=597591db614889d475e41f4e)

[2017-07-24 06:24] damngamerz commented on #4548
Tried amending the changes to `assemble()` This breaks all other tests. Not able to find a proper solution

[2017-07-24 07:52] #4029 closed

[2017-07-24 11:01] adhikasp opened #4551 "coalaJSON: Change wrong variable usage"
Commit 07092f26c581c7da6634a2126cc87350ca8970b8 introduce variable `TEST_BEARS_COUNT` that used as global var for various test that check quantity of all tests bear.

But change in `CoalaJSONTest::test_version_conflict_in_collecting_bears()` is wrong because the number 13 there does NOT assert bear quantity but an exit code when coala is error'd out.

Change it back.

[2017-07-24 11:02] adhikasp commented on #4551
I would like to take these issue (gitter down for me again)

[2017-07-24 11:06] #4516 closed

[2017-07-24 12:20] #4200 closed

[2017-07-24 12:27] jayvdb opened #4552 "Remove all use of line continuation"
`\` in Python is an abomination.

From a `ast` perspective it makes it very hard to separate logical lines from physical lines, requiring any ast reader to have lots of extra crazy code to handle this one piece of unnecessary syntax.

Add it to the banned word list in `.coafile`

[code]

[2017-07-24 12:31] Nosferatul opened #4553 "Add ShowAppliedActions"
An action that will show a history of actions in a run of coala

[2017-07-24 13:43] #4553 closed

[2017-07-24 14:46] #4531 closed

[2017-07-24 14:46] #4551 closed

[2017-07-24 21:28] shreyans800755 commented on #4494
@Makman2 Is label `area/core` appropriate ? Is this really part of core ?

[2017-07-24 21:32] shreyans800755 commented on #4496
IMO, it is okay to inline it at the moment. But I'm afraid, what if its usage becomes high in future ? In that case, every time, that small snippet will have to be rewritten. But again, the concern is, hardly anybody will know about this function. And experienced python programmers will always tend to write a single line of code instead of finding if there's already a function for that.
So, I gues

[2017-07-24 21:33] shreyans800755 commented on #4496
+1

[2017-07-24 22:03] shreyans800755 commented on #4499
@Makman2  Isn't `coala-json` executable deprecated ? Or you're talking about `coala --json` ?

[2017-07-25 05:06] co-robo opened #4556 "import https://github.com/github/linguist/blob/master/lib/linguist/languages.yml to Languages difficulty/medium"
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5976d1c989aea4761dcfa60e)

[2017-07-25 06:10] aasiya13 commented on #4523
I am new to this project. how can i find the location of issue ??

[2017-07-25 06:47] aasiya13 commented on #4523
i found the location where it has been mentioned. so do i need to remove the test case or what i can do to fix this.?

[2017-07-25 07:03] adtac commented on #4556
https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

[2017-07-25 07:20] SanketDG commented on #4523
@aasiya13 Since `nothing_done()` has no advantages in being a function, we remove it and instead just use it inline where it is called, so basically copy the contents of the function to where its called and remove the original declaration

[2017-07-25 15:46] Makman2 commented on #4494
Maybe `area/cli`?

[2017-07-25 15:47] Makman2 commented on #4499
oh yeah `coala --json` :+1:

(changed the issue description)

[2017-07-25 16:08] meetmangukiya commented on #4494
Am I reading this correctly: `@filter` :O filter is python standard function which anyhow takes two arguments, a function that indicates whether to include a entity or not, and another an iterable..

Did you override standard `filter` function :P ?

[2017-07-25 16:32] Makman2 commented on #4494
yes the name was reused^^ however it is not the same as the built-in `filter` function. Another reason to remove our `@filter`.

[2017-07-25 16:44] shreyans800755 commented on #4494
@meetmangukiya I wasn't aware of built-in filter. May be with this PR, we can rename it.

[2017-07-25 17:20] shreyans800755 commented on #4499
Are there any other entrypoints that we are targetting ?

[2017-07-25 20:56] Makman2 commented on #4499
`coala --ci`
`coala --json`
`coala --format`
that should be all of them ;)

[2017-07-25 20:57] Makman2 commented on #4494
With this PR we remove it altogether ;)

[2017-07-26 02:21] jayvdb commented on #4502
Spelling is part of natural language, so shouldnt we have a higher level in the tree for either NaturalLanguage or Readability?

We have long had LanguageToolBear which covers lots of natural language problems, and have other bears which can detect Grammar (TextLintBear & WriteGoodLintBear), translation errors (DennisBear), and AlexBear is about bad words.

[2017-07-26 02:40] jayvdb commented on #4502
I see Grammar is in [the cEP 10 tree](https://github.com/coala/cEPs/commit/3c5ec9785b03be715624e22873951a48b2aa035a#diff-dc65288ae3b8f48bf19e685ea3460ad6R107) as a separate sibling of Spelling.  Hmm.  But where does AlexBear and DennisBear fit into the tree?

[2017-07-26 05:28] chitranshi21 commented on #4523
please review the pull request for this issue .

https://github.com/coala/coala/pull/4558

[2017-07-26 09:45] Asnelchristian commented on #4502
Completely agree with that, i mean having Spelling and Grammar under the same aspect

[2017-07-26 09:46] Asnelchristian commented on #4502
hmm they do much more than Spelling and Grammar, maybe we should add something like TextQuality

[2017-07-26 12:20] underyx opened #4559 "Ability to add explanation of sections in coafile"
When I have the following section:

[code]

the error message just tells people that `The line contains the keyword 'from mypackage'` which doesn't explain a lot. It would be cool if I could configure this as

[code]

and have that explanatory text pop up when there's an error. This can also be useful for other kinds of checks, for instance explaining the rationale for some section.

[2017-07-26 15:38] Makman2 opened #4560 "Make `bear.BEAR_DEPS` instance bound"
Originated from https://github.com/coala/coala/issues/4436

[2017-07-26 15:38] Makman2 opened #4561 "Make bear requirements instance bound"
Originated from https://github.com/coala/coala/issues/4436

[2017-07-26 15:39] Makman2 commented on #4436
Split up into two issues:
- https://github.com/coala/coala/issues/4560
- https://github.com/coala/coala/issues/4561

[2017-07-26 15:39] #4436 closed

[2017-07-26 18:33] Makman2 commented on #4559
Hm I would rather recommend to improve the bears, as imo it's their duty to provide good messages.

[2017-07-26 18:37] underyx commented on #4559
@Makman2 how do you suggest to do that in the relative imports keyword case?

[2017-07-26 18:49] adeora7 commented on #4533
Can you please explain the issue a bit more. @jayvdb

[2017-07-26 20:48] SanketDG commented on #4533
@adeora7 In the documentation of the function load_configuration in ConfigurationGathering, `arg_list` is mentioned twice. Should be mentioned once with the appropriate description

[2017-07-26 20:57] Makman2 commented on #4559
Write a new bear for that specific purpose. Using a KeywordBear only to detect relative imports is quite primitive^^ The new bear can (and should) also suggest patches for this case :+1:

[2017-07-26 23:00] underyx commented on #4559
@Makman2 Okay, how about these?

[code]

[2017-07-27 01:16] Makman2 commented on #4559
I would generally try to make new bears out of those that provide more specific functionality. Not that I like challenges though, but I don't want to think about how I would implement bears specifically for those ;)

[2017-07-27 05:16] jayvdb commented on #4541
This is a problem beyond the test IMO.
I confirmed that Appveyor sees the same order as openSUSE, and CircleCI and Travis see a different order.
I suspect the cause is that AppVeyor and openSUSE are getting a fresh clone, while CircleCI and Travis are updating a cached clone.
The order in which bears are processed should be predictable.  Imagine there are two errors in a `.coafile` *configuration*

[2017-07-27 06:48] Asnelchristian opened #4562 "Implement Root.Formatting aspect"

[2017-07-27 09:36] #4500 closed

[2017-07-27 09:36] #4501 closed

[2017-07-27 09:36] #4502 closed

[2017-07-27 09:36] #4562 closed

[2017-07-27 09:48] adhikasp opened #4563 "Coala didn't run with aspect only config"
In aspect only config, the mandatory setting is `files`, `aspects`, and `language`. But coala make `files` and `bears` a mandatory in `ConfigurationGathering.py::warn_nonexistent_targets()`. We need to modify it to check if `bears` OR `aspects` is present instead of only `aspects`.

ps. actually I already do this in my aspects PR but I think i mistakenly delete it when rebasing stuff :/

[2017-07-27 10:46] ayush1999 commented on #4533
I'd love to be assigned on this issue.

[2017-07-27 11:19] ayush1999 commented on #4533
@adeora7 Sorry to say, But I have already opened a PR.

[2017-07-27 11:44] jayvdb opened #4566 "documentation_extraction_testdata default.py incorrectly labels strings as docstrings"
`tests/bearlib/languages/documentation/documentation_extraction_testdata/default.py` contains

[code]

That is incorrect based on the definition at https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring

Please revise the text to call them an unassigned string literals, and remove mention of 'doc' anywhere in the enclosed text, or just remove them as they are not particularly useful.

They

[2017-07-27 11:58] ayush1999 commented on #4497
@Makman2 There are various files. Can you tell me which one are you talking about?

[2017-07-27 12:05] jayvdb opened #4567 "Exit status not set when bear failed to run"
As seen with https://github.com/coala/coala-bears/issues/1955 , GitCommitBear fails but the exit status is not set.

[code]

https://travis-ci.org/jayvdb/coala/jobs/258099527#L1651

[2017-07-27 12:08] NiklasMM commented on #4567
This can probably be fixed quite easily by promoting the log entry from warning to error, since coala exits with an error status if more than 0 errors were logged. (See #3905 )

[2017-07-27 12:09] jayvdb commented on #4567
Ya, I think this case should be an error, not a warning, especially in --non-interactive mode.

[2017-07-27 12:26] Makman2 commented on #4497
`FilterHelper.py` :+1:

[2017-07-27 13:48] #4541 closed

[2017-07-27 14:34] sils commented on #4511
@userzimmermann do we really want tastes to be in a different section? It feels so disconnected. They belong together with the actual settings IMO

[2017-07-27 14:51] Makman2 commented on #4511
Agreeing with @sils. Why do you want to separate the tastes anyway? :O

[2017-07-27 15:25] sils commented on #4511
see also https://github.com/coala/cEPs/blob/master/cEP-0005.md#mockup

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 27 July 2017 at 16:51, Mischa Krüger <notifications@github.com> wrote:

[2017-07-27 15:38] jayvdb commented on #4511
I also queried @userzimmermann about this [in gsoc-adhika](https://gitter.im/coala/gsoc-adhika?at=59728c95bc4647297412ac58).
I wasnt sure how this would work in complex configurations , and I think it makes subsections more complex, when there are sibling subsections with non-taste config.

[2017-07-27 17:06] adeora7 commented on #4533
@ayush1999  they clearly mention in the docs that you need to get the issue assigned to yourself. I doubt they will merge it. Anyway I will create a pull create, if yours gets merged, I will pick another. :)

[2017-07-27 19:21] ayush1999 commented on #4566
I'm working on this.

_Sent from my Lenovo P1a42 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 20:07] adeora7 commented on #4254
Hey @Hsankesara  are you working on this issue?

[2017-07-27 20:17] chitranshi21 commented on #4523
Hi,

Can you assign the issue to me. I have submitted a patch already.

[2017-07-28 07:46] palash25 commented on #4567
I am interested in this issue. Could anyone direct me to the concerned files.

[2017-07-28 08:01] NiklasMM commented on #4567
A global search in the codebase for the warning message posted above reveals that it's likely raised about [here](https://github.com/coala/coala/blob/master/coalib/bears/Bear.py#L309)

[2017-07-28 09:28] palash25 commented on #4567
So the `warn()` function in the `if`-`else` construct needs to be changed to `err()` function so that the bear terminates. Am I right?

[2017-07-28 09:49] jayvdb commented on #4463
See also https://github.com/coala/coala-bears/issues/1635

[2017-07-28 10:58] adeora7 commented on #4254
@jrrickerson @Makman2 can you assign this issue to me ?

[2017-07-28 11:35] NiklasMM commented on #4567
it has nothing to do with the bear terminating, but the rest is correct.

[2017-07-28 13:03] ayush1999 commented on #4261
@underyx @Makman2  Can you please elaborate this issue? The details provided aren't sufficient. As far as I understood, I need to test if the language tests provided are correct. Am I correct?

[2017-07-28 13:38] underyx commented on #4261
@ayush1999 Assume I'm writing a new language definition for Python. Before implementing it I would like to be able to write a test where I just specify a Python file with these contents:

[code]

and I want to also specify the matching results:
 - Two strings, the first one contains `foo`, the second one `bar
 - A comment with the text ` foobar`

It should be easy to write such tests. So this issu

[2017-07-28 13:47] Makman2 commented on #4254
Unassigned due to inactivity.

[2017-07-28 13:51] Makman2 commented on #4523
Please ask and get assigned before you start working on an issue to avoid duplicated work. It seems that @aasiya13 had no time recently to start anyway, but please settle that before doing an issue 👍

[2017-07-28 13:52] userzimmermann commented on #4491
@troublemagnet Still interested? :)

[2017-07-28 13:52] ayush1999 commented on #4261
@underyx So, basically I will have to write the required tests for each of the files in https://github.com/coala/coala/tree/62bc3872b7ec0ba2189e22dc09f544b5339d8bb6/coalib/bearlib/languages/definitions . Plus , should these tests be placed inside docstring or a separate file? And what should be the depth of these tests?

[2017-07-28 13:54] underyx commented on #4261
@ayush1999 I didn't mean this to be about writing the tests themselves, I meant it to be just the common code you need to easily write new tests. I think that should be the scope of this issue. Kind of like `verify_local_bear` which is used like [this](https://github.com/coala/coala-bears/blob/3dc08bfceb4d2e91bb8b198bdaa63d3fde06566b/tests/python/requirements/PinRequirementsBearTest.py#L27-L30)

[2017-07-28 14:02] adhikasp commented on #4463
@jayvdb what is the preferred behavior if validation fail? Does we just throw error log or drop to interactive input for users to correct it?

[2017-07-28 14:05] userzimmermann commented on #4511
@sils @Makman2 Just to make it look clearer! Instead of merging more or less mandatory fixed options with much more flexible kind-of-sublevel options. What is taste, what not? Is that always intuitively visible?

Tastes are also merged with old-style settings! Even more confusing... And taste names should also be verified. If they really exist... So what is old-style setting, what is taste? Do we

[2017-07-28 14:11] ayush1999 commented on #4261
@underyx  Why shouldn't I use the `verify_local_bear` function directly after importing it? It'll make the work much more easier and less time consuming. I can then simply pass the class of the language and all other required arguments directy.

[2017-07-28 14:17] Makman2 commented on #4511
Imo that doesn't matter for the user.

I actually thought it would roughly look like this:
[code]

[2017-07-28 14:19] underyx commented on #4261
How exactly would you use it? `verify_local_bear` is written for testing bears, not `coalib.bearlib.languages.Language` language definitions.

[2017-07-28 14:26] userzimmermann commented on #4511
@Makman2 Custom sub-level parsing in INI syntax? Many started like this and ended up in chaos ;) Everybody with their own sub-formats. INI is not suitable for this. There will also be no editor support. So finally people switched to other formats like YAML, or recently TOML, which will also be used for future Python package config. Then let's better also switch...

[2017-07-28 14:39] Makman2 commented on #4511
That's right, however the user doesn't need to distinct whether it's an old-style setting or a taste, as long as it works and looks the same (what it probably will).

That's a considerable option :+1:

[2017-07-28 14:43] Makman2 commented on #4463
You don't have to deal with the error behaviour specifically, as you will write a type-converter function that will just check whether the passed language string is valid or not. If it's not valid, you throw some error (I don't know the exact error type now, you can look that up in other type-converter funcs), and coala will propagate the properly up to the user :+1:

[2017-07-28 14:44] Makman2 commented on #4463
Ah it should be a `ValueError` I believe :+1:

[2017-07-28 15:39] palash25 commented on #4567
And the `err()` function will have the same message as the warning?

[2017-07-28 15:45] #4221 closed

[2017-07-28 16:11] yash-nisar opened #4576 "Unexpected keyword argument in `new_process_output(...)`"
_By @jayvdb_:
`new_process_output()` got an unexpected keyword argument 'cc_threshold'

https://travis-ci.org/coala/docker-coala-base/builds/256537062

This may have been a hidden error, exposed by recent improvement to coala core testing, or maybe something more sinister.

[2017-07-28 16:11] yash-nisar commented on #4576
This occurs because kwargs passed to `process_output(...)` have not been taken care of.

[2017-07-28 16:23] ayush1999 commented on #4495
I'd love to work on this.
@Makman2 @shreyans800755  Can you tell me how to proceed?

[2017-07-28 16:35] Makman2 commented on #4495
The exception itself shall build the messages that are currently used inside the filter procedures. For that build an appropriate `__init__` function with appropriate parameters.

[2017-07-28 16:37] Makman2 commented on #4533
Yeah it seems like `args` was accidentally called `arg_list` again :+1:

[2017-07-28 17:12] troublemagnet commented on #4491
I really am but I'm traveling. If the priority is high you can unassign me else I'll get working on it as soon as I'm back. I'm so sorry for it.

[2017-07-28 21:17] adeora7 commented on #4254
@Makman2 @jrrickerson  Please refer to the PR. I was confused between snippets and screenshots but I preferred code snippets.

[2017-07-28 23:46] #4533 closed

[2017-07-29 02:37] adhikasp commented on #4463
Oh yeah right, I was thinking of doing it in `ConfigurationGathering` instead of type-converter

[2017-07-29 04:19] adhikasp commented on #4463
If I understand thing correctly, writing `language:my_language_converter` in bear `run` method will NOT automatically validate it using the converter function because that is just [function annotation that doesn't do anything](https://code.tutsplus.com/tutorials/python-3-function-annotations--cms-25689). [PEP 3107](http://legacy.python.org/dev/peps/pep-3107/)

So to validate it, we either need to

[2017-07-29 04:34] adhikasp commented on #4463
^ disregard above. I am imagining things.

[2017-07-29 08:05] adhikasp opened #4580 "Ask for ``language`` if running coala with aspect"
`language` is mandatory setting if section contain `aspects`. Ask input if doesn't exist.

[2017-07-29 09:15] jendrikseipp commented on #4566
I think checking incorrect docstrings is out of vulture's scope. It probably should be done by https://pypi.python.org/pypi/pep257.

[2017-07-29 10:22] #4576 closed

[2017-07-29 11:17] NiklasMM commented on #4567
If you think it still makes sense. I think it can be left unchanged.

[2017-07-29 12:35] #4254 closed

[2017-07-29 12:54] Makman2 commented on #4254
@jrrickerson I hope that's what you've imagined, if not feel free to reopen :)

[2017-07-29 13:53] Makman2 commented on #4561
There's a conceptual problem when implementing this:
To keep the requirements-check during `__init__`, `REQUIREMENTS` modifications need to be done **before** calling the bears `super().__init__()`, otherwise `check_prerequisites` won't be called. It's maybe worth to consider using a separate overridable function where someone can assemble requirements as wanted, but this should be synced up with

[2017-07-29 14:11] Makman2 opened #4583 "FilterHelper.apply_filter: Add docstring"
`FilterHelper.apply_filters` has a docstring, but all the work is done in `FilterHelper.apply_filter`, which doesnt have a docstring yet.

See https://github.com/coala/coala/blob/master/coalib/parsing/FilterHelper.py#L9

[2017-07-29 14:11] Makman2 commented on #4583
CC @shreyans800755

[2017-07-29 14:33] Makman2 opened #4584 "NextGen-Core: Document new features"
- `GlobarBear` now called `ProjectBear`, and `LocalBear` now called `FileBear`
- New bear type: `DependencyBear`
- How to work with dependency-bears
  - Dependency results can be accessed with `self.dependency_results`
  - Using `DependencyBear`
  - Writing a dependency bear
    - You don't need to provide actual `Result` instances, other picklable types do work
- Usage of instance-bound `Bear.BEA

[2017-07-29 14:33] Makman2 commented on #4584
Blocked until the nextgen-core is completely done and merged.

[2017-07-29 17:47] shreyans800755 commented on #4499
Do we really need to do anything for `coala --ci` ?
I think commands like `coala -B --filter-by ...` are always non-interactive.

[2017-07-29 17:47] #4498 closed

[2017-07-29 17:47] Makman2 opened #4586 "Rename FilterHelper filter functions"
`get_filtered_bears` --> `apply_filter`
`filter_bears` --> `apply_filters`

[2017-07-29 17:53] Makman2 commented on #4499
Good point :+1:

[2017-07-29 20:38] shreyans800755 commented on #4586
It also changes orders for `apply_filters` params.
And also renames params for both the functions to make it more meaningful.

[2017-07-29 21:16] co-robo opened #4590 ""Reorder params in apply_filters function""
Opened by @shreyans800755 at [gitter/coala/coala](https://gitter.im/coala/coala?at=597cfb2a614889d475002d46)

[2017-07-29 21:17] co-robo opened #4591 ""Rename params & variables in apply_filters and apply_filter functions" "Rename it to make it more meaningful""
Opened by @shreyans800755 at [gitter/coala/coala](https://gitter.im/coala/coala?at=597cfb60614889d475002de3)

[2017-07-29 21:19] shreyans800755 commented on #4590
And also add default value as `bears=None`

[2017-07-29 21:55] shreyans800755 commented on #4590
Ref https://github.com/coala/coala/pull/4587

[2017-07-29 21:55] shreyans800755 commented on #4591
Ref https://github.com/coala/coala/pull/4587

[2017-07-29 22:21] #4586 closed

[2017-07-29 22:21] #4590 closed

[2017-07-29 22:21] #4591 closed

[2017-07-29 23:06] Makman2 opened #4592 "Implement action allowing to ignore following results in CLI for rest of file"

[2017-07-29 23:06] Makman2 commented on #4592
I'm not sure the current action subsystem allows this^^

[2017-07-29 23:06] Makman2 commented on #4592
CC @sils

[2017-07-30 00:22] shreyans800755 commented on #4592
You're right. There's no option to ignore the actions. We should have something like that.

[2017-07-30 00:26] shreyans800755 commented on #4592
But there is something called `IgnoreResultAction` which allows user to add comment on erroneous part, by asking language to choose how to add the comment.

[2017-07-30 02:47] aasiya13 commented on #4523
it's okay. i had tough time last days. i'm really sorry for the inconvenience..

[2017-07-30 10:43] Makman2 commented on #4592
But it works on a single result. My approach involves control over all (following) results, and this is the questionable part^^

[2017-07-30 10:44] Makman2 commented on #4592
Btw there's already an ignore-action which does this but for a single result only ;)

[2017-07-30 11:17] Makman2 commented on #4523
@aasiya13 sure don't worry :D no inconvenience was caused by you ;)

[2017-07-30 13:46] chitranshi21 commented on #4523
Hey @Makman2 Can you assign this issue to me now..?

[2017-07-30 14:20] yash-nisar opened #4594 "Introduce virtual base class for linters and use it to improve the check inside `LocalBearTestHelper`"
Instead of checking `hasattr(cls, 'process_output')` an `isinstance(cls, Linter)` is safer + easier to understand.

area/tests
type/test
difficulty/low

[2017-07-30 16:46] Nosferatul opened #4596 "Reorder API doc in Processing.instantiate_processes"
`use_raw_files` should be the last one in the API doc.

[2017-07-30 18:50] shreyans800755 commented on #4592
@Makman2

I can't see that option while running `coala`.
I only get these 3 options:

[2017-07-30 19:29] co-robo opened #4597 "Improve usage string for --filter-by option in coala help"
Opened by @shreyans800755 at [gitter/coala/coala](https://gitter.im/coala/coala?at=597e33841c8697534a72ec0d)

[2017-07-30 19:29] shreyans800755 commented on #4597
`[--filter-by FILTER_BY [FILTER_BY ...]]` -> `[--filter-by FILTER_NAME FILTER_ARGS1 FILTER_ARGS2 ...]`

[2017-07-30 19:29] shreyans800755 commented on #4597
CC @Makman2

[2017-07-30 19:42] shreyans800755 commented on #4432
@meetmangukiya
We can reuse filter functionality here. We can add one more filter called `name`. And it will display the bears given as args.
Sample:
`coala --show-bears --filter-by name LineCountBear LineLengthBear MementoBear --show-description`

Output:

[code]

Similarly `--show-details` option can also be used to display complete details for the list of bears.

The advantage of using filters

[2017-07-30 20:06] Makman2 commented on #4523
You haven't accepted the invitation from us yet, we can't assign you before :+1:

[2017-07-30 20:16] Makman2 commented on #4592
that's it :)

[2017-07-31 08:34] troublemagnet commented on #4597
Isn't is that way only? For example in FilterTest.py, line no. 26, '--filter-by', 'language', 'java'?

[2017-07-31 10:31] userzimmermann commented on #4511
@Makman2

Probably... ;) Anyway... The user should want to get informed about mistyped settings and aspects. It's already kind of inconvenient that coala doesn't check for mistyped setting names. That can make it hard to trace down such config issues when things are not working as expected. And when me mix them with taste it only gets worse. Of course can easily verify taste names. But for the opt

[2017-07-31 10:46] fneu commented on #4511
I like the idea of using something that has some widespread acceptance, documentation, robust parsers etc.

[2017-07-31 11:08] jayvdb commented on #4511
I raised TOML with @sils and @Udayan12167 when they were doing the latest rewrite, and the idea was shot down as the new `.coafile` syntax is little less complicated than toml, especially for section headers and some value assignments in toml are quite non-coder-unfriendly.

[2017-07-31 11:56] userzimmermann commented on #4511
@Makman2 @jayvdb When considering custom INI syntax extensions... My proposal would be:

[code]

[2017-07-31 14:32] Makman2 commented on #4511
@jayvdb do you have an example? I just read an example in the TOML-Readme, and it looks quite simple.

[2017-07-31 14:34] Makman2 commented on #4597
Currently it's the actual usage, but the issue is about improving the help string :) (rephrased the issue title :D)

[2017-07-31 14:45] jayvdb commented on #4511
The biggest regression in easy of use for non-programmers is our file format doesnt require quotes for strings.

The TOML binary values are also quite constricted , compared to the many ways our boolean settings may be set.

The array syntax is another one, forcing use of `[..,..,..]` instead of our current `..,..,..`.

And subsections require tables, which are more complex than our current file f

[2017-07-31 15:03] sims1253 commented on #4511
@userzimmermann again, please stop pinging me on random PRs/issues

[2017-07-31 15:30] Makman2 commented on #4511
Ah yeah that's really bad...

So it's really more for programmers^^

[2017-07-31 15:31] Makman2 commented on #4511
I mean coala is for programmers, but just writing out values like we can now is definitely easier than TOML^^

[2017-07-31 15:34] Makman2 commented on #4511
What about YAML?

[2017-07-31 15:46] fneu commented on #4511
While our current format is very simple, it is also very ambiguous. I *believe*, and I may well be wrong, that we also confuse people because they are unsure how a setting is interpreted. I.e., "is `..,..,..` a correct list or just a string containing commas"? (It may indeed be both).

By adhering to a well known standard like TOML, YAML or even JSON we get rid of that ambiguity.

Also I understan

[2017-07-31 16:12] Nosferatul opened #4598 "Add again `Execute <section>..."

[2017-07-31 16:13] Nosferatul opened #4599 "Add Generate Patches"

[2017-07-31 21:57] #4507 closed

[2017-07-31 22:27] shreyans800755 commented on #4592
It still applies the patch, though.

[2017-07-31 22:30] SanketDG opened #4601 "In DocumentationExtraction, explain what the file is about in a docstring"
it should be a file level docstring explaining what the functions do, and how they integrate with the rest of the documentation parsing and extraction system

[2017-07-31 23:50] Makman2 commented on #4592
What patch? :O

[2017-08-01 08:56] troublemagnet commented on #4597
Since --filter-by-language is deprecated, should there be no instances of it at all?

[2017-08-01 10:24] Nosferatul opened #4602 "Make "Chain Actions" default"

[2017-08-01 13:55] Makman2 commented on #4597
No `filter-by-language` is kept, although it's deprecated it shall appear in the help (it's I believe technically impossible with `argparse` to remove a parameters from help but still support it during parsing).

[2017-08-01 14:07] troublemagnet commented on #4597
So what exactly does help string mean?

On Tuesday, August 1, 2017, Mischa Krüger <notifications@github.com> wrote:

[2017-08-01 14:20] Makman2 commented on #4597
The help string appears when you type `coala --help` :) It's generated by `argparse.ArgumentParser` when you add arguments to coala (like `--filter-by` or `--non-interactive`).

[2017-08-01 14:21] Makman2 commented on #4597
Refer to https://docs.python.org/3/library/argparse.html :)

[2017-08-01 14:32] Makman2 opened #4604 "Write a Mesos scheduler for coala!"
Distributed code checking! Imagine running complex analysis on the Linux repo, but instead of taking 2 days, it takes 1h :)

This package may be the choice for the Mesos Framework API:
https://github.com/daskos/mentor

[2017-08-01 14:32] Makman2 commented on #4604
Blocked by https://github.com/coala/coala/issues/4348

[2017-08-01 14:34] Makman2 commented on #4604
We have anyway to deal with our current complexity problem of using `GlobalBear`s (in the NextGen-core called `ProjectBear`s), as they scale very bad and define the worst-case runtime.

[2017-08-01 14:37] co-robo opened #4605 "Add a Repology URL to linter bear metadata"
e.g. elm-format is https://repology.org/metapackage/elm-format/versions
and https://repology.org/metapackage/go/versions which shows the different package names
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=5980921d19147ac32314cd12)

[2017-08-01 16:16] jayvdb commented on #4222
Unassigned due to inactivity.  @Balaji2198, please ask on Gitter if you want to resume this work.
Any other newcomers want to grab this one?

[2017-08-01 19:28] shreyans800755 commented on #4592
In case of `ApplyPatchAction`, even though we select `Do Nothing`, it applies the patch/fix.

[2017-08-01 20:02] userzimmermann commented on #4511
@Makman2 YAML looks so unfriendly! Our cute coala bears don't feel comfortable in the YANG jungle ;)  I also withdraw my YAML proposal :D

@fneu Please no JSON! :P

I think, especially for consistency and backwards compatibility, custom INI and TOML are the only reasonable options

[2017-08-01 22:13] fneu commented on #4511
@userzimmermann I don't want to propose JSON ^^

Just from the looks of it, TOML is just a human readable form of it

[2017-08-01 22:27] Makman2 commented on #4592
Not for me. However, file an issue, sounds like a bug.

[2017-08-01 22:32] Makman2 commented on #4511
I'm also not for JSON, it's oververbose for our purposes (it's imo generally a bit oververbose).

But why does YAML look so unfriendly?
[code]
I just skimmed over the wiki page for YAML, there are some unintuitive syntax features, but usually it looks not so bad for what we normally need^^

[2017-08-01 22:33] Makman2 commented on #4511
That's what sadly a custom INI is not solving ;)

[2017-08-01 23:42] userzimmermann commented on #4511
@Makman2

Custom INI keeps future `.coafile`s consistent and backwards compatible with current `.coafile`s ;)

Why not use YAML as custom INI extension? :D By generally keeping our parser but running each option value through the YAML parser! On the value's top level we can then also keep our simple `li, s, t` syntax ...

[code]

[2017-08-02 03:02] Makman2 commented on #4511
Ah kk, that's how it's meant ;)

Is an idea, however as a user I would ask immediately following question: Where's the difference between `=` and `:`? And then I would get confused. We shouldn't mix "too different" syntaxes.

[2017-08-02 03:43] co-robo opened #4609 "Support another settings file format"
Could be yaml or toml or something else entirely.
difficulty/hard
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=59814a5642d2f6102588686b)

[2017-08-02 03:45] jayvdb commented on #4511
A critical problem wrt this discussion is that taste settings must be solved in three weeks for a gsoc project, and I suspect we are continuing to support `.coafile` custom ini for at least the next version.  So logic says other formats are not relevant to this issue.  I've raised https://github.com/coala/coala/issues/4609 to deal with other formats in the future.

I am definitely against yaml ins

[2017-08-02 06:15] gureks commented on #4432
Hey
I wanted to work on this. Read the thread above but still, can we please once summarize what exactly is to be done?

[2017-08-02 08:28] sils commented on #4511
I agree we shouldn't get distracted by discussing file formats. IMO we keep the existing concepts: meaning tastes are in the same section as the aspects, that's specced in the cEP and it's fully backwards compatible, doesn't need a new design and makes us reach our goals.

[2017-08-02 09:32] troublemagnet commented on #4597
But the help string doesn't contain the usage of --filter-by! It contains the usage of -l and -p.

[2017-08-02 12:25] troublemagnet commented on #4597
Did the issue mean update usage of --filter0by-language?

[2017-08-02 13:32] meetmangukiya commented on #4432
I think @mridubhatnagar is working on this, right?

[2017-08-02 13:40] Makman2 commented on #4597
Yeah right it doesn't appear directly there, but at the beginning of the coala command usage.

[2017-08-02 13:51] troublemagnet commented on #4597
Oh okay, isn't this a new issue? Shouldn't like the other arguments it should be there too?

[2017-08-02 14:01] Makman2 commented on #4597
That's what the issue is about.

What do you mean?

[2017-08-02 14:02] troublemagnet commented on #4597
The usage of filter-by should be explained in the usage string ?

[2017-08-02 14:09] Makman2 commented on #4597
The `[--filter-by FILTER_BY [FILTER_BY ...]]` part shall be modified to something like `[--filter-by FILTER_NAME FILTER_ARGS1 FILTER_ARGS2 ...]`

[2017-08-02 14:10] troublemagnet commented on #4597
ya ya that I get. Shouldn't it's usage come when we do coala --help?

[2017-08-02 14:58] Makman2 commented on #4597
yeah exactly

[2017-08-02 15:53] #4594 closed

[2017-08-02 16:28] mridubhatnagar commented on #4432
@meetmangukiya No because of some other commitments did not work on it. @gureks  can work on this one.

[2017-08-02 18:40] shreyans800755 commented on #4597
@troublemagnet
`--help` shows detailed description of all the options available. In contrast, `Usage` string only shows available options and format of args. We don't need to change help as part of this issue, we just need to fix `Usage` string.

[2017-08-03 03:43] chitranshi21 commented on #4523
done ..!! please assign me now .

[2017-08-03 06:51] damngamerz commented on #4548
we use `marker.split()` to find docstrings...
This would successfully parse Case 1 and 2.
Case 1
[code]
Case 2
[code]
But when we apply `marker.split()` in `assemble()` (which is a probable solution to this bug). The Case 1 docstring would be assembled to Case 2. Which is the intended behavior but will break whole API.

[2017-08-03 08:50] SanketDG commented on #4523
@chitranshi21 you are assigned.

On a side note, you can also assign it yourself, https://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-2-picking-up-an-issue

[2017-08-03 10:13] troublemagnet commented on #4597
@shreyans800755 From what I understood about help string (which I'm guessing is same as usage string) appears when you type coala -h or coala --help. I don't know how to see the usage string you're talking about. Can you please tell me?

[2017-08-04 05:35] jayvdb opened #4613 "Use RuntimeError for unexpected problems in Core"
https://github.com/coala/coala/pull/4192 used warnings for unexpected errors.
They should use `RuntimeError` so the problems are seen and reported.

[2017-08-04 12:28] S2606 commented on #4494
@shreyans800755 should the code be inside filterhelper class?

[2017-08-04 18:23] #4534 closed

[2017-08-04 19:40] shreyans800755 commented on #4597
@troublemagnet Hit `coala --help` in terminal and you'll see that `Usage` string is part of help and in fact it is the first thing being printed.

`Usage` string just suggests how args should be placed without describing its meaning. Meanwhile, `help` is much more verbose version of it, which not only contains `Usage`, but also describes all the options in details.

[2017-08-04 19:48] shreyans800755 commented on #4494
@S2606

No, no need to keep it inside the class. Keep it outside - at the module scope.
FYI: There's already another issue which is putting everything outside class.

[2017-08-04 19:52] shreyans800755 commented on #4432
@meetmangukiya, do you have any other approach in mind ?

This is simple way, but might not be efficient in performance aspect. IMO there should a better/faster way.

[2017-08-04 22:49] adeora7 commented on #4432
Two approaches have been discussed in the thread above, any ideas which one should be followed.
1. Modifying show-bears to accept 1 or more arguments ( bear names whose info is to be shown)
2. Adding this functionality to filter

[2017-08-05 08:52] #4598 closed

[2017-08-05 10:35] userzimmermann opened #4617 "--debug mode doesn't affect --show-bears"
With https://github.com/coala/coala/pull/3338 I added a `--debug` mode to `coala`, disabling internal catching of unexpected exceptions and auto-launching of `ipdb` on their occurrence. Working on https://github.com/coala/coala/pull/4210 I realized that I forgot to make the `coalib.collecting.Collectors.get_all_bears()` process debuggable this way... Time to change that! :)

[2017-08-05 12:33] Makman2 commented on #4494
FYI: There's already another issue which is putting everything outside class.

Actually I thought to inline it into `FilterHelper.apply_filter`. Just moving this function to module scope still requires to annotate filter functions with `@filter`.

[2017-08-05 12:36] Makman2 commented on #4459
yeah

[2017-08-05 13:12] Makman2 commented on #4432
I'm not sure myself, the easiest would be to implement this as a new filter. However adding the bear to `--show-bears` would be very intuitive imo.

Maybe we should go with the most-easiest way of implementation so we don't clutter CLI code even further and  make filters even more powerful.

[2017-08-05 13:15] Makman2 commented on #4597
Right there at the top, directly below where you've typed the `coala --help` command :)

[2017-08-05 14:28] co-robo opened #4618 "--no-color produces color in CLI"
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5985d5f2210ac2692057ad85)

[2017-08-05 14:29] troublemagnet commented on #4597
Yes and how do I see the screenshot that you posted?

On Sat, Aug 5, 2017 at 6:45 PM, Mischa Krüger <notifications@github.com>
wrote:

[2017-08-05 15:05] jayvdb commented on #4618
The color appears only in Results with a diff.

[2017-08-05 15:11] yukiisbored commented on #3544
Hello, I can confirm the cause of this is because of terminal emulators that continues the ANSI color escape code.

These are the emulators I've tested so far:
Affected: Any vte-based terminal emulators, macOS terminal emulator.
Not affected: st, termite, rxvt-unicode, xterm

[2017-08-05 15:15] jayvdb opened #4619 "Diff display doesnt show tabs"
I am 99% sure that tabs were previously visuallised using a unicode arrow, in results with a diff. Now they are gone.

Results without a diff do show the unicode arrow.

[2017-08-05 15:55] #4222 closed

[2017-08-05 17:48] satwikkansal opened #4621 "ConfigurationGathering: Add option to silent warnings for get_filtered_bears method"
Required for https://github.com/coala/coala-quickstart/issues/163

[2017-08-05 19:37] Makman2 commented on #3544
So we should maybe file an upstream bug at pygments to handle that correctly for different terminals?

[2017-08-05 19:39] Makman2 commented on #4597
That's no screenshot ;)

[2017-08-05 19:41] Nosferatul opened #4623 "Merge 'severity' line from the output"

[2017-08-05 19:43] Makman2 commented on #4621
Looks like a dupe of #2775
And #2775 already has a PR: https://github.com/coala/coala/pull/3779

[2017-08-05 19:49] troublemagnet commented on #4597
No the image that you posted earlier which comtained the usage of
filter-by, how do I see that?

On Sunday, August 6, 2017, Mischa Krüger <notifications@github.com> wrote:

[2017-08-05 21:50] shreyans800755 commented on #4432
@Makman2 Agree to your point about reusability of filters. But the other approach might be significantly efficient. I'm not absolutely sure about that. Because filter will require to iterate over all the bears which I believe is unnecessary. We can just get the bears by its name without going over all the filters.

[2017-08-06 00:33] Makman2 commented on #4432
Oh yeah that's definitely a good point that we don't need to load all bears when avoiding filters. Loading bears is a big performance hit in coala, and if we can avoid it it would be good :+1:

[2017-08-06 00:47] Makman2 commented on #4597
Can't follow you, the only larger snippet I've posted is here:
https://github.com/coala/coala/issues/4597#issuecomment-319675128

[2017-08-06 03:16] yukiisbored commented on #3544
@Makman2 I don't know if this a problem with pygments or not. Since I think the highlighting is not caused by it? Not sure.

[2017-08-06 11:08] troublemagnet commented on #4597
Yeah that one. How can I see that?

On Sunday, August 6, 2017, Mischa Krüger <notifications@github.com> wrote:

[2017-08-06 11:24] SanketDG commented on #4597
Can you elaborate? What do you mean?

Do you meant how to see the usage string in the codebase? Or in the application?

[2017-08-06 13:22] Makman2 commented on #3544
Created https://bitbucket.org/birkenfeld/pygments-main/issues/1371/colors-span-multiple-lines-if-color-is-not to discuss this also on pygments :)

[2017-08-06 15:12] Asalle commented on #4601
I would like to work on this task

[2017-08-06 16:12] SanketDG commented on #4601
@Asalle please read the newcomer's guide and then you can assign it yourself https://coala.io/newcomer

[2017-08-06 16:21] satwikkansal commented on #4621
#3779 doesn't add `silent` parameter to `get_filtered_bears` method which is used by coala-quickstart. I just need to pass an optional `silent` parameter to pass to `get_filtered_bears` method which is eventually passed to the function `load_config_file` which actually displays the warnings.

[2017-08-06 16:25] satwikkansal commented on #4621
Ah, https://github.com/coala/coala/pull/3779/files#diff-8ecc903ba7ecebebacc61f64149f8eb7R360 sets `silent` to `True`, which should be sufficient for https://github.com/coala/coala-quickstart/issues/163 I guess

[2017-08-06 19:10] Nosferatul opened #4625 "Colors doesn't support vte and non vte terminals."

[2017-08-06 19:16] shreyans800755 commented on #4597
@troublemagnet It looks like you're viewing it only from email. Login to github and visit the link again. You should be able to view it then.

[2017-08-06 20:17] Makman2 commented on #4621
If you've something additional done that would be nice to solve this issue, maybe sync up with @incorrectusername to improve his/your PR :)

Anyway, can be closed then?

[2017-08-07 06:28] satwikkansal commented on #4621
Yep, I'll get in touch with @incorrectusername. Closing this :)

[2017-08-07 06:28] #4621 closed

[2017-08-07 08:00] Nosferatul commented on #4618
@jayvdb when I added the colors for letters i used the same function and the same color.
[code]
It's not something new, this is used in other output (e.g filename, required setting)

[2017-08-07 08:09] Nosferatul commented on #4619
can you give me a screenshot of it with the arrow? I don't think i saw arrows when I used it :)

[2017-08-07 08:16] Nosferatul commented on #4619
The problem is that whatever I deleted from output I added back in https://github.com/coala/coala/pull/4420

[2017-08-07 08:29] Nosferatul commented on #4619
You wanted to say `+` and `-` ?

[2017-08-07 12:19] troublemagnet commented on #4597
I'm really sorry for being so confused. I was talking about this -
usage: coala [-h] [-v] [-C] [--ci] [--json] [--format [STR]] [-c FILE] [-F]
             [-I] [-s [FILE]] [--disable-caching] [--flush-cache]
             [--no-autoapply-warn] [-b NAME [NAME ...]] [-f FILE [FILE ...]]
             [-i FILE [FILE ...]] [--limit-files FILE [FILE ...]]
             [-d DIR [DIR ...]] [-V] [-L ENUM] [

[2017-08-07 12:58] Makman2 commented on #4597
`coala --help`
The 10 first lines are this usage string:
`coala --help | head -10`

[2017-08-07 15:12] NiklasMM commented on #4548
[code]

[2017-08-07 15:16] damngamerz commented on #4548
markers `['/**',' *',' */']`