[2016-02-19 14:46] aayn commented on #1588
OK. So, I've made changes in all the required files and things seem to be running fine. I'll submit a PR now?

[2016-02-19 14:51] sils1297 commented on #1588
sure!

2016-02-19 15:46 GMT+01:00 Aayush Naik <notifications@github.com>:

[2016-02-19 15:04] lonewolf07 commented on #1562
I want to solve this bug.

[2016-02-19 15:10] sils1297 commented on #1562
Hey @lonewolf07 I've invited you into our org, accept at github.com/coala-analyzer please so we can assign you.

[2016-02-19 15:17] yland commented on #1514
Please, I would like to work on  this issue. I guess this would also include changes to the coalaDeleteOrigTest.py, which also contains the following lines

self.assertIn("Couldn't delete... file1", output)
self.assertIn("Couldn't delete... file2", output)

[2016-02-19 15:18] sils1297 commented on #1514
Hey @yland  I've invited you into our org, accept at github.com/coala-analyzer please so we can assign you.

[2016-02-19 15:18] sils1297 commented on #1514
Yes, test changes should be included in the very same commit.

[2016-02-19 15:25] sils1297 commented on #1514
Cool, seeing forward to a PR, ping us at https://gitter.im/coala-analyzer/coala if you need anyu assistance.

[2016-02-19 15:35] #1590 closed

[2016-02-19 15:46] aayn commented on #1551
@sils1297  What exactly is this?

[2016-02-19 15:49] sils1297 commented on #1551
there's a class in Lint.py and it's related to http://coala.readthedocs.org/en/latest/Users/Tutorials/Linter_Bears.html so we want to have a link to that tutorial in a documentation comment there

[2016-02-19 16:47] aayn commented on #1551
Okay. I'll do this. Assign it to me please.

[2016-02-19 17:22] Makman2 commented on #1588
Since `shlex.quote` is not windows compatible this doesn't work like that any more. `shlex.quote` shall be used inside `escape_path_argument` now to simplify unix behaviour.

[2016-02-19 17:23] sils1297 commented on #1588
@aayn please confirm if you still want to do this issue as it's objective has changed.

[2016-02-19 17:24] Makman2 opened #1598 "Investigate `shlex.quote()` on Windows for replacing `Shell.escape_path_argument()`"
`shlex.quote()` is stated inside the docs as only Unix compliant^^

[2016-02-19 17:24] sils1297 commented on #1598
I thought we know that it's unusable?

[2016-02-19 17:25] Makman2 commented on #1598
@sils1297 maybe it's depending on the shell somehow and shlex doesn't recognize it that nicely. I want to see if it's still possible to use that for Windows too, because I hate doing such stuff for windows, I want python to do that for me :(

[2016-02-19 18:03] aayn commented on #1588
@sils1297 Yes. Most certainly. But, what exactly would this mean now? As in, how do I make changes just for Unix systems?

[2016-02-19 19:29] sils1297 commented on #1588
@aayn just look into the function, it already does this distinction. Or ask @Makman2 :)

[2016-02-19 20:25] arush0311 commented on #1549
Can I take it if its still open?

[2016-02-19 20:27] sils1297 commented on #1549
@arush0311 @pavithirakc seems to be actively working on this, rather take up something else please!

[2016-02-19 20:28] arush0311 commented on #1574
Can you review this?

[2016-02-19 20:34] arush0311 commented on #1497
Can I work on this?

[2016-02-19 20:35] sils1297 commented on #1497
@arush0311 sure!

[2016-02-19 20:53] arush0311 commented on #1495
Can I work on this?

[2016-02-19 20:56] sils1297 commented on #1495
@arush0311 please understand that our newcomer bugs are limited so please don't solve more than two!

[2016-02-19 21:01] arush0311 commented on #1495
No Problem. Just wanted to dive into codebase

[2016-02-19 21:52] sils1297 commented on #1548
Assigning @ravinimmi since he's already started working on this, feel free to ping me about another issue

[2016-02-19 22:46] arush0311 commented on #1495
Can you tell me where I can find this?

[2016-02-19 23:36] #1574 closed

[2016-02-19 23:42] Makman2 commented on #1495
`coalib/collecting/Collectors.py`
You can use `git grep` or the search inside GitHub if you want to find stuff.

[2016-02-20 02:46] AbdealiJK opened #1610 "Decoupling bears module from testing"
Blocks https://github.com/coala-analyzer/coala/issues/1047

Best way to do this is amke a temporary bear module with an entry point - install and uninstall this inside a unittest

[2016-02-20 06:04] aayn commented on #1592
Here you go:
![sdb](https://cloud.githubusercontent.com/assets/9693267/13194853/db8ab438-d7c5-11e5-97cc-f444bb09d8f5.png)

[2016-02-20 06:32] aayn commented on #1588
Yeah. So, under `elif shell == "sh":`, I'll just change `escape` to `shlex.quote()`. When I do that, I will have to change/remove [this](https://github.com/coala-analyzer/coala/blob/master/coalib/tests/misc/ShellTest.py#L12) test as well. So, what do you suggest I do? @sils1297 @Makman2

[2016-02-20 09:05] nishant-mor opened #1613 "bug: Something wrong with handling brackets"
![screenshot from 2016-02-18 21-20-21](https://cloud.githubusercontent.com/assets/11739327/13195698/be599da2-d7de-11e5-86ca-37ccdc563447.png)
![screenshot from 2016-02-18 21-31-10](https://cloud.githubusercontent.com/assets/11739327/13195697/be5510de-d7de-11e5-845c-3505660b1659.png)

[2016-02-20 09:35] Makman2 commented on #1588
@aayn you can keep the test imo, in fact the behaviour shouldn't change for paths.

[2016-02-20 09:40] Makman2 commented on #1613
@nishant-mor Maybe it's the globs. Can you try using `coalib.parsing.Globbing.glob` manually inside the python interpreter using the same path and look what it yields?
And also an `ls` on this folder would be nice to see if something's missing^^

[2016-02-20 09:44] aayn commented on #1588
@Makman2 It does. The test fails as soon as I make the change. The way `shlex.quote()` and the custom `escape()` do escaping seems different, at least according to this:
![shlextest](https://cloud.githubusercontent.com/assets/9693267/13195913/962c1a8e-d7e4-11e5-8277-9ca8e36b8ce0.png)

[2016-02-20 09:49] Makman2 commented on #1588
@aayn ahh yeah alright sorry. That's right, quote tries to enclose the path inside quotes instead of escaping special characters like spaces. You can adjust the tests according to output of `shlex.quote` :)

[2016-02-20 09:53] aayn commented on #1588
@Makman2 No problem :). Will do.

[2016-02-20 09:57] nishant-mor commented on #1613
ls of parsing folder ?

[2016-02-20 10:15] Makman2 commented on #1613
no directly inside  `.../New folder (3)/coala`

[2016-02-20 10:25] nishant-mor commented on #1613
@Makman2 see the 2nd screenshot it is ls of coala folder

[2016-02-20 10:26] Makman2 commented on #1613
huh interesting it wasn't displayed for me before :O sorry :/

[2016-02-20 11:01] AbdealiJK commented on #1613
The brackets must be the problem

[2016-02-20 11:07] AbdealiJK commented on #1553
Blocking this until https://github.com/coala-analyzer/coala/pull/1609 gets merged as we may have to revamp how it works based on that

[2016-02-20 11:10] gmdsam commented on #1535
Can I do this?

[2016-02-20 11:13] #1572 closed

[2016-02-20 11:14] AbdealiJK commented on #1523
Closing this, I think that a better cache system would be a better solution myself.
Also, the git hook isnt being used atm. So, if in future someone wants it - this can be reopened

[2016-02-20 11:14] #1523 closed

[2016-02-20 11:16] nishant-mor commented on #1613
@AbdealiJK yeah i removed the brackets and it worked, any idea how to fix this

[2016-02-20 11:19] AbdealiJK commented on #1613
@Makman2 has made most of the escaping stuff - he'd know better.
But it's somewhere there I'm guessing
(Either that or globbing)

On Sat, Feb 20, 2016 at 4:46 PM, Nishant Mor <notifications@github.com>
wrote:

[2016-02-20 11:45] #1551 closed

[2016-02-20 11:45] sils1297 commented on #1592
what does `php -l bears/tests/php/test_files/phplint_test1.php` give?

[2016-02-20 11:50] aayn commented on #1592
This:
![phpl](https://cloud.githubusercontent.com/assets/9693267/13196529/285aa734-d7f6-11e5-94da-0349805af79f.png)

[2016-02-20 11:51] sils1297 commented on #1592
interesting, I get

[code]

with PHP 5.6.17

[2016-02-20 11:53] sils1297 commented on #1535
@gmdsam @madminions is assigned to this issue. @madminions this is not longer blocked by the way. Sorry, forgot to notify.

[2016-02-20 11:54] sils1297 commented on #1535
@gmdsam we made plenty of other newcomer issues :)

[2016-02-20 12:27] #1474 closed

[2016-02-20 12:27] #1497 closed

[2016-02-20 13:17] #1610 closed

[2016-02-20 13:46] AbdealiJK opened #1616 "Use better name for coala_bears_test_module"
We have a module named `coala_bears_test_module` in `coalib.tests` we should have a better name for it.

Something like `test_bears` would be good.

[2016-02-20 14:10] aayn commented on #1616
I would like to this please. Want to get used to the git workflow asap.

[2016-02-20 14:11] AbdealiJK commented on #1616
Hi @aayn I notice (https://github.com/coala-analyzer/coala/issues/assigned/aayn) that youve already closed 1 issue and are working on 2 others
Could you complete that first ? (I realize that the shell issue is blocked for now, but the other one is pending)

[2016-02-20 14:14] aayn commented on #1616
@AbdealiJK  It's just that I'm extremely free for the next 2-3 days so I thought I could do it. But, okay. I'll complete that one first.

[2016-02-20 14:17] AbdealiJK commented on #1616
@aayn we recommend you do `difficulty/low` issues after your first two `newcomer` issues (We're running out of newcomer issues ! :worried: )
From the initiative you've shown in the Shell issue I believe you're already ready for them :+1:
If you need help, we're always there on https://gitter.im/coala-analyzer/coala

[2016-02-20 14:19] aayn commented on #1616
@AbdealiJK Aye Aye cap'n!

[2016-02-20 15:46] aayn opened #1618 "CommunicationBear from 'Writing Bears' tutorial throws exception"
### Steps to reproduce

1. Copy the `CommunicationBear` code from [here](http://coala.readthedocs.org/en/latest/Users/Tutorials/Writing_Bears.html) to a bear .py file.
2. Run the bear using coala.

### Actual Results

[code]

### Expected Results

Bear should just run 'normally'.

### Reproducibility

Yes.

[2016-02-20 15:51] #846 closed

[2016-02-20 15:56] aayn commented on #1618
Also, I'd like to point out that the code from the demo repo (https://github.com/coala-analyzer/coala-tutorial) doesn't match with the tutorial code. (I could do this part)

[2016-02-20 16:56] aayn commented on #1557
@sils1297 In the the tutorial, `{filename}` would correspond to `html_lint.py`, correct? If yes, then, what exactly should I cover about it?

And, could you please show/point me to an example of the use of the three. I didn't exactly understand what is it that you want me to cover.

[2016-02-20 18:50] ravinimmi opened #1620 "Automatically check if every requirement is installed on running tests."
While I was running tests, some of the them failed because up to date requirements were not installed. It would be great if it could check automatically before running tests.

[2016-02-20 18:55] Makman2 commented on #1613
Thats @fneu 's address, hes the master globber :)

[2016-02-20 18:58] sils1297 commented on #1620
Maybe @AbdealiJK knows a smart pytest hook we can override
On 20 Feb 2016 7:50 p.m., "Ravi Kumar Nimmi" <notifications@github.com>
wrote:

[2016-02-20 19:07] Makman2 commented on #1523
Since I still dont understand what you actually wanted, can I mark this issue  with wontfix/not happening? If someone thinks the same like you imo we should open a new issue where we clearly define whats wanted :)

[2016-02-20 19:14] sils1297 commented on #1523
Just mark it as such
On 20 Feb 2016 8:07 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-02-20 20:01] ravinimmi commented on #1620
@sils1297 Maybe we could use [pytest_runtest_setup](http://pytest.org/latest/writing_plugins.html#_pytest.hookspec.pytest_runtest_setup) hook and pkg_resources API for checking package versions.

[2016-02-20 20:13] nishant-mor commented on #1482
@niraj8 are you working on this , if not can i ?

[2016-02-21 00:43] AbdealiJK commented on #1620
I think this is bad.
If you want to install and run tests - do  python setup.py test

Pytest gives you more flexibility and is slow - I'm against getting asking it to check all requirements. Plus many times I've had to check if something works with an older version or check if the test is skipping correctly. This would be irritating to do if we let pytest auto install things.

I think the correct

[2016-02-21 01:16] #1548 closed

[2016-02-21 01:18] AbdealiJK commented on #1620
Also, FYI - `pytest_load_initial_conftests` would probably be better as `pytest_runtest_setup` is run for every test item (which is not needed)

[2016-02-21 01:22] AbdealiJK opened #1622 "circleci: Use docker"

[2016-02-21 01:24] AbdealiJK commented on #1618
It seems as though our tutorial is a bit outdated. We're using `SourceRanges` to create results now, but this has not been changed in the tutorial.
We need to update the documentation (http://coala.readthedocs.org/en/latest/Users/Tutorials/Writing_Bears.html) and update the tutorial repo (https://github.com/coala-analyzer/coala-tutorial).

[2016-02-21 01:33] AbdealiJK commented on #1592
I get:
[code]

with `5.5.9-1` ... which means that only his specific version has this issue ?

@aayn This is a fedora if I remember correct ? Have you changed your php configs anywhere ?

[2016-02-21 01:43] AbdealiJK commented on #1582
I've asked the `alex` devs if they could make an alias `alexjs` so that this clash wouldnt be troublesome.
https://github.com/wooorm/alex/issues/83

[2016-02-21 03:05] AbdealiJK opened #1623 "Show skip reasons in pytest"
Currently pytest doesnt show why a test has been skipped
We either want to use pytest-sugar or do something with pytest (maybe a new plugin?) to enable this and show the message why test was skipped.

[2016-02-21 04:33] AbdealiJK commented on #1006
The property needs to be assigned to the class and not to the object.
So, it should be `type(self)` or `self.__class__`

[code]

I think the `@property` is more readable.

[2016-02-21 07:23] #1620 closed

[2016-02-21 07:37] ravinimmi commented on #1616
I would like to do this.

[2016-02-21 07:47] sudheesh001 commented on #1616
Assigned it to you @ravinimmi Please go ahead :smile:

[2016-02-21 08:42] AbdealiJK commented on #1557
@aayn
 - `{filename}` - used in every bear. Examples: `AlexBear` and `ProseLintBear`. The documentation doesn't mention `{filename}` it was written before that existed
 - config file generation - we're not using this yet. It's meant to be like if a linter needs a config file, we generate it for them using out `.coafile`'s settings and pass it to the linter. (You can take a look at LintTest` to see

[2016-02-21 09:32] AbdealiJK commented on #1390
@hypothesist is working on this - https://github.com/coala-analyzer/coala/pull/1392

@hypothesist any updates ?

[2016-02-21 09:41] aayn commented on #1557
@AbdealiJK  So, I went through a few bears, and here are my next set of questions:

1. I saw that `arguments = "{filename}"` is used in 4 bears(not all). What exactly is this class variable achieving? Does the `{}` around `filename` have some significance or just for formatting?

2. From what I read through in `Lint.py`, if a bear, not just finds issues, but also can suggest corrections , then `gi

[2016-02-21 09:46] AbdealiJK commented on #1557
@aayn
 1. You may want to do a broader search for `{filename}` as its frequently used as `+= " {filename}" and so on. The `{filename}` is used by python's `str.format()` function and replaced by the appropriate filename - `{}` is requires as `.format()` only touches these parts of the string and replaces (Sort of like `%s` in C/C++ ?)
 2. Some linters provide a fixed version of the file. We take t

[2016-02-21 10:28] aayn commented on #1557
@AbdealiJK
For the first bullet(i.e. `{filename}`), here's the summary of what I've understood:

`{filename}` and some other things are passed into the `arguments` class variable(which is a string). Then, this along with the `executable` class variable, is formatted into a command(in `Lint`) which is then run using `Shell.run_shell_command`.

This^ brings me to my next question: Why does "`{filena

[2016-02-21 10:31] AbdealiJK commented on #1557
@aayn we used to do it in `Lint` - We used to just append it to the command. but the problem is thats not always correct.

`lintr` (the RLintBear) needs the filename in a specific place. - `RScript "library(lintr); lintr(\"{filename}\");"` or something. In such cases we do not know where to put the filename. hence it's better to let the LinterBear using Lint do it (its not much work)

[2016-02-21 10:33] aayn commented on #1557
@AbdealiJK Oh OK. Thanks :). Is it okay if I do the first bullet in one PR and the rest in another? I've never done documentation before.

[2016-02-21 10:36] #1623 closed

[2016-02-21 10:43] fneu commented on #1613
It's not a bug, it's a **feature**!

No, I'm actually serious on this. Citing Glob Syntax from Docstring:
"""
    Glob Syntax:
    '[seq]':         Matches any character in seq. Cannot be empty.
                     Any special character looses its special meaning in a set.
   '[!seq]':         Matches any character not in seq. Cannot be empty
                     Any special character looses its

[2016-02-21 10:51] sils1297 commented on #1613
@fneu this is definitely a bug, we have no brackets in the glob we provide, we do an abspath which introduces the brackets so coala is responsible for escaping that!

[2016-02-21 10:53] AbdealiJK commented on #1557
Why not juut make the first one in a commit and add more commits to the PR after that ?

[2016-02-21 10:56] aayn commented on #1557
@AbdealiJK Oh. I didn't think of that. Okay

[2016-02-21 11:22] AbdealiJK commented on #1516
@satyamamrev is doing this in https://github.com/coala-analyzer/coala/pull/1533

@sils1297 he needs to be added to the org

[2016-02-21 11:24] sils1297 commented on #1516
Invitation pending to satyamamrev and hypothesist

2016-02-21 12:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-21 11:26] fneu commented on #1613
@sils1297 Ok I get you. We need a `glob_abspath` to handle parentheses (not brackets btw.) and we need to use that wherever we extend relative globs to absolute globs.

Which is best done in Globbing.

Which means we shouldn't touch globs outside of Globbing.

Which means we will fuck this up when we want a glob to be relative to some path from a setting. Maybe. Anyways. I'm going to fix this.

[2016-02-21 11:37] sils1297 commented on #1613
we'd rather need an "escaped abspath" or so, so if we have a glob like `*.(c|h)` in `/home/fneu/coala (test)/` and we do this escaped_abspath('*.(c|h)')` we should get `/home/fneu/coala \(test\)/*.(c|h)`, i.e. the first set of brackets escaped, the second not

[2016-02-21 11:44] #1059 closed

[2016-02-21 11:44] #1390 closed

[2016-02-21 11:44] #1535 closed

[2016-02-21 11:44] #1616 closed

[2016-02-21 11:47] fneu commented on #1613
@sils1297 we mean the same. It's not very straight forward though

[2016-02-21 12:07] fneu commented on #1613
ok, so proper way is to add a functions to Globbing to allow to properly join a glob and a path.

`os.path.abspath` destroys the glob under certain circumstances
`os.path.join` doesn't escape parentheses

[2016-02-21 12:13] hypothesist opened #1630 "docs: Explain bear kinds"
There is very little information currently on what they are.

[2016-02-21 12:21] abhsag24 commented on #225
decisions:
1. will take `indent_types` , and comments as dict parameters , where the key is a `start_indent` and value is an `end_indent` , for comments the key and value pair are useful for multi-line comments, where key can be start of comment and value the end.

2. Languages like python can have `end_indent` as None ,

3. Basic structure to be initially like MatlabIndentationBear but i do belie

[2016-02-21 12:50] hypothesist commented on #1613
Matching `*.(c|cpp)` is necessary, so we can't change that. That leaves us with the option to include `*.(c|cpp)` as a file by itself - that is check for files with ".(c|cpp)" ending (I mean literally, not C or C++ files: a (c|cpp) file). That is the only way I can see where `.../New folder (1)/...` is not interpreted as `.../New folder 1/...` (which is what is happening currently)
@sils1297 @fneu

[2016-02-21 12:57] sils1297 commented on #1613
I don't understand what you want, what's wrong with not doing an abspath on paths or making an own abspath routine?

[2016-02-21 13:02] hypothesist commented on #1613
Currently, when you pass `.../New folder (1)/...` to `iglob(pattern)` the result is `.../New folder 1/...`

That is an expected output though, since `main.(c|cpp)` should output `['main.c', 'main.cpp']`

My proposal is let `main.(c|cpp)` output `['main.c', 'main.cpp', 'main.(c|cpp)']`. This way that feature doesn't break, yet `.../New folder (1)/...` gives `['.../New folder (1)/...', '.../New fold

[2016-02-21 13:05] Redridge commented on #225
Here is my draft from when I tried it.
https://github.com/Redridge/coala/commit/ca8df0cbdb2e885d77e948a838386c9e3eed0da4

It is able to:
- Get the dict out of .coalang files using LanguageDefinition
- Indent C files without comments or missleading strings (with ';', '{', '}' int them)

I don't know if it is of much help though

[2016-02-21 13:29] AbdealiJK commented on #1047
Done \^_^/ https://github.com/coala-analyzer/coala/pull/1566

[2016-02-21 13:29] #1047 closed

[2016-02-21 13:31] sils1297 opened #1634 "coala -A gives lots of warnings"
[code]

the first ones are because of the coafile I presume:

[code]

I guess we should not show warnings when we collect bears from registered dirs? CC @AbdealiJK

[2016-02-21 13:41] fneu commented on #1613
@hypothesist that really is an interesting approach that could actually work for most cases.

That said, you could probably call it cheating or at least it is neither elegant nor simple for an usability approach.

I am still in favor of doing this 'right' and sticking to the syntax we currently advertise. No surprises. `'(A|B)`' will evaluate to `'A', 'B'` and `'(3)'`will evaluate to `'3'`.

This

[2016-02-21 13:46] AbdealiJK commented on #1634
There are actually 2 issues here:

 1. When we do `-A` we are first populating the bears from the `.coafile` - which is not needed
 2. When we do `-A` we shouldnt be showing a warning is a glob didnt find a bear - because in this case it would always search for `**`, and its not useful

This actually has nothing related to the registered dirs.

[2016-02-21 13:54] hypothesist commented on #1613
@fneu Hmm, yes. That is a much better approach. Okay, I'll work on this. (But I have completed the temporary hack too, if you want a quick-fix.)

[2016-02-21 15:00] sils1297 commented on #1408
This issue was moved to coala-analyzer/coala-bears#18

[2016-02-21 15:00] #1408 closed

[2016-02-21 15:02] sils1297 commented on #1578
This issue was moved to coala-analyzer/coala-bears#19

[2016-02-21 15:02] #1578 closed

[2016-02-21 15:02] sils1297 commented on #1564
This issue was moved to coala-analyzer/coala-bears#20

[2016-02-21 15:02] #1564 closed

[2016-02-21 15:02] AbdealiJK commented on #1592
This issue was moved to coala-analyzer/coala-bears#21

[2016-02-21 15:02] #1592 closed

[2016-02-21 15:02] sils1297 commented on #1555
This issue was moved to coala-analyzer/coala-bears#22

[2016-02-21 15:02] #1555 closed

[2016-02-21 15:03] sils1297 commented on #1482
This issue was moved to coala-analyzer/coala-bears#23

[2016-02-21 15:03] #1482 closed

[2016-02-21 15:03] AbdealiJK commented on #1578
This issue was moved to coala-analyzer/coala-bears#24

[2016-02-21 15:05] sils1297 commented on #1473
This issue was moved to coala-analyzer/coala-bears#25

[2016-02-21 15:05] #1473 closed

[2016-02-21 15:05] sils1297 commented on #1403
This issue was moved to coala-analyzer/coala-bears#26

[2016-02-21 15:05] #1403 closed

[2016-02-21 15:05] sils1297 commented on #1399
This issue was moved to coala-analyzer/coala-bears#27

[2016-02-21 15:05] #1399 closed

[2016-02-21 15:06] sils1297 commented on #1398
This issue was moved to coala-analyzer/coala-bears#28

[2016-02-21 15:06] #1398 closed

[2016-02-21 15:06] sils1297 commented on #1396
This issue was moved to coala-analyzer/coala-bears#29

[2016-02-21 15:06] #1396 closed

[2016-02-21 15:06] sils1297 commented on #1364
This issue was moved to coala-analyzer/coala-bears#30

[2016-02-21 15:06] #1364 closed

[2016-02-21 15:07] sils1297 commented on #1335
This issue was moved to coala-analyzer/coala-bears#31

[2016-02-21 15:07] #1335 closed

[2016-02-21 15:07] #1064 closed

[2016-02-21 15:07] #1235 closed

[2016-02-21 15:07] sils1297 commented on #1309
This issue was moved to coala-analyzer/coala-bears#32

[2016-02-21 15:07] #1309 closed

[2016-02-21 15:07] sils1297 commented on #1158
This issue was moved to coala-analyzer/coala-bears#33

[2016-02-21 15:07] #1158 closed

[2016-02-21 15:07] sils1297 commented on #1140
This issue was moved to coala-analyzer/coala-bears#34

[2016-02-21 15:07] #1140 closed

[2016-02-21 15:08] sils1297 commented on #1130
This issue was moved to coala-analyzer/coala-bears#35

[2016-02-21 15:08] #1130 closed

[2016-02-21 15:08] sils1297 commented on #1111
This issue was moved to coala-analyzer/coala-bears#36

[2016-02-21 15:08] #1111 closed

[2016-02-21 15:09] sils1297 commented on #1040
This issue was moved to coala-analyzer/coala-bears#37

[2016-02-21 15:09] #1040 closed

[2016-02-21 15:09] sils1297 commented on #867
This issue was moved to coala-analyzer/coala-bears#38

[2016-02-21 15:09] #867 closed

[2016-02-21 15:09] sils1297 commented on #652
This issue was moved to coala-analyzer/coala-bears#39

[2016-02-21 15:09] #652 closed

[2016-02-21 15:10] sils1297 commented on #225
This issue was moved to coala-analyzer/coala-bears#40

[2016-02-21 15:10] #225 closed

[2016-02-21 15:12] sils1297 commented on #1534
This issue was moved to coala-analyzer/coala-bears#41

[2016-02-21 15:12] #1534 closed

[2016-02-21 15:13] sils1297 commented on #1503
This issue was moved to coala-analyzer/coala-bears#42

[2016-02-21 15:13] #1503 closed

[2016-02-21 15:13] sils1297 commented on #1501
This issue was moved to coala-analyzer/coala-bears#43

[2016-02-21 15:13] #1501 closed

[2016-02-21 15:15] sils1297 commented on #1516
This issue was moved to coala-analyzer/coala-bears#44

[2016-02-21 15:15] #1516 closed

[2016-02-21 15:16] sils1297 commented on #1560
This issue was moved to coala-analyzer/coala-bears#45

[2016-02-21 15:16] #1560 closed

[2016-02-21 15:17] sils1297 commented on #1480
This issue was moved to coala-analyzer/coala-bears#46

[2016-02-21 15:17] #1480 closed

[2016-02-21 15:17] sils1297 commented on #1465
This issue was moved to coala-analyzer/coala-bears#47

[2016-02-21 15:17] #1465 closed

[2016-02-21 15:17] sils1297 commented on #1410
This issue was moved to coala-analyzer/coala-bears#48

[2016-02-21 15:17] #1410 closed

[2016-02-21 15:18] sils1297 commented on #1329
This issue was moved to coala-analyzer/coala-bears#49

[2016-02-21 15:18] #1329 closed

[2016-02-21 15:18] sils1297 commented on #1324
This issue was moved to coala-analyzer/coala-bears#50

[2016-02-21 15:18] #1324 closed

[2016-02-21 15:19] sils1297 commented on #1104
This issue was moved to coala-analyzer/coala-bears#51

[2016-02-21 15:19] #1104 closed

[2016-02-21 15:19] sils1297 commented on #735
This issue was moved to coala-analyzer/coala-bears#52

[2016-02-21 15:19] #735 closed

[2016-02-21 15:21] sils1297 commented on #1421
This issue was moved to coala-analyzer/coala-bears#53

[2016-02-21 15:21] #1421 closed

[2016-02-21 15:27] sils1297 commented on #1565
This issue was moved to coala-analyzer/coala-bears#54

[2016-02-21 15:27] #1565 closed

[2016-02-21 15:33] sils1297 opened #1636 "Move test dir to root level"
difficulty/low

[2016-02-21 18:10] aayn commented on #1636
Can I do this? Almost done with my previous issue.

[2016-02-21 18:20] sils1297 commented on #1636
@aayn sorry, how about https://github.com/coala-analyzer/coala-bears/issues/11 instead?

[2016-02-21 18:54] aayn opened #1638 "Add new tutorial for correction-based bears"
As mentioned in  https://github.com/coala-analyzer/coala/commit/5ba3c01abbddd5c418a925ea070874053ba29c76#commitcomment-16228265, this kind of bear deserves a new tutorial.

/cc @sils1297

[2016-02-21 18:59] aayn commented on #1638
Bears That Can Suggest Corrections
----------------------------------

Some executables (like `autopep8`) can suggest corrections to be made. We can
use such executables so that ``coala``, using these bears, can suggest and
also make automatic corrections.

::

    import autopep8

    from coalib.bearlib.abstractions.Lint import Lint
    from coalib.bearlib.spacing.SpacingHelper import SpacingHel

[2016-02-21 18:59] aayn commented on #1638
Oops. Sorry. Assign it to me please.

[2016-02-21 21:14] #606 closed

[2016-02-21 21:41] SanketDG opened #1640 "ConsoleInteraction: change color to cyan for tabs and spaces"
For increased visibility.

[2016-02-21 21:47] SanketDG opened #1642 "Use ShowPatchAction for tabs and spaces"
Spaces -> `•`
Tabs -> `--->` (for width 4)

[2016-02-21 21:50] sils1297 commented on #1642
Most importantly there's a function that helps doing this in ConsoleInteraction.

[2016-02-21 22:09] #1640 closed

[2016-02-21 22:12] sils1297 commented on #1593
commit was reverted @tushar-rishav you're still assigned

[2016-02-21 22:44] ravinimmi commented on #1636
@sils1297 I want to do this.

[2016-02-21 22:45] sils1297 commented on #1636
@ravinimmi as you can see this is already asigned to @CruiseDevice

[2016-02-21 22:46] ravinimmi commented on #1636
Oh sorry. Didn't see that.

[2016-02-22 05:19] AbdealiJK commented on #1622
I was trying this for some time now - and realized that there are a fair number of issues.
First, docker image cache is not good. We need to export the containers into a tar file and then cache th directory. And even when we do that, docker will not use it as the time modified on the file is messed up.

All in all, it's pretty complicated - there are pretty ugly hacks like http://tschottdorf.githu

[2016-02-22 06:12] AbdealiJK commented on #1642
Erm, do you mean Show tabs and spaces when doing `ShowPatchAction` ? (Cuz the current title doesnt seem to make logical sense to me)

[2016-02-22 08:37] AbdealiJK opened #1646 "Remove coalib_bears_root"
`coalib_bears_root` is not being used anymore (from Constants.py)
It should be removed as it's anyway empty/non existent.

[2016-02-22 09:31] sils1297 opened #1647 "stuff to do"
@AbdealiJK I think we should make the coala run in the coala CI independent from the master version of the coala core repository
we kind of use it as an integration test
but it is rather a tool to check our code
so we should stop the version number mess
and just install coala-bears

[2016-02-22 09:36] sils1297 commented on #1647
@AbdealiJK what do you think? Code doesn't need to be changed, it'll do it on it's own once we change the coala version number in the requirements for bears.

[2016-02-22 10:13] AbdealiJK commented on #1647
@sils1297 I agree that it should be done

[2016-02-22 10:16] #1647 closed

[2016-02-22 11:20] vidhan13j07 commented on #1646
I would like to work on this bug.

[2016-02-22 11:22] sils1297 commented on #1646
@vidhan13j07 cool, it's yours!

[2016-02-22 12:03] AbdealiJK commented on #1593
Why was the commit reverted ?
And also, I dislike relative paths. Because when I run coala on something like `/tmp/abcde` it gives a lot of `../../../../../`. Although this is a rare case, it was a little irritating when i saw this somewhere.

Wouldn't it be possible to track whether the user gave a relative path for the file glob and decide on abs or rel based on that ?
OR - would it be possible

[2016-02-22 12:05] sils1297 commented on #1593
it broke because the file_dict still used absolute paths so coala couldn't
get the file contents anymore

2016-02-22 13:03 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-22 12:06] sils1297 commented on #1593
we already use relative paths for the output of filenames in
consoleinteraction, my thought was to switch to relative paths overall
possibly. Maybe provide a setting for it? :/

2016-02-22 13:05 GMT+01:00 Lasse Schuirmann <lasse.schuirmann@gmail.com>:

[2016-02-22 12:09] AbdealiJK commented on #1593
Ah, ^ @sils1297 I disliked the ConsoleInteraction using relpaths then - as it gave me the `../../../` etc at some point of time.
But again, thats a rare case.

Why exactly does `coala-html` need this ? If it's using json, can't we simply show the path in json ouput ?

[2016-02-22 12:13] sils1297 commented on #1593
so if you do the json dump the html/js page uses paths to get file
contents, if you then zip it and upload it somewhere to be served
statically it won't work if you use abspaths in the json dump

2016-02-22 13:09 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-22 12:16] AbdealiJK commented on #1593
Maybe have a `--relpath` in coala-json ?

On Mon, Feb 22, 2016 at 5:43 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-22 12:32] AbdealiJK commented on #1630
We currently have 2 types of bears, this can be seen in `coalib.bears.BEAR_KIND` - Global and local

We have 2 major python files which talk about them and define them - `coalib.bears.LocalBear` and `coalib.bears.GlobalBear`.

What we need to do is add more information about global and local bears in the documentation.
This can be done in the following locations:
 - docs/Users/Tutorials/Tutorial.r

[2016-02-22 12:35] tushar-rishav commented on #1593
Yes. It's possible to convert abspath in json_dump file from `coala-json`
to relpath. In that case we will have to iterate through all the file paths
in `affected_code`  and change it to relative paths and finally save the
changes to json_dump
On 22 Feb 2016 17:33, "AbdealiJK" <notifications@github.com> wrote:

[2016-02-22 12:36] AbdealiJK commented on #1593
@tushar-rishav it's quite a bit simpler - We just add an `if` in `coalib.output.JSONEncoder` to catch `Result` classes and special handle them

[2016-02-22 12:38] tushar-rishav commented on #1593
Makes sense. Let me try.
On 22 Feb 2016 18:06, "AbdealiJK" <notifications@github.com> wrote:

[2016-02-22 12:48] AbdealiJK opened #1652 "coaladocs.readthedocs.org"
coaladocs.readthedocs.org comes up higher than coala.readthedocs.org in google when searching for "coala docs".

Either we need to remove it completely (from google also) or redirect it to coala.readthedocs.org

[2016-02-22 13:24] sils1297 commented on #1348
Possible approach:

---

yeah, so this is more about providing a generic way to detect settings, that could be e.g. that a bear can suggest a number of possible reasonable default values
and coala would run that bear on the project multiple times
with different settings
and check which settings yield a lower result count
this one is totally generic to any analysis routine

[2016-02-22 13:57] #1646 closed

[2016-02-22 14:00] Makman2 commented on #1006
I'm also more in favor of using the decorator and do everything manually. The only reason I would do this property assignment is when it has performance advantages, so this needs to be evaluated.

[2016-02-22 14:03] AbdealiJK commented on #1006
It would actually be the reverse I think. This method would be slower - as it gets assigned every time `__init__` gets called (whereas the decorator would only run once when the class is defined)

[2016-02-22 14:04] Makman2 commented on #1006
Can't we put that outside of `__init__`, since this runs in class scope?

*Testing this...*

[2016-02-22 14:05] Makman2 commented on #1006
Yes this works

[2016-02-22 14:06] Makman2 commented on #1642
Not sure we want that... Clutters quite the diff when having some indentation levels...

[2016-02-22 14:08] sils1297 commented on #1652
From gitter:

[2016-02-22 14:11] sils1297 commented on #1642
otherwise you might not see the difference... @Makman2 you aware that we show spacing in the affected code by now? We use cyan so it looks ghostly :P

So I was also thinking about maybe showing only leading and trailing whitespace, not in the middle.

[2016-02-22 15:30] Makman2 commented on #1642
hm yeah...
we could be smart and check if spacing issues exist, if so, display them^^
though that's quite difficult and messy to integrate :/

[2016-02-22 15:32] sils1297 opened #1653 "update installation docs!"
I've seen some WIP commits from @AbdealiJK in some logs, not sure. @AbdealiJK working on this?

[2016-02-22 15:33] AbdealiJK commented on #1653
Ah, no - I was working on some minor stuff (https://github.com/coala-analyzer/coala/pull/1654)

[2016-02-22 15:58] Makman2 commented on #1598
hmm it should work, command-paths enclosed in parantheses work at least ...

[2016-02-22 16:25] Makman2 commented on #886
Can't reproduce any more, we have pytest now anyway which should solve this.

[2016-02-22 16:25] #886 closed

[2016-02-22 18:50] sils1297 opened #1656 "IgnoreBearAction"
Would be neat to have a resultaction that allows the user to ignore the bear. Also the bear could possibly provide a function `get_ignore_setting(result)` which returns a `Setting` that will make those kinds of results vanish in the future, e.g. if the PyLintBear has an unused-code warning it'll yield this "PyLintBear (unused-code)" result and we could make a setting that ignores all resuhlts from

[2016-02-22 20:49] #1638 closed

[2016-02-22 20:58] SanketDG opened #1658 "retrieve_stderr() function for stderr"
Currently there is only `retrieve_stdout()`, we should also have something for `stderr`

[2016-02-22 22:36] #1658 closed

[2016-02-23 05:59] #1495 closed

[2016-02-23 06:04] AbdealiJK opened #1662 "Add __version__ to coalib"
In `coalib.__init__.py` we should add the variable `__version__` as thats a common way to check the version.

We just have to import `Constants` and do `__version__ = Constants.VERSION`

[2016-02-23 06:06] AbdealiJK opened #1663 "help(coalib) isnt very helpful"
Currently `import coalib` followed by `help(coalib)` is not very useful. It just gives a list of packages inside. We should ideally have a description of coala/coalib there too.

I think we need to add a doc-comment  in coalib.__init__.py which gives better information.

We could also use this in the `setup.py` maybe ?

[2016-02-23 06:14] AbdealiJK commented on #1553
@Makman2 I notice the bash injection is done. You use `shlex.split` ... so, can we continue using the `.format()` function in Lint ?

[2016-02-23 06:44] arush0311 commented on #1642
Can I work on this?

[2016-02-23 06:51] AbdealiJK commented on #1642
@arush0311 I think this issue is still being considered. Could you do another one for now?

[2016-02-23 07:05] WJCode commented on #1652
It seems it is not possible to entirely remove old/obsolete documentation links from readthedocs. :worried: See [here](https://github.com/rtfd/readthedocs.org/issues/1408)
It also looks like readthedocs does not support redirecting to another domain even though I was the "owner" of *coaladocs*. The option I used was Exact Redirect found under Admin -> Redirects in readthedocs. Also, I had deleted

[2016-02-23 07:07] AbdealiJK commented on #1652
Yes, it does look like coaladocs.readthedocs has gone. Closing this

[2016-02-23 07:07] #1652 closed

[2016-02-23 08:00] AbdealiJK opened #1664 "coalaTest: show-all-bears test is incorrect"
Currently we're doing some weird thing where we do `[i.startswith(" * ") for i in output.split()]` which makes a list of all the words and whether they ebgin with ` * `. What we actually need to do is use `.splitlines()` and then do an if condition to check if it starts with that.

[2016-02-23 08:14] AbdealiJK opened #1666 "Making an appveyor account for the org"
Apparently we can make an account for the entire org. This would be helpful, as multiple people would be able to stop builds and do rebuilds.
http://help.appveyor.com/discussions/questions/1154-appveyor-account-for-github-organizations

[2016-02-23 08:26] AbdealiJK commented on #1529
Blocked by https://github.com/coala-analyzer/coala-bears/issues/26

[2016-02-23 09:36] Adrianzatreanu commented on #1662
I can do this if you'd let me :)

[2016-02-23 09:38] AbdealiJK commented on #1662
assigned you

[2016-02-23 09:55] souravsingh commented on #1630
I would like to work on the issue.

[2016-02-23 09:56] AbdealiJK commented on #1630
Awesome, @sils1297 can you add @souravsingh to the org so we can assign this issue appropriately ?

[2016-02-23 10:46] sils1297 commented on #1630
Invitation is out, accept at github.com/coala-analyzer

2016-02-23 10:56 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-23 11:06] AbdealiJK commented on #1264
Commit reverted in https://github.com/coala-analyzer/coala/pull/1670

[2016-02-23 11:15] arush0311 commented on #1419
Can I work on this?

[2016-02-23 11:16] AbdealiJK commented on #1419
@arush0311 assigned you

[2016-02-23 11:17] AbdealiJK commented on #1666
Done. https://ci.appveyor.com/project/coala/coala

[2016-02-23 11:17] #1666 closed

[2016-02-23 11:18] AbdealiJK opened #1671 "Change appveyor badge in readme"
The appveyor badge shows:

[code]
We recently changed from sils1297's account to an account named "coala"
So, it needs to be changed appropriately

[2016-02-23 13:28] souravsingh commented on #1630
I have accepted the invite

[2016-02-23 13:29] sils1297 commented on #1630
@souravsingh awesome! If you need help you can approach us on https://gitter.im/coala-analyzer/coala or ask concrete questions here :)

[2016-02-23 18:06] sils1297 opened #1672 "README: Make people use coala-bears correctly"

[2016-02-23 19:58] AdeshAtole commented on #1663
Can I do this?

[2016-02-23 20:56] souravsingh commented on #1037
I would like to work on getting the RPM

[2016-02-23 20:59] souravsingh commented on #1416
I would like to work on this issue

[2016-02-23 22:00] sils1297 commented on #1663
@AdeshAtole hey, you've got an invitation to our team. Accept at github.com/coala-analyzer and we can assign you.

[2016-02-23 22:00] sils1297 commented on #1663
thanks for your interest :)

[2016-02-23 22:01] sils1297 commented on #1037
Hi @souravsingh , coala is in a state of movement currently and packaging doesn't make a lot of sense. This issue is for a time in the future when we get the `coala-bears` bear management and stuff like that.

[2016-02-23 22:01] sils1297 commented on #1416
@souravsingh cool, go ahead! :)

[2016-02-23 22:31] Makman2 commented on #1672
do they use them incorrectly? :O

[2016-02-23 22:31] sils1297 commented on #1672
well from what we have there people will `pip install coala` and then wonder why they have no bears at all

[2016-02-23 22:42] Makman2 commented on #1672
ah okay, that's what the title means :3

[2016-02-23 23:25] Makman2 opened #1683 "Maintaining cross-compatability with coala-bears"
We have the problem to test changes in `coala` inside `coala-bears`, since it uses modules from `coala`.

I would propose following maintainance strategy:
1. The requirements file for `coala-bears` gets a version **range** for coala, see http://stackoverflow.com/questions/8795617/how-to-pip-install-a-package-with-min-and-max-version-range.
2. Changes inside `coala` are made independent from `coala

[2016-02-23 23:27] sils1297 commented on #1683
I don't see the benefit of the range tbh

[2016-02-23 23:29] Redridge commented on #1683
Couldn't it be a specific version. Especially one that doesn't break the bears?

[2016-02-23 23:31] sils1297 commented on #1683
e.g. it might break in between the range

[2016-02-23 23:31] Makman2 commented on #1683
it can't break inside the range since the range is fixed^^

[2016-02-23 23:33] Makman2 commented on #1683
I'm more in favor of using ranges since not only a single version of coala has to be supported by coala-bears, the maintenance overhead is the same like specifying an exact version. So this is a compromise of our current requirements that use `>=`.

[2016-02-24 00:02] Makman2 opened #1684 "Writing_Good_Commits.rst : Mention that first person shall not be used inside commit body"
I'm in favor of objective commit message writing :)

[2016-02-24 00:03] Makman2 opened #1685 "labeling: area/documentation vs. type/documentation"
Seems these labels are duplicates^^

[2016-02-24 02:01] AbdealiJK commented on #1685
Added label `area/documentation` to all the issues with the earlier label `type/documentation` and deleted the `type/documentation` label

[2016-02-24 02:01] #1685 closed

[2016-02-24 02:17] AbdealiJK commented on #1683
I also think that a range is pretty much the same as `==` (with minimal benefits)
I think that once we have a stable release of `coala` this won't be an issue anymore.

Currently we have `coala >= 0.4.1.dev20160219113548` in `coala-bears`. So, when `pip` checks for `>=` it finds newer versions and uses the latest dev release. BUT if we release `0.5.0` pip will search for versions above `0.4.1.dev2

[2016-02-24 02:39] AbdealiJK opened #1686 "Docs: Reference Lint api module in docs"
I notice that there are a few small things not there in `Linter_Bears.rst` like `use_stderr` ( @SanketDG didnt know about it :( )

Can we link the module documentation directly in RST files ? So they'd see the docstrings ?

Or do we again rewrite these types of documentations in Linter_bears.rst ? (I prefer just linking the API - it's really well documented ! ... although I wrote it, so i could be

[2016-02-24 02:42] AbdealiJK opened #1687 "Warnings in docs and API building"
When we do `make html` we should ideally check that there are no warnings.
If we do this we can make sure there are no wrong links, as sphinx warns about them

Also, we do not check the making of sphinx docs in circleci ! - Need to add that.
I find there are `53 warnings` when building the API - should be fixed too.

[2016-02-24 02:43] AbdealiJK commented on #1212
Closing this as it's done in CONTRIBUTING.rst now.

[2016-02-24 02:43] #1212 closed

[2016-02-24 03:22] AbdealiJK commented on #1684
I think this seems unnecessary ...
We have enough commit guidelines and not using first person in essays/reports is a very very old English rule which most people do not follow anymore in modern literature.

Also, we have enough commit rules. Let's not add more :(

[2016-02-24 04:01] AbdealiJK opened #1688 "Do we need a warning for delete_orig if coafile not found ?"
When I dont have a coafile, do we need a warning for the delete-orig part ?
We already get a message that coafile was not found.
[code]

[2016-02-24 04:25] AbdealiJK commented on #1498
I just went through the documentation. I'm unable to find any specific place where we can use doctests where it's not being used.
Could you give examples ? We mainly have shell commands in the doctests which `py.test` cannot run.

Our docs majorly talk about creating bears or Linters and stuff - and we cannot exactly run these without running a shell command like `coala ...`. Importing stull and r

[2016-02-24 05:06] AdeshAtole commented on #1663
@sils1297 I have accepted the invite

[2016-02-24 05:47] AbdealiJK commented on #561
Do we need this still ? We have a pretty decent Writing_Bears.rst and now Linter_Bear.rst and Self_Correcting_bears.rst have been added.

PyLintBear is now a LinterBear, so that's not a good example to use
Maybe we could use LineCountingBear ?

Better description of what needs to done is required. Possibly split this into smaller newcomer tasks would be a good idea ?

[2016-02-24 06:35] AbdealiJK opened #1690 "handling languages inside other languages"
If I have a php file, it is inevitable that I'd probably have chunks of html inside a few of them. We probably want some method of finding specific languages inside other languages ?
Another example is awk inside bash
JSON inside Javascript, etc

[2016-02-24 06:43] AbdealiJK commented on #1663
@AdeshAtole I've assigned this to you

[2016-02-24 08:18] AbdealiJK commented on #1636
Hi ! Any progress on this ? Another issue I'm working on is stuck because of this

[2016-02-24 09:30] sils1297 commented on #1686
sure, why not

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-24 3:39 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-24 09:31] sils1297 commented on #1684
Yeah, I think we're pretty clear on imperative tense

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-24 4:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-24 09:34] sils1297 commented on #561
I do think we should improve our original writing bears tutorial.

[2016-02-24 11:04] AbdealiJK opened #1691 "install.rst: Fix typo - vertualenv"
In install.rst we have a typo: vertualenv needs to be changed to virtualenv

[2016-02-24 11:04] AbdealiJK opened #1692 "Fix typo in install.rst : coala"
In install.rst:

`The simplest way to install coa ais to do it system-wide. But, This is...`

should be

`The simplest way to install coala is to do it system-wide. But, This is...`

[2016-02-24 11:55] #1634 closed

[2016-02-24 11:55] #1662 closed

[2016-02-24 11:55] #1664 closed

[2016-02-24 12:36] #1618 closed

[2016-02-24 12:36] #1653 closed

[2016-02-24 12:36] #1672 closed

[2016-02-24 12:36] #1687 closed

[2016-02-24 12:52] Makman2 commented on #1684
We write it explicitly for the shortlog and not the body, either I would put the present-tense stuff before everything or add it to the **Long Description**.

[2016-02-24 12:56] AbdealiJK opened #1693 "Ignore regex for coala"
We already have a `Ignore` keyword - but would be good to have an `ignore_regex` which just matches the file and ignores all lines with that regex.
We should have a dictionary like the `default_actions` to choose which bears should be ignored with which regex

[2016-02-24 13:08] AbdealiJK opened #1694 "Don't build_manpage for windows"
Man pages aren't needed for windows - let's not build them and waste time there (Apparently it has issues in appveyor sometimes too)

[2016-02-24 13:19] CruiseDevice commented on #1636
@AbdealiJK  Sorry for late. I will try to complete this today.

[2016-02-24 13:21] AbdealiJK commented on #1636
Actually I figured out a method to not be blocked by this - so no hurry, take your time :)

[2016-02-24 14:33] #1494 closed

[2016-02-24 15:44] AbdealiJK opened #1697 "Run LanguageToolBear on docs"
https://github.com/coala-analyzer/coala-bears/issues/98

[2016-02-24 17:45] sils1297 commented on #1313
@yash14123 please ping back todayish, otherwise we may reassign this issue.

[2016-02-24 17:46] sils1297 commented on #1313
Just a ping is sufficient to know you still intend to work on it, you don't need to actually do it today.

[2016-02-24 18:09] Redridge commented on #1498
If there is no place to run doctest then I think we can close this. I originally wrote it guided by @sils1297

[2016-02-24 18:11] sils1297 commented on #1498
I'm not sure what I was thinking but *I think* that I was thinking that we could migrate some existing tests into neat documentation examples which would do our docs good.

[2016-02-24 18:26] yash14123 commented on #1313
I am consumed with the mid-semesters. I really apologize for not being
active . They end in about 4 days. If someone else is willing to work on
it, please reassign.
Sorry for the delay. Real tough exams in India u know :(

On Wed, Feb 24, 2016 at 11:16 PM, Lasse Schuirmann <notifications@github.com

[2016-02-24 18:38] sils1297 commented on #1313
@yash14123 ok I'm freeing this bug then, feel free to approach us whenever you like though ;)

[2016-02-24 18:38] sils1297 commented on #1313
@SanketDG you've asked about this, if you have some kind of interest on it, feel free to look into it.

[2016-02-24 18:50] #1671 closed

[2016-02-24 19:14] SanketDG commented on #1313
@sils1297 yes assign this to me.

[2016-02-24 19:34] SanketDG opened #1701 "ConsoleInteraction: change format string to match params in print_results_formatted"
`to_line` --> `end_line` and so on

difficulty/newcomer

[2016-02-24 19:46] #1313 closed

[2016-02-24 20:23] Makman2 opened #1702 "Don't use `Lint` when not using an external tool"
Imo it's a bit unclean if you use `Lint` when you have python modules that do corrections. Like the `JSONFormatBear`. Either inline relevant stuff (since results of different modules could quite differ, that's why I'm in for this one :+1:) or provide a base class that provides this behaviour in the most simple manner.

[2016-02-24 21:07] Makman2 opened #1703 "Refactor `Lint` to a bunch of functions"
I see the potential of making the `Lint` class to a module providing the functions to invoke external linter tools. `Lint.lint()` would get all arguments that are currently defined as class-members as parameters. Also `process_output()` could be moved out, since this function is used by some bears directly bypassing actually `lint()` (see #1702).

Opinions?

[2016-02-24 21:08] sils1297 commented on #1703
CC @AbdealiJK

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-24 22:07 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-24 21:39] #1232 closed

[2016-02-24 23:36] AbdealiJK commented on #1703
I agree - this is a good idea - as currently lint is stateless anyway.

[2016-02-24 23:36] AbdealiJK commented on #1703
@Makman2 arent you working on this ? (Could you assign yourself?)

[2016-02-24 23:52] AbdealiJK opened #1704 "SelfCorrectingBears: Line 70 sameple -> sample"
Typo in Self Correcting Bears tutorial `sameple.cpp` should be changed to `sample.cpp`

[2016-02-25 03:55] SanketDG opened #1705 "gives_corrected should only give output when results output is not empty."
This is for the `Lint` class. If no result output is there, then the resulting diff in `Result` tries to remove the line, because there's nothing to add. There should be a check to ensure that there is some result before yielding the result.

[2016-02-25 04:09] AbdealiJK commented on #1705
I didn't follow. So, if you have a `gives_corrected`, I'm guessing `stdout` gives the corrected file you give to `stdin`. If the stdout == stdin, we dont do anything, as the linter didn't change the file in anyway.

Does your linter give out **nothing** if the file was correct ? And the fixed file if the file had some problem ?

[2016-02-25 04:12] AbdealiJK commented on #1702
Blocked as it needs https://github.com/coala-analyzer/coala/issues/1703

[2016-02-25 04:15] SanketDG commented on #1705
@AbdealiJK The linter gives out nothing if the file is incorrect, it gives out everything on `stderr`. If the file is correct, it gives out output on `stdout`

Narrowing it down, this is where the results are yielded if `gives_corrected = True`

[code]

Now if I have nothing on `stdout` or `stderr` for that matter, results still get yielded.

[2016-02-25 04:15] AbdealiJK commented on #1686
So, what needs to be done is add a link to the Lint.py file in Linter_Bear.rst and Self_Correcting_Bear.rst

[2016-02-25 04:22] AbdealiJK commented on #1705
This seems to be something Lint cannot handle currently.
I think the best way to do it right now would be to override Lint._process_corrected and check this and then call `Lint._process_corrected(self, ..)`.
I've never seen this behaviour before and it seems like a one off thing. If we find other linters having this same issue we can add it to lint later ?

The reason I'm against adding it to Lint

[2016-02-25 04:31] SanketDG commented on #1705
Uh yes, that makes sense. Then this is not possible.

Okay.

[2016-02-25 05:43] AbdealiJK commented on #1705
Closing this issue as wont fix

[2016-02-25 05:43] #1705 closed

[2016-02-25 09:42] #1692 closed

[2016-02-25 10:42] sils1297 opened #1706 "File Github Issue Result Action"
That'd be neat, right?

[2016-02-25 11:35] #1562 closed

[2016-02-25 15:02] Makman2 commented on #1703
Okay this is more problematic than thought. One thing that annoys me most is `check_prerequisites`. We don't want the user to input this `check_prerequisites = is_binary_present(executable)` boilerplate everytime. Since `executable` needs also be available since instantation and setting this variables in constructor is performance-waste, I suggest of using a class-constructing-function, -->
[code]

[2016-02-25 15:17] sils1297 commented on #1703
Something like

[code]

?

[2016-02-25 15:21] Makman2 commented on #1703
for example, but I thought more of using it like this:
[code]

[2016-02-25 15:22] Makman2 commented on #1703
So we keep the ability to dynamically generate our command line (which we need to do anyway) or other stuff^^

[2016-02-25 15:23] sils1297 commented on #1703
why not a decorator then?

[2016-02-25 15:25] Makman2 commented on #1703
would do the same, and inheritting looks a bit clearer for me, that means e.g. `on_run` would actually override the stuff in `Linter`. But yeah in fact a decorator would also be possible^^

[2016-02-25 16:57] souravsingh commented on #1694
I would like to help in the issue.How do I start?

[2016-02-25 16:58] sils1297 commented on #1694
Hi, all you need should be in setup.py, we have some methods to detect platform but I have lost track @Makman2 can help you. Otherwise you're assigned and free to work on this :)

THanks for your support.

[2016-02-25 19:05] abhsag24 opened #1708 "Constants: Add newlines to crash message"
as of now the crash message is just one single line without any newlines,  we should add newlines to this message, the file can be found at coala/coalib/misc/Constants.py
difficulty/newcomer

[2016-02-25 19:30] abhsag24 opened #1709 "Error in acquiring settings, while running coala-ci"
so here is the bear that i run

[code]

and running `coala-ci -L DEBUG` gives the following error and traceback

[code]

it should be noted that i did not provide any values for this setting in the coafile

difficulty/low

[2016-02-25 19:35] sils1297 commented on #1709
Preferred solution is simply raising SystemExit and introducing a new exitcode in the appropriate docs.

[2016-02-25 21:09] vidhan13j07 commented on #1709
I would like to work on this issue.

[2016-02-25 21:25] Makman2 commented on #1709
sure :)

[2016-02-26 00:00] Redridge opened #1710 "--bear-dirs does not search recursively"
As stated in the title. I don't know if it is intended or not but I think it should search recursively.

[2016-02-26 00:49] AbdealiJK commented on #1694
We use `platform.system()` to find the OS.

[2016-02-26 01:52] Makman2 commented on #1710
@Redridge could you post your bug output like you have written in gitter? When you don't install coala-bears and try to use them using `--bear-dirs`^^

[2016-02-26 09:28] sils1297 commented on #1710
It should only search recursively if you do `/path/to/dir/**`

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-26 2:52 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-26 09:41] Redridge commented on #1710
[code]

[2016-02-26 09:41] Redridge commented on #1710
It does find the bear but it doesn't resemble the directory hierarchy, thus the import breaks

[2016-02-26 09:42] sils1297 commented on #1710
try putting the glob in double quotes please, otherwise shell expansion might mess up things

[2016-02-26 09:44] sils1297 commented on #1710
oh yeah as mentioned that is intended. Seeing forward to you filing the other two bugs. This is an invalid one then.

[2016-02-26 09:44] #1710 closed

[2016-02-26 09:48] Redridge opened #1711 "Automatic recursive globbing with --bear-dirs"
Make `--bear-dirs` search recursively for bears in the given dirs

[2016-02-26 09:51] Redridge opened #1712 "Use --bear-dirs as import root"
For imports relative to the root level made by bears which are not in the default package (i.e. --bear-dirs) the root level should be the one specified in `--bear-dirs`

[2016-02-26 11:16] #1711 closed

[2016-02-26 11:30] #1712 closed

[2016-02-26 16:00] srisankethu opened #1715 "docs/install.rst: proxy installation"
I have faced a difficulity installing coala under proxy.Changes made in install.rst!

[2016-02-26 18:16] #1704 closed

[2016-02-27 03:00] AbdealiJK commented on #1706
I dislike this because that would mean we need to setup github api keys and stuff. I'd rather this reside in gitmate

[2016-02-27 03:02] AbdealiJK commented on #1715
This is not specific to coala and is rather a `pip` thing. Should be in `pip` documentation.

[2016-02-27 04:38] srisankethu commented on #1715
@AbdealiJK yes,you're right but how can one understand that it's a pip thing just by looking at this error message?
![screenshot from 2016-02-17 16 56 04](https://cloud.githubusercontent.com/assets/12644108/13370797/52e32506-dd39-11e5-8663-b3cc9b9332f1.png)
If one wants to install coala successfully the only source available is coala's documentation(for now) and I feel a small note would be good f

[2016-02-27 04:48] aayn commented on #1715
@srisankethu Using pip under proxy isn't that hard. I do it all the time. Just do this:
1. Set your proxy up.
2. Use `sudo -EH pip install <package-name>`.

[2016-02-27 04:49] srisankethu commented on #1715
@aayn Thanks!

[2016-02-27 08:16] sils1297 commented on #1706
Only if the user uses it, he can store it in the user wide coafile
On 27 Feb 2016 04:00, "AbdealiJK" <notifications@github.com> wrote:

[2016-02-27 11:20] analyticalmonk commented on #1708
Simple enough, I will make a PR.

[2016-02-27 11:24] sils1297 commented on #1708
@analyticalmonk hey and welcome! I've sent you an invitation to our org so we can assign you. (We fail to manage all the stuff without assignments, sorry.) Accept at github.com/coala-analyzer. Happy to have you :)

[2016-02-27 11:25] analyticalmonk commented on #1708
Oh sure! Thanks. :)

[2016-02-27 11:28] sils1297 commented on #1708
@analyticalmonk awesome, seeing forward to your PR. You might want to join our channel at https://gitter.im/coala-analyzer/coala or #coala on freenode or https://telegram.me/joinchat/AuL-lwKZ8JLFZiI6SbtQVw on telegram, whatever suits you they're linked, so we can help you. Our workflow is nontrivial which is why we do those newcomer bugs and give you heavy guidance at every step :) Don't be afraid

[2016-02-27 13:37] sils1297 commented on #1708
need info from @abhsag24 , see https://github.com/coala-analyzer/coala/pull/1721#issuecomment-189640488

[2016-02-27 13:44] analyticalmonk commented on #1701
Can I take this up?

[2016-02-27 13:46] sils1297 commented on #1701
yes, thanks! :)

[2016-02-27 14:27] erilyth opened #1725 "Grammatical errors in git Introduction doc"
These need to be addressed.

1)understanding **about** what one can do with git and thus  ->  understanding **of** what one can do with git and thus
2)``git commit`` which allow us  ->  ``git commit`` which allow**s** us
3)into a so called  ->  into a so**-**called
4) getting current status  -> getting **the** current status

[2016-02-27 14:30] sils1297 commented on #1725
Hey, I've invited you into our org, accept at github.com/coala-analyzer please so we can assign you.

You can always get some help on freenode #coala or https://gitter.im/coala-analyzer/coala

[2016-02-27 14:36] erilyth opened #1727 "Grammatical errors in Getting Involved README"
1)if you live near hamburg  ->  if you live near Hamburg

[2016-02-27 14:51] erilyth opened #1730 "Grammatical errors involving Testing and Writing_Good_Commits documents"
1)html  -> HTML
2)tag and and a  ->  tag and-and a
3)that are not self explanatory  ->  that are not self-explanatory

[2016-02-27 14:53] sils1297 commented on #1730
hey could you please stop fixing all our typos? I know it's well meant, I'll explain in the next comment.

[2016-02-27 14:54] sils1297 commented on #1730
We do appreciate your contribution, so do we do the contributions of others. To introduce people to the community we file issues about typos and stuff so if you fix all the typos we can't introduce our newcomers properly anymore.

[2016-02-27 14:55] sils1297 commented on #1730
(E.g. we use LanguageTool basically as a newcomer issue generator, when we need new newcomer issues we can just file them.)

[2016-02-27 14:56] erilyth commented on #1730
I can understand, thanks for letting me know :)

[2016-02-27 14:58] #1730 closed

[2016-02-27 14:59] #1727 closed

[2016-02-27 17:32] Makman2 commented on #1706
Is a nice feature, but I would say low priority^^ Quite specific and needs setup from user side

[2016-02-27 17:35] Makman2 commented on #1725
@erilyth Edited your message, highlighted the specific changes^^

[2016-02-27 17:40] sils1297 commented on #1706
Came up when we thought about auto generating newcomer issues with language
tool
On 27 Feb 2016 6:32 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-02-28 05:57] AbdealiJK opened #1733 "coala html binary"
So, as I see it the coala html binary needs to do three things:

 - Make coala-json run and get output from it or just use a predefined location if the file already exists ?
 - Check if `coala-html` bower dependency is installed. (I remember someone saying setup.py has some bower plugin ?)
 - Create a `files.json` for the Files tab to work in coala-html
 - Run a web server so the angular stuff wor

[2016-02-28 09:39] #1701 closed

[2016-02-28 10:18] Adrianzatreanu opened #1734 "coala for newcomers"
Since this place has grown big, there's a lot of new members that could come and help it grow even bigger. I think creating a new page and polishing the new ones a little so that newcomers would start working easier would help us a lot.

[2016-02-28 12:24] sils1297 commented on #1725
@Makman2 please do not edit other peoples messages

[2016-02-28 12:24] #1725 closed

[2016-02-28 13:06] sam09 commented on #1691
Is anyone working on it?

[2016-02-28 13:08] tushar-rishav commented on #1733
@AbdealiJK

-  We might want to add an option that allows users to switch between the output from predefined location or run `coala-json` and update the output.

-  Yes we should create a `file.json` the first time we run coala-json.

-  [Webbrowser](https://docs.python.org/3.1/library/webbrowser.html) is what we might need.

[2016-02-28 13:09] AbdealiJK commented on #1691
@AdeshAtole are you working on this ? I notice a commit in your fork but you arent assigned to it.

[2016-02-28 13:10] sils1297 commented on #1691
@sam09 I've invited you to our org, can you approve at github.com/coala-analyzer ?

[2016-02-28 13:15] sam09 commented on #1691
@sils1297  Thanks!! I accepted it

[2016-02-28 13:20] sils1297 commented on #1691
@sam09 assigned you, at any point feel free to ask any (stupid or nonstupid) questions at https://gitter.im/coala-analyzer/coala

[2016-02-28 13:20] sils1297 commented on #1691
theres https://github.com/coala-analyzer/coala/wiki/Getting-Started-to-Contribute and http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits.html which is readworthy

[2016-02-28 14:44] #1691 closed

[2016-02-28 16:15] AbdealiJK opened #1738 "setup.py on python2 doesnt work again"
[code]
It seems when we added `__version__` it broke.
We should maybe call  `assert_supported_version()` in `coalib/__init__` before importing anything else?

[2016-02-28 16:46] SanketDG commented on #1738
Adding a simple encoding `# -*- coding: utf-8 -*-` at the top of `/home/sanket/coala/coalib/misc/Constants.py` fixes this. Is that the right way?

[2016-02-28 17:29] sils1297 commented on #1738
as long as it fixes it sounds good

[2016-02-28 18:08] sils1297 opened #1739 "get_public_members documentation comment is wrong"
in coalib/misc/Decorators.py

difficulty/newcomer

[2016-02-28 18:22] tushar-rishav commented on #1733
This issue was moved to coala-analyzer/coala-html#31

[2016-02-28 18:22] #1733 closed

[2016-02-28 18:50] #1715 closed

[2016-02-28 18:52] sils1297 commented on #1688
you mean an error? Nope think we should remove it. Should be simple to do.

[2016-02-28 19:30] sils1297 commented on #1281
unassigning because of lack of response

[2016-02-28 19:37] sam09 commented on #1739
Hey.. I would like to work on it..

[2016-02-28 19:39] sils1297 commented on #1739
you already had a newcomer issue and know the workflow, feel free to take the challenge of something cool like a new bear in coala-bears or something :)

[2016-02-28 19:42] sam09 commented on #1739
Okay.

[2016-02-28 20:00] tushar-rishav commented on #1739
@sam09 Look for [https://github.com/coala-analyzer/coala/issues?q=is%3Aopen+is%3Aissue+label%3Adifficulty%2Flow](Difficulty/low) or [medium](https://github.com/coala-analyzer/coala/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Adifficulty%2Fmedium+) maybe? :D

[2016-02-28 20:04] sam09 commented on #1739
@tushar-rishav Thanks :+1:

[2016-02-28 20:18] lonewolf07 commented on #1281
I would like to try this one!

[2016-02-28 20:37] SanketDG commented on #1281
@lonewolf07 make us proud!

[2016-02-28 20:56] Adrianzatreanu opened #1741 "Creating a new git tutorial for newcomers"
Since we are leaving the wiki page behind, i am also willing to create a small git tutorial that can at least
help newcomers get their first patch and contribution done. i will try to explain the commands briefly so that they at least understand what they are doing.

[2016-02-29 04:55] AbdealiJK commented on #1708
I agree that the terminal should do this if necessary.
That's because I normally keep my terminal on full screen which gives it nearly 100+ chars - It looks weird and irritating to read if you do this in such cases

[2016-02-29 06:41] AdeshAtole commented on #1663
@AbdealiJK Please unassign me from this issue. I already have a PR merged for a newcomer issue.

[2016-02-29 07:06] AbdealiJK commented on #1663
done

[2016-02-29 09:04] sils1297 commented on #1708
still in those cases we should rather do a generic solution in PyPrint and
make some auto breaking instead of inserting random newlines in random
messages, that will never solve all cases

[2016-02-29 09:33] abhsag24 commented on #1708
@sils1297 wouldn't auto breaking in pyprint cause problems in a lot of the test cases as well?

[2016-02-29 09:37] laxmena commented on #1708
I Would like to work on this

[2016-02-29 09:39] laxmena commented on #1739
I would like to work on this

[2016-02-29 09:39] sils1297 commented on #1708
@abhsag24 we would fix the version before (== instead of >=) and then change the tests on upgrade

[2016-02-29 09:41] laxmena commented on #1741
I would also like to contribute to this.

[2016-02-29 09:41] AbdealiJK commented on #1741
This is already assigned to someone. Also, its recommended you solve 1 issue first :)

[2016-02-29 09:42] AbdealiJK commented on #1739
@laxmena I've invited you to the coala organization. please accept the invitation so we can assign this to you

[2016-02-29 09:45] laxmena commented on #1739
Thankyou

[2016-02-29 10:01] AbdealiJK commented on #1739
@laxmena Ive assigned this to you.
We recently made a new newcomer doc (its not yet there on the website). Could you follow it [link](https://github.com/Adrianzatreanu/coala/commit/631a3f903cc704c79488f58310d80380bd79e2c6?short_path=2549fa2#diff-2549fa2ef2c64aed6e741e2f60b45e84) and let us know your opinon and whether any part of it is confusing to you ?
CC @Adrianzatreanu - as he's writing the do

[2016-02-29 10:03] Adrianzatreanu commented on #1739
Sure, im on gitter today, feel free to message us there.

[2016-02-29 10:51] prodicus opened #1747 "Using $ for all shell commands in docs"
@AbdealiJK suggests using `$` for all shell commands in docs.

More specifically implemented in this PR #1746

[2016-02-29 11:09] rubik opened #1748 "Catch pkg_resources' exceptions"
I ran `coala` and got:
[code]

Adding a `raise exception` right here:
https://github.com/coala-analyzer/coala/blob/16fdb2eaeb55160eace5724f00e757d305f7b0dc/coalib/misc/Exceptions.py#L19

I discovered that the original exception was this:
[code]

So I think that `pkg_resources` exceptions should be handled separately since they're easy to fix.

[2016-02-29 11:09] AbdealiJK commented on #1747
@prodicus Assigning this to you as you're already working on it ^_^
Welcome to coala btw !

[2016-02-29 11:13] prodicus opened #1749 "A simple typo in the Install.rst file"
The file `/docs/Users/Install.rst` has a typo in it.

Namely the occurence of `Max` instead of `Mac`

[2016-02-29 11:18] AbdealiJK commented on #1749
@prodicus Thanks for the bug report.
Im not assigning this to you as youre already solving 2 other newcomer issues. We recommend you solve a `difficulty/low` issue after 2 newcomer issues, as you're completely ready for them by then !

Leaving this open for other newcomers to solve

[2016-02-29 11:20] prodicus commented on #1749
:+1: no problem

[2016-02-29 11:21] sils1297 commented on #1748
Thanks, deserves custom handling indeed.

[2016-02-29 11:26] aayn commented on #1748
I'd like to do this please.

[2016-02-29 11:29] AbdealiJK commented on #1748
@aayn Ive assigned you

[2016-02-29 11:32] #1697 closed

[2016-02-29 13:39] #1593 closed

[2016-02-29 14:20] sils1297 commented on #1694
@souravsingh are you still/have you started/do you still intend working on this?

[2016-02-29 14:22] souravsingh commented on #1694
@sils1297 I have started the work on the issue.

[2016-02-29 14:26] sils1297 commented on #1694
Thanks!

[2016-02-29 14:26] sils1297 commented on #1694
We just sometimes check up especially on new participants, that doesn't mean you need to work faster. We just want a ping sometimes :)

[2016-02-29 15:46] aayn commented on #1748
@rubik How do I reproduce this?

[2016-02-29 15:51] sils1297 commented on #1748
@aayn do a `pip3 install libclang-py3==0.3 --upgrade` and then run coala

[2016-02-29 16:01] aayn commented on #1748
@sils1297 And what exception should I raise to catch VersionConflict?

[2016-02-29 16:25] sils1297 commented on #1748
`pkg_resources.ContextualVersionConflict` apparently

[2016-02-29 16:32] #1281 closed

[2016-02-29 16:34] aayn commented on #1748
@sils1297 Even after I do that I get no conflict issue. Anything else?

[2016-02-29 17:13] aayn commented on #1748
@sils1297  I don't get any conflicts. It just overwrites the other installation. So, is it possible that I send a PR/gist and you just verify if it works?

[2016-02-29 17:21] priests commented on #1749
Can i take this up?
I've already made a commit but I've not been assigned.

[2016-02-29 17:32] SanketDG commented on #1749
@priests You have been invited to the coala organization. please accept the invitation so we can assign this to you.

[2016-02-29 17:42] priests commented on #1749
@SanketDG Thanks ! :) I've been added to the org.

[2016-02-29 17:46] SanketDG commented on #1749
@priests Make us proud! If you get stuck, join us at https://gitter.im/coala-analyzer/coala :)

[2016-02-29 17:47] sils1297 commented on #1749
or if you don't get stuck join anyway because we love to get to know new contributors :P

[2016-02-29 17:49] priests commented on #1749
@SanketDG  Will give my best !!
@sils1297 I'm in. :) :+1:

[2016-02-29 17:57] prodicus commented on #1749
@priests Welcome to coala! :smile:

[2016-02-29 17:59] priests commented on #1749
@prodicus  Thanks !  :)

[2016-02-29 18:41] sudoankit commented on #1749
I have edited the install.rst file to and changed "max" to "Mac".
Should I give a PR?

[2016-02-29 18:44] Adrianzatreanu commented on #1749
Sudoankit, this issue seems to be assigned already to someone else. Can you pick another one please?

[2016-02-29 18:45] sudoankit commented on #1749
Okay, but the issue is fixed.

[2016-02-29 18:53] sudoankit commented on #1738
Can I will work on this?

[2016-02-29 18:58] aayn commented on #1748
@sils1297 Can you please elaborate on how to reproduce this? I must be missing something.

[2016-02-29 19:01] sils1297 commented on #1748
I don't know it.

[2016-02-29 19:03] sudoankit commented on #1544
Can I work on it?
Guide me into the codebase, I'm new here.

[2016-02-29 19:04] sils1297 commented on #1544
you have to accept the org invitation

[2016-02-29 19:43] rubik commented on #1748
@aayn Yes, the new package overrides the old one. Then if you run coala you get the error message.

[2016-02-29 21:29] Makman2 commented on #1544
@/all though I would clarify beforehand if we want this, i've just seen that the short `x or y` version is in fact not the cleanest way, I should've added the tag "needs-info". Maybe we don't want a function but we just write/inline everywhere `default if x is None else x`?

[2016-02-29 21:32] Makman2 commented on #1738
@sudoankit you should've got an invitation, ping again here if you want the issue^^

[2016-02-29 23:23] #1741 closed

[2016-03-01 02:04] Makman2 opened #1754 "Provide coala support for setuptools"
Integrate a setup command so people can import and use it as an install/build step with setuptools.

[2016-03-01 02:05] Makman2 commented on #1754
Shall we open a new repository for it then @sils1297 ?

[2016-03-01 02:05] Makman2 commented on #904
Alright, we have a repo for CMake scripts, setuptools should get another issue. And automake, I don't like it that much, so `wontfix/accepting-patches` for it since there's plenty of other things that need to get done.

--> Setuptools issue: #1754

[2016-03-01 02:05] #904 closed

[2016-03-01 03:18] sudoankit commented on #1738
I will try doing this. Assign me, please.

[2016-03-01 03:28] AbdealiJK commented on #1754
Well, isn't this pretty easy right now ? just make a build command, import coala and do `main()`
Pytest does the same FYI
I am wondering if there's a better method of doing this

[2016-03-01 03:31] sudoankit opened #1755 "Small typo in the travis.yml file."
The travis.yml file has a small typo error, on the commented second line of the file, in the language block.
[code]

[2016-03-01 04:06] AbdealiJK commented on #1738
Done

[2016-03-01 04:07] AbdealiJK commented on #1755
@sudoankit assigned you as you already have a commit for it

[2016-03-01 04:09] sudoankit commented on #1755
Pulling a request now.

[2016-03-01 04:11] #1734 closed

[2016-03-01 04:55] AbdealiJK opened #1757 "Mention commit style guide in newcomer"
Mention the commit style guide in the Newcomer page in docs

I think we should add an example commit message about typos (As it's the most popular newcomer issue)

[code]
would be nice

@Adrianzatreanu can you do this ?

[2016-03-01 04:56] AbdealiJK opened #1758 "Move git help to correct toctree"
The git help page should not be in `Users` as the user would never use git.

It should be in tutorials.

Simply need to move that line in `Index.rst`

[2016-03-01 05:51] #1755 closed

[2016-03-01 08:58] AbdealiJK commented on #1758
Assigning this to you as you have a PR for it ... Please tell us what youre going to solve so we can assign you !

[2016-03-01 09:27] mr-karan opened #1761 "Inclusion of venv in .gitignore"
Most of us work on `virtualenv` in Python but `.gitignore` has no `venv/` listed. Is there any particular reason for it ?

I know `venv` name is not compulsory to use but since Node, Bower etc have their packages listed under a fixed directory name so just a suggestion, if making `venv` a standard name for virtual environments in our project makes it easier for other people as well we can maybe ad

[2016-03-01 09:31] AbdealiJK commented on #1761
Nope, it should be added

On Tue, Mar 1, 2016 at 2:57 PM, Karan Sharma <notifications@github.com>
wrote:

[2016-03-01 09:33] mr-karan commented on #1761
Can I submit a PR for this then ?

[2016-03-01 09:34] AbdealiJK commented on #1761
@mr-karan You have already submitted 2 PRs for newcomer issues. I suggest you go on to `difficulty/low` and above from now on. ( Let newcomers solve newcomer issues :) )

[2016-03-01 09:36] mr-karan commented on #1761
Sure.

[2016-03-01 10:46] laxmena commented on #1761
Can I submit a PR for this?

[2016-03-01 10:48] AbdealiJK commented on #1761
Assigned you @laxmena

[2016-03-01 10:51] sils1297 commented on #1754
the best way of doing this is with a doc page IMO

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-01 4:28 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-01 10:51] sils1297 commented on #1738
@AbdealiJK why is it still open then? What happened?

[2016-03-01 10:52] AbdealiJK commented on #1738
What I meant by "Done" was that it was assigned to @sudoankit

[2016-03-01 11:20] mr-karan commented on #1761
While @laxmena is at this, it would be great if you could also do this in all Python dependent repos under `coala` organization.

[2016-03-01 11:22] AbdealiJK commented on #1761
Can you make appropriate bugs in the appropriate repos ? (only coala-bears
i think)

The more newcomer issues we have the better !

On Tue, Mar 1, 2016 at 4:50 PM, Karan Sharma <notifications@github.com>
wrote:

[2016-03-01 12:07] mr-karan commented on #1761
@AbdealiJK done. https://github.com/coala-analyzer/coala-bears/issues/135

[2016-03-01 12:32] hypothesist commented on #1693
I'd like to take this up.

[2016-03-01 12:42] arush0311 opened #1765 "Typo in from_clang_fixit method annotation in Diff class"
obejct is written instead of object

[2016-03-01 12:52] hypothesist commented on #1693
Make ignore itself regex-ified or create new key called `ignore_regex` (or maybe `ignore_globs`?)

[2016-03-01 12:56] AbdealiJK commented on #1693
the `Ignore` I mentioned isnt a setting, it is a comment you add above a line to ignore the line.
You'd need to add a new setting like `ignore_regex`. I dont see how ignore_glob makes sense ? It's a regex to select lines that need to be ignored ...
`ignore_globs` would imply the whole file matched by the glob - which is the default functionality of `ignore` setting in coafile.

[2016-03-01 13:09] #1739 closed

[2016-03-01 13:21] mr-karan opened #1767 "Typo in Install.rst"
In `docs/Users/Install.rst`

I think you mean _recent_ and not _decent_

[2016-03-01 13:33] mr-karan opened #1768 "Outdated section in Install.rst"
[This](http://coala.readthedocs.org/en/latest/Users/Install.html#generating-documentation) section assumes there's a file `docs-requirements.txt` but there's no such file in the latest version.
I think we should replicate / remove this section as it's already mentioned [here](http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Documentation.html)

[2016-03-01 13:52] arush0311 commented on #1419
Can you explain?

[2016-03-01 14:07] sudoankit commented on #1767
Should I look into this?

[2016-03-01 14:30] sudoankit commented on #1738
Adding the `UTF-8` encoding gives me -
[code]

So, yep, done.

[2016-03-01 14:49] Makman2 commented on #1693
We should maybe conside a general-purpose preprocessing-step like a preprocessing-bear that is responsible for cleaning away unneeded stuff. This would be especially nice for the LanguageToolBear and docstrings, since now it scans the complete code^^

[2016-03-01 14:58] Makman2 commented on #1768
https://github.com/coala-analyzer/coala/blob/master/docs-requirements.txt
Seems everything is valid, imo there's no need to change something. It makes sense that the installation is described shortly in both pages, **Writing Documentation** and **coala Installation**.

[2016-03-01 15:01] mr-karan commented on #1768
You linked to coala-analyzer/coala. But you're supposed to use `coala-bears` repo.

[source](http://coala.readthedocs.org/en/latest/Users/Install.html#installing-coala-from-source)

[2016-03-01 15:02] #1749 closed

[2016-03-01 15:05] Makman2 commented on #1419
Currently the only way we support renaming (and deleting etc) is via having a diff that deletes all lines in file A and append them again in file B. We want to have a simple flag or else that contains information like `renamed A to B`, so the user doesn't get the whole diff displayed which can be sometimes very huge.

[2016-03-01 15:11] Makman2 commented on #1767
This time I'll assign you again for another newcome issue since you already made a commit. Though please don't take up issues next time you aren't assigned to, especially no newcomer issues since this one is your third^^

[2016-03-01 15:12] Makman2 commented on #1767
So wait for a response from our side next time, okay? :)

[2016-03-01 15:13] arush0311 commented on #1419
Can you tell me where these renaming (and deleting) functionalities are incorporated?

[2016-03-01 15:18] Makman2 commented on #1768
Why coala-bears? The header says **coala Installation**.
Maybe we need also `docs-requirements` inside the coala-bears repo^^

[2016-03-01 15:19] AbdealiJK commented on #1738
@sudoankit can you make a PR so we can fix it ?

[2016-03-01 15:20] Makman2 commented on #1419
That's it, there aren't any. That's what this issue is about: creating those :3

[2016-03-01 15:21] AbdealiJK commented on #1693
@Makman2 I'm sorry but I did not understand your comment completely. This functionality would be in the post processing as we need to know the results to know which results to ignore.
We cannot remove the lines which have to be ignored as that may break code and syntax - which meant analysis will be invalid

[2016-03-01 15:22] mr-karan commented on #1768
Yeah either that. Because otherwise you would get an error like this:

![screenshot from 2016-03-01 20-50-05](https://cloud.githubusercontent.com/assets/5689132/13431446/6fb5f3c6-dfef-11e5-9ac6-28a87fb04cbf.png)

[2016-03-01 15:38] Makman2 commented on #1768
@sils1297 we use sphinx already to generate documentation out of docstrings, right?

[2016-03-01 15:39] Makman2 commented on #1768
If so we migrate this issue to coala-bears^^

[2016-03-01 15:40] AbdealiJK commented on #1768
So, the thing is in bears we do not generate API yet.
Maybe we should ? If we do, then it needs to be done in `coala` or else we'll have 2 sets of documentation for coala and coala-bears
Which gets confusing.

This brings me back to having a new repo for docs of all the repos in the org `coala-docs` to clean things up

[2016-03-01 15:41] Makman2 commented on #1693
Ah **`ignore_regex` is about the results not for the file contents**. Wasn't so obvious from the issue title and previous comments^^

[2016-03-01 15:42] Makman2 commented on #1768
I'm against outlining docstrings, that makes maintenance by far worse.

[2016-03-01 15:43] Makman2 commented on #1768
Okay since we don't generate them yet there's no need to add it as docs-prerequisites there.
@mr-karan since your pages mention coala installation and not coala-bears installation I would pledge for closing this issue as `invalid`.

[2016-03-01 15:46] AbdealiJK commented on #1693
I've updated the description with examples as two people have gotten confused (in 2 different ways !) by it.

[2016-03-01 15:52] #1688 closed

[2016-03-01 16:10] sils1297 opened #1771 "add neat little gif to readme"
yeah!

[2016-03-01 16:39] Makman2 opened #1772 "StringProcessing: Documentation typo"
https://github.com/coala-analyzer/coala/blob/master/coalib/parsing/StringProcessing/Core.py#L240

Change `escaped` to `escape`, since `\\` is the escape character, not an escaped one :)

[2016-03-01 18:02] sils1297 commented on #1767
actually I meant decent...

[2016-03-01 18:02] Makman2 commented on #1767
what does "decent" mean in that case? :O

[2016-03-01 18:04] mr-karan commented on #1767
Oh. My bad. `D` and `R` being close together and also the context somehow made me believe it's a typo. You can close this.

[2016-03-01 18:07] sils1297 commented on #1767
@Makman2 look it up in the dict. But apparently the wording is a bit weird so we can take the fix

[2016-03-01 18:08] Makman2 commented on #1767
I know what "decent" is, I just don't understand the context here...

[2016-03-01 18:10] sils1297 commented on #1767
well the versions before just aren't decent :P

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-01 19:08 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-01 18:14] Makman2 commented on #1767
yeah just, decent is not the best word in this case :3

[2016-03-01 18:19] sils1297 commented on #1767
then take the fix

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-01 19:14 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-01 18:51] SanketDG opened #1774 "Add a syncing section in git help"
Lots of newcomers have been asking on how to keep their fork/branch/PR in sync with upstream.
Might be helpful to add some info on how to do that.

difficulty/low

[2016-03-01 19:36] #1767 closed

[2016-03-01 19:36] #1738 closed

[2016-03-01 21:48] mr-karan commented on #1774
This might help : https://help.github.com/articles/syncing-a-fork/

[2016-03-01 22:56] Makman2 opened #1776 "We need to improve our getting started docs"
Many many people have problems with rebasing. We just need a little (not too explaining section, if someone wants explanation refer to our other guides) section with

[code]

[2016-03-02 02:02] #1758 closed

[2016-03-02 05:50] saurabhiiit commented on #1765
Can I submit a PR for this?

[2016-03-02 05:57] AbdealiJK commented on #1765
@saurabhiiit Assigning this to you.
I also notice you already have an open PR. I'd suggest you fix that first.

[2016-03-02 06:01] arush0311 commented on #1419
There can be line changes accompanying the rename also ?

[2016-03-02 06:14] arush0311 commented on #1419
And right now the modified and original properties return a list of lines. Should it be changed to a tuple containing (<rename string>,<deleted flag>,<list of lines>)?

[2016-03-02 06:14] arush0311 commented on #1419
And right now the modified and original properties return a list of lines. Should it be changed to a tuple containing (<rename string>,<deleted flag>,<list of lines>).

[2016-03-02 06:15] arush0311 commented on #1419
And right now the modified and original properties return a list of lines. Should it be changed to a tuple containing ([rename string],[deleted flag],[list of lines]).

[2016-03-02 07:36] yufw commented on #1772
Hi,

I am a newcomer and I have created a pull request fixing this typo.

[2016-03-02 07:46] sils1297 commented on #1772
Hi, I've invited you to our org. http://coala.readthedocs.org/en/latest/Getting_Involved/Newcomers.html might guide you the way towards getting your first contribution accepted.

[2016-03-02 08:08] srisankethu commented on #1776
@Makman2 Can I take this up?

[2016-03-02 08:18] saurabhiiit commented on #1765
@AbdealiJK  Thanks ... Sure I will fix the previous one first

[2016-03-02 08:30] AbdealiJK commented on #1348
I think asking the bear for possible values is a bit far fetched... Imagine a bear that gives 4 possible values - running coala 4 times on a project is a bad idea and would be too slow!
It is a nice method in theory, but really doesn't work out in practice.

I remember there is a linter which has settings guessing (css or js or html ? linters) [We have a bear for this linter]. We can see how they

[2016-03-02 08:32] sils1297 commented on #1348
I think jscs did it this way with it's checkers

[2016-03-02 09:16] mr-karan opened #1779 "Change regex doc link from Python 2 to Python 3"
http://coala.readthedocs.org/en/latest/Users/Tutorials/Linter_Bears.html

This link needs to be updated to https://docs.python.org/3/library/re.html

[2016-03-02 09:35] hypothesist commented on #1348
From the discussion on gitter, there are multiple approaches to solve this (I'll list all the solutions and bold the agreed upon one for documentation purposes):

* Running coala multiple times on the entire code base.
* Implementing a coalib library for bears to estimate the variations in code style and return back to the main program.
* Giving a single sample file (that is not a part of the code

[2016-03-02 09:46] hypothesist commented on #1348
We also discussed about having style packages for each language. For instance, in C/C++,

[code]

is called the K&R style. There are several alternatives like the GNU style:

[code]

the Allman style:

[code]

... and so on. We could prompt the user to choose one style and populate the coafile appropriately.

[2016-03-02 09:53] Adrianzatreanu opened #1780 "Move link to another line"
Right now, we have a link in the "meet the community" paragraph that overcomes the line length limit. We would like it on the next line, as this wont remove the aspect of the page.

[2016-03-02 10:15] hypothesist opened #1781 "Globbed in-line bear ignores"
Currently when the user gives `# Ignore SpaceConsistencyBear`, that bear does not execute on the line below. I think it would be an useful feature to allow the user to mention globs such as
`# Ignore (Py*Bear | Space*)` which will ignore all the python bears and the space consistency bear.

[2016-03-02 10:52] Adrianzatreanu opened #1782 "Replace old link"
Right now we are using in the Newcomers document page an outdated link. We would like to replace it with this one : http://coala.readthedocs.org/en/latest/Users/Tutorials/Git_Help.html , as this is newly written.
The link to be replaced is in Start working section, at the end.

[2016-03-02 10:56] hypothesist commented on #1781
@sils1297 should we consider renaming `ignore` for ignoring inline? It is an awfully common word in comments in a code and it is matching way too many unnecessary lines, slowing it down (it would match quite a lot if you run it on a huge code base). `start ignoring` and `stop ignoring` are good, but how about `ignore` -> `ignore_bears` or something like that?

[2016-03-02 10:59] Adrianzatreanu opened #1783 "Double backticks missing"
I think that in our Newcomers document page, the ``Pull Request`` syntax should be more important . We should caption it using double backticks, so it gets shown as code. Prefferably, this should be done all over the document.

[2016-03-02 11:03] sils1297 commented on #1781
the reason we have this so it reads natural, let's not destroy it. Come up with a concrete example where it'd slow it down?

[2016-03-02 11:03] sils1297 commented on #1781
/me doesn't see a problem yet

[2016-03-02 11:06] hypothesist commented on #1781
Even in coalib, it comes up over 10 times (I know it's not much, but it could potentially be) when there isn't a legitimate use. But yeah, I agree it's natural.

[2016-03-02 11:15] hypothesist commented on #1781
@sils1297 Another decision to make: let it be `# Ignore Line*,Space*` or make that glob-format (i.e. `# Ignore (Line*|Space*)`). The first option is natural and simple while the second is more standardardized.

[2016-03-02 11:17] sils1297 commented on #1781
both will be possible right now because before the globbing is applied at least currently the comma splitting should be done

[2016-03-02 13:04] #1765 closed

[2016-03-02 13:08] srisankethu opened #1786 "docs/User/install.rst: Minor changes"
In the note section after Alternate Installation:

1. change pip -> pip3
2. highlight command properly

![screenshot from 2016-03-02 18 38 45](https://cloud.githubusercontent.com/assets/12644108/13461161/eccc3e36-e0a5-11e5-89df-fb4a9221cabc.png)

difficulity/newcomer

[2016-03-02 13:10] saurabhiiit commented on #1786
@srisankethu Can you assign me this?

[2016-03-02 13:11] SanketDG commented on #1774
Also, this should be linked to, https://asciinema.org/a/11269

[2016-03-02 13:11] srisankethu commented on #1786
Ask @AbdealiJK to assign this issue to you. It seems you aren't assigned to any issues right now, so I think you can  do this

[2016-03-02 13:12] AbdealiJK commented on #1786
@saurabhiiit You've done more than 2 newcomer issues. Could you leave newcomer issues to newcomers and start doing `difficulty/low` or higher issues from now on ?
We prefer if a person doesnt do more than 2 newcomer issues so that other newcomers get a chance too !

You're completely ready to tackle more difficult issues :)

[2016-03-02 13:14] saurabhiiit commented on #1786
@AbdealiJK I have done only commit of newcomer which I finished 5 minutes back

[2016-03-02 13:15] AbdealiJK commented on #1786
Ouh, alright then - my mistake (Thought I saw your name multiple times)

Assigning this to you @saurabhiiit

[2016-03-02 13:16] saurabhiiit commented on #1786
@AbdealiJK Thank you

[2016-03-02 13:25] SanketDG opened #1788 "Frequent Errors in CI regarding CoalaDbus"
https://circleci.com/gh/coala-analyzer/coala/5227

CC @AbdealiJK

[2016-03-02 13:31] arafsheikh commented on #1774
@SanketDG I don't think that fits in this issue. I'll open a different issue for adding a commit squashing section.

[2016-03-02 13:34] arafsheikh opened #1789 "Git_Help.rst: Add a section explaining commit squashing"
As @SanketDG pointed out this can be used: https://asciinema.org/a/11269

`difficulty/low`

[2016-03-02 14:09] SanketDG opened #1790 "Add docs to norecursedirs in pytest config"
Lots of RST files are being taken in as tests, they should be ignored.
See here, https://circleci.com/gh/coala-analyzer/coala/5242

As for the doctests in `docs/Users/Glob_Patterns.rst`, they should be moved to the actual python function's docstring instead.

[2016-03-02 14:12] AbdealiJK commented on #1790
RST files are added on purpose because they contain doctests.

[2016-03-02 14:14] AbdealiJK commented on #1790
I'm closing this, as I'm fairly sure we want that (Im the one who added it)
Reopen if you think something's still wrong

FWIW Theres currently 1 .rst file which has doctests - Globbing i think

[2016-03-02 14:32] #1781 closed

[2016-03-02 15:47] SanketDG commented on #1790
@AbdealiJK Oh. This is why only one passed. :smile:

Can we not put those doctests in the `fnmatch()` function itself?
Having tests in docs is okay, but we do have a better option.
Besides, its general practice to put in doctests in docstrings.

[2016-03-02 15:49] AbdealiJK commented on #1790
@sils1297 comments on that ?
Now that we have api docs it does make sense to remove the globbing tutorial and just like the Globbing module's api doc

[2016-03-02 15:55] #1786 closed

[2016-03-02 17:14] Makman2 commented on #1419
I don't know maybe create a new property like `renamed`. This issue is at least `difficulty/medium`, so you have to come up with something :)

[2016-03-02 17:33] sils1297 commented on #1790
Yeah we should deduplicate

[2016-03-02 17:37] Makman2 commented on #1780
Which file?

[2016-03-02 17:49] AbdealiJK commented on #1780
Well, he's mentioned a "meet the community" para ... but not which file the
paragraph exists in.

On Wed, Mar 2, 2016 at 11:07 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-02 18:24] Makman2 commented on #1416
@souravsingh still on it?

[2016-03-02 18:32] souravsingh commented on #1416
@Makman2 I am still on the issue.

[2016-03-02 18:47] Makman2 commented on #1416
@souravsingh nice just wanted to check this one doesn't get stale :+1:

[2016-03-02 20:13] priests commented on #1782
Can I take this up?
It's the git link in Start Working section that comes later in the page. Right?

[2016-03-02 20:18] abhsag24 opened #1792 "LanguageDefinition: Raises FileNotFoundError for c.coalang"
Running the following code
[code]
gives the following error

[code]
this is a bug
now i think this happens because we use `coalib_root=os.path.join(os.path.dirname(__file__),os.path.pardir)` inside Constants.py i am not sure, maybe somebody can confirm that

[2016-03-02 20:21] sils1297 commented on #1782
@priests you've already contributed haven't you? Don't strive to do something cool?

[2016-03-02 20:22] priests commented on #1782
@sils1297   I've done one newcomer issue. Should move up the difficulty level ?

[2016-03-02 20:26] sils1297 commented on #1782
sure take difficulty/low, also look at the coala-bears repo, over there
there are lots of cool things that are post-newcomer friendly :)

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-02 21:22 GMT+01:00 priests <notifications@github.com>:

[2016-03-02 20:28] priests commented on #1782
:smile: :+1:

[2016-03-02 21:32] Adrianzatreanu commented on #1780
@ the newcomer page, my bad :)

[2016-03-03 05:41] AbdealiJK commented on #1708
Moved to https://github.com/coala-analyzer/PyPrint/issues/31

[2016-03-03 05:41] #1708 closed

[2016-03-03 05:45] abhsag24 commented on #1792
on further investigation, the coalang file is not there in the build? so its not the fault of `coalib_root` may be it isn't copied during the setup?

[2016-03-03 05:51] AbdealiJK commented on #1792
Actually, I think we need to add the coalang files in `setup.py` as `package_data`

Normally setuptools only copies the .py files in a module. All other types of files need to be added into data_files or package_data
Like how VERSION has been added

[2016-03-03 06:04] abhsag24 commented on #1792
@AbdealiJK yeah it works now, i'll send a PR

[2016-03-03 07:18] #1772 closed

[2016-03-03 08:27] theaverageguy commented on #1789
Working on it.

[2016-03-03 08:29] arafsheikh commented on #1789
@theaverageguy I think this is already being done here #1791

[2016-03-03 08:56] theaverageguy commented on #1754
Is it open? Please assign me this. :)

[2016-03-03 09:49] #1792 closed

[2016-03-03 10:22] sils1297 commented on #1776
isn't this issue clashing with https://github.com/coala-analyzer/coala/issues/1774 ? I'd categorize it as a duplicate which is a little unfortunate since work on both issues has started already.

[2016-03-03 10:27] #1776 closed

[2016-03-03 10:27] sils1297 commented on #1776
@srisankethu sorry for wasting your time, this should have been detected earlier :/

[2016-03-03 11:13] AbdealiJK commented on #1789
No, that PR has been canceled.
@theaverageguy assigning you

[2016-03-03 11:25] sils1297 commented on #1789
@theaverageguy stop working on this for now please. I think this should be done after or as part of https://github.com/coala-analyzer/coala/pull/1775.

[2016-03-03 11:26] AbdealiJK commented on #1789
@theaverageguy unassigning you because @sils1297 says so + youre working on way too many issues at the same time

[2016-03-03 11:42] srisankethu commented on #1642
@sils1297 Is this open?

[2016-03-03 11:48] sils1297 commented on #1642
@srisankethu just read the discussion, we're not sure yet what we want here yet

[2016-03-03 11:48] #1774 closed

[2016-03-03 11:49] srisankethu commented on #1642
@sils1297 Ok I thought you might have come up to some conclusion on this issue

[2016-03-03 11:50] sils1297 commented on #1642
If the conclusion isn't here it doesn't exist

[2016-03-03 17:43] swatilodha commented on #1780
I would like to fix this issue.

[2016-03-03 18:01] saurabhiiit commented on #1789
Can I submit PR for this ?

[2016-03-03 19:34] tushar-rishav commented on #462
@sils1297  Is this fixed?

[2016-03-03 19:40] sils1297 commented on #462
Still not why keep people thinking that :P

[2016-03-03 19:43] tushar-rishav commented on #462
@sils1297  Great! I'll give a try!

[2016-03-03 21:09] Makman2 commented on #1776
@sils1297 #1174 refers to git help, not to the newcomer guide^^

[2016-03-03 21:12] Makman2 commented on #462
@tushar-rishav this will get fixed when I'm done with the next-gen-core design, that's what my statement refers to (have forgotten to write that). I think I can block this issue, right @sils1297 ?

[2016-03-03 21:17] tushar-rishav commented on #462
@Makman2 Ah. Cool!

[2016-03-03 21:18] Makman2 commented on #462
blocking that issue, see #933.

[2016-03-04 02:39] AbdealiJK opened #1796 "Remove node_modules from circleci cache"
The circle.yml has a cache with node_modules. We should remove that as it's no longer needed

[2016-03-04 04:36] abhsag24 opened #1797 "replace spaces with '_' in coalang files"
so our ConfParser treats keys with spaces as two different keys, so we should replace the spaces in our coalang keys with an underscore

[2016-03-04 04:41] abhsag24 commented on #1797
as @AbdealiJK  suggested on gitter we could also just escape the spaces so `key1\  key2` is named `key1 key2`

[2016-03-04 09:44] #1797 closed

[2016-03-04 10:12] hypothesist commented on #1348
I reasearched similar features implmented elsewhere for more approaches we can discuss:

* [jscs](https://github.com/jscs-dev) - They have gone with [approach 1](https://github.com/jscs-dev/node-jscs/issues/797) - basically run the linter for each preset (in their project, a preset is a pre-defined set of rules) and get the violations for each. They display this to the user and allow them to choos

[2016-03-04 10:53] AbdealiJK opened #1800 "Version conflict coala and coala-bears"
The problem is that coala-bears sometimes (many times?) needs the dev version of coala. Now, when we use the git version and try installing things, it gets messed up because the git has `dev0` which is lower than the current nightly release. This is conceptually wrong as the latest thing in git is the latest most beta version of coala.

So, the fix for this could be to just change the version in `

[2016-03-04 11:03] hypothesist commented on #1800
If you still face this error after changing `VERSION`, run
```$ rm coala.egg-info```

[2016-03-04 11:05] AbdealiJK commented on #1800
AH. you need to do `pip install -U .`
The -U is needed to force pip to upgrade the coala

On Fri, Mar 4, 2016 at 4:33 PM, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-03-04 13:18] sils1297 opened #1802 "Add this text to readme"
[code]

@AbdealiJK @fneu I think we should put this up front in the readme somewhere, agreed?

[2016-03-04 13:33] SanketDG commented on #1790
Reopening based on the above info

[2016-03-04 13:36] AbdealiJK commented on #1802
We should add an Introduction section and put this - yeah

On Fri, Mar 4, 2016 at 6:48 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-04 14:48] SanketDG opened #1803 "Lint: Refactor prerequisite checking"
Currently, there is only checking for the executable. But some lint bears need to run a command as a prerequisite. So we will have two functions now

* `check_executable` for checking the executable
* `check_command` for checking the prerequisite command and returning the proper message as given by `prerequisites_fail_msg`

Part of https://github.com/coala-analyzer/coala-bears/issues/146

[2016-03-04 15:24] AbdealiJK commented on #1549
@pavithirakc Are you still working on this ? It's been nearly 2 weeks. Do you need help with something ?

[2016-03-04 15:29] Adrianzatreanu commented on #1588
@aayn Hey, it seems that you havent been active on this issue for the past 10 days. Are you still working on this, do you need some help :) ? Ping us if you do, would love to help you !

[2016-03-04 15:33] Adrianzatreanu commented on #1630
Hey @souravsingh . It seems its been a few days since you have last answered our reviews. Do you need some help? Please feel free to ping us on https://gitter.im/coala-analyzer/coala, as @sils1297 said, or ask here! Id love to help.

[2016-03-04 15:35] AbdealiJK commented on #1636
@CruiseDevice you still working on this ? Do you need any help ? Been a while since there's been any activity

[2016-03-04 16:23] tushar-rishav commented on #1800
Nice. Much needed. :smile:

[2016-03-04 16:59] AbdealiJK opened #1805 "Dirs for cache and configs"
I think we should use https://pypi.python.org/pypi/appdirs/1.4.0 instead of defining our own stuff for config dirs and storage of things like tags.
Looks useful and easier to work with

[2016-03-04 17:00] sils1297 commented on #1805
yes! Sounds good.

[2016-03-04 18:19] Makman2 commented on #1588
@Adrianzatreanu this issue is blocked together with #1614, I need to fix the shell stuff I introduced that got reverted again^^ Though this requires Lint refactors, that's why I'm completely refactoring the Linter class according to #1703.

[2016-03-04 18:19] Makman2 commented on #1588
takes still a bit of time

[2016-03-04 18:25] Makman2 commented on #1805
Something else except for tags we need to consider?

[2016-03-04 19:53] #1514 closed

[2016-03-05 04:45] AbdealiJK opened #1806 "Use pip's parser for requirements"
Pip apparently has a parser to parse requirements.txt and to be used in setup.py

http://stackoverflow.com/questions/14399534/how-can-i-reference-requirements-txt-for-the-install-requires-kwarg-in-setuptool

We should use that.

[2016-03-05 07:29] hypothesist opened #1807 "Mention `bear_dirs` in `icollect_bears` is a glob in documentation"

[2016-03-05 07:58] hypothesist commented on #1807
Also change the variable name from `bear_dirs` to `bear_dir_glob` as it is more appropriate.

[2016-03-05 11:57] sils1297 commented on #1806
what's the advantage?

[2016-03-05 12:27] AbdealiJK commented on #1806
It's standardized.
Although it's a very simple function - always good to use a standard method available from the package manager itself :)

[2016-03-05 12:29] AbdealiJK commented on #1806
Not sure if this complicated things though.
Does `pip` become a "requirement" ? Is pip already a requirement ? Can we use easy_install for installing coala right now ?
I've never used python without pip - so, not sure.

[2016-03-05 12:30] tushar-rishav commented on #1806
@AbdealiJK Following our discussion on last PR, should we close this issue too?

[2016-03-05 12:40] AbdealiJK commented on #1806
@tushar-rishav yes.
closing it

[2016-03-05 12:40] #1806 closed

[2016-03-05 13:29] Adrianzatreanu commented on #1549
unassigned due to inactivity.

[2016-03-05 13:31] Adrianzatreanu commented on #1630
unassigned due to inactivity.

[2016-03-05 13:33] Adrianzatreanu commented on #1636
unassigned due to inactivity.

[2016-03-05 14:01] souravsingh commented on #1802
I would like to work on this.

[2016-03-05 14:04] sils1297 commented on #1802
@souravsingh note that we haven't fully agreed on how this should look like, the PR might well need a few revisions

[2016-03-05 14:08] souravsingh commented on #1416
@Makman2 I have a doubt. Do we simply move the tests to ``ContextManagersTest.py`` or we have to add something else?

[2016-03-05 14:26] Adrianzatreanu commented on #1747
Hey @prodicus , are you still working on this :) ? Im asking since it's been a few days since you last worked on your PR, please ping us if you're still here :) !

[2016-03-05 15:58] Makman2 commented on #1416
just moving them :+1:

[2016-03-05 16:07] Makman2 opened #1811 "coalang-facility: Get rid of `language_family`"
Providing the language only identifies a programming language completely, there's no need for having `language_family`.

[2016-03-05 16:33] Adrianzatreanu commented on #1782
labeling this high as we really need to do this asap, since we are planning to remove the other link. *in case its not removed already*

[2016-03-05 16:34] AbdealiJK opened #1812 "Use InvalidLinkBear in docs"
Add InvalidLinkBear in the docs. Maybe in a disabled section ?
so that issues like https://github.com/coala-analyzer/coala/issues/1782 can be avoided

[2016-03-05 16:37] srisankethu commented on #1636
@Adrianzatreanu Can I take this up if its ok!

[2016-03-05 17:07] aachiritoaei commented on #1782
@Adrianzatreanu Can I take this one? As far as I can see, the old link is already broken.

[2016-03-05 17:09] AbdealiJK commented on #1782
@aachiritoaei ive sent you an invitation to the coala organization on github so we can assign this to you

[2016-03-05 17:29] Adrianzatreanu commented on #1782
Assigned you! welcome to our org :) feel free to contact us on gitter if you encounter any issues, people will be glad to help

[2016-03-05 17:31] sils1297 commented on #1782
https://gitter.im/coala-analyzer/coala

[2016-03-05 17:32] Adrianzatreanu commented on #1782
he already said Hello World to our gitter a few days ago, i remember him, so i supposed he knew the link :p

[2016-03-05 18:19] #1782 closed

[2016-03-06 05:53] AbdealiJK commented on #1797
Just a note: We finally went with underscores as it was easier to read rather than escaping. Also, as no bears use coalangs yet, it doesnt break coala-bears

The related PR is https://github.com/coala-analyzer/coala/pull/1815

[2016-03-06 05:56] AbdealiJK opened #1816 "Add docs for coalang"
coalang seems to be becoming more and more popular right now.
We have 2 issues blocked by it and it will probably become popular as we've depleted the list of linter based bears we want.

We should document it properly (once it actually stabilizes to some extent). I find lots of questions coming up about it in gitter.

@abhsag24 @hypothesist would love to know whether you think coalang is stable e

[2016-03-06 06:00] hypothesist commented on #1816
@AbdealiJK Currently there are zero bears using coalang. So it's in a very volatile stage, I'd say (there is an open issue to change the whole structure, I just made a PR to change from spaces to underscores everywhere, ...). I think we should wait just a bit more before putting it in the official docs since it may change frequently.

[2016-03-06 06:09] hypothesist opened #1817 "Using JSON for configuration files"
Would it be better to use JSON for configuration files instead of a text file that needs to be parsed?

[2016-03-06 06:13] AbdealiJK opened #1818 "Using json for coalang"
An independant observation from https://github.com/coala-analyzer/coala/issues/1817
Even if we do not want config files in json, we may want coalang to be in json.
I think json would be nicer because it gives structure. I do not know whether it's needed though.

Also, tmLangauge has a parser to convert it into json (atom uses it for it's language files).
We may want to use json because this would

[2016-03-06 06:16] AbdealiJK commented on #1817
just a note that there's also an earlier issue for yaml https://github.com/coala-analyzer/coala/issues/795

Also, more python folk prefer ini I guess. Tox uses ini based, setup.cfg uses ini based. Python has a module named configparser which is also ini based.

BUT: As coala is language agnostic I see no reason to cater specifically to pythonistas :)

I guess json is JS ... but it's popular enough

[2016-03-06 06:35] abhsag24 commented on #1816
@AbdealiJK we do package it now, bear writers may go ahead and use it without the documentation anyway , i say we document it, but advise the bear writer that this is subject to change

[2016-03-06 06:54] abhsag24 opened #1819 "Add += operator in config files"
so right now sections inherit settings from the "Default" section but only have the option to overwrite them, it'd be cool to have a `+=` operator to append to these settings rather than overwriting them

[2016-03-06 07:04] AbdealiJK commented on #1819
I was thinking about this, and it seems to be more complicated than I thought.
It may not be worth it.

If this is done:
 - When we do `coala -f file.html` the file.html will be added to all the sections that use `+=`
 - It may be difficult to get ConfWriter to support this smartly. Because it wouldn't know when to use `+=` and when to use `=`. We may just want confwriter to dumbly use `=` everywh

[2016-03-06 08:02] srisankethu opened #1821 "remove bears/test in Writing_Tests.rst"
`bears/tests` does not exist->https://github.com/coala-analyzer/coala/blob/master/docs/Getting_Involved/Writing_Tests.rst

difficulty/newcomer

[2016-03-06 08:07] srisankethu commented on #1636
Why did Scrutinizer fail? -> https://github.com/coala-analyzer/coala/issues/1820

[2016-03-06 08:51] arush0311 commented on #1805
Can I work on this?

[2016-03-06 09:04] sils1297 commented on #1817
We could add support for JSON easily I guess, I think we still should support INI like files, they're less verbose in general, less stuff to type

[2016-03-06 09:15] sils1297 commented on #1816
Agreed
On 6 Mar 2016 7:35 a.m., "Abhay Raizada" <notifications@github.com> wrote:

[2016-03-06 09:20] sils1297 commented on #1819
IMO it's important that a coafile always and only deals with strings. They may be interpreted in the end.

 Settings from CLI should always use =.

One huge concept this would introduce is that settings may actually rely on the order of definition.

[2016-03-06 09:23] AbdealiJK commented on #1821
We need to mention it's in `tests` folder in coala-bears repo and also in `tests` folder in coala repo.
They were moved recently and the docs have not been changed to reflect this move

[2016-03-06 09:24] hypothesist opened #1822 "Do not display 'Open in editor' after 'Apply the patch automatically' option, if patch application suceeds"
Example: SpaceConsistencyBear

[2016-03-06 09:37] AbdealiJK commented on #1805
@Makman2 this would only affect tags right now
@arush0311 Ive assigned you

[2016-03-06 09:38] AbdealiJK commented on #1816
Unblocking it then

[2016-03-06 10:39] sils1297 commented on #1822
you mean *after* patch application succeeds? Don't we do it already? I think we don''t show it if there's a conflict.

[2016-03-06 10:41] AbdealiJK commented on #1822
he meant:

Do not display 'Open in editor' adfter 'Apply the patch automatically' option, if patch application suceeds

[2016-03-06 10:42] hypothesist commented on #1822
http://asciinema.org/a/bxxeml0m1d48cfy2czswmatm9

Example

[2016-03-06 10:44] AbdealiJK commented on #1822
Basically, if a patch has successfully been applied, he does not want to again press 0 to move on to the next result.
he things that if the patch applied successfully coala should ask the user to do anything else.

[2016-03-06 10:49] sils1297 commented on #1822
So our action design is quite generic, I guess we'll want to give actions the possibility to return something that tells us "the user is unlikely to want to do another thing with this result" and in that case we should auto-end the interactive session for this result.

[2016-03-06 11:06] aayn commented on #1748
@AbdealiJK Can you please 'deassign' me from this? I suddenly have 5 assignments, and exams after that. I'll be a bit inactive for a few days.

[2016-03-06 12:44] hypothesist opened #1824 "Add descriptions to coalang keys"
https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/languages/definitions/__init__.py is currently undocumented.

[2016-03-06 13:15] Adrianzatreanu commented on #1780
@swatilodha hey. it seems you have already closed 2 PRs. Are you still working on it? do you need some help? feel free to message us on https://gitter.im/coala-analyzer/coala

[2016-03-06 13:16] sils1297 commented on #1780
or #coala on freenode if that's better for you

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-06 14:15 GMT+01:00 Zatreanu Adrian-Gabriel <notifications@github.com

[2016-03-06 13:21] #1636 closed

[2016-03-06 14:47] srisankethu opened #1825 "coala shouldn't store previous input values in case of failed execution"
Noticed case:

I tried opening affected files in an editor.I gave an invalid editor name and the execution failed.But when I tried to open the editor again, i get an error because coala takes in the 'number of action' and applies it to check the editor name.

[2016-03-06 15:21] #1789 closed

[2016-03-06 15:59] Makman2 commented on #1818
Is an idea. But the advantage I see with our configuration-format is the inheritance of the "Default" section. This avoids duplication^^ Though for our language features this topic is complicated anyway, because the structures get more complicated (like with `language_family` that is in fact not needed but used for grouping these default-settings)...

[2016-03-06 16:02] Makman2 commented on #1817
That's why I also favor our current config format, JSON is much more verbose. Also we don't need nested constructs like JSON offers^^
But yeah JSON support should be possible anyway :+1:

[2016-03-06 16:02] sils1297 commented on #1818
I'm against JSON here

[2016-03-06 16:03] sils1297 commented on #1818
it's too verbose

[2016-03-06 16:05] Makman2 commented on #1819
Thinking like @sils1297.
For me the need has never arisen to use `+=` on a setting btw^^

[2016-03-06 16:06] Makman2 commented on #1816
At least my doc-extraction stuff works very good, there won't change much inside the current stuff.

[2016-03-06 16:09] Makman2 commented on #1818
@sils1297 But maybe the nesting-support is worth it^^

I would say: On demand
Since we don't use coalang files really and this is in a developing stage, changing this is just work without gaining something. If someone needs nesting-like functionalities he/she shall work out a concept then^^

[2016-03-06 16:11] Makman2 commented on #1824
What keys are missing?

[2016-03-06 16:11] hypothesist commented on #1824
The _descriptions_ of the keys is missing, not the key itself.

[2016-03-06 16:12] hypothesist commented on #1824
Something like what `names` is, `extensions` is, ... (it's a new-comer issue I think)

[2016-03-06 16:13] Makman2 commented on #1825
so for clarification:
After a failed OpenEditorAction, the editor-name is saved for the next try. So i if the user retries now, he isn't asked for the editor again and coala tries to reopen the invalid editor again, which immediately leads to failing again.

[2016-03-06 16:13] Makman2 commented on #1824
Ah sorry, yeah that's good :+1:

[2016-03-06 16:14] srisankethu commented on #1825
Yes!...Can you assign this to me?

[2016-03-06 16:16] sils1297 commented on #1818
there has been no demand for JSON so far, can we close as wontfix accepting patches?

[2016-03-06 16:32] SanketDG opened #1827 "Follow up section of Git Help in docs needs to be reworded."
http://coala.readthedocs.org/en/latest/Users/Tutorials/Git_Help.html#follow-up

Instead of PR rejection, the point of having commit reviews and re-iterations of the PR should be mentioned.

[2016-03-06 19:40] sils1297 commented on #1268
@sudheesh001 any news on this?

[2016-03-06 22:27] Adrianzatreanu commented on #1812
do we want to avoid situations like that? they are newcomer issues :p

[2016-03-06 23:29] Makman2 opened #1830 "Docs do not build"
The badge is displayed in red which signals an error for me, but the latest docs means everythings alright. We should change color^^

[2016-03-06 23:40] Makman2 opened #1831 "Windows: coala doesn't find coala-bears"
Installed/upgraded stuff as usual: (On Windows pip3 = pip)
`pip install coala coala-bears --upgrade --pre`
Installing succeeds, but using this coafile on coala-tutorial:
[code]
Says
[code]
as you can see git is dirty, but that's only the .coafile:
[code]

Can anyone confirm this?

[2016-03-06 23:43] Makman2 commented on #1831
Btw that's for Windows 10, either `cmd`, `powershell` or the GitHub app's git-shell.

[2016-03-06 23:53] niraj8 opened #1832 "Windows: cannot run bears in the tutorial"
I tried initialising the .coafile using the command
```coala --files=src/\*.c --bears=SpaceConsistencyBear --save```

here's the output after running the above command.
[code]

Here's the output from ```coala -L DEBUG``` command -
[Debug Output](https://nirajftw.cozycloud.cc/public/hastebin/BtnSytDe)

[2016-03-06 23:55] Makman2 commented on #1832
Confirmed

We need to settle this before the next release.

[2016-03-07 01:49] AbdealiJK commented on #1830
How do we do this though ?

[2016-03-07 01:52] AbdealiJK commented on #1832
I think this is again a problem that we do not open the file in utf8.

Would adding that `*~ utf-8 ~*` thing on top fix this ? (Its meant for source code, not other files i guess ?)
If not, We need to add encoding="utf-8" for all places we use `open()`.

[2016-03-07 01:55] AbdealiJK commented on #1832
Just saw the traceback and realized this is a pyprint issue because we added the dot character for spaces

[2016-03-07 01:58] AbdealiJK commented on #1831
Hey, does pytest work for you on windows ? (I ask because this would ensure that custom entry-points works fine there)
Second: Can you run `collect_registered_bears_dirs('coalabears')` and check the output ? print out things inside the loop and check which all eps are being found by `pkg_resources`

[2016-03-07 02:13] AbdealiJK opened #1833 "Integration test for entry_point detection"
We need a good integration test for coala-bears detection.
I had tried to make a temporary pip repository and install that, and finally use that - but it just failed i too many places. I gave up after a day of hacking.

Would be great if someone else took a shot at it and see what happens.

Essentially we'd like to remove the `tests/test_bears/` and make it into an own pip package which is install

[2016-03-07 02:14] AbdealiJK commented on #1833
This is needed to avoid issues like https://github.com/coala-analyzer/coala/issues/1831

[2016-03-07 02:21] AbdealiJK commented on #1268
Notice that this is actually an issue others face too http://stackoverflow.com/questions/34551625/pgmpy-build-error-anaconda-windows .

I am thinking that conda doesnt seem to be sourcing the virtualenv correctly. Possibly a conda bug ?

@abit2 dont you ahve to activate the new conda env you create ? you dont seem to be doing it at http://pastebin.com/sh7znSXQ

[2016-03-07 02:22] AbdealiJK commented on #1827
I agree. We should mention "improvements to your PR will be suggested" as its more positive.

[2016-03-07 02:25] AbdealiJK commented on #1819
@Makman2 @sils1297 FYI this came up in the case of C/C++ in coalang
where a LOT of keywords are common, but things like `try` are not in C but are there in C++

It's repetitive to add the same keywords for C, C++, C#, Objective-C
Also similar for ruby1.x ruby 2.x
Python 2.x, Jython, Python 3.x, etc etc etc

[2016-03-07 02:28] AbdealiJK commented on #1818
You closed this issue too soon ...
@hypothesist suggested json would be more useful. I'm not familiar with coalang, but he seemed to think it'd be useful to use json.

So, there was demand on gitter and hence the issue was opened.
@hypothesist could you elaborate on why you think json might be better here ?

Reopening for now.

[2016-03-07 05:08] abit2 commented on #1268
notice the [conda] in brackets @AbdealiJK

[2016-03-07 05:15] AbdealiJK commented on #1268
@abit2 - I'm guessing you mean [coala] ?

But yeah, it's there. Sorry, I got confused between `lenovo@admin MINGW64 ~` and `C:\Users\lenovo\Desktop>`.
Shouldnt this be [coala1] as thats what you named the virtualenv in `conda create --name coala1 python=3` ?

Secondly - so it seems conda auto enables the virtualenv. Is this right ?
If yes, could you try to activate it yourself using `activate <ven

[2016-03-07 08:04] niraj8 commented on #1830
@sils1297 can change preferences on readthedocs.

[2016-03-07 09:36] sils1297 commented on #1812
I think we want to avoid not working links because they are bad. You can
live with typos but links that don't work... if it's a redirect that's
another story.

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-06 23:27 GMT+01:00 Zatreanu Adrian-Gabriel <notifications@github.com

[2016-03-07 10:19] sils1297 commented on #1819
I totally see the usecase, but it defies the nature of a configuration file being static.

[2016-03-07 10:24] sils1297 commented on #1830
wow actually it's red because it fails! https://readthedocs.org/projects/coala/builds/

[2016-03-07 10:24] sils1297 commented on #1830
if somebody has time to look at this (@WJCode?) please step up ASAP, we should fix that for the release

[2016-03-07 10:38] charizard42 commented on #1811
i want to work on this

[2016-03-07 13:23] WJCode commented on #1830
It seems that this is has been happening recently with readthedocs. See [here](https://github.com/rtfd/readthedocs.org/issues/2002). I triggered a build manually and it [passed](https://readthedocs.org/projects/coala/builds/3793570/).

Apart from the recent 6 failures in the list of builds, there was just a single build that had the same error almost [2 weeks back](https://readthedocs.org/projects

[2016-03-07 13:26] AbdealiJK commented on #1830
This seems to be a bug on their side because the API is giving a 500 error ?

[2016-03-07 13:26] WJCode commented on #1830
Yes, our docs seem to be fine

[2016-03-07 13:30] sils1297 commented on #1830
so we should keep watching https://github.com/rtfd/readthedocs.org/issues/2002 and our build status, manually retrigger if needed

[2016-03-07 13:46] WJCode commented on #1830
Yes, I agree. I hope they are able to find and fix the issue soon.

[2016-03-07 13:48] AbdealiJK opened #1835 "Logo in wiki seems wrong"
Logo in wiki

https://github.com/coala-analyzer/coala/wiki
is not the same as
https://github.com/coala-analyzer/coala-artwork/blob/master/artwork/logo/logo.txt

A fair number of lines are different (i.e. slightly differently aligned)
I do not know which is correct :/

Can someone correct this ?

[2016-03-07 13:49] sils1297 commented on #1835
fixes

[2016-03-07 13:49] #1835 closed

[2016-03-07 13:49] sils1297 commented on #1835
https://github.com/coala-analyzer/coala/wiki/Home/_compare/9f654f0cfc724c0292cea8b6cdc14e67480da4bc...f1e518251ec398651211e5846624ce45fa425946?diff=unified

[2016-03-07 18:49] Makman2 commented on #1831
1.
py.test does work (though some tests fail in coala-bears and coala, but that's because of my machine).

2.
[code]
The path is valid, inside this one all bears are located :+1:

[2016-03-07 20:27] sudheesh001 opened #1838 "Add option to run coala while ignoring the coafile"

[2016-03-07 21:08] Makman2 opened #1839 "DbusTest is failing when executing twice"
Lately Dbus doesn't like me any more :/
https://gist.github.com/Makman2/eb68dde025995ad270b4

CC @AbdealiJK

[2016-03-07 21:08] Makman2 commented on #1839
Happens on Fedora 23, not Windows!

[2016-03-07 21:09] sils1297 commented on #1839
I think I got this too

[2016-03-07 22:03] Makman2 commented on #1838
Yes we definitely need that :+1:

[2016-03-07 22:05] Makman2 commented on #1838
Though the question is how to implement that:
- Don't use the coafile when providing cli-arguments? (except when providing `--save`)
- Use an extra flag for disabling default coafile?
- Misuse the existing `-c` flag to accomplish this? Something like `-c=devnull`?

[2016-03-07 22:14] Makman2 opened #1840 "Move `coalib.output.ConsoleInteraction.print_spaces_tabs_in_unicode` to `coalib.bearlib.spacing.SpacingHelper`"
The function can be easily made a general-purpose function that performs char-highlighting of spaces, tabs and other whitespaces (for example \n too!).
1. Move the function to the other module. Rename it accordingly, something like `highlight_whitespaces` (yeah that's actually good :D).
2. Change function signature: add parameters `show_spaces`, `show_tabs` that are boolean values that are `True`

[2016-03-07 22:17] Makman2 opened #1841 "Whitespace-highlighting: Also highlight newline"
We could use `↲`, or `¶` or something else :)

Blocked by https://github.com/coala-analyzer/coala/issues/1840.

[2016-03-08 03:18] AbdealiJK commented on #1831
next thing is to print the function `bear_dirs()` in Section and make sure it has a glob using this path in the list it returns.

If it does, next would be to check that the globbing modules `icollect_bear()` finds things inside this directory.

[2016-03-08 03:32] AbdealiJK opened #1842 "MentionBot"
There's a nice bot which CCs the potential reviewers for a PR
https://github.com/facebook/mention-bot

Maybe we want to use that now that we have many reviewers ?

[2016-03-08 03:35] AbdealiJK commented on #1839
@Makman2 - windows should skip dbus test `>_>` (No dbus installed?)

On Tue, Mar 8, 2016 at 2:39 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-08 03:40] AbdealiJK commented on #1838
I normally do `-c /dev/null` and it works fine :)
Windows can use `-c NULL` and it should work fine I guess ?

@Makman2 your first option will break all editor plugins. And you wouldnt be able to do `-S autoapply=false` temporarily. Nor will you be able to do `-S editor=subl` and so on ... I dont think that's a good solution

I think we can mention that if you give no argument with `-c` (i.e. you

[2016-03-08 04:49] AbdealiJK opened #1843 "Pypi page description"
This is what I've understood about the pypi package stuff.
If we have a long description, it shows that.
If we do not have a long description, it shows the file README, if its not there, then README.rst

So, I think we should remove the long description and the pypi package description will be much richer and nicer.

Should be done before 0.5.0

[2016-03-08 06:01] abit2 commented on #1268
Hmmm.....Sorry but i have shifted completely to ubuntu, don't have windows os now.
Cannot reproduce this issue,anyways it runs smoothly in ubuntu (using conda env).

[2016-03-08 07:23] AbdealiJK commented on #1268
@Makman2 can you try this out ?

[2016-03-08 07:48] AbdealiJK opened #1844 "pyprint and coalib.output.printer"
I just noticed that pyprint and coaal ahve some duplicated code:

 - String printer: in [coala](https://github.com/coala-analyzer/coala/blob/master/coalib/output/printers/StringPrinter.py) and [pyprint](https://github.com/coala-analyzer/PyPrint/blob/master/pyprint/StringPrinter.py). We should delete the coala copy
 - ESpeakPrinter - Should move it to pyprint
 - HTMLWriter - Should be deleted (I se

[2016-03-08 17:20] Makman2 commented on #1268
Can't reproduce still on my machine^^

[2016-03-08 17:30] Makman2 commented on #1838
Windows works with `-c nul`.

Passing no argument to `-c` is complicated since the arg-parser can't distinguish then between a given section or config file:
`-c section`
could be interpreted as `-c` use no config and execute section `section`, or use `section` as path to the config. Since `-c /dev/null` and `-c nul` work fine, maybe we should just mention this inside docs?
Less code to maintain, s

[2016-03-08 17:32] sils1297 commented on #1838
well a `--noconfig` shortcut for `-c nul` and `-c /dev/null` would be certainly useful for users because it's not really obvious how to do that for some

[2016-03-08 17:32] Makman2 commented on #1839
On windows it skips^^
and dbus is installed:
[code]

[2016-03-08 17:33] Makman2 commented on #1838
totally forgot I proposed that too... yeah `--noconfig` is good :+1:

[2016-03-08 17:42] sils1297 commented on #1839
How are you using dnf on windows?
On 8 Mar 2016 6:32 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-03-08 18:03] Makman2 commented on #1831
For `bear_dirs()`:
[code]

But indeed `icollect_bears()` fails:
[code]

[2016-03-08 18:09] Makman2 commented on #1839
Edited my comment :P

[2016-03-08 18:13] Makman2 commented on #1844
The `LogPrinter`s are not that easy, since it's in fact no functionality pyprint shall provide. We want to use the builtin logging module anyway: #975
I would say we delete `LogPrinter` and `ListLogPrinter` when #975 is accomplished^^

[2016-03-08 18:25] Uran198 opened #1848 "Annotations are used inconsistently"
Only in some files there is use of [function annotations](https://www.python.org/dev/peps/pep-3107/).
It would be good to either use annotations everywhere or don't use them at all.

[2016-03-08 18:28] sils1297 commented on #1848
I think we should define some guidelines about when and when not to use
them.

We need them for enforce signature and the bears, otherwise they're mostly
useless except if the type isn't obvious from the name, not sure what's the
best way to guide this
On 8 Mar 2016 7:25 p.m., "Attila" <notifications@github.com> wrote:

[2016-03-08 19:43] Uran198 opened #1851 "Add a list of Coala advantages"
When someone not familiar with coala stumbles upon it, the first thing that goes through his head is: "is it worth the trouble?". Because of this, I think it would be useful to add somewhere at the top of README a list of coala advantages.
Some of them, pointed out by @sils1297 and @Makman2 are listed below.

1. The user can apply easily self written results i. e. if we don't have the right tool,

[2016-03-08 20:08] sils1297 commented on #1842
we actually want something like that in gitmate

[2016-03-08 22:01] Makman2 commented on #1848
That's the problem, if you don't do anything with them they are quite useless. Only `@enforce_signature` accesses them and `Bear.get_metadata()` to pass coafile settings down to the custom defined `run()` with you own signature.
like @sils1297 says, we need to discuss what's best^^

[2016-03-08 22:12] Makman2 opened #1852 "How do we handle python dependencies"
This clashes inside the CI: https://circleci.com/gh/coala-analyzer/coala/5434
Debug output from my Fedora 23 machine:
[code]

[2016-03-08 23:25] Makman2 commented on #1852
This is a problem inside coala-bears, gets solved with https://github.com/coala-analyzer/coala-bears/pull/186.

[2016-03-08 23:51] Makman2 opened #1854 "Use `:type param_name:` for documentation about wanted type"
Instead of annotating functions with a type (except when used inside `@enforce_signature`, but maybe we can even change that :D), rst offers
[code]
We should use that more consistently to document types.

Question is how do we use them inside docstrings?
A.
[code]
B.
[code]

A or B? :)

[2016-03-09 00:48] AbdealiJK commented on #1852
I guess we need to use >= in pyprint ?

-----Original Message-----
From: "Mischa Krüger" <notifications@github.com>
Sent: ‎09-‎03-‎2016 03:42
To: "coala-analyzer/coala" <coala@noreply.github.com>
Subject: [coala] Dependency problem: We allow `colorama>=0.3.6`, but `radon`wants `==0.3.6` (#1852)

This clashes inside the CI: https://circleci.com/gh/coala-analyzer/coala/5434
Debug output from my Fedo

[2016-03-09 00:53] AbdealiJK commented on #1851
+1 for this. Should be mentioned in the GitHub wiki and docs though.
Readme is already pretty big

-----Original Message-----
From: "Attila" <notifications@github.com>
Sent: ‎09-‎03-‎2016 01:13
To: "coala-analyzer/coala" <coala@noreply.github.com>
Subject: [coala] Add a list of Coala advantages (#1851)

When someone not familiar with coala stumbles upon it, the first thing that goes through his he

[2016-03-09 00:58] AbdealiJK commented on #1268
Then im not sure what we can do about this for now :/

On Tue, Mar 8, 2016 at 10:50 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-09 01:03] AbdealiJK commented on #1838
Right, empty -c would be confusing. :+1: for --noconfig

On Tue, Mar 8, 2016 at 11:03 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-09 01:07] AbdealiJK commented on #1842
Why make something when it already exists ?

On Wed, Mar 9, 2016 at 1:38 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-09 01:20] AbdealiJK commented on #1831
Sooo ... that's not expected behaviour in icollect ... can you go into it
and debug ?

On Tue, Mar 8, 2016 at 11:33 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-09 02:56] Makman2 commented on #1268
@abit2 I'm not able to reproduce, you have no windows machine, so practically the issue is gone :3
If it happens again, feel free to reopen the issue/ping us^^

[2016-03-09 02:56] #1268 closed

[2016-03-09 03:42] AbdealiJK commented on #1852
@Makman2 and I had a discussion on gitter about this.

The points we had were:
 - If we use `==` and the user has a VersionConflict the user is expected to use a new virtualenv for coala.
   - Argument against this: If all packages did this, a user will need lots of virtualenvs which is unmanageable. For example a website which uses flask, coala, pytest and numpy(for stats) would need 4 virtualenv

[2016-03-09 03:44] AbdealiJK commented on #1852
After thought: We should ask the IRC folks in distutils (or setuptools?) about this.

[2016-03-09 03:45] Makman2 commented on #1852
good idea :+1:

[2016-03-09 05:04] AbdealiJK opened #1855 "Constraints on args in bears"
This is an interesting one.
@sam09 mentioned that some args should always be greater than 0 or False (https://github.com/sam09/coala-bears/commit/e9d42721e2f4c9d369a772a01bfa863d813d5149#commitcomment-16579300)

First question: are multiple data types possible in our FunctionMetadata ? I.e. can I do `typing.Union[int, bool]`
Second question: Can I add constraints on the argument ? something like `

[2016-03-09 08:06] saurabhiiit commented on #1851
Can I submit PR for this?

[2016-03-09 08:20] sils1297 commented on #1851
Imo we should shorten the readme and make sure it contains the important
information
On 9 Mar 2016 09:06, "saurabhiiit" <notifications@github.com> wrote:

[2016-03-09 08:29] tushar-rishav commented on #1851
+1 for Readme. Because, Readme is the *first* thing that a guy would see. Maybe we can move the list of advantages into `About` section?

[2016-03-09 09:05] sils1297 commented on #1855
If the user lists multiple data types how should coala know in which data type to convert the value into? We could try the first and if we get an exception take the next... could work. Constraints are a bit not easy for that I'd rather start a library that does this :P

[2016-03-09 09:12] sils1297 commented on #1854
I'm against us doing that! sphinx should rather learn annotations!

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-09 0:51 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-09 09:27] sils1297 commented on #1842
For starters I didn't know this existed, basically we had the same idea of using git blame. Second, we want it all integrated in GitMate anyway to build an all in one solution.

[2016-03-09 09:30] sils1297 commented on #1852
see also https://github.com/rubik/radon/issues/82

[2016-03-09 09:36] sils1297 commented on #1852
FWIW I tend to agree with @AbdealiJK in that things that are used as libraries or in general together with other python packages - like coala since it's inherently for software development - should rather take a more flexible approach to their requirements. We might want to fix the range to not allow major version increments but only minor and micros?

[2016-03-09 10:23] SanketDG commented on #1841
@Makman2 In what situations might this be helpful to the user?

I can't think of anything other than for aesthetic reasons.

[2016-03-09 11:21] sils1297 commented on #1843
fwiw I've seen projects reading their readme in setup.py and giving that variable to the long description just like we do it with the requirements.txt

[2016-03-09 11:26] #1779 closed

[2016-03-09 11:28] sils1297 opened #1857 "ConsoleInteraction.py print_spaces_tabs_in_unicode: remove tab_width parameter"
that one's unused!

difficulty/newcomer

[2016-03-09 12:11] #1832 closed

[2016-03-09 12:11] #1843 closed

[2016-03-09 16:59] Makman2 commented on #1854
Can't sphinx already read annotations? Though I like having types inside the docs since annotations are reflected inside code, this is maybe sometimes not wanted. That's why I suggested this `:type:`^^

[2016-03-09 17:05] Makman2 commented on #1851
Imo this should belong to the readme. If I search for a codechecking solution, coming directly to the points - why I need it actually - is exactly what someone wants to read.

[2016-03-09 17:17] Makman2 commented on #1841
this can be implemented after #1840, I'm refactoring the bullet printing, it took me really too much time to understand what to provide for `tab_dict` and `index` arguments.
When #1840 is done the function is general-purpose, it makes sense to print also newlines for such a function (though coala can indeed disable it). And it can be helpful to detect missing \n at EOF, SpaceConsistencyBear alread

[2016-03-09 17:27] Makman2 commented on #1855
Constraints can be just implemented inside `run()`. Doing this inside annotations makes it imo way too complicated and unflexible.

[2016-03-09 17:29] Makman2 commented on #1855
Or the other possibility is defining a custom type with custom wrapper function (which is definitely not easier, but reusable) registered for the settings parser.

Conclusion:
I'm not in for that^^ too complicated and the same can be achieved inside `run()` which in fact offers maximum flexibility.

[2016-03-09 17:31] sils1297 commented on #1855
well hey actually you can do that! Just write a function:

def bool_or_int(value):
    if value == "False":
        return False
    val = int(value)
    if val == 0:
        raise ValueError
    return val

def run(value: bool_or_int):
    pass

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-09 18:29 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-09 17:33] sils1297 commented on #1854
if sphinx does it why should we annotate type manually?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-09 17:59 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-09 17:41] Makman2 commented on #1854
https://pypi.python.org/pypi/sphinx-autodoc-annotation
It's not only about sphinx though, do we want actually annotate every function with types?

[2016-03-09 17:44] sils1297 commented on #1854
rather annotate it that put explicit ":type" thingies into the oc comment that's s verbose and useless!

[2016-03-09 17:44] sils1297 commented on #1854
at least you can use the annotations for stuff

[2016-03-09 17:47] Makman2 opened #1859 "Built-in function for chaining types to provide inside Bear.run() as annotation"
Originated from https://github.com/coala-analyzer/coala/issues/1855, where multiple-types shall be supported. coala already has a way to define your own parsing function:
[code]

The task of this issue to implement a generic function that works like this:
[code]
So it takes a sequence of types and tries to parse them in order. If nothing works, raise a `ValueError`.

[2016-03-09 17:48] Makman2 commented on #1855
perfect, so in fact we have such a feature :+1:
for a more built-in way and less writing for multi-type support I filed a new issue: https://github.com/coala-analyzer/coala/issues/1859
More complicated constraints can be achieved like @sils1297 suggested manually.

[2016-03-09 17:48] #1855 closed

[2016-03-09 17:49] Makman2 commented on #1854
alright :+1:

[2016-03-09 17:49] #1854 closed

[2016-03-09 19:50] #1812 closed

[2016-03-09 19:55] Adrianzatreanu opened #1860 "Changing invalid links in documents"
It seems we have a small number of invalid links that need to be changed a little. You can see those when running ``coala invalidlinks`` in the coala repository; you simply need to open the required file and change it, or let coala handle it :)

P.S. : https://github.com/coala-analyzer/coala/issues?q=is%3Aissue+is%3Aopen+label%3Adifficulty%2Fnewcomer this link doesnt need to be replaced, even thou

[2016-03-09 21:49] sils1297 commented on #1860
There should be an ignore comment it the bear should be fixed

[2016-03-09 21:53] Adrianzatreanu commented on #1860
Sorry, i dont understand your comment.

[2016-03-09 21:59] sils1297 commented on #1860
Either the bear doesn't work correctly or an `ignore InvalidLinkBear` comment should be placed so the issue isn't shown anymore

[2016-03-09 22:07] Makman2 commented on #1860
but that is rendered inside the docs^^

[2016-03-09 22:09] sils1297 commented on #1860
No sphinx has comments we already use that

[2016-03-09 22:11] Makman2 commented on #1860
ah alright then this is good :+1:

[2016-03-09 22:27] Makman2 commented on #1840
This turned out to be more complicated than thought. To make this actually useful in conjunction with our current printing facility, something like https://github.com/coala-analyzer/PyPrint/issues/33 would be nice (we color some parts with different colors). Keeping https://github.com/coala-analyzer/coala/tree/Makman2/bullet3 open though^^

[2016-03-10 14:40] #1803 closed

[2016-03-10 15:21] sils1297 commented on #1842
Hm, I find the mention bot pretty useless for coala-bears, it's active since a few days there

[2016-03-10 15:39] AbdealiJK commented on #1842
Out of curiosity: What more were you expecting?
Maybe a feature request on their repo?

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎10-‎03-‎2016 20:51
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] MentionBot (#1842)

Hm, I find the mention bot pretty useless for coala-bears, it's activ

[2016-03-10 15:42] sils1297 commented on #1842
Well at least what I had in mind for GitMate would assign people

[2016-03-10 15:50] AbdealiJK commented on #1842
Btw, I just realized.
Git blame data for coala bears is bad right now. Nearly everything would blame me as I moved the bears folder :p

-----Original Message-----
From: "Abdeali JK" <abdealikothari@gmail.com>
Sent: ‎10-‎03-‎2016 21:09
To: "coala-analyzer/coala" <reply@reply.github.com>; "coala-analyzer/coala" <coala@noreply.github.com>
Subject: RE: [coala] MentionBot (#1842)

Out of curiosity: Wha

[2016-03-10 15:54] sils1297 commented on #1842
yeah and the blame data seems not very good, not convinced of the algorithm. I want it in gitmate so gitmate has it integrated because it's neat and then you can configure it also and autoassign people instead of doing comments which trigger lots of emails to watching people

[2016-03-10 15:59] sils1297 commented on #1842
FWIW for coala we should decide what's best for coala, I still want to have this feature in GitMate because I think it's a good thing to have.

[2016-03-10 16:01] prodicus commented on #1747
@Adrianzatreanu Sorry for the delay. Got hung up on some errands. Sending a PR soon :smile:

[2016-03-11 00:31] AbdealiJK commented on #1304
Related discussion going on on google group - https://groups.google.com/forum/#!topic/coala-devel/p7lfVyg3nV4

[2016-03-11 03:42] AbdealiJK opened #1862 "Auto dump log on errors"
This is something I think would be very useful.

The feature request is that if coala fails, we auto dump a `.coala-log` or `coala-log.txt` file in the current directory where it's being run from. Why ?

There have been many instances where I find that coala failed due to an unusual error. Specifically when I'm running coala and using the editor/auto apply patch in various places. I get the "Sorry

[2016-03-11 06:15] AbdealiJK commented on #1314
@abhsag24 Was this ever added ?
If not - why not ?

We need it for:
 - https://github.com/coala-analyzer/coala/blob/master/tests/settings/ConfigurationGatheringTest.py#L244
 - https://github.com/hypothesist/coala/commit/cbbb91b777628a1a24f71e7583af85b380147f5b#diff-47b0faa7cf6a1e9bf67b19d5d1746de3R260
 - https://github.com/coala-analyzer/coala-bears/blob/master/tests/vcs/git/GitCommitBearTest.py#L

[2016-03-11 06:34] abhsag24 commented on #1314
@abhsag24it wasn't since it was in my PR for improving tests, which eventually you had to do since we moved to pytest and had the whole issue regarding the coverage

[2016-03-11 06:36] AbdealiJK commented on #1314
@abhsag24 Aha. I see, cool.
It'd be a nice thing to have.

[2016-03-11 07:24] AbdealiJK opened #1864 "gitconfigbear"

[2016-03-11 07:24] AbdealiJK commented on #1864
Created by mistake :(
Closing it.

[2016-03-11 07:24] #1864 closed

[2016-03-11 08:04] sils1297 commented on #1862
Neat, sounds interesting and not particularly hard to do either, we have the exception catching in one routine somewhere where this could be done, right?

[2016-03-11 08:58] AbdealiJK commented on #1862
I think the python `logging` module may have this inbuilt and probably does it nicely

[2016-03-11 09:00] AbdealiJK commented on #1860
What do you mean by "the bear cannot authenticate"
The link doesnt need any authentication to open (I don't need to sign into github to see it)

[2016-03-11 09:01] AbdealiJK commented on #1839
Interesting. Does this happen repetitively ?

[2016-03-11 09:32] sils1297 commented on #1842
mention bot is active for coala also now

[2016-03-11 09:52] sils1297 opened #1866 "ResultFilter should manage if files are not in the dicts"
e.g. for renamings/deletions and so on

[code]

[2016-03-11 10:14] iamgroot42 commented on #1821
Created a PR to fix this issue : https://github.com/coala-analyzer/coala/pull/1867

[2016-03-11 10:21] sils1297 opened #1868 "ResultFilter: support file renamings"
CC @fneu, I'm doing file creation and deletion right now.

[2016-03-11 10:27] sils1297 commented on #1868
see https://github.com/coala-analyzer/coala/issues/1866 for file creation/deletion

[2016-03-11 10:39] sils1297 commented on #1866
argh, this sucks, prototype available on https://github.com/coala-analyzer/coala/compare/sils/resf

[2016-03-11 10:39] sils1297 commented on #1866
but it doesn't work

[2016-03-11 15:25] AbdealiJK commented on #1839
So I have no idea how to reproduce this.
Although, what I've done is that Ive added a lot of debugging information in DbusTest which will help in identifying this (or any other erratic dbus behaviour) that comes up.

@Makman2 if this happens frequently can you test and report back with debug information ?

[2016-03-11 16:22] sils1297 commented on #1866
@fneu I did this workaround in `coala-incremental` and it seems to work:

[code]

possibly you can do that kind of small preprocessing and that's it? We should definitely have tests for this!

[2016-03-11 18:28] Makman2 commented on #1839
This happens everytime running the tests^^ What debug information do you need exactly?

[2016-03-11 18:30] Makman2 commented on #1314
Not for the GitCommitBear test, since the working dir is changed in `setUp` and `tearDown` to execute the complete test case inside a different working directory^^

[2016-03-11 18:53] AbdealiJK commented on #1839
Just pull latest master, run pytest and copy paste the output

-----Original Message-----
From: "Mischa Krüger" <notifications@github.com>
Sent: ‎11-‎03-‎2016 23:58
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] DbusTest is failing (#1839)

This happens everytime running the tests^^ What debug information do you need exactly?
—

[2016-03-11 19:22] Makman2 commented on #1839
https://gist.github.com/Makman2/d997f3b501bf5a94dbae

[2016-03-11 20:34] srisankethu commented on #1748
Is this open?

[2016-03-11 21:09] srisankethu commented on #1748
I followed the earlier conversation and run `coala`. I got no exceptions!

[2016-03-11 21:19] Makman2 commented on #1748
It's more about handling the exceptions received on `VersionConflict`. Now if something like this happens (this depends on your machine what deps you have installed) coala crashes completely, handling this cleanly with a message without crashing would be better :+1:

[2016-03-11 21:20] Makman2 commented on #1748
If you want to reproduce such an exception, you can e.g. install the clang binding v0.3
--> `pip3 install libclang-py3==0.3`

[2016-03-11 21:25] srisankethu commented on #1748
@Makman2 Yes I have tried that( I followed the earlier conversation). It simply check for libclang-py3.Since it was already present and no file for its uninstallation was found, it simply did an overide.
![screenshot from 2016-03-12 02 53 20](https://cloud.githubusercontent.com/assets/12644108/13715924/c8e58d92-e7fd-11e5-8093-482465e88183.png)

[2016-03-12 00:56] AbdealiJK commented on #1839
Hey, so as you see ... It's basically saying "This is a bug" in coala ...
Can you change the log level in DbusDocument::Analyze to debug and try?
We don't have an argparser for this yet :( so there's no cli arg

-----Original Message-----
From: "Mischa Krüger" <notifications@github.com>
Sent: ‎12-‎03-‎2016 00:52
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@

[2016-03-12 02:45] AbdealiJK opened #1869 "Moving out Shell/Globb"
It would be nice to move out common things from coala into it's own package.

I was thinking:
 - StringProcessing
 - Shell (and a few context managers like `capture_stdout()` ?)
 - Globbing

Reason: I wanted windows support in another project and wanted `Shell` :P
(I don't want to maintain it there as @Makman2 already does such a good job :))

[2016-03-12 03:44] AbdealiJK commented on #1839
This is being caused by VersionConflict based on the gitter conversation.

https://github.com/coala-analyzer/coala/issues/1748 would have given better debug info
and
https://github.com/coala-analyzer/coala/issues/1800 would solve it.

Closing this

[2016-03-12 03:52] AbdealiJK commented on #1852
Apparently we can use `~=` if we want to.
And even wildcards are allowed https://www.python.org/dev/peps/pep-0440/#compatible-release like `5.*`

[2016-03-12 03:54] AbdealiJK commented on #1839
Reopening as @Makman2 found another issue :)

[2016-03-12 06:02] AbdealiJK commented on #1855
Hey, just saw this discussion.
Reopening for now as I have a few concerns

The bear writer could write their own code ... but isn't it better if we provide this ?
This would make lots of bears repeat that function.
They can make errors in their type casting and so on For example [this](https://github.com/sam09/coala-bears/commit/a41c15d02dc0c93d4e22e5d1fe033c81868ceb08#diff-732cf5cf5f77985606c5e89

[2016-03-12 08:45] srisankethu opened #1870 "ConsoleInteraction.py: Missing documentation for console_printer in print_actions()"
Documentation for console_printer is missing in print_actions() -> https://github.com/coala-analyzer/coala/blob/master/coalib/output/ConsoleInteraction.py#L515

difficulty/newcomer

[2016-03-12 08:48] srisankethu commented on #1748
@Makman2 If this isn't urgent can I do this after a week (on 25th,26th March) ?

[2016-03-12 10:11] sils1297 commented on #1748
I'd love this for the release...

[2016-03-12 10:11] sils1297 commented on #1748
You can do it when you want, if we feel we need it nowish we'll just do it, is that ok?

[2016-03-12 10:17] srisankethu commented on #1748
@sils1297 ok!

[2016-03-12 12:26] abhsag24 opened #1871 "Document coala's dependancy management"
So coala has cool way in which bears can depend on other bears, but it's undocumented right now, it'd be nice to have documentation regarding how this works :)

[2016-03-12 12:33] AbdealiJK commented on #1871
Currently I think Clang bears are the only ones that uses this feature. So
first step for anyone solving this would be to read that and understand how
it uses dependency with bears

On Sat, Mar 12, 2016 at 5:56 PM, Abhay Raizada <notifications@github.com>
wrote:

[2016-03-12 12:34] sils1297 commented on #1871
@abhsag24 do you mind? :P If you can't make it it's ok, just unassign when you know.

[2016-03-12 13:35] #1825 closed

[2016-03-12 16:50] iamgroot42 opened #1872 "Typo on welcome page"
On line 148

It should be *methods*, not *methode*

[2016-03-12 17:14] #1872 closed

[2016-03-12 17:34] rresol commented on #1870
I would like to do the documentation required.

[2016-03-12 17:56] Makman2 commented on #1855
That's what #1859 is for. And if python has a way of doing this, when you could write that into #1859.

[2016-03-12 17:57] Makman2 commented on #1748
@sils1297 is this really so important for 0.5?

[2016-03-12 18:58] mr-karan opened #1874 "Lint: Error in check_prerequisites"
[This line](https://github.com/coala-analyzer/coala/blob/188a942e92ecc71bcd51d8329fa4fae4e2281f73/coalib/bearlib/abstractions/Lint.py#L216) fails for me with any executable

The reason is because this is not the proper way to use subprocess.call(). To rectify this either use
`subprocess.call(args, shell=True)`  or a better and more reasonable approach would be to use [shlex](https://docs.python.or

[2016-03-12 19:08] mr-karan commented on #1874
Edit:
Ok, I think we can't use Popen because we are comparing the [exit code](Hold till https://github.com/coala-analyzer/coala/issues/1874 is resolved) and Popen returns a `Popen` object. Think we should go for `subprocess.call(shlex.split(args))`

[2016-03-12 19:09] Uran198 opened #1875 "Cleaning issues a little."
Currently issues are used both for discussions and actually for issues i. e. things that should be done. I think it would be good to either use a mailing list for discussions entirely or to use some issues for discussions and some for stating very clearly what has to be done. In this way when someone new wants to contribute he will not have to read through all of the comments(and ideally he should

[2016-03-12 20:04] Makman2 commented on #1874
I'm doing this generally also for the executable parameters/arguments inside `Lint`. So in future it is preferred to use argument sequences instead of strings (though they are still possible using `shlex.split` but it's still not recommended then) :+1:

[2016-03-12 20:07] Makman2 commented on #1875
Sounds good, though I think often issues are some kind of "investigation process" that doesn't reveal completely itself until the very last end (that especially applies for `difficulty/hard` and `difficulty/very hard`). I'm in for that, but I think after we try for a few weeks/months we will fall back to our old behaviour because it's easier and more comfortable :P

[2016-03-13 02:30] AbdealiJK commented on #1855
I didnt see the other issue :/
Nevermind.

[2016-03-13 03:16] WJCode commented on #1830
Seems this issue has re-occurred. I triggered a build 3 times but all failed with the same error(server error 500).
Please note the docs currently hosted on readthedocs are from commit `8de8b62f`. @AbdealiJK @sils1297

[2016-03-13 03:36] AbdealiJK commented on #1830
Have we told them of this bug ? If yes, can you put the link to the issue here ?

[2016-03-13 07:55] Uran198 commented on #1168
I also think that making it non-static is better and more intuitive idea. Also it will decrease redundancy in interfaces of functions. Instead of passing arguments to every static function we will pass it only to the constructor.
Also, I'd work on this, if there is no objection on making it non-static :smile:

[2016-03-13 08:26] WJCode commented on #1830
Ok. I triggered another build and we succeeded this time. The docs now show the latest commit. :smile:
Also, I commented on the readthedocs bug so hopefully they'll let us know if there's anything we can do.

[2016-03-13 09:13] sils1297 commented on #1168
Wouldn't it be way easier to just make a decorator so if you want to write an action (that does something, like a function, not *is* something like a class) you just write a function with your preferred name and the decorator would take care of the rest?

[2016-03-13 09:28] Uran198 commented on #1168
@sils1297 I'm probably missing something, but an action usually overrides not only `apply`, but also `is_applicable` method, so how would you use decorator instead of it?

[2016-03-13 09:42] sils1297 commented on #1168
Well for many actions `is_applicable` isn't relevant, for those where it is, the method could be given as an argument to the decorator:

[code]

[2016-03-13 09:43] sils1297 commented on #1168
the decorator could btw. easily generate a class like we have so we would be backwards compatible and if one likes the class better he can just use that

[2016-03-13 10:10] AbdealiJK commented on #1683
@sils1297 mentioned we can allow `~=0.4.x` *and* `==0.4.x.dev9999` in coalabears.
Which makes sense too !

https://github.com/coala-analyzer/coala/commit/f11570b3a6bfc8c3c04aa761861881566de32476#commitcomment-16666810

[2016-03-13 10:43] Uran198 commented on #1168
So, this decorator will instantiate `ResultAction` and return it instead of a function with some substituted method? It just may seem strange if someone would want also to override `apply_from_section` and his functions may be rather large. It would be like he is creating a new class, but very implicitly.

[2016-03-13 12:28] hypothesist commented on #1859
Would it be enough to have a helper function that does this job *inside* the function instead of verifying at the function prototype definition?

Example:
[code]
And `types.validate` raises `ValueError` if it doesn't match. I have no knowledge on how to validate types directly at the argument definition line.

[2016-03-13 12:54] hypothesist commented on #1642
I thought https://github.com/coala-analyzer/coala/commit/442230ec98601fd880966d4803f958b0c073441f fixed this?

[2016-03-13 13:19] AbdealiJK commented on #1642
That only shows it when running coala (i.e. when we show the line that is
affected)
Not the patch shown in ShowPatchAction

On Sun, Mar 13, 2016 at 6:24 PM, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-03-13 14:16] mr-karan commented on #1874
Okay, so some executable *must* be provided a filename else they won't return with an exit code of `0`. Case in point: `ruby-lint`
[code]

Should we totally not use `subprocess.call()` and use `shutil.which()` ?

Here's what I have thought would be fine.
[code]
But for this, [L217](https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/abstractions/Lint.py#L217) is also needed to be ch

[2016-03-13 14:25] AbdealiJK commented on #1874
Have you taken a look at _check_executable ?

-----Original Message-----
From: "Karan Sharma" <notifications@github.com>
Sent: ‎13-‎03-‎2016 19:47
To: "coala-analyzer/coala" <coala@noreply.github.com>
Subject: Re: [coala] Lint: Error in check_prerequisites (#1874)

Okay, so some executable must be provided a filename else they won't return with an exit code of 0. Case in point: ruby-lint
In [3]: s

[2016-03-13 14:41] mr-karan commented on #1874
Oops, yeah. Alright so we don't need this in `_check_command` agreed, but how are we going to account for cases where the executable needs a filename to return exit code `0` ?

[2016-03-13 15:11] AbdealiJK commented on #1874
@mr-karan I don't ever see a place where the executable needs a filename to return exitcode 0 ...
We either use `--version` or `--help` or something else.

Basically I've never found a program where the *only* way to check if it is installed is to run it on a file.

If you have an example of such a program, we can consider this as a bug. If not, I suggest we close the issue.

Later ... if we ever

[2016-03-13 15:24] #1838 closed

[2016-03-13 15:25] sils1297 commented on #1168
if you do a complicated thing you can still use the class, but in the simple case you could use the decorator

[2016-03-13 15:26] hypothesist opened #1881 "Remove brackets around join in check_conflicts"
In CliParsing.py

[2016-03-13 15:33] mr-karan commented on #1874
@AbdealiJK Alright. Btw, using --help won't be a good idea as all that data is dumped to the end user while running the bear. We can use --version though as it would be almost always a one liner.

[2016-03-13 15:40] sils1297 commented on #1859
the thing is if we have it as the annotation then coala will auto convert
it and the user doesn't have to care any further, this way he'd have to
manually error out if something's inconveertible and stuff

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-13 13:28 GMT+01:00 Adhityaa Chandrasekar <notifications@github.com>:

[2016-03-13 15:42] hypothesist commented on #1859
No, we can let the function raise an error if the variable doesn't match the type. The user doesn't need to do anything IMO.

[2016-03-13 15:44] Uran198 commented on #1168
@sils1297 Yes, the decorator would be a good idea.
I think we may a little off topic here, the original proposal was to either make all static or all non-static in `ResultAction`. I like non-static idea as it will decrease redundancy.

[2016-03-13 15:49] sils1297 commented on #1168
It's kinda related I think... guess we want to have one issue making it nonstatic and another one introducing the decorator? For the nonstatic thing it's important that custom parameters are still parameters of the apply method because they might change after instanciation

[2016-03-13 15:59] Makman2 commented on #1168
The decorator is kind of a feature for the new ResultAction design. The new class design is anyway needed^^ --> So yes, file a new issue that is blocked by/dependent on this one :+1:

[2016-03-13 16:03] Makman2 commented on #1859
Having this inside the signature is way better since coala is then able to provide more help for that bear. Inside the body coala can't influence/see anything. Also your `validation` function would do pretty much the same, so having the extra signature advantage is good keep^^

[2016-03-13 16:06] AbdealiJK commented on #1874
I don't think the stdout or stderr from check_prerequisites is shown to the user. If it is - that's a bug and we should stop it from being shown.

-----Original Message-----
From: "Karan Sharma" <notifications@github.com>
Sent: ‎13-‎03-‎2016 21:03
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] Lint: Error in check_prerequisites

[2016-03-13 16:25] hypothesist commented on #1859
Is a function prototype like

[code]

make the enforced variable types available to bear help?

[2016-03-13 16:29] sils1297 commented on #1859
right now it's more:

[code]

and coala will always give the bear an int and a float, if conversion is not possible the bear won't be executed

[2016-03-13 16:41] Uran198 commented on #1168
The decorated function will have to have those parameters, but not necessary apply method, if we'll substitute a class or class instance for a function in decorator.
And even the decorated function will be able to live without them and decorator could use `types.MethodType` to bound it to the instance, but in this case code would be kind of strange.

[2016-03-13 16:55] hypothesist commented on #1831
@Makman2 can you test whether you can reproduce the bug if there are no whitespaces in the coala-bears, coala, **and** the test project location?

[2016-03-13 16:56] hypothesist commented on #1831
I suspect this _might_ be related to https://github.com/coala-analyzer/coala/issues/1613

[2016-03-13 17:12] sils1297 commented on #1830
clearing the milestone but keeping open since we need to keep an eye on this

[2016-03-13 22:52] AbdealiJK opened #1882 "use unittest.mock"
Would be nice to use https://docs.python.org/3/library/unittest.mock.html

It would make our tests more unit test like - modularised and independent of the rest of the code

[2016-03-13 23:15] Makman2 commented on #1882
ouh yeah this is cool, let's do that :+1:

[2016-03-14 03:27] abhiroyg commented on #1881
Hi,

I want to work on this issue.

[2016-03-14 03:28] abhiroyg commented on #1857
Hi,

I want to work on this issue.

[2016-03-14 03:29] AbdealiJK commented on #1881
@abhiroyg hey, it seems as though you haven't accepted the invitation to the org yet.
Could you do that ? I can assign you only after you accept it

[2016-03-14 07:04] AbdealiJK commented on #1314
@Makman2 the GitCommitBearTest has 1-2 places where it wants to change to a temp directory (even after the setUp thing)

[2016-03-14 07:37] #1857 closed

[2016-03-14 07:37] #1881 closed

[2016-03-14 07:49] mr-karan commented on #1874
It definitely is being shown:

![version](https://cloud.githubusercontent.com/assets/5689132/13737979/6d5358d8-e9e7-11e5-8077-52b1460505b3.png)
![Uploading help.png…]()

[2016-03-14 07:59] AbdealiJK commented on #1874
Then that's a bug :)
Could you change the description in this issue ?

[2016-03-14 08:07] sils1297 commented on #1852
I'm in favour of using `~=` for everything though I think we need to use `==` for the coala dependency in coala-bears because I think the dev releases might be considered comatible but if we're working on breaking changes they won't be.

[2016-03-14 08:07] sils1297 commented on #1852
i.e. for releases we'd also use `~=` for the coala dep

[2016-03-14 13:53] #1870 closed

[2016-03-14 14:01] rresol commented on #1869
I would like to work on this issue.

[2016-03-14 14:23] AbdealiJK commented on #1869
@sils1297 Would like your opinion on this
On gitter @Makman2 said he was fine with it

We need to decide exactly what all needs to be moved. So adding the needs-design label.
@rresol I would recommend you not solve this yet

[2016-03-14 14:44] sils1297 commented on #1869
I'm totally fine with that, it's great. Don't think it's difficulty low and we want an own issue for shell, stringprocessing and globbing. Maybe the latter two could go together in one lib.

[2016-03-14 16:32] Makman2 commented on #1314
@AbdealiJK ah okay, though there's no context manager needed anyway since `tearDown()` changes to the last working dir :dancer:

[2016-03-14 16:49] Makman2 commented on #1869
yeah a shell-lib and something like a pattern-matching-lib are good.
What about calling them `coashell` and `coamatch`? (dunno ... :P)

[2016-03-14 16:50] sils1297 commented on #1869
I wouldn't prefix coa, they're generic

[2016-03-14 16:51] Makman2 commented on #1869
:3

[2016-03-14 18:37] sils1297 commented on #1796
why is it no longer needed?

[2016-03-14 18:43] sils1297 commented on #1796
oh right moved to coala bears, ok

[2016-03-14 19:04] sils1297 commented on #1805
@arush0311 still active on this? Please respond ASAP.

[2016-03-14 19:05] #1796 closed

[2016-03-14 19:25] sils1297 commented on #1860
removing newcomer label until https://github.com/coala-analyzer/coala/issues/1860#issuecomment-195266071 is resolved

[2016-03-14 21:00] priests commented on #1851
Can I take this up?

[2016-03-14 21:03] arush0311 commented on #1805
@sils1297 actually my exams have started. Can you assign it to someone else?

[2016-03-14 21:08] sils1297 commented on #1805
Cool no problem, we'd appreciate a heads up next time :)

[2016-03-14 22:59] Adrianzatreanu commented on #1761
deassigning to lack of response multiple days.

[2016-03-14 23:30] SanketDG opened #1887 "Rename `_check_command` in Lint class"
The function `_check_command()` also tests for the executable, so this is a confusing name. The name should be changed to something more appropriate.

[2016-03-14 23:32] SanketDG opened #1888 "Suppress output in Lint class during subprocess call"
By redirecting the `stdout` and `stderr` to `/dev/null`
difficulty/newcomer

[2016-03-14 23:34] SanketDG commented on #1754
@theaverageguy are you still working on this? Just let us know.

[2016-03-15 01:44] Makman2 commented on #1888
the built-in values `subprocess.DEVNULL` can be used for that purpose.

[2016-03-15 01:53] AbdealiJK commented on #1888
The better way would be to use the `supress_stdout` decorator ?
And possible add a `supress_stderr` decorator.

[2016-03-15 02:04] Makman2 commented on #1800
This is not resolved, we need to use as many `9`s as our timestamp uses:
[code]

[2016-03-15 02:09] AbdealiJK commented on #1800
But ....  that  ... makes no sense !

[2016-03-15 02:13] Makman2 commented on #1800
problem is filling everything with `9` like I suggested prevents form installing coala dev version on pypi using `coala install coala --pre`, because it thinks `dev99999....` is a much more recent version^^ The only way is to uninstall and reinstall coala then^^

[2016-03-15 02:22] Makman2 commented on #1888
`subprocess.call` has `stdout` and `stderr` arguments, just using `subprocess.DEVNULL` is easier and more performant :)

[2016-03-15 02:24] Makman2 commented on #1831
@hypothesist it is indeed! Just tested on your PR https://github.com/coala-analyzer/coala/pull/1644 and bears are found instantly. So this one is solved when https://github.com/coala-analyzer/coala/pull/1644 is merged :+1:

[2016-03-15 02:24] AbdealiJK commented on #1888
AH, cool.
Much better - yeah.

On Tue, Mar 15, 2016 at 7:52 AM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-15 02:44] AbdealiJK commented on #1800
Verified:

[code]

but it seems this doesnt work ?

[code]

[2016-03-15 02:53] Makman2 commented on #1800
This is intended (as per discussion on gitter, a 0.5.0.dev version means it's the dev version for a stable 0.5.0 :D)

[2016-03-15 03:20] theaverageguy commented on #1754
PR today.

On Tue, Mar 15, 2016 at 5:04 AM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-03-15 04:54] mr-karan commented on #1761
It's done already by me https://github.com/coala-analyzer/coala-bears/pull/185

[2016-03-15 04:56] AbdealiJK commented on #1761
@mr-karan that was coala-bears.
This is coala

[2016-03-15 04:58] mr-karan commented on #1761
Ah my bad sorry

[2016-03-15 07:07] sils1297 commented on #1748
It's a bug, we should strive for cleaning bugs for releases if possible.

[2016-03-15 07:12] #1800 closed

[2016-03-15 07:13] sils1297 commented on #1888
neat sounds like a quick fix, can we have it for the release?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-15 3:24 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-15 07:21] sils1297 commented on #1874
@mr-karan any progress? I see no pending review PR, we'd love to get this for the release.

[2016-03-15 22:33] Adrianzatreanu commented on #1780
unassigning due to long inactivity.

[2016-03-16 04:44] SanketDG opened #1892 "DocStyleDefinition: fails to parse marker sets if there are other fields"
If I have `default.coalang` as:

[code]

And I do :
[code]
I get:
[code]

Only fields starting with `doc-marker` should be parsed. Right now everything that is **not** starting with `comment` is parsed. Am I missing something?

[2016-03-16 04:46] AbdealiJK commented on #1818
Closing as no response ?
Reopen if there is interest in it

[2016-03-16 04:52] AbdealiJK commented on #1892
It seems this is a feature. I have no clue why...

From the DocstyleDefinition.load() function:
[code]

and

[code]

[2016-03-16 04:54] AbdealiJK commented on #1892
git blame shows @Makman2 wrote that ...

[2016-03-16 06:02] AbdealiJK commented on #1831
Assigning to hypothesist as he's working on it.

[2016-03-16 06:03] AbdealiJK commented on #1613
Marking for 0.5.0 as it blocks https://github.com/coala-analyzer/coala/issues/1831 which is needed for the 0.5.0 release.

[2016-03-16 06:17] AbdealiJK opened #1893 "Bear: Add helper function name()"
Frequently, we need to use the name of the bear inside the bear.
Example: https://github.com/coala-analyzer/coala-bears/pull/242/files/32dea21eebf3df34dabd2333b84e148a4eb01f28#r56285822

We should add the `name()` function which allows users to just do `self.name()` easily.
Or even a property `self.name`

[2016-03-16 06:26] AbdealiJK commented on #1852
I think I may have gotten a break through on this ...
https://caremad.io/2013/07/setup-vs-requirement/

What I think we need to do now is have a list of `install_requires` and `requirements.txt` independently.
The install_requires will support as many version as it can of it's packages, while `requirements.txt` will lock the versions with `==`.

Does this make sense ?
So, basically before every re

[2016-03-16 06:30] AbdealiJK commented on #1852
A few additions:
It's alright to use `==` in requirements as developers *should* make a new virtualenv for developing on coala. And for developers, coala is the application, while everything else it installs should handle as many versions as possible, as those are the libraries that our app (coala) uses.

For other users, coala itself is a library and not the application - so, in that case we shou

[2016-03-16 07:40] sils1297 commented on #1892
Well the whole file is for dicstyle only, it's separated from the language
definition which is why we just took everything
On 16 Mar 2016 5:54 a.m., "AbdealiJK" <notifications@github.com> wrote:

[2016-03-16 08:45] #1874 closed

[2016-03-16 09:33] djkonro commented on #1893
Please assign me to this task.

[2016-03-16 12:59] SanketDG commented on #1892
Yes but a proper coalang file, what would that consist of? Not only documentation I hope. Also, I hope I don't have to create two separate files for docstyle and language definition.

[2016-03-16 14:14] AbdealiJK commented on #933
A lot of the initial thoughts behind the issue are at:
https://github.com/coala-analyzer/coala/issues/720
https://github.com/coala-analyzer/coala/issues/724
https://github.com/coala-analyzer/coala/issues/725

fro reference

[2016-03-16 14:17] AbdealiJK commented on #1500
Closing this as it has not happened for a long time.

It seems the reason was simply that coala integration tests were too slow.

[2016-03-16 14:17] #1500 closed

[2016-03-16 16:08] Makman2 commented on #1852
It's at least a good concept we can discuss, so separating release-package-requirements and dev requirements. This also avoids overhead in our CI, since we only test *every* package on release.

[2016-03-16 16:11] Makman2 commented on #1892
These coafiles are written for only documentation purposes in mind. I discussed that with @sils1297 during my PR (since in early versions I required to prefix with `doc-marker`).
Do you have a need to put other settings into such a coafile @SanketDG ?

[2016-03-16 16:13] Makman2 commented on #1892
If you want to have a single coafile for single language (or similar), we need to discuss https://github.com/coala-analyzer/coala/issues/1818 again since then our coalang format does not suffice for that purpose^^

[2016-03-16 16:25] srisankethu commented on #1833
Can i try this ?

[2016-03-16 16:38] Makman2 commented on #1893
A "read-only" property is good :+1:

[2016-03-16 16:41] Makman2 commented on #1833
@AbdealiJK what do you mean explicitly with "coala-bears" detection testing? testing whether paths are found correctly for different install configurations?

[2016-03-16 16:45] AbdealiJK commented on #1833
What I mean is we should install a temp package with a few bears and test whether the bears are found and coala can run it on some files successfully.

Our current integration tests mock the bear finding and so the entry point thing to collect bear packages isn't being tested.

This task isn't exactly easy. Difficulty / medium I'd say.

-----Original Message-----
From: "Mischa Krüger" <notificatio

[2016-03-16 17:20] SanketDG commented on #1892
I think we should have a single coafile for a single language, and it doesn't even come down to this, because its pretty obvious that only `doc-marker` prefixes should be taken for a usecase that involves documentation strings, irrespective of what other stuff the coafile may contain.

[2016-03-16 18:13] Makman2 commented on #1892
@SanketDG would you mind renaming this issue to "One language - one coalang file"? This needs to be designed well^^

[2016-03-16 20:55] Adrianzatreanu opened #1895 "Alias for rebase"
I am adding an alias for rebase, as @AbdealiJK requested, in the documents in the git tutorial and probably to the newcomers too, as its something many newcomers encounter; in a section as ``Git rebase: this is something you most probably encountered already, here's how to fix it `` or something like it.

[2016-03-17 02:59] AbdealiJK opened #1897 "Bear.py: Invalid RST"
In bear.py we have
[code]
In `check_prerequisites()`

We need to change the single backtick to double backtick.

[2016-03-17 03:00] AbdealiJK commented on #1895
@sils1297 @Makman2 any objections ?
Or maybe ideas to make this even easier ?

[2016-03-17 03:39] SanketDG commented on #1892
No this issue is about taking in `doc-marker` prefixed fields from the coalang file. I'll open a new one.

[2016-03-17 03:41] SanketDG opened #1898 "One coafile for one language"
Currently the design of LanguageDefinition and DocstyleDefintion is such that separate coafiles have to be used for one language. It is okay if this is supported but unified coafiles also need to be supported.

[2016-03-17 03:44] AbdealiJK commented on #1892
Closing in favour of https://github.com/coala-analyzer/coala/issues/1898

[2016-03-17 03:44] AbdealiJK commented on #1892
So maybe we want to add a new arg `from_fields` or so which only limits it
to specific fields or something ?

On Thu, Mar 17, 2016 at 9:09 AM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-03-17 03:51] SanketDG commented on #1892
Reopening.

It doesn't matter what kind of fields my coafile has, but a single standard prefix or a set of prefixes should be decided to be read from the coafile when dealing with docstyle definition. For example, my coafile could have:

[code]
Not a strong example, but only the first field should be read. It doesn't matter whether we have a single unified coafile or not, the right field should be

[2016-03-17 03:53] SanketDG commented on #1898
This issue is different from #1892.

This deals with the design of one coafile for every language, which will includes its keywords, doc-markers etc. For every kind of language/doc parsing currently done or will be done, only the relevant fields should be parsed.

[2016-03-17 06:53] sils1297 commented on #1895
An alias? Most people won't use that,can't you point to proper documentation in a note or something?

[2016-03-17 06:54] AbdealiJK commented on #1895
Proper documentation to ?

[2016-03-17 06:54] sils1297 commented on #1895
To git aliases

[2016-03-17 06:55] AbdealiJK commented on #1895
I didnt understand what you're saying.
Are you saying tell them to make an alias on their own ?
I'd suggest we give them the alias to make also

I think i'd use aliases

[2016-03-17 06:56] sils1297 commented on #1895
We're talking about a git alias to shorten commands, do we?

[2016-03-17 06:58] AbdealiJK commented on #1895
Im talking about a git alias to "pull coala master > rebase with coala master > push to the branch required"

[2016-03-17 07:04] sils1297 commented on #1895
ok you want to recommend contributors the use of a customly baked alias that'll fetch upstream and rebase on upstream I guess?

[2016-03-17 07:06] AbdealiJK commented on #1895
(and then push) yes

On Thu, Mar 17, 2016 at 12:34 PM, Lasse Schuirmann <notifications@github.com

[2016-03-17 08:23] AbdealiJK opened #1900 "version of Docs"
Now that we use dev99999..
the docs versions shows this. Not nice

@sils1297 add what you want it to show later

[2016-03-17 09:38] #1851 closed

[2016-03-17 12:08] Makman2 commented on #1892
since they are currently designed to do this, I would close this as `wontfix/not-happening`. This fits more into the redesign in #1898 , as this is a question of concept.

[2016-03-17 13:20] Uran198 opened #1904 "Install dependencies in rultor and not in the docker image"
In this way they are synced with `requirements.txt`

[2016-03-17 13:23] sils1297 commented on #1904
this is related to https://github.com/coala-analyzer/rultor-python/ and needs changes there too

[2016-03-17 13:28] #1748 closed

[2016-03-17 15:16] #1805 closed

[2016-03-17 22:08] sils1297 commented on #1852
I have worked a lot today and implemented ~= for everything, >= for setuptools in PyPrint, coala and coala-bears it seems to work smoothly now.

[2016-03-17 22:30] sils1297 opened #1909 "coala should catch pkg_resource.VersionConflict for bears"
when collecting bears we don't catch that exception and coala crashes completely which sucks! Just show a warning man! CC @fneu

[2016-03-17 22:30] sils1297 commented on #1842
tried it out, apparently people found it annoying and asked me to remove it. Closing it with that?

[2016-03-17 22:30] #1842 closed

[2016-03-17 22:34] sils1297 commented on #1819
marking as wontfix, if somebody wants to take this forward it needs a lot of discussion and design, currently there's no time for that

[2016-03-17 22:34] #1819 closed

[2016-03-17 22:35] sils1297 commented on #1900
we can just generate a development version with a date I guess

[2016-03-17 22:37] sils1297 commented on #1893
this should also use it in various places, git grep for `__name__` in coala and coala-bears

[2016-03-18 00:39] AbdealiJK commented on #1852
Why >= gitter setuptools ?
Dog something break with ~= in setuptools?

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎18-‎03-‎2016 03:38
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] How do we handle python dependencies (#1852)

I have worked a lot today and implemented ~= for everything,

[2016-03-18 01:23] AbdealiJK commented on #1852
Did*

On Fri, Mar 18, 2016 at 6:09 AM, Abdeali JK <abdealikothari@gmail.com>
wrote:

[2016-03-18 01:28] AbdealiJK opened #1912 "Fresh pip install coala - Not working"
I just did `pip uninstall coala -r requirements.txt` and then `pip install coala` to get the latest coala (0.5.0) for basic testing.

This happened:

[code]

and it keeps repeating:
[code]

[2016-03-18 01:42] AbdealiJK commented on #1912
Seems to be a bug in `validators`. We should have caught this before !

Filed upstream at:
https://github.com/kvesteri/validators/issues/19

[2016-03-18 01:49] AbdealiJK commented on #1909
We should do this in our `_import_module()` ideally so that we don't forget it again later

[2016-03-18 02:05] AbdealiJK opened #1913 "Check pip version in setup.py"
Pip changes a lot ...

We should check the pip version in our setup.py and tell users to upgrade pip.

@tushar-rishav got http://pastebin.com/0wMXLZmi
Whic is ugly and super confusing. And he was using v7.1.0

According to pip, `~=` should work on 6.0.0+ but it doesnt.

[2016-03-18 02:10] AbdealiJK commented on #1913
Hm, As @tushar-rishav pointed out - we cannot do this in setup.py.

Pip hasnt run the setup.py yet, so we checking the version there is useless.

We want to:
 - Figure out a way to upload some metadata on pypi to let pip know this.
 - Mention this in the readme as possible issues.

[2016-03-18 02:32] AbdealiJK opened #1914 "better argparse handling"
Currently, we're doing this hacky method of using an argparse from DefaultArgParse. As we get more binaries, it doesnt seem to scale.

We should add a arg to `run_coala()` to take in a argparser. The argparse in Default ArgParse should be generic. We can then "create" an argparser in the binary level (at coala_json.py, coala_ci.py, etc) and pass it into run_coala and let run_coala use that argpars

[2016-03-18 04:21] AbdealiJK opened #1915 "Document lint"
We need much better documentation for Lint.

need to document:
 - lint
 - _process_corrected
 - _process_issues
 - process_output
 - match_to_result
 - check_prerequisites

These are commonly overridden and should be much better documented.

[2016-03-18 04:25] AbdealiJK commented on #1915
This probably needs someone experienced with the whole system.
But Im still marking it as difficulty/low as it's not difficult - although it needs good understanding of Lint to do it.

difficulty/low

[2016-03-18 04:26] abhsag24 opened #1916 "docs: Add Tutorial for LocalBearTestHelper"
coala provides this awesome functionality, and we should do a tutorial for it, since a lot of beginner Bear writers have some difficulty understanding how to use its functionality

[2016-03-18 04:28] AbdealiJK commented on #1916
This should ideally be done with doctests and documentation inside LocalBearTestHelper I think.

[2016-03-18 04:43] SanketDG opened #1917 "DocumentationComment: Design"
Currently this [file](https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationComment.py) needs documentation parsing routines for several languages.

I have two ideas atm:

* Use an ambiguous regex for each kind of docstring
* Parse it manually.

[2016-03-18 08:01] sils1297 commented on #1852
yes, see commit message.

[2016-03-18 08:02] sils1297 commented on #1912
can we make a workaround for the current lrelease?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-18 2:42 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-18 08:07] sils1297 commented on #1915
can't the API documentation be brushed up to serve this and the lint
tutorial link to it?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-18 5:25 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-18 09:05] AbdealiJK commented on #1915
I intended this issue for the API documentation (doc comments in the function)
Seems like I didnt write that anywhere though.
Currently there are none :(

[2016-03-18 09:21] Uran198 opened #1918 "Interactive mode: Too much reading for a first run"
IMHO, when user for the first time tries something, he may a little bit in a hurry to make it work. Then later he come back and looks how he can improve the current state of thing.
Because of this I think it would be simpler for them not to go through the interactive mode by default and have cli argument for that.

[2016-03-18 09:44] AbdealiJK commented on #1918
From gitter:
What @Uran198 means is that he wants `coala-ci` to run as the default behaviour and `coala` to run as an arg (like `--interactive`)

i.e. he would prefer default behaviour to be non interactive and just show results.

[2016-03-18 09:46] Uran198 opened #1919 "Tutorial: "Integrating coala into Your Project" section is flawed"
It's [here](http://coala.readthedocs.org/en/latest/Users/Tutorials/Tutorial.html#integrating-coala-into-your-project).

- Not a lot of users will want to use the latest unstable version of coala for their projects.
- `coala` without `coala-bears` is of not much use. And almost always there will be a need to install some dependencies for `coala-bears`.

[2016-03-18 09:51] AbdealiJK commented on #1919
About  point 1:
Do you want to change the command to clone from git and checkout a release ?

About point 2:
I agree actually.

I dont even know why we have this completely weird section.
We should remove it. The best way to use coala & bears is install with `pip` ...

[2016-03-18 09:51] sils1297 commented on #1919
Can you fix it? Sounds like a five minute fix
On 18 Mar 2016 10:46 a.m., "Attila" <notifications@github.com> wrote:

[2016-03-18 09:52] sils1297 commented on #1919
Back then we had no pip package :P
On 18 Mar 2016 10:51 a.m., "AbdealiJK" <notifications@github.com> wrote:

[2016-03-18 09:52] AbdealiJK commented on #1919
Wow. I see XD

On Fri, Mar 18, 2016 at 3:22 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-18 10:26] Uran198 opened #1922 "docs: Move documentation to separate repo"
There is not much point in running all the tests on documentation changes. Maybe, I'm missing something.

[2016-03-18 10:29] sils1297 commented on #1922
I think we have this issue already somewhere, can you dig it up?

[2016-03-18 10:29] sils1297 commented on #1922
CC @AbdealiJK he filed it

[2016-03-18 10:48] Uran198 commented on #1922
@sils1297 I wasn't able to find anything.

[2016-03-18 11:05] AbdealiJK commented on #1875
Why do you want to ask to be assigned on gitter ? It make sense to be on an issue I think
Ideally the original comment (The description of the issue) should be edited if the task changes, We're probably just too lazy to do it ^_^ ... we should though.

[2016-03-18 11:41] Uran198 commented on #1875
@AbdealiJK Sometimes issues bounce from one person to another and comments become filled with unrelated stuff. So, one should go through it, while with asking assignments on gitter, one shouldn't.

[2016-03-18 12:07] AbdealiJK commented on #1922
It was briefly mentioned at https://github.com/coala-analyzer/coala/issues/1768#issuecomment-190776043 and discussed on gitter extensively.

Good to have an issue for it.

Other pros of having a docs repo:
 - Docs for coala-bears, coala-html, etc also get included into that
 - We can have a single website in readthedocs with all supported docs

For implementation we may want to take a look at ownc

[2016-03-18 12:28] MayankVachher commented on #1897
@AbdealiJK can you assign this task to me?

[2016-03-18 12:41] abhsag24 commented on #1897
@MayankVachher  you have already solved 2 newcomer bugs, do you mind moving on to bug with a higher difficulty? )

[2016-03-18 12:42] sils1297 commented on #1897
He doesn't, we just talked on gitter :) Should've mentioned that...

[2016-03-18 12:52] abhsag24 commented on #1916
@AbdealiJK but  we do provide some sort of a testing framework, for a person that just wants to use coala something like a Tutorial for that could be super useful. We do have a lot of newcomers that have some sort of difficulty in understanding what a `good_file` and a `bad_file` is and how exactly to use them, that might help them a lot too!

[2016-03-18 12:54] sils1297 commented on #1916
I think this should be in the writing bears tutorial or linter bears or at
least linked from them

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-18 13:52 GMT+01:00 Abhay Raizada <notifications@github.com>:

[2016-03-18 12:56] SanketDG commented on #1916
Well there are two kinds of tests right, one with `verify_local_bear`, and the other where you have to set up the bear with its own section and message queue. I think we should cover for both.

[2016-03-18 12:59] abhsag24 commented on #1898
@SanketDG you mean coalang right?
so we don't want users to create coalang files right? we want to create coalang files so that users can use them, so in this case having seperate files for seperate things makes sense?  why do we need coalang files  to be united? any use case?

[2016-03-18 13:07] SanketDG commented on #1898
@abhsag24 Yes coalang :D
Why wouldn't we want users to create coalang files? Yes, we could do the majority of them, but we can't possibly cover every language.

coalang file should be like a specification that users should conform to.

Yes this does makes sense. I am not sure what I want here, I will have to be do a 1-on-1 with @Makman2 to understand his thoughts about this :D

[2016-03-18 13:24] abhsag24 commented on #1898
@SanketDG  so IIUC what you want is a coalang file that can be used by both `DocStyleDefinition` and `LanguageDefinition` and can be created on the fly by the user, is that correct?
so we could have those coalang files separated like they always were and have a third type of unified coalang file? , this would in anycase close #1892 right? since that is just the way coalang files  for DocStyleDefin

[2016-03-18 18:50] #1919 closed

[2016-03-18 20:41] Makman2 commented on #1875
some people don't read the assigment entry on the github page. Doesn't harm to have this inside the issue imo^^ And often the issues aren't that problematic that the discussion blasts everything.
I really like the idea behind this issue, but I don't see why we should clean up everything now, it's work and imo it's working quite good currently. If someone wants to take an issue, he/she should read

[2016-03-18 20:45] Makman2 commented on #1898
@abhsag24 this would somehow defeat the purpose of this unifying-idea :P This only adds unnecessary overhead into this "third-type"-coalang-file and our code infrastructure^^

@SanketDG

Where's the problem then? :)

In fact I like the principle of the idea, a language has a set of characteristics/settings that is only language-bound.

[2016-03-18 20:54] Makman2 commented on #1917
You mean for `Bear.run()` right?

In fact a good idea. I'm only against this if implementation produces too much code. We can force users to use the default python docstring style^^

[2016-03-18 21:01] Makman2 commented on #1918
In fact I like it, the only reason I have against this is that users won't get that quickly aware of the auto-patch ability we often have. But if we advertise that more, imo this change's good :+1:

[2016-03-18 21:06] Makman2 commented on #1922
This doesn't affect docstrings right?

[2016-03-18 21:11] #1768 closed

[2016-03-18 21:11] mr-karan commented on #1768
`invalid`

[2016-03-18 21:44] sils1297 commented on #1918
we gotta show the patch in noninteractive mode but the whole action concept
doesn't work like that

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-18 22:01 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-19 01:17] Makman2 commented on #1918
yeah that would a bit defeat the purpose (especially with default actions)...

[2016-03-19 03:10] SanketDG commented on #1917
@Makman2

No, I meant for DocumentationComment, where right now it only has the ability to break down specific docstrings.

[2016-03-19 05:16] Uran198 opened #1923 "output: Make it shorter"
For example:
`The following actions are applicable to this result:` => ` `
`Apply no further actions` => `(e)xit`
`Open the affected file(s) in an editor` => `(o)pen in editor`
`Apply the patch automatically` => `(a)pply patch`
`Print a diff of the patch that would be applied.` => `(s)how patch`
Also, show them in different colours and interact with one (possibly first) letter. In example `e`, `o`

[2016-03-19 08:46] mr-karan opened #1925 "Console output: Add syntax highlighting"
[Python prompt toolkit](http://python-prompt-toolkit.readthedocs.org/en/latest/pages/building_prompts.html#syntax-highlighting) can be used for better syntax highlighting.

This is also a part of my GSoC proposal.