[2016-01-08 17:04] Makman2 commented on #397
generally for more long running checks, I'm more thinking of applying that on big codebases with many many files.

[2016-01-08 17:06] #917 closed

[2016-01-08 17:07] sils1297 commented on #397
alright, keeping this open. But TBH I don't see this happening soon at least.

[2016-01-08 17:09] sils1297 commented on #971
why not use the faster version everywhere consistently? It has the same meaning.

[2016-01-08 17:15] Makman2 commented on #971
since there're default functions for, also it makes code for newcomers more hard to read^^

[2016-01-08 17:19] sils1297 commented on #971
You think so? __len__ is pretty obvious IMO...

2016-01-08 18:15 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-01-08 17:23] Makman2 commented on #971
since it's not that obvious to find in documentation I don't like using `__len__`^^

[2016-01-08 17:35] sils1297 opened #1198 "Generate Sphinx Documentation"
Would be probably better if we:

- Convert our docs to RST using pandoc or so (I'm sad about letting markdown go :()
- Generate documentation for our code using sphinx. Especially the DBus API (https://github.com/coala-analyzer/coala/issues/820)

[2016-01-08 17:35] sils1297 commented on #820
closing in favour of https://github.com/coala-analyzer/coala/issues/1198

[2016-01-08 17:35] #820 closed

[2016-01-09 12:50] sils1297 commented on #1096
@Makman2 this was only for your WIP branch, right? So closing this as an invalid bug.

[2016-01-09 12:50] #1096 closed

[2016-01-09 13:59] Makman2 commented on #1096
We use pytest anyway soon^^ maybe it addresses this issue

[2016-01-09 14:00] sils1297 commented on #1096
@Makman2 does that branch exist still anyway?

[2016-01-09 15:13] sils1297 commented on #1033
looked shortly, we should keep them in mind but shouldn't waste actively time on that further, I see no immediate thing we can do here.

[2016-01-09 15:13] #1033 closed

[2016-01-09 15:17] sils1297 commented on #906
Also the bear probably should rather use `info` than `debug`

[2016-01-09 15:21] Makman2 commented on #1096
@sils1297 yes

[2016-01-09 17:45] sils1297 commented on #510
I'll refactor all code to PEP8, it's not pylint but IMO it's enough to fix this

[2016-01-09 19:12] sils1297 opened #1200 "requirements.txt: Upgrade colorama"
new version is out with a fix we actually need

[2016-01-09 20:13] sils1297 opened #1202 "autoapply_actions doesn't mark failed results as unprocessed"
[code]

there's probably a bug in some usage scenario because of that...

[2016-01-09 20:58] #1165 closed

[2016-01-10 06:36] kaushikmit commented on #1185
I will take this issue..Can you assign this to me?

[2016-01-10 09:16] sils1297 commented on #1185
You have been assigned

[2016-01-10 12:43] sils1297 opened #1204 "coala git hook"
It should be fairly simple to write an example Git Hook that executes coala on commit. http://signal0.com/2012/07/20/checking_git_commit_message_format_before_commit_ing.html describes how that could be done.

I think it makes sense to revert ab74ecaa750c5a8faee89a2801c95587f7800f7f since 255c04c3fa93a6d2b4e35d313b790e0df177adfc got done. If that is done we can simply run `coala-ci` in the project

[2016-01-10 12:46] sils1297 commented on #1204
also see https://github.com/phobologic/git-hooks/blob/master/pre-commit/check-flake8.sh

[2016-01-10 12:46] sils1297 commented on #1204
i.e. we'll want it to be a pre commit hook

[2016-01-10 13:47] sils1297 commented on #1204
hm, actually this might get complicated when doing a partial add...

[2016-01-10 14:19] #1202 closed

[2016-01-10 14:25] sils1297 commented on #1200
actually this is a pyprint bug...

[2016-01-10 14:25] #1200 closed

[2016-01-10 17:13] sils1297 commented on #975
Ok, we probably can use `multiprocessing.get_logger()` to get loggers that work over processes, not sure how to get them named though... maybe we can just take a `logging` logger and pass it through to the other processes? Maybe we can just get a logger in the bears automatically associating it with the bear?

[2016-01-10 17:15] sils1297 commented on #975
[code]

we should read up on logging being process safe or not

[2016-01-10 17:17] sils1297 commented on #975
[code]

[2016-01-10 17:18] fneu commented on #975
I have no idea. Did not expect this to work at all, and we could still just
pass messages back by queue and log them later, but multiprocess-logging
would be really cool

Am 10. Januar 2016 18:13:03 schrieb Lasse Schuirmann
<notifications@github.com>:

[2016-01-11 16:33] Makman2 commented on #975
@sils1297 In the PEP I remember that is possible to use a different logger-class when getting it via `getLogger`. So we just implement our own multiprocessing-capable one and we are good to go.

[2016-01-12 15:18] kaushikmit commented on #1185
I don't get why `if replacement != pre_replacement` is true for a line with no trailing spaces and no new line at EOF in SpaceConsistencyBear.py .Is there any other internal modification , that I should make to solve this issue ?

[2016-01-12 15:55] Makman2 commented on #1185
@kaushikmit which line do you mean? This statement appears 3 times in the `SpaceConsistentyBear`^^

[2016-01-12 16:08] sils1297 commented on #1185
@kaushikmit you could try putting a few print statements in there outputting the contents to see what's wrong there.

[2016-01-13 07:48] kaushikmit commented on #1185
@sils1297 This is the modification I made in SpaceConsistencyBear.py :
[code]

I'm just adding a newline character to pre_replacement , just to fail the if condition for a line which is in the EOF and doesn't contain whitespaces in it.But this is failing some unit tests.Not able to figure out why !

[2016-01-13 07:51] sils1297 commented on #1185
@kaushikmit hi, if you want assistance, please put your test output into some paste service and post a link, also you should push your code to a branch and link to it so we can reproduce it. It's hard to help you with that little information :)

[2016-01-13 10:07] kaushikmit commented on #1185
This is the error log : http://pastebin.com/EDdQRiN0

Have pushed the changes to my branch:
https://github.com/kaushikmit/coala/blob/mybranch/bears/general/SpaceConsistencyBear.py

[2016-01-13 10:21] sils1297 commented on #1185
why don't you `print(repr(line))` here and there to see what's wrong? Have you already figured out which testcases fail? Apparently it fails in SpaceConsistencyBearTest.py, lines 30 and 40. Should be straightforward to get some debug info from that?

P.S.: The `AssertionError: 1 != 0 : coala-ci must return zero when running over its own code.` is simple to solve, please run `coala` in the coala ro

[2016-01-13 10:50] kaushikmit commented on #1185
Sure..will do !

[2016-01-13 11:59] sils1297 commented on #1197
We ask here for doing a `git grep easy` on the coala repository to find out if there are any URLs that link to a filtered GitHub page that shows easy bugs becuase this label doesn't exist anymore.

[2016-01-13 12:01] sils1297 commented on #1190
Task here is to take the `_yield_if_right_kind` function in `Collectors.py` and refactor it into a condition like `_right_kind`. This way we don't need a `for` loop and can use a simple condition at invocation side.

[2016-01-13 12:22] sils1297 commented on #1143
FWIW this file holds specification for documentation comments, i.e. the task involves looking up common standards for documentation comments and writing them down ther.

[2016-01-13 12:24] fneu opened #1209 "filter_results() crashes on certain results"
The Problem lies in the `remove_result_ranges_diffs()` function:

[code]

Here, the affected code of a result gets removed from a file. The reversed sorting ensures that SourceRanges behind others get removed first so that the indices are not off.

The bane of this implementation are overlaps though: they cause the indices to be off, resulting in the wrong code being removed. This might even throw

[2016-01-13 12:24] sils1297 commented on #1142
Task is to use the decorator `enforce_signature` and then annotate the parameters like `param: str` so the decorator will automatically check for the type.

[2016-01-13 14:04] kaushikmit commented on #1185
The below test fails :
`self.assertLineValid(self.uut, "    t")`
Not able to figure out why it does fail .I can actually see why the error "Trailing whitespaces" comes for a line with no new line at EOF and no trailing whitespaces.This is because pre_replacement is the same as replacement in all cases (one with whitespaces and the one without ) .So I added a sentinel character('\n') to the pre_rep

[2016-01-13 14:10] sils1297 commented on #1185
@kaushikmit you can't simply add a `\n` to the string because there might already be one. The error in this implementation is that we do `pre_replacement = line` while line might not have a `\n` right? So if we strip all whitespace from `replacement` and add `\n` at the last line it might show the trailing whitespace error because `pre_replacement` has no `\n` but `replacement` has.

Since you alt

[2016-01-13 14:11] sils1297 commented on #1185
@kaushikmit probably it's even better to do `pre_replacement = line.rstrip('\n'); replacement = line.rstrip(' \t\n')`, there's no need to reappend the `\n` both times

[2016-01-13 14:13] sils1297 commented on #1185
and while we're at it you could simply replace `pre_replacement` in the condition by the `line.rstrip('\n')` expression and remove the `pre_replacement` assignment, saves a line and the complexity of that variable there.

[2016-01-13 15:20] kaushikmit commented on #1185
Tried it too.The same error mentioned in the error log occurs.This test fails even now :
`self.assertLineValid(self.uut, " t") `

[2016-01-13 15:27] sils1297 commented on #1185
Works for me:

[code]

[2016-01-13 15:34] sils1297 commented on #1185
This'll be a better fix though, because `\n` will be treated correctly, otherwise it'll remove the `\n` when the patch removing the whitespace is applied...:

[code]

[2016-01-13 15:35] kaushikmit commented on #1185
Yeah...this seems to be a better fix !

[2016-01-13 18:16] #1185 closed

[2016-01-13 19:31] sils1297 opened #1212 "Add guide on how to ask questions"
Would be good to have a guide for newcomers on how to properly ask about help for a problem, that includes pointing out what one did which is sometimes nontrivial. Still it's needed because otherwise it's close to impossible to help.

[2016-01-14 08:18] kaushikmit commented on #1159
Is this already assigned ?

[2016-01-14 08:44] sils1297 commented on #1159
@WJCode is doing this

[2016-01-14 22:26] sils1297 commented on #491
invalid now as the action isn't shown in that case anymore - smart huh? :P

[2016-01-14 22:26] #491 closed

[2016-01-14 22:27] sils1297 commented on #481
uhm this is done, why wasn't it closed?

[2016-01-14 22:27] #481 closed

[2016-01-15 09:36] #1190 closed

[2016-01-15 11:14] Uran198 opened #1217 "ImportError when running ./run_tests.py with virtualenv"
After creating new virtualenv and installing requirements `./run_tests.py` raises the following error.
[code]

[2016-01-15 11:16] sils1297 commented on #1217
Ah this affects only the tests, right? So https://github.com/coala-analyzer/coala/issues/875 might actually solve this along the way.

[2016-01-15 17:56] Uran198 commented on #1217
@sils1297 yes, it seems this affects only tests. I had no issues with other parts.

[2016-01-15 19:58] #1217 closed

[2016-01-16 18:34] Uran198 opened #1219 "Remove bare except clauses"
I could find 6 statements in source code with bare exception clauses. I think it's better to specify explicitly the type of exception you're catching. In this way you wouldn't catch accidently `KeyboardInterupt` when you intent only to check for `ImportError`, for example.

[2016-01-16 18:41] Makman2 commented on #1219
Could you write down the locations here? Maybe it's intended at some locations^^

[2016-01-16 19:10] Uran198 commented on #1219
Here are the locations:
[code]
Although I think the better would be to write `except Exception` at the very least. Also there is pep8 recommendation regarding this. It recommends to limit usage of bare clauses to two cases:

1. If the exception handler will be printing out or logging the traceback; at least the user will be aware that an error has occurred.
2. If the code needs to do some cleanup

[2016-01-16 19:25] Makman2 commented on #1219
I'm more in favor of using plain `except:` since it's not that verbose than `except Exception:`. Also it's important to know that not all exceptions derive from `Exception`,  but from `BaseException`.

In some cases (like in `Bear.py`) I would catch everything, a bear is intended to run inside a thread/subprocess and shall not throw something like a `KeyboardInterrupt`.

So where I would agree wit

[2016-01-17 13:34] Makman2 commented on #1219
Update on `BearRunning.py`:
This `except` is not even needed, since all exceptions are catched inside `Bear.execute()` itself. It's only needed when someone overrides `Bear.execute()` such that it's not handling errors.
@sils1297 is this intended?

[2016-01-17 13:40] sils1297 commented on #1219
@Makman2 the idea was that if somebody does evil things - like overriding `execute` - we'd still catch the exception and it wouldn't be possible to break the coala process with a bear.

[2016-01-17 14:12] Makman2 commented on #1219
Some of the cases involve some refactors to make it clean, I would say these get fixed on demand when refactoring at the locations anyway^^

See also #975

[2016-01-17 16:55] sils1297 opened #1220 "Commit message bear"
@Makman2 is working on that, scheduled for next release

[2016-01-17 16:58] sils1297 commented on #1209
@fneu this is scheduled for the next release in a week or so, can you please give this a priority over the other bugs?

[2016-01-17 17:06] fneu commented on #1209
@sils1297 sure, it's just that I have some problems with my cousins hard-bricked phone right now so I will be busy today with that I guess.

[2016-01-18 12:10] sils1297 commented on #1197
As per @bmanojkumar who investigated this there are no such references and this bug is thus invalid.

@bmanojkumar thanks!

[2016-01-18 12:10] #1197 closed

[2016-01-18 12:13] sils1297 opened #1222 "docs/Getting_Involved/Review.md: Remove rultor reader note"
We don't use the reader thing anymore and the note can be removed.

[2016-01-19 08:55] #1124 closed

[2016-01-19 19:36] Makman2 commented on #1129
I think after merging `CorrectionBasedBear` and `Lint` this will be solved automatically^^

[2016-01-19 19:36] #1129 closed

[2016-01-19 19:41] Makman2 opened #1225 "Lint: Implement `check_prerequisites` from `CorrectionBasedBear`"
The `Lint` class does not have a check if the binary exists.

This task involves:
1. Port the function `check_prerequisites` of `CorrectionBasedBear` (lying in `coalib/bearlib/abstractions/CorrectionBasedBear.py`) to the `Lint` class (lying in `coalib/bearlib/abstractions/Lint.py`).
2. Testing that
3. Implement that for all other bear tests for bears inheritting `Lint`, using `generate_skip_test`

[2016-01-19 19:52] Makman2 commented on #1129
See also #1225.

[2016-01-20 10:27] sils1297 opened #1226 ""Failed to execute the action ApplyPatchAction" should give more info"
We have a message in the exception, I think we should at least print that.

[2016-01-20 14:40] sils1297 opened #1227 "Use autoapply=false by default for coala-ci and coala-json"
At least for CI, not sure about the JSON one but both are noninteractive, i.e. solely informational and we shouldn't apply patches by default there.

[2016-01-20 15:49] Makman2 commented on #1227
highly agreeing :+1:

[2016-01-21 07:55] #1222 closed

[2016-01-22 09:36] #1226 closed

[2016-01-22 10:33] #1209 closed

[2016-01-22 10:40] sils1297 opened #1232 "Ignore doesn't work"
I have no idea why but at https://gitlab.com/gitmate/IGitt/merge_requests/5/diffs#c2a0be4162a3742a2be747607029e0ea9121a1d0_0_41 the ignore doesn't seem to work.

Can somebody try to reproduce this?

[2016-01-22 13:42] sils1297 commented on #1225
Prototypish implementation and discussion available on https://github.com/coala-analyzer/coala/pull/1135

[2016-01-22 14:57] #1188 closed

[2016-01-22 16:56] sils1297 opened #1233 "Applied patch info message shows multiple paths"
I'm getting here:

[code]

It shouldn't show me the same path thrice. Also I think it would be nice to shorten the paths down to maybe only the filename so they're readable very quickly.

@abhsag24 can you try to reproduce this locally with an own example of yours?

[2016-01-22 17:15] abhsag24 commented on #1233
how about relpath?

[2016-01-22 17:35] sils1297 commented on #1233
@abhsag24 do you understand that this issue is about one bug and one "feature request" you could say?

1. It shows me multiple times the *same* path! That shouldn't happen! Bug.
2. Path's need to be shortened. Relpath would be possible but I think it'd be still very long, especially when having multiple paths. So I think we may want to go for splitting off the whole path and showing filename only.

[2016-01-22 17:51] abhsag24 commented on #1233
1. Yes need to fix this, will get to it soon.
2. Its a matter of choice, ideally i won't want long messages , but if a user has multiple paths they might be confused as to which file the patch was applied to(2 files with the same name.)

[2016-01-22 18:09] sils1297 commented on #1233
@abhsag24 about 2. you prefer relpath? Then let's go for that. Do you want to open a new issue to track that? Do you want to do that?

[2016-01-22 18:11] abhsag24 commented on #1233
@sils1297 i'll do both at once, they change the same file so need for a new issue

[2016-01-22 18:14] sils1297 commented on #1233
@abhsag24 please do them in an own commit each though, thanks.

[2016-01-22 18:23] abhsag24 commented on #1233
@sils1297  okay :P

[2016-01-22 20:43] TimSo94 opened #1235 "ConflictError: Cannot add lines after given line since there are already lines."
![pasted image at 2016_01_21 11_22 pm](https://cloud.githubusercontent.com/assets/15891199/12522408/c36cb5f8-c150-11e5-83a1-9dca14885844.png)

There is the error message. If you have more questions, ask me.

[2016-01-22 20:46] sils1297 commented on #1235
@Makman2 I think this is a usability issue, probably relevant for 0.5... ish?

Could you tell us what you were expecting coala to do in this case? Print the same patch again? Are you aware that the patch would be no longer valid because the files on your FS have changed?

[2016-01-22 20:56] Makman2 commented on #1235
@sils1297 wouldn't that also happen on Linux systems?
But yeah that's a bit difficult now what to expect. First the "apply the patch"-action should be removed after applying the patch. Second for the print-patch-action there are two possibilities:
1. Remove it also from the choice list after applying the patch
2. Display the old patch (which would be the better option imo)

   I'm not sure when co

[2016-01-22 20:58] sils1297 commented on #1235
@Makman2 we have the new version in the memory always and also on the filesystem. Would be hard to print the patch after it's applied. I'd rather remove that action after the patch was applied together with the apply action. That would be done by https://github.com/coala-analyzer/coala/issues/1064 then.

[2016-01-22 21:00] Makman2 commented on #1235
@sils1297 yes that's why we need to keep the old version if we want to print the patch and refer to that. I would like to be able to print the patch still, sometimes it's like "oh coala found something, just apply... oh wait damn, that was from SpecialSuperBear, omg need to check that again what I did..."
Even though git tracks changes and you could see them, this would only work when you work wit

[2016-01-22 21:05] sils1297 commented on #1235
@Makman2 I don't see any way to do this cleanly from a technical POV. I.e. we can't provide an action with the means to do that kind of thing without doing something completely weird, complicated that would work just for this one usecase which isn't that important anyway. I would rather think about executing applypatchaction automatically before applying the patch or so.

[2016-01-22 21:10] Makman2 commented on #1235
Alright then let's remove the choice for displaying the patch when a user already applied it.

[2016-01-22 21:27] Makman2 opened #1236 "Shell: Detect current shell instead of platform"
The function `escape_path_argument` inside `coalib/misc/Shell.py` (and also the coming `prepare_string_argument` function) use the operating system to chose which shell is used (chosing the default shell). Would be way better to depend on the actual shell, more bullet-proof across platforms and then we can support multiple shells on the same OS.

So in fact we change the parameter default of `os`

[2016-01-22 21:30] Makman2 commented on #1236
A solution would be anyway to run shell commands that determine the current shell and put that inside a function that can be easily used. Though someone needs to collect all commands for all different shells and implement that :)

[2016-01-22 21:37] sils1297 commented on #1236
@Makman2 sorry but I'm strongly pledging for a wontfix if there isn't a library out there that does that. You can write one if you want and then reopen :P don't think this belopngs in coala.

[2016-01-22 21:45] Makman2 commented on #1236
@sils1297 this could prevent run and test errors that use shell stuff. The current usage of the OS is not clean^^ Since the main OSes do work I've set importance to low^^

[2016-01-22 22:30] sils1297 commented on #1236
Still this is not code that should reside in coala. I'd advise you to put
that into a library.

2016-01-22 22:45 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-01-23 00:02] Makman2 commented on #1236
why that? that's what the `Shell` module is for. It would be anyway a single function, imo that's a bit sparse for creating a library , which would involve a test framework, installing and publishing to pip. I would use the shell functions also from this module, porting them makes also no sense, they are more for convenience and clean handling.

[2016-01-23 07:09] WJCode commented on #1159
I replaced calls to `mkstemp()` with the new `make_temp()` in these tests:
[code]
I have not made this change in these tests as I believe that it makes the code confusing.
[code]

[2016-01-23 12:24] TimSo94 opened #1238 "Windows: Coala replaces some special caracters to unkown character"
When I run coala, it replaces some special characters like this:
![coala1](https://cloud.githubusercontent.com/assets/15891199/12530119/e4356bc6-c1d3-11e5-8253-d4b0cc4cab71.png)

When I want to start it a second time, I get these error messages, because it can't handle with the ?-Character:
![coala2](https://cloud.githubusercontent.com/assets/15891199/12530120/eb287504-c1d3-11e5-8134-552705ab9023.

[2016-01-23 17:23] Makman2 commented on #1238
Seems to be an internal encoding issue somewhere. cmd uses a special encoding format (something with `cp` and a number) that is not really compatible to unicode that would explain this more or less^^

If you need to work with coala, try to use Powershell, I believe it uses unicode as default^^

I'll investigate this, but I have not that much time now so this could take a while^^

[2016-01-23 18:34] #1159 closed

[2016-01-23 18:44] sils1297 commented on #1238
This is not a usability issue, it's a bug in coala. We shouldn't destroy his data like this. @Makman2 are we even sure this doesn't happen on linux?

Scheduling importance to high since this is connected to actual data loss.

@TimSo94 are you free to share the original file where this occurred with us?

[2016-01-23 19:55] TimSo94 commented on #1238
Yes, it happend in 2 files.
In the functions.py in line 75 and line 78 and in the models.py in line 108 and 109.

[pys.zip](https://github.com/coala-analyzer/coala/files/102003/pys.zip)

[2016-01-23 20:05] sils1297 commented on #1238
@TimSo94 we'll try to look into this soon. I hope we can get to fix this till next week.

[2016-01-23 21:16] #1233 closed

[2016-01-23 23:51] Makman2 commented on #1238
@TimSo94 could you also provide the `.coafile`? First reproduction on fedora 23 didn't yield an error, my assumed coafile was:
[code]

[2016-01-24 00:04] sils1297 commented on #1238
Mischa: you could just introduce an error and see if this occurs for now.
On 24 Jan 2016 00:51, "Mischa Krüger" <notifications@github.com> wrote:

[2016-01-24 00:23] Makman2 commented on #1238
Introducing an error (in this case trailing whitespaces) did nothing.
(okay on fedora it marked the completely file as deleted and added, but I assume this is because of CRLF file endings that get completely rewritten when a patch is applied due to pythons universal-newlines conversion)

[2016-01-24 00:24] Makman2 commented on #1238
Currrently I have problems reproducing this on windows since coala doesn't take up the files there...

[2016-01-24 00:45] Makman2 commented on #1238
Confirmed on Windows! Since this error only happened after apply, I believe @TimSo94 you have a setting like `default_actions = PEP8Bear: AutoApplyAction` so coala automatically fixes errors, that's why it replaces directly with these weird signs. After that it can't read them again.

[2016-01-24 00:48] Makman2 commented on #1238
Also this doesn't come from the `PEP8Bear`, the according diff only showed me the error I introduced^^
Looks like the write-back is responsible for this...

[2016-01-24 09:30] TimSo94 commented on #1238
I only have the "Standard" Settings, here:
[Default]
bears = PEP8Bear
files = **/*.py

[2016-01-24 10:02] sils1297 commented on #1238
@Makman2 he applied it manually which does the same thing I guess, makes no difference

[2016-01-24 10:49] #1220 closed

[2016-01-24 12:09] sils1297 commented on #1143
Sharing useful information from the discussion:

each doc marker is a set of three values, e.g. a doxygen comment in C is usually

[code]

so the start marker is `/**` then we have the middle marker (arbitrarily often) `\ *` (note the escaped space), and then the end marker `\ */`
this bug is about finding out what the usual style for documentation comments is
in PHP and objective C
so our algorit

[2016-01-24 21:58] Makman2 commented on #407
@sils1297 does this issue still apply? I would say fix on demand, we have the new `make_temp` macro which handles temp-file creation quite good imo, so we already made some steps into the right direction :)

[2016-01-25 11:29] #1225 closed

[2016-01-26 10:29] abhsag24 commented on #1186
decisions:
1> Defualt for coala would be, to create orig files, so that any unintended changes made by coala can easily be got back.
2> if orig files already exist then we shouldn't override them

[2016-01-27 19:05] SanketDG commented on #1130
What is the intended behaviour for this?

[2016-01-27 19:18] Makman2 commented on #1130
@SanketDG I think @sils1297 means parsing the message to extract the position where the JSON style error occurred. So you get a result with position values and the message would just be `Expecting property name enclosed in double quotes`. @sils1297 Did I understand that right?

[2016-01-27 21:50] sils1297 commented on #1130
Yes. To express it more complicated but IMO exact, the exception contains
that info in the message as text, we want it as result metadata.
On 27 Jan 2016 20:18, "Mischa Krüger" <notifications@github.com> wrote:

[2016-01-29 08:42] #1186 closed

[2016-01-29 09:57] sils1297 opened #1246 "find config doesn't search the current directory actually"
[code]

CC @AbdealiJK

[2016-01-29 13:51] SanketDG commented on #1132
I opened #1247 to fix this.

[2016-01-29 20:31] fneu commented on #1238
Looks like Windows doesn't use unicode or utf-8 encoding for text files by default, but rather [ANSI](http://stackoverflow.com/questions/701882/what-is-ansi-format) or `cp1252` encoding by default.

My first guess would be that the problem occurs because we don't specify any encoding when reading or writing files. Looks like we *should*

[2016-01-29 21:06] #1169 closed

[2016-01-29 21:06] #1227 closed

[2016-01-29 22:03] fneu commented on #1238
C:\Users\fabia\Downloads\pys>coala -f functions.py models.py -L DEBUG
Executing section Default...
[DEBUG][22:57:32] Running bear PEP8Bear...
[DEBUG][22:57:32] Running bear PEP8Bear...

c:\users\fabia\downloads\pys\models.py
|   1| [ERROR][22:57:33] An unknown error occurred. This is a bug. We are sorry for the inconvenience. Please contact the developers for assistance. During execution of coala

[2016-01-30 00:02] sils opened #1252 "Create notepad++ plugin"
for windows

[2016-01-30 04:50] abhsag24 opened #1253 "Find a way to delete .orig files created by ApplyPatchAction"
right now orig files once created never get modified or deleted, until the user them-self deletes them, coala should provide a way to delete these files, either on start up or through a command line argument or maybe provide some other way to handle these files.

[2016-01-30 13:18] sils1297 opened #1256 "coala-ci output shouldn't be empty"
we should show those results in some meaningful way, should be actually not that hard.

[2016-01-30 15:34] sils1297 opened #1258 "Allow ignoring ranges via coafile"

[2016-01-30 15:54] Makman2 commented on #1258
You think that makes sense? If you would delete a single line before such an ignoring range, you need to adapt the coafile too^^

[2016-01-30 15:58] sils1297 commented on #1258
I had an explicit request to do so and it is a usecase that wyou want to
ignore stuff in a range without changing your code

2016-01-30 16:54 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-01-30 17:19] sils1297 opened #1259 "add perl-critics bear"

[2016-01-31 08:13] abhsag24 commented on #1253
decisions:
1> to create a subroutine which would do all the work
2> run this subroutine before `run_coala` on all other subroutines
3>add option(maybe?) to keep the .orig files

[2016-01-31 08:30] sils1297 commented on #1253
Don't run it before `run_coala` but *in* it, otherwise you have to put it there multiple times

[2016-01-31 12:36] sils1297 commented on #1258
Would be nice to have a command line option for line ranges , too. Of course also in the coafile

[2016-01-31 12:52] fneu commented on #1069
@Makman2 I believe this got kind of solved by b1fe97308e3adc7353bf629eb70c5c47dc84c41c with the introduction of the expand() method on both kinds of ranges. This way we skip all kinds of checks and special cases since you can always "make"  a range defined

[2016-01-31 13:08] fneu commented on #1035
@sils1297 what exactly do you mean with showing only relevant bears?

[2016-01-31 13:16] fneu commented on #971
+1 for builtins from me. I guess I will just take care of this and then we can talk about this in the PR

[2016-01-31 13:43] Makman2 commented on #1069
@fneu I'm more referring to the constructors, because there are some statements like these:
[code]
Especially if you change the underlying `start` TextRange object, you modify also the end, which imo kind of breaks the immutability "design".

[2016-01-31 13:44] Makman2 commented on #971
@fneu :+1:

[2016-01-31 14:20] sils1297 commented on #1035
@fneu if you have a ClangASTBEar and multiple consumers and the user wants the consumers, not the dependent bear, we might want to think about hiding those "internal" bears

[2016-01-31 14:28] sils1297 commented on #971
done

[2016-01-31 14:28] #971 closed

[2016-01-31 15:04] #1143 closed

[2016-02-01 12:54] rubdos commented on #1067
[code]

[2016-02-01 15:18] #1132 closed

[2016-02-01 15:21] sils1297 commented on #1067
@rubdos thanks. While thinking about it there's one unsolved issue still - we need to install checkstyle somehow because we don't want the execution to be dependent on where the user runs coala, right?

[2016-02-01 15:35] sils1297 commented on #1067
I think I'll be using something like http://regex-explain.googlecode.com/hg/explain.html#\[%28%3FP%3Cseverity%3EWARN|INFO%29\]\s*%28%3FP%3Cfile_name%3E.+%29%3A%28%3FP%3Cline%3E\d+%29%28%3A%28%3FP%3Ccol%3E\d+%29%29%3F%3A\s*%28%3FP%3Cmessage%3E.*%29 for checkstyle

[2016-02-01 16:15] rubdos commented on #1067
@sils1297 You probably want to have the user/coala put it in some standard location or something.

[2016-02-01 17:23] SanketDG commented on #1020
Fixed in https://github.com/coala-analyzer/coala/commit/dd3eade6a02269f2c74e547c0ba505ee749ff7c1

[2016-02-01 17:47] setharnold opened #1264 "Use arrays instead of strings to execute new programs"
At least the LInt abstraction (probably others, I haven't looked) is building a string to pass to the shell to execute; this is dangerous, especially when some inputs may come from untrusted sources (presumably the software being reviewed) and some inputs may come from trusted sources. This then requires properly quoting inputs, which is entirely too easy to overlook. (See the huge number of SQL i

[2016-02-01 17:49] sils1297 commented on #1264
@setharnold thanks for this report! We'll look into that as soon as possible.

[2016-02-01 17:57] sils1297 commented on #1264
@abhsag24 would you any of you be interested in doing this?

[2016-02-01 18:11] sils1297 commented on #1264
@setharnold please note that coala allows you to execute any custom code anyway. You can specify `bear_dirs` and thus provide custom analysis routines written in python through the `.coafile`. coala is not intended to be run with a configuration that has possibly malicious intent. (That is no reason to not clean up our code like you suggested, just noting.) If coala is run with a *trusted configur

[2016-02-01 18:16] Makman2 commented on #1264
It's anyway a good idea to be safe as possible, maybe we can just deactive the `shell=True` argument in most places?

[2016-02-01 18:21] sils1297 commented on #1264
We could also use a well defined regex in a bear to ensure such things
don't occur in the future, should be rather easy to do only for python with
a low false positive rate since this case is rather special.
On 1 Feb 2016 7:16 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-02-01 19:09] abhsag24 commented on #1264
@sils1297 sure :)

[2016-02-02 12:49] abit2 commented on #906
@sils1297 @Makman2 ,should it be self.info("Creating results...") instead of self.debug("Creating results...") and  instead of "difference of these two occurrences is " will it be right to write "difference of these two occurrences(in percentage) is "

[2016-02-02 13:01] sils1297 commented on #906
@abit2 hey, welcome! I think instead of `(in percentage)` I'd rather append a simple `%` to the number.

Actually I'm not that convinced of that info use rather than debug, @Makman2 what were we thinking?

[2016-02-02 13:11] Makman2 commented on #906
the messages are currently quite verbose, I would keep them 'debug'. If we shorten them and make them more "efficient" we could switch to 'info', because then it's valuable user information.

[2016-02-02 13:12] sils1297 commented on #906
Yeah, I think the same. Messaging can be improved but debug level is good.

2016-02-02 14:11 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-02 13:15] abit2 commented on #906
@sils1297
"difference of these two occurrences is "
"{difference} %.").format(
something like this??

[2016-02-02 13:18] sils1297 commented on #906
I wouldn't do a space before %, looks good otherwise

2016-02-02 14:15 GMT+01:00 ankit <notifications@github.com>:

[2016-02-02 13:20] abit2 commented on #906
got it

[2016-02-02 13:46] abit2 commented on #761
I would like to work on this.

[2016-02-02 14:39] yash14123 commented on #1212
I would like to work on this. Please assign me this task.

[2016-02-02 16:32] sils1297 commented on #1212
@yash14123 hi, cool. Please approve the invitation to our org at https://github.com/orgs/coala-analyzer so we can assign you. Let us know if you need any help, we're also usually available on the gitter channel.

[2016-02-02 16:32] sils1297 commented on #761
@abit2 hi, splendid! Please approve our invitation to our org at https://github.com/orgs/coala-analyzer so we can assign you :)

[2016-02-02 17:39] sils1297 opened #1267 "Deeper Go support"
http://dominik.honnef.co/posts/2014/12/an_incomplete_list_of_go_tools/ lists a few tools. https://github.com/coala-analyzer/coala/pull/1266 implements some basic support for Go, I'd like to see

- [ ] errcheck
- [ ] goreturns
- [ ] goimports
- [ ] golint

Take inspiration from the GoVetBear and the GofmtBear

[2016-02-02 19:20] rubdos commented on #1067
I found: https://oss.sonatype.org/content/repositories/snapshots/com/puppycrawl/tools/checkstyle/
which is their official maven snapshot repo
and http://repo1.maven.org/maven2/com/puppycrawl/tools/checkstyle/
which is their release repo.

Looks like file are persistent there, so this could be something.

[2016-02-03 08:26] abit2 opened #1268 "Installing coala from source in Windows using virtual env in conda"
Steps to reproduce the problem
Create a virtual environment with conda.
Clone repo in your Desktop.
Activate env and try to install using python setup.py install
Getting this error: "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x90 in position 2: invalid
start byte".

[2016-02-03 08:28] sils1297 commented on #1268
@abit2 can you give us the exact commands to reproduce to make sure they don't differ? Usually it's good to open a new terminal session, recreate the issue with commands and put the whole thing into pastebin, possibly stripping away unrelated output like the one from the venv creation.

[2016-02-03 08:54] sudheesh001 opened #1269 "Documentation: Example needs replacement from height to length"
The given example in http://coala.readthedocs.org/en/latest/Getting_Involved/Codestyle/

contains the area of rectangle calculation as `height * breadth` but the documentation mentions `length` in the documentation. Therefore replace

[code]
to
[code]
This should be an easy fix and i'll be sending a PR soon.

[2016-02-03 08:56] sudheesh001 opened #1270 "Explicitly mention usage of pip3 for users while installing requirements"
Installing using `pip` instead of `pip3` causes errors as follows
[code]
As noted on [Gitter](https://gitter.im/coala-analyzer/coala?at=56b1be19c54bc2bf180db15a) using pip3 should fix this problem.

[2016-02-03 08:58] sils1297 commented on #1270
At least on the install docs we should have a note about this, where did you get the info from? README?

[2016-02-03 09:00] sudheesh001 commented on #1270
I couldn't really find out where the install docs were, i noticed a requirements file and just like every other project (I generally work with Django / Flask, So I did `pip install -r requirements.txt` more instinctively than via any docs) Could you point me to the install docs please @sils1297

[2016-02-03 09:06] sils1297 commented on #1270
http://coala.readthedocs.org/en/latest/Users/Install/

[2016-02-03 09:35] sudheesh001 opened #1271 "Update instructions on setting up coala in a virtualenvironment"
Should we prefer if contributors use `virtualenv` ? That way this ensures that those contributing to coala have a fixed set of requirements without cluttering their global `pip3`

[2016-02-03 09:39] sils1297 commented on #1271
duplicate of https://github.com/coala-analyzer/coala/issues/1017

[2016-02-03 09:39] #1271 closed

[2016-02-03 10:02] sils1297 commented on #1270
@sudheesh001 do you think we could improve something or can we close this?

[2016-02-03 10:25] sudheesh001 commented on #1270
@sils1297 Maybe we could create a `..note` telling contributors to use only `python 3`, but how do we exactly put the wording for it ?
[code]

[2016-02-03 10:30] sils1297 commented on #1270
@sudheesh001 feel free to do a PR, note that we use markdown, we usually do notes with a quote, you won't have a hard time finding an esxample somewhere I guess

[2016-02-03 11:03] abit2 commented on #1268
@sils1297 http://pastebin.com/yainhCUf

[2016-02-03 11:09] sils1297 commented on #1268
interesting, the exception happens in setuptools, can you just retry the installation? I recall sometimes it just worked the second time in such cases...

[2016-02-03 11:41] sils1297 commented on #1258
yeah that's quite an issue indeed...

[2016-02-03 13:28] #1269 closed

[2016-02-03 14:11] abit2 commented on #1268
tried a few times, getting the same error.

[2016-02-03 14:32] Makman2 commented on #1268
your python version is somehow interesting (`Python 3.5.1 :: Anaconda 2.4.1 (64-bit)`), maybe that's the problem?

[2016-02-03 14:32] Makman2 commented on #1268
But I'll try it soon on my windows machine with `python setup.py install`^^

[2016-02-03 18:21] Makman2 commented on #1268
Can't reproduce, deleted setuptools, installed it again, installed coala befor and after, everything succeeds^^

[2016-02-03 18:23] Makman2 commented on #1268
Btw the problem seems to be inside coverage, there the traceback shows up^^

[2016-02-03 18:26] Makman2 commented on #1268
@abit2 could you maybe provide all commands that lead to this error? Also how you create the venv, cloning etc.

[2016-02-03 19:51] sudheesh001 opened #1277 "Update test-requirements so that tests and documentation can also be generated"
the requirements.txt contains the pip3 modules required to build coala locally, but there are other tools like <s>mkdocs</s> => sphinx and tests which can be run locally. Putting them into a test-requirements.txt file would allow the contributors to install them separately.

[2016-02-03 20:12] sudheesh001 opened #1279 "Running tests throws ValueErrors for unknown Locales and subprocess errors"
Here's a stacktrace

[code]

[2016-02-03 20:13] sils1297 commented on #1279
On master

[2016-02-03 20:13] sils1297 commented on #1279
?

[2016-02-03 20:14] sudheesh001 commented on #1279
Looks like this is a mac specific problem, the easiest way to fix this is to export the `export LC_ALL=en_US.UTF-8`
But need to look into the other failing test.
[code]

[2016-02-03 20:16] sils1297 commented on #1279
Assigning @Udayan12167 for mac related problems :P

[2016-02-03 20:17] sudheesh001 commented on #1279
https://gist.github.com/sudheesh001/fb9167effe66f97f1a45

[2016-02-03 20:42] Makman2 commented on #1277
:+1:

[2016-02-04 02:11] sudheesh001 commented on #1279
@sils1297 @Udayan12167 I am surprised that it works normally when running in the shell
[code]
but fails when running it as `./run_tests.py` Needs a deeper check

[2016-02-04 07:33] sils1297 commented on #1279
Well you don't seem to run the unit test main in your shell session so the
assertion is never executed
On 4 Feb 2016 3:11 a.m., "Sudheesh Singanamalla" <notifications@github.com>
wrote:

[2016-02-04 09:57] abit2 commented on #1268
@Makman2
created conda create --name coala python=3
cloned from forked repository
python setup.py install
it gives me  this error

[2016-02-04 12:43] abhsag24 opened #1280 "ContextManagers: make_temp should take arguments"
it should IMO take optional arguments for at least the suffix and prefix to pass on to tempfile.mkstemp() (for more specific testing)

[2016-02-04 13:17] #1270 closed

[2016-02-04 14:17] Makman2 commented on #1268
@abit2 please the concrete commandos, not a description :) I can't reproduce it then

[2016-02-04 15:38] sils1297 opened #1281 "CircularDependencyError in Dependencies.py: Code can be simplified"
[code]

that can be easily written as a generator expression shortening the code

[2016-02-04 16:50] sils1297 commented on #933
I have worked out a prototype together with @Makman2 of which sounds like an actual feasible solution at https://github.com/coala-analyzer/next-gen-bears-prototype . I also think we might want to make a library out of that because that is pretty universally usable. Less complexity in coala.

[2016-02-04 18:22] shubhamrajput commented on #1281
how about this...
bear_names=[bear.__name__ for bear in bears]

[2016-02-04 18:23] sils1297 commented on #1281
yes :)

[2016-02-04 18:28] sils1297 commented on #1281
@shubhamrajput interested in doing this one?

[2016-02-04 18:28] shubhamrajput commented on #1281
yes i am...

[2016-02-04 22:31] abit2 commented on #1268
http://pastebin.com/sh7znSXQ

[2016-02-04 22:34] abit2 commented on #868
Please ,can someone elaborate.

[2016-02-05 00:03] Makman2 commented on #868
@abit2 what do you mean with "elaborate"? This issue is blocked until we switched to `pytest` as a test framework. Currently we use `unittest` which requires to insert a `sys.path.insert(0, ".")` so coala imports are recognized correctly. Because of that the *PyImportSortBear* can't work correctly.
I hope it's a bit better understandable now :)

[2016-02-05 00:16] Makman2 commented on #1268
@abit2 you use a package manager called "conda", tbh I've never worked with it. The default way what I tried and what others use by default is `venv` (I think we support that by now). What I know from there is that you need to activate a created environment, maybe that's missing in your setup? I don't know if you skipped something, seems you stripped off the install logs :/ even if they are long p

[2016-02-05 07:10] sils1297 commented on #1268
@Makman2 we should not advise people against using a virtual env, using that is actually the cleaner and generally better thing because dependencies don't conflict with otherwise installed packages.

[2016-02-05 09:03] sudheesh001 commented on #1268
Did you try using `export LC_ALL=en_US.UTF-8` before running the `setup.py`. Specifically C_TYPE should fix this `export LC_CTYPE=en_US.UTF-8`, I could reproduce this problem on a friends windows PC and fix it using the export.

[2016-02-05 10:05] sils1297 commented on #1268
@sudheesh001 any hint on how this could be fixed?

[2016-02-05 11:08] sudheesh001 commented on #1268
[code]
Putting this as a part before the setup process starts should be fixing this I guess.

[2016-02-05 11:16] #1277 closed

[2016-02-05 15:53] CruiseDevice opened #1288 "ImportError: No module named 'setuptools'"
Error while installing **coala** on Ubuntu 15.04 using *"python3 setup.py install"* command.  This can solved by installing the setup tools using *"pip3 install setuptools"*. Include this in documentation. :smile:

[2016-02-05 15:58] sils1297 commented on #1288
the user just needs to install setuptools, this can be improved in the Install.md documentation

[2016-02-05 17:13] vadi95 commented on #1141
Hi, I would like to work on this!

[2016-02-05 17:15] sils1297 commented on #1141
Hi, please accept the invitation to the org so I can assign you.

[2016-02-05 21:31] #1288 closed

[2016-02-06 13:11] #1142 closed

[2016-02-06 15:47] #1141 closed

[2016-02-06 17:00] sudheesh001 commented on #1259
So I believe this should be similar to jshint , Could you confirm on that @sils1297

[2016-02-06 17:13] sils1297 commented on #1259
yes

[2016-02-06 18:19] sils1297 commented on #1268
Apparently this is not resolved

[2016-02-06 19:09] abit2 commented on #1268
http://pastebin.com/HhyLSErM

[2016-02-06 21:12] Makman2 commented on #1268
@abit2 could you try to install inside your `te` environment `coverage` directly using `pip install coverage`? If that works could you then try to install coala again like you do via `python setup.py install`?
Looks more like an issue in pip (on first sight), already found bug reports where unicode stuff can't be decoded correctly.
@sils1297 btw I'm a bit irritated why coala tries to install `cove

[2016-02-06 21:14] sils1297 commented on #1268
We may have stuff for testing in the requirements.txt which is picked up by
setup.py. Yes, it's actually in there.

2016-02-06 22:12 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-06 21:23] Makman2 opened #1293 "Move dependency `coverage` from `requirements.txt` to `test-requirements.txt`"
`coverage` is for measuring coverage inside tests. No need to have this package for deployment.

[2016-02-06 22:10] sils1297 opened #1294 "git commit bear doesn't work if coala isn't run in the same directory"
it should also work if I provide a coafile with `-c`, @Makman2 can you fix that soonish? This is kind of the reason why this breaks everywhere for my gitmate experiments.

[2016-02-07 00:23] Makman2 commented on #1294
@sils1297 you know how to retrieve the filename of the coafile being used? Then I can just passing this as a working directory to git.

[2016-02-07 05:17] sudheesh001 opened #1296 "reSTLintBearTest fails on windows and mac os x because of locales"
An easy way to fix this would be to integrate
[code]
This can be open to someone to take and fix as their first bug

[2016-02-07 07:13] sudheesh001 commented on #982
@sils1297 What is the exact requirement here ? How should DBus be used ? There are log messages
`self.uut.to_string_dict()`, How should they be replaced once the `to_string_dict` method is removed ?

[2016-02-07 07:23] sudheesh001 commented on #1236
Would the value in `echo $SHELL` be useful for this ?

[2016-02-07 07:39] sudheesh001 commented on #1037
How about also adding entry into `homebrew` and make it `brew install coala` ?

[2016-02-07 10:16] sils1297 commented on #1037
Yeah we should do that:

- [ ] Make a homebrew package
- [ ] Make an arch AUR package
- [ ] Speak to fedora people about getting an RPM into their repositories (@sils1297)
- [ ] Speak to debian people about getting a deb into their repositories (@sils1297)

FWIW we still have some big changes ahead and so far I think we don't want it packaged right now. If it's in debian it probably won't be updat

[2016-02-07 10:17] sils1297 commented on #1294
@Makman2 so the `section` might have a `config` setting that points to the coafile. Actually @abhsag24 has a function in one of his PRs that retrieves that location for you, we just need to move it out later.

[2016-02-07 10:19] sils1297 commented on #1296
Integrate it where? Is this related to your fix in setup.py?

[2016-02-07 10:21] sils1297 commented on #982
So basically we have this JSON conversion routines (JSONEncoder or so) somewhere which take any object and make a neat JSON object out of it without you having to specify what goes in because it just takes public members and properties. Maybe we could do something similar for the DBus stuff since this `to_string_dict` has to be implemented multiple times for all objects while the encoder works for

[2016-02-07 10:28] sudheesh001 commented on #1296
No, this is unrelated to that, that was to set coala up on the system, this is needed to run the tests, specifically this one

[2016-02-07 12:04] sudheesh001 opened #1299 "change verify_local_bear so it (optionally) writes file contents to actual files"
Pass the parameters as
- filename1 (good file) : Valid
- filename2 (bad file) : Invalid

The bear tests fail in scrutinizer because of duplication, there should be a way around that problem by writing a function as above which generates the test instead of explicitly maintaining the test.

[2016-02-07 12:30] sils1297 commented on #1296
@sudheesh001 for this to be newcomer suitable please provide a more specific description

[2016-02-07 13:33] Makman2 commented on #1236
Does this work for all shells? Thats the question for this issue :)
And if not we need more such shell commands that specify the shell and pack them together inside a function.

[2016-02-07 14:37] sils1297 opened #1303 "setup.py: classifiers: Set development status to beta"
we're not alpha. We're not production yt but we're close so let's say beta.

[2016-02-07 15:08] sils1297 opened #1304 "Add bear binary"
we want to move bears out of the coala main repository into own pip packages. That means we probably want some binary like `coala-bears` that allows you to search pypi for coala bear packages and install them. (Essentially only a wrapper aroiund pip, it shouldn't be more since they can do that stuff better than we can.)

[2016-02-07 15:08] sils1297 commented on #1304
This project would end up in an own repository

[2016-02-07 15:11] AbdealiJK opened #1305 "getting `setup.py test` to work"
As pytest support is complete now we can use https://pypi.python.org/pypi/pytest-runner to integrate pytest with setup.py. With this we can simply run `python3 setup.py test` and run all our tests.

Gives us more flexibility because we can add hooks for before and after too (inside setup.py) !

[2016-02-07 15:11] sils1297 commented on #1305
pytest support is possible but we didn't do the switch yet fwiw

[2016-02-07 15:12] #1020 closed

[2016-02-07 15:13] #1280 closed

[2016-02-07 15:40] sils1297 commented on #1305
blocked by https://github.com/coala-analyzer/coala/issues/1305

[2016-02-07 15:55] AbdealiJK commented on #1305
Er, @sils1297 you just wrote that this test is blocked by itself ?

[2016-02-07 15:55] sils1297 commented on #1305
sorry I meant https://github.com/coala-analyzer/coala/issues/875

[2016-02-07 16:03] sils1297 commented on #1305
Doesn't seem too easy...

[2016-02-07 16:06] sils1297 commented on #1305
http://pastebin.com/VxCWj3p4

[2016-02-07 16:08] sils1297 opened #1309 "XML Bear"
apparently I did https://github.com/coala-analyzer/coala/commit/20fdbd88f3d638365776e75f7af9f01e6d18af29 not sure how good this is reusable

[2016-02-07 17:15] sudheesh001 commented on #1236
I think that command should work on all Linux and Mac.

[2016-02-07 17:28] sudheesh001 commented on #1296
The test reSTLintBearTest fails on mac os x and windows because the test raises an error
[code]
This can be fixed by setting the locale to UTF8 before the tests start to run.

[2016-02-07 17:39] sudheesh001 commented on #1017
I think those working with virtualenv directly startoff creating it and then activating it before the setup.py is run. If we have to package it into a script, we need to do something to the `setup.py` file to create something using `subprocess.call()` before the following code segment.

[code]

But we don't want to create a virtualenv for the users, so we need to pass a flag/argument to the setup.

[2016-02-07 18:36] sudheesh001 commented on #468
Why not just regex for a url until a whitespace character, there's a rare chance that we have decoded url's ?

[2016-02-07 19:11] sils1297 commented on #1236
So the biggest problem here is windows with the powershell and cmd.

2016-02-07 18:15 GMT+01:00 Sudheesh Singanamalla <notifications@github.com>:

[2016-02-07 19:21] sils1297 commented on #468
Yeah would be nice to have some regex, if it matches allow line to be longer.

[2016-02-07 19:52] sils1297 commented on #1293
yeah, there'll be a lot of movement around this soon with the pytest switch, this has other effects and is not a task that can be carried out that easily. I think this bug report is not really useful right now.

[2016-02-07 20:22] #1067 closed

[2016-02-07 20:47] sils1297 commented on #468
or maybe a simple list of globs that we can use with Globbing.fnmatch? That's actually fairly simple.

[2016-02-07 21:13] CruiseDevice commented on #1303
What exactly to do here? Is there a typo in title?

[2016-02-07 21:18] sils1297 commented on #1303
the classifiers in setup.py need to be edited - just look into the file, there should be a comment explaining what they are.

Yes there was a typo ;)

[2016-02-07 21:24] CruiseDevice commented on #868
Using just isort will solve this issue? I searched for isort library, i think isort will do the work.

[2016-02-07 21:27] sils1297 commented on #868
As pointed out above the `PyImortSortBear` can be used, it'll automatically take care of this. Please note that this issue has `status/blocked` which means that it depends on another issue to be resolved, namely the PyTest switch as it allows us to free our imports from the `sys.path` mangling currently needed because we use our own test framework.

**Currently this issue is blocked. Do not attemp

[2016-02-07 21:27] CruiseDevice commented on #1303
Only change this line `'Development Status :: 3 - Alpha'` right?

[2016-02-07 21:28] sils1297 commented on #1303
yes

2016-02-07 22:27 GMT+01:00 Bruce Wayne <notifications@github.com>:

[2016-02-07 21:32] sils1297 commented on #875
Alright, the DBusTest issue is resolved, think we can make the switch soon

[2016-02-07 21:53] #1198 closed

[2016-02-08 03:46] AbdealiJK opened #1313 "coala-format new string option : severity_str"
Currently, severity gives the formatted output as a integer.
`severity_str` can be used to give it as a string (Info, Normal, Major).

So, then people can use which ever they prefer.

[2016-02-08 07:07] abhsag24 opened #1314 "Add contextmanager for os.chdir()"
The context manager, should change the directory and then revert back after all the work is done(as with all context managers)
UPDATE: Would be useful in testing, when tests need to check in different directories

[2016-02-08 07:09] sils1297 commented on #1314
@abhsag24 please add at least one case where this should be used

[2016-02-08 09:12] AbdealiJK opened #1315 "Running coala on a specific glob only"
There are a few issues that came up when looking at the editor plugins.

### What we want
We want to be able to run all sections in a coafile. But we do not want to run everything - we only want to run on a specific glob of files (or a single file).
For example:
If I have 3 sections `[JSON]`, `[Python]`, `[Coffee]` - and I want coala to only give me results for a `test.py`

### Current solutions

[2016-02-08 09:21] AbdealiJK commented on #1246
@sils1297 I think I had mentioned this on gitter, but I don't seem to be able recreate this bug.

[code]
So, as you see if the test.py was in the same directory as coafile - When i run it from that directory with or without `--find-config` it worked. And when I created a folder `abc` and ran it from there it only worked with `--find-config`  as the coafile was one layer down.

I even did a whole s

[2016-02-08 10:18] AbdealiJK commented on #1304
Atom has done something similar where they have a `apm` which is built on top of `npm`.

[2016-02-08 10:25] AbdealiJK commented on #1315
@sils1297 What do you think about adding wild cards in the Section names ?

Like : `-S *.files=test.py` ?

This would be good because if you want you can modify a bunch of sections with similar names you can do it. Like if you have a `[PythonLinting]` `[PythonAutofix]` `[PythonCodeClone]` and you want to change the `files` for all Python related section you could do `-S Python*.files=test.py`

[2016-02-08 10:43] sils1297 commented on #1315
that wouldn't cover the usecase as it'd override the file setting also for
sections that don't even contain the file, we really want an intersection ;)

2016-02-08 11:25 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-08 10:45] sils1297 commented on #1246
I think this bug occurs if you e.g. do `-c path/to/directory` as the `dirname` will cut away `directory`

[2016-02-08 10:53] AbdealiJK commented on #1246
Why would you do -c and --find-config ?

On Mon, Feb 8, 2016 at 4:15 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-08 11:00] AbdealiJK commented on #1315
True.

[2016-02-08 11:02] sils1297 commented on #1246
good point... still I think the commit we hav ewould be useful

[2016-02-08 11:09] iamshubh22 commented on #1313
@AbdealiJK I am a newcomer to coala and it would be helpful if you elaborate this.

[2016-02-08 11:25] AbdealiJK commented on #1313
@iamshubh22 hey there !
We have a file named `RESULT_SEVEIRTY.py` which contains an Enum (enumeration) for all the severities we have in coala. As you may know, enums are essentially ints which have a string associated to it.

Currently we have 3 severities: Info (0), Normal (1), and Major (2)

Now, in `coala-format`, we can specify how we want coala's results to be formatted using the `format_str

[2016-02-08 12:08] AbdealiJK commented on #847
@sils1297 maybe we want to output the logs to stderr ? This way we can easily distinguish between actual output and logs

[2016-02-08 13:10] AbdealiJK commented on #1246
Figured out how to reproduce this. It seems if I have a `.coafile` one directory above where I run it from, it prefers that one. If I don't have a coafile one directory above, it uses the one in the current directory.

[2016-02-08 15:16] AbdealiJK opened #1317 "Remove docs/requirements.txt"
We have a `./docs-requirements.txt` and also a `docs/requirements.txt`

I had created the `docs/requirements.txt` about half a yr ago. https://github.com/coala-analyzer/coala/commit/f14b734fbdfd330d18c4c09de05cd9593d6dea4c

I notice we're not using mkdocs anymore ? Maybe this should be removed ?

[2016-02-08 15:20] sils1297 commented on #1317
oh yeah, sorry

[2016-02-08 15:24] AbdealiJK commented on #1317
Also, `.misc/deps.linux.sh` needs to be removed. It just says "No dependencies to install for linux" and is not used anywhere

[2016-02-08 15:25] sils1297 commented on #1317
@AbdealiJK can you file another bug for this? I'm doing a workshop in a month or so and need 15 newcomer suitable bugs for that :P

[2016-02-08 15:26] AbdealiJK commented on #1317
sure

[2016-02-08 15:26] AbdealiJK opened #1318 "Remove .misc/deps.linux.sh"
`.misc/deps.linux.sh` needs to be removed. It just says "No dependencies to install for linux" and is not used anywhere.

its a file which was useful a while back when we planned on using travis for linux.

[2016-02-08 15:34] AbdealiJK commented on #1252
Just a note here - I think adding more plugins is not a good idea.
If there is someone who wants to use it and requests it, then it should be made. But until then, let it be.

Coala is changing a lot frequently. This makes maintaining these plugins tiresome. Also, these plugins normally are difficult to debug as it's impossible to write automated tests and so on for them. All in all, too much wast

[2016-02-08 15:41] AbdealiJK commented on #918
Just covering all bases here.
 - This ImportError was saying that a coala module was not found ?
 - The `pip` mentioned above was for python v3 right ? (i.e. you didnt make a mistake on pip and pip3)

[2016-02-08 15:47] sils1297 commented on #918
unable to reproduce. Thanks for pinging.

[2016-02-08 15:47] #918 closed

[2016-02-08 15:48] AbdealiJK opened #1319 "setup.py : Ignore comments from requirements.txt"
In setup.py we are reading `requirements.txt` to get the list of requirements for coala. This doesnt consider comments. This is not good.

`# Do *not* use 0.3 which is not backwards compatible to common clang versions` is a comment which we have right now which is getting added to setup.py. Seems like setup.py is able to handle this without crashing, but it should be removed.

[2016-02-08 15:51] sils1297 commented on #1319
well we know it doesn't make any difference as setup.py handles it the same as any line directly from the requirements so why put special handling in there?

[2016-02-08 15:52] AbdealiJK opened #1320 "License in setup.py"
Currently we use `license="AGPL v3",` in the setup.py
This isn't the common short form for the license we are using.

[SPDX](https://en.wikipedia.org/wiki/Software_Package_Data_Exchange) is the standardized way of writing the license's short form. https://spdx.org/licenses/

According to it, we should be using `AGPL-3.0`.

Note : I came across this because `npm` kept complaining about it while I w

[2016-02-08 16:55] #1315 closed

[2016-02-08 16:55] sils1297 commented on #1252
So there were people on fosdem mentioning notepad++ in this context though there was no explicit request. Maybe you're right. What's highly relevant though for people is Jenkins.

[2016-02-08 17:37] Makman2 commented on #1319
@sils1297 and me did this on purpose, since like said `setup()` handles that right.

[2016-02-08 17:39] sils1297 commented on #1319
@AbdealiJK reopen if you disagree with this resolution

[2016-02-08 17:39] #1319 closed

[2016-02-08 18:45] sudheesh001 commented on #1318
I think this isn't a bug, The file is no more there and there are no traces of any `deps.linux.sh` in the code anywhere ?

[2016-02-08 19:19] sudheesh001 opened #1324 "Add rust-clippy bear for rust support"
Rust clippy is one of the linters for `rustc` the Rust programming language.
https://github.com/Manishearth/rust-clippy#usage

It gives the linter warning in the following format
[code]

[2016-02-08 19:30] sils1297 commented on #1318
indeed

[2016-02-08 19:30] #1318 closed

[2016-02-08 19:36] #1259 closed

[2016-02-08 19:56] iamshubh22 commented on #1313
@AbdealiJK Got it.

[2016-02-08 20:42] sils1297 commented on #1324
@sudheesh001 does it support another output

[2016-02-08 22:08] AbdealiJK commented on #1318
I must have been looking at an older version of the code by mistake

-----Original Message-----
From: "Sudheesh Singanamalla" <notifications@github.com>
Sent: ‎09-‎02-‎2016 01:50
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] Remove .misc/deps.linux.sh (#1318)

I think this isn't a bug, The file is no more there and there are n

[2016-02-09 01:44] AbdealiJK commented on #1324
You may want to try `rustc` and `cargo` as Atom and Sublime already made that plugin and it'd be much easier to implement (as we have the regex) - https://github.com/AtomLinter/linter-rust and https://github.com/oschwald/SublimeLinter-contrib-rustc

http://atomlinter.github.io/ is a list of all available atom linters

[2016-02-09 01:56] AbdealiJK opened #1327 "License file should not have execuable permission"
Our LICENSE file seems to be executable. Is that required ?

[code]

[2016-02-09 02:08] yash14123 commented on #1309
Can you explain this a little bit more?

[2016-02-09 02:13] AbdealiJK opened #1328 "Adding a package.json file to coala"
I think, like we have a requirements.txt file for `pip` we should have a `package.json` for `npm` also

`package.json` are easy to make and will make installing all out nodejs dependencies easy - just a `npm install` or `npm install -g`

This will make it easy for people to setup coala for development in their local computer also. It'd just be:
 - `pip install -r requirements.txt`
 - `npm install

[2016-02-09 02:17] yash14123 commented on #1317
PR sent for this. ! :)

[2016-02-09 02:20] yash14123 commented on #1317
@AbdealiJK the second point made : removing .misc/deps.linux.sh . By that you mean .misc/deps.sh?

[2016-02-09 02:28] AbdealiJK commented on #1317
@yash14123 - No, I did not mean deps.sh
Please ignore the comment aboud `.mics/deps.linux.sh`. It is invalid (check here for more details https://github.com/coala-analyzer/coala/issues/1318)

[2016-02-09 02:46] AbdealiJK commented on #1037
I just found `fpm` which seems to be able to help in doing this
https://github.com/jordansissel/fpm/wiki/ConvertingPython

Have never tried it, bit it may be useful.

[2016-02-09 02:47] yash14123 commented on #1212
Accepted the invitation. Sent a PR for issue #1317.

[2016-02-09 02:50] yash14123 commented on #1327
Can you give me a hint as to how to go about fixing this?

[2016-02-09 02:51] AbdealiJK commented on #1304
We may want to use `conda` for something like this ? It would seem that conda is considerably better when non-python packages are involved. Something that our bears are increasingly doing

http://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda#20994790

[2016-02-09 02:54] AbdealiJK commented on #1327
@yash14123 I'm not sure if @sils1297 has a reason for whether it should be executable (maybe the general norm is to have an executable LICENSE file ?)
So, let's wait for him to check if this is wanted or not.

But answering your question, to be able to fix this you'd have to use `chmod` to change he  file's mode bits.
Something like `chmod -x LICENSE`
More info here - https://www.mkssoftware.com/d

[2016-02-09 02:57] yash14123 commented on #1328
So npm init , generate package.json and then add that to the code right?

[2016-02-09 03:04] AbdealiJK commented on #1328
@yash14123 - Once again, i suggest letting @sils1297 triaging these bugs and making sure its a feature we want.

You could check out the newcomer bugs on the issues page - https://github.com/coala-analyzer/coala/issues
[Here](https://github.com/coala-analyzer/coala/issues?q=is%3Aissue+is%3Aopen+label%3Adifficulty%2Fnewcomer) is a list of issues filtered by `difficulty/newcomer` label

In general,

[2016-02-09 03:20] AbdealiJK opened #1329 "GoVetBear - skip condition invalid"
I have ubuntu 14.04 and was trying to get all the tests in coala to work for me.
I noticed that GoVetBearTest kept failing and found out that in GoVet the skip condition is set to `go`.
This is not right because that isn't the correct thing to check. I had `go` installed but not `go vet`.

I had to install `golang-go.tools` to get the `vet` package in `go`.

[2016-02-09 03:33] Makman2 commented on #1327
@AbdealiJK don't think so we need an executable LICENSE file, just because it doesn't contain some valid code or whatever. Since the LICENSE file is automatically added by github when creating a repository this could be the cause^^
@yash14123 Like @AbdealiJK said, change the file mode and remove the executable flag. git let's you stash this change so you can commit that.

[2016-02-09 03:35] yash14123 commented on #1327
Please assign me this task @Makman2 .
Thanks. :)

[2016-02-09 03:35] Makman2 commented on #1328
I would go for it, so we easily integrate our npm dependencies. Not sure how far #1304 gets affected though...

[2016-02-09 03:42] Makman2 commented on #1314
Found it only here:
https://github.com/coala-analyzer/coala/blob/b5c49a77f7f8d11cf9d2101ffd665205c35fb307/bears/tests/vcs/git/GitCommitBearTest.py#L51
In this case I wouldn't use this context manager, I've written the tests and I wanted to get the test cases in some "environment" so one can execute git without bothering about the working directory.
Would be a nice context manager though^^

I would

[2016-02-09 03:44] Makman2 commented on #1309
This issue is about implementing a new bear that scans through XML files. For this purpose @sils1297 used the python built-in `xml` module inside his commit.
What actual analyze routines this bear shall implement is up to its writer :)

[2016-02-09 03:47] Makman2 commented on #1299
Don't we have that already in `LocalBearTestHelper.verify_local_bear()`?
https://github.com/coala-analyzer/coala/blob/master/bears/tests/LocalBearTestHelper.py#L256

[2016-02-09 03:51] sudheesh001 opened #1330 "Add GoLint bear"
Following up with https://github.com/coala-analyzer/coala/issues/1267
Breaking that issue into smaller bugs as recommended by @sils1297 for indiahacks

[2016-02-09 03:53] sudheesh001 opened #1331 "Add GoReturns bear"
Following up with #1267
Breaking that issue into smaller bugs as recommended by @sils1297 for indiahacks

GoReturns tools: https://github.com/sqs/goreturns

[2016-02-09 03:55] sudheesh001 opened #1332 "Add GoImports bear"
Following up with #1267
Breaking that issue into smaller bugs as recommended by @sils1297 for indiahacks

https://godoc.org/golang.org/x/tools/cmd/goimports

[2016-02-09 03:56] Makman2 commented on #1258
honestly I'm not in for that feature, it's more maintenance for the user. Even if he/she thinks on first sight to be able to separate codestyle-checks and code, this isn't worth when you change your code again (which you likely do, I mean you develop a project more or less consistently).
Even automated generation (maybe via a build tool like CMake) of such a coafile that would do skipping stuff is

[2016-02-09 03:58] sudheesh001 commented on #1267
@sils1297 Please rename this issue to `errcheck` bear , I've opened up the other issues for the other gotools, That way this issue also gets closed without explicitly mentioning this to close after fixing all the other issues

[2016-02-09 04:02] Makman2 commented on #282
@sils1297 would close this in favor of #915 and #933.

[2016-02-09 04:23] Makman2 commented on #1267
@sudheesh001 I think you can open another issue just for `errcheck`, then we just close this issue, so we have a new and clean one :)

[2016-02-09 04:48] AbdealiJK commented on #875
Now a new issue came up. If I do `py.test -k "coalaTest"` the test fails. This happens in `coalaTest` `ConfigurationGatheringTest` and `CliParserTest` - probably because they all use `sys.argv`

[2016-02-09 04:51] AbdealiJK opened #1333 "Typo in "invalid settings" error message"
In Interactions.py there is an error message like
[code]

There is no space between "required" and "settings"

[2016-02-09 04:59] yash14123 commented on #1333
@Makman2 if you feel this is important , assign me this too. :)
Thanks.

[2016-02-09 05:27] AbdealiJK commented on #967
Closing this as I cannot find the show_diff functions anymore =>`git grep show_diff` gave me nothing
I found a `print_beautified_diff` which seems to be a revamped version of it.

Reopen if I am mistaken about this.

[2016-02-09 05:27] #967 closed

[2016-02-09 05:42] AbdealiJK opened #1334 "Appveyor clean up the PATH setting"
it'd be nice to clean up appveyor.yml's PATH line.

We have a long-ish line `"SET PATH=%PYTHON%;%PYTHON%\\Scripts;C:\\Program\ Files\\Java\\jdk1.7.0\\bin;%PATH%"`
which can be split into different lines based on the language.

i.e. change it so that python paths are added in one line
and Java paths are added in the next line.

It's better for readibility and we are going to be adding Go and other

[2016-02-09 05:43] AbdealiJK commented on #1329
The skip condition to be to check if `go help vet` returns 0 or not

[2016-02-09 05:44] sudheesh001 opened #1335 "Add errcheck bear for Go"
Following up with #1267
Breaking that issue into smaller bugs as recommended by @sils1297 for indiahacks

http://dominik.honnef.co/posts/2014/12/an_incomplete_list_of_go_tools/

[2016-02-09 05:45] sudheesh001 commented on #1267
@Makman2 good to close ! :smile:

[2016-02-09 07:11] AbdealiJK opened #1338 "circleci: Install docs-requirements instead of sphinx"
In `deps.sh` we run `pip install -q sphinx`. This should be replaced with `pip install -q -r docs-requirements.txt`.

Right now, it doesn't matter much but later we may want to add more dependencies

[2016-02-09 07:27] yash14123 commented on #1338
Fixing it . :)

[2016-02-09 07:32] abit2 commented on #1268
@Makman2 pip install coverage tells it is already up-to-date.Still the same error.

[2016-02-09 07:34] abit2 commented on #1268
http://pastebin.com/NX2Mr479

[2016-02-09 07:39] abit2 commented on #761
@sils1297 @AbdealiJK not able to reproduce this issue.

[2016-02-09 07:42] abit2 commented on #370
@sils1297 i would like to give it a try.

[2016-02-09 07:44] yash14123 commented on #1338
So I fixed #1338 and #1333 but they are added to the previous pull request only.
I guess then the name of the PR would be same Remove docs/requirements.txt #1317 but will fix 3 issues.
Is this the right way ?

[2016-02-09 07:47] AbdealiJK commented on #1338
You can fix multiple issues in the same PR - thats not a problem
Normally if you want to make multiple PRs separately you use different branches and make pull requests from these different branches

[2016-02-09 07:52] yash14123 commented on #1338
Ok I will try that.
Thanks. :)

[2016-02-09 08:02] AbdealiJK opened #1339 "PyTest cache results"
We may want to use https://pypi.python.org/pypi/pytest-cov-exclude/0.0.6 when pytest is implemented

Seems like it would allow us to run tests locally much faster.
But I do not know if it works if I just switch my git branch ?

Also, right now I get a ImportError when trying to install it and haven't tried to debug it yet. Keeping it here so that if someone is interested in making tests faster lat

[2016-02-09 09:47] NalinG commented on #944
Hi, I would like to work on it.
Can hyou please give me some starting pointers.

[2016-02-09 09:47] AbdealiJK commented on #761
@abit2 there is nothing to reproduce here. The tests for PyLintBear works fine for now.
The issue being brought up here is that the test isn't checking the correct thing.

We use `LocalBearTestHelper` which just checks if there were invalid lines in the test file or not using `assertLineValid` and so on.
The better method would be to have a function which takes in a list of line/col pairs and chec

[2016-02-09 10:03] NalinG commented on #906
Hello,
Is this issue open and if it is, can I send a PR.

[2016-02-09 10:11] NalinG commented on #1329
Hi, I would like to work on this issue.
I checked the GoVetBear.py file but is just called the self.lint method.
Do we have to change the lint method or I am missing something.

Thank You

[2016-02-09 10:30] AbdealiJK commented on #1329
The ship condition is in GoVetBearTest
The @SkipIf checks for go, not for go vet

-----Original Message-----
From: "Nalin Goel" <notifications@github.com>
Sent: ‎09-‎02-‎2016 15:41
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] GoVetBear - skip condition invalid (#1329)

Hi, I would like to work on this issue.
I checked the GoV

[2016-02-09 11:40] AbdealiJK commented on #1305
So, i checked out the pytest thing. its not very nice :/
Apparently with `python setup.py test`  you'd need to pass arguments using something like `pytest_args="..."` which i find irritating.
Also, `python setup.py test` will install pytest on its own locally to a .egg file which i again don't like because it is confusing.

[2016-02-09 11:57] #1330 closed

[2016-02-09 12:32] AbdealiJK commented on #868
I implemented pytest and removed those pesky `sys.path` lines. And I also added PyImportSortBear in coafile.
But, the bear doesn't seem to be working. Can someone take a look ? https://github.com/coala-analyzer/coala/commit/48748751fdb91806082f6ae28090e64041939ea9

[2016-02-09 12:33] AbdealiJK opened #1341 "Change coafile to run coala on docs (rst files)"
We were using `.md` files for docs earlier, but now we use `.rst`

The coafile has not been changed to reflect this.

[code]

The `files` needs to be changed to `docs/**/*.rst`

[2016-02-09 12:38] AbdealiJK opened #1342 "coafile: Fix typo"
There is a typo in `.coafile` - `itn't` in "python" section ... needs to be changed to `isn't`

[2016-02-09 12:39] yash14123 commented on #1317
Can you help me @AbdealiJK ? I am stuck >.< .
What should I do with the PR now. I committed two changes and both of them are vaguely written. Just guide me in this please.

[2016-02-09 12:40] yash14123 commented on #1341
Please assign me this @AbdealiJK . I will be doing proper commits now.

[2016-02-09 12:41] AbdealiJK opened #1343 "coalib/tests/bearlib/__init__.py - documentation is wrong"
The documentation in `coalib/tests/bearlib/__init__.py` has been erroneously copied from `coalib/bearlib/__init__.py`.

This needs to be removed.
To fix this, simply open `coalib/tests/bearlib/__init__.py` make the file empty and submit that as a patch.

[2016-02-09 12:41] AbdealiJK commented on #1317
@yash14123 sure ! Why dont you come on to https://gitter.im/coala-analyzer/coala so its easier to chat ?

[2016-02-09 12:45] AbdealiJK commented on #1341
@yash14123 I think you should be able to assign yourself to issues. There is an `Assignee` section on the right of this page.

[2016-02-09 14:32] sils1297 commented on #1299
yeah we should rather change that one

[2016-02-09 14:35] sils1297 commented on #1258
alright, this is a wontfix. We should be aware of the reasons though this feature does not make sense indeed because users would have to alter the config always which is impractical.

[2016-02-09 14:35] #1258 closed

[2016-02-09 14:35] #282 closed

[2016-02-09 14:41] #1267 closed

[2016-02-09 14:55] sils1297 commented on #906
@NalinG hey, probably best if you drop in at https://gitter.im/coala-analyzer/coala so we can speak there. Feel free to work on this. I've sent you an invitation to the org so we can assign you, please ping back when you accepted the invitation so we can do that.

@abit2 I assume you aren't working on this since you have not expressed explicit intent to do so.

[2016-02-09 14:58] sils1297 commented on #1329
@NalinG please work only on one newcomer issue, we don't have a lot of them because they take a lot of work to create.

[2016-02-09 14:58] sils1297 commented on #944
@NalinG  Hey I've assigned you to another bug (simply because I saw that comment first), talk to me on gitter if you want another or if we totally confused you ;)

[2016-02-09 15:01] Makman2 commented on #944
Hi  @NalinG ;)
If you want to get started, please read https://github.com/coala-analyzer/coala/wiki/Getting-Started-to-Contribute .
There's some useful Information how things work here^^

You should join our gitter channel where you can ask questions and where we organize such stuff.

To work on this issue you need to get an invitation to our org so we can assign you this issue. @sils1297 will sen

[2016-02-09 15:16] sils1297 commented on #1268
@abit2 can you try it outside conda? To see if it's conda related?

[2016-02-09 15:35] #1253 closed

[2016-02-09 15:54] sils opened #1348 "Settings Guessing"
We want coala to be able to generate a config from some source code. Possible means to do that are written down in https://github.com/coala-analyzer/coala/issues/1079 and https://github.com/coala-analyzer/coala/issues/568 . This needs a proper concept first.

[2016-02-09 15:54] sils1297 commented on #1079
closing in favour of https://github.com/coala-analyzer/coala/issues/1348

[2016-02-09 15:54] #1079 closed

[2016-02-09 15:54] sils1297 commented on #568
closing in favour of https://github.com/coala-analyzer/coala/issues/1348

[2016-02-09 15:54] #568 closed

[2016-02-09 16:16] #1320 closed

[2016-02-09 16:16] #1328 closed

[2016-02-09 16:22] sils1297 commented on #1339
@AbdealiJK wouldn't it be better to actually have a make like testing system that only execute tests if they have changed since last time? This seems to be only for the coverage?

[2016-02-09 16:24] tushar-rishav opened #1350 "README.rst: invalid rtfd urls"
`Getting Involved Information` link under `Getting Involved` section of `README.rst` is pointing to invalid url. We should change the url to [http://coala.readthedocs.org/en/latest/](http://coala.readthedocs.org/en/latest/)

[2016-02-09 16:25] AbdealiJK commented on #1339
@sils1297 I am not sure, but from what I read it isnt only for coverage.
It uses the coverage information to check which lines have already been tested and doesnt test them again until they've changed

Note: I may be mistaken, documentation is sparse

[2016-02-09 16:28] AbdealiJK commented on #1338
Closed in https://github.com/coala-analyzer/coala/commit/47e0da8fd139bbcc8ff040e260a66bc25aeface7

[2016-02-09 16:28] #1338 closed

[2016-02-09 16:29] AbdealiJK commented on #1333
Closed with https://github.com/coala-analyzer/coala/commit/e421d45f133f962a53998163418f998da6f3d75a

[2016-02-09 16:29] #1333 closed

[2016-02-09 16:29] AbdealiJK commented on #1317
Closed with https://github.com/coala-analyzer/coala/commit/11cdb46e3b4c267f061763bb12c8ceb7c6e21a4d

[2016-02-09 16:29] #1317 closed

[2016-02-09 16:35] sils1297 opened #1351 "CI scripts: Use package.json to install npm dependencies"
and ask @AbdealiJK for further questions on this one :)

[2016-02-09 16:59] AbdealiJK opened #1352 "ConfigurationGathering: Uses mutable arg"
In `ConfigurationGathering` we have a mutable argument `sys.argv` for `gather_configuration()`

[2016-02-09 17:02] AbdealiJK opened #1353 "ConfigGatheringTest - Force empty args"
In some tests, we're expecting the args of ConfigGathering to be empty. But pytest passes the sys.args downward. We need to explicitly mention that the cli args should be empty

[2016-02-09 17:02] sils1297 commented on #1352
@AbdealiJK proposed fix?

[2016-02-09 17:04] AbdealiJK commented on #1352
We put a `None` in the function header and do an If condition inside the function to replace it with the mutable value

[code]

[2016-02-09 17:06] AbdealiJK opened #1354 "CollectorTest - We have some flaky dirs being tested"
In collectorstest we are assuming python will create `__pycache__`. This is a bad method of doing things. it's better to ignore the `__pycache__` folders even if python creates them and our collector finds them

This is because the python interpreter is flaky. Some of them are compiled to not cache things, and this would fail the test. Which is bad.

[2016-02-09 17:06] Makman2 opened #1355 "package.json: Use in continuous integration"
Since we have now a `package.json` file for `npm` dependencies we should integrate that into our CI.
Would be nice to have that also for windows/appveyor.

[2016-02-09 17:07] sils1297 commented on #1355
duplicate of https://github.com/coala-analyzer/coala/issues/1351 - why is this medium anyway? Should be simple to do...

[2016-02-09 17:07] #1355 closed

[2016-02-09 17:09] sils1297 commented on #1352
@AbdealiJK in that case rather do `arg_list = arg_list or sys.argv[1:]` as it's shorter

[2016-02-09 17:10] AbdealiJK commented on #1352
That is shorter, but it will use sys.argv for `[]`
Which is bad. because we pass "empty" args many times in tests

On Tue, Feb 9, 2016 at 10:39 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-09 17:10] AbdealiJK opened #1356 "Remove sys.path from all test files"
Prerequisite for https://github.com/coala-analyzer/coala/issues/868

[2016-02-09 17:12] AbdealiJK commented on #1351
The issue basically involves using `npm install -g` to install a list of npm packages instead of doing something like `npm install -f <pkg1> <pkg2> <pkg3>`.

We already created a package.json file earlier and now, we just have to make our continuous integration systems use it. We have 2 continuous integrations: `appveyor`, `travis`, `circleci`.

Currently only `circleci` uses npm packages. It can

[2016-02-09 17:19] sils1297 commented on #1293
seems this'll be part of the pytest switch

[2016-02-09 17:29] AbdealiJK opened #1358 "Use Tox"
@sils1297 You had mentioned this earlier. Do we want it ?

The only downside I can see is that if we use tox we will be constrained by the pyenv in circleci. i.e. we wont be able to run with betas and so on. I dont think tox accepts betas quickly either.

If we do not mind that, then we can use tox

[2016-02-09 17:30] sils1297 commented on #1358
think it'd be good

[2016-02-09 17:43] #1334 closed

[2016-02-09 17:48] AbdealiJK opened #1359 "coala_delete_orig : Typo, no space"
In coalib/coala_delete_orig.py, We are giving a INFO message about deleting files using the log_printer.
After "Deleting file ..." there is not space.

We need to add the space for better formatting

[2016-02-09 17:49] AbdealiJK opened #1360 "coalib/coala_delete_orig.py - Better message when deleting file"
Currently, we say "Deleting file" which sounds scary.

We would like to say "Deleting old backup file"

[2016-02-09 18:26] iamshubh22 commented on #1360
@AbdealiJK I would fix this.

[2016-02-09 18:27] iamshubh22 commented on #1359
@AbdealiJK I would fix this.

[2016-02-09 18:27] AbdealiJK commented on #1360
@Makman2 @sils1297 could you add him to the org so that he can assign himself ?

[2016-02-09 18:29] sils1297 commented on #1359
@iamshubh22 you've got mail! : ) please accept that so we can assignyou

[2016-02-09 18:30] sils1297 commented on #1359
@iamshubh22 also consider joining our channel at https://gitter.im/coala-analyzer/coala

[2016-02-09 18:31] iamshubh22 commented on #1359
@sils1297 Done :smile:

[2016-02-09 18:32] sils1297 commented on #1360
@iamshubh22 cool, please do both issues (this and https://github.com/coala-analyzer/coala/issues/1359) in different commits, ideally in the same PR because they are related. (Otherwise you'll get conflicts.)

Also note that we'd love it if you don't solve more than two newcomer issues because they are really hard to come up with and we still need some for other contributors.

[2016-02-09 18:41] NalinG commented on #1329
Sorry for the trouble.
I will take care in the future.

[2016-02-09 18:42] NalinG commented on #906
Hi, I accepted the invitation and ready to start working :)

[2016-02-09 18:43] abit2 commented on #1268
@sils1297 http://pastebin.com/Gnh6NCwz
getting the same errror.

[2016-02-09 18:45] sils1297 commented on #1329
no problem

[2016-02-09 18:54] AbdealiJK commented on #1212
@sils1297 It would be better if we just linked - http://stackoverflow.com/help/how-to-ask Much easier and probably everything we need.

[2016-02-09 19:03] Makman2 commented on #1268
@abit2 did you deactivate the conda environment? The anaconda3 path does still show up^^

[2016-02-09 19:53] yash14123 commented on #1212
Agreed. @AbdealiJK

[2016-02-09 21:19] abit2 commented on #1268
@Makman2 Sorry my bad.

[2016-02-09 21:35] abit2 commented on #1268
@Makman2 http://pastebin.com/v6jFWvLw
same problem.

[2016-02-09 22:34] Makman2 commented on #1268
I think I need to get python 3.5 on windows. I have 3.4 and coverage installs for me the `coverage-3.4` script instead of `coverage-3.5`, maybe that makes a difference.

[2016-02-09 23:23] sils1297 opened #1364 "InferBear"
http://fbinfer.com/ - works on Objective-C, Java, or C code and seems to do quite some cool stuff. I'm not sure where we want to put it as it doesn't really belong in one of the language folders, maybe in the c_languages...

This is a simple wrapper if infer is done properly it should be simple to do.

[2016-02-09 23:25] AbdealiJK opened #1365 "circleci: Move go dependencies into deps.sh"
When adding golang deps yesterday I seem to have missed the fact that `go get -u github.com/golang/lint/golint` is done inside `circle.yml`. It should actually be be inside `deps.sh`

[2016-02-09 23:34] AbdealiJK opened #1366 "Add doctests"
Add doctests along with pytest

[2016-02-09 23:37] AbdealiJK opened #1367 "Stylize "note" in docs"
In some places "Note" can be stylized to make it more prominent.

[2016-02-10 00:22] AbdealiJK opened #1368 "Change docs for Writing tests to pytest"
With the move to pytest this needs to be changed.

[2016-02-10 00:25] AbdealiJK commented on #1367
Note that this is actually an important bug because w currently simply indent the note. And cases where we do:

[code]
The note actually becomes a part of the codeblock mentioned above !

[2016-02-10 00:32] AbdealiJK commented on #1366
@sils1297 you mentioned you wanted this, but I notice lots of dummy codes in out docs

Like
[code]

Doctests will keep throwing errors here

[2016-02-10 00:54] AbdealiJK commented on #1366
Nevermind. I just found out that `doctest` will only run code which can be run inside a python interpreter. i.e. Only with the prefix `>>>`

[2016-02-10 01:48] AbdealiJK opened #1369 "Tests: Do we need __main__"
In tests, we normally add
[code]

So we need this anymore ? Pytest doesnt need it ... and I rarely if ever run a test using `python3 path/to/test/_Test.py`.
Shall we remove it ?

[2016-02-10 01:50] Makman2 commented on #1369
Yes these statements shall be removed, they where only needed from `unittest`.

[2016-02-10 01:53] AbdealiJK commented on #897
@sils1297 We should maybe close this ? As it's way too huge a task. And anyway we have multiple smaller issues for each bear.

You could document this in Wiki - as prospective Bears ?

[2016-02-10 01:55] AbdealiJK commented on #1369
Ok, then Ill make a `sed` patch to remove them

[2016-02-10 03:55] AbdealiJK opened #1370 "Revamp LocalBearTestHelper"
We have a lot of repetitive code in `LocalBearTestHelper`

We could merge all the `assertLinesValid` `assertLineValid` and all the other plural vs singular versions into a single function with a check to find if he value if a string or a list.
Currently we have a lot of documentations repeated - and a lot of arguments just being repeated all over the place.

[2016-02-10 05:52] AbdealiJK opened #1372 "ConfParser Tests: Test for escaped characters"
Escaped characters are not being tested in ConfParser right now. Need to add it.

[2016-02-10 06:16] AbdealiJK commented on #1035
How do we define an "internal" bear ?

[2016-02-10 06:21] AbdealiJK commented on #922
How do you propose we fix this ?
Do we just want to dump all those comments above the key ? Or do we want to keep it inline ?

Note: The first line's comment goes above the key all the others go below.

[2016-02-10 06:40] AbdealiJK opened #1375 "coala-json : Make separate argparser"
coala-json cannot share some of the args that coala has.
We should make a custom arg parser for it.

Also, we want to make coala-json specific args too.

Blocks https://github.com/coala-analyzer/coala/issues/847

[2016-02-10 07:14] AbdealiJK opened #1377 "coala-json - Version & help not working correctly"
When I do `coala-json -v` or help, it seems to give me the help/version information and then prints some josn information.

This should not happen. It should only show the version info

[2016-02-10 07:26] NalinG commented on #1364
Hi, so we need to make a bear using infer to do stuff that infer does.
Please correct me if I am wrong

[2016-02-10 07:27] AbdealiJK commented on #1364
Nalin, thats exactly what needs to be done

On Wed, Feb 10, 2016 at 12:56 PM, Nalin Goel <notifications@github.com>
wrote:

[2016-02-10 07:33] NalinG commented on #1065
Hi, I would like to work in this.
And as far as I understand, we just have to change the messages for each action.

[2016-02-10 07:34] NalinG commented on #1364
I would like to work on this bug, can you assign it to me.

[2016-02-10 07:37] AbdealiJK commented on #1065
@NalinG Currently there is no "message" saved to each action. We'd also need ConsoleInteraction to get the message from the action and print that.

[2016-02-10 08:29] AbdealiJK opened #1380 "PyImportSortBear: Add max_line_length arg"
isort has a arg named `line_length` which is uses internally. We need to give it that.

[2016-02-10 08:33] sils1297 commented on #897
@AbdealiJK sure, can you move it to the wiki page and close it?

[2016-02-10 08:55] sils1297 commented on #1035
@AbdealiJK this all is very confusing, let me close this and https://github.com/coala-analyzer/coala/issues/623 and start a new discussion.

[2016-02-10 08:55] #1035 closed

[2016-02-10 08:55] #623 closed

[2016-02-10 08:57] sils1297 opened #1381 "Do we want to show dependent bears in the -A/-B view?"
I'm not sure: good thing about showing them is that all options are revealed, bad thing is that the user might be confused why there's new bears appearing.

I think it might just be best to show them.

Supersedes https://github.com/coala-analyzer/coala/issues/1035 and https://github.com/coala-analyzer/coala/issues/623 .

[2016-02-10 08:58] sils1297 commented on #922
keeping it in the line would be the best thing probably but we'd need to store that info somehow...

[2016-02-10 09:04] WJCode commented on #1350
Hi @tushar-rishav @scriptnull I think this link should actually be `http://coala.readthedocs.org/en/latest/Getting_Involved/README.html` as that is the Introduction page for Getting Involved.

Also, I noticed that the other links pointing to coala.rtfd.org in README.rst need this change. i.e in the link, simply replace the ending `/` with `.html`

[2016-02-10 09:39] WJCode opened #1383 "RELEASE_NOTES.rst: fix incorrect links"
Some links were not converted correctly during our move to sphinx/RST documentation. These two links in `RELEASE_NOTES.rst` need to be updated as follows:

Current | Change to
--------------------------------------------------------------------------|----------------------------------------------------------
http://coala.readthedocs.org/en/latest/Users/Exit\_Codes/ | http://coala.readthedocs.org/e

[2016-02-10 09:41] AbdealiJK opened #1384 "Coverage for coala-json"
Let's get full coverage for all main routines.

Best way to do this seems to be to run `coala-json`, `coala-dbus`, etc inside coalaTest rather than limiting it to coala-ci .

[2016-02-10 09:54] AbdealiJK commented on #1354
This is also present in GlobbingTest

[2016-02-10 10:46] sils1297 commented on #1350
@WJCode I guess you're the best to review #1374 then :)

[2016-02-10 10:58] AbdealiJK commented on #1380
Also, make the bear into a correctionbased bear
And add tab/use_spaces also.

[2016-02-10 11:07] AbdealiJK opened #1386 "doctest needs to parse python files"
Because it parses files, it fails when an import is not found.

Example: dbus is not found in windows

[2016-02-10 11:21] #1352 closed

[2016-02-10 11:21] #1353 closed

[2016-02-10 11:21] #875 closed

[2016-02-10 11:21] #1017 closed

[2016-02-10 11:21] #1293 closed

[2016-02-10 11:21] #1305 closed

[2016-02-10 11:21] #1354 closed

[2016-02-10 11:21] #1356 closed

[2016-02-10 11:21] #1365 closed

[2016-02-10 11:21] #1366 closed

[2016-02-10 11:21] #1367 closed

[2016-02-10 11:21] #1368 closed

[2016-02-10 11:21] #1369 closed

[2016-02-10 11:24] sils opened #1388 "disallow test skipping on circle ci"
related discussion at https://github.com/pytest-dev/pytest/issues/1364

[2016-02-10 11:27] WJCode commented on #1350
@sils1297 :) I will do that

[2016-02-10 12:01] AbdealiJK opened #1390 "docs: Mention `develop` command"
Mention the `python3 setup.py develop` command in our docs.

it essentially links your repository into the site-packages and so, if you make a change in the code, it is immesiately affected in site-packages. Making it look like it got immediately installed into the system

[2016-02-10 12:23] NalinG commented on #1364
Is it better to discuss here or on the gitter channel ?

[2016-02-10 12:36] srisankethu commented on #1390
@AbdealiJK Where exactly do you want to add this?

[2016-02-10 13:32] #1342 closed

[2016-02-10 14:27] AbdealiJK opened #1393 "ConfWriter ConfParser: Check delimiters better"
The ConfParser and ConfWriter doesnt check the delimiter properly.

We want to make sure that:

 - The delimiters are all strings
 - No 2 things have the same delimiter
 - No delimiter is a substring of another delimiter
 - Make sure that some delimiters are not absurd ... like `section_name_surroundings` being spaces
 - Make sure that none of the delimiters are backslashes.

[2016-02-10 14:29] sils1297 commented on #1393
I think we could trust the user here to use the parser/writer responsibly

[2016-02-10 14:31] AbdealiJK commented on #1393
If so, then we can close it. I'm making these assumptions while fixing another bug - hence brought it up.

[2016-02-10 14:36] #1393 closed

[2016-02-10 16:01] AbdealiJK commented on #1384
Blocks https://github.com/coala-analyzer/coala/issues/1375
@tushar-rishav if you can push a PR with coala-json first, it'd be good because I can continue on this bug which is blocked because we don not have a test routine for coalaJSON

[2016-02-10 16:10] sims1253 opened #1395 "Links in Readme lead to non existing pages"
http://coala.readthedocs.org/en/latest/Users/Install/
Does not exist.

[2016-02-10 16:13] AbdealiJK commented on #1395
@sims1253 Hi !

Could you help me out with where you got that link from ?

The correct link is http://coala.readthedocs.org/en/latest/Users/Install.html

[2016-02-10 16:14] sims1253 commented on #1395
https://github.com/coala-analyzer/coala
Under the Readme section.

[2016-02-10 16:15] AbdealiJK commented on #1395
Ah, you're right.
Even http://coala.readthedocs.org/en/latest/Users/Tutorial/ is a broken link in README. It sees as though all our rtfd links in README is broken

[2016-02-10 16:20] AbdealiJK commented on #1395
@sims1253 closing this as I just found https://github.com/coala-analyzer/coala/issues/1350 which already reports it. Hence closing as a duplicate.

[2016-02-10 16:20] #1395 closed

[2016-02-10 16:20] AbdealiJK commented on #1350
Note that even Installation, Tutorial, etc are all broken.
All the rtfd links seem broken

[2016-02-10 16:25] AbdealiJK opened #1396 "Bear: Check for broken links"
Owing to the numerous broken links we have https://github.com/coala-analyzer/coala/issues/1383 https://github.com/coala-analyzer/coala/issues/1350 it would be really awesome if we could make a bear which tests whether a markdown or rst file has any broken links

We could simply use the URL regex which will be able to give us a lost of links. After which we simply test that each link gives a 200 HT

[2016-02-10 16:28] sils1297 opened #1397 "StringProcessing.Core.escape: Use yield_once on escape_chars param in for loop"
Otherwise if there are double elements in escape_chars they'll get doubly escaped.

[2016-02-10 16:29] sils1297 opened #1398 "CSSCombBear"
http://csscomb.com

[2016-02-10 16:46] sils1297 commented on #1396
heh, that's neat :) really neat!

[2016-02-10 16:59] SanketDG commented on #1396
Regarding sending the requests, will we stick to `urllib2` or use `requests`?

[2016-02-10 17:01] AbdealiJK commented on #1396
@SanketDG either would be fine IMO
As long as it works

On Wed, Feb 10, 2016 at 10:29 PM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-02-10 17:02] sils1297 opened #1399 "ESLint Bear"
http://eslint.org/docs/user-guide/formatters/#json

The json output even contains fixes - let's take this it's awesome.

[2016-02-10 17:21] #921 closed

[2016-02-10 17:21] #1372 closed

[2016-02-10 17:52] AbdealiJK commented on #370
To summarize all the above discussion.

What this issue aims to do is improve documentation about which function throws which errors.

For example. Lets take a function:
[code]
Now, a function like that has to check if num1 and num2 are intergers or floats. So, it may throw a `TypeError` if the type of the arg is wrong.
What we aim to do is add a new documentation line which tells us that the func

[2016-02-10 17:53] sils1297 commented on #1115
@Arcanemagus hey, we're trying to create some generic linter abstraction here just like you did. We already have a `Lint` class which parses lint outputs based on regexes or JSON as well as the weirdly named `CorrectionBasedBear` class which passes a file via stdin and expects a new file via stdout, then creates issues based on Diff hunks. So we want to merge those, ideally uniting all advantages:

[2016-02-10 17:56] Arcanemagus commented on #1115
@steelbrain is actually the one that has done most of the work on the base Linter package, I've been doing what I can to maintain the `linter-*` plugins.

[2016-02-10 18:00] Arcanemagus commented on #1115
Essentially how the `linter` + `linter-*` setup works is that the `linter-*` plugins act as intermediaries between the linter programs (pyflakes`, `eslint`, ...) and `linter`, handling all aspects of running the program and parsing its output into a standard format that `linter` deals exclusively in. It sounds like most of the aspects of the `linter-*` plugins are handled within your `Lint` class,

[2016-02-10 18:36] Makman2 commented on #1397
Imo that's intended behaviour, if you provide a char twice, you get it escaped twice^^

[2016-02-10 18:37] Makman2 commented on #1397
It's even (more or less) documented: `Duplicate chars are allowed.`

[2016-02-10 18:38] sils1297 commented on #1397
ah ok

[2016-02-10 18:38] #1397 closed

[2016-02-10 18:43] abit2 commented on #370
@AbdealiJK thanks got it

[2016-02-10 20:42] AbdealiJK opened #1403 "PyImportSortBear add more args"
https://github.com/timothycrosley/isort/wiki/isort-Settings

known first and third party imports needs to be added to PyImportSortBear

[2016-02-10 21:14] #1359 closed

[2016-02-10 21:14] #1360 closed

[2016-02-11 02:43] AbdealiJK commented on #1351
Also, it'd be good to install npm deps locally and add the node_modules to the ~/.circleci

We can then cache this node_modules to increase speed

[2016-02-11 06:16] AbdealiJK commented on #1115
@sils1297 Ive pushed a prototype

[2016-02-11 10:26] sils1297 commented on #1383
@srisankethu is working on this

[2016-02-11 10:40] AbdealiJK opened #1405 "LocalBearTestHelper - better debug info"
If a test using the helper fails, we do not have proper debugging output. Very difficult to understand what caused the issue and even which test case caused the issue.

Needs work

[2016-02-11 10:42] AbdealiJK commented on #1405
Also, if a bear raised an Exception that comes out as an assertion error because the `local_bear` is None. That shouldnt happen, it should tell the error the Bear gave

[2016-02-11 10:47] sils1297 commented on #1405
@AbdealiJK I'm assuming you're doing this as part of your work on that part of the code?

[2016-02-11 10:49] AbdealiJK commented on #1405
@sils1297 Ill assign myself when I begin working on the branch. Until then anyone else can build upon the branch if they wanna.

(I'm solving many issues parallelly, dont wanna block others from solving it if they want to)

[2016-02-11 10:58] sils1297 commented on #1380
also adding lots of others

[2016-02-11 11:01] AbdealiJK commented on #1380
@sils1297 you can close https://github.com/coala-analyzer/coala/issues/1403 too

[2016-02-11 11:04] sils1297 commented on #1380
No I'm leaving that open for now out of laziness.

[2016-02-11 11:12] AbdealiJK opened #1407 "PyTest use multile cores"
Use xdist with pytest to increase speed by using multiple cores.

http://pytest.org/latest/xdist.html

@sils1297 says it has bugs. Let fix them or find another plugin
The error he got was http://pastebin.com/pMKzDkTd

[2016-02-11 11:12] sils1297 commented on #1407
this is what it does for me: http://pastebin.com/pMKzDkTd

[2016-02-11 11:12] sils1297 commented on #1407
related upstream bug: https://github.com/pytest-dev/pytest/issues/1075

[2016-02-11 12:26] sils1297 commented on #1339
Installed it. No further changes seem to be needed though we should activate coverage by default for this to work. We could even cache the cache in the CI and save time :P

Anyway when I use it I get a crash, bug is filed upstream at https://github.com/mhallin/cov-exclude-py/issues/1

[2016-02-11 12:37] sils1297 commented on #1264
@abhsag24 you seem to be busy with a lot of other stuff so I guess it's bad to push you to do this ;) However @AbdealiJK is just working on some refactorings related to this and he should at least be aware of it. @AbdealiJK would be nice if you could include a fix in https://github.com/coala-analyzer/coala/pull/1404 .

[2016-02-11 13:18] #1380 closed

[2016-02-11 13:19] sils1297 opened #1408 "PyLintBear: Use checker/rule as origin"
this way the user can even ignore one pylint rule individually.

If a newcomer wants to do this please ask us, this description isn't the best one... or just look in `Lint.py` and `CheckstyleBear.py` which actually does this.

[2016-02-11 13:36] AbdealiJK opened #1409 "LanguageToolBear: skip test when java not found"
LanguageToolBear assumes java is installed. SKip test if not found

[2016-02-11 13:39] sils1297 commented on #1409
@AbdealiJK the bear also needs `check_prerequisites` method, then the test skipping is merely a matter of using the skip test decorator for bears.

[2016-02-11 13:40] sils1297 opened #1410 "setup.py downloads possibly evil file via unsecured connection"
I got this comment on my blog recently:

And I think we should think about that. We're downloading checkstyle.jar there which shouldn't be evil. Compiling it from source though sounds like to be avoided IMO.

[2016-02-11 13:42] AbdealiJK commented on #1410
Bear binary would solve this to some extent.

On Thu, Feb 11, 2016 at 7:10 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-11 13:44] sils1297 commented on #1410
Yes that is related though it only moves the problem to some other script.

[2016-02-11 14:01] AbdealiJK opened #1411 "PyImportSortBear: Move to Lint"
@sils1297 with the Lint+COrrectionBasedBear PR nearly done.

Do we want to move this to Lint ? I believe it's better and wont make it considerably more complicated

[2016-02-11 14:02] sils1297 opened #1412 "Remove checkstyle.jar"
We have a binary bears/java/checkstyle.jar that needs to be removed, we also want `.jar` in the gitignore.

[2016-02-11 14:06] sils1297 commented on #1411
@AbdealiJK sure, do it if you think it's good. Marking as wontfix since it's nothing we must have and interesting for the roadmap.

[2016-02-11 14:06] #1411 closed

[2016-02-11 14:21] sils1297 opened #1413 "coala-ci: Print section names too"
We already print results, would be neat to also print section names. This should be fairly easy, just pass `print_section_beginning=partial_print_sec_beg,` the same as in `coala.py` but in `coala_ci.py`

[2016-02-11 14:30] Makman2 commented on #1410
To solve that cleanly imo we have two options:
1. Don't download the .jar, implement prerequisites for the bear to require the .jar and java. If it's not installed it's the users fault and he needs to install the packages on his platform himself. Since we don't install java itself on that way, this would be a viable solution.
2. If we want to install the .jar anyway over our setup, we need some py

[2016-02-11 14:38] #1256 closed

[2016-02-11 14:39] AbdealiJK commented on #1264
@setharnold  @sils1297 Python docs https://docs.python.org/3/library/subprocess.html#subprocess.Popen say that when `shell=True` is given its preferred to send a string instead of an array

We use `shell=True`. If I set `shell=False`, then the linters are not found (probably `PATH` is not set if `shell=True`)

[2016-02-11 14:41] sils1297 opened #1414 "Lint: allow custom origin and prefix it with bear name"
e.g. pylint has checkers like `unused-import` or so, would be nice to have the bear name `Pylint (unused-import)` so it's clear to the user that it's pylint but he can ignore the thing :)

[2016-02-11 15:00] sils1297 opened #1415 "MarkdownBear needs options"

[2016-02-11 15:29] Makman2 opened #1416 "Merge `coalib/tests/MakeTempTest.py` into `coalib/tests/misc/ContextManagersTest.py`"
There's already a test for the argument forwarding. The already existing `MakeTempTest.py` testcase shall be merged into it.

[2016-02-11 15:31] Makman2 opened #1417 "PyLintBear.py: Remove `sys.version_info` check"
[code]
These lines can be removed since we don't support below 3.3 either^^

[2016-02-11 15:34] Makman2 opened #1418 "coalaTest.py: Remove `sys.version_info` check"
[code]
These lines shouldn't be needed.

https://docs.python.org/3/library/importlib.html

[2016-02-11 15:39] sils1297 opened #1419 "patch: support explicit file renaming"

[2016-02-11 16:27] Makman2 commented on #1264
@AbdealiJK the environment should be inherited from the calling process as stated from the documentation. Maybe you forgot to change the string to binary/argument lists? Anyway I'll look into it^^

[2016-02-11 17:10] AbdealiJK commented on #1419
Could you elaborate?

[2016-02-11 17:11] sils1297 commented on #1419
@AbdealiJK so right now people could make two diffs, one emptying the file, the other one filling the file - and I bet coala would crash or do it wrong because you can't apply a diff to no file.

We want users to be able to create/rename/delete files with our Diff class or rather the diff dict appended to the result

[2016-02-11 17:11] sils1297 commented on #1419
maybe we could give the `Diff` class some flags

[2016-02-11 17:13] sils1297 opened #1420 "Build failing on master"
@AbdealiJK can you look at this ASAP? Seems to be related to that go dependency. @sudheesh001 can you provide insight?

[2016-02-11 17:24] sils1297 opened #1421 "set up requires.io correctly"
doesn't seem to work

[2016-02-11 18:16] sils1297 opened #1422 "filter routines: Do not modify my precious dicts!"
@fneu - very bad!

[2016-02-11 18:44] sils1297 opened #1423 "result filter breaks"
[code]

[2016-02-11 18:57] sils1297 commented on #1420
seems to be solved

[2016-02-11 18:57] #1420 closed

[2016-02-11 18:57] sils1297 commented on #1420
nondeterministic service failure on google repository hosting

[2016-02-11 20:13] #1115 closed

[2016-02-11 21:08] Makman2 opened #1425 "Auto-apply message should be slightly modified"
`[INFO][22:04:26] Applied 'ApplyPatchAction' from 'bears/c_languages/codeclone_detection/CloneDetectionRoutines.py' for 'PyImportSortBear'.`

"to apply sth. on sth.", so it should be

`[INFO][22:04:26] Applied 'ApplyPatchAction' on 'bears/c_languages/codeclone_detection/CloneDetectionRoutines.py' from 'PyImportSortBear'.`

[2016-02-11 21:19] sils1297 commented on #370
Removing difficulty label, it is misleading. This bug won't be solved without quite an amount of work - although it's trivial work it's an amount.

[2016-02-11 21:21] Makman2 opened #1428 "Lint.py: Use Shell-module functions instead of Popen"
`coalib/bearlib/abstractions/Lint.py` contains code that can be replaced with an already implemented function inside `Lint.lint()`.
Replace the `Popen` and stdin stuff with `coalib.misc.Shell.run_shell_command`, since the functionality is more or less duplicated here. Also `run_shell_command` takes care of buffer-flushing-deadlocks.

[2016-02-11 21:23] sils1297 commented on #1428
@Makman2 I don't see how we can get stdout and stderr separately with this one.

[2016-02-11 22:46] fneu commented on #251
@sils1297 I'm not entirely sure this is possible for things that are more complex than maybe indentation. Especially not in a way that different bears can make use of this. I honestly don't see this as a core functionality for coala (like managing bears and make it easy to write them) so I'd vote for closing this as wontfix for now.

A bear can always provide this functionality itself through the

[2016-02-11 22:46] #1422 closed

[2016-02-11 22:46] #1423 closed

[2016-02-11 22:50] fneu commented on #295
I'm not sure this is worth the added complexity. Diffs, filenames and so on will be hard to read anyways, the only thing we could sanely wrap is stuff like actions/questions and so on, right?

How should this look? better than just letting the terminal wrap it anyways?

Please give me an example of what kind of output you have in mind. Otherwise I'd vote for closing this.

[2016-02-11 22:54] sils1297 commented on #295
nothing important but a lot of work, not on the roadmap

[2016-02-11 22:54] #295 closed

[2016-02-11 23:00] sils1297 commented on #251
So there's some js linter (I think jscs) that runs the different "rules" with different settings over the code and then counts the issues. I kind of like that...

[2016-02-11 23:39] Makman2 commented on #295
yeah right that's maybe something pyprint could take care of^^

[2016-02-12 00:36] #1303 closed

[2016-02-12 01:05] AbdealiJK opened #1432 "Bear to check for merge conflicts"
Currently when I have an unresolved merge conflict, AutoPep8 tries to format it.

We should ideally be searching for `<<<<< HEAD` followed by `>>>> sha` or so to show an issue like

"Merge conflict found"

[2016-02-12 02:09] AbdealiJK opened #1433 "Prefer verify_local_bear() to LocalBearTestHelper"
There are some tests which are currently using `LocalBearTestHelper` although they can use `verify_local_bear()`. Lets move them to use the function as the function is better and more readable.

[2016-02-12 02:21] AbdealiJK commented on #1428
@Makman2 also that uses PIPEs. I'd rather not use PIPE incase we have to parse large files (Pipes hang if they get too much information - We ad an old `run_tests` bug about this.

^ For example if we parse .sql files or log files

[2016-02-12 02:43] AbdealiJK commented on #897
Moved to wiki page - https://github.com/coala-analyzer/coala/wiki/Bears

[2016-02-12 02:43] #897 closed

[2016-02-12 03:13] tushar-rishav commented on #1418
@Makman2  Probably, we are using `importlib` to reload the modules under `execute_coala` which now have been moved to `coalib/tests/TestUtilities`.  Beside, @AbdealiJK  suggested to remove the `reload` too and further test with travis. One more thing, we are supporting Python versions >= 3 right? So that check might not be required.

[2016-02-12 03:14] AbdealiJK commented on #1204
We should also try to do something so that we can specify a commit range and coala checks every commit in the range.

^ As gitmate checks coala's styling on every commit. This would help people check gitmate's result before pushing

[2016-02-12 05:49] NalinG commented on #906
Please do check if this is correct.

[2016-02-12 09:34] sudheesh001 opened #1436 "python setup.py test throws VersionConflict(dist, req) errors"
If there are already packages installed in the virtualenv or the system requirements, any changes in the version stop the test run and raise a VersionConflict error.

Expected behaviour: it runs pip upgrade of that particular requirement.

[2016-02-12 09:40] sils1297 commented on #1428
ideally that function should handle the pipe problem

2016-02-12 3:21 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-12 09:42] sils1297 commented on #1204
FWIW I have a mini gitmate coala script thingy at https://gitlab.com/gitmate/coala-incremental/ that shows how new results can be filtered with the coala result filter routines.

[2016-02-12 10:24] sils1297 commented on #1339
I have had this installed for a day now and its really annoying because it slows down the collection phase a lot. If you ust want to execute one test it'll be slower and currently I'm usually just using pytest with `-k WhateverIsInteresting` which is way faster

[2016-02-12 10:24] sils1297 commented on #1339
so I'm not sure about this one

[2016-02-12 11:17] #1332 closed

[2016-02-12 12:40] AbdealiJK opened #1439 "Spelling error in ContextManager"
`coalib/misc/ContextManagers.py` function `prepare_file` has a spelling error - `Can creates a temporary file ... ` should be `Can create a temporary file ...`

[2016-02-12 12:48] AbdealiJK opened #1440 "GoLintBearTest - Make better tests"
We add a config parameter which doesnt seem to affect the test files in any way

We should give it a config so that the bad file becomes valid or the good file becomes invalid

[2016-02-12 12:54] sils1297 opened #1441 "increase pytest timeout"
seems to be insufficient on appveyor. It can be changed in setup.cfg.

[2016-02-12 12:56] sils1297 opened #1442 "add contributing.md"
It'd be nice to have a contributing.md which educates the people about:

1. Our commit message style.
2. Maybe how they can later rebase stuff?
3. Everything else you need to know to get your PR approved.

[2016-02-12 12:59] #1299 closed

[2016-02-12 12:59] #1370 closed

[2016-02-12 12:59] #1405 closed

[2016-02-12 13:05] sils1297 commented on #1421
it sends PRs now but they suck. Needs some further config anyway, maybe I'll just let it send me mails.

[2016-02-12 13:09] AbdealiJK commented on #1433
Closed in https://github.com/coala-analyzer/coala/pull/1431

[2016-02-12 13:22] #1433 closed

[2016-02-12 13:39] AbdealiJK commented on #468
Closing this as we have a `ignore_length_regex` in LineLengthBear's settings. https://github.com/coala-analyzer/coala/commit/9cc2a54874119a7ed049996c2c28ffd6c7839b4d

[2016-02-12 13:39] #468 closed

[2016-02-12 13:59] sils1297 commented on #847
@AbdealiJK yes that we should probably do in general! Probably PyPrint needs an option for that? Can you file appropriate bugs?

[2016-02-12 14:07] sils1297 commented on #468
:D I was really the one who did it? I had no idea that was even solved

[2016-02-12 15:10] srisankethu commented on #1442
@sils1297 Can you assign me to this because it would be a challenge to me (I haven't got any  of my PR accepted yet"

[2016-02-12 15:10] sils1297 commented on #1383
Ok apparently @srisankethu is not longer working on this.

[2016-02-12 15:13] srisankethu commented on #1383
@sils1297 I am...I will do it right away

[2016-02-12 15:14] sils1297 commented on #1442
@srisankethu lets first get your other PR merged. In order to get your PR accepted you can't just keep working on new issues and give up on old ones, you need to listen to what we propose to you and how you can fix things. No PR will be accepted at the first submission. Not yours not mine, not the ones of other contributors. Otherwise coala would be reaaaaally buggy.

[2016-02-12 15:15] #1384 closed

[2016-02-12 15:15] sils1297 commented on #1383
@srisankethu please note that you can't work on more than two newcomer issues since we have a limited amount of them and a lot of people want to solve them.

[2016-02-12 15:16] sils1297 commented on #1383
(i.e. working on two is fine but we won't give you a third one :))

[2016-02-12 15:24] tushar-rishav opened #1444 "Full coverage for all main routines"
Let's have maximum coverage for  `coala_format.py` ,  `coala.py`, `coala_delete_orig.py` and  `coala_main.py`.

[2016-02-12 15:34] sils1297 commented on #1444
@tushar-rishav three points for indiahacks assuming you fix it for all of them

[2016-02-12 15:50] AbdealiJK commented on #1358
Tox seems to be complicating the current CI scripts more than needed.
Setting as wontfix for now.

If you can find a good way to use tox - then patches accepted

[2016-02-12 15:50] #1358 closed

[2016-02-12 16:15] tushar-rishav commented on #1444
@sils1297  Yeah? I never expected for that. Thanks :stuck_out_tongue:

[2016-02-12 16:19] #1439 closed

[2016-02-12 16:23] sils1297 opened #1448 "requirements: Update CPPLint"
CPPLint got updated! Look up new version at pypi.python.org and update it.

difficulty/newcomer

[2016-02-12 16:24] sils1297 commented on #1436
Any idea on how that can be fixed?

[2016-02-12 16:50] NalinG commented on #906
I rebased the PR

[2016-02-12 18:46] Makman2 commented on #1418
@tushar-rishav Yeah right :)

[2016-02-12 18:46] #1418 closed

[2016-02-12 18:48] Makman2 commented on #1428
@AbdealiJK that's what `run_shell_command` is for, it uses `communicate()` on the underlying stream that doesn't hang on large data.
@sils1297 this function returns a tuple, `(stdoutstring, stderrstring)` :)

[2016-02-12 18:49] Makman2 commented on #1428
@AbdealiJK nvm, I think I've misread something inside the module^^

[2016-02-12 18:53] Makman2 commented on #1428
alright then maybe add some parameters to `run_interactive_shell_command` that also let's you specify output streams.

[2016-02-12 19:17] Makman2 commented on #1436
problem is what when it automatically downgrades? At least it should ask the user^^

[2016-02-12 19:17] #1327 closed

[2016-02-12 19:17] #1351 closed

[2016-02-12 19:17] #1441 closed

[2016-02-12 19:22] Makman2 commented on #1432
You sure? If you have a merge conflict git is responsible for this and normally displays it for you quite clearly. It's more of a workflow problem, not a "static" code problem. Imo this is not in our scope^^

[2016-02-12 19:41] sils1297 commented on #1432
Agree with mischa
On 12 Feb 2016 8:22 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-02-12 20:17] #1350 closed

[2016-02-12 20:22] #1432 closed

[2016-02-12 20:32] Makman2 opened #1449 "LaTeX support"
What about some linters that work on `LaTeX`? :D

(on first googling I've found `ChkTeX` and `lacheck`)

[2016-02-12 21:30] sils1297 commented on #1449
yes please! Can look up if something is simpler than the other and file a bug for that with difficulty low? That's usually a good task for arising newcomers.

[2016-02-12 21:48] #1417 closed

[2016-02-12 21:56] Makman2 commented on #429
Using `sec1.c` again overrides the setting, but doing `coala -s -S sec1.d=2b` yields such a newline^^

[2016-02-12 21:58] Makman2 commented on #975
No need for it in the next-generation bear design, log messages are still passed through the pipe, that's just easier^^

[2016-02-12 21:58] Makman2 commented on #447
I think https://github.com/coala-analyzer/coala/issues/975 supersedes this issue^^

[2016-02-12 22:00] Makman2 commented on #462
https://github.com/coala-analyzer/coala/issues/933 doesn't need a logger thread when implemented so there can't go something wrong.

[2016-02-12 22:00] Makman2 commented on #462
Btw I think this is already fixed...

[2016-02-12 22:06] sils1297 commented on #407
yeah most important points are adressed

[2016-02-12 22:06] #407 closed

[2016-02-12 22:09] Makman2 commented on #508
I think we removed everything. Printer are covered from `PyPrint`, `Interactor` does not exist any more and the parser classes make sense, since they do parse and hold the parsed content (so they have a state what means they need to be classes).

[2016-02-12 22:09] #508 closed

[2016-02-12 22:09] Makman2 commented on #509
@sils1297 Don't we have nice clang bindings now?

[2016-02-12 22:10] sils1297 commented on #447
yeah

[2016-02-12 22:10] #447 closed

[2016-02-12 22:11] sils1297 commented on #462
this is certainly not fixed. And I don't see how this'll be solved?

[2016-02-12 22:11] Makman2 commented on #561
We have somehow a guide, now I don't know how to improve it...
@sils1297 closing this issue?

[2016-02-12 22:13] sils1297 commented on #509
yes this is solved indeed!

[2016-02-12 22:13] #509 closed

[2016-02-12 22:14] sils1297 commented on #561
@Makman2 no we need to revamp the bear writing tutorial. That's really important.

[2016-02-12 22:31] Makman2 commented on #462
since there's no logger thread any more the order of `Result` and log-message printing can be controlled.

[2016-02-13 01:36] AbdealiJK opened #1452 "tests.sh: Allow PyLint Test for 3.5"
Python 3.5 now supports pylint. No reason to skip the test in test.sh

Remove that skip

[2016-02-13 01:39] AbdealiJK opened #1453 "nvm: Set default nodejs"
We're using nvm in our tests.sh and deps.sh

but currently the nvm doesnt set the correct nodejs version ad so we

[code]

which isn't really very nice.

We should be modifying the `circlerc` file to make it handle this.

This involved understanding `nvm` a little and making it set the default option globally. And also knowledge on `sed` or `echo` (to write/delete lines in files) and how circleci

[2016-02-13 02:24] AbdealiJK commented on #1449
`chktex` seems to be the easier one - https://github.com/nscaife/linter-chktex/blob/master/lib/linter-chktex.coffee

[2016-02-13 02:29] AbdealiJK commented on #1339
Just a note here - https://pytest.org/latest/cache.html is still possible

You can tel pytest to only run all your failed tests from the last run

[2016-02-13 02:37] AbdealiJK commented on #1339
https://pypi.python.org/pypi/pytest-testmon may be a solution too

[2016-02-13 05:26] AbdealiJK commented on #1047
I just checked out `conda` it seems as though to use conda the preferred method is by installing `miniconda` - which has python installed also. That is a slight issue because its irritating. It doesnt integrate easily into `python.org`'s python
miniconda does not seem to be in apt-get. Also I cannot find miniconda's code online (not sure if its opensource) but I can find conda.

[2016-02-13 05:44] AbdealiJK commented on #771
We probably want to use https://pypi.python.org/pypi/guess-language rather ... its what language-check uses internally

From their code: `language_check/main.py`
[code]

[2016-02-13 06:07] AbdealiJK commented on #510
Closing this as we decided to use PEP8 and above we decided `autopep8` is sufficient

[2016-02-13 06:07] #510 closed

[2016-02-13 06:12] AbdealiJK commented on #565
Where would we display this ?
So, Im assuming we have a `profile=True` option in the .coafile
Now, when the bears in this section are run you can profile them.

Do we show all the profiles for all the bears at the end of coala's execution ?
As soon as the bear completes running ?

I think the best option is to save the profilers output into a file and mention that in the terminal.
Its really diffi

[2016-02-13 07:23] #906 closed

[2016-02-13 07:32] SanketDG commented on #1396
I am planning to do the following:

First of all I am checking every line against a regex pattern to filter out the urls, along with the line numbers.

I am checking if the status code is not `20x`, then:

- If code is `40x` or `50x`, display the `The link is invalid. Returns <code>`
- If code is `30x`, display the diff with the updated redirect url.

Non-existent domain names (http://www.coalaist

[2016-02-13 08:10] AbdealiJK commented on #1339
Im closing this for now.
testmon can be used to cache tests (it just doesnt run tests it thinks shouldnt be run)

But I think that cacheing is not a good idea to keep as a default. Because new comers will get super confused.

Also, circleci cannot do this because the coverage for the skipped tests isnt calculated.

Hence, devs can use this locally if they like.

[2016-02-13 08:10] #1339 closed

[2016-02-13 08:16] sudheesh001 commented on #1324
I think this can be parked for some time, `rust-clippy` works only on the nightly builds of `rustc`, Do we really want to download the binaries / compile rustc as a part of our build procedure to run this ? I've asked Manish, the repo owner for `rust-clippy` for a workaround to this.

[2016-02-13 09:44] iamshubh22 commented on #1452
@AbdealiJK Can you assign this to me??

[2016-02-13 10:14] AbdealiJK commented on #982
I don't see how this will be possible .
Source ranges will be encoded to arrays and diffs will be jsons. Even if we use the jsonencoder wev would have to put if conditions to filter out and change these .
It seems simpler and more logical as it is now to me

[2016-02-13 10:55] AbdealiJK commented on #562
I notice that the appveyor.yml is now relatively empty and the things which I had installed earlier like dbus, espeak, clang aren't there anymore .
Was that done to reduce build time ? In that case do we want to install more things ?

[2016-02-13 11:06] sils1297 commented on #1396
That sounds sane and awesome!

2016-02-13 8:32 GMT+01:00 Sanket Dasgupta <notifications@github.com>:

[2016-02-13 11:07] sils1297 commented on #1324
@sudheesh001 can you give a link to the upstream bug?

[2016-02-13 11:12] sils1297 commented on #982
ok it hasn't disturbed me for a while so we can close this indeed I guess.

[2016-02-13 11:12] #982 closed

[2016-02-13 11:13] sils1297 commented on #771
@AbdealiJK would be nice to fix https://github.com/myint/language-check/issues/9 upstream rather than here, don't you think?

[2016-02-13 11:17] sils1297 commented on #565
A file seems sane, rather than a `profile=True` setting we could have a `profile=/path/to/dir` and create a file for each bear there with the data

[2016-02-13 11:42] sils1297 commented on #1399
@sudheesh001 please use the json output as documented at http://eslint.org/docs/user-guide/formatters/#json , sample output properly formatted at http://pastebin.com/arTMxXq6 .

It'll give a neat output with instructions on how you can fix the problem so you can create a diff automatically and fix it for the user.

[2016-02-13 11:43] sils1297 commented on #1399
You'll want to set the result origin to `ESLintBear (<rule>)` I think

[2016-02-13 11:46] AbdealiJK commented on #1396
e.reason sounds good to me

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎13-‎02-‎2016 13:02
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] Bear: Check for broken links (#1396)

I am planning to do the following:
First of all I am checking every line against a regex pattern to filter out t

[2016-02-13 11:56] #1452 closed

[2016-02-13 11:57] AbdealiJK commented on #771
@sils1297 I was talking about the same PR. I was trying to fix that when I read the code and found out that they're just using the module `guess-language`.
Not much point in exposing it from language-check because we can just use `guess-language` - it's easier.

They just do `guess_language(text)`

[2016-02-13 12:35] Makman2 commented on #562
@AbdealiJK I think you've never implemented them :O
 I remember you prototyped something but you said there were problems^^

[2016-02-13 12:40] AbdealiJK commented on #562
O.o It does seem so. I wonder where that branch went ...
Ah well, alright.

[2016-02-13 12:43] #1407 closed

[2016-02-13 13:02] sudheesh001 commented on #1324
@sils1297 Its not a bug, its in their documentation itself https://github.com/Manishearth/rust-clippy#usage for the nightly only support

[2016-02-13 14:36] sils1297 opened #1457 "PyLiintBear raises warning"
Lint class has error output as warning now which is neat but PyLint wanrs about not finding a config, we should probably provide an own one...

difficulty/medium maybe...

[2016-02-13 17:25] nishant-mor commented on #1425
https://github.com/coala-analyzer/coala/blob/15d3707beb37271de9728b4deadc4ad6094706c5/coalib/processes/Processing.py#L146

So we need to change :   log_printer.info("Applied {} from {} for {}.".format
to    log_printer.info("Applied {} on {} from {}.".format
?

[2016-02-13 17:30] sils1297 commented on #1425
yeah sounds sane

[2016-02-13 17:32] nishant-mor commented on #1425
So can i work on it ?

[2016-02-13 17:32] sils1297 commented on #1425
@nishant-mor you have been invited to the team, when you accept I can assign you :)

[2016-02-13 17:44] nishant-mor commented on #1425
from where to accept the invitation?

[2016-02-13 17:45] sils1297 commented on #1425
You should have an email, otherwise github.com/coala-analyzer I think

[2016-02-13 17:48] nishant-mor commented on #1425
got it

[2016-02-13 19:32] nishant-mor commented on #1412
so we have to just delete this file and add *.jar to .gitignore ?

[2016-02-13 20:05] sils1297 commented on #1412
@nishant-mor we'd appreciate it if you go on to solve difficulty/low issues as you're already on your third IIRC. Newcomer issues are more to show you the workflow and we don't have enough of them sadly.

But yes, this is just about deleting that file.

[2016-02-13 20:18] nishant-mor commented on #1412
ok lets leave it for the newcomer :smile:

[2016-02-13 20:36] #1425 closed

[2016-02-13 21:01] sils1297 commented on #1449
Yeah that coffee file also already contains a regex so this can easily be turned into a bear.

[2016-02-13 21:02] nishant-mor commented on #1449
rawRegex ?

[2016-02-13 21:04] sils1297 commented on #1449
Yes. Just look at CSSLintBear how it's done in coala.

[2016-02-13 21:05] nishant-mor commented on #1449
ok

[2016-02-13 21:36] Makman2 opened #1461 "setup.py: Missing space in `long_description` string"
https://github.com/coala-analyzer/coala/blob/master/setup.py#L110
[code]
"our" and "development" are not separated by a space. Since the 80 char limit gets exceeded when adding a space, just wrap "our" onto the next line and keep the space behind "or".

[2016-02-13 21:46] sils1297 opened #1462 "Getting Involved/Readme contains wrong test execution instructions"
http://coala.readthedocs.org/en/latest/Getting_Involved/README.html contains wrong info about test execution, better just point to the http://coala.readthedocs.org/en/latest/Getting_Involved/Testing.html page.

difficulty/newcomer

[2016-02-13 22:25] #1383 closed

[2016-02-13 22:33] Makman2 opened #1465 "checkstyle.jar: Download it as requirement-install-step"
I would propose for a clean requirement-install-handling to populate `./setup.py` with two new commands, e.g. `install-test-requirements` and `install-requirements`. These two commands shall do the pip install via `pip3 install -r requirements.txt` (or `test-requirements.txt`) and also allows to handle custom install steps like the checkstyle.jar download.

This also needs adaption inside the docs

[2016-02-13 22:42] Makman2 commented on #1412
blocked by https://github.com/coala-analyzer/coala/issues/1465

[2016-02-13 22:51] #1343 closed

[2016-02-14 04:09] AbdealiJK commented on #1232
@sils1297 this doesnt seem to be a bug
I tried recreating it and the `Ignore` didnt work because the diff was only on line 42
So, you need to do `old_major, old_minor, old_micro = map(int, old_version[:3]) # Ignore PyLintBear`

But as that is too long (> 80 chars), so you can do:
[code]
which also works - I tested

Closing this - reopen if you face it again.

[2016-02-14 04:40] AbdealiJK commented on #1465
I think the better way to do it would be to add a install-requirements form each bear and let each bear handle it individually

Something like `check_prerequisites` we add a `install_prerequisites`.
Here the bear can do whatever it wants.
We can also add helper functions to run `pip`, `npm`, `gem` commands to make it easier.

This would also help in https://github.com/coala-analyzer/coala/issues/1

[2016-02-14 04:41] AbdealiJK commented on #1304
@sils1297 can you make a repository ?

[2016-02-14 09:22] sils1297 commented on #1304
@AbdealiJK sure give me a name

[2016-02-14 09:26] sils1297 commented on #1304
created https://github.com/coala-analyzer/coala-bears

[2016-02-14 12:33] AbdealiJK opened #1468 "Move out things from coala_main"
`coala_main` is way too long now. Nearly 80 lines of code.
We should move some of the functionality into its appropriate places.
For example
 - Tags should be moved into ConfigurationsGathering maybe ?
 - autoapply checks should happen in ConfigurationGathering
 - show_bears functionality needs to be moved out.

[2016-02-14 13:30] #847 closed

[2016-02-14 13:30] #1084 closed

[2016-02-14 13:30] #1187 closed

[2016-02-14 13:30] #1375 closed

[2016-02-14 13:30] #1377 closed

[2016-02-14 13:40] sils1297 commented on #1313
@yash14123 ping us if you need assistance :)

[2016-02-14 13:43] sils1297 commented on #1180
this has not a high enough priority for us to waste that much time on it although we still want to see it...

[2016-02-14 13:43] #1180 closed

[2016-02-14 13:44] sils1297 commented on #1130
@jjsg hey, need help?

[2016-02-14 13:46] sils1297 commented on #904
@Makman2 any progress? You wanted it in cmake right?

[2016-02-14 13:47] sils1297 commented on #397
I'm still not convinced.

/me wants the wontfix back for this

[2016-02-14 13:48] yash14123 commented on #1313
I do. :(

On Sun, Feb 14, 2016 at 7:10 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-14 13:51] sils1297 commented on #1313
@yash14123 we're around at https://gitter.im/coala-analyzer/coala to help you :)

[2016-02-14 13:53] yash14123 commented on #1313
Will catch up with you in an hour.

On Sun, Feb 14, 2016 at 7:21 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-14 14:02] sils1297 commented on #1313
I'll be away then, others will be around for sure. Try pinging @AbdealiJK

2016-02-14 14:53 GMT+01:00 yash14123 <notifications@github.com>:

[2016-02-14 14:51] AbdealiJK commented on #1396
@Redridge mentioned on gitter -

[2016-02-14 15:37] AbdealiJK commented on #771
@sils1297 Sorry, seems like I was mistaken.
In language-check ... if you use `LanguageTool` class they do not auto guess the language
If you use the cmdline argument only they autoguess.

I am using guess_language in our own code (as they do not add it in their requirements.txt anyway). It seems easier to me.

[2016-02-14 15:50] Redridge commented on #1448
Hello, could I please get assigned to this issue?

[2016-02-14 16:57] sils1297 opened #1473 "German sample in LanguageToolBearTest isn't good german"
A german newcomer will probably get that right easily :)

difficulty/newcomer
area/bears
type/test

[2016-02-14 16:58] #730 closed

[2016-02-14 16:58] #771 closed

[2016-02-14 16:58] #909 closed

[2016-02-14 16:58] #1065 closed

[2016-02-14 17:00] AbdealiJK opened #1474 "OpenEditorAction: Better success message"
OpenEditorAction needs a better sucess message.

It currently uses `Editor opened successfully.` which is bad.

It should be something like `We got your changes from the editor` as the action is displayed after the editor closes (after the user modifies the file)

[2016-02-14 17:03] sils1297 opened #1475 "Lint: Add helper to autogenerate configuration files"
some linters need config files and it would be nice if the lint class could autogenerate them for you somehow so I just need to give the content somewhere or can generate it from settings.

[2016-02-14 17:03] sils1297 commented on #1457
we may want/need https://github.com/coala-analyzer/coala/issues/1475 for that

[2016-02-14 17:08] AbdealiJK commented on #1475
I was thinking something like `setup.cfg` would be nice.

for example we do:
[code]
And this takes all the pylint sections and makes a config ?

[2016-02-14 17:14] sils opened #1476 "No matching bears found message can be improved"
currently it says e.g. `No bears were found matching 'pyLintBear'.` I think it reads more nicely if we just say `No bears matching 'pyLintBear' were found.` Anyone disagree?

difficulty/newcomer

[2016-02-14 17:32] sils1297 opened #1477 "case insensitive bear glob matching"
area/CLI
difficulty/medium

[2016-02-14 18:12] sils1297 opened #1478 "HTML Bear"
We desperately need a bear to lint HTML code since coala is especially interesting for web based projects. Anybody any idea on what HTML linters are out there and easy to integrate? If that's there then this should be difficulty/low .

[2016-02-14 18:46] sudheesh001 commented on #1478
There's one linter
- https://www.npmjs.com/package/htmllint
- https://github.com/mozilla/html5-lint
- https://github.com/deezer/html-linter

[2016-02-14 18:49] sudheesh001 opened #1480 "Puppet Bear for linting puppet files"
bears/configfiles
difficulty/low

https://github.com/rodjek/puppet-lint

[2016-02-14 18:55] sudheesh001 opened #1481 "Skip test missing for guess language spirit"
Failing to have the dependency results in test failure.
There should be a skip test.

[2016-02-14 18:57] sudheesh001 opened #1482 "Julia bear integration"
Julia is a high-level, high-performance dynamic programming language for technical computing, with syntax that is familiar to users of other technical computing environments.

It looks like there's a linter available here https://github.com/tonyhffong/Lint.jl

[2016-02-14 19:08] sils1297 commented on #1478
The mozilla one uses a webservice, I'm against that but the others look fine.

[2016-02-14 20:44] Redridge commented on #1478
Is anyone working on this? Could I get assigned?

[2016-02-14 20:45] sils1297 commented on #1478
@Redridge I'd recommend using the deezer html linter as it seems to have python bindings/be written in pythin.

[2016-02-14 21:00] Redridge opened #1484 "Fix grammatic mistake in the Writing Bears docs"
Under the "What is a bear?" Section.
The source code will provided by coala -> The source code will be provided by coala

difficulty/newcomer

[2016-02-14 21:29] sils1297 opened #1485 "Linter: Strip whitespace from values"
Lint should strip whitespace away when creating the results in line 191 ff.

difficulty/newcomer

[2016-02-14 21:50] #1462 closed

[2016-02-14 22:15] Makman2 commented on #1465
Not a bad idea^^

[2016-02-14 22:21] Makman2 commented on #904
It's possible to add custom targets the CMakeLists.txt writer can use however he wants. But I haven't anything done for this issue^^

[2016-02-14 22:24] sils1297 commented on #904
essentially you'd want to pass the clang flags to coala there I guess?

[2016-02-14 22:26] Makman2 commented on #904
should be possible, at least that functionality should be encapsulated inside another CMake-function, one for plain coala usage, and one for C/C++ checks generated from workspace automatically^^

[2016-02-14 22:34] Makman2 commented on #1476
I have no problems with the current message^^

[2016-02-14 22:35] Makman2 commented on #1477
do we want that?

[2016-02-14 22:35] sils1297 commented on #1477
I think we did but I still want it :P

[2016-02-14 22:36] Makman2 commented on #1476
nvm^^

[2016-02-14 22:38] #1448 closed

[2016-02-14 22:38] sils1297 commented on #1448
@Redridge you forgot the fixes note

[2016-02-14 22:39] sils1297 commented on #1281
@shubhamrajput any progress? Should I unassign you?

[2016-02-14 22:40] Makman2 commented on #1477
I'm against case insensitivity, less work for us and being strict with name case is programming-language like^^

[2016-02-14 22:40] sils1297 commented on #1212
@yash14123 you already have three fixes, right? Can I unassign you? You're working on something way nicer anyway right?

[2016-02-14 22:41] sils1297 commented on #1130
Until further notice I'm assuming you're not interested anymore, simply ping me otherwise.

[2016-02-14 22:42] sils1297 commented on #1117
@rresol still interested in dpoing this?

[2016-02-14 22:44] sils1297 commented on #1477
@fneu says it's not hard to make a case insensitive matching with globbing... though with the new warnings things aren't as bad indeed. Okokok...

[2016-02-14 22:44] #1477 closed

[2016-02-14 22:49] Makman2 commented on #904
Created a new repository for CMake stuff: https://github.com/coala-analyzer/coala-cmake

[2016-02-15 00:56] yash14123 commented on #1212
There were no further comments on the last one made by AbdealiJK. Give me
just time for today. I will fix them both. :) Got busy with some proposals
to the Capital's government.

On Mon, Feb 15, 2016 at 4:10 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-15 01:09] AbdealiJK opened #1486 "rultor: rebase"
It'd be nice if we had a command for rultor to rebase.

`@rultor rebase` maybe which just runs a `git rebase mater` and pushes it to github.
It doesn't do anything else.
 - If the rebase fails, rultor says it failed
 - If the rebase was successful, tests will run on it again and if they pass `@rultor merge` can be done

^ Would be helpful with the numerous newcomer issues which do not normally get

[2016-02-15 02:00] AbdealiJK commented on #1196
When we do this, even `autoapply` would be written back. Is that alright ?
And this would be done only is `-s` is given right ?

[2016-02-15 02:07] AbdealiJK commented on #1475
Needs more info.

Are we looking at something like `setup.cfg` where I can set `pytest` and `coverage` configs also ?
Or are we looking at something like we have a section for a bear and use those to set their config file ?

I'd prefer the first, because I do not want to parse the configs and rewrite then with different names.
Also, a config file for pylint has multiple sections of it's own. How w

[2016-02-15 03:49] AbdealiJK commented on #1047
@sils1297 could you give me edit rights on `coala-bears`

[2016-02-15 03:52] AbdealiJK commented on #1304
Im confused - why is this in an own repository ? I thought the repository was for https://github.com/coala-analyzer/coala/issues/1047

Or do you want a new repo for each bear like `PEP8Bear.py` ?
I was thinking it'd be easier to simply make a single repo with all bears (each having it's own `setup.py`)
We'd have about 30 repositories if we make 1 repo per bear

[2016-02-15 04:02] AbdealiJK commented on #1236
I do not think this is possible.
I think the best way is to check `$SHELL`. Because the only shell you'd see in Windows where we shouldnt do windows like escaping in GitBash and cygwin. Both have a `$SHELL`.

If `$SHELL` is not available - use OS

[2016-02-15 04:09] AbdealiJK commented on #1236
Sorry - in fact `$SHELL` gives you the login shell. not the current shell (Just tried it out)
[code]

I vote to close this issue as wontfix (patches accepted) as there doesn't seem any way to do it. And we **could** do it in some highly complicated way but it's just not worth the effort

[2016-02-15 04:58] AbdealiJK commented on #761
@sils1297 do you remember what this but is about ? The description i wrote above is actually for https://github.com/coala-analyzer/coala/issues/1111

[2016-02-15 05:00] AbdealiJK commented on #846
@sudheesh001 This has now become really easy because Ive already given a custom argparser

[2016-02-15 05:17] AbdealiJK commented on #812
@sils1297 do we really want this ? We're not using dbus anywhere at the moment, and I think it should be made on a need basis.

[2016-02-15 05:20] AbdealiJK commented on #922
If we want it inline, then this issue shouldnt be marked as `low` as thats a fair bit complicated.

[2016-02-15 05:22] AbdealiJK commented on #1246
@hypothesist still working on this ? This affects all the editor plugins and would be nice to be able to solve it soon

[2016-02-15 05:56] AbdealiJK opened #1488 "appveyor: cache deps"
Appveyor can cache dependencies - https://www.appveyor.com/docs/build-cache

We should use that

[2016-02-15 07:03] sudheesh001 commented on #846
@AbdealiJK On it !

[2016-02-15 07:51] Redridge opened #1489 "py.test error"
After running all tests py.test crashes
[code]

[2016-02-15 07:53] rresol commented on #1117
go on with fixing it . I will get back to work on some other ones.

On Mon, Feb 15, 2016 at 4:12 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-15 07:53] AbdealiJK commented on #1489
@Redridge can you tell me what command you ran exactly ? `py.test` only ?
Also is this ubuntu ?
Have you installed everything from `test-requirements.txt` ?

[2016-02-15 08:00] Redridge commented on #1489
I hadn't installed everything from `test-requirements.txt`
Now it works fine

[2016-02-15 08:02] #1489 closed

[2016-02-15 08:15] sils1297 commented on #1486
Rultor maintainers aren't willing to add that.

[2016-02-15 08:15] #1486 closed

[2016-02-15 08:25] jjsg commented on #1130
@sils1297 hey i m little slow, but working on it

[2016-02-15 08:25] AbdealiJK commented on #1196
We use `autoapply=True` in coala_main. That goes into the default section right ?
When we write back the sections at the end of all `execute_sections` wouldn't this also be written back to the coafile ?

Also, we want to save sections only is the `--save` flag is given - correct ?

[2016-02-15 08:25] sils1297 commented on #1475
We don't want to make the configuration of coala more complicated. Bears should never parse their own config. Example:

Checkstyle needs an XML based config that tells it about line length and stuff. We already have common names for settings, e.g. max_line_length. We now want the CheckstyleBear to generate such an XML config so Checkstyle uses the same line length setting as all other bears too.

[2016-02-15 08:29] sils1297 commented on #1304
No the repository should contain all the bears, you're getting it right.

[2016-02-15 08:31] #761 closed

[2016-02-15 08:31] sils1297 commented on #812
ok

[2016-02-15 08:31] #812 closed

[2016-02-15 08:37] sils1297 commented on #1196
This is more about if I use the OpenEditorAction the user will be asked for the editor and that setting should/could be written back in the end.

Though I'm not completely sure if we should do that or just close it as wontfix/not happening.

[2016-02-15 09:12] Makman2 commented on #1236
@AbdealiJK is `sh` not `bash`? In windows powershell and cmd quite differ, especially escaping. And that's the problem with just feeding in the OS^^

[2016-02-15 09:14] sils1297 commented on #1236
sh sometimes actually is bash but sometimes isn't.

[2016-02-15 09:18] sils1297 commented on #1232
apparently @WJCode has this too

[2016-02-15 09:24] AbdealiJK commented on #1486
cant we do it ourselves ?

[2016-02-15 09:26] Redridge opened #1491 "doc: Add tutorial for making a bear using a linter"
It would be useful to have a tutorial for making a bear using a linter since most languages already have linters.

[2016-02-15 09:26] WJCode commented on #1232
@sils1297 @AbdealiJK I'm able to reproduce this issue with some code I was using. Sample below.
The `start ignoring`, `stop ignoring` keywords seem to work correctly.
[code]

[2016-02-15 09:43] sils1297 commented on #1486
not in rultor, I want it in gitmate though. If you want it there's some
issues on IGitt to be resolved first (GitHub api paging :/), then I can
include it and then we could have it in one or two weeks?

2016-02-15 10:24 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-15 09:44] sils1297 commented on #1232
so the `ignore *bear*` statement is only valid for two lines, the line where it stands and the following. coala is not aware of scopes or so!

[2016-02-15 09:47] #1478 closed

[2016-02-15 10:15] Redridge commented on #1491
@sils1297 please assign me to this

[2016-02-15 10:17] sudheesh001 commented on #1480
@gitmate-bot assign @sudheesh001

[2016-02-15 10:19] sils1297 commented on #1480
nope, doesn't work that, though in the future gitmate will analyse statistics and auto assign people if they worked a lot on issues with similar labels :)

[2016-02-15 10:22] AbdealiJK opened #1493 "setup.py: Make docs"
Make a setup command to build docs

[2016-02-15 10:36] AbdealiJK opened #1494 "Change `not a is None` to `a is not None`"
Needs to be done throughout the code
There exist a few of these in `Tagging.py`

[2016-02-15 10:42] AbdealiJK commented on #1236
@Makman2 `sh` isnt `bash`. its renamed sometimes to just be linked to bash (for me it isn't).

[2016-02-15 10:52] AbdealiJK opened #1495 "Collectors function needs return annotation"
collect_all_bears_from_sections() needs a return annotation

[2016-02-15 11:15] #1484 closed

[2016-02-15 11:24] Redridge opened #1497 "Add docs/API to .gitignore"
Basically the docs/API dir should be ignored by git.
Add it to .gitignore

difficulty/newcomer

[2016-02-15 11:40] Redridge opened #1498 "docs: use doctests"
In order for the docs to be correct, the code that the docs contain must be correct.
For that matter the docs should be all doctest stable. [doctest](https://pytest.org/latest/doctest.html)
Rewrite/Imporve the docs such that they use doctest

difficulty/low

[2016-02-15 11:44] AbdealiJK commented on #1475
@sils1297 Ah. got it. This file that Lint would generate will be temporary - correct ?

[2016-02-15 11:50] sils1297 commented on #1475
Yes
On 15 Feb 2016 12:44 p.m., "AbdealiJK" <notifications@github.com> wrote:

[2016-02-15 12:04] sudheesh001 opened #1500 "CI: Increase Appveyor timeout"

[2016-02-15 12:30] #871 closed

[2016-02-15 12:30] #1050 closed

[2016-02-15 12:30] #1453 closed

[2016-02-15 12:30] #1457 closed

[2016-02-15 12:30] #1461 closed

[2016-02-15 12:30] #1468 closed

[2016-02-15 12:30] #1488 closed

[2016-02-15 12:30] #1493 closed

[2016-02-15 12:49] WJCode commented on #1232
Got it. I see this in the code too. Actually, I had added that first `# Ignore PyLintBear` because it seems that `foo` is a black listed name :)
[code]

[2016-02-15 12:49] WJCode commented on #1232
I see a potential issue and a little clarification is needed regarding `TextRange`. We have TextRange(start, end) where start & end are (line, column) pairs.
Assume values for a TextRange as (1,None,2,None) so does this mean that the TextRange is the entire 1st line and the entire 2nd line? This seems to be how the code currently deals with it

[2016-02-15 13:10] sudheesh001 opened #1501 "Use golang dependency manager to go get the dependencies"
Similar to how we have `requirements.txt` for `pip` and `package.json` for `npm` we can also have a file holding the dependencies for golang

[2016-02-15 13:11] sils1297 commented on #1501
Thought about that too, is there already a file format designed for that?

[2016-02-15 13:14] sils1297 commented on #1500
@AbdealiJK is the timeout increase sufficient or is there something else behind this?

[2016-02-15 13:15] AbdealiJK commented on #1500
The time out currently is 35 seconds. I highly doubt it is that.
Though, the failure always happens in coalaTest which is our slowest test because it parses through the whole project.
I think with @tushar-rishav 's commit which fixes that (he runs coala on a tempfile, not on the whole project) this **may** get fixed

[2016-02-15 13:16] AbdealiJK commented on #1415
Could you elaborate on what options you were looking at specifically ?

[2016-02-15 13:17] sils1297 commented on #1415
remark supports some cli options you can already give that but that's not really neatly exposed. We want settings like `use_bullets` or whatever for lots of stuff they have

[2016-02-15 13:19] AbdealiJK commented on #1409
@iamshubh22 I am doing something in `LanguageToolBear` which is very similar - so, I'm taking over this issue. is that alright ? Or have you begun working on it ?

[2016-02-15 13:20] tushar-rishav commented on #1500
@AbdealiJK @silk1213    Yeah it should be fixed now. I am using `prepare_file` now in `coalaTest`.

[2016-02-15 13:31] iamshubh22 commented on #1409
@AbdealiJK Busy with exams these days. You can proceed :smile:

[2016-02-15 13:38] sudheesh001 commented on #1501
I think `godep` takes a `json` in a specified format, i'll fix this once #1499 lands into master

[2016-02-15 13:50] AbdealiJK opened #1503 "Appveyor not installing go dependencies"
https://ci.appveyor.com/project/sils1297/coala/build/1.0.3270

Says:
[code]

[2016-02-15 15:03] #1444 closed

[2016-02-15 15:40] AbdealiJK opened #1509 "Dbus - Use skipTest exception"

[2016-02-15 15:58] #1331 closed

[2016-02-15 15:58] #1413 closed

[2016-02-15 15:58] #1409 closed

[2016-02-15 15:58] #1440 closed

[2016-02-15 15:58] #1481 closed

[2016-02-15 16:15] AbdealiJK opened #1510 "coala-ci shouldnt have -A and -B"
When I run `coala-ci` with `-A` and `-B` there is no output at all.
We should remove those args from the argparser of `coala-ci`

[2016-02-15 16:28] sils1297 commented on #1501
#1499 has landed :)

[2016-02-15 18:14] sudheesh001 opened #1512 "CoalaCITest.py contains duplicate during cherrypicking"
This is a small issue introduced after the cherrypicking and latest merge to master

[2016-02-15 18:36] sils1297 commented on #1512
@AbdealiJK corrected this on his own

[2016-02-15 18:36] #1512 closed

[2016-02-15 18:50] AbdealiJK opened #1514 "coala_delete_orig: Modify message"
Modify message about `Couldn't delete... <filename>`

@sils1297 please suggest a better message.

[2016-02-15 18:52] sils1297 commented on #1514
remove the `...` for a start...

[2016-02-15 19:04] #1414 closed

[2016-02-15 19:04] #1509 closed

[2016-02-15 19:04] #1510 closed

[2016-02-15 19:48] sudheesh001 opened #1516 "Cleanup GoReturnsBearTest by removing unnecessary information"
the GoReturnsBearTest contains the following which needs to be removed
[code]
Put the good_files in the same line like the bad_files
[code]

Also correct GoReturnsBear's `run()` documentation to show `using goreturns` instead of `using gofmt`

difficulty/newcomer

[2016-02-15 19:50] madminions commented on #1494
I want to work on this issue. Please accept merge request.

[2016-02-15 19:54] sils1297 commented on #1494
Hi, apparently @707 is working on this issue (though he hasn't accepted the invitation to our org yet...)

@madminions could you work on another issue for the time being? I've sent you an invitation so we can assign you, if you express interest in some issue you'll get assigned so it's guaranteed that nobody else works on the same.

[2016-02-15 20:31] madminions commented on #1494
Ok. Thanks.

[2016-02-15 20:32] Makman2 commented on #1069
@AbdealiJK my intention was to not set `end` actually but implement another convenience constructor, like `from_position` that would do the deepcopy^^ So you can remove the `(TextPosition, None)` type assertion. I think I should've written what I explicitly mean, but in all position/range classes they act a bit non-strict imo.

[2016-02-15 20:34] Makman2 commented on #1514
why the current message is bad? It says file `<filename>` couldn't be deleted :O

[2016-02-15 20:35] Makman2 commented on #1494
Be careful, in fact `not a is None` is not the same as `a is not None`, but I think too this should work in all our cases since we don't override `__neg__` anywhere (or use classes that provide special negation behaviour).

[2016-02-15 20:37] sils1297 commented on #1514
the ellipsis is there for no reason at all

[2016-02-15 20:37] Makman2 commented on #1491
:+1:

[2016-02-15 20:39] Makman2 commented on #1232
@WJCode it does, but this is intended by design. I think that's quite clear, "from line 1 to line 2" :+1:

[2016-02-15 20:42] Makman2 commented on #1514
ah I thought that's where the filename comes :O
Yeah just deleting the `...` suffices

[2016-02-15 21:35] fneu commented on #1069
@Makman2 @AbdealiJK @sils1297
Sorry for opening this again guys, but for me the whole thing looks really odd now.

`TextRange(TextPosition(line=1, column=1), TextPosition(line=None, column=None))`
gets expanded to cover all of the given text, in strong contrast to
`TextRange(TextPosition(line=1, column=1), None))`.

Then there is the property complexity and the arbitrary restraint on setting a col

[2016-02-15 21:38] fneu commented on #1069
Do any of you guys actually really need "dynamic" text ranges, i.e. values of None?

we could simplify this by a lot if we'd just require ints... ('hence the reopening)

[2016-02-15 21:50] Makman2 commented on #1069
In for that :+1:
We would need convenience constructors for setting a complete line for a given file, since that will be needed by linter bears that only get line positions^^

[2016-02-15 22:05] Redridge opened #1520 "Usability: Throw error/warning if file globbing doesn't match"
Right now if you pass a wrong path to a file with --files, it won't work but you will not know it.
coala should throw some kind of error/warning when this happens

[2016-02-15 22:10] sils1297 commented on #1520
@AbdealiJK did the same for the bear globs, he'll probably be the right one for this one too.

[2016-02-15 22:11] fneu commented on #1069
Ok, since this is not urgently needed yesterday (and currently working) I'm gonna assign myself for this and probably cook something up next week.

[2016-02-15 23:06] #1412 closed

[2016-02-16 00:28] AbdealiJK opened #1521 "Bear: Check newline on EOF"
It's be good to have a bear which checks this (PEP8 does it, but non Python files like .rst do not get checked atm)

[2016-02-16 00:33] AbdealiJK commented on #1521
Plus this config will be useful for nearly every linter

[2016-02-16 00:39] AbdealiJK commented on #1520
Question here - do we check which paths gave no files after doing `remove`, and `limit_paths` or before ?

[2016-02-16 02:20] AbdealiJK commented on #1476
Fixing this, as im in the vicinity and it's irritating :/

[2016-02-16 03:18] AbdealiJK commented on #1428
@Makman2 are you sue `.communicate()` won't hang ?

[2016-02-16 03:40] AbdealiJK commented on #1428
Well, either way - Im using it.
The docs cays it buffers all the streams in memory - so it should be limited by memory size, not the pipe.
If it hangs we'll open an issue on `run_interactive_shell_command` later.

[2016-02-16 04:47] AbdealiJK commented on #1204
@sils1297 Im not sure what you're expecting here ...
I've made a very obvious script ... Im not sure if thats what you want. Can you take a look : https://github.com/coala-analyzer/coala/commit/d1cf6838c7448b593bebc6ae42845e7fb7cb7a75

[2016-02-16 04:48] AbdealiJK commented on #1204
Note that we cannot really run coala only on the changed files because GlobalBears won't function correctly like that.

[2016-02-16 04:50] AbdealiJK opened #1523 "Choose bear kinds to run"
It would be good if we had a cmdline arg to run coala only in global or only in local mode.

This would be helpful for example if I want to just run coala on a few files that have changed (in Makefile or in a git pre-commit).

Here, we can tell coala to run LocalBears only on the modified files (using `--limit-files`) and GlobalBears on everything.

[2016-02-16 05:39] AbdealiJK opened #1524 "coafile: Run LineLengthBear on docs"

[2016-02-16 06:00] AbdealiJK commented on #1133
Could you elaborate on what you mean ? Right now it creates a new list and returns that:

[code]

[2016-02-16 06:02] AbdealiJK commented on #1246
@sils1297 we shouldn't do a release without this bug solved (as it affects all the plugins too)

[2016-02-16 06:24] AbdealiJK opened #1526 "coala-ci Show patch by default"
Earlier, we gave coala-ci some output and letting it show affected files.
It would be even more awesome to let users use the default action - `ShowPatchAction`

With this we'd also be able to see the patch proposed making things simpler.

[2016-02-16 06:35] AbdealiJK commented on #1398
We *could* write it to a temporary file, let csscomb fix that and read it back - but that's really really ugly.
i suggest we wait until https://github.com/csscomb/csscomb.js/issues/451 is done.

Blocked by https://github.com/csscomb/csscomb.js/issues/451

[2016-02-16 07:39] satyamamrev commented on #1516
I want to contribute to this

[2016-02-16 08:24] sudheesh001 commented on #1516
@satyamamrev You could get started with http://coala.readthedocs.org/en/latest/Users/Install.html#installing-coala-from-source

Here are the contribution guidelines http://coala.readthedocs.org/en/latest/Getting_Involved/README.html

[2016-02-16 08:27] sils1297 commented on #1521
Uhm SpaceConsistencyBear does that

[2016-02-16 08:29] sils1297 commented on #1520
I think we should do it after applying the ignore stuff but before limit paths.

[2016-02-16 08:32] sils1297 commented on #1204
something like that might well do, essential to this issue is that it's properly documented though

[2016-02-16 08:36] sils1297 commented on #1523
I'm not fully bought on this, can't we just keep it like this? Run all bears on the limited files will probably give a decent set of results?

[2016-02-16 08:39] sils1297 commented on #1246
@AbdealiJK can you cherry pick in @hypothesist s commit maybe? It was almost ready IIRC.

[2016-02-16 08:46] sils1297 commented on #1238
@AbdealiJK can you look into this one? We've had another occurrence too:

https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2289#issuecomment-184455118

[2016-02-16 08:54] sils1297 opened #1527 "coala JSONFormatBear replaces unicode characters"
https://github.com/sils1297/zeroclickinfo-goodies/commit/f5b95bbaffca2caa6324b194febd7124d3765284#diff-5075f75b694d6194d5b7cfaae322dfffR25

maybe we can find a way to turn that off?

[2016-02-16 08:55] sils1297 commented on #1238
That one is rather https://github.com/coala-analyzer/coala/issues/1527 .

[2016-02-16 08:56] #1521 closed

[2016-02-16 09:06] AbdealiJK commented on #1523
Yes ... but that's not the right results.
Could either support it OR not support it and just run coala on everything too.
Im against running global bears on limited paths

[2016-02-16 09:08] AbdealiJK commented on #1238
I do not have a windows machine to test - and hence it'd be difficult for me to do this

[2016-02-16 09:29] Makman2 commented on #1133
That issue is not for that function only but for the complete workflow ^^ I should have been clearer on this one^^

[2016-02-16 09:30] Makman2 commented on #1526
:+1:

[2016-02-16 09:35] Makman2 commented on #1523
Thats more a caching Problem, isnt it? Since global and local bears are more or less thrading models that shall squeeze out performance it doesnt make sense letting the user control such core behaviour.
Btw i dont know what you mean with limited paths^^

[2016-02-16 09:38] AbdealiJK commented on #1523
So, when Im making a git pre-commit - I can find all the files that have changed in the last commit.

Here, I'd ideally want to run Local Bears only on these files and Global Bears on all files.

The limited paths are the paths to the files that got changed (from git).

[2016-02-16 09:40] sils1297 commented on #1523
fwiw the new bear design will make this more complicated since we'll remove the local/global bear distinction

[2016-02-16 09:41] AbdealiJK commented on #1523
I know ... the ideal method of doing this is implementing good cache in coala itself

[2016-02-16 10:00] AbdealiJK opened #1529 "PyImportSortBear on circleci"
PyImportDortBear throws errors on circleci because it confuses what a third party module is and what our module is. For example, on my computer it fixes:

[code]

But in circleci, it complains that this is wrong and wants:
[code]

This is probably something to do with circleci configs. We need to tell it (somehow) that `munkres` is not a module in our code.

[2016-02-16 10:17] sils1297 commented on #1529
can probably be solved by making isort aware of first and third party

[2016-02-16 11:24] #1449 closed

[2016-02-16 11:24] #1491 closed

[2016-02-16 11:38] AbdealiJK commented on #1232
Um ... so, @WJCode 's code also works as expected - I think this issue can be closed again

[2016-02-16 11:42] AbdealiJK commented on #1482
@niraj8 are you still working on this ?

[2016-02-16 11:46] AbdealiJK commented on #225
@sils1297 why not use a language specific linter in such cases ? Writing your own logic is tiresome and not required IMO
Like `indent` for C languages

[2016-02-16 11:54] sils1297 commented on #225
because having one indentation engine that is usable for lots of languages
would be awesome, remember the goal of coala is not to just wrap linters
but also allow creation of new routines for new languages. That also makes
it very easy to at least provide some basic indentation support for
whatever languages users demand.

2016-02-16 12:46 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-16 12:45] AbdealiJK opened #1534 "Bear for R"
We can use lintr - https://github.com/jimhester/lintr

[2016-02-16 13:08] nishant-mor commented on #1534
But it is not available on apt-get or npm.

[2016-02-16 13:10] AbdealiJK commented on #1534
Where is it available then ?

[2016-02-16 13:13] AbdealiJK commented on #1534
lintr seems to be in cran - https://cran.r-project.org/web/packages/lintr/README.html

[2016-02-16 13:23] niraj8 commented on #1482
@AbdealiJK I have read the docs for writing a Bear and gone through other Bears in the repo, but I haven't written any code yet. I'll work on it today.

[2016-02-16 15:05] AbdealiJK opened #1535 "Fix typos in docs"
In the docs `THis` is written instead of `This` in Git_Hooks.rst

Should be changed

[2016-02-16 15:50] AbdealiJK opened #1536 "requirements: Usage of =="
Why do we use `==` in requirements.txt ?
It's a really bad idea :( I get a huge number of dependency issues frequently and have to reinstall all of coala's deps.

FWIW - The general rule is apps use == while packages do not.

[2016-02-16 16:02] sils1297 commented on #1536
so we should use `>=`?

[2016-02-16 16:03] AbdealiJK commented on #1536
I guess - yeah

[2016-02-16 16:21] nishant-mor commented on #1534
@AbdealiJK
It is written in R and needs to be installed inside R as a package. there is no executable which can be put into bear.
Any other method to execute this ?

[2016-02-16 16:23] AbdealiJK commented on #1534
@nishant-mor Im nor sure.

 - you can run the R terminal and run it maybe ?
 - or you could find another linter (I couldnt find any other surprisingly)

You may want to check `SublimeLinter-contrib-R` and see what theyve done

[2016-02-16 16:25] nishant-mor commented on #1534
https://github.com/AtomLinter/linter-lintr   => Atom package , can this be used ?

[2016-02-16 16:26] AbdealiJK commented on #1534
@nishant-mor thats a plugin for an editor - it uses `lintr` internally.
It won't be of much use

Although, you could read and check how they use `lintr` to get results (to display in atom)

[2016-02-16 16:38] AbdealiJK opened #1537 "Auto find bears from installed packages"
As part of https://github.com/coala-analyzer/coala/issues/1047 we need to be able to find
bears that have been installed in other packages on the system.
This package should have some mechanism to tell coala the directory where they've kept the bears.

[2016-02-16 17:32] Makman2 commented on #1523
@sils1297 I don't think it would be too complicated in the new-bear design. In fact you just pass the bears less files to process :)

[2016-02-16 17:33] Makman2 commented on #1232
@WJCode so is the "ignore"-bug fixed for you? If you have still concerns about the `TextRange` stuff please open a new issue :)

[2016-02-16 17:36] Makman2 commented on #225
agreeing with @sils1297. Even though we focus on providing functionality by implementing linters, self-written bears need utilities for code-analysis :)

[2016-02-16 17:37] sils1297 commented on #1523
no he wants to exclude those bears that work globally. I'm not bought on
that.

2016-02-16 18:32 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-16 17:40] Makman2 commented on #1523
that doesn't make sense :O if you have a bear set in the coafile you want to get it executed. If you don't want global bears just create a new section without :O

[2016-02-16 17:44] Redridge opened #1540 "bug: coala random crash"
Steps to reproduce

1. Use the file I provide below
2. Run coala on it with SpaceConsistencyBear and PEP8Bear like so

[code]

Here is the file

[code]

[2016-02-16 19:17] #1442 closed

[2016-02-16 19:24] madminions commented on #1535
Assign me this issue.

[2016-02-16 19:25] sils1297 commented on #1535
Hi, FYI after this we'd love you to go on to difficulty/low issues as we only have a limited number of newcomer issues.

[2016-02-16 19:26] madminions commented on #1535
Sure.

[2016-02-16 19:39] madminions commented on #1535
There is no file named Git_Hooks.rst in docs.

[2016-02-16 19:42] sils1297 commented on #1535
oh it will be there soon... when we merge a PR from @AbdealiJK , we sometimes file bugs ahead of time. Sorry for this. :/ If you want you can take another bug in the meantime?

[2016-02-16 19:43] sils1297 commented on #1540
@Redridge uhm when I run that in a tmp folder I get asked for `use_spaces` and either way (true or false) it doesn't fail. I suppose you have a coafile there?

[2016-02-16 19:45] sils1297 commented on #1540
@Redridge so it would be important if you could come up with a *minimal* reproducable example. I.e. you give us one command and one file and if we run that in a clean dir it should reproduce your problem.

[2016-02-16 19:45] sils1297 commented on #1540
Assigning you as we need info from you.

[2016-02-16 22:16] Makman2 opened #1544 "Replace `x or default` with a function doing this properly"
Last time I recognized that statements like `x or default` could fail when the object `x` overrides `__neg__()`. We should use a function, like
[code]

[2016-02-17 04:59] AbdealiJK opened #1545 "CheckstyleBear - Better skip test"
The checkstyle bear's prerequisite doesnt check if checkstyle.jar is present or not.
So, If i clone, dont run `python setup.py` and run tests - it fails

We need to check for java and also check `java -jar <path to checkstyle>` returns 0
We may also want to check is the google_checks.xml is there - because the bear would fail if it isnt

[2016-02-17 07:58] Redridge commented on #1540
I cannot reproduce the bug anymore ?! Maybe it was something system specific to me I guess.
Yesterday I reproduced it a couple of times but now I can't. There is nothing a restart can't fix ;)

Closing this

[2016-02-17 07:58] #1540 closed

[2016-02-17 08:39] kpraveenkumar commented on #1485
Could you please suggest, how to recreate the scenario..

[2016-02-17 08:42] sils1297 commented on #1485
I'm not fully sure, I think CPPLintBear sometimes yields results with trailing spaces in the message. Anyway this is more a general thing not addressing this particular bug but just simplifying bear development as the writers of regexes for lint bears don't have to care about trailing/leading whitespaces.

[2016-02-17 08:58] AbdealiJK commented on #1526
There is no method to override the `default_actions` of all the sections :(
We need some method to "override a setting from all section" in the cli args

[2016-02-17 09:06] AbdealiJK commented on #944
@sils1297 It already seems to be a local bear

[2016-02-17 09:08] sils1297 commented on #1526
I actually don't think we want to reuse that mechanism as it doesn't work like this, we can just hardcode the "show patch if one is there" into the noninteractive console interaction output maybe? That's twoish NCLOC.

[2016-02-17 09:08] sils1297 commented on #944
I meant global bear. Sorry :/

[2016-02-17 09:21] Makman2 commented on #1526
@AbdealiJK you can just pass `default_actions` over CLI. @sils1297 wasn't it anyway planned to support some `all` bear, so `default_actions = all: ApplyPatchAction` or else would be possible?

[2016-02-17 09:23] AbdealiJK commented on #1526
@Makman2 passing it over cli is not good, because if another section uses `default_action` it will override it and try a patch or something else

[2016-02-17 09:24] Makman2 commented on #1526
doesn't CLI override coafile settings?

[2016-02-17 09:25] sils1297 commented on #1526
I just don't want a setting for that. Setting default actions isn't the right thing because those are suppressed anyway. We have:

[code]

and we can just add an else that just applies the ShowPatchAction in the noninteractive case. That's literally two lines of code and not complicating the settings further.

[2016-02-17 09:25] AbdealiJK commented on #1526
@Makman2 my understanding is `-S default_actions=value` overrides default section settings, not all sections

[2016-02-17 09:27] AbdealiJK commented on #1526
@sils1297 I dislike the adding `else` ... I would prefer allowing certain actions in `coala-ci` and setting all of them to `ShowPatchAction` - seems cleaner to me.

[2016-02-17 09:31] AbdealiJK opened #1546 "Allow certain binaries to use only certain actions"
We should allow certain binaries specifically for certain binaries

For example, `coala-format` users may want to Apply Patch automatically but wouldn't want `ShowPatchAction` as that would destroy the formatting output.

So, even if the user has set in the `.coafile` to use `ShowPatchAction` the editor plugins (for example) can still work, as that action would be ignored.

[2016-02-17 10:21] sils1297 opened #1547 "collectors: move ignore stuff down to icollect"
as per https://github.com/coala-analyzer/coala/commit/037f9105a9cb47e0d7274a018c39016ad704df24#commitcomment-16142465

[2016-02-17 10:42] AbdealiJK opened #1548 "Change from dummy -> _"
We have a few variables named as `dummy`. Find them all in the project and use `_` instead

[2016-02-17 10:43] sils1297 commented on #1547
looking at https://github.com/coala-analyzer/coala/commit/52bc30f80b98b817b1216086fed3b82e9209a9ed I think we should do the ignore at glob level and return back a list of unmatched globs to remove redundancy all over there

[2016-02-17 10:45] AbdealiJK opened #1549 "Convert CONTRIBUTING.md to a rst file"
https://github.com/evonove/django-oauth-toolkit/blob/master/CONTRIBUTING.rst - contributing.rst is an accepted file in github

Need to convert our current markdown file to rst.

Also, when this is done - `coafile` 's [DOCS] section needs to be modified to reflect the new filename

[2016-02-17 10:50] AbdealiJK opened #1550 "LocalBearTestHelper - Allow tuples"
Currently it doesnt allow tuples of lines.
This earlier caused a bug with incorrect diffs - https://github.com/coala-analyzer/coala/commit/928de1365fc7e7efc423717ec76f2016870360f1#commitcomment-16143030

We need to allow `tuples` in LocalBeartesthelper and add tests for PyImportSortBear and MatlabIndentationBear so that they can use list of lines or tuple of lines as input

[2016-02-17 11:08] sils1297 opened #1551 "Lint documentation comment: Link to lint bear tutorial"
you can find the tutorial on docs.coala-analyzer.org

difficulty/newcomer

[2016-02-17 11:39] #1294 closed

[2016-02-17 12:14] sils1297 opened #1552 "Create coala-base docker container"
We should make a container that has coala and all dependencies installed so we can use that for other stuff.

[2016-02-17 12:14] sils1297 commented on #1552
repository created at https://github.com/coala-analyzer/coala-base with the usual team permissions

[2016-02-17 12:17] sils1297 commented on #1552
Docker hub entry created as `coala/base` at https://hub.docker.com/r/coala/base/ , repo renamed to https://github.com/coala-analyzer/docker-coala-base to make it clear that this is a docker image.

[2016-02-17 13:00] AbdealiJK opened #1553 "Lint - arguments"
Lint has `arguments` which is a class variable. This needs to be removed and made into an arg for `lint()` as otherwise the values in this variables are reused next time.

[2016-02-17 13:01] #1552 closed

[2016-02-17 13:01] sils1297 commented on #1552
Alright, image is there.

[2016-02-17 15:17] SanketDG commented on #1236
[code]

Returns whatever shell I am working from. But just the name. Something like:

[code]

could be useful.

[2016-02-17 15:28] AbdealiJK commented on #1236
@SanketDG that doesnt work on cmd and Powershell
Ive done some reading and have come to the conclusion:

 - If `echo $host.name` gives `ConsoleHost` it is Powershell
 - If `echo $host.name` gives `$host.name` it is cmd
 - If `echo $host.name` gives `.name` it is unix based shell

 - If `echo $0` gives out `$0` => cmd
 - If `echo $0` gives nothing, it is powershell
 - If `echo $0` gives out a linux

[2016-02-17 15:33] AbdealiJK opened #1554 "LineLengthBear - Search anywhere in the line"
Currently if I give "https" as a ignore regex, it works only if "https" is in the beginning of the line.
This shouldn't happen.

ALSO - It would be good to have a list of regexes it can match, rather than only one.

[2016-02-17 15:37] sils1297 opened #1555 "Detect messy code in PHP"
https://github.com/phpmd/phpmd

either that can be used directly or the lib it uses.

[2016-02-17 16:20] SanketDG commented on #1554
How is it related to `LineLengthBear`?

[2016-02-17 16:23] AbdealiJK commented on #1554
LineLengthBear has an argument `ignore_length_regex` which takes a regex. If a line has this regex, it ignored this line's length when giving results. This is to make sure things like links dont throw an error.

For example, setting the regex to `http` basically makes it ignore all lines with links.

Now, currently if I use `http` in the bear, it only ignores links like:
[code]
and doesnt ignore:

[2016-02-17 16:56] #868 closed

[2016-02-17 16:56] #1204 closed

[2016-02-17 16:56] #1341 closed

[2016-02-17 16:56] #1428 closed

[2016-02-17 16:56] #1475 closed

[2016-02-17 16:56] #1520 closed

[2016-02-17 16:56] #1524 closed

[2016-02-17 16:56] #1547 closed

[2016-02-17 16:56] #1550 closed

[2016-02-17 16:56] #944 closed

[2016-02-17 16:56] #1157 closed

[2016-02-17 16:56] #1415 closed

[2016-02-17 16:56] #1545 closed

[2016-02-17 17:09] sils1297 commented on #1064
declaring a bug because it's a huge usability issue

[2016-02-17 17:31] AbdealiJK commented on #1534
Hey, that PR has been pushed now.
You can do ` -e 'library("lintr")' -e 'lint("{filename}")'` as arguments now

[2016-02-17 17:34] sils1297 opened #1557 "Linter Bear Tutorial needs an update"
Update should cover:

- use of `{filename}` in the arguments string
- use of config file generation
- use of `gives_correction`

[2016-02-17 18:19] WJCode commented on #1232
@Makman2 @AbdealiJK, Sorry about the late response I was working :disappointed: . I still see the issue in the code above even after a rebase(in case I missed any new changes).

I'm trying to do some more digging to see how values come down from `SourceRange` to `TextRange.overlaps()`

Currently, `TextRange.overlaps()` doesn't seem to deal with `None`s. For example:
[code]
This test corresponds to

[2016-02-17 19:58] AbdealiJK opened #1560 "Naming scheme for test classes using verify_local_bear"
The naming of classes and functions in tests should be normalized.
Specially those using `verify_local_bear` where the names are as bad as `ProseLintBear1Test`, `ProseLintBear2Test`, etc

[2016-02-17 21:02] pavithirakc commented on #1548
I would like to work upon this issue.

[2016-02-17 21:04] sils1297 commented on #1548
@pavithirakc I've invited you to our org so we can assign you to bugs!

[2016-02-17 21:05] sils1297 commented on #1548
@pavithirakc please accept that invitation

[2016-02-17 21:27] #1537 closed

[2016-02-17 21:27] #1554 closed

[2016-02-17 21:45] Redridge opened #1562 "Fix grammatic mistake in the Linter Bears docs"
Under the "Writing the bear" header add a full stop to this sentence
" so it can be used by the Lint class to yield Results. (more on communicating with the user Writing Bears)"

difficulty/newcomer

[2016-02-17 23:14] Makman2 commented on #1236
@AbdealiJK it is ar least linux, so that works at least ^^

[2016-02-18 00:45] sils1297 opened #1564 "shellcheck bear"
https://github.com/koalaman/shellcheck

[2016-02-18 00:49] sils1297 opened #1565 "hlint for haskell"
this one suggests fixes sometimes with hints, awesome!

[2016-02-18 00:49] sils1297 commented on #1565
https://hackage.haskell.org/package/hlint#readme

[2016-02-18 06:12] AbdealiJK opened #1570 "Windows: Finding coafiles is wrong"
It seems as though we have a bug win windows where when it tried to load config files, the file isn't really loaded.

See the build - https://ci.appveyor.com/project/sils1297/coala/build/1.0.3414

Here, the config file is printed as `C:\projects\coala\coalib\tests\settings\section_manager_test_files\child_dir\projectscoalacoalibtestssettingssection_manager_test_fileschild_dir.coafile`

we need to

[2016-02-18 06:15] AbdealiJK opened #1571 "Remove COVERAGE_DIR from Constants"
Constants.py has a variable named `COVERAGE_DIR` which is not used anymore.

We need to remove this

[2016-02-18 06:23] AbdealiJK opened #1572 "Use ConsolePrinter instead of NullPrinter in all tests"
The null printer is irritating because we have no debug output.

`pytest` automatically shows stdout and stderr when a test fails - if the `log_printer` uses `ConsolePrinter` we can actually see the output which makes it easier to debug.

Just have to go through all tests which use `NullPrinter` - `git grep "import NullPrinter" coalib/tests`
And change them from `NullPrinter` to `ConsolePrinter`

[2016-02-18 06:37] AbdealiJK commented on #1570
Nevermind - I'm doing this as part of  https://github.com/coala-analyzer/coala/issues/1246

[2016-02-18 06:37] #1570 closed

[2016-02-18 07:14] AbdealiJK commented on #965
I believe this has moved to https://github.com/coala-analyzer/coala-html now ?

[2016-02-18 08:39] AbdealiJK commented on #1219
I was trying to fix this.

I have left the following errors as is:
[code]
Reasons:
Bear & BearRunner - User written bears are outside our control so we want to catch them
coala_json, coala_main, DbusDocument - Throw nice error message if anything bad happens
Collectors - Catch errors when trying to import a bear (again they can do anything)
ConsoleInteraction, Processing - Errors when applying an

[2016-02-18 08:48] AbdealiJK commented on #1236
@Makman2 sorry ? didn't understand

[2016-02-18 09:31] sils1297 commented on #965
indeed

[2016-02-18 09:31] #965 closed

[2016-02-18 10:02] Makman2 commented on #1572
Dont know if thats that useful since often you have so much printed to it you cant read anything valuable out of it. I wouldnt change to ConsolePrinter -> more work

[2016-02-18 10:03] #1536 closed

[2016-02-18 10:05] Makman2 commented on #1236
Nvm havent read everything properly^^

[2016-02-18 10:12] AbdealiJK commented on #1236
All 6 of those cases mentioned work (just tested it)
@Makman2 are those conditions fine ?

[2016-02-18 10:23] sils1297 commented on #1238
maybe this can be solved with https://github.com/coala-analyzer/coala/pull/1541#issuecomment-185641603 , @AbdealiJK can you try reproducing this and solving it?

[2016-02-18 10:49] AbdealiJK commented on #1238
I am able to reproduce the. I opened the files in a hex editor and noticed 4 chars were removed when coala wrote back to it.

The symbol ° is B0 in the file after coala ran on it.
The same thing in the one before coala ran on it is @#Â° - 40 23 C2 B0

ALSO - This happens in git bash too. (Im not sure if it's windows specific anymore)

[2016-02-18 10:56] AbdealiJK commented on #1238
Changing the writing of the file to `with open(filename, mode='w', encoding='utf-8') as file:` in `coalib.results.result_actions.ApplyPatchAction` (line 50) fixes this

[2016-02-18 12:23] #1527 closed

[2016-02-18 12:23] #1238 closed

[2016-02-18 12:55] sils1297 opened #1574 "setup.py shouldn't have `[]` around maintainer names"

[2016-02-18 12:58] sils1297 opened #1575 "Our development release seems to be a problem for someone"
I've got https://twitter.com/sfermigier/status/700298827350282240?cn=bWVudGlvbg%3D%3D&refsrc=email . I hope we can get more info on why this is a problem and how we can avoid it.

Having an automated development release is good for the stability of the project (devs are forced to merge releasable quality only, users can test early) and ease dependency management with multiple libraries like PyPrin

[2016-02-18 13:01] sils1297 commented on #1575
So there are definitely other projects doing this too and services like travis offer it as a service: https://docs.travis-ci.com/user/deployment/pypi/

I don't see how this should be a problem.

[2016-02-18 13:10] AbdealiJK commented on #1575
Neither do I.
Maybe we can ask pip to not show dev releases in the search page ?

[2016-02-18 13:11] sils1297 commented on #1575
Yeah that I'm indeed annoyed with, if users go to the coala package they should get the non development release shown by default - which already is the default behaviour for pip install.

[2016-02-18 13:17] championswimmer opened #1576 "Link to tutorial in the README is broken"
What it points to -
http://coala.rtfd.org/en/latest/Users/Tutorial.html

What is correct -
http://coala.rtfd.org/en/latest/Users/Tutorials/Tutorial.html

[2016-02-18 14:10] sils1297 opened #1577 "RadonBear throws exceptions"
[code]

[2016-02-18 14:10] sils1297 opened #1578 "RadonBear throws exceptions"
[code]

[2016-02-18 14:22] sfermigier commented on #1575
There is an option "hide from the front page" when you upload a package.
<img width="651" alt="screen shot 2016-02-18 at 15 20 50" src="https://cloud.githubusercontent.com/assets/271079/13145854/42c31e02-d653-11e5-8077-71f855ccb694.png">

[2016-02-18 14:23] sils1297 commented on #1575
That option is only available via the UI, right? We (and lots of other projects) want a fully automated solution, any manual effort is not feasible.

[2016-02-18 14:43] sils1297 opened #1579 "Generic cyclomatic complexity"
with similar information to what @Redridge already has for the generic indentation I think we can very well also calculate the cyclomatic complexity of "things" language independently.

[2016-02-18 15:18] sfermigier commented on #1575
This is the only project I see on PyPI that publishes development versions
regularly. And I check PyPI three times a day.

If there is no way to exclude dev packages from the home (I have no idea if
it is or not) then maybe a solution would be to set up your own private
devpi server (http://doc.devpi.net/).

On Thu, Feb 18, 2016 at 3:23 PM, Lasse Schuirmann <notifications@github.com>
wrote:

--
St

[2016-02-18 15:22] AbdealiJK commented on #1575
Out of curiosity - why isn't a project supposed to publish nightly builds to pypi ?

[2016-02-18 15:23] sils1297 commented on #1575
Some projects do, though we usually have one or several releases every day which might be the difference. The Babel devs want it too, it's just a great deal for everyone. Now that travis supports doing that automatically for you even more projects will come and do this.

I still do not understand what your actual problem is. This is what development versions are for, to give cutting edge stuff to

[2016-02-18 15:24] sils1297 commented on #1575
We don't have the resources, nor the manpower to set up and maintain an own PyPI server. Also that affects the usability of the development version installation.

[2016-02-18 15:41] sfermigier commented on #1575
Imagine that every python project set up their CI server to push
development versions to PyPI on every successful commit as you seem to do
(and want to do).

1. I don't believe the PyPI architecture is designed to sustained this.

2. This would make looking at the PyPI timeline to discover new &
interesting packages even more challenging as it is today.

On Thu, Feb 18, 2016 at 4:24 PM, Lasse Schu

[2016-02-18 15:55] sils1297 commented on #1575
A world where projects would actually guarantee the qualiity that the master branch is always releasable and tested immediately by users who want to try out cutting edge stuff.

/me keeps dreaming of that.

This particular question is a theoretical debate that probably won't lead to anything right now, practically we can see that PyPI obviously can handle whatever we and others throw at it.

Our l

[2016-02-18 16:12] sfermigier commented on #1575
designed to suit."

-> What makes you think that ?

development releases"

-> Just because you *can* make dev releases (thanks to PEP 0386) doesn't
mean you should upload them to PyPI."

On Thu, Feb 18, 2016 at 4:55 PM, Lasse Schuirmann <notifications@github.com>
wrote:

--
Stefane Fermigier - http://fermigier.com/ - http://twitter.com/sfermigier -
http://linkedin.com/in/sfermigier
Founder & CEO,

[2016-02-18 16:14] sils1297 commented on #1575
Simply the fact that they show development releases. If it were made for that usecase they'd only show new packages.

[2016-02-18 16:16] sfermigier commented on #1575
I think you got it backwards. They didn't anticipate people would post dev
releases to PyPI.

On Thu, Feb 18, 2016 at 5:14 PM, Lasse Schuirmann <notifications@github.com>
wrote:

--
Stefane Fermigier - http://fermigier.com/ - http://twitter.com/sfermigier -
http://linkedin.com/in/sfermigier
Founder & CEO, Abilian - Enterprise Social Software -
http://www.abilian.com/
Founder, Nuxeo - Enterprise Co

[2016-02-18 16:21] sils1297 commented on #1575
Why not, people obviously do that. Us stopping development releases hurts the project as it would any other project doing that right now. There's no real pain at any side from having the dev releases. If you are annoyed by dev releases then the solution is not to go to every project but to speak with PyPI developers; they offer the feature, we use it. That is our right.

I'm voting for a wontfix h

[2016-02-18 16:34] sfermigier commented on #1575
OK

On Thu, Feb 18, 2016 at 5:21 PM, Lasse Schuirmann <notifications@github.com>
wrote:

--
Stefane Fermigier - http://fermigier.com/ - http://twitter.com/sfermigier -
http://linkedin.com/in/sfermigier
Founder & CEO, Abilian - Enterprise Social Software -
http://www.abilian.com/
Founder, Nuxeo - Enterprise Content Management Platform -
http://www.nuxeo.com/
Chairman, Free&OSS Group / Systematic Cl

[2016-02-18 16:52] Makman2 commented on #1238
@TimSo94 is the bug solved for you?

[2016-02-18 17:07] Makman2 commented on #1575
Agreeing with @sils1297, @sfermigier I don't see a problem but that you have a view that is full with our dev releases which is more an issue of PyPi arranging a better view onto packages.
A development version is as it says for the newest development stuff, and imo that's what the dev-versions on PyPi are for also. Our current system works very nicely, being able to fetch the newest commits as a

[2016-02-18 17:07] #1575 closed

[2016-02-18 18:31] Redridge commented on #225
As @sils1297 said, this requires much more planning than I initially thought. I say better leave it for now.

[2016-02-18 18:32] sils1297 commented on #225
Can you share your experiences and drafts so we can build on it the next
time?

2016-02-18 19:31 GMT+01:00 Alexandros Dimos <notifications@github.com>:

[2016-02-18 19:39] #1219 closed

[2016-02-18 19:39] #1246 closed

[2016-02-18 21:18] #1571 closed

[2016-02-18 21:54] Redridge opened #1582 "bug: alert user about wrong alex package"
Apparently there are 2 alex packages
It would be nice to find a way to alert the user that he has the wrong alex package in his PATH so tests might fail

[2016-02-18 21:56] sils1297 commented on #1582
same is true for the remark package btw. don't know what the other one is. FFor alex it's the lexer for haskel (alex of course)

[2016-02-19 00:05] niraj8 opened #1584 "DefaultArgParser: Fix spelling mistake"
Change analaysis on line 30 to analysis

[2016-02-19 03:45] AbdealiJK commented on #1236
So, I pushed a code which uses shell_type instead of OS.
But I do not know what escape characters to use for `powershell`.
@Makman2 could you add that part when you can ?

[2016-02-19 03:47] AbdealiJK commented on #1582
Doesn't the linter give a bunch of warnings as that would give a error in stderr ?
I don't think we should be doing custom checking for package clashes like this ...

[2016-02-19 04:41] AbdealiJK commented on #1577
Duplicate of https://github.com/coala-analyzer/coala/issues/1578

[2016-02-19 04:41] AbdealiJK commented on #1578
Another exception:

[code]

[2016-02-19 04:45] AbdealiJK commented on #1574
I believe this is true for maintaner_email also

[2016-02-19 04:52] AbdealiJK commented on #1574
https://www.python.org/dev/peps/pep-0345/#author-optional

[2016-02-19 07:32] TimSo94 commented on #1238
Yes, now it works fine. Thanks! :)

[2016-02-19 09:19] Makman2 commented on #1236
Sure, but I remember backslashes shall work...

[2016-02-19 09:30] #1584 closed

[2016-02-19 09:55] sils1297 commented on #1582
Apparently it just gives no results because the regex doesn't match.

[2016-02-19 09:56] sils1297 commented on #1577
it's not a duplicate, it's another exception.

[2016-02-19 09:56] sils1297 commented on #1577
Both need handling.

[2016-02-19 09:57] sils1297 commented on #1577
ah you want to mov e them together... ok

[2016-02-19 09:57] #1577 closed

[2016-02-19 10:42] Makman2 opened #1588 "Use `shlex.quote` inside `Shell.escape_path_argument` for Unix systems"
`shlex.quote()` is introduced since Python 3.3, so we should use that instead of our self-written version.

[2016-02-19 10:44] Makman2 commented on #1588
So what to do:
- Replace `Shell.escape_path_argument()` (from file *coalib/misc/Shell.py*) with built-in `shlex.quote()`
- Test if everything works properly
- Remove `Shell.escape_path_argument()`

[2016-02-19 11:13] aayn commented on #1588
Hey. Being a newcomer, I'd like to do this please.

[2016-02-19 11:16] Makman2 commented on #1588
hi @aayn, you need an invitation to our org so we can assign you.
@sils1297 could you do that please?
Btw did you read our contributing guide? There's many useful information how to get started etc.

[2016-02-19 11:18] aayn commented on #1588
@Makman2 Yep. I'm going through that right now. Almost finished.

[2016-02-19 11:19] sils1297 commented on #1588
@aayn invitation is out, accept at github.com/coala-analyzer . If you need help, drop by at https://gitter.im/coala-analyzer/coala at all times. Welcome! :)

[2016-02-19 11:20] sils1297 opened #1590 "assert_supported_version: Remove pypy support"
There's a check for PYPY, we don't want that anymore. This is in `coalib/__init__.py`

difficulty/newcomer

[2016-02-19 11:20] aayn commented on #1588
@sils1297 Thanks :). Accepted the inv.

[2016-02-19 11:39] vidhan13j07 commented on #1590
I would to work on this bug .

[2016-02-19 11:44] sils1297 commented on #1590
@vidhan13j07 I've invited you to our org, accept at github.com/coala-analyzer please

[2016-02-19 11:53] sils1297 commented on #1590
alright seeing forward to a PR :) At any time you can get help at https://gitter.im/coala-analyzer/coala

[2016-02-19 13:58] aayn opened #1592 "bug: PHPLintBearTest.test_run fails on test"
All other tests pass. Only this one fails.

# Steps to reproduce
1. Run `py.test`.

# Actual results

![phpbear](https://cloud.githubusercontent.com/assets/9693267/13177206/a1782c90-d73d-11e5-8358-a14509127b3f.png)

# Expected results
Test should pass.

# Additional info

Output to some commands:
![phpv](https://cloud.githubusercontent.com/assets/9693267/13177329/72c12d06-d73e-11e5-81a4-255c41b879

[2016-02-19 14:10] sils1297 commented on #1592
@aayn can you try running `./coala -c /dev/null -b PHPLintBear -f bears/tests/php/**/phplint_test1.php -L DEBUG` from coala root?

[2016-02-19 14:11] #1576 closed

[2016-02-19 14:13] sils1297 opened #1593 "coala-json should give relpaths of files"
IMO we should output relative paths in all scenarios. (This is needed for coala-html to work based on coala-json.)

[2016-02-19 14:14] aayn commented on #1588
According to a script I wrote, these files need the change(`Shell.escape_path_argument()` --> `shlex.quote()`):

[code]

Have I missed any out? @Makman2

[2016-02-19 14:16] sils1297 commented on #1588
you should be able to just `git grep escape_path_argument` for occurrences
in git

2016-02-19 15:14 GMT+01:00 Aayush Naik <notifications@github.com>:

[2016-02-19 14:24] aayn commented on #1588
@sils1297 Oh. I didn't know about this. This is so easy. I feel like a fool now :P.

[2016-02-19 14:24] AbdealiJK commented on #1501
not fixed yet :( Goopfile didnt work as expected in circleci

[2016-02-19 14:32] sils1297 commented on #1588
I used `git format-patch` for months for reworking commits because nobody
told me about `git rebase --interactive` - that was so complicated :D

2016-02-19 15:24 GMT+01:00 Aayush Naik <notifications@github.com>: