[2016-03-19 09:08] sils1297 commented on #1923
neat :)

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-19 6:16 GMT+01:00 Attila <notifications@github.com>:

[2016-03-19 09:16] #1314 closed

[2016-03-19 15:25] #1871 closed

[2016-03-19 15:34] Makman2 commented on #1917
Ah okay, for `coalib.settings.DocumentationComment`.
Then, do we need this?

[2016-03-19 15:36] Makman2 commented on #1925
cool
though we highlight the text from results with red and green showing the problem.

[2016-03-19 15:49] sils1297 commented on #1925
it'd be nice to do our highlighting with a slight background change and the
syntax highlighting with the actual text colour

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-19 16:36 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-19 20:28] Makman2 commented on #1925
good idea :+1:

[2016-03-20 05:37] SanketDG commented on #1917
woah, the real `DocumentationComment` is in settings. Didn't notice that. The file I was talking about is this: [`coalib/bearlib/languages/documentation/DocumentationComment.py`](https://github.com/coala-analyzer/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationComment.py), but that is a stub. The idea is to implement documentation comment parsing for several languages includi

[2016-03-20 07:34] Uran198 opened #1927 "Codestyle: Module names don't follow PEP8"
I'm not sure that this is important or will get fixed, but https://www.python.org/dev/peps/pep-0008/#package-and-module-names

[2016-03-20 09:33] rresol commented on #1866
@sils1297  coalib.results.ResultFilter.remove_result_ranges_diffs(result_list, file_dict).
The result list parameter according to the docs contain list of results . I am not able to get this completely.
Will you please explain it ?

[2016-03-20 10:06] Uran198 commented on #1859
Where does this function have to live?

[2016-03-20 10:17] AbdealiJK opened #1928 "Linter: Refactor to decorator"
The idea that @Makman2 is working on at https://github.com/coala-analyzer/coala/pull/1814 is to refactor the Lint into a decorator. There was no nice issue for this yet, and Im making this for discussion. (I don't want to have huge conversations like the one @Makman2 posted on yesterday on gitter. It'd get lost.)

So, in the PR I suggested we could use MetaClasses instead of decorators.

[2016-03-20 10:23] sils1297 commented on #1859
I think StringConverter would be the right place

[2016-03-20 10:24] AbdealiJK commented on #1928
@Makman2 wrote:

alright @AbdealiJK @sils1297
I'm coming to the conclusion that metaclasses are not the right way for the next-gen linter design
why?
After some hours trying to understand how metaclasses actually work, the principle is "the metaclass is the type of a class"
so when a class is created (**not instantiated!**) for example via a class declaration like this:
[code]
the metaclass constr

[2016-03-20 10:34] sils1297 commented on #1927
Oh yes we should do that, I think we wanted a bear to do it for us so we don't have to do it manually and our users have that functionality :)

[2016-03-20 10:54] AbdealiJK commented on #1928
Wow. It took me 15 mins to copy that with formatting ...
I've not read everything in super detail, but while copying it I found these things:

#### An example you gave seems wrong
You tried to make a class which has metaclass `type` inside the `__new__` - which is a weird way of doing things. I think the nicer way would be:
https://github.com/SublimeLinter/SublimeLinter3/blob/master/lint/linter.py

[2016-03-20 11:14] fneu commented on #1866
@rresol We have a result class in `coalib/results/Result.py`. So for this parameter a list of instances of this result class or a subclass should be passed.

[2016-03-20 11:19] fneu commented on #1866
@rresol by the way since I see now that you are assigned for this issue:

In `coalib/results/ResultFilter.py` put:

[code]

and put this as the first line of `filter_results()`:
`ensure_files_present(original_file_dict, modified_file_dict)`

A least that's what I came up with so far and I think it's pretty much what @sils1297 expects here. It also seems to work well although I could not yet find t

[2016-03-20 11:45] AbdealiJK opened #1929 "Julia dev tools"
Julia is trying to make a dev tool (IDE) for themselves like Android.
We should try to get coala in ?

https://hacknight.in/thejulialang/julia-hacknight/projects/7-ide-for-julia-eclipse-integration

Currently they have a eclipse plugin:
http://juliacomputing.com/blog/2016/02/06/Eclipse-JuliaDT.html

[2016-03-20 13:18] sils1297 commented on #1909
As per discussion on gitter we're not sure where the catch should happen, probably not in `_import_module` but at the place where we also catch the import error so you'll have to search a bit on your own here.

[2016-03-20 13:36] jarifibrahim commented on #1909
@AbdealiJK
Seems like its used only in _iimport_objects
Which has the documentation:
[code]
@sils1297 do you want all of Importers.py generic ?
If so, then we should do this show an error at _import_bears
in Collectors.py

[2016-03-20 14:16] jarifibrahim commented on #1909
@sils1297 We do not catch the `ImportError` anywhere. This is what I got on `git grep ImportError`
[code]

[2016-03-20 14:35] khanstark opened #1930 "index.rst still has some typos"
http://coala.readthedocs.org/en/latest/#status-and-stability-of-the-project has typos. I think by 'braches' we mean 'branches'. Needs to be rectified.

[2016-03-20 14:36] sils1297 commented on #1930
Thanks for reporting this, a newcomer will look at it at some point in time, we'd like to keep typos open for them :)

[2016-03-20 14:45] khanstark commented on #1930
alright.! that's a wise thing to do!

[2016-03-20 14:47] Makman2 commented on #1917
`coalib.bearlib.languages.documentation.DocumentationComment` doesn't have any parsing facilities yet, this would be done together with https://github.com/coala-analyzer/coala-bears/issues/34 .
But since the parsing is coalang related, we should keep the issue here in coala.

[2016-03-20 14:52] sils1297 commented on #1909
@fneu where do we catch that?

[2016-03-20 14:52] sils1297 commented on #1930
why closing it? Open newcomer issues are good :)

[2016-03-20 15:20] Makman2 commented on #1928
I've thought about my idea again completely wrapping the user-given-interface into a member variable. I think inheritance is just simpler.

I tried to wrap the stuff into a new member. `cls` is not the class of the user-defined-interface, it's the metaclass inside `__new__` (inside `__init__` it is indeed the already created class from the metaclass). Setting attributes on the metaclass doesn't ma

[2016-03-20 15:23] Makman2 commented on #1859
@sils1297 what about directly inside Bear? since it's general purpose type-chaining^^

[2016-03-20 15:26] Makman2 commented on #1927
do we really want that? (In terms of "Modules should have short, all-lowercase names")
I like that the class has the same name like the module, we already thought of directly importing classes into the package one level above the module (so `coalib.parsing.Setting.Setting` --> `coalib.parsing.Setting`).

[2016-03-20 15:35] sils1297 commented on #1859
it's general purpose, it's not at all tied to bears

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-20 16:23 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-20 15:43] AbdealiJK commented on #1927
Personally I prefer following pep8 as it's the norm.

-----Original Message-----
From: "Mischa Krüger" <notifications@github.com>
Sent: ‎20-‎03-‎2016 20:56
To: "coala-analyzer/coala" <coala@noreply.github.com>
Subject: Re: [coala] Codestyle: Module names don't follow PEP8 (#1927)

do we really want that? (In terms of "Modules should have short, all-lowercase names")
I like that the class has the s

[2016-03-20 15:48] sils1297 commented on #1927
/me agrees

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-20 16:43 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-20 21:53] #1613 closed

[2016-03-21 03:21] AbdealiJK commented on #1928
Ok, so it seems Im a bit confused about metaclasses. But it does seem as thought metaclasses are a super set of decorators (i.e. it can do more) - http://stackoverflow.com/questions/1779372/python-metaclasses-vs-class-decorators

If you still think decorators are easier to go with - then let's continue with decorators - as I don't understand metaclasses well enough to suggest further improvements

[2016-03-21 08:28] AbdealiJK opened #1931 "docs / Writing Tests: Out dated"
http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Tests.html is a bit outdated

We don't need the
[code]
anymore.

Also, I think other stuff should be mentioned overall.
We should probably not mention assert* functions anymore and preferably just link to the unittest documentation.

@rresol please comment here if you think anything else should be changed as you're reading and trying

[2016-03-21 09:41] sils1297 commented on #1925
Alright this task is defined, the goal is to add syntax highlighting to the output with foreground colours and highlight things like additions/removals in the diff and which ranges belong to the result with background colours.

I think this isn't really trivial because of the dual highlighting and the fact that we don't have the info on which language we show there at the moment which is probably

[2016-03-21 10:34] sils1297 opened #1932 "bear dirs needs changing"
[code]

@hypothesist I'm pretty sure that this is what we need

[2016-03-21 10:42] AbdealiJK commented on #1932
@sils1297 I'm wondering if thats right.
If I give `-d /some/path/*/bears`
 - `path_list` would not care about it (as it's already abspath)
 - First for loop would escape the `*` and add `**` at the end
Which meant it will never search in /some/path/client/bears and /some/path/server/bears (for example)

What is the intended behaviour in this case ?

[2016-03-21 10:44] sils1297 commented on #1932
[code]

With that interpretation bear-dirs is for directories only actually. Otherwise we'd have to interpret the glob for bear_dirs.

[2016-03-21 10:46] AbdealiJK commented on #1932
Ah, I see. is this also true if I add `bear_dirs` in the `.coafile` ?

If you don't want the bear_dir to be a glob in either case - then your proposed solution looks good.

[2016-03-21 10:51] sils1297 opened #1933 "ConfParser: remove backslashes only if they actually escape something"

[2016-03-21 11:51] Makman2 commented on #1928
Metaclasses give you control over the creation of a class, and also of it's bases. But in this case a decorator is easier imo :+1:

[2016-03-21 11:55] Makman2 commented on #1933
what do you mean with "if they actually escape something"?

[2016-03-21 12:51] sils1297 commented on #1932
coala doesn't ever differenciate if a thing comes from the coafile or from
the cli.

[2016-03-21 12:57] AbdealiJK commented on #1932
Right - so, you dont want globs there too ? (We dont have any documentation
for that yet)

On Mon, Mar 21, 2016 at 6:21 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-21 13:14] sils1297 commented on #1933
say I have `key = value\=as\something` then the first backslash escapes the `=` while the second is actually useless. Assumption here is that if a backslash is useless the user probably meant a double backslash because he just wanted that freakin' backslash

[2016-03-21 14:47] abhsag24 commented on #485
so considering @Makman2 's idea, IMO the best way to go about this would be first , to create Bridge modules for Bear, LocalBear, GlobalBear that'd interact with the python code and the user's bear and later also provide an interface for our API's like _StringProcessing_ and so on

[2016-03-21 15:23] Makman2 commented on #485
I'm not sure we want to expose our stuff.
1. It's the other way around: The external code exposes interfaces we latch in from python code side. This is now exposing python code to the external interface.
2. The main intention is also speed behind using different languages, as in C you don't want to use our `StringProcessing` stuff, as that's far too slow for C ;)
Also the python-call overhead to s

[2016-03-21 15:58] Makman2 commented on #1932
This would solve #1831

[2016-03-21 16:21] jarifibrahim commented on #1923
I guess we should just stick to the numbers and just add the colors to the output messages (They look super cool [see this](http://imgur.com/6Z2YOYo) )

[2016-03-21 16:56] abhsag24 commented on #485
@Makman2  but wouldn't exposing the other way round limit these Bears on functionality? they'd miss out on our awesome API?

[2016-03-21 17:07] Makman2 commented on #485
@abhsag24 which functionality do you want to have from coala, for example when using C?

[2016-03-21 17:26] abhsag24 commented on #485
@Makman2 `Results, Diff, Source/TextRange` these wouldn't be directly usable, but we'd need a wrapper around these atleast? just exposing C/C++ would mean we have to convert their outputs into results, it'd be awesome if we could expose our members and they can use atleast some parts of these classes

[2016-03-21 17:49] abhsag24 commented on #1916
@SanketDG i'm not sure about a tutorial for the setting up a bear thing, it's very generic, something reading the codebase should solve, and is not something which coala has built for the a user, `verify_local_bear` on the other hand is a coala framework and should have a tutorial

[2016-03-21 18:07] sils1297 opened #1935 "Result: Add additional info field"
should be easy to do :) then we'll want an action similar to the print debug message action that shows the info?

[2016-03-21 18:12] Makman2 commented on #485
These objects need to be considered anyway, as they are the core for result-serving. Maybe we should wait for an implementation and then see what other interfaces we can make available for the writer^^

[2016-03-21 18:15] Makman2 commented on #1923
@jarifibrahim I like the colors, though that interferes quite with the diff coloring :D

[2016-03-21 20:19] sils1297 commented on #1935
neat, 14 minutes train ride well spent. I should do this more often...

[2016-03-21 20:23] sils1297 commented on #1895
@AbdealiJK @Adrianzatreanu there seems to be a lot of confusion around this. Can you please come to an agreement and solve this soon or close this as wontfix as it's really a minor thing and we shouldn't waste so much time on it.

[2016-03-21 20:29] sils1297 commented on #1882
ok apparently @Makman2 has started using it, we need to identify places where we override stuff and use mock there to make it clean

[2016-03-21 20:33] sils1297 commented on #1875
alright @Makman2 @Uran198 @AbdealiJK I think we can agree that it's good especially for longer discussions to open up new issues for clearly defined tasks. Also we want to have documentation for the labels and how to interpret them *or* better label names. Suggestion: somebody starts discussing this on gitter, you come to a conclusion and file one or two issues so we can close this one?

[2016-03-21 20:34] sils1297 commented on #1875
Assigning @Uran198 since he seems to have the biggest interest. If that's not ok just ping me and I'll unassign you of course.

[2016-03-21 20:40] sils1297 commented on #1869
@Makman2 will yo utake this? You'll likely end up maintaining them anyway, right?

[2016-03-21 20:43] sils1297 commented on #1852
Alright we have pretty decent handling for this now, we use `~=` where possible, `>=` for setuptools because we don't realy have a choice. During development of coala-bears we'll probably be able to use `==0.6.0.dev1234,==0.6.0.dev99999...` so we accept both from source and the exact version we work with?

[2016-03-21 20:43] sils1297 commented on #1852
This issue should be closed and a new one for coala-bears should be opened, coalas handling is well right now here IMO, @AbdealiJK can you do that?

[2016-03-21 20:44] sils1297 commented on #1848
Alright, we probably want some docs about annotations and the enforce_signature stuff, @Uran198 would that help you?

[2016-03-21 20:45] sils1297 commented on #1844
yes we should remove that stuff, keep logging for now and remoe it when we switch to python builtin logging

[2016-03-21 21:21] #1888 closed

[2016-03-21 21:21] #1935 closed

[2016-03-22 00:54] AbdealiJK commented on #1895
Closing as wont fix

[2016-03-22 00:54] #1895 closed

[2016-03-22 01:24] Makman2 commented on #1869
alright we need some repo names then:
- Globbing: `pyglob`, `globextensions`, `globext`, `globx` ?
- StringProcessing: `stringext`, `regexext`, `regext` `re-extensions`, `rextensions`?
- Shell: `shellext`, `shellextensions`?
(yeah I know everything with *"extension"*, but that were my first ideas...)

[2016-03-22 01:45] Makman2 commented on #1882
Checklist on tests to check for this. If a file is checked, I (or someone else
can) tick it. If possible refactors are found, post them or I edit them into
the task list.

Every file is relative to the `tests` folder.

- [ ] `bearlib/abstractions/LintTest.py`
- [ ] `bearlib/abstractions/SectionCreatableTest.py`
- [ ] `bearlib/languages/documentation/DocstyleDefinitionTest.py`
- [ ] `bearlib/langua

[2016-03-22 01:51] AbdealiJK commented on #1882
I really don't think this is worth it ...
We should just change things we find when we're refactoring things. Let it be a "tracking" task

[2016-03-22 01:51] AbdealiJK commented on #1869
A few more:
StringProcessing -> `textlib`, `stringlib`, `texttools`
Shell -> `term`, `shlext`
Globbing -> `globber`, `globy`

[2016-03-22 01:54] Makman2 opened #1938 "Remove coalib.output.printers.StringPrinter and replace with pyprint.StringPrinter"
This class is a duplicate of `pyprint.StringPrinter.StringPrinter`.

Tasks:
1. Replace the printer with the pyprint version inside `tests/output/printers/LogPrinterTest.py` and `tests/output/ConsoleInteractionTest.py`.
2. Remove `coalib.output.printers.StringPrinter` and `tests.output.printers.StringPrinterTest`

[2016-03-22 01:57] Makman2 opened #1939 "Delete EspeakPrinter"
Delete it after migration is done on pyprint side (https://github.com/coala-analyzer/PyPrint/issues/36).

[2016-03-22 01:59] Makman2 opened #1940 "Delete HTMLWriter"
We don't use this class at all.

[2016-03-22 01:59] Makman2 commented on #1844
* StringPrinter: https://github.com/coala-analyzer/coala/issues/1938
* HTMLWriter: https://github.com/coala-analyzer/coala/issues/1940
* EspeakPrinter: https://github.com/coala-analyzer/coala/issues/1939 and https://github.com/coala-analyzer/PyPrint/issues/36

Can we close this issue then?

[2016-03-22 02:00] Makman2 commented on #1882
I think then we forget the stuff from `unittest.mock` again :P

[2016-03-22 02:03] Makman2 commented on #1869
For stringprocessing I kinda like `rextensions`, because of `re`-module and `extensions` :D (I came also to `pyrex`, but that's already taken :3)
`shlext` is also cool.
And for globbing hmm... maybe we just call it `supernova` x)

[2016-03-22 02:18] AbdealiJK commented on #1882
Well, the reviewers need to remember it. I think that's alright

On Tue, Mar 22, 2016 at 7:30 AM, Mischa Krüger <notifications@github.com>
wrote:

[2016-03-22 02:45] AbdealiJK commented on #1923
I agree. Too much color is irritating too. I'd rather not have colors for actions

[2016-03-22 02:45] AbdealiJK commented on #1923
Also, I think we should have either numbers OR those letters.
Either can be used

[2016-03-22 02:51] AbdealiJK commented on #1913
I cannot think of anyway to fix this. It seems like an error that is even before coala is un-zipped ...
Also, someone on gitter tried the same version and didn't get the error.
I tried reproducing it in a pyenv and was not able to either.
I'm not sure when/how this happens. But I guess even if we did, there's nothing we can do about it.

Closing this as pip does mention:
[code]
on the top for ever

[2016-03-22 02:51] #1913 closed

[2016-03-22 04:44] AbdealiJK commented on #1771
@aachiritoaei still on this ?

[2016-03-22 04:44] Uran198 commented on #1848
Yes, I think guidelines in docs and consistency of code with those guidelines would be enough.

[2016-03-22 04:45] AbdealiJK commented on #1694
@souravsingh still on this ?

[2016-03-22 04:47] Uran198 commented on #1923
Colour may be good because it makes important things stand out and to make it less irritating we can pick two colours and use them in turns for each action.

[2016-03-22 04:57] AbdealiJK commented on #1196
I'm closing this as wontfix/not happening
Because I don't think the user should be writing these settings manually. For example, I'd probably set the editor config in the user level coarc rather than the project level coafile. Seems unfair to do something like that.

[2016-03-22 04:57] #1196 closed

[2016-03-22 05:11] AbdealiJK opened #1942 "build docs not working locally"
This may be a problem only on my computer ...
Keeps saying appdirs not found although it is installed and coala works fine.
[code]

[2016-03-22 05:18] AbdealiJK commented on #1942
Apologies.
Seems like this is because I had not installed sphinx and it was using the system sphinx.
And I had not installed appdirs on my system (only in the pyenv)

My fault completely.

[2016-03-22 05:18] #1942 closed

[2016-03-22 05:24] jarifibrahim commented on #1923
Two colors could work. We don't use `cyan` and `green` in output. So they can be alternately used for the actions.

[2016-03-22 06:13] souravsingh commented on #1694
@AbdealiJK I am working on it.

[2016-03-22 06:28] AbdealiJK commented on #1904
Do we even need that docker container ?
Seems redundant ...
 - We already get-pip in the rultor.yml
 - We don't need zanata anymore
 - Locales - not really needed i think ?

What we do need:
 - apt-get update
 - apt-get install
 - pip3 install

And this issue wants to move deps into rultor.yml ... so, essentially the rultor-python container will be useless now.

[2016-03-22 06:42] AbdealiJK commented on #1900
@sils1297 can you give more info here ?
I tried:
[code]
but the problem is that if we don't have a dev version (I.e. if we release a new version) then it will still be called a dev version. Shall we just do `if "dev" in Constants.VERSION` and do this only in that case ?

[2016-03-22 06:49] AbdealiJK commented on #1622
Marking as blocked by upstream as circleci needs to get better docker support before we try this

[2016-03-22 06:50] AbdealiJK commented on #1419
Wasnt this nearly done ?
@arush0311 still working on this ? Need any help ?

[2016-03-22 06:56] AbdealiJK commented on #1914
Added complexity because the ordering will change if we do the solution I proposed above :(
Not as easy as it looked earlier.

[2016-03-22 06:58] AbdealiJK commented on #1892
@SanketDG please confirm if you agree/disagree with @Makman2 and comment/close as appropriate ?

[2016-03-22 07:00] AbdealiJK commented on #1917
So ... um ... what's the conclusion ? What needs design now ?

[2016-03-22 07:02] AbdealiJK commented on #1822
I think we should close this as `wontfix/accepting patches` it's quite complicated and not worth the effort honestly.
What are your opinions ?

[2016-03-22 07:03] AbdealiJK commented on #1817
Closing as `wontfix/accepting patches` :)
Not important, as ini files work fine for now.

[2016-03-22 07:03] #1817 closed

[2016-03-22 07:04] AbdealiJK commented on #1928
@Makman2 seems like a lot of issues depend on this as it revamps the whole Lint stuff

[2016-03-22 07:07] AbdealiJK commented on #1656
Why does this need design ?
We simply save a "ignored_origins" `set` and don't show those origins while showing results.
And add an action to add to it

[2016-03-22 07:08] AbdealiJK commented on #1683
Closing this.
https://github.com/coala-analyzer/coala/issues/1852 seems to have concluded on the method to do this

[2016-03-22 07:08] #1683 closed

[2016-03-22 07:10] AbdealiJK commented on #1386
Seems like pytest already has a nice arg for this.
`py.test --doctest-modules --doctest-ignore-import-error`
skips the module's doctest is it gets an import error

[2016-03-22 07:14] AbdealiJK commented on #1436
This should be fixed by the better requirements managing right ?
The reason the VersionConflict happens is because setuptools checks the dependencies in `setup.py test`

[2016-03-22 09:36] sils1297 commented on #1386
awesome :)

[2016-03-22 09:38] #1386 closed

[2016-03-22 09:38] #1844 closed

[2016-03-22 09:38] #1900 closed

[2016-03-22 09:38] #1931 closed

[2016-03-22 09:38] #1938 closed

[2016-03-22 09:38] #1939 closed

[2016-03-22 09:51] sils1297 commented on #1940
this was done and merged, issue reference missing I guess

[2016-03-22 09:51] #1940 closed

[2016-03-22 09:53] sils1297 commented on #1771
this one's important though might class with the PRs from @cw1

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-22 5:44 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-22 09:56] sils1297 commented on #1923
so one colour for the letters to let them stand out and leave the rest as is?

[2016-03-22 10:00] sils1297 commented on #1904
well the rultor-python container still can help us having lower rultor
execution times

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-22 7:28 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-22 10:01] AbdealiJK commented on #1904
We could use yegor's container for that

On Tue, Mar 22, 2016 at 3:30 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-22 10:01] sils1297 commented on #1822
/me agrees

[2016-03-22 10:01] #1822 closed

[2016-03-22 10:03] sils1297 commented on #1656
You may even want to add the ignore comments to the code automatically, the problem is we want to offer several different ignore options, some should be persisstent, I don't think that's straightforwaard.

[2016-03-22 10:06] sils1297 commented on #1436
so is this fixed? Requirements management is better now after all

[2016-03-22 10:08] AbdealiJK commented on #1436
If the virtualenv has let's sat setuptools v18.0 and we need >=19.0 I think the error will still be there.
But overall it should occur less frequently and only if we *cannot* use that version.

[2016-03-22 10:09] sils1297 commented on #1436
and we have a way better error message now, can we close?

[2016-03-22 10:11] AbdealiJK commented on #1436
Closing this.
If others have a different opinion, please reopen

[2016-03-22 10:11] #1436 closed

[2016-03-22 10:38] Uran198 commented on #1923
What I meant is to make one line in colour `a`, next one in `b`, then `a` again and so on. In this way it'll catch an eye, but will not be screaming.

[2016-03-22 10:51] jarifibrahim commented on #1923
![asd](http://i.imgur.com/rQxpfyj.png)

@sils1297 Look at this. We'll just use numbers instead of characters.

[2016-03-22 10:55] sils1297 commented on #1923
I'm not so convinced of the dual colour thing, how does it look if you
colour the `(e)` and so on all in that blue and leave the rest as is? Other
opinions?

[2016-03-22 11:07] jarifibrahim commented on #1923
![](http://i.imgur.com/Sldaz3sg.png)

The entire line in same color looks better to me.

[2016-03-22 11:10] Uran198 commented on #1923
Maybe, we can fit them all in one line and add colour to this one line.

[2016-03-22 11:24] Uran198 commented on #1927
I think sometimes it may be even beneficial to import thing one level up, as `from coalib.bears import LocalBear` looks nicer than `from coalib.bears.LocalBear import LocalBear`, which is redundant.
Or, just as the possibility, we can unite them sometimes in one module, though I'm not so sure that this is a good idea. Files will get bigger and harder to navigate, but the overall layout of things m

[2016-03-22 11:37] sils1297 commented on #1927
I think what would be good would be to import the classes in the `__init__`
of the module. (for that it'd be vital to have filenames that are *not* the
same as class names), we already do that in StringProcessing fwiw

[2016-03-22 14:14] Makman2 commented on #1917
The conclusion is we want to implement parsing facilities into the doc-extraction stuff.

[2016-03-22 14:16] Makman2 commented on #1928
Im continuing on thia tomorrow, thebn i've written my last exam :D

[2016-03-22 14:18] manojpandey commented on #1887
I want to work on this issue :)

[2016-03-22 14:19] Makman2 commented on #1923
I like only coloring the number, no color "overflow" and layout is better to read imo

[2016-03-22 14:20] Makman2 commented on #1923
Though using letters then is really a bit confusing :D
But isnt it possible to understrike text in a terminal?

[2016-03-22 14:22] AbdealiJK commented on #1887
@manojpandey please do mention what you're going to set the name to here so that @SanketDG can confirm it's alright.

[2016-03-22 15:54] SanketDG commented on #1892
@AbdealiJK closing this because of the broad concept of #1898

[2016-03-22 15:54] #1892 closed

[2016-03-22 15:59] SanketDG commented on #1916
@abhsag24 I agree with you on this.

But how should beginners write tests then?

The part of the message queue and the section, should be mentioned somewhere then.

[2016-03-22 19:07] sils1297 opened #1944 "test issue"
hello world

[2016-03-22 19:15] sils1297 opened #1945 "test issue"
another one

[2016-03-22 19:15] #1944 closed

[2016-03-22 19:15] #1945 closed

[2016-03-22 20:42] manojpandey commented on #1887
@AbdealiJK @SanketDG :
How about `_check_executable_command()` or `_check_exec_command` or `_check_exec_run` ?

[2016-03-22 20:44] manojpandey commented on #1783
Sure, I want to get assigned ! :)

[2016-03-22 20:45] manojpandey commented on #1757
Hook me to this task, will do this :)

[2016-03-22 20:46] Adrianzatreanu commented on #1757
all yours.

[2016-03-23 01:11] Makman2 commented on #1783
Oh sorry, I haven't seen that you've already taken up 2 newcomer issues. We usually keep them open for other newcomers as well so they get familiar with our merge-process like you currently :)

[2016-03-23 05:48] SanketDG commented on #1887
@manojpandey `_check_executable_command()` sounds good to me.

How about `_check_executable_and_command()`? Both are okay to me, feel free to go with your own choice.

[2016-03-23 07:23] Uran198 opened #1946 "Tutorial: Add instructions on how to test bears"
There are instructions on how to write bears. TDD is common practice and we can simplify life of users by providing instructions on how to do it right.

[2016-03-23 07:29] abhsag24 commented on #1946
closing issue in favor of  #1916

[2016-03-23 07:31] #1946 closed

[2016-03-23 07:57] Uran198 commented on #1916
I think that both things should be in the tutorial. When you're starting to write a bear for yourself, it's good right away to have some ideas about how to go about testing it.

[2016-03-23 14:05] manojpandey commented on #1757
@Adrianzatreanu: Where should it go?
Does it look fine after [this example](http://coala.readthedocs.org/en/latest/Getting_Involved/Writing_Good_Commits.html#example) along with the example provided ?

[2016-03-23 14:08] Adrianzatreanu commented on #1757
I think its okay :)

[2016-03-23 14:15] #1887 closed

[2016-03-23 15:38] Uran198 commented on #1927
Is there a related issue for a bear that would be able to do this?

[2016-03-23 15:41] abhsag24 commented on #1927
@Uran198  @hypothesist  has https://github.com/coala-analyzer/coala-bears/pull/171 in the works you could check that out

[2016-03-23 16:30] jarifibrahim commented on #1923
![](http://imgur.com/qtb9VVP.png)

Numbers, with the whole line colored looks better IMO.

@Makman2 It's possible ([see this](http://stackoverflow.com/a/17303428/3590449)).

[2016-03-23 16:33] sils1297 commented on #1923
well readability suffers from the colours right?

2016-03-23 17:30 GMT+01:00 Ibrahim Jarif <notifications@github.com>:

[2016-03-23 16:43] jarifibrahim commented on #1923
@sils1297 Yes. Readability suffers from colors.

[2016-03-23 16:43] srisankethu commented on #1416
@souravsingh are u still on this ?

[2016-03-23 16:44] srisankethu commented on #1388
Is this solved ?

[2016-03-23 16:45] souravsingh commented on #1416
@srisankethu I am working on this. Will make a PR soonish

[2016-03-23 16:47] sils1297 commented on #1388
No, we still need to figure out a way to do that.

[2016-03-23 18:36] Makman2 commented on #1388
Can't find something on google, maybe we need to write our own py.test plugin?

[2016-03-24 03:46] #1757 closed

[2016-03-24 07:28] justuswilhelm commented on #1783
I want to get assigned :)

[2016-03-24 12:22] Uran198 opened #1950 "Annotations: handling exceptions"
When writing custom annotation, user should be able to access exceptions, that it's raising, to debug his function. Currently all that he gets is the information that something went wrong, e. g.
[code]
This can be pretty easy fixed, by specifying exception [here](https://github.com/coala-analyzer/coala/blob/master/coalib/settings/FunctionMetadata.py#L105) and specifying in the docs what exception

[2016-03-24 12:43] sils1297 commented on #1950
Ah, this is kind of intended since this interacts with the user, if the bear wants a bool and the user doesn't give something booleable we want a neat message saying he should please use something bool-ish, right? We don't want to show him a traceback ideally.

[2016-03-24 12:48] Uran198 commented on #1950
There'll be an agreement on which exceptions are to be considered due to wrong type that was specified and which due to something wrong and unexpected happening inside custom annotation. So, it'll show message as it did when it's because the type is incorrect.

[2016-03-24 13:18] Uran198 commented on #1859
I want to get assigned :)

[2016-03-24 21:39] sils1297 opened #1951 "Using ResultFilter throws AssertionError"
CC @fneu , this one's weird

[code]

[2016-03-24 21:42] sils1297 commented on #1951
happens with GitMate on https://github.com/sils1297/antbs/commit/148c75591db690d83e3cb2ecb466564ad48bc456

[2016-03-24 22:01] sils1297 commented on #1951
see https://github.com/Antergos/antbs/pull/5 and the test replica https://github.com/sils1297/antbs/pull/3

[2016-03-24 22:23] #1951 closed

[2016-03-24 22:34] sils1297 commented on #1950
Alright so only catch TypeError essentially, let other things go through or show a traceback for them right there.

[2016-03-24 22:38] sils1297 commented on #1922
@Makman2 we can have API docs for each repo individually but that's for devs only

[2016-03-24 22:40] sils1297 commented on #1922
I created a repo at https://github.com/coala-analyzer/documentation/settings/branches/master. We'd need to set up docs there and then switch readthedocs.org smartly so that the URL doesn't change ideally.

[2016-03-24 22:47] sils1297 commented on #1862
blocked by https://github.com/coala-analyzer/coala/issues/975

[2016-03-24 22:50] sils1297 commented on #1918
well we can show the patch, it'd not be an action but part of the visualization so it's not that confusing and has nothing to do with actions if you look from that side

[2016-03-24 22:58] Makman2 commented on #1918
phew... we really need to refactor the backend stuff :D
showing the patch everytime is maybe not bad, but that depends on the size of the patch^^

[2016-03-24 23:02] sils1297 commented on #1918
FWIW if we give the user something noninteractive by default he'll get tons of output and he won't be guided through it so I think that's worse than the interactive output...

[2016-03-25 00:44] Makman2 commented on #1918
yeah we need to assume the worst-case scenario: a user wants to try out coala, and his codebase has tons of errors.
Interactive output is really better then^^
So we should rather have a flag `--non-interactive` to get coala-ci behaviour into coala^^

[2016-03-25 00:56] Makman2 commented on #1839
It's not failing on master (more or less), not sure if it was the issue we talked about, but I see the dbus service remains open after test, the script inside the tests (executed via `python -c ...`) that spawns it up doesn't get closed again, leading to a timeout fail when rerunning tests again.

[2016-03-25 02:57] AbdealiJK commented on #1928
I've added comments on https://github.com/coala-analyzer/coala/commit/2173f8160526f1711605e45d84204505cc80b043 (Just mentioning it here so it does not get lost)

[2016-03-25 05:14] Uran198 commented on #1918
Or something like `--verbose` and by default display little stuff, or `--silent` to display only affected files and number of errors.
The thing is that interactive mode for big projects may be as overwhelming if not more. He'll have to click through all the decisions.
Well, I think this is more about how to guide user when he makes his first steps in the tutorial.

[2016-03-25 05:23] AbdealiJK commented on #1918
They could use `coala-ci` or `coala-format`. So the solution here is just
to document them.

The first time a user runs coala they'd have lots of issues. After that
every other time they'd have only issues they want fixed (as others will be
ignored and the coafile will be configured).

So, let's take coala repo for example. First time we run a bear like
PyLintBear we have 500+ Results. But after w

[2016-03-25 09:51] sils1297 commented on #1839
ah that one should be fixed asap

[2016-03-25 10:11] hypothesist commented on #1839
In case someone wants a temporary workaround: run `py.test` with `-k "not Dbus" ` if you don't want to wait for the 35 second timeout.

[2016-03-25 10:12] #1831 closed

[2016-03-25 10:12] #1932 closed

[2016-03-25 10:20] sils1297 commented on #1693
@AbdealiJK so if the regex matches the line, all results or just a subset should be ignored

[2016-03-25 10:22] hypothesist commented on #1693
Oh I totally forgot about this: I had originally misinterpreted the issue description (and this led to a new feature :P). I'll unassign myself in case someone else wants to work on this.

[2016-03-25 10:33] AbdealiJK commented on #1839
@hypothesist this happens to you too ? I thought this was fedora only.
I cannot seem to reproduce it on Ubuntu. I know it doesnt happen on circleci (Hence, it seems to be working in Ubuntu 12.04 and 14.04)
Which OS do you use ?

The only think I can think of is doing `session_bus.close()` *somehow* in the subprocess ...
We could do that by catching the signal and doing it: http://stackoverflow.com

[2016-03-25 10:36] arush0311 opened #1956 "Typo in ApplyPatchAction"
Typo in ```whether``` in annotation of apply method

[2016-03-25 10:37] hypothesist commented on #1839
@AbdealiJK yeah, I use Fedora 23 too. I assumed it was just happening only to me since I broke some stuff trying to modify the system a week ago.

[2016-03-25 10:38] AbdealiJK opened #1957 "Not having appdirs crashes coala setup"
We use appdirs in our code and it is in install_requires and requirements.txt

We should also be adding appdirs to `setup_requires` also, as our setup.py uses Constants which imports appdirs.
Not sure why it hasn't given an error till now.

[2016-03-25 12:04] hypothesist commented on #1933
Does this look good?

[code]

[2016-03-25 13:59] #1950 closed

[2016-03-25 14:42] #1783 closed

[2016-03-26 04:07] Udayan12167 opened #1961 "Bug with the show-all-bears argument."
<img width="1920" alt="screen shot 2016-03-26 at 9 36 03 am" src="https://cloud.githubusercontent.com/assets/6421568/14057974/6545ebe4-f336-11e5-8309-64dcc559932c.png">

[2016-03-26 04:08] Udayan12167 commented on #1961
Looking into it

[2016-03-26 05:13] SanketDG commented on #1544
yes using a function for this seems overkill. We should just use inline statements.

[2016-03-26 05:41] Udayan12167 commented on #1961
Closing it... Got fixed. Some dependency issues between coala and coala-bears.

[2016-03-26 05:41] #1961 closed

[2016-03-26 06:52] arush0311 opened #1963 "Documentation error SourceRange"
In SourceRange constructor
[code]
```start``` and ```end``` annotations are reversed.

[2016-03-26 06:57] abhsag24 commented on #1963
It shouldn't be reversed but a change of language is required since its very confusing

[2016-03-26 14:01] sils1297 commented on #1544
I'm totally against this! The or/and syntax is native and works well we don't want to import a function for something as simple as that.

[2016-03-26 14:45] Adrianzatreanu commented on #1747
unassigning due to inactivity.

[2016-03-26 14:46] Adrianzatreanu commented on #1821
unassigning due to inactivity.

[2016-03-26 14:46] Adrianzatreanu commented on #1821
oh, you weren't even assigned, nevermind.

[2016-03-26 15:45] Makman2 commented on #1544
@sils1297 in fact the `or` syntax we use is wrong in most places, since we want to check for `None`. Using `x or default` is not the same as `default if x is None else x`.

[2016-03-26 15:48] sils1297 commented on #1544
Then we should use the latter expression

[2016-03-26 15:50] Makman2 commented on #1963
imo it's quite understandable:
TypeError is raised when start is not of type SourcePosition or is None.
or if end is not of type SourcePosition.
We could enclose the class-name and None in double-backticks though so it's more obvious we mean types here.

[2016-03-26 15:52] Makman2 commented on #1544
okay so we want to inline `default if x is None else x` everywhere :+1:

[2016-03-26 20:06] Makman2 opened #1967 "New docstring format"
Our current one sucks if you have more than brief single-line documentation (especiall see inside coala-bears JSHintBear).
I would go for this layout:

[code]
Opinions?

[2016-03-26 20:08] sils1297 commented on #1967
@Makman2 cool, document it, ship it!

[2016-03-26 20:17] Uran198 commented on #1967
Why would you need both brief and detailed descriptions?

[2016-03-26 20:30] Makman2 commented on #1967
@Uran198 I just used both so you see both are aligned like before^^

[2016-03-26 20:39] Uran198 commented on #1967
@Makman2 Then it's fine.
I think we should also note if we should use `'''` or `"""` for docstrings.
Also, is it a good idea to have such a large docstrings? Mostly, names are self descriptive and this huge kind of stuff can be added to documentations or references. Then, for some bears we can use `**kwargs` and just pass parameters as they are. Possibly, documenting each of them.

[2016-03-26 20:41] sils1297 commented on #1967
(FWIW I think we should have a brief *and* detailed description btw. for bears so we can show the brief description in some contexts and the detailed one in others when the user requests more info about the bear.)

[2016-03-26 20:43] sils1297 commented on #1967
I personally really like that you can write all the documentation for the
bear in the code and you don't have to think about where to write docs. And
coala (i.e. we) takes care of organizing it properly for the user. This is
going offtopic and we should make an own issue btw.

[2016-03-26 20:49] Uran198 opened #1968 "Should all the documentation be in docstrings?"
Branched from https://github.com/coala-analyzer/coala/issues/1967

Is it a good idea to have such a large docstrings? Mostly, names are self descriptive and this huge kind of stuff can be added to documentations or references. Then, for some bears we can use `**kwargs` and just pass parameters as they are. Possibly, documenting each of them.

@sils1297 comment:

[2016-03-26 20:56] Adrianzatreanu opened #1969 "Add more strings to Constants"
Our Constants are located in coala/coalib/misc/Constants.py and there we hold options for ``TRUE_STRINGS``. I think we should expand these true strings with more options, such as : ``yep``,``ja`` or even ``hell yeah`` (who knows what the user might come up with). Feel free to add your own suggestions if you think they fit.

[2016-03-26 20:58] rubdos commented on #1969
`ya`, `da`

No side:

`njet`, `nee`, `nein`

As long as one doesn't mean the other in another language, you're fine :p

[2016-03-26 20:58] Adrianzatreanu commented on #1969
``njet`` ?

[2016-03-26 21:06] rubdos commented on #1969
`нет`, if you wish and if your .coafile supports unicode ^^.

[2016-03-26 22:15] Makman2 commented on #1967
Definitely `"""`, as this is PEP conform, `'''` is no docstring specifier according to the PEP^^

[2016-03-26 22:18] Makman2 commented on #1967
I think API-documentation belongs to the code, then you have directly the code beneath. Even if some names are self-descriptive, often types/parameter inputs must be specified, and Error behavior needs also specification. I want them too like we have now^^

[2016-03-26 22:19] Makman2 commented on #1968
I'm in for this, see my comment in #1967.

[2016-03-27 02:20] arush0311 commented on #1963
But if start is of NoneType it is automatically not of SourcePosition Type

And it will not raise an error if end is not of type SourcePosition but is None

[2016-03-27 02:41] Makman2 commented on #1963
Okay i should've removed the "is".
But now I understand the problem, where "or" is referring to, the types or the actual value.
So the docs mean:
start must be a SourcePosition or None (otherwise type error)
end must be  a SourcePosition instance, None is not allowed.
The docs could really be more clear in this case.

[2016-03-27 02:43] arush0311 commented on #1963
But start cannot be none

And None is allowed in end

[2016-03-27 02:54] Makman2 commented on #1963
Ahhh that do you mean with "reversed"... indeed they should be changed like @abhsag24 ^^

[2016-03-27 06:57] Uran198 commented on #1968
My concern is that it is not very convenient to have functions with more than 20 parameters and if you're even familiar with the program that bear uses to do it calculations you will still have to go either the code or huge signature to figure out if everything is the same and what not. They may even have these tools configured, but they will not be able to switch easily.
I also I like error behav

[2016-03-27 10:15] gopalmeena commented on #1930
Can i send PR for this issue?

[2016-03-27 11:23] tushar-rishav commented on #1930
@gopalmeena  Sure. Go ahead.

[2016-03-27 15:21] Makman2 commented on #1968
But if you are not familiar with the code, it's way easier to read a docstring instead of code (especially if you are new to python).
Function with more than 10 parameters are quite rare in our codebase, they would only likely appear in bear signatures, and that's way easier to have in docstrings than in external files.

[2016-03-28 07:57] srisankethu commented on #1833
@AbdealiJK What did you mean by failed in too many places ?

[2016-03-28 09:55] AbdealiJK commented on #1833
Updated the description

[2016-03-28 09:59] srisankethu commented on #1833
will look into it :+1:

[2016-03-28 11:17] #1859 closed

[2016-03-28 12:46] Adrianzatreanu commented on #1802
Hey, @souravsingh, you still working on this?

[2016-03-28 12:51] Adrianzatreanu commented on #1694
@souravsingh need help :) ?

[2016-03-28 12:56] Adrianzatreanu commented on #1557
@aayn  still working on this? :)

[2016-03-28 12:57] Adrianzatreanu commented on #1416
You still working on that PR? @souravsingh

[2016-03-28 12:58] Adrianzatreanu commented on #370
Hey @abit2 you still working on this?

[2016-03-28 13:19] rresol commented on #1709
@vidhan13j07  are you still working on the issue ?

[2016-03-28 13:31] Adrianzatreanu commented on #1709
Assigning @rresol if @vidhan13j07 doesnt respond within a day.

[2016-03-28 14:21] Adrianzatreanu commented on #1771
Unassigning as per gitter discussion

[2016-03-28 19:28] Adrianzatreanu commented on #1694
Unassigning due to inactivity. Feel free to message me if you want me to re-assign you at any time, @souravsingh :)

[2016-03-28 19:33] Adrianzatreanu commented on #370
Unassigning due to inactivity. @abit2 you can always find us on https://gitter.im/coala-analyzer/coala if you need any kind of help!

[2016-03-28 19:41] #1866 closed

[2016-03-28 20:03] souravsingh commented on #1694
@Adrianzatreanu I would like to work on the issue.

[2016-03-29 16:52] Adrianzatreanu opened #1975 "Add newcomers guide to README"
I think we should work on the ``Getting involved`` section a little as it seems quite plain to me. This could be polished to be newcomer-friendly and maybe include a link to our ``Newcomers`` guide from docs here too?

Idea for title: ``Newcomers Guide and Getting Involved``

idea for text: `coala is newcomer friendly and we have built an entire website just to get any contribution done really eas

[2016-03-29 18:31] Adrianzatreanu commented on #1975
I'm making this a newcomer issue as it's only editing the `README.rst` file with some text that i've already given.

[2016-03-30 05:56] aayn commented on #1557
@Adrianzatreanu I really want to, I do. But right now, I have truckloads of work :(.
I've completed the first and the third bullet. For the second one, are we using config files for linters yet?

[2016-03-30 05:57] AbdealiJK commented on #1557
@aayn we do use it in JSHintBear now :)

[2016-03-30 06:05] aayn commented on #1557
If we are in a hurry for the config file tutorial, then it would be better if someone else was assigned. If not, I can do it as soon as my assignments/projects are completed.

[2016-03-30 09:26] AbdealiJK opened #1976 "Catch VersionConflict in collect_registered_bears_dirs"
As this is not being caught, http://pastebin.com/6H68P83H happens.

[2016-03-30 09:32] sils1297 opened #1977 "Lots of errors uncaught"
The try except is in `run_main` but e.g. in `coala.py` we have additional stuff and if that throws exceptions those are totally unhandled. type/bug

[2016-03-30 09:56] AbdealiJK commented on #1852
Reopening based on a discussion with @ sebix on gitter.

For now, we *should* decrease the version of all our `~=` requirements based on the observation:

And as he mentioned on gitter

it may make sense to have 2 different lists for setup.py and requirements.txt as I had mentioned a while back (https://github.com/coala-analyzer/coala/issues/1852#issuecomment-197170604)

[2016-03-30 10:03] sebix commented on #1852
The comment above summarizes the situation very well: https://github.com/coala-analyzer/coala/issues/1852#issuecomment-197170604

 - put all hard dependencies in setup.py in install_requires using >(=) and <(=) only
   - the software will run with these requirements without errors
   - extensions (bears here) do not necessarily run with these installed (or require the most important ones)
 - put r

[2016-03-30 11:21] sebix commented on #1957
Running `setup.py` itself requires `appdirs` already installed. Adding it to required dependencies inside `setup.py` does not fix that at all.

Here full a traceback:
[code]

[2016-03-30 11:22] sils1297 commented on #1957
I think we should  move out the TAGS_DIR constant into a function or something so we don't require the `appdirs` module on import, setup.py shouldn't at all depend on that.

[2016-03-30 11:22] AbdealiJK commented on #1957
I thought `setup_requires` was made for packages required to run setup.py that ?
(Thats what the docs say)

[2016-03-30 11:23] sils1297 commented on #1957
But we shouldn't require it at all because setup.py doesn't need it.

[2016-03-30 11:25] sebix commented on #1957
(Thats what the docs say)

When interpreting `setup.py` (which has `setup_requires`), the import *has to be* done.

[2016-03-30 11:26] sils1297 commented on #1957
PR available at https://github.com/coala-analyzer/coala/pull/1978

[2016-03-30 11:27] sils1297 commented on #1957
we should backport this and other dep fixes

[2016-03-30 11:29] sils1297 commented on #1976
oh I filed a duplicate of this one which is https://github.com/coala-analyzer/coala/issues/1977 but my duplicate has some reasoning why this happens so we should take that one IMO

[2016-03-30 11:29] #1976 closed

[2016-03-30 11:29] sils1297 commented on #1977
See http://pastebin.com/6H68P83H for symptoms

[2016-03-30 11:43] AbdealiJK commented on #1976
Is this actually a duplicate ? We want a broad except in `run_main()`

We also should be catching VersionConflict exceptions (and maybe even others) here as we're loading bear modules ?

[2016-03-30 11:49] sils1297 commented on #1976
We need an except in all main methods, having it in run_main is insufficient

[2016-03-30 12:11] sebix commented on #1957
Next stacktrace with commit 98099eee65cd4ec9c41af2240651a51e69ef77a0:
[code]

[2016-03-30 12:19] sebix commented on #1957
Next one:
[code]

[2016-03-30 12:21] sils1297 commented on #1957
You sure you have the right commit? I tested it. Can you do a `git checkout 9e2bc9` and `git clean -dfx`?

[2016-03-30 12:59] Adrianzatreanu commented on #1557
i was just checking if you're still around, it's been a while :) good luck on it!

[2016-03-30 13:48] #1957 closed

[2016-03-30 19:30] sils1297 opened #1980 "docs: Use tinyurl for newcomer issues in Newcomers docs"
difficulty/newcomer
area/documentation

[2016-03-30 19:30] Adrianzatreanu opened #1981 "Add shorter links into docs"
@sils1297 made some amazingly short URLs to use in the docs, aka http://tinyurl.com/coala-low which shows all low difficulty bugs &   http://tinyurl.com/coala-new which shows all newcomer bugs.

[2016-03-30 19:31] sils1297 commented on #1981
duplicate of two issues I'm filing right now

[2016-03-30 19:31] #1981 closed

[2016-03-30 19:32] sils1297 opened #1982 "docs: Use tinyurl for low difficulty in Newcomers docs"
as follow up to the tutorial

difficulty/newcomer
area/documentation

[2016-03-30 19:32] sils1297 commented on #1981
https://github.com/coala-analyzer/coala/issues/1982 and https://github.com/coala-analyzer/coala/issues/1980

[2016-03-30 21:47] Adrianzatreanu commented on #1117
is this still valid @sils1297 ? since bears are no longer here.

[2016-03-30 21:50] sils1297 commented on #1117
Tests need to be written here, not newcomer, but this is a coala issue, the bears just spit out results coala should have tests for the JSON output coverig this.

[2016-03-31 05:27] hypothesist commented on #251
Close this in favor of https://github.com/coala-analyzer/coala/issues/1348 ?

[2016-03-31 07:15] abhsag24 commented on #1811
@Charizard42 still on it?

[2016-03-31 07:35] #251 closed

[2016-03-31 07:37] charizard42 commented on #1811
@abhsag24 you can have it. i am working on gitmate

[2016-03-31 08:37] abhsag24 commented on #1811
so basically all that is needed to be done is to remove `language_family` from `LanguageDefinition` and break up all existing `coalang` files into files with different languages? @Makman2  please confirm.

If this is the case I believe this would increase redundancy since we'd loose the `Default` section and inheritable settings, which are common for all languages in the `language_family`,  would

[2016-03-31 09:56] sotw1957 commented on #1956
i want this!

[2016-03-31 09:57] sapo1438 commented on #1761
I'll do it

[2016-03-31 09:58] MattAllmendinger commented on #1975
would like to do this

[2016-03-31 09:58] dagdaggo commented on #1980
I'll take care of this.

[2016-03-31 10:00] abhsag24 commented on #1980
@dagdaggo assigned :)

[2016-03-31 10:01] svsn2117 commented on #1747
HI i will try working on that...

[2016-03-31 10:02] BigDproject commented on #1821
i will try to work on this

[2016-03-31 10:15] AbdealiJK commented on #1982
The newcomer docs at http://coala.readthedocs.org/en/latest/Getting_Involved/Newcomers.html should use the tinyurl link tinyurl.com/coala-low as it is smaller and easier to remember to find the "difficulty/newcomer" issues :)

[2016-03-31 10:17] AbdealiJK commented on #1980
What needs to be done:
The newcomer docs at http://coala.readthedocs.org/en/latest/Getting_Involved/Newcomers.html should use the tinyurl link http://tinyurl.com/coala-newcomer as it is smaller and easier to remember to find the "difficulty/newcomer" issues :)

[2016-03-31 10:21] Makman2 commented on #1811
See also https://github.com/coala-analyzer/coala/issues/1898 .
So if possible it would be nice to break up languages into different files each, but the concept design is not that easy^^ I'm not sure how we want to implement that specifically^^
We maybe need to use JSON if this adheres some advantage^^

[2016-03-31 13:15] BigDproject commented on #1893
this issue seems to be fixed.
So you can close it.

[2016-03-31 13:28] SanketDG commented on #1893
@BigDproject No, this is being worked on by @djkonro at https://github.com/coala-analyzer/coala/pull/1936

[2016-03-31 13:47] djkonro commented on #1893
@BigDproject, I am presently working on BearRunningTest which needs to be updated.

[2016-03-31 14:16] sils1297 commented on #1893
@BigDproject ah, this commit is on *his* master but not on ours and thus still open. Thanks for the consideration anyway!

[2016-03-31 19:19] #1747 closed

[2016-03-31 19:19] #1761 closed

[2016-03-31 19:19] #1821 closed

[2016-03-31 19:19] #1956 closed

[2016-03-31 19:19] #1975 closed

[2016-03-31 19:19] #1980 closed

[2016-04-01 06:07] abhsag24 opened #1991 "Add option to run coala only on `changed files`"
so coala right now runs project wide, i think it'd be a neat idea for projects already using coala to run the analysis only on files that have changed , since that would save a lot of redundancy.

[2016-04-02 04:02] Uran198 commented on #975
What is the status on this one? It's very wrong that bears inherit from printers.

[2016-04-02 05:07] srisankethu commented on #1833
@AbdealiJK I have written a setup.py for tests/test-bears. Can you tell me how can i replicate this locally? ``Install this python package just before the tests
Uninstall it nicely if tests fail or tests complete``

[2016-04-02 05:15] AbdealiJK commented on #1833
You could install the package in setUp and uninstall it in tearDown using `pip` ?

[2016-04-02 05:27] srisankethu commented on #1833
Where is the testing part being done in coala during setup?

[2016-04-02 05:30] AbdealiJK commented on #1833
I think you misunderstood. I meant the setUp function of the Unittest that
needs one of those bears.
The bears are being used in coalaTest, coalaCITest, etc

On Sat, Apr 2, 2016 at 10:57 AM, Sri Sanketh Uppalapati <
notifications@github.com> wrote:

[2016-04-02 05:49] srisankethu commented on #1833
:+1: Ok, I get ! but I meant where are the tests like coalaTest, coalaCITest being invoked ?

[2016-04-02 06:01] AbdealiJK commented on #1833
It's a test right ? So, It gets called when you run py.test ...

On Sat, Apr 2, 2016 at 11:19 AM, Sri Sanketh Uppalapati <
notifications@github.com> wrote:

[2016-04-02 06:06] Uran198 commented on #1918
And what about by default to show the patch and propose to apply it right away? This may make simplify things.
Also, if no automatic patch can be applied, just ask "Do you wish to open affected file?(Y/n)". There will be less reading.

[2016-04-02 06:57] fneu commented on #975
@Uran198 bears are getting reworked so let's see how that turns out. Generally I still think this is a good idea although I have no personal experience with the logging module.

[2016-04-02 07:20] Uran198 commented on #975
I think it would be even good just to use existing logger, but don't inherit bears from it. Should this issue have label blocked, or something?

[2016-04-02 07:25] sils1297 commented on #975
Hm, I don't really think this is blocked, it needs a concept first and @Makman2 s work on the next bear gen. will take a while.

[2016-04-02 13:27] Makman2 commented on #1918
We propose these options already :D

[2016-04-02 13:30] AbdealiJK commented on #1918
Doesn't "by default to show the patch" make it even more reading on the first run ?
Also, the patch may not be the right one. In that case open in editor makes sense (even if the patch *can* be applied successfully)
It seems we're going off topic ?

[2016-04-02 13:58] Uran198 commented on #1918
I'm only against coala messages. Patches would be shown at one point one way or another. I think users would first want to look at the patch and apply it if it's OK, and as a fallback to edit file in editor. So, what about showing a patch and asking apply, move one(not apply) and open in editor question?

[2016-04-02 14:02] Makman2 commented on #1918
So if you want to show the patch, we should not exceed about 10 lines. We could implement a `maxlines` option for the diff-print which would show something like
[code]

[2016-04-02 15:13] sils1297 commented on #1918
I like showing a one liner with patch stats always witout asking

[2016-04-02 15:14] priests opened #1993 "Getting_Involved/Newcomers.rst: Change in "What to do after creating Pull Request"."
It is mentioned as
- your Pull Request doesn't, and therefore you will need to to modify it as per the review comments.
- It should be "your Pull Request doesn't get accepted, and therefore you will need to to modify it as per the review comments."

[2016-04-02 15:38] sils1297 commented on #1993
What change is needed? Grammar?

[2016-04-02 15:40] AbdealiJK commented on #1993
The description was edited after the issue was made - @sils1297 check it
again or refresh ?
Some words are missing ...

On Sat, Apr 2, 2016 at 9:08 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-04-02 16:09] priests commented on #1993
@sils1297 : I added the description later.   Yes, some words are missing.

[2016-04-03 00:17] Makman2 commented on #1918
I think that's good too (10 lines was just a suggestion)^^

[2016-04-03 17:50] hypothesist commented on #1991
I think we can do this using the last modified tag on the files (and directories). At least that's how git does it. But then we need to keep track of the last time a coala was run to compute the list of files changed.

We could improve it further by keeping a hash of each file and only running coala on those with a difference, in addition to the last modified tag, but this would slow down coala un

[2016-04-03 17:52] sils1297 commented on #1991
ahm isn't this a dupe of https://github.com/coala-analyzer/coala/issues/18 ?

[2016-04-03 17:54] sils1297 commented on #1977
try `coala -A` to reproduce

[2016-04-03 18:06] hypothesist commented on #1991
Two points:

- What did you mean by cache? I didn't fully understand what you wanted to cache.
- Also live reload might be annoying: imagine writing something and saving it. Suddenly the file gets altered by coala - this might mess with the concentration.

[2016-04-03 19:21] abhsag24 commented on #1991
@hypothesist yes, reinventing git is not what we want, but how about just running coala on `git diff HEAD` or `git diff HEAD^` we can have a starting point something like `coala-commit` then from there we can just run the specified bears on the changed files(changed from previous commit at least), this would be really helpful for projects that make sure all files are coala compliant, and they dont

[2016-04-03 19:42] Makman2 commented on #1991
This would be easier to implement if the next-gen-bear design is there (which is processing tasks inside a thread pool), as we can filter tasks depending on the parallization level of the bear. For that sake we could even introduce `Linewise parallelization` (that would improve performance even more, especially plugins for editors would work way faster). The only thing still to design is the "cach

[2016-04-06 08:21] abhsag24 opened #1994 "GlobbingTest: Tests failing"
i get https://paste.ee/p/azjS1 for GlobTests, on my Fedora23 machine

[2016-04-06 08:25] sils1297 commented on #1994
Seems some of the globbing tests is not immune against `pyc` files that are sometimes generated. Your tests will pass if you just do a `git clean -dfx` but we should fix this test.

[2016-04-07 08:49] abhsag24 opened #1995 "Source/TextPosition: Use position along with line and column"
work is already being done on this on #1947 but there seems to be a lot of discussion on the design.

[2016-04-07 08:53] abhsag24 commented on #1995
current implementation (in the PR):
Make a new class called `AbsolutePosition` which inherits `TextPosition`
add functionality to convert position, to line,col to feed into `TextPosition`.

To be implemented:
Use `AbsolutePosition` while calculating `SourceRange`

[2016-04-07 09:09] srisankethu commented on #1994
adding ".pyc" with "__pycache__" at lines 221 and 334 will do! https://github.com/coala-analyzer/coala/blob/c1a41ebc92c87e75d15862d0153f81f8491ddc12/tests/parsing/GlobbingTest.py#L221

[2016-04-07 13:03] Makman2 commented on #1995
Imo absolute position would be a plain int. Thats why we use classes for the row-column stuff because thats already a tuple and you can do more with it in the right context.
The problem that the row-column and absolute position are dependent on the underlying string^^

[2016-04-07 13:47] sils1297 commented on #1995
I think the current solution is sane, I acked it.

[2016-04-07 15:16] sils1297 commented on #1923
Hm I find numbers easier to type than chars, it'll always be numbers...

[2016-04-07 15:17] jarifibrahim commented on #1923
So should we close the issue and leave the output the way it is currently ?

[2016-04-07 15:20] sils1297 commented on #1923
@Uran198 @Makman2 what's your take on this?

[2016-04-07 16:08] Uran198 commented on #1923
Well, I'd like it to be shorter. Maybe, even without colours. Also, in general I think that character is faster to type, but it's subjective.

[2016-04-07 16:08] Makman2 commented on #1923
don't know... I have no problems with numbers, so changing that means just work imo^^

[2016-04-07 16:12] Makman2 commented on #1995
I would go more into a "mixin" design, there's an `AbsolutePosition` and a `TextPosition` (--> row/column), and if you want both you inherit from both too^^
Because conceptually it doesn't make sense imo, absolute positioning is not a requirement for line/column positioning and vice-versa

[2016-04-07 16:14] Makman2 commented on #1995
maybe we should just store the underlying string...

[2016-04-07 16:24] srisankethu commented on #1916
Is someone doing this ?

[2016-04-07 16:29] hypothesist commented on #1839
I have a piece of information that may be useful to the person taking up this: it seems `DbusTest` does **not** fail the first time I run `py.test` after a reboot. But it fails every time after that.

[2016-04-07 16:35] Makman2 commented on #1839
@hypothesist yeah because the DBus process is not closing. On the first run it starts up properly and everything connects nicely, but after that it starts to block because it's already open^^

[2016-04-07 16:36] Makman2 commented on #1839
you can manually kill the python instance invoked with the code-snippet inside the test (this big chunk of code directly passed to the cmdline), then you can rerun tests even without reboot^^

[2016-04-07 16:37] jarifibrahim commented on #1923
I believe numbers are easier to handle. As the project grows there might be new additions to the current options. If we change to chars, we'll have to figure out a design which can be used for the future options as well. The current numbering system works well and won't require a lot of changes if new options are added in future.

@silk1213 @Uran198 @Makman2 Maybe we'll have to take a vote for thi

[2016-04-07 16:44] Makman2 commented on #1923
it work currently: downvote :-1:

[2016-04-07 16:56] sils1297 commented on #1923
Alright please use github voting on *this coment*. Voting will be up for a day or so.

:+1: : I want chars!
:-1: : Let's not waste more time.
:tada: Let's brainstorm for something better!

[2016-04-07 17:03] srisankethu commented on #1916
Shouldn't this issue be in coala-bears ? as LocalTestHelper is no longer here.

[2016-04-07 17:17] Makman2 commented on #1916
But I think we don't have a documentation infrastructure there currently^^ We are planning to move docs maybe into a separate repo^^

[2016-04-07 17:50] #1994 closed

[2016-04-08 02:53] abhsag24 commented on #1995
@Makman2  I like storing the string idea, but what next? do w still have different classes?

[2016-04-08 10:38] abhsag24 commented on #1995
we should reopen this issue if the current implementation if the current implementation doesn't satisfy

[2016-04-08 17:24] Makman2 commented on #1995
I would say we have no different classes then. `TextPosition` is then able to handle everything, absolute and line/col position^^

[2016-04-08 18:12] abhsag24 commented on #1995
@Makman2 there was an implementation that did this and it turned out to be very messy, @sils1297 is there a way we can get that back, for log purposes?

[2016-04-08 18:41] sils1297 commented on #1923
Ok three votes against, one laughs at us. Let's not waste more time :)

[2016-04-08 18:41] #1923 closed

[2016-04-08 19:42] Makman2 commented on #1995
Wasn't that because of the None-handling? We could introduce two contructors/classmethods and use lazy property evaluation methods.

[2016-04-08 20:31] abhsag24 commented on #1995
but we'll still have the case where there might be ambiguity, `no line, column but position`, or `line and column but no position`, or `line, column, position but no text` to verify, how do we deal with that?

[2016-04-08 21:30] Makman2 commented on #1995
depending on which constructor used we could set the laziness status together with a conversion function or so^^
We could maybe write decorators/classes for that doing these conversions in every direction, in fact I would need such a class/decorators when I come to the next-gen-design. I want to introduce a file proxy, which contains the text as a string, the filename, and the text already line-sp

[2016-04-08 23:01] Makman2 opened #1997 "`coalib.misc.Decorators.assert_right_type`: Add docstring"
The docstring is missing, and I have forgotten to add it after signalling this function as being public.

[2016-04-09 09:47] sils1297 opened #1998 "Unbound exception in coala"
I'm getting

[code]

at times with the latest release (5.2)

[2016-04-10 04:03] abhsag24 commented on #1995
@Makman2 even with conversion functions we'll have ambiguity in cases where enough information is not provided to help in the conversion, we could force the user to provide information, but then that'd break existing usage.

[2016-04-10 11:23] srisankethu opened #1999 "docs: Adding a note on goal of writing tests"
Goal of writing tests:
1. 100% test-coverage
2. zero redundancy

We want to etch these points into the newcomers because redundant tests are bad. Currently ``Removing redundant tests`` is a sub-task of coala's "Documentation Testing" GSoC project. We don't want this further.

[2016-04-10 14:22] Makman2 commented on #1995
then we throw an error like in my example, which imo makes totally sense. The user would need to use the right constructors we provide so there wouldn't occur such "leaks".

[2016-04-10 19:54] #1999 closed

[2016-04-11 11:44] AbdealiJK commented on #795
Hey, I want to do this.
I'm reopening it so that I remember to do it when I get free (assigning myself) :p

[2016-04-12 10:28] srisankethu commented on #429
suppose i have a .coafile like this one
``[sec1]

a = b
c = d

[sec2]

b = 2
``
and the output is like
``[sec1]
a = b
c = d
newkey=newvalue

[sec2]
b = 2
``
is that ok ?

[2016-04-12 11:17] Makman2 commented on #429
@srisankethu no you don't want to interfere with the old file, this would be correct (as far as I understand):
[code]

[2016-04-12 12:29] Makman2 opened #2003 "`# Start ignoring`: Allow to provide without `# Stop ignoring`"
I think there's a usecase where you want to specify inside a file that the rest of it shall be ignored (without extra defining a stop-comment), I needed it for my `Future` module (or at least it would be nicer to have not provided an end-comment).

Don't forget to document that (especially inside the tutorials)!

[2016-04-12 17:41] abhsag24 opened #2004 "TextPosition: Overload comparison operators"
This would be super-useful IMO

[2016-04-12 19:06] Makman2 commented on #2004
What functionality do you miss?

[2016-04-12 19:57] sils1297 commented on #2004
Doesnt it use generate ordering yet?
On 12 Apr 2016 9:06 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-04-12 21:10] Makman2 commented on #2004
yeah it does^^

[2016-04-12 21:12] #2004 closed

[2016-04-12 21:13] sils1297 commented on #2004
@abhsag24 reopen if we got you wrong

[2016-04-12 21:41] srisankethu commented on #429
@Makman2 Can you assign this to me ? I have come up with an idea to clear this! I will fix this as soon as [this](https://github.com/coala-analyzer/coala/issues/1916) finishes. I am having with my laptop right now. I will submit patches as soon as my laptop gets fixed :+1:

[2016-04-12 22:10] srisankethu commented on #1833
I am currently having a problem with laptop and engaged in other coala issues. I will work on this ASAP. I am currently going through some related stuff :+1:

[2016-04-13 02:17] Makman2 opened #2006 "Diff: Highlight missing \n correctly"
This is what someone gets when no \n at EOF is provided (patch from the SpaceConsistencyBear):
![tmp](https://cloud.githubusercontent.com/assets/6023916/14480942/468e1432-012e-11e6-8224-7eb3c02606ac.png)

We need to adjust the diff output so it displays the unified diff correctly (maybe using a special character, or like git does, what's best :D).

[2016-04-13 02:19] Makman2 commented on #1998
Inside a normal coala run on our repo?

[2016-04-13 02:24] Makman2 commented on #1918
So is the task defined and shall we rename this issue?

[2016-04-13 02:25] Makman2 commented on #1915
Superseded by #1928 which is coming soon.

[2016-04-13 02:25] #1915 closed

[2016-04-13 02:26] Makman2 commented on #1909
Isn't that already implemented?

[2016-04-13 02:29] Makman2 commented on #1830
Did we have problems since last time? If not I think we can close it and reopen/recreate an issue on demand^^

[2016-04-13 02:30] Makman2 commented on #1788
Are they still present? Haven't seen this error for a while...

[2016-04-13 02:30] Makman2 commented on #1754
@theaverageguy ping

[2016-04-13 02:31] Makman2 commented on #1709
@rresol ping

[2016-04-13 02:32] Makman2 commented on #1703
Maybe superseded by https://github.com/coala-analyzer/coala/issues/1928 ?

[2016-04-13 02:33] Makman2 commented on #1702
Solved with #1990 and https://github.com/coala-analyzer/coala-bears/pull/313

[2016-04-13 02:34] Makman2 commented on #1694
@souravsingh ping

[2016-04-13 02:37] Makman2 commented on #1557
@aayn ping

[2016-04-13 02:38] Makman2 commented on #1553
Superseded by #1928 and #1990 .

[2016-04-13 02:38] #1553 closed

[2016-04-13 02:40] Makman2 commented on #1419
@arush0311 ping

[2016-04-13 02:42] Makman2 commented on #1236
I think this is solved :)

[2016-04-13 02:42] #1236 closed

[2016-04-13 02:43] Makman2 commented on #1069
@fneu ping :P

[2016-04-13 02:45] Makman2 commented on #1006
Do we still want that? I have no problems with out current design^^

[2016-04-13 06:05] fneu commented on #1069
I am aware.

It's actually an easy change. Basically `collections.NamedTouple` provides everything we want: ordering and immutability.

The Problem is this breaks a hell of a lot of stuff - but that situation isn't improving on it's own.

[2016-04-13 07:05] sils1297 commented on #1998
Yes

[2016-04-13 07:05] sils1297 commented on #1998
Can you reproduce?

[2016-04-13 08:03] abhsag24 commented on #2004
ahh i got an error since i was using the wrong way, so i thought this functionality wasn't there,  sorry

[2016-04-13 08:40] sils1297 commented on #1909
@Makman2 we catch ImportError but not the version conflict

[2016-04-13 08:41] sils1297 commented on #1909
@jarifibrahim still working on this?

[2016-04-13 08:43] sils1297 commented on #1830
most certainly :/ somebody should really look into this and report it upstream

[2016-04-13 08:43] sils1297 commented on #1703
yeah thik so

[2016-04-13 08:43] #1703 closed

[2016-04-13 08:44] sils1297 commented on #1236
you think?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-04-13 4:42 GMT+02:00 Mischa Krüger <notifications@github.com>:

[2016-04-13 08:45] sils1297 commented on #1006
I'd really love to have a short version like this for readonly properties, that'd save a lot of hassle

[2016-04-13 08:46] sils1297 commented on #1918
The task isn't well defined, if somebody would define it well it'd be wise to close this issue and open a clean new one with a well defined task.

[2016-04-13 09:31] #1933 closed

[2016-04-13 10:12] hypothesist commented on #1991
I'm working on how to implement this and I can't think of a way without storing the last time coala was on disk as a file. My current idea is to basically store it in a file after every run. At every run, get the list of files to run coala against and run coala only if the file has been modified after the last run time. But this would mean another file. I can think of two solutions for this:

- ei

[2016-04-13 10:19] sils1297 commented on #1991
I'd rather pickle the data and not use JSON, like the idea of storing it into the config, use appdirs though for this

[2016-04-13 10:27] hypothesist commented on #1991
@sils1297 why pickle the data? What advantage would that give? It would store it in a less readable format (in case the user wants to manually change the last run date or something).

Also agree with using appdirs. I just used `~/.config` as an example ^^

[2016-04-13 10:51] sils1297 commented on #1991
This is caching, the user shouldn't be concerned with that and binary is
faster.

[2016-04-13 11:01] souravsingh commented on #1694
pong

[2016-04-13 12:46] jarifibrahim commented on #1909
@sils1297 @Makman2 I'm waiting for @fneu's reply.

I've been told to handle the `VersionConflict` error where the `ImportError` is handled. But I can't find where the `ImportError` is handled.

[2016-04-13 14:31] Makman2 commented on #1236
We only need it inside `Shell.escape_path_argument` currently, and there it's implemented^^

[2016-04-13 14:37] Makman2 commented on #1006
The coolest would be to use metaclasses, so it would work like this:
[code]
The metaclass would see that `a` is "annotated" as a shortproperty, and it would create the property inside `a` that fetches a value from `self._a`^^ But then we need to use the metaclass everytime on objects that want to use `shortproperty`... maybe there's a way to set a metaclass globally for all classes^^

[2016-04-13 14:39] Makman2 commented on #1918
Okay I thought the consensus was that we want to display a one-liner diff everywhere^^

[2016-04-13 14:46] Makman2 commented on #1998
nope :/
where is the `enchant` module used? :O

[2016-04-13 14:48] Makman2 commented on #1991
where's the problem with using hashes? Just hash every file, store that value, if the hash changed: run the analysis^^

[2016-04-13 14:49] Makman2 commented on #1694
@souravsingh any progress? :)

[2016-04-13 14:50] Makman2 commented on #1909
@sils1297 I remember I've already seen a version conflict with coala, and it says to me "upgrade please" and stuff (no exception traceback)^^

[2016-04-13 14:51] Makman2 commented on #1909
@jarifibrahim `git grep ImportError` :) we don't handle it that much :3

[2016-04-13 14:57] souravsingh commented on #1694
I am working on the PR. Will send it real quick

[2016-04-13 14:57] sils1297 commented on #1918
feel free to define it *clearly* in a new issue :) make a CLI Mockup (i.e.
write down how it should look like)

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-04-13 16:39 GMT+02:00 Mischa Krüger <notifications@github.com>:

[2016-04-13 15:14] Makman2 opened #2007 "Display a little excerpt of a patch-diff (if available)"
Something like this:
[code]

[2016-04-13 15:15] Makman2 commented on #1918
https://github.com/coala-analyzer/coala/issues/2007

[2016-04-13 15:23] #1918 closed

[2016-04-13 15:33] Makman2 commented on #2007
Better is having a little stat displayed if more than 1-2 lines are changed:
[code]

[2016-04-13 15:39] sils1297 opened #2008 "Display a little excerpt of a patch-diff (if available)"
If there is a patch available with `additions + deletions <= 4`, show it briefly (without context!) to the user without asking:

[code]

If the patch is bigger, only show the statistics about it:

[code]

[2016-04-13 15:39] sils1297 commented on #2007
superseeded by https://github.com/coala-analyzer/coala/issues/2008

[2016-04-13 15:39] #2007 closed

[2016-04-13 16:16] Uran198 opened #2009 "docs: Add information about the use of labels"
From the discussion in https://github.com/coala-analyzer/coala/issues/1875.
There should be an information in the contribution guide on what some labels imply, i. e.:
- if there is difficulty to the issue, then it is ready to be worked on.
- if there are no labels - it's pending review
- if there is a label `status/needs design` or `status/needs info` - there is still an ongoing discussion either

[2016-04-13 16:19] Uran198 opened #2010 "docs: Add information about long issue discussions handling"
From the discussion in #1875.
It should be documented that after the long discussion, should be created new issue with clearly defined task.

[2016-04-13 16:22] Uran198 commented on #1875
Evolved into #2009 and #2010

[2016-04-13 16:22] #1875 closed

[2016-04-13 19:15] Makman2 opened #2011 "CI: NLTK data missing"
Hmmm... this appeared on the CI:
[code]

[2016-04-13 19:15] Makman2 commented on #2011
More specifically: https://circleci.com/gh/coala-analyzer/coala/6041

[2016-04-13 19:17] Makman2 commented on #2011
CC @tushar-rishav

[2016-04-13 19:50] Nosferatul commented on #1904
Hi, I wanna work on this! I believe that I should change .rultor.yml, right?

[2016-04-13 20:39] #2011 closed

[2016-04-14 07:42] Adrianzatreanu commented on #1557
"testing out the new cool reply template"
Hi,

do you need help figuring this out? We're all happy to help you on [our gitter channel](https://gitter.im/coala-analyzer/coala), just drop by and ask us anything :)

[2016-04-14 07:42] Adrianzatreanu commented on #1709
Hi,

do you need help figuring this out? We're all happy to help you on [our gitter channel](https://gitter.im/coala-analyzer/coala), just drop by and ask us anything :)

[2016-04-16 13:14] SanketDG commented on #1788
Yep this was fixed in https://github.com/coala-analyzer/coala/commit/e06484638cbfcd5b47f889a2eb6bd82cb238f1c1

[2016-04-16 13:14] #1788 closed

[2016-04-16 19:29] Adrianzatreanu commented on #1930
Hi, @gopalmeena

do you need help figuring this out? We're all happy to help you on [our gitter channel](https://gitter.im/coala-analyzer/coala), just drop by and ask us anything :)

[2016-04-16 19:32] Adrianzatreanu commented on #1754
unassigning due to lack of response within 4 days.

[2016-04-16 19:32] Adrianzatreanu commented on #1709
unassigning due to inactivity, feel free to message me and get assigned back as soon as you respond @rresol :)

[2016-04-16 19:33] Adrianzatreanu commented on #1557
lack of reponse => unassigning for now, message us if you would like to work on this when you're coming back :)

[2016-04-16 19:43] Adrianzatreanu opened #2017 "Change coala to italic"
We use the word pretty often and it looks pretty common. But imo it shouldn't be. At first, i vouched for using it bolded but then after talking to @sils1297, it seems italic is the way we want it. I'm willing to change coala to italic in all the documents or websites we have, but im looking for approval first, since it's gonna take a while, searching through all files ;p

[2016-04-16 20:58] Makman2 opened #2019 "IntelliJ plugin"
IntelliJ is great, we definitely should do that.

[2016-04-17 07:31] srisankethu opened #2020 "Result: Change error message"
Change error message [here](https://github.com/coala-analyzer/coala/blob/master/coalib/results/Result.py#L60) from ``severity is no valid RESULT_SEVERITY`` to ``severity is not a valid RESULT_SEVERITY``. difficulty/newcomer.

[2016-04-17 08:30] Adrianzatreanu opened #2021 "Change `keep` to `maintain`"
We have a few grammar problems with keep throughout docs, and some places it sounds quite weird, therefore, as per @srisankethu 's suggestion, I recommend changing ``keep``/``keeping`` to ``maintain``.

The files and lines where we want this are:
docs/Users/Tutorials/Git_Help.rst line 126
docs/Users/Tutorials/Git_Help.rst line 204
docs/Getting_Involved/Newcomers.rst line 110

[2016-04-17 08:42] Adrianzatreanu commented on #1930
unassigning due to lack of response and long unavailability.

[2016-04-17 11:42] Adrianzatreanu opened #2022 "Add double backticks"
In the file ``docs/Users/Exit_Codes.rst`` we refer to the command coala, and therefore it should be in double backticks everywhere in the file (it's a small file).

[2016-04-17 15:57] sils1297 opened #2023 "BadNameBear: Checks variable names for bad names"
I think @hypothesist has something for extracting variable names in the works and I totally see forward to that. (Will be somthing like the annotation bear which is in the works I guess?)

So based on that we can check variable names. There's one bear already WIP for camel case, snake case etc. and I'd love to have one for checking for bad variable names.

## What's a bad variable name.

We gotta

[2016-04-17 16:16] #2017 closed

[2016-04-17 16:52] #1916 closed

[2016-04-17 21:22] #1893 closed

[2016-04-17 22:31] Makman2 commented on #2020
I don't see a difference between the messages :O

[2016-04-17 22:36] Makman2 commented on #2023
@sils1297 at least enumeration should be switchable, I think if we restrict there some devs would want to beat us :)
The name blacklist is definitely cool, though it might be language dependent^^

And we could introduce a parameter that enforces how many letters must be used at least for a variable name :+1:

[2016-04-18 08:15] sils1297 commented on #2020
@Makman2 just read it again :) or you can apply a Sequencematcher on it :P

[2016-04-18 11:26] Makman2 commented on #2020
I mean a semantic difference^^

[2016-04-18 15:16] fneu opened #2024 "Globbing: ** wildcard not resolved correctly"
According to docs "`**` matches everything" and therefore `glob("**")` should match the same files `glob("**/*")` matches.

confirmed not working

[code]

[2016-04-18 15:19] fneu opened #2025 "Debug output should contain files that get checked"

[2016-04-18 15:32] tfar opened #2026 "Have file globbing only match files that are checked into a source repository (git/hg/etc.)"
It would be great if file globbing would only match files that are checked into a source code repository. So simply calling a git command to get a list of files and then have globbing be applied to that list. This would automatically integrate with .gitignore.

Additionally a flag to only look at changed files (the one that git/hg/etc. think are changed) would be great because that way, you could

[2016-04-18 20:22] #1904 closed

[2016-04-18 20:23] sils1297 opened #2027 "Move out decorators into packages"
I'd love to use them in other projects.

The following people have acknowledged that changing the license to MIT is fine:

- @fneu
- @AbdealiJK
- @Makman2
- @sils1297

According to git blame no more people need to be consulted for the change.

[2016-04-18 22:02] Makman2 commented on #2026
Only-for-changed-files feature is currently coming: https://github.com/coala-analyzer/coala/pull/2016 :)
For the git-globbing: I like that idea. How do you want to handle untracked files that are not ignored?

[2016-04-18 22:03] srisankethu opened #2028 "Testing_Bears.rst: Fix grammatical mistake"
Change the sentence "coala has an awesome testing framework so you can write tests for bears with ease" [here](https://github.com/coala-analyzer/coala/blob/master/docs/Users/Tutorials/Testing_Bears.rst). difficulty/newcomer area/documentation

[2016-04-18 22:04] Makman2 commented on #2028
where's the grammatical mistake?

[2016-04-18 22:05] srisankethu commented on #2028
it should be "...framework to write tests...."

[2016-04-18 22:07] srisankethu commented on #2028
I will just fix this since there are already many newcomer issues :+1:

[2016-04-18 22:09] Makman2 commented on #2028
hmm but the old sentence is not wrong or bad, imo we can keep it like it is :O

[2016-04-18 22:11] srisankethu commented on #2028
the old sentence makes sense when it is "...framework so that you can write..."

[2016-04-19 10:00] sils1297 commented on #2026
We'd probably want a very light integration, i.e. just an option "apply globs only to files tracked by Git" and then implement support in our globs for that?

CC @fneu

[2016-04-19 10:30] fneu commented on #2026
I agree with @sils1297. Let's add an option to only check on files that are included in the current Version control system (only git).

This does not include untracked files.

Now we could either run globs normally and filter out the ones not in git or we could fnmatch all files reporter by git.

Usually, glob is orders of magnitude faster (fnmatch checks on all files, glob checks less and less fi

[2016-04-19 16:03] sils1297 opened #2030 "ConfigurationGathering.get_config_directory: Use section['files'].origin"
Wouldn't it be smarter to use `section['files'].origin` for this? I used this in clang and the project directory should be the one from where the "files" setting was given right?

[2016-04-20 07:33] AbdealiJK commented on #1771
Nobody doing this :( ?
Would be really cool to have

[2016-04-20 08:51] #1771 closed

[2016-04-20 10:12] tfar commented on #2026
Haven't used it but I just stumbled upon http://anyvcs.readthedocs.org/en/latest/anyvcs.html. It's a python lib for providing directory listings or changed file listings of git/hg/svn repositories.

[2016-04-20 10:22] sils1297 commented on #2026
Looks neat, there's a huge problem with this one though: it isn't maintained. Last commit was in 2014, there are issues as well as pull requests unanswered, the author seems to be totally gone so we'd have to maintain a fork more or less. I'm pretty sure there are alternatives though, using an abstraction is definitely the right way to go (that's also why I wrote [IGitt](https://gitlab.com/gitmate

[2016-04-20 10:37] tfar commented on #2026
Oh, didn't notice that. However, it seems most python libraries for abstracting version control systems seem to be unmaintained.

[2016-04-20 10:59] sils1297 commented on #2026
Yeah we'll only need a very small subset of commands, possibly a very simple function does the job better and sleeker than a lib

[2016-04-20 12:39] srisankethu commented on #1833
I have my exams in 2 days. I will resume work after May10. I made some progress with the issue but feel free to unassign me if its urgent.

[2016-04-20 12:41] srisankethu commented on #429
I have my exams in 2 days. I will resume work after May10. I made some progress with the issue but feel free to unassign me if its urgent.

[2016-04-20 17:43] #2028 closed

[2016-04-20 17:43] #2030 closed

[2016-04-20 22:43] sils1297 commented on #2003
@Makman2 this shouldn't be documented! The user should close it and we should be forgiving if he forgets to do it but IMO it sholdn't be advertised as a feature

[2016-04-21 04:12] #2003 closed

[2016-04-21 07:47] #2025 closed

[2016-04-21 07:50] Makman2 commented on #2003
makes sense :+1:

[2016-04-21 14:06] NalinG commented on #1754
Hi, I would like to work on it , can you assign me this issue.

[2016-04-21 14:08] sils1297 commented on #1754
Hey welcome back @NalinG ! Ping us on gitter if you need anything :)

[2016-04-21 15:15] NalinG commented on #1754
What we have to do is to create a setup file using setuptools library and create a coala egg??
That means we have to create a setup.py file and a doc page explaining all the details

[2016-04-21 15:17] Makman2 commented on #1754
Don't know what I wanted exactly, seems this one doesn't really apply^^

[2016-04-21 15:17] #1754 closed

[2016-04-21 15:20] NalinG commented on #1544
Hi, I would like to work on this issue , please assign it to me

[2016-04-21 19:32] sils1297 opened #2037 "Bear: Add "languages" property"
where bears can state which languages they support

[2016-04-21 21:33] #2037 closed

[2016-04-22 08:51] NalinG commented on #1544
Can you kind of give me a starting point because I dont think I will have to skim through the whole code to find these instances to replace..

[2016-04-22 09:35] sils1297 commented on #1544
use `git grep`

[2016-04-22 17:54] Makman2 commented on #1544
Just for interest, performed a benchmark:
[code]
`x or default` vs. `default if x is None else x`
`5.06s` vs. `5.83s`
slight performance impact (about 15-20%), but I assume this is due to the fact that the written out if-form runs in python byte-code, while short-circuitance is a core-feature implemented in C^^

[2016-04-23 10:29] mr-karan commented on #1925
Since my proposal got accepted, I would like to assign this to myself.

[2016-04-23 14:16] AbdealiJK opened #2040 "Add google analytics to docs"
readthedocs should have the google analytics id (can be found below). Need to check the docs of readthedocs and figure out how to do this, or just embed this html code into their code using RST.

[code]

[2016-04-23 23:29] Makman2 opened #2042 "LineLengthBear: Crashes"
[code]
happens on coala's master

[2016-04-23 23:33] sils1297 commented on #2042
@Makman2 what command did you run?

[2016-04-23 23:33] Makman2 commented on #2042
just `coala`

[2016-04-23 23:34] sils1297 commented on #2042
with installed coala being the one from master as well?

[2016-04-23 23:36] Makman2 commented on #2042
this is the full output: https://gist.github.com/Makman2/cef1b268899db3d008a4dcfe9f9280e6

[2016-04-23 23:37] Makman2 commented on #2042
so yes, the latest prerelease, for coala and coala-bears^^

[2016-04-23 23:38] Makman2 commented on #2042
even with `git clean -dfx` the same happens^^

[2016-04-23 23:41] sils1297 commented on #2042
WOw this is very weird...

[2016-04-24 01:57] AbdealiJK commented on #1929
So their IDE is called JunoLab - http://junolab.org/

And it's based on top of atom (Like how Android Studio is on top of IntelliJ Idea)
Hence, we already support it :)

They don't have preinstall much, just the Julia auto-complete, snippet, etc [plugin](https://github.com/JunoLab/Atom.jl) they made. And some modified initial settings [in atom itself](https://github.com/JunoLab/atom)

It's not as

[2016-04-24 10:01] AbdealiJK commented on #2042
I do not think this is a code related bug - more like a system related bug.

Your coala-bears is definitely not at master ad it says:
[code]
in the trace back which is not true on [master](https://github.com/coala-analyzer/coala-bears/blob/master/bears/general/LineLengthBear.py#L30)

So, can you post output of:
[code]

[2016-04-24 10:04] AbdealiJK opened #2044 "Print important data on top when running"
As we have so many problems with coala, coala-bears and stuff, we should print:
 - python version
 - pip version
 - coala version
 - Version of every module which has the `coalabears` entry point

We could also print (but not important for this issue. Make a new issue for these):
 - Number of files we will be parsing
 - Time taken to run (in the footer) - like pytest

This is similar to how pytest

[2016-04-24 10:09] SanketDG commented on #2044
So print all of this out in `[DEBUG]` mode?

[2016-04-24 10:12] AbdealiJK commented on #2044
I'd say print it for everything (maybe `[INFO]` ?)
Or just a `ConsolePrinter` (without a log_printer) as this isn't really a Log

Its just good for debugging and doesn't interfere much (loads of softwares have headers, python shell, ipython, R, julia, pytest, etc. for example)

[2016-04-24 10:14] sils1297 commented on #2044
I'm for using the debug channel, it's debug info after all

[2016-04-24 14:47] Adrianzatreanu commented on #1802
closing as per acking on https://github.com/coala-analyzer/coala/pull/2041

[2016-04-24 14:47] #1802 closed

[2016-04-24 15:13] Makman2 commented on #2042
This is interesting, I installed the most recent version via pip.
coala: 0.6.0.dev20160421213233
coala-bears: 0.2.0.dev20160419161846

[2016-04-24 15:13] Makman2 commented on #2042
but even with older versions it should not occur^^

[2016-04-24 16:24] Makman2 commented on #1929
@AbdealiJK closing then?

[2016-04-24 16:25] Makman2 commented on #2044
definitely debug^^

[2016-04-24 16:42] Makman2 opened #2046 "Bear-language: Wrap "no language"-message in braces"
[code]
Should be
[code]
As it's way better to read when doing `coala -B`, otherwise one thinks this is text that actually specifies some important property of the bear^^ with braces one can overread it quicker^^

[2016-04-24 17:34] AbdealiJK commented on #1929
Yep, closing it.

[2016-04-24 17:34] #1929 closed

[2016-04-24 19:43] sils1297 opened #2048 "make a codecov.yml"
@SanketDG @Adrianzatreanu does anyone have time *right now* for this? Super urgent.

[2016-04-24 23:08] Makman2 commented on #2048
Are we then able to grab coverage data for windows too?

[2016-04-25 06:33] tfar commented on #2040
Don't forget to let the viewers of the documentation know that they are being watched and tracked if you happen to decide that adding visitor tracking to a online documentation of a software project provides enough useful information to be worthwhile.

[2016-04-25 06:43] sils1297 commented on #2040
@tfar hey are you against us doing this? We'd be happy to discuss this, privacy is important. Where would be the right place to mention something like this?

[2016-04-25 06:59] sils1297 commented on #2040
So my personal take on this is I'm not fully sure. The whole internet watches you already, you're being watched by GitHub as well, possibly readthedocs does that already. It's simply not possible to not watch users in a way just by observing server load. Now, taking a tool like Google Analytics gets us some more information that may help improving documentation. There's a very blurry border here s

[2016-04-25 07:20] AbdealiJK commented on #2040
Google analytics would help track how many people find the documentation and how they find the documentation. It also has demographic information helping us plan conferences (maybe). This would help us in making things better.

All in all: I prefer having more data even if I don't use it. But that's subjective and the community should decide (hence the issue)

My opinion on the privacy issue: If I

[2016-04-25 07:43] #1264 closed

[2016-04-25 07:43] #1928 closed

[2016-04-25 08:03] sils1297 commented on #1967
This needs to be documented and then we can use it consistently.

[2016-04-25 08:07] sils1297 commented on #1419
Maybe somebody can pick this up so the code doesn't get out of date?

[2016-04-25 08:09] sils1297 commented on #2024
@fneu you wanted to do this soon, need it by wednesday (PR by tomorrow). Doable?

[2016-04-25 08:12] sils1297 opened #2049 "Delete Lint Class"
May happen only after the next release, so for 0.7 we can do this.

[2016-04-25 08:12] sils opened #2050 "Linter: Support global bears"

[2016-04-25 08:49] fneu commented on #2024
Only if it is some weird bug. If that is an error in the glob algorithm I
cannot do it in April at all.

Am 25. April 2016 10:09:16 vorm. schrieb Lasse Schuirmann
<notifications@github.com>:

[2016-04-25 08:53] sils1297 opened #2051 "Adapt linter tutorials to new lint class"

[2016-04-25 08:54] AbdealiJK opened #2052 "Fix the asciicinema demo's max-width"
In the pypi page, this looks really bad: https://pypi.python.org/pypi/coala

So we want to fix a width. Currently it seems to be "100%"

[2016-04-25 08:58] AbdealiJK commented on #2042
I still don't get why "File "/usr/lib/python3.4/site-packages/bears/misc/LineLengthBear.py", line 30, in run" is wrong ...

Can you open it and check if the code is what you expect ?

[2016-04-25 09:03] AbdealiJK commented on #2010
Where should this be added ? which file ?

[2016-04-25 09:05] AbdealiJK commented on #1830
It's back !
Failed 10+ times and passed 4 times in the past 11 days http://readthedocs.org/projects/coala/builds/

[2016-04-25 09:08] sils1297 commented on #1830
retriggered build FWIW

[2016-04-25 09:21] sils opened #2053 "Unable to collect GitCommitBear - nltk importing html.entities"
[code]

[2016-04-25 09:34] AbdealiJK commented on #2053
Seems to be a system dependent problem.
But if you use pip to reinstall, it works out - http://stackoverflow.com/questions/20544694/importerror-no-module-named-html-entities

What system is this ? Does importing `nltk` in shell work ?

[2016-04-25 09:36] AbdealiJK commented on #2053
Wow, so apparently this is part of python (builtin)

[code]
So, I think your python was compiled differently or your python2 and python3 are getting themselves confused ?

[2016-04-25 09:44] sils1297 opened #2055 "test_show_bears failing"
[code]

[2016-04-25 11:05] sils1297 opened #2058 "Importers.py, line 82: Chek -> Check"
typo needs correction
difficulty/newcomer

[2016-04-25 11:48] sils1297 commented on #2058
it's in the doc comment for `_is_defined_in` and it moved down a few lines

[2016-04-25 11:53] #2048 closed

[2016-04-25 12:04] Makman2 opened #2059 "Linter: Auto-generate a short description which says which executable is used"
So using `coala -B` prints this information to terminal.

[2016-04-25 12:14] sils1297 opened #2060 "Linter: show the command that is run as debug level message"

[2016-04-25 12:15] Makman2 commented on #2042
yeah the namespace is totally wrong, package `bears.misc` does not exist any more. Don't know why python hasn't deleted it^^

[2016-04-25 12:19] Makman2 commented on #2042
works again, dependency problems on my system :+1:
old ancient modules weren't removed :D

[2016-04-25 12:19] #2042 closed

[2016-04-25 13:03] #2060 closed

[2016-04-25 13:23] sils1297 commented on #2055
This issue is due to other *installed* bears being malformatted and coala raising a warning for them.

[2016-04-25 15:29] sils1297 opened #2064 "Result.from_values: Add docstring"
difficulty/newcomer
type/documentation

[2016-04-25 15:32] AbdealiJK opened #2065 "Make circleci FASTER"

[2016-04-25 15:34] sils1297 commented on #2065
`$ pip install coala-bears colorama==0.3.6 --pre -U` seems to take 7 minutes?

[2016-04-25 16:01] #1977 closed

[2016-04-25 16:02] Uran198 commented on #2010
I think either in the wiki, at Maintainer's corner, or in the docs at getting involved.

[2016-04-25 16:03] sils1297 commented on #2010
Good idea.

[2016-04-25 18:23] tushar-rishav opened #2067 "create_arguments: Pass required parameters only."
`config_file` isn't being used in `create_arguments`. We should pass only required arguments.
See [354](https://github.com/coala-analyzer/coala-bears/pull/354/files#diff-b120d691fa8cf7e31b53e225b6200cd6R26)

[2016-04-25 19:09] Makman2 opened #2068 "LANGUAGE attribute: Allow single string item"
For shorter and better look, I think we should allow also:
[code]
so we don't have to write
[code]

[2016-04-25 19:23] Makman2 commented on #2055
oh I thought this was because of misconfiguration on my system, good then it's confirmed :)

[2016-04-25 19:24] sils1297 commented on #2055
We should fix the bears *and* make the test immune.

[2016-04-25 19:40] Makman2 commented on #2067
What makes this a bit harder is that we can't use `get_metadata` to filter the parameters like it's done when a user adds additional parameters to the linter signatures. We need another "inofficial" filtering for the mandatory arguments.

[2016-04-25 21:07] Makman2 opened #2069 "Linter: Implement csv output format"
One of our bear uses it, and it should be easy to implement some generic mapping feature for csv outputs.

[2016-04-25 21:09] Makman2 opened #2070 "Linter: Warn on using capturing groups"
Capturing groups are superfluous, slightly slower and consume a bit more memory. They aren't taken anyway from the linter, so I think it's good to raise a warning that tells to use non-capturing-groups (so `(?:...)` instead of `(...)`) instead :+1:

[2016-04-25 21:10] Makman2 opened #2071 "Linter: Warn for named capturing groups which names are not used"
E.g. `(?P<filename>...)` is not used by the linter and should be replaced with `(?:...)`

[2016-04-25 21:11] Makman2 opened #2072 "Linter: Implement json output format"
This is a bit trickier, the json algorithms are quite different for each bear currently. Maybe it's possible to define some "rule-set" how to traverse down the json tree?

[2016-04-25 21:15] Makman2 opened #2073 "Linter: Remove prerequisite_check_command"
It's nicer to manually override `check_prerequisites`, as it can be more convenient to use special checks the default linter does not implement. E.g. `check_prerequisites = check_java_module(...)`
This refactor won't use up more lines of code, as
[code]
would change to
[code]
This could also remove boilerplate-checking-code that is performed inside `@linter`.

CC @SanketDG

[2016-04-25 22:35] Makman2 commented on #1588
@aayn are you willing to revive this PR again? :)

[2016-04-26 01:30] AbdealiJK commented on #2067
I don't see this as a big deal actually. So what if it's not being used ?

[2016-04-26 01:32] AbdealiJK commented on #2055
Hmmmm. I'll think about this and see if I can do something

[2016-04-26 01:33] AbdealiJK commented on #2055
I think this can be fixed by simply using the `with bear_test_module():` as that forces the bear_tests only to be found

[2016-04-26 01:52] AbdealiJK opened #2074 "Add crosstesting in the docs"
It would be nice to give a method of things to add if we want to crosstest things between coala and coala-bears as @Makman2 had to do for the Linter stuff.
Would be good to add to docs (so that if the branch which did this last time was deleted, it doesnt matter)

The last PR with crosstest is here: https://github.com/coala-analyzer/coala-bears/pull/314

Assigning Makman as he's the best one to do

[2016-04-26 02:18] AbdealiJK commented on #1882
I began using it in https://github.com/coala-analyzer/coala/commit/f1eb9a3225766632db7204d1121ff4dc99de79fc and https://github.com/coala-analyzer/coala/commit/1708f5572dc3306862e1cfaee668d761e351c443

This is actually pretty great because earlier, if I do `from module1.module2 import func1` it is not possible to override the `func1()`. Only `from module1.module2 import class1` was overridable.
But

[2016-04-26 02:38] AbdealiJK commented on #2058
@sils1297 can you check this ? gitmate-bot seems to add low and newcomer if you add "difficulty/newcomer" in he description - that is wrong right ?

[2016-04-26 02:40] AbdealiJK commented on #2053
I seem to be getting the same thing !
No idea why. I can import html.entities in python shell, but the import of nltk works fine in shell.
[code]
CC @tushar-rishav as he made this part ?

[2016-04-26 03:08] AbdealiJK commented on #2069
FWIW: After https://github.com/coala-analyzer/coala-bears/issues/363 we wont have any bear which uses CSV
I think CSV is weird and it's be better to do something for supporting the popular XML standards like Xunit that circleci likes (seems to be a standard format for linters)

[2016-04-26 03:12] AbdealiJK commented on #1912
Let's wait till 5th May after we which let's fork it and make it a new pypi package

[2016-04-26 03:25] AbdealiJK commented on #2067
Sorry. I seem to have not been thinking properly when I said that. It'd be great if this is done :) (although if it's tough, it's not that important)

[2016-04-26 03:33] AbdealiJK commented on #2065
This is not a major issue actually. The reason for it to take so long was because you updated coala-bears very frequently yesterday. Which means it kept having new releases which were picked up by `pip --pre`

So, it's simply because the cache was updating itself. The build times have decreased now to 8-9 mins.
@sils1297 can you confirm that this is fine ? I'm not sure if it can be decreased furth

[2016-04-26 03:35] AbdealiJK opened #2075 "Avoid multiple warnings for same malformed bear"
In coala -A if I have a malformed bear, it basically shows me the warning for every section. This is kinda irritating and confusing.

[code]

We should cache the list of malformed bears and not show the warning multiple times.

[2016-04-26 03:40] AbdealiJK commented on #2053
On further analysis:
coala -A says that html.entities not found:
[code]
but coala says:
[code]
Which means it was able to import `nltk` successfully in `coala` but not with `-A`. Interesting and weird.

[2016-04-26 07:29] sils1297 commented on #2065
oh this is great, thanks!

[2016-04-26 07:29] #2065 closed

[2016-04-26 07:32] sils1297 commented on #2058
@AbdealiJK lets discuss that at GitMate issue tracker/gitter

[2016-04-26 07:38] sils1297 commented on #1912
@AbdealiJK no way to fix this for tomorrows release? I mean this is really bad!

[2016-04-26 07:50] AbdealiJK commented on #1912
None that I can think of. We're only using it for Link validation in one or
two places. We can add our own Link regex - but the whole license thing was
troublesome ...

On Tue, Apr 26, 2016 at 1:08 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-04-26 07:56] sils1297 commented on #1912
we can take the regex from https://github.com/kvesteri/validators/blob/master/validators/url.py , they're free software I assume otherwise we can't use them as dependency anyway

[2016-04-26 09:32] #2055 closed

[2016-04-26 09:32] #2068 closed

[2016-04-26 10:47] tushar-rishav commented on #2053
This is so bizarre.

On Tue, Apr 26, 2016 at 9:10 AM, AbdealiJK <notifications@github.com> wrote:

[2016-04-26 10:51] sils1297 commented on #2006
see also http://bugs.python.org/issue2142

[2016-04-26 10:55] Makman2 commented on #2069
If you think JSON is better, alright. As no bear uses CSV then right now: Implemented on demand.

[2016-04-26 10:55] #2069 closed

[2016-04-26 11:00] Makman2 commented on #2074
I think that doesn't belong to the docs :O Let's just keep my branch and everything is fine, we adjust it as needed^^ As we hack quite into the CI we shouldn't make this "official"^^

[2016-04-26 11:04] Makman2 commented on #1912
as it worked before let's fix the version? :O

[2016-04-26 11:06] Makman2 commented on #2053
had this error also somewhen, confirmed^^

[2016-04-26 11:59] AbdealiJK commented on #2074
Then I think we should clean it up and make an easy method of doing this

On Tue, Apr 26, 2016 at 4:30 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-04-26 12:00] AbdealiJK commented on #1912
It didn't work before either (for me atleast)

[2016-04-26 13:32] sils opened #2078 "Do not run global bears without any files"
coala shouldn't do that

[2016-04-26 13:36] AbdealiJK commented on #2053
So it seems this was caused because `bears.html` is clashing with builtin `html`.

So, no bear from `bears.html` can be run simultaneously with `GitCommitBear` for that reason. hence it failed only in `coala -A`

[2016-04-26 13:36] AbdealiJK commented on #2053
Also, this issue should have been in `coala-bear`

[2016-04-26 13:44] Makman2 commented on #1912
Oh, weird i have a validators installation :3 maybe an explicit install helps?

[2016-04-26 13:45] Makman2 commented on #2074
Is there an easy way? :O

[2016-04-26 13:46] AbdealiJK commented on #2052
Apparently we can embed the asciinema directly by using the script tag like the website

http://stackoverflow.com/questions/9444342/adding-a-javascript-script-tag-some-place-so-that-it-works-for-every-file-in-sph

[2016-04-26 14:04] sils1297 opened #2079 "PrintMoreInfoAction"
oh holy shit we don't have a "Show more information" action! @AbdealiJK can you copy the PrintDebugMessageAction and just let it print additional_info instead? PrintMoreInfoAction.
or someone else

difficulty/low

this should be real quick

[2016-04-26 14:16] SanketDG commented on #2052
Hey thanks! That works, assigning myself this.

[2016-04-26 17:07] #2079 closed

[2016-04-27 02:05] AbdealiJK commented on #2052
**About raw html**
It seems github recently (Oct 2015) accepted a patch to enable RAW html. But this does not seem to work in the github preview, so I think they haven't deployed it yet. https://github.com/jeremiahyan/markup/pull/1
This is the latest commit in their repo https://github.com/github/markup

**About width attribute**
The width attribute is purposely ignored by github as they prefer se

[2016-04-27 03:29] AbdealiJK commented on #2044
Adding versions of python, etc was easy. But adding for the detected bears using entrypoints is not as easy.

Because that happens in `Section.bear_dirs()` which does not have a log_printer.
Also, Sectionbear_dirs finds the entry points for every section - which is not required. We should do this only once.

[2016-04-27 03:32] AbdealiJK commented on #1912
If you have setuptools installed before `validators` it works

[2016-04-27 06:13] #1912 closed

[2016-04-27 06:13] #2052 closed

[2016-04-27 06:54] sils1297 commented on #2024
@fneu can you look into it today?

[2016-04-27 10:58] sils1297 opened #2084 "Add function to download stuff cached if needed (when running bear)"
we should use this for checkstye etc., @AbdealiJK has used this for checkstyle configs already

[2016-04-27 11:00] AbdealiJK commented on #2084
It'd be nice to make a function in Bear.py names "data_dir()" or so which
gives which folder to download bear specific stuff in

On Wed, Apr 27, 2016 at 4:28 PM, GitMate <notifications@github.com> wrote:

[2016-04-27 22:46] sils opened #2085 "Readthedocs domain changes"

[2016-04-28 07:42] sils1297 opened #2087 "Bear: Add `languages_tuple` propertingy"
which converts the `LANGUAGES` into a tuple if it's a strint

[2016-04-28 07:55] Uran198 opened #2088 "tests.coalaTest.coalaTest.test_show_bear: Refactor code"
There is redundant checks for warning, so this part can be deleted:
[code]
Also the test can be split on one testing `-A` parameter and another testing `-B` parameter.

[2016-04-28 09:38] Makman2 commented on #2044
we damn need the built-in logging facilities from python...

[2016-04-28 09:39] Makman2 commented on #975
maybe we don't need the next-gen stuff. Let's try to implement it already^^

[2016-04-28 09:40] Makman2 commented on #975
@fneu are you willing to do this? otherwise I would take it over^^

[2016-04-28 09:49] Makman2 commented on #2087
where's the problem with using a property for `LANGUAGES` :O another property is cumbersome imo ^^

[2016-04-28 09:57] sils1297 commented on #2087
or just a function, the user has nothing to do with it

[2016-04-28 10:30] Makman2 commented on #2087
but where's the gain? :O

[2016-04-28 10:32] sils1297 commented on #2087
blnothing changes for the user, we have less duplication, we have the same if in multiple places which is redundant and possily error prone as we're bound to forget it next time

[2016-04-28 13:29] SanketDG commented on #2073
Totally missed this! This makes sense, but we have to provide functions for checking of common language modules to avoid code duplications.

[2016-04-29 13:26] Uran198 commented on #302
I think you can make `argcomplete` pluggable. All it requires is calling `argcomplete.autocomplete(parser)` before executing `args = parser.parse_args()`.
So, to make this optional and pluggable following lines can be added to `coalib/coala.py`:
[code]
Though this will autocomplete options, to make it autocomplete bears will require more effort, but hopefully not a lot.

[2016-04-29 18:41] Makman2 commented on #302
Don't remember we closed this issue. Do we want to reopen, as this enhances user experience?
Especially if it works that easy like @Uran198 writes, we definitely should do that^^

[2016-04-29 18:42] sils1297 commented on #302
It's a won'tfix, reopen if somebody is doing that or we decide that we definitely want that and it's doable with an agreeable amount of work.

[2016-04-29 18:43] sils1297 commented on #302
and @Uran198 doesn't want to do it

[2016-04-29 18:43] sils1297 commented on #302
(at least not right now)

[2016-04-29 18:44] Makman2 commented on #302
6 lines of code is not an "agreeable amount of work"? :O

[2016-04-29 18:45] Makman2 commented on #302
oh 5* LOC^^

[2016-04-29 18:46] sils1297 commented on #302
If it's as easy as that, reopen, do and close it so we can all sleep well :)

[2016-04-29 18:47] sils1297 commented on #302
/me has absolutely no idea about what's happening here, he just randomly cites sentences from his in-memory-maintainer-manual :P

[2016-04-29 23:02] Uran198 commented on #302
I looked a little more in detail on this. This few lines will give you only
basic attributes completion. To complete bear names there will be a little
more work. I have wrote something, but it's breaking tests and I didn't
test it manually, for some reason. Also, there should be, probably,
documentation on how to set things up, so it works fine.

20:48, пт, 29.04.2016 Mischa Krüger <notifications@

[2016-04-30 06:21] sils1297 commented on #302
Basic completion is quite cool on its own fwiw, we don't need to do
everything at once

[2016-04-30 09:08] Adrianzatreanu commented on #2064
Well this is double labeled for some reason.

[2016-04-30 09:28] nagydav90 commented on #2064
Would like to do this one

[2016-04-30 09:28] eneukirchner commented on #2020
Yes, I want to do this!

[2016-04-30 09:30] emperorofmars commented on #2058
I will do this.

[2016-04-30 09:56] emperorofmars commented on #2058
This was already done, nothing to do here.

[2016-04-30 09:58] AbdealiJK commented on #2058
Actually it's not done. The line number is reported wrongly. it is at line 82

[2016-04-30 10:07] sims1253 commented on #204
Was asked for at Linuxwochen so I reopen this.

[2016-04-30 10:35] emperorofmars commented on #1930
I can do this, please assingn me.

[2016-04-30 10:40] #2058 closed

[2016-04-30 12:13] #2064 closed

[2016-04-30 14:14] #302 closed

[2016-04-30 14:14] #1930 closed

[2016-04-30 15:09] Uran198 opened #2098 "argparse: Use action instead of nargs and metavar for optional positional arguments"
Now, when I run `--help` I get something like:
[code]
I think it would be much nicer to have it like
[code]
This can be achieved by using `action='store_true'` for optional arguments instead of `nargs` and `metavar` in `add_argument` function, when creating arg parser.

[2016-04-30 15:26] AbdealiJK commented on #2098
This has been discussed, we can't do that because then when doing `--save` that "default" boolean value will be saved also (although it shouldn't as the user didn't specify it)

Note: This is not specifically for --show-all-bears, but in general. Possibly we could delete the --show-all-bears, etc (Which are handled separately) before it gets to the saving part ?

[2016-04-30 16:00] Makman2 opened #2099 "Try to setup argcomplete inside setup.py"
Don't know whether this is possible, but maybe we can make a setup command that executes necessary argcomplete registrations?

[2016-04-30 16:40] sils1297 commented on #2099
I also think we should make an own autocompletion generator script, dedicated, for performance and complexity reasons.

[2016-05-01 12:59] Uran198 commented on #2098
We can use what we use for bears parameters and I think to make something like `-A` or `-B` look nicer wouldn't be a lot of work.

[2016-05-01 23:39] Makman2 opened #2101 "Linter: Catch if `None` is returned from `create_arguments`"
The linter currently tries to tupelize `None` which yields a `TypeError`. We should catch that case and return from `run()` directly.

[2016-05-02 20:33] Makman2 opened #2102 "coala -B on GNUIndentBear has a param diff_severity"
Migrated from https://github.com/coala-analyzer/coala-bears/issues/391

[2016-05-02 20:43] Makman2 commented on #2087
[code]
We should definitely fix it asap :)

[2016-05-02 20:44] Makman2 commented on #2087
maybe we can use a metaclass that automatically assigns `LANGUAGE` a tuple if provided a string.

[2016-05-02 21:02] Makman2 opened #2103 "Missing coafile setting "max_lines_per_file""
[code]

[2016-05-02 21:08] sils1297 commented on #2103
This should be solved ASAP!

[2016-05-02 21:37] Makman2 commented on #2103
nvm somehow I used an outdated coala working tree (though I was quite sure I used the latest revision...)

[2016-05-02 21:37] #2103 closed

[2016-05-03 21:11] sils1297 opened #2105 "osx caching"
If we wanted to put work on this: https://blog.travis-ci.com/2016-05-03-caches-are-coming-to-everyone

I'm not sure we should, i'm in favour of rather moving to gitlab soon

[2016-05-04 07:08] hypothesist opened #2106 "Create command line argument groups"
Group arg list by relevance

CC @sils1297

[2016-05-04 10:56] sils1297 opened #2107 "temporary files are still not created unifiedly"
[code]

[2016-05-04 11:00] sils1297 opened #2108 "DocumentationExtraction contains duplication"
[code]

[2016-05-04 11:00] sils1297 commented on #2108
also

[code]

[2016-05-04 11:11] sils opened #2109 "Remove code duplication in printers"
area/codestyle difficulty/low

[code]

[2016-05-04 17:43] Uran198 opened #2110 "Stable API"
On Linuxwochen one guy asked a lot about stable API and when will it happen. Also, I don't think he would use it until that point. Maybe, we should have at least approximate plan for the future.

[2016-05-04 18:23] Uran198 commented on #2040
Adding this should be simple according to http://www.drmaciver.com/2015/04/getting-google-analytics-on-readthedocs/
I agree with @AbdealiJK that this can help us improve documentation and the project itself.

[2016-05-04 18:41] Makman2 commented on #2110
Me and @sils1297 have talked about this, and we were convinced to wait for the next-gen-bears stuff (from me), after that we could try to keep a stable API.

[2016-05-04 18:55] Uran198 commented on #2110
I understand, but just an approximate date, perhaps, may be helpful, or at least `not sooner than` date. What I'm assuming is that this may stop from even trying coala much more that one person.

[2016-05-04 19:32] sils1297 commented on #2110
I  can imagine 1.0 after GSoC

[2016-05-05 05:00] SanketDG commented on #2108
After analyzing through this, I am not sure if this kind of code duplication can be "removed".

This can be refactored though.

[2016-05-05 14:29] Makman2 opened #2111 "ConfigurationGatheringTest fails"
https://gist.github.com/Makman2/a093c14125916f310ec220f6f167f661

Works on the CI though^^

[2016-05-05 17:14] #2102 closed

[2016-05-05 19:43] Uran198 commented on #2110
I'd maybe have one or two months after that reserved as well.
IMO, We should announce that and mention at least in README.

On Wed, May 4, 2016 at 10:32 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-05-05 19:50] sils1297 commented on #2110
Feel free to go ahead

[2016-05-06 09:12] sils1297 opened #2114 "Make a merge_docs decorator for classes"
@Makman2 introduced a rather verbose pattern of merging signatures, we should rather have a decorator for that!

[2016-05-06 12:58] AbdealiJK commented on #2110
We should make a milestone for 1.0 and add it here (with the date)

[2016-05-06 13:02] sils1297 commented on #2110
Milestone available, set to end of september. Can this be closed then?

[2016-05-06 13:08] AbdealiJK opened #2115 "Release 0.7/0.3"
### For the coala-bears release, we should:
 - [ ] Go through all bears and document them properly, should be fairly easy.
 - [ ] Make a version of coala-html usable, CC @tushar-rishav ? Prototype is almost ready, right? https://github.com/coala-analyzer/coala-html/issues/43
 - [ ] Make more bears configurable [R](https://github.com/coala-analyzer/coala-bears/issues/376), [CheckStyle](https://gith

[2016-05-06 13:09] sils1297 commented on #2115
Also https://github.com/coala-analyzer/docker-coala-base/issues should be solved. At least some so we get most stuff in the image.

[2016-05-06 13:48] #2110 closed

[2016-05-06 16:25] #2020 closed

[2016-05-06 20:11] Makman2 commented on #2114
Sorry I don't understand the goal of this issue completely :/

[2016-05-06 20:16] sils1297 commented on #2114
[code]

and that should do the whole metadata merging for the class documentation, run and do_something with self and irrelevant in omit for do_something e.g.

[2016-05-06 21:41] Makman2 commented on #2114
does that shortcut something? currently I merge metadata if I delegate some functionality to different functions that shall expose their settings via the parameters. These params are passed everytime to `run` and need to be manually delegated to the according functions (via `FunctionMetadata.filter` or how it was called again).

[2016-05-06 21:42] Makman2 commented on #2114
Via your decorator I have no access to the metadata stuff any more to perform this parameter delegation^^

[2016-05-06 21:51] rmariano commented on #2022
I'd like to address this.

[2016-05-06 22:05] sils1297 commented on #2114
the dacorator can make the metadata filter function available easily

[2016-05-07 05:49] Uran198 opened #2117 "ShowPatchAction bug with printing unified diff"
`.coafile`:
[code]
`py.py`:
[code]
When running coala, I get the following patch:
[code]
It split the patch. The corresponding issue is https://github.com/coala-analyzer/coala-bears/issues/396.
Also, it should have outputted something like `|    |   4|+++`, instead of `|    |++++| `
A little artificial example, but can happen when dealing with text files.

[2016-05-07 07:20] sils1297 commented on #2022
Cool, ping us if you need assistance with anything.

[2016-05-07 07:32] #2008 closed

[2016-05-07 11:39] SanketDG opened #2118 "DocumentationComment: two classes in codebase."
Currently there are two classes for DocumentationComment:-

* [`DocumentationComment(desc, param_dict, retval_desc)`](https://github.com/coala-analyzer/coala/tree/master/coalib/settings/DocumentationComment.py)

This also has a function `from_docstring()` which parses doc comments and extracts the description, params and return values.

* [`DocumentationComment(documentation, marker, range)`](http

[2016-05-07 11:48] sils1297 commented on #2118
/me hates @Makman2 for introducing the second class. Having two equally named classes is *bad*.

[2016-05-07 19:45] #1588 closed

[2016-05-08 13:40] #2022 closed

[2016-05-08 15:03] #1416 closed

[2016-05-08 19:27] Adrianzatreanu commented on #1304
i guess this calls for me

[2016-05-08 19:30] Adrianzatreanu commented on #1348
assigned @hypothesist as its his project :p

[2016-05-08 19:34] Adrianzatreanu commented on #1694
ping @souravsingh

[2016-05-08 19:38] Adrianzatreanu commented on #1909
@jarifibrahim still working on it :) ?

[2016-05-08 20:18] sils1297 commented on #2027
@laxmena @djkonro hey, you have worked on the decorators.py, are you fine with us relicensing your work to MIT?

[2016-05-08 20:39] Makman2 commented on #2118
@SanketDG good idea, though it's language dependent which attributes go into the `documentation` param.
@sils1297 the old class was just for python docstrings, and another name did not make sense :3

[2016-05-08 20:51] djkonro commented on #2027
@sils1297 No problem, that is fine with me. I would be happy to help with further contribution when I am done with some pressing school work I am occupied with right now.

[2016-05-09 11:39] Adrianzatreanu opened #2122 "Add section for --show-language-bears"
I think we really need it, it's pretty important to be in the tutorial page of the docs.

It should people how they can find analysis for their language

[2016-05-09 20:23] #2122 closed

[2016-05-09 22:44] jarifibrahim commented on #1909
@Adrianzatreanu You can take this issue if you want. I can't figure out what exactly needs to be done. :)

[2016-05-10 12:26] sils1297 opened #2124 "Installation: Update"
Many people are getting this issue: https://github.com/coala-analyzer/coala/wiki/FAQ#installation-is-failing-help

we should deal with that in the install docs.

difficulty/low
importancs/high

[2016-05-10 12:34] sils1297 opened #2125 "Make first steps better visible"
Installing and running coala for the first time should be really easy. I think we should provide getting started instructions more clearly. Also:

[2016-05-10 12:39] sils1297 commented on #2051
@Makman2 this is kinda urgent, can you look into this soon?

[2016-05-10 12:40] AbdealiJK opened #2126 "Use `--cov-fail-under` in circleci and pytest"
There's this nice `--cov-fail-under` arg in pytest which we should consider as a backup. Especially because codecov became unstable a while back.

Also: `--no-cov-on-fail` would be useful to not do coverage if the tests fails (As it'd be useless anyway)
EDIT: Actually `--no-cov-on-fail` may be useful for debugging sometimes @sils1297 had said once. So maybe we don't want that.

[2016-05-10 12:41] Makman2 commented on #2051
:+1:

[2016-05-10 13:07] loota commented on #2125
It would be astonishing to see right away in the readme.md something along the lines of

"List all available bears
coala --show-all-bears

List bears relevant to JavaScript
coala -l js"

[2016-05-10 13:43] loota commented on #2125
If IRC channel is linked to gitter then it would be nice to also advertise the irc channel in readme.md

[2016-05-10 16:47] #1868 closed

[2016-05-10 23:37] rmariano commented on #2124
Do you plan to address this in the documentation? Maybe we could add the pip version we depend on, to our ``requirements.txt``/``setup.py`` so it's part of the installation. Just my 2 cents.

[2016-05-11 09:00] sils1297 commented on #2124
Neat, I wonder if that would help though since I would guess it first parses the whole requirements.txt before it resolves the dependencies, thus it fails on parsing instead of giving the user a message that a higher pip is needed I guess?

[2016-05-11 10:32] sils1297 commented on #1145
We probably also want to add a "rule" field so bears can yield subresults with rules and ignores can be set appropriately. Instead of setting origin to `SomeBear (W205)` originwould be SomeBear and the `rule` "W205"

[2016-05-11 11:43] sils1297 commented on #2125
Forgot to mention this issue in the commit, but this is fixed by:

- 56f981f README: Mention IRC and telegram
- c9307fe README: Add bear listing examples
- ebeace9 README: Add minimal hello world example
- 2c1e6b4 README: Add pip debian information

(All of which are acknowledged and will be merged when build pass.)

[2016-05-11 11:45] sils1297 opened #2128 "Merge coala and coala-bears README"
both diverge and people seem to land on both of them, I think we should have one of them redirect to the other one or so? Not sure :/

area/documentation
status/needs design

[2016-05-11 12:14] #2125 closed

[2016-05-11 12:17] abhsag24 commented on #2128
maybe we can "generate" the readme for coala-bears at the time of installation? and just update the readme at the repo at the time of a version bump for coala?

[2016-05-11 12:31] Makman2 opened #2129 "Try to use MAST"
MAST features some quite cool machine learning tools we could maybe use :)
https://mast-group.github.io/

[2016-05-11 13:06] SanketDG opened #2130 "InvalidLinkBear: Improvements"
- do not yield a diff of the 301 if there is a large difference between the two urls
- for 4xx,only yield 404 and 410.
- have a ignore regex list to ignore certain urls

[2016-05-11 13:07] #2130 closed

[2016-05-11 18:53] tushar-rishav opened #2133 "Inconsistent headline in `Error handling`"
Refer  **Error handling**  section under  `docs/Users/Install.rst`.

[2016-05-11 19:07] Adrianzatreanu commented on #2027
closing with https://pypi.python.org/pypi/coala-decorators/0.1

[2016-05-11 19:13] sils1297 commented on #2027
This isn't closed as the decorators module still exists in coala. This is resolved when we *use* that module.

[2016-05-11 20:17] #2124 closed

[2016-05-12 11:12] SanketDG commented on #2101
Should we just check to make sure its not a tuple or raise an Exception?

[2016-05-12 14:28] abhsag24 opened #2134 "Option to exit between result prompts"
It'd  be nice to have an option or atleast a message saying, `press ctrl + D to exit`

[2016-05-12 14:56] abhsag24 commented on #2134
print `Please enter the number of the action you want to execute (Ctrl-D to exit)` in the `results` prompt according to discussion at gitter :)

[2016-05-12 15:10] Makman2 commented on #2101
it needs to be checked/catched inside `Linter.run()` so it doesn't crash, maybe log an error or so too^^
-> just check, no extra raise :)

[2016-05-12 15:11] Makman2 commented on #2134
you can just type CTRL+C like you would expect from a terminal application, imo no adjustment needed^^

[2016-05-12 15:12] abhsag24 commented on #2134
@Makman2 but a `(Ctrl-D to exit)` wouldn't harm right?

[2016-05-12 15:37] Makman2 commented on #2134
does coala exit on `CTRL+D`?

[2016-05-13 09:21] SanketDG commented on #1998
@sils1297 Could you give the command and the full log here?

[2016-05-13 09:24] SanketDG commented on #429
@srisankethu Let us know if you are still working on this :smile:

[2016-05-13 09:31] sils1297 commented on #1998
can't reproduce it anymore :/

[2016-05-13 09:31] #1998 closed

[2016-05-13 09:42] srisankethu commented on #429
Yes! I will start by this weekend. I am not at home right now! I have two other assigned issues too. Will complete it soon.

[2016-05-13 10:13] abhsag24 commented on #2134
yes :)

[2016-05-13 12:54] sils1297 commented on #1790
Wait I disagree, we should encourage people to use doctests in regular documentation, I'm against closing this. This can be used to autovalidated docs.

[2016-05-13 13:19] #2087 closed

[2016-05-13 13:19] #2134 closed

[2016-05-13 18:08] souravsingh commented on #1694
@Adrianzatreanu I was away for a while.I will work on the issue

[2016-05-13 19:43] abhsag24 commented on #1995
@Makman2 i'm not sure, if a person want's to store say a `position` without `text` i don't see any harm in that, it shouldn't lead to an error, but at the same time it would mean not being able to calculate line and column which leads us back to our current debate, IMO what we have right now is alright.

[2016-05-14 10:19] #2101 closed

[2016-05-14 10:46] sils1297 commented on #2117
I'm currently thinking about a smart solution: we could introduce a parameter to `split_diff` so diffs get only splitted if they are further away than n lines.

[2016-05-14 11:04] sils1297 commented on #2117
this should fix it from coala side, bears will then be a bit more tolerant by default and can set the distance as they need it

[2016-05-14 12:22] hypothesist opened #2142 "Tests fail with .coarc"
`~/.coarc`:

[code]

Tests failing: `coalaTest`, `ConfigurationGatheringTest`

[2016-05-14 12:23] sils1297 commented on #2142
using `-I`

[2016-05-14 12:26] sils1297 commented on #2142
...should solve that issue :P

[2016-05-14 13:48] Makman2 commented on #1995
yeah it currently works, I think also this is not that important, and especially we don't gain something (nearly) :3

[2016-05-14 13:48] #1995 closed

[2016-05-14 13:56] Makman2 commented on #2142
This could be a duplicate of https://github.com/coala-analyzer/coala/issues/2111

[2016-05-14 13:58] Makman2 commented on #2142
@sils1297 and how does using `-I` solve that? You can't pass `-I` through py.test, or do you mean to change the coala arguments inside the tests?

[2016-05-14 14:00] Makman2 commented on #2117
Though this is often highly problem related, it depends on the tool if they allow to provide for each single issue a separate patch, but the distance parameter is anyway a good idea :)

[2016-05-14 14:00] Makman2 commented on #2117
So yes I agree, this is fixed from coala side, it can't predict which changes belong functionally together.
@Uran198 you agree too?

[2016-05-14 14:55] sils1297 commented on #2117
Yes, the tools should use the distance parameter. @Makman2 can you expose it in the linter?

[2016-05-14 14:55] sils1297 commented on #2142
Inside the tests

[2016-05-14 14:55] #2117 closed

[2016-05-14 15:18] arafsheikh opened #2143 "Documentation parser breaks when malformed `:param` string is passed"
When `:param some_parameter` is used instead of `:param some_parameter:` the following error is received.

[code]

[2016-05-14 15:48] sils1297 commented on #2143
Needs proper error handling with a nice message

[2016-05-14 15:50] Makman2 opened #2144 "Linter: Expose `diff_distance` parameter for `corrected` output format"

[2016-05-14 15:51] Makman2 commented on #2117
See https://github.com/coala-analyzer/coala/issues/2144

[2016-05-14 16:35] sils1297 commented on #2024
We desperately want this for 0.7, it should land soon.

[2016-05-14 18:51] sils1297 opened #2145 "Document Config Generation"

[2016-05-14 18:51] sils1297 commented on #2145
for linter

[2016-05-14 19:21] sils1297 commented on #2051
this was done

[2016-05-14 19:21] #2051 closed

[2016-05-14 19:22] sils1297 commented on #1702
Can this be closed?

[2016-05-15 12:35] #1702 closed

[2016-05-15 12:57] sils1297 commented on #2084
CC @Adrianzatreanu this is probably related to your project.

Bears should get a simple mechanism that downloads (and sets up?) dependencies for them. Later @Adrianzatreanu s bear manager should be able to trigger that.

We should have this ASAP for checkstyle and so on. I'm throwing my time on this one now.

[2016-05-15 14:01] sils1297 opened #2148 "coala readme isn't nice on pypi!"
difficulty/low
importance/critical

Can somebody look at this ASAP? @Adrianzatreanu @AbdealiJK

[2016-05-15 14:03] Adrianzatreanu commented on #2148
What do you mean readme on pypi?
Also why does this have 2 importance labels?

[2016-05-15 14:04] sils1297 commented on #2148
https://pypi.python.org/pypi/coala is totally misformatted! Same for coala-bears.

[2016-05-15 14:06] Adrianzatreanu commented on #2148
Can fix this when i get home, in 4 or 5 hours. Leaving unassigned as its critical and someone may want to work on it earlier than me

[2016-05-15 15:28] #2084 closed

[2016-05-15 15:28] #2144 closed

[2016-05-15 15:39] Makman2 opened #2150 "Move `Shell.escape_path_argument` into `Lint` module"
We don't use this function anywhere, and it has limitations on Windows.

Blocked by removal of `Lint` class.

[2016-05-15 15:40] sils1297 commented on #2046
Apparently nobody wants this :)

[2016-05-15 15:40] #2046 closed

[2016-05-15 15:43] Makman2 commented on #1485
`Lint` is deprecated, hereby maintenance of it is stopped :)

[2016-05-15 15:46] sils1297 commented on #2150
We can move the function into the file?

[2016-05-15 16:02] Makman2 commented on #1485
But Linter doesn't have it currently

[2016-05-15 17:20] Makman2 commented on #2150
oh yeah that's actually a good idea

[2016-05-15 17:56] sils1297 commented on #2129
This is a coala bears issue, moved to coala-analyzer/coala-bears#438

[2016-05-15 17:56] #2129 closed

[2016-05-15 18:14] #2059 closed

[2016-05-15 18:15] #1485 closed

[2016-05-15 18:15] #2150 closed

[2016-05-15 20:37] Makman2 commented on #1598
`escape_path_argument` is deprecated and only used inside `Lint`.

[2016-05-15 20:37] #1598 closed

[2016-05-15 20:47] Makman2 commented on #2050
I'm planning a new parameter (maybe `kind` or `bear_base` or so), that you can set to `GlobalBear` (or explicitly to `LocalBear`, but this would be the default), and `@linter` rearranges the tool chain so that it receives the right params inside run and passes them to a slightly different version of `create_arguments` and `generate_config` (and maybe also `process_output`).

[2016-05-15 22:15] sils1297 opened #2153 "Add LICENSE attribute for bears"
I'm not sure if bears must be AGPLv3 since they use an API from coala that is licensed this way, still their wrapped tools might not be free software and we may want to have a LICENSE attribute.

Any thoughts?

[2016-05-15 22:35] Makman2 commented on #2153
if that is possible I would go for it, more people can use coala.

[2016-05-16 05:25] SanketDG commented on #1790
Closing this as per discussion with @sils1297 and @AbdealiJK

From @AbdealiJK:

:+1:

[2016-05-16 05:30] #1790 closed

[2016-05-16 11:04] fneu commented on #975
@Makman2 feel free :D

[2016-05-16 12:46] AbdealiJK commented on #1145
Note: In CSecurityBear we are adding `exclude_likely_false_positives` which should ideally be removed when this is implemented.
Reference: https://github.com/coala-analyzer/coala-bears/pull/434/commits/f87c6808a1d248144bb66a9ba8f554395f18b4d8#diff-5ae4bb763553c1c0ecf08cf8075a9c9aR27

[2016-05-16 14:20] sils1297 opened #2155 "Ruby: Fasterer"
maybe we can even derive automatic patches from that? Not fully sure.

area/

[2016-05-16 14:21] sils1297 commented on #2155
wrong repo

[2016-05-16 14:21] #2155 closed

[2016-05-16 18:25] #2118 closed

[2016-05-16 21:42] rmariano commented on #2006
As agreed with the team and @sils1297 we should handle the edge case for the diff when there are no `\n` at EOF, by adding a message displaying `\ No newline at end of file`

[code]

Therefore, the idea would be to show both lines (the `-` and `+` equally), plus adding the message at the end.

[2016-05-17 03:22] mr-karan opened #2156 "Linter: Use static message for Result when output format is `regex`"
It would be nice if we can have the option to override the default message of `Results` section in the new Linter v2 API. Would solve the issue at https://github.com/coala-analyzer/coala-bears/issues/31 and other such future bears too, where the linter doesn't have an explanatory error message.

cc @Makman2

[2016-05-17 12:56] Makman2 commented on #2156
What do you want exactly to manipulate?
It's possible modify messages for the default executable check and the custom prerequisite check command. And for the results it depends on the output format, for `corrected` you can provide a message that shall be used everytime, for `regex` you match the message inside the output of the used executable.

[2016-05-17 13:05] sils1297 commented on #2156
Give it a static message instead of a regex match group

[2016-05-17 13:06] Makman2 commented on #2156
ah okay, yes can do that :+1:

[2016-05-17 13:55] Adrianzatreanu opened #2157 ".coafile section for C/C++"
CC @hypothesist as it was his idea

[2016-05-17 14:19] #2157 closed

[2016-05-17 19:22] Makman2 opened #2160 "Self_Correcting_Bears.rst needs an update"
Linter v2 API is there, should be used instead :+1:

[2016-05-18 08:30] abhsag24 commented on #2105
i think we can close this since we've already removed travis?

[2016-05-18 08:59] #2156 closed

[2016-05-18 11:39] yashhsethiya commented on #1969
want to get assigned

[2016-05-18 11:42] Adrianzatreanu commented on #1969
Sure thing! Good luck on it.

[2016-05-19 09:07] Adrianzatreanu opened #2162 "OS X builds section in README should be removed"
This might fix https://github.com/coala-analyzer/coala/issues/2148

[2016-05-19 19:47] #2162 closed

[2016-05-19 19:53] Adrianzatreanu commented on #2148
Closed by https://github.com/coala-analyzer/coala/pull/2163

[2016-05-19 19:53] Adrianzatreanu commented on #2148
reopening until fixing for coala-bears.

[2016-05-19 21:47] #2148 closed

[2016-05-21 01:10] AbdealiJK opened #2164 "Profile coala"
It would be nice to profile coala and know our weaknesses and strengths in terms of speed, memory, etc.

@Udayan12167 suggested https://github.com/nvdv/vprof
Or we could also use cProfiler, etc

I think we should make a wiki page for our own use with these statistics and probably make a script in `.misc` which can generate the results there when we want them.

[2016-05-21 01:17] sils1297 commented on #2164
:+1:

[2016-05-21 10:21] arafsheikh opened #2165 "asciinema on PyPI readme is huge"
Scale size here https://pypi.python.org/pypi/coala

[2016-05-21 10:38] #1419 closed

[2016-05-21 10:40] #2165 closed

[2016-05-21 10:41] arafsheikh commented on #2165
See #2052

[2016-05-21 12:29] Makman2 commented on #2164
See also https://github.com/coala-analyzer/coala/issues/565

[2016-05-21 13:35] hypothesist opened #2167 "Fix wrong param name in Collectors.py doc"
[Line](https://github.com/coala-analyzer/coala/blob/master/coalib/collecting/Collectors.py#L217)

[2016-05-22 06:49] hypothesist commented on #2111
@Makman2 I'm suddenly facing this too. Any solutions to this? Or just `py.test -k "not Conf"`?

[2016-05-22 07:56] sils1297 opened #2168 "OpenEditorAction: Be aware of renamings and deletions"

[2016-05-22 10:12] tushar-rishav opened #2170 "parse_cli: Redundancy in collecting arg list"
We collect the command line args first in [ConfigurationGathering](https://github.com/coala-analyzer/coala/blob/master/coalib/settings/ConfigurationGathering.py#L306) and then again in [CliParsing](https://github.com/coala-analyzer/coala/blob/master/coalib/parsing/CliParsing.py#L40). I am confused here. Since `parse_cli` receives  argument list from ConfigGathering, why do we need to collect args

[2016-05-22 16:15] Makman2 commented on #2111
Yes, just ignore the test via `-k "not ConfigurationGathering"` (or `-k "not Conf"` if it works) :+1:

[2016-05-22 20:17] #1914 closed

[2016-05-22 20:38] tushar-rishav opened #2172 "Avoid displaying menu once patch has been applied"
Currently, coala displays a menu in console.
[code]
If I select option 2, then patch is applied successfully but menu is shown again. I think it would be nice if we just display the `patch applied successfully` and avoid showing the menu for that result again.

For reference please see https://asciinema.org/a/6meb4hc1shjbx5s6qbh9c1kdc

[2016-05-22 20:40] sils1297 commented on #2172
I think we have an issue like this, can you search for duplicates please?

[2016-05-22 20:41] tushar-rishav commented on #2172
Alright. Let me see :+1:

[2016-05-22 20:47] tushar-rishav commented on #2040
I think adding analytics script would also help us keep track of the bouncing rate. Things like how far user has read the docs by scrolling can be also be known. Overall I think it would be useful to have it if we provide a message somewhere saying that we are tracking your behaviour on this doc page.

[2016-05-22 20:51] tushar-rishav commented on #2172
@sils1297  Couldn't find any such issue till May 21, 2015 in coala. Are you sure?

[2016-05-22 21:14] sils1297 commented on #2172
at least there was some discussion about this, it's a tricky thing

[2016-05-22 22:32] Makman2 commented on #2172
in fact I agree with this, after applying a patch the issue is done for me. If the user wants to see exactly what was applied, he uses his IDE anyway (he has probably opened in background) or git (via `git diff`).

[2016-05-22 22:33] Makman2 commented on #2040
like a cookie notification on other websites :)

[2016-05-23 09:45] Asnelchristian commented on #2167
i would like to work on this issue

[2016-05-24 17:11] Adrianzatreanu opened #2174 "Wrong order for PEP and PyImportSort"
So in my file I had: ``from coala_decorators.decorators import generate_repr, generate_eq`` and 2 newlines afterwards to comply to PEP8

I ran ``coala`` and it turned it into:

"""
from coala_decorators.decorators import generate_eq
from coala_decorators.decorators import generate_repr

@generate_eq("manager", "package", "version")
"""

It either did not put them both in a single line, and it also

[2016-05-25 05:30] wolfv commented on #1852
Dear all,

unfortunately, this breaks on Ubuntu 14.04. The package is also not pip installable anymore.

Not sure if there is an easy fix.
[code]

[2016-05-25 06:34] sils1297 commented on #1852
@wolfv https://github.com/coala-analyzer/coala/wiki/FAQ#installation-is-failing-help should solve your problem.

@AbdealiJK @Makman2 `~=` was a convenience alias, right? Maybe we can avoid the problem for debian users by just writing down the whole thing instead of using `~=` to be backwards compatible?

[2016-05-25 06:43] wolfv commented on #1852
Hey @sils1297 thanks! good to know there is a workaround.

However, it will be hard to get everyone on board with this tool if it requires workarounds to install :)
Hopefully you can make it backwards compatible, I guess at work we'll be stuck to Ubuntu 14.04 for a while longer.

[2016-05-25 06:52] sils1297 commented on #1852
@wolfv I'll brew something up right now, then I can give you a command to test it about today. I'm not sure this is possible because it would have to apply for all our dependencies as well. A virtualenv is usually even the recommended way of dealing with things since it avoids problems with other pip installed packages, I can understand that non pythonists or people not accustomed to venvs might f

[2016-05-25 07:07] sils1297 commented on #1852
Related PR: https://gitlab.com/coala/PyPrint/merge_requests/6 needs review, PRs to coala and coala-bears will be following after merge and PyPrint release.

[2016-05-25 08:36] sils1297 commented on #1852
@wolfv can you run `pip install coala --pre` and tell us if that works? I'll update coala-bears in the meantime to be backwards compatible as well.

[2016-05-25 09:50] sils1297 commented on #1852
@wolfv you should now be able to install the prerelease of coala-bears without problems, a confirmation would be nice, maybe something is still using the `~=` operator in some dependency, then we have to carry this upstream.

[2016-05-25 09:52] wolfv commented on #1852
Hey thanks a lot for the hard work!

I tried it, but unfortunately there seems to be some other issue with the stars. Ubuntu's pip version seems to be really too old ...

[code]

[code]

[2016-05-25 09:54] sils1297 commented on #1852
Argh shit. @wolfv it was worth a try but in this case I think we can't do anything without probably breaking coala for lots of users. :/

[2016-05-25 09:55] wolfv commented on #1852
no prob! hope we're upgrading to 16.04 soon :)

[2016-05-25 10:04] sils1297 commented on #1852
seems that'll solve it:http://packages.ubuntu.com/xenial/python-pip

[2016-05-25 23:07] Adrianzatreanu opened #2176 "PackageRequirement - multiple method"
PythonRequirement already has the multiple method implemented which allows having a tuple with many ``pip`` requirements. The same should happen to the base class too.

[2016-05-25 23:08] Adrianzatreanu opened #2177 "Override __eq__ for PythonRequirement"
It should have ``__eq__`` overwritten so that it can be compared with instances of the base class (PackageRequirement)

[2016-05-25 23:10] Adrianzatreanu opened #2178 "PythonRequirement - lists for multiplemethod"
It would be a nice feature to support lists too, besides strings and tuples, to be added as arguments to the ``multiple`` method

[2016-05-26 12:20] #2167 closed

[2016-05-26 14:14] arafsheikh opened #2180 "coala throws exception"
File on which coala was run: http://pastebin.com/S0XHsD3u
coala version: 0.7.0.dev20160522201645

[code]

[2016-05-26 14:36] sils1297 opened #2181 "RubySmellBear doesn't work"
Run the bear on the example on https://github.com/troessner/reek#example and you'll get an exception.

[2016-05-26 14:36] sils1297 commented on #2181
that's actually an issue in coala-bears btw.

[2016-05-26 15:55] #2178 closed

[2016-05-26 17:24] Uran198 opened #2182 "Remove raise_error function"
[Here](https://github.com/coala-analyzer/coala/blob/master/tests/TestUtilities.py#L47) it is:
[code]
Maybe it had some usage in the past, but it apparently only clutters code right now.

[2016-05-26 17:25] sils1297 commented on #2182
this is relevant if you want to make lambdas that raise stuff, it's not used anywhere?

[2016-05-26 17:30] Uran198 commented on #2182
Yeah, only in that lambdas, but for example one of the lambdas:
[code]
How using `raise VersionConflict("msg1", "msg2")` worse?

[2016-05-26 18:02] sils1297 commented on #2182
you can't raise in a lambda because a raise isn't an expression, a function
however is so having a function that raises is the only way to raise a
thing in a lambda

[2016-05-26 18:11] Uran198 commented on #2182
I think all the use cases can be removed with mocks and `side_effect`s. You can use side_effect like:
`import_fn.side_effect = VersionConflict("msg1", "msg2")` to the same effect as with lambdas.

[2016-05-26 18:18] sils1297 commented on #2182
oh yes mocking is way better probably.

[2016-05-26 19:23] Uran198 commented on #2181
It seems that the issue is that resulting json doesn't have name attribute. From the source [code](https://github.com/troessner/reek/blob/master/lib/reek/report/report.rb#L140-L145) of reek it seems that json format should reassemble yaml, which has [docs](https://github.com/troessner/reek/blob/master/docs/YAML-Reports.md). They might be outdated, though, because running on the example I don't rea

[2016-05-26 21:37] #2182 closed

[2016-05-28 13:00] abhsag24 opened #2188 "Add functionality for bears to exit cleanly"
right now there's no way a bear can exit cleanly after say logging an error, i think such type of a functionality would be nice to have for example in the `indentation bear` when there's a case of unmatched `{`, `}` .

[2016-05-28 16:59] #2021 closed

[2016-05-28 17:02] sils1297 commented on #2188
@abhsag24 then the indentation bear should ideally make a result explainig what's wrong right?

[2016-05-28 17:51] abhsag24 commented on #2188
@sils1297 you're absolutely right :P , though i'm still leaving this issue open cause it's a feature worth having regardless :)

[2016-05-28 17:59] sils1297 commented on #2188
can you file an issue against individual bears rather than coala then?

[2016-05-28 18:23] abhsag24 commented on #2188
say we have a Bear of the form
[code]
now if i want to exit from some_function2 i'd do a `self.err` and why the code failed, and then exit like a try-except block, with the functionality right now i'd have to go to rune by returning `None` in `some_function2` and `some_function1` and then `return []` in the `run` method.

[2016-05-28 18:38] sils1297 commented on #2188
ah so something like a BearExit exception

[2016-05-28 18:40] abhsag24 commented on #2188
^kind of but won't it give an ugly traceback?

[2016-05-28 19:05] sils1297 commented on #2188
well coala would just catch it and print attache d info nicely if needed

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 28 May 2016 at 20:40, Abhay Raizada <notifications@github.com> wrote:

[2016-05-28 19:58] abhsag24 commented on #2188
^that seems a like a good enough desing

[2016-05-29 02:19] sils1297 opened #2189 "add information and err to severity map in lint"

[2016-05-29 02:19] sils1297 commented on #2189
and e w i

[2016-05-29 04:23] Makman2 opened #2190 "Linter: Switch to a interface-class-based design"
It would be nice to move out specific output-formats to different classes.

[2016-05-29 04:46] Makman2 commented on #2188
if you just want to exit while keeping control, raise a custom exception (call it `BearExit` or something else, like `UnmatchedParanthesesError`) and catch it inside `some_function1`, where you print the log and don't yield a result any more. I think we can avoid to define some kind of `BearExit`^^

[2016-05-29 05:41] Makman2 opened #2192 "Allow shortcut package imports"
To shorten bear writing (especially for newcomers), it would be nice to have some shortcut modules

[code]

[2016-05-29 07:35] Makman2 opened #2193 "Add space-case algorithm"
Currently case algorithms supported are snake-case, camel-case and pascal-case.

Space-case uses uppercase letters at the beginning of an expression and separates them with spaces:

[code]

Task is to implement a `to_spacecase` algorithm inside `coalib.bearlib.naming_conventions` together with some doctests (see the other algorithms and take them with slight modifications), and also to make the ot

[2016-05-29 08:04] Makman2 opened #2194 "Use filename inside diff as a property"
Every change we make is file-bound, imo it doesn't make sense to have it separate. This also even unclutters our `Result`s, `Diff.affected_code()` gets easier to use, when we provide diffs to a result we don't need a dict, just a sequence of diffs, etc.

[2016-05-29 09:25] ujas800 commented on #2044
do u want like this.....?

(venv) shri@Ujas"___":~/coala-tutorial$ coala --files=1.py --bears=SpaceConsistencyBear --save
**********************************************
python version :: 3.4.3
pip version :: 8.1.2
coala version :: 0.3.0.dev0
**********************************************
Executing section Default...

1.py
|   2| ••••••••--->print("hello")
|    | [NORMAL] SpaceConsistencyBear:
|

[2016-05-29 09:28] ujas800 commented on #2044
do u want like this...?

http://pastebin.com/yMdae6rE

[2016-05-29 15:28] sils1297 commented on #2044
Did somebody delete comments here?

[2016-05-29 20:34] Makman2 commented on #2044
Don't think so^^

[2016-05-29 20:49] sils1297 commented on #2044
I did get emails for commments that aren't there anymore

[2016-05-29 23:58] #2189 closed

[2016-05-30 04:21] sils1297 commented on #2181
@Uran198 are you working on this? It's important, otherwise I'd have to take it up. Need it tomorrowish.

[2016-05-30 04:22] Makman2 opened #2197 "LocalBearTestHelper.check_validity: Remove the `valid` parameter"
... and implement another function `check_invalidity` which makes more sense from user perspective.

[2016-05-30 05:19] sils1297 commented on #2023
@hypothesist is on this, casing algorithms are already present in the bearlib in coala. @hypothesist can you move this issue to coala-bears or close it if there's one already over there?

[2016-05-30 05:32] Uran198 commented on #2181
@sils1297 You should take this, I'm having troubles managing my time lately.

[2016-05-30 05:51] sils1297 commented on #2181
@Uran198 did you find anything more?

[2016-05-30 05:56] Uran198 commented on #2181
No, I think you should either ask them about the format or look up the code.

[2016-05-30 14:03] abhsag24 opened #2199 "External coalang"
so right now coalang files are packaged, which is fine for most of the existing bears but right now they just cover 2 languages and even when they would expand it'd be impossible to cover `all` languages, so it might be a good idea to provide an option for an `external coalang` for undocumented languages.

opinions: @fneu @Makman2  @sils1297

CC: @SanketDG

[2016-05-30 14:14] abhsag24 opened #2200 "Standardize coalang files"
so right now coalang files for the `LanguageDefinition` have been really messy with no standard set of  keys, IMO all coalang files must follow a `standard template` , with setting kept as blank/None/Not applicable when they are irrelevant, this avoids confusions and makes it more usable.

Should be done after #1811

[2016-05-30 14:31] ujas800 commented on #2172
like this.....?

http://pastebin.com/V1BB5csY

[2016-05-30 14:35] sils1297 commented on #2172
@ujas800 that would be one possible way to go, thanks for making a mockup that's very helpful.

I am personally not sure if that's the right thing and I'd love to see a pro/con list about this maybe?

[2016-05-30 14:41] ujas800 commented on #2172
actually i was working on this issue.....after changing my code,i am getting that result....so i was just checking......@sils1297

[2016-05-30 15:29] AbdealiJK commented on #2172
Here is the older issue btw: https://github.com/coala-analyzer/coala/issues/1822

[2016-05-30 15:41] ujas800 commented on #2172
i would like to work on this issue.......!

[2016-05-30 15:52] abhsag24 commented on #2172
@ujas800 this issue is still in the `needs design` phase we are not sure if we actually want this, as @sils1297  pointed out it'd be better to have a pro/con list of removing the interaction and judging whether we need it before trying to solve it.  .

[2016-05-30 15:53] AbdealiJK commented on #2172
@ujas800 This issue is marked as `needs design` because which we're not sure what would be the best way to implement it at first glance. There are various possible solutions, but it may not be nice/elegant/best practice to do it in that way.
Hence, I'd suggest you solve some issues marked `difficulty/low` issues first. As this issue may escalate to a `medium` difficulty or higher it it needs major

[2016-05-30 16:17] ujas800 commented on #2172
I made some changes in coalib/output/ConsoleInteraction.py file.In that file in ask_for_action_and_apply() function,i add some code...
http://pastebin.com/ini9uQRG

[2016-05-30 16:18] ujas800 commented on #2172
and it's giving the result like this.....
http://pastebin.com/V1BB5csY

[2016-05-30 16:44] AbdealiJK commented on #2145
I think the best way is to make a website which has a table of the configs being used right now, the documentation related to that param, and the bears it's being used in. This website/webpage should have a search box for easy searching and should be auto generated from the bears itself.
This webpage would help third party bear writers too ! And would be a really cool one-page documentation of all

[2016-05-30 16:54] Makman2 commented on #2172
@ujas800 I think the approach should be more general, other actions may also want to disappear once used/applied.

[2016-05-30 16:54] sils1297 commented on #2145
@AbdealiJK are you sure this comment was on the right issue? Did you mean to comment on https://github.com/coala-analyzer/coala-bears/issues/460 ?

[2016-05-30 16:58] Makman2 commented on #2199
I'm not sure we want this, more maintenance for us (as stuff gets just more complicated) + it's encouraged to merge settings for missing languages into the repo.

[2016-05-30 16:58] Makman2 commented on #2199
also each class loads everything manually,  we don't have some kind of coalang manager or so^^

[2016-05-30 18:03] AbdealiJK commented on #2145
Yes indeed. I confused the issues.
It was meant for https://github.com/coala-analyzer/coala-bears/issues/460

[2016-05-30 19:23] abhsag24 commented on #2199
^That's what the feature is about, adding that kind of a coalang manager, also do we expect the user to merge his choice of language into coala first in order to use it? and we dont have to manage it right? it's the user's choice if he/she wants to merge it. Also i have opened #2200 so users will have to follow the template their in order to create a new coalang file

[2016-05-30 19:27] abhsag24 commented on #2188
@Makman2  i have done exactly that in my case :P , though wouldn't it be better for future Bears if coala catches this and we can just exit our bears anywhere by raising `BearExit` not sure ?

[2016-05-30 22:28] Makman2 commented on #2114
Just agreed together that this is not really important (and also not cool *cough*) :P

[2016-05-30 22:28] #2114 closed

[2016-05-30 22:30] Makman2 commented on #1869
I wouldn't recommend to move out `Shell`, as there are only a few functions, they are more or less coala specific and the maintenance overhead for such a small package is not wort it imo. Recently I deleted some of the shell functions as they didn't work that well cross-platform.

[2016-05-30 22:31] Makman2 commented on #1133
Will be refactored during https://github.com/coala-analyzer/coala/issues/933

[2016-05-30 22:31] #1133 closed

[2016-05-30 22:32] Makman2 commented on #915
It seems to work quite well in the moment, https://github.com/coala-analyzer/coala/issues/933 will even improve the behaviour when using `multiprocessing.Pool`.

[2016-05-30 22:32] #915 closed

[2016-05-31 06:20] sils1297 commented on #565
@Makman2 sayd possibly "prometheus" can help

[2016-05-31 06:45] Makman2 commented on #2188
I think there's no need to from coding perspective, in fact you can just do inside your run:
[code]

[2016-05-31 06:49] Makman2 commented on #2199
you know that `DocstyeDefinition` has it's own coalangs too? imo this is quite complicated to have some manager, especially as every coalang is distributed in a different module^^ manually loading stuff is easier imo

[2016-05-31 06:59] abhsag24 commented on #2199
yes, but they remain like they are right? we don't change them just add a feature to create own coalangs too. We don't change the existing structure.

yeah so we follow a `standard template` which every coalang has to follow or atleast one template for `LanguageDefinition` and one for `DocStyleDefinition`

[2016-05-31 06:59] AbdealiJK commented on #2188
@Makman2 yes, but it may be better if we provide that boiler plate code to the bear writers.
The point is to make writing bears easy. I agree that this has not been required until now, but that's probably because we're focusing on linter bears which generally don't have lots of functions and are fairly small.
This may be needed for custom complicated bears.

If @abhsag24 's reason for creating thi

[2016-05-31 07:07] abhsag24 commented on #2188
i am yielding a result when i raise the exception now, so it wont help my case anymore i kept this open since it'd be a nice little feature for future bears IMO, but we can close it, if it is not of use right now.,

[2016-05-31 07:19] abhsag24 commented on #2199
we will still manually load most of the stuff, like `JAVA, C, C++, python, ruby` and so on but for more obscure languages like `brainfuck` or `FALSE` we can't expect the user to first send in a `PR` with us in order to load his/her desired language right? especially if they are not a coala contributor.

[2016-05-31 08:45] Adrianzatreanu opened #2203 "PackageRequirement: Make manager private"

[2016-05-31 20:08] Makman2 commented on #2199
well when they can send a PR they can also modify that on their clone and install that.
And what is the "existing structure"? Just the format of the file is the same, there are no naming conventions or anything for the settings.
Alright I think before we are drive this discussion-car into the ocean, we should make a concrete design on how the manager should look like :+1:

[2016-05-31 20:20] Makman2 commented on #2188
yeah let's do it, python has `SystemExit` which is quite similar, in fact we can even use this exception instead of having our own one^^

[2016-05-31 21:02] fneu commented on #2199
Uh, generally I think this is a valid concern but somebody needs to come up with a concept and some free time.

[2016-05-31 21:24] dnozay opened #2205 "No bears to show."
http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html#prerequisites

I just installed `coala` (nothing else) and followed the above page.

[code]

This could tell the user that they need to install something else?
More often than not, new users want to have all the bears.

[2016-05-31 21:39] JelleZijlstra opened #2206 "Can't invoke coala with python3.4 -m coala"
[code]

[2016-05-31 21:42] sils1297 commented on #2205
Feature request, seems sane to me, scheduling for 0.8 maybe?

[2016-05-31 21:46] sils1297 opened #2207 "Improve user interface"
would be good to show the current result only, then clear the screen for the next result to focus.

CC @mr-karan that could be part of your project?

[2016-06-01 03:51] #2176 closed

[2016-06-01 05:00] abhsag24 commented on #2199
well i disagree i think the "user" shouldn't need to modify the code-base in order to use `coala`

Agree i'll try and come up with one soon.

[2016-06-01 10:33] mr-karan commented on #2207
Awesome, I'll look into how to achieve this. Will add to Gitlab milestones

[2016-06-01 15:50] fneu opened #2210 "ConfigurationGatheringTest failing locally but not on CI (and it should!)"
So, ConfigurationGatheringTest fails on current master for me and @abhsag24 and possibly others.

Looking into it I found the following information:

# TL;DR:

[code]
# Analysis

`test_default_coafile_parsing(self):` in `ConfigurationGatheringTest.py` for example contains:

[code]

notice how the first argument is a lambda function returning `True`.

this is `gather_configuration` as defined in `C

[2016-06-01 16:10] fneu commented on #2210
If we look i.e. at the [circleci run}(https://circleci.com/gh/coala-analyzer/coala/6631) on my [last pr](https://github.com/coala-analyzer/coala/pull/2209) from today:

one can see under *$ bash .misc/test.sh*:

[code]

which means that all ConfigurationGatheringTests get run and pass.
Not `F` for fail or `s` for skipped...

[2016-06-01 20:18] vinc456 commented on #1827
I'll work on this.

[2016-06-01 20:21] ingryan commented on #1982
I'll do this!

[2016-06-01 20:26] sophiavanvalkenburg commented on #1780
I'll do this!

[2016-06-01 20:40] ingryan commented on #1982
The documentation at  http://coala.readthedocs.org/en/latest/Getting_Involved/Newcomers.html already uses the tinyurl link, in line 42 of newcomers.rst:

Here is the link that will lead you to `Newcomers issues <http://tinyurl.com/coala-new>`_.

[2016-06-01 20:41] sils1297 commented on #1982
Great, thanks!

[2016-06-01 20:41] #1982 closed

[2016-06-01 20:49] ingryan commented on #1993
I'll fix this, it's a very quick change

[2016-06-02 01:10] #1993 closed

[2016-06-02 01:18] Makman2 commented on #2203
why not keeping it public? makes sense imo

[2016-06-02 01:22] Makman2 commented on #2210
duplicate of https://github.com/coala-analyzer/coala/issues/2111

closing the other one in favor of this because of your debug session?

[2016-06-02 08:54] Adrianzatreanu commented on #2203
Why would you ever want to modify it from outside the class?

[2016-06-02 08:56] #1780 closed

[2016-06-02 09:22] #1811 closed

[2016-06-02 18:05] sils1297 opened #2214 "Add a --verbose alias for -L DEBUG"

[2016-06-02 18:06] sils1297 opened #2215 "Add documentation for all settings exposed by coala --help"
@tltuan this might be something we could do together

[2016-06-02 18:12] tltuan commented on #1963
i'll be tackling this issue

[2016-06-02 18:12] sils1297 commented on #2215
this should go into the coafile specification as a chapter "Common settings"

[2016-06-02 18:19] Adrianzatreanu commented on #429
@srisankethu hey you still on this :) ? it's been a while after 10 may :)

[2016-06-02 18:21] hypothesist commented on #2106
Marking as `status/needs design` for input on how we can classify

[2016-06-02 18:22] Adrianzatreanu commented on #1694
ping @souravsingh

[2016-06-02 18:23] hypothesist commented on #2085
You may use this for reference: https://github.com/coala-analyzer/coala/search?utf8=%E2%9C%93&q=readthedocs

[2016-06-02 18:27] Adrianzatreanu commented on #2006
ping @rmariano

[2016-06-02 18:29] Adrianzatreanu commented on #1969
hey @yashhsethiya are you still working on this :)? if you need help feel free to contact us on gitter! https://gitter.im/coala-analyzer/coala

[2016-06-02 18:46] underyx commented on #2088
I think I'll take this one 🐱

[2016-06-02 18:46] ecsellon opened #2217 "Crash on importing xml.parsers"
Problem encountered using Windows 10, Python 3.5.1
The crashing line works in the interactive interpreter. coala hangs and has to be Ctl+c'ed.

[code]

[2016-06-02 18:47] sils1297 commented on #2088
@underyx it's yours!

[2016-06-02 18:48] ecsellon commented on #2217
coala was installed by building from source with pip3 install -r requirements.txt being run before coala and coala-bears setup.py build/install

[2016-06-02 19:08] underyx opened #2218 "Description of `--save` option is not very descriptive"
Based on this description I thought it would save the results to a file or something:

[code]

Also, it might be worth add something like

difficulty/low
type/documentation

[2016-06-02 19:18] mtomwing commented on #2210
TL;DR if we install coala-bears before running the tests then everything fails as expected.

It looks like `coala-bears` is only installed in the circle-ci plan AFTER the main coala tests are run. When I ran the tests without having `coala-bears` installed everything was grand.

I'm not too familiar with the coala codebase but by looking at:

[code]

It seems like if there are no bears found, then

[2016-06-02 19:22] ecsellon commented on #2217
Released version installed from pip worked fine (no xml import error and no lockup). Pre release version installed from pip was unable to do the xml import but did not lockup as it dumped out after several import failures. Output:
[code]

[2016-06-02 19:38] sils1297 commented on #2210
So we should make this test independent of the installed bears

[2016-06-02 20:00] mtomwing commented on #2210
@sils1297 agreed. Though at some point we should be testing that this branch does work.

[2016-06-02 21:15] Makman2 commented on #2203
it does also officially allow accessing it.

other fields would also not get modified :)

[2016-06-02 21:18] #2088 closed

[2016-06-02 21:21] scottbelden opened #2222 "Bear output has some minor formatting issues"
For example, take the output of the ```PyUnusedCodeBear``` below:

[code]

The line that they are on doesn't have the two space indent like the first line.

[2016-06-02 21:48] Makman2 commented on #2106
does `argparse` support that?

[2016-06-02 21:51] Makman2 commented on #2218
thanks for pointing that out, actually this is really not informative.

maybe something like this?

[2016-06-02 22:38] Makman2 commented on #2217
it could be that the scope gets messed up, `coala-bears` has a directory called `xml`, maybe that's the cause^^

[2016-06-02 22:41] sils1297 commented on #2217
I'm pretty sure actually, good catch

[2016-06-02 22:56] Makman2 commented on #2177
Fixed with https://github.com/coala-analyzer/coala-decorators/pull/17 , as `generate_eq` behaviour now meets the requirements by the `PackageRequirement` class and it's derivatives.

[2016-06-02 22:56] #2177 closed

[2016-06-02 23:19] sils1297 opened #2224 "help: Group arguments to groups that make sense"

[2016-06-02 23:20] scottbelden opened #2225 "Console output of Bears will combine lines that probably shouldn't be combined"
For example, take the output of the ```PyUnusedCodeBear``` below:

[code]

The lines ```- Unneeded pass statements.``` and ```- Unneeded builtin imports. (Others might have side effects.)``` get put on one line. Perhaps hyphens and stars should be treated in a special way that they create new lines.

[2016-06-02 23:21] Makman2 opened #2226 "Linter: Document parameter-passing to the executable better"
Many people seem to struggle with the fact that there's no shell expansion any more, quotes and stuff are removed as they are special characters for grouping stuff.

We need to document that more properly I think^^

[2016-06-02 23:22] #2222 closed

[2016-06-02 23:27] underyx opened #2227 "help: Arguments should take only one line where possible"
1. Descriptions should be reworded to be as short as possible
2. The short form option does not need to describe the value taken by the option if the long form already has it anyway.

As an example:

[code]

could instead be

[code]

As inspiration, here's part of `psql --help`:

[code]

And `docker help`:

[code]

[2016-06-02 23:30] underyx commented on #2224
Also, order the arguments somehow!

[2016-06-02 23:32] sils1297 commented on #2225
Possible ways to deal with this:

- keep newlines
- parse markdownish

[2016-06-02 23:35] sils1297 commented on #2227
related: https://github.com/coala-analyzer/coala/issues/2224#issuecomment-223452658

[2016-06-02 23:36] scottbelden opened #2228 "Remove [BOOL] from the flag arguments"
They aren't needed and are just noisy. For example:

[code]

[2016-06-02 23:40] sils1297 commented on #2205
doing this for this release now since this is a weak point as figured out in usability testing

[2016-06-02 23:50] sils1297 opened #2230 "coala crashes without stacktrace"
Try running `coala -I stupid`

importance/low

[2016-06-02 23:54] underyx opened #2232 "Document all available .coafile global options"
We should have a list that goes something like

- bears: description
- files: description
- ignore: description

[2016-06-02 23:58] sils1297 commented on #2232
duplicate of https://github.com/coala-analyzer/coala/issues/2215

[2016-06-02 23:58] #2232 closed

[2016-06-03 00:17] underyx opened #2233 "Allow setting the default action for all bears with one directive"
Maybe something like

[code]

or even just

[code]

[2016-06-03 00:42] sils1297 opened #2235 "Move tutorial to users section"
_From @sils1297 on June 2, 2016 17:12_

http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html should appear in the users section.

difficulty/newcomer

_Copied from original issue: coala-analyzer/coala-bears#482_

[2016-06-03 00:42] sils1297 commented on #2235
_From @gitmate-bot on June 2, 2016 17:12_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-06-03 01:06] #2205 closed

[2016-06-03 01:11] scottbelden opened #2237 "coala-json output argument should not be a boolean"
[code]

[2016-06-03 01:30] #2210 closed

[2016-06-03 01:45] sils1297 opened #2239 "update main help description"
difficulty/low

see engagement repository for texts

[2016-06-03 01:47] underyx opened #2240 "Warn people about API docs not being appropriate for most users"
difficulty/low
type/documentation

[2016-06-03 01:53] sils1297 commented on #2228
and all the others

[2016-06-03 01:54] sils1297 commented on #2098
duplicate of https://github.com/coala-analyzer/coala/issues/2228 which is currently being worked on

[2016-06-03 01:54] #2098 closed

[2016-06-03 01:59] sils1297 commented on #2215
and maybe make an example

[2016-06-03 06:17] Makman2 commented on #2217
The collector puts each subdirectory inside the given bear-directories (or the default one) into the python path. Maybe if we remove that behaviour this bug vanishes, so bears need to import relatively to itself or from the given bear root directory :+1:

[2016-06-03 16:46] underyx opened #2241 "Add a note about the possibility to use --save when warning about no .coafile being present"
difficulty/low

[2016-06-03 16:49] underyx opened #2242 "Add note about the ignore option on the glob syntax doc page"

[2016-06-03 16:51] underyx opened #2243 "Add a warning about possible issues arising from InvalidLinkBear visiting all links in the code"
In case someone has a `do_not_ever_open = 'http://api.acme.inc/delete-all-data'` URL in the code or something.

[2016-06-03 16:52] souravsingh commented on #1694
@Adrianzatreanu I will start work on the issue

[2016-06-03 16:57] underyx opened #2244 "Check if we can copy anything from html-proofer's URL check edge case handling and behavior to InvalidLinkBear"
The html-proofer project has [code](https://github.com/gjtorikian/html-proofer/blob/master/lib/html-proofer/url_validator.rb) similar to our InvalidLinkBear. Maybe we should check if they're doing something better than we are.

[2016-06-03 17:17] sils1297 commented on #2244
@underyx would be nice to get some input from you on that

[2016-06-03 17:55] sils1297 commented on #2239
possibly doable by @scottbelden during the other help stuff - later

[2016-06-03 18:13] jschwarzwalder commented on #2235
I'm going to try and see if I can do it

[2016-06-03 18:29] Makman2 commented on #2111
Duplicate of https://github.com/coala-analyzer/coala/issues/2210#event-680601791 and got solved by now :+1:

[2016-06-03 18:29] #2111 closed

[2016-06-03 19:01] #2024 closed

[2016-06-03 19:01] #2241 closed

[2016-06-03 19:23] jschwarzwalder opened #2248 ".meta description -Uncommon Capitalization"
in index.rst
`.. meta::`
`    :description: coala is a simple COde AnaLysis Application. `

the O and L are capitalized which is slightly confusing.

Isn't this only read by robots? Do we need the capitalization in the description?

[2016-06-03 19:26] #2235 closed

[2016-06-03 19:27] Makman2 commented on #2248
we should maybe use bold style instead :+1:

[2016-06-03 19:30] underyx commented on #2248
Should check for other occurrences as well such as https://github.com/coala-analyzer/coala/blob/b2e1251359d48eb5f94d9dd70abd0e111eec557f/coalib/parsing/DefaultArgParser.py#L37

[2016-06-03 19:35] underyx opened #2250 "Suggest usage of `git push --force-with-lease` instead of `git push -f` in rebasing tutorials"
area/documentation

[2016-06-03 19:41] jschwarzwalder commented on #2085
On the homepage in the footer there is a link to ReadtheDocs.org

Does that need to be changed

http://prntscr.com/bbzzas

[2016-06-03 19:45] sils1297 commented on #2085
Yes, you can edit it at https://github.com/coala-analyzer/website

@d6e are you still working on this btw.? You closed your PR, do you need help?

[2016-06-03 19:46] sils1297 commented on #2085
@jschwarzwalder oh that footer, that is generated I think so I don't think we can influence that. I thought you meant the links on coala-analyzer.org

[2016-06-03 19:48] sils1297 commented on #2206
@JelleZijlstra so I think this should be done by setuptools, we're using their entrypoints and if they don't provide it we'd have to hack around that which I'd like to avoid :/

Any ideas?

[2016-06-03 19:49] sils1297 commented on #2206
we do:

[code]

[2016-06-03 19:50] underyx opened #2252 "Add a tox.ini to describe the steps needed to run tests"
It's nice to have a standard way to run tests by just running `tox`. We can have tox install coala, install `-r test-requirements.txt`, run `coala` and run `py.test` (on 3.4 and 3.5) removing the need for people to find the testing instructions in the docs.

[2016-06-03 19:52] #2218 closed

[2016-06-03 20:00] JelleZijlstra commented on #2206
Not too familiar with this mechanism, but one part of the puzzle is probably that your library is called coalib rather than coala. When I try to invoke coalib.coala, I get nothing:

[code]
which is better than an error. Maybe you need to add an `if __name__ == '__main__': main()` to coalib/coala.py.

[2016-06-03 20:02] sils1297 commented on #2206
hm, we could do that for all of the binaries - still it would be more of a hidden feature...

[2016-06-03 20:07] jschwarzwalder opened #2253 "Welcome page -- link to Search"
I was trying to explore Coala Read the Docs and discovered that when I clicked on Search it took me to this page - http://coala.readthedocs.io/en/latest/search.html

Clicked from - http://prntscr.com/bc0c75

The page seems empty - http://prntscr.com/bc0byp

[2016-06-03 20:09] sils1297 commented on #2243
This issue was moved to coala-analyzer/coala-bears#490

[2016-06-03 20:09] #2243 closed

[2016-06-03 20:10] jschwarzwalder opened #2255 "Link to main coala site from Index"
I could not find a link to http://coala-analyzer.org/ on the Welcome page.

http://coala.readthedocs.io/en/latest/index.html

Should we include a link?

[2016-06-03 20:13] sils1297 commented on #2255
@jschwarzwalder you're a genius!

[2016-06-03 21:03] #2228 closed

[2016-06-03 21:32] #2242 closed

[2016-06-03 21:46] sils1297 opened #2257 "Tagging: remove it?"
We don't need it!

[2016-06-03 21:46] sils1297 commented on #2257
CC @Udayan12167

[2016-06-03 21:56] underyx opened #2258 "`coala --help` main description should wrap at 80 cols"
Pretty difficult/uncomfortable to read currently:

![](https://i.imgur.com/O3kI3TN.png)

[2016-06-03 22:05] sils1297 commented on #2258
@scottbelden any idea? I'm not sure we might need your custom class for this :/

[2016-06-03 22:17] #2206 closed

[2016-06-03 22:22] sils1297 commented on #2250
I'm not fully sure about that because you have to explain more to new people.

[2016-06-03 22:42] scottbelden commented on #2258
Probably will need to put it in the custom formatter, but that shouldn't be too hard

[2016-06-03 22:48] sils1297 commented on #2257
I and @Makman2 agree that we should just remove it. @hypothesist will get conflicts and has to reintroduce some stuff for caching but at least he doesn't have to care about caching anymore.

@scottbelden is currently working on the help and stuff and maybe also removes the arguments while he's at it so users aren't confused :)

[2016-06-03 22:50] sils1297 commented on #2248
this should get solved with https://github.com/coala-analyzer/coala/pull/2259/commits/1809c21cf1bce49314d48ccf500938243e16e793 which is already acked.

As I was not aware of this issue, I'm closing this manually and without a fixes notice.

[2016-06-03 22:50] #2248 closed

[2016-06-03 22:54] scottbelden commented on #2257
I was just planning to make a deprecated section until it was known for sure that no one was using them.

[2016-06-03 23:01] sils1297 commented on #2224
WIP ongoing by @scottbelden

[2016-06-03 23:19] #2253 closed

[2016-06-03 23:19] #2255 closed

[2016-06-03 23:23] sils1297 commented on #2192
I'm just putting this to `coalib.bears` directly

[2016-06-03 23:37] #2237 closed

[2016-06-03 23:53] Makman2 opened #2261 "docs: Document usage of `python -m pip` if pip is not working"
On windows sometimes pip is screwed, we maybe should document the usage of `python -m pip` then.

Though I'm not sure, it's in fact a platform problem^^

[2016-06-04 00:01] jschwarzwalder commented on #2261
On a Windows 8 a machine, trying to get coala up and running user found these instructions:
http://coala-analyzer.org/#details

`sudo pip3 install coala-bears` does not work, `pip3 install coala-bears` does not work, `pip install coala-bears` does not work.

We tried to add C:\Python34\Scripts to the path, and reinstalling Python 3.5 and continued to get the error message

Fatal error in launcher:

[2016-06-04 00:22] jschwarzwalder opened #2263 "coala Google Results"
When you google coala to learn about the project, there are images of Koala Bears and the main website http://coala-analyzer.org/ is the third link.

The first link is  the Github repository for coala https://github.com/coala-analyzer/coala

The second link is unrelated company with error message on the home page.

[2016-06-04 00:35] jschwarzwalder opened #2264 "Demo (Click to View) Confusing/Fast"
I started learning about the project by clicking on the Github page. I went to the readme and clicked on Demo (Click to View). It opened full screen and I tried to follow along and read the text on the screen and it started to change before I had finished reading everything.

Since it was going so fast I assumed there might be a narrator talking about the project, but I had my volume muted. I look

[2016-06-04 00:40] jschwarzwalder opened #2265 "Is coala a proper noun"
When reading Readme I would have liked the name of the software to stand out in some manner. It was not consistently italicized and was not capitalized. It was primarily noticeable in the second sentence in the [About Section](https://github.com/coala-analyzer/coala#about)

[2016-06-04 00:43] jschwarzwalder opened #2266 "What bears are not coala bears"
When I read the about I read the two following sentences and was confused what "various bears" are not coala-bears

From [About](https://github.com/coala-analyzer/coala#about)

Upon discover I mentioned "rogue bears"

[2016-06-04 00:47] jschwarzwalder opened #2267 "Supported Languages - Link to Bears"
From the About in the Readme I clicked a link that took me to the [Supported Languages](https://github.com/coala-analyzer/coala-bears/wiki/Supported-languages)

I first looked to see if the language my project was currently written was listed - Meteor, then when it was not listed I looked to see if Mongo, Angular, or Express was listed.
I did see that Javascript was listed and hoped that that woul

[2016-06-04 00:49] jschwarzwalder opened #2268 "Wiki - Home is empty"
In the Wiki for Coala analyzer  the Home page has no text, and should possibly be changed to Welcome coala bears!

https://github.com/coala-analyzer/coala-bears/wiki

[2016-06-04 00:51] Makman2 commented on #2250
I'm against this as I agree with @sils1297 , the command looks like it needs more explanation because of the "remote-tip-need-to-be-equal" protection, with our review system there is in principle no possibility to merge such malicious branches (master is protected by GitHub, notification in PR that branch is out-of-date, rultor refuses merge). Our workflow is also more like "that is definitely you

[2016-06-04 00:52] jschwarzwalder opened #2269 "all languages prototype - possibly remove or reorder"
From [Supported Languages](https://github.com/coala-analyzer/coala-bears/wiki/Supported-languages)  I wanted to learn more so I clicked on the first link under Home on the right.

It took me to [all languages prototype](https://github.com/coala-analyzer/coala-bears/wiki/all-languages-prototype) which had the same information in a different layout from what I was looking at.

I then noticed that th

[2016-06-04 00:53] Makman2 commented on #2252
just run `py.test`, also a single command :)

[2016-06-04 01:01] underyx commented on #2250
Can't really refute all that, but just to reply to this one point:

I've deleted my own commit before with a force push when I forgot I had already changed something with the github.com editor :D

[2016-06-04 01:03] AbdealiJK commented on #2263
@tushar-rishav can you add this to your project plan? SEO for website

[2016-06-04 01:04] jschwarzwalder opened #2271 "Available Bears - No details"
As a new user I clicked on the [Available Bears ](https://github.com/coala-analyzer/coala-bears/wiki/Available-bears) and didn't know which bears I needed.

With the bullet icon being a check icon I thought I would need to select which bears to download but I couldn't click on the checkmark.

This made me confused.

I still don't know how to figure out which Bear I might need to use. I'm assuming

[2016-06-04 01:09] jschwarzwalder opened #2272 "Getting Started from Repository & Wiki"
Since the repository was the first thing that came up in Google I wondered if I needed to fork and download the repository to start using it.

I read the ReadMe, specifically the About section, and then went to the pages in the Wiki exploring what languages and Bears are supported and was slightly lost in that area.

I like I likely would have forked the repository at that point since there wasn't

[2016-06-04 01:09] AbdealiJK commented on #2261
Could you provide more details about how python was installed?
It seems to me as though python2, python3, pip2 and pip3 are getting confused by the system.

So:
Which versions of python are installed? Are these installed from the python exe at python.org ?
What's in the path (related to python) ?

I think:
"C:\Python34\python.exe" -m pip install coala-bears
Should work for you

[2016-06-04 01:10] Makman2 commented on #2250
don't do so :3

[2016-06-04 01:19] jschwarzwalder commented on #2261
I have Python27 and Python34 installed on my computer
I had someone who did this for me on Monday.

I had to add those folders to my path
Before today I only have Python27/Scripts in my path

As part of my troubleshooting I tried to add Python34/Scripts to my path and even removed Python27/Scripts from my path
each time I was getting the same error that `Fatal error in launcher: Unable to create p

[2016-06-04 01:21] jschwarzwalder commented on #2261
I downloaded Python 3.5.1 and reinstalled it from https://www.python.org/downloads/ to try and solve the problem but continued to get the issue.

[2016-06-04 01:24] Makman2 opened #2273 "Document special commands like coala-ci or coala-json"
The user doesn't find that.

[2016-06-04 01:25] jschwarzwalder commented on #2261
We were able to use `python3 -m pip install coala-bears` and found success

[2016-06-04 05:46] scottbelden commented on #2227
This was probably already accomplished by the changes made in https://github.com/coala-analyzer/coala/commit/4b95446fad9a7903eced91645ca2941335cbbad7

[2016-06-04 05:49] sils1297 commented on #2227
I still we might still wanna look into some rephrasings, making stuff more concise

[2016-06-04 06:27] Makman2 opened #2275 "windows: Add .msi installer package"

[2016-06-04 06:39] #2224 closed

[2016-06-04 06:43] AbdealiJK commented on #2275
I think msi are fairly easy to generate with `python setup.py bdist_wininst`
Never used it though ...

It complains:
[code]
On Ubuntu, but should work on windows

[2016-06-04 15:34] Shreyas94 commented on #2271
Another newbie here. The choice of bears is upto you. It depends on the standards you would like your code/text to conform to. Posting that here might be helpful.  In the wiki page, bears listed under the generic bear can be applied to all languages. To determine which bears can be used for your language use the following command(in this example C):
`$coala --show-language-bears C`

[2016-06-04 15:52] sils1297 commented on #2271
Hey @Shreyas94 what exactly are you suggesting?

[2016-06-04 16:12] Shreyas94 commented on #2271
@sils1297  The user has raised an issue of missing documentation. I am merely providing her the information she needs while this issue is fixed.

[2016-06-04 16:16] sils1297 commented on #2271
Ah :) thanks

[2016-06-04 16:20] sils1297 opened #2276 "Document bear API"

[2016-06-04 18:11] sils1297 opened #2278 "Rename coala to coala-core"
People are installing coala and wondering why they're not getting bears. the coala package should just contain something useful for users, which is effectively coala-bears :)

[2016-06-04 18:23] sils opened #2279 "Unite outputs to one binary"
_From @sils1297 on June 4, 2016 18:23_

It's confusing for users to have `coala-...`.

We probably wanna have a `--json` argument instead because all those outputs are not different functionality.

_Copied from original issue: coala-analyzer/coala-bears#494_

[2016-06-04 18:23] sils1297 commented on #2279
_From @gitmate-bot on June 4, 2016 18:23_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-06-04 18:29] underyx opened #2280 "Replace cryptic arglist with useful usage examples in --help"

[2016-06-04 18:32] underyx opened #2281 "Rewrite the project abstract/description"
@treyhunner — https://github.com/coala-analyzer/engagement/blob/4f8b5a0c57ae5dd27d6e3ad376fa92587fea53b8/trigger-statements.txt

---

@singingwolfboy — https://pyconsprints.slack.com/archives/coala/p1465064158000004

[2016-06-04 18:37] underyx commented on #2279
`coala` ➡️ `coala`
`coala-ci` ➡️ `coala --non-interactive`
`coala-json` ➡️ `coala --json`
`coala-format "{foo}: {bar}"` ➡️ `coala --format=""{foo}: {bar}""`
`coala-dbus` ➡️ `coala-dbus`
`coala-delete-orig` ➡️ `coala-clean`

[2016-06-04 18:47] sils1297 commented on #2265
Alright so the solution here is to make coala italic in all places.

@Makman2 interested? Quickie.

[2016-06-04 19:03] sils1297 commented on #2273
duplicate of #2279

[2016-06-04 19:03] #2273 closed

[2016-06-04 19:13] underyx opened #2283 "Warn about or ignore env/venv/.env/.tox directories automatically"

[2016-06-04 19:42] Makman2 commented on #2278
do we even want to rename the repository?

[2016-06-04 19:47] Makman2 commented on #2230
Confirmed

[2016-06-04 19:50] sils1297 commented on #2278
yes

[2016-06-04 19:56] underyx opened #2284 "Set up proselint"

[2016-06-04 19:59] Makman2 commented on #2230
extracted the traceback somehow:
[code]

so:
1. fix this error
2. investigate why no stacktrace is printed

[2016-06-04 20:59] tmylk opened #2285 "Improvement suggestion: SpaCy instead of NLTK for part of speech tagging"
Comparison of SpaCy to NLTK by the author of SpaCy
https://www.quora.com/What-are-the-advantages-of-Spacy-vs-NLTK

[2016-06-04 21:01] sils1297 commented on #2285
CC @Makman2 @SanketDG for GitCommitBear

[2016-06-04 21:02] sils1297 commented on #2285
This issue was moved to coala-analyzer/coala-bears#495

[2016-06-04 21:02] #2285 closed

[2016-06-04 21:18] sils1297 opened #2287 "nobody finds default_actions"

[2016-06-04 21:44] underyx opened #2288 "Drop Python 3.3 support"
Python 3.3 never had a significant user base and wasn't part of any distribution's LTS release.

[2016-06-04 22:26] underyx opened #2289 "Use py.test's awesome features"
[ ] Plain `assert` statements
[ ] py.test fixtures
[ ] Parametrization

[2016-06-04 22:35] sils1297 commented on #2283
you mean coala should have special handling for that stuff?

[2016-06-04 22:46] underyx commented on #2283
Yep.

[2016-06-04 22:48] sils opened #2290 "Allow bear names to be used without the "Bear" suffix"
and remove `Bear` from the names, useless

[2016-06-04 22:49] underyx commented on #2287
Should have an arg like `--fix-all` or something.

[2016-06-05 00:49] sils1297 commented on #2283
For what exactly? .tox? .git? We can add this to a system wide coafile, we install one automaticlaly.

[2016-06-05 01:36] Makman2 commented on #2288
Are there any new modules we can use functionality from? if not there's no need to imo^^
(there's only one case I remember, and this is `partial_method` which is copied into our coala future module^^)

[2016-06-05 01:38] underyx commented on #2288
@Makman2 Well I mean, dropping support doesn't mean it has to stop working, it's just that we will stop checking if it works.

[2016-06-05 01:43] Makman2 commented on #2288
Feel free to make a cEP :P

[2016-06-05 04:40] #2230 closed

[2016-06-05 04:40] #2265 closed

[2016-06-05 07:37] abhsag24 commented on #2276
@sils1297 you mean the bear class?

[2016-06-05 10:19] tushar-rishav commented on #2278
Changes required:
 * Rename the current repo.
 * Change the package name at PyPi
 * Change the entry point in setup.py.

I am not sure if this should go with medium label. Anything I might have missed?
@sils1297 @Makman2

[2016-06-05 10:34] AbdealiJK commented on #2278
Question: Will the readthedocs link be `coala-core.readthedocs.io` ?

It would be nicer if we do this along with the GitLab migration ...
Because then all developers can change their git remote links once instead of twice.

Extension of things needed to be done:
 - Rename the current repo
 - Need to register the new package at PyPI
 - Change names in docs and website
 - Change requirements.txt fil

[2016-06-05 10:35] tushar-rishav commented on #2284
I like this tool. But IMO this issue should rather go with coala-bears.
@sils1297 We want this?

[2016-06-05 10:37] AbdealiJK commented on #2284
We already have ProseLintBear - https://github.com/coala-analyzer/coala-bears/blob/master/bears/natural_language/ProseLintBear.py

We could look into improving the configs if you like, but it **is** there.
@underyx Is that what you meant by set-up ?

[2016-06-05 17:16] sils1297 commented on #2199
/me likes this solution

[2016-06-05 18:14] sils1297 commented on #2257
@hypothesist you'll wanna have a fixes for this in your commit

[2016-06-05 18:15] hypothesist commented on #2257
Oh right, didn't know about the issue.

[2016-06-05 18:41] adtac opened #2297 "Add test for `([` in GlobbingTest"
There is nothing that tests that `([xy])` works as expected

[2016-06-05 19:13] underyx commented on #2284
Yes, that's what I meant, sorry about the ambiguity. We had lots of
documentation commits lately and thought it would be nice to have writing
style checks for them.

On Sun, Jun 5, 2016, 3:37 AM AbdealiJK <notifications@github.com> wrote:

[2016-06-05 19:37] Makman2 commented on #2199
hm yeah that's quite simple :+1:

[2016-06-05 20:52] Makman2 commented on #2278
the readthedocs domain is not linked to our repository name, they can be different. I (and @sils1297) would keep the current domain name, as `coala.readthedocs.io` makes sense and is more memorable.

The entrypoint shall not be changed at all, `coala`-command keeps its name.

[2016-06-05 22:59] #2199 closed

[2016-06-05 23:09] sils1297 commented on #2288
@underyx so currently we don't feel any big pain of supporting 3.3, 3.2 was far worse. Any particular reason?

[2016-06-06 00:25] underyx opened #2299 "Use the editor set in $EDITOR if available"

[2016-06-06 00:26] underyx commented on #2288
@sils1297 @Makman2 are you actually testing if the code still works on 3.3?

[2016-06-06 00:27] sils1297 commented on #2287
Found a way to alias argparse stuff, will look into this. I'll first solve https://github.com/coala-analyzer/coala/issues/2233 for this and alias it to that then.

[2016-06-06 00:28] sils1297 commented on #2288
CI does that

[2016-06-06 00:30] sils1297 commented on #2233
I'll go for the first, have a CLI option that is simple, see #2287

[2016-06-06 00:42] underyx opened #2300 "If a glob pattern matches a directory, automatically match the entire directory recursively"
if I have a directory with these files:

[code]

`ignore = foo/**` will successfully ignore `./foo/bar/baz`, but `ignore = foo` will not. Implementing this should also result in a large performance improvement, since we won't even have to walk into `foo` and all of its subdirectories at all anymore.

[2016-06-06 01:08] Makman2 commented on #2299
though that could be tricky in windows :3

[2016-06-06 01:09] sils1297 opened #2301 "`coala -z` fails due to argparse"
_From @sils1297 on June 6, 2016 1:5_

area/cli
type/bug

_Copied from original issue: coala-analyzer/coala-bears#501_