[2017-03-21 14:09] all3fox commented on #2914
Well, the github for `oh-my-zsh` features plugins that seem to enable `bashcompinit`, so I would say yes:

https://github.com/robbyrussell/oh-my-zsh/search?utf8=%E2%9C%93&q=bashcompinit

[2017-03-21 15:12] #3947 closed

[2017-03-21 15:16] NiklasMM commented on #3963
In the file there are two instances of test cases which pop the `os.environ` and later restore it, e.g. [here](https://github.com/coala/coala/blob/master/tests/results/result_actions/OpenEditorActionTest.py#L146). This should be done in the setUp and tearDown methods of the class instead. See [here](https://docs.python.org/2/library/unittest.html#unittest.TestCase.setUp) for more info.

[2017-03-21 15:19] NiklasMM commented on #3948
@gunanksood are you still working on this?

[2017-03-21 16:38] jayvdb commented on #3961
Can you provide a log file.
This should be raised upstream.

The `appveyor DownloadFile` is not a good long term solution, which for example as a default timeout of 5 minutes according to https://www.appveyor.com/docs/how-to/download-file/#start-filedownload-cmdlet.

[2017-03-21 16:49] adtac commented on #3961
We can give a custom timeout (let's just set it to something arbitrarily large like 15 minutes). And if a 25 MB file is taking longer than 5 minutes, then we might as well restart that build (Appveyor has insanely fast internet).

All builds in coala/coala were failing (can't sign into Appveyor for whatever reason right now, but take a look at any of the builds before my build).

[2017-03-21 16:51] adtac commented on #3961
This is at least a temporary workaround. Obviously curl is a better option, I agree. If they fix it upstream (I didn't actually investigate it for too long - everybody was complaining their tests were failing), we can revert the commit.

[2017-03-21 16:53] jayvdb commented on #3961
http://help.appveyor.com/discussions/problems/6312-curl-command-not-found - already fixed ages ago.

[2017-03-21 16:56] adtac commented on #3961
Okay that was fixed three hours ago :D I'll make a new PR using that.

[2017-03-21 17:26] #3619 closed

[2017-03-21 20:04] Makman2 commented on #3904
Don't understand the relation.

Hm that's like putting all of them into `Constants.py`. The thing is I (myself) don't want to separate the messages completely from their context.

Messages are tested by testing functionality of the module using them, this differentiation is too ambiguous imo.

[2017-03-21 20:06] Makman2 commented on #1869
just python.

[2017-03-21 20:06] Makman2 commented on #3389
@jack17529 feel free to take over ;) don't let the PR be wasted ;)

[2017-03-22 01:21] jayvdb commented on #3878
@Madhukar-SH , how do you reproduce this bug?

When I look at a [recent Python 3.3 log](https://travis-ci.org/coala/coala-bears/jobs/213323653), I see vim-vint installing without any error.

[2017-03-22 05:17] jayvdb commented on #3878
cc @prnvdixit who I think raised this issue on Gitter.

I've also done a [py27 build](https://travis-ci.org/coala/coala-bears/jobs/213701320) on https://github.com/coala/coala-bears/pull/1529 , and setup works there also : https://travis-ci.org/coala/coala-bears/jobs/213701320#L1331 .

[2017-03-22 06:49] jayvdb commented on #3878
@Madhukar-SH , if you see https://gitter.im/coala/coala?at=58bf8aed1465c46a56ffb9c7 , the issue reporter was using `pip3`.

Anyway, you need to know how to reproduce the problem in order to know that you have fixed it.

[2017-03-22 07:27] Madhukar-SH commented on #3878
Well that is the reason (pip3) I limited the version check to 3.4 and less ;)
Sure let me try to reproduce the bug.

[2017-03-22 10:18] Adrianzatreanu commented on #1348
@adtac maybe you'll consider doing this at some point

[2017-03-22 10:18] adtac commented on #1348
thanks, @Adrianzatreanu

[2017-03-22 10:18] adtac commented on #1348
@Adrianzatreanu I will, maybe I'll do a GSoC on this project! That's a good idea!

[2017-03-22 10:22] adtac commented on #2699
Unassigned myself because this is going to be a GSoC project :)

[2017-03-22 10:28] adtac commented on #3645
Engagement is perfect for this.

Anyway, here's the list of users with 0 assigned issues and 0 merged PRs: http://ix.io/pag (don't remove rultor though!)

IMO that's a good starting point. @NiklasMM had an idea: we mention everybody in a github comment saying "we'll remove you from the org in a week; if you want to stay, reply here". This way everybody gets an email. The barrier for re-entry is su

[2017-03-22 10:32] jayvdb commented on #3645
Good way to get your account *disappeared* by GitHub.  I speak from experience..

[2017-03-22 10:34] adtac commented on #3645
That's unfortunate. How do notify them? Just do a `@/all` in the gitter main channel?

[2017-03-22 10:38] NiklasMM commented on #3645
Paying attention to Gitter is not really required, but then again the low re-entry barrier should make a small amount of over-kicking ok anyway.

@adtac can we also get the time a user joined the org? That way we could exclude people who are members for less than a month or so.

[2017-03-22 10:40] adtac commented on #3645
I can't find a way to get the join timestamp through Github's API :/

[2017-03-22 11:16] adtac commented on #3645
Managed to use gitter's API to filter out people who're recent newcomers (i.e. anybody who has been mentioned in the gitter main channel in the past month). Here's the newer, shinier list: http://ix.io/pao

[2017-03-22 12:25] all3fox commented on #3955
The address you mention is working fine now:

[code]

Please close issue or explain in more detail what you mean by:

[2017-03-22 12:31] jayvdb commented on #3645
`@sils1297` is a bit special, and might be needed for some purpose.
Otherwise, the list looks good to remove.
Can we have the script merged first?
Maybe first email them via their github email address, if public, and ping them on gitter.

[2017-03-22 13:18] jayvdb commented on #3645
For the first/simplest removal of "never engaged", an extra safety feature (which can be added later) would be to exclude anyone who has reviewed a PR.  It might exclude a few more usernames from the initial cull, but it will mean the script is more re-runnable and can't remove productive/helpful people who were active only as a reviewer over a month ago.
How helpful their review was is hard to de

[2017-03-22 14:12] NiklasMM opened #3968 "Writing_Linter_Bears.rst: Add documentation for global linter Bears"
https://github.com/coala/coala/pull/3652 has added support for global linter bears.

We need to also add this to the documentation.

[2017-03-22 14:34] RohanVB commented on #3306
I can reproduce this.
`[INFO][20:02:36] Applied 'ShowPatchAction' on 'something.py' from 'SpaceConsistencyBear'.`
and the patch isn't applied.
@Nosferatul still working on this?

[2017-03-22 14:38] Siddhartha1234 commented on #3824
@jayvdb There are cases where tags as used which aren't valid according to RSTcheckBears since according to them , It should be a "directory" where as we didn't use it that way. Should all of them be resolved according to the RSTcheckBears guidelines( That will be a huge list and quite unnecessary) .

[2017-03-22 15:16] #3693 closed

[2017-03-22 15:25] coala-bot opened #3969 "Prompt users if they want to install `coala-bears` if they install coala"
Terminal prompt for:
[code]

Not sure if we want this. Open for discussion.

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=58d2977b8fa163395405b04f) by @RohanVB

[2017-03-22 15:32] jayvdb commented on #3693
Whoops.  None of the commits included "Fixes ..." for this issue, but github still closed it.

[2017-03-22 15:57] #3537 closed

[2017-03-22 16:06] adtac commented on #3645
(which can be added later) would be to exclude anyone who has reviewed a PR.

That's going to be a bit difficult. There's no API to look for that I think.

As for the scripts: script to get the raw data <http://ix.io/pal>, script
to filter newcomers based on gitter <http://ix.io/paU> :)

On Wed, Mar 22, 2017 at 6:48 PM, John Vandenberg <notifications@github.com>
wrote:

[2017-03-22 16:19] jayvdb commented on #3000
No, the goal is to determine if `3to2` can be used to make coala run on Python 2, while continuing to use Python 3 syntax that isnt supported on Python 2.

I've been playing around with `guess-language` and `language-check`, and they both have the problem that `3to2` must be pre-installed, at least with the current version of `pip`.  https://github.com/myint/language-check/issues/36 .

[2017-03-22 16:27] meetmangukiya commented on #3912
If something like this is possible, why don't we lock all the files that coala loaded, after loading ?

[2017-03-22 18:15] Makman2 commented on #3912
Possible, though not sure how this impacts performance and how OS handles that^^

[2017-03-22 18:20] Makman2 commented on #3306
Assigning @RohanVB. @Nosferatul if you want to pick it up again, reply ;)

[2017-03-22 18:22] meetmangukiya commented on #3956
@imshashwataggarwal please assign before you start working on an issue, I'm assigning for now, but in future ensure to assign before working on an issue.

[2017-03-22 18:33] meetmangukiya commented on #3902
@Riyuzakii assign before start working on an issue

[2017-03-22 19:40] coala-bot opened #3971 "Git_Basics.rst: Tell newcomers to use their favorite search engine if they would like more information/commands"
Opened via [gitter](https://gitter.im/coala/coala/?at=58d2d32a58ad4eb028406b72) by @supergr35

[2017-03-22 20:31] meetmangukiya commented on #3912
Seems like we should be having this already.

Some googling shows that the locking a file doesn't really make it read-only for that process. Also I looked at locking files in python, but they are mostly used to ensure the threads in that program don't write simultaneously.

Maybe we can change file permissions to read only until coala executes. Most probably it will not be possible I guess.

[2017-03-22 20:48] Makman2 commented on #3912
No I don't mean to use thread locks, but file lock mechanisms. For example just opening a file for write locks it for other apps for writing.

[2017-03-22 21:02] coala-bot opened #3972 "Linter.py docstring: Annotate parameters in code examples"
The third example using `generate_config` should have the params `lintmode` and `enable_aggressive_lints` annotated with `str` and `bool` respectively. Also the `str` function has to be applied inside the code to properly render the boolean to a string for `enable_aggressive_lints`.

Opened via [gitter](https://gitter.im/coala/coala/?at=58d2e6516701410e5865f64a) by @Makman2

[2017-03-22 21:35] NiklasMM opened #3973 "Development_Setup.rst: "Building Documentation" use setup.py instead of make"
The Development_Setup guide on the issue of generating the documentation:

This is not correct (anymore), there isn't even a makefile. The documentation can be built with `python setup.py docs`.

[2017-03-22 21:37] NiklasMM commented on #3973
Ah yeah, don't mind me, didn't read the "enter the docs directory" part :see_no_evil:

[2017-03-22 21:37] #3973 closed

[2017-03-23 00:11] sims1253 opened #3975 "writing linter bears doc: config_file parameter description is lacking"
there is this:
`config_file: The absolute path to a config file to use. If no config file is used, this parameter is None. More on that later.`

And there is not really anything else about that later.

[2017-03-23 08:19] jack17529 commented on #3182
@jayvdb  I was able to resolve it when I first got that error in my UBUNTU.

[2017-03-23 14:10] adhikasp commented on #3969
Yes it doesn't make sense to only have coala, except they already know what they are doing (writing/using independent bear).

But if practical, maybe prompt for `cib` instead? That would make first time installation more painless.

[2017-03-23 15:42] #3316 closed

[2017-03-23 18:37] userzimmermann opened #3977 "issubaspect()"
We need some quick way of checking if an aspect is a subaspect of another aspect, to allow defining bear aspects by some parent, like...

[code]

... which means that our bear should support all subaspects of `CommitMessage`. Then we need to check if user-requested aspects, like `CommitMessage.Shortlog.ColonExistence`, are subaspects of the defined parent.

So I propose an `issubaspect` function t

[2017-03-23 19:10] rohanraju97 opened #3978 "Add additional "SEE_MORE" attribute to the bears of coala."
Add additional attribute in the Bear.py file which has links to the tools used in that particular bear.

[2017-03-23 20:18] rohanraju97 commented on #3978
@userzimmermann I guess it's done! :)

[2017-03-23 21:39] Makman2 commented on #3977
Maybe we implement this function also for each aspect itself, so you can do something like this?
[code]

[2017-03-23 22:59] Makman2 commented on #2499
Is this still valid? Imo ordering of results breaks the principle of coala submitting tasks to different processes. If ordering is necessary, a filter should be applied on result-handler side.

[2017-03-23 23:03] satwikkansal opened #3981 "CliParsing.py: Typo in the error raised"
In `check_confilicts` function,

"'no_config' cannot be set together 'save' or 'find_config'."

should be

"'no_config' cannot be set together **with** 'save' or 'find_config'."

[2017-03-23 23:31] Makman2 opened #3982 "Bear.py: If check_prerequisites fails on a requirement, and if it has a version, it shall be contained inside the error message"
~~Shall be applied on both classes (as a code-copy), the `coalib.bears.Bear` and the new  `coalib.core.Bear`.~~

Just implement inside `coalib.bears.Bear`, I'll pick in the changes into `coalib.core.Bear` once it gets integrated finally :+1:

[2017-03-23 23:46] Makman2 opened #3983 "Linter.py: Also check for REQUIREMENTS"
`@linter` currently only checks for the executable and ignores the check of the base `Bear`. This should be implemented.

One thing:
I'm not sure whether the old check for the executable should be removed. @sils stated this in one of my outdated PRs:

Although I said "Will do that", I think it's a good safety check we should maybe keep.

Another thing:
The best is to refer to the base class' `chec

[2017-03-23 23:52] Makman2 commented on #2401
Moved to https://gitlab.com/coala/package_manager/issues/52.

[2017-03-23 23:52] #2401 closed

[2017-03-24 08:25] RJ722 commented on #3931
Hi @Techievena
Can you please help me out here as I am not able to find any such occurence. I ran:
[code]
(There were several results, but none of them violated the style guideline.)
[code]
(There were no results.)
What am I doing wrong? Thanks!

[2017-03-24 11:17] RJ722 commented on #3931
Hi @Techievena
Can you please help me out here as I am not able to find any such occurence. I ran:
[code]
(There were several results, but none of them violated the style guideline and none of them was in tests/aspects.)
[code]
(There were no results.)
What am I doing wrong? Thanks!

[2017-03-24 13:46] adtac commented on #3645
@jayvdb this is the list of users without an email address: http://ix.io/pdS

I don't think we have a better option than @mentioning them in gitter.

The rest of the users have email addresses and I have the list with me (not posting it here because spam). We'll just send them an email saying "We're removing you from the org and you have seven days to respond if you want to stay" or something like

[2017-03-24 15:53] #3644 closed

[2017-03-24 16:08] SanketDG commented on #3374
@jayvdb IMO this issue shouldn't change occurences of assertRaises that do not have a message

[2017-03-24 18:24] RJ722 commented on #3920
Hello @jayvdb!

Can you please help me with the structure of the code, I am unable to find where the code for testing doc resides. Do we have to make changes in the Bear for the same?
Thanks!

[2017-03-24 18:26] RJ722 commented on #3904
So, should we start working in this direction: centralizing all the error message strings on the module scope?

[2017-03-24 19:30] jayvdb commented on #3182
@jack17529 , I have unassigned you so that you follow the newcomers guide, which is to *finish* solving issues of difficulty newcomer and low before assigning yourself to medium difficulty issues.

[2017-03-24 19:30] jayvdb commented on #3816
@jack17529 , I have unassigned you so that you follow the newcomers guide, which is to *finish* solving issues of difficulty newcomer and low before assigning yourself to medium difficulty issues.

[2017-03-24 21:12] coala-bot opened #3986 "GlobalBearTest needs more tests added"
Opened via [gitter](https://gitter.im/coala/coala/?at=58d58babb2eadab3653bab4f) by @jayvdb

[2017-03-24 21:21] coala-bot opened #3987 "Add strict .coafile mode"
Some of coala warnings indicate .coafile has problems.
Warnings are also useful in TTY mode, but have lesser value in CI mode.
Some CI users might like to have only warnings for config related problems, such as missing bears, so that their CI doesnt turn red regularly, and the rest of their CI works.
Other CI users would see a config error as a regression that must be fixed. so a strict mode cant

[2017-03-24 21:48] Techievena commented on #3931
Try with `git grep ' ):'` instead :wink:

[2017-03-24 22:10] jayvdb commented on #3986
`git grep GlobalBear tests` looks like there are only about 6 test methods.

[2017-03-24 23:08] jayvdb commented on #485
We have a json result bridge.  That is probably enough.  It still requires a thin bear, which provides metadata, but avoiding that would be hard to maintain, as it would require a well defined memory data structure for the metadata, whereas coala regularly adds new fields to the bear metadata.  Maybe revisit this in a few years.

The other option would be to provide the scaffolding so that a bear

[2017-03-24 23:08] #485 closed

[2017-03-24 23:40] Siddhartha1234 commented on #3983
@Makman2 super should work fine. Should I add it as an error message ?

[2017-03-25 00:03] Makman2 commented on #3983
What do you mean?

[2017-03-25 00:04] Makman2 commented on #3904
yeah would say so :)

[2017-03-25 00:13] Makman2 commented on #3987
I would encourage people writing good .coafiles, so I think we should make this "strict-mode" default and the only mode^^

[2017-03-25 03:20] RJ722 commented on #3931
Thanks @Techievena

Tried it, but nothing in there! :disappointed:

[2017-03-25 03:45] Techievena commented on #3931
Try it inside coala repository

[2017-03-25 09:18] jack17529 opened #3988 "Mistakes in Develepment_Setup.rst"
Newcomers is wrongly written replace by newcomer's.
Git is mentioned as Git instead of git.

[2017-03-25 09:19] jack17529 commented on #3988
Sending PR here - https://github.com/coala/coala/pull/3922

[2017-03-25 09:23] jayvdb commented on #3988
Why do you mention #3922 here - that is an unrelated issue.

I am currently investigating this new issue, and will give it a difficulty rating shortly. If it is a newcomer issue, it should be left for someone else to solve it, so please do not send a PR yet.

[2017-03-25 09:23] all3fox commented on #3946
Hey @Flap-Py, what progress have you made so far? Are you stuck/do you need help?

[2017-03-25 09:26] jayvdb commented on #3988
I can not find this problem in https://github.com/coala/coala/blob/2ac102/docs/Developers/Development_Setup.rst

Ok, I see the section header "Installing from Git" , which could instead be "Installing from git" .

[2017-03-25 09:42] jack17529 opened #3989 "Use . in the end of line in Development_Setup.rst"
Missing "." in the end of using.

[2017-03-25 09:43] jack17529 commented on #3989
Did send a PR here - https://github.com/coala/coala/pull/3922#issuecomment-288646775

[2017-03-25 10:32] jack17529 commented on #3988
Oh its written like newcomers' , I have poor english ! , never saw something written like that before.

[2017-03-25 10:49] jayvdb commented on #3989
This is invalid.  Those `using` are not the end of a sentence.
Please stop creating issues ... just finish your PR.

[2017-03-25 10:49] #3989 closed

[2017-03-25 10:53] jayvdb commented on #3988
The problem is it is half invalid ... wasting other peoples times.  As you say, you're English is not very good.  Do not try to raise bugs or fix grammatical issues.
The Git->git thing is not a problem.
Closing as invalid.

[2017-03-25 10:53] #3988 closed

[2017-03-25 11:22] GeorgeMD commented on #3292
I'd like to continue this. I'm looking at what tibi started right now.

[2017-03-25 11:46] all3fox commented on #2914
@jayvdb this is a ping that you could close this issue and the related issue opened by you:

https://github.com/coala/coala/issues/3887

In short: the people who report the issue can now set autocompletion up just fine and your suggestion (the issue I am linking to) of relying on global autocompletion mode of `argcomplete` is, in my opinion, a bad idea because in that case only `bash` shells are s

[2017-03-25 12:01] Flap-Py commented on #3946
@all3fox Sorry I got involved in my GSOC proposal. And thanks for your way to isolate the problem :smile: that was really helpful for me in getting a solution.
So I came up with a fix for the bug for the following [link](http://stackoverflow.com/questions/1782843/python-decorator-handling-docstrings#answer-1782888)
 @meetmangukiya check it out if its fine. I am creating a PR too. Let me know if so

[2017-03-25 12:07] #3823 closed

[2017-03-25 13:27] meetmangukiya commented on #3292
@GeorgeMD please see if you can use his work, it is generally bad to just throw away someone's work :)

[2017-03-25 17:52] #3968 closed

[2017-03-25 17:52] #3975 closed

[2017-03-25 17:52] #3879 closed

[2017-03-25 17:52] #3963 closed

[2017-03-26 04:19] RJ722 commented on #3931
Sorry, had some confusion: added a space after the colon!
Thank you  @Techievena

[2017-03-26 04:46] RJ722 commented on #3987
@jayvdb @Makman2 What do you think should act as a switch to turn this strict mode on/off?

Should we have a file named something like ```strict``` which would contain binary to turn strict mode on or off!

So, what we would have to do to enable this strict mode is:
When we parse the coafile, if we see that it is not present or is empty, then we can raise an exception:
[code]
Am I thinking in the

[2017-03-26 06:36] #3946 closed

[2017-03-26 09:10] #3827 closed

[2017-03-26 09:21] meetmangukiya opened #3998 "DocumentationComment: Remove parameter documentation of language and docstyle parameter"
From @SanketDG

/cc @SanketDG

[2017-03-26 09:35] Nosferatul opened #3999 "Format the output of CI mode when is used both --format and --ci"
https://github.com/coala/coala/pull/3750

[2017-03-26 10:07] jack17529 commented on #3000
So you will need 2 things.
1. Use past in python then.
2. make code to integrate with guess-language and language-check.

[2017-03-26 10:25] adhikasp commented on #2332
My approach to this issue is:

- Create additional attribute in Result class to hold information about taken action
- In end of `coala_main.py:run_coala()`, check Result collection to summarize detected, fixed finding, etc then print it

The output will be something along of:
- `16 problem detected. 5 applied fix, 6 ignored, 5 no further action taken.`
- `coala found no problem. Everthing is okay.

[2017-03-26 12:43] Makman2 commented on #2332
Hm if possible I would avoid an additional attribute in `Result`, as the action taken is not really a property of a result and will be never used by bear-writers. Better maintain some separate variable that keeps track of this imo :+1:

[2017-03-26 12:45] fragm3 commented on #3981
Assign me on this!

[2017-03-26 12:58] Makman2 commented on #3987
I think some `--strict` flag for the CLI is good (if we do so). Also we are already emitting a warning when we don't find a coafile (maybe we could turn it into an error).

"which would contain binary", that sounds complicated :O \+ a coafile should always be called `.coafile` ;)

[2017-03-26 13:31] fragm3 commented on #3971
Assign me on this please!

[2017-03-26 14:42] RJ722 commented on #3987
Thanks @Makman2

Would `--strict` be a switch to turn mode on/off, or would it be activated for that session of coala. (By session, I mean to say: only while executing coala once)

[2017-03-26 16:20] Siddhartha1234 opened #4001 "ConfigurationGathering: Exploration of `.coafile` should be cached."
We should keep track of `.coafile` whenever they are discovered in a list.
In `find_user_config`,
If there's no coafile in the immediate directory , we can load the stored list of known coafile directories and see which one is a substring of the current directory.

[2017-03-26 16:39] jayvdb commented on #3615
Actually I think the next step is writing up a project, and getting mentors for it.

[2017-03-26 16:46] satwikkansal commented on #1021
Should we also allow users to modify the diffs proposed by the bears? (in case they don't like some particular part of the fix proposed by the bear and want to do some minor changes in it)

[2017-03-26 17:09] adtac commented on #4001
cache -> store :P

[2017-03-26 17:22] RJ722 commented on #3920
In principle, what we have to do is, when code is committed, we would have to check weather or not the `:param` string is followed by a `:`.

We may do this by parsing the docstring using the `DocumentationComments.parameter` property [here](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationComment.py#L106-L114), as whenever the param_end (which is `:`

[2017-03-26 17:51] Flap-Py commented on #3920
@RJ722 The issue here is not checking if `:param` is ending by `:`. Its to check if the path followed by :class: really exists or not. If you see https://github.com/dushyantRathore/coala/commit/cbd03f934a8493793051e962244a4edc77cda3d2
then `:class:`coalib.bearlib.aspectclasses.Taste`` does not exists and its changed to `:class:`coalib.bearlib.aspects.Taste``

[2017-03-26 18:00] RJ722 commented on #3920
@Flap-Py Thanks!

Sorry, I just got confused, :confused: , something else was running in my head, thanks a lot!
I'll update the issue as soon as I find something suitable.

[2017-03-26 18:06] gopalgoel commented on #3971
@fragm3 I am already working on this issue. We don't recommend working on issues that have already been assigned to some other developer. Please, look for an unassigned issue and start working. You could also contribute by reviewing the pull requests to issues you are interested in solving.

[2017-03-26 18:36] coala-bot opened #4003 "Add PLATFORM metadata attribute to Bear class"
Note that there are two bear classes, @Makman2 how should we handle this? Seriously we cannot have two bear classes around this is highly dangerous and will result in bugs.

Probably difficulty/low with @Makman2 elaborating on the bear class

Opened via [gitter](https://gitter.im/coala/coala/?at=58d80a1ead849bcf421ecf68) by @sils

[2017-03-26 18:36] coala-bot opened #4004 "Mark old Bear class as deprecated"
Opened via [gitter](https://gitter.im/coala/coala/?at=58d80a2908c00c092a19e1f0) by @sils

[2017-03-26 18:37] sils commented on #4004
@Makman2 introduced a new bear class, the old one should use that. This is highly critical because people will otherwise just modify one of those classes and we will not receive bugfixes for either version.

[2017-03-26 20:36] Makman2 commented on #1021
If they want to do minor changes, they shall open their IDE or other environment they develop their project on imo ;)

[2017-03-26 20:37] Makman2 commented on #3987
only by session. Though I'm not sure whether this strict mode should be default:

@jayvdb opinions?

[2017-03-26 20:48] Makman2 commented on #4003
Implement it inside the old one, I will port all commits affecting the old bear to the new bear once nextgen integration is going to happen :+1: @sils

[2017-03-26 20:55] sils commented on #4003
@Makman2 then you should mark it with comments properly in both places

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 26 March 2017 at 22:48, Mischa Krüger <notifications@github.com> wrote:

[2017-03-26 21:01] Makman2 commented on #4003
What do you want to comment exactly?

[2017-03-27 00:30] jayvdb commented on #4003
Noooo ... https://github.com/coala/coala-bears/issues/288#issuecomment-289329020

[2017-03-27 03:06] jayvdb commented on #3824
Can you give me an example please.

[2017-03-27 03:39] meetmangukiya commented on #4004
We are not going to release the next gen bears in next release, are we?

[2017-03-27 04:45] adhikasp commented on #2332
@Makman2
I think it's better to add another variable (`action_taken`) into `Result`
- It's arguably that what action taken **is** part of a result.
- Avoid cluttering of extra parameter in coala execution flow. From what i understand, the extra tracking variable will need to be passed around wherever `Result` got used too anyway (like in `ConsoleInteraction:ask_for_action_and_apply()` or `Processi

[2017-03-27 05:38] sils commented on #4003
This is blocked by the discussion in https://github.com/coala/coala-bears/issues/288#issuecomment-289329020 @Siddhartha1234 do not implement this until the discussion is resolved

[2017-03-27 05:41] Siddhartha1234 commented on #4003
@sils There is already a `PLATFORMS = {'any'}` option in both the bears . Can't that be modified for this purpose ?

[2017-03-27 05:58] kaustubhhiware commented on #3930
It would be good to add a `difficulty/newcomer` tag to this issue.

[2017-03-27 06:31] sils commented on #4003
Indeed this issue is already solved then, we'll continue the discussion with jayvdb so we'll see if we should maybe get rid of the PLATFORMS metadata.

[2017-03-27 06:31] #4003 closed

[2017-03-27 07:29] meetmangukiya commented on #2332
Can't we just have a variable `diffs_proposed`, `diffs_applied` that are incremented by the number of diffs in a given result in `ShowPatchAction` and `ApplyPatchAction`. And at the end of execution print the content of variables.

Seems fairly simple if we do this way :/ .

[2017-03-27 14:11] satwikkansal commented on #3650
@Makman2
Just wanted to discuss an approach that I was thinking.

The issue involves allowing the bears to add custom actions apart from those provided by coala by default (`ApplyPatchAction`, `PrintMoreInfoAction`, `ShowPatchAction`, `IgnoreResultAction`)

The suggested approach involves
[code]
Where A, B, C, D .. are Result.action instances.

I was wondering if instead of just collecting the act

[2017-03-27 14:48] Makman2 commented on #4004
Don't know what the plans are currently, though it's not yet fully merged and integration is still missing^^

[2017-03-27 15:05] Makman2 commented on #2332
@adhikasp good points. Though for me the usage perspective is important, so I think this field belongs into the processing core and should be maintained by us completely (even if we get sadly more spaghettification. Actually the cli interface needs a bit of rewrite so functionality gets more streamlined).

But your points are definitely valid, and imo they legitimate a PR for your approach ;)

[2017-03-27 15:19] Makman2 commented on #3650
Just ahead: ApplyPatchAction shall not be implicitly added by coala. Not all results have a patch. ShowPatchAction will have special behaviour, it gets added implicitly for each ApplyPatchAction the result contains.

Your approach sounds very interesting, and would enable very flexible behaviour that is more suited to the situation of the user. I think the easiest is to implement a field into `Res

[2017-03-27 15:42] satwikkansal commented on #3650
Sounds good, we can have `next_action` field in the ResultAction.

IMO, this should be the default behavior, but it should also be possible to mark actions as `explicit` or `implicit` (default one), because there maybe some actions like `EmailAction()` for which we may require user's consent before performing it.

[2017-03-27 15:58] satwikkansal commented on #3650
Is it possible to get assigned to this issue or is it blocked for GSoC reasons because once this functionality is implemented the multiple patch offering feature in https://github.com/coala/coala/issues/1021 can be solved just by adding some extra actions.

[2017-03-27 16:25] coala-bot opened #4005 "--format: Use default placeholder string or error out when providing no format-string"
Opened via [gitter](https://gitter.im/coala/coala/?at=58d93d060e4137042ab6d6fe) by @Makman2

[2017-03-27 16:36] Nosferatul commented on #1021
@Makman2 input values should depends on what bears user used, right? Also, some of them could be by default proposed(shouldn't depend on bears)

[2017-03-27 16:38] coala-bot opened #4006 "docs/Developers/Adding_CI.rst: remove circleCI recommendation"
Having devs enabling CircleCI causes the depletions of our org's containers leaving less for actual builds. This is because circle uses a shared build pool for all forks of opensource project. We should dissuade people from using CircleCI privately as Travis is intended for this. I recommend we remove the entire CircleCI section and replace with a message explaining why we don't want private circl

[2017-03-27 18:02] RJ722 opened #4007 "Check for `:` after closes/fixes in commit messages"
When writing commit messages, the proper format would be to include closes/fixes <link to issue>, but if something like closes/fixes **:**  is written, it should be automatically detected.
An example is #3997

[2017-03-27 19:36] supergr35 commented on #4007
Doesn't this issue belong on the coala-bears repo? I think GitCommitBear is what would check for this.

[2017-03-27 20:52] #3921 closed

[2017-03-27 21:47] Makman2 commented on #1021
sorry don't understand what you mean.

Yeah definitely :)

[2017-03-27 22:02] Makman2 commented on #3650
This can't be default behaviour when having multiple actions defined for `next_action`. And if you want special confirmation, we should implement a `ConfirmationAction` doing this. As marking them `explicit` or `implicit` is totally messy. Also those would get meaningless when there is more than one action defined.

Don't think this issue is part of a GSoC project, so feel free to pick it up toget

[2017-03-27 22:17] Makman2 commented on #4007
So you want to forbid references like `Closes: XXXX`? @RJ722
GitHub supports those, so I don't think this is necessary^^

@supergr35 I think he means our coafile :+1:

[2017-03-27 22:25] adamgrieger commented on #3998
Hi, I can take this! What should the parameter description for docstyle_definition be?

[2017-03-28 04:27] RJ722 commented on #3987
How should we tackle the case when in silent mode, should we throw up an error?

[2017-03-28 06:07] NiklasMM commented on #4007
Yes, but it seems to be at least the un-official convention in coala to not have it there. At least I've seen reviewers ask people to remove it.

[2017-03-28 06:38] jack17529 commented on #2846
@Makman2  so currently it works like  DistributionRequirement(packageName,type,version)
am I right ?

[2017-03-28 06:47] sils commented on #4007
GitHub has not allowed the colon in the past so I required people to not do the colon, also consistency is nice but if both is ok mybe we should just allow both

[2017-03-28 06:49] #3931 closed

[2017-03-28 07:17] Nosferatul commented on #1021
we will generate different input values for (e.g) SpaceConsistencyBear and LineLengthBear? that's what I asked :)

[2017-03-28 08:32] yash-nisar commented on #3946
@jayvdb I'm thinking of getting this opened again and undoing https://github.com/coala/coala/commit/017bcfc2 so we can get rid of [this](https://travis-ci.org/coala/coala-bears/jobs/215711108) bug introduced in coala-bears. I need your approval.

[2017-03-28 08:42] jayvdb commented on #3946
I would rather than this, and https://github.com/coala/coala/issues/3786, are fixed quickly, but if that doesnt happen, I agree that undoing 017bcfc is necessary

[2017-03-28 09:48] meetmangukiya commented on #3946
That yapf build failure was because of this :/ ?

[2017-03-28 11:20] satwikkansal opened #4010 "Add `next_action` behaviour in Result Action"
It should be possible for a `ResultAction` instance to determine the next action(s) for the user to choose at the runtime.

See https://github.com/coala/coala/issues/3650#issuecomment-289486520

[2017-03-28 12:52] meetmangukiya commented on #3998
You can use `cobot assign` to get assigned, you can use `cobot help` to find more info of that command

[2017-03-28 13:00] NiklasMM commented on #3998
That is in our [Gitter](http://coala.io/chat) channels ;-)

[2017-03-28 13:06] RJ722 commented on #3987
@Makman2 @jayvdb @sils Please have a look at the PR, if this approach is feasible or not?

[2017-03-28 14:17] Makman2 commented on #3987
silent mode?

[2017-03-28 14:19] Makman2 commented on #1021
that would also be possible. But we also want some user interaction so that you can e.g. rename a variable like you want.

[2017-03-28 14:21] Makman2 commented on #2846
@jack17529 actually I don't know :/

[2017-03-28 14:33] Nosferatul commented on #1021
I am thinking about a profile for a user. Let's say we implement that parameters( e.g variable renaming) and user A wants to use that variable everywhere when he run coala -> he makes a profile let's say profileA.
It will be like a coafile(same syntax) but it will work in every directory(depending on permissions) with or without .coafile in it.

[2017-03-28 16:25] jayvdb commented on #3999
@Nosferatul , isnt this a dup of https://github.com/coala/coala/issues/3154

[2017-03-28 16:26] RJ722 commented on #3987
I just thought, it would be better to present my idea beforehand, we can adjust the silent mode afterwards, right?

[2017-03-28 16:43] meetmangukiya commented on #3154
The PR raised for this issue doesn't allow the user to use both the arguments together, and lets the user know that one of them will be ignored.

[2017-03-28 16:44] meetmangukiya commented on #3999
This issue is about formatting the output of `--ci`

[2017-03-28 18:21] userzimmermann commented on #3977
@Makman2 IMO something like `CommitMessage.issubaspect(ColonExistence)` would unnecessarily mess things up and cause confusion, since it is untypical in python and could also be read like check if `CommitMessage` is a subaspect of `ColonExistence`, whereby the argument order in the global function is always clear when you are used to builtin `issubclass`.

[2017-03-28 18:53] coala-bot opened #4012 "Remove triple backticks from RST"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58dab11fad849bcf422a9e5d) by @jayvdb

[2017-03-28 19:38] #3978 closed

[2017-03-28 19:43] aptrishu commented on #3224
Are you working on this issue? @skarode96

[2017-03-28 19:44] aptrishu commented on #3248
Are you working on this issue? @Cygnus32

[2017-03-28 19:45] aptrishu commented on #3251
Are you working on this issue? @reilen

[2017-03-28 19:45] aptrishu commented on #3419
Are you working on this issue? @karansangha

[2017-03-28 20:04] coala-bot opened #4014 "Git_Basics.rst: Remind newcomers that they can't merge PRs"
Opened via [gitter](https://gitter.im/coala/coala/?at=58dac1bcad849bcf422aef9c) by @supergr35

[2017-03-28 20:35] Nosferatul commented on #3917
Not yet, sorry for the late response

[2017-03-28 21:39] Makman2 commented on #1021
Phew that sounds complicated. Just look at https://github.com/coala/coala/issues/1021#issuecomment-170033355 :)

[2017-03-28 21:41] Makman2 commented on #1021
And when for example selecting `3: Apply the interactive patch ('rename')`, the user will be prompted something like this:
[code]
and he types the name that is going to be inserted into the diff wherever a placeholder is defined there.

[2017-03-28 21:42] Makman2 commented on #3977
@userzimmermann good point. Maybe a different name would work, though you are right. Then we would use different names -> things get more complicated -> user confused :)

[2017-03-28 21:43] Makman2 commented on #3987
Though what shall the silent mode do? :)

[2017-03-28 21:48] satwikkansal commented on #1021
I'm wondering if it's possible to extend this templated diff behavior to external bears.

[2017-03-28 22:03] satwikkansal commented on #1021
@Makman2 I think this behavior can be helpful in special cases
Example, when there is a conflict b/w multiple bears because they propose different fixes for the same line, we can simply show all the `result_message` strings to the user, and let the user fix the line in the CLI itself.

[2017-03-28 22:07] Makman2 opened #4016 "ApplyPatchAction / patch conflict: Ask user whether to place patch with git-like conflict marker into the affected file"
Then he can fix it up in the IDE still, effective and convenient.

[2017-03-28 22:08] Makman2 commented on #1021
Filed https://github.com/coala/coala/issues/4016 for that. Kinda like the idea...

[2017-03-28 22:30] satwikkansal commented on #1021
So in fact tools would be able to use that, though I doubt someone does... So only choice are upstream changes.

I see, And for "Multiple patches" thing, we'll need to define another `output_format`, right?

One possible approach for the multiple patches functionality that I can think of is :
After analyzing a piece of code, the bear detects a problem and generates a list of suggestions for that s

[2017-03-28 22:45] satwikkansal commented on #4016
Just curious. Currently, how does coala resolves patch conflicts across multiple bears?

[2017-03-29 03:52] meetmangukiya commented on #4016
/participating

[2017-03-29 08:01] NiklasMM opened #4017 "Development_Setup.html: Tell users that they probably need to install virtualenv with sudo"
If users install `virtualenv` for the first time through pip like so:

they most likely need to do that with sudo rights. We should add a note about that.

[2017-03-29 08:05] Khushmeet commented on #4017
I would like to be assigned to it

[2017-03-29 09:01] NiklasMM commented on #4017
Use `cobot assign <lint_to_issue>` in any Gitter channel

[2017-03-29 09:33] jayvdb commented on #3948
@NiklasMM , that assumes they havent already cloned the main repo.  I would be very happy with the docs using `myfork` and `upstream`, and never `origin`, to make it more clear and not try to dictate how they should organise their remotes.

[2017-03-29 09:41] NiklasMM commented on #3948
@gunanksood I'm reassigning this, since you seem to be inactive and it's a fairly small issue. You can always find other newcomer issues at http://www.coala.io/new

@PierceAndy I'm assigning you since you requested it on Gitter. Please consider @jayvdb's comment.

[2017-03-29 09:41] Siddhartha1234 commented on #4016
@Makman2 We need to check if Multiple Bears apply patch action on the same line and we should display an option to resolve conflicts whenever that happens. Since, we are just limited to one section at once.During processing, inside  `print_result` we call `autoapply_actions` which will apply patches just in the order in which Queue is processed and apply Result action on it. We can't resolve patch

[2017-03-29 10:15] coala-bot opened #4018 "ConsoleInteraction.py: Typo in docstring"
line 234: `wether`

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=58db8954b402a53211c3ce12) by @RohanVB

[2017-03-29 10:17] RohanVB commented on #4018
Loc: coala/coalib/output/ConsoleInteraction.py

[2017-03-29 11:26] coala-bot opened #4019 "Add `exclude-sections` argument for the cli"
This will allow users to avoid execution of some sections when desired

Opened via [gitter](https://gitter.im/coala/coala/?at=58db99dc8fcce56b20ac75c2) by @satwikkansal

[2017-03-29 14:19] meetmangukiya opened #4021 "collectors: get_all_bears raises AttributeError"
`get_all_bears` function doesn't take any argument. So, it should work this way IMO

Code:
[code]

[2017-03-29 16:48] supergr35 commented on #3948
Obviously, there are going to be a lot of newcomers affected by the change in remotes. People might get confused at people telling them to use `upstream` vs `origin` when all they've known to have been using is origin. How do you think we might be able to remedy that?
However, I do realize it seems to be a general rule of thumb to upstream.

[2017-03-29 18:28] sils commented on #3999
this is hard to understand. Wrote an explanation on gitter after managing to wrap my head around it, documenting here:

ssentially when you run coala --format it will give you a custom formatted output but it might ask you questions in the beginning; when you run coala --ci you don't get any questions asked. Now this issue requires that coala --ci --format doesn't ask questions and uses the format

[2017-03-29 20:46] Nosferatul commented on #3999
my bad @sils 😟

[2017-03-29 21:13] satwikkansal commented on #4016
AFAIK, our `Diff` class is based on "original file coordinate system" i.e it doesn't allow modifications of lines which are already been modified (as compared to the original file). So I guess it already raises a  `ConflictError` when such cases arise (and it's agnostic of the section scope as the original file still remains the same until all the sections finish execution). I think this issue is

[2017-03-29 22:10] jayvdb commented on #4017
I think the appropriate advice these days is to use `--user` instead of sudo.

When pip is run as root, it will issue a warning and recommend using `--user`.

[2017-03-30 06:11] kaustubhhiware opened #4025 "coala should not run *.orig when ran on all files"
Running a command like :
`coala --bears=SpaceConsistencyBear --files=\* --save `

more than once, the bear also runs on *.orig files as well. coala should never run on *.orig files since this could create a lot of `.orig.orig ` files.

Result on running coala twice when `--files-\*` is set runs on .orig files :
[code]

[2017-03-30 06:57] RohanVB commented on #3969
Not sure of the current state of `cib`, it has some issues with `call_without_output`. So yeah, if we get it working reliably.
There could be a description stating that we have a `Bear Installation Tool` that could help you install bears if this is your first time using coala, otherwise you can choose to install coala-bears.

[2017-03-30 07:14] HyungKen commented on #3248
Could you assign this issue to me?

[2017-03-30 07:25] vasramc commented on #4021
I cannot reproduce this, what version of coala are you using? Also mention the python version you are using.

[2017-03-30 07:40] jayvdb commented on #3248
Fixed in ee7e30ca

[2017-03-30 07:40] #3248 closed

[2017-03-30 09:04] MariosPanag commented on #3999
--format is for continuous integration and it doesnt asky you questions so i guess what you want to implement is that when user gives both arguments then the mode.format() should be executed. Am i right ?

[2017-03-30 09:17] vasramc commented on #4025
This is to be expected since you globbed with `*` which should match _every_ file.

You can run `coala-delete-orig` to get rid of the orig files, or you can use the `--no-orig` flag to not create them.

[2017-03-30 09:26] vasramc opened #4026 "--files not following globbing patterns"
`coala --bears=SpaceConsistencyBear --files=\*[^orig] --save` command should ideally not analyze `orig` files but it does nonetheless.

[2017-03-30 11:27] kaustubhhiware commented on #4025
@vasramc What you've written still does not satisfy this issue. I meant if `*` is given as parameter, coala should skip `.orig` files

[2017-03-30 11:47] Khushmeet commented on #3958
I would like to be assigned to this issue.

[2017-03-30 11:56] jack17529 commented on #3093
@j0ack  are you working on this issue?

[2017-03-30 11:57] vasramc commented on #4025
Yes, that is because `*` is designed to match *every* file.

I would argue that when someone mentions `*`, we should not override the default and universal behavior of the glob pattern and ignore `.orig` files. That would violate the [principle of least astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).

Moreover, _what if the user actually wanted to analyze them?_

That

[2017-03-30 14:05] rohanraju97 opened #4027 "Add SEE_MORE attribute to the "Writing Native Bears" page"
A new attribute "SEE_MORE" has been recently added to the metadata of bears in coala. That should be mentioned in [this](https://api.coala.io/en/latest/Developers/Writing_Native_Bears.html#other-metadata) page under the "Other Metadata" section.

[2017-03-30 14:07] rohanraju97 commented on #4027
@SanketDG This could be a newcomer issue. We're low on newcomer issues, apparently.

[2017-03-30 15:46] nemaniarjun commented on #4025
This issue is very similar to https://github.com/coala/coala/issues/3131 :)

[2017-03-30 15:48] nemaniarjun commented on #4016
<participating>

[2017-03-30 17:49] SanketDG commented on #3407
unassigned due to inactivity

[2017-03-30 17:50] SanketDG commented on #3224
unassigned due to inactivity

[2017-03-30 17:50] SanketDG commented on #3419
unassigned due to inactivity

[2017-03-30 17:54] SanketDG commented on #3229
We already have this?

[2017-03-30 17:55] SanketDG commented on #3587
unassigned due to inactivity

[2017-03-30 17:58] meetmangukiya commented on #3229
Yes

[2017-03-30 18:02] SanketDG commented on #4027
@rohanraju97 thank you! Just when I needed it!

[2017-03-30 19:13] supergr35 commented on #3958
I would really like a short intro to cobot, especially highlighting: issue assignment, marking things wip/pending, and creating issues.

[2017-03-30 20:59] damngamerz opened #4029 "DocumentationExtraction bug for java docstyle."
DocumentationExtraction works good when java docstyle as given below is used.
[code]
But if we remove that one space from that mid marker and end marker as follows
[code]
DocumentationExtraction doesn't return anything. We need to throw a nice warning message for the above case.

[2017-03-30 21:00] damngamerz commented on #4029
CC @SanketDG

[2017-03-31 03:35] gopalgoel commented on #4027
What should be the value of "SEE_MORE" attribute that one should add in the example?

[2017-03-31 04:43] SanketDG commented on #4027
The `SEE_MORE` attribute should link to the linter home page

[2017-03-31 05:17] Flap-Py opened #4030 "Update the parameter docstring"
Change `:param markers:` -> `:param docstyle_definition:` and provide valid description. https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationExtraction.py#L217
difficulty/newcomer

[2017-03-31 06:34] sils commented on #3229
indeed

[2017-03-31 06:34] #3229 closed

[2017-03-31 07:09] rohanraju97 commented on #4027
I think what you're asking is which specific link to add in the docs as an example. I'd say put in a real link to any linter tool of your choice. Maybe Pylint -> https://www.pylint.org/
CC @SanketDG

[2017-03-31 07:34] HyungKen commented on #4030
I want to this issue assign

[2017-03-31 10:49] gopal-agarwal commented on #4017
cobot assign #4017

[2017-03-31 10:54] gopal-agarwal commented on #4017
cobot assign https://github.com/coala/coala/issues/4017

[2017-03-31 10:56] guptaRk opened #4032 "..."

[2017-03-31 10:56] Kaushal2612 commented on #4027
I want this issue to be assigned to me

[2017-03-31 10:57] guptaRk commented on #4032
nothing

[2017-03-31 10:58] rajeev-ju commented on #3407
I want to fix this issue. Can anyone assigne me for this issue?

[2017-03-31 10:58] kavyashare commented on #3419
i want this issue to be assigned to me

[2017-03-31 10:59] guptaRk commented on #4027
link dijiye

[2017-03-31 11:00] LuciferMV commented on #4027
please provide me with the link of the page

[2017-03-31 11:00] vikramsaha7 commented on #4027
send link

[2017-03-31 11:01] rohanraju97 commented on #4027
Which page?

[2017-03-31 11:02] vikramsaha7 commented on #4027
this page

[2017-03-31 11:02] LuciferMV commented on #4027
i mean "writing native bears" page

[2017-03-31 11:03] rohanraju97 commented on #4027
I'm assuming that you want the link to the page that needs to be changed. The link is embedded in the first comment. It's not that hard to find.

[2017-03-31 11:03] gopal-agarwal commented on #4017
cobot assign <https://github.com/coala/coala/issues/4017>

[2017-03-31 11:04] LuciferMV commented on #4027
ok . i got it. Thank you

[2017-03-31 11:05] rohanraju97 commented on #4027
Someone has already been assigned to this issue @LuciferMV . Try finding another newcomer issue?

[2017-03-31 11:10] Nosferatul commented on #3407
assigned

[2017-03-31 11:54] rohanraju97 commented on #4017
cobot works in the gitter channels @gopal-agarwal  :)

[2017-03-31 11:55] #4027 closed

[2017-03-31 12:25] userzimmermann opened #4034 "Writing_Good_Commits: Add example for typo fix"
According to https://github.com/coala/coala/pull/4024#issuecomment-290406601 , we should add another example to https://github.com/coala/coala/blob/master/docs/Developers/Writing_Good_Commits.rst , showing a good commit message for fixing a typo in a doc string or comment or similar areas, like in case of https://github.com/coala/coala/pull/4024 :

[code]

@sils @meetmangukiya @arjunsinghy96 @Hyun

[2017-03-31 12:40] HyungKen commented on #4034
Cobot does not assign. Can you assign?

[2017-03-31 12:42] meetmangukiya commented on #4034
@HyungKen you already did a newcomer issue, lookout for difficulty/low issues now :)

[2017-03-31 12:43] HyungKen commented on #4034
Oh yes! I'll try to solve the low step.

[2017-03-31 13:02] meetmangukiya commented on #4032
@guptaRk please don't open issues like this

[2017-03-31 13:02] #4032 closed

[2017-03-31 16:02] rajeev-ju commented on #3407
Can anyone send me the link where i have to fix this issue please.

[2017-03-31 19:46] mayangupta commented on #3587
Im interested in this issue could you please assign this to me

[2017-03-31 20:44] #4018 closed

[2017-03-31 21:14] SanketDG commented on #3407
@rajeev-ju you would add this to the newcomer guide http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2017-03-31 21:17] SanketDG commented on #3587
@mayangupta you are assigned!

Come to coala.io/chat if you have any questions or just want to hang out!

[2017-03-31 21:18] SanketDG commented on #3419
@kavyashare you are assigned!

Come to https://coala.io/chat if you have any questions or just want to hang out!

[2017-03-31 21:22] userzimmermann opened #4037 "Add tests for tuple-derived coalib.bearlib.languages.Languages class"
While writing https://github.com/coala/coala/pull/3936#issuecomment-290832814 I realized that they are just missing :)

[2017-03-31 22:24] userzimmermann opened #4038 "Separate coala-aspects project"
aspects are just so fundamental that they should also get their separate repository and python package/distribution ;) And now seriously:

I think we could really speed up the aspects development in a separate project. And when the number of aspects grow and people get interested in contributing new aspect definitions, it gets messy to keep them nested in `coalib.bearlib.aspects` and together with

[2017-03-31 22:48] userzimmermann opened #4039 "Change any occurrences of 'Aspect' or 'Aspects' in doc strings and comments to lowercase"
According to https://github.com/coala/cEPs/issues/69

@coala/aspects-developers Know any so-called *newcomer* to do this? :)

[2017-04-01 02:06] Techievena commented on #4039
Why not have a bear for this like the `coalaBear`?

[2017-04-01 02:22] Techievena commented on #4038
Yeah @userzimmermann I agree to this. Not exactly like the __coala-bears__ project because that is independent of __coala__ but there should be a separate __aspects__ repository like the __package-manager__ or __coala-utils__ repository. As aspect-classes are extendable therefore there must be a separate repo for __aspects__.

[2017-04-01 02:51] Techievena commented on #4038
@userzimmermann But I am quite unsure with the python distribution thing. We can distribute bears grouped by aspects but why distribute aspect-classes separately? I mean if I have a bear installed without having its aspect-class it can be a problem. I think it is better to have all of them at once.

[2017-04-01 08:21] adhikasp commented on #4038
@Techievena

I'm pretty sure it mean coala pip package is dependant of coala-aspect. So we don't need to explicitly install coala-aspect itself.

[2017-04-01 09:24] pratyushprakash commented on #4038
I support this idea. I also think we should organize the aspects a little more instead of directly moving them to the new repository.

[2017-04-01 10:33] GeorgeMD commented on #3292
@meetmangukiya That's what I'm doing.

[2017-04-01 11:24] karansingh1559 commented on #4034
can anybody assign this issue to me?

[2017-04-01 11:25] karansingh1559 commented on #4039
Can anybody assign this to me?

[2017-04-01 12:31] Techievena commented on #4038
@adhikasp

That's why there is no need for package distribution of aspect-classes.

[2017-04-01 12:34] Techievena commented on #4039
Use cobot to assign yourself @karansingh1559

[2017-04-01 14:51] #4030 closed

[2017-04-01 15:14] userzimmermann opened #4040 "aspect for the aspectsYEAHBear"
The new `aspectsYEAHBear` as proposed in https://github.com/coala/coala-bears/issues/1573 based on @Techievena's idea from https://github.com/coala/coala/issues/4039#issuecomment-290886365 needs a new aspect for performing the task of checking that the terms *aspect* and *aspects* are always written lowercase according to https://github.com/coala/cEPs/issues/69

@coala/aspects-developers

[2017-04-01 15:35] userzimmermann opened #4041 "aspect for the aspectsYEAHBear"
The new `aspectsYEAHBear` as proposed in https://github.com/coala/coala-bears/issues/1573 based on @Techievena's idea from https://github.com/coala/coala/issues/4039#issuecomment-290886365 needs a new aspect for performing the task of checking that the terms *aspect* and *aspects* are always written lowercase.

@coala/aspects-developers

[2017-04-01 15:37] userzimmermann commented on #4041
Oops! Doubled issue creation :)

[2017-04-01 15:37] #4041 closed

[2017-04-01 16:08] pratyushprakash commented on #4040
So we could have `Spelling` as a sub-aspect of `Semantics` for this?

[2017-04-01 18:19] karansingh1559 commented on #4039
A little help here please-- do I have to change all such instances in all files of the entire coala repo?

[2017-04-01 20:15] arjunsinghy96 commented on #4039
@karansingh1559 yes

[2017-04-01 20:15] arjunsinghy96 commented on #4039
You can find them using `git grep`

[2017-04-02 08:16] arush0311 commented on #3275
@Makman2^ why would we want bears to pass anything other than results?

[2017-04-02 10:39] Makman2 commented on #3275
this makes sense for dependency bears, then you don't need to build up a complete result just to say the next bear for example "L3-L5 is code", instead pass a `SourceRange`.

[2017-04-02 10:57] arush0311 commented on #3275
Ah. ok then

[2017-04-02 16:24] userzimmermann commented on #4040
@pratyushprakash Hmm... `Spelling` is not actually a matter of semantics. The combination of words is semantics. But as also @Asnelchristian proposed in https://github.com/coala/coala-bears/issues/1573#issuecomment-290928010 , a `Spelling` subaspect is basically a good idea. And the actual leaf subaspect should IMO be something like `Spelling.aspectsYEAH` :)

@coala/aspects-developers So the quest

[2017-04-02 16:34] userzimmermann commented on #4038
@Techievena The comparison with **coala-bears** was not related to dependency. As @adhikasp correcly pointed out again, **coala** should of course depend on **coala-aspects** and not the other way around, looking basically like:

[code]

But without creating a **coala-aspects** distribution, there won't be a way to distribute it ;)

**CC** @sils

[2017-04-02 17:53] adhikasp commented on #4040
@userzimmermann I think we need to define some kind of standard on how to construct the aspects tree first ✨

IMO, for the time being we can make the current analyze categorization (defined in `can_fix` / `can_detect` metadata in bears) as a direct child of `Root`. So, based on [coalaBear ](https://github.com/coala/bear-docs/blob/master/docs/coalaBear.rst) that have `can_fix = spelling`, I propose

[2017-04-02 18:37] Asnelchristian commented on #4040
@adhikasp, actually this is already part of [!cEP-0005](https://github.com/coala/cEPs/blob/master/cEP-0005.md) but instead we have fix_aspects and detect_aspect

[2017-04-02 19:05] userzimmermann commented on #4040
Yes @adhikasp, `Root.Spelling.aspectsYEAH` should be good for now. We can move `Spelling` to some deeper tree level later if it makes sense...

@coala/aspects-developers So let's create **coalib/bearlib/aspects/Spelling.py**

[2017-04-02 19:35] #3977 closed

[2017-04-02 20:45] nemaniarjun opened #4045 "Add return to `require_settings` docstring in ConsoleInteraction"
The return should be mentioned in the docstring.
[code]

Difficulty/newcomer

[2017-04-02 23:05] MariosPanag opened #4048 "Semantics in Language.py"
### Overview Description
I was working on this issue https://github.com/coala/coala/issues/4037 about writing a test suite for Languages class of Language.py file and I noticed that the __eq__ behavior is changed and calls limit_versions but this causes a problem because there are Languages (CSharp,Java etc) in definitions folder that dont have the attribute versions so if you go and compare for e

[2017-04-02 23:35] Makman2 commented on #4016
coala tries to merge the diffs by creating a new `Diff`. If that doesn't go well, a `ConflictError` is raised because of the reasons @satwikkansal mentioned.

@Siddhartha1234  I think maintaining a dict like you suggest is really hard and is in principle some specialized `Diff` class. We maybe want to catch `ConflictErrors` and store the conflicts somewhere. It would also be possible to replace a

[2017-04-02 23:40] Makman2 commented on #1021
Oh yeah `@linter` needs to recognize those... phew... But I think we shouldn't do it now, no external tool does support that now, let's care for that later.

After analyzing a piece of code, the bear detects a problem and generates a list of suggestions for that source-range (say the num of suggestions are n). So now we make n Diff objects for that source-range.
Now, if there are k problems detect

[2017-04-03 01:09] MariosPanag commented on #4048
By the way after we discuss about the solution i would like to assign to it and implement it if that's okay !

[2017-04-03 03:48] jayvdb commented on #3217
Since the launch of http://projects.coala.io/ , the thinking is to move these tasks to that website after gsoc applications close, preparing it for GCI in November.

[2017-04-03 05:17] HyungKen commented on #4012
Leave a commentIs this already in progress? Here's a pull request for this.
https://github.com/coala/coala/pull/4013
Or is it necessary to seek more triple backticks?

[2017-04-03 05:39] jayvdb commented on #4012
Sorry, this one is already in review phase.  I was naughty and forgot to assign it to myself.

[2017-04-03 05:41] HyungKen commented on #4012
Leave a commentOkay. It have to go to close this issue.

[2017-04-03 06:05] jayvdb commented on #3882
Using [`rebulk`](http://pypi.python.org/pypi/rebulk) or similar existing libraries would be better than creating our own.

[2017-04-03 14:15] satwikkansal commented on #3650
@Makman2
Okay, so one approach I could think of is as follows:

We add a field "actions" inside `Result` class which is a list of ResultAction-instances.
[code]
It's possible to set even multiple ones:

[code]

- Now the question comes, How would a bear generate result with the possible actions?

We can add functionality for bears-specific `ResultAction` instances (defined in the implementation of

[2017-04-03 14:26] satwikkansal commented on #3885
@arjunsinghy96 Still on this?

[2017-04-03 15:18] arjunsinghy96 commented on #3885
@satwikkansal Yes, I am still working with this. I was busy with GSoC Proposal. Also, I think simply adding a `modified_till_now` won't be that effective.

[2017-04-03 17:02] sanjeevbitx commented on #4045
Kindly assign this to me.
I have already tried the cobot assign command,not sure if its working.

[2017-04-03 20:19] #3929 closed

[2017-04-03 20:53] arush0311 commented on #3367
Sorry just forgot about this. @jayvdb from what I have seen they automatically set version from git tags + commits, is this what we want to store in out commit variable?
Even then I think we will need to change source code to bend them to our needs
I will look at python-versioneer library, it seems the most customizable (but it does much more than what we ask for)

[2017-04-03 23:24] jayvdb commented on #4038
I am having difficulty seeing the benefit of splitting the aspects code out of coala , to warrant the costs associated with doing it.

The module name shortening argument is not nearly good enough.  There are other ways to shorten the module names.

Or is this mostly about the aspects team having its own release schedule that isn't tied to coala?

Who (other than coala) would use `coala-aspects`?

[2017-04-04 06:16] arjunsinghy96 commented on #3066
The `coala/coala` cleanup is now being done on #3886  referring to #2994

[2017-04-04 07:54] Techievena commented on #3676
@Makman2 Can I take up this as an assignment to learn about metaclasses? :smiley:

[2017-04-04 08:33] arush0311 commented on #3219
blockred by https://github.com/coala/coala/issues/3712

[2017-04-04 12:06] #4040 closed

[2017-04-04 12:28] userzimmermann commented on #4038
@jayvdb

Another good point! Thanks :)

I also found an additional advantage: We can then completely move to `pytest` style for our tests. And don't have to fight with people anymore, who want to convert our tests to `unittest` style ;D

**coala-bears** ;) It's just like with **coala-utils**

It just gives the aspects team more flexibility. We are not so many people and need to quickly get forward

[2017-04-04 17:14] coala-bot opened #4050 "Git_Basics.rst: Reinforce that PRs should not be closed"
Many people ask to close their pull requests or close them without asking. Make it more clear in the documentation NOT to do this. (perhaps this should also go in the newcomer's guide) difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58e3d48c4cb8d091735ac435) by @supergr35

[2017-04-04 17:30] sanjeevbitx commented on #4045
What should I write in the description of return?

[2017-04-04 21:46] jayvdb commented on #3867
First step is confirming that this problem occurs in the normal usage of coala, and isnt just a problem with the test framework.

[2017-04-05 06:15] #3971 closed

[2017-04-05 06:56] gopalgoel commented on #4034
@karansingh1559 Hey! I see that you are making commits in the master branch of your forked repo. This is not the recommended way. Always create a new branch and make your commits in that branch and send a pull request from that branch. Please read [http://api.coala.io/en/latest/Developers/Newcomers_Guide.html](Newcomer's guide)

[2017-04-05 08:56] j0ack commented on #3093
@jack17529
I was working on that, unfortunately I don't have much time.
Feel free to work on the issue if you want.

[2017-04-05 10:40] Monal5031 commented on #4050
Sorry if I'm bothering too much, I'm new to open source and coala.
Can I have a little more clarification on this one like where this has to be added in Documentation and what content is expected?

[2017-04-05 10:46] RohanVB commented on #4050
@Monal5031 check this out: https://api.coala.io/en/latest/Developers/Writing_Documentation.html

You need to add a statement mentioning that PRs shouldn't be closed without reason. Sometimes newcomers open a new PR if they get confused with the git stuff. This makes it hard for devs to follow up with comments/reviews.

[2017-04-05 10:48] Monal5031 commented on #4050
So this would go in the newcomer's guide in documentation right?

[2017-04-05 10:52] RohanVB commented on #4050
Yep, it'd be suitable for the newcomer's guide - as suggested in the issue :)

[2017-04-05 11:11] jayvdb commented on #3367
I think we want to retain versions with a build date, and these libraries/tools usually support that.

[2017-04-05 11:25] coala-bot opened #4051 "Newcomers_Guide.rst: fix markup in step 4"
Add a newline after `::`to make the `git checkout -b <branchname>` render properly
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58e4d415b52518ed4de000f2) by @RohanVB

[2017-04-05 13:16] yash-nisar commented on #4051
Duplicate of https://github.com/coala/coala/issues/3276 so can be closed. :)

[2017-04-05 18:47] #4051 closed

[2017-04-06 13:36] SanketDG opened #4053 "PyUnusedCodeBear: Implement remove_unused_variables"
The `remove_unused_variables` is implicitly passed on:
https://github.com/coala/coala-bears/blob/master/bears/python/PyUnusedCodeBear.py#L33

should be implemented as a setting

[2017-04-06 13:37] SanketDG commented on #4053
uh going blind >.<

[2017-04-06 13:37] #4053 closed

[2017-04-06 13:38] SanketDG commented on #4053
Moved to https://github.com/coala/coala-bears/issues/1584

[2017-04-06 13:52] userzimmermann opened #4054 "aspectslist"
For better tying together https://github.com/coala/coala/pull/3966 with https://github.com/coala/coala/pull/3996 , we could need a `list`-derived `aspectslist` class to be used as value type for the `Bear.aspects` dictionary, which uses `issubaspect` function in its `.__contains__` method, enabling us to:

[code]

[code]

@coala/aspects-developers

[2017-04-06 16:47] #4012 closed

[2017-04-06 20:14] userzimmermann opened #4055 "Check invalid combinations of --ci, --format, and --json"
While reviewing https://github.com/coala/coala/pull/4036 , I realized that any combinations of `--ci`, `--format`, and `--json` are allowed for `coala` without any error. That's confusing. There is just a precedence for applying one of those flags and just ignoring the others:

[code]

`coala --ci --format` and `coala --ci --json` might be ok, but `coala --format --json` - which just ignores `--fo

[2017-04-06 20:59] #4050 closed

[2017-04-06 22:45] Makman2 commented on #3650
Like you've said, native bears have to instantiate a result and fill in information about the result (message, diffs, source ranges etc etc).

This would make `coala` dependent on `coala-bears` in principle, let's not do this. The idea that this is the pure core, nothing more (heh that was a rhyme :3)

I would just improve the current parsing algorithms to use suited actions.

Exactly what I had i

[2017-04-06 22:50] Makman2 commented on #3676
Actually I think metaclasses are the wrong approach. Like said a base class may suffice.

[2017-04-06 23:19] userzimmermann commented on #3676
@jayvdb @Makman2 @Techievena @aptrishu Why not write a `pytest` plugin for coala? :D

[2017-04-07 07:55] #3998 closed

[2017-04-07 08:36] userzimmermann commented on #4055
@Techievena This should be aligned with https://github.com/coala/coala/pull/3750 from @Nosferatul

[2017-04-07 09:27] #3999 closed

[2017-04-07 09:30] jayvdb commented on #3901
Note that the 'mention' should explicitly indicate that gitlab commits are counted as part of the newcomer->developer process. cc @Vamshi99 who highlighted (on Gitter) that this is a critical omission from the newcomers guide.

[2017-04-07 10:32] arjunsinghy96 commented on #3066
#3886 partially closes #2994. So, referring this issue

[2017-04-07 11:19] coala-bot opened #4056 "Fix package.json closing bracket indentation"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58e775bb8fcce56b20dbe107) by @jayvdb

[2017-04-07 14:41] Nosferatul commented on #4055
So, we want to warn users about using a combination of --ci, --format, and --json? @userzimmermann

[2017-04-07 15:16] Nosferatul commented on #3615
Also, I think we should track the traffic from our site with Google Analytics to understand for what users come and see our product. We could a MAU(Monthly Active Users). Also `Churn` is % of customers lost over a period of time(we could use it for newcomers).  Maybe we should track people that just come and report an issue but they aren't in the community. NPS(Net Promoter Score) is a way to calc

[2017-04-07 15:50] aashutoshrathi commented on #4056
Someone assign this to me

[2017-04-07 17:12] Mixih commented on #3367
I don't think we want a dated version in the __commit__. We have the version file for that. For __commit, don't we want a commit sha?

[2017-04-07 17:18] Mixih commented on #3367
@jayvdb @arush0311 so I thought the original goal was to include commit info into a special commit module level attribute for debugging purposes. However, over the course fo the PR, it seems to have changed into including the commit as a part of the version string. Is this still what was requested @Makman2? It seems that including the commit as a part of the version will take more work for the bis

[2017-04-08 04:13] adhikasp opened #4058 "aspect: Convert string to aspect"
In the future, aspect will be defined by user in coafile. But, currently there are no way to change a string (like from coafile) into an aspect object. Something like this:

[code]

There are some design need to be fixed though:
- Do we need the string to be an exact match to the aspect? (`'CommitMessage'` or `'Root.Metadata.CommitMessage`')
  - If we choose the short style string to be enough, wh

[2017-04-08 06:15] meetmangukiya opened #4059 "Default action should be the last action taken by the user"
Currently the default action is `0: Do nothing`. I think it'll be better to make default action as the last action taken by the user, if none taken, then it'll be default action anyway i.e. do nothing

[2017-04-08 09:57] meetmangukiya commented on #4059
@Nosferatul I think we need to discuss if we want this or not, so let's wait until we have some inputs herre :)

[2017-04-08 10:12] jayvdb opened #4060 "green test runner"
Very likely due to https://github.com/coala/coala/issues/3808 and other issues, on c929a8b45, this is the output of https://github.com/CleanCut/green

[code]

[2017-04-08 10:32] jayvdb opened #4061 "Running pytest on multiple cores fails"
Multiple cores test support was supposedly added in https://github.com/coala/coala/issues/1407 .
I say supposedly, as I do not see `pytest` argument `-n x` added to the CI tests, which is *currently* needed to activate `pytest-xdist`.  But maybe the defaults were different back then.

The tests are not currently being run on multiple cores, and when `-n 3` is added, failures abound, with the outpu

[2017-04-08 10:39] meetmangukiya opened #4062 "Add waffle.io chart to readme"
It shows the PRs and Issues graph in the README, I have seen those in quite a few repos, would we like to add it to our readme as well ?

[2017-04-08 10:55] jayvdb commented on #4061
This will require many commits to fix.  Definitely raise a PR, as soon as you've fixed one of them, as it is very unlikely one person could find and fix all these problems.

[2017-04-08 12:05] userzimmermann commented on #4058
@adhikasp Important topic! Good issue :) And I have some very fancy Pythonic idea for this :D

@coala/aspects-developers Let me surprise you! It's been a while since I created my last PR...

[2017-04-08 12:53] userzimmermann commented on #4055
@Nosferatul Yes. Just like you did in https://github.com/coala/coala/pull/3750/files#diff-bad7250907d1790b012db412321e54c2R125 for `coala --ci --format`, whereby I'm not sure if `--ci --format` and `--ci --json` combinations are really worth an error, since `--format` and `--json` are non-interactive themselves. That needs to be discussed. But `--format --json` combination definitely needs that ki

[2017-04-08 16:03] jayvdb opened #4064 "Upgrade dependency_management"
We need all the bugs fixed in dependency_management , as they are blocking other work.

Release blocked on:
- https://gitlab.com/coala/package_manager/merge_requests/31 - Maven
- https://gitlab.com/coala/package_manager/merge_requests/34 - Julia

After that, [Appveyor](https://gitlab.com/coala/package_manager/merge_requests/23) should be easy to merge and then release.

[2017-04-08 17:10] meetmangukiya opened #4065 "Readme: Update twitter handle"
currently it is set to `coala_analyzer` change it to `coala_io`

[2017-04-08 17:36] userzimmermann commented on #4060
@jayvdb The actual problem is stated at https://github.com/CleanCut/green#external-structure

[2017-04-08 17:54] userzimmermann commented on #4060
@jayvdb Take a look at https://github.com/pchomik/pytest-spec

It gives equally nice (and colored) output:

[code]

[2017-04-08 18:16] coala-bot opened #4066 "Replace documentation default.coalang with sphinx.coalang and javadoc.coalang"
Sphinx is not a 'default' for python; pep257 and pep287(rst) are the only spec which could be called default, and they dictate different style elements than are defined in default.coalang , and pep287 is very clear that rst is not the only accepted format.
The default style for each language should be a mapping to correctly named coalang definition files.
Note that docutils could be also considere

[2017-04-08 18:18] jayvdb commented on #4066
cc @damngamerz @SanketDG

[2017-04-08 18:19] userzimmermann opened #4067 "Use pytest-spec for nicer output"
Thanks to @jayvdb and his #4060 , I searched a bit and found https://github.com/pchomik/pytest-spec . And I love it :)

Our current `py.test -vv` looks like:

[code]

With `py.test -vv --spec` it looks like:

[code]

And the whole lines are colored :D

Of course it's up to the individual developer to use it or not, and it's inconvenient for IDEs that parse pytest output, but IMO we should use it f

[2017-04-08 18:23] jayvdb commented on #4060
green is more than an output formatter.

And this bug is about that `3` in that output, and the configuration needed for `green` to work correctly by default, or discussing any changes needed.

[2017-04-08 18:33] jayvdb commented on #4066
And to be accurate, our current Python default is a mix of some parts of `pep257` and some parts of `sphinx` combined. 😖

[2017-04-08 19:08] jayvdb opened #4068 "Create docstyle definition for Go"
All comments are considered documentation
https://blog.golang.org/godoc-documenting-go-code

A `[Go]` section is needed in [`default.coalang`](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/default.coalang)

Or if https://github.com/coala/coala/issues/4066 is completed, this needs a `go.coalang` style added to that directory.

I consider this to be quite importan

[2017-04-08 19:17] userzimmermann commented on #4060
@jayvdb You can run our tests with `green --file-pattern "*Test.py"`

Or you create some arbitrarily named config file, let's say `.green` (which is the name of the global config file green looks for in `$HOME`), containing:

[code]

and run `green --config .green`

Regarding the `3`: I debugged it but I couldn't find any reason for that so far :/

[2017-04-08 19:19] jayvdb opened #4069 "Create docstyle definition for paragraphs"
Python PEP257 requires that the first paragraph is a one line comment sentence, and paragraphs are separated by a blank line which works for styles rst/sphinx/epytext/markdown/etc.

Javadoc requires that the first paragraph is a one line command sentence, and paragraphs are separated by `<p>`.

Godoc requires that the first paragraph is a sentence, and paragraphs are separated by a blank line.

--

[2017-04-08 19:21] jayvdb commented on #4066
This is sort of related to https://github.com/coala/coala/issues/1898 and some pep257 specific elements are noted at https://github.com/coala/coala/issues/4069

[2017-04-08 19:44] adtac commented on #4068
/subscribing

[2017-04-08 20:08] jayvdb commented on #4064
A closely related blocker : https://github.com/coala/coala/issues/3712

[2017-04-08 20:14] jayvdb commented on #3219
Re pip dependencies , that is indeed a problem which will occur after https://github.com/coala/coala-bears/issues/1000 .  Those bears with extra Python dependencies can be rewritten so that the import occurs late, after the `is_installed` check, and the import is stored in a class attribute.

[2017-04-08 21:53] Makman2 commented on #3676
I think the discussion goes into nowhere, we should define what we actually want the test-classes to give us.
So far it seems to be only
- custom assert methods

where the questions arise: which specifically?

If it's only custom assert methods, a simple class inheriting `unittest.TestCase` is the most simple and best. No magic meta-classes, no `pytest`-plugins (sorry @userzimmermann ;D)

[2017-04-08 22:24] CleanCut commented on #4060
@jayvdb
`coala/tests/misc/test_caching_multi_results/test.py` has a print statement at global scope:

[code]

@userzimmermann is correct ... you can either follow the [default unittest discovery](https://docs.python.org/2/library/unittest.html#test-discovery) structure of filenames matching `test*py`, or you can specify your own file-matching pattern with command-line options or config files.

Eit

[2017-04-08 22:47] userzimmermann commented on #4060
@CleanCut And I am debugging my time away instead of just grep'ing for the most obvious :D

[2017-04-08 22:48] CleanCut commented on #3808
The method you are looking for is [assertRaises()](https://docs.python.org/2/library/unittest.html#unittest.TestCase.assertRaises), not `assertRaisesRegexp()`.  The latter is intended for when you expect some large number of ever-evolving exceptions that could be returned that would be more appropriate to match via a regular expression matched against the exception name.

In your case, you expect

[2017-04-08 22:52] CleanCut commented on #4060
That just means you are a much harder worker than I am... ;-)

[2017-04-08 22:56] userzimmermann commented on #3676
;D

[2017-04-09 03:56] jayvdb commented on #4060
Note that test discovery without patterns is https://github.com/CleanCut/green/issues/87

And per project configuration is https://github.com/CleanCut/green/issues/116

We need either of those to work before we can support green.

[2017-04-09 04:00] jayvdb opened #4071 "test_caching_multi_results/test.py includes print at global level"
Very similar to https://github.com/coala/coala-bears/issues/1594

The sample package in `coala/tests/misc/test_caching_multi_results/test.py` uses `print(...)`.

As shown by https://github.com/coala/coala/issues/4060#issuecomment-292749818, this causes problems with the default test collection of `test*.py`.

This could be solved by removing the `print(..)`, or by renaming the file so it doesnt ma

[2017-04-09 04:19] CleanCut commented on #4060
Ah, well per-project configuration has been at the top of the list for me, so...it's at the top of the list.  :-/  Gotta make time.

[2017-04-09 04:46] jayvdb commented on #3701
https://github.com/pmd/pmd/commit/029ed7c7a isnt in the latest release [v5.5.5](https://github.com/pmd/pmd/releases/tag/pmd_releases%2F5.5.5), so it looks like this will be in v5.6.

https://pmd.github.io/ says that 5.5.5 will be the last release in the 5.5 series, so 5.6 is probably on the way soon, and it has only [two blockers not yet done](https://sourceforge.net/p/pmd/bugs/milestone/PMD-5.6.0

[2017-04-09 04:56] satwikkansal commented on #3650
Yeah, makes sense :)  So should we allow the `ResultAction`'s implementation to be defined in the core or the bear's implementation.
Because if we add in coala-core, then if a bear writer has to add a custom action, he would first have to implementation the `ResultAction` in the core and then use it in the bear. But if we allow custom `ResultAction` to be defined in bear's implementation, we'll al

[2017-04-09 05:20] SanketDG commented on #4017
@gopal-agarwal any progress on this?

[2017-04-09 06:25] jayvdb opened #4072 "Automatic http support for `foo_config` settings"
There are a lot of bears which have a `x_config` setting, such as `cmakelint_config`, `eslint_config`, `jshint_config`, `rubocop_config`, `scalalint_config`, `tailor_config`, `tslint_config`.

`checkstyle_configs` is the only similar one which has other strange rules to it.

That should become a reserved suffix, and coala core should provide automatic checking that the file exists, and allow http

[2017-04-09 09:28] coala-bot opened #4075 "Add aspects for dependencies"
Dependencies are similar to Imports in many ways, and in some languages they are identical.
But Dependencies are usually defined outside of the source code.  e.g. in Python, usually we have them in `setup.py` and/or `requirements.txt`, and there are quite a few bears that detect problems in these already.

Opened via [gitter](https://gitter.im/coala/coala/?at=58e9feaf408f90be66a25652) by @jayvdb

[2017-04-09 09:31] adhikasp commented on #4021
Working as expected here, python v3.6 with latest coala master branch.

[2017-04-09 09:38] mariaandreicosmin commented on #4071
Hello, I'd like to be assigned here.

[2017-04-09 11:27] #3042 closed

[2017-04-09 11:32] arjunsinghy96 opened #4077 "Improve add_lines of Diff"
`add_lines` raises ConflictError when adding lines after a line where `line_diff.add_after is not False` even if the lines to be added are same.
IMO ConflictError should be raised only when lines are different.

This issue needs discussion.

[2017-04-09 12:53] shubhangiKishore commented on #4065
I want to start contributing to Coala. Can I start with this?

[2017-04-09 13:27] meetmangukiya commented on #4065
@shubhangiKishore Hey, welcome! Accept the organization invite and we can assign you to this issue :)

[2017-04-09 13:45] sils opened #4079 "Simplify README"
usability testing has discovered the readme is just confusing and the website is just awesome. Also I propose a new header image:
![coala](https://cloud.githubusercontent.com/assets/5716520/24837754/982064c4-1d3b-11e7-9610-bbdd758c97b5.png)

[2017-04-09 13:46] sils commented on #4065
as part of the simplification I'll make a PR to remove the handle altogether, rather update the website properly

[2017-04-09 13:49] sils commented on #3800
We should rather point people to our website (as per usability testing results) and thus put this info on the website. For that I'll close this and open a new issue on the website repository coala/landing-frontend#154

feel free to reopen if you disagree

[2017-04-09 13:49] #3800 closed

[2017-04-09 13:50] sils commented on #3696
taking this over as part of https://github.com/coala/coala/issues/3800 with another approach, I hope you don't mind

[2017-04-09 14:32] meetmangukiya commented on #4065
Website twitter handle looks good :+1:

[2017-04-09 14:35] sils opened #4080 "Shorter Review Iterations"
Hey people. I feel like we're spending a lot of time on review and not too much time on getting actual stuff done. (Also due to lots of newcomer issues.) Working on improving that is an ongoing process.

I do think though that we are a bit strict in the reviews in some places, e.g. commit messages, which shifts the focus from good code to good metadata and much frustration.

@coala/coala-developer

[2017-04-09 14:46] #3696 closed

[2017-04-09 14:46] #4065 closed

[2017-04-09 14:49] meetmangukiya commented on #4080
We can limit the number of reviewers on a PR. This will reduce the review requests and hence the shorter iterations.
But here we hold the assigned reviewers responsible for getting the PR in a decent state at least.
Also we might loose on some good reviews from other reviewers who might've reviewed but didn't review because we limited the reviewers. To reduce this, we have to find appropriate revi

[2017-04-09 14:53] meetmangukiya commented on #4080
I've seen similar thing being done in the `cURL`  repo

[2017-04-09 14:57] sils commented on #4079
New rescaled image:
![coala_1000](https://cloud.githubusercontent.com/assets/5716520/24838296/a9cf5f04-1d45-11e7-855c-47b816ce1e09.png)

[2017-04-09 14:58] ashwini0529 commented on #4080
Specially for New Comers, it becomes so hard to change commit messages again and again, and to review them is also bit tedious. I think we can afford to be relaxed atleast for Newcomers. But we have to keep in mind that the quality of the commit message etc doesn't get lost.

[2017-04-09 15:03] arjunsinghy96 commented on #4080
For commit messages, we could emphasize only on the short log and the issue link.

[2017-04-09 15:06] meetmangukiya commented on #4077
Right, when the group of lines being added at a given positions are same, then there is no uncertainty whether it should be added above the change or below the change, but to maintain consistency with other cases and to not make it more confusing I think we should raise a `ConflictError`.

However, this will be automatically fixed if https://github.com/coala/coala/issues/3885 is done. It is kinda

[2017-04-09 15:07] meetmangukiya commented on #3885
Is the discussion to keep this issue resolved? If not, please add `needs design` label :P

[2017-04-09 15:07] meetmangukiya commented on #3885
)

[2017-04-09 15:10] vijeth-aradhya commented on #4080
I feel review processes should be strict as they are, but we could reduce the time we put in for each PR per day I guess, and work on other improvements side by side.

- One of the best things about coala I have seen is merging *strongly* reviewed code. The quality should remain the same.

And, about commits and other stuff, the newcomers can just read the guidelines, and we could help them a coup

[2017-04-09 15:21] coala-bot opened #4082 "README: Scale down award image"
I'm on it already

Opened via [gitter](https://gitter.im/coala/coala/?at=58ea5192b52518ed4df5397b) by @sils

[2017-04-09 15:22] sils commented on #4082
![winner-sils](https://cloud.githubusercontent.com/assets/5716520/24838493/1c5ee0e6-1d49-11e7-9b2b-85f0c6bc2c60.png)
New image ^

[2017-04-09 17:05] Mariatta commented on #4080
I agree with making things less strict to contributors, and especially to newcomer and first time contributors.
Maintainers have the ability to edit the pull request. If a contributor's pull request look good, but require minor adjustment, (e.g. spacing, updating commit message), the maintainer can do the edit themselves instead of asking the contributor to do it. I would recommend that maintainer

[2017-04-09 17:30] Mixih commented on #4080
The slight problem with maintainers edits is that it makes the branch diverge from the pr maker's tree. This can make it harder for them to edit their branch should the need arise. (or is this actually a problem....?)

[2017-04-09 17:52] Mariatta commented on #4080
The edit from maintainer should be done at the last step. Once maintainer make the edit, it should be in a 'ready to commit' stage. So no further update is needed in that branch, so I don't see any problem.
If further updates is needed, no reason not to first accept the PR and make another PR to address it?

[2017-04-09 20:50] NiklasMM commented on #4080
I'd argue against making the review less strict.

When I first joined the strict, but transparent requirements for PRs and thorough, but helpful review process was one of the things that immediately impressed me. I think *especially* for newcomers who might never have worked on collaborative project or might be unfamiliar with git, it's important that they learn how things are done here.

One thin

[2017-04-09 22:23] #4079 closed

[2017-04-09 22:23] #4082 closed

[2017-04-09 22:42] Mariatta commented on #4080
True it is important for newcomers to learn how things are done, but they don't have to learn everything all at once. This is something that they can learn over time, they don't have to have a perfect PR the first time.

When we make our process too strict, for some people, it can become a barrier and an intimidating situation, rather than being welcoming.

In my mind, making the process less stri

[2017-04-10 05:56] NiklasMM commented on #4080
The barrier and intimidation aspect is real, but I think it does not come from the amount of things that are criticized, but how the criticism is conveyed. If we say things like:

instead of:

That can make all the difference.

I also think that making the PR merge ready after it is opened is an important part of the process and the newcomer issues are mostly typo fixing exactly *because* people c

[2017-04-10 08:51] jayvdb commented on #3183
http://docs.coala.io/en/latest/Users/Install.html says "Make sure you have pip >= 8 installed"

[2017-04-10 09:05] #4054 closed

[2017-04-10 09:19] jayvdb commented on #4006
I would prefer we keep the section, but add a very strong discouragement notice at the top of the section.  Also, it could be moved below the Codecov section.

CircleCI specific build breakages occur (e.g. https://github.com/coala/coala-bears/issues/1575), especially in coala-bears, and this section contains some secret sauce on how to set it up correctly (parallelism, Ubuntu version, etc).

[2017-04-10 09:22] Makman2 commented on #3885
@meetmangukiya I think the discussion is about some implementation details, but imo the task is clear in this state :) So no `needs-design` label needed I believe ;)

[2017-04-10 09:23] jayvdb commented on #3955
This was a transient problem in the httpbin.org service.

We could prevent these network errors by using [pytest-httpbin](https://pypi.python.org/pypi/pytest-httpbin) to run a local instance of the same web service, but that is probably overkill since we only have two tests which use httpbin.org , and I doubt pytest-httpbin knows when to start and stop the local httpbin service to avoid wasting re

[2017-04-10 09:23] #3955 closed

[2017-04-10 09:30] jayvdb commented on #3969
Is this requesting that the prompt occurs during setup.py ?
This is unlikely to be very useful, as `pip install coala` uses pre-built wheels, so no code is invoked anywhere.

Or when the package `coalib` is loaded and `coala-bears` is not found?
(note that coala can be run with an alternative location to load bears from)

[2017-04-10 10:36] Makman2 commented on #4080
There are some criterias for me when reviewing a PR:
- Commit metadata
  - Shortlog
  - issue reference
  - Body: I'm not so strict about commit bodies if the issue reference is good itself
- Commit subdivision
   If something is atomic, put it inside an own commit. Easier to review + better history.
- Code
  - Layout (readable code = well reviewable code = better understandable code -> better cod

[2017-04-10 11:05] jayvdb commented on #3183
That comes from [this commit](https://github.com/coala/documentation/pull/385/commits/2826f16) authored 29 Oct 2016 and committed in January without any justification provided.

For an unrelated reasons, mostly to do with CI, we now have test-requirements.txt requiring `pip>=9.0.0`.

Anyway, these `-r` are not especially needed now.

[2017-04-10 11:08] #3183 closed

[2017-04-10 11:15] #4058 closed

[2017-04-10 12:16] underyx opened #4084 "Support neovim (`nvim`) as an editor"
[code]

It's basically the same as `vim` so it could be just added to the allowed editors list and given the same behavior as `vim`.

[2017-04-10 12:28] jayvdb commented on #3786
As a bit better record, here is what was happening:

https://travis-ci.org/coala/coala/jobs/201214759

[code]

Now

[code]
coala isnt installed

This is fixed, and the culprit was very likely to https://github.com/coala/coala/issues/3825 , but the GitHub logs are hard to find to verify that it was that commit when coala didnt need to be installed a second time.

[2017-04-10 12:29] #3786 closed

[2017-04-10 13:14] jayvdb opened #4085 "ContextualVersionConflict causes failure even for bear that is not needed"
If there is a ContextualVersionConflict when loading a bears, the bear should be marked broken, and this should be a fatal error only if the bear is required to run.

Other exceptions or problems loading the bears should also not result in catastrophe errors immediately.  The decision on whether to stop should be dependent on if the broken bear is actually needed or not.

Ideally the fatal error m

[2017-04-10 13:17] jayvdb commented on #4085
To see this error, install coala-bears, then install `sphinx>=1.5`, then run `coala-ci` with a small `.coafile` which doesnt use any rst bears.

[2017-04-10 14:24] satwikkansal commented on #4080
My viewpoint: I think the newcomer labeled issues are a good way to introduce the people to the workflow of coala (including the strict guidelines for code and commit). The only concern imo is sometimes it may get frustrating for the newcomer to make several iterations for a single line change, eventually making them to give up. The main reasons imo for large number of iterations of a newcomer PR

[2017-04-10 14:26] coala-bot opened #4086 "Update readme"
We worked out a new readme at https://hackmd.io/GbCsGMGYDYE4A4C0AmcAjAjIgLAdgCayJoAMukxApvrrBvgIbKrZA===?both# which still needs to be converted to RST and then replaces the current one

Opened via [gitter](https://gitter.im/coala/coala/?at=58eb961a408f90be66a80dcf) by @sils

[2017-04-10 14:36] coala-bot opened #4087 "Review guide should explain where to place comments"
Currently the review guide only says

Comments placed on 'good' lines will remain visible on the PR page throughout the PR, making page load times longer and more confusing.  This should be discouraged.

The review comments should appear on the line that needs to be modified, as modified lines, and those review comments, will be hidden from the PR page.

Comments about the commit message should be

[2017-04-10 15:28] jayvdb commented on #3940
The comment later added here is correct

https://github.com/coala/coala/pull/3942#issuecomment-288910998

This issue should also be closed.

[2017-04-10 15:28] #3940 closed

[2017-04-10 16:07] arjunsinghy96 commented on #4086
I would like to take this up and make it as soon as I can.

[2017-04-10 16:27] #2994 closed

[2017-04-10 16:27] #3066 closed

[2017-04-10 16:31] satwikkansal commented on #4072
So the value for these `_config` type settings of some selected bears can either be a "local path" or a "git repo url" or a "http prefix" and coala should be able to handle it?

And once the config type file is fetched it is cached by coala until cache is flushed. If the cache is flushed, we fetch it again from the url provided in the value of the setting in the `.coafile`.

[2017-04-10 17:10] Nosferatul commented on #4055
well I could add that in my pr if that's ok, with you and @Techievena

[2017-04-10 19:06] Makman2 commented on #4080
I think this is one of the main points we should consider^^

[2017-04-10 19:26] RJ722 commented on #4007
So, should we close this issue?

[2017-04-10 19:31] Makman2 commented on #3650
We merge these into the core if they are useful, otherwise the user can't implement actions which have their own very different behaviour. If the behaviour is implementable by other users, actions can be shared by sharing the module.

[2017-04-11 02:53] jayvdb commented on #4067
pytest-spec has one very, **very** nice feature: [_get_test_name](https://github.com/pchomik/pytest-spec/blob/master/pytest_spec/patch.py#L96) extracts the test description from the function name.

However it replaces the function name in the output, and the algorithm to find the function name from the test description is not easy to reverse, and this would also confuse *some* newcomers, and means

[2017-04-11 03:07] jayvdb commented on #4067
(or pytest-emoji ? 😸  )

[2017-04-11 03:11] jayvdb opened #4090 "Replace pytest-timeout with pytest-faulthandler"
https://pypi.python.org/pypi/pytest-faulthandler activates on a timeout, but dumps out much more useful info.

Not sure we want this, as mostly our timeouts are network timeouts, and the cause is fairly self-evident.
See docker timeout issues.
Keeping this issue open as a place to record any new timeouts we encounter, to see if there is occasions we need more info than pytest-timeout provides.

[2017-04-11 05:28] jayvdb commented on #3676
A meta-class should not be a goal, but a means to an end.  it should start as a normal base class, and grow from there.

And if someone wants pytest plugins, go build them.  That is beyond scope of this issue.  If we need pytest specific functionality for coala, it should be placed in conftest.py .  maintaining a coala-specific pytest plugin wouldnt be a good approach.

[2017-04-11 09:10] #3087 closed

[2017-04-11 09:33] jayvdb commented on #3676
Note if a base class is added, https://pypi.python.org/pypi/pytest-restrict can require it is used everywhere.

[2017-04-11 09:42] NiklasMM commented on #3087
@Mixih This is a potentially breaking change for users who have been running for example with bears with unsatisfied dependencies. Thought you should know for the upcoming release ;)

[2017-04-11 10:10] ashwini0529 opened #4091 "Award logo in readme looks blurred."

[2017-04-11 10:28] Techievena commented on #4055
Yeah that's completely fine with me @Nosferatul You may add to your PR because you already have an open PR this stuff can happen much faster but the issue you're working upon will not be related to the PR.

[2017-04-11 11:15] #4086 closed

[2017-04-11 12:38] underyx commented on #3771
related: #3399

[2017-04-11 13:48] Makman2 commented on #4007
Yeah think so, let's orientate on GitHub's features.

[2017-04-11 13:48] #4007 closed

[2017-04-11 13:58] Makman2 commented on #3367
The intention was to get the commit from the coala module somehow, so you know to which commit a version belongs and you can easily find the commit on GitHub. Whether this is a separate commit field like `__commit__` or a modified version string doesn't really matter imo. As long as you can extract the commit information somehow without much effort, it's​ fine.
Bisecting with git works with git SH

[2017-04-11 14:06] satwikkansal commented on #3650
Makes sense. Should I come up with more detailed design or simply start working on the implementation? :sweat_smile:

[2017-04-11 14:22] damngamerz commented on #4064
@jayvdb This can be closed i guess. All issues are being resolved atm.

[2017-04-11 16:46] SanketDG commented on #4091
@ashwini0529 given the new readme upgrade, feel free to close this now :smile:

[2017-04-11 20:10] Nosferatul commented on #3154
Closing because 3999 was merged

[2017-04-11 20:10] #3154 closed

[2017-04-11 20:18] Nosferatul commented on #4059
sure :). also, this is part from https://github.com/coala/cEPs/pull/29/files

[2017-04-11 20:23] #4091 closed

[2017-04-12 06:34] Prakhar0409 commented on #3956
Why is this still open?

[2017-04-12 06:54] SanketDG commented on #3956
The issue is not yet solved.

@imshashwataggarwal are you still on this?

[2017-04-12 09:20] userzimmermann opened #4094 "Connect aspectlist with holder bear to match supported languages"
To be able to also check in `coalib.bearlib.aspects.collections.aspectlist.__contains__` if languages of aspectclass instances match with languages supported by the bear holding the `aspectlist`

@coala/aspects-developers

[2017-04-12 10:17] Makman2 commented on #3650
I think the direction and API of the issue is clear, imo you can start ;)

[2017-04-12 13:32] #3948 closed

[2017-04-12 13:39] coala-bot opened #4095 "Git_Basics.rst: Rename "coala/coala-bears""
`coala/coala-bears` could be mistakenly thought to refer to `https://github.com/coala/coala-bears`.
Change references to the official coala or coala-bears repositories from `coala/coala-bears` to `coala or coala bears.`
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58ee2e0d69a692963ea2ece8) by @PierceAndy

[2017-04-12 13:40] PierceAndy commented on #4095
See discussion: https://github.com/coala/coala/pull/4022#discussion_r108724416

[2017-04-13 05:44] jayvdb opened #4097 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
difficulty/newcomer

[2017-04-13 07:02] jayvdb opened #4098 ".editorconfig generator"
Following on from https://github.com/coala/coala/issues/4097 , and closely related to https://github.com/coala/coala-quickstart/issues/79, coala should be able to generate a `.editorconfig`.

This will go a long way to closely integrating with editors which support `.editorconfig`, as the editor plugins could generate the `.editorconfig` from the `.coafile`, or generate `.coafile` from `.editorcon

[2017-04-13 07:10] jayvdb commented on #4098
One potentially problematic aspect is where to put the code for this generator, and possibly a parser.

If it exists in the `coalib` codebase, it will require that some additional setting names are hard coded into `coalib`, and not flexible names defined by each bear.

But, if we are going to have native support of `.editorconfig` as https://github.com/coala/coala/issues/204 suggests, then I belie

[2017-04-13 08:00] adhikasp opened #4099 "Checking, asserting, and raising aspect"
As @userzimmermann says in https://github.com/coala/coala/pull/4057#issuecomment-292713283

Ideally also update existing code with this new functions.

cc @Techievena ?
PS sorry @userzimmermann for stealing your issue.

@coala/aspects-developers
area/aspect difficulty/low

[2017-04-13 09:27] satwikkansal commented on #4098
I feel like the generator should be part of `coalib` (because its usecase doesn't fit into any other repository and setting names need to be hard coded anyway). If we maintain the hard coded part in `coalib` other projects like coala-quickstart can use it directly.
Also, will we be generating a new `.editorconfig` each time coala is run with updated `.coafile`? or we can add an option flag to gene

[2017-04-13 10:49] jayvdb commented on #4098
I suspect that #204 is looking for coala *using* `.editorconfig` **instead of** `.coafile` (if `.coafile` is missing), as a very simple way for people to adopt coala to solve a broad set of needs.  But under the covers that would be a be messy now, as then `coalib` needs to select the necessary bears, but then that would be neatly solved in the future using aspects.

Anyway, I think the generator

[2017-04-13 11:17] jayvdb commented on #4038
coala-utils is full of routines which are usable by other projects.  If I go back to working on pywikibot, I would try to integrate it there.

Who other than coala* (any coala project) could use it?

[2017-04-13 11:41] Techievena commented on #4099
Thanks a lot @adhikasp for opening up an issue for me to work on.

[2017-04-13 12:05] MartyHub opened #4100 "Coala exit with code 1 even when ignoring error"
Hello,

we plan to use Coala for our Python projects with the Pylint bear.

But even when ignoring Pylint error with comment, the Coala exit code is still 1 so our build is failed in CircleCI.

![image](https://cloud.githubusercontent.com/assets/1159991/25003850/abf9cf76-2051-11e7-90ee-d6ae1f69a13d.png)

Is there any workaround ?

Thanks and regards

[2017-04-13 12:37] Nosferatul opened #4101 "Document arg_parser in ConfigurationGathering.py, load_configuration function"

[2017-04-13 14:02] sils commented on #2026
Hi, this hasn't been picked up lately but here's an update on what I think about this:

From usability testing people expect from coala that it obeys the gitignore, they would not expect it to only check files that are in VCS.

We already have an algorithm in coala-quickstart by @adtac that parses the gitignore and makes coala ignore globs out of it - maybe we can use that and create a cached prep

[2017-04-13 14:08] sils commented on #4038
Actually I *could* see linters using the coala aspects without fully wanting to rely on coala itself. If we decouple it from coala completely we might get more linters to adapt our technologies and maybe set a standard or so. Then again that'll only work for python linters with aspects.

@userzimmermann I don't think untying aspects release schedule from coala's makes sense. coala and coala-bears

[2017-04-13 14:16] Makman2 commented on #4100
Seems like `pylint` emits messages when it encounters an ignore-directive. And `PylintBear` does take them up as `INFO`-severity messages. Looks for me like an issue with the bear itself, moving to the `coala-bears` repo :)

Thx for the report :+1:

[2017-04-13 14:21] Makman2 commented on #4100
Migrated to https://github.com/coala/coala-bears/issues/1608.

[2017-04-13 14:22] #4100 closed

[2017-04-13 14:30] Makman2 commented on #4059
Hm not sure. We need a voting I think.

[2017-04-13 14:44] Makman2 opened #4102 "Allow to set minimum-severity per section"
Not sure coala currently supports to set a minimum-severity for each section.

Workaround: Invoke coala multiple times with different coafiles and different `-m` flags.

[2017-04-13 14:59] Makman2 commented on #4067
This is an optional dependency, we shouldn't put this into the `test-requirements`.

[2017-04-13 15:18] satwikkansal commented on #3650
Okay, I've started working on this.

@Makman2 I think I didn't understand this ^^. How are parsing algorithms supposed to determine which actions are suited?  Don't the actions need to be supplied by the bear writer? :)

[2017-04-13 15:24] Makman2 commented on #3650
Indeed, though an `@linter`-bear takes over the result-generation itself, so in most cases we can offer fitting actions. For example: If someone specifies `corrected` output-format, there will be no other actions than `ApplyPatchAction`s (and `ShowPatchAction`s) normally. The same principle applies to other output-formats I think :+1:
If the need arises for an `@linter` writer to adjust actions, w

[2017-04-13 15:36] adtac commented on #2026
Probably obvious, but I just want to explicitly that this cache can be stored in the same project cache file (see `~/.local/share/coala`) that we already store.

[2017-04-13 16:15] Techievena commented on #4038
@sils The release cycle should be made more frequent because it won't be possible to write bears requiring new aspect-classes until we have those aspect-classes definition.

[2017-04-13 16:18] sils commented on #4038
@Techievena in contrary this'll be simpler if aspects remain in coala since coala auto releases development versions and we update the brlears to the latest Dev from coala amaster when needed

[2017-04-13 16:23] Siddhartha1234 commented on #2026
@sils Should tracking of `.gitignore`  be added to `coala-quickstart` to  update `ignored_globs` in the settings or should this behavior be handled by default in `coala` and removed from `coala-quickstart` completely ? There should be more discussion regarding which features of VCS integration should be allowed by default and which others optional features can to be added in it IMO.
 CC @adtac .

[2017-04-13 16:42] Nosferatul commented on #4005
@Makman2 I'm not sure I understood, could you explain? :)

[2017-04-13 16:59] satwikkansal opened #4105 "ContextManagers.py: Use arguments other than "0,1,2" in the inline documentation of simulate_console_inputs method"
Related snippet
[code]

Argument should be changed to prevent confusion of mistaking generator.last_input as actual input value instead of the index value.

difficulty/newcomer

[2017-04-13 17:05] Techievena commented on #4038
Can't we have the same thing implemented in the aspects repository. Because this single thing doesn't outweighs the other benefits of having a new repository for aspects.

[2017-04-13 17:14] Techievena commented on #4038
@userzimmermann reply to https://github.com/coala/coala/issues/4038#issuecomment-290997548
@sils Aren't there any other mechanisms to directly use aspects from the git repository itself?
I am still having doubts about packaging and having releases for aspects repository. I don't think a bunch of aspect-classes will be of any help to the outside sources.

[2017-04-13 18:13] adhikasp commented on #4038
I am against this idea, at least in this near future.

In my view, aspect project needs to **integrate aspect into coala core** and then **expand definition and maybe other aspects features**.

For the integration phase, I think the separation would make more hassle than benefit. The effort spent to create the distribution package, creating and maintaining dependency between coala and coala-aspect

[2017-04-13 18:40] adtac commented on #2026
Neither. This issue wants to automatic gitignore tracking (that is, instead of giving `ignore = `, I'd give `automatic_ignore = true` or something like that). So coala-quickstart will be untouched.

[2017-04-13 20:02] Nosferatul commented on #3259
@sagark123 are you working on this?

[2017-04-13 20:03] Nosferatul commented on #3276
@maykillmore are you working on this?

[2017-04-13 20:04] Nosferatul commented on #3357
@badarsh2 are you working on this?

[2017-04-13 20:05] Nosferatul commented on #3419
@kavyashare are you working on this?

[2017-04-13 20:05] Nosferatul commented on #3478
@sravi4701 are you working on this?

[2017-04-13 20:37] Makman2 commented on #4005
It seems that invoking coala with just `--format` without a format-placeholder yields weird result strings. That issue was the cause of some incident a user had (I actually forgot to document it here, sorry :/).

So we should investigate that again and decide which behaviour coala should have:
1. Default placeholder string (we already have one I've heard, but it seems it doesn't work so well)
2. E

[2017-04-13 20:47] Makman2 commented on #4038
Though I lost track of what is the final goal, aspects seem to be quite bound to coala, so moving it into a separate repo might just make dependency problems.

[2017-04-13 23:08] sils commented on #2026
actually we can drop the gitignore handling from coala-quickstart if this
is implemented - less duplication. And I'm not sure I'd do an
`automatic_ignore` rather set the gitignore values by default for any
section maybe? If the user doesn't want it he can still override the
ignore's if he wants it he can +=

[2017-04-14 02:17] jayvdb commented on #4064
https://gitlab.com/coala/package_manager/merge_requests/34 was merged incomplete, with only mocks passing, so that other work could commence.  The follow-up https://gitlab.com/coala/package_manager/issues/56 is not completed, and my MR also has a problem which has an easy fix, which would still be incomplete .. ;-)

The coverage is still low, and includes many mocks, which is not good enough.

Mil

[2017-04-14 02:25] jayvdb commented on #3983
@Makman2, @Siddhartha1234, @srisankethu, @arush0311 , it seems this is a dup of https://github.com/coala/coala/pull/3526 , or at least tightly related... ?

[2017-04-14 06:30] jayvdb commented on #1622
We definitely do not need docker just for normal builds of the coalib package.  On bears, maybe.  I am sure our options on Circle/Travis/etc would need to be re-evaluated.
Closing this blocked upstream task.

[2017-04-14 06:30] #1622 closed

[2017-04-14 07:21] userzimmermann commented on #4099
@adhikasp There is nothing like *"stealing*" in the aspects team. Just **one shared aspective consciousness** ;)

[2017-04-14 11:08] arush0311 commented on #3983
@jayvdb yes I also did the changes done in this PR but there were some other changes also

[2017-04-14 12:12] userzimmermann commented on #4038
@sils Regarding https://github.com/coala/coala/issues/4038#issuecomment-293945348 : But bears using new aspects couldn't go into production before the next **coala** release containing those new aspects. Also, it's not so straightforward - especially for not so experienced developers - to migrate or create new bears with new aspects based on development releases of **coala**

[2017-04-14 13:04] Makman2 commented on #3983
Hm yeah looks like, could you @arush0311 and @Siddhartha1234 sync up with each other? :) Then we decide what we are going to close :+1:

[2017-04-14 13:09] Makman2 commented on #4038
@userzimmermann actually that's the current workflow when we have new features. If there's a new feature and coala-bears does use it, the minimum requirement is the dev-version introducing the new feature. Actually I don't think it's so inconvenient^^

The same does hold for an aspects-release. If it's brand new, we don't release it immediately normally. People have to use the dev-version or some

[2017-04-14 13:24] Nosferatul commented on #4005
I guess you are talking about id:131358948048707591084528805948133130141:origin:SpaceConsistencyBear:file:/home/alex/Work/coala/ex.py:line:2:column:None:end_line:2:end_column:None:severity:1:severity_str:NORMAL:message:Line contains following spacing inconsistencies:
- Trailing whitespaces.

[2017-04-14 13:54] Makman2 commented on #4005
though that looks okay imo, everything is there. hmmm... I'll try it soon myself and see what happens^^

[2017-04-14 14:52] prakashdanish commented on #4105
But isn't the file removed [link](https://github.com/coala/coala/commit/0d1958c684785349f23de0ce364ef62ddf73165a) not sure if this is correct though

[2017-04-14 15:11] Nosferatul commented on #4105
@prakashdanish it was added after that :)

[2017-04-14 15:12] Nosferatul commented on #4005
awesome, thanks ! :smile:

[2017-04-14 15:19] Nosferatul commented on #3259
Unassigned due to innactivity.

[2017-04-14 15:20] Nosferatul commented on #3276
Unassigned due to inactivity.

[2017-04-14 15:20] Nosferatul commented on #3357
Unassigned due to inactivity.

[2017-04-14 15:21] Nosferatul commented on #3419
Unassigned due to inactivity.

[2017-04-14 15:21] Nosferatul commented on #3478
Unassigned due to inactivity.

[2017-04-14 15:26] prakashdanish commented on #4105
@Nosferatul sorry I'm new to github, i can't seem to find the specific file.

[2017-04-14 15:38] arush0311 commented on #3983
I think we can merge this first. https://github.com/coala/coala/pull/3526 will need more work :D

[2017-04-14 15:57] Nosferatul commented on #4105
oh my bad, isn't. @satwikkansal where did you find ContextManagers?

[2017-04-14 15:59] adhikasp commented on #4105
https://gitlab.com/coala/coala-utils/blob/master/coala_utils/ContextManagers.py

Why is this issue in here? 😕

[2017-04-14 16:49] Nosferatul commented on #4105
i dunno, @prakashdanish go on gitlab and check it. I'll close this

[2017-04-14 16:49] #4105 closed

[2017-04-14 17:23] Makman2 commented on #4005
Hm the default format string works, can be closed then imo^^

[2017-04-14 17:23] #4005 closed

[2017-04-14 17:25] Makman2 commented on #4105
Please migrate the issue :+1:

[2017-04-14 17:28] adhikasp commented on #4105
Migrated https://gitlab.com/coala/coala-utils/issues/26

[2017-04-14 18:49] satwikkansal commented on #4105
@prakashdanish sorry for reporting the issue in wrong repository :sweat: Thanks for migrating @adhikasp

[2017-04-15 07:33] NiklasMM opened #4107 "Linter.py: Make it possible to override `executable` for all linter bears"
Say, we have a linter bear called `FooLinterBear`:

[code]

If a user is in an environment, where they can't make the wrapped tool available as `foo` in the `$PATH` or want to use a different version than is regularly installed, they currently have no way to use the bear, since the executable is hard-coded. I discovered this, when I wanted to use `PyflakesBear` for a Python 2 project: Pyflakes has

[2017-04-15 11:21] Makman2 commented on #4107
sounds interesting, I definitely see the usecase. Though I don't have any idea how to implement that nicely...
One of the major drawbacks of this (why we definitely should emit a warning) that a coafile might be unusable across multiple machines (because different machines, different exe-paths). That's why we should maybe just encourage people to set up environments properly.

as this should be al

[2017-04-15 17:40] Roshanjossey commented on #4097
@jayvdb, I'd love to take this up.

I see configurations for python files in there but there is nothing for *.yml files.

Should I add something for *.yml?

[2017-04-15 20:12] userzimmermann commented on #4038
@Makman2

But we can release it earlier and more often than **coala** :)

[2017-04-15 20:14] userzimmermann commented on #4038
@Makman2

It's just one more **coala-utils**-like dep to **coala** and **coala-bears**

[2017-04-15 20:18] userzimmermann commented on #4038
@Techievena

I am still having doubts about packaging and having releases for aspects repository. I don't think a bunch of aspect-classes will be of any help to the other projects outside coala. That will also solve the above issue of having new aspect-classes for new bears.

That's actually a very interesting approach!

@sils Seriously! What about some bears/aspects online repository with some cu

[2017-04-15 21:46] Makman2 commented on #4038
It's possible to specify commits inside pip requirements list if I recall correctly. Somehow you have to use the git extension, looks something like `git+URL-commit` or so...

[2017-04-16 10:08] jayvdb opened #4110 "Unhandled exception PermissionDenied reading .coarc"
If the user does not have permission to read .coarc, an ugly unhandled exception occurs.

[code]

The exception should be caught (in ConfigurationGathering) and an ordinary error message logged in the system.

[2017-04-16 15:19] adhikasp commented on #2332
I just realize that my implementation plan is already half-implemented in https://github.com/coala/coala/pull/4112 (implementing `action` in `result`). So... I'll wait until that PR merged.

[2017-04-16 15:58] Makman2 commented on #2332
@adhikasp `actions` and `next_actions` are for chaining actions, they don't indicate which action was/will be taken.

[2017-04-16 16:05] adhikasp commented on #2332
@Makman2
Oh yeah i see, that was for list of *possible* action.

[2017-04-16 16:21] meetmangukiya commented on #2332
Seems fairly simple if we do this way :/

Why doesn't this work? :confused: ?

[2017-04-16 16:35] Makman2 opened #4114 "CLI: Refactor using context-object approach"
From [this discussion on gitter](https://gitter.im/coala/coala?at=58f39ac84cb8d09173975349):

Currently everything is quite cluttered, and we have many many unintuitive cross-references to functions or objects. Together with passing around log-printers this makes the current CLI a mess from code-perspective, that's why I think that we should implement a "context-object"-based approach.

i.e.

inst

[2017-04-16 17:29] satwikkansal commented on #3650
I'm confused regarding handling these NATIVE_ACTIONS (ShowPatchAction, OpenEditorAction, etc which coala adds implicitly to a result) for these new use cases of custom actions and next actions. A few design related questions that I've are:
- Should we allow users to pass native actions like OpenEditorAction in the actions field.
- If yes, then how do we handle multiple occurrences of such actions

[2017-04-16 18:52] Makman2 commented on #3650
That's actually a good question.

That's one of the main points why we should expose native actions. That means we treat them like normal
actions.

If a user defines multiple actions which "don't make sense" (like multiple `OpenEditorActions`), we have to filter that properly.

Or:
Maybe we go away from the concept of "native actions" at all, and try to group actions better. For example:
`ApplyPat

[2017-04-16 20:02] satwikkansal commented on #3650
A simple solution maybe:
- We allow the users to use native actions and custom actions alike.
- And we still maintain the default implicit behavior that we have currently.
- In case of multiple native actions provided, we simply ignore the default ones and use only the user-provided native action (So if the user wants to add `next_actions` to the native actions, he can do it this way)
- And yes, w

[2017-04-16 20:06] satwikkansal commented on #3650
Also, should we wait for https://github.com/coala/coala/issues/4114 to be resolved first, or should I continue working on this issue

[2017-04-16 20:14] satwikkansal commented on #4114
Another related discussion: https://gitter.im/coala/coala?at=58f3b84ca0e48562420dcea0

[2017-04-16 21:25] Makman2 commented on #3650
No you can continue working on that, #4114 can be done later.

Not really. Everywhere where a user sets `Result(..., diff=...)`, he does instead `my_result.actions += ApplyPatchAction(my_diff)`. It's quantity, not quality in this case ;D

Exactly what I wanted :) Actually the diff/patch is only useful when somebody has the possibility to apply it, so it's bound to an action, not to a result (I mea

[2017-04-17 09:23] jayvdb commented on #4021
I get

[code]

[2017-04-17 09:30] jayvdb commented on #3938
`cib` is only mentioned on the page `Bear_Installation_Tool.rst`.  IMO that page should note that `cib` is a work in progress, or it should be removed / replaced with a link to the cib repository.

When it is actually working, `cib` documentation would belong in the [User documentation](https://github.com/coala/documentation), so it isnt particularly helpful to keep it (with the current content) i

[2017-04-17 09:37] jayvdb commented on #2044
This is an important type of feature, and IMO is big enough that it should be a separate task.

[2017-04-17 10:25] adhikasp commented on #4021
The exact same command works on me
[code]

[2017-04-17 16:02] prakashdanish commented on #3754
Is this issue still being worked upon? @jayvdb @arnab1896

[2017-04-17 23:03] #4099 closed

[2017-04-18 02:51] jayvdb commented on #4038
@userzimmermann , that is already happeneing. We are using pypi as an online registry.  See https://github.com/coala/coala-bears/blob/master/bears/generate_package.py and [pypi search 'coala bear'](https://pypi.python.org/pypi?%3Aaction=search&term=coala+bear&submit=search) and [cib](https://gitlab.com/coala/cib)

That is not an argument for separate repos for each bear.  We could break the bears

[2017-04-18 03:19] jayvdb commented on #3754
@prakashdanish @arnab1896 , re-assigned, as @arnab1896 has finished low difficulty level tasks.
@prakashdanish, you should really start follow http://coala.io/newcomer by doing a http://coala.io/new difficulty task first.  But, if you like this task, and you know what is required, go for it first.

[2017-04-18 03:22] sbhayana26 commented on #4084
Why is this PR not being merged?

[2017-04-18 03:29] jayvdb opened #4115 "CI: Allow testing all bears"
Some changes are quite complex and need to be tested against all bears.

Ideally we have a CI mode that allows this.  As the bears quite a lot of setup, and the main coala repo CI needs to be fast, I suggest we do this by allowing an environment variable to be set, that invokes the bear tests in a docker.

I have a prototype at be72730.

[2017-04-18 03:30] jayvdb commented on #1622
I should clarify ... that is for normal builds.  However, for complex changes which impact bears, I think we need this.  See https://github.com/coala/coala/issues/4115

[2017-04-18 03:31] jayvdb commented on #4072
yup.  As this would impact the bears, I suggest you build on top of be72730 (c.f. https://github.com/coala/coala/issues/4115), and then rebase on top of master (and maybe #4115 is ready by then)

[2017-04-18 05:17] jayvdb opened #4116 "unset setting"
@NiklasMM confirmed at https://github.com/coala/coala-bears/issues/1581#issuecomment-291764179 that the only way to unset a setting with a default is to put `\0` (NUL) into the file.

That is not user-friendly.

If there is some voodoo to do this, it needs to be clearly documented.
Or, we need some new voodoo added.

[2017-04-18 08:03] Techievena opened #4117 "Getting more done in GitHub with ZenHub"
Hola! @Techievena has created a [ZenHub](http://www.zenhub.com) account for the **coala** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboar

[2017-04-18 08:04] Techievena commented on #4117
Can we use this integration? Looks awesome

[2017-04-18 08:47] jayvdb commented on #4117
The biggest problem is the permission system is based on GitHub.
https://github.com/ZenHubIO/support/issues/910

Also, I found performance/responsiveness on Firefox to be a problem. https://github.com/ZenHubIO/support/issues/1032

But the most annoying problem is that once you install ZenHub , it wants to take over all repos, which is both a usability problem and an inappropriate business model.
(

[2017-04-18 08:58] jihenee opened #4118 "Analyse code through url's git"
Hello,
I want to analyse a project that does not exist on my desktop but it exists on cloud (bitbucket).
# Actual Results
--files=https://name@bitbucket.org/name/project.git**/*.php
The requested section 'https://name@bitbucket.org/name/project.git**/*.php' is not existent. Thus it cannot be executed.
# Expected Results
--files=https://name@bitbucket.org/name/project.git**/*.php
the analyse was ma

[2017-04-18 09:22] jayvdb commented on #2006
This is waiting on https://gitlab.com/coala/coala-utils/merge_requests/26 , which I've scheduled for the next minor release.

[2017-04-18 11:06] jayvdb commented on #4118
Two options exist right now.  Either

1. Fetch the repository to your computer, or
2. run coala in the cloud (see https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala)

Not sure we would want `coala` to be doing the fetch from the repo for you.

[2017-04-18 15:12] Makman2 commented on #4038
totally agreeing :+1:

So I also vote for doing that later when we see that this is reasonable. Currently aspects aren't really implemented yet, keeping things in the same repo eases using this feature for now.

[2017-04-18 15:16] Makman2 opened #4119 "Linter_Bears_Advanced.rst: Mention how returning `None` inside `generate_config` works"
Depending on user settings, sometimes you want to avoid creating a config-file, sometimes not. This can yield huge performance improvements.

This "feature" shall be described in the guide with an example.

Originated from https://github.com/coala/coala-bears/issues/1615

[2017-04-18 15:33] Makman2 commented on #4118
Hm to analyze a git repo, it has to be fetched locally, as coala runs locally on a machine. So whether you do it manually or we add a feature to support this, the repo will be fetched to your machine in all cases.

Second: coala needs to find the `.coafile` somehow. You could use `-c` and point to an URL, though that needs support from our side again.

All in all I believe this is out of scope for

[2017-04-18 17:09] satwikkansal commented on #4118
I think it can be a nice feature to have in coala.io's [try online](http://coala.io/#!/tryonline) section.
User can provide the link to the files or complete repository, and pass in the settings using web interface.
It can go further ahead by using `coala-quickstart` if user doesn't know exactly what bears and settings to use.

[2017-04-18 20:11] Nosferatul commented on #4102
We could also make a new variable for a section -> `severity`?

[2017-04-18 21:24] Makman2 commented on #4102
yeah or `minimum_severity` (I think this name fits better)

[2017-04-18 21:33] #3733 closed

[2017-04-18 21:38] Makman2 opened #4120 "Linter tutorials brush-up"
The current guides (`Writing_Linter_Bears.rst` and `Linter_Bears_Advanced.rst`) are a bit out-of-date. New features need to be added, any we should maybe provide a few more examples.

Things that are currently in my mind:
- Better global-bear documentation
- New features not mentioned inside the guide (new unified-diff output format, global-bear, `process_diff` function)

This issue requires knowl

[2017-04-19 02:27] jayvdb commented on #4118
@satwikkansal, nice idea. you want to submit the issue in the correct repo?

[2017-04-19 03:36] tupaschoal opened #4121 "cib failing on every command"
### Overview Description
I'm trying to use cib to automatically configure some bears, but it fails with the same traceback for all the commands I try,

# Steps to Reproduce
1.  pip install cib
2.  cib -help

# Actual Results
![ciberror](https://cloud.githubusercontent.com/assets/6443427/25162310/2487b706-2498-11e7-947f-de129ee5b9db.png)

# Expected Results
Seeing help of the command.

# Reproducib

[2017-04-19 04:39] satwikkansal commented on #4118
Done, https://gitlab.com/coala/landing/issues/38

[2017-04-19 19:07] satwikkansal commented on #4118
@hemangsk  Didn't knew that, even I proposed https://github.com/coala/coala/issues/4118#issuecomment-294913440 in my GSoC proposal :P

[2017-04-19 19:15] hemangsk commented on #4118
Yeah its a one super cool task ;)

[2017-04-19 23:13] Makman2 commented on #4117
looks like https://waffle.io/

[2017-04-19 23:32] Makman2 opened #4122 "Write a review training guide"
As we are permanently reviewing PRs, it might be worthy to write a guide to train someone a bit for reviewing. I imagine the guide to consist of challenges, starting with low difficulty and ending with insane review examples.

For example the guide could start with typos.

[code]

then go over to codestyle issues, like

[code]

to simple logic problems

[code]

and so on and so on.

The finale wou

[2017-04-20 01:07] Techievena opened #4123 "Create a middleware application for having customized feed in Gitter"
Currently it is not possible to have a customized Github activity feed based on the labels in issues or PRs. This filtering can be very useful for having customized Github integration in chatrooms, especially when we have different chatrooms for teams working on a specific aspect of coala.

[2017-04-20 03:10] jayvdb commented on #4118
OK, I think we're done here.  Have fun other there with that project ;-)

[2017-04-20 03:10] #4118 closed

[2017-04-20 03:15] jayvdb commented on #4107
This could be a nice workaround for https://github.com/coala/coala-bears/issues/929

And we were recently talking in gitter about running some bears (with complex dependencies) via docker, and a custom command could be a way to prototype that better without modifying core. We could create a fake executable script which invokes docker, but that is more complicated for the user.

[2017-04-20 03:36] jayvdb commented on #3983
Note if this doesnt get merged into release 0.11 , there will be a [better dependency tracking tool](https://gitlab.com/coala/package_manager/issues/75) coming from upstream.

[2017-04-20 08:33] satwikkansal commented on #3650
@Makman2 For filtering, how about we add a class variable called `allow_multiple` to the ResultActions, it is `False` by default, and if it's `True` then only we'll allow multiple actions of the same type.

[2017-04-20 14:28] Makman2 commented on #3650
Hm not sure if I want to shift that design-overhead to the writer of a `ResultAction`. Not that much time to think that through completely now, but I'll be back ;D

[2017-04-20 14:30] Techievena commented on #4117
Can we add these features to Gitmate?

[2017-04-20 16:54] satwikkansal commented on #3650
No problem :)

Also, should we consider moving the  "filtering based on applicablity of the actions" part from `ConsoleInteraction` to `Result.action` field (I mean only applicable `ResultAction`s are returned when we use the property `my_result.actions`.

[2017-04-20 18:24] Nosferatul commented on #4117
also, we have `projects` from github

[2017-04-20 18:38] supergr35 opened #4126 "Appveyor curl failing"
curl throws the following error in appveyor ci:
`curl: (7) Failed to connect to releases.llvm.org port 80: Timed out`
Link to log: https://ci.appveyor.com/project/coala/coala/build/1.0.7427/job/dteq9w39v434i723
importance/high type/bug

[2017-04-20 20:16] Makman2 commented on #3650
deprecate the `Diff` feature by emitting a warning and implicitly set an action via `result.action`.

phew good question... like you want :)

Actually consider what you think is best, as we have many possibilities to solve this issue^^

[2017-04-21 06:20] RohanVB commented on #4122
Here's my opinion, some of the points of which you have covered 👍 :

Reviews can be divided into 2 parts -

1.(**Knowledge specific/Understanding required**)
IMO the reviewer would have to have an understanding of how things are linked (function calls, variables used, imports used etc,.) from the start of the **added code** to the end to have an effective review. Since it's rare for 2 people to th

[2017-04-21 07:34] jayvdb commented on #4126
It appears to only need a longer timeout.
That is the quick fix.

https://github.com/coala/coala/issues/3726 and https://github.com/coala/coala/issues/3854 are two alternative approaches which are close to completion.  ping @gaurav1911  and @Techievena

[2017-04-21 11:05] satwikkansal commented on #3650
@Makman2 For deprecating `Diff`,
1. Group `ShowPatchAction` and `ApplyPatchAction` into `PatchAction` (a ShowPatchAction with `next_action` set to ApplyPatchAction)
2. Each `PatchAction` is initialized with exactly one diff, but one Result can contain multiple PatchActions (atleast one).
3. PatchAction is implicitly added to `result.actions` when result is initialized

Would it be sufficient to ad

[2017-04-21 11:24] adtac commented on #4121
CC @Adrianzatreanu

[2017-04-21 11:26] adtac commented on #4117
To all maintainers: be careful logging in with coala authorization. I did that by mistake the last time with waffle and we got a bunch of unnecessary labels (redundant) added to our repo's label list.

[2017-04-21 11:31] adtac commented on #4107
@NiklasMM so the rest of the arguments won't be changed, yes? We can make that customizable too. But at that point, we're just creating new bears inside the coafile :D

[2017-04-21 11:37] adtac commented on #4098
Generate a `.editorconfig` from a `.coafile`? I don't really agree that should be a part of `coalib`. `coalib` should just be code analysis (IMO it's too bloated as it is). If we're taking this really seriously, we could have a separate library just for editorconfig-coafile interfacing. That could have methods to read any of the two and generate the other.

[2017-04-21 11:55] adtac commented on #4116
`unset max_line_length` for example looks a little out of place in a configuration file. Any other options?

[2017-04-21 12:01] adtac commented on #4107
One more question: what happens if there are multiple bears in a section? How would I override just one bear's executable?

[2017-04-21 12:16] adtac opened #4127 "Use `[all]` instead of `[default]` in all coafiles"

[2017-04-21 12:28] yukiisbored commented on #4107
Hmm, what about something like this

[code]

A couple of questions:
* Should we prioritize `additional_path`?
* How do we define it on "per-bear" basis?

[2017-04-21 12:29] yukiisbored commented on #4107
But yeah, It's a really tough one to swallow because it'll kill portability of coafiles.

[2017-04-21 13:05] coala-bot opened #4129 "Add nginxBear"
nginx can check if the configuration file syntax is correct by running `nginx -t -c <configuration file>`

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=58fa037cf22385553d61f0b4) by @yukiisbored

[2017-04-21 13:05] yukiisbored commented on #4129
Moved to https://github.com/coala/coala-bears/issues/1638.
Please close this.

[2017-04-21 13:12] #4129 closed

[2017-04-22 01:44] jayvdb commented on #3961
https://github.com/coala/coala/pull/3965 was the followup fix.

[2017-04-22 10:01] Adrianzatreanu commented on #4062
looks nice, here @andreidinu

[2017-04-22 10:08] hnuestedt opened #4131 "Usability: Ignore or delete .orig-Files"
### Overview Description
Think of a Coala-Beginner. He or she will try:
`coala --bears SpaceConsistencyBear --files ./*`
This works out nicely and patches all the Space-Inconsistencies (if the user wants to). The Beginner then wants to do this again and create a .coafile, so he or she types:
`coala --bears SpaceConsistencyBear --files ./* --save`

# Steps to Reproduce

1. `printf "<?php\nif(true){

[2017-04-22 10:28] jayvdb commented on #4126
Consistently working again.
Re-open if it re-occurs.

[2017-04-22 10:28] #4126 closed

[2017-04-22 10:38] jayvdb commented on #4019
But, we already use positional arguments for target section names.

So then these are errors:

-  `coala --exclude-sections foo foo`
-  `coala --exclude-sections foo bar`

i.e. there is no valid value for `TARGETS` when `--exclude-sections` is used, and the inverse is also true.

IMO it would be more sensible for TARGETS to be prefixed with `!` to indicate they should be disabled. i.e.

    coala

[2017-04-22 10:49] Adrianzatreanu commented on #3969
imo it would be useful right now if coala-bears is not installed and coala is and you try to run coala, it should prompt you something like: No bears found. would you like to install coala-bears to get all the bears?
Think this should be easy, just check whether -show-all-bears (or whatever the command is) has any positive output, if not, show this.

[2017-04-22 10:51] Adrianzatreanu commented on #4122
this is great, i love this, we should have this.

[2017-04-22 12:17] Makman2 commented on #3650
No, not every result has a patch. The user adds it himself.

Also add a `PatchAction` to the new `result.actions`, so diffs do still work for a while :+1:

[2017-04-22 12:26] Makman2 commented on #4107
The user could set paths in his `.coarc` file, as this one is not shared (usually).

[2017-04-22 12:31] meetmangukiya commented on #2745
@Sanny26 are you still working on this?

[2017-04-22 12:45] meetmangukiya commented on #3697
If people write their bears they'll likely set this attributes which will just override the default value, right?

Consider this:
Currently all the bears 107 bears has same `AUTHORS` and `AUTHORS_EMAILS` most probably. Now imagine we want to change those attributes, what is better:
- Change in all the bears?
- Change in coala Bear class?

[2017-04-22 13:05] jayvdb commented on #2847
This was completed in https://gitlab.com/coala/package_manager/merge_requests/21

[2017-04-22 13:06] Makman2 commented on #3697
Good point. Not sure though if we get legal issues with that if people write their own bears.

May I ask for some input from @jayvdb and @sils ?

[2017-04-22 13:06] #2847 closed

[2017-04-22 14:49] Makman2 commented on #4131
Oh we do lint `.orig` files by default :O We should exclude them maybe inside the system-wide coafile^^

[2017-04-22 14:56] Makman2 commented on #4131
Ah wait you specify all files you find coala shall check. You should supply a file-ending, like `./*.php` so coala only takes PHP-files^^

Sorry for not seeing this^^

[2017-04-22 21:14] ZackTaylor commented on #4127
I'd like to take a crack at this.

[2017-04-22 21:23] ZackTaylor commented on #4127
Can I take a shot at this?

[2017-04-23 09:37] meetmangukiya commented on #4127
@ZackTaylor seems like you are not in the organization yet, sent you an invitation, accept it and this issue is yours :)

[2017-04-25 00:11] jayvdb opened #4135 "REQUIREMENTS are now really important"
dependency_management has [lots](https://gitlab.com/coala/package_manager/tree/master/dependency_management/requirements) of lovely new features, and we *must* use them.

There is a [coala core change](https://github.com/coala/coala/pull/3526) planning to use REQUIREMENTS or the bear wont run.  That will be a huge breaking change, unless we have high quality REQUIREMENTS that cater for all users (

[2017-04-25 00:13] jayvdb commented on #4135
whoops - this should be https://github.com/coala/coala-bears/issues/1650

[2017-04-25 00:13] #4135 closed

[2017-04-25 00:14] #4064 closed

[2017-04-26 02:10] #4068 closed

[2017-04-26 02:45] #3906 closed

[2017-04-26 04:23] coala-bot opened #4137 "Error if circle containers is >2"
https://github.com/coala/coala/issues/3352 prevented less than 2 containers, but allows more, which waste resources

Opened via [gitter](https://gitter.im/coala/coala/?at=590020ba587a245e244b95ea) by @jayvdb

[2017-04-26 05:20] yash-nisar opened #4138 "Add `SEE_MORE` attribute to the Writing_Linter_Bear section in the docs"
Add `SEE_MORE` attribute to the bear metadata in https://github.com/coala/coala/blob/master/docs/Developers/Writing_Linter_Bears.rst
difficulty/newcomer
area/documentation

[2017-04-26 05:26] yash-nisar opened #4139 "http://api.coala.io/en/latest/Developers/Writing_Native_Bears.html#requirements should be updated"
Since the `dependency_management 0.4.0` has been released, we should update the documentation will all the new features added.
difficulty/low
area/documentation
status/needs info

[2017-04-26 05:27] yash-nisar commented on #4139
CC @jayvdb @Makman2

[2017-04-26 05:53] meetmangukiya opened #4140 "A pipeline for errors regarding sanity of config settings"
I don't think we have this in place, if we do, please specify it and close the issue.

I stumbled across this while reviewing https://github.com/coala/coala-bears/pull/1505
Here, there are two settings `max` and `min` files. Now, this two settings do not really depend upon each other. But there is a need to perform a check that `max` is always more than `min`.

How does a bear report problems in c

[2017-04-26 05:54] meetmangukiya commented on #4140
I think we only have type checking of config settings as of now

[2017-04-26 14:38] coala-bot opened #4141 "pip warning in .misc/check_setuptools.py"
DEPRECATION: The default format will switch to columns in the future. You can use --format=legacy (or define a list_format in your pip.conf) to disable this warning.
https://travis-ci.org/jayvdb/coala/builds/226033302

That script needs to add `--format=legacy` to the pip invocations
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5900b0da8e4b63533d0734c5) by @jayvdb

[2017-04-26 17:25] Makman2 commented on #4140
I think coala still executes if you raise the exception inside `run`. Raising an exception inside `__init__` definitely stops execution^^

[2017-04-26 17:26] Makman2 commented on #4140
Though we maybe should have a defined method to check passed settings^^

[2017-04-26 17:33] meetmangukiya commented on #4140
Maybe we can implement a `check_settings` function in `Bear.py` and let bears override it, and coala runs this method implicitly, and print a nice message showing the error in the setting.

[2017-04-26 17:37] Makman2 commented on #4140
sounds good, so something like `check_prerequisites` but just for settings :+1:

[2017-04-26 17:43] meetmangukiya commented on #4140
Is it `difficulty/medium`, if not re-label :P

[2017-04-27 03:19] #3982 closed

[2017-04-27 03:19] #3986 closed

[2017-04-27 03:39] Mixih opened #4144 "Release 0.11 checklist"

[2017-04-27 03:53] Mixih commented on #4144
Possible user projects to test on:
(note: gathered from a very unscientific random click and search, any biases are purely coincidental)
- https://github.com/NIT-dgp/festcms
- https://github.com/opendaylight/releng-builder
- https://github.com/SquareMS/SquareMS-Panel

[2017-04-27 05:56] jayvdb commented on #3100
I like the idea of having the list extracted and stored at each release, as part of release procedure.
To make it even more useful, filter out maintainers who didnt commit during the release period.

[2017-04-27 07:24] adtac opened #4145 "Do not offer to add an ignore comment after the user chooses "Add ignore comment""
That doesn't make much sense. It shouldn't be there in the second time the options are presented (if the user chose "Add ignore comment" the first time).

[2017-04-27 12:00] Makman2 commented on #3100
Hm not sure, I think what's most important that you are able to contact someone from the maintainers. If someone has no commits for that release, but responds to your requests, I think he/she should be included^^

[2017-04-27 12:14] jayvdb commented on #3100
Active during the release is a good easy way to predict who a) is interested, and b) has a decent knowedge of recent changes which is what inquiries will usually be about.

[2017-04-27 12:44] jayvdb commented on #3545
See also https://github.com/pypa/setuptools/issues/926 , perf problems.

[2017-04-27 15:26] Makman2 commented on #3100
good point :+1:

[2017-04-27 15:35] meetmangukiya commented on #3100
Sad though, do we get any inquiries :(

[2017-04-27 16:49] coala-bot opened #4146 "Warning about glob not matching any files should suggest removing it"
maybe the glob is unneeded and users wonder how to just get rid of the warning. Either they have to remove it or they did something wrong so we could be a bit more explicit.

Opened via [gitter](https://gitter.im/coala/coala/?at=59022106c1d3b5015427f162) by @sils

[2017-04-27 18:44] CleanCut commented on #4060
@jayvdb Wife and son sick with the flu today.  In between taking care of them I implemented per-project configuration support for green.  Included in Green 2.8.0 (just released).

[2017-04-27 20:40] userzimmermann opened #4147 "Add keyword-only languages= argument to meta bearclass"
According to https://github.com/coala/coala/pull/3966 the meta `bearclass` should also provide a keyword-only `languages=` argument, allowing:

[code]

[code]

This is already getting implemented by #4111

@coala/aspects-developers

[2017-04-27 20:55] userzimmermann opened #4149 "Grow aspectsYEAH bear under coalib.bearlib.aspects"
As mentioned in https://github.com/coala/coala-bears/pull/1604#issuecomment-294316421 the new `aspectsYEAHBear` should be moved from the **coala-bears** PR to a new **coala** PR and moved to `coalib.bearlib.aspects` for experimenting

@coala/aspects-developers

[2017-04-27 21:28] Mixih commented on #4144
some more user projects:
python-babel/babel
plone/plone.docker
semara123/gci16.fossasia.org
underyx/structlog-pretty

[2017-04-27 22:52] sims1253 opened #4150 "BUG: Diffs are shown in two steps"
This is on 0.12.0.dev20170427043713

When you run coala on https://github.com/sims1253/coala_showcase the first result's diff is split into two results. The following results show additions and deletions in the same diff.

[code]

[2017-04-28 00:25] Mixih commented on #4150
confirmed present on 0.11.0rc1. Milestoning

[2017-04-28 00:27] Mixih commented on #4150
hmm the diff format seems messed up:
0.10.0:
[code]
0.11.0rc1
[code]

[2017-04-28 01:06] jayvdb commented on #4149
Why not keep it in `tests/` somewhere .  coala can be run with a custom bears directory.

[2017-04-28 07:06] jayvdb commented on #1862
@nemaniarjun , what is the status of this. https://github.com/coala/coala/pull/3596 was closed, and a new PR was going to be opened ... ;-)

[2017-04-28 08:55] nemaniarjun commented on #1862
@jayvdb I was a bit busy with exams, etc. You can expect it to be completed by the end of this week.
Current PR : https://github.com/coala/coala/pull/3740

[2017-04-28 08:59] jayvdb commented on #1862
No worries; I have cross linked the PR with the issue so it doesnt get lost.

[2017-04-28 12:32] userzimmermann commented on #4149
@jayvdb

Also a possibility :)

@coala/aspects-developers Your opinions?

[2017-04-28 14:00] sils commented on #4150
there's a threshold in the diff somewhere on when to split diffs or not maybe someone changed that

[2017-04-28 14:08] sils commented on #3885
It definitely doesn't make sense to change the way the diffs behave. What could be done would be methods that allow modifying a diff based on the modified version in addition to what we have, those would just be wrapper methods around existing functionality (not that I see a usecase for it).

This has nothing to do with coala applying patches and can't affect bears that yield multiple diffs becaus

[2017-04-28 16:50] Makman2 commented on #4150
Definite regression...

the patch is already presented, I think it's intended behaviour currently that the show-patch-option is missing^^

[2017-04-28 17:00] meetmangukiya commented on #4150
Wait, are you suggesting that this is not a regression/bug but a feature? In that case I might not go bisecting the commit :P

[2017-04-28 17:16] Mixih commented on #4150
hmm so unified diff splitting bug then?

[2017-04-28 17:52] Makman2 commented on #4150
yeah this is definitely splitting. Can pep8 emit patches addressing a single problem? Otherwise we run out of alternatives (the only alternative I can think of is setting `diff_distance = 1000`, which means that all changes are aggregated into a single diff).

Related to https://github.com/coala/coala/issues/2898.

[2017-04-29 00:23] sims1253 commented on #933
@Udayan12167 @Makman2 isn't this done?

[2017-04-29 13:02] Makman2 commented on #933
Not yet

[2017-04-29 19:31] mgracer48 commented on #4145
How would i go about fixing this

[2017-04-29 19:37] coala-bot opened #4151 "coafile check implementation in coala"
like nginx can check the config files for syntax errors, coala should be able to do that as well and point out the lines of errors and even cols if possible

It'd be a good featuer IMO

Opened via [gitter](https://gitter.im/coala/coala/?at=5904eb8012d2409935aee20a) by @meetmangukiya

[2017-05-02 10:49] jayvdb commented on #4140
Note (**not** opposing a new hook) that this can be done(proto-typed?) in the existing hooks prior to `run`, by using `self.section`.  See https://github.com/coala/coala-bears/commit/882d6977d0ba1 where I inspect the setting of `shortlog_check_imperative`.

[2017-05-02 12:02] Makman2 commented on #4140
Though this is a performance penalty for `LocalBears`, as the check is then executed on every file. Also `setup_dependencies` would be quite unintuitive to use for this purpose^^

[2017-05-02 13:38] jayvdb commented on #2822
I'm guessing this is fixed now.

[2017-05-02 16:26] mrtes commented on #4146
I would like to do this.

I guess it would only require to change the string in [coalib/collecting/Collectors.py (Line 85)](https://github.com/coala/coala/blob/fa07385c33591707d9e5a630464895643d4b010e/coalib/collecting/Collectors.py)
And probably also an update to [tests/collecting/CollectorsTest.py (Line 33)](https://github.com/coala/coala/blob/b56590c5d089052faa2105c16bb943b27f8f145e/tests/colle

[2017-05-02 17:22] meetmangukiya commented on #4116
I like unset syntax

[2017-05-02 19:02] girishramnani commented on #4137
I would like to do this.

I need to change the less than operator to `!=` operator in the file
https://github.com/coala/coala/blob/master/.misc/deps.sh#L4.
`

[2017-05-02 19:31] Makman2 commented on #4116
actually me too :+1:

[2017-05-02 23:42] #4138 closed

[2017-05-03 04:38] meetmangukiya commented on #3912
Blocked because no reliable mechanism/implementation method found yet..

[2017-05-03 04:40] meetmangukiya commented on #4140
@Makman2 I think we use caching pretty efficiently in here, since coafile is usually not changed _that_ often

[2017-05-03 04:44] meetmangukiya commented on #4116
are we settled on using the unsetting keyword for unsetting variables?
`unset <setting>`

[2017-05-03 04:48] meetmangukiya commented on #4150
but aggregating all the changes in single diff means either apply all or don't apply any diff/patch, no?

[2017-05-03 07:58] coala-bot opened #4156 "Compatibility.py: Add comment explaining JSONDecodeError is missing in Python 3.4"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=59098da68fcce56b205cd7e0) by @jayvdb

[2017-05-03 08:03] coala-bot opened #4157 "Compatibility.py: Add Python version based coverage pragma"
We should have pragma which self-documents that the exception is required on Python 3.4, and other versions will not enter that branch.
See 8e438b36b for platform based coverage pragma.
status/blocked on coala/coala#4156
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=59098eb9edf919574a70c519) by @jayvdb

[2017-05-03 08:18] coala-bot opened #4158 "Add test coverage for LocalBearTestHelper.check_results"
This method is untested due to incorrect use of `#pragma: no cover`.
The rest of the class `LocalBearTestHelper` is covered by tests.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5909926612d2409935bfdacb) by @jayvdb

[2017-05-03 08:50] jayvdb commented on #3492
Maybe we can automatically clear the cache somewhere, or add a BIG BOLD NOTE if the test suite is being run with stuff in the cache.

[2017-05-03 09:25] jayvdb opened #4159 "ProcessPoolExecutor instantiation with explicit max_workers copies default value"
`Core.run` from ada14dcc9 instantiates a `ProcessPoolExecutor` with an explicit `max_workers` set to be the number of cpus.

This is unnecessary, as that explicit value is also the default if `max_workers` is left set to `None`.
https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.ProcessPoolExecutor

See https://github.com/python/cpython/blob/15f44ab/Lib/concurrent/futures

[2017-05-03 10:12] JohnS-01 commented on #4101
Let me know if I need to change anything or if I did something wrong.

[2017-05-03 10:15] #4159 closed

[2017-05-03 12:21] #2914 closed

[2017-05-03 12:22] #3887 closed

[2017-05-03 12:25] jayvdb commented on #2405
@all3fox , as you did a lovely job with https://github.com/coala/coala/issues/2914 and convincing answer wrt https://github.com/coala/coala/issues/3887 , could you also decide how we proceed with this one.

[2017-05-03 12:26] jayvdb opened #4163 "Add argcomplete to test-requirements"
Currently we do not have any testing to ensure that our `argcomplete` support continues to work, with any specific version of `argcomplete`.

[2017-05-03 12:40] jayvdb commented on #3887
Very much appreciate your POV on this one, but I disagree with not adding it to `test-requirements.txt`.
I've submitted a patch with reasoning at https://github.com/coala/coala/pull/4164 , and requested that you review it, so we can continue the discussion there.

[2017-05-03 13:19] jayvdb commented on #3887
Hmm, not 100% sure about this now.

Why not add `PYTHON_ARGCOMPLETE_OK`, which makes it work for those who do want global mode?
Our docs could still recommend the local mode, and only provide instructions for it.

Fedora RPM does all the hard work for me, a bash user...
[code]

[2017-05-03 13:28] Makman2 commented on #4150
yeah that's the problem. But we can't do more if PEP8 doesn't yield more precise patches^^ Or we just accept this splitting problem^^

[2017-05-03 13:33] Makman2 commented on #4140
Still we execute the check 1000x for thousand files despite that the result won't change.

[2017-05-03 13:56] Shade5 commented on #3492
Yes, that seems logical. I'll close this then.

[2017-05-03 13:56] #3492 closed

[2017-05-03 13:58] jayvdb commented on #3492
Can you create a new issue about the BIG BOLD NOTE ?

[2017-05-03 14:03] jayvdb opened #4165 "Add test coverage of CLI --bears completer"
There is a `# pragma: no cover` in `DefaultArgParser` for
`.completer = lambda *args, **kwargs: get_all_bears_names()`, because it can not be reached using a normal test.

A crazy way to reach this code is to run complete in debug mode, probably easiest by using `subprocess`. See http://argcomplete.readthedocs.io/en/latest/#debugging

[2017-05-03 14:07] jayvdb commented on #4165
blocked on https://github.com/coala/coala/issues/4163

[2017-05-03 14:50] jayvdb opened #4166 "Remove pragma: no cover"
`pragma: no cover` is being over used to avoid writing test cases, and slipping through review.
It should be prevented, requiring more specific pragma's that are less likely to skip through review without being questioned.

[2017-05-03 14:50] jayvdb commented on #4166
See also https://github.com/coala/coala-bears/issues/1618 for the same problem in bears

[2017-05-03 14:51] jayvdb commented on #4166
Two recent merged PRs which helped in this regard: https://github.com/coala/coala/pull/4160 and https://github.com/coala/coala/pull/4162

[2017-05-03 14:54] jayvdb commented on #4166
A pending PR which increases the ability to whitelist a specific scenario where testing is 'hard': https://github.com/coala/coala/pull/4164

[2017-05-03 15:13] jayvdb commented on #1279
`run_tests.py ` was removed in a7bca64f2a , and we've also solved some locale problems recently with https://github.com/coala/coala/issues/3906 , so unlikely to be anything left to do here.

[2017-05-03 15:13] #1279 closed

[2017-05-03 15:18] jayvdb commented on #2861
We also do not have any tests in this repo for `check_results`: https://github.com/coala/coala/issues/4158

[2017-05-03 15:19] jayvdb commented on #4158
This is part of https://github.com/coala/coala/issues/4166

[2017-05-03 15:25] all3fox commented on #2405
No-no-no, I would strongly advise against messing with the user's `.zshrc` or (maybe also) `.bashrc` file. For instance, arch users often go with the `zsh` configuration called `grml-zsh-config` because that is a nice shell they work in while installing archlinux (and then just stay with it). That config generates a `.zshrc` automatically and then asks you to provide your manual modifications in `

[2017-05-03 17:15] jayvdb commented on #4166
Another pending PR to reduce the usage of pragma : https://github.com/coala/coala/pull/4167

[2017-05-04 01:24] jayvdb commented on #4165
Note (mostly to self) an ugly way to avoid this pragma is to create a testable function.

[code]

Ideally what we want though is a `partial` that ignores all `*args, **kwargs`.

[2017-05-04 04:30] #4158 closed

[2017-05-04 05:14] mansimarkaur commented on #4156
Hi
I'd like to work on this issue.

[2017-05-04 05:25] jayvdb commented on #4156
Great!  Please follow our http://coala.io/newcomer process; jump onto http://coala.io/chat and request to join the org, so that we can assign this issue to you.

[2017-05-04 05:49] coala-bot opened #4170 "Tests should have a BIG BOLD NOTE if they are being run with stuff from cache"
Opened via [gitter](https://gitter.im/coala/coala/?at=590ac0d3881b89e101b0a2dc) by @Shade5

[2017-05-04 05:50] Shade5 commented on #4170
Prevents problems like https://github.com/coala/coala/issues/3492

[2017-05-04 07:59] danlls commented on #4141
Hi, I'm new here and would like to work on this.

[2017-05-04 12:47] #4141 closed

[2017-05-04 13:20] userzimmermann opened #4173 "Shell.py: Change pragma to pragma posix for Windows specific code"
According to @jayvdb's https://github.com/coala/coala/pull/3679#discussion_r114514146

[2017-05-04 14:09] girishramnani commented on #4137
This issue has been resolved

[2017-05-04 16:28] jayvdb commented on #4173
Already included in a PR : https://github.com/coala/coala/pull/4169

[2017-05-04 18:19] userzimmermann commented on #4173
Closed in favor of https://github.com/coala/coala/pull/4169

[2017-05-04 18:19] #4173 closed

[2017-05-04 20:34] #3790 closed

[2017-05-04 21:46] Makman2 commented on #3790
I've just seen that `Diff` implements `__bool__` which seem to just do this. CC @meetmangukiya

[2017-05-05 01:50] meetmangukiya commented on #3790
Oh.. :( it is already merged.

[2017-05-05 09:42] jayvdb commented on #4067
I've raised bug https://github.com/pchomik/pytest-spec/issues/16 upstream as the output needs improvements for doctest .

Why not make it a mandatory part of our testing infrastructure?  Presumably we would only do it if/when the output is indeed an improvement over standard pytest.

The problem is then that it needs to be explicitly enabled in the CI , as we cant enable it in `setup.cfg` unless t

[2017-05-05 11:14] Vamshi99 commented on #3901
I feel that we should inform users about importance of gitlab contributions also. As @jayvdb  said, we should mention in newcomers guide that gitlab contributions also count for promotion of newcomer to developer process.

[2017-05-05 12:58] jayvdb commented on #4156
Ok, the next step is creating a nice commit http://coala.io/commit

[2017-05-05 14:25] adtac opened #4175 "Make PKGBUILD"

[2017-05-05 15:42] mrtes commented on #4145
We could change the return value of [ask_for_action_and_apply](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L608-L656) to the name of the applied action (or the action, or the action metadata) and use it to modify [the metadata_list](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L152) in the surrounding loop.

This would change the

[2017-05-05 15:49] RohanVB commented on #4145
I guess this is a duplicate issue.
Ref: https://github.com/coala/coala/issues/3375

[2017-05-05 15:51] adtac commented on #4145
@RohanVB you're right. Closing in favor of https://github.com/coala/coala/issues/3375

CC @mrtes @mgracer48 - please move all discussion to that issue.

[2017-05-05 15:51] #4145 closed

[2017-05-05 16:29] adtac commented on #3375
@mrtes From gitter:

you can solve the coala/coala#3377 with the other method too
you might need to tweak things a little bit
the reason I prefer the method I mentioned: this way we make our changes mostly on the *Action.py files instead of the core itself

[2017-05-05 18:05] anubhabsen opened #4177 "coala on MacOS"
### Overview Description
Not able to execute coala from terminal after installation in MacOS

# Steps to Reproduce

1. Use MacOS
2. pip3 install coala-bears
3. try executing coala/ coala-bears

# Actual Results

zsh: command not found: coala

# Expected Results

analysis of code/ usage instructions

[2017-05-05 22:24] Makman2 opened #4178 "Diff: Remove has_changes field"
The better alternative to `has_changes` is using `__bool__`.
Task is to remove `has_changes` again by reverting commit https://github.com/coala/coala/commit/671e6a2e9fe1f5ab8bab5370c1848f00b3472030.

Sorry @lshobith, but your work is not in vain, now we know also thanks to you how to do it better ;)

See also https://github.com/coala/coala/issues/3790

[2017-05-05 22:26] Makman2 commented on #3790
See https://github.com/coala/coala/issues/4178 for removing the duplicated functionality again.

[2017-05-06 17:52] anubhabsen commented on #4127
Replaced all instances of `[default]` to `[all]` in all coafiles, but this seems to cause issues with `default` in some other files (not coafiles). Ref: #4176

[2017-05-07 01:00] thisch opened #4180 "can't build docs due to multiple targets for cross-reference"
I can't successfully build the docs using `python setup.py docs` with Sphinx 1.5.5 due to the following error

[code]

I had a look at the implementation of the two CircularDependenyError classes and they are quite similar, can't they be merged?

[2017-05-07 09:18] #3819 closed

[2017-05-07 09:21] coala-bot opened #4182 "Section inheritance doesn't work with upercased section names"
While this version of a coafile ignores the file
[code]

This version doesn't ignore the file and runs LineLengthBear on it
[code]

Opened via [gitter](https://gitter.im/coala/coala/?at=590ee729c4d73f445a80a435) by @sims1253

Version is 0.12.0.dev20170504203353

[2017-05-07 09:24] meetmangukiya commented on #4182
.coafile:
[code]
coala version
[code]
Files in `[all]`
[code]
Files for `[all.test]`
[code]

[2017-05-07 09:30] sims1253 commented on #4182
Now even the Default inheritance doesn't work anymore. Even though coala gives a warning about it.
Full coafile and debug log up until file file is checked below.

[code]

[code]

[2017-05-07 09:50] thisch commented on #4180
This might be related to the sphinx-1.5.5, since the docs-requirements.txt 1.4.9 is hardcoded.

[2017-05-07 09:58] sims1253 commented on #4182
Test with the rc

coafile
[code]
Output
[code]

test.py and bar.py have lines that are too long.

[2017-05-07 10:01] ramonh commented on #4177
(this is sils on another persons PC :)) CC @Udayan12167

[2017-05-07 11:24] meetmangukiya commented on #3100
So, we get list of maintainers using the API and then check ones who have commented at least once on an issue in either coala or bears repo and add them to the setup.py ?

[2017-05-07 11:34] sims1253 commented on #4182
The problem is with upper case sections. all lower works.

[2017-05-07 12:19] thisch opened #4184 "ConsoleInteractionTest starts editor if run with .misc/test.py"
If I run pytest using `bash .misc/test.sh`, my editor (gui version of emacs) is started in the ConsoleInterationTest. This should not happen.

[code]

[2017-05-07 14:01] Mixih commented on #4182
That is a regrsssion since we explicitly stated it is case insenitive

[2017-05-07 14:12] Makman2 commented on #4177
Did the installation succeed? Do you have the install log?

[2017-05-07 14:13] Makman2 commented on #4180
Did you try to compile the docs with sphinx 1.4.9?

[2017-05-07 14:17] Makman2 commented on #4180
Indeed those classes seem to be very similar. We should try to merge them :+1:

[2017-05-07 14:20] Makman2 commented on #4184
Actually I'm not sure whether we support to run the CI stuff locally. If you want to test, just run `py.test` instead of using the CI scripts. Might be that we spawn up an editor on purpose^^

[2017-05-07 14:23] anubhabsen commented on #4177
Not via pip, but I did succeed in installing it with the setup file in the repo. Encountered some issues with locales too. So commented out line 17-23 of setup.py and that worked.

[2017-05-07 14:25] Makman2 opened #4185 "--no-color is ignored for loglines"
Migrated from https://github.com/coala/coala-bears/issues/1714.

From @thisch:

[2017-05-07 14:25] Makman2 commented on #4185
From @Makman2:

[2017-05-07 14:29] sils commented on #4182
I have a fix FWIW

[2017-05-07 14:31] Makman2 commented on #4177
What issues?
What was your install command for the `setup.py` file?
And are you sure that your path is correct?

[2017-05-07 14:45] anubhabsen commented on #4177
`python3 setup.py`
Executing before commenting out gave an locale error. Tried exporting all locales to en-us and c, neither solved it, tried to turn off Set locale environment variables on startup in preferences, that didn't work either.

[2017-05-07 14:51] Makman2 commented on #4177
Could you paste the exact error?

[2017-05-07 14:51] thisch commented on #4185
Sry, I accidentally posted this issue in coala-bears

[2017-05-07 15:33] meetmangukiya commented on #4178
@Makman2 are you sure, have a look at this:
[code]

[2017-05-07 15:34] meetmangukiya commented on #4178
If you look at `has_changes` and `bool` they are quite different

[2017-05-07 16:20] Makman2 commented on #4178
From the docstring of `__bool__`:

Then `__bool__` has actually a bug imo^^

[2017-05-07 16:26] anubhabsen commented on #4177
[code]

[2017-05-07 16:28] Makman2 commented on #4177
Why does the path there point to a Python 2.7 installation?

[2017-05-07 16:53] anubhabsen commented on #4177
Oops, `python3 setup.py` did the job. But running coala now gives
`[ERROR][22:21:12] There is a conflict in the version of a dependency you have installed and the requirements of coala. This may be resolved by creating a separate virtual environment for coala or running `pip install "coala~=0.10.0"`. Be aware that the latter solution might break other python packages that depend on the currently i

[2017-05-07 17:03] damngamerz opened #4187 "DocumentationAPI: diff gets cutoff bug."
Documentation extraction currently works perfectly on.
[code]
 If the description is written like this, for example

[code]
The diff generated cuts-off the description to.

[code]
This is important and it needs to be fixed.

[2017-05-07 17:45] SanketDG commented on #4177
@anubhabsen please ask in gitter chat, more people will be able to help you there 😄

[2017-05-07 18:47] Makman2 commented on #4177
1. Please use `pip3` instead of `pip` as coala only works with Python 3.
2. So you can execute coala now?

Btw could you be a bit more precise? It's a bit hard to follow you^^

[2017-05-07 19:55] userzimmermann opened #4188 "argparse.ArgumentParser is wrongly named ArgParser several times"
(In doc strings)

Realized while reviewing: https://github.com/coala/coala/pull/4161#discussion_r115152066

[code]

But actually `argparse.ArgumentParser` is meant there. So those occurrences should be changed accordingly to clearly know what is meant. Otherwise it looks like some coala-internal `ArgParser` class

@Udayan12167 @supergr35 @JohnS-01

[2017-05-07 20:09] thisch commented on #4184
We do support it according to the docs (see e.g. https://github.com/coala/coala/pull/4176#issuecomment-299723478). This issue can also be reproduced if I run pytest directly

[code]

[2017-05-07 20:19] thisch opened #4189 "pytest executable is called pytest instead of py.test now -> update this in the docs"
In the docs we currently mention to use ``py.test`` to run the tests. Since pytest-3.0 the executable is called ``pytest`` (There is still a ``py.test`` legacy wrapper). We should update our docs and use the new executable to run pytest.

see http://stackoverflow.com/a/41893170

[2017-05-07 20:26] thisch commented on #4180
Should I create a PR out of my commit mentioned in https://github.com/coala/coala/pull/4183#issuecomment-299701304, so that we keep sight of my 'merge'-commit?

[2017-05-07 20:40] userzimmermann opened #4190 "Rewrite coalib.collecting.Importers._import_module"
Realized in https://github.com/coala/coala/pull/4169#pullrequestreview-36672803

`_import_module` should do its job following https://docs.python.org/3/library/importlib.html#importing-a-source-file-directly

That avoids manipulating `sys.modules` and implicitly solves that Windows case insensitivity issue for which the current function implementation has an explicit workaround

@jayvdb

[2017-05-07 21:20] #4180 closed

[2017-05-07 22:21] Makman2 commented on #4184
Oh then it's bad :/

[2017-05-07 22:23] Makman2 commented on #4180
Let's make a new issue ;)

[2017-05-07 22:25] Makman2 opened #4191 "Merge `coalib.collecting.Dependencies.CircularDependencyError` and `coalib.core.CircularDependencyError`"
Those error classes are very similar and do serve the same purpose.

See https://github.com/thisch/coala/commit/e492cfd7f9e1dce221ce753ac8a919e0e9e2fb39 for a possible implementation.

[2017-05-07 22:26] Makman2 commented on #4180
--> https://github.com/coala/coala/issues/4191. Mentioned your commit there :+1:

[2017-05-07 22:26] Makman2 commented on #4191
@thisch assigned you for now as you have already an implementation ;) feel free to continue or give this issue away ;)

[2017-05-08 02:28] mrbkt opened #4193 "Unknown error exception with CSecurityBear"
### Overview Description

Running `CSecurityBear` on large source repo via Docker yields unknown error exception.

# Steps to Reproduce

1. `git clone --depth 1 https://github.com/torvalds/linux.git`
1. `docker run -it -v $(pwd):/app --workdir=/app coala/base coala --json --files=**/*.c -o csecurity-linux.json --bears=CSecurityBear --save`

# Actual Results

[code]

# Expected Results

Completed r

[2017-05-08 02:58] coala-bot opened #4194 "Some ellipsis have preceeding whitespace"
Opened via [gitter](https://gitter.im/coala/coala/?at=590fdec20a783b6c0a758d61) by @jayvdb

[2017-05-08 02:58] jayvdb commented on #4194
See  e.g. https://github.com/coala/coala/blob/48192a1b948061795bbc822de4631fbbb2f1db3c/coalib/bearlib/languages/Language.py#L215

[2017-05-08 03:04] jayvdb commented on #3701
5.6 has been released, and includes this feature. https://pmd.github.io/pmd-5.6.0/overview/changelog.html

[2017-05-08 05:42] anubhabsen commented on #4177
Using `pip3` to install does install coala (it shows up at `pip3 list`), but running coala gives command not found.
Now I can execute it since I installed it manually using the setup.py file after cloning the repo.

[2017-05-08 10:28] meetmangukiya opened #4195 "Create examples folder containing example coafiles that can be used for various languages"
just for demonstration, `coala-quickstart` can be used to produce this examples I believe

[2017-05-08 10:34] #4146 closed

[2017-05-08 12:03] Makman2 commented on #4177
Ah okay :) So problem solved? :)

[2017-05-08 12:50] Makman2 commented on #4193
Can't reproduce, coala runs through on my machine:
[code]
What are your machine specs? My coala run on docker required about 3GB of RAM. Maybe your machine did run out of it^^ (would kind of explain the broken pipe for me: memory exception -> program killed -> pipe not closed properly and breaks -> python on the other side of the pipe goes crazy)

[2017-05-08 12:55] Makman2 commented on #4194
I think those should resemble the spacing the traceback produces in the next line. Imo it's okay as it is currently^^

[2017-05-08 13:19] jayvdb opened #4196 "coala brew"
https://github.com/coala/coala/issues/2678#issuecomment-258666541 was about a different problem than the original issue.

https://github.com/Homebrew/homebrew-core/pull/6651 was created and closed due to inactivity.

[2017-05-08 13:20] jayvdb commented on #2678
This was done in https://gitlab.com/coala/package_manager/issues/105

[2017-05-08 13:33] jayvdb commented on #2462
[code]

Previously `coala` scored 70%, 49%, 87% and 59%.
`coala` now scores 70% 43%, 66/80 = 83% and 330/595 = 55% .  We are going backwards folks!

The big problem re installation index is that it is Python 2 only (https://github.com/griggheo/cheesecake/issues/8), and thus cant install coala.

Now the current results for coala-bears:

[code]

How come it installed on Python 2?!  It isnt supposed

[2017-05-08 13:34] #2678 closed

[2017-05-08 13:41] jayvdb commented on #2444
I am 99% sure we've licked this one, in https://gitlab.com/coala/package_manager/issues/49 and maybe a few other MRs.

[2017-05-08 13:41] #2444 closed

[2017-05-08 13:54] Hsankesara commented on #4188
I would like to do this. Can you assign it to me?

[2017-05-08 14:19] userzimmermann commented on #4188
@Hsankesara Have fun :)

[2017-05-08 14:34] jayvdb commented on #2676
We have brew support now, and I've filed https://gitlab.com/coala/package_manager/issues/131 for MacPorts.

We have pacman support on Windows, and https://gitlab.com/coala/package_manager/issues/30 and https://gitlab.com/coala/package_manager/issues/31 to create proper native package management to Windows.

I've created

1. https://gitlab.com/coala/package_manager/issues/132 about the java depende

[2017-05-08 14:35] #2676 closed

[2017-05-08 15:18] anubhabsen commented on #4177
Yes! Thank you!

[2017-05-08 15:18] #4177 closed

[2017-05-08 16:50] shreyans800755 commented on #4189
@thisch It is already mentioned in http://api.coala.io/en/latest/Developers/Executing_Tests.html. It suggests using `pytest`, if `py.test` gives error.
But, I think it makes sense to remove that note, and use `pytest` everywhere, replacing `py.test`.

[2017-05-08 17:38] mrbkt commented on #4193
Mac Pro 32GB RAM.  macOS Sierra 10.12.4.  Docker 17.05.0-ce-rc1.

I have see this error/exception on large runs with other Bears as well.  I will capture more evidence.

[2017-05-08 17:42] mridubhatnagar commented on #4156
In commit message, it should be

Closes <issue_link>
doc for writing good commit messages -http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html

[2017-05-08 18:08] thisch commented on #4189
Yes it mentions to run  `python3 -m pytest`, but this is not recommended by many python projects (see, e.g., https://github.com/theochem/horton/pull/108).

[2017-05-08 18:14] shreyans800755 commented on #4189
Makes sense. Please review https://github.com/coala/coala/pull/4198 and lemme know if anything to be changed.

[2017-05-08 18:27] thisch commented on #4184
If I unset the EDITOR env var, I get (I don't know if this is related, though)

[code]

[2017-05-08 19:28] damngamerz opened #4200 "DocStyleBear should also check for <blank line> before and after the DocString."
The current implementation DocStyleBear violates PEP-257. There’s no function to check a blank line either or before the docstrings. Implement a functionality which basically checks for a blank line before and after a docstring, and if it doesn’t comply to it, generate a proper fix.

[2017-05-08 20:10] Hsankesara commented on #4188
Thanks userzimmermann

[2017-05-08 21:14] shreyans800755 commented on #4185
I would like to work this issue.
I tried to replicate the scenario in my local environment. And I get colored output for the name of logging level. I'm not able to figure out, how only logging level is colored and not the whole logging message.

I tried to go through various files like LOG_LEVEL, LogPrinter, LogMessage, ConsoleInteraction, etc. But couldn't find the exact location, where color is

[2017-05-08 21:20] userzimmermann commented on #4026
@vasramc @mridubhatnagar Globbing exclusions unfortunately don't work that way :/ In glob syntax `*[^orig]` matches all files that end with either `^`, `o`, `r`, `i`, or `g`. You can define an exclusion list via `[!orig]` but that also only means none of the characters after `!` at a single position

Take a look at http://pubs.opengroup.org/onlinepubs/000095399/utilities/xcu_chap02.html#tag_02_13

[2017-05-08 21:25] userzimmermann commented on #4025
@vasramc Why not just use the `--ignore` flag? Such exclusions are just not part of globbing syntax... https://github.com/coala/coala/issues/4026#issuecomment-299994442

[2017-05-08 22:37] #4189 closed

[2017-05-08 22:39] Makman2 commented on #4184
I also encountered recently problems with merging line and arc data on my test runs. Though interesting that this only occurs for you if you unset the `EDITOR` variable... I definitely have no ideas :/

[2017-05-08 22:43] Makman2 commented on #4185
We don't color the message itself on purpose, just the log level tag.

Actually I don't know where we set colors, should be somewhere where we initialize logging I believe. See https://docs.python.org/3/library/logging.config.html. I think we use `dictConfig()`.

[2017-05-08 22:48] Makman2 commented on #4193
Okay looks not like RAM...  and I have also the same docker version except that it's not release candidate (`rc1`).

But looking at the error again, maybe you have policy problems with docker? As I see `ConnectionRefusedError`. And did the error appear immediately after you started the run with docker? Or did it take a while?

[2017-05-09 00:17] jayvdb commented on #4193
Just noting, this looks eerily like a closed Python bug : https://bugs.python.org/issue3419 , and there are very few other Google hits.  You are not seeing the same bug, but it does suggest you are seeing an out of memory (OOM) problem in the docker, as OOM will cause all sorts of strange failures not normally seen.

[2017-05-09 00:25] jayvdb commented on #4191
I suspect the original intention was that `coalib.core` was not supposed to include any 'bears' type code, so it stays generic, so a `for_bears` would need to be in `coalib.collecting`.
Maybe someone just forgot to make `collecting.CircularDependencyError` a subclass of `core.CircularDependencyError`.

[2017-05-09 01:34] jayvdb opened #4201 "Setting.__path__ allows use with strings"
In https://github.com/coala/coala/pull/4171 , we found that `Setting.__path__` is being used with `self` being an instance of `str` rather than instance of `Setting`.

`Setting.__path__` docstring even says it is OK to use the method with strings.

Cute idea, but no. (c.f. [PEP 20](https://www.python.org/dev/peps/pep-0020/) / `import this`)

https://travis-ci.org/jayvdb/coala/jobs/230175885 is a t

[2017-05-09 01:54] jayvdb commented on #4201
The "Note" that `Setting.__path__` can be used with strings comes from ae945b74a , by @sils, Dec 2014, but that "Note" (and the commit) seems to be mostly recording/normalising functionality that already existed.

[2017-05-09 02:12] jayvdb commented on #4201
The "Note" was documenting the previous commit touching that class, 74551ef9f70, which I guess to be the beginning of this problem.  It is clear that the author knew it was being used with `self` != `Setting`, due to the presence of the `if hasattr(self, "origin")` .

Despite the age of those commits, I am still not 100% convinced that the Win32 problems sparking this investigation (https://github

[2017-05-09 02:30] jayvdb commented on #4201
A [build](https://travis-ci.org/jayvdb/coala/jobs/230188270) with another set of assertions shows all use of `Setting.__path__(str, ..)` comes via `__glob_list__` or `__path_list__`.

Most interesting, is that there is no real use of polymorphism here.  All use of `Setting.__path__(str, ..)` comes from `__glob_list__` or `__path_list__`, and it is always a `list` with members that are always `str`

[2017-05-09 04:13] jayvdb opened #4202 "Enforce signature of Setting constructor"
While playing around with https://github.com/coala/coala/issues/4201 , I found tests that feed the `Setting` constructor with incorrect types, apparently unnecessarily.

[2017-05-09 04:54] jayvdb commented on #4201
An important part of creating a clean fix for this requires that `origin` is a `str` and is not an `int`, which happens to be semi-legal.  Please review https://github.com/coala/coala/pull/4203 rather urgently.

[2017-05-09 05:01] mridubhatnagar commented on #4026
Yes I knew it. Had taken up on this issue yesterday night itself. But I though of doing it
this way
coala --bears=SpaceConsistencyBear --files=\*[!orig] --save

[2017-05-09 05:51] sils commented on #4010
hey @satwikkansal we have a PR open by @mrtes related to this as well, please check his commit https://github.com/coala/coala/pull/4179/commits/40fd9e6085fdbca0891c98f8b0b121e97fac630d , I do like his approach - do you have an opinion on that?

[2017-05-09 06:04] #4202 closed

[2017-05-09 08:43] Hsankesara commented on #4188
Hey @userzimmermann , I make those changes but gitmate-bot showing "Line is longer than allowed", can you please guide me? PR #4204

[2017-05-09 09:08] sils commented on #759
See also :point_up: [May 9, 2017 10:52 AM](https://gitter.im/coala/coala?at=5911835cd1a7716a0aa9a680)

We shouldn't abuse the UI we have, we definitely need new UI IMO and maybe a new Result derivative class

[2017-05-09 09:57] #4163 closed

[2017-05-09 11:17] sils opened #4205 "testing"
this is difficulty/newcomer indeed

[2017-05-09 11:18] meetmangukiya commented on #4188
It is exactly what it says, break the lines at 80cols( I think)

[2017-05-09 11:22] #4205 closed

[2017-05-09 11:27] sils opened #4206 "test issue"
difficulty/newcomer is a label and it should be autoapplied.

[2017-05-09 11:27] #4206 closed

[2017-05-09 12:42] sils opened #4207 "coala --json returns `"aspect": "NoneType"` instead of null"
json has a null type, just run coala on anything that has results and you'll get `"aspect": "NoneType"` instead of `"aspect": null`

CC @coala/aspects-developers

[2017-05-09 13:02] #4182 closed

[2017-05-09 13:05] meetmangukiya commented on #4182
Yay!

[2017-05-09 13:08] mridubhatnagar commented on #4025
@userzimmermann why can't we just use
coala --bears=SpaceConsistencyBear --files=\*[!orig] --save.

[2017-05-09 14:08] jayvdb commented on #4201
I have a fix for this, but it is not critical.
The relationship between this and https://github.com/coala/coala/pull/4171 is still murky to me, and it is that one which is critical.

[2017-05-09 15:36] mrbkt commented on #4193
Sorry guys, this one is now not exactly reproducible for me too.  Today I can cause a different outcome, `BrokenPipeError: [Errno 32] Broken pipe`, running the same way on different repos with this bear or with the `ClangBear`.  It appears to be a Docker issue and related to resource utilization and much container detritus from prior runs.  I am happy if you'd like to close this issue as curious b

[2017-05-09 16:08] Makman2 commented on #4193
Would be still interesting what circumstances in docker do prevent coala from running :)

[2017-05-09 16:27] mrbkt commented on #4193
I would too.  I have more work to do to isolate the conditions.  If I can identify I will be happy to post them here.

[2017-05-09 16:43] plaindocs opened #4208 "Unknown exception"
Hey Coalas,

Brand new bug here:

https://travis-ci.org/travis-ci/docs-travis-ci-com/jobs/230418873

[code]

[2017-05-09 16:47] Makman2 commented on #4208
I'm just encountering the same issues on our CI (except on CircleCI).
--> https://ci.appveyor.com/project/coala/coala/build/1.0.7679/job/999l13y8kxc9r00b

[2017-05-09 16:51] plaindocs commented on #4208
Googling `NameError: name 'platform_system' is not defined` led me to install `setuptools` but that didn't help.

[2017-05-09 16:52] Makman2 commented on #4208
Maybe downgrading `setuptools` helps as we currently specify `setuptools>=17.0`.

[2017-05-09 17:32] plaindocs commented on #4208
`  - pip install 'setuptools==17.0'` does seem to resolve my issue.

[2017-05-09 17:38] Makman2 commented on #4208
Okay then this is definitely an upstream bug in setuptools. So we need to limit `setuptools` to the most recent version that works.

[2017-05-09 17:40] userzimmermann commented on #4025
Hi @mridubhatnagar :) I explained it in https://github.com/coala/coala/issues/4026#issuecomment-299994442

In globbing syntax, `[!orig]` just matches exactly one character that should be neither `o` nor `r` nor `i` nor `g`

It doesn't mean ignoring the whole `orig` string

[2017-05-09 17:55] satwikkansal commented on #4010
If I understand correctly, 40fd9e6 is about "not prompting the user to apply an action if it has already been applied once" . The approach of maintaining `successful_actions` (or previous actions) seems sane to me.

And `next_actions` are about "If the user applies X action, what are the next actions he may want to execute" (the `GitCommitBear` example in the end of https://github.com/coala/coala/

[2017-05-09 18:01] userzimmermann commented on #4026
Hi @mridubhatnagar again :) To continue on https://github.com/coala/coala/issues/4026#issuecomment-299994442 and https://github.com/coala/coala/issues/4025#issuecomment-300245044 :

`[^orig]` and `[!orig]` don't define sequences, just sets for matching a single character

So `*[!orig]` would also exclude file extensions like `.foo`, `.bar`, `.hi`, or `.log`

[2017-05-09 18:09] satwikkansal commented on #4010
Also https://github.com/coala/coala/pull/4112#discussion_r115557903 seems relevant and needs attention

[2017-05-09 18:15] userzimmermann commented on #4207
Thanks @sils! The @coala/aspects-developers can't tolerate such a faux pas! Who feels ready to solve it? :)

[2017-05-09 18:21] coala-bot opened #4209 "Use RSTcheckBear and update .coafile"
Use RSTcheckBear, update rst and other relevant sections of .coafile for checking all rst files present in the repo. If there are any errors in rst files by adding rst bears, fix them in another sub-issue and work on this.

Opened via [gitter](https://gitter.im/coala/coala/?at=591208ac8a05641b1166b1e1) by @Vamshi99

[2017-05-09 19:42] mrtes commented on #4010
The question is if the behaviour I have implemented is still necessary, after your changes are completed.
If the next_actions are chosen properly, to avoid duplication (except where it makes sense, of course), the current issue with ignore comments will most likely be resolved as well.

However, I'm not sure I understand exactly _how_ the actions are chosen, so maybe I might be missing something :

[2017-05-09 20:22] satwikkansal commented on #4010
If the next_actions are chosen properly, to avoid duplication (except where it makes sense, of course), the current issue with ignore comments will most likely be resolved as well.

Simply removing the while loop https://github.com/mrtes/coala/blob/40fd9e6085fdbca0891c98f8b0b121e97fac630d/coalib/output/ConsoleInteraction.py#L140 will solve the problem of ignore comments imo. However, this will lea

[2017-05-09 20:23] mridubhatnagar commented on #4025
But using this command the .orig files where getting skipped. Hence asked.

[2017-05-09 20:28] mridubhatnagar commented on #4026
Oh sorry . Saw this comment now. Understood.
Some other alternative needs to be thought off then.

[2017-05-09 21:18] mrtes commented on #4010
Yeah, indeed.

We could merge the nested loops into one by
- generating the initial actions outside of the loop
- loop over len(actions) > 0
- maybe already use direct application if len = 1
- assign actions = next_actions
- continue looping

I drafted a short [example (txt-file)](https://github.com/coala/coala/files/988028/suggestion.txt)

This would resolve duplicate actions, if they are not in

[2017-05-09 22:01] userzimmermann commented on #4026
@mridubhatnagar No problem ;) Yes, some alternative might be useful, whereby I still think that the `--ignore` flag is somehow enough

[2017-05-10 00:00] jayvdb commented on #4208
I think this is one case where we blacklist known problem versions.

[2017-05-10 05:51] mridubhatnagar commented on #4209
Hey, I had already taken this issue. And have already resolved one newcomer issue and one low issue.

[2017-05-10 05:52] mridubhatnagar commented on #4209
Have completed this one as well.

[2017-05-10 06:18] satwikkansal commented on #4010
looks good to me. But now the issue is where to add the "IgnoreResult" action
- In the initial set of actions displayed.
- or to next_actions set of all the actions + in the initial set of actions
- or in every next_actions set until the IgnoreResult action is not applied by the user

Actually the behavior that sounds reasonable to me is third one, and to make it work, we may require to maintain a

[2017-05-10 06:38] mridubhatnagar commented on #4209
Can the label for this be changed ? Made few required fixes in the same issue as well.

[2017-05-10 06:59] mridubhatnagar commented on #4151
Some more details please.

[2017-05-10 07:17] jayvdb commented on #4117
IMO the org should disable integrations being added automatically.

[2017-05-10 07:20] adtac commented on #4117
@jayvdb I'm looking at https://github.com/organizations/coala/settings/oauth_application_policy - is that what we want?

[2017-05-10 09:20] mridubhatnagar commented on #4026
do you mean as we have mentioned --save similarly we can add --ignore. Which would mean [orig] files are ignored?

coala --bears=SpaceConsistencyBear --files=\*[orig] --ignore

[2017-05-10 12:50] satwikkansal commented on #4114
I was wondering if we can
- Have a single entry point for every module (which we already have)
- Initialize a context using something like
[code]
- Make this context available to all other methods in the module.
- Other methods can update the values of the variables in the context, but cannot add/delete a new variable.

This way we could reduce a lot of function signatures and inline documentation

[2017-05-10 13:49] Makman2 commented on #4114
Yeah maybe module level is easier. Though I would prefer that we end with a class because saving data in modules is nearly never good^^

[2017-05-10 21:21] mrtes commented on #4010
Possibly, but I cannot think of something else, either :)

Just for clarification:
The actions that will be displayed for the user are somehow defined by bears in the new setup, and can also have follow-up actions, which are stored in the "next_action" field, when the result is generated, effectively building a action chain, that forks depending on the users choice, correct?

There might be some u

[2017-05-11 09:44] satwikkansal commented on #4010
yes :)

And I agree that storing "successful_actions" can give us more flexibility because we may want to compute next_actions based on the history of successful_actions

[2017-05-11 10:55] Makman2 commented on #4010
Actually do you have a usecase where `successful_actions` can be used?

[2017-05-11 11:49] mrtes commented on #4010
I'm not sure if that would still apply after the changes, but a current problem is that a user can choose to add an ignore comment to a result and will be asked again in the next cycle (see #4179 or #3375 ).

Checking if the IgnoreAction was already applied before allows to filter it out if that is the case.

I don't know what actions will be supplied by bears, after the design has changed, so I d

[2017-05-11 13:03] Makman2 commented on #4010
Ah alright, makes sense :+1:
I'm wondering if there's maybe a better/easier way because it's quite common to allow actions to be executed only once. The action writer has something to do like this then now:
[code]

[2017-05-11 13:14] mubaris commented on #4084
Can I take this issue?

[2017-05-11 13:51] Makman2 commented on #4084
As there's no progress yet, reassigning to you @mubaris :+1:

[2017-05-11 15:01] mubaris commented on #3276
Can I take this?

[2017-05-11 15:31] mubaris commented on #3224
I would like to work on this.

[2017-05-11 15:47] yash-nisar commented on #3276
Sure, assign yourself on our gitter channel with `cobot assign full-issue-url`

[2017-05-11 15:48] yash-nisar commented on #3276
@Nosferatul Should we close https://github.com/coala/coala/pull/3738 ?

[2017-05-11 16:00] mubaris commented on #1037
What's the status of this issue now?

[2017-05-11 16:30] mubaris commented on #3835
I don't have a directory named `coala-bears`, Instead I have a directory named `coala/0.10.0` with 2 files in it. The filenames are some hash values.

Can I take this if no one is working on this issue?

[2017-05-11 16:40] Makman2 commented on #3835
Unassigning due to inactivity + reassigning to @mubaris.

[2017-05-11 16:44] mrtes commented on #4178
The bug is that `self._changes`, which is queried in` __bool__` does still include the changes, even if they negate each other.

We could just incorporate the computation of `self.has_changes` to `__bool__ `instead of looking at the `self._changes` property

[2017-05-11 16:45] Makman2 commented on #4178
yeah this is safer :)

[2017-05-11 17:20] mridubhatnagar commented on #4026
@userzimmermann  hey what can be done on this one?

[2017-05-11 17:28] Makman2 commented on #3835
@jayvdb do you had a concrete plan on how to achieve that? I currently have these possibilities in my mind:
- Don't pass the user the directory name, but instead a "view" on that directory. This view can be used to create and manage files in that directory. The view is responsible to allocate necessary directories on demand.
- Simpler version of 1: Instead of a complete "view", just provide a set

[2017-05-11 17:38] jayvdb commented on #3835
If you do not have a directory `coala-bears`, you shouldnt claim this issue.  This set of directories is created when you use `coala`, which you should do before claiming this issue.  This is *not* about the creation of `coala/0.10.0`.

[2017-05-11 17:38] jayvdb commented on #3835
@Makman2 analysis of why when we use these directories will lead to an optimal solution.

[2017-05-11 17:42] Makman2 opened #4218 "Travis CI is failing"
https://travis-ci.org/coala/coala/jobs/231250070#L1052

Some `BadZipFile` error.

[2017-05-11 17:57] mubaris commented on #3835
Since I don't have `coala-bears`, I guess I shouldn't claim this issue.

[2017-05-11 17:58] jayvdb commented on #4218
[code]

[2017-05-11 19:06] sils commented on #1037
I think @adtac made an coala AUR repo for archlinux, otherwise nothing has been done yet and nobody has asked for it

[2017-05-11 19:19] jayvdb commented on #4218
It was a broken zip file in the Travis CI cache.  All caches deleted.

[2017-05-11 19:19] #4218 closed

[2017-05-11 19:21] #4084 closed

[2017-05-11 19:29] jayvdb commented on #4178
in `__bool__` , `self.rename is not False or` looks suspiciously like it will return `True` way too often.

[2017-05-11 19:38] Makman2 commented on #4178
@jayvdb `rename` is either a string labelling the new file name or it's `False`, meaning no rename shall happen. So imo it's alright^^

[2017-05-12 02:10] mubaris commented on #1037
Creating an `Appimage` will be better.

[2017-05-12 06:23] adtac commented on #1037
The AUR repo wasn't a good idea because a lot of dependencies are missing from AUR (and doing a `pip install -r requirements.txt` is not recommended).

[2017-05-12 10:11] jayvdb commented on #3044
Status update

- [x] Documentation
- [x] Coala-bears
- [ ] Coala : https://github.com/coala/coala/issues/4209

[2017-05-12 10:16] jayvdb opened #4221 "Git_Basics: Incorrect RST syntax"
Change 38206d090 introduced a number of RST syntax errors into Git_Basics.rst, which rstcheck bear reports as

[code]

cc @SarthakNijhawan

[2017-05-12 10:20] jayvdb opened #4222 "Development_Setup.rst: Unused target "dev-notes""
Development_Setup.rst starts with

[code]

This is unused and should be removed.

[2017-05-12 10:22] mridubhatnagar commented on #4221
It shows an error in line 346 which seems to be :: . In the same block I tried changing the length of underline. But it didn't work out. Some other alternative should be thought off IMO.

[2017-05-12 15:35] Mixih commented on #4150
Right pushing the milestone as it's not a regression

[2017-05-12 15:57] mridubhatnagar commented on #4221
@jayvdb RSTcheckBear is not yet a part of .coafile. So whoever would work on this first will need to make changes in the .coafile.