[2016-12-22 05:06] #3361 closed

[2016-12-22 07:01] coala-bot opened #3363 "coalib/bearlib/languages/definitions/ no longer contains package data"
Opened via [gitter](https://gitter.im/coala/coala/?at=585b7a5daf6b364a29e24c0b) by @jayvdb

[2016-12-22 09:32] Flap-Py commented on #3354
I would like to work on this :)

[2016-12-22 14:00] Abhisek- opened #3365 "Ignore comment does not work for VultureBear"
`VultureBear` is not ignoring the ignore comments that are given for an unused variable or function.

### Steps to reproduce

1. Ceate a file, let's say `something.py`, with the following code

        def fun():  # Ignore VultureBear
            pass

2. Run the following command

        coala -I --bears VultureBear --files something.py -S use_spaces=True

### Actual Result

    Executing sectio

[2016-12-22 15:53] #2533 closed

[2016-12-22 16:03] Makman2 commented on #3365
Does coala ignore the result when your file looks like this?
[code]

[2016-12-22 16:11] Abhisek- commented on #3365
Oh it does.
But when my file look like the following

    def fun():
         pass

and when I say _2: Add ignore comment_ then it produces the following

    def fun():  # Ignore VultureBear
         pass

[2016-12-22 16:14] Abhisek- commented on #3365
And yes for `SpaceConsistencyBear`(not sure about other Bears) if my file looks like this

    def fun():
         x = 2  # Ignore SpaceConsistencyBear

then it just ignores and it works fine

[2016-12-22 16:38] Makman2 commented on #3365
why `SpaceConsistencyBear` ? :O

anyway, looks like a bug^^

[2016-12-22 16:39] Makman2 commented on #3365
importance/high as we suggest an invalid ignore statement which has no effect^^

[2016-12-22 17:05] Abhisek- opened #3366 "coala is not remembering the previous actions in interactive mode"
When run coala in interactive mode, it does not remember the changes applied and produces weird ouput.

### Steps to reproduce

1. Create a file, let's say `something.py`, with the following content.

        def fun():
            print('start of the function')

            print('something')

            print('end of the function')

        if __name__ == '__main__':
            fun()

    **No

[2016-12-22 17:10] Makman2 commented on #3366
high importance as this affects usability

[2016-12-22 17:12] vijeth-aradhya commented on #3355
I'd like to work on this isuue. Would you mind assigning it to me?

[2016-12-22 17:25] Mixih commented on #3366
So after applying the patch, it asks you for input on the same issue? Is this confirmed for all bears, or just that one?

[2016-12-22 17:25] RohanVB commented on #3365
[code]
(dev version after PR: #2883) :Unable to reproduce

File: (zmtest.py)
[code]

Output:
[code]

Tried it on coala-bears and coala-bears --pre; result was reproducible.

Conclusion: Issue may have been resolved by #2883 .

[2016-12-22 17:32] RohanVB commented on #3366
@Mixih looks like that. You could end up with something like this:
[code]

[2016-12-22 17:39] Abhisek- commented on #3366
Yeah, It asks input for the same issue. I think all the bears. But I'm not sure.

[2016-12-22 17:45] Mixih commented on #3366
damn ok this is new

[2016-12-22 17:56] Udayan12167 commented on #3366
I'll look into this.

[2016-12-22 17:58] meetmangukiya commented on #3221
I would like to be assigned..

[2016-12-22 18:15] Mixih commented on #3366
Can't confirm in the latest git versions of coala & coala-bears, this issue needs further triaging to locate when it happened, and if/when it was fixed.

[2016-12-22 19:07] jayvdb commented on #3255
No.  Naming of settings, e.g. that appear in `.coafile`.  See https://github.com/coala/coala-bears/issues/1112#issuecomment-267953755 for an example.

[2016-12-22 19:45] ashwini0529 commented on #3228
@coala/coala-admins Please help me with the content. :confused: So that I can proceed further.

[2016-12-22 19:50] ashwini0529 commented on #3326
You want a better UI or content?

[2016-12-22 20:22] Makman2 commented on #3365
I'm able to reproduce, coala version is `0.10.0.dev20161222155306`, coala-bears version `0.10.0.dev20161222154541`

[2016-12-22 20:26] Makman2 opened #3367 "setup.py install: Install a "commit-sha" field into coalib"
As self-installs from a git clone have `dev9999999...` version, we should add a commit sha into the module, like `coalib.__sha__` or `coalib.__commit__` or whatever

This makes bisecting problems easier.

I would also add to the commit string whether the branch was dirty on install, or not, so it looks like
`ab87df1-dirty` or `ab87df1*`

[2016-12-22 20:32] Makman2 commented on #3365
Unable to bisect, already 500 commits behind current master HEAD, but it seems that this ignore has never worked^^

[2016-12-22 20:32] Makman2 commented on #3365
@RohanVB you sure you've execute everything correctly?

[2016-12-22 20:33] Makman2 commented on #3228
@sils you are maintainer of cobot, your duty :)

[2016-12-22 20:42] coala-bot opened #3368 "Enable Appveyor Rolling Builds"
Rolling Builds prevents multiple builds of the same PR to be queued.  Only the most recent push will be built.  This reduces the queue size, providing better sharing of limited resources.

Opened via [gitter](https://gitter.im/coala/coala/?at=585c3abb7a3f79ef5d8d8133) by @jayvdb

[2016-12-22 20:44] Makman2 commented on #3366
Behaviour confirmed, but we should part up this issue into 3 parts:
1. After adding an ignore comment, the option should not be available any more.
2. The comment should have one or two spaces after the statement.
3. When applying a patch, don't ask for something else, continue with next result (this would need discussion)

@Abhisek- If you agree we close this issue and I'll open three new ones^^

[2016-12-22 20:47] Makman2 commented on #3355
@vijeth-aradhya before you start, how do you think the format for `affected_code` should look like?

[2016-12-22 20:52] jayvdb opened #3369 "Glob `*/**.rst`matching files in project root"
Glob `*/**.rst` should only match files in sub-directories.  See [Java](http://docs.oracle.com/javase/7/docs/api/java/nio/file/FileSystem.html#getPathMatcher%28java.lang.String%29) for original concept of `**` globbing, and our [Glob Patterns](http://docs.coala.io/en/latest/Users/Glob_Patterns.html) page.

And indeed, this does appear to work in a quick test.
[code]

However at https://github.com/

[2016-12-22 21:09] sils commented on #3228
I'm maintainer of everything. I'm also sick. I need to relax. I'm certainly
not cobots main contributor. This is not my duty.

On Dec 22, 2016 9:33 PM, "Mischa Krüger" <notifications@github.com> wrote:

@sils <https://github.com/sils> you are maintainer of cobot, your duty :)

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/

[2016-12-22 21:12] sils commented on #3326
UI, content is generated, see linked issues

On Dec 22, 2016 8:50 PM, "Ashwini Purohit" <notifications@github.com> wrote:

[2016-12-22 21:13] sils commented on #3228
Also I have no idea what content you want

[2016-12-22 21:15] Makman2 opened #3370 "ResultAction: Introduce behavioral fields"
To improve experience we should introduce some fields that can control the behaviour of the cli when actions are applied:
[code]
These are two that I can come up with currently, we could extend this list.

[2016-12-22 21:15] vijeth-aradhya commented on #3355
@Makman2 I'm assuming `{affected_code}` will be listed as one of the placeholders, as it is not a part of it yet.
And, about the format for it -
`affected_code: /home/abhisek/Github/coala/something.py: FROM 4: None TO: 4: None`
I think this would be a good enough representation :+1:

[2016-12-22 21:19] Makman2 commented on #3355
okay cool, some ideas:
[code]
I would remove the spaces after the colon:
[code]
(and also the colon after `TO` :D)

Also when we have `NONE` for columns, this means the complete line is meant, not sure if you want to compress the format then to
[code]

[2016-12-22 21:19] Makman2 commented on #3228
@sils who's the main contributor currently?

[2016-12-22 21:26] coala-bot opened #3371 "http://coala.io/review should include issues needing review"
Frequently the concept/design needs to be reviewed before the code is really reviewable.  This concept/design work should be done on the issue, not the PR, as the PR can be lost if the person looses energy/interest/whatever.

Opened via [gitter](https://gitter.im/coala/coala/?at=585c44f8c5a4e0233bbbf214) by @jayvdb

[2016-12-22 21:34] coala-bot opened #3372 "Invalid bear name does not raise an error"
see https://github.com/coala/coala-bears/commit/47f61cc75e3d9 from https://github.com/coala/coala-bears/pull/1178

Opened via [gitter](https://gitter.im/coala/coala/?at=585c46f20730ce6937fbeafc) by @jayvdb

[2016-12-22 21:35] Mixih commented on #3372
I'll take this and triage it

[2016-12-22 21:37] amacneil commented on #2535
@sils thanks, that seems to do what I wanted.

I'm not sure, that flag seems obvious now that I know it exists 😄 I guess I would expect to see it on this page, which explains clearly how to override the files, but not how to run the default configured file list against a specific directory:

https://docs.coala.io/en/latest/Users/Glob_Patterns.html

[2016-12-22 21:58] vijeth-aradhya commented on #3355
@Makman2 I think the way to go about this is _not_ to give all the attributes of the Result Class, since some of the variables there are **NOT** in the list of placeholders like {diffs}, {confidence} ( they still work if I give them in `--format` )
If you think all of them are required, and we have to just add `{affected_code}`, then we have to remove the existing tuple representation of `affected

[2016-12-22 21:59] jayvdb commented on #3368
Done for coala and coala-bears.

[2016-12-22 22:05] #3368 closed

[2016-12-22 22:09] Mixih commented on #3369
hmm over there we used `**/*` instead of `*/**`. It might be slightly different

[2016-12-22 22:14] sils commented on #3228
No idea, use git?

On Dec 22, 2016 10:19 PM, "Mischa Krüger" <notifications@github.com> wrote:

[2016-12-22 22:16] Mixih commented on #3228
Well, you could start by documenting `cobot help` 's output...

[2016-12-22 22:17] sils commented on #3228
But don't duplicate it, maybe just enhance the help and tell people to use
that

On Dec 22, 2016 11:16 PM, "mixih" <notifications@github.com> wrote:

[2016-12-22 22:35] jayvdb commented on #3369
Actually, those should be identical.

And for the first usage, they are:

[code]

But when used in `--files`` it isnt

[code]

[2016-12-22 22:47] Mixih commented on #3369
Alright, I'll take this anyways for now

[2016-12-23 04:01] ashwini0529 commented on #3228
Alright. I'll start by `cobot help`
I'll come up with a `rst` soon

[2016-12-23 04:03] ashwini0529 commented on #3326
Alright! Let me take this up. Can someone assign me?

[2016-12-23 04:13] Abhisek- commented on #3366
yeah go ahead but refer those issues here, so that some one will later get to know what happened with this issue. :)

[2016-12-23 05:29] #3363 closed

[2016-12-23 08:27] RyuujenJakka commented on #3017
Sorry, I am running short on time. Unassign me.

[2016-12-23 09:06] jayvdb opened #3373 "Block use of LocalBearTestHelper.assertRaises"
`unittest.assertRaises` is always lazy, and should be avoided.
`unitest.assertRaisesRegexp` should be used instead.

Maybe `LocalBearTestHelper` can issue a error whenever `assertRaises` is used.
If not, .coafile could add  `assertRaises(` to KeywordBear.

[2016-12-23 09:17] jayvdb opened #3374 "Replace assertRaises with assertRaisesRegexp"
`unittest.assertRaises` is always lazy, and should be avoided.
[`unitest.assertRaisesRegex`](https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaisesRegex) has an extra parameter to check the exception message, and should be used instead.

`unittest.assertRaises` is used 172 times in 44 files in this repo

[code]

[2016-12-23 09:18] jayvdb commented on #3373
Blocked by https://github.com/coala/coala/issues/3374 , and maybe also https://github.com/coala/coala-bears/issues/1194

[2016-12-23 10:50] sils commented on #3326
@ashwini0529 please make upstream contributions

[2016-12-23 10:52] sils commented on #3017
Don't we have a generic issue somewhere about messages of the actions shoed to the user in all sorts of cases? That would include this issue so this probably shouldn't be solved on its on.

[2016-12-23 10:52] #3017 closed

[2016-12-23 10:54] ashwini0529 commented on #3326
@sils Sorry for a silly doubt 😅
What do you mean by upstream contributions?

[2016-12-23 10:56] sils commented on #3326
you'll not contribute to coala but to ribozz/sphinx-argparse "upstream" because that's what we use

[2016-12-23 10:56] ashwini0529 commented on #3326
Ohh alright got it

[2016-12-23 12:26] Udayan12167 opened #3375 "After adding an ignore comment, the option should not be available any more."

[2016-12-23 12:26] Udayan12167 commented on #3375
See https://github.com/coala/coala/issues/3366

[2016-12-23 12:27] Udayan12167 opened #3376 "The ignore comment added through the result action should have one or two spaces after the statement."

[2016-12-23 12:27] Udayan12167 commented on #3376
See https://github.com/coala/coala/issues/3366

[2016-12-23 12:32] Udayan12167 opened #3377 "When applying a patch, don't ask for something else, continue with next result."

[2016-12-23 12:32] Udayan12167 commented on #3377
See https://github.com/coala/coala/issues/3366

[2016-12-23 12:34] Udayan12167 commented on #3366
[] After adding an ignore comment, the option should not be available any more.
[] The comment should have one or two spaces after the statement.
[] When applying a patch, don't ask for something else, continue with next result (this would need discussion)

[2016-12-23 14:06] SarthakNijhawan commented on #2860
@abhsag24 but while running the `bears` with other bears as dependencies , they do have a check write that the dependencies are fulfilled or not. So, what are we exactly looking forward to?

[2016-12-23 15:08] jayvdb commented on #3221
With `-c dir`, it should find the .coafile in `dir`, and run with all paths relative to `dir`?

What should `-c .ci/coafile` do, wrt relative paths. Be based on `$CWD`, or relative to `.ci/` ?

Reason is that we could end up with a situation where `-c dir` and `-c dir/coafile` have different results, which would be very confusing.

[2016-12-23 15:28] sils commented on #3221
don't understand the problem, if there's no leading slash you'll always want it relative so if you give `-c .ci/coafile` it'll be `$(pwd)/.ci/coafile`

[2016-12-23 16:12] jayvdb commented on #3221
Ah, yes I am referring to running `coala -c /some/other/directory`

[2016-12-23 16:13] sils commented on #3221
well that would always get the coafile from that absolute path, there's no confusion, right?

[2016-12-23 16:34] jayvdb commented on #3172
In https://github.com/coala/coala-bears/pull/1196 , I'm currently using "`Addresses <url>`", but also propose "`Implements <url>`"

[2016-12-23 16:45] sils commented on #3172
addresses and implements sounds pretty much like it should close the issue
FWIW

[2016-12-23 17:35] Mixih commented on #3212
https://github.com/coala/coala/pull/3216 closes. Due to a failure on my part, I failed to catch the multiple commit issues before merging. *sigh*

[2016-12-23 17:36] #3212 closed

[2016-12-23 18:41] sils commented on #3303
Hey @DanRadulescu962 I can't see any WIP stuff from you, this is super important right now, I hope you don't mind if we're taking this over.

[2016-12-23 19:11] Mixih commented on #3303
We should depreciate it IMO, so we need to put in a depreciation warning

[2016-12-23 21:22] Mixih opened #3379 "remove format_str for real this time"
This legacy setting needs to go badly..... give people a few releases to clean up their code before removing it.

[2016-12-23 22:09] Mixih commented on #3303
not sure whyt he pull isn't linking, but this is the xref https://github.com/coala/coala/pull/3381

[2016-12-23 22:23] Mixih commented on #3313
Oops, we also need to backport the alphabetization commit

[2016-12-23 22:48] nemaniarjun commented on #3131
We can keep the list of globs in `ConfigurationGathering.py`
We can modify `icollect(file_paths, ignored_globs=None)`

[2016-12-23 22:51] Mixih commented on #3313
7f4edb8 has a dependency hell error

[2016-12-23 22:57] Mixih commented on #3369
Seems like this is typical behavior. See https://github.com/coala/coala/issues/2664#issuecomment-246819501 . Do we want to change this?

[2016-12-23 23:05] Mixih commented on #3172
Related to sounds good, though implements could work

[2016-12-24 01:41] Makman2 commented on #3131
@nemaniarjun so you wanna change the default parameter `ignored_globs`? This is bad, `icollect` should work as modular as possible, this is analysis specific for java bears, though it's still a useful default (that's why we should place it somewhere else in coala)^^

[2016-12-24 02:40] Makman2 commented on #3366
@Udayan12167 thanks for filing them, wasn't really available past few days

[2016-12-24 02:41] Makman2 commented on #3355
sorry can't follow you what you mean exactly, especially with

:/

[2016-12-24 03:50] RohanVB commented on #3365
@Makman2 well on coala-bears version: 0.10.0.dev20161217220544 and coala version: 0.10.0.dev20161222155306, I'm able to reproduce the issue. For some reason, in the coala-dev version ,0.10.0.dev99999999999999 I'm getting the output as shown in the comment above. The last commit made in that by me was #2883, but whatever the reason be for this, I guess since it isn't in the coala --pre install, we

[2016-12-24 05:07] jayvdb commented on #3332
Yes, and note that requests has two timeouts, one for connecting and the other for in-transit delays.  On CI, I usually do 30 for both.  The sites we are using are quite large scale systems, so lower values should be ok.

[2016-12-24 05:24] #3340 closed

[2016-12-24 06:46] ashwini0529 commented on #3228
[code]
^
For reference.

[2016-12-24 07:11] jayvdb opened #3383 "Wheel can be installed on Python 3.0-3.3"
The wheel on PyPi has a version tag of "py3", and pip installs the wheel without looking at setup.py

[2016-12-24 07:19] jayvdb commented on #3360
[code]

[2016-12-24 09:16] nemaniarjun commented on #3131
No I meant we can make modifications to icollect
To ignore a list of globs we have stored in `configurationsetting` , `icollect` works on all bears to `unselect` user defined `ignore` globs right?  Without changing its current functionality.

[2016-12-24 10:45] jayvdb commented on #3131
We shouldnt be changing the core.
If the user has selected their own `ignore`, it should be used, *and* no voodoo default ignores used.
However, coala should have a `CONSTANT` fallback of sane default ignores.

So I believe we need a constant stored somewhere, and one of the callers of `icollect` needs to set the "user" ignore list to be the default ignore list, only when the user did not provide

[2016-12-24 11:07] nemaniarjun commented on #3131
[code]

[2016-12-24 12:10] RohanVB commented on #3340
@Mixih please reopen this issue or start a new one since the coala banner size has been resolved, but the ascii cinema part has not.

[2016-12-24 12:40] jayvdb opened #3385 "PyPI ascinema messed up"
Split from https://github.com/coala/coala/issues/3340 :

Also the ascii cinema is messed up:

![issue2](https://cloud.githubusercontent.com/assets/5818750/21317030/07272148-c5c9-11e6-94ac-499e54973246.PNG)

Monitor: 1920x1080p

[2016-12-24 12:40] jayvdb commented on #3340
I created https://github.com/coala/coala/issues/3385

[2016-12-24 13:31] jayvdb commented on #3131
@nemaniarjun, try it.

[2016-12-24 14:22] #3334 closed

[2016-12-24 15:35] aptrishu commented on #3034
Where did you observe this behaviour ? @Makman2
Looking at the code It should store the original file_dict that was supplied along with the changes done in-place.

[2016-12-24 15:46] SarthakNijhawan commented on #2860
@abhsag24 can u elaborate a bit please?

[2016-12-24 15:54] abhsag24 commented on #2860
@SarthakNijhawan yes but we just run the `execute_bear` context manager in the `LocalBearTestHelper` which doesn't get the dependencies.

[2016-12-24 16:02] SarthakNijhawan commented on #2860
Can u tell me that, while performing code linting with coala, what does in general checks these dependencies for a bear?
Like, which method is run before the `run` method for covering the dependencies ?

[2016-12-24 16:18] abhsag24 commented on #2860
@SarthakNijhawan if you want me to point you towards the entry point it's the `run_coala` method in `coala_main.py` but there are a lot of things happen before the `run` method gets called and i'm sure i can't explain everything. Though some inspection from here and the `Bear` class might lead you to the answer your looking for ;)

[2016-12-24 16:20] SarthakNijhawan commented on #2860
OK, thnks a lot... That is wat I was lookin for... 😃

[2016-12-24 16:21] Makman2 commented on #2582
We could fake the functionality though: Each bear we want to depend on, we split up into a dependency bear and a frontend bear:
[code]

Other bears that need the dependency would use `BearXBase` now.

[2016-12-24 16:27] Makman2 commented on #3034
If you do this
[code]
and both patches affect the same file, `file_dict` contains only the `modified` version of `patch2`. E.g. patches look like this:
[code]
and for `patch2`
[code]
your `file_dict` will contain only `"A"`, as that's the modified version of patch2 which overrides the patch of `patch1`.

@aptrishu open an interactive shell and try it out :)

[2016-12-24 16:30] Makman2 commented on #3131
@sils sorry that I need to ask you, but do we still have the system wide coafile with a system wide default-section?

@jayvdb @nemaniarjun I think this default ignore would belong there, then we need to change no code at all (so we don't need any fallbacks)

[2016-12-24 16:32] abhsag24 commented on #2582
@Makman2 shouldn't coala provide an in-house mechanism to do so? this seems pretty hacky. Also a bear writer might not even know they are writing a bear which can be a dependency on some other bear.

[2016-12-24 16:43] Makman2 commented on #2582
From concept it's like having a base class, it's not a real "hack"^^ Bears that serve as a base for other bears shall be made a dependency, because they then provide some kind of abstraction others can use.

The nextgen core does not solve this problem really, but it would be not so complicated to make some patch which would merge `Result` and `HiddenResult` by adding a field to the `Result` class

[2016-12-24 17:12] #3303 closed

[2016-12-24 17:13] jayvdb commented on #3131
@Makman2, absolutely agree.  There is a `coalib/default_coafile` .. ?

[2016-12-24 17:37] sils commented on #3131
yes :)

[2016-12-24 18:18] #3383 closed

[2016-12-24 21:27] nemaniarjun commented on #3131
About the default coafile, does it work in addition to the coafile? Or does it work only when the user has not made a coafile?
If it's the first then we need to provide a way to disable the default coafile. In order to run coala on  .min files.

[2016-12-25 01:47] Techievena commented on #3339
requirements.txt file specifies requirement to be 3.4 while coala.egg.info specifies requirement to be 0.2.

[2016-12-25 01:53] Techievena commented on #3339
Well previously I had pip version of coala and bears installed but now when I installed development version in terminal it printed that it installed version 3.4 but when I used pip list it showed version 0.2 and CSSLintBear worked

[2016-12-25 03:12] Mixih commented on #3313
we got an entire travis file pulled in... but it should be ok

[2016-12-25 03:19] Mixih commented on #3313
xref https://github.com/coala/coala/pull/3382

[2016-12-25 04:32] jayvdb opened #3388 "Document default_coafile"
`default_coafile` can be used to solve problems like https://github.com/coala/coala/issues/3131 .  How and when it is used & modified should be in the dev docs.

[code]

[2016-12-25 04:33] jayvdb commented on #3131
@nemaniarjun , you can determine that via the code and tests.  I've created an issue for documenting it at https://github.com/coala/coala/issues/3388 .

[2016-12-25 14:01] Makman2 commented on #3131
@nemaniarjun they should work both together I believe, especially the default sections should be merged of the system coafile and use coafile.

[2016-12-25 15:19] Makman2 commented on #2860
Nextgen core would simplify things a lot, as it takes over dependency instantiation itself, and you would just do
[code]

[2016-12-25 15:20] nemaniarjun commented on #3131
Should we change the name of `default_coafile` in coalib to `system_coafile`?
It will avoid confusion due to the following lines in `Constants.py`
[code]

[2016-12-25 15:30] Makman2 commented on #3131
open an issue for changing the naming convention of this file^^

[2016-12-25 15:38] nemaniarjun opened #3389 "Change default_coafile naming convention."
Should we change the name of `default_coafile` in `coalib` to `system_coafile`?
It will avoid confusion due to the following lines in `Constants.py`
[code]

[2016-12-25 15:40] Makman2 commented on #3372
So you mean if no bear was matched then it should emit an error?
I believe we have this kind of message already, weird that it isn't displayed...

[2016-12-25 15:42] Shade5 commented on #3345
The part of the code that needs to be covered is in a try catch statement. I was trying to use assertRaises as suggested on gitter. But the exception was never caught as the it gets caught in the try catch itself. So I think I just have to trigger the exception for full coverage.

Please let me know if I'm wrong

[2016-12-25 15:44] Makman2 commented on #3389
voting for this :+1:

I'm also thinking about `base_coafile` or something into this direction, but `system_coafile` is definitely an improvement we should take :+1:

[2016-12-25 15:45] Makman2 commented on #3345
sounds good :+1: @Shade5 :)

[2016-12-25 15:46] Mixih commented on #3345
yep, to test exceptions you need to trigger the correct exception you want in the code under test(uut). Wrap the code that should trigger the exception with the assertRaisesRegex statement(we don't use assertRaises anymore because assertRaisesRegex verifies it's the correct exception)

[2016-12-25 15:56] nemaniarjun commented on #3389
`base_coafile` sounds great.

Also should we change a bit of naming convention in `ConfigurationGathering.py`?
The following part could be clearer:

[code]

I say we change `default_sections` to `base_sections` or similar.

[2016-12-25 17:19] Shade5 commented on #3345
@Mixih @Makman2  Here's the pull request
https://github.com/coala/coala/pull/3390

[2016-12-25 17:30] coala-bot opened #3392 "Add setting that allows turning off the warning about patches not being auto applicable"
And this should also be used for the force_show_patch mode in run_coala. importance/high

Opened via [gitter](https://gitter.im/coala/coala/?at=58600243c895451b751d1f73) by @sils

[2016-12-25 17:37] sils commented on #3379
it's already deprecated, needs removal, right?

[2016-12-25 17:40] sils commented on #3371
done :)

[2016-12-25 17:40] #3371 closed

[2016-12-25 17:40] sils commented on #3371
this is awesome, CC @Adrianzatreanu @sims1253 for information

[2016-12-25 17:42] #3333 closed

[2016-12-25 18:02] nemaniarjun commented on #3371
Umm.. Should we include `needs design` and `needs info` also to that page?

[2016-12-25 18:12] sils commented on #3371
or just rename needs design to pending review?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 25 December 2016 at 19:02, Arjun Nemani <notifications@github.com> wrote:

[2016-12-25 18:13] sils commented on #3371
nah needs design is better, we could do that... I'm afraid if we do the
list of issues will be so much longer and we wont get to review PRs for
some time :P

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 25 December 2016 at 19:12, Lasse Schuirmann <lasse.schuirmann@gmail.com>
wrote:

[2016-12-25 18:13] Mixih commented on #3313
backport complete

[2016-12-25 18:13] #3313 closed

[2016-12-25 18:17] Makman2 commented on #3389
yeah default sections is definitely bad^^

[2016-12-25 18:19] nemaniarjun commented on #3389
There are just so many `defaults` :p

[2016-12-25 18:22] LeafyLi commented on #3389
Can I work on this?

[2016-12-25 18:25] nemaniarjun commented on #3389
Sure :) send a message on the gitter channel so one of the maintainers can assign you.

[2016-12-25 20:02] Makman2 opened #3395 "Change variable name `default_sections` to `base_sections`"
From @nemaniarjun :

[2016-12-25 20:02] Makman2 commented on #3389
Migrated into separate issue: https://github.com/coala/coala/issues/3395

[2016-12-25 20:36] vijeth-aradhya commented on #3395
I'd like to work on this issue, can you assign me?

[2016-12-25 20:55] nemaniarjun commented on #3395
Since you have already worked on a diff/Newcomer issue, you should move on to low issues.
Newcomer issues are to give you a understanding of basic git and coala codestle :)

[2016-12-25 20:58] vijeth-aradhya commented on #3395
@nemaniarjun Alright then, I can try and review changes by newcomers as well :smile:

[2016-12-25 21:12] nemaniarjun commented on #3131
Uhmm need a bit of help

[code]

[2016-12-25 21:19] Makman2 commented on #3131
You execute `coala` from your system, not from the repo root :) You need to modify the installed `default_coafile` (wherever it lies), or maybe it's also possible to execute `./coala` from repo root, maybe it grabs the default-coafile from the repo^^

[2016-12-25 21:21] nemaniarjun commented on #3131
I edited and installed the coala repo and no I dont think it takes it from the repo.
It uses the installed one:
[code]

[2016-12-25 21:22] nemaniarjun commented on #3131
Also doesnt work when I run it in the coala repo

[2016-12-25 21:27] Makman2 commented on #3131
then you need to modify the installed one, you could `python3 setup.py install`^^

[2016-12-25 21:31] nemaniarjun commented on #3131
[code]

[2016-12-25 21:32] nemaniarjun commented on #3131
btw, this is how my .coafile looks like:
[code]

[2016-12-25 21:38] nemaniarjun commented on #3131
I think the `load_configuration` in `ConfigurationGathering.py` has some flaw..
Even in the tests, the `user_coafile` is not tested together with `default_coafile`

[2016-12-25 21:43] ashwini0529 commented on #3228
I've started building the `cobot`  page and it's somewhat like this.
<img width="940" alt="screen shot 2016-12-26 at 3 12 08 am" src="https://cloud.githubusercontent.com/assets/8419333/21472990/3a06d856-cb19-11e6-98e6-5468d80bd33f.png">

Is this a good start?

[2016-12-25 22:03] nemaniarjun commented on #3228
I don't think you need to be a maintainer to invite people, you just need to be a member.
But right now due to an upper limit issue, the new members are unable to use cobot, it straight out ignore them.

[2016-12-25 22:07] ashwini0529 commented on #3228
@nemaniarjun try typing `cobot help` in gitter chat.
It will mention that only maintainers can invite people. I'll change it though.
Btw I was asking about the formatting.

[2016-12-25 22:13] nemaniarjun commented on #3228
Then the issue I was raising belongs to `cobot help`
The formatting looks good enough to me :+1:

[2016-12-25 22:13] ashwini0529 commented on #3228
Let's raise an issue for `cobot help`?

[2016-12-25 22:19] nemaniarjun commented on #3228
Go ahead :D
Will need to make an account on GitLab I suppose

[2016-12-25 22:22] ashwini0529 commented on #3228
Anything for `coala` ! :smile:

[2016-12-25 22:54] nemaniarjun commented on #3228
Since cobot cant stop us,
Anything for `Coala` :stuck_out_tongue_winking_eye:  :wink:

[2016-12-25 22:56] ashwini0529 commented on #3228
Hahaha!

[2016-12-26 01:12] Mixih commented on #3369
CC @jayvdb Mgiht not be a bug and more of a feature request if you still want it.

[2016-12-26 01:14] Mixih commented on #3379
yeah, by the next version or two. We restored it to give people a grace period

[2016-12-26 03:34] jayvdb commented on #3369
Eh!? `**/**` has a literal `/` in it, and if there is not an extra `/` in the path than it shouldnt match.

[2016-12-26 06:46] ankit01ojha commented on #3395
I would like to work on this can you assign me and tell me how should I start.

[2016-12-26 07:34] Shade5 commented on #3392
Can I work on this? Or is it too complicated?

[2016-12-26 08:18] badarsh2 commented on #3357
I tried hosting on ReadtheDocs from master branch of my forked version of coala using the default settings, but I got a **No module named coalib.misc.Constants** error while RTD tried running Sphinx.
Are there any settings I have to change or is there a different branch for this?

[2016-12-26 10:38] Abhisek- opened #3398 "ConsoleInteraction.py: Improve use of range builtin function for SourceRange"
`range` is a builtin function. We should not use `range` for any other purpose other than iterating over the iterator(which is offered by python).

**Location:**

* `coalib/results/Diff.py:Diff.range`
* `coalib/output/ConsoleInteraction.py:print_results_formatted`
* `coalib/results/Result.py:Result.overlaps`
* `coalib/results/Result.py:Result:from_values` (suggested by @vijeth-aradhya )
* `coalib/

[2016-12-26 10:57] sils commented on #3392
@Shade5 please go ahead :)

[2016-12-26 11:07] sils commented on #3228
I'm still against writing a help page like this. Rather improve cobot help
and make cobot work for anyone. And yes, invitation is a maintainers only
thing, we wanted to prevent random people from getting an inv and then
abuse it, potentially getting our account locked out.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 25 Decemb

[2016-12-26 11:25] Shade5 commented on #3392
@sils Any hints on how to start?

[2016-12-26 11:45] underyx opened #3399 "Add usage analytics"
We could track usage of bears, CLI options, actions used, etc.

[2016-12-26 11:46] underyx commented on #3399
For the backend, piwik.org hosted on coala.io would be a nice option.

[2016-12-26 12:11] sils commented on #3399
or just ask 'em for a nonprofit plan

[2016-12-26 12:12] underyx commented on #3399
Well my idea was that it would be nice to retain control of all data we
collect from users.

On Mon, Dec 26, 2016, 12:11 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-12-26 12:13] sils commented on #3155
not too sure this is smart, currently the main assumption is that the format string is a one liner, this'll definitely introduce multiple lines and it's likely badly parsable. At least it shouldn't be active by default IMO

[2016-12-26 12:16] jayvdb commented on #3155
Ya, I've no intention for it to be active by default. That would be a breaking change.
Also we could use a new line marker instead of `\n`, like pygments uses.

[2016-12-26 13:14] userzimmermann opened #3400 "Connect the repo to Reviewable"
Please connect this repo at https://reviewable.io/repositories so that all PRs get linked to reviews. Thanks!

There was this link and I just clicked on it... ;)

[2016-12-26 13:43] sils commented on #3400
Why? Will try when I have a laptop

On Dec 26, 2016 2:14 PM, "Stefan Zimmermann" <notifications@github.com>
wrote:

[2016-12-26 14:18] ashwini0529 commented on #3228
Even I'm against duplicating things, but there should be a place where people get to know about `cobot`. Like if I'm new to coala, I've to explicitly search for `cobot`.

[2016-12-26 15:01] #3140 closed

[2016-12-26 15:20] Mixih commented on #3369
So do we need to do a bit w a globbing rewrite here then?

[2016-12-26 17:10] Abhisek- commented on #3155
If we render everything in on line without using newline, then it will become too confusing to understand as what is wrong with source file. Not sure about the pygments thing

[2016-12-26 18:06] Mixih commented on #3372
it wasn't... so this is more of a triage issue ATM

[2016-12-26 21:03] vijeth-aradhya commented on #3398
Also, over [here](https://github.com/coala/coala/blob/master/coalib/results/Result.py#L151-L151)

[2016-12-26 23:12] userzimmermann commented on #3400
@sils Just because reviewable.io urged me to do so ;)

[2016-12-27 02:23] coala-bot opened #3401 "prevent use of line continuation in Python code"
trailing \ creates a longer logical line without any objects in the ast to indicate how it happened, which makes it difficult for static checkers.

Opened via [gitter](https://gitter.im/coala/coala/?at=5861d0b2e7bdfe4e299fc890) by @jayvdb

[2016-12-27 03:54] Abhisek- commented on #3398
And over [here](https://github.com/coala/coala/blob/master/coalib/results/Result.py#L241) too. Ok I'll update my comment to get all the things in one place.

[2016-12-27 07:22] rhemon opened #3402 "OSX xcode llvm 3.6 not found"
When I try running the tests it cant find clang.

My clang version:
[code]

The result when I try running the test : http://pastebin.com/JgRDAsM2

[2016-12-27 07:52] jayvdb commented on #3402
Note that we created a venv, and manually set it up to use `libclang-py~=3.6`

[2016-12-27 08:00] Uran198 opened #3403 "Do integration testing with something like subprocess"
I find current way of integration testing a bit hacky. In it we are relying a lot on the underlying structures (which makes it more of a unit testing of those structures than testing of the whole system from the user perspective), mocking stdout and stdin (which is prone to errors and complexities (for example with [logging](https://github.com/coala/coala/blob/a4d89ad3dd02d1c0f6fc5f5c00da5c231f2fd

[2016-12-27 08:25] Shade5 commented on #3392
@sils When in the warnings about the patch shown? What's the command?

[2016-12-27 09:16] jayvdb commented on #3402
(unrelated to this issue, just noting that I also reproduced your "llvm-3.6 using libclang-py-3.4" problem at https://travis-ci.org/coala/coala/jobs/186563495#L999 when running llvm 3.8)

[2016-12-27 10:18] kirankonduru commented on #3398
I am new to coala. I would like to work on this issue.

[2016-12-27 12:11] jayvdb commented on #3374
Hi @Asnelchristian, this is a GCI task.

[2016-12-27 15:09] adtac opened #3406 "Add a warning about the evil green button on the pull request template"

[2016-12-27 15:12] adtac opened #3407 "Emphasize that you should never use the evil green button in the docs"
The user should never use it even if their life depended on it. Well, not really :P

[2016-12-27 15:19] Mixih commented on #3407
He means the update branch button for those unenlightened :).

[2016-12-27 15:20] Mixih commented on #3406
He means the update branch button for those unenlightened :) .

[2016-12-27 16:45] Makman2 commented on #3395
You need to rename `default_sections` to `base_sections` in `ConfigurationGathering.py`, see above :)

[2016-12-27 16:47] Makman2 commented on #3131
yeah yeah wait if you override `ignore` you lose the ignore from the base coafile, you need to remove your `ignore`, we don't merge list values from the base file^^ You could file another issue to discuss the behaviour for these cases^^

[2016-12-27 16:49] Makman2 commented on #3131
I'm not sure if we already support that, but you could try `ignore += your-stuff`^^

[2016-12-27 20:05] Nosferatul opened #3408 "Writing_Linter_Bear.rst -> add link to Linter module"
In the section "Where to find more" we should add a link to
http://api.coala.io/en/latest/coalib.bearlib.abstractions.html#module-coalib.bearlib.abstractions.Linter

[2016-12-27 20:06] shrutishrm512 commented on #2926
I would like to work on this issue :)

[2016-12-27 20:12] shrutishrm512 commented on #2926
After reading all the comments, I have to add condition for the lines starting with '#' checking that there is whitespace before and after or not for that showing warning message in LineParser.py file.
Am I going correct ?

[2016-12-27 20:30] sils commented on #2926
@shrutishrm512 well print the warning in those cases where it makes sense, think them through by yourself, we want the warning if the user likely *meant* to use something like C# and accidentally started a comment with the #.

[2016-12-27 20:34] shrutishrm512 commented on #2926
Okay, I have to think about all the cases with '#'!

[2016-12-27 22:45] coala-bot opened #3409 "OpenEditorAction.is_applicable and IgnoreResultAction.is_applicable are duplicates"
We should remove one of them and just assign the other :)

difficulty low but needs a bit of python knowledge I guess

Opened via [gitter](https://gitter.im/coala/coala/?at=5862ef07058ca967379a6bc9) by @sils

[2016-12-27 22:57] #3164 closed

[2016-12-27 23:08] coala-bot opened #3410 "Don't show "Ctrl+D to exit" on windows"
It doesn't work for the windows users

type bug

Opened via [gitter](https://gitter.im/coala/coala/?at=5862f477c02c1a3959bc6a64) by @sils

[2016-12-27 23:31] coala-bot opened #3411 "check out rultor permission system"
see discussion (you won't be able to see it unless you're a maintainer)

CC @Mixih

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=5862f9e40730ce693717b433) by @sils

[2016-12-27 23:32] sils commented on #2862
@SanketDG any news?

[2016-12-28 00:30] yukiisbored commented on #3410
Is there an alternate key combo for windows?

[2016-12-28 02:06] Mixih commented on #3411
This is problematic....
Rultor adds collaborators to the mergers list. There is a `commanders` setting, but that only adds users to mergers list and doesn't override who can merge. There is also an architect setting where all merges must run by one of them. Neither is a good solution. I suppose the base problem is that people with write access are assumed to be able to modify repo code. Rultor see

[2016-12-28 04:23] arush0311 commented on #3409
Actually there is a slight difference. OpenEditor is not applicable when any of the file don't exist. IgnoreResult is inapplicable when all the files don't exist

[2016-12-28 04:49] jayvdb commented on #3100
@Yash17Agrawal , so what are the options available to us?  What setup() parameters can be used; what types do they accept?  What do you recommend?

[2016-12-28 08:46] jayvdb commented on #3402
I got xcode llvm to work on Travis by adding `DYLD_LIBRARY_PATH=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/` using `osx_image: xcode6.4`.

I suggest we work on merging https://github.com/coala/coala/pull/3380 , and then it is easier for non-OSX people to investigate this type of problems.

To close this issue, we also need to

1.  test the other [Travis-

[2016-12-28 08:53] sils commented on #3170
I recall when I ran coala on the linux kernel and it actually crashed on this issue - before we had that warning :)

[2016-12-28 10:04] sils commented on #3411
problem is that even people with read access can merge with rultor,
limiting those away would be a start already

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 28 December 2016 at 03:06, mixih <notifications@github.com> wrote:

[2016-12-28 10:15] ap916 commented on #3410
I think Ctrl+Z works for windows. It's the default in python(Windows) too.

[2016-12-28 10:17] sils commented on #3410
that puts it in background on linux, you sure it sends EOF?

[2016-12-28 11:57] Yash17Agrawal commented on #3100
@jayvdb I suggest instead of redirecting to setup.py in readme we can directly share the wiki link in place of setup.py ,also i m trying to find if we can load names directly from some file or wiki page directly into the readme whenever the page loads.

[2016-12-28 13:35] sils commented on #3392
Use git grep n your own please

[2016-12-28 13:37] sils commented on #3400
I recall @jayvdb disliked it and I'm strongly against letting a company use
our pull requests as an advertisement platform without good reason

On Dec 27, 2016 12:12 AM, "Stefan Zimmermann" <notifications@github.com>
wrote:

[2016-12-28 14:02] jayvdb commented on #3400
What I most disliked was it appeared to automatically modify PRs comments that I (and others?) created, to add a button linking to the review on their website.  As a result of their spamming without any opt-in or opt-out that I could see, I didnt get to fully evaluate their product, beyond it being quite a heavy JS app.

[2016-12-28 15:02] vijeth-aradhya opened #3415 "Linter_Bears.rst: --msg_template is not a valid pylint option"
STEPS TO REPRODUCE

Please go through the tutorial, and copy the _Finished Bear_ _Section_'s code for PylintTutorialBear and try to run it using `coala --bear-dirs=. --bears=PylintTutorialBear --files=sample.py` on a sample python file (possibly which has linting erros so that you can verify). Also, please have the `pylint` executable in the current directory (`.`).

EXPECTED OUTPUT

pylint should

[2016-12-28 15:03] ap916 commented on #3410
Can't confirm. Don't have access to windows right now.

[2016-12-28 16:09] maweki opened #3416 "Make it possible to write Bears in Haskell"
It would be nice if coala would support bears written in Haskell. I have an example bear at https://github.com/maweki/coalaCheckBear-hs and a haskell framework prototype at https://github.com/maweki/coalaHs. As discussed with @sils, you guys could help out with the python/coala-side templating while I do the Haskell stuff.

Currently the example bear could be run with (if `stack` is set up) `stack

[2016-12-28 16:18] sils commented on #3416
CC @razvanch because he might be interested

[2016-12-28 16:41] sils commented on #3416
Related: http://api.coala.io/en/latest/Developers/External_Bears.html

[2016-12-28 16:46] maweki commented on #3416
https://github.com/maweki/coalaCheckBear-hs implements exactly the example functionality in a very concise fashion.

[2016-12-28 16:53] sils commented on #3416
Just looking through https://github.com/maweki/coalahs I like it very much. Question is, what's the smartest way to embed this into coala natively? You could already easily write your bear in python, install it and make your compiled haskell binary available and it would work.

@Adrianzatreanu I guess we need cib to install bears of this kind properly?
@maweki @razvanch so we'd need to create some

[2016-12-28 17:01] maweki commented on #3416
we don't need to distribute `coalaHS`. If it's a dependency in the bear's `stack.yaml`, `stack` downloads and compiles the dependency for us. So you basically want to build a template out of `coalaCheckBear-hs` and its `stack.yaml`.

I would think we would somehow "distribute" a template with coala where one enters the name of the bear and an example `stack.yaml`, `Setup.hs`, `Main.hs` and `<bearn

[2016-12-28 17:06] sils commented on #3416
Otherwise cookiecutter will be simple, CC @srisankethu who made some coala cookiecutter template and @underyx who knows it best I guess

[2016-12-28 17:17] maweki commented on #3416
If your `Main.hs` has the proper includes and a line that starts with `main = coala`, the type system basically does not allow you to do anything stupid, if you're not trying to break it.

But sure, the workflow to get haskell to glue nicely to coala should be explained. Everything else is basically in the types, as far as the haskell user is concerned.

[2016-12-28 17:47] sahmed95 commented on #3093
Hi, my friend introduced me to coala. I see that it is not available in conda yet. You can add it to conda-forge if not conda directly. It is a community driven initiative which involves writing a recipe and adding it to conda-forge feedstock. Read about it [here](https://conda-forge.github.io). Check it out @Shade5

[2016-12-28 20:15] Makman2 commented on #3410
yes CTRL+Z is the default for EOF in Windows^^

[2016-12-28 20:15] Makman2 commented on #3410
btw why we don't allow to exit with CTRL+C ? :O
this works for Linux and Windows^

[2016-12-28 20:19] Makman2 commented on #3411
xref https://github.com/yegor256/rultor/issues/1124

[2016-12-28 20:22] Makman2 commented on #3411
At least we could code our own local merge script which needs to be executed by a maintainer that would suit our needs. Not sure how to share secrets there, but should be possible somehow^^

[2016-12-28 20:30] Makman2 commented on #3170
alright let's append the traceback to the issue :)
--> https://github.com/coala/coala/blob/master/coalib/processes/Processing.py#L256

[2016-12-28 20:35] Makman2 commented on #3170
I wouldn't use a result for that, that would kinda break the architecture of coala. Results are produced by bears, if core components start to produce results, stuff gets even weirder and messier.

[2016-12-28 20:37] Makman2 commented on #3170
Things might change with the file-proxy with lazy file-loading^^

[2016-12-28 20:41] Makman2 commented on #3416
Seems we also need some bindings then :)

[2016-12-28 20:51] sils commented on #3410
Ewe allow that

On Dec 28, 2016 9:15 PM, "Mischa Krüger" <notifications@github.com> wrote:

[2016-12-28 20:54] Makman2 commented on #3410
so why not removing (or not mentioning) EOF-cancel feature and just use CTRL+C in the text which is more common + that's the key combination I would press first^^

[2016-12-28 21:03] Makman2 commented on #3409
Phew not sure we want to use a function to move out some stuff... It's unlikely if you change behaviour of one of those `is_applicable` functions you need to change the other one^^

Also just putting into the function
[code]
is so super specific. I would ask myself "What the heck, why did we move this piece into a function" when reading that code^^

At least the documentation for one of these func

[2016-12-28 21:06] Makman2 commented on #3408
Right just at the bottom of the page^^

[2016-12-28 21:13] Makman2 opened #3418 "Typo in variable name in LinterTest.py"
https://github.com/coala/coala/blob/master/tests/bearlib/abstractions/LinterTest.py#L32

Shall be `PARAM_TYPE_ERROR_RE`

EDIT: `PARAM_TYPE_ERROR` -> `PARAM_TYPE_ERROR_RE`

[2016-12-28 21:16] Makman2 opened #3419 "Extend exception message test regex in LinterTest.py"
In https://github.com/coala/coala/blob/master/tests/bearlib/abstractions/LinterTest.py#L32

The message should be extended to something like
[code]
Otherwise people who read the string
[code]
think the exception just tells that we need an instance and not a type. This is kind of misleading.

(As seen the regex shall also support upper-case letters for the variable name, as python variable names do

[2016-12-28 21:20] Makman2 commented on #3398
Though field names have the same python names like `range`, something like `x.range` does not override it as it always needs the context of the object, so this still makes sense and I would also not confuse that personally^^

Before you start, we need new (and especially meaningful!) names, so please suggest some here before you submit a PR^^

[2016-12-28 21:23] Makman2 commented on #3398
@kirankonduru I've sent you an invitation, please also check out our gitter channel ;)

[2016-12-28 21:24] Makman2 commented on #3403
Sounds cool, do you have something more precise? Like an example or so? :)

[2016-12-28 21:35] Makman2 commented on #3369
just for interest, when you do `cd //` you get into the root of your system, and `cd //////` does the same^^

So we would require the `**` or `*` to match at least one char, then the glob should work like most people want :) (including me, `**/**` does mean "subdirectories" for me, otherwise I would just do `**`)

[2016-12-28 21:38] Makman2 commented on #3399
then let's make an intermediate backend, where we store data in our own "raw" format and then we redirect it to our piwik instance^^ (If I understand you correctly)

[2016-12-28 21:49] sils commented on #3170
Yep we can have a bear yielding errors like this

On Dec 28, 2016 9:37 PM, "Mischa Krüger" <notifications@github.com> wrote:

Things might change with the file-proxy with lazy file-loading^^

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala/issues/3170#issuecomment-269536996>, or mute
the thread
<https://github.com/noti

[2016-12-28 21:50] sils commented on #3410
Ctrl c is a keyboard interrupt, aborts the programme. EOF is just that:
tells coala to quit *gracefully*.

On Dec 28, 2016 9:54 PM, "Mischa Krüger" <notifications@github.com> wrote:

[2016-12-28 22:36] sils commented on #1579
CC @abhsag24 do you think we can do this soon?

Also CC @Udayan12167 as this is awesome for the research team and CC @sims1253 because this was part of this project he planned but never got to do. Maybe this can be a GSoC?

[2016-12-28 23:18] #2798 closed

[2016-12-28 23:18] #3213 closed

[2016-12-29 01:10] jayvdb opened #3421 "Travis source ubuntu-toolchain-r-test causing failures"
.travis.yml includes:

[code]

This is being converted to `ppa:ubuntu-toolchain-r/test`, and it [fails](https://travis-ci.org/coala/coala-bears/jobs/186813609):

[code]

Very likely an upstream (travis) bug, or change we need to live with.

[2016-12-29 01:39] jayvdb commented on #3421
Could be fixed upstream already.

[2016-12-29 01:54] underyx commented on #3399
I thought the app could just send events straight to piwik (
analytics.coala.io).

On Wed, Dec 28, 2016, 10:38 PM Mischa Krüger <notifications@github.com>
wrote:

[2016-12-29 02:53] Makman2 commented on #3410
ctrl+c is the same^^

[2016-12-29 02:55] Makman2 commented on #3170
Though I'm not really sure if that makes sense in 99% of cases^^ If you have some analysis, it needs the file intact anyway, having an additional bear for that is bad and performance waste.

[2016-12-29 04:21] shrutishrm512 commented on #2926
http://pastebin.com/Rx9Uj6wC
I have to add something like that. Is this correct ?

[2016-12-29 05:36] ap916 commented on #3418
Can I take it.

[2016-12-29 06:13] Flap-Py commented on #3354
This kind of repetitive results will occur everytime when any placeholder like `line,  end_line, column, end_column, id, origin` is not used. So what I think is to check if all of these placeholder are missing then limit the result to only 1, else show all. Is this way good enough, or is there any better way too?
PS Although I have still got to figure out how to do this too :wink:

[2016-12-29 06:20] jayvdb commented on #3421
Builds are ok now.  Problem not diagnosed.

[2016-12-29 06:20] #3421 closed

[2016-12-29 07:45] NiklasMM commented on #2698
For [xed](https://github.com/linuxmint/xed), the new default text editor in Linux Mint (version 18 and higher) has the following format `xed --new-window {filename} +{line}`

[2016-12-29 09:49] Uran198 commented on #3403
https://github.com/coala/coala/pull/3422 - Here is an example, although I am not sure it will work as is, or it is the best possible way to do it.

[2016-12-29 14:39] jayvdb commented on #3184
I see some possibly related fixes in [the changelog](https://github.com/pytest-dev/py/blob/b59055e/CHANGELOG#L37) for 1.4.29 which explains the pytest dependency.

And now when I remove the explicit `pip install -U py`, it seems to work.

[2016-12-29 15:06] sils opened #3425 "`# Ignore CSecurityBear (buffer)` doesn't work"
If I place a comment like `# Ignore CSecurityBear (buffer)` in my code that will not ignore results with `CSecurityBear (buffer)` as their origin. Currently the only workaround is to set it to `# Ignore CSecurityBear*` so the glob catches the space.

I suggest on shortterm to ignore everything after the space (removing the possibility to only ignore `buffer` related results in this case!) and on l

[2016-12-29 15:19] Shade5 commented on #3392
@sils Is this the error message. I need to confirm as I've not see it.
[code]

[2016-12-29 15:23] sils commented on #3392
@Shade5 then you should first reproduce the error, how else would you be able to tell if you fixed it? (I think it's the one.)

[2016-12-29 15:29] Makman2 commented on #2926
write tests (!), submit a PR and we see if everything works :)

[2016-12-29 15:30] Makman2 commented on #3418
I've misspelled the new variable name, see description on top again @ap916

[2016-12-29 15:40] Makman2 commented on #3403
@Uran198 we have nice macros inside `coalib.Shell`, they take over setting up pipes etc.

[code]

You also don't need to escape file paths btw if you don't use `shell=True` :)

[2016-12-29 15:49] Shade5 commented on #3392
So will I get the error if I remove QuotesBear (How do I do this?) and then run coala in a file with
`print("s")`
It auto applies QuotesBear to `print('s')`

[2016-12-29 15:55] jayvdb commented on #3184
But super bizare, rst-lint fails : https://travis-ci.org/jayvdb/coala-bears/jobs/187472999#L2783

[2016-12-29 16:00] sils commented on #3415
@vijeth-aradhya I think this is already fixed, I can't see any reference to `msg_template` in the latest files neither on http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html, reopen if my judgement is wrong please.

[2016-12-29 16:00] #3415 closed

[2016-12-29 16:04] sils commented on #3401
we could make a simple bear that checks for line continuations and we can put line continuation character sequences in the Languages? I think it'd be `...` for matlab, `/` for python etc.

[2016-12-29 16:07] sils commented on #3398
@kirankonduru assigned you, let us know if you need help or if you'd like to be unassigned.

[2016-12-29 16:08] sils commented on #3379
@Mixih let's remove it now in the development version since we have the 0.9 release with the deprecation, remove it for 0.10?

[2016-12-29 16:36] Uran198 commented on #3403
@Makman2 Cool, thanks for pointing that out!

I think the question first is whether this should be implemented, or if there is no need to do it?

[2016-12-29 16:46] #3425 closed

[2016-12-29 17:09] jayvdb commented on #2698
Some tips on handling different editors at https://github.com/wikimedia/pywikibot-core/blob/master/pywikibot/editor.py#L35

[2016-12-29 17:23] kirankonduru commented on #3398
@Makman2  we can use domain instead of range. Is it fine?

[2016-12-29 17:23] sils commented on #3398
I'd go for `source_range`, don't see how `domain` applies...

[2016-12-29 17:27] kirankonduru commented on #3398
So I'll use source_range then..

[2016-12-29 17:34] sils commented on #3365
Likely related to https://github.com/coala/coala/issues/3094

[2016-12-29 18:10] Makman2 commented on #3398
phew domain... that's more for mathematics^^ I would consider the domain of a `SourceRange` the file it operates on^^

[2016-12-29 18:11] Makman2 commented on #3398
@sils but `SourceRange.source_range`? okay, though quite oververbose :)

[2016-12-29 18:16] Makman2 commented on #3403
On the one hand it's the better approach as it emulates from real user perspective, but on the other hand `execute_coala` is called quite on top of the stack, so we don't win that much doing this.

It's up to you if you want to invest time into that :)

[2016-12-29 18:23] Makman2 commented on #3354
hmm... when reading over this issue again I'm not sure we wanna do this.

@Flap-Py I think your suggested behaviour would be best, though you need to hack code for that into our CLI which would increase complexity while loosing the ability to see how many results were yielded. Imo it's up to the tool/user to generalize those results if wanted^^

@sils what do you think, as this affects our CLI ?

[2016-12-29 18:28] Flap-Py commented on #3354
Yeah I too think that we cannot call it a bug as user is limiting the information himself here. But if we need to do anything then I would definitely try to go deeper in the code.

[2016-12-29 18:32] sils commented on #3354
this looks like intended behaviour to me, notabug IMO

[2016-12-29 19:45] #3418 closed

[2016-12-30 00:06] vijeth-aradhya commented on #3415
Oh I found it here - https://coala.readthedocs.io/en/stable/Users/Tutorials/Linter_Bears.html
Well, in the coala repo - https://github.com/coala/coala/blob/6e75b6a0c0d6393f2d6e613049b26bd7c2a6aff9/docs/Users/Tutorials/Linter_Bears.rst
@sils I hadn't seen the link you sent, but please look at them ^^

[2016-12-30 00:20] sils commented on #3415
the github link points to an old commit,
https://coala.readthedocs.io/en/stable/ is outdated as well - does it still
appear at google or somethin'?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 30 December 2016 at 01:06, euleram <notifications@github.com> wrote:

[2016-12-30 00:23] #3355 closed

[2016-12-30 00:25] vijeth-aradhya commented on #3415
Oh haha I see!
And yes, it does :P I think we need to do something about it because some users might actually look at that and waste unnecessary time.

[2016-12-30 01:05] jayvdb commented on #3149
Oh look, this didnt make it into 0.9.1 ;-(

[2016-12-30 01:20] #3410 closed

[2016-12-30 01:39] coala-bot opened #3432 "Move dev versions to testpypi.python.org"
They currently show up as the default on https://pypi.python.org/pypi/coala and slow down the parsing of https://pypi.python.org/simple/coala/ .

Opened via [gitter](https://gitter.im/coala/coala/?at=5865bac09e6f00e74ad80e16) by @jayvdb

[2016-12-30 01:57] karansangha commented on #3419
I would like to work on this 😄

[2016-12-30 03:57] Mixih commented on #3379
Sure, at best 0.10 will only come out in a month so that is enough grace period

[2016-12-30 04:00] Mixih opened #3433 "Automate release process"
This has a few parts:
- [ ] release notes script
- [ ] rultor release process
Opening an issue so progress can be tracked as I get around to each part

[2016-12-30 04:02] Mixih commented on #3411
@Makman2 A script run by rultor?

[2016-12-30 04:51] Shade5 commented on #3392
@sils Please review https://github.com/coala/coala/pull/3434

[2016-12-30 05:14] shrutishrm512 commented on #2926
@Makman2 which tests I need to write?

[2016-12-30 07:56] nemaniarjun commented on #3131
It doesn't work...

[2016-12-30 08:00] nemaniarjun opened #3436 "Don't override settings in Default Coafile"
The usage of Default Coafile (or base coafile https://github.com/coala/coala/issues/3389) needs to be discussed.

This is needed for https://github.com/coala/coala/issues/3131

We need to give user a way to disable this file and also prevent overriding of configuration in default coafile.

[2016-12-30 08:02] nemaniarjun commented on #3436
If there is a `ignore` in base coafile then it should not be overriden by `ignore`s in user coafile.

Instead it should be appended.

[2016-12-30 08:05] nemaniarjun commented on #3436
Maybe we need a new function instead of `merge_section_dicts` in `ConfigurationGathering.py`

[2016-12-30 09:09] maweki commented on #3416
Also, once we've decided on how to proceed and how to implement all this, I am willing to transfer ownership of `coalaHs` to `coala` and relicense according to what you people want and think what's best. And of course I'd be willing to stay on as a maintainer of that package.

[2016-12-30 09:14] sils commented on #3131
we don't support that yet

[2016-12-30 09:33] sils commented on #3416
@maweki as for the tranfer, GPL will do fine, we use AGPL for most stuff but since you're interfacing via JSON you're not bound to that decision legally.

[2016-12-30 10:26] jayvdb commented on #3184
Argh, another one, in a sort of different plugin `xdist`.

https://travis-ci.org/jayvdb/coala/jobs/187646988

[code]

[2016-12-30 11:28] ashwini0529 commented on #3228
So a page or improve help page?

[2016-12-30 12:11] sils commented on #3228
I vote for improving help

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 30 December 2016 at 12:28, Ashwini Purohit <notifications@github.com>
wrote:

[2016-12-30 13:00] jayvdb commented on #3339
So I encountered this:
[code]

I was not in venv.  I was using pip editable packages:
[code]

The error occurred while in the editable `coala-bears` directory, and I find the following in that directory:
[code]
Removing that line is the hacky solution.  `$ python3 -m pip install -e .` is the better way.

[2016-12-30 14:42] amarlearning opened #3437 "Documentation Status image not showing in readme.md file"
Documentation Status image not showing in readme.md file.
here is the [link](https://camo.githubusercontent.com/4937579857e2226640ea6fa2e28488409d9f9205/68747470733a2f2f646f63732e636f616c612e696f2f70726f6a656374732f636f616c612f62616467652f3f76657273696f6e3d6c6174657374)

Thought I performed a CURL request and there I found that image status is `ok`
`$ curl -X PURGE https://camo.githubusercontent.c

[2016-12-30 16:00] Makman2 commented on #3034
Looks like
[code]
confused me a bit, `Result` does not support sequences of `Diff` objects, just a single `Diff` is supported.

Docstring needs change here:
- https://github.com/coala/coala/blob/master/coalib/results/Result.py#L139
- https://github.com/coala/coala/blob/master/coalib/results/Result.py#L62

[2016-12-30 16:04] Makman2 commented on #2926
you need to write tests that test your piece of code in `LineParserTest.py` :+1:

[2016-12-30 16:04] Makman2 commented on #3411
Nope run by ourselves on our machines^^

[2016-12-30 16:17] Makman2 commented on #3436
problem is we can't determine the "type" of a setting inside a coafile, so merging gets a problem without using some specific operator like `+=` for settings.

Imo if you do this inside your coafile
[code]
then you only want to ignore `xyz`, sometimes you want to disable specific defaults from our base coafile.
It's something different if you do this:
[code]
Then you want to additionally ignore `x

[2016-12-30 16:19] Makman2 commented on #3437
Indeed can't see the doc status too :+1:

[2016-12-30 16:29] nemaniarjun commented on #3436
Do we have a issue for `+=` ?

[2016-12-30 16:53] Mixih commented on #3400
Yeah, the reviewable interface seemed quite slow and the way it auto-modified every pull seemed almost spammy. Are there any significant benefits it could provide for our review style?

[2016-12-30 17:26] Makman2 commented on #516
Does this issue still persist?

[2016-12-30 17:30] Makman2 commented on #2050
@NiklasMM how is it going? :)

[2016-12-30 17:33] Makman2 commented on #2078
I would consider this invalid, this is definitely wrong behaviour for bears like `GitCommitBear` which doesn't use any files.

[2016-12-30 17:33] #2078 closed

[2016-12-30 17:42] Makman2 commented on #3436
I believe we have, though I can't find it any more... File a new one, if someone stumbles upon it we mark it as duplicate again and migrate the discussion :)

[2016-12-30 17:47] nemaniarjun opened #3439 "Support `+=` operator to add settings instead of overiding"
For example:
If `base_coafile` (or default_coafile) contains `ignore += *.txt`
and user coafile contains `ignore = *.js`
we want to ignore both js and txt files
Right now, we use `ignore = *.txt` which gets overriden by the js ignore.

[2016-12-30 20:04] sils commented on #516
I'm pretty sure it does

[2016-12-30 21:11] Flap-Py commented on #3439
I would like to work on this

[2016-12-30 21:43] hemangsk opened #3441 "IgnoreResultAction.py: Can use multiline_comment_delimiter as a fallback when comment_delimiter doesn't exist for a language"
[Initial discussion](https://github.com/coala/coala-bears/issues/1225)
Presently IgnoreResultAction.py uses `comment_delimiter` attribute to add ignore comments.
Some bears such as CSSLintBear have `multiline_comment_delimiter` attribute and not a `comment_delimiter` and therefore this causes failure to add ignore comment in css files.

Steps for reproduction:

1. Create file style.css
[code]
2. E

[2016-12-30 21:50] nemaniarjun commented on #3441
Can I try this?

[2016-12-30 21:51] nemaniarjun commented on #3441
Unless @hemangsk wants to do it...

[2016-12-30 22:08] dhishan commented on #2107
Hello. I would like to solve this issue. I am a new comer here and would like a little bit more info and help for resolving this issue

[2016-12-30 22:10] sils commented on #2107
Hey @dhishan I sincerely thing this is *not* a newcomer issue. Those code snippets all do the same thing, we need a contribution to https://gitlab.com/coala/coala-utils providing a function, then a contribution to coala using it in all those places.

[2016-12-30 22:10] sils commented on #2107
Assigned you, let us know if you need help or want to try something simpler.

[2016-12-31 00:53] Mixih commented on #3411
@sils input?

[2016-12-31 01:22] Makman2 commented on #3441
here you go :)

[2016-12-31 01:23] Makman2 commented on #3439
@Flap-Py if you have doubts, questions, whatever, be sure to sync up with us maintainers, as this is some important core feature^^

[2016-12-31 01:37] dhishan commented on #2107
`coalib/bearlib/abstractions/Lint.py` has been changed to `Linter.py` and the issue doesn't exist anymore.

Only repitions are in the same function:
`tests/results/result_actions/OpenEditorActionTest.py`
`|  33| ••••••••fahandle,•self.fa•=•tempfile.mkstemp()`
`|  34| ••••••••os.close(fahandle)`

`|  35| ••••••••fahandle,•self.fa•=•tempfile.mkstemp()`
`|  36| ••••••••os.close(fahandle)`

So far wha

[2016-12-31 01:44] Makman2 commented on #2107
Maybe you can replace with the python builtin `tempfile.NamedTemporaryFile` (see https://docs.python.org/3.5/library/tempfile.html)

[2016-12-31 02:31] dhishan commented on #2107
Nice Idea. But the files need to exist even after they are created and closed, but with the built-in method @Makman2  mentioned, the files get's destroyed once they are closed, I guess it's not the functionality deserved here.

Can I extend the functionality of the `tempfile` by creating a new method which returns only the file name? after closing it of course

[2016-12-31 05:37] Flap-Py commented on #3439
sure :)

[2016-12-31 10:46] #3437 closed

[2016-12-31 11:55] NiklasMM commented on #2050
I started looking at the code and it's a little more complex than I expected. I would still like to work on it, but have to find some time first ;)

[2016-12-31 16:06] jayvdb commented on #3184
The problem is we are listing pytest after the plugins in requirements.txt, specifically https://github.com/pytest-dev/pytest-xdist/issues/105

[2016-12-31 16:10] #3034 closed

[2016-12-31 16:14] jayvdb commented on #3184
Note : pip does not have a dependency resolver : https://github.com/pypa/pip/issues/988

[2016-12-31 16:21] Mariatta commented on #3400
I don't see any huge benefit or advantage for doing this.
Just because 'somebrand is telling me to do this' is not good enough reason.
I vote to close this.

[2016-12-31 16:31] Mixih commented on #3357
do pip3 isntall -r requirements.txt and python3 setup.py install . You need to install coala for the docs to generate

[2016-12-31 16:49] #3184 closed

[2016-12-31 16:51] andreidinu opened #3445 "Change coala-json into coala --json in External_Bears.rst"
Changes should be done into External_Bears.rst (bottom note).

[2016-12-31 19:34] coala-bot opened #3447 "Investigate piton support"
[piton](https://github.com/piton-package-manager/piton) works like npm.  It doesnt install the requirements globally, or create a venv, but has a local `.python_modules` which needs to be added to the `PYTHONPATH`.  This would mostly be useful for developer environments.
The piton package.json can be generated by `.ci/generate_bear_requirements.py`, and coala should be able to find the `.python_mo

[2016-12-31 19:53] jayvdb commented on #3000
This would solve https://github.com/coala/coala-bears/issues/929 .  I've created a GCI task to research this problem.

[2016-12-31 19:53] jayvdb commented on #3447
I've created a GCI task to research this problem.

[2016-12-31 21:44] ritwickdsouza commented on #3409
I would like to do this. :)

[2016-12-31 21:51] ritwickdsouza commented on #3316
I see that the issue has not been fixed. Can i work on it ?

[2017-01-01 03:33] karansangha commented on #3419
The test passes succesfully with PARAM_TYPE_ERROR_RE = '[A-Za-z_]+ must be an instance' at line 32
but fails if i add this instead: of type [A-Za-z_]+ at the end of line.

It fails with the following error:

============================================= FAILURES =============================================
____________________ LinterComponentTest.test_decorator_invalid_parameter_types ___________

[2017-01-01 03:37] karansangha commented on #3419
hmm, copying line 165 to 159 (the line that's causing the previous error) seems to make the test pass. But I don't know what exactly fixes it.

Please advise.

[2017-01-01 12:57] sils commented on #3183
So far we have never thought about a minimum version of pip to support but we definitely wanna use `~=` (which doesn't work with the really old debian pip ones)

[2017-01-01 13:00] #2959 closed

[2017-01-01 16:39] Mariatta opened #3449 "settings docs page formatting issues"
http://api.coala.io/en/latest/Developers/coala_settings.html

- [ ] Should not use raw url link
- [ ] `coala --show-bears` command line is not highlighted

[2017-01-01 16:59] rishikksh20 commented on #3408
Hello friends! I am a newcomer let me work on this.

[2017-01-01 19:32] rishikksh20 commented on #3449
Let me take this issue

[2017-01-01 20:13] Makman2 commented on #3408
Before you start working on an issue, please wait to be assigned, so we don't have multiple people working on the same issue. To get assigned accept the invitation from us to our organization. Be also sure to checkout our gitter channel for help and everything related :)

[2017-01-01 20:14] Makman2 commented on #3419
Oh yeah seems my suggestion for the regex is wrong, please adapt the test regex to match the test output :+1:

[2017-01-01 20:20] Makman2 commented on #2107
I believe we have such a function, maybe in `coala_utils`? If not, feel free to code one :)

[2017-01-01 20:23] rishikksh20 commented on #3408
Ok @Makman2 ! Please assign this issue to me because I already raise a pull request for the same.

[2017-01-01 20:25] Makman2 commented on #3408
though shall be assigned! :)

[2017-01-01 20:27] Makman2 commented on #3449
@rishikksh20 you already got a newcomer issue assigned + Mariatta is already assigned :)

[2017-01-01 20:27] rishikksh20 commented on #3449
Ok

[2017-01-01 20:30] Makman2 commented on #3316
Honestly I don't expect this behaviour, this is the same like I would do this in python
[code]

[2017-01-01 20:30] Makman2 commented on #3316
@DragosCocirlea please wait with implementation, I want to discuss this behaviour^^

[2017-01-01 20:31] Makman2 commented on #3316
oh nvm the issue is about warning the user, not to enable this behaviour, my fault ...

[2017-01-02 06:38] #3169 closed

[2017-01-02 06:43] Udayan12167 commented on #3339
I think multiple versions of coala are getting installed. There is a disconnect between `./setup.py install` and installing through pip. I could fix the problem when I removed `coala` and `coala-bears` from the global environment and let it remain in the venv.

[2017-01-02 07:15] #3449 closed

[2017-01-02 08:10] NiklasMM commented on #2050
Got it! :+1: Will move it up in my imaginary prioritized todo list ;)

[2017-01-02 10:18] Shade5 commented on #3432
Can I work on this?

[2017-01-02 10:33] jayvdb commented on #3432
This is probably a multi-stage task, with multiple PRs.
IMO the first steps are:

1. Improve .travis.yml for coala and coala-bears to publish to testpypi.python.org .
2. Improve .travis.yml fpr coala and coala-bears to use an env var to choose between pypi.python.org and testpypi.python.org servers.  The former would be used for release branches, and the latter would be used for dev branches.

[2017-01-02 10:42] Shade5 commented on #3432
So, I'll start working on the first one?

[2017-01-02 12:07] #3392 closed

[2017-01-02 12:22] #3242 closed

[2017-01-02 13:03] #2698 closed

[2017-01-02 14:12] DragosCocirlea commented on #3316
I think someone else should solve this. I don't really have the time at the moment and I don't want to hinder you progress.

[2017-01-02 14:24] aptrishu commented on #3316
If you're stuck anywhere, you can ask for help on our channel (https://gitter.im/coala/coala). The issue isn't that much time bound. :)

[2017-01-02 15:04] arush0311 commented on #3219
I dont think we can display anything more than this message for distro requirements
[code]
Also have to check for existence those requirements also, and not lock any disto out.

[2017-01-02 15:07] Mixih commented on #3432
Please find a time to discuss with @jayvdb and me on gitter. There are some points we must cover before you may begin.

[2017-01-02 15:17] adtac opened #3452 "ConsoleInteraction.py: Add param docs for functions"

[2017-01-02 16:59] vijeth-aradhya commented on #3452
@adtac I'll take this up :+1:
`print_diffs_info` and `print_results_formatted` are the functions which don't have doc right

[2017-01-02 17:00] adtac commented on #3452
@vijeth-aradhya sure, assigning you.

[2017-01-02 18:39] sils commented on #3219
if you use [package_manager](https://gitlab.com/coala/package_manager) just get the command from there, no need to show lots of useless commands. You shouldn't reimplement stuff that's already there, the actual composing of the command and checking if it's there should all happen in package_manager!

[2017-01-02 19:21] #3452 closed

[2017-01-02 20:03] #3408 closed

[2017-01-02 20:21] sils commented on #3409
it's not that specific, just put a name on it! It's an `is_applicable_if_sourceranges_exist` or so ;)

[2017-01-02 21:39] Makman2 commented on #3409
actually this is the wrong name imo, as I return a set there or sometimes `False`. Honestly I dislike to deduplicate it like this^^ For me it does not increase readability, and actually it raises complexity for me because I wouldn't understand the sense for this function on first sight^^

[2017-01-02 22:06] sils commented on #3228
@ashwini0529 @Mariatta I really think this is not leading to anything - lots of discussions an all proposed solutions are introducing documentation that *will* get outdated and just confuse people.

I propose closing this issue and opening one for cobot about improving it's help page and also get that gitter hubot adapter fixed so other people can actually use cobot. Or who knows, maybe @meetmangu

[2017-01-03 00:49] Mixih commented on #3366
should be covered by the three new issues opened by @Udayan12167 .

[2017-01-03 00:49] #3366 closed

[2017-01-03 02:31] Shade5 commented on #3432
Cool, when will you guys be free? You mean on the main chat or PM?

[2017-01-03 03:51] Mariatta opened #3457 "Improve cobot Help Page"
Perhaps someone who's more familiar with cobot can provide more information about of how cobot help page can be further improved.
Thanks 😃

Follow up from https://github.com/coala/coala/issues/3228

[2017-01-03 03:53] Mariatta opened #3458 "Fix cobot (gitter hubot adapter)"
Can anyone familiar with cobot/hubot provide more info of what they'd like fixed in cobot/hubot?
Thanks 😃
Follow up from #3228

[2017-01-03 03:53] #3228 closed

[2017-01-03 04:05] Mixih commented on #3458
Eh, it's an upstream fix, I woudn't mark difficulty yet.... Basically we need hubot's gitter2 adapter fixed to read mroe than 100 users

[2017-01-03 04:26] Mariatta commented on #3458
gotcha
is there an issue filed upstream about this yet?

[2017-01-03 04:30] nemaniarjun commented on #3458
Yes there is and there's a comment from someone in the gitter org about the skipping of pages to get list of all users. But the adapter does support paging, it's probably a bug.

[2017-01-03 04:31] nemaniarjun commented on #3458
https://github.com/huafu/hubot-gitter2/issues/23

[2017-01-03 04:53] Mariatta commented on #3458
Anyone up to the challenge to fix this upstream? 😀 Fork it, create your own PR, make everyone at coala happy 💪

[2017-01-03 05:24] Shade5 commented on #3432
So will this be split into sub-issues?

[2017-01-03 05:55] jayvdb opened #3459 "Enhance Travis to upload wheel to testpypi"
This is the first step in #3432

[2017-01-03 05:57] jayvdb commented on #3432
Yea, do you want to do the first sub-task?

[2017-01-03 05:57] Mixih commented on #3459
We have a script which does that from rultor atm , lets modify it?

[2017-01-03 06:56] vijeth-aradhya commented on #3182
@jayvdb If travis is taking installation details from requirements.txt, then it should install `libclang-py3~=3.4.0` right? How is it installing `libclang-py3~=0.2.0` - is it because it has a different clang version?
In that case, we should allow the users to install the above package according to the clang version they have... I'd like to take up this issue :+1:

[2017-01-03 07:36] coala-bot opened #3460 "Newcomers guide should reference to coala.io/devsetup"
We probably want to elaborate on that in step zero. Found by @satwikkansal

difficutly newcomer type/documentation

Opened via [gitter](https://gitter.im/coala/coala/?at=586b547c9d4cc4fc536df4fb) by @sils

[2017-01-03 07:36] coala-bot opened #3461 "Move pyvenv from MAC_Hints to Development_Setup"
Opened via [gitter](https://gitter.im/coala/coala/?at=586b547e9d4cc4fc536df507) by @jayvdb

[2017-01-03 07:37] coala-bot opened #3462 "MAC_Hints: Include info about libclang version 3.4"
c.f. https://github.com/coala/coala/issues/3182

Opened via [gitter](https://gitter.im/coala/coala/?at=586b54d49e6f00e74aee7e50) by @jayvdb

[2017-01-03 08:07] coala-bot opened #3463 "Elaborate on test writing for bears"
We do have some quality problems with our bears and sometimes the tests are just insufficient. IMO we need a policy that applies for all new bears (and that all old bears should be migrated to) in order for this quality change to happen because without guidelines reviewers will likely let simple tests let through. Maybe it'd be nice to have at least one "explorative test" in addition to the good f

[2017-01-03 08:17] Shade5 commented on #3432
Yup

[2017-01-03 08:22] jayvdb commented on #3182
See the second comment.

that has been done now, which is why you see `libclang-py3~=3.4.0` in `requirements.txt`. (see https://github.com/coala/coala/commit/f25d48daf5a)

First we need to know what works.
Is it possible to use clang 3.6 and libclang-py3 3.6 ?  or 3.8 ? or 3.9?

[2017-01-03 08:49] Shade5 commented on #3459
How shall I start?

[2017-01-03 08:52] nemaniarjun commented on #3458
I am trying it. Need some time to get coffee script right :P

[2017-01-03 08:55] nemaniarjun commented on #3458
Also @meetmangukiya is trying to make a Python cobot :D

[2017-01-03 09:09] rhemon commented on #3460
can I add the reference to newcomer guide?
for this I just to have to add part in step 0 referencing to coala.io/develop right?

[2017-01-03 09:16] nemaniarjun commented on #3460
Yes, thats all :) Join us on our gitter channel if you need help, one of our maintainers will assign you soon :D

[2017-01-03 09:23] nemaniarjun commented on #3460
coala.io/chat

[2017-01-03 09:30] sils commented on #3460
Hey @rhemon , @satwikkansal is already working on this as he found it. I think that's a lot simpler since he knows best what he was looking for originally.

[2017-01-03 09:36] rhemon commented on #3460
no problem

[2017-01-03 10:01] meetmangukiya commented on #3458
Yeah, and anyone wanting to contribute is welcome :) https://github.com/meetmangukiya/cobot

[2017-01-03 10:48] satwikkansal commented on #3460
@sils  Here's a list of things that I intend to fix in this issue

- [ ] Adding reference to the `Development Setup Notes` in the `Newcomers Guide`

- [ ]  Mention of the `docs` directory in `Development Setup Notes` should be highlighted.

- [ ] The `Building Documentation` section of `Development Setup Notes` should contain instructions to install dependencies from `docs-requirements.txt`

- [ ]

[2017-01-03 10:58] sils commented on #3460
cool, for every logical change make one commit :)

[2017-01-03 11:19] satwikkansal commented on #3461
Just to add, the `Development Setup Notes` reference  [this](http://docs.coala.io/en/latest/Help/MAC_Hints.html) page for _setting up the virtual env_ but the instructions in the page are only for `macOS`. I think either we should create similar pages for Linux as well or we can add the instructions for setting up `virtualenv` in Linux in the existing MAC_Hints page.

[2017-01-03 11:19] vijeth-aradhya commented on #3182
@jayvdb [Here](https://bitbucket.org/Anteru/python3-libclang), it says libclang-py3 3.9 is compatible with Clang 3.9
My guess is that each release is compatible with the corresponding release of clang
We could test it out though. ( if clang 3.6 is compatible with 3.8 or 3.9 )
In any case we can handle the testcases on our builds in a particular clang and libclang-py3 version and leave the user to

[2017-01-03 11:54] jayvdb commented on #3182
Yes, that is what needs doing.  Nothing else is worth discussing until we know what works local on our workstations or on Travis (Ubuntu and OSX).

[2017-01-03 12:16] satwikkansal commented on #3460
@sils Why don't we add `sphinx_rtd_theme` to `docs-requirements.txt`. By doing so the the developer would have to just execute `pip3 install -r docs-requirements.txt` instead of executing `pip3 install -r docs-requirements.txt` and `pip3 install sphinx sphinx_rtd_theme` separately.

[2017-01-03 12:21] satwikkansal commented on #3460
Also, I couldn't find any link to Cobot Help Page (I guess it's not ready yet)

[2017-01-03 12:39] nemaniarjun commented on #3458
Fixed :tada: Close this issue :)

[2017-01-03 12:47] sils commented on #3460
run `cobot help` to get help about cobot, we had an issue about creating a doc page but that'd be duplication from the generated help, if we want better help we should improve the help command.

Yes please, the theme should be inside that file anyway!

[2017-01-03 13:59] yukiisbored commented on #3447
Currently piton has a number of bugs preventing this from happening, the bugs are https://github.com/piton-package-manager/piton/issues/7, https://github.com/piton-package-manager/piton/issues/3. Enhancements like https://github.com/piton-package-manager/piton/issues/5 will help migration without killing the current features we have with `pip`

[2017-01-03 15:19] Techievena commented on #3367
@Makman2 see this [discussion](https://github.com/Homebrew/brew/issues/1738)

[2017-01-03 15:25] Makman2 commented on #3367
@Techievena where's the relevant information?

[2017-01-03 15:52] Techievena commented on #3367
https://github.com/Homebrew/brew/issues/1738

[2017-01-03 16:12] Makman2 commented on #3367
Your issue is about installing from commit hash, this issue is about placing a commit-sha-variable into our `coalib` module or some other suited module. I'll rephrase the title a bit^^

[2017-01-03 16:45] vijeth-aradhya commented on #3024
Hey can I take this up? :)

[2017-01-03 18:07] sils commented on #3029
@Makman2 is there a definite need for this?

[2017-01-03 18:07] sils commented on #3029
oh generate. Ok. How would you like it improved?

[2017-01-03 18:09] sils commented on #3029
ok this lives in coala-utils by now, please open an issue there and specifically propose how you want the repr improved.

[2017-01-03 18:09] #3029 closed

[2017-01-03 18:48] Makman2 commented on #3029
migrated to https://gitlab.com/coala/coala-utils/issues/17

[2017-01-03 19:00] NiklasMM opened #3467 "OpenEditorAction should log a warning for unknown editors"
This is an amendment to  #3443 where we defined a set of known editors.

For unknown editors we just pass all the filenames and hope for the best. The user should be warned about this and encouraged to file an issue requesting support for that editor.

[2017-01-03 19:00] NiklasMM commented on #3467
Can someone assign me please?

[2017-01-03 19:02] nemaniarjun commented on #3467
try `cobot assign <linktoissue>` on gitter
Also the warning can contain link to our github, so that we can add these editors

[2017-01-03 20:23] nemaniarjun commented on #3037
Can I take this up?
We already use python builtin logging now, right?
So we just need to output logs as JSON?
And have a setting for the same?

[2017-01-03 20:33] mayank26saxena commented on #3316
Can I take up this issue?

[2017-01-03 20:34] sils commented on #3037
sure

[2017-01-03 20:35] sils commented on #3316
sure!

[2017-01-04 02:21] jayvdb commented on #3461
Note that pyenv is cross-platform to at least linux and osx (only one test failure, last time I checked : https://github.com/yyuu/pyenv/issues/623 ).  It may also work on windows, with a bit of massaging.
The moved instructions should include steps to install pyenv .

On the OSX page, a small note should remaining, indicating that pyenv is an limited option that can be used instead of brew's pytho

[2017-01-04 04:11] Mariatta commented on #3460
@satwikkansal Was there a reason why you wanted to add `sphinx_rtd_theme` as a requirement?

We use alabaster theme, and is included if people simply do `pip3 install -r docs-requirements.txt` as it is.
No additional entry needed for it.

[2017-01-04 07:17] varunamayya opened #3470 "Error seen in autopep8 while executing Coala on Windows"
Hi,

I am new to github and am assuming this is the right place to ask for some help in an issue seen. I was looking for some static analysis tools for C project which allows user to define rules and came across coala. I installed python, coala in my windows machine and executed coala. However, I am seeing errors. Can somebody kindly help? I have followed the installation steps mentioned in the si

[2017-01-04 09:20] varunamayya commented on #3470
Kindly ignore the message. I changed the .coafile not to include PEP8 since I was working on C files.

[2017-01-04 10:28] nemaniarjun commented on #3470
@varunamayya is the issue resolved then?

[2017-01-04 11:40] varunamayya commented on #3470
I removed the pep8 section from .coafile and it worked fine.

On Jan 4, 2017 3:58 PM, "Arjun Nemani" <notifications@github.com> wrote:

[2017-01-04 11:53] nemaniarjun commented on #3470
Please close this issue then. Thanks :)

[2017-01-04 12:49] #3470 closed

[2017-01-04 14:26] tulphoon opened #3472 "ConsoleInteraction.py: Replace log_printers with built-in logging."

[2017-01-04 21:20] nemaniarjun commented on #3037
We want only for `coala --json` or an option that works with normal `coala` as well?
IMO an option that works with all modes would be better.

[2017-01-05 00:06] nemaniarjun commented on #3037
Since this is a Diff/Medium I want to discuss my approach before working,

1. Create a function like `ListLogPrinter` called `JSONLogPrinter`
2. Add a setting for user to use this printer.
3. If the setting is activated, use `JSONLogPrinter` in [`coala_main`](https://github.com/coala/coala/blob/master/coalib/coala_main.py#L68)
4. Call a function in JSONLogPrinter that will make a json of the log m

[2017-01-05 00:28] nemaniarjun opened #3475 "Change `-output` arg help"
Change the `help` string of the output function in `DefaultArgParser`
The option is used to write coala results into a given file. Not the Logs.

Needed for https://github.com/coala/coala/issues/3037

Difficulty Newcomer.
Importance Low

[2017-01-05 03:22] #3460 closed

[2017-01-05 04:38] jayvdb opened #3476 "Write a code review guideline"
coala needs a guideline for reviewers, listing common pitfalls, and steps they should follow to ensure merged patches are well designed and well tested.

[2017-01-05 05:22] nemaniarjun commented on #3441
Sorry I just saw this now 🙈

[2017-01-05 06:14] Flap-Py commented on #3439
So here basically, we have to add up the settings with `+=` and override the settings with `=`. Also one doubt, do we also want if base_coafile has `ignore = *.txt` and user_coafile has `ignore=*.js`, ie situation is just reverse, now also it will ignore both right? (IMO it should).
Then about the way, first I need to edit LineParser.py where I can have a field (say non_override), and store fields

[2017-01-05 06:43] satwikkansal commented on #3475
@nemaniarjun Shall I work on this?

[2017-01-05 06:45] sils commented on #3037
Using our LogPrinter architecture is *not* what you want. We don't use log printers consistently in coala and they're deprecated, we're currently removing them everywhere. Instead you'll want to get the log messages from python builtin logging!

[2017-01-05 07:16] Shade5 commented on #3459
I don't know how to start

[2017-01-05 07:33] nemaniarjun commented on #3037
But isn't that how it works right now? By passing a consoleprinter to log printer.

[2017-01-05 07:50] nemaniarjun commented on #3037
Understood how to do it properly.
We should have an issue to update ListLogPrinter too I guess?

[2017-01-05 08:17] #3467 closed

[2017-01-05 08:24] nemaniarjun commented on #3037
But it Looks like it's not used anywhere... 😕

[2017-01-05 08:24] bharg commented on #3406
Hi, I'd like to work on this bug. I'm just starting out and would like some pointers on how to proceed.

[2017-01-05 09:53] hemangsk commented on #3441
Hey @nemaniarjun please feel free to ping me if there's any hindrance in reproducing this issue

[2017-01-05 10:35] Makman2 commented on #3439
Ah I'm not sure... @sils need your thoughts:

As we are going to implement a flag to ignore defaults anyway, maybe we should do this^^

@Flap-Py and as our settings parsing is totally string based (it has no knowledges about types itself), you should also append `,` as delimiter when adding a setting via `+=`^^

[2017-01-05 10:45] Makman2 commented on #3037
not quite: https://github.com/coala/coala/search?utf8=%E2%9C%93&q=ListLogPrinter&type=Code

if you could remove the printer, it would be insanely cool -> one printer less :)

[2017-01-05 10:50] sils commented on #3439
Ahm people, @Udayan12167 is working on this feature since quite a while, I haven't seen this issue yet but please don't work on this. Check out coala.io/cep5 for more info and Udayan's pull request to coala.

[2017-01-05 10:50] #3439 closed

[2017-01-05 11:03] satwikkansal opened #3478 "Codestyle.rst : Rephrase sentence"
In the Codestyle documentation the following sentence

![screenshot from 2017-01-05 16-04-02](https://cloud.githubusercontent.com/assets/10217535/21678352/6c605c16-d364-11e6-9f5f-925d996bc92f.png)

should be

[2017-01-05 13:24] gaocegege opened #3481 "Newcomers_Guide.rst: There is a link typo"
There is a link typo in coala/docs/Developers/Newcomers_Guide.rst:

<img width="679" alt="2017-01-05 9 23 24" src="https://cloud.githubusercontent.com/assets/5100735/21682037/497250dc-d38d-11e6-9841-ec217497c22d.png">

[2017-01-05 14:39] sils commented on #3219
Hey @Adrianzatreanu you basically solved this issue from the coala side didn't you? @arush0311 seems to have spent quite some effort on this :/

So what needs still doing:

- linter has an own method for checking prerequisites - do we want that? If yes it shall definitely call `super().check_prerequisites()`!
    - we might even want to make a second check method which is not intended to be overri

[2017-01-05 14:43] arush0311 commented on #3219
Basically I am making a second method which checks all requirements and then calls check_prerequisites.

[2017-01-05 14:53] arush0311 commented on #3219
Also @linter has a `prerequisite_check_command` as parameter, do we still need that? if yes then  Linter will require check_prerequisite (or the second method!! ^) to run the user command.

[2017-01-05 15:48] satwikkansal commented on #3360
@jayvdb Shall I work on it?

[2017-01-05 17:25] sils commented on #3360
after fixing this please enable the bear so the issues don't reoccur

[2017-01-05 17:28] satwikkansal commented on #3360
I'm not able to reproduce the results
![screenshot from 2017-01-05 22-51-30](https://cloud.githubusercontent.com/assets/10217535/21690469/66799412-d39a-11e6-8e55-7b6050d2489e.png)

[2017-01-05 17:39] aptrishu commented on #2753
Blocked by https://github.com/coala/coala/issues/1840 point-4.

[2017-01-05 17:46] nemaniarjun commented on #3441
So I have successfully added the ignore comment using the multiline comment delimiter.
But the result is not ignored.
So should I create another issue for that? or continue in this one?

[2017-01-05 17:52] aptrishu commented on #2757
Anyone with knowledge about jenkins should take it up.. I'm working on it too slow..
(I'll continue working on it.)

[2017-01-05 17:53] jayvdb commented on #3360
@satwikkansal , what version of csslint do you have installed?  For me, 1.0.3
[code]

[2017-01-05 17:55] nemaniarjun commented on #3441
Ignore the above comment :P Found the mistake.

[2017-01-05 18:01] Makman2 commented on #2753
--> looks like those bullets are the cause

[2017-01-05 18:06] sils commented on #2713
@Makman2 will the linter based check prerequisites even be much needed now that we have the requirements checked automatically?

[2017-01-05 18:07] sils commented on #3261
@Lars-H any progress? Do you need help? Should we find someone else? Or just time? It's fine to take some time, we just need to be updated if you're still intending to help out here.

[2017-01-05 18:09] Makman2 commented on #2713
no not really \+ it's possible via `super` :+1:

maybe it's possible to use some ABC type (though I don't really understand currently how they work), but let's just use `super` :)

reopen @AbdealiJK if you disagree :)

[2017-01-05 18:09] #2713 closed

[2017-01-05 18:14] satwikkansal commented on #3360
@jayvdb `v1.0.5`

[2017-01-05 18:16] sils commented on #3015
dupe of https://github.com/coala/coala/issues/3086 which is a wontfix

[2017-01-05 18:16] #3015 closed

[2017-01-05 18:17] jayvdb commented on #3360
could you try installing 1.0.3.
If you can reproduce the my results, then we need to look at the changes from 1.0.3 to 1.0.5
Maybe 1.0.3 was a bad release, or maybe 1.0.5 is a bad release.

[2017-01-05 18:31] satwikkansal commented on #3360
![screenshot from 2017-01-06 00-00-39](https://cloud.githubusercontent.com/assets/10217535/21692513/3e021bc2-d3a3-11e6-92e0-ddfc30d0533a.png)

[2017-01-05 18:34] jayvdb commented on #3360
Try running
[code]

[2017-01-05 18:34] sils commented on #3360
What are your coala and coala-bears versions? `python -c "import bears; print(bears.__version__)"` and `coala -v`

[2017-01-05 18:44] satwikkansal commented on #3360
![screenshot from 2017-01-06 00-11-16](https://cloud.githubusercontent.com/assets/10217535/21692851/b52b8002-d3a4-11e6-942a-bf25e2216880.png)

coala version `0.10.0.dev20170105081723`

Also, `import bears` didn't work. In my `coala` repository there is no bears.py , it's bears1.py and bears2.py

[2017-01-05 19:11] sils commented on #3360
You're using the coala development version but the latest release of the bears. They may be incompatible, consider uninstalling coala and bears and installing the coala-bears package (either --pre or not).

[2017-01-05 19:30] satwikkansal commented on #3360
![screenshot from 2017-01-06 00-59-41](https://cloud.githubusercontent.com/assets/10217535/21694465/732ab2de-d3ab-11e6-8138-a7de0abeb905.png)

[2017-01-05 20:02] Mixih commented on #3156
should be deprecate the old syntax too after a while?

[2017-01-05 20:18] Mixih commented on #3461
Why pyenv instead of virtualenv? becuase it's bundled?

[2017-01-05 20:36] Lars-H commented on #3261
@sils : Sorry, but I am currently too busy and unfortunately have no time to fix this :/

[2017-01-05 21:39] sils commented on #3261
@Lars-H no issue, I'll free this up for someone else then :)

[2017-01-05 22:50] vijeth-aradhya opened #3484 "requirements.txt: Upgrade dependency_management version to 0.2.0"
Currently, the version is `0.1.7`
Update to dependency_management `0.2.0`

[2017-01-06 00:35] #3484 closed

[2017-01-06 00:43] jayvdb commented on #3458
This is a dup of https://gitlab.com/coala/cobot/issues/25 (and other issues should be filled there)

[2017-01-06 00:44] jayvdb commented on #3458
Actually ... lets track this here as an upstream problem as it isnt yet merged.

[2017-01-06 00:56] jayvdb commented on #3228
Note that https://github.com/coala/coala/pull/3396 is still open.

I notice we also dont have a page about gitter in general.  Maybe a "communication" page would be useful, describing gitter , summaries of the rooms we use and why, and a brief mention of cobot would be suitable on that page?

[2017-01-06 03:32] Mixih commented on #3459
.misc/release.sh Secrets are handled by sils, so have him upload a new secrets.asc when you are ready to switch

[2017-01-06 07:22] Shade5 commented on #3459
So I must add scripts in .misc/release.sh to build a wheel and upload it to testpypi right?

[2017-01-06 08:04] sils commented on #3228
@jayvdb coala.io/channels

[2017-01-06 08:34] coala-bot opened #3486 "move ConsoleInteractions.join_names to coala_utils (on gitlab)"
difficulty low

Opened via [gitter](https://gitter.im/coala/community/?at=586f56a4af6b364a29387435) by @sils

[2017-01-06 08:47] nemaniarjun commented on #3476
IMO, We need to change [this guide](http://api.coala.io/en/latest/Developers/Review.html)

Also change step 2 of `Manual Review Process`

[2017-01-06 09:20] #3475 closed

[2017-01-06 10:20] coala-bot opened #3488 "The documentation comment parser doesn't recognize enumerations - they look super ugly"
Found by @Naereen , difficulty low probably. See https://github.com/coala/bear-docs/pull/27

Opened via [gitter](https://gitter.im/coala/coala/?at=586f6f7b9e6f00e74a0250a4) by @sils

[2017-01-06 11:29] satwikkansal commented on #3360
After resetting my `virtualenv` I was able to reproduce the errors :) I've fixed issues in the `custom.css` file which were causing the `CSSLintBear` to fail.
@sils Just one question, How do I enable a bear? Should I add
`[css]
bears = CSSLintBear
files =  ./docs/_static/custom.css
`

@jayvdb Also I noticed that `/docs/_build/html/_static/alabaster.css`,  `/docs/_build/html/_static/basic.css` and

[2017-01-06 11:40] sils commented on #3130
@jayvdb @Mixih could I get some design feedback on
https://github.com/coala/coala/commit/4e275281c1df47068e398683929bca9c665eaff2 before I write the tests and everything? Any suggestions?

[2017-01-06 11:43] sils commented on #3360
please put the _build directory in an ignore statement. As for the coafile, I think you'll figure that out on your own - if it isn't obvious that's a bug in coala, at least a usability issue, and we should know about it.

[2017-01-06 12:29] yash-nisar commented on #2663
@Mixih I need some help, are you around ?

[2017-01-06 14:34] nemaniarjun commented on #3037
@Makman2 I will create a new issue and maybe do it after I am done with this one.
To remove that, is a diff/low and someone else might benefit from it, because its rewarding as the assignee will understand how to write tests (specially for logging) and how coala tests are done.

[2017-01-06 17:06] nemaniarjun commented on #3441
Error in rultor? This did not get closed?  @sils

[2017-01-06 17:29] adtac commented on #3406
@bharg take a look at coala.io/newcomer if you haven't already. And if you get stuck anywhere, as mentioned above, come over to our gitter channel and ask :)

[2017-01-06 17:33] sils commented on #3441
you had a # before the URL, typo

[2017-01-06 17:33] #3441 closed

[2017-01-06 17:35] nemaniarjun commented on #3441
Okay will keep in mind :+1:

[2017-01-06 18:25] jayvdb commented on #3457
Where is the cobot Help Page?
Also see my comment at https://github.com/coala/coala/issues/3228#issuecomment-270802476

[2017-01-06 18:25] adtac commented on #3459
@mixih we already have the credentials in the environment variables [[see here]](https://github.com/coala/coala/blob/master/.misc/deploy.pypi.sh#L16). Or do we want another username setup just for this? o.O

[2017-01-06 21:22] Heredroky commented on #3000
@jayvdb The goal is to convert the whole project to python 2?

[2017-01-06 21:42] meetmangukiya commented on #3433
I guess `rultor release process` part is already in production :/

[2017-01-06 22:07] nemaniarjun commented on #3037
Thinking of using this library as it significantly cuts down work https://github.com/madzak/python-json-logger

[2017-01-07 03:44] Mixih commented on #3459
testpypi uses different ones.

[2017-01-07 03:58] jayvdb commented on #3221
@meetmangukiya , have you worked on this?
Can i give it to a gci?

[2017-01-07 04:00] Shade5 commented on #3374
No one working on this?

[2017-01-07 06:08] meetmangukiya commented on #3221
@jayvdb tbh very little, you may if you want.

[2017-01-07 06:09] Shade5 opened #3492 "CachingUtilities: Not completely covered by py.test -k Caching"
[code]
Tests should be completely self-covering.

[2017-01-07 06:15] Shade5 commented on #3488
Can someone redirect me to an example of the ugly enumerations?

[2017-01-07 06:49] Naereen commented on #3488
https://github.com/coala/bear-docs/blob/master/docs/Jinja2Bear.rst

[2017-01-07 07:12] jayvdb commented on #3374
See above; this is a Google Code-In task, not available for anyone over 17 years old :P

[2017-01-07 07:15] Shade5 commented on #3374
Right, didn't notice that :)

[2017-01-07 07:19] Shade5 commented on #3488
This you mean `so:: {% for x in y %}`  ?

[2017-01-07 09:20] Naereen commented on #3488
The main issue is the bullet point list not well spacen.
rST requires a new line before `* ` indicate a bullet.

* like
* this

The markup is well written in the original source, but the documentation comment parser messes it up somehow.

[2017-01-07 09:42] divyanshu-rawat commented on #3445
Is the issue still open I want to take it .

[2017-01-07 10:00] Shade5 commented on #3488
Got it, * should indicate a bullet. Where can I find the documentation comment parser code?

[2017-01-07 10:01] harshit890 commented on #3445
divyanshu work is in progress ...choose another newcomer issue https://coala.io/new

[2017-01-07 10:07] Shade5 commented on #3488
Why isn't
`detected and fixes suggested. * Control spacing: Like variable`
written as
`detected and fixes suggested. `
`* Control spacing: Like variable`
Wouldn't that solve the problem?

[2017-01-07 11:14] Abhi2424shek commented on #3411
@sils and @Mixih inputs would be awesome

[2017-01-07 13:08] sils commented on #3411
@Makman2 you want cobot to perform merges and remove rultor? Possible. Otherwise I'm not sure whatyou're pointing to.

[2017-01-07 13:13] sils commented on #3488
Idea: Maybe we should just not parse the comment at all, only get the param descriptions so we can extract them, leave the rest as is. CC @Makman2 @adtac

[2017-01-07 13:13] sils commented on #3488
@Shade5 well that's the point of this issue

[2017-01-07 14:22] Naereen commented on #3488
@sils I think this would be way simpler indeed. Some easy parsing still has to be done, mainly to remove the leading spaces in the docstirng text.

rST cares about spaces as they indent the paragraphs, but Python doc style kinda suggests to have leading spaces even in the docstring, to match current indentation.

For instance:
[code]

should convert to
[code]

[2017-01-07 15:42] divyanshu-rawat commented on #3481
Hello I am new Can I work on this issue ?

[2017-01-07 16:13] sils commented on #3488
oh yes that'll be totally easy with pythons cleandoc function :+1:

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 7 January 2017 at 15:22, Lilian Besson <notifications@github.com> wrote:

[2017-01-07 16:26] satwikkansal commented on #3481
@divyanshu-rawat This issue has already been fixed in the PR #3477  Please try other newcomer labeled issues :)

[2017-01-07 16:28] divyanshu-rawat commented on #3481
Oh okay thanks !

[2017-01-07 16:47] adtac commented on #3488
I'm still for parsing - not having parsing means unusually narrow sentences that don't adjust with display sizes for example (just off the top of my head; there're probably bigger issues). Maybe we could have stricter formatting in docs? Or better parsing?

I think we're tackling the problem wrongly by reducing the functionality.

[2017-01-07 17:50] sravi4701 commented on #3478
Hello,
I am newcomers. Can I work on this issue?

[2017-01-07 17:54] jayvdb commented on #3459
There is a reasonable discussion to be had about whether rultor should be uploading these test tarballs/wheels, or Travis should do it.

Pros of rultor:

* "release" is a rich conceptual feature of `.rultor.yml` (the precise definition of it isnt immediately obvious, but I assume any tag is a release.) and should work on any support repository host.  Reality is that rultor does not work with GitLa

[2017-01-07 18:04] sils commented on #3488
If we actually go for parsing that means we need full rst support eventually and that's way over the top. Also why do we parse rst just to convert it back to rst again? The only part where what you mentioned matters is in the CLI: and I thinkk the parsing has done more harm than good in the past, we have had previous issues, we still have issues and it's complicated code to maintain.

[2017-01-07 18:22] nemaniarjun commented on #3037
Creating a new file in `output` : `logging.py`, will move `configure_logging()` here and all the other functions I need.

[2017-01-07 19:05] Makman2 commented on #3411
no I mean merging yourself on your computer on your shell :)
so you type something like:
[code]

Yes cobot is also an option (also a better one than mine...)

[2017-01-07 19:08] Makman2 commented on #3488
I'm kind of losing the actual problem. Where do we convert from rst to rst again?

[2017-01-07 22:37] jiteshpabla commented on #3385
It opens up fine now
![screenshot from 2017-01-08 04-04-33](https://cloud.githubusercontent.com/assets/12662272/21745734/d84f9406-d557-11e6-9989-d4f37d0410e8.png)
Monitor: 1920x1080p

[2017-01-07 22:47] jiteshpabla opened #3495 "Newcomers guide: should include cobot assign command"
The newcomers guide should include this command (and some context for using it):
cobot assign <issue_link> - Assigns issue <issue_link> to user
so that they know how to assign the unassigned issues to themselves.

[2017-01-07 22:59] jiteshpabla commented on #3038
this issue has not been solved for months. Can I be assigned?

[2017-01-08 03:25] Shade5 commented on #3459
So travis uploads to testpypi even if the pr is not merged but if it passes all its tests. Rultor will upload only during the merge. Am I right?

[2017-01-08 04:37] dracarys09 commented on #3038
@dileepsankhla you still working on this ?

[2017-01-08 11:32] sils commented on #3038
It seems @dileepsankhla is inactive and we left him at least some time to respond, usually people respond faster when they really care about doing an issue so I took the liberty of unassigning him. @jiteshpabla let us know if you need help or want to drop this, it's yours!

Welcome!

[2017-01-08 12:26] marian-ald commented on #3478
I think it's ok. You can make a pull request and a reviewer will ckeck if it's mergeable

[2017-01-08 12:27] marian-ald commented on #3478
So... squashing commits?

[2017-01-08 12:41] sravi4701 commented on #3478
What is squashing commits ?

[2017-01-08 12:51] marian-ald commented on #3478
You have more commits to the same file, so you must have only one. For that you have to use:
git rebase -i HEAD~3

It will open you an editor. You can follow these steps: https://ariejan.net/2011/07/05/git-squash-your-latests-commits-into-one/

In the future, when you make a commit use:
 git commit --amend

In this way you edit your last commit, whithout creating a new one.

[2017-01-08 13:01] marian-ald commented on #3478
Also body commit lines have max 72 characters

[2017-01-08 14:53] sils opened #3499 "List of commits that need backport"
- https://github.com/coala/coala/pull/3496

[2017-01-08 14:54] sils commented on #3499
CC @Mixih @Mariatta and @jayvdb

[2017-01-08 15:04] Mixih commented on #3433
kinda, but it doesn't work for major releases... we need to fix that

[2017-01-08 16:52] Mixih commented on #3411
so three options ATM:
1. Modify our rultor scripts to make it work somehow
2. Make gitmate handle merging (maybe as a plugin?)
3. Cobot
4. Local devs stuff

[2017-01-08 17:09] nemaniarjun commented on #3411
Preference in order:
1. Rultor
2. cobot
3. Gitmate
4.  Local maintainer shell

Rultor because its fast and everyone is used to it.
cobot before gitmate, because gitmate is not trustworthy. (If I am correct its still in beta / breaks sometimes and because we will need to set up a permission system in it as well.)
Last is shell, because what if no maintainer has access to a shell, they can trigger m

[2017-01-08 17:45] meetmangukiya commented on #3123
Am not sure if it is correct, some steps I figured:
1. New arg to diff `create`
2. Check that `rename` and `create` are not used simultaneously.
3. In the `modified` function provide `self._file` as is.
4. Provide `self.create` as the `toFile` argument for unified diff creation.
5. Mutate the `self._changes` relevantly

Anything significant that I would've missed? I'd try to analyse more...

[2017-01-09 07:04] #3481 closed

[2017-01-09 07:16] sils commented on #3459
FWIW it sucks to debug rultor, happy to get rid of it. THe main thing is that you can do things on merge when they're already reviewed but not yet on master so if they succeed (like releasing) everything is well and if they don't succeed they block the merge. Before rultor it could happen that the prerelease process errored out because we broke it, now it's virtually impossible to break master det

[2017-01-09 07:19] sils commented on #3459
I registered our credentials on testpypi so the commit there actually works (however, mind that we have no coala-bears package registered yet)

[2017-01-09 07:38] Shade5 commented on #3459
So travis or rultor to upload to testpypi?

[2017-01-09 07:40] coala-bot opened #3502 "py.test -k coalaTest fails"
Getting

[code]

difficulty low type bug area tests

Opened via [gitter](https://gitter.im/coala/coala/?at=58733e73074f7be763a9a400) by @sils

[2017-01-09 07:41] sils commented on #3502
@Shade5 is also getting this

[2017-01-09 07:48] #3221 closed

[2017-01-09 07:56] Shade5 commented on #3502
Fixed mine with `pip install radon==1.4.0` and `pip install pyflakes~=1.4.0`

[2017-01-09 07:57] sils commented on #3502
sure you're talking about this issue and not another one?

[2017-01-09 07:57] Shade5 commented on #3502
Both give no errors now

[2017-01-09 08:06] sils commented on #3411
Merging shouldn't be done by cobot or locally, ideally we just fix the rultor permission system. I don't see this to come to gitmate soon unless somebody wants to do a contribution - but if that's happening it's probably better to do that in GitMate-2 since the new plugin system is almost ready.

[2017-01-09 08:13] sils commented on #3123
self._file should be empty in the creation, also a creation is oftentimes expressed as a rename of /dev/null to the file, that's how it should look in the diff

[2017-01-09 08:16] sils commented on #3459
ATM rultor

[2017-01-09 08:17] sils commented on #3459
because that's what we use so far and we haven't clearly decided to switch

[2017-01-09 08:39] Shade5 commented on #3459
Please review https://github.com/coala/coala/pull/3491#issuecomment-271231673

[2017-01-09 08:58] Naereen opened #3503 "Provide a collection of fully ready-to-use .coafile, for popular languages?"
Hi,
That's not an issue, it's more like a **feature proposal**.

## Issue
All the [documentation about coala](https://docs.coala.io/) and `.coafile`s is great, but I think it misses a very important aspect: **examples**.
And I am not talking about a 5-lines example of a `.coafile` configured for just one CoalaBear.
I am talking about **full examples for one (or more) language**.
For instance for P

[2017-01-09 09:08] sils commented on #3503
Hey @Naereen thanks! This is certainly something we want. I'm not sure if coala.io/tutorial is the right place. @hemangsk is working on a new website which will include a dropdown where you can choose your language on the home page and then shows an example coafile, I'm not sure if that should be an ideal one or a minimal one because I expect people to use that to experiment.

Maybe we can do both

[2017-01-09 09:08] sils commented on #3503
Marking this as high important because this issue pops up a lot and I feel we're loosing a lot of users because of this.

[2017-01-09 09:09] sils commented on #3503
So maybewe can improve coala-quickstart (CC @adtac , the author) and then generate such a repository as you describe it.

[2017-01-09 09:33] hemangsk commented on #3503
Hey @Naereen thanks for the user's view on usage examples, That is really really helpful.
The new coala site will have examples for all the supported languages (yep, all of 'em). As Lasse said,  we are aiming to make bear search really easy by giving the users features such as a search bar and filters. coala/quickstart and landing page are going to make .coafile creation easy peasy.

Thanks again

[2017-01-09 09:38] Naereen commented on #3503
Great. Thanks for your quick feedback.

I am looking forward to it, and will sure start to use coala on a daily basis as soon as I can find a good ready-to-use `.coafile` example.

[2017-01-09 11:38] sils commented on #2847
@Adrianzatreanu can this be continued in package_management or is it already resolved?

[2017-01-09 11:40] sils commented on #3502
This is probably something with the environment, maybe the test can be improved to be resiliant against that.

[2017-01-09 12:20] sils commented on #3227
@sergiuiso are you still on this?

[2017-01-09 12:21] harshit890 commented on #3227
if he is inactive i would like to work on this..

[2017-01-09 12:33] Shade5 commented on #3502
You mean the tests first check if the required packages are installed and then start the tests?

[2017-01-09 13:04] sils commented on #3227
Assigned @harshit890 since there was no activity from @sergiuiso recently and we're running out of unassigned newcomer issues.

[2017-01-09 13:25] sims1253 opened #3505 "Make project page nice again"
https://github.com/coala/coala/wiki/Project-Ideas needs some nice formatting, maybe an index

[2017-01-09 16:31] arush0311 commented on #3219
Also if pip dependencies are not installed it will give an ImportError without running any of our logic. We can check pip requirements first and optionally import them this can be avoided. Or all the bears will have to first install their pip dependencies first (atleast those which are imported).
@sils @jayvdb Any Ideas?

[2017-01-09 16:35] coala-bot opened #3508 "Developer setup docs don't ask people to install requirements"
`pip3 install -r requirements.txt` should be inserted into the command list before each occurrence of `pip3 install -e .`

area/documentation difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5873bbb5cbcb28177048ce28) by @Mixih

[2017-01-09 17:50] Mixih commented on #3508
Non issue atm I think

[2017-01-09 17:50] #3508 closed

[2017-01-09 18:21] sils commented on #3219
let's not implement special handling for them, special handling is usually bad, just assume it's there

[2017-01-09 18:52] pratyushprakash opened #3510 "OpenEditorAction : Add emacs to known editors"
Add emacs to `KNOWN_EDITORS` in `OpenEditorAction.py`

[2017-01-09 19:37] sils commented on #3502
it's not necessarily a package problem, first find the issue, then think about how to solve it ;)

[2017-01-09 20:00] #3038 closed

[2017-01-10 02:38] Shade5 commented on #3502
Shall I first resolve the package problem and then check if the problem still exists? I'll create a new issue, fix it and come back here to check.

[2017-01-10 03:04] Shade5 opened #3511 "`py.test` fails due to version conflict of packages"
Enhance `py.test` to first install the appropriate packages before starting the tests.
Can prevent confusions.

[2017-01-10 03:13] Mixih commented on #3511
wait what is the problem here? py.test is a command not a script....

[2017-01-10 03:20] Shade5 commented on #3511
Sorry, I meant while running `py.test`, it should first test if the appropriate packages were installed before continuing.
Should add a test to check package versions.

[2017-01-10 06:52] adtac commented on #3503
@Nareen this is indeed a good idea. In fact, I had something similar in my GSoC project proposal (but never got around to doing it heh).

And I think coala-quickstart is the best place for this (if you're thinking of automatic generation). We already have some work done that might help you here (identify languages in any project, so you can just apply the best bits from each language heurestically

[2017-01-10 07:18] Naereen commented on #3503
Thanks @adtac.
First remark: [quickstart](https://github.com/coala/coala-quickstart) is *not* mentioned anywhere on the website, the README or the documentation. So new comers don't even know it exists (I didn't).

[2017-01-10 08:05] sils commented on #3503
I made a PR to the website so it's mentioned where people try out coala: https://github.com/coala/website/pull/73

[2017-01-10 08:24] coala-bot opened #3512 "Add note for people to use coala-quickstart for generating their config file"
Still a huge problem. Related issue: https://github.com/coala/coala/issues/3503

difficulty newcomer type documentation

Opened via [gitter](https://gitter.im/coala/coala/?at=58749a4d64d5fd7e169cd8f3) by @sils

[2017-01-10 08:25] sils commented on #3503
See also #3512

[2017-01-10 08:33] gaocegege opened #3513 "Feature Request: Visual Studio Code Plugin for Coala"
Now coala has an [atom plugin](https://github.com/coala/coala-atom). We need a plugin for VS Code, too.

## Feature

1. Linter for supported languages.
2. Auto fix just like [coala/coala-atom](https://github.com/coala/coala-atom) does.
3. What features do you want? you could list them in the comment.

## Reference

* [coala/coala-atom](https://github.com/coala/coala-atom)
* [VS Code Extensibility

[2017-01-10 08:33] gaocegege commented on #3513
#dibs

[2017-01-10 09:09] sils commented on #1021
"Interactive patches" might actually be really simple, just let the diff have placeholders using pythons str.format method :) Then the bear can use those and declare variables and we don't even need to distinguish between an interactive and a simple patch.

[2017-01-10 09:44] adtac commented on #3503
@Naereen Yes, that's because it's a top-secret, confidential project with restricted access :P Just kidding.

I've mostly not mentioned it anywhere because I still think there's some work left to do with it - but actually, it's quite stable.

[2017-01-10 11:45] Techievena opened #3514 "Definitions for the language CSharp not properly defined"
Fields like  string_delimiters and comment_delimiters are missing  which is causing AnnotationBear to fail `coala/coalib/bearlib/languages/definitions/CSharp.py`

[2017-01-10 11:51] CosminIcatoiu opened #3515 "New Links Page"
Through my experience as a newcomer i faced some problems in finding stuff on the site and I had to ask on gitter things that could easily be found anyway. So what i suggest is to have a stand alone page ( like the Newcomers Guide page for example) for Useful Links. Here it would be very easy for everybody ( especially for newcomers) to find links to tutorials( how to git, how to rebase how to wor

[2017-01-10 13:09] coala-bot opened #3516 "Limit branch builds to master"
see http://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-build-pull-requests-merges-to-master-w-o-redunda

Opened via [gitter](https://gitter.im/coala/coala/?at=5874dd0864d5fd7e169e564a) by @sils

[2017-01-10 13:24] rishikksh20 commented on #3514
Possible solution for this to add following lines to CSharp.py
[code]
If yes then please assign this issue to me.

[2017-01-10 13:28] Flap-Py commented on #3516
so just have to add this to .travis.yml, right?
[code]

[2017-01-10 14:19] jayvdb commented on #3516
After a little discussion on Gitter the decision was to exclude branches using regex, where people prefer to code on branches in the main repo, and dont want duplicate builds.  i.e.

[code]

[2017-01-10 14:23] HitRam commented on #3385
I would like to work on this. Can I be assigned?

[2017-01-10 14:33] Makman2 commented on #1021
@sils where do the placeholders are exactly?

[2017-01-10 14:36] sils commented on #1021
well you'd do a `diff.change_line(6, 'int {new_variable}=0;')` and the diff would accept kwargs so we can instanciate the diff and then apply it

[2017-01-10 15:35] Makman2 commented on #1021
we need to have an option to change the style for such format placeholders^^

anyway, I think not all patches for a certain kind of problem have the same structure. Having some more generic approach may be better^^

[2017-01-10 16:20] Makman2 commented on #3515
maybe we should add those links to the top of [api.coala.io](api.coala.io)

[2017-01-10 16:23] Makman2 commented on #2685
renamed issue so it's easier to find

[2017-01-10 16:24] Makman2 commented on #2685
From @gaocegege

[2017-01-10 16:24] Makman2 commented on #2685
From @gaocegege

[2017-01-10 16:24] #3513 closed

[2017-01-10 16:29] Makman2 commented on #3511
There's no feature for that in `py.test`. It collects and imports all files beforehand, if conflict errors arise already you will see them, regardless whether you have a test for checking package versions. But at least you see that there are conflict errors.

[2017-01-10 17:21] Techievena commented on #3514
Refer this https://msdn.microsoft.com/en-us/library/5fz4y783.aspx

[2017-01-10 18:43] userzimmermann commented on #3323
@Makman2 Any progress? Just got the same problem with `MarkdownBear`. Feeling lost on Windows... ;)

[2017-01-10 18:48] userzimmermann commented on #3323
Found some useful info here:

http://stackoverflow.com/questions/26025878/what-is-being-pickled-when-i-call-multiprocessing-process

[2017-01-10 18:54] userzimmermann commented on #3323
It's all about the pickling when using `multiprocessing`, which doesn't happen on Linux.

Doesn't seem like we can get those `@linter` classes pickled... :(

[2017-01-10 20:36] Mariatta opened #3521 "In Writing Documentation section, add link to reST primer"
One link I found useful when just starting to write documentation is this link:
http://www.sphinx-doc.org/en/latest/rest.html

It provides basics of restructuredText for those new to it.

I think we should add this into our Dev Guide under Writing Documentation, http://api.coala.io/en/latest/Developers/Writing_Documentation.html

[2017-01-10 21:19] #3319 closed

[2017-01-10 21:19] #3280 closed

[2017-01-10 21:19] #3445 closed

[2017-01-10 21:19] #3495 closed

[2017-01-11 03:41] gaocegege commented on #2685
Now we get two approaches.

## Child Process

We could do the same things as [VS Code buit-in PHP extension](https://github.com/Microsoft/vscode/tree/master/extensions/php/src), create a child process to run coala every time we need it.

### Advantages

Easy to implement.

### Disadvantages

It's not a general implementation, just for VS Code.

### ETC

2017.2.11

## Language Server

[Language Ser

[2017-01-11 05:18] adtac opened #3525 "Support firebase static analysis results format"
Either a command line flag or at least a format string.

See https://github.com/fedora-static-analysis/firehose and take a look at the examples/ directory.

We don't currently support things such as SHA-1 hashes, so this issue should take care of all that.

Brough up by [this comment](https://news.ycombinator.com/item?id=13371891).

[2017-01-11 05:37] vijeth-aradhya commented on #3525
`firehouse` seems to be good! Is there anything else we lack, other than `SHA-1 hashing`?
- [x] Warning
- [x] Source-code location: filename, function, line number
- [ ] CWE (?)
- [ ] IDs and URLs (?)
- [ ] Optionally describes code path to get there (potentially interprocedural across source files), potentially with "state" annotations (?)

[2017-01-11 07:04] jayvdb commented on #3385
If we can not change the width of the images hosted by https://asciinema.org , we should put a reduced width image into https://github.com/coala/artwork and use that.

[2017-01-11 07:30] HitRam commented on #3385
Ok, so how do I put that image into https://github.com/coala/artwork?
Do I need to fork that repo as well and add image into that?

[2017-01-11 07:34] jayvdb commented on #3385
Yes

[2017-01-11 08:15] sils commented on #2685
LSP sounds better on long term

[2017-01-11 08:28] #3385 closed

[2017-01-11 08:30] gaocegege commented on #2685
Yeah I think so, but I'm afraid I couldn't finish the work before 2017.03

[2017-01-11 08:42] adtac commented on #3525
I haven't fully looked at it either :P But yeah, it seems like a decent standard that we could support/adopt.

[2017-01-11 10:51] CosminIcatoiu commented on #3407
Do you want this updated in the Newcomers_Guide ? Or where?

[2017-01-11 10:55] adtac commented on #3407
@CosminIcatoiu I think you've already solved one or two newcomer issues. So you could maybe move on to a difficulty/low issue?

And to answer your questions, I think @bharg is working on #3406 (well he's at least assigned to it atm). And yes, the newcomer guide looks like a good place to add this.

[2017-01-11 10:56] adtac commented on #3407
@CosminIcatoiu but the other issue is about adding the warning to the pull request template (the placeholder text you see when you create a new pull request).

[2017-01-11 10:57] CosminIcatoiu commented on #3229
Is this issue still up?

[2017-01-11 11:01] sils commented on #3229
@rahul-kumi please confirm if you still intend to work on this

[2017-01-11 11:15] CosminIcatoiu commented on #3407
OK I wil move to a low issue. Sure :)

[2017-01-11 11:25] CosminIcatoiu commented on #3229
@sils . If he is not working, I can be assigned. I did 2 newcomers issues so i can move to low difficulty or i can do this too and then move to low diff. I go to uni now so please assign me if you consider (and if he is not working ofc).

[2017-01-11 11:27] sils commented on #3229
(start templated message)
Hey,

it seems you're well acquainted with the workflow!

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you can now dive into whatever you want. Let us know if you need help or have an

[2017-01-11 11:48] gaocegege commented on #2685
It seems that the idea is not as difficult as I think, I could finish it before GSoC. 🤔

[2017-01-11 12:33] nemaniarjun opened #3528 "Add `git add --patch` to Git tutorial"

[2017-01-11 12:34] rhemon opened #3529 "files setting can not contain non-unicode files"
[code]
Same result if I use jpg files.

[2017-01-11 12:56] pratyushprakash commented on #3529
We don't have support for image files

[2017-01-11 13:28] Makman2 opened #3530 "Add FileProxy"
See https://github.com/coala/cEPs/blob/master/cEP-0002.md#the-file-proxy

The `FileProxy` shall be responsible for providing files and their contents to the bears and bear-writers. It shall cache contents as efficient as possible, and also provide different interfaces to the file (like utf8-decoded with and without line-endings or a binary version).

[2017-01-11 13:30] Makman2 commented on #3529
We don't have generally support for files that are not utf8-encoded. This is going to come with the `FileProxy` we plan for bears. Currently we use the file-dict, which is loaded before a bear-run, so we can't do anything about it for now.

See https://github.com/coala/coala/issues/3530

[2017-01-11 14:01] coala-bot opened #3531 "we have not defined 'string_delimiter' in CSharp language so we'll get 'KeyError' while running AnnotationBear. Update it."
Opened via [gitter](https://gitter.im/coala/coala/?at=58763a9d6c1635643c152988) by @aptrishu

[2017-01-11 14:12] coala-bot opened #3532 "Add dependency conflict checking step to CI"
Since pip doesn't do this we gotta do it, there are third party packages that can check if there are conflicts and build a full dep tree, let's use them in the build!

Opened via [gitter](https://gitter.im/coala/coala/?at=58763d36cbcb28177056cebf) by @sils

[2017-01-11 14:16] vijeth-aradhya commented on #3532
Something like [this](https://pypi.python.org/pypi/dependency-check/)?

[2017-01-11 14:20] sils commented on #3532
no this is not about vulnerabilities but version conflicts!

[2017-01-11 14:21] #3512 closed

[2017-01-11 15:42] Makman2 commented on #3531
Duplicate of https://github.com/coala/coala/issues/3514

[2017-01-11 15:42] #3531 closed

[2017-01-11 15:50] Shade5 commented on #3511
I was suggesting to add a test to check the version of packages. This will prevent confusions like this https://github.com/coala/coala/issues/3502.
It was failing due to version conflict of a package, but the error was misdirecting.

[2017-01-11 15:58] Naereen commented on #3503
@adtac OK.

[2017-01-11 15:59] Shade5 commented on #3532
Assign me please. I would like to work on this

[2017-01-11 16:11] Makman2 commented on #3511
so an environment check. yes could be useful :+1:

[2017-01-11 16:24] Shade5 commented on #3532
Add to Travis and?

[2017-01-11 16:37] Sanny26 commented on #2297
@sils If this issue isn't still fixed, can I try to fix it?

[2017-01-11 17:47] Makman2 commented on #2297
@OctavianGuzu still working on it?

@Sanny26 assigning you for now, if @OctavianGuzu wants to solve this issue I'm assigning him back :+1:

[2017-01-11 18:03] Sanny26 commented on #2297
To fix this issue, one needs to add a test with ([xy]) as a pattern,  'x' or 'y' as matches and [xy] as a non-match.
@Makman2  Could you tell if I'm heading in the right direction so that I can start working on it?

[2017-01-11 18:08] aptrishu commented on #3515
though we have git basics page for anything else in that matter you have to google and that is totally fine.
working with rst docs -> I think they should google.. you get to learn things this way plus its not that big thing or hard to find. and apart from that opinions on these things don't differ so IMO we don't need a separate page for this.
links to issues -> Yes we should include links like ht

[2017-01-11 18:10] Mariatta commented on #3515
Isn't "Get Help With Git" is already part of newcomer's guide?

How to work with rst is in this issue: https://github.com/coala/coala/issues/3521 :)

But I think these are good suggestions. If you as newcomer have difficulties with these, chances are others will face them too.

So I think it's good if there is a "Useful Links" section there.

[2017-01-11 18:13] CosminIcatoiu commented on #3515
That were just examples. Not specifically that links. If anybody has other ideas, should feel free to say them. I dont know. Maybe it was just my experience. I just felt i had some issues with orientation throughout the site and felt that something like this would`ve helped. I finally found them by asking " is there a site to ... " but felt it would`ve been easier this way :)

[2017-01-11 18:16] Makman2 commented on #2297
sounds good :+1:

[2017-01-11 18:17] CosminIcatoiu commented on #3515
And also don`t say  that most of the links cant be already found somewhere in the site( most of them can ) but sometimes hard to remember which is where . This is why i tought it was useful :)

[2017-01-11 18:18] CosminIcatoiu commented on #3521
Btw isn`t it a newcomer problem more than a low one ? :) ( Just asking )

[2017-01-11 18:18] aptrishu commented on #3515
Yeah as I said we can put useful links in the newcomer guide.

[2017-01-11 18:19] CosminIcatoiu commented on #3515
Or like this at the end of the Newcomer guide to add a section with this ? maybe it would be better

[2017-01-11 18:21] aptrishu commented on #3515
yeah, ofcourse put that under a section.

[2017-01-11 18:22] Makman2 commented on #3532
Also to circle. And if possible to appveyor, but not required^^

[2017-01-11 18:23] Mariatta commented on #3521
If you are interested, I'll remove the newcomer label and assign it to you. :)

[2017-01-11 18:25] CosminIcatoiu commented on #3521
I can do it. But not necessary because it is for newcomer or low. I was told to move low ones but don`t really do issues just because they are labeled somehow but because i can help. However you believe. If you consider it fits better a newcomer would be better to let it to one because there are not many newcomer issues opened now :) .

[2017-01-11 18:26] Mariatta commented on #3515
Yes. So:

1. Add a new Useful Links section under "For Developers" Section of the docs
2. Link to Useful Links from "Developers/Newcomers_Guide.html

[2017-01-11 18:29] Mariatta commented on #3521
I will mark this low, because it's not a straightforward task of copy pasting the link to the docs, and be done with it, but will require a little knowledge of restructured Text already, and some writing.

[2017-01-11 18:30] CosminIcatoiu commented on #3521
Ok :) :+1:

[2017-01-11 18:31] Mariatta commented on #3521
Thanks for taking this on! :)

[2017-01-11 18:31] CosminIcatoiu commented on #3515
So ? Separate section ( document in Developers ) or separate step of Newcomers cause i think @aptrishu  suggested it to be part of an existing document .

[2017-01-11 18:31] CosminIcatoiu commented on #3521
I will do it later tonight . I can`t really do it right now . Sry

[2017-01-11 18:32] Mariatta commented on #3521
no prob

[2017-01-11 18:35] Mariatta commented on #3515
It should be a separate section outisde of Newcomers_Guide.html, so not to clutter it.
eg
/Developers/Useful_Links.rst

Then from Newcomers_guide.rst you'll mention something about "check the useful links section"

I already envision that the Useful links section will grow over time, so best to have it's own page..

[2017-01-11 18:37] Mariatta commented on #3515
@CosminIcatoiu do you want to be assigned? :)

[2017-01-11 18:37] aptrishu commented on #3515
aah it's difficulty newcomer or low I think..

[2017-01-11 18:39] CosminIcatoiu commented on #3515
Also , what links do you think of? I tought of tutorials ( git, rebase, coala, python, rst) , of issues( by difficulty + coala git page ) , of chat . Anything else? I also believe it is low .

[2017-01-11 18:39] Mariatta commented on #3515
I think it's a little more complicated for newcomers. This will involve creating a new rst page and linking.

[2017-01-11 18:40] Mariatta commented on #3515
Start with what you find useful from your own experience.
We can review it, and new links can be added at later time :)

[2017-01-11 18:43] CosminIcatoiu commented on #3515
Ok . I will start writing it. :+1:

[2017-01-11 18:46] harshit890 commented on #3227
just wondering weather i have to change the file name(https://github.com/coala/coala/blob/master/docs/Developers/Writing_Bears.rst) or any thing else also need to b changed???

[2017-01-11 18:53] Mariatta commented on #3227
1. change the filename from Writing_Bears.rst to Writing_Native_Bears.rst
2. change the docs title
3. Figure out if other docs are linking to Writing_Bears, if so, update the link

[2017-01-11 19:18] CatalinFetoiu commented on #3229
You can assign me this issue if it's still available :)

[2017-01-11 20:13] nemaniarjun commented on #3229
We already have that info in the newcomers guide...

[2017-01-11 21:11] dhishan commented on #2107
Unable to test the implementation due to Issue: https://github.com/coala/coala/issues/3511

[2017-01-11 21:15] Makman2 commented on #2107
@dhishan Just install requirements correctly. Problem is just when not installed correctly, you get some weird test behaviour in other tests^^ This doesn't affect you :+1:

[2017-01-11 21:17] Mariatta commented on #3528
Is this part of our workflow?

[2017-01-11 21:56] nemaniarjun commented on #3528
Nope Its an additional command that can be used.

[2017-01-12 00:54] Mixih commented on #2663
@yash-nisar Yeah, your original approach is the better way. I forgot magic attributes were class specific. Sorry.

[2017-01-12 01:47] Mariatta commented on #3528
IMO the got tutorial section should only cover things related to our workflow and how to contribute to coala.
Thanks for the suggestion, but I don't think we should do this.

[2017-01-12 01:47] #3528 closed

[2017-01-12 01:49] Mariatta commented on #3530
Is this issue to track the implementation of it? Perhaps label accordingly. (Size? Difficulty?)
Thanks.

[2017-01-12 03:34] jayvdb commented on #3529
The PEP for FileProxy has the same problem. My PR of that PEP went some way towards removing that limitation.
However all that is orthogonal to this problem.  This is a global external linter bear with no dependencies. There is no reason for coala to be opening these files. Any opening and reading of these files by coala is performance problem, as the external linter will be doing the same.

[2017-01-12 05:21] jayvdb commented on #3532
Isnt this a dup of https://github.com/coala/coala-bears/issues/1113 ?

[2017-01-12 06:52] sils commented on #2912
@sriranganathan any news?

[2017-01-12 06:53] sils opened #3535 "Performance: don't load all bears"
https://github.com/coala/coala/pull/2461/files#diff-e690c48863208d16808485e103164cd5R288 was an idea although it doesn't work. We don't need to load in all bears just to get the filename and we shouldn't do that.

[2017-01-12 06:58] sils commented on #3532
yeah kind of a dupe of that one, but for this repo. Ok let's close this to have only one discussion over there.

[2017-01-12 06:58] #3532 closed

[2017-01-12 06:59] sils commented on #3532
@Shade5 you can `cobot assign https://github.com/coala/coala-bears/issues/1113` ifyou want :)

[2017-01-12 09:05] sriranganathan commented on #2912
@sils Sorry for the delay. Got caught up with some work. Will analyze and submit a patch over this weekend

[2017-01-12 09:05] sils commented on #2912
no problem, thanks!

[2017-01-12 09:55] CosminIcatoiu commented on #3521
@Mariatta think i did it. Have a look when you have time :)

[2017-01-12 11:00] pratyushprakash opened #3537 "deprecate_settings: Allow multiple deprecations"
`deprecate_settings` currently allows only one deprecation per setting.

[2017-01-12 11:57] arush0311 commented on #3367
Can I take this?

[2017-01-12 13:33] arush0311 commented on #3369
perhaps ** matches `.` at times? I know its stupid, just wanted to keep it out there.

[2017-01-12 13:37] CatalinFetoiu commented on #3263
I can work on it if it's still available :)

[2017-01-12 14:45] Makman2 commented on #3367
@arush0311 how do you want to call the field? :)

[2017-01-12 14:49] Makman2 commented on #3263
@CatalinFetoiu assigning your for now, if @seVen102 responds here again we assign back :+1:

@seVen102 do you still want to do this issue? :)

[2017-01-12 14:51] arush0311 commented on #3367
There is already a Version in coalib directory, we can add a `__commit__` file when setup.py runs?

[2017-01-12 14:53] arush0311 commented on #3367
@Makman2 but it should only be applicable for install right? ( not develop and not for pip installs ), perhaps will have to read more about setup.py

[2017-01-12 14:57] Makman2 commented on #3529
The PEP is a bit outdated^^

`FileProxy` could easily handle such cases, imo it will fix this kind of problem. Also to not open files if they error out, and placing `{'non-utf8-file': []}` into the file-dict is totally careless, this leads to inconsistent analysis behaviour.

[2017-01-12 15:25] jayvdb commented on #3529
What about ` {'non-utf8-file': None}` to register there is a file, but it isnt a line based file that the rest of coala knows what to do with?

I was actually thinking of some extra flag on a global bear which informed coala to not process `files` at all, but instead pass it through to the global bear to be interpreted differently (and then we'd use code review to ensure those bears do something s

[2017-01-12 17:00] CatalinFetoiu commented on #3263
I saw that the required link already exists.. Should I change anything about it?

[2017-01-12 18:15] harshit890 commented on #3227
by changing the doc title do u mean to change the heading of tht file from "Guide to Writing a Bear" to "Guide to Writing a Native Bear"

[2017-01-12 20:11] Mariatta commented on #3227
yes

[2017-01-12 22:09] Makman2 commented on #3263
yes indeed, thanks @CatalinFetoiu :) feel free to pick another newcomer issue :+1:

[2017-01-12 22:09] #3263 closed

[2017-01-12 22:31] Makman2 commented on #3529
that sounds complicated. Though `{'non-utf8-file': None}` could be used, we need to make users aware of this + they need to make always a fallback then -> `if file is not None: blub`. Having some kind of flag to automatically filter non-utf8 files is bad as it offloads more work for the core to manage files and makes it inconsistent.

tell me more :D

But about the `FileProxy`: In the first implem

[2017-01-12 22:37] Makman2 commented on #3367
also for develop and especially for pip installs we should have a `__commit__` :)
you should look at how we set `__version__` :+1:

do you want to support also dirty git branches? I think it's good to have, if someone submits a bug report and you see something like `8afbc21*` then you know that he has untracked modifications made to the repo^^

[2017-01-12 22:42] Makman2 commented on #1840
Invalid now, whitespace highlighting is performed using a filter in pygments :+1:

[2017-01-12 22:42] #1840 closed

[2017-01-12 23:11] #3521 closed

[2017-01-13 05:32] coala-bot opened #3542 "bear-docs master is actually pre"
The master README.rst on https://github.com/coala/bear-docs says

"
Note: The master branch contains docs for the latest stable version. If you want to view the docs for the latest development version, see the pre branch.
"

But the docs on pre are old and master is current.

Opened via [gitter](https://gitter.im/coala/coala/?at=5878666e873d96e16d60a9a8) by @jayvdb

[2017-01-13 07:45] HitRam opened #3544 "Poor highlighting in case of Mac OSx users."
I used some SpaceConsistencyBear and InvalidLinkBear. In case of MAC OSx, it highlights the inconsistencies with green colour just like a marker does, but it rather makes it difficult to read the inconsistencies.

Here is the link to the screenshot.
http://i.imgur.com/3RP7cRW.png

[2017-01-13 09:10] jayvdb commented on #3459
As an aside, using Travis to do the dev pypi releases will mean it is relatively easy to do proper testing of patches which affect pypi.  e.g. https://github.com/coala/coala/pull/3519
Travis deploys allow a developer to work entirely on a fork , verifying their changes.

i.e. pick a random package name to be the package name, which could be set via a Travis environment variable on their fork, to d

[2017-01-13 09:39] jayvdb opened #3545 "Replace pkg_resources with implicit namespace packages"
pkg_resources breaks in an unrecoverable/unmanagable way when there is a `VersionConflict`.

If we empty out the root namespace of `bears` (blocked by https://github.com/coala/coala-bears/issues/1199), we can use implicit namespace packages ([PEP 420](https://www.python.org/dev/peps/pep-0420/)), which allows us to iterate over the subpackages of the namespace `bears`, and also allows the namespace

[2017-01-13 10:24] jayvdb commented on #3402
Note that the openSUSE docker is using libclang 3.8 , and tests are passing with the libclang-py3 3.4 , so maybe the problem is only libclang 3.6 , and we may find libclang 3.8 works on OSX also.

[2017-01-13 12:33] arush0311 commented on #3367
So the __commit__ will change as soon as there are changes in the repo (in case of develop), perhaps git hooks can help (but they will not be persistent).
And how do we set version, I see there is a version file but who updates that?

[2017-01-13 12:49] jayvdb commented on #3529
This isnt the place to debate the cEP, and especially debate how wonderfully it could do things that are not specified in it.

This is about external linters which are going to load the contents, maybe in a Java or Ruby runtime, and that file could be terabytes. Why do you want the coala python runtime to load a second copy of the file.

This issue is about letting a bear explicitly tell coala to

[2017-01-13 15:10] sils commented on #3459
that means that our credentials would have to be available on fork builds!?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 January 2017 at 10:10, John Vandenberg <notifications@github.com>
wrote:

[2017-01-13 17:48] sils opened #3550 "test issue"
difficulty newcomer

[2017-01-13 17:48] #3486 closed

[2017-01-13 17:48] sils commented on #3550
test

[2017-01-13 17:49] #3550 closed

[2017-01-13 20:17] hemangsk commented on #3544
I am able to reproduce this one on Sierra Terminal

<p align="center">With Basic theme</p>
<img src="https://cloud.githubusercontent.com/assets/13018570/21943315/c144c044-d9f6-11e6-8700-964b7ff6828e.png"/>

<p align="center">Basic theme inverted colors</p>
<img src="https://cloud.githubusercontent.com/assets/13018570/21943317/c2b38988-d9f6-11e6-89b2-5a748c3f09db.png"/>

Since there are almost 10 t

[2017-01-13 20:40] aptrishu commented on #1381
@sils  Can we bring it up ?
How do we decide what bears to show, because the factor is going to be different for different bear types if implicit decision is made.

[2017-01-13 23:34] Makman2 commented on #1841
Should be fairly easy to adapt a pygments filter to allow to print those^^

[2017-01-13 23:53] Makman2 commented on #3529
Thing is I don't want to invest time into some "workaround" while FileProxy can easily handle this.

Don't agree with this, some flag to tell the core to do something means we need to hack around it again. I want to keep the core as simple as possible (the current implementation is already damn unreadable/not-understandable). Also this is quite an API feature we should not implement carelessly bec

[2017-01-13 23:57] Makman2 commented on #3367
no git hooks :) the `__commit__` variable will be generated by `setup.py install` or similar targets. If it detects during installation that it's inside a git repo (or we just require it), it will create a `__commit__` field with the commit sha and checks whether it's a dirty branch or not and modifies/generates `__commit__` accordingly.

[adjust_version_number.py](https://github.com/coala/coala/b

[2017-01-14 00:21] Makman2 commented on #3544
though this weird highlighting of yours looks like a bug^^ you should open another issue for the strange two-lines-spanning highlight^^

[2017-01-14 03:58] Mariatta opened #3551 "Link to Code of Conduct from Newcomers Guide"
We need to link to the Code of Conduct from the Newcomer's Guide.

[2017-01-14 04:01] Shade5 commented on #3459
sils is right! Anyone can expose the credentials by triggering Travis.

[2017-01-14 04:38] jayvdb commented on #3459
They are stored securely in the Travis environment variables, or stored in the `.travis.yml` securely, and are *not* shared with forks.
Also, these are the credentials for testpypi, not the real pypi.

[2017-01-14 05:38] Shade5 commented on #3511
Are all the required packages mentioned in requirements.txt?

[2017-01-14 05:44] Shade5 commented on #3459
Can we test this? sils can make a secrets file with fake credentials and I'll try to expose it! 😄

[2017-01-14 07:26] arush0311 commented on #3367
but what if the repo is changed after the installation? in case of develop it will report the wrong `__commit__`

[2017-01-14 09:53] jayvdb commented on #3459
You dont need sils to begin with.  You can test on your own fork, or your own test repo.

[2017-01-14 10:17] Shade5 commented on #3459
Cool, I'll try that

[2017-01-14 11:04] #3510 closed

[2017-01-14 15:00] coala-bot opened #3553 "Appveyor build doesnt use clang"
This is one of the skipped tests.  It would be good to reach 100% coverage on Windows.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587a3d1911e7a7f61d96a910) by @jayvdb

[2017-01-14 15:07] coala-bot opened #3554 "Globbing.translate test coverage on Windows"
The unix specific line is currently being shown as not covered by the tests when run on Windows.
The Windows specific line is currently being marked as `# pragma: nocover (Windows)`.
These should be the other way around, so the Windows specific line should be covered, and on Windows the unix specific code shouldnt need to be tested.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587a

[2017-01-14 15:10] jayvdb commented on #3554
This appears to also be a problem with `coalib.processes.Processing.create_process_group`.

[2017-01-14 15:11] jayvdb commented on #3554
Once fixed, and once #3553 is fixed, we should be able to enable 100% test coverage on Windows.

[2017-01-14 15:19] jayvdb commented on #3553
Some context at https://github.com/coala/coala-bears/issues/305 ; it may not work.

[2017-01-14 16:30] coala-bot opened #3556 "turn off E303 on pycodestylebear"
it's already covered by pep8bear

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587a520f6c1635643c2af72f) by @sils

[2017-01-14 17:41] Makman2 commented on #3367
oh yeah `develop`... maybe we put `__commit__ = 'develop'`?

[2017-01-14 17:42] Makman2 commented on #3511
should be, that's what `requirements.txt` is for ;)

[2017-01-14 17:48] yash-nisar commented on #2663
Is this how we want the path to look @AbdealiJK @sils ?
![screenshot 2017-01-11 21 46 42](https://cloud.githubusercontent.com/assets/14862976/21956859/a194b948-daaf-11e6-89dd-968eff7174d9.png)

[2017-01-14 17:49] meetmangukiya opened #3557 "Include module names in the log"
Currently logging is done **directly** like:
[code]
leading to logs looking like :
[code]
Instead, logs looking like this:
[code]
should be adapted :thinking:

area/logging status/needs design

[2017-01-14 17:51] dracarys09 commented on #3250
@rahul-kumi are you still working on this ?

[2017-01-14 17:54] harshit890 commented on #3250
@mixih if he is not working on it plzz assign this to me

[2017-01-14 17:59] Makman2 commented on #2663
@yash-nisar sorry for missing your comment...

1. you should indent the text to the other information :)
2. I think you should extend a little bit like this:
[code]
or similar :)

[2017-01-14 18:02] yash-nisar commented on #2663
Yes, some detailing is remaining. Just wanted to confirm if the path looks similar to what I received as the output. :laughing: Thank you for the feedback @Makman2 . I'm on it.

[2017-01-14 18:03] Makman2 commented on #2663
yes looks good :)

[2017-01-14 18:05] Makman2 commented on #3553
We disabled it on purpose because the clang bindings have problems with the x64 version of clang. We can retry to enable it, though I don't think it's going to work unless the clang bindings were fixed^^

[2017-01-14 18:07] Makman2 commented on #3557
like it :+1:
is there a flag in `logging` to enable this behaviour?

[2017-01-14 18:08] Makman2 commented on #3250
@rahul-kumi if you still want to work on the issue, just ping :)
For now assigning @harshit890

[2017-01-14 18:16] Makman2 opened #3558 "provide a default value when a settings-question is left empty"
From @abit2:

[2017-01-14 18:16] Makman2 commented on #3558
From @jayvdb:

[2017-01-14 18:16] Makman2 commented on #3558
From @CosminIcatoiu:

[2017-01-14 18:17] yash-nisar commented on #2663
Any further changes required @Makman2 ? Should I initiate a PR ?
![screenshot 2017-01-11 21 46 42](https://cloud.githubusercontent.com/assets/14862976/21957003/bfdac740-dab3-11e6-8fd9-817afa42cb42.png)

[2017-01-14 18:22] aptrishu commented on #2663
Looks good. make the PR @yash-nisar . We'll discuss there if anything further is needed.

[2017-01-14 18:34] ashwini0529 commented on #3544
We can show up a notification that please use `--no-color` in case of Mac OS.

[2017-01-14 18:45] meetmangukiya commented on #3557
It is fairly easy to do(I may need to dive deep), but little search gave me:
[code]
outputs:
[code]
which makes me wonder why aren't we using it this way already :sweat_smile:

[2017-01-14 19:30] Makman2 commented on #3544
we should just use better colors by default I think, unless someone changes the default colors for terminal. Then he/she is responsible herself^^

[2017-01-14 19:31] ashwini0529 commented on #3544
Should I give it a try then?

[2017-01-14 19:31] Makman2 commented on #3557
ahhh we need to get a logger instance manually in every file... that's bad... is there some automatic way?

[2017-01-14 19:33] Makman2 commented on #3544
sure :D

[2017-01-14 19:43] CosminIcatoiu commented on #3558
is this the same issue? or what should i exactly do ?

[2017-01-14 19:59] aptrishu commented on #3535
@sils right now we load every package with entrypoint 'something' .
with that PR we are loading all modules with name 'bears' and then search which of them have entrypoint 'something'.
I fail to see the performance improvement.

[2017-01-14 20:01] aptrishu commented on #3535
@adtac ^^

[2017-01-14 20:18] Makman2 commented on #3558
yes it's the same issue :+1:

[2017-01-14 20:19] #3227 closed

[2017-01-14 20:22] meetmangukiya commented on #3557
Why is that bad?

[2017-01-14 20:27] Makman2 commented on #3557
then we need to write those two lines everywhere + our API encourages already to use `logging` directly.

[2017-01-14 20:53] meetmangukiya commented on #3557
So, have we reached the conclusion of wontfix ?

[2017-01-14 21:09] CosminIcatoiu commented on #3558
did you check the solution i proposed? does it seem alright? how should i do with the string message. define another one?

[2017-01-14 21:20] Makman2 commented on #3558
don't understand it quite:

[2017-01-14 21:20] Makman2 commented on #3557
no we need a better approach :)

[2017-01-14 23:16] CosminIcatoiu commented on #3558
There is a variable which has that answer pattern Please enter a value for the setting {} etc. so, if we want to change that for this specific example i think another variable is needed with that answer pattern.

[2017-01-14 23:48] Makman2 commented on #3558
Still not getting it completely, but submit a PR and we will see how it looks :)

[2017-01-15 00:09] CosminIcatoiu commented on #3558
Yep. I will do that :+1:

[2017-01-15 01:43] marian-ald commented on #2910
@adtac If you mean [this](https://github.com/coala/coala-bears/pull/484/commits/1e2b94dc16790659795fb0fe898206f7d1685497#diff-300a382ece6b22239f13b2f305ea83a6R55) I don't see anything

[2017-01-15 06:11] Shade5 commented on #3511
Which test file should I add the test to?
This is what I have in mind
[code]

[2017-01-15 06:12] Shade5 commented on #3511
But `coala_utils.__version__` does not exist

[2017-01-15 07:10] aptrishu commented on #3159
@jayvdb Do we even have any such attributes defined in our language definitions which differ over different versions ?

[2017-01-15 07:23] vijeth-aradhya commented on #3087
@Makman2  We could change the default value of `sys.exit()` to give a non-zero exit code ( whenever the `logging.error` method is called )
@adtac What do you mean by decorator around `err` method to keep track of number of calls? ( I'm sorry I didn't understand properly )

[2017-01-15 09:13] adtac commented on #3535
I don't quite remember.

And I think `cib` is the best way to solve this. When bears are installed through `cib`, each bear is its own package. That way we can load *just* the bears we need. Thoughts?

[2017-01-15 09:17] adtac commented on #2910
@marian-ald no, look at line 46 (in CasingBear) - the `try`-`except` block.

But it looks like AnnotationBear [catches the exception](https://github.com/coala/coala-bears/commit/4fd5b0d584b1b9ab5b560fd83109dd6af4832445). Maybe this issue is no longer valid?

[2017-01-15 09:20] adtac commented on #3087
@vijeth-aradhya take a look at [this](http://stackoverflow.com/questions/21716940/is-there-a-way-to-track-the-number-of-times-a-function-is-called). Basically, a `counted` wrapper that keeps track of how many times a function is called. So we wrap `LogPrinter.err` with this decorator. The same `LogPrinter` object is passed around everywhere; so we can just take a look at the object's count variabl

[2017-01-15 10:05] HitRam commented on #3544
@hemangsk  Yeah, I think using better colours by default is a good idea.

[2017-01-15 10:40] yash-nisar commented on #3277
Closing since https://github.com/coala/coala/issues/3280 has the commit merged.

[2017-01-15 10:40] #3277 closed

[2017-01-15 10:50] sils commented on #3535
the point is to not load them at all but just look at the names at that point in the code, load only the ones you need

[2017-01-15 11:15] marian-ald commented on #2910
@adtac I see. It seems you're right. @sils can you confirm this?

[2017-01-15 11:58] yash-nisar opened #3561 "Update Show bears' information"
`--show-description` does not give a large amount of information as specified in the bullets. Also replacing it with `--show-details` and adding a few points that `--show-details` covers would be a good idea.

[2017-01-15 12:09] HitRam commented on #3544
@Makman2 The strange two line spanning thing didn't appear in @hemangsk 's MAC. So should I create another issue?

[2017-01-15 12:25] #2910 closed

[2017-01-15 12:28] hemangsk commented on #3544
I typed the same code in vim and ST2
[code]
vim adds a new line character by default.
When I wrote that in ST2, line spanning bug came,
![screen shot 2017-01-15 at 5 53 28 pm](https://cloud.githubusercontent.com/assets/13018570/21962441/1c5fd170-db4c-11e6-87f2-9fe36cc0eb4b.png)

[2017-01-15 13:01] #3395 closed

[2017-01-15 13:20] #2753 closed

[2017-01-15 14:43] Flap-Py commented on #3556
@sils it means that we have to ignore `E303` in all cases or it means that by default it ignores but user can explicitly ask not to ignore it (ie, add another option to un-ignore `E303`)

[2017-01-15 15:12] #3514 closed

[2017-01-15 16:22] Makman2 commented on #3544
@HitRam yes please

[2017-01-15 16:22] meetmangukiya opened #3564 "derpecate_settings: Allow modifying the new param if both new param and old param are provided"
Current implementation will use new param, if both new and old param is provided. But it may be useful to use the old setting and modify the new setting accordingly and make the new setting more flexible by allowing it to be modified.

Example:

In https://github.com/coala/coala-bears/issues/1244
1. We changed a setting from an `int` to a `dict`.
2. What I'd like to do is:
       1. See if `timeou

[2017-01-15 16:43] HitRam opened #3565 "Two line spanning in case of MAC users."
The highlighted portion spans two lines unevenly. The issue of this poor highlighting is already mentioned here : https://github.com/coala/coala/issues/3544.

<img width="548" alt="screen shot 2017-01-15 at 10 12 28 pm" src="https://cloud.githubusercontent.com/assets/19632768/21964315/c3e2bbba-db6f-11e6-89d6-71102c646937.png">

[2017-01-15 16:43] Makman2 commented on #3511
you should add the stuff to a unittest class. Otherwise py.test will just say that collection of a file filed, I think it's more intuitive to handle when you get a normal test error.

I think it should go into the test root folder into `RequirementsTest.py` 👍 :)

[2017-01-15 16:54] Makman2 commented on #3564
So you want to convert the old setting value to achieve the same behaviour using the new setting?
[code]
Do you mean this?

[2017-01-15 16:56] Makman2 commented on #3564
What you describe is actually a setting for `default_timeout`. Deprecation is in this case not applicable.

[2017-01-15 17:16] incorrectusername commented on #3409
So basically i have to change the function name in both of the file? or anything else is needed?

[2017-01-15 17:27] yash-nisar commented on #3561
Moved to coala/documentation.

[2017-01-15 17:34] coala-bot opened #3566 "Bear.maintainers_emails uses `else cls.MAINTAINERS` instead of `else cls.MAINTAINERS_EMAILS`"
type/bug difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=587bb2ae300f220a66eeb9df) by @sils

[2017-01-15 17:40] pratyushprakash commented on #3564
WI feel this is redundant because deprecation should be avoided in a case where the setting provides functionality. It could just be defaulted. The word deprecated would not apply.

[2017-01-15 17:41] yash-nisar commented on #3258
Are you working on this @Pranav-Jain ?

[2017-01-15 21:07] Makman2 commented on #3409
No the task is to avoid the code duplication.

Actually I don't know whether it makes code better in this case. Normally, less code duplication means better readability and better streamlining and less bugs... @incorrectusername maybe you have an idea? :)

[2017-01-15 21:34] Makman2 commented on #3561
@yash-nisar shall I close the issue?

[2017-01-15 23:12] Makman2 opened #3572 "coafile/commit section: Improve regex"
Currently this case slips through:
`commit-tag : a redundant space before colon`

So we should improve the regex to catch the redundant space before a colon :)

[2017-01-16 01:47] #3250 closed

[2017-01-16 04:24] bharg commented on #3406
In progress. Sorry it took so long to get started.

[2017-01-16 07:51] jayvdb commented on #3219
Isnt `Bear.check_prerequisites` already doing this?
Some bears, and maybe the bear helpers, maybe overriding this, in which case they need to call super().  Problem solved?

[2017-01-16 09:48] maweki commented on #3416
I felt somewhat confident with the interface that I pushed to https://github.com/coala/coalaHs

[2017-01-16 09:55] yash-nisar commented on #3561
I haven't moved it yet. Doing it ATM. :)

[2017-01-16 09:58] #3561 closed

[2017-01-16 10:10] Shade5 commented on #3511
Seems like `colorlog.__version__` and `dependency_management.__version__` don't exist. How do I check the versions then?

[2017-01-16 10:36] arush0311 commented on #3219
I thought the developers should have a another method to play with, so that all requirements can be checked whether they call super() or not. (They dont even know the reason to)

[2017-01-16 11:26] yash-nisar commented on #3542
So, does it imply to just interchange pre and old keywords in the readme ? @jayvdb

[2017-01-16 12:07] Makman2 commented on #3511
You can invoke `pip freeze` or use an according function from the `pip` module.

[2017-01-16 12:08] Makman2 commented on #3561
@yash-nisar could you put the link to the new issue here? :)

[2017-01-16 12:41] incorrectusername commented on #3409
No @Makman2 .
I was thinking to use if..elif but it won't work here.

[2017-01-16 12:44] Makman2 opened #3578 "Newcomers_Guide.rst: Improve "Review Process""
Some things that should be improved there:
- Enclose `"difficulty/low"` in double backticks, not in double quotes
- > We highly encourage you to start reviewing other's "difficulty/low" or newcomer issues after you complete your newcomer issue as reviewing helps, you to learn more about coala and python.

  The comma after "helps" should moved before "as".
- > **Do not only fix a newcomer issue!**

[2017-01-16 12:45] harshit890 commented on #3578
thanx @Makman2

[2017-01-16 12:59] ankit01ojha commented on #3502
@sils could you please tell me how to get started on this bug :)

[2017-01-16 13:09] Makman2 commented on #3502
sometimes coalaTest fails, so: try to reproduce and then solve the bug :+1:

[2017-01-16 13:19] jayvdb commented on #3542
@yash-nisar , I believe the tool generating these docs needs to be re-configured to publish to different branches.

[2017-01-16 15:00] Shade5 commented on #3511
[code]
This prints on the console, how do I turn it into a list?

[2017-01-16 15:39] incorrectusername commented on #3409
@sils do you have any suggestions?

[2017-01-16 16:02] yash-nisar commented on #3561
https://github.com/coala/documentation/issues/397 @Makman2

[2017-01-16 16:56] vijeth-aradhya commented on #3502
All the tests pass on my machine :+1:

[2017-01-16 18:01] #3566 closed

[2017-01-16 18:06] jiteshpabla commented on #1709
I can take this up, if @mgracer48 is busy.

[2017-01-16 19:04] CosminIcatoiu commented on #3558
Sry for not submitting a pull request yet. but i didn`t have network last 2 days and didn`t really have time either. Complicated period at university. In maximum 2 days i will submit the pull if it`s ok :-D

[2017-01-16 19:29] satwikkansal commented on #2927
@sils I think all the aliases mentioned my @Makman2 are implemented in the `Language` class definitions. Should we close the issue?

[2017-01-16 19:36] satwikkansal commented on #2541
@Nosferatul Still on this? I'd be happy to work on this if you're busy :)

[2017-01-16 19:54] Makman2 commented on #2927
seems like, thanks @satwikkansal :)

[2017-01-16 19:54] #2927 closed

[2017-01-16 20:01] Makman2 commented on #3558
no hurry :)

[2017-01-16 20:02] Makman2 commented on #1709
reassigning because of inactivity :+1:

[2017-01-16 20:04] Makman2 commented on #3502
@vijeth-aradhya for me too, but it seems to happen when some dependencies are wrongly installed^^

[2017-01-16 20:08] Makman2 commented on #3511
hm can't find something better... I think you should use `coalib.misc.Shell.execute_shell_command` with `[sys.executable, '-m', 'pip', 'freeze']` :+1:

[2017-01-17 05:26] yash-nisar opened #3582 "Remove redundant comma"
The comma after helps is not required in the following sentence and hence needs to be removed.

Source: https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst

difficulty/newcomer

[2017-01-17 05:31] yash-nisar commented on #3582
Closing, since @Makman2 covered it in https://github.com/coala/coala/issues/3578

[2017-01-17 05:31] #3582 closed

[2017-01-17 08:13] coala-bot opened #3584 "Remove # +ELLIPSIS directives all over the place"
They're active by default *I think*. Just try removing them and if everything still works we're good to go :)

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=587dd245cbcb2817707ca897) by @sils

[2017-01-17 08:15] aptrishu commented on #3584
https://github.com/coala/coala/issues/3065

[2017-01-17 08:24] sils commented on #3584
dupe indeed, thanks @aptrishu

[2017-01-17 08:24] #3584 closed

[2017-01-17 08:25] sils commented on #3065
IMO remove it, it works with our test setup and if someone uses another test setup he can still configure it to be default.

[2017-01-17 08:45] jayvdb commented on #3339
I wonder if we can side step this by moving this part of coala into the core clang bear, so coala itself doesnt depend on a binary library, and the clang bear can manage its dependency using Requirement subclasses.
If we do this, along with making python dependencies optional, neither coala or coala bears will have a mandatory dependency for this non standard library, and users trying to use clang

[2017-01-17 09:37] coala-bot opened #3585 "Change `python3` to `python 3`"
In language option in TODOS header in coafile change language from `python3` to `python 3`

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=587de5d111e7a7f61da7da28) by @Techievena

[2017-01-17 10:35] maweki commented on #3416
Obviously one could now use `stack build` to get a binary and just use the bear-glue-template from http://api.coala.io/en/latest/Developers/External_Bears.html as is. I'd like to propose/reiterate that coala should also call `stack build` so that Haskell bears are considered as source-distributed instead of just some binary. The idea is, that if `stack build` compiles the binary, we can be reasona

[2017-01-17 10:55] #2297 closed

[2017-01-17 11:10] arush0311 commented on #3367
Here are some issues :
1) A python package for checking `git status` will be added if we want to check dirty commits. (current commit can be identified without it.).
2) I couldn't find a way to check for setup.py arguments like "develop", can you help me here? Also discussing with @sils , it wont take care of pip installs. An alternative could be to check for git repo everytime coala runs and upda

[2017-01-17 13:09] ankit01ojha commented on #3502
@Shade5 all the tests passed for me too, but Is there any way to reproduce this and fix it.
Or IMO we can include this on documentation to warn that if you get these errors you might have installed the dependencies wrongly :)

[2017-01-17 13:13] ankit01ojha commented on #3585
@sils can you assign me this bug.

[2017-01-17 13:30] #3572 closed

[2017-01-17 13:32] Makman2 commented on #3367
1. You could use invoke `git status --porcelain` and check whether it's empty (not dirty) or not (dirty), then you don't need another package.
2. Don't know how to catch `develop` either... But for pip installs you would alter the release script to put already a `__commit__` into `coalib` (like it's done for `__version__` currently).

[2017-01-17 13:56] Makman2 opened #3587 "Improve coafile/KeywordBear shortlog regex"
I think the regex should be `[^:]*|[^:]*[^: ]: [A-Z0-9*].*`
The current one would also allow messages like
s:: description
and not allow
t: description (it has to match two letters currently)

Also the redundant braces around the whole expression can be removed^^

[2017-01-17 14:12] #3585 closed

[2017-01-17 14:22] arush0311 commented on #3367
1) @Makman2 I would still need to make sure that git is installed. (just saying there might be a slight chance that may not be the case)
2) what do you think of the alternative approach for develop ^^

[2017-01-17 14:37] Makman2 commented on #3367
don't know one :)

[2017-01-17 14:39] arush0311 commented on #3367
I was talking about this  :D

[2017-01-17 14:45] Makman2 commented on #3367
you want to update `__commit__` when coala is run? Sounds not right :O

[2017-01-17 14:51] arush0311 commented on #3367
yeah! With this we can get the exact commit someone is getting an error at, even in case of develop.
(I am not proposing to replace updating commit during installation but add the above logic)

[2017-01-17 14:52] Makman2 commented on #3367
But if I've installed coala globally and run it on my own repo? This kind of doesn't work, does it?

[2017-01-17 14:54] arush0311 commented on #3367
Well, that's why there is installation logic as well. (Can you explain ^, I may have misunderstood you 😓 )

[2017-01-17 14:58] Makman2 commented on #3367
I mean the `__commit__` should be set by installation only. Because when I have my own project and want to run coala over it, I don't expect it to suddenly set `coalib.__commit__`, that doesn't make sense.

[2017-01-17 15:01] arush0311 commented on #3367
Well, the global installation will not have a .git dir, even if there is then `__commit__` will only be updated to latest commit of coala? what's wrong with that?

[2017-01-17 15:34] nemaniarjun commented on #3557
This is a non issue. We dont print logs as mentioned in the original post.
Our logs are formatted as this:
[code]

[2017-01-17 15:35] nemaniarjun commented on #3557
We can easily add the logger module name, but do we need it?

[2017-01-17 15:41] Shade5 commented on #3502
Try installing an older verion of `colorlogs` the requirement is 2.7. I can't confirm that this will raise an issue but we faced a problem earlier.
I'm creating a test to check the environment for package verions here: https://github.com/coala/coala/pull/3581
I'll be nice if you could figure out anything else that might cause an error :smile:

[2017-01-17 16:11] Makman2 commented on #3557
Oh indeed. Though it doesn't harm to pass the module information to `logging` if possible. But if we don't find something better than `logger = logging.getLogger(__name__)`, I'm also voting for a wontfix^^

[2017-01-17 16:33] meetmangukiya commented on #3557
I'd like to bring into notice that these logs :point_up: are printed by the *hybrid* log_printer of coala...  We do have loggings like `logging.warning`, you can git grep it. And these warnings are actually for the user and not the developer, while I really think that adding the module names to the debug logs will be really useful, I still vote for not a wontfix and further discussion...

[2017-01-17 16:50] Makman2 commented on #3557
We need something better, it's not feasible currently to do everywhere `logger = ...` and use `logger` instead of `logging` directly.

[2017-01-17 17:02] meetmangukiya commented on #3557
Sure, I was just trying to defend my point and this issue from won't fix :)

[2017-01-17 17:04] Makman2 commented on #3557
I see... I wanted to say

:3

[2017-01-17 21:40] Makman2 commented on #3587
oh damn I forgot to put the regex into double quotes to make it better readable...

But actually your commit doesn't fix the issue @affanv14 , you now removed the `[^:]*|` part which allows to match commit messages without tag. \+ The braces are still there^^

[2017-01-17 21:59] Mixih commented on #3557
have we looked into logformat objects?

[2017-01-17 22:01] nemaniarjun commented on #3557
Its very easy to implement this once we use the updated Logging.
We just need to add `pathname` or `module` to the colourlog formatter. ( Tested that right now )
But that would just print out `LogPrinter`, since thats where the messages are originated rn.

[2017-01-17 22:02] nemaniarjun commented on #3557
We can also have different formats for different levels of log. Something that `colorlog` (the third party formatter we use) supports.

[2017-01-18 00:47] Makman2 commented on #3557
I think the problem is to get the actual file/module. As soon as we call `logging.log`, `logging.warning` the module is different. If we set the module in the beginning, then it stays this module. I can only imagine to (mis)use traceback information somehow, and then to modify the function responsible for formatting to use and process this information^^

[2017-01-18 01:19] jayvdb commented on #3587
We should test the modified regex against last 100 entries in git log

[2017-01-18 02:54] nemaniarjun commented on #3557
@Makman2 So this can be blocked depending on the timeline of removing `log_printer` completely.
Its not worth doing this, if we are going to use direct logging anyway.

[2017-01-18 03:37] nemaniarjun commented on #1862
No, Its not. @Makman2 This can be easily implemented. Assign me if still needed.

[2017-01-18 03:47] nemaniarjun commented on #3289
I think this is not an issue anymore?

[2017-01-18 04:08] affanv14 commented on #3587
Damn.I thought that the tag was mandatory.

@Makman2 putting the regex in double quotes would include the double quotes in the regex while parsing the coafile.
Wont the braces around the regex make it more readable instead?

[2017-01-18 04:52] HitRam commented on #3554
@jayvdb Now only tests for Unix or other platforms(except Windows) are covered right? But when using Windows, the tests are not covered because #pragma: no cover is not marked for these platforms. Do we have to use coverage API for specifying this?

[2017-01-18 05:38] jayvdb commented on #3511
Neat idea.
This should be built as a pytest plugin, so other projects can use it and help maintainance, and it doesnt suck up coala reviewers time.

[2017-01-18 06:28] jayvdb commented on #3554
Please read coverage docs, esp regarding for #pragma nocover.

[2017-01-18 07:56] fneu opened #3589 "Documentation is bad"
documentation should be better

[2017-01-18 07:58] #3589 closed

[2017-01-18 10:04] Techievena opened #3591 "Link `bear writing tutorial` in website coala.io is invalid"
As per https://github.com/coala/coala/pull/3549 `writing bears` was renamed `writing native bears` but this one was perhaps missed out. Provide valid URL in the link `bear writing tutorial`.

difficulty newcomer

[2017-01-18 11:02] abhigyank commented on #3591
Hey, I would like to be assigned to this issue.
Cheers!

[2017-01-18 11:03] Techievena commented on #3591
Ask in gitter channel or assign yourself in gitter.

[2017-01-18 12:05] vreethesh commented on #3409
Hey guys, I am taking this bug up. Please give me hints as to how to proceed with it. Because the above discussion has just managed to confuse me more.

[2017-01-18 12:11] abhigyank commented on #3591
To address this issue  do I contribute to https://github.com/coala/website ?

[2017-01-18 12:53] arush0311 commented on #3367
@Makman2 https://github.com/arush0311/coala/commit/ff3cd38269423acb4f63a73be261a45de34b9b1a is the direction i wanted to take. Please take a look ^

[2017-01-18 12:55] SiddharthKumar02 commented on #3591
@abhigyank  No, I think you should be contributing to https://github.com/coala/coala/tree/master/docs/Developers

[2017-01-18 13:25] RohanVB commented on #2535
Still being worked on?
CC @vreethesh

[2017-01-18 13:28] vreethesh commented on #2535
Actually looked into it more than once. Couldn't come to a proper solution
to solve it. With help, I can solve it.

With regards,
Reethesh Venkataraman
Blog <http://vreethesh.blogspot.com> | GitHub <http://github.com/vreethesh>
| LinkedIn <https://in.linkedin.com/in/reethesh-venkataraman-aa8321126>

On 18 January 2017 at 18:55, Rohan <notifications@github.com> wrote:

[2017-01-18 17:59] LeafyLi commented on #2846
Can I work on this?

[2017-01-18 18:07] RohanVB commented on #2846
@LeafyLi the issue is currently labelled status/blocked by @Adrianzatreanu. May have to check with him if it can be worked on.

[2017-01-18 19:24] Sanny26 commented on #1841
@Makman2  Could you please help me understand where I'm going wrong?
When I run py.test after making necessary changes, it fails for the multiple ranges test and I can't really understand why. Is it because of the SourceRange.from_values() ? I attached the image here
![coala](https://cloud.githubusercontent.com/assets/16081303/22079011/4aa4d436-dde0-11e6-8fec-4bdc741d4094.png)
I need help to under

[2017-01-18 19:33] sils commented on #2271
We're planning to deploy a test version of the new website today

[2017-01-18 19:47] Makman2 commented on #3557
@nemaniarjun imo this issue is not dependent on the `log_printer` removal, currently `log_printer` is deprecated and uses `logging` internally^^

[2017-01-18 20:01] Makman2 commented on #3587
the double quotes were just for getting properly rendered here in the issue, so you can read it better ;)

Actually I'm always confused when I see the braces, because they are redundant^^

Indeed. We should create a `coafileTest` inside our test directory for such things regarding our coafile^^.

Updated the top description of the issue to add a test.

[2017-01-18 20:04] nemaniarjun commented on #1862
A bit of design needed, we need to write all the logs in a log file, in the place where coala is run, is that it?

[2017-01-18 20:05] Makman2 commented on #3409
... for the functions `OpenEditorAction.is_applicable` and `IgnoreResultAction.is_applicable`, as they share nearly the same code.

The discussion was about how to achieve that nicely, because just copying the part out of the functions that is the same is in my opinion too disruptive, because it's imo too specific.

[2017-01-18 20:11] nemaniarjun commented on #3557
If this is critical we can implement it using traceback checking rn (diff/medium)
But if we wait till we have completely removed `log_printer` we just need to change the format we are printing the log in. (less than diff/low)

[2017-01-18 20:17] Makman2 commented on #3367
direction looks good :+1:

[2017-01-18 20:19] sils commented on #3591
changed. THis is not a newcomer issue.

[2017-01-18 20:19] #3591 closed

[2017-01-18 20:19] Makman2 commented on #2535
look at the code for our `ArgumentParser`, there should be some statement defining `--find-config`. There you have to turn it on by default 👍 :)

[2017-01-18 20:21] Makman2 commented on #2846
since filing the issue much has changed in our dependency system, not sure this applies any more^^
ping  @Adrianzatreanu :)

[2017-01-18 20:27] Makman2 commented on #1841
Could be. Would be good if you open a PR so me or somebody else can look at your specific code. Especially as this is not directly relevant for issue discussion ;)

[2017-01-18 20:34] Makman2 commented on #3557
It's not critical. But the problem is not to change the format (you could already do that in `configure_logging`), it's that it would display just `root` and not the correct file/module.

[2017-01-18 20:35] Makman2 commented on #1862
Yes would say so :+1: :)

[2017-01-18 21:02] nemaniarjun commented on #3557
No! If we change the format, it can display the module name where the log originated from.
Right now all log messages are originated in `log_printer` so thats what is printed if you add `module` to the format.

[2017-01-18 21:05] Makman2 commented on #3557
Ah really? Then we should wait for the complete removal of `log_printer`.

Blocked by https://github.com/coala/coala/issues/975

[2017-01-18 22:14] Makman2 opened #3592 "Remove unnecessary import"
https://github.com/coala/coala/pull/3494/commits/17248441cefda842eed6db7bacaa84180a28028c#diff-4a49662a37e70525cb34f6b722cff846R13

The import is already made at the top of the module^^

[2017-01-18 22:31] nemaniarjun commented on #1862
Nearly done with this.
Do we want the file to be colored for console viewing or not? ( I think not, just confirming :P )

[2017-01-19 02:52] nemaniarjun commented on #2894
Maybe we can validate this using https://github.com/keleshev/schema

[2017-01-19 04:56] nemaniarjun commented on #975
What's the status here? Which files are up next for removing `log_printer`? I would like to work on this.

[2017-01-19 07:55] sils commented on #975
Uhm last  thing I knew was that @tulphoon was working on this.

[2017-01-19 09:08] Sanny26 commented on #1841
@Makman2  I opened a PR. Could you please help me with this?

[2017-01-19 14:57] Makman2 commented on #1862
No by default no colors.

[2017-01-19 15:03] nemaniarjun commented on #1862
Will send a PR as soon as the current one is merged. https://github.com/coala/coala/pull/3494

[2017-01-19 15:10] Makman2 commented on #1841
Btw by default this shall be disabled. It makes only sense to highlight when having a missing \n at EOF.

[2017-01-19 15:58] Sanny26 commented on #1841
@Makman2  Correct me if I'm wrong, one part of the issue is to highlight the missing \n at EOF by default and another part of it is to give the user a choice to enable printing a special character whenever it encounters a \n .
And sorry for not reading the issue properly.

[2017-01-19 16:08] Makman2 commented on #1841
actually I remember we have an issue open and already worked on to support printing missing \n's in the `Diff`. Actually I'm not sure we still need the feature described in the issue here. @Sanny26 what do yo u think?

[2017-01-19 16:48] Sanny26 commented on #1841
@Makman2 I agree with you, I think it is not necessary. So, I have to provide a feature that prints special character for every \n when it is enabled? Is this feature helpful?
I had another doubt, not sure if its relevant, in what all cases does coala print code snippets to console?

[2017-01-19 17:05] #3578 closed

[2017-01-19 17:05] #3037 closed

[2017-01-19 17:22] Makman2 commented on #1841
affected source code of a result is always printed. And for patches: when they are small enough they get printed automatically, otherwise you have to choose to display the patch manually.

As you agree, I close this issue :+1: :)

[2017-01-19 17:22] #1841 closed

[2017-01-19 18:03] yash-nisar commented on #3127
Can I be unassigned ?

[2017-01-19 18:15] arush0311 commented on #3219
@sils what do you think ^

[2017-01-19 18:30] yash-nisar commented on #2693
Since a majority of the issues have been assigned, can I work on this ? @sils @Makman2

[2017-01-19 19:26] Mixih commented on #3323
I think this is done.... Reopen if it isn't

[2017-01-19 19:26] #3323 closed

[2017-01-19 22:49] jayvdb commented on #3289
ya.

[2017-01-19 22:49] #3289 closed

[2017-01-19 23:13] jayvdb opened #3597 "Use sarge instead of subprocess"
sarge became a dependency in https://gitlab.com/coala/package_manager/merge_requests/8 , and should be used wherever possible in coala to simplify code dealing with subprocesses.

(and deprecate coala's own subprocess wrappers)

[2017-01-19 23:57] Makman2 commented on #3597
module looks nice, exact benefits?

[2017-01-20 01:01] jayvdb commented on #3597
coala will have less code to maintain, and will be benefiting from the dedicated sarge team debugging OS specific sub-process related issues.

[2017-01-20 03:08] #3068 closed

[2017-01-20 11:51] Makman2 commented on #3597
have found this, looks indeed cool:
http://sarge.readthedocs.io/en/latest/overview.html#why-not-just-use-subprocess

[2017-01-20 12:02] nkprince007 commented on #3597
Looks cool, could I be assigned this?

[2017-01-20 12:44] yash-nisar commented on #2693
@sils Can you point me to the steps to reproduce the following warning ?
`Warning: the bear ... failed`

[2017-01-20 12:58] sils commented on #2693
from `git grep failed`: `coalib/bears/Bear.py:            self.warn('Bear {} failed to run. Take a look at debug messages'`

Reproducing it should be trivial by inserting some raise Exception in a bear and running that

[2017-01-20 13:16] vreethesh commented on #2535
@Makman2 Found `--find-config` in `DefaultArgParser.py`.Are there any other similar statements in `DefaultArgParser.py` where the function is turned on by default? I can refer to them and arrive at a proper conclusion.

[2017-01-20 14:12] tulphoon commented on #975
Removing log_printer from ConsoleInteraction.py is crucial for some stuff that Makman has to do and if you want to take it, do it @nemaniarjun. I kinda don't have the time to do it right now ;(

[2017-01-20 14:55] #3024 closed

[2017-01-20 15:44] Adrianzatreanu opened #3600 "Remove call_without_output from Shell.py L7"
This line was used by the requirement classes, it isnt used anymore as they use sarge, so it should be removed.
difficulty/newcomer

[2017-01-20 16:46] Makman2 commented on #2535
`--find-config` is a flag for coala, and you shall `turn it on by default` ;)
And yes seems you've found the right location :+1:

[2017-01-20 16:54] Makman2 commented on #975
no hurry, actually it has turned out to be not so crucial^^

Assigning then ;)

[2017-01-20 18:04] Trailblazerr1 commented on #3600
The change I made in my first commit, resulted in a number of issues, so I closed that [pull](https://github.com/coala/coala/issues/3601) request and am going to work again on it.

[2017-01-20 20:25] sils commented on #3261
as pointed out by @yash10p this has already been solved - thanks!

[2017-01-20 20:25] #3261 closed

[2017-01-20 20:26] Nosferatul commented on #3600
you should solve the issues, if you have any problems drop on gitter and ask!

[2017-01-21 03:08] Mixih commented on #3367
isn't using the name __commit__ a bad idea as it's not a documented magic field?

[2017-01-21 11:32] gaocegege commented on #2685
https://github.com/gaocegege/coala-langserver

The language server have been  partially completed.

## Done

1. push diagnostics to language client.

## TODO

1. update diagnostics when the text changed. ref https://github.com/gaocegege/coala-langserver/issues/1
2. support file events from vs code workspace.

![](https://github.com/gaocegege/coala-langserver/raw/master/docs/images/demo.png)

[2017-01-21 11:33] #3156 closed

[2017-01-21 11:36] sils commented on #2685
Wohoa! This is awesome!

[2017-01-21 12:28] sils commented on #3556
just turn it off for the PyCodestyleBear in our coafile

[2017-01-21 13:10] vreethesh commented on #2535
@Makman2 To get to know how an `argumentparser` works, I went through its python documentation in https://docs.python.org/3/library/argparse.html. I saw that I can add the keyword `default=` in the parser to make the flag return a default value. But the issue is to make the parser itself default. Am I proceeding in the correct way?? How do I proceed further?? :)
Based on the documentation, I arriv

[2017-01-21 13:26] arnab1896 commented on #3600
Hey @sils, could you please assign this issue to me.

[2017-01-21 13:35] Makman2 commented on #2535
No expert with `ArgumentParser` either, just try it out ;)

[2017-01-21 13:39] Makman2 commented on #3367
not sure, isn't `__version__` also undocumented? @Mixih

[2017-01-21 13:46] vreethesh commented on #2535
@Makman2 Yeah sure :D. @adtac Any suggestions??

[2017-01-21 13:50] Makman2 commented on #3558
@CosminIcatoiu still on it? :)

[2017-01-21 13:53] arush0311 commented on #3367
@Makman2 I think it is https://gitter.im/coala/coala?at=5882d429074f7be763f9d36b

[2017-01-21 13:56] meetmangukiya commented on #2535
@vreethesh you can do :
`default=True`, removing `const=True` would break `action` so let those as it is..
But I think if we are going to make this default, then we should have a different switch `--dont-find-config`

I think there should be a better way to achieve the same, these look ugly :(

[2017-01-21 14:15] pratyushprakash opened #3606 "Result.py: Perform message formatting only if message_arguments are passed"

[2017-01-21 14:26] sils commented on #3587
okayyyy seems @affanv14 was a bit overenthusiastic about the exactly one colon thing: commit messages without a colon should be allowed!

[2017-01-21 14:49] #3606 closed

[2017-01-21 15:04] affanv14 commented on #3587
@sils yeah.This one just exploded!

[2017-01-21 22:34] jayvdb opened #3611 "De-activate Travis OSX job for PRs"
The OSX job has been in the matrix long enough, with no issues found (there was one failed build I saw, by rhemon iirc, but it looked unrelated to coala).

After the 0.10 release, it will have been in place for most of a dev & release cycle, and should be deactivated at least for PRs, as it slows down merges, and doesnt add much value.

Maybe it should be re-added at the end of the 0.11 cycle, to

[2017-01-21 23:08] Mixih commented on #3367
Conclusion is that this aspect is fine, however, @jayvdb may have input

[2017-01-21 23:41] jayvdb commented on #3611
Note we have two OSX bugs recently created which were not caught by the OSX job:
1. https://github.com/coala/coala/issues/3544
2. https://github.com/coala/coala/issues/3565

[2017-01-21 23:42] jayvdb commented on #3565
@HitRam , @rhemon , any chance you can diagnose the cause of this?

[2017-01-21 23:45] jayvdb opened #3613 "Create OSX and Windows teams"
It would be helpful to be able to ping all OSX or all Windows devs, for problems like https://github.com/coala/coala/issues/3565 .

Could extend this to also have a Linux team, but that would be most of the core devs, who can generally diagnose problems themselves.

[2017-01-21 23:46] jayvdb commented on #3613
This could be part of the "developer" process, @sims1253 ?

[2017-01-21 23:47] jayvdb commented on #3565
@hitram, what was the contents of `temp.py` ?

[2017-01-22 00:36] jayvdb commented on #3360
Travis and Circle builds show:
[code]
https://travis-ci.org/coala/coala/jobs/194051333
https://circleci.com/gh/coala/coala/10751

[2017-01-22 00:52] jayvdb commented on #3565
(these OSX issues might not be solved before the release, but I think we should try...)

[2017-01-22 01:29] jayvdb commented on #3388
@Siddhartha1234 , are you still working on this?

[2017-01-22 01:32] Siddhartha1234 commented on #3388
@jayvdb I was unavailable for few weeks , ill contribute regularly from today after a few hours .I'll work on this and try to finish it immediately.If that's not okay for you ,you may re assign this to someone else.

[2017-01-22 01:39] jayvdb commented on #3131
This bug is about a sensible default ignore list.
See https://github.com/coala/coala/issues/3131#issuecomment-269079230

If the user customises the `ignore`, they can add minified paths to their custom `ignore`.

Smartly merging user ignore and system ignore is a separate problem.

Can we get a status update about this issue.  It looks like it is a really simple addition which could make it into 0

[2017-01-22 01:40] jayvdb commented on #3388
ok, I am looking forward to your resolution of this issue.  Come onto https://coala.io/chat if you need help.

[2017-01-22 01:44] jayvdb commented on #3436
This depends on https://github.com/coala/coala/pull/3178 ?

[2017-01-22 02:11] Mixih commented on #3611
hmm we can't really catch UI problems in CI though can we?

[2017-01-22 04:00] Mixih commented on #2535
How about we don't make `action` `store-const` and instead just make it `store`. Then the user can jsut ovrride with `--find-config false` and all is good

[2017-01-22 04:12] HitRam commented on #3565
`def something():
    a = 5`

@jayvdb  This was the code.
Yes I'll try to find the cause 😄

[2017-01-22 04:49] jayvdb opened #3615 "Meta-review"
We have http://api.coala.io/en/latest/Developers/Review.html

And we have a 'review' requirement for joining the 'developer' team.

Wherever we put developer statistics, we should also include review actions, as they are the real meat of the core team workload.

However, what we need is a meta-review system, and I believe this is sort of uncharted territory, but I am prepared to be happily surpris

[2017-01-22 05:01] HitRam commented on #3554
@jayvdb I think a possible solution is to run coverage in parallel mode and then combine results from both the platforms.

[2017-01-22 06:50] meetmangukiya commented on #2535
@Mixih sounds good, also add `type=bool` so you don't have to convert it manually.. and drop the `--dont-find-config` completely

[2017-01-22 07:14] gaocegege commented on #2019
After https://github.com/coala/coala/issues/2685 is done, I would take a look, at least I'll do a feasibility study. 🤔

[2017-01-22 09:07] CosminIcatoiu commented on #3558
@Makman2 yep. Sry, really had a busy period. Try to solve it now :)

[2017-01-22 09:44] #3515 closed

[2017-01-22 09:51] CosminIcatoiu commented on #3558
I tried to change something . Have a look when you have time and tell me what you believe :)

[2017-01-22 10:38] sims1253 commented on #3615
I like this idea. Would you want to integrate this into gitmate or write a new service?

We'd need a database that tracks the reviews. But this feels doable. This could also be used to give more praise to people that review a lot (maybe even add this to the contributions thing on the landing page).

[2017-01-22 10:46] sils commented on #3615
I think GitMate-2 will be a nice framework for doing this, CCing @seblat and @fneu here: please check the initial issue description. Nevertheless we should also look out for existing options.

Also I think it'd be good to visualize reviews on the team/get involved page currently living at <https://new.coala.io> so people get publicly acknowledged for doing reviews, not only commits. I'm not sure i

[2017-01-22 11:24] ankit01ojha commented on #3611
@jayvdb How it can be done, can you please tell me?

[2017-01-22 11:29] jayvdb commented on #3611
Invoke coala as a subprocess and check the output.

[2017-01-22 11:41] sims1253 commented on #3613
you mean as in "join the team matching your main dev platform"?

[2017-01-22 12:29] jayvdb commented on #3615
I've been looking at GitHub advanced search options, and found [limited](
https://github.com/search?utf8=✓&q=in%3Acomments+is%3Apr+user%3Acoala+smile&type=Issues&ref=searchresults) access to comments, but not to comment reactions. Also it seems the search index is old, because [this](https://github.com/search?utf8=✓&q=in%3Acomments+user%3Ajayvdb+smile&type=Issues&ref=searchresults) should include

[2017-01-22 12:56] nemaniarjun commented on #3613
@jayvdb we only accept team membership requests from developers.. So we can't add it to the developer process unless we change it accordingly

[2017-01-22 13:22] sims1253 commented on #3613
I'm not sure we need a real coala team . I thought about something less official and strict.

[2017-01-22 17:07] Mixih commented on #2535
Breaking change as 'no_config' cannot be set together 'find_config' which is not being set as default. You will need to modify the appropriate parts to disable --findconfig when it encounters --no-config. You will also need to modify all of the tests which are hard coded to check specific configs. You will also need to debug random args that stop working

Here is a list of things that you will pro

[2017-01-22 23:13] coala-bot opened #3617 "Reorder levels in `-L` help"
The order of logging is Debug -> Info -> Warning -> Errors
Change help to show this
Difficulty newcomer.

Opened via [gitter](https://gitter.im/coala/coala/?at=58853c91cbcb281770a2a877) by @nemaniarjun