[2019-07-22 04:21] KVGarg commented on #6033
I guess I was using an earlier version of coala, running this command over latest version of coala and coala-bears master branch. The issue no more exists. It is logging all the bears with all the required information.

[2019-07-22 04:21] #6033 closed

[2019-07-22 16:13] briankhsieh opened #6045 "Coala's AGPL coverage"
Hi Coala maintainers,

Can you help clarify AGPL coverage in Coala's case? Specifically, are the modifications made by Coala, which would get put into the input source code, covered by AGPL?

Your clarification will help evaluate the technology selection. I'd be helpful If you could clarify your interpretation in the Q&A page.

Thanks,

Brian

[2019-07-23 15:00] hv7214 opened #6047 "No support for Ignore Comment in C(gcc)"
Chat: https://coala.io/chat
Issue Template: https://github.com/coala/coala/blob/master/CONTRIBUTING.rst#filing-issues
Documentation: https://docs.coala.io
-->

[2019-07-26 01:17] anonymone commented on #5983
anyone working on this issue? if not, I am so glad to do it.

[2019-08-03 13:49] jayvdb commented on #6045
Hi @briankhsieh , No, AGPL covers only coala code in the repository, not any generated code / modifications .

And each coala bear has metadata for the license of their own code (usually also AGPL), but most of the bears use external linters which have their own licensing, but all of them are open source.  While some *may* **try** to impose some restrictions on modifications, I am not aware of any

[2019-08-03 13:58] jayvdb opened #6050 "Setting.py: Include the memory location in all __repr__"
The default `__repr__` on CPython emits the memory location of the object.  This should also be done for the coala overrides of `__repr__` in Settings.

[2019-08-03 13:59] jayvdb opened #6051 "Linter.py: Include the memory location in all __repr__"
The default `__repr__` on CPython emits the memory location of the object. This should also be done for the coala overrides of `__repr__` in `Linter`.

[2019-08-03 14:12] jayvdb opened #6052 "Linter class objects are not consistent across multi-processing environment"
The `Linter` class instance is different on multi-processing environments, and some Linter hooks are not being run on every instance.

This is most evident on Windows, which doesnt use fork.

It is the cause of
https://github.com/coala/coala-bears/issues/2937#issuecomment-517927428

That usage dates back to v0.7.0 (May 2016) https://github.com/coala/coala-bears/commit/3c2321029778302f413151a22f8f7

[2019-08-04 01:11] jayvdb commented on #5985
Temporary solutio was to delete the file before running coala-ci.

Please update the issue title to be descriptive of the cause.

[2019-08-04 01:12] jayvdb commented on #5722
This is blocking https://github.com/coala/coala/issues/5985 .  No, it hasnt been fixed. @Naveenaidu , are you working on it?

[2019-08-04 01:17] jayvdb opened #6053 "pytest fails to run: TypeError: attrib() got an unexpected keyword argument 'converter'"
[code]

[2019-08-04 01:46] jayvdb commented on #6053
Prior to that

A bit annoying we cant see the version installed, but attrs-19.1.0 is the latest, but pytest only needs "attrs>=17.4.0"
https://github.com/pytest-dev/pytest/blame/d4351ac5a287eb96521f09618bbbe1c73f4e6884/setup.py

[2019-08-05 14:31] akshatkarani opened #6056 "ConsoleInteractionTest.py: `test_ask_for_actions_and_apply` defined twice"
Change the name of one of the function to something more appropriate.
difficulty/newcomer

[2019-08-06 13:01] KVGarg commented on #6053
Might be `pytest` was not installed completely at that point of time, because I just pushed my forked master branch to travis and the `pytest` is running as it should.
https://travis-ci.org/KVGarg/coala/jobs/568352135
Just added 2 changes, first to install python `v3.6.3` as if not added it would have installed `v3.6.7` and other was to forcefully install `setuptools==21`

[2019-08-07 06:04] jayvdb commented on #6053
It is a persistent problem which has been happening for a while on master https://travis-ci.org/coala/coala/builds

pytest is installed, but pip is failing to get all of its dependencies installed correctly, because pip is ... pip, and using pip==9.0.1 adds extra complications as fewer people are testing with that, but newer pip breaks bears - long story.

Usually the trick is to pin something to

[2019-08-07 06:56] KVGarg commented on #6053
Yes! the development shouldn't be affected due to any of the dependency breakage causing during CI build. It will be OK, if we move to xenial as it will allow us to making the system more strong to get it build on any python version, but I guess it will require a plenty of work to make it compatible to other versions too.
Also, I guess we developers can start working on adding support for Python v

[2019-08-07 10:26] akshatkarani commented on #4863
It may have been fixed in some commit, returns `False` now. [Line](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L804)

[2019-08-08 15:52] charfole commented on #6056
Will there be difficulty/newcomer labels with this issue？
I‘m a newcomer so that I want to find the issues with this label to practice.

[2019-08-09 03:34] akshatkarani commented on #6056
Most probably, but you should only work on this issue after getting assigned. Please read our [Newcomers Guidelines](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html) and [Commit Guidelines](https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html#)

[2019-08-09 03:48] charfole commented on #6056
Copy that,THANKS!

[2019-08-10 11:42] avirlrma commented on #6051
@jayvdb Hey, I'm new here and would like to work on this.

[2019-08-11 11:38] avirlrma commented on #6051
@jayvdb from what I understand I just have to add `hex(id(self))` in all the overloaded implementations of `__repr__` in all the classes in `Linter.py`. Is this correct?

[2019-08-12 03:46] jayvdb commented on #6051
Yup, bingo.

[2019-08-15 23:18] briankhsieh commented on #6045
Thank you for the clarification @jayvdb.

It'd be great to see clarification of the reach of the license being on the public-facing materials. That would help us accelerate the technology adoption decision.

Let me know if there's anything I can do to help.

[2019-08-18 10:36] xiaoguizi87 commented on #6050
@jayvdb Hey, I'm new here and would like to work on this.

[2019-08-20 07:00] KVGarg opened #6061 "Newcomers_Guide.rst: Mention about the new forms available on the coala Community website for the contributors"

[2019-08-21 13:03] jayvdb commented on #6056
@charfole , sorry for the delay - assigned now

[2019-08-21 13:12] jayvdb commented on #5991
https://github.com/coala/coala/issues/5674 is for more serious fixes.

Lets make this issue about fixing the timeout to be higher again, but instead of changing the global timeout, increase the timeout for only the tests which are failing.

See how this was done at https://github.com/jayvdb/coala-bears/commit/c3ae6bcab993412e219c762bf2536cd4f056e73c

[2019-08-21 13:21] jayvdb commented on #4208
We do testing now with setuptools 21.2.2

We could implement a hack to get lower versions working reliably.

c.f. https://github.com/moremoban/pypi-mobans/commit/9df26827578d25131a2c08e1876437b3f5de1a2c , for links to other projects using this hack.

Also https://github.com/moremoban/moban/commit/5e895b6a9e3a7b06c3cbd3ea651b197990366c33#diff-2eeaed663bd0d25b7e608891384b7298

[2019-08-21 15:07] charfole commented on #6056
@jayvdb ，It's OK. Thanks for your assigning.

[2019-08-21 16:47] jayvdb opened #6065 "macOS brew pip install results in Permission denied: '/usr/local/man'"
[code]

[2019-08-27 05:59] imnitishng commented on #5983
Seems like the issue is not fixed yet. I would like to work on this, please assign it to me.

[2019-08-29 16:28] imskr commented on #6050
I would like to work on this @jayvdb

[2019-08-31 14:50] #6034 closed

[2019-09-02 00:06] Dilshaad21 commented on #5983
I would like to work on this issue.

[2019-09-02 02:35] Dilshaad21 commented on #6050
@jayvdb Can I work onthis issue?

[2019-09-06 16:11] Dilshaad21 commented on #6050
@jayvdb are you asking to return `self.__class__.__name__` for all the `__repr__` functions.

[2019-09-06 20:31] prateekj117 commented on #6003
@RJ722 May I work on this issue?

[2019-09-06 20:35] KVGarg commented on #6003
A related PR has already been created to solve this issue. Please  look over some another newcomer issue for which no PR has been created yet

[2019-09-07 11:20] Dilshaad21 commented on #5944
@shashank-b since this issue was opened way back and still no one has submitted a PR.Therefore I am going for it.

[2019-09-07 18:48] GeniusLearner commented on #6006
Hello @RJ722 ,

I'm a newcomer, and if this is not actively being worked on, then I would like to give it a stab.

[2019-09-08 07:37] RJ722 commented on #6006
Hi @GeniusLearner, seems like @roshnet's PR is good to go, but was blocked because of failing Appveyor CI at the time. We'll merge that PR soon and close this issue.

It's nice that you're looking forward to contribute, please find more newcomer issues at https://coala.io/new

[2019-09-08 17:51] sameshl commented on #6050
@jayvdb Can you assign me this?
Thanks!

[2019-09-09 15:55] sameshl commented on #6056
As there has not been any activity on this issue for more that 15 days, Can someone assign me this. I would love to work on it.

[2019-09-09 19:18] RJ722 commented on #6056
seems like @charfole isn't working on this. assigning @sameshl

[2019-09-09 22:42] briankhsieh commented on #6045
Hi @jayvdb,

We understand from your comment on August 3, 2019 that Coala's license covers only Coala code in the repository, not any generated code/modifications to user code, and that there are plans to update the repos documentation.  Let us know if we misunderstood.

[2019-09-09 23:43] jayvdb commented on #6045
Yes, that is correct.  Sorry that the docs havent been updated yet.  I'll assign myself, and tackle it this week sometime.

[2019-09-10 17:38] GeniusLearner commented on #5858
Hi, @RJ722
Seems this issue has not been worked on for a while. Can you assign it to me?

[2019-09-10 21:18] briankhsieh commented on #6045
Thank you for confirming and working on this, @jayvdb.

[2019-09-13 14:49] abhi1381 commented on #5943
@kapurm17  I am a newcomer here and I think I got the issue. so can you please assign this issue to me, making it my first contribution.

Thank you

[2019-09-14 02:34] GeniusLearner commented on #5898
Hi, @RJ722
It seems that this is not being worked. Can you assign it to me?

[2019-09-14 03:57] GeniusLearner commented on #5942
Hi, this has been already covered in issue #5898  and pr #6074

@RJ722 Can you take a look at this, please

[2019-09-16 16:56] sameshl commented on #6056
@RJ722 I looked at https://github.com/coala/coala/blob/bcee2cd3a1c8e0350181ae58cf95d22953272ee6/tests/output/ConsoleInteractionTest.py#L552-L588 but was not able to figure out a better way to rename them. Could you please help me out?

Thanks!

[2019-09-16 20:11] RJ722 commented on #6056
It seems like the both the functions are mostly identical and that the first function is also additionally testing with `DoNothingAction`. This leads to a lot of code being duplicated - we would ideally want only one test in which both of these conditions could be tested.

One idea off the top of my head to do so would be to have a list of `args` and run the `with` statement within a loop for ever

[2019-09-17 02:03] sameshl commented on #6050
@jayvdb I would like to work on this. Could you elaborate a bit on how I could go about this?

Thanks!

[2019-09-17 15:02] nick-martin-24 commented on #5983
Trying to figure this stuff out. Anyone know why the first two builds failed?

[2019-09-26 12:08] Dilshaad21 commented on #5850
Can I take up this issue.

[2019-09-26 12:16] Dilshaad21 commented on #5969
Can I work on this issue. It seems like no one is working on it.

[2019-09-27 16:32] KVGarg commented on #5969
@Dilshaad21 You've already worked on a newcomer issue. Please follow the newcomers guide! and look for a `low difficulty issue`. Thnx 👍

[2019-09-27 16:32] KVGarg commented on #5850
@Dilshaad21 You've already worked on a newcomer issue. Please follow the newcomers guide! and look for a low difficulty issue. Thnx 👍

[2019-09-28 12:27] KVGarg commented on #5992
It will not matter even if the link contains the webpage url! The actual issue is that **documentation isn't updated**! On inspecting the develpement_setup.html in browser the actual link which is present there is `https://api.coala.io/en/latest/Developers/Development_Setup.html#id1` instead of `https://api.coala.io/en/latest/Developers/Development_Setup.html#installing-from-git`.
@abhishalya @har

[2019-10-01 14:31] jrezzende commented on #6036
Hi @akshatkarani, can i work on this?

[2019-10-02 19:55] tylerviducic commented on #5983
I would like to work on this.

[2019-10-07 14:20] espatatis commented on #5983
Can I get this issue assigned ?

[2019-10-09 12:39] GeniusLearner commented on #5942
@RJ722 any update on this?

[2019-10-09 18:51] Richardsan77 opened #6081 "no me sale en el gitignore la opcion de visual studio"

[2019-10-10 04:56] nitink4472 commented on #6047
Hey! I would like to work on this issue but describe me more about it as i'm not getting the issue properly.

[2019-10-10 05:20] Apoorv01017 commented on #5944
hello, my request to gitlab as a newcomer has yet not been approved in the meantime I wanted to make myself familiar with coala can someone help me with this issue as I wanted to get started with this.

[2019-10-10 19:04] aarsh-sharma commented on #5983
I see this issue has not been assigned yet. Can I get this issue assigned.
Thank you.

[2019-10-11 14:16] surgura opened #6083 "linter bear adds newline in process_output"
### Overview Description
A custom bear and providing your own process_output does not result in the correct `file` parameter, when the file in question does not end in a newline; the newline is added by the linter class.

This is problematic for a bear that adds a newline at the end of a file.

# Steps to Reproduce

1. Create a bear that prints the provided file contents and also the actual file c

[2019-10-12 10:58] nishathapa commented on #6036
Hi @akshatkarani , are you still working on it? Would you mind if I work on it?

[2019-10-14 03:44] micknoy commented on #5983
Hi, newcomer here. Is there something I can do to help?

[2019-10-15 09:49] duddu-coder commented on #6083
I'm sending a PR on this one.

[2019-10-15 14:47] neha629 commented on #5983
Can I get this issue assigned ?

[2019-10-16 04:59] Apoorv01017 commented on #6056
hello, can I  work on this issue

[2019-10-16 05:13] Apoorv01017 commented on #6083
hello, I want to work on this issue. But I am new to open source. I have worked in a couple of difficulty/newcomer issue would this be an appropriate issue for me to work on?

[2019-10-16 08:55] surgura commented on #6083
If @duddu-coder is working on this, it seems weird to me to work on the same issue, right?

[2019-10-17 15:13] Apoorv01017 commented on #6051
Can I work on this issue?

[2019-10-17 15:14] Apoorv01017 commented on #6050
can I work on this issue?

[2019-10-19 10:49] thomasboni opened #6085 "Add an option to ignore bears at running"
### Overview Description

It will be useful to add an option which permit to ignore bears, like the `-i, --ignore` option for files

# Actual Results

Currently, coala runs all bears specified in `.coafile`

# Expected Results

Add a cli option which permit to ignore specifics bears.

# Why this enhancement will be useful ?

I use coala and coala-quickstart in my CI process. I auto build a configu

[2019-10-20 02:49] Richardsan77 commented on #6081
solucionado

[2019-10-20 02:49] #6081 closed

[2019-10-21 09:08] sims1253 commented on #6085
That feels a little bit like a workaround. Do you think adding this cl option is the cleanest solution? Maybe we should rather add the option to coala-quickstart?
As a quick fix, you could probably write a quick script that comments out lines that contain the name of the bear or just remove the bear name.

[2019-10-21 10:30] thomasboni commented on #6085
Hi,I think it depends of point of view about these two tools. In a full CI scenario, I see coala quickstart (runned with --ci) like a tools which generate a full configuration with all bears available for all my files without options. And then run coala and add options (from environment variables) in order to ignore files, bears, set severity level, etc... So, it's more convenient for me to add th

[2019-10-22 08:57] mr-unfunny commented on #5850
I would like to be assigned to this issue as it is still unassigned.

[2019-10-25 06:37] duker33 commented on #5309
@jayvdb , the same error is shown because of comment. It's slightly differs from your point, i suppose

My `.coafile` file has this structure:
[code]

My whole settings file is [there](https://github.com/fidals/shopelectro/blob/b7efeaf8f4d23282114d0782dff8cf340ea97efd/.coafile)

[2019-10-29 19:19] Purvanshsingh commented on #5914
I am a newcomer, want to work on this issue can it be assigned to me?

[2019-10-30 08:47] Purvanshsingh commented on #6056
I am a newcomer can you please assign me this issue?

[2019-11-04 06:58] Gromy1211 commented on #6050
Hi, can I be assigned to this?

[2019-11-06 20:24] gr455 commented on #5944
Hey, I am a newcomer and have found the issue (dive into python3 broken website link) and would like to work on the same. It would be greatly appreciated if I am assigned this issue

[2019-11-10 19:43] ektaarora3501 commented on #5943
Hey @kapurm17 is the issue still open? I am looking forward for solving it ..

[2019-11-12 14:59] WhatAreYouSaying commented on #5983
Can I get this issue assigned ?

[2019-11-12 17:42] gr455 commented on #3170
Hey, may I know what exactly is required in the warning

[2019-11-21 20:08] Seanny123 opened #6086 ".coala taking priority over command-line arguments"
I have created a repo to demonstrate this error:
https://github.com/Seanny123/coala-fail

Expected Behaviour
----------------------------

`coala -f=cfail/check.py` would only run bears on the file `check.py`.

Actual Behaviour
------------------------

In `.coala`, the rule `files=**.py` takes priority over the command line argument `-f=cfail/check.py`. Thus, both `check.py` and `ignore.py` are c

[2019-11-23 12:39] arzoo14 commented on #5983
@akshatkarani
Can you please assign this issue to me?

[2019-11-30 00:34] timgates42 opened #6087 "Small typo in coalib/output/printers/LogPrinter.py"
Should read responsibility instead of reponsibility.

[2019-11-30 15:46] mareksoska22 opened #6089 "BEAR_DEPS executing dependency bear after and not before actual bear"
### Overview Description
Hi, while I was developing my own bear in coala, I was struggling with BEAR_DEPS. Bears stated in this option should run first, but it seems like those dependency bears are executed not before but after my bear.
Here are some pictures step by step:

<img width="404" alt="Screenshot 2019-11-30 at 16 18 12" src="https://user-images.githubusercontent.com/56757484/69902373-0e5

[2019-12-06 03:51] Atharva2018 opened #6091 "Picture in readme shows a error."
### Overview Description
The picture in readme cannot be seen.

# Actual Results
![PictureError](https://user-images.githubusercontent.com/41574777/70294418-6b2b6600-1809-11ea-9f9f-08494ead56f0.png)
The picture besides  sentence 'Throughput Graph' shows error.

# Expected Results
I will fix the error.

# Additional Information:
Can you provide me the image or link to it.

[2019-12-07 15:57] arishta commented on #6091
The image link is actually broken. There's two way to proceed.

First - Commit the image and then use the raw link of the image to replace the broken URL.
Second - Replace the broken URL by a working URL.

**Broken URL** - " https://graphs.waffle.io/coala/coala/throughput.svg"

[2019-12-07 17:04] Krythz43 opened #6092 "Include Gitter chat button in README."
The current README contains a text hyperlink that links to the Gitter chat room. This could be replaced with a "Chat on Gitter" button. This could be considered a difficulty/newcomer issue.

[2019-12-07 18:01] Krythz43 commented on #6091
@arishta waffle.io shut down their website in May this year. Info on what this graph contained would be helpful. Maybe we could replicate the result or if it's not that important just remove it. What do you think?

[2019-12-07 20:53] 2knal commented on #6092
Hi there, I would like to work on this issue.

[2019-12-08 14:52] Krythz43 commented on #6092
@jayvdb Am sorry for tagging you despite your busy schedule, can you please assign me to work on this and add me to the newcomer group?

[2019-12-09 04:12] gr455 commented on #6036
This issue is still unsolved, so I am working on it

[2019-12-09 18:36] mbasil09 opened #6095 "Indentation Error on trying PEP8Bear."
All other files in this directory worked fine, on trying PEP8Bear on this results.py, I get an error

C:\Users\mbasi\Desktop\open\intermine-ws-python-dev\build\lib\intermine>coala --files=results.py --bears=PEP8Bear --save --apply-patches -V
[33m[WARNING][0m[00:04:34] 'cli' is an internally reserved section name. It may have been generated into your coafile while running coala with `--save`. The

[2019-12-11 12:06] gr455 commented on #3804
What value of max_retries is expected? Also what should be an optimal backoff_factor value for the retries?

[2019-12-11 18:43] him-mah10 commented on #6006
Hi, I am a new comer. Could the issue be assigned to me?

[2019-12-11 21:53] gr455 commented on #3804
If max_retries is hit and the error code persists, a RetryError is raised which is causing the pytest to fail. How do I handle the pytest failing?

[2019-12-13 11:47] gaurivn commented on #4017
I would like to work on this issue.

[2019-12-14 08:59] gr455 commented on #3804
How about handling the RetryError by attempting to download once more(in the except statement) so that HTTPError can be raised with the latest status code

[2019-12-14 10:46] NamugumyaSandra commented on #5983
Hello team, Can I take on this task?

[2019-12-15 12:00] KumarOjas opened #6098 "How to join Coala?"

[2019-12-15 12:15] Blackcipher101 commented on #5983
@akshatkarani Can I get this issue assigned. Thank you

[2019-12-15 17:08] gr455 commented on #5983
@Blackcipher101  This issue already has 4 PRs on it. Review them instead of sending your own

[2019-12-16 03:28] Blackcipher101 commented on #5943
@kapurm17 Can I be assigned to this issue. Thank you

[2019-12-16 13:02] gr455 commented on #3804
Please review the PR and suggest changes

[2019-12-17 04:38] kapurm17 commented on #5943
Hey guys, you mght want to ask @li-boxuan , he can assign it to you guys

[2019-12-17 04:47] Blackcipher101 commented on #5943
@li-boxuan  Can I be assigned to this issue. Thank you

[2019-12-27 10:09] Saanidhyavats commented on #5983
I am interested to take up this issue

[2019-12-28 05:52] Saanidhyavats commented on #5914
I want to work on this issue, can you please assign this issue to me.

[2019-12-29 11:56] PIYUSHgoyal16 commented on #5858
Hi @RJ722
It seems that this issue is currently open. Can you assign it to me?

[2019-12-29 16:42] PIYUSHgoyal16 commented on #5943
It seems that the issue isn't assigned to anyone. Could this issue be assigned to me.

[2019-12-30 08:46] hedonhermdev commented on #6098
If you are interested in contributing to Coala then check out https://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2020-01-04 13:34] Zethson opened #6106 "Coala as Python Library"
Hello,

is it possible to integrate Coala into a python package?
I would like to call Coala when someone runs a specific function in my own python package.
From the docs I just saw that Coala offers a CLI entry point.

[2020-01-04 13:38] Zethson commented on #6106
Ah, coalib is what I'm looking for, right?

[2020-01-05 14:33] Makman2 commented on #6106
Yes exactly, we pack everything into `coalib` :)

[2020-01-05 14:33] #6106 closed

[2020-01-05 15:56] abhishalya commented on #6098
Here are few steps:
1. Join Gitter room: https://gitter.im/coala/coala
2. Request access to https://gitlab.com/coala/roles/newcomers
3. Read coala.io/newcomer
4. Ping me on the issue which you'd like to work on.

[2020-01-05 15:57] #6098 closed

[2020-01-06 06:35] piyushpalawat99 commented on #5988
@li-boxuan Is this issue still open? If yes, can I be assigned to this issue?

[2020-01-08 12:49] ThibF opened #6108 "Add support for writing ignore comment in Lua"
### Overview Description

Lua is not supported for ignore comments.

# Steps to Reproduce

1. Create a lua file with ignore comment
[code]

2. Add a .coafile
[code]

3. Run coala
# Actual Results
The lua code inside the `Start Ignore` and `Stop Ignore`  is formatted by coala

# Expected Results
The lua code inside the `Start Ignore` and `Stop Ignore`  is ignored by coala

# Additional Information:

[2020-01-09 09:17] 123vivekr commented on #6050
@jayvdb Please assign this issue to me.

[2020-01-11 06:32] abhishalya opened #6110 "Fix CI builds"
Major blocker for now.

[2020-01-11 07:01] piyushpalawat99 commented on #5988
@abhishalya why can't we merge #5996 and close the issue?

[2020-01-11 07:47] piyushpalawat99 commented on #5850
@abhishalya Can I work on this issue?

[2020-01-11 10:24] abhishalya commented on #5850
@piyushpalawat99 Invited you, accept and ping again.

[2020-01-11 13:19] piyushpalawat99 commented on #5850
@abhishalya accepted

[2020-01-15 17:49] terminator0309 commented on #6087
@timgates42 please assign me this issue to me, i am new on github and this will greatly incourage me and will help me a lot...
Thanking you

[2020-01-15 23:40] timgates42 commented on #6087
Oh sorry @terminator0309 I am not a member of coala so I don't believe I can assign issues - but I've actually submitted a fix for this in #6088

[2020-01-16 14:08] terminator0309 commented on #6087
Sir,
I am new to open source development and want to contribute to organisations,
can you guide me how to start all this.
If you can help me, I will be very thankful to you.

On Thu, 16 Jan 2020, 5:10 am Tim Gates, <notifications@github.com> wrote:

[2020-01-22 20:03] ProPriyam commented on #5988
I would like to be assigned to this issue

[2020-01-23 15:09] abhishalya commented on #5988
This already has a PR, so no further assignment here. I'm waiting for the CI to get fixed (which should be soon) to merge it.

[2020-02-04 18:29] reibelj commented on #6110
This issue is currently being worked on by myself and another group of students. As part of a computer science course from Allegheny College, my team and I are working towards contributing to open source code and have chosen to contribute to this project.

[2020-02-08 13:02] frextrite opened #6114 "Moban non-zero exit code - OSError: File coala-ci-requirements.yaml does not exist"
Moban job for Travis CI exiting with [non-zero exit code](https://travis-ci.org/coala/coala/jobs/646438375)

[code]

[2020-02-09 22:05] cathlinlord commented on #6110
@abhishalya Our group (the group previously mentioned by reibelj) is wondering what the desired use of Travis is and if the inclusion of Python 3.4 is necessary for this project? We are hoping to get a better understanding of the overall goal, so we can contribute to solving this issue.

[2020-02-09 23:08] ThomasWaldmann commented on #5157
Ping.

[2020-02-11 17:41] zxiiro commented on #5157
Without regular releases this project is effectively dead. My teams have moved away from using Coala and migrated to https://pre-commit.com/ which has served us well as a replacement for Coala. Hope this helps for anyone else who is stuck with outdated Coala releases.

[2020-02-16 09:24] #6110 closed

[2020-02-16 09:48] abhishalya commented on #6110
It's fine to drop Python 3.4, coala would get out of the dependency hell.

[2020-02-26 14:01] cathlinlord commented on #5621
As part of a computer science course from Allegheny College, my team and I are working towards contributing to open source code and have chosen to contribute to this project. If possible, we would like to work on this issue. We believe moban is no longer under heavy development and it may be appropriate to work on documentation. Thanks!

[2020-03-07 21:09] Zethson opened #6117 "The requested section 'lint' is not existent. Thus it cannot be executed."
The requested section 'lint' is not existent. Thus it cannot be executed.

What does this mean?

My .coa file:

[code]

[2020-03-07 21:22] Zethson commented on #6117
I am simply importing an running it:

[code]

[2020-03-07 21:45] Zethson commented on #6117
It's because I'm using click earlier and it passes the 'lint' option on.

:man_facepalming:

What's the best way of running coala without an additional arg parser?

[2020-03-08 17:36] #6117 closed

[2020-03-12 16:06] Abdullah-alfadhel commented on #5943
Hello, I was wondering if you want an Arabic translator? so the project can reach a wider audience.

[2020-03-26 11:25] Pajinek opened #6118 "python3: f-string causes "Bear YapfBear failed""
Traceback when new format of f-string is used in Python 3: version `0.12.0.dev99999999999999`

Example:
[code]

[code]

[2020-03-26 13:36] SanketDG commented on #6118
`f-string`s are available from python version `3.6`, what version are you using?

[2020-03-26 13:43] Pajinek commented on #6118
My code is written in Python 3.7. And I use for check coala by docker image:

`docker run -ti --rm -v '${CURDIR}:/app:Z' -w /app coala/base coala -an`

[2020-04-02 18:34] cathlinlord commented on #6118
As part of a computer science course, my team and I are working towards contributing to open source code. If possible, we would like to work on this issue. Thanks!

[2020-04-14 20:07] pprasha commented on #2886
I will take this issue

[2020-04-16 14:57] akshatkarani opened #6119 "setuptools version conflict"
Travis CI is failing because of version conflict in setuptools

[code]

See build https://travis-ci.org/github/coala/coala/jobs/673984200#L1937

[2020-04-16 19:48] stephensonc commented on #6118
@Pajinek, I am a member of the team that @cathlinlord mentioned and have been investigating this issue. It would seem as though the issue stems from the lib2to3 module of python 3.6 not parsing f-strings correctly as documented [here](https://github.com/google/yapf/issues/342).

It is using the 3.6 version of lib2to3 because the docker base image  on DockerHub is outdated. The dockerfile in the do

[2020-04-29 21:43] mre opened #6121 "Website down?"
Our link checker at https://github.com/analysis-tools-dev/static-analysis/issues/354 created an issue that the website https://coala.io/ can't be reached since today. Same from my local computer.

Just wanted to notify you in case this is not a known issue.

[2020-05-13 06:01] abhishalya commented on #6121
@mre Its fixed now :)

[2020-05-13 06:01] #6121 closed

[2020-05-13 06:02] abhishalya commented on #6119
Should be fine now

[2020-05-13 06:02] #6119 closed

[2020-05-13 06:03] abhishalya commented on #6114
Its fixed now :)

[2020-05-13 06:03] #6114 closed

[2020-05-13 06:55] abhishalya commented on #6091
We don't need it, best to remove it.

[2020-05-24 18:53] mitchell-frost commented on #5858
I am new to coala. Can I work in this issue?

[2020-05-24 18:55] mitchell-frost commented on #5944
Is this issue closed? It still shows open so can I work on this?

[2020-05-24 18:57] mitchell-frost commented on #5516
Can I work on this?

[2020-05-24 18:58] mitchell-frost commented on #6050
I am new here and this issue seems open. Can I work on this?

[2020-05-24 18:58] mitchell-frost commented on #5791
I am new to coala. Can I work on this?

[2020-05-25 14:03] mitchell-frost commented on #5791
I'll start working on it @abhishalya thanks!

[2020-05-25 14:49] mitchell-frost commented on #5791
I am not getting the error
![Screenshot (29)](https://user-images.githubusercontent.com/44670836/82823296-efab9700-9ec4-11ea-88d0-8f015dc710c2.png)

[2020-05-25 14:50] mitchell-frost commented on #5791
@2root2 I issued the command:
 pip3 install coala-bears
after cloning the repo. Can you check and see?

[2020-05-27 18:10] saily commented on #5157
Hi @sils, could you provide an update on the status of coala and it's bears?

[2020-05-27 18:42] abhishalya commented on #5157
Hey everyone, the project needs a bit of kickstart to get it up again. The previous maintainers have all gone busy and I'm probably the only one left with the maintenance task. I'm not sure about the next release but if we get enough contributions we can do some releases.

[2020-06-05 19:35] pranshu2610 commented on #5944
@shashank-b please assign this issue to me

[2020-06-11 08:26] faraz16iqbal commented on #5983
Is this issue still up for grabs?

[2020-06-11 15:34] akshatkarani commented on #5983
@faraz16iqbal No

[2020-07-10 13:27] Karanjot-singh commented on #5944
Is this issue open? I would like to work on this!

[2020-07-10 13:45] abhishalya commented on #5944
@Karanjot-singh This issue already has a PR. Find another issue and ping me to assign :)

[2020-07-10 13:50] Karanjot-singh commented on #5944
Sure!

[2020-07-15 17:08] Sohaib03 commented on #6056
Is this issue open?

[2020-08-28 05:57] swapniljha001 commented on #5988
Why is this issue still open? Shouldn't it be closed by now?

[2020-08-28 06:01] swapniljha001 commented on #5943
Is this issue resolved, if not, do tell me the file which needs to be edited?

[2020-09-19 19:52] aniket173000 commented on #6006
Hello I am new to open source development . Could you assign this issue to me ?

[2020-10-03 06:18] rohanrk commented on #3930
Hi there! I know this is old but it's an easy enough fix that I can take it up. This section should go into `Git Basics` but that already has info on interactive rebases which is how you would delete commits from a branch. I could add more detail if desired

[2020-10-03 06:21] abhishalya commented on #3930
@rohanrk Yes, if you feel we could improve it then I'm happy to accept it.

[2020-10-22 07:14] tyajush commented on #6056
Hi I would like to contribute to this issue, can someone please assign me. I am just getting started with open source contributions.

[2020-10-22 07:17] tyajush commented on #6006
Hey I am a newcomer, want to get started with my first contribution could you please assign me ?

[2020-10-22 07:23] tyajush commented on #5992
I am a new commer please assing me this issue.
I have understood the issue. I  will make it such that, it just move to the required part if the link is a reference to the same page **by replacing the entire link with just #installing-from-git.**

[2020-10-24 17:09] Joe-Sin7h commented on #6006
Hey @RJ722 ,
I am a newcomer , I would be thankful if you could assign me this issue .

[2020-10-25 10:48] Joe-Sin7h commented on #5131
hey @Makman2 ,
If this issue is still open , I would love to work on it .
Please  assign it to me .

[2020-10-25 10:52] Joe-Sin7h commented on #5830
hey @li-boxuan
I am a beginner and I would love to work on this issue .
Please assign it to me .
I will be thankful :)

[2020-10-25 10:57] Joe-Sin7h commented on #5983
hey @akshatkarani  , can you please assign this issue to me

[2020-11-01 19:52] JayantGoel001 opened #6127 "I want To Join This Organization."

[2020-11-17 20:31] RajSrinivasJena commented on #6108
I'm taking this

[2020-11-30 21:46] #6127 closed

[2020-12-09 12:41] ArdaOzd opened #6129 "GNUIndentBear does not fulfill all requirements. 'indent' is not installed."
I am new to coala and trying to use GNUIndentBear through command prompt on a Windows 10 x64. Altough I installed indent.py with pip install indent, when I run coala it gives error that indent is not installed.
I have added paths to environment variables of the system. Tried deleting and installing again. I have no idea why this happens and couldn't find any source on how to solve this problem.

[2020-12-10 17:06] remort opened #6130 "with --files, coala executes every file in separate process. so f.e. mypy checks run very slowly"
Steps to reproduce:
run coala with mypy bear enabled only over catalog with code running this command:
`coala --ci -c .coarc --files $(find . -iname '*.py')`
It will run several minutes (~4m) on my 66 files found.
If you run mypy passing it the same file list (`mypy $(find . -iname '*.py')`) - it will finish in several (~12) seconds (see below).

Looking at top (`top -b` to see full command line f

[2020-12-10 17:11] remort commented on #6130
[code]

That is how slow mypy works if you feed it with files one-by-one.

[2020-12-11 18:23] tichnas commented on #5992
@harshhx17 @abhishalya Hi, I'm new to coala and would love to work on this issue. Can I please be assigned?
Thanks

[2020-12-11 18:30] tichnas commented on #5983
Hi @akshatkarani, I'm new to coala and would love to work on this issue. Can I please be assigned?
Thanks

[2020-12-12 07:34] akshatkarani commented on #5983
@tichnas This issue already has many PRs, find some other issue to work on.

[2021-01-04 12:23] Nanu21 commented on #3407
@adtac @SanketDG @Nosferatul If there's no pull request related to this issue, Can anyone of you please assign me this issue?

[2021-01-18 06:35] sky3760000 commented on #6006
Hello , i m a newcomer can u assign me this issue

[2021-01-23 05:22] sky3760000 commented on #6056
if the work is not completed, can u please assign me this issue?

[2021-01-29 09:09] danuker commented on #3199
Problem was that this warning does not cause the build to fail:
[code]

If you want to turn the warnings into errors, Sphinx supports the `-W` CLI argument. That will cause a nonzero return value, which is detectable by CI.

[2021-02-10 17:52] Nanu21 commented on #6091
@abhishalya @Krythz43 may I remove this Throughput Graph image by editing the README.rst?

[2021-02-18 23:02] WillowP opened #6132 "SpaceConsistencyBear only catches spaces that match indent_size when use_spaces = False"
### Overview Description
Hello!

I have a Python project that is written using tabs. Without setting `indent_size`, I would expect that files written with 2 spaces or 4 spaces for indentation would be caught by `SpaceConsistencyBear`, but only files with 4 spaces are caught.

# Steps To Reproduce

1. Create `.coafile` like this:

[code]

2. Create `my_file.py` file like this (notice only 2 space f

[2021-03-01 17:53] Heisenberg403 commented on #6132
Hi, can I work on this issue?

[2021-03-10 16:28] abhishalya commented on #6132
@Heisenberg403 Sure, feel free to work on the issue. Do have a look if there's a PR already created or for this issue so that the efforts are not duplicated :)

[2021-03-11 05:09] anshalshukla commented on #6050
cobot assign https://github.com/coala/coala/issues/6050

[2021-03-12 09:03] anshalshukla opened #6133 "test pipeline of travis.ci broken"
Pipeline fails while installing dependencies.

[2021-03-12 09:03] anshalshukla commented on #6133
cobot assign https://github.com/coala/coala/issues/6133

[2021-03-13 03:04] anshalshukla commented on #5959
I think the PR[6155](https://github.com/coala/coala/pull/6135) closes this issue as well.

[2021-03-13 15:18] rajpratyush commented on #6087
@abhishalya is this issue open for work

[2021-03-13 16:57] pilgrim2308 commented on #5802
Hi,
I would like to work on this. Kindly assign me.
If it's okay with the maintainers, I plan on improving upon the above PR #5866.

[2021-03-13 18:56] anshalshukla opened #6138 "Update URL of Travis CI in Adding_CI.rst"
Since we have migrated the repository from travis org to com, the link in [docs/Developers/Adding_CI.rst](https://github.com/coala/coala/blob/master/docs/Developers/Adding_CI.rst) should be updated.

Changes Requested
[https://travis-ci.org/coala/coala/](https://travis-ci.org/coala/coala/) -> [https://travis-ci.com/coala/coala/](https://travis-ci.com/coala/coala/)
[https://travis-ci.org/coala/coal

[2021-03-14 04:06] rajpratyush commented on #6061
is this issue open for work
?

[2021-03-14 05:45] abhishalya commented on #6061
@rajpratyush This already has a open PR, hence no.

[2021-03-14 11:32] athirai-s commented on #6138
i would like to work on it

[2021-03-14 11:33] Th3nn3ss commented on #6138
I will like to assist with this.

[2021-03-14 11:33] athirai-s commented on #6138
okay :)

[2021-03-14 11:52] anshalshukla opened #6141 "autopep8 section of .coafile fails"
tests/bearlib/languages/LanguageTest.py
|  11| ············l.__name__·for·l·in·LanguageMeta.all
|    | [NORMAL] PycodestyleBear (E741):
|    | E741 ambiguous variable name 'l'

The above error pops up when `coala --non-interactive` is run on the coala repository.

[2021-03-15 09:22] anshalshukla commented on #6051
I'm taking this issue.

[2021-03-15 10:28] Fusion-Pie commented on #6118
Hey! I will really like to work on this issue. I will try my best to solve this issue if I get assigned to it. Thank you

[2021-03-15 12:22] abhishalya commented on #6118
@Fusion-Pie No assignment required, feel free to work on this :)

[2021-03-16 17:33] anshalshukla opened #6150 "Uniform string formatting"
Some files in the test module use f string format, whereas others use placeholder syntax. This should be changed and made uniform across all files.

#difficulty/newcomer

[2021-03-17 16:57] #6138 closed

[2021-03-17 17:08] #6141 closed

[2021-03-17 17:35] #5802 closed

[2021-03-17 17:38] Shania99 commented on #6150
I am new to open source and would like to take this up.

[2021-03-17 17:40] abhishalya commented on #6150
@Shania99 Sure, go ahead :)

[2021-03-18 18:23] #6133 closed

[2021-03-20 05:14] codehobbyist06 commented on #6150
Sir, I am a newcomer and would like to work on this issue. Can you pls tell if it is already assigned?

[2021-03-20 05:26] Shania99 commented on #6150
@codehobbyist06 Hey! I've been working on this actually.

[2021-03-20 05:30] codehobbyist06 commented on #6150
Ok.

[2021-03-20 07:39] thehanimo commented on #6132
I did some digging and the code responsible for this is:
https://github.com/coala/coala/blob/7d4247b0c6c4bd4c18ae64b88b3f859e89cc7ea3/coalib/bearlib/spacing/SpacingHelper.py#L77-L120

The main reason this happens is because SpaceConsistencyBear does not calculate indentation sizing on the fly. Not specifying `indent_size = 2` is equivalent to setting `indent_size = 4`. And when `indent_size` is se

[2021-03-21 13:14] anshalshukla opened #6151 "Required changes to sync moban"

[2021-03-21 13:16] anshalshukla commented on #6151
Some changes are required on this repo as well to sync moban. I am working on it, will make a PR by tonight.

[2021-03-22 06:02] alphaX86 commented on #6150
Hi @anshalshukla so what kind of formatting you need uniformly in all test module files?

[2021-03-22 06:05] alphaX86 commented on #6150
IK the issue is already WIP but I'm asking this to be clear and understandable

[2021-03-22 07:52] pilgrim2308 commented on #4959
@abhishalya I think this issue can be closed since it has already been mentioned [here](https://github.com/coala/coala/blob/7d4247b0c6c4bd4c18ae64b88b3f859e89cc7ea3/coalib/bearlib/abstractions/Linter.py#L982) that severity_map is case-insensitive.

[2021-03-22 08:11] shobhi1310 commented on #6150
If someone is working on it, it should be marked as assigned to avoid confusion.

[2021-03-22 08:19] shobhi1310 commented on #5969
Can I take up this issue, as I am a newcomer and no PR has been made for it yet.

[2021-03-22 08:27] shobhi1310 commented on #5902
@jayvdb
This issue has been still unattended and stale, can I take it up? If so, please do assign me this issue.

[2021-03-22 09:18] alphaX86 commented on #6150
Hmm @shobhi1310 I agree

[2021-03-22 09:21] abhishalya commented on #5902
@shobhi1310 Assignment not required, commenting here that you're working on it should be good enough.

[2021-03-22 09:30] alphaX86 opened #6155 "Throughput Graph in README needs to be updated"
## Description:
The throughput graph (waffle.io) doesn't work even when redirect and needs to be changed with some other metrics. This is easy but need to figure it out though!

## Actual O/P:
![image](https://user-images.githubusercontent.com/59508546/111968399-1bb49a80-8b1f-11eb-8d8b-125e11ee563b.png)

![image](https://user-images.githubusercontent.com/59508546/111968429-240cd580-8b1f-11eb-90b2-

[2021-03-22 09:32] alphaX86 commented on #6155
Here's an update, waffle.io is down since 2019 and metrics link must be updated with something else!

[2021-03-22 10:38] anshalshukla commented on #6150
@alphaX86 I had f-strings on my mind. Since we already use python3.6 using f-strings would be nice in my opinion.

[2021-03-22 11:46] alphaX86 commented on #6150
Hmm alright, and could you tell what files I should exactly look on? Coz tests folder is huge and IDK where to exactly look and change on

[2021-03-22 11:58] Shania99 commented on #6150
@anshalshukla I am almost done with changing the formatting but I used the old school method of string formatting and not f-strings. Would that be okay?

[2021-03-22 11:58] anshalshukla commented on #6150
You can maybe use grep to search for placeholders and then make the changes. But this issue has already been taken by someone recently so you can look for issues that are unassigned or have been inactive for a while.

[2021-03-22 12:03] anshalshukla commented on #6150
@Shania99 I'm not particularly sure about which one is preferred. But it should be uniform across test module and should have support in future versions of python as well since coala is planning for an upgrade.
@abhishalya can take a stand on what is preferred.

[2021-03-22 12:07] abhishalya commented on #6150
f-strings are the way to go from here on :)

[2021-03-22 13:24] shobhi1310 commented on #5902
![image](https://user-images.githubusercontent.com/42507632/111996297-df456680-8b3f-11eb-83c0-bf289b3578e1.png)

I cloned the repositories coala and coala-bears and was following the environment setup guide, this error is showing after I ran the command `pip3 install -e .` in the coala-bears directory.

What might be the issue?

[2021-03-23 07:21] alphaX86 commented on #6155
Duplicate of #5959

[2021-03-23 07:21] #6155 closed

[2021-03-23 16:11] #6151 closed

[2021-03-24 05:24] codehobbyist06 commented on #6108
I could not find any LuaFormatterBear available for Lua language(don't know if it existed in previous versions). The bear available is LuaLintBear, and it works fine if Luacheck is installed. You can install Luacheck using the following commands:
`sudo apt install luarocks`
`sudo luarocks install luacheck`

To check if it is installed correctly:
`luacheck -v`

Pls share if there is something else

[2021-03-24 07:16] codehobbyist06 commented on #6086
Yes, I have reproduced this issue and it persists. What actually happens is coala first runs the settings given in the coafile and then the settings given by cli(I have checked this by running coala in debug mode). According to the coala documentation this is a bug because it says that,

Can someone from coala maintainers pls tell how this issue can be resolved?
According to me, I first need to ch

[2021-03-24 08:09] codehobbyist06 commented on #6129
The reason you get this error is because the package installed by `pip install indent` is a python package and it is not what is required for GNUIndentBear to run. The GNUIndentBear is a cpp language bear and it requires a different package. For windows you can download and install the package from the below link:
[http://gnuwin32.sourceforge.net/downlinks/indent.php]
For Linux this package can be

[2021-03-26 17:20] abhishalya commented on #5902
Hey @shobhi1310 sorry for the late reply but you can ask these questions on [gitter](https://gitter.im/coala/coala) channel for faster response. Answering your question, those are python headers and seem like you're missing them, just install them :)

[2021-03-27 03:36] #6051 closed

[2021-03-27 04:02] #5740 closed

[2021-03-29 15:38] #4039 closed

[2021-03-29 15:57] #6050 closed

[2021-03-29 16:06] abhishalya commented on #6092
Closing this as it's not really required.

[2021-03-29 16:06] #6092 closed

[2021-03-29 16:47] #6087 closed

[2021-03-30 13:14] Liad-n commented on #6150
Are there any PRs for this issue yet?

[2021-04-03 12:23] msrijita18 commented on #3407
Is this issue open? I would like to work on this.

[2021-04-03 12:24] msrijita18 commented on #3407
Which green button and which doc, can you please provide the specifics?

[2021-04-06 00:46] anshalshukla opened #6160 "Link Does not exist"
link present on line 77 of docs/Developers/Development_Setup.rst does not exist. Remove line 75-77 to fix this.

difficulty/newcomer

[2021-04-06 01:35] erik-tastepe commented on #6160
Hey what's up, I can take care of this

[2021-04-07 13:12] anshalshukla opened #6161 "Add pytest to requirements.txt"
Exception raised while trying to collect bears:
ModuleNotFoundError: No module named 'pytest'

To reproduce the error install coala and bears with `pip install -e  .` and try to run coala

Add pytest to the requirements.txt file and make the same changes in mobans to keep the pipeline green.

difficulty/newcomer

[2021-04-07 16:11] pra17dod commented on #6161
Hi @anshalshukla, I would like to work on this issue. Could you please assign me?

[2021-04-07 16:25] anshalshukla commented on #6160
Go ahead!

[2021-04-07 16:30] anshalshukla commented on #6161
@pra17dod you can start working on it

[2021-04-07 18:34] pra17dod commented on #6161
Hi @anshalshukla , can you please review the PR #6162.

[2021-04-07 19:26] anshalshukla commented on #6161
@pra17dod, I don't think this is sufficient; by moban, I meant moban repository on coala GitLab. Also, set up a Travis ci to test if the changes don't break the pipeline. You can find the steps to set up CI at your repo in docs/Developers/Adding_CI.rst

[2021-04-07 19:32] pra17dod commented on #6161
@anshalshukla Thanks for your review. I will set up Travis CI. Can you further elaborate what changes needed to be made for moban, I am not getting it.

[2021-04-07 19:53] anshalshukla commented on #6161
@pra17dod, start by making the changes on coala. Make sure you test the changes locally and fix the mentioned bug. Changes on requirements.txt needs to be made uniform with the [Moban](https://gitlab.com/coala/mobans/-/tree/master/) repository. You'll get the hint for moban changes by the error log of Travis CI.

[2021-04-07 19:54] pra17dod commented on #6161
@anshalshukla thank you. Will look into it.

[2021-04-08 18:59] DestroyerAlpha commented on #6160
Added a PR for this issue. Please review @anshalshukla

[2021-04-10 04:29] pra17dod commented on #6161
@anshalshukla, @abhishalya [Here](https://travis-ci.com/github/pra17dod/coala/builds/222690798) is the Travis Build log on my fork. Please review it.

[2021-04-10 05:24] anshalshukla commented on #6161
@pra17dod NoModuleError is probably due to improper installation, you can refer to [this](http://docs.coala.io/en/latest/Users/Install.html).
Also before making changes I'd suggest try using coala locally on any of your projects or use the example given in the [tutorial](http://docs.coala.io/en/latest/Users/Tutorial.html)

[2021-04-10 05:28] pra17dod commented on #6161
@anshalshukla I meant to say everything is working fine locally. I have already followed the links you have mentioned.

[2021-04-10 05:53] anshalshukla commented on #6161
I think the screenshot here is unrelated. Your pipeline breaks because of the improper commit message. There should be a blank line between the shortlog and the body of the commit message.

[2021-04-10 08:18] pra17dod commented on #6161
Hi @anshalshukla, the PR passed the Travis CI build [here](https://travis-ci.com/github/pra17dod/coala/builds/222694545). Can you tell me what next to do?

[2021-04-10 13:00] echo-outlier commented on #6150
Can I take this up? I can fix this and make sure that f string format is used in place of placeholder syntax uniformly across all files.

[2021-04-17 14:17] abhishalya commented on #6161
Invalid issue, pytest would never be a part of requirements. It is only used to run tests and is not used to run coala.

[2021-04-17 14:17] #6161 closed

[2021-04-17 17:35] #6056 closed

[2021-04-17 17:42] #6160 closed

[2021-04-17 17:59] #5959 closed

[2021-05-01 07:44] Anupam-USP commented on #6150
Hey! Is this issue still open? Or can I take it?

[2021-05-14 15:54] abhishalya opened #6165 "Travis build failure due to setuptools-git"
From [build](https://travis-ci.com/github/coala/coala/jobs/505462177):

[code]

[2021-05-14 15:55] abhishalya commented on #6165
@anshalshukla Can you take a look at this once? Not sure if this is an intermittent issue

[2021-05-14 16:48] anshalshukla commented on #6165
Yeah, definitely.

[2021-05-16 14:05] #6165 closed

[2021-05-16 15:51] #6150 closed

[2021-05-17 12:24] PrasanthChettri commented on #6024
Hi can I work on this ?

[2021-05-21 15:50] abhishalya opened #6168 "Ma"
From [build](https://travis-ci.com/github/coala/coAST/builds/226175353):

[code]

@anshalshukla Can you take a look? Looks like we broke something after the f-string merge.

[2021-05-21 18:57] anshalshukla commented on #6168
@abhishalya, I think the syntax is fine. The problem is coAST CI is using Python3.5, which does not support f-strings. I am raising an issue on coAST to upgrade its CI configuration to Python 3.6, so I think you can close this issue.

[2021-06-02 12:40] PrasanthChettri commented on #5989
@frextrite  Hi, seems like an easy fix, could I work on this issue

[2021-06-02 12:46] PrasanthChettri commented on #5962
Hi, if @iBvishal  is not working on this can I be assigned to the issue

[2021-06-02 13:52] PrasanthChettri commented on #6130
Hi can I be assigned this issue ?

[2021-08-11 07:02] RakeshPotnuru commented on #6091
@Atharva-77

This issue needs to be closed.

[2021-09-29 03:45] Srivastava57Harsh commented on #6168
If this issue still open, can I work on it ?

[2021-10-06 13:03] dante381 commented on #6036
Hi, I am new to open source. Can i work on this?

[2021-10-17 08:43] kartikeysaran commented on #5992
Hey is issue still open ??

[2021-10-17 09:35] bkhanale commented on #5992
Yep, you can work on this if you like :)

[2021-10-18 05:48] kartikeysaran commented on #5992
Okay, i have started working on this

[2021-10-26 15:12] ShubhamPalriwala commented on #5976
This issue seems inactive! Would like to take this up and fix this ASAP! Just read the Newcomers docs and I need to get myself assigned before I start working.

To clear the target of the issue, we would like to use the lowest-possible version of `cached-property` so that we do not have to install more dependencies as they did in their higher versions? Am I right?

So here I am asking for an assig

[2021-11-05 17:45] avats-dev commented on #5914
Hey @abhishalya @iamkroot, I'm working on this. Please assign this to me. Will open the PR soon.

[2021-11-30 06:44] Jyoti-prakash-rout opened #6176 "Please invite me to the GitHub Community Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Development, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

Looking for

[2021-12-07 06:37] thuongtruong1009 opened #6177 "Please invite me to the GitHub Community Organization"
Hi!
My name is Tran Nguyen Thuong Truong - come from VietNam with open-source code love.
I want to join your organization to learn more and more and woking with all friend
Thank you very much!

[2021-12-15 19:00] temirovazat opened #6178 "I'm interested in joining coal and would love to contribute in your work."

[2022-01-09 17:01] alisonqiu opened #6179 "" An unknown error occurred. This is a bug. We are sorry for the inconvenience. Please contact the developers""
### Overview Description
As I was working through the [getting started tutorial](https://coala.readthedocs.io/en/latest/Users/Tutorial.html) and tried to run this code `coala --files=src/\*.c --bears=SpaceConsistencyBear --save`, I got the following output:
[code]

After reading about a similar issue in the past, I ran `pip install 'setuptools==17.0'` but that still didn't resolve the issue.
# Ste

[2022-01-20 20:08] oneturkmen opened #6180 "Broken search"
The [search](https://coala.io/#/languages?lang=Python) seems to be broken. Related issue: https://github.com/coala/coala-bears/issues/2995

also, is this project still maintained?

[2022-06-09 15:15] AvdN opened #6181 "cib not working, source code cannot be found"
I did see `cib` mentioned in the developer part of the docs. Interested in the list of available Bears, I wanted to run `cib show` ( http://api.coala.io/en/latest/Developers/Bear_Installation_Tool.html ).

On  a MacBook-Air M1 with Python 3.10.4 installed using brew and pyenv:
[code]
This gives an error because
[code]
I tried to find the source code repository for `cib`, but the PyPI page ( https:

[2022-07-14 18:04] PyDR-Tool opened #6183 "Project dependencies have API risk issues"
Hi, In **coala**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using
[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error be

[2022-07-27 21:44] IcedQuinn commented on #933
There is still an active bounty on this; did the merge/reviews ever happen?

[2022-10-01 17:20] 0xGodspeed commented on #5977
I want to work on this. Can this be assigned to me?
Also which versions of cli-helpers are allowed?