[2018-03-18 03:40] Crphang commented on #5194
Can I be reassigned this issue? I was halfway on it, sorry it took quite awhile, I just completed examinations and am new to the codebase.

[2018-03-18 08:43] MacBox7 commented on #5263
The link is working for me. Is the change really necessary?

[2018-03-18 08:46] lalitmee commented on #5263
@MacBox7, Actually the old link was not working until last 8 hours but I don't how it's working now. And I was assigned to this issue. So I did it. Maybe there is some problem with the old link. Hope that it will not happen with the modified one. :smiley:

[2018-03-18 09:33] palash25 opened #5266 "Rename method _cleanup_bear in Core.py"
I think the name `_bear_cleanup()` would be more suited to this [method](https://github.com/coala/coala/blob/master/coalib/core/Core.py#L292) since `_cleanup_bear()` (this name is seems to be in line with our bear naming convention) sounds like a separate bear that does some cleanup rather than a method that removes a bear from the `running_tasks` dict.

cc @Makman2

[2018-03-18 09:45] nityeshaga commented on #5260
Completing this will also close #5202

[2018-03-18 12:04] ishanSrt commented on #5079
I would like to be reassigned to this.

[2018-03-18 12:05] ishanSrt commented on #5041
Reassignment needed on this issue

[2018-03-18 12:05] ishanSrt commented on #5044
I would like to be reassigned to this

[2018-03-18 12:05] ishanSrt commented on #5104
Want to be reassigned

[2018-03-18 12:34] Naveenaidu commented on #5166
@gitmate-bot i am working on this issue. Its just taking a little time.

[2018-03-18 12:36] Naveenaidu commented on #5166
@Makman2 I would like to be assigned to this issue again. I have been working on it. And I only need to write the tests for it

[2018-03-18 14:14] sourojit commented on #5223
Hi, can you assign this issue to me?

[2018-03-18 16:05] palash25 commented on #5266
This would make a nice newcomer or low issue

[2018-03-18 16:33] #5263 closed

[2018-03-18 16:38] jayvdb commented on #5219
This is being worked on at https://github.com/coala/coala/issues/5219

[2018-03-18 16:51] jayvdb commented on #4120
Looking quite good so far.

[2018-03-18 16:57] #4400 closed

[2018-03-18 19:16] Makman2 opened #5270 "Core.py: Remove wrong part of caching docs"
This is only partially correct, the `section` part here is wrong. Only the parameters to `execute_task` are cache relevant.

[2018-03-18 20:10] sangamcse commented on #4452
@nvzard, working on it?

[2018-03-18 20:32] nvzard commented on #4452
I'm busy with other issues, you can work on this one.

[2018-03-19 04:24] manankalra commented on #4884
@khanchi97 are you still working on it? I would like to give this one a try as I've been mostly involved with global bears issues.

[2018-03-19 07:58] lalitmee commented on #1690
@AbdealiJK I think this is an exciting project to work on. Since I have faced many problems in my editors when I do work like you said `HTML` in `PHP` and `HTML` in `JavaScript` or `JavaScript` in `HTML`. It would be great if we can add this functionality to **coala** for linting.

[2018-03-19 08:33] khanchi97 commented on #4884
No, I am not working on it. You can assign yourself.

[2018-03-19 09:45] palash25 commented on #2699
Quoting @Makman2 from our gitter chat last night regarding the caching of section object in the Nextgen-Core's cache

Just to keep everyone on the same page
cc @adtac

[2018-03-19 09:54] manankalra commented on #4884
@Makman2 Assign me, please. ;)

[2018-03-19 10:51] anctartica opened #5273 "Include markdown and flow in coalang"
This is to support the settings of JSStandardBear.
https://github.com/coala/coala-bears/pull/2230

[2018-03-19 10:51] anctartica commented on #5273
please assign this to me

[2018-03-19 11:30] jayvdb commented on #5155
IMO this would be easiest done as a custom gitmate plugin, as it already has all of this information handy.  Hence https://github.com/coala/projects/issues/488

However an aspect which is very general is that currently the bear doesnt even check the issue exists or is open.  Hence https://github.com/coala/coala-bears/issues/2369

Also this specific problem of Fixes/Closes and a label on the issue,

[2018-03-19 12:40] jayvdb opened #5274 "Development Setup on Windows"
https://api.coala.io/en/latest/Developers/Development_Setup.html mentions `source`, which is not going to work on Windows if the developer is trying those commands in a `cmd.exe`

Also Windows doesnt have `python3` ; it only has `python`.  Yippee.

[2018-03-19 13:54] virresh opened #5276 "Modify installing from git instructions in development_setup documentation"
https://github.com/coala/coala/blob/master/docs/Developers/Development_Setup.rst#installing-from-git

Change ```cd -``` to ```cd ..```
This makes it compatible with windows cmd as well
(and also will run in case the OLDPWD variable is not set by chance in any linux environment)

[2018-03-19 14:45] sherrybai commented on #5276
Hello! Can this issue be assigned to me?

Thank you!

[2018-03-19 18:19] palash25 commented on #2699
@adtac do you still think section based caching is a practical improvement with regards to caching support for the Nextgen core?

[2018-03-19 18:57] palash25 commented on #5266
cc @Makman2

[2018-03-19 19:22] palash25 commented on #4127
I'm getting confused with the use of `default` `all` and `cli` as section names in the code. Can someone direct me to some thread/docs that gives will provided me some context about the different section names? The `cli` section name is causing tests to fail in my current PR for this issue.

[2018-03-19 19:36] palash25 opened #5277 "VSCode Syntax Highlighter Plugin for .coafile"
Is there an official .coafile syntax highlighter plugin for vscode?
If not then I would like to work on this as a mini project. :smile:

[2018-03-19 20:16] palash25 commented on #4838
@khanchi97 I would like to take this up if you are not working on this since I need to get a better understanding of the Globbing module to prepare for my GSoC project

[2018-03-19 23:01] Makman2 commented on #5266
I don't have a problem with the current name, it's "cleanup a bear". It's not a `CleanupBear` :smile:
I think it doesn't make sense to change it due to that reason^^

[2018-03-20 02:51] VickedVic commented on #5274
https://api.coala.io/en/latest/Developers/Development_Setup.html uses venv, but windows doesn't recognize that, it works fine with .\foo

[2018-03-20 02:54] VickedVic commented on #5274
c:\>virtualenv .\foo    ==> to create virtual environment

and

c:\> .\foo\scripts\activate    ==> to activate it

[2018-03-20 04:05] VickedVic commented on #5274
https://github.com/VickedVic/r1/blob/sarah/GSoC/sarah1/development-setup-notes(windows).txt

[2018-03-20 04:16] khanchi97 commented on #4838
sure :)

On Tue, Mar 20, 2018 at 1:46 AM, Palash Nigam <notifications@github.com>
wrote:

[2018-03-20 05:40] palash25 commented on #4838
would like to be assigned to this.

[2018-03-20 07:24] palash25 commented on #4529
@Makman2 so instead of giving a warning about the dependencies not being resolved in ``_schedule_bears`` we want the session to fail/terminate?

[2018-03-20 08:52] palash25 commented on #4999
I love the idea of ``DirectoryProxy``. I was going to open an issue for it myself after I saw #3530 .
The ``DirectoryProxy`` will also be useful in implementing  #2541

[2018-03-20 08:54] palash25 commented on #4999
We can use `_iter_relative_dirs` in Globbing.py to get all the subdirectories

[2018-03-20 08:58] jayvdb commented on #4605
Please do http://gitlab.com/coala/package_manager/issues/159 first, and note that this will likely be a complete project in itself at https://github.com/coala/projects/issues/497

[2018-03-20 09:12] palash25 commented on #2541
@adtac I looked into the files that you suggested and realized that my previous approach was indeed quite redundant.
- For a better approach, I think we can get all the directories of a project by leveraging the `_iter_relative_dirs` method in `Globbing.py`.
- Instead of computing the hash we can have a custom function to check if at least one of the files belonging to the directory under analysis

[2018-03-20 17:51] VickedVic commented on #5274
Okay, i've tried this the entire day, and it seems to works only in this way at the moment:

Setting up virtualenv with foo and activating scripts:

C:\> cd working_dir     #move into the dir where you want to create virtual environment for both
                                      #command prompt and powershell

now we will need to run the virtualenv using .\foo

C:\Path\to\your\directory>virtua

[2018-03-20 22:39] Makman2 commented on #4529
Yes.

[2018-03-20 22:46] Makman2 commented on #4999
We want only to get directories we have selected with a glob, not all subdirectories available :)

[2018-03-20 22:51] Makman2 commented on #5104
You sure? You haven't started yet on the issue and it's been a while ;)

[2018-03-20 23:52] ishanSrt commented on #5104
I want to work on this. I will do this probably the next day right after I submit proposal but don't assign me yet. If someone comes and asks for assignment before that, I will be happy to give this up 😉

[2018-03-21 04:27] palash25 commented on #4999
We can have separate methods in `DirectoryProxy` to return path of the directory matching the glob and another to return all the subdirs matching that glob which I need for implementing the ignoring unmodified directories feature.

[2018-03-21 11:23] palash25 commented on #5136
@Makman2 I wanted to know more about the design of this. Can all these flags reside in a separate module (`CacheModes.py`) as decorator functions and then we can use these decorators wherever we need them in our codebase to cache data like in `Core.py`

[2018-03-21 12:54] sangamcse commented on #4452
Ping @Makman2, @yash-nisar, I was looking for some test generators and found [testing with nose](https://nose.readthedocs.io/en/latest/index.html). Have a look https://nose.readthedocs.io/en/latest/writing_tests.html#test-generators. I am looking for your suggestions with this. 😃

[2018-03-21 14:37] Naveenaidu commented on #5219
@Jitender46559 Please go through the newcomer guide of coala. It'll help you understand the work flow at coala.

[2018-03-21 14:39] Jitender46559 commented on #5219
can you share a link plzz

[2018-03-21 18:16] Naveenaidu commented on #5219
http://api.coala.io/en/latest/Developers/Newcomers_Guide.html. The link to
the NewComer's Guide. Please also ask for the invitation link in the gitter
channel https://gitter.im/coala/coala

P . Naveen Naidu

On 21 March 2018 at 20:09, Jitender46559 <notifications@github.com> wrote:

[2018-03-21 19:35] Makman2 commented on #5136
Don't understand that quite^^ What do you want to cache like `Core.py`?

[2018-03-21 19:48] palash25 commented on #5136
I'm sorry that was poorly phrased.

I meant that whether the implementations of these flags will reside in a separate module or as functions in Core.py

[2018-03-21 20:53] Makman2 commented on #5136
Separate module, but could be located inside `core` module (not the `Core.py` file itself).

[2018-03-21 20:54] Makman2 commented on #5136
Or even inside `coalib.core.caching`/`coalib.core.cache` or so

[2018-03-21 20:57] Makman2 commented on #4452
I think that is not quite what is meant here, the actual challenge is to generate an initial test file from a bear run. So like in the issue description, it should be:
1. You've written your bear and you don't have a test yet
2. You run some script with your bear on some sample files
3. This script returns a ready `MyBearTest.py` file (or other files you can immediately use inside your test file)

[2018-03-21 21:28] Aquilll commented on #5195
@Makman2, It seems like no one is working on it. Could you assign this to me?

[2018-03-22 03:58] aashraybhandar1 opened #5281 "Have de-ansi-ifying flag on the Linter in the core so as to support colorised output."
Some tools produce colorised output, instead of individually writing custom logic to deal with it having a mechanism that supports many colorised output.

[2018-03-22 12:37] Nosferatul commented on #2541
Last year I wrote proposal for this project. I had some ideas of how to improve caching. I wanted to implement something like caching per section. caching-per-section. It will work like this: have a cache for every section that is requested by user to use cache on it. For example take three sections A, B, C where the first two have caching enabled and the last one doesn't. Say there's a file that

[2018-03-22 12:43] Nosferatul commented on #2541
And I had something in mind, how to store directories with a tree of directories but I read DirectoryProxy and I think it's a neat idea. If you want it I can give you the full proposal, maybe you can find something that can help you.

[2018-03-22 12:45] Siddhartha1234 commented on #2541
Hey @palash25 , you can PM me if you need any new idea , discuss your ideas or want to have a look at my last year's proposal.

[2018-03-22 12:57] jckw commented on #5201
Is this issue actually stale? The relevant PR is closed.

[2018-03-22 16:51] ayush9398 commented on #5150
sorry @pkcod , I am still working on this.

[2018-03-22 17:39] palash25 commented on #2541
@Siddhartha1234 I did pm you on gitter about a week ago :smile:

[2018-03-22 17:42] palash25 commented on #2541
I'd really appreciate it if you guys could share your proposal links with me @Nosferatul @Siddhartha1234

[2018-03-22 20:31] palash25 commented on #5188
Hey @Makman2 I found this module dill: https://github.com/uqfoundation/dill which is an extension of pickle and is under active development.

Your comment intrigued me about dill.

 Their documentation states that

What I understand from this is that dill saves the state of the pickled object across machines thus providing us the capability to transfer pickled objects across machine. Maybe this co

[2018-03-22 20:56] li-boxuan opened #5282 "No available attributes for Matlab/Octave language"
Cannot add ignore comments to Matlab/Octave file.

[    ]  1. (O)pen file
[    ]  2. (A)pply patch
[    ]  3. Print (M)ore info
[    ]  4. Add (I)gnore comment
[    ]  5. Show Applied (P)atches
[    ]  6. (G)enerate patches
[    ] Enter number (Ctrl-D to exit): 4
!    ! Please enter a value for the parameter 'language' (No description given.): **Matlab**
**[ERROR][16:52:13] Failed to execute the a

[2018-03-23 09:51] Nosferatul commented on #2541
@palash25 https://docs.google.com/document/d/15XZnCYjBPRK6_GgsiDryxRWYmaPos0GbZNIRIHpmSUQ/edit?usp=sharing

[2018-03-23 09:52] Nosferatul commented on #2541
feel free to ask me anything 👍

[2018-03-23 10:11] Nosferatul commented on #2541
Cache control flags is based on the idea to store files and directories differently by adding DirectoryProxy, if the value is None, the object is a file and if not, it's a list of DirectoryProxy objects (that means it's a directory)? If it's a file it means that it has a FileProxy object that will store data for bears or you had something different in mind?

[2018-03-23 16:25] li-boxuan commented on #5282
I would like to solve this.

[2018-03-24 10:26] gabi0348 commented on #5276
Hello! Can this issue be assigned to me?

[2018-03-24 10:48] raduklb commented on #5201
Hi! I would like to work on this issue!

[2018-03-24 15:50] #5270 closed

[2018-03-24 19:01] #2302 closed

[2018-03-24 22:17] li-boxuan opened #5286 "GitCommitBear writes redundant messages to stdout"
This has been moved to https://github.com/coala/coala-bears/issues/2374

[2018-03-24 23:17] rohanrk commented on #5286
I'd like to work on this. I think this issue should be moved to coala-bears if it involves GitCommitBear

[2018-03-25 02:29] #5286 closed

[2018-03-25 06:36] palash25 commented on #5266
Well if you think that the current name is fine then maybe we should close this?

[2018-03-25 07:24] jayvdb opened #5287 "commits should not include WIP prefix."
http://coala.io/commit should explicitly state that commits should not have a WIP prefix.

The PR title can include the WIP prefix, but ... we have labels for that.

[2018-03-25 07:33] HyeockJinKim commented on #5287
Hello! Can this issue be assigned to me?

[2018-03-25 07:51] jayvdb commented on #5287
ping me when you've accepted invite to join the org

[2018-03-25 08:00] HyeockJinKim commented on #5287
I joined.

[2018-03-25 09:40] manankalra commented on #4482
- `expected_result`: hardcoded in the test case, `observed_result`: the result that the bear under test yields - Right?
- If yes, in what cases will their length differ?
- If `check_results` asserts even if we provide a sliced-up list of the actual results that were obtained, won't this be misused?

[2018-03-26 20:15] rohanrk commented on #4690
I'd like to work on this

[2018-03-27 08:32] Vamshi99 opened #5290 "Documentation: Add guidelines on git merge conflicts"
Add guildelines on how to fix github PR merge conflicts in documentation.
Refer https://help.github.com/articles/resolving-a-merge-conflict-using-the-command-line/
label: difficulty/newcomer area/documentation

[2018-03-27 19:26] #5266 closed

[2018-03-27 20:27] Makman2 opened #5291 "Nextgen-Core: Raise exception in core.run() when bear or result-callback raised an exception"
Currently the core properly cleans up the failing bear and discards all dependent tasks and bears, and then swallows the exception.
However, coala (and other users) needs to know that something didn't work perfectly, for example returning an error code that some analysis was run, but couldn't complete due to errors.

I propose to write a custom exception that aggregates all those swallowed excepti

[2018-03-27 20:49] Makman2 commented on #4999
Sounds nice :smile:

[2018-03-27 21:03] palash25 commented on #5291
Seems interesting. Would like to give it a crack.

[2018-03-28 14:19] sanjeethboddi commented on #5219
assign this to me, please.

[2018-03-28 16:56] #5250 closed

[2018-03-28 19:35] sangamcse commented on #4864
@saurabhkgp21, working on it?

[2018-03-29 05:33] palash25 opened #5292 "Documentation: Add guidelines on how members should show their association to coala on online platforms"
Recently I came across a GitHub profile of a guy who mentioned himself as a "Maintainer @coala"
On further investigation, I found out that he was just a member of the newcomer team and wasn't even a part of the developers team. (This has already been reported to John)
We need to lay down some ground rules for our members on how they should show their association to coala on different websites. For

[2018-03-29 10:57] palash25 commented on #5292
This could be a difficulty/newcomer imo.

[2018-03-29 11:00] palash25 commented on #5292
This has been moved to meta issues: https://github.com/coala/meta/issues/111

[2018-03-29 11:00] #5292 closed

[2018-03-29 16:53] li-boxuan opened #5295 "Add support for writing ignore comment in some languages"
There is currently no ignore comment support for PHP.

[    ]  1. (O)pen file
[    ]  2. Add (I)gnore comment
[    ] Enter number (Ctrl-D to exit): 2
!    ! Please enter a value for the parameter 'language' (No description given.): php
[ERROR][12:50:23] Failed to execute the action IgnoreResultAction with error: There are no available attributes for this language..

Add corresponding attributes (e

[2018-03-29 17:00] li-boxuan opened #5296 "Add support for writing ignore comment in Fortran"
There is currently no ignore comment support for Fortran.

[ ] 1. (O)pen file
[ ] 2. Add (I)gnore comment
[ ] Enter number (Ctrl-D to exit): 2
! ! Please enter a value for the parameter 'language' (No description given.): Fortran
[ERROR][12:50:23] Failed to execute the action IgnoreResultAction with error: There are no available attributes for this language..

Add corresponding attributes (e.g. co

[2018-03-29 17:14] ishanSrt commented on #5295
can you provide with the test case?

[2018-03-29 17:47] li-boxuan commented on #5296
Just note that there are thousands of languages missing. They can be put in one issue.

[2018-03-29 17:53] li-boxuan commented on #5295
@ishanSrt My thought is sometimes you may want to add ignore comments when using LineLengthBear. This can happen to all languages I guess.

[2018-03-29 19:05] kwsohn commented on #5219
@jayvdb @Makman2 Is it possible that I could be assigned this issue? I'm trying to finish a newcomer issue so I can start moving onto more difficult issues. I've read through the newcomer's guide and already have Coala installed and my virtual environment set up.

[2018-03-29 20:24] palash25 commented on #5291
So I was thinking, collect all the exceptions in the `_finish_task` method in the list `recovered_errors` and then instantiate an object of the new Exceptions class in the `Session.run()` method if the list (`recovered_errors` ) is not empty
Does this seem okay?

[2018-03-29 22:23] li-boxuan commented on #5295
@jayvdb I am willing to do this.

[2018-03-30 13:41] Makman2 commented on #5223
Unassigning due to inactivity.

[2018-03-30 13:42] Makman2 commented on #5219
@kwsohn as you can see this issue is being worked on.

[2018-03-30 13:45] Makman2 commented on #4864
Unassigned due to inactivity.

[2018-03-30 13:51] Makman2 commented on #5062
The PR was actually ready but not yet reviewed, sorry you have to find another issue @raduklb :/

[2018-03-30 13:58] Makman2 commented on #5195
The PR is already approved.

[2018-03-30 14:06] #5062 closed

[2018-03-30 14:39] #5195 closed

[2018-03-30 15:38] kwsohn commented on #5225
@Makman2 If nityeshaga is no longer working on this issue, could it be transferred to me? It seems there are no commits that reference this issue and it was opened a month ago.

[2018-03-30 15:42] kwsohn commented on #5193
Could I be assigned this issue? Thanks!

[2018-03-30 17:28] Makman2 commented on #5225
Reassigned due to inactivity.

[2018-03-30 17:46] nityeshaga commented on #5225
Extremely sorry for the inactivity. I was a little busy with the GSoC proposal and my exams.

Anyway, @kwsohn , I think you might want to use `console_printer.print` along with `format_lines()` to make the changes I suggested.

[2018-03-30 17:47] Makman2 commented on #5131
Unassigning due to inactivity.

[2018-03-30 18:07] sangamcse commented on #4864
Please assign this to me. 😃

[2018-03-30 19:04] kwsohn commented on #5225
@nityeshaga Okay, thanks for suggestions! Much appreciated

[2018-03-30 20:18] #5123 closed

[2018-03-30 21:01] sanjeethboddi commented on #5193
assign this issue to me

[2018-03-31 04:14] li-boxuan opened #5297 "Add position number convention to documentation"
coala uses **one-based** row number and **zero-based** column number. This should be mentioned in the documentation.

Linter bear writers should be careful about that convention to avoid inconsistency. IMO this should be updated: http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html

[2018-03-31 09:20] Nosferatul commented on #3374
unassigned due to inactivity

[2018-03-31 09:20] gabi0348 commented on #3374
I want to work on this issue

[2018-03-31 09:51] gabi0348 commented on #4972
Can I be assigned on this?

[2018-03-31 13:06] newbazz commented on #3374
@gabi0348 ping @Makman2 on the gitter channel. link of the channel is https://gitter.im/coala/coala

[2018-03-31 19:46] Makman2 commented on #5296
I would rather like to have separate issues like this one.

[2018-03-31 19:47] Makman2 commented on #5296
I guess you want to be assigned like in https://github.com/coala/coala/issues/5295 :)

[2018-03-31 19:47] Makman2 commented on #5295
Oh actually we should file specific issues for specific languages, so we can progress better.

[2018-03-31 19:47] Makman2 commented on #5295
@li-boxuan Please file them for all languages missing you can think of :)

[2018-03-31 19:47] #5295 closed

[2018-03-31 20:23] li-boxuan opened #5300 "Add support for writing ignore comment in different languages"
When adding ignore comments, some languages are not supported. Some of them have stub definitions [here](https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions) with some attributes (e.g., comment delimiter) missing, while others even don't have stub definitions.

For example, you may want to add ignore comments when using LineLengthBear. This can happen to all languages I

[2018-03-31 21:39] li-boxuan opened #5301 "Run coala on specific files and use .coafile settings at the same time"
Currently, when we want to run coala on a specific file, we may do this:

`coala --bears PyLintBear --files test.py`

and with `--no-config` flag if there is a coala configure file in the current directory (to avoid using that configuration).

However, sometimes we may want to run coala on a specific file and use settings (e.g., bears) in .coafile at the same time. (This is what https://github.com

[2018-03-31 21:47] li-boxuan commented on #5301
Just noticed this issue was discussed here https://github.com/coala/coala/issues/1315
And solve by PR https://github.com/coala/coala/pull/1316
```--limit-files``` flag would solve this problem.

[2018-03-31 21:47] #5301 closed

[2018-04-01 12:12] Makman2 opened #5302 "Generate docs for aspects too when doing `setup.py docs`"
What https://github.com/coala/aspect-docs does right now should be embedded as a build-step in our `setup.py docs` command and put into the API docs.

Then we can archive/move to GitLab/delete that repo.

[2018-04-01 14:05] Makman2 commented on #5290
Why closing? Is it a duplicate?

[2018-04-01 16:55] Vamshi99 commented on #5290
@Makman2 There is documentation about this in the name of mid-rebase conflicts.
https://github.com/coala/coala/issues/4315

[2018-04-01 19:19] lalitmee commented on #5302
@Makman2 I would like to do this. but I need some help in understanding somethings. :innocent:
Actually I was having a look at `setup.py` just now. I think you are talkin about this code:
[code]

[2018-04-02 12:26] Makman2 commented on #5302
Yes that looks like the right location :+1:

[2018-04-02 12:38] Makman2 commented on #4482
Yes, if our expectation doesn't match the observation ;) I mean it's testing :)

What do you mean with "misused"? And if you provide a sliced-up list, the test would compare it to your slice, right?

[2018-04-02 12:49] Makman2 commented on #2541
The nextgen-core could also use the section itself as a caching-key, but that wouldn't make much sense because a task is considered to be the unit where the analysis is dependent on only. So it's in fact a mapping function from `f(task-object) -> results`.

The main reason behind this is again bear-dependencies: Consider bear-A needs bear-B. bear-B needs also some settings. Now if you change a set

[2018-04-02 12:53] Makman2 commented on #5281
Yeah that's actually a cool idea.

It's rather advised to try to disable colored output from the used tool though, but in case the tool can't do that this is a nice feature.

I'm also not sure if this is platform dependent. Could be quite tricky... @aashraybhandar1 you already have an idea for that?

[2018-04-02 12:55] Makman2 commented on #5277
I guess this can be done even in a separate repository.

@palash25 we'll create a new repo if you have a working prototype ;)

[2018-04-02 12:59] palash25 commented on #5277
I don't have a prototype currently (busy with the assigned issue), I was thinking to make about making a private repo and once it is ready you can fork it, but it will take some time can't do it now :smile:

[2018-04-02 13:00] Makman2 commented on #5277
We would rather like to take the ownership of such a repo to make it "officially supported and maintained" by our org. If you want to keep it it's also fine, but we won't fork it ;)

[2018-04-02 13:03] palash25 commented on #5277
Okay if I can get started on the prototype in a few days, then I will let you know and you can create a new repo to which I will push otherwise if I can't get time for this then you can un-assign me and let someone else do it.

[2018-04-02 13:16] Makman2 opened #5305 "Path-settings for bears: Better support for relative files"
From https://github.com/coala/coala-bears/issues/2373 (by @cbaines):

[2018-04-02 13:16] Makman2 commented on #5305
From @Makman2:

[2018-04-02 13:46] Makman2 commented on #5281
Okay maybe not that tricky, @jayvdb mentioned there are libraries for this.

[2018-04-02 15:22] nityeshaga opened #5306 "Improve message when adding an ignore comment in an unsupported language"
[code]
Saying that an ignore comment was added to the source code is misleading. I opened the file but no ignore comment was added to the source.

We should fix this bug.

[2018-04-02 18:27] jkaytser commented on #5305
Can this be assigned to me?

[2018-04-02 19:44] MacBox7 opened #5307 ".coafile: Replace default section with all"
Refer https://github.com/coala/coala-bears/issues/2397
difficulty/newcomer

[2018-04-02 19:58] Makman2 commented on #565
Reassigning due to inactivity.

[2018-04-02 23:35] jkaytser commented on #5205
May I be assigned this?

[2018-04-03 04:11] nityeshaga commented on #5205
Nope. I am assigned to it.

[2018-04-03 09:29] yukiisbored commented on #4736
Personally, I can confirm that OpenBSD, FreeBSD, and DragonflyBSD works. Just need to test on NetBSD.

[2018-04-03 16:49] Makman2 opened #5308 "NextGen-Core: Investigate alternative processing pools"
See https://wiki.python.org/moin/ParallelProcessing for alternative frameworks offering parallel computation API (for example "Ray").

[2018-04-03 19:56] Makman2 commented on #5306
Oh yeah this is weird.

[2018-04-04 00:49] ishanSrt opened #5309 "When not providing any section in coafiles remove warning message of the deprecated `Default` section"

[2018-04-04 04:13] li-boxuan opened #5310 "Result.py: Add docstring regarding the case that line or column is None"
The output generated by coala can have ```line``` being ```None``` or ```column``` being ```None```.

```column = None``` means there is an error with the whole line.
```line = None``` means the whole file. The reason behind it is that it's an unknown line means it can occur anywhere in the file.

All combinations with None values and numbers for line and column are allowed, except ```line=None```

[2018-04-04 07:17] nityeshaga commented on #5309
The `Default` section has been deprecated and has been replaced with `cli` now. This is the warning message that is being printed now:
[code]
IMHO this warning is necessary.
For more details you may want to check out this PR- https://github.com/coala/documentation/pull/537 ;-)

[2018-04-04 08:50] ishanSrt commented on #5309
sorry @nityeshaga didn't quite get you on that one

[2018-04-04 08:51] ishanSrt commented on #5309
When I am not providing any section, coala is automatically assuming it to be inside a default section and thus complaining that we have used it.

[2018-04-04 09:24] nityeshaga commented on #5309
So, if we remove the warning message like you said, then which section will such a setting belong to?
Maybe we should discuss this on gitter :wink:

[2018-04-04 09:29] ishanSrt commented on #5309
actually I want to be assigned to this and I am already preparing a PR, I am just calling it `NO SECTION PROVIDED`

[2018-04-04 10:42] manankalra commented on #4482
By "misused", this is what I meant:
- Considering https://github.com/coala/coala/issues/4482#issuecomment-316396733, providing a sliced-up list will enable the developer to use as less number of expected results as possible in order to test a bear.

[2018-04-04 20:49] yzgyyang commented on #4985
May I work on this one?

[2018-04-04 23:40] yzgyyang commented on #5307
Can I get assigned to this one? It's my first newcomer issue.

[2018-04-05 07:12] sangamcse opened #5314 "PULL_REQUEST_TEMPLATE.md: Change `cobot` to `corobo`"

[2018-04-05 19:51] sangamcse opened #5315 "Add more supports to php language definition"
Missing supports for [php in coala](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/definitions/PHP.py) that can be added are [keywords](http://php.net/manual/en/reserved.keywords.php#reserved.keywords), [comment_delimiter, multiline_comment_delimiters](http://php.net/manual/en/language.basic-syntax.comments.php#language.basic-syntax.comments), [indent_types](https://www.php-fi

[2018-04-06 03:02] li-boxuan opened #5316 "Invalid link to GitHub on coala API Documentation"
coala uses ```Read the Docs``` to generate API webpages. However, there is a floating window at the bottom right corner which displays a link to corresponding GitHub page.

For example, on the page [coalib package](http://api.coala.io/en/latest/coalib.html), you can click on the small floating window at the bottom right corner and it would display a window as follows:
<img src="https://user-images

[2018-04-06 03:29] jayvdb commented on #5316
Is there a readthedocs config setting we can use to de-activate the 'On GitHub' section for these generated files?

[2018-04-06 05:04] li-boxuan commented on #5316
@jayvdb Seems not. Relevant issue: https://github.com/sphinx-doc/sphinx/issues/2386

[2018-04-06 06:09] jayvdb commented on #5281
https://github.com/coala/coala-bears/pull/2162/files#r178936744 suggested https://pypi.python.org/pypi/ansicolors which has `strip_escapes`.

This worries me a little, because https://github.com/jonathaneunice/colors/ is a fork of https://github.com/verigak/colors , and neither are very active.

I havent found a better Python library yet, but there are [good ones in other languages](https://github

[2018-04-06 08:00] jayvdb opened #5318 "Revert use of invalid classifier for 3.4.4"
308e1e3b changed the setup.py classifiers to be:
[code]
However that is not a known classifier according to https://pypi.python.org/pypi?%3Aaction=list_classifiers

[2018-04-06 08:05] jayvdb opened #5319 "Check 3.4.3 is unsupported"
On travis builds, on master, there are a set of extra checks that certain versions are not installable.

308e1e3b3c69 lifted the minimum from 3.4 to 3.4.4 , so 3.4.3 should be added to the list of environments to check are not installable.

[2018-04-06 08:15] jayvdb opened #5320 "Remove setup.py of man pages on Windows"
https://github.com/coala/coala/issues/4894 added `man/man1` to `setup.py`, but who knows if it works, and `man/man1` for Windows is extra silly given it does nothing.

[2018-04-06 08:17] jayvdb opened #5321 "Test the man page"
#4894 added man/man1 to setup.py, but who knows if it works.  We should have some test logic which verifies that `man` can load the man page correctly

In the referenced issue, a much more complex solution was used by a team who generally verify their stuff works.
https://github.com/wkentaro/wstool/blob/68003a95c2bde7b26101a9621de814ff82a73b64/setup.py#L21

[2018-04-06 09:56] #5318 closed

[2018-04-06 10:00] jayvdb commented on #5277
Not relevant to this repo.
Create in https://github.com/coala/meta/ if you want.
Or just do it and let us know when you want it listed as part of coala's editor plugins.

[2018-04-06 10:00] #5277 closed

[2018-04-06 10:11] jayvdb commented on #5297
This should be mentioned in both https://github.com/coala/coala/blob/master/docs/Developers/Writing_Linter_Bears.rst and https://github.com/coala/coala/blob/master/docs/Developers/Writing_Native_Bears.rst

[2018-04-06 10:50] #5314 closed

[2018-04-06 13:28] himanshuc3 commented on #5307
@Makman2 Can I take this one?

[2018-04-06 13:34] himanshuc3 commented on #5176
@Makman2 I want to start working on this since no one's assigned!

[2018-04-06 14:04] jayvdb commented on #5307
I've assigned one newcomer issue to @himanshuc3 , so this one is still up for grabs

[2018-04-06 14:54] jayvdb opened #5326 "Add yaml file linting to .coafile"
See https://github.com/coala/coala-bears/blob/master/.coafile#L70

We need the same in this repo.  Also check files named .yaml (even if none exist, so we catch any future additions)

Also fix any problems found.

[2018-04-06 15:25] jayvdb opened #5328 "Delete rultor stuff"
.rultor.yml should be removed.

Also .misc/rultor_secrets.sh.asc

[2018-04-06 15:27] jayvdb commented on #5328
And `.gitignore` entry `rultor_secrets.sh`

[2018-04-06 15:28] jayvdb commented on #5328
And what the heck ...

`docs/Developers/Review.rst`, replace `@rultor merge` with `@gitmate-bot ff`

[2018-04-06 15:29] jayvdb commented on #4876
rultor merge replaced with gitmate-bot ff

doc fixup at https://github.com/coala/coala/issues/5328

[2018-04-06 15:29] manankalra opened #5329 "Diff.py: Update ``split_diff`` docstring"
In the docstring of ``split_diff`` function, [Line 323](https://github.com/coala/coala/blob/master/coalib/results/Diff.py#L323) should be updated to - `If ``-1`` is given, every change...`.

This is needed to prevent bear developers from using any arbitrary negative value (and use a common value) in order to ease out the process of implementing changes to the current behavior in future.

difficult

[2018-04-06 15:39] #4876 closed

[2018-04-06 15:53] jayvdb commented on #5307
See https://github.com/coala/coala-bears/pull/2402 ; which was the same change in a different repo

[2018-04-06 16:48] mohit2872 commented on #5329
can u assign this to me?

[2018-04-06 18:32] #5326 closed

[2018-04-07 01:34] jayvdb commented on #5107
@kriti21, as you have been working on jinja2 support, maybe you can get this one done?

[2018-04-07 01:36] jayvdb opened #5330 "Add language definition for Haskell"
https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions has no Haskell.
:-(

[2018-04-07 01:38] jayvdb commented on #3416
somewhat related, we dont have a language definition for Haskell.
I've created an issue for that at https://github.com/coala/coala/issues/5330

[2018-04-07 01:40] jayvdb commented on #3416
What is left to be done to complete this task?

[2018-04-07 03:07] #5276 closed

[2018-04-07 03:30] #5248 closed

[2018-04-07 03:47] jayvdb commented on #5309
Hold up, the "Default" section *is* the configuration settings which are before any section header.  Those settings are assumed to be in a "Default" section, even if they were not put in one.

The messages might be improved, but the implicit section name should not be changed, and a warning is needed, as this is going to be removed in the future.

[2018-04-07 03:50] li-boxuan commented on #5330
@jayvdb I'm willing to solve this.

[2018-04-07 04:02] li-boxuan opened #5331 "FilterTest.py: change import"
tests/parsing/FilterTest.py imports ```available_filters``` from ```coalib.parsing.FilterHelper```
[code]

IMO it should be changed into
[code]

ref:
FilterTest: https://github.com/coala/coala/blob/master/tests/parsing/FilterTest.py#L4
FilterHelper: https://github.com/coala/coala/blob/master/coalib/parsing/FilterHelper.py#L2
filters: https://github.com/coala/coala/blob/master/coalib/parsing/filter

[2018-04-07 04:08] kriti21 commented on #5107
Yes, please assign this to me @jayvdb

[2018-04-07 05:36] #5287 closed

[2018-04-07 06:14] #5219 closed

[2018-04-07 06:15] aashraybhandar1 commented on #5281
I would like to do this issue .. Will do it as soon as it is merged

[2018-04-07 06:40] #5282 closed

[2018-04-07 06:53] maweki commented on #3416
* Stack template
* Coala python template calling stack
* integration into coala-bears-create

[2018-04-07 08:26] jayvdb commented on #5281
Help them do a release by fixing any open issues in their repo

[2018-04-07 08:47] jayvdb commented on #5320
I suspect that `data_files = None` will suffice for this.  Appveyor tests the install on Windows, so we'll see if that works.

[2018-04-07 08:48] #5192 closed

[2018-04-07 10:01] jayvdb opened #5332 "Try grip"
Could be a replacement for pip.
https://github.com/Eugeny/grip/issues/2

[2018-04-07 11:45] kriti21 opened #5333 "Remove extra colon in Newcomers Guide"
See https://github.com/coala/coala/pull/5119
The grey colored patches over yellow background are due to the extra colon before the exemplar commands. Just remove one colon and it will look fine.

[2018-04-07 12:04] jayvdb commented on #5332
Except Eugeny/grip#3 makes it of limited usefulness to use.  But it wouldnt hurt using it on our Python 3.6 jobs if it works, as a way to provide it more testing and support it as much as possible.

[2018-04-07 12:24] Makman2 opened #5334 "NextGen-Core: persistent_hash - Cache calls?"
Using an `lru_cache` has the potential to speed up runs significantly that occur in the same process. This is especially useful for IDE integrations.

Evaluations have to be made implementing either Python's `lru_cache` with a sensible number or a different caching strategy so coala doesn't consume too many resources. A "switch" to turn on call-caching is maybe also an additional option. So a norm

[2018-04-07 12:45] jayvdb commented on #5334
Did you see my comments regarding using `attrs` for its persistent hashes?

[2018-04-07 14:15] #4992 closed

[2018-04-07 14:16] Makman2 opened #5335 "Move testfixtures requirement to test-requirements.txt"

[2018-04-07 14:24] alphadose commented on #5332
Grip is only compatible with python 3.6 and most of our CI use python 3.4 and 3.5.
Grip is a better version manager than the standard pip from my experience.
In order to utilize grip we have to shift our entire codebase to 3.6

[2018-04-07 14:27] jayvdb commented on #5332
No we dont. see my previous comment. We only need to change our 3.6 jobs to use grip instead of pip.

[2018-04-07 14:30] Makman2 commented on #5188
`attrs` uses the `repr` of objects, which won't work. Consider a class
[code]
and now you change `a`, the `repr` of the state before and after wouldn't change. `persistent_hash` would generate a different hash for them.

[2018-04-07 14:31] jayvdb commented on #5335
I was wondering about this.
It was introduced in b502ad61c.

But the problem is
[code]

[2018-04-07 14:32] jayvdb commented on #5335
@shreyans800755 might have some ideas on how we might be able to fix this.

[2018-04-07 14:36] jayvdb commented on #5188
iirc, it also uses metaprogramming, and lots of other voodoo, so it is possible that it works even if it looks like it wouldnt work.

[2018-04-07 14:59] alphadose commented on #5332
Ok should I create a new issue for shifting Travis python 3.6 job to grip ?

[2018-04-07 15:02] Makman2 opened #5336 "NextGen-Core: Investigate usage of `attrs` package to replace/enhance `persistent_hash` for caching"
Our requirements for a hash function:
- It works on all currently existing Python objects.
- It changes when the "content" of an instance changes (i.e. when fields change that identify the instance, for example a complex number: If the real or imaginary part changes, the hash needs to change too. This doesn't count for "cache" values, i.e. imagine you want to speed up repeated calls to the "abs()"

[2018-04-07 15:02] Makman2 commented on #5336
CC @jayvdb

[2018-04-07 15:06] Makman2 commented on #5188
Their hashing works on all `attr`-annotated classes, because the `repr` function for them (that is autogenerated) contains all fields and their values. So once a value changes -> `repr()` changes -> `hash()` changes. But `hash()` wouldn't change on classes not annotated with `repr()` (because 1. the default `__hash__` implementation just doesn't use `repr()` but the instance address/id 2. because

[2018-04-07 15:27] palash25 commented on #5188
@Makman2 should I continue my work on the PR and also investigate the use of attrs side by side or should I abandon this PR?

I think if I can get the tests to pass on this PR we can use it as a temporary solution till someone implements attrs in place of persistent_hash (if possible) in the future.

[2018-04-07 15:49] Makman2 commented on #5335
Ahhh... sorry I missed that one.

However this is fixable by moving the test to an actual test file. This is not very elegant, but the easiest.

[2018-04-07 16:03] Makman2 commented on #5188
Just continue and ignore `attrs`, this would be part of #5336 now.

[2018-04-07 16:12] Makman2 commented on #4482
I don't understand that.

[2018-04-07 18:09] #3259 closed

[2018-04-08 02:44] li-boxuan opened #5337 "Linter_Bears_Advanced.rst: Wrong indentation"
See https://github.com/coala/coala/blame/master/docs/Developers/Linter_Bears_Advanced.rst#L123
Sample code uses wrong indentation
[code]

[2018-04-08 04:34] ishanSrt opened #5338 "add .ignore to .gitignore"
these files are used my many search tools to search through code

[2018-04-08 06:45] newbazz commented on #5310
@li-boxuan do you want to work on it?

[2018-04-08 06:48] li-boxuan commented on #5310
@newbazz I'm currently working on other issues. Take it if you want. :-)

[2018-04-08 08:48] jayvdb commented on #5176
This is a bit more difficult because of `.misc/check_setuptools.py`

[2018-04-08 08:57] jayvdb commented on #5338
which tools?

[2018-04-08 08:58] sangamcse commented on #5239
[code]
In my system, it is a package which was updated recently with MacOS 10.13.2 Developer Beta update.

[2018-04-08 09:04] ishanSrt commented on #5338
like `the_silver_searcher`, `ack` and many sublime text plugins use this file to ignore files/directories when searching for a string in codebase

[2018-04-08 09:05] ishanSrt commented on #5338
I think some grep extensions use this too

[2018-04-08 09:10] jayvdb commented on #5239
right.  That is vim, not vi.  You also have a executable called `vim` I assume.  Most systems now alias vi to vim, or have a `vi` which is a slightly cut down version of `vim`.  Someone using vim should specify they are using vim as their editor.

If we want to help people who are using vim masquerading as vi, and dont know what to call it, we could have a feature which informs them to use `vim`.

[2018-04-08 09:12] jayvdb commented on #5281
They did a release of 1.0.2

[2018-04-08 09:13] jayvdb commented on #3416
are there any small tasks which can be started now before the bigger project is started?

[2018-04-08 10:47] #5244 closed

[2018-04-08 11:09] jayvdb commented on #4617
@userzimmermann , unassigning just to prevent it getting stuck, but you know this stuff well so please reclaim it if you're going to be able to complete it (otherwise just help someone else finish it ;-))

[2018-04-08 12:14] jayvdb opened #5340 "CollectFilesTest.test_file_invalid unnecessary parameters"
The following can be removed.

[code]

[2018-04-08 12:17] jayvdb opened #5341 "Processing.instantiate_processes"
The None in here is unnecessary:

[code]

[2018-04-08 12:24] ishanSrt opened #5342 "absolute paths not working when provided through CLI or config file"
coala seems to treat them always as relative and thus leads to error

[2018-04-08 13:36] anctartica opened #5343 "Model flow language definition"
This is required for supporting JSStandardBear settings.

Flow is a derivative of a specific javascript version, therefore care needs to be taken.

[2018-04-08 14:46] Makman2 commented on #5342
Where did you provide such paths?

[2018-04-08 14:48] ishanSrt commented on #5342
to the files param  @Makman2

[2018-04-08 14:49] ishanSrt commented on #5342
[code]

[2018-04-08 15:07] #5273 closed

[2018-04-08 15:38] #5320 closed

[2018-04-08 16:04] Polcat000 commented on #5337
@li-boxuan can I take a crack at this?

[2018-04-08 16:40] li-boxuan commented on #5337
@Polcat000 Only maintainers can assign issues. You can ask for some maintainer to assign this issue to you at Gitter channel: https://gitter.im/coala/coala. And then you can start working on that.

[2018-04-08 16:54] ishanSrt opened #5345 "Shouldn't be getting Executing section cli... when [cli] is empty"

[2018-04-08 16:54] Makman2 commented on #5342
Ah seems it's windows. Have you tried on Linux too?

[2018-04-08 16:54] ishanSrt commented on #5342
I am on a Mac, can try on vm though

[2018-04-08 17:24] Makman2 opened #5346 "linter: Implement new parameters to control line-index and column-index conversion to handle zero-based and one-based conventions"
Many tools have different conventions regarding what is the first line or column. Some emit `0`, some emit `1`.

Acceptance criteria:
- `@linter` accepts argument(s) that controls the conversion of zero-based line/column indexes. When enabled, zero-based indexes are incremented by 1 to match coala's (one-based) convention. The user is able to control column- and line-conversion individually.
- The

[2018-04-08 23:37] #5218 closed

[2018-04-08 23:51] jayvdb commented on #5328
`.misc/check_maintainership.sh` also needs to be removed

[2018-04-09 00:00] #5319 closed

[2018-04-09 00:03] jayvdb commented on #5319
Here is the check running: https://travis-ci.org/coala/coala/jobs/363911891

[2018-04-09 00:06] jayvdb commented on #5319
It passes.  yay.

[2018-04-09 01:24] jayvdb opened #5348 "Reactivate osx job on master only"
https://github.com/coala/coala/issues/3611 entirely removed osx.

Would be good to reactivate,  but not run on PRs

[2018-04-09 01:58] Jitender46559 commented on #5274
I want to work on this issue can you please assign me

[2018-04-09 08:48] sachinmukherjee commented on #5341
Is this issue is all about removing few lines of code?

[2018-04-09 08:49] sachinmukherjee commented on #5340
Is this issue is all about removing few lines of code?

[2018-04-09 10:27] riddhyasona commented on #5341
@jayvdb Sir, I am new to coala and open source projects. Can you assign this issue to me and explain the work details?

[2018-04-09 10:33] riddhyasona commented on #5331
@li-boxuan and @jayvdb Sirs, I am new to coala and open source. Can I be assigned this issue and can you explain me the work detail and how to set up coala locally on virtualenv? I am currently getting a huge log of errors but setup gets completed

[2018-04-09 10:45] palash25 commented on #5331
@riddhyasona any problems related to installation should be asked and not on the issue thread on the **coala/coala** gitter channel we would be able to help you better there .

And also no need to call anyone *Sir* here we are all peers.

[2018-04-09 11:28] sachinmukherjee commented on #5333
@kriti21 can you please explain how to work on this issue?

[2018-04-09 11:35] sachinmukherjee commented on #5307
@jayvdb can I solve this issue?

[2018-04-09 12:37] kriti21 commented on #5333
@sachinmukherjee Did you go through the PR link given in the description ? Try those changes on your system locally and you will get the problem. In case you need any help, feel free to comment here. :)

[2018-04-09 17:56] zxiiro commented on #5157
Bump, hoping to get some progress here.

@Makman2 Thanks for the suggestion I'll see if that's something I can do, but having a real release would be nice.

[2018-04-09 19:35] sangamcse opened #5354 "Writing_Linter_Bears docs for global-linter-bears produce TypeError: `self` is missing in `create_arguments` signature"
In [Writing_Linter_Bears.html#global-linter-bears](http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html#global-linter-bears), it is written `create_arguments(config_file)`, but it gives TypeError written below.
[code]

status/needs discussion

[2018-04-10 06:14] li-boxuan opened #5355 "coala core needs a warning/error if it sees a 0 col or row"
coala uses one-based row number and one-based column number (see https://api.coala.io/en/latest/coalib.results.html#module-coalib.results.Result).

However, some bear may violate this rule, e.g. [PyLintBear](https://github.com/coala/coala-bears/issues/2393).

coala core should produce a warning or an error if it sees a 0 column or row.

[2018-04-10 12:29] ishanSrt opened #5356 "ambiguous comment"
https://github.com/coala/coala/blob/ca86eefe1f5b972f22f5ea793476445fd037184c/coalib/settings/ConfigurationGathering.py#L487

no such thing as `default_list`

[2018-04-10 12:32] jayvdb commented on #5356
Can you dig into the `git blame` to find out when `default_list` was a thing, so we can see why this comment existed.

That will help determine what the appropriate course of action is.

[2018-04-10 12:34] ishanSrt opened #5357 "Why is there a need to collect `sys.argv[1:]` when the args have already been parsed once with `default_arg_parser().parse_args()`"
This may be more of a doubt and less of an issue
https://github.com/coala/coala/blob/ca86eefe1f5b972f22f5ea793476445fd037184c/coalib/settings/ConfigurationGathering.py#L442-L446
https://github.com/coala/coala/blob/ca86eefe1f5b972f22f5ea793476445fd037184c/coalib/settings/ConfigurationGathering.py#L485-L488
so `arg_list` are the args provided while testing, `args` are the args that are actually pars

[2018-04-10 12:39] ishanSrt commented on #5357
also considering the fact that the `args` is also being passed along to successive functions

[2018-04-10 12:44] ishanSrt commented on #5356
seems it was never anything, added out of nowhere in https://github.com/coala/coala/commit/41b99b81ba8f49793bbed0ef6c194cd4d7e943a2

[2018-04-10 13:13] sangamcse opened #5358 "setup.py: Add `@coala.io` domain mail ID"
https://github.com/coala/coala/blob/master/setup.py#L88

difficulty/newcomer

[2018-04-10 13:13] jayvdb commented on #5356
Yup. Agreed there doesnt seem to be much to understand from the history.
Ping @AbdealiJK

[2018-04-10 13:14] #4952 closed

[2018-04-10 13:14] #5328 closed

[2018-04-10 16:48] jayvdb opened #5359 "Add module docstrings"
coalib usually doesnt have any module docstrings.
They are used to describe the content & scope of the module succinctly.

[2018-04-10 16:52] anctartica opened #5360 "Add Markdown to init.py"
Need to include it in init.py to use Markdown definition.

[2018-04-10 16:59] palash25 commented on #5359
Do you want the docstrings to each module added as a separate commit or just one commit for all the module docstrings?

Also would like to be assigned to this (this will help me get a deeper understanding of all the core modules).

[2018-04-10 23:11] AbdealiJK commented on #5356
https://github.com/coala/coala/commit/41b99b81ba8f49793bbed0ef6c194cd4d7e943a2

It's a 2-line comment:

    Note: arg_list can also be []. Hence we cannot use `arg_list = arg_list or default_list`

There were some discussions at the time about the fact that we should use `a  = a or <default value>` instead of mutable argument.

Hence this was a note that this should NOT be changed to `a  = a or <d

[2018-04-11 01:56] sachinmukherjee commented on #5360
Is this issue is open?

[2018-04-11 05:55] jayvdb commented on #2332
Unassigned due to inactivity and currently has quite a few other PRs still in progress.

[2018-04-11 09:24] pareksha opened #5364 "Fix typo in docstring of Smell.py"
There is a bracket typo at ``coalib/bearlib/aspects/Smell.py``
Change ``public class Customer…`` to ``public class Customer {``
Newcomers are welcome for this issue.

[2018-04-11 10:56] ishanSrt opened #5365 "Add functionality of removing the need to provide values to settings which already have a default value with optional arguments in config files or sections created through CLI"
currently they are treated as a part of the value to the earlier setting which makes the value to the earlier setting invalid at all times

[2018-04-11 13:11] anctartica commented on #5360
@jayvdb please assign this to me

[2018-04-11 13:50] sachinmukherjee commented on #5364
@jayvdb please assign me this issue

[2018-04-11 15:12] sachinmukherjee commented on #5354
@jayvdb can I fix this issue?

[2018-04-11 15:56] sangamcse commented on #5354
@sachinmukherjee, this issue is yet to be discussed. Can you find another issue?

[2018-04-11 17:14] sachinmukherjee commented on #5354
@sangamcse ok sir

[2018-04-11 21:02] sangamcse opened #5366 "Typo in Constants.py and ConfigurationGatheringTest.py"
Line 99 of [ConfigurationGatheringTest.py](https://github.com/coala/coala/blob/master/tests/settings/ConfigurationGatheringTest.py#L99)
Line 118 of [Constants.py](https://github.com/coala/coala/blob/master/coalib/misc/Constants.py#L118)

difficulty/newcomer

[2018-04-11 21:03] jschwarzwalder commented on #5364
@pareksha would you like to apply this fix?

[2018-04-11 23:02] jayvdb commented on #5335
cripes; `textfixtures` is also a dependency of coala_utils
see https://gitlab.com/coala/coala-utils/commit/04a470cceba30dedafdc19539424df9a5e73ca14

[2018-04-12 05:57] ishanSrt opened #5368 "Take a look at debug messages (`-V`) for further information should not appear when already in debug mode"

[2018-04-12 06:02] jayvdb commented on #5368
Im pretty sure I have already raise this.

[2018-04-12 06:03] li-boxuan commented on #5366
The first link should be https://github.com/coala/coala/blob/master/tests/settings/ConfigurationGatheringTest.py#L99

[2018-04-12 06:12] sangamcse commented on #5366
Done @li-boxuan

[2018-04-12 07:01] Naman-Garg-06 commented on #5366
https://github.com/coala/coala/pull/5370
https://github.com/coala/coala/pull/5369
I have corrected deafult to default (if that was the typo), and requested a pull request.

[2018-04-12 07:07] Naman-Garg-06 commented on #5364
https://github.com/coala/coala/pull/5371
Have corrected the bracket typo and requested for a pull request.

[2018-04-12 07:08] sangamcse commented on #5364
@Naman-Garg-06, stop creating Pull Request for all newcomer issues.

[2018-04-12 07:09] Naman-Garg-06 commented on #5366
Also I don't know that whether these issues are assigned to individuals. I would love if anybody helps me out in this.

[2018-04-12 07:12] sangamcse commented on #5366
These are not assigned to anybody but you should have gone through the newcomer guidelines before creating any Pull Request and you didn't asked for any issue, you just created PR for the issues.

[2018-04-12 07:21] sangamcse opened #5372 "PycodestyleBear checks are breaking the circleci and travis builds"
New checks are added in `pycodestyle 2.4.0` release on (2018-04-10) which are W504, W605, W606, and E252. These checks are breaking the builds of `coala`.
Here is a snapshot of the failure
[code]

It can be fixed by adding these new checks to `pycodestyle_ignore` list under `autopep8` section of `.coafile`.

Here is the build links. https://circleci.com/gh/coala/coala/16850 , https://travis-ci.org

[2018-04-12 07:27] ishanSrt commented on #5368
duplicate of https://github.com/coala/coala/issues/3793

[2018-04-12 07:27] #5368 closed

[2018-04-12 08:05] jayvdb commented on #5372
Please include details of the problem.  Assume circle and travis go offline permanently tomorrow.

[2018-04-12 08:34] sangamcse commented on #5372
I can fix it. Please assign me. 😃

[2018-04-12 08:41] jayvdb commented on #5372
Not until you've done proper analysis, and there is a agreed upon direction to take.  Very likely anyone using coala bears master is facing these problems, not just us, so fixing the bear may be far more important than just fixing `coala/coala` by *ignoring* these issues.  Since when has ignoring problems been the first good option..?

Firstly, what is our bear dependency requirement?  Why does it

[2018-04-12 08:45] sangamcse commented on #5372
The builds are throwing three errors only.

[2018-04-12 08:52] RaiVaibhav commented on #5372
Please add travis and Circle CI build link.

[2018-04-12 09:06] jayvdb commented on #5372
Can someone check bears builds and report back if they have additional errors.

[2018-04-12 09:11] Makman2 commented on #5335
Ugh okay that's uncool... Maybe we create a coala-testing repo or coala-testing-utils?

[2018-04-12 09:25] jayvdb commented on #5335
a new repo sounds good, but the fundamental problem is that coalib has test helpers in it, so all that needs to be moved out also.

[2018-04-12 09:32] sangamcse commented on #5372
No

Here is an example which I think is not detected correctly https://travis-ci.org/coala/coala-bears/jobs/365232659#L5347

[2018-04-12 09:47] sangamcse commented on #5372
E252 is not required but recommended.
@jayvdb, https://github.com/PyCQA/pycodestyle/issues/692#issue-265378327

[2018-04-12 09:51] jayvdb commented on #5372
travis links are for evidence, but I need to see the problem reported here in GitHub for our records.

[2018-04-12 09:57] jayvdb commented on #5372
a) that is coala-bears, but more importantly ... the technical answer is bear requirements includes `pycodestyle~=2.2` , so 2.4 is acceptable, which allows new rules to turn up unexpectedly.

If all the new rules are valid, then that may be ok.  If there are bugs in 2.4, we should prevent installation of 2.4

[2018-04-12 10:01] sangamcse commented on #5372
[code]
IMO, W605 is not detecting correctly.

[2018-04-12 10:11] sangamcse commented on #5372
I found that:
- E252 check is recommended rule and `pycodestyle` is detecting it properly
- W504 checks line breaks **after** logical operators and is inverse of W503(Check for line breaks **before** logical operator)
- W605 is having a problem https://github.com/coala/coala/issues/5372#issuecomment-380748178
- W606 is for new syntax which is released with Python 3.7

[2018-04-12 10:28] sangamcse commented on #5372
https://pycodestyle.readthedocs.io/en/latest/developer.html#id2

When I used `pycodestyle somefile.py`, It didn't checked W504 but when I used `pycodestle somefile.py --ignore=E501`, it checked for W504.
So it should be added in ignore list if we are allowing `pycodestyle 2.4`.

[2018-04-12 10:44] jayvdb commented on #5372
cross-check, double-check, look for issues upstream, if not report any problems (but maybe 'ask a friend' to double check before reporting)

This is a blocker.  Nothing else matters.  We should not allow our bear to be introducing new rules which are broken.

[2018-04-12 17:02] sangamcse commented on #5372
W605 is valid and also detecting correctly.
This is what I cross-checked
[code]
pycodestyle referred https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals

In [tests/parsing/LineParserTest.py#L125](https://github.com/coala/coala/blob/master/tests/parsing/LineParserTest.py#L125)
[code]
pycodestyle detected: W605 invalid escape sequence `\.`
The valid code is
[code]
Con

[2018-04-12 17:47] alphadose commented on #5335
@jayvdb how about we add the source code of logcapture itself to the coala_utils repo https://github.com/Simplistix/testfixtures/blob/master/testfixtures/logcapture.py ? That would remove the dependency on testfixtures in the production build. Not very elegant but the easiest one.

[2018-04-13 03:49] li-boxuan opened #5373 "Typo in DocstyleDefinitionTest, TextPositionTest & TextRangeTest"
instantation -> instantiation

https://github.com/coala/coala/blob/master/tests/bearlib/languages/documentation/DocstyleDefinitionTest.py#L20
https://github.com/coala/coala/blob/master/tests/results/TextPositionTest.py#L8
https://github.com/coala/coala/blob/master/tests/results/TextRangeTest.py#L9

[2018-04-13 03:55] ishanSrt opened #5374 "Developers should have the option to run coala even if the files haven't changed at all"
not an extra tag which has to be provided always, something like give it once and forget it.
currently its frustrating to change the file everytime you run coala to test something,
of course one can use `sed` but that too gets irritating if you have to change the files being tested upon repeatedly.

[2018-04-13 04:00] li-boxuan commented on #5374
Did you try `--flush-cache` option?

[2018-04-13 04:01] #5374 closed

[2018-04-13 04:07] ishanSrt commented on #5374
@li-boxuan what does it mean by the `DEBUG` message:
[code]

[2018-04-13 04:12] li-boxuan commented on #5374
@ishanSrt You mean `messages from previous runs may not appear`? I don't know, it does not make much sense to me. :sweat_smile:

[2018-04-13 05:43] jayvdb commented on #5372
So how many errors of each type do we have?

I'm pretty sure we would want to permanently ignore `W504` wrt logical binary operators `and` / `or`, as a rather senseless switch for no specific gain.  But does `W504` cover any other scenarios than `and` / `or`?  i.e. non-logical binary operators?

`W605` would be useful newcomer issues (and thus should be ignored initially), as they provide learning

[2018-04-13 11:37] sangamcse commented on #5372
No. of errors for:

- E252 = 180
- W504 = 120
- W605 = 34

---
No. (Ref: [PyCQA/pycodestyle#502/files](https://github.com/PyCQA/pycodestyle/pull/502/files#diff-f7a99c5fc1f03c3939f0b630fe0c20f6R1140))

[2018-04-13 12:08] harshhx17 opened #5375 "Change .coafile as circle.yml no more exists"
In the yml section of the .coafile we have circle.yml which no more exists
Change it to its new path

[2018-04-13 12:08] harshhx17 commented on #5375
@jayvdb  Can you please assign this issue to me

[2018-04-13 12:44] harshhx17 opened #5376 "Caching in circleci"
The present circleci configuration has wrong directories to save as cache

Found a cache from build 16771 at dependency-cache-MfIdcOGAB6o5lgJk3zgUtho6OdSTiSuos39lCQTkx_U=
Size: 2.1 MB
Cached paths:
  * /home/circleci/project/$HOME/nltk_data
  * /home/circleci/project/docs/_build
  * /home/circleci/project/$HOME/.cache/pip

Only one of these paths exist

[2018-04-13 12:46] harshhx17 commented on #5376
@jayvdb  Can this issue be assigned to me?
I am currently working on the circle build for coala-bears, so this would be just right for me...
I will get to understand circle better for that issue

[2018-04-13 13:55] corinv commented on #5373
I'd happily pick this up, if possible.

Would a maintainer assign me?

[2018-04-13 14:06] jayvdb commented on #5335
No. Then we have to maintain it, and we still have to worry about [its deps](https://github.com/Simplistix/testfixtures/blob/master/setup.py#L36).

[2018-04-13 19:15] nityeshaga opened #5378 "Update the catalog of available actions when a user chains the actions together in input"
During a coala interaction session, the [`acquire_actions_and_apply()` function](https://github.com/coala/coala/blob/master/coalib/output/ConsoleInteraction.py#L146) updates the catalog of actions available to the user after the successful application of each action. This way the set of actions available to the user is based on the current status of the `Result` object. It does so by running [an `

[2018-04-13 19:16] nityeshaga commented on #5378
I think I can fix it. Can I be assigned to it?

[2018-04-14 01:02] jayvdb commented on #5375
@harshhx17 , this is a newcomer issue.

[2018-04-14 01:05] jayvdb commented on #5366
I've invited @Naman-Garg-06 to the org so we can assign him

[2018-04-14 01:25] jayvdb opened #5379 "Add output mode to emit a unified diff"
It can be useful to use coala to obtain a patch file of fixes that have been found by the bears.

For simplicity, unified diff output format should be the only format initially.

`--json` will be a bit of a guide on how to do this.

One way to solve this is to write a converter of the JSON output to a unified diff format, discarding all the non-fix results.

[2018-04-14 02:31] jayvdb commented on #5372
Note there is a bug in W605.  See https://github.com/coala/coala-bears/issues/2425

The answer is yes.  It includes many many times of binary operators.  I suspect they skip `%` which could be binary or non-binary, and the python language makes it hard to determine which type it is statically, as the difference is mostly the types of the args from memory.

[2018-04-14 03:41] harshhx17 commented on #5375
Oh! cool

[2018-04-14 03:56] jayvdb commented on #5372
https://travis-ci.org/jayvdb/coala/jobs/366389285 is a log of only the W504.

Most concerning is the use of `+` for string concatenation.

`git grep "' +$"` also shows these.

What we are looking for is whether any of these W504 are not correct according to the pep8 style guide.

https://travis-ci.org/coala/coala-bears/jobs/366389709 also shows the same for the bears repo, which gives us another s

[2018-04-14 08:56] jayvdb commented on #5372
Due to https://github.com/coala/coala-bears/issues/2431 , there is nothing we can do here easily except add them all to the ignore list.

[2018-04-14 08:58] jayvdb commented on #5372
After this is merged, we can create a high importance low difficulty issue for each of the escape sequence problems.

And a low importance low difficulty issue to fix all of the `E252` (one big patch; removing the ignore at the same time)

And `W504` is not worth ever worrying about.

[2018-04-14 09:33] #5372 closed

[2018-04-14 09:39] sangamcse opened #5382 "Remove E252 from ignore list and fix the missing whitespaces around parameter equals"
As discussed in https://github.com/coala/coala/issues/5372#issuecomment-381314867

[2018-04-14 09:49] #5376 closed

[2018-04-14 10:05] #5373 closed

[2018-04-14 10:08] sangamcse opened #5383 "Remove W605 from ignore list and fix invalid escape sequence"
As per discussed in https://github.com/coala/coala/issues/5372#issuecomment-381314867

https://github.com/coala/coala-bears/pull/2432 can help.

importance/high
difficulty/low

[2018-04-14 10:30] #3903 closed

[2018-04-14 11:54] #5360 closed

[2018-04-14 13:47] sachinmukherjee commented on #5307
@MacBox7 created a PR at https://github.com/coala/coala/pull/5384 can you review it?

[2018-04-14 15:04] jayvdb commented on #5341
This is a http://coala.io/newcomer issue.  Remove the `None` as shown in the issue description.  Follow http://coala.io/commit very carefully, otherwise your patch will be rejected by a bot.  You'll have a chance to fix it up, but repeated failure will result in the issue being assigned to another newcomer.

[2018-04-14 15:41] #5337 closed

[2018-04-14 19:37] nityeshaga opened #5385 "NextGen-Settings: Investigate packages to create `Section` objects immutable and hashable"
We need immutable sections to ensure that bears are not allowed to modify them to avoid side effects. Such an immutable section would implement comparison, hashes, etc.

cc @Makman2 @jayvdb

[2018-04-14 19:40] nityeshaga commented on #5385
[hashable_collections](https://pypi.python.org/pypi/hashable_collections) looks like a viable candidate to me. It supports hashing of mutable dicts and lists. Also, we can make classes derived from it as immutable by simply overriding the `__setattr__()` method.

[2018-04-14 19:43] nityeshaga commented on #5385
I guess I should have made the title as `NextGen-Core Settings`. Is that right @Makman2 ?

[2018-04-14 19:45] palash25 commented on #5385
I'm not sure if we can use https://github.com/AkshatM/hashable_collections
The last commit was in 2015 we can't have an unmaintained external module as a dependency

[2018-04-14 19:47] palash25 commented on #5385
Also we have our own module called `persistent_hash` for the nextgen core which I'm currently working on. If we need more support for hashing we should think about enhancing `persistent_hash` instead of adding an unmaintained dependency.

[2018-04-14 19:59] palash25 commented on #5385
Actually John suggested to use [attrs](https://github.com/python-attrs/attrs/) for persistent_hash but we are still investigating that here https://github.com/coala/coala/issues/5336

[2018-04-14 20:01] Makman2 commented on #5385
@palash25 that issue is not about supporting caching only. In general we don't want to have modifiable sections inside bears. However, the choice of a good package providing easy support to create immutable classes is an important choice, as we're probably going to use it everywhere then. So that's why this needs a bit of discussion.

If `hashable_collections` is really that old, we should reconsi

[2018-04-14 20:01] Makman2 commented on #5385
Does `attrs` support generating immutable classes?

[2018-04-14 21:22] Makman2 opened #5386 "NextGen-Core: Auto-daemonize coala to speed up subsequent runs"
This would exactly work like gradle's daemon feature: If you spawn coala multiple times, it tries to run a coala-daemon, that keeps things in memory. This avoids cache reloads and file reloads for unchanged files.

[2018-04-15 01:47] jayvdb commented on #5386
Can we first try boring plain daemon mode :p

[2018-04-15 05:41] palash25 commented on #5386
Sounds cool

[2018-04-15 06:01] palash25 commented on #5386
@Makman2 shouldn't the Nextgen milestone be added to it?

[2018-04-15 06:25] RaiVaibhav commented on #5155
@Makman2  @jayvdb @virresh  If I understand correctly than why can't we directly [use IGitt (_get_keyword_issue)](https://gitlab.com/gitmate/open-source/IGitt/blob/master/IGitt/Interfaces/MergeRequest.py#L178)
and accordingly go to the the issue url and find their labels directly ( and of course we can check whether `issue` is a `PR` or not ), I don't understand whether you want this functionality

[2018-04-15 06:32] RaiVaibhav commented on #5155
And somehow if we don't have any feature in IGitt then IMO adding that feature in IGitt will be my first priority so that I can use with a simple one line of code :smiley:

[2018-04-15 13:02] jayvdb commented on #5307
Oh I see you've created a new PR.
Please dont do that again.

[2018-04-15 13:07] sachinmukherjee commented on #5307
@jayvdb I'm completely messed up with git commands. Sorry

[2018-04-15 14:02] corinv commented on #5382
There are 180 infractions of type E252, so probably best to automate this.

It should be easy enough to write a script to sort this out, I'd be happy to take this on.

[2018-04-15 14:27] ishanSrt commented on #5342
silly me 😅
need to provide a front slash before `Users/ishansrivastava/...`, atleast thats how it works in python and by default wildcards like `~` are not recognized, can add it as a feature, or otherwise close this issue

[2018-04-15 14:32] nityeshaga commented on #5385
Nice catch @palash25 ! :+1:

[2018-04-15 14:40] sangamcse opened #5389 "Remove E133, E242 and E303 from pycodestyle_ignore list of .coafile"
These 2 checks are important to select and will not affect any code.

difficulty/newcomer

[2018-04-15 15:45] jayvdb opened #5390 "test_coala_with|without_color fails"
Rather random failure in these two tests

https://circleci.com/gh/coala/coala/16945

For without color,

[code]

[2018-04-15 16:10] #5201 closed

[2018-04-15 16:10] sangamcse opened #5391 "Remove E241 check from pycodestyle_ignore list"
E241 check is for multiple spaces after ',' and is important code style check. This is should not be ignored. There is one line of code change required after removing this check. Both should be done on this issue.

difficulty/newcomer
type/codestyle

[2018-04-15 16:12] sangamcse commented on #5389
Remove E242 also.

[2018-04-15 17:04] beisekenov commented on #5364
@jayvdb, @Makman2 can I work on this issue?

[2018-04-15 18:26] Makman2 commented on #5342
... :sweat_smile:

Please file a new issue, and test it thoroughly before you report a "bug" ;)

[2018-04-15 18:38] Makman2 commented on #5157
Sadly @Mixih hasn't continued since then :/ We're a bit covered in GSoC work, so I hope you don't mind that it can take a bit longer.

For sake of completeness, to install coala from `release/0.12`:
[code]

[2018-04-16 00:06] jayvdb commented on #5335
Note that this is occurred before the 0.12 branch.
https://github.com/coala/coala/blob/release/0.12/requirements.txt#L12

And happened only in the coala_utils 0.7.0, which is not installed by the currently released 0.11.0.

[2018-04-16 00:14] jayvdb commented on #5335
The use of `textfixtures` via `coala_utils` is only exposed via a `check_logs`, and so far it is only used in the tests, so no 'core' functionality will be broken if it is removed from `coala_utils`.

[code]

[2018-04-16 00:37] jayvdb commented on #5335
coala_utils dependency added in https://gitlab.com/coala/coala-utils/merge_requests/52

There does not appear to have been an issue for it.

[2018-04-16 00:39] jayvdb commented on #5335
d56cc7e64 shows that this also caused our dependency on `setuptools` to be bumped higher, so we might be able to revert that also after we've fixed this.

[2018-04-16 06:26] jayvdb commented on #5335
I have one approach to solve part of the problem.
It depends on https://github.com/chadrosenquist/logging-test-case/pull/1 and https://github.com/chadrosenquist/logging-test-case/pull/3 , then we can use that tool to do the log capturing.
https://github.com/jayvdb/coala/commit/b52983aefaebdaa8ed99aabc91802d8a8d36d1bd

There is an unrelated error in the build, due to using my own fork of that packa

[2018-04-16 08:24] jayvdb commented on #5335
Easiest path forward:

1. https://github.com/coala/coala/pull/5393
2. https://gitlab.com/coala/coala-utils/issues/47 - Revert from coala_utils and release 0.8.0
3. bump coala_utils dependency here
4. jayvdb/coala@f0e84c1 or similar
5. move `testfixtures` to `test-requirements.txt`

[2018-04-16 11:25] lakhanshiva commented on #5391
Hi, I would like to assign this issue to me. Asked a maintainer on git to assign it to me.

Regards,
Lakhan

[2018-04-16 13:24] Vedarth commented on #4314
The issue is still not fixed. Hence I will write a fix for it and open a pr.

[2018-04-16 14:35] #4886 closed

[2018-04-16 14:46] Vedarth commented on #4314
@mrtes Indeed using placeholder fixes the issue. Can you please clarify why it is not a good solution? And are you suggesting to pass an input argument, let's say filename, into `diff.unified_diff()` and use it for `fromfile` and `tofile` or have I misinterpreted you?

[2018-04-16 18:11] mrtes commented on #4314
Right.
Placeholders are not a good solution, because they would be printed in the unified_diff outputs (which are used in the CLI, I assume?).
An empty string will not work as a placeholder (same error as above), but whitespace characters do, so it is not as bad as I assumed. A ` ` char results in:
[code]
However, it is much nicer, if the real filename is printed, especially if we consider what ha

[2018-04-16 18:37] Vedarth commented on #4314
So should we store original filename in an init variable?

[2018-04-16 19:37] mrtes commented on #4314
Seems reasonable to me.
Maybe also give it a sensible default, in case no filename info can be given, to be sure to avoid this bug.
E.g. a whitespace character.

[2018-04-16 22:53] #5281 closed

[2018-04-16 23:06] #5391 closed

[2018-04-17 00:42] #4985 closed

[2018-04-17 02:51] jayvdb commented on #5382
Hi @corinv , appreciate the offer, but someone else needs to get a low finished quickly.  We'll see how he goes ;-)

Ping me on gitter if you are having difficulty finding another low.

[2018-04-17 05:08] #3708 closed

[2018-04-17 06:25] jayvdb opened #5398 ""filters" rewrite"
Foremost,
[code]

is just wrong on every level.

Very worst case it should be tuples, not lists.

However it should be a dict, or OrderedDict if the order matters.
[code]

And better yet it should be a proper class, so that it can be used in type annotations.

In some places this 'structure' is given argument name `filters`, which hints it may contain multiple items.

In other places (e.g. apply_f

[2018-04-17 07:30] yzgyyang commented on #5382
Thanks @jayvdb and @corinv.

[autopep8](https://github.com/hhatto/autopep8) recently added the functionality to fix E252 but it is not yet in a release, so I used the latest dev version of it, and manually checked the results.

[code]

[2018-04-17 07:32] Vedarth commented on #4314
Strangely enough, two tests are failing namely test_json_diff and test_json_export.

[2018-04-17 07:43] #4864 closed

[2018-04-17 07:44] sangamcse commented on #5398
I would like to fix this @jayvdb

[2018-04-17 08:15] #4583 closed

[2018-04-17 08:51] mrtes commented on #4314
I assume these tests compare the output of `Diff.unified_diff` with fixed values.
Since we change this output with this patch, the tests are expected to fail and should be adapted.

(If I'm wrong and they test something else, we should look into it)

[2018-04-17 09:13] jayvdb commented on #5305
@Makman2 , our path settings type is seriously messy.  I think anything there is medium or higher, and probably a rewrite is the first step.

[2018-04-17 09:50] #3704 closed

[2018-04-17 09:57] jayvdb commented on #3802
languages typically do not have a max line length.

style guides define that.

And we're a long way from that.

[2018-04-17 09:57] #3802 closed

[2018-04-17 09:58] jayvdb commented on #3730
We can use moban templates to control this per repo

https://gitlab.com/coala/mobans/issues/1

[2018-04-17 12:09] jayvdb opened #5400 "Remove implementation of SpaceConsistencyTestBear"
`SpaceConsistencyTestBear` contains an old algorithm of the `SpaceConsistencyBear`.

And there are five tests which depend on the output of its algorithm.
When the run method is replaced with `pass`, these tests fail:

[code]

But more importantly, some unexpected parts of the codebase suddenly have no coverage.

[code]
That means those lines of code are being indirectly tested by the inner workin

[2018-04-17 12:31] jayvdb commented on #5156
I am not sure this is blocked by that one.
@anctartica ?
I think this can be very easily solved by having a special and very simple outputter for showing only the bear names, as json.

[2018-04-17 12:58] anctartica commented on #5156
if `coala -B --json` only shows the names of the bears in json, then do we have another command `coala -B --show-details --json` to print all the details in the json format?

[2018-04-17 13:33] Vedarth commented on #4314
The tests are related to json encoder. The fromfile and tofile string is getting inserted in it's output, somehow. I am not exactly sure how though. I will look into the code.

[2018-04-18 01:33] jayvdb commented on #5156
`coala -B --json` throws an error because it is going deep into the objects. It should be just bear names. It needs a different algorithm: a simple one.

[2018-04-18 06:57] jayvdb commented on #3987
`silent` mode is used for commands which dont need a .coafile.  see 9de6241bc

We also allow coala to be used on command line with cli settings and no .coafile.

Obviously we cant break those, so first add strict mode, then look at where it can be enabled by default for usage which will need a .coafile.

Anyway, current patch isnt even a WIP, so unassigning.

[2018-04-18 07:16] jayvdb commented on #3326
Note all of those issues have been closed as fixed, but they suggest that there is CSS and config changes which might be needed to make the page pretty now.

Unassigning due to inactivity.

Please ping me if you have started working on this again.

ping @kriti21 who was recently doing some beautification of the docs.

[2018-04-18 07:36] jayvdb commented on #3488
That repo is deprecated.

[2018-04-18 07:36] #3488 closed

[2018-04-18 07:46] jayvdb commented on #5302
The `setup.py docs` as part of this issue is not important.

The generator is at https://github.com/coala/aspect-docs/blob/master/generate

If we are importing it, the first step is importing [the history](https://github.com/coala/aspect-docs/commits/master/generate) to this repo, otherwise it is a copyright violation.  The alternative is also easy: the authors can re-import it here.

Then that ge

[2018-04-18 07:51] lalitmee commented on #5302
Yeah, actually this was the problem what I was facing in doing this issue. I was not getting that how can we import that whole repo. Since there is a file `generate` which builds the docs after `./generate`, I was thinking that we can import that `generate` file here in `coala`. But I was not sure. I also asked for help on the gitter but no luck. :thinking:

[2018-04-18 08:34] jayvdb commented on #5302
Also worth investigating is creating a sphinx plugin which does a similar job to the `generate` script.

[2018-04-18 09:47] jayvdb commented on #2821
Unassigning to due inactivity

[2018-04-18 09:53] nityeshaga commented on #5378
I propose a refactoring after which the `acquire_actions_and_apply()` would look something like this--
[code]

[2018-04-18 09:55] jayvdb commented on #2821
Detecting that the file has content and no code is still one of the simplest analysis tasks that can be done (completely, correctly), because it only requires determining what syntax can have side effects when compiled/executed, and as the analysis rejects any code blocks, it does not need to know what those code blocks are.

Python docstrings are a special case, as they are actually `__doc__ = ..

[2018-04-18 10:01] jayvdb commented on #3476
Agree, that looks like a good spot.

[2018-04-18 10:25] jayvdb commented on #3835
A better approach is to use a `@property`, or even a lazy property, which creates the directory on demand.
(and remove any undesirable/unnecessary references to the property)

[2018-04-18 10:49] jayvdb commented on #2467
Duplicate of https://github.com/coala/coala/issues/2431

[2018-04-18 11:24] jayvdb commented on #5302
Also worth considering, we have aspect metadata obtained via `--json` (https://github.com/coala/coala/issues/2467), and then convert that to rst.

[2018-04-18 11:25] jayvdb commented on #2633
Unassinging due to inactivity.

[2018-04-18 11:30] jayvdb commented on #4304
Unassigned due to inactivity

[2018-04-18 12:10] jayvdb commented on #4196
Unassigned due to inactivity.

Key feedback was that they saw coala&coala-bears as co-dependent, which is a reasonable opinion, so they need to be provided together.

[2018-04-18 12:13] jayvdb commented on #2207
@sils @mr-karan , I am not sure I follow this.  A CLI issue.
is there any more context to this?

Adding cli paging support?
ncurses on linux?

One result only?  Then press a key to continue?

[2018-04-18 12:17] sils commented on #2207
yeah the idea was to have a curses like interface where we just show one result after another so it's always focused on the latest result. Press a key to continue.

[2018-04-18 12:26] jayvdb commented on #2207
ok, I've changed the title to be ncurses.  obviously we'll need something cross-platform, but at least that issue title helps us know what this is about

[2018-04-18 13:00] jayvdb commented on #4059
Isnt this determined by a config setting?  Maybe we need a user-friendly way to change this default on the CLI, and change it whilst doing analysis.

[2018-04-18 13:01] jayvdb commented on #4059
Unassign due to being not ready for assignment and also due to inactivity, etc ;-)

[2018-04-18 14:25] jayvdb commented on #2703
which cEP?

[2018-04-18 14:38] jayvdb commented on #1069
Unassigning due to inactivity.
Anyone picking this up should investigate the problem again, as it may have been fixed already.

[2018-04-18 14:41] jayvdb commented on #2752
I think the boat has sailed on this one.

The code has moved to gitlab, and precise is dead, and trusty is on its last legs.
If someone encounters it, they can re-raise the problem.

[2018-04-18 14:41] #2752 closed

[2018-04-18 15:02] jayvdb commented on #3131
If https://github.com/ggreer/the_silver_searcher/pull/232 is added to `ag`, we could have an optional `ag` mode which gets the initial list of files from `ag` (and defaults back to normal mode if a user doesnt have it installed).

But, [`ack`](https://beyondgrep.com/install/) and [`pt`](https://github.com/monochromegane/the_platinum_searcher) and [`sift`](https://github.com/svent/sift) already hav

[2018-04-18 15:15] jayvdb commented on #3656
Re `ag`, see https://github.com/coala/coala/issues/3131#issuecomment-382418432

[2018-04-18 15:36] jayvdb commented on #2019
We have https://projects.coala.io/#/projects?project=plugin_for_jetbrains_ides

I dont think we need this issue any more.  It wont be solved by anything being done in this repo.

[2018-04-18 15:36] #2019 closed

[2018-04-18 15:56] jayvdb commented on #2405
@yukiisbored your thoughts?

[2018-04-18 16:06] pheanex commented on #2019
Is there any way to track progress on this then if we close this here?

[2018-04-18 16:27] jayvdb commented on #3372
I expect this is mostly solved.
See https://github.com/coala/coala-bears/pull/1178#issuecomment-268895873 for what went wrong in 2016.

More tests have been added in https://github.com/coala/coala/pull/5134

Maybe try a few more invalid names.
If we are happy there is no more similar problems, this can be closed after https://github.com/coala/coala/pull/5134 and we wait for new issues to be create

[2018-04-18 16:28] jayvdb commented on #3172
We've settled on "Related to".
Time to document.

[2018-04-18 16:36] jayvdb commented on #3369
Unassigning due to inactivity.

[2018-04-18 16:38] jayvdb commented on #3044
We have an issue for the remaining repo, and https://github.com/coala/meta/issues/117 will take the concept further.  Closing this to clear the plate.

[2018-04-18 16:38] #3044 closed

[2018-04-18 17:03] jayvdb commented on #3804
It looks like requests now supports `max_retries` everywhere, so this should be fairly simple.

[2018-04-18 17:07] jayvdb commented on #3804
Optional: if a *transient error* occurred, such as 500+, the bear should be disabled with a warning.

However this could complexity can be deferred to be added later in https://github.com/coala/coala/issues/3332

[2018-04-18 17:10] jayvdb commented on #3332
The requests rewrite is done, and https://github.com/coala/coala/issues/3804 should add the retry.

This issue should remain open to ensure that a failed HTTP fetch disables the bear instead with a warning, and doesnt cause `coala-ci` to fail while fetching.
It should generate a warning, and possibly return a non-zero exit status at the end of the coala-ci job.

[2018-04-18 17:11] jayvdb commented on #3831
https://github.com/coala/coala/issues/3332 should be done first.

[2018-04-18 17:11] jayvdb commented on #3831
unassigning due to inactivity

[2018-04-18 17:33] #5260 closed

[2018-04-18 17:51] jayvdb commented on #2990
[code]

I then inspect the audit log, and I see "Require branches to be up to date before merging " has been de-activated on these repos.

So now I need to undo that everywhere.  Nice.

[2018-04-18 17:55] jayvdb commented on #2990
I guess this is caused by [`Strict: false`](https://github.com/genuinetools/pepper/blob/master/main.go#L232).  ping @jessfraz (and why cant we create issues in your repos :/)

[2018-04-18 17:59] jayvdb commented on #2990
Interesting , it also updates the settings for archived repos, which can not be modified via the web UI.

[2018-04-18 18:06] jayvdb commented on #2990
fast-forward protection added on all repos.

Further suggests for org level improvement can go on meta.

[2018-04-18 18:06] #2990 closed

[2018-04-18 18:44] jayvdb commented on #3645
Mentioning them on gitter will result in a hellstorm from GitHub for comment spamming people.

I've built jayvdb/crosslink for getting email addresses reliably.
IMO we should never reject people with a computer.  Reject their work, sure, but never the person.

And definitely never a script which has not even been code-reviewed and merged.

[2018-04-18 22:04] jayvdb commented on #3845
unassigned due to inactivity

[2018-04-18 22:14] jayvdb opened #5403 "Add git commit to Newcomers guide"
Part of [Step 4 (Sending Your Changes)](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-4-sending-your-changes) is "create a commit"

But the command to do this is not shown.

[2018-04-18 22:20] jayvdb opened #5404 "Newcomers Guide doesnt explicitly show how to test changes"
Part of [Step 3 (Creating a Fork and Testing Your Changes)](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-3-creating-a-fork-and-testing-your-changes) is obviously to test the changes.

There is a 'See also: Executing tests' pointing to http://api.coala.io/en/latest/Developers/Executing_Tests.html , which says to use `pytest`.

But the command `pytest` is not shown directly in

[2018-04-18 22:49] #3901 closed

[2018-04-18 23:06] #5156 closed

[2018-04-19 00:53] #4209 closed

[2018-04-19 01:53] jayvdb commented on #3855
@djokester, please fix your PR otherwise it will be closed because it does not comply with http://coala.io/commit .

[2018-04-19 01:54] #4690 closed

[2018-04-19 07:50] dorothykiz1 commented on #5403
Helo @jayvdb we would like to take on this issue ,i hope its open. We are  team  awesome coders from Pyladieskampala.

[2018-04-19 07:53] jayvdb commented on #5403
Sure. Invite sent.  Ping me again when you've accepted.  either here or on gitter.

[2018-04-19 07:55] jayvdb commented on #5403
Please be sure to read http://coala.io/commit .  Our newcomer issues are an opportunity for you to learn `git`.  If you dont follow our commit guideline, we close your Pull Request and re-assign the issue to someone else.

[2018-04-19 08:35] dorothykiz1 commented on #5403
@jayvdb helo am here i saw your response on Here we are going to start working on the bug

[2018-04-19 09:00] yukiisbored commented on #2405
Same as @alisianoi. Modifying the user's shell rc/profile is a bad idea. The program should instruct the user not the other way around or give them the choice to let the program do it or to let them do it themselves.

Detecting if the file is generated or not just adds complexity to the program without a lot of benefits.

[2018-04-19 09:01] dorothykiz1 commented on #5403
i have accepted the invite

[2018-04-19 09:40] palash25 commented on #2891
@Makman2 on second thoughts I think this is not really worth the effort. Lets close it.

[2018-04-19 09:51] #2405 closed

[2018-04-19 09:53] jayvdb commented on #2891
We have a PR about color_letter, format_lines and highlight_text.  Finding a new home for them might be helpful.

[2018-04-19 10:04] jayvdb commented on #5403
ok, great.  You are now assigned to this issue.  Read through http://coala.io/newcomer .

[2018-04-19 10:05] jayvdb commented on #2891
Here it is https://github.com/coala/coala/pull/5215

[2018-04-19 10:08] jayvdb commented on #2891
Also relevant is adding module docstrings to create a sense of purpose for each file: https://github.com/coala/coala/issues/5359

[2018-04-19 10:10] jayvdb commented on #5359
@palash25 , I havent assigned this to you as you have some large chunks of work that we need to get closed.  This is another large chunk of work, and a PR will create a lot of thinking for Makman mostly.

We should probably split this up into segments so the PRs dont result in unicorns.
Also PRs for smaller areas could be reviewed by different 'module owners'.  e.g. there is an aspects team who co

[2018-04-19 10:38] dorothykiz1 commented on #5403
Thank you.

Regards, Dorothy

On Thu, Apr 19, 2018 at 1:04 PM, John Vandenberg <notifications@github.com>
wrote:

[2018-04-19 12:05] dorothykiz1 commented on #5403
https://github.com/coala/coala/blob/master/docs/Developers/Newcomers_Guide.rst @jayvdb i have tried to identify this file ,i understand its the one i need to work on .my issue is how to identify the file ( like the setup.py  in the example)to work on.

[2018-04-19 12:36] dorothykiz1 commented on #5403
my exact issue if you can help me with leads on the files to document and write acommit to.

[2018-04-19 12:41] monsij commented on #5403
Try making changes in the local fork of coala at : coala/docs/Developers/Newcomers_Guide.rst

[2018-04-19 13:08] jayvdb commented on #5403
Ya, you have found the correct file.  I suggest you come onto gitter where we can walk you through the process step by step.

[2018-04-19 13:11] dorothykiz1 commented on #5403
thanks @monsij am working on it

[2018-04-19 13:33] jayvdb commented on #5403
Anyone can join http://coala.io/chat .  Each issue can only be assigned to one username.

[2018-04-19 13:57] #2290 closed

[2018-04-19 16:02] anctartica commented on #3372
I wasn't able to reproduce this. I tried many invalid bear names.

[2018-04-19 20:56] rohanrk commented on #5383
@jayvdb is this still an issue? I removed W605 from my .coafile and coala doesn't return any errors.

[2018-04-19 21:26] sangamcse commented on #5383
@rohanrk have you upgraded `pycodestyle` to 2.4.0?

[2018-04-19 22:44] #3372 closed

[2018-04-19 22:46] Makman2 commented on #2891
@jayvdb shall we rather add new issues? This one is not well defined now, so I would rather close it.

[2018-04-19 22:50] Makman2 commented on #2019
Once implementation is going to start, it will happen in a new repository. We would track progress/issues/... there immediately :+1:

[2018-04-19 22:50] Makman2 commented on #2019
It's now an official coala project, so we won't forget it ;)

[2018-04-20 02:35] jayvdb commented on #2019
@pheanex , are you interested in being a mentor on that project?  It would have been started this year, but the assigned mentor wasnt responsive to the students.

[2018-04-20 02:36] jayvdb commented on #2019
If so, edit https://github.com/coala/projects/blob/master/_projects/jetbrains-ide-plugin.md

[2018-04-20 02:37] #2891 closed

[2018-04-20 02:37] jayvdb commented on #2891
I'm not sure we need a new issue even.  The PR will sort itself out.

[2018-04-20 03:09] jayvdb commented on #5346
Why?  This has been implemented in the PR, and it looks cumbersome.

Without seeing your recommendation, I had suggested switching to two bools.  80/20 rule.  That makes most cases easy, and more complicated cases will need to implement their own method to yield the Results.

In almost all cases, the linter has intentionally chosen a particular convention, and the choice of column convention is no

[2018-04-20 05:32] jayvdb opened #5406 "coala -B --json fails when one bear fails"
`coala -B --json` (and probably just `coala -B`) return a non-exit code when one of the bears can not be loaded.  It should show which bears can not be loaded.

[code]

https://travis-ci.org/coala/coala/jobs/368944378

[2018-04-20 14:37] mayokunthefirst commented on #5398
@jayvdb can i be assigned to this?

[2018-04-20 14:42] jayvdb commented on #5398
no, you consistently failed to complete newcomer level issues.

[2018-04-20 19:10] mrtes commented on #4314
It calls the `unified_diff` method on the diff, which causes the changes to propagate to the output of the encoder.

[2018-04-21 03:53] li-boxuan opened #5409 "test-requirements.txt: fix pytest-reqs version"
[test-requirements.txt](https://github.com/coala/coala/blob/master/test-requirements.txt#L15) is currently using `pytest-reqs~=0.0.6`, which is out-of-date. This should be changed into 0.1.0

Reason:
`pytest-reqs` added a warning on [pytest_reqs.py#L10](https://github.com/di/pytest-reqs/commit/9fe361b5b276065f45f59ca059a8aa167eaea061#L17) a month ago. They include this in their latest release vers

[2018-04-21 04:01] li-boxuan commented on #5409
Can I solve this since it is blocking all PRs?

[2018-04-21 04:29] li-boxuan commented on #5409
Maybe my PR could be closed and this can be set as a newcomer issue? Since seems that it is not blocking other PRs...

[2018-04-21 07:41] dorothykiz1 commented on #5404
Helo @jayvdb my teammate already submitted aPR on the previous issue YOU had assigned me so i have decided to move on and work on this
since as earlier communicated that only one name can be assigned to an issue.

[2018-04-21 12:28] Makman2 commented on #5346
Then nvm that :+1:

[2018-04-21 12:41] Makman2 commented on #4059
I'm currently not in for this feature. If the default can change, the user needs a bit of time to understand that feature. Also there might be actions that are not available for other results. We could fall back to "Do Nothing" again, but I can imagine the user then really starts to get confused what will be the default action.

[2018-04-21 12:47] #5172 closed

[2018-04-21 12:58] Makman2 commented on #5155
Actually I intended writing a custom bear here in this repo. Even if we can't use IGitt directly, we can use HTTP-requests in the worst case scenario.

Imo this issue is valid and still not done yet.

[2018-04-21 13:16] Makman2 opened #5412 "linter/strip_ansi: Error when using `use_stderr=True` and `use_stdout=True`"
The feature added in https://github.com/coala/coala/issues/5281 has a flaw when using the options `use_stderr=True` and `use_stdout=True` together:
[code]
In that case `output` becomes a tuple and `strip_ansi` will fail:
[code]

[2018-04-21 13:56] jayvdb opened #5415 "process_output_corrected should not treat \n as reason to empty a file"
If there is an error on stderr, usually stdout is `\n`.

`process_output_corrected` should not interpret `\n` as intended to be the corrected file being an empty file.  It should emit an INFO message to say `\n` was ignored.

Possibly an extra flag might be added to allow `\n` to really mean an empty file, if there is no way that the linter ever has an empty file except when it is recommending an

[2018-04-21 14:06] #5409 closed

[2018-04-21 14:16] #4120 closed

[2018-04-21 14:40] #5412 closed

[2018-04-21 14:52] #5355 closed

[2018-04-21 17:12] Makman2 commented on #2072
I actually stumbled upon JSONPath, an XPath equivalent but for JSON data. Python seems to offer https://pypi.org/project/jsonpath/ and https://pypi.org/project/jsonpath-ng/1.4.2/ . I would tend to `jsonpath-ng` as it claims to have more features (that are not standard JSONPath).

Investigations are to be done to see how many linters profit from this format.

[2018-04-21 17:32] Makman2 commented on #2072
Or we can use such XPath-style parsers for dictionaries, that we receive from `json.load`. E.g. `dpath`.

[2018-04-21 19:29] Makman2 commented on #2072
Bears that would profit from it:
- TSLintBear
- DockerfileLintBear
- CoffeeLintBear
- RuboCopBear
- TailorBear
- BanditBear
- HaskellLintBear

Features that those bears would need:
- If a JSON key can't be found, substitute with `None`.
- Normalized line/column numbers (see https://github.com/coala/coala/issues/5346)
- Don't parse as JSON if program-output is empty.
- Custom origin (providing an a

[2018-04-21 23:45] jayvdb opened #5416 "Identify missing CAN_FIX"
A bear which uses `process_output_corrected` should also have `CAN_FIX` metadata.

coala should detect when this metadata is missing and emit a warning.

[2018-04-21 23:46] jayvdb commented on #5416
c.f. https://github.com/coala/coala-bears/pull/2439

[2018-04-22 00:05] jayvdb opened #5417 "COAFILE_OUTPUT is wrong for coarc"
The string `COAFILE_OUTPUT` provides instructions for generating a `.coafile` ; it is not suitable for generating a `.coarc`.

Change the message for ~~.coafile~~ `.coarc` or `default_coafile`/`system_coafile` errors

[2018-04-22 00:07] #4059 closed

[2018-04-22 00:08] jayvdb commented on #4059
There is probably some cases where repeating the same default action is very logical, but we need specific scenarios for that, or we need a UI project which collects requirements properly, and provides a well considered and accepted large CLI UI change.

[2018-04-22 00:12] jayvdb commented on #2072
Oh, coala will become a json conversion engine! ;-)

[2018-04-22 00:47] #5346 closed

[2018-04-22 03:32] ishanSrt commented on #5040
has there been some recent commit which changes things?
without me changing my theme, I started seeing this, since this morning
<img width="991" alt="screen shot 2018-04-22 at 9 01 08 am" src="https://user-images.githubusercontent.com/29859362/39091145-e90d452e-460b-11e8-9f80-5122ef0647f0.png">

[2018-04-22 04:40] ishanSrt commented on #5040
as seen in the `termcolors` the color grey is same for the background, as put up in the first 3 images, or the first 2 comments ^^^, the theme just renders it differently.
I still don't know how coala gives out colors but can't we just have a check for the background color of the terminal (if possible) and then chose a set of colors which don't collide with that or are not close to it (as in the 4

[2018-04-22 06:53] jayvdb commented on #4019
Re-assigned due to inactivity.

[2018-04-22 10:53] Makman2 opened #5418 "Linter API docs: Typo in output_format documentation: It's unified-diff and not unified_diff"

[2018-04-22 11:56] sanshay commented on #5403
@jayvdb  can you assign this issue to me

[2018-04-22 12:07] jayvdb commented on #5403
@sanshay this issue has an assignee.  Use http://coala.io/new to find your own.

[2018-04-22 12:39] jayvdb commented on #4891
Tracking this at https://github.com/coala/meta/issues/114

[2018-04-22 12:39] #4891 closed

[2018-04-23 03:10] #4673 closed

[2018-04-23 07:25] jayvdb commented on #4080
There are a few related GSoC projects happening this year regarding newcomer process, and also reviewing the reviewers.  http://github.com/coala/community and http://github.com/coala/gh-board (and similar) will become our replacements for the review queues, and can be improved to provide extra functionality to assist reviewing.

Also this year,

- Fixes/Closes commit message validation, avoiding d

[2018-04-23 17:49] vishal3410 commented on #5389
hii , i am newcomer can you please assign this to me

[2018-04-23 20:17] prnvdixit opened #5420 "Add a note to reviewers"
Add "Check that the changes haven't been pushed from master branch" as a note to reviewers in the reviewing guide.
The wording needs to be clear enough to convey that this isn't mandatory (so that reviewers don't advice newcomers to close even their mergeable good PRs) and is just a good practice.
label: difficulty/newcomer

[2018-04-24 17:01] ShubhamBansal1997 commented on #5420
@prnvdixit Please assign this issue to me.

[2018-04-24 17:01] vishal3410 commented on #5389
i made a pr please review https://github.com/coala/coala/pull/5422

[2018-04-24 17:51] satya-vinay commented on #5420
Can I work on this issue?

[2018-04-25 08:15] kriti21 opened #5423 "Writing_good_commits_Guide: Change the color of blue blocks to gray. in "Writing good commit message guidelines""

[2018-04-25 16:11] nityanandagohain commented on #5333
can i work on this.

[2018-04-25 16:26] Makman2 commented on #5040
We have libraries handling this. On Linux escape sequences are used.

Possible, but terminal-dependent. Are there libraries out there?

Problem is you configure a color palette inside your terminal, which maps escape sequences to those actual colors and then renders them. From coala's perspective, we can only choose from this set of colors, and we even don't know from the escape sequences what col

[2018-04-25 16:27] kriti21 commented on #5333
@nityanandagohain You are the first one to claim, sure you can go ahead with it.
@Makman2 Please assign this issue

[2018-04-25 16:46] nityanandagohain commented on #5333
thanks!

[2018-04-25 18:07] #5366 closed

[2018-04-25 18:12] Makman2 commented on #5420
Oops sorry have missed @ShubhamBansal1997, however @ShubhamBansal1997 you have to accept the invite still^^

[2018-04-25 18:13] Makman2 commented on #5420
@satya-vinay please pick a different issue ;)

[2018-04-25 18:14] Makman2 commented on #5389
@sangamcse what are those rules?

[2018-04-25 19:59] ShubhamBansal1997 commented on #5420
@Makman2 I have accepted the invite. Moreover, you have assigned and then unassigned @satya-vinay So Is this issue assigned or unassigned, if not assigned then assigned it to me.

[2018-04-25 20:00] Makman2 commented on #5415
We can make it even a `WARNING` message imo. In ideal cases the linter should always provide us a corrected version of a file, even if nothing has changed. If nothing was provided, this usually indicates a flaw where the tool has behaved in error-mode because of bear code.

[2018-04-25 20:01] Makman2 commented on #5420
It's assigned to you, I've already assigned and unassigned him because I've somehow skipped your comment.

[2018-04-25 20:13] #4584 closed

[2018-04-25 20:26] alaeddingurel commented on #5364
Can you assign me this issue?

[2018-04-25 21:13] ShubhamBansal1997 commented on #5423
@kriti21 I would like to work on this issue

[2018-04-26 10:15] ishanSrt commented on #5423
duplicate of https://github.com/coala/documentation/issues/550

[2018-04-26 10:32] ishanSrt commented on #5423
oh ok, it has been changed for all `api.coala.io.*` https://github.com/coala/documentation/issues/548

[2018-04-26 10:34] ishanSrt commented on #5423
btw if the theme is built correctly, it can be used for all the docs, why only for newcomer's?

[2018-04-26 11:26] kriti21 commented on #5423
I think only Newcomer's guide has different type of blocks like Note, Important etc. I mean others also have but those are mostly `note` or `see also` kind. Others are mostly code examples. Main objective was to put emphasis on important points for a newcomer.

[2018-04-26 17:37] Makman2 commented on #5364
@beisekenov invite sent, please accept so we can finally assign you.
@alaeddingurel as you see @beisekenov has requested first and already started ;)

[2018-04-27 11:03] jayvdb commented on #3677
funny, we suggest that users use pipenv, but dont yet suggest that developers use it.

And we dont use it ourselves.

And we have a bug in it.
https://github.com/coala/coala-bears/issues/2336

c.f. https://github.com/coala/coala/issues/5332 for `grip`

[2018-04-27 11:03] jayvdb commented on #5332
This issue can be used for that task ;-)

[2018-04-27 12:56] alaeddingurel commented on #5364
Ok, Thank you :)

2018-04-26 20:37 GMT+03:00 Mischa Krüger <notifications@github.com>:

[2018-04-28 14:57] Makman2 commented on #3855
Unassigning due to inactivity.

[2018-04-28 14:58] Makman2 commented on #3845
What is this issue blocked by? @jayvdb

[2018-04-28 15:05] Makman2 commented on #3476
Related to https://github.com/coala/coala/issues/4122

[2018-04-28 15:33] Makman2 commented on #5354
`self` is missing in the signature:
[code]

[2018-04-28 16:43] Mixih commented on #3676
Assigned per GSoC project "Improve Linter Bears"

[2018-04-28 16:44] sangamcse commented on #4884
Hey @manankalra, I need to get this issue assigned to me for the GSoC.

[2018-04-28 17:41] pareksha opened #5429 "Installation command for ``shellcheck`` needs to be changed"
``shellcheck`` won't install in circleci with existing command, issue in reference to https://blog.doismellburning.co.uk/shellcheck-on-circleci/

[2018-04-28 19:05] Phantom-42 commented on #5333
I am sorry, but could you clarify a bit why this change is needed please? Two colons are used to mark that following text block is literal block (it is a part of code or command to execute). Why is this called "extra" and needs to be removed?

[2018-04-28 19:09] pareksha commented on #5429
That was a short-term bug in circleci only. It's working fine.

[2018-04-28 19:32] #5429 closed

[2018-04-29 05:18] ishanSrt opened #5432 "Writing_Documentation.rst: root directory --> docs directory"
difficulty/newcomer

[2018-04-29 06:38] kriti21 commented on #5333
I know @Phantom-42 that colons are for literal blocks. But IMO removing them from literal blocks should solve the problem of weird gray colored patches over yellow, red and blue backgrounds. Otherwise it would require changes in css file and that would not be as simple. I should change the heading of this issue anyway. Thanks for your comment :)

[2018-04-29 06:50] nityanandagohain commented on #5333
@kriti21 I think I need to update my PR as well.

[2018-04-29 12:34] jayvdb commented on #3845
@Makman2 , this is about how to use corobo to assign an issue.  That can not be done atm.

[2018-04-29 12:35] jayvdb commented on #3845
leaving it assigned to @nvzard who can unblock and unassign once his work has made this possible again.

[2018-04-29 12:39] jayvdb opened #5433 "BearDownloadTest.test_status_code_error timeout"
The test `BearDownloadTest.test_status_code_error` is failing with a timeout more often than not.

This has been happening on Travis, Circle and Appveyor for ~24 hrs.

[2018-04-29 12:44] jayvdb commented on #5433
example https://travis-ci.org/coala/coala/builds/372319188 - two jobs

I have so far found one other test also failing for the same reason

https://travis-ci.org/coala/coala/jobs/372368883

`BearTest.test_download_cached_file_status_code_error` - timeout

[2018-04-29 12:48] jayvdb commented on #5433
It is fetching http://httpbin.org/status/418 , which does not seem to be problematic.  Maybe it is being rate limited from CI servers, but it does seem a bit strange that it has started happening to all CI at the same time.

[2018-04-29 13:58] jayvdb commented on #5433
We've had a green build, so maybe the troubles are over..

[2018-04-29 14:17] jayvdb commented on #5433
Appears to be fixed.

[2018-04-29 14:53] Makman2 commented on #5433
httpbin was actually down, probably they brought it back online again.

[2018-04-29 15:37] RaiVaibhav opened #5434 "Ignore option not re shown after, if the there is some unknown language by user"
https://bpaste.net/show/0f4626ca0292

When user entered the `jinja2` template the then it `showed` a message `An ignore comment was added to your source code` but not any `ignore` comment was added ( it's acceptable ) but `Add (I)gnore comment` option needs to be reshowned when any user entered the non-supported definitions

[2018-04-29 21:14] jayvdb commented on #5434
We have a PR adding jinja2 language. And issues about other languages.

We need a better UI for when the language does not exist in coala.

[2018-04-29 22:26] #5340 closed

[2018-04-30 03:02] jayvdb commented on #5433
I was testing on httpbin at the time, and it was up for me while it was reporting errors on CI.

[2018-04-30 03:02] jayvdb commented on #5433
Seen again on https://github.com/coala/coala/pull/5069

[2018-04-30 03:03] jayvdb commented on #5433
But http://httpbin.org/status/418 is down again now

[2018-04-30 18:43] PrajwalM2212 commented on #5417
Can i be assigned this issue

[2018-05-01 02:42] jayvdb commented on #4927
Unassigned due to inactivity.

[2018-05-01 02:47] jayvdb commented on #5309
We really need @Udayan12167 to clarify what should be done here.

[2018-05-01 02:51] jayvdb commented on #4188
Unassigned due to inactivity

[2018-05-01 02:53] jayvdb commented on #3771
Restoring assignment as @satwikkansal has the open PRs for this.

[2018-05-01 04:01] PrajwalM2212 commented on #5417
Sure @jayvdb . Can you assign me https://github.com/coala/documentation/issues/554.

[2018-05-01 04:03] PrajwalM2212 commented on #5417
Sure @jayvdb . Can this https://github.com/coala/documentation/issues/554 newcomer issue be assigned to me ?

[2018-05-01 07:06] ishanSrt commented on #5309
@jayvdb I was going to provide 2 warnings for this as per the discussion on gitter,
* Unsectioned settings are considered under Default section
* cli is the new Default as the unsectioned settings are shown in the cli section

[2018-05-01 07:17] jayvdb commented on #2738
This will be fixed by removing use of setuptools / pkg_resources as our plugin loader.  There is an issue about that.

[2018-05-01 07:35] jayvdb commented on #5302
https://github.com/coala/coala/pull/5426 will allow the generated docs to be viewed as part of the PR

[2018-05-01 13:56] PrajwalM2212 commented on #5417
I have already sent PR to the newcomer issue assigned to me .

[2018-05-01 17:44] monsij commented on #4787
Can I be assigned due to user inactivity?

[2018-05-02 14:52] yzgyyang commented on #5383
Similar automation may be used from https://github.com/coala/coala/issues/5382#issuecomment-381878103.

[2018-05-04 06:57] manankalra opened #5439 "Testing_Bears.rst: Ambiguous description of ``check_validity``"
Under Example 2, it’s mentioned that ``check_validity`` **asserts if your bear yields any results** for a particular check with a list of strings. This is not at all true as ``check_validity`` asserts only when your bear **doesn’t** yield any results for a particular check. The text should be changed accordingly.

area/documentation
difficulty/newcomer

[2018-05-04 17:01] #5107 closed

[2018-05-05 01:19] jayvdb opened #5440 "Constants.default_coafile is confusing"
`coalib.misc.Constants` has a `default_coafile` which is now quite confusing because ~~it is the system coafile~~ there is also a file called `default_coafile`.

~~Create a new constant `system_coafile` which has the same value as `default_coafile`, and remove usages of `default_coafile`.~~

[2018-05-05 01:48] PrajwalM2212 commented on #5440
At present `system_coafile` exists and handles both new( `system_coafile`) and deprecated (`default_coafile`) versions .
But default_coafile also refers to `.coafile` . Should the issue be modified to change the variable name that refers to `.coafile`.

[2018-05-05 02:32] jayvdb commented on #5440
Ah, yes, I was mis-remembering the confusing part.

e.g. we have `test_default_coafile_deprecation` which tests the deprecated file `default_coafile`, not the variable `default_coafile` which contains `.coafile`.

(i'll have to think about this one a bit more...)

[2018-05-05 02:40] jayvdb commented on #5440
Maybe we could rename variable `default_coafile` to be `local_coafile` or `config_filename`.

[2018-05-05 05:12] jayvdb opened #5441 "Unnecessary imports on CachingUtilities.pickle_load docstring"
The docstring contains

[code]

Those imports are not used, and should be removed.

[2018-05-05 05:16] jayvdb opened #5442 "CachingUtilities.pickle_load and .pickle_dump docstring refers to non-existant filename"
Docstring is

[code]

But `filename` is not a parameter.  A better description is needed to explain which file is loaded.

The same applies to `pickle_dump`.

[2018-05-05 06:54] satya-vinay commented on #5441
@jayvdb Can i take on this issue?

[2018-05-05 10:48] gabi0348 commented on #5442
please assign this issue to me

[2018-05-05 11:25] jayvdb commented on #5441
You have already completed a newcomer issue, but I'll let you do one more.  After this one, find a low difficulty issue to work on.

[2018-05-05 12:17] satya-vinay commented on #5441
Ya sure

[2018-05-05 22:59] jayvdb commented on #4861
ping @pkcod , do you have a PR for this one?

[2018-05-05 23:03] jayvdb commented on #3306
ping @aman9875 , this one is really important, needed for the next release.

[2018-05-05 23:09] jayvdb commented on #3365
@RJ722 , could you re-test this and investigate fixing it if it is still a problem.

[2018-05-06 04:02] #5441 closed

[2018-05-07 01:51] jayvdb opened #5444 "Executing_Tests.rst: Mention codecov"
coala test coverage is published on https://codecov.io/gh/coala/ (GitHub projects) and https://codecov.io/gl/coala/ (GitLab projects).

The `Executing_Tests.rst` document refers to 'website' , which is actually that codecov website.  This needs to be more clear.

fwiw, `Adding_CI.rst` does mention codecov.

[2018-05-07 01:53] jayvdb commented on #5444
It may also be helpful to explain why test coverage can 'pass' without reaching 100% .

That is mentioned briefly at `Writing_Tests.rst` referring to ``# pragma: no cover``

[2018-05-07 02:01] jayvdb opened #5445 "test_user_coafile_parsing doesnt use setUp and tearDown"
`test_user_coafile_parsing` modifies `Constants.user_coafile` during the test.

If the `assertEqual` fails, `Constants.user_coafile` will not be restored, which could result in lots of other tests to fail in unpredictable ways.

The test class should have a `setUp` and `tearDown` which saves & restores any coalib state which is modified during the tests in that class.

[2018-05-07 04:15] jayvdb commented on #3677
I've created https://github.com/moremoban/pypi-mobans/issues/6 and https://gitlab.com/coala/mobans/issues/13

[2018-05-07 07:53] jayvdb commented on #4609
Closing as changing this should be discussed/planned at https://github.com/coala/cEPs/issues/11

[2018-05-07 07:55] #4609 closed

[2018-05-07 08:00] pareksha opened #5446 "There's a typo in Formatting aspect file"
There's a typo in ``aspects.Formatting.py``. Change ``example_langague`` to ``example_language``.
Newcomers are welcome for this issue.

[2018-05-07 09:09] RJ722 commented on #3365
I cannot reproduce this on the latest coala release.

[2018-05-07 11:47] jayvdb commented on #3365
Latest published release , or latest `master` ?

[2018-05-07 12:02] RJ722 commented on #3365
Latest published release.

On 7 May 2018 at 17:17, John Vandenberg <notifications@github.com> wrote:

[2018-05-07 19:58] ishanSrt commented on #5307
Duplicate of https://github.com/coala/coala/issues/4127
This needs to be opened in all the repos. Close one of these in this repo.

[2018-05-07 23:32] #5446 closed

[2018-05-08 02:48] jayvdb commented on #5307
Duplicate of #4127

[2018-05-08 02:48] #5307 closed

[2018-05-08 02:49] jayvdb commented on #5307
Actually we need to migrate .coafile to mobans to be maintainable.

[2018-05-08 07:53] z1ggy-o commented on #5354
Can I work on this issue?

[2018-05-08 07:56] jayvdb commented on #5354
Welcome aboard @z1ggy-o

[2018-05-08 10:34] #5445 closed

[2018-05-08 11:12] jayvdb opened #5449 "Building docs instructions"
The instructions on https://api.coala.io/en/latest/Developers/Development_Setup.html are wrong.

No need to change to docs repo.

[2018-05-08 11:14] jayvdb commented on #5449
Also need to explain that the package must be installed first, or set PYTHONPATH

[2018-05-08 11:15] jayvdb commented on #5449
See https://github.com/coala/coala/pull/5426 for syntax

[2018-05-08 16:50] jayvdb commented on #5354
@sangamcse , can one of you give the required arguments for this here, and on the PR.

[2018-05-08 19:24] virresh opened #5451 "Updating dependencies doesn't flush cache"
### Overview Description
Whenever a linter is upgraded, the cache of coala is not flushed and new linting fixes introduced in the dependency are not shown

For e.g, take pycodestyle
```W605 invalid escape sequence '\s'``` was introduced in pycodestyle==2.4
So when coala is run with pycodestyle==2.3, the output is cached and thus doesn't show any results for W605

But even after updating to pycodes

[2018-05-08 20:33] sangamcse commented on #5354
@jayvdb, it looks like I did a mistake while checking the docs. The listed issue https://github.com/coala/coala/issues/5354#issue-312658505 occurred when I am not using `@staticmethod`(which previously I did not cross check while going through the docs). When I use `@staticmethod`, it gives different error -->
[code]
which IMO is not an issue of the docs.
Thanks to @palash25.

[2018-05-08 20:36] sangamcse commented on #5354
In case this issue is closed, I have a newcomer task for @z1ggy-o in the same docs. Feel free to ping.

[2018-05-08 20:40] sangamcse commented on #5389
@Makman2 Sorry for the late reply.
- E133 is closing bracket is missing indentation
- E242 is tab after ‘,’
- E303 is too many blank lines (3 or more lines)

[2018-05-08 22:33] z1ggy-o commented on #5354
@sangamcse appreciate it!
But I should wait for the result of this issue before starting another newcomer task, right?

[2018-05-09 01:03] jayvdb commented on #5354
I think @palash25 is onto something.  `CPPCheckBear.create_arguments` uses `self.file_dict` to get the list of all files.  It is not a `@staticmethod`.

So our docs here should at least also say that `CPPCheckBear.create_arguments` can be a normal method, with `self` as the first parameter, and indicate that is a way to access the complete list of files using `self.file_dict`.

This should come wi

[2018-05-09 17:02] yukiisbored opened #5453 "Investigate pyinstaller"
PyInstaller would help to greatly decrease the Docker image size and possibly ship "embedded" or "ready to use" versions of coala or helpful for CI builds.

https://www.pyinstaller.org/

[2018-05-09 17:08] yukiisbored opened #5454 "Write a Pipfile"
Pipfile is the successor to requirements.txt. It would be interesting to test it out on coala. Since coala have mobans integrated to generate configuration files. This Pipfile must be generated from a template based on data from coala/mobans.

[2018-05-09 17:13] yukiisbored commented on #5454
Closing, it's a duplicate I presume https://github.com/coala/coala/issues/3677

[2018-05-09 17:13] #5454 closed

[2018-05-10 03:42] ishanSrt opened #5455 ".coafile: ignore_length_regex field's regex seems vague"
we should either check for
* urls that are that long that if they are started from the beginning of the line and then also can't be kept on the same line and then ignore them

current regex being used `^.*https?://` seems wrong as anyone can write a line as long as he wants and then end it with something starting with `https://` to bypass the line length rule

* checking for urls can be made more

[2018-05-10 10:55] Makman2 commented on #5354
My bad I've missed the `@staticmethod` there. However this errors usually appears if you forget to annotate your `create_argument` function correctly to match with your params ;)

[2018-05-10 11:04] Makman2 commented on #5354
And yeah, we should `return []` there :+1:

[2018-05-10 11:12] manankalra commented on #5354
If ^this is regarding `Writing_Linter_Bears.rst`, then it already contains a note stating:

Maybe this note can be changed to include a relevant example that demonstrates the use of a `file_dict`.

[2018-05-10 11:15] Makman2 commented on #3365
Please test on latest master, 0.11 is quite old.

[2018-05-10 16:19] monsij commented on #5449
May I know how can the changes be made to effect if no change is to be made to the repository?

[2018-05-10 18:55] ishanSrt opened #5456 "coala should ask for the proper bear name if it is misspelled"
many bear names have capital alphabets in b/w them which is hard to remember. If an invalid bear name is encountered, try to match it with the closest possible bear name from the list of installed bears, and ask the user whether he meant that bear (y,N)? Can be integrated with `cib` to ask for the installation of the bear too if its not installed yet.

[2018-05-10 18:57] ishanSrt commented on #5456
no need to even ask incase of case mismatch, just throw in a warning that is only visible when the log level of warning is selected that the bear being matched with that is `<the actual name of the bear>`

[2018-05-11 07:19] RJ722 commented on #3365
I checked on latest master:
[code]
It ignores successfully.

[2018-05-11 10:30] #3365 closed

[2018-05-11 11:31] anctartica commented on #5456
could be useful for `cib` given that the distance between the invalid bear name and closet bear name is small.

[2018-05-11 12:58] JameerBabu commented on #5439
Hello, I would like to work on this issue. Can anyone please assign me.

[2018-05-11 13:04] manankalra commented on #5439
@JameerBabu I'm not sure if this a `difficult/low`. Better pick up an issue which requires a little more effort. (as you've already solved one ``difficulty/newcomer`` and ``area/documentation`` issue)

[2018-05-11 13:26] JameerBabu commented on #5439
@manankalra  Thank you. I will start working on other issue.

[2018-05-11 15:35] juliandorville commented on #5330
Hi,
I've been looking into contributing to Coala and reviewed the newcomers' guide (so I know to target issues labeled with a newcomer difficulty), and was wondering why this issue was labeled as medium. I think it seems like a pretty simple fix that I could handle, but maybe I'm missing something?
Thanks!

[2018-05-12 02:51] jayvdb commented on #5330
@juliandorville , a language definition can range from a very basic couple of lines, to being quite detailed like the Python one.

And tests will be required, and those tests would be beyond the typical newcomer.

https://github.com/coala/coala/pull/5428 is a recent example of a language definition modification.

Anyway, an invite to coala org has been sent to you.  Once you accept that, we can as

[2018-05-12 05:49] pareksha commented on #5364
@akshayg08 seems like @beisekenov is already working on this. You can have any other newcomer issue assigned. Find an issue and ask a maintainer on gitter to assign you. :)

[2018-05-12 07:41] ishanSrt opened #5457 "ConfigurationGathering.get_all_bears change function name"
the function name is misleading as it does not get all bears, rather it gets all bears from the config files present. The actual function exists in `Collectors.py`

[2018-05-12 09:57] Nosferatul commented on #5115
unassigned due to inactivity.

[2018-05-12 09:58] raduklb commented on #5115
I would like to work on this issue.

[2018-05-12 10:28] gabi0348 commented on #5442
It's needed only a better description? changing filename with identifier?

[2018-05-12 11:27] Nosferatul commented on #2683
unassigned due to inactivity

[2018-05-12 11:28] gabi0348 commented on #2683
Hi, could I take a shot at this?

[2018-05-13 08:51] JameerBabu commented on #5383
Hi, I would like to work on this issue. Can anyone please assign me

[2018-05-13 16:52] #5331 closed

[2018-05-13 17:50] #5444 closed

[2018-05-14 17:35] Saumay-Agrawal commented on #3855
Hey! I would like to work on this issue. Can you please assign this to me?

[2018-05-14 21:50] bekicot commented on #5449
@jayvdb Is this task is available to take?

[2018-05-15 05:51] SubbulakshmiRS commented on #5223
hey can i be assigned this issue ? I am a newcomer here.

[2018-05-16 04:48] sanjeethboddi commented on #5423
@kriti21 assign this to me

[2018-05-16 06:36] jayvdb commented on #5423
We must get Netlify deploy builds (https://github.com/coala/coala/pull/5426) showing these docs on PR before any more changes, otherwise they can not be easily reviewed.

[2018-05-16 07:14] sanjeethboddi commented on #5398
assign this to me
@jayvdb

[2018-05-16 10:14] jayvdb commented on #5398
@sanjeethboddi , this one is almost a medium difficulty issue.  I suggest you find an easier 'low' before doing this one.

[2018-05-16 12:48] jayvdb opened #5463 "TypeScript aliases is not a tuple"
`aliases` in coalib/bearlib/languages/definitions/TypeScript.py needs to be a tuple.

[2018-05-16 14:03] #5354 closed

[2018-05-16 17:50] amalrajan commented on #5150
Squash your commits into a single one when it's done :)

[2018-05-16 18:56] jgarciabu commented on #5463
Can I have this one?

[2018-05-17 05:05] jayvdb opened #5466 "Appveyor builds fail on pip install"
https://ci.appveyor.com/project/coala/coala/build/1.0.12921/job/7qk3gl78ax38vc3i

[code]

I guess the problem is `pip>=9.0.0,<10` in `test-requirements.txt`

[2018-05-17 06:02] #5466 closed

[2018-05-18 08:34] harshhx17 commented on #5223
@jayvdb  ^

[2018-05-19 10:58] jayvdb commented on #5449
https://gitlab.com/coala/mobans/issues/8 should be done first

[2018-05-19 17:20] raduklb commented on #4552
I would like to work on this issue.

[2018-05-20 12:55] seeeturtle commented on #5383
@sangamcse
Sorry I forgot to ask for assigning me.
I just checked that there is no PR for this issue, and started to work.

[2018-05-20 16:51] RaiVaibhav commented on #3864
Kindly unassign me I am not working on this anymore.

[2018-05-20 17:00] palash25 commented on #3864
I can give it a crack. Maybe after GSoC.

[2018-05-21 19:40] JameerBabu commented on #5383
@seeeturtle  I wanted to work on this issue and asked the owner to assign me, I am waiting for his decision.  In meanwhile you created PR also.

[2018-05-22 01:29] seeeturtle commented on #5383
@JameerBabu
also? do you mean that you have already created PR for this issue?
Then I should close my PR since it's duplicated.

[2018-05-23 03:44] palash25 commented on #5442
@gabi0348 look into `coalib/misc/Caching.py` and `coalib/misc/CachingUtilites.py` and figure out how caching works.
Then make a PR and we'll review it. :+1:

[2018-05-24 08:26] virresh opened #5476 "Ignore Bears that start with an _"
coala should ignore bears that start with an _ , since these are not meant to be exposed to the user

e.g, the the _CommitBear is not meant to be exposed directly, it should only be inherited by a VCS Bear and then become invokable

currently if we do
[code]
The _CommitBear should not be exposed.

Also note that the file in which `CommitBear` is defined is not exactly `_CommitBear`, due to which a

[2018-05-24 09:15] rishiip opened #5477 "Scroll in About page"
![coala-about](https://user-images.githubusercontent.com/7964257/40475964-7cb94e72-5f60-11e8-8040-f3155740aaec.png)

#### We can put scroll or decrease padding as mentioned in attached snapshot.
#### I am assuming that website https://coala.io/#/about code maintained from here only. If not, please transfer issue to associated repo.

[2018-05-24 12:59] jayvdb opened #5478 "Support nolint"
`nolint` is very similar to `noqa`, with lots of linters already in coala -bears using `nolint` as a defacto standard, including:

- Cpplint
- gometalinter
- lintr

It is also used in uppercase `NOLINT`, and sometimes also `NOLINT(...)`.

[2018-05-24 13:02] jayvdb commented on #5478
A linter not in -bears which uses it is clang-tidy https://github.com/coala/coala-bears/issues/2502

[2018-05-24 13:03] jayvdb commented on #5478
And https://pypi.org/project/polysquare-cmake-linter/

[2018-05-24 14:39] jayvdb opened #5479 "coala scans .bak files which it creates"
This is a bit odd

[code]

https://github.com/coala/community/pull/106#issuecomment-383366137

The [Travis build](https://github.com/coala/community/blob/master/.travis.yml) script doesnt do anything unusual, such as caching the previous coala run data, yet somehow coala is finding and linting a `.coafile.bak` and running into trouble with it.

[2018-05-24 15:28] Makman2 opened #5480 "ShowPatchAction: Make patches better readable"
Currently no context lines are displayed, which makes it very hard to grasp simple code relocations. E.g. coala proposed following patch (I added unified-diff-like markers because coala just colors added and deleted lines, it doesn't show `+` and `-`):
[code]
I just relocated the `xray`, but it's really hard to see that (look at the line numbers). Esp. you have a problem to check where it is exact

[2018-05-25 08:41] Makman2 commented on #5479
When is `.coafile.bak` created? During the same run or in a previous one?

[2018-05-25 13:54] yukiisbored opened #5481 "Fail when a File isn't found or when a bear declared doesn't exist"
I think coala should fail when a file isn't found or when a blob results in no files and when bear declared doesn't actually exist.

By making it into a warning, It could accidentally mistaken to be a "success" when it should actually fail. There's no good reason why it shouldn't fail, if there is when can easily solve this by adding an option in the section like `allow_invalid_blobs` and `allow_i

[2018-05-25 18:15] sangamcse commented on #3676
@jayvdb, what is `contest.py`?

Also, @NiklasMM and I are planning to use pytest for base test helper and inherit it in Global bear test helper. After that inherit it in local bear test helper.

[2018-05-26 11:31] Makman2 commented on #3864
Since it's quite some time till end of GSoC, leaving it open for now :+1:

[2018-05-27 06:48] jayvdb commented on #3785
Yup, confirmed this is a problem.

[2018-05-27 06:48] jayvdb commented on #3785
Solution is https://gitlab.com/coala/mobans/issues/8

[2018-05-27 11:16] #5383 closed

[2018-05-28 06:31] NiklasMM commented on #3676
conftest.py is the name of a configuration file for pytest. See [documentation](https://docs.pytest.org/en/latest/fixture.html#conftest-py-sharing-fixture-functions). It's mostly used to define fixtures which are used throughout the project.

[2018-05-28 22:40] sanshay commented on #4927
i would like to work on this issue
could you please assign me the same
@mridubhatnagar @Makman2

[2018-05-29 04:10] ananyaarun commented on #5463
@jayvdb can i work on this issue. I have made the required changes can i create a PR ?

[2018-05-29 04:36] jayvdb commented on #5463
Sure, sent you an invite

[2018-05-29 05:35] ananyaarun commented on #5463
@jayvdb i changed aliases = 'ts' to aliases = ('ts',) to make it a tuple. But i am facing some errors when i make a PR. Can u please guide me ?

[2018-05-30 05:16] jsecrest commented on #3938
Has an issue been created for fixing the [Bear Installation Tool](https://api.coala.io/en/latest/Developers/Bear_Installation_Tool.html) documentation? I lost several hours trying to get CIB to work and had to do some digging to find this issue. The bear installation tool is the top result on google when I search "coala install bears," so I can imagine that I'm not the first or last newcomer that

[2018-05-30 08:53] anctartica commented on #3938
yes cib is currently not working.. requires some modification but it will at least functional very soon

[2018-05-30 13:14] Jitender46559 commented on #5477
What i want to do in this issue

[2018-05-31 11:51] Makman2 commented on #4352
Unassigning due to inactivity.

[2018-05-31 12:49] Makman2 commented on #5477
Migrated to https://github.com/coala/landing-frontend/issues/279 :)

[2018-05-31 12:49] #5477 closed

[2018-05-31 18:40] amit81saxena opened #5489 "Exception while using variable as value for message_arguments dictionary items"
### Overview Description : When passing a variable name as a dictionary item value in message_arguments for new_result() API, it  raises an exception TypeError: unorderable types: dict() < dict().

class Rule8:
    CLASS_NAME_LOWER_CASE = {
        'message': "Class-name starts with an lower case '{name}'",
        'additional_info': "Class-name should NOT start with lower case",
        'severity

[2018-06-01 04:51] cRAN-cg opened #5490 "Update TypeScript keywords"
Add [abstract](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Classes.md#abstract-classes), [never](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Basic%20Types.md#never) and [object](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Basic%20Types.md#object)

[2018-06-01 04:53] cRAN-cg commented on #5490
@RJ722 update the labels please, can be a great new-commers issue

[2018-06-02 14:47] Makman2 commented on #5490
The file to modify is `coalib/bearlib/languages/definitions/TypeScript.py`

[2018-06-02 18:21] giannisal commented on #5202
Hello there,
This issue seems to have not been worked on.
 I just checked out the code referred and I'd like to be assigned to

[2018-06-03 09:28] nikitavbv commented on #5321
I am interested in working on this issue. Could you assign it to me please?

[2018-06-04 13:02] jayvdb commented on #5321
Done. Im actually 90% confident the current code is busted.

Also setup.py has 'moved' to gitlab coala/mobans. Create an issue there if you find it has a bug.

[2018-06-04 15:56] wisn commented on #3416
@jayvdb @maweki Could we define some small tasks for GCI student? Well, even "small" it will still considered as "hard" tho

[2018-06-04 22:05] bekicot commented on #5449
@jayvdb https://gitlab.com/coala/mobans/issues/8 is done.
But the `setup.py` is not updated yet, is there any issue for that yet?

I want to finish https://github.com/coala/coala/pull/5470 this and seems like it will still be blocked as long as the `setup.py` is not updated to reflect `moban` changes.

[2018-06-04 23:13] jayvdb commented on #5449
correct. waiting for https://gitlab.com/coala/mobans/merge_requests/22 , and then will sync everything

[2018-06-05 09:00] RaiVaibhav opened #5495 "`sections` throws ValueError"
[code]
With the above config it working fine and I can access [sections] (https://github.com/coala/coala/blob/master/coalib/coala_main.py#L139)
during debugging.

But when I try something like this
[code]

**The inherited ignore didn't work, also  [sections] (https://github.com/coala/coala/blob/master/coalib/coala_main.py#L139)  throws ValueError**
And that is coming from [here](https://github.com

[2018-06-05 09:01] RaiVaibhav commented on #5495
[code]

[2018-06-05 09:03] RaiVaibhav commented on #5495
Same issue reported https://github.com/coala/coala-bears/issues/2522

[2018-06-05 14:36] Makman2 commented on #5495
Could you post the traceback?

[2018-06-05 14:37] Makman2 commented on #5495
And where is the connection to the referenced issue? (:point_up: https://github.com/coala/coala/issues/5495#issuecomment-394636339 )

[2018-06-05 21:40] nikitavbv commented on #5321
You are right. Man pages are not installed properly. I created an issue for that: https://gitlab.com/coala/mobans/issues/33

[2018-06-06 01:09] jayvdb commented on #5321
Remove the moban sync stuff in `.travis.yml` to work on building a tested solution in this repo, which we can then migrate to the mobans repo.

I have a pending patch which removes the sync stuff, and will let you know when that is merged.

[2018-06-06 05:26] JameerBabu commented on #5495
I would like to work on this issue. Can anyone assign me ?? Please

[2018-06-06 18:07] jayvdb opened #5497 "coafile += bug"
https://github.com/coala/community/commit/e47a9d578917474e8aab44c0fbeb946b6986aa1c

[code]

This caused the values inherited from `all` to be discarded.

[2018-06-06 18:22] jayvdb commented on #5495
@JameerBabu , this hasnt been labeled for difficulty yet, as it is still being investigated.

[2018-06-06 19:10] jayvdb commented on #5497
[code]

also causes the same problem

[2018-06-06 19:17] RaiVaibhav commented on #5495
@Makman2  What I get till now is when I try to access the
[`all.generalization`](https://github.com/coala/community/blob/master/.coafile#L51)  sectio of commnity repo
It responded with value error.

[2018-06-06 19:17] jayvdb commented on #5497
I needed to put them all on the same line for the problem to go away

[2018-06-07 07:47] li-boxuan opened #5499 "Make `--files` optional (useful when only GitCommitBear is used)"
If I only want to run `GitCommitBear`, why bother adding `files` which GitCommitBear doesn't use at all?

Currently, running `coala --bears GitCommitBear` returns

[code]

[2018-06-07 08:06] nikitavbv commented on #5321
Actually, I was wrong with some of my assumptions of how setup.py works here. Man pages are installed correctly. I closed the Gitlab issue.
Now I will add testing of man pages to the Travis build.

[2018-06-07 14:06] sangamcse opened #5501 "Modify `LocalBearTestHelper` according to the base class"
blocked till https://github.com/coala/coala/pull/5496 gets merged.

status/blocked

[2018-06-07 16:45] JonathanVillordo commented on #5131
can I work on this?

[2018-06-07 18:35] RJ722 commented on #5490
Sure @JonathanVillordo!

Just make sure to ask on https://gitter.im/coala/coala and a maintainer would assign you soon. Also if you hadn't already done so, you need to type in "Hello World" in the same channel to get an invite to the coala org.

[2018-06-07 18:44] JonathanVillordo commented on #5490
Yes, I did but I never get the invitation.

[2018-06-07 18:51] JonathanVillordo commented on #5490
Yes, I did but I never get the invitation. let me ask in gitter Thanks

[2018-06-07 19:39] JonathanVillordo commented on #5490
assign me this please.

[2018-06-08 11:47] djmgit commented on #5499
@jayvdb I would like to take this up.
So should we go with a default value for files param?

[2018-06-09 13:39] #5439 closed

[2018-06-09 14:41] #5490 closed

[2018-06-09 23:22] jayvdb opened #5508 "Undeclared coalib dependency on pytest-timeout"
`coalib` currently depends on `pytest-timeout`, which isnt listed as a dependency in `requirements.txt`
[code]

This was done in 328bce6f2, and released in 0.9.0.

It originally came from https://github.com/coala/coala-bears/commit/9d02f809

We would not want to add pytest-timeout or even pytest in the dependencies of `coalib`, as that makes any enviroment with coala dicate the test environment ve

[2018-06-10 00:13] jayvdb opened #5509 "Incorrect syntax in HelloWorldBear"
Incorrect syntax

`logging.debug("Hello World! Checking file", filename, ".")`

http://api.coala.io/en/latest/Developers/Writing_Native_Bears.html#a-hello-world-bear

[2018-06-10 00:37] CCInCharge opened #5510 "Typo in parse_cli"
docstring and function signature for parse_cli method uses variable name `comment_seperators`, should be `comment_separators` to fix spelling and to align with function signature of Setting class definition.

Probably a good newcomer issue.

[2018-06-10 01:57] jayvdb commented on #5510
[code]

Old name needs to be deprecated, so this is a bit more complicated than a newcomer issue.

[2018-06-10 07:06] RaiVaibhav commented on #5509
Also the code snippet of HelloWorldBear is not following the PEP8 guideline (hint: run PycodestyleBear :p )

[2018-06-10 17:25] li-boxuan opened #5512 "Review.rst: Rename `Github` to `GitHub`"
See https://github.com/coala/coala/blob/master/docs/Developers/Review.rst#manual-review-process

`Github` -> `GitHub`

[2018-06-10 19:18] #3676 closed

[2018-06-11 04:08] li-boxuan opened #5513 "Add meta-review documentation"
Documentation regarding 'what is meta-review & how the ranking list is generated' is needed.

This is part of GSoC'18 meta-review project.

Please kindly assign this issue to me ;)

[2018-06-12 09:38] jayvdb commented on #5476
It is critical to note that `_CommitBear` is not a dependency bear -- it is abstract ... it exists only to hold common methods, and the abstract methods must be implemented for the bear to be .. not abstract.

[2018-06-12 09:50] jayvdb commented on #5481
That is sort of like what is being discussed at https://github.com/coala/coala/issues/3987

[2018-06-12 15:47] jayvdb commented on #5479
And I've confirmed there are no .bak files prior to `coala-ci` being run
https://travis-ci.org/jayvdb/community/jobs/391308269#L868

[2018-06-12 18:34] Makman2 commented on #5476
What I have problems with is that a `_` preceding a name is already common convention and means usually that it's "private", so nobody outside that python file shall access it (there are only very rare exceptions, like `namedtuple` functions).

Can we somehow mark bears differently if they are abstract or a dependency and only intended for programming-use?
For example setting a field like we alrea

[2018-06-13 04:40] pareksha opened #5515 "Create taste `min_file_length`"
Create a taste `min_file_length` (under `FileLength` aspect) corresponding to `LineCountBear` setting `min_lines_per_file` https://github.com/coala/coala-bears/blob/master/bears/general/LineCountBear.py#L21.

It can be of the same format as the taste `max_file_length` as per the cEP https://github.com/coala/cEPs/blob/master/cEP-0010.md.

[2018-06-13 04:50] SubbulakshmiRS commented on #5509
Can i be assigned this issue ?

[2018-06-13 06:38] SubbulakshmiRS commented on #5509
I just need to change it to
logging.debug("Hello World! Checking file"+ str(filename)+ ".")
Right ?

[2018-06-13 06:59] jayvdb commented on #5509
Yup.

[2018-06-13 08:44] pareksha opened #5516 "Change `preferred_quotation` taste's default to `"`"
`preferred_quotation` taste of the `Quotation` aspect should default to `"` instead of `'`.

There are mainly two reasons for this.

Firstly, plenty of languages support either `"` or both `"` and `'`. It is worth noting that during the implementation of the bear, for languages like cpp, if `preferred_quotes = '`, then also, it makes sense to apply the default value (which would be `"` now) rather

[2018-06-13 09:27] jayvdb commented on #5516
The fact that the bear uses a different default is not related to this.
aspects can override the bear defaults, and that is a good thing as it allows us to design the aspects correctly irrespective of whatever the bear defaults are.
The bear default settings can not be changed after they have been released -- that would break users configs.

Therefore it is useful for aspects to have different def

[2018-06-13 09:38] pareksha opened #5517 "Create a mapping function when data-types differ in bear settings and it's corresponding aspect"
There is a need for a mapping function to map bear settings to aspect tastes in cases when data types or just values differ.

e.g. `use_spaces` is a bear setting which takes in bool as an argument whereas it's corresponding taste `indent_type` takes in `space` or `tab` i.e. a string as an argument. The setting is used in approx. 15 bears, so it is worth implementing rather than handling it in all

[2018-06-13 10:01] pareksha opened #5518 "Doctests interfering with the Root aspect"
`Formatting` aspect in the doctest (https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/root.py#L18) overrides the actual `Formatting` aspect (https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/Formatting.py#L5).

The problem was found here https://gitter.im/coala/coala?at=5b14d874e26c847ac8b5855d when `Root.Spacing.Indentation` was returning `AspectNotFound` error whe

[2018-06-13 10:09] pareksha opened #5519 "Rename the `Formatting` aspect of the doctest"
The `Formatting` aspect needs to be renamed to some crazy name as a workaround till https://github.com/coala/coala/issues/5518 is resolved.

[2018-06-13 10:27] pareksha opened #5520 "Add more description to `preferred_quotation` taste"
`preferred_quotation` taste needs more description for making it in accordance with the new design of `Quotation` aspect, being discussed here https://github.com/coala/cEPs/pull/148

[2018-06-13 12:31] utkarsh2102 commented on #5510
Hi @CCInCharge @jayvdb,
I'd like to take up the task.
If inferred correctly, I'll have to change the function name and then another 5 statements where this function is being called. Right?

[2018-06-13 12:57] jayvdb commented on #5510
@utkarsh2102, and you need to re-add the old name back, as a deprecated argument.
search closes PRs for examples of arg deprecation.
If you can find how it should be done, then you can be assigned.

[2018-06-13 13:00] utkarsh2102 commented on #5510
Okay, will look through the same and would ping once I'm ready.

[2018-06-13 14:03] SubbulakshmiRS commented on #5509
Just checking
I couldn't find HelloWorldBear.py in the coala folder.I could only find it in the coala-tutorial folder .Also the content in that file is different from that shown in the above link .
`logging.debug("Hello World! Checking file {}.".format(filename))`.
 So which file should I change ?

[2018-06-13 16:18] SubbulakshmiRS commented on #5509
according to the link above , the file is in coala-tutorial/bears/HelloWorldBear.py and not in the coala folder.
Also that file has now been changed to
![1](https://user-images.githubusercontent.com/32260751/41364035-0a37e25c-6f53-11e8-8165-3518287bd4fe.png)
is this the file that needs to be changed ?

[2018-06-13 16:27] SubbulakshmiRS commented on #5509
Or am i supposed to change in ./docs/Developers/Writing_Native_Bears.rst where documentation about HelloWorldBear is present with the line of code
`logging.debug("Hello World! Checking file", filename, ".")`

[2018-06-13 16:30] SubbulakshmiRS commented on #5509
so I have to make changes in the .rst file right ?

[2018-06-13 16:31] RaiVaibhav commented on #5509
Yes, compare the live doc with the file

[2018-06-14 05:31] SubbulakshmiRS commented on #5509
thx for the help

[2018-06-14 06:02] sangamcse opened #5525 "Builds are failing due to pytest's plugins"
Traceback report says `timeout` plugin could not be loaded, which is causing builds failure.
[code]
Here is the full Traceback report: https://pastebin.com/ChVhArnj

[2018-06-14 06:12] NiklasMM commented on #5525
From a failing [build's log](https://circleci.com/gh/coala/coala/17699?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):

A possible fix would be to pin `pytest-timeout` to the most recent working version.

[2018-06-14 06:16] NiklasMM commented on #5525
Or better yet: find out why pytest is pinned and see if we can remove the pin.

[2018-06-14 06:18] sangamcse commented on #5525
Agree with @NiklasMM. It is because of the recent release of the plugin.https://pypi.org/project/pytest-timeout/

[2018-06-14 06:20] jayvdb commented on #5525
Latest version of pytest doesnt work with all the plugins, especially not the plugins  created

[2018-06-14 07:57] #5525 closed

[2018-06-14 11:30] SubbulakshmiRS commented on #5509
![errors1](https://user-images.githubusercontent.com/32260751/41409537-3702942a-6ff4-11e8-9e12-5af94661077e.png)
These have been the errors on my PR .Can you pls tell me what caused these errors?Or what generally is the reason ?

[2018-06-14 15:23] #5520 closed

[2018-06-15 05:17] EverWinter23 opened #5529 "'nltk_data' cache directory should be hidden"
It's so annoying, it downloads stuff directly to your home directory,  I have to delete it every time. When I run coala, the cycle goes on and on. It so annoying.

[2018-06-15 05:17] EverWinter23 commented on #5529
Working on a PR.

[2018-06-15 06:03] SubbulakshmiRS commented on #5442
the comment has to be changed to
`
"""
 Get the data stored in ``identifier`` ,if  present in the user
 config directory. Example usage:
...
""'
`

[2018-06-15 06:03] SubbulakshmiRS commented on #5442
right ?

[2018-06-15 18:28] jayvdb commented on #5529
This isnt our code doing it.

See https://www.nltk.org/data.html for how to install it in a different location, especially about environment variable `NLTK_DATA`.

We definitely could add documentation about this in our guides, if you wanted to.

[2018-06-15 18:43] #5404 closed

[2018-06-15 18:44] EverWinter23 commented on #5529
@jayvdb I would like that, because I find it so annoying. There I am at my home directory with my files and there's this directory which obviously should be hidden.

[2018-06-16 04:11] jayvdb opened #5531 "Long file list and BlockingIOError: [Errno 11] write could not complete without blocking"
[code]

https://travis-ci.org/jayvdb/gh-board/jobs/392980783#L2512

[2018-06-16 04:13] jayvdb opened #5532 "Multiple += in single settings section"
The following should work

[code]

[2018-06-16 06:52] sangamcse opened #5533 "Improve AssertionError message of `assert_result_equal(..)`"
After changing to `pytest`, the AssertionError message is changed to custom message see --> https://github.com/coala/coala/blob/master/coalib/testing/BaseTestHelper.py#L22 .

Previous AssertionError message is better --> https://github.com/coala/coala/blob/master/tests/testing/LocalBearTestHelperTest.py#L81

https://github.com/coala/coala/pull/5505#discussion_r195896051

[2018-06-16 06:52] sangamcse commented on #5533
cc @jayvdb

[2018-06-16 07:18] jayvdb commented on #5533
Also the equality comparison should be done in the relevant class.
https://gitlab.com/coala/coala-utils/issues/60

[2018-06-16 08:08] jschwarzwalder commented on #5519
If the workaround is in place, then this can be closed.

[2018-06-16 08:08] jschwarzwalder commented on #5519
@gitmate-bot ack

[2018-06-16 08:18] jschwarzwalder commented on #5519
As for renaming, both make sense in their context. You could try adding a qualifying like `style_format`, `syntax_formatting` or `Aspect_formatting,` but I am not sure this solves the intended goal.

I am assuming we cannot change it in the doctest? Ideally, it would be nice to change it there to something along the lines of test_formatting.

[2018-06-16 16:01] #3530 closed

[2018-06-16 17:59] #4999 closed

[2018-06-16 21:46] Makman2 commented on #5131
Hm seems there is recent traction on the PR again. Sorry, assigning the original PR author again.

[2018-06-17 00:10] jayvdb commented on #5423
Netlify is now operational on this repo!

[2018-06-17 00:18] jayvdb commented on #5316
An issue closer to our needs: https://github.com/rtfd/readthedocs-sphinx-ext/issues/28

and it looks like @flying-sheep has a hack at https://gist.github.com/flying-sheep/b65875c0ce965fbdd1d9e5d0b9851ef1 which we should investigate.

[2018-06-17 03:43] jayvdb opened #5534 "Add module docstrings to aspects"
As part of https://github.com/coala/coala/issues/5359 , aspects needs module docstrings which explain the purpose of each module.

They should conform with pep257, and be tested with pydocstyle.

[2018-06-17 03:45] jayvdb opened #5535 "Add module docstrings to languages component"
As part of https://github.com/coala/coala/issues/5359 , languages component (`coalib/bearlib/languages/`) needs module docstrings which explain the purpose of each module.

They should conform with pep257, and be tested with pydocstyle.

[2018-06-17 03:47] jayvdb opened #5536 "Add module docstrings to settings component"
As part of https://github.com/coala/coala/issues/5359 , languages component (`coalib/settings/`) needs module docstrings which explain the purpose of each module.

They should conform with pep257, and be tested with pydocstyle.

[2018-06-17 03:48] jayvdb opened #5537 "Add module docstrings to core nextgen components"
As part of https://github.com/coala/coala/issues/5359 , nextgen core component (`coalib/core/`) needs module docstrings which explain the purpose of each module.

They should conform with pep257, and be tested with pydocstyle.

[2018-06-17 03:48] jayvdb commented on #5359
Created and assigned four issues for various components.

[2018-06-17 05:32] palash25 commented on #5537
@jayvdb the Nextgen core modules reside in `coalib/core` but you have mentioned `coalib/settings` in the issue description, just so that we are on the same page, this issue is about `coalib/core` right?

[2018-06-17 06:12] SubbulakshmiRS commented on #5129
Regarding "#ignore all"
I have been trying to understand the code but am stuck with this term SourceRange , a class defined in coalib/results/SourceRange.py and also used in files used for reading these ignores .Does anyone understand it ?It would be of great help if you could explain it.
@Makman2 @pareksha

[2018-06-17 06:31] jayvdb commented on #5537
(copy paste error; fixed; thx)

[2018-06-17 06:31] jayvdb commented on #5359
a module docstring is in addition to the other docstrings. It summarises the objective of the module in the first line, and only one line, then has a blank line, and then can contain an overview of the contents of the module.

It shouldnt list all objects in it, as their documentation will appear underneath the module level docstring. Instead it should show how the module is intended to be used.

[2018-06-17 06:37] jayvdb commented on #5479
Ah, but a .bak is created before the coala-ci run, only for PRs.
see https://github.com/coala/community/pull/106#issuecomment-397858154

And I guess this is exposing some other bug, as it is only appearing in that PR and not others.  `.coafile` is being modified, and maybe that is why it is finding `.coafile.bak`.

[2018-06-17 06:43] jayvdb commented on #5359
In most cases, it is best to start this process by only adding the first line, but with the intention of adding more later, so that syntax should be:

[code]

Then more can be added later.

[2018-06-17 08:15] jayvdb commented on #5321
As noted on the PR, this isnt really solved yet.

[2018-06-17 11:58] MacBox7 opened #5539 "pytest failing on all CI"
The error is =>
[code]

Probably some dependency made usage of higher `pytest` version mandatory. The change needs to be made in coala-mobans. So that it can be resolved in all repos.

[2018-06-17 12:39] jayvdb commented on #5539
Also very related is the next part of the log

[code]

As it is timeout plugin, it is related to https://github.com/coala/coala/issues/5525

[2018-06-17 12:42] jayvdb commented on #5539
It is the same problem ... https://github.com/coala/coala/commits/0257f4ac3a44ce988975c9cd0fb81c0743c989c3 hasnt been rebased in 28 days :P

[2018-06-17 13:31] jayvdb commented on #5129
We have three pending patches in this area, and they need to get merged before it is sensible to have another patch possibly fixing the same type of problem.

[2018-06-17 14:43] MacBox7 commented on #5539
Yes the error is due to pytest-timeout and the reason I am facing the problem is because `mobans` has not been updated with  [this](https://github.com/coala/coala/pull/5526/files) patch. checkout [test-requirements.txt.jj2](https://gitlab.com/coala/mobans/blob/master/templates/test-requirements.txt.jj2).

I strongly feel that the moban check using  should be integrated to CI so that such inconsist

[2018-06-17 15:45] jayvdb commented on #5539
Check your assumptions.  See https://gitlab.com/coala/mobans/merge_requests/32

[2018-06-18 05:11] ChetanKhanna commented on #5223
is this issue done with; else can i be assigned this one?

[2018-06-18 05:46] jayvdb commented on #5539
@macbox7, update?

[2018-06-18 06:54] jayvdb commented on #5359
Will be useful to look for examples of this done well.

https://github.com/PyCQA/pydocstyle/tree/master/src/pydocstyle has good one liners for their modules, but lacks the details.

https://github.com/python/cpython/tree/master/Lib is the canonical example, but their style varies as each component owner can choose if/how implementation of pep257 is done, and very importantly they have sufficient m

[2018-06-18 07:08] MacBox7 commented on #5539
My fault totally. Had 2 instances of test-requirements.txt.jj2. Hence older one was overriding the other. Sorry for the inconvenience.

[2018-06-18 07:08] #5539 closed

[2018-06-18 07:14] har-har-mahadev commented on #3357
Is this still an issue?

And is anyone currently working on it?

[2018-06-18 07:48] jayvdb commented on #3357
All yours @har-har-mahadev

[2018-06-18 09:45] JameerBabu commented on #5510
Hi everyone, I would like to work on this issue. Can anyone assign me ?? @jayvdb

[2018-06-18 12:44] jayvdb commented on #5519
For prior art on silly naming, see TrumpScript in `coalib.bearlib.languages.Language.Language`

[2018-06-18 12:48] jayvdb opened #5541 "doctest polluting tests with TrumpScript alias ts"
Similar to https://github.com/coala/coala/issues/5518 , TrumpScript's alias 'ts' is causing problems with https://github.com/coala/coala/pull/5540

[2018-06-18 12:50] jayvdb commented on #5541
We should also see if this problem is fixed in a more recent version of pytest.  (The incompatible pytest plugins will need to be disabled to test using the latest version of pytest)

[2018-06-18 13:23] ChetanKhanna commented on #5223
corobo assign https://github.com/coala/coala/issues/5223

[2018-06-18 14:04] anctartica commented on #5479
This verifies that there is `.coafile.bak` during the run of `coala` as well.
https://travis-ci.org/anctartica/coala/jobs/393644659

[2018-06-18 14:24] anctartica commented on #5479
This verifies that coala isn't linting the `.coafile.bak` that is created in the main `coala` repo:
https://travis-ci.org/anctartica/coala/jobs/393651709

[2018-06-18 15:44] ChetanKhanna commented on #5223
@Makman2 can I be assigned this issue?
Oh and, sorry to ask something this simple, but where do I ask for issue assignment, here or on the main chat?

[2018-06-19 00:51] jayvdb commented on #5541
This is blocking a newcomer, so fairly important.

[2018-06-19 02:38] jayvdb commented on #5541
Still a problem with current release of  pytest 3.6.1

https://travis-ci.org/jayvdb/coala/jobs/393916581#L647

https://travis-ci.org/jayvdb/coala/jobs/393916581#L849

[2018-06-19 05:10] pareksha commented on #5541
Ah, I see, `Trumpscript` and `TypeScript` have the same alias `'ts,'`, that is why they both are colliding. Even `Language['ts']` in the doctests gives `TypeScript` as output instead of `TrumpScript`.

Changing the alias name of `TrumpSript` will do. But I am looking for a better potential solution.

[2018-06-19 08:20] jayvdb commented on #5541
Probably best to give it a different alias, which isnt likely to ever be a real alias.

Then we need a new issue about duplicated aliases. The error & docs should explain an alias must be unique.

They also cant be modified, because they can only be allocated once. Any removal of an alias is a breakage.

[2018-06-19 08:32] jayvdb opened #5543 "Use newer pytest"
There are a few useful pytest plugins which require a newer version of pytest.

All the existing ones will need to be checked for compatibility

[2018-06-19 08:53] flying-sheep commented on #5316
That one only works for the “Edit on GitHub” link in the top right corner. See it working at e.g. http://anndata.readthedocs.io/en/latest/anndata.read_csv.html#anndata.read_csv

It would be cool if you could figure out how to make it also apply to the popup links!

[2018-06-19 11:01] #5541 closed

[2018-06-19 11:28] jayvdb commented on #5543
There is a failure in the doctest under pytest351, but everything else seems ok.  Possibly a different default setting, which we can fix by making explicit.

https://travis-ci.org/jayvdb/coala/jobs/394003147

[code]

[2018-06-19 11:50] jayvdb commented on #5543
e.g. these two need a more recent version of pytest
https://pypi.org/project/pytest-leaks/
https://pypi.org/project/pytest-picked/

[2018-06-19 12:00] #5463 closed

[2018-06-19 13:08] RaiVaibhav opened #5545 "Add settings inspection toolset in Debgguer interface"
Add the code of Settings inspection toolset so that user can access the settings of a Bear in Debug environment.

[2018-06-19 15:46] harvipan commented on #5512
Is the issue still unassigned?

[2018-06-20 00:04] schafle commented on #3398
If this issue is still unresolved I would like to work on it. If so can someone please assign it to me.

[2018-06-20 00:23] jayvdb commented on #3398
If this is about renaming the property `range`, then no, I agree with Makman2 that this isnt a problem

However we definitely should not replace `range` (or any other builtin) , so these definitely need to be fixed.
[code]
@macbox7, this could be a feature for your pyflakes plugins , or even for pyflakes (but we should check with @myint first).

[2018-06-20 01:12] jayvdb opened #5546 "Newcomer Guide: Join GitLab newcomers group"
The newcomers guide should be updated to recommend that newcomers join

https://gitlab.com/coala/roles/newcomers

[2018-06-20 03:17] jayvdb commented on #5543
pytest 2.2 passes, but 3.3 fails.

This is because 2.2 introduced log capturing, basicly making `pytest-catchlog` part of core.
https://docs.pytest.org/en/latest/logging.html

After quite a bit of frigging around, seems the only solution is disabling the new core plugin `logging`

[2018-06-20 03:47] jayvdb commented on #5543
Note re https://github.com/coala/coala/issues/5525 that pytest 3.5 needs pytest-timeout 1.2 , and pytest needs pytest-timeout 1.3

[2018-06-20 06:54] MacBox7 commented on #3398
Oh. Yes. The __builtins__ plugin. Haven't started yet working on it though.

[2018-06-20 07:52] jayvdb commented on #5546
This shouldnt change the existing instructions.  There are already two mentions of GitLab in the guide , iirc, and my sugestion is this addition should be extra information somewhere near the first mention of GitLab.

[2018-06-20 09:02] Simda93 commented on #5546
Wouldn't be more suitable position somewhere in Step 1 ?
For instance above "Congratulations"

[2018-06-20 11:02] dkopatz commented on #5546
Before Step 2 there is a big note mentioning GitLab. I think the recommendation would there really well.
I would like to add this point if i could get some extra infromation on what this newcomer section on GitLab is about.

[2018-06-20 16:21] soumya-ranjan7 commented on #5423
@jayvdb Can you assign me the issue?

[2018-06-21 00:44] jayvdb commented on #5338
Needs to be done in the moban template.

[2018-06-21 01:41] jayvdb commented on #5223
Assigned

[2018-06-21 04:32] #5517 closed

[2018-06-21 14:01] virresh opened #5549 "Broken syntax for GitBasics.rst"
https://github.com/coala/coala/blame/master/docs/Developers/Git_Basics.rst#L125

The suggestions given are rendered incorrectly [here](https://api.coala.io/en/latest/Developers/Git_Basics.html)

difficulty/newcomer
(Make them appear under bullets, each + demarcating a new suggestion probably)

[2018-06-21 15:48] palash25 opened #5550 "Improve the Review Doc"
Recently I saw this happen https://github.com/coala/coala/pull/5521#issuecomment-399148815

Both the duplicate PRs had reviews from developers even I was about to review it when I found out that both the newcomers didn't ask for assignment on the related issue thread.

Maybe we should add a few points to our review docs http://api.coala.io/en/latest/Developers/Review.html#for-the-reviewers that th

[2018-06-21 15:49] jayvdb commented on #5512
@harvipan, I've sent you an invite.  Please accept and come and https://coala.io/chat with us to be assigned to this issue.

[2018-06-21 16:11] jayvdb commented on #5423
We are in the process of templating these, and the templates currently live in a different repo https://gitlab.com/coala/mobans/ .  It should be done within a week, and then this issue can be completed in that repository.

[2018-06-22 02:20] #3398 closed

[2018-06-22 05:33] jayvdb commented on #5550
Improving process is rarely a newcomer task .. because it gets stuck in incomplete PRs and never gets done ;-)

As for process suggestion, this  is a good addition, but dont be surprised if nobody does it.  Even maintainers often dont look.

We need automation for this, and @Vamshi99 is working on solving this type of problem in @gitmate_io.

[2018-06-22 07:33] pareksha opened #5554 "aspects: Create `allowed_values` and remove `suggested_values`"
`suggested_values` (https://github.com/coala/coala/blob/a9a299998fd1f401b288b3165b3027d028ecb5b3/coalib/bearlib/aspects/taste.py#L66) is not useful as most of the times they include things like `(True, False)` which is but obvious when it's a bool and things like `(12,34,56)` when it's an int.

But yes we have `indent_type` which has `(space, tab)` in `suggested_values` and `(", \')` in `preferred

[2018-06-22 08:09] jayvdb commented on #5554
`allowed_values` is a separate concept, as that should be enforced.  If not enforced, `allowed_values` is also silly.

[2018-06-22 08:15] #5223 closed

[2018-06-22 09:07] pareksha commented on #5554
I totally agree with you @jayvdb.

IMO if the user passes on something other than the available options (e.g. he passes on something like `spaces` in `indent_type`), he must be prompted a warning that `The value for indent_type must be a string and one of (space, tab)`. For rest of the aspects, where data-type explains it all, we can just prompt in stating `The value for blank_lines_after_class mu

[2018-06-22 10:01] RaiVaibhav opened #5555 "Add prof in .gitignore"
Ignore prof files --->`**prof`

[2018-06-22 10:54] RaiVaibhav commented on #5555
This need to be added asap because in every pytest it is  creating a binary file and that should be ignore to prevent the false commit of files.

[2018-06-22 11:27] #5555 closed

[2018-06-22 18:56] stobis opened #5556 "Fix broken links in Development_Setup.rst"
There are two broken links in  [Development Setup Notes](https://api.coala.io/en/latest/Developers/Development_Setup.html):

1. In _venv_ section:

Which should probably point to _Repositories_ section(?)

2. In _Using virtualenv_ section:

Which should point to _Installing from Git_

It looks like issue for newcomers.

[2018-06-22 22:36] starkblaze01 commented on #5556
Please assign this issue to me.

[2018-06-22 22:51] starkblaze01 commented on #5556
Please assign this issue to me.

[2018-06-23 03:59] jayvdb opened #5559 "pyyaml fails on Python 3.7-dev"
Build error

https://travis-ci.org/jayvdb/coala/jobs/395717595

[2018-06-24 04:38] 0110G commented on #5549
I am a newbie in open source and would like to work on this.

[2018-06-24 05:08] 0110G commented on #5556
Is this issue still pending ?

[2018-06-24 06:08] 0110G commented on #5549
Can you please assign this to me.

[2018-06-24 09:58] #5543 closed

[2018-06-24 11:09] ananyaarun commented on #5202
Hi , can i be assigned this if nobody is working on this issue?

[2018-06-24 13:13] Satyabrat35 commented on #5549
Is this issue still open ?
I would like to contribute.

[2018-06-25 08:17] 0110G commented on #5549
@virresh can you please elaborate on the issue

[2018-06-25 09:13] virresh commented on #5549
Hello @Satyabrat35
@0110G  seems active on this issue so I suggest you to take another one :)

@0110G
as explained by Ishan, you need to change how the suggestions on branch naming currently appear on the website
See the note here https://api.coala.io/en/latest/Developers/Git_Basics.html#creating-a-new-branch

It suggests some good branch names, but the names are actually supposed to appear as bul

[2018-06-25 14:42] refeed opened #5565 "coalib.misc.Shell.run_interactive_shell_command() doesn't work when we're using a string as the `command` argument with shell=True"
When I ran `run_shell_command('echo Some text here > testfile2.txt', shell=True)`, I just got `('', 'c: e: command not found\n')`.

`run_shell_command('echo Some text here > testfile2.txt', shell=True)` is should be working because from the `run_interactive_shell_command()`'s docstring:
[code]

[2018-06-25 16:00] refeed commented on #5565
@sils ping, fyi, @gitmate-bot just tagged this as `documentation` here

[2018-06-26 04:44] pareksha opened #5567 "Add `escape_quotes` to language definitions"
`escape_quotes` (like `\"`, `\'` and `""`, `''`) need to be added to the language definition as per the language compatibility and preference. This will be helpful for designing respective tastes for the `QuotesBear` as well as for the usage in the bear itself.

[2018-06-26 07:16] jayvdb opened #5569 "Create language file for m4"
m4 uses paired delimiters for string literals.

m4 files are often found in automate-based projects.

Adding m4 will ensure the coala language property information is not designed to handle only quote delimited strings.

[2018-06-26 07:18] jayvdb opened #5570 "Create basic language file for Tcl"
Tcl uses several ways to define string literals, including paired delimiters.

Adding Tcl will ensure the coala language property information is not designed to handle only quote delimited strings.

[2018-06-26 13:30] jayvdb commented on #5567
"escape quotes" is too limited a scope for this enhancement.
We must support string literal delimiter collision for languages which do not use quotes for string literals.
See issues created about m4 and Tcl

[2018-06-26 13:32] jayvdb opened #5571 "AppVeyor failure: PermissionError: [WinError 5] Access is denied"
https://ci.appveyor.com/project/coala/coala/build/1.0.13331/job/7stk9roj690frdq6

[code]

[2018-06-26 13:32] jayvdb commented on #5571
cc @Makman2

[2018-06-26 14:38] hvp004 commented on #5556
If the issue is still up for grab, can I be assigned to the issue?

[2018-06-26 18:25] #5512 closed, assigned to harvipan

[2018-06-27 13:11] jayvdb opened #5572 "Expand ruby language definition"
The ruby language definition in coala is empty.

coala should have at least a basic language file for ruby.

There are quite a few concepts in Ruby which can not be correctly described using the limited coala language concepts, especially `%` string literals and balanced delimiters.

[2018-06-27 13:44] jayvdb opened #5573 "Balanced string delimiters"
The coala language definitions have a `string_delimiters` which contains pairs of `(start, end)`, and is used for pairs where the first unescaped `end` is the delimiter.

It is worth noting that at the moment, escaping is hard-wired to assume `\` is the escape character.
This is defined inside coala_utils's `position_is_escaped`.  I've raised https://gitlab.com/coala/coala-utils/issues/64 about fi

[2018-06-27 13:45] jayvdb commented on #5570
Note I have created https://github.com/coala/coala/issues/5573 about `{..}`, a very important and not supported concept in Tcl.

[2018-06-27 13:53] jayvdb commented on #5572
Note https://github.com/coala/coala/issues/5573 is about how we might describe `%`

[2018-06-27 13:59] jayvdb opened #5574 "Create 'unsupported' langage definitions for languages which do not use `\` as escape sequence"
https://gitlab.com/coala/coala-utils/issues/64 shows that escape char `\` is hard-wired into many functions and can not be easily removed.

To prevent bugs, we need coalang files for languages which do not use `\` as the escape character, and those files need to clearly indicate that the language is not supported, with a comment explaining why.

[2018-06-28 09:07] bekicot commented on #5572
What is balanced delimiters?

[2018-06-28 11:40] jayvdb opened #5578 "Create Visual Basic language file"
Visual Basic has some interesting language components for strings and quotes.

[2018-06-28 12:51] jayvdb commented on #5571
Probably unrelated, we had a transient error in `test_coala_with_color` on Linux at
https://circleci.com/gh/coala/coala/17936
A rebuild of the job fixed it.

[2018-06-28 12:52] #5556 closed

[2018-06-28 13:18] #5321 closed

[2018-06-28 14:45] jayvdb commented on #5559
This is likely fixed by using the just released PyYAML 4.1.x

[2018-06-28 14:46] jayvdb commented on #5559
The cause is actually moban, as it requires pyyaml.  coala core does not.

But coala-bears does require PyYAML 3.12, so we have a version problem.

[2018-06-28 14:47] jayvdb opened #5579 "AttributeError: 'coroutine' object has no attribute 'add_done_callback' on Python 3.7-dev"
NextGen scheduler is failing on Python 3.7 (dev):

[code]

https://travis-ci.org/jayvdb/coala/jobs/397832084

[2018-06-28 17:43] jayvdb commented on #5559
vint pins the pyyaml version.

https://travis-ci.org/jayvdb/vint/builds/397900637

[2018-06-28 18:35] Makman2 commented on #5579
I would actually tend to call it a bug in Python 3.7

The futures are created by `event_loop.run_in_executor()`. According to [documentation](https://docs.python.org/3.7/library/asyncio-eventloop.html#asyncio.AbstractEventLoop.run_in_executor), it's supposed to return

And `asyncio.Future` definitely provides `add_done_callback` ([link](https://docs.python.org/3.7/library/asyncio-task.html#asyncio

[2018-06-28 18:36] Makman2 commented on #5579
I will investigate the flow of code and objects circulating around, but my current preliminary answer is that Python 3.7 has screwed the event-loop interface.

[2018-06-29 00:57] jayvdb commented on #5559
See https://github.com/Kuniwak/vint/issues/279

[2018-06-29 01:00] hvp004 commented on #5333
Can this issue be assigned to me if no one is working on it? @kriti21

[2018-06-29 04:51] pareksha opened #5580 "Support Tcl `comment_delimiters`"
In Tcl, `#` only works at the beginning of a line of code whereas `;#` is used in the middle of the statement.
Support for this needs to be added to coala.

See https://github.com/coala/coala/pull/5576#discussion_r198795275

[2018-06-29 05:55] #5570 closed

[2018-06-29 06:28] #5569 closed

[2018-06-30 15:44] Makman2 commented on #5579
Can't reproduce, used Python 3.7 on docker from image `python:3.7.0b5-stretch`:
[code]
The `persistent_hash` test failing could be nearly treated as "expected". Pickle data and thus hash representation might change for different Python versions. From usability perspective this is not a problem, but we would have to rethink how to write tests for `persistent_hash`. But since this might be flaky as

[2018-06-30 15:44] #5579 closed

[2018-06-30 22:21] jayvdb opened #5582 "Create language file for PowerShell"
PowerShell should be a reasonably 'normal' language, except it uses a different escape character.

[2018-06-30 22:36] jayvdb commented on #5559
Still a problem
https://travis-ci.org/coala/coala/jobs/398686523

[2018-06-30 23:01] jayvdb commented on #5579
Note testing this may require working around https://github.com/coala/coala/issues/5559

[2018-06-30 23:02] jayvdb commented on #5579
@Makman2 please create issues for any py37 failure. It is a real release

[2018-06-30 23:11] jayvdb commented on #5559
Note pyyaml 4.1 was released and did fix our problems, but had significant other issue and so they removed it from pypi, causing a new slew of issues.

[2018-07-01 21:13] Makman2 opened #5584 "NextGen-Core test fail for persistent_hash on Python 3.7w"
Using Python 3.7 on docker from image `python:3.7.0b5-stretch`:
[code]
The `persistent_hash` test failing could be nearly treated as "expected". Pickle data and thus hash representation might change for different Python versions. From usability perspective this is not a problem, but we would have to rethink how to write tests for `persistent_hash`. But since this might be flaky as well as this iss

[2018-07-01 21:13] Makman2 commented on #5579
Filed at https://github.com/coala/coala/issues/5584

[2018-07-02 08:00] jayvdb opened #5587 "XML literals"
Visual Basic (and probably other .Net-ish languages) have XML literals.

https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/xml/xml-literals-overview

We *might* consider them to be a string with nested delimiters (https://github.com/coala/coala/issues/5573) , but they are more than that.

We at the very least need to delineate text within XML elements (CDATA)

[2018-07-02 08:17] #5582 closed

[2018-07-02 18:17] #5546 closed

[2018-07-03 08:51] ananyaarun commented on #5109
Hi, can this be assigned to me if no one is working on it ?

[2018-07-03 10:30] anctartica opened #5589 "Appveyor sync moban"
Disable py36 build on coala

[2018-07-03 12:26] pareksha opened #5591 "Allow more than one `comment_delimiter`"
Languages like Visual Basic have more than one `comment_delimiter`. coalib needs to support this functionality so that these languages can be added to coalang.

[2018-07-03 17:43] jayvdb opened #5592 "Replace coala-header.png with SVG and CSS"
https://github.com/coala/coala/blob/master/docs/_static/images/coala-header.png has been replaced with HTML + CSS in https://github.com/coala/artwork/issues/37 .

This can be used to remove the png in this repo.

[2018-07-04 03:29] he1l0world opened #5593 "The setup.py is not in the docs direcotry"
When I try to install the coala by the "Development Setup Notes" I found the "setup.py" is not in the docs directory.
"setup.py" is in the coala direcotry.

<img width="715" alt="coala" src="https://user-images.githubusercontent.com/27997963/42255186-63a6a81c-7eff-11e8-99fb-d7b35582271d.png">

[2018-07-04 05:42] refeed opened #5594 "LocalBearTestHelper.assertComparableObjectsEqual doesn't give any helpful details when the attribute variable is a dict containing a class"
When I was trying to solve https://github.com/coala/coala-bears/issues/2571 , I made a mistake in `Result.from_values()`'s `diffs` argument which is a `dict` with `{filename: Diff()}` structure. Precisely I just made a mistake when creating the `Diff` instance that I need to put in the `diffs` argument. But when I ran the test, I got an error result like this:

[2018-07-04 09:39] shreyateeza commented on #4110
@jayvdb  Please unassign me from this issue. I am no longer working on this. :sweat_smile:

[2018-07-04 09:40] shreyateeza commented on #2075
@AbdealiJK Please unassign me from this issue. I am no longer working on this. :)

[2018-07-04 11:41] sarthakchakerverty commented on #5549
@jayvdb
I want this issue to be assigned to me. Thanks!

[2018-07-05 03:57] jayvdb commented on #5594
There is a related PR which might help.
https://github.com/coala/coala/pull/5564

[2018-07-05 04:01] jayvdb commented on #5593
This is a duplicate of https://github.com/coala/coala/issues/5449

[2018-07-05 04:01] #5593 closed

[2018-07-05 04:03] jayvdb commented on #5449
This section of the docs should talk about both documentation and coala repos , and explain most coala repos now have generatef sphinx docs.

[2018-07-05 13:01] li-boxuan opened #5600 "Add linter option to remove an error message if line/column number is 0"
For example, CheckStyle may report an error as follows:

`CheckstyleBad.java:0: Missing package-info.java file`

Line number 0 means it is unrelated to any particular line, but the whole file. When coala detects 0 line/column number, it should not generate an error message. Instead, drop that error and emit a warning (after stripping that number).

ref. https://gitter.im/coala/coala-bears?at=5b3cf

[2018-07-05 13:33] li-boxuan commented on #5600
Or maybe this shouldn't be an option, but mandatory? We don't allow coala to report 0 line/column number.

[2018-07-05 14:07] li-boxuan commented on #5600
Maybe instead of removing that message, we should change 0 to None?

See https://github.com/coala/coala/blob/4cb1a6c5bb85bc42a315d118a2f66123465ab4ed/coalib/bearlib/abstractions/Linter.py#L505

[2018-07-05 14:09] li-boxuan commented on #5600
Another question is, should that be an option or default behavior?

[2018-07-05 14:29] jayvdb commented on #5600
Just remove the erroneous line number.
I think it needs to be an override option only for checkstyle bear.

[2018-07-05 14:33] li-boxuan commented on #5600
As https://github.com/coala/coala-bears/issues/2393#issuecomment-377719050 suggests, `None` means whole file in coala context. CheckStyle uses 0 to represent whole file. That's why I think we should change 0 to None instead of removing the erroneous line number.

[2018-07-05 15:23] ss-remygreinhofer commented on #5157
Any update on this release? The last one is more than a year old.

[2018-07-05 18:18] Mohit17067 commented on #5415
I would like to work on this. Please assign me.

[2018-07-05 22:46] jayvdb commented on #5571
https://ci.appveyor.com/project/coala/coala/build/1.0.13410/job/9gudc68m9b31jmvh
[code]

[2018-07-06 07:14] RaiVaibhav opened #5602 "Test failed on python3.7 job on Travis CI"
[PersistentHashTest.py](https://travis-ci.org/RaiVaibhav/coala/jobs/400727937#L790)  and [JSONEncoderTest.py](https://travis-ci.org/RaiVaibhav/coala/jobs/400727937#L820) these two test are failing on python3.7 job.

`JSONEncoderTest.py` because `re._pattern_type` changed to `re.Pattern`

[2018-07-06 14:45] jayvdb commented on #5600
Those are the same thing.  Changing 0 to None is removing the erroneous line number.

Apologies for the misunderstanding.  We do want the `Result` emitted, but without it being pinned to a line.

[2018-07-06 15:00] #5591 closed

[2018-07-07 00:18] #5600 closed

[2018-07-07 02:45] Abhinav2807 commented on #3357
Even i would like to work on the same.

[2018-07-07 04:41] jayvdb opened #5603 "Add alias Node to language JavaScript"
'node' is a common alias for JavaScript.

[2018-07-07 08:08] shikharvaish28 opened #5604 "docs: Replace the Basic rST link with a working link"
Steps to reproduce:

1. Head to https://api.coala.io/en/latest/Developers/Useful_Links.html.
2. Click on the ```Basic rST``` in ```rST-Links```

The page would show a ```permission denied``` error.
Replace the link with a proper working link.

[2018-07-07 11:16] sangamcse commented on #5594
`assertComparableObjectsEqual` method will change to `assert_result_equal` once the BaseTestHelper class is inheritted to LocalBearTestHelper after https://github.com/coala/coala/pull/5505 is merged.

[2018-07-07 15:08] nikitavbv opened #5605 "Newcomers_Guide.rst: display "move on to more difficult issues" message as note block"
On Newcomers Guide page there is a message saying:

As this message starts with "Note:", maybe it would be more logical to have this marked as "Note" block (similar to "Don’t just fix a newcomer issue!" message which is lower on that page).

[2018-07-08 11:12] shikharvaish28 commented on #5604
@m3rc3n4ry Go to our slack channel https://gitter.im/coala/coala and post a message regarding it. One of our maintainers would assign you this. In the mean while start working on it.

[2018-07-08 19:42] Makman2 opened #5613 "FileFactory: Use `cached-property` package instead of manual written `memoize_property` decorator"
A package for exactly that exists, so we should use it. Then we can remove some code on our side.

Acceptance criteria:
- `FileFactory` uses `@cached_property` from the package `cached-property` instead of `@memoized_property` for all annotated fields.
- `FileFactory.__init__` does not initialize `self.cache = {}` any more.
- The file `memoized_property.py` is deleted.

[2018-07-08 20:12] RaiVaibhav commented on #5584
check this out https://travis-ci.org/RaiVaibhav/coala/jobs/400746461

[2018-07-08 20:14] RaiVaibhav commented on #5584
Seems like I missed your issue, created issue https://github.com/coala/coala/issues/5602 close if you want to

[2018-07-09 03:03] jayvdb opened #5614 "Travis docs cache invalidated"
Each master travis job ends with

[code]

This is happening even when the job doesnt modify the source for the docs, like
https://travis-ci.org/coala/coala/builds/401439163

One reason is these are binary files (pickles?), and they include the *full path* of each file, which on travis means that the masters catch entry includes `/home/travis/build/coala/coala/` while the fork contains `/home/travi

[2018-07-09 03:05] jayvdb commented on #4280
This was resolved upstream

[2018-07-09 03:05] #4280 closed

[2018-07-09 03:08] jayvdb commented on #5060
Note sphinx is now 1.7.5
[code]

`get_metadata` is inherited from `Bear, so both of these are problems in `coalib/bears/Bear.py`.

[2018-07-09 03:36] jayvdb commented on #5614
After removing all doctrees, `docs/_build/doctrees/environment.pickle` is shown as modified.

Also lots of changes in `/home/travis/.cache/pip/http`, so this issue alone wont stop the cache from being invalidated by every build of master.

[2018-07-09 04:55] jayvdb commented on #5592
Re-assigning as an SVG is a better approach

[2018-07-09 05:03] jayvdb commented on #5614
Caching only `/home/travis/.cache/wheels/` works well.  The files in `/home/travis/.cache/pip/http` are of unrecognised format.  Need to investigate what pip is using.  Also need to re-test caching immediately after a few build of master, as the pip cache may be invalidated atm due to new released versions of packages since the last build.

[2018-07-09 05:42] jayvdb opened #5615 "coala fails on latest dependency_management"
When changing the dependency to use the latest package management version, like https://github.com/jayvdb/coala/commit/e135727aaea0adab6f93acd2e370895ebedd9ca8 , the build fails on missing `CabalRequirement`.

At least https://gitlab.com/coala/package_manager/issues/177 needs to be fixed.

There could also be other issues.

[2018-07-09 07:34] #5604 closed

[2018-07-09 11:39] #5578 closed

[2018-07-09 23:04] #5613 closed

[2018-07-10 08:57] anctartica opened #5619 "coala fails to ignore file"
The `rstcheck` section of the `.coafile` ignores `docs/Developers/coala_settings.rst`
https://github.com/anctartica/coala/blob/master/.coafile#L123.

However, running `coala --ci` on Appveyor build throws the following warning related to the ignored file:
[code]
https://ci.appveyor.com/project/anctartica/coala/build/1.0.30/job/nl99jijb782fnhj8#L1599

[2018-07-10 14:16] jayvdb opened #5621 "Create doc page about moban"
`moban` is now fairly established in coala repos.

It is time for some docs.

Especially about how to do sync PR whenever it is needed.

[2018-07-11 02:03] jayvdb commented on #5154
https://github.com/coala/coala/issues/5157 was created as a duplicate ;-)

[2018-07-11 02:03] #5154 closed

[2018-07-11 02:35] jayvdb commented on #5157
The branch which was create is now very stale.

There are also lots of problems which have been found since then which would make that branch point quite unfeasible for a quick release as we would need to back port a lot of fixes since then.

I'm not sure if it is better to do that, and have a very stable release, or create a new branch point in the near future (probably after gsoc finishes)?

But

[2018-07-11 10:13] RaiVaibhav opened #5625 "Add self on `run` method of TooManyLinesBear"
https://api.coala.io/en/latest/Developers/Testing_Bears.html#understanding-through-examples

difficulty/newcomer

[2018-07-11 10:39] RaiVaibhav commented on #5625
Also change the position of variable `file` and `filename`

[2018-07-11 11:58] SubbulakshmiRS commented on #5343
Pls assign this issue to me @anctartica @Makman2

[2018-07-11 12:30] MacBox7 opened #5626 "class name docs should use CapWords convention"
Files to be fixed are Redundancy.py, Metadata.py, root.py, Formatting.py, Smell.py, Security.py, Spelling.py.

[2018-07-11 12:33] MacBox7 commented on #5626
Other few pep8 naming violations found in aspects and that can be fixed here probably in separate commits are =>

- coala/coalib/bearlib/aspects/base.py:125:None: class name aspectbase should use CapWords convention
- coala/coalib/bearlib/aspects/root.py:121:None: first argument of a method should be named self
- coala/coalib/bearlib/aspects/__init__.py:33:None: class name aspectsModule should use

[2018-07-11 12:43] jayvdb commented on #5626
The others are different and need much more analysis. Not now. Not in this issue. They are part of the public API, and may even be hard coded into the cEP.

These `docs` are a special case as they are documentation only, and should not have much impact if renamed, and/or deprecation should be easy.

[2018-07-11 14:42] anctartica commented on #5615
Build is passing with latest dependency management version
https://travis-ci.org/anctartica/coala/builds/402666720
The issue can be closed @jayvdb

[2018-07-12 09:52] RaiVaibhav opened #5628 "CI build failure because of httpstat.us SSL certificate error"
https://travis-ci.org/virresh/coala/jobs/402970785#L1642
https://ci.appveyor.com/project/anctartica/coala
https://circleci.com/gh/virresh/coala/6

difficulty/low
importance/high

[2018-07-12 10:38] jayvdb commented on #5628
Yup.  Lets go with https://httpbin.org at the moment as it seems more reliable.

[2018-07-12 14:00] jayvdb commented on #5343
Before this can be done, we need a design for how to describe languages variants/derivatives.

An inheritance system of some sort.

[2018-07-12 21:57] jayvdb commented on #5628
httpstat.us failing again/still : https://travis-ci.org/coala/coala/jobs/403314993

[2018-07-12 22:03] jayvdb commented on #5628
https://github.com/coala/coala/issues/5433 was switching from httpbin to httpstat.us .

We need a more reliable approach :/

[2018-07-12 23:12] jayvdb commented on #5628
I set up `pytest-httpbin`, and the result was. ...

[code]

I change it to https://www.google.com/teapot , which was the original plan behind https://github.com/coala/coala/pull/5435 , and will not surprise anyone that the Google servers did not have an SSL error :P

IMO we use Google Teapot.

[2018-07-13 13:01] sinscary commented on #5625
@RaiVaibhav Can I take this up?

[2018-07-13 17:19] SubbulakshmiRS commented on #5621
@jayvdb  Can i be assigned to this issue ?

[2018-07-13 18:04] shikharvaish28 commented on #5532
@jayvdb Can this be assigned to me?

[2018-07-14 16:01] nikitavbv opened #5631 "Newcomers_Guide.rst: fix link color in "Struggling with this? ..." message"
On Newcomers Guide page there is a block saying:

where "our Google Code In resources" is a link. However, it is underlined with dark color (on dark background) making it unnoticeable for reader. Maybe it would be a good idea to change border color to a lighter one.

I attach the screenshot of this block to make things more clear:
![screenshot from 2018-07-14 18-57-07](https://user-images.githubus

[2018-07-14 18:10] RaiVaibhav commented on #5625
@sinscary you can ask in gitter channel also :)

[2018-07-15 07:38] #5628 closed

[2018-07-16 00:53] jayvdb commented on #5532
@shikharvaish28, can you find the relevant section of code that needs to be improved?

[2018-07-16 08:58] #5626 closed

[2018-07-16 12:24] jayvdb commented on #5390
Another one https://circleci.com/gh/jayvdb/coala/1038

See also https://github.com/coala/coala/issues/5571

[2018-07-16 12:54] #5335 closed

[2018-07-16 16:57] aditya81070 commented on #5631
I would like to work on it.

[2018-07-16 19:05] shikharvaish28 commented on #5532
@jayvdb Last time when I inspected the repository for this bug, I was able to find the lines having ```+``` in the   ```settings``` folder but now, there aren't any files in ```settings``` which can be refactored to the said format.

Tried ```git grep '+'``` for ```settings``` too.

[2018-07-17 00:15] jayvdb commented on #3545
Here is a better example : `pkg_resources` failing during bear loading because it cant parse an environment marker.

https://gitlab.com/jayvdb/coala-utils/-/jobs/82105100

[2018-07-17 03:01] jayvdb commented on #2252
c.f. https://github.com/coala/documentation/issues/344 and https://gitlab.com/coala/coala-utils/issues/71 and https://gitlab.com/coala/mobans/issues/64

[2018-07-17 05:06] JoeSiew commented on #3855
Hi, Can you please assign me to this issue? I would like to work on it

[2018-07-17 06:12] jayvdb commented on #3855
@JoeSiew , you need to accept the invitation to join @coala first.

[2018-07-17 09:02] jayvdb opened #5636 "Python 3.3 unsupported check failing due to pytest 3.6.1 not available for that version"
[code]

See https://travis-ci.org/coala/coala/builds/404413480 for example

[2018-07-18 07:05] pareksha opened #5637 "Make `LocalBearTestHelper` compatible with aspects"
`LocalBearTestHelper` needs to be modified to use aspects as well in order to test aspect functionality in bears.

[2018-07-19 05:13] jayvdb commented on #5390
More
https://travis-ci.org/coala/coala/jobs/403324148

[2018-07-19 05:16] anctartica opened #5640 "Sync moban"
Appveyor should now run `coala --ci`

[2018-07-19 07:11] MacBox7 opened #5642 "CachingUtilities.py: Remove unused local variable"
Difficulty: Newcomer

[2018-07-19 08:02] #5115 closed

[2018-07-19 08:59] #5640 closed

[2018-07-19 11:16] MacBox7 commented on #5642
Pyflakes error report =>
[code]

[2018-07-19 11:18] MacBox7 opened #5643 "ConsoleInteraction.py: Remove unused import"
Pyflakes error report =>
[code]
Difficulty: Newcomer

[2018-07-19 11:20] MacBox7 opened #5644 "Handle pyflakes errors on languages and aspects"
Pyflakes error report =>
[code]

Diffuculty: Low
Needs Discussion
Aspects

[2018-07-20 07:38] jayvdb commented on #4529
Note that https://github.com/coala/coala/pull/4614 is likely the same problem as this issue.  Already fixed.

[2018-07-20 07:41] jayvdb commented on #4529
@palash25 , you wanted this one ? :-)

[2018-07-20 07:53] palash25 commented on #4529
I was thinking of giving this a shot after GSoC.

[2018-07-20 08:17] jayvdb commented on #4529
I'm going to need it for https://github.com/coala/coala/pull/4169 , or https://github.com/coala/coala/pull/4614 needs to get unblocked ( or a decent reason given why it is still blocked ).

[2018-07-20 08:34] jayvdb commented on #2991
@Gregoor, is this still happening for you?
We should have actioned this much sooner.  Apologies.

[2018-07-20 08:49] #4972 closed

[2018-07-20 11:25] jayvdb opened #5646 "Section: Set files to ignore list from another section"
It is quite common to have two sections with opposite sets of files included.

e.g. one section might use line length = 80 and the other section uses 120

At the moment, to do this requires listing the same files twice.

[2018-07-20 13:44] jayvdb commented on #4529
In order to unblock myself, I have an alternative at https://github.com/coala/coala/pull/4169

[2018-07-21 08:57] Ishaan28malik commented on #5364
I want to contribute for this issue
https://github.com/coala/coala/issues/5364

[2018-07-21 09:09] cypher-naman commented on #5642
Hi, MacBox7 I couldn't find such bug in ./misc/CachingUtilities.py please check and verify.

[2018-07-21 09:38] frunkad commented on #4188
I suppose I only need to change `ArgParser` to `ArgumentParser` in doc strings in four files. Can you assign this to me?

Files:

- CliParsing.py
- coala_main.py
- ConfigurationGathering.py
- DefaultArgParser.py

[2018-07-21 11:07] #5364 closed

[2018-07-21 11:08] MacBox7 commented on #5642
Sorry for the confusion. The path was relative to coalib. Maybe that confused you. Here is the [link](https://github.com/coala/coala/blob/master/coalib/misc/CachingUtilities.py) to the file. Check exception.

[2018-07-21 14:39] HemabhKamboj commented on #5642
Hi MacBox7, I have removed the unused variable, pushed the code on my forked GitHub repository but when I tested the project on Travis-Ci, the Sentinel build failed.

[2018-07-21 16:55] nikitavbv commented on #5592
I would like to mention that coala logo currently used at docs welcome page is not responsive, i.e. it is being scaled changing aspect ratio when viewed from mobile devices or when browser window width is small). Attaching screenshot to make things more clear.
Initially, I was going to fill a separate issue for that, but if logo is going to be changed from png to svg + css soon, I think it is bett

[2018-07-21 17:00] sangamcse commented on #5592
Thanks for reminding, @nikitavbv. It will be fixed once https://github.com/coala/artwork/pull/40 gets merged. 😃

[2018-07-21 17:10] starlord1311 commented on #5621
can i take up this issue? @jayvdb

[2018-07-22 03:13] jayvdb commented on #5642
So, you need to read the log to find out why

[2018-07-22 03:13] jayvdb commented on #5642
@palash25 @ksdme , do we want to remove this exception, or log it?

[2018-07-22 05:45] jayvdb opened #5654 "JSON Bear list is not sorted"
If I test the result against a sorted list, it gives different results.

[code]